[2021-01-27 14:13] stefanloerwald commented on #15510
Thanks for letting me know. Seems like you posted while I was still typing...

[2021-01-27 14:16] dasMulli commented on #15510
Seems like a dupe of https://github.com/NuGet/Home/issues/10491

[2021-01-27 14:16] dasMulli commented on #15509
Seems like a dupe of https://github.com/NuGet/Home/issues/10491

[2021-01-27 14:55] aneeff opened #15511 "Nuget error NU3028 and NU3037 From 27/01/2021"
Hi,

We are facing a series of NU3028 and NU3037 when doing docker build..

... docker build: from source 'https://api.nuget.org/v3/index.json': The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain ... docker build: : error NU3037: Package 'Microsoft.Extensions.Configuration.Abstractions 2.1.0' from source 'https://api.n

[2021-01-27 15:11] dasMulli commented on #15511
Duplicate of https://github.com/NuGet/Home/issues/10491

[2021-01-27 15:44] mhlavacek commented on #10178
@maciej-izak Could you please provide an example of what your command line solution looked like to run test projects within a solution sequentially instead of in parallel? I'm running into the situation where running `dotnet test` is causing a bunch of database deadlocks because of parallelism. Thank you in advance!

[2021-01-27 16:04] lonix1 commented on #14656
I found nothing about this setting. Did you maybe discover anything about it?

[2021-01-27 16:10] runehalfdan commented on #10178
I'm not mike, but we have encountered similar problems with parellism.
We have these settings in our .runsettings (passed to dotnet test --settings %runsettingsfile%:
RunConfiguration-section:
<TreatNoTestsAsError>false</TreatNoTestsAsError>
<MaxCpuCount>1</MaxCpuCount>
<InIsolation>true</InIsolation>
<DisableAppDomain>true</DisableAppDomain>
 <EnvironmentVariables>

      <DUMMY>1</DUMMY>
    </E

[2021-01-27 16:33] emmenlau opened #15517 "Unit tests do not show console output on stdout in case of success or crash?"
I've spent the past week trying to get logging working in our unit tests. We use `Microsoft.VisualStudio.TestTools.UnitTesting` to write test classes in .NET Core 3.1, and execute tests on Windows, Linux and MacOS with
[code]

Logging is implemented with Serilog, and the static logger is created with
[code]

Generally, I can see that logging can work, because when a test fails with a non-fatal cra

[2021-01-27 17:17] joeloff commented on #14318
Have you tried running with the ```--prerelease``` switch?

[2021-01-27 17:33] joeloff commented on #13829
According tot he documentation, when using ```-p:PublishProfileFullPath``` you should specify the complete path, including the extension of the profile, e.g. ```-p:PublishProfileFullPath=C:\a\b\c\d\e\FolderProfile.pubxml```. Relative paths do not work and I get an error when I set the property to anything that's not an absolute path

[2021-01-27 17:45] joeloff commented on #12553
What was the commandline you used? For example, if I create a console app, set the ```Copyright``` property and then do something like ```dotnet publish --self-contained -r win7-x64```, the resulting EXE has the copyright set

[2021-01-27 17:57] marcpopMSFT commented on #15505
Note that if we do add additional automatically imported targets, we'll want to double check performance impact.  A quick check indicated that disabling the directory.build.props and directory.build.targets imports could save on the order of milliseconds so probably fine.

[2021-01-27 18:08] joeloff commented on #12134
This looks very similar to https://github.com/aspnet/DotNetTools/issues/464

[2021-01-27 18:57] wli3 commented on #15507
Does it also happen in 5.0.102?

[2021-01-27 19:26] sfoslund commented on #15370
Fixed in 5.0.2xx by #15430

[2021-01-27 19:26] #15370 closed

[2021-01-27 19:28] #15510 closed

[2021-01-27 20:27] MartyIX commented on #13829
Can you show me your error output?

When I execute `dotnet publish -p:PublishProfileFullPath=whatever` command, I don't get any error:

[code]

and no error.

When I execute `dotnet publish -p:PublishProfileFullPath="C:\work\project\App\Core\Properties\PublishProfiles\Core-Win10-x64-Release-FolderProfile.pubxml"` command, the output is the same, even though the file exists.

So no, it does not wor

[2021-01-27 20:35] joeloff commented on #13829
So I created a pubxml in VS, then from the commandline ran ```dotnet publish -p:PublishProfileFullPath=Properties\PublishProfiles\FolderProfile.pubxml```

and then got this output

[code]

Looks like we're on the same VS version. And this ran against 5.0.200 SDK on my machine

[2021-01-27 20:41] MartyIX commented on #13829
Well, I'm not sure what might be wrong. It looks we do the same thing but your output is different. Would you by any chance know where the code for handling of `PublishProfileFullPath` is? (If it is open-source)

[2021-01-27 20:44] joeloff commented on #13829
I believe it lives here: https://github.com/dotnet/sdk/blob/b91b88aec2684e3d2988df8d838d3aa3c6240a35/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.ImportPublishProfile.targets

@vijayrkn any idea why we might see different behavior here?

[2021-01-27 20:48] vijayrkn commented on #13829
Our recommendation has been to use the publishprofile property. You just have to give the name of the profile and this will automatically resolve the extension and the correct path automatically.

`dotnet publish WebApplication.csproj /p:PublishProfile=<FolderProfile>`

[2021-01-27 20:51] MartyIX commented on #13829
It looks like something is very wrong with my C# project:

[code]

[2021-01-27 20:52] MartyIX commented on #13829
Any idea how to get debug information for this which might reveal what happens?

[2021-01-27 20:53] vijayrkn commented on #13829
I don't see any error in your above output. Are you getting any error?

[2021-01-27 20:55] MartyIX commented on #13829
No and that's actually the issue. I should receive an error.

[2021-01-27 20:56] vijayrkn commented on #13829
what is the content of your profile?

[2021-01-27 20:57] MartyIX commented on #13829
Well, my issue is that I execute `dotnet publish .\Core.csproj /p:PublishProfile=NotExistingProfile` and there is no such profile. So what profile do you mean?

[2021-01-27 20:58] MartyIX commented on #13829
My expectation is to get an error but I don't get one. It just silently continues doing something. Not sure what happens really.

[2021-01-27 20:59] joeloff commented on #13829
does it generate a publish folder at all?

[2021-01-27 20:59] vijayrkn commented on #13829
Ah! I see. Now, I understand your concern. We have a default fallback behavior. If the profile that you provided is not valid, we will use an inbuilt profile.

[2021-01-27 21:01] joeloff commented on #13829
But when I run the command using a non-existing profile, I get an error. Shouldn't it be using the built-in profile in my case as well?

[2021-01-27 21:01] MartyIX commented on #13829
Yes, executing `dotnet publish .\Core.csproj /p:PublishProfile=whatever` adds files to `App\Core\bin\Debug\net5.0\publish` folder.

[2021-01-27 21:01] vijayrkn commented on #13829
https://github.com/dotnet/sdk/blob/master/src/WebSdk/Publish/Targets/Microsoft.NET.Sdk.Publish.targets#L47

the fallback is for web.

[2021-01-27 21:03] MartyIX commented on #13829
The fallback is probably great. Maybe, it would be nice to add a warning that a default profile is used? As this is somewhat surprising.

[2021-01-27 21:04] vijayrkn commented on #13829
@joeloff - the fallback may not work for console projects today. @MartyIX - I agree a warning if we are unable to import would be nice.

[2021-01-27 21:06] joeloff commented on #13829
Got it. Ok. I'll add this item to our backlog

[2021-01-27 21:08] MartyIX commented on #13829
@vijayrkn So I have a dependency on Web in my project and that's why the fallback is used? Or how does the fallback work? My project used to have a web project, but it was deleted so something probably remained ...

[2021-01-27 21:23] marcpopMSFT commented on #15470
@sfoslund I believe you only implemented these for NETCOREAPP and NET, correct?  @terrajobst did you want these added for our other frameworks?

[2021-01-27 21:25] marcpopMSFT commented on #15475
Actually, we went ahead and automatically import WindowsDesktop targets when multi-targeting to framework.  This will be available starting in 5.0.2xx-preview 4 in a couple of weeks: https://github.com/dotnet/sdk/pull/15213

[2021-01-27 21:25] #15475 closed

[2021-01-27 21:26] vijayrkn commented on #13829
In your csproj, if the first line contains "Microsoft.NET.SDK.Web", then you are using the websdk that contains the fallback.

[2021-01-27 21:27] marcpopMSFT commented on #15511
Please track in the NuGet issue.

[2021-01-27 21:27] #15511 closed

[2021-01-27 21:28] marcpopMSFT commented on #15509
Closing as the NuGet issue will track this.

[2021-01-27 21:28] #15509 closed

[2021-01-27 22:09] marcpopMSFT commented on #11960
We can take a look at this after we have a workload for WPF in the future.

[2021-01-27 23:48] AraHaan commented on #3803
@pitchalt I agree the winforms sdk only provides reference assemblies and the windows desktop runtime itself is separate, those reference assemblies are safe to use to build on linux.

Why not instead do the following when building on windows:

``warning NETSDK [somenumberhere]: Building for WPF or Windows Forms is supported on non-windows platforms, but the Runtime for them is not so they will no

[2021-01-28 00:00] joeloff commented on #15423
This issue was moved to NuGet/Home#10494

[2021-01-28 00:00] #15423 closed

[2021-01-28 00:39] sfoslund commented on #15485
Okay I think I understand this issue now but I want to verify my understanding of the history with @dsplaisted.

The basic issue is with [RestoringCommand](https://github.com/dotnet/cli/blob/release/3.0.1xx/src/dotnet/commands/RestoringCommand.cs), which has logic to decide if we can restore with `-restore` included in the msbuild arguments or if we need to use a separate command to restore. The d

[2021-01-28 05:15] amaitland opened #15535 "C++/CLI Net Core 3.1 dll includes reference to every dll included in framework"
Hi,

It wasn't clear on the best place to raise this so if I'm in the incorrect place can someone point me to the appropriate repository.

### Summary

When compiling a `C++/CLI` project using `Net Core 3.1` and inspecting it's references in say `dotPeek`, **every** single dll that's part of the `Microsoft.NETCore.App 3.1` framework (`%ProgramFiles%\dotnet\packs\Microsoft.NETCore.App.Ref\3.1.0\ref

[2021-01-28 06:22] JerrySantana92 commented on #14994
Same issue here, net core 3.1 and vs 2019. Any workaround?

[2021-01-28 07:38] ForNeVeR opened #15537 "Read predefined environment variables from an env file in .NET installation"
There're situations when we want to provide .NET runtime (and/or the whole SDK) alongside the programs.

Usually, in these cases, we want the programs to never rely on any external runtimes or parts of SDK, and only use what's provided in the bundled runtime. Essentially, what we want is to always have `DOTNET_MULTILEVEL_LOOKUP=0` when the bundled `dotnet(.exe)` is started (#12353 describes a use

[2021-01-28 07:39] ForNeVeR commented on #12353
A general proposal to solve this problem is being discussed in #15537.

[2021-01-28 08:31] jiangzeng01 opened #15541 "[ 6.0.100-preview.1.21077.11] dotnet hash -h displays help for dotnet SDK not for dotnet hash"
**Application Name:**  dotnet hash global tool app
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:**  6.0.100-preview.1.21077.11
**DevDiv bug:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1271105](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1271105)

**Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-preview.1.21077.11: Fail
2). Windows 10 R

[2021-01-28 09:30] avorobjovs commented on #15510
The workaround:

Changed from
mcr.microsoft.com/dotnet/sdk:5.0-buster-slim
to
mcr.microsoft.com/dotnet/sdk:5.0-alpine

It works!

[2021-01-28 11:56] codingyourlife commented on #10621
In my case it worked publishing via Visual Studio and correcting the wrong target SDK from .NET5 to 3.1 because I didn't upgrade yet. It had nothing to do with self contained.

[2021-01-28 12:41] SergeySmirnov-Akvelon opened #15542 "Unable to debug unit tests"
In this [commit](https://github.com/dotnet/winforms/pull/4483) and after when starting the unit-test in debug mode, the studio freezes and the unit-test does not start. In normal mode, unit-tests run and work correctly. The application also support debugging, the problem is with unit tests.
![debug-issue](https://user-images.githubusercontent.com/23376742/106139999-3dc51880-617f-11eb-8b01-9e62b5ee

[2021-01-28 13:02] ri-ch opened #15544 "Dotnet add package error: Value cannot be null. (Parameter 'path1')"
Attempting to add a nuget package to a new console application results in the error `Value cannot be null. (Parameter 'path1')`.

Expected behaviour:
Running `dotnet add package Microsoft.Extensions.Configuration.Json` works without any errors.

Actual behaviour:
`error: Value cannot be null. (Parameter 'path1')`

Steps to reproduce:
1. `dotnet new console -o test -n Test`
2. `cd test`
3. `dotnet

[2021-01-28 14:37] Ceten commented on #15225
A colleague and I got the same error running .net 5.0 on Visual Studio 16.8.4 (different projects). For us it was caused by the virus scanner blocking access to tmp files being generated during build. Workaround was to add an exception to the virus scanner, after that the projects built without issues.

[2021-01-28 16:43] michaelbarkdoll opened #15548 "RHEL/CentOS 8 missing net46/Microsoft.NET.Sdk.Razor.Tasks.dll"
Hi, I have an issue with a missing .dll file.

My C# extension no longer loads in VS Code due to this missing dll.

https://github.com/OmniSharp/omnisharp-vscode/issues/4360

On the Ubuntu 20.04 LTS the dotnet-sdk-5.0 package has the following dll files:
/usr/share/dotnet/sdk/5.0.102/Sdks/Microsoft.NET.Sdk.Razor/tasks/net46/Microsoft.NET.Sdk.Razor.Tasks.dll
/usr/share/dotnet/sdk/5.0.102/Sdks/Micro

[2021-01-28 16:53] sfoslund commented on #15470
Yes, I only implemented the frameworks in the design section of that doc: https://github.com/dotnet/designs/blob/be793b557255c9ed1276ecdd23119b64f45453bf/accepted/2020/or-greater-defines/or-greater-defines.md#design

[2021-01-28 20:55] JensNordenbro commented on #15475
Sounds good!

[2021-01-28 21:18] sfoslund commented on #15489
Can you provide more information on what the error is?

[2021-01-28 21:25] sfoslund commented on #15480
What is your goal, are you referencing these assemblies in your code? If so, you probably want to use nuget packages instead of direct references to the dlls

[2021-01-28 21:40] sfoslund commented on #15482
I can repro this on 5.0 and 6.0. @Forgind this isn't valid syntax, is it?

[2021-01-28 21:51] eddynaka commented on #15489
Hi @sfoslund ,

Sure!

So, right now, when I call process.Start i send the command `git rev-parse --show-toplevel` to retrieve git information.

Below the process.Start snippet:
[code]

when I do that in AzurePipelines using netcoreapp3.1, it returns: `You need to run this command from the toplevel of the working tree.`.

So, I tried to execute in the same path a powershell command to check and it

[2021-01-28 21:59] sfoslund commented on #15489
Is this error only showing up on azure pipelines? If so, it's likely that there's a difference between the vm and your local machine that's causing the issue.

[2021-01-28 22:01] eddynaka commented on #15489
@sfoslund , so, I thought about that!
But, I did more tests!
1. running in debug, the process can retrieve the information
2. executing in release, the process can not retrieve the information

the  tests (1) and (2) did locally, so, the issue isn't being in azure devops but somehow how the runtime/console works...I'm not sure...

[2021-01-28 22:32] sfoslund commented on #15489
Okay, I'm going to transfer this issue since it seems like something with System.Diagnostics.Process.

[2021-01-28 22:50] Forgind commented on #15482
MSBuild would interpret the command line to mean that the property NuspecProperties should have the value `version=11.0.0;year=2021`, but it doesn't do any more parsing initially, so there's presumably some parsing afterwards that converts it to real nuspec properties.

Have you tried reversing the order of the parameters (year=2021;version=11.0.0)? Version is given a default value if one isn't fo

[2021-01-29 01:06] ufcpp commented on #15470
Oh, sure. .NET Standard is not in [the design section](https://github.com/dotnet/designs/blob/be793b557255c9ed1276ecdd23119b64f45453bf/accepted/2020/or-greater-defines/or-greater-defines.md#design).

However, it is in [the doc changes section](https://github.com/dotnet/designs/blob/be793b557255c9ed1276ecdd23119b64f45453bf/accepted/2020/or-greater-defines/or-greater-defines.md#doc-changes):

![imag

[2021-01-29 03:54] davkean opened #15554 "SDK ignores output type when targeting WinForms"
For testing purposes, I often switch from a WinExe -> Exe so that I can see Console input. Unlike .NET Framework, I can't do that in SDK based projects, its ignoring my OutputType:"

[code]

It is understandable that OutputType defaults to WinExe if its not specified, but the project should always win out. This also breaks Properties pages that don't expect this at all.

[2021-01-29 07:37] dagood commented on #15548
Duplicate of https://github.com/dotnet/installer/issues/9566

[2021-01-29 07:37] #15548 closed

[2021-01-29 07:58] TimonPost opened #15555 "Dotnet test `--blame-hang-dump-type` does not seem to have effect."
When I run `--blame-hang-dump-type none`, the Microsoft docs specify:

_"It should be full, mini, or none. When none is specified, test host is terminated on timeout, but no dump is collected."_

## My Command
[code]

## Result
When the test timesout it generates:
![image](https://user-images.githubusercontent.com/19969910/106247145-698fdf00-620f-11eb-99d2-83d4b35e41e3.png)

[code]
## Version
.NET

[2021-01-29 08:40] trivalik commented on #1017
I got into this that our build server reports:
´warning MSB3270: There was a mismatch between the processor architecture of the project being built "MSIL"  ... x86 ...´
which should target x86
only adding
´<PlatformTarget>x86</PlatformTarget>´
next to "Platforms" helped. Alternative would be to suppress this warning, but is bad practice.
Somehow I have one project in this whole bunch of solutions

[2021-01-29 12:22] kordys commented on #15482
When I reverse the order it's the same behavior - only the first parameter is replaced - the year in this case.
SPlitting the properties this way:

`dotnet pack project.csproj -p:NuspecFile=project.nuspec -p:NuspecProperties="version=11.0.0" -p:NuspecProperties="year=2021" --verbosity quiet --output c:/temp`

doesn't help either. Unfortunately, the second argument value overrides the first one, so

[2021-01-29 12:40] ladipro opened #15558 "Excessive JITting in SDK build tasks"
## Summary

A lot of JITting is happening when `dotnet build`-ing an empty .NET Core console application. We seem to have a problem of rejecting native images, specifically with NuGet assemblies. It's not clear where the root cause is (SDK packaging? NuGet client build? runtime?) so opening at the highest layer of the stack.

## Repro

Environment: Windows 10 19041, Xeon E5-1620 v2, .NET 5.0.102 S

[2021-01-29 20:47] dsplaisted commented on #15149
I think we can try to add some better logging in the managed SDK resolvers first.  Then if we can get that piped through, we can try to add additional logging to the native methods to include.

[2021-01-29 20:48] dsplaisted commented on #15398
Moving to MSBuild.  It's possible that the functionality to implement this was not available when MSBuild was originally ported to .NET Core, but is now available in more recent versions.

[2021-01-29 20:50] dsplaisted commented on #15396
Yes, please try this again once VS 15.9 releases.  If you still have issues then let us know and we can re-open.

[2021-01-29 20:50] #15396 closed

[2021-01-29 20:52] dsplaisted commented on #15389
Marking for team triage.  Not sure who should look into this, it sounds like a build hang on ARM64.

[2021-01-29 20:54] dsplaisted commented on #15381
@wli3 Can you look at this?  If it's accurate that the help text is wrong, it should be a quick fix.

[2021-01-29 20:55] KirillOsenkov commented on #15149
It’s a good plan

[2021-01-29 20:55] dsplaisted commented on #15378
@merriemcgaw @ryalanms @terrajobst @clairernovotny Any idea if there's any cross-platform printer support?

Also you might ask the Avalonia folks.

[2021-01-29 22:01] wli3 commented on #15446
@nohwnd could you look into this?

[2021-01-29 22:33] dsplaisted commented on #1545
@Achilles1515 I dug into this, and it turns out that one of the following needs to be true for the SDK to pick up the fact that there are native assets coming from a NuGet package:

- The NuGet package uses the EXACT RuntimeIdentifier `win7-x86` for its native assets (in the repro, the NuGet package uses `win-x86` instead).
- There is a reference to the Microsoft.NETCore.Platforms package

This be

[2021-01-29 22:33] #1545 closed

[2021-01-29 22:59] JensNordenbro commented on #15480
My goal is to port an application from net48 to net5 while at the same time keeping the net48 targeting until net5 is done and the net48 generation is phased out.

I have a theory the problem can be thirdparty assembly references that not yet has not moved to net core.
These references however are perfectly fine for a smaller subset of the application. It not only compiles but also works fine on b

[2021-01-30 02:56] PieroCastillo commented on #15378
I know there is a System.Printing namespace, but this is only available in net5.0-windows

[2021-01-30 03:36] wli3 commented on #15381
It **is** the package ID. https://github.com/dotnet/sdk/blob/master/src/Cli/dotnet/commands/dotnet-tool/update/ToolUpdateGlobalOrToolPathCommand.cs#L51

I think the issue is, _Microsoft.EntityFrameworkCore.Tools_ is not a dotnet tool, while dotnet-ef(https://www.nuget.org/packages/dotnet-ef/) is both a package id and he command

[2021-01-30 03:36] #15381 closed

[2021-01-30 09:51] JensNordenbro commented on #15396
@dsplaisted   Do you mean 16.9? - I am running 16.8.x non-preview ver on this computer...

Will it arrive in preview earlier ?

[2021-01-30 09:53] JensNordenbro commented on #15480
also these explicitly refered net48 assemblies are part of net48 and as such should not have to be specified..

[2021-01-30 09:57] JensNordenbro commented on #15480
basically symmetry is expected and this have a "random" touch to it.

[2021-01-30 16:24] lucax88x opened #15585 "segmentation fault (core dumped) dotnet --version"
Suddenly, probably after an OS update, all dotnet commands  (even dotnet --version) are giving the SEGV error.

I am on Archlinux with kernel 5.10.11-arch1-1.

this is the journal logs

<details>
  <summary>journalctl</summary>

systemd-coredump[123448]: Process 123429 (dotnet) of user 1000 dumped core.

                                                        Stack trace of thread 123443:

[2021-01-30 17:57] Rashjohar25 commented on #10621
I was facing the same issue and for me, it was happening because of an invalid project id. Once I corrected that the issue was gone.

[2021-01-30 19:21] hoyosjs commented on #15542
This was an issue in the runtime. It will be fixed once 6.0.0-preview.2.21079.11 or greater flows into the repo.

[2021-01-31 02:02] dsplaisted commented on #15396
Oops, yes I mean 16.9.  It looks like it should be in the next preview release of 16.9 (Preview 4).

[2021-01-31 17:46] dsplaisted commented on #11489
Sorry for the delay in getting back to this.

System.Drawing.Common.dll is included as part of the `Microsoft.AspNetCore.App` shared framework.  So in the repro project, it is not being copied to the output folder because MyProject.ExcelService.API uses the `Microsoft.NET.Sdk.Web` project Sdk, which means it uses the ASP.NET Core shared framework.  So it seems like it's behaving correctly- at runt

[2021-01-31 17:49] dsplaisted commented on #11284
@wli3 @KathleenDollard @sfoslund Anyone know how we handle text output color, and if it's different for `dotnet restore`?

[2021-01-31 17:56] dsplaisted commented on #11099
`dotnet build --no-incremental` basically just runs the `Rebuild` target, which basically just runs the `Clean` and `Build` targets.

So what I would do for this is to run `dotnet clean` and then `dotnet publish`.

[2021-01-31 17:59] dsplaisted commented on #10288
Looks like this would be pretty easy to do.  From the linked issue, here's what we'd need to set:

[code]

[2021-01-31 18:03] dsplaisted commented on #11156
@MarcoRossignoli Sorry for the delay in getting to this.  Is this still an issue?  It looks like coverlet is now using the 5.0.101 version of the .NET SDK.

[2021-01-31 18:24] MarcoRossignoli commented on #11156
We can close seems ok now.

[2021-01-31 18:24] #11156 closed

[2021-01-31 18:45] bjorg commented on #11099
That's what I arrived at as well. I was just highlighting it as a missing option I would have expected. Thx

[2021-01-31 19:18] dsplaisted commented on #11953
I looked at the binlogs and they confirm that the issue is both projects are trying to write to the same folder.  If you open up the 300 log in [MSBuild Structured Log Viewer](https://msbuildlog.com), you will see that it reports double writes for the different versions of the DLL to the same path:

![image](https://user-images.githubusercontent.com/145043/106395156-86661700-63b5-11eb-8d79-b2906f8

[2021-01-31 19:18] #11953 closed

[2021-01-31 19:39] billwert commented on #10573
@wli3 This still hits in the perf lab on occasion, FYI. An [example](https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-performance-refs-pull-1627-merge-f7451532161f449b84/Partition2/console.a15b70d7.log?sv=2019-07-07&se=2021-02-19T13%3A06%3A09Z&sr=c&sp=rl&sig=qaDk1QelmftU9z3THyCHTyYalAnaujzmEDCdjUDOxls%3D).

[2021-01-31 21:08] vidarw commented on #11953
Come on... This is clearly a issue that should be handled by the SDK/compiler in some way or form?

I certainly understand that the problem is caused by stupid build practices - but it should at least produce a warning when you  `dotnet publish` a solution file (which is after all a valid input) using the `-o` parameter or produce visible warnings to the user when DoubleWrites are detected?

[2021-01-31 21:09] matkoch commented on #10288
@dsplaisted that's what we already discussed in https://github.com/dotnet/sdk/issues/9499#issuecomment-397044453 ... I'm asking when this could be addressed. It's quite a while already, and it's vital for CI use cases.

[2021-01-31 21:10] matkoch commented on #10288
`pretty easy to do` => hasn't happened in almost 3 years :)

[2021-02-01 02:44] hzicong opened #15589 "in cetnos8,why .NET Core SDK 3.1 installed,but run command dotnet --info tips: No SDKs were found."
[root@localhost ~]# sudo dnf install dotnet-sdk-3.1
Repository extras is listed more than once in the configuration
上次元数据过期检查：1:11:15 前，执行于 2021年02月01日 星期一 08时50分16秒。
依赖关系解决。
=================================================================================================================================================================================================================================

[2021-02-01 02:52] dsplaisted commented on #10288
I've marked this for the team to review, so we will be evaluating the priority soon.

In the meantime, you should be able to get the same result by combining the three options: `-p:UseRazorBuildServer=false -p:UseSharedCompilation=false /nodeReuse:false`

[2021-02-01 04:04] #15589 closed

[2021-02-01 05:29] wli3 commented on #11132
Could you give me the output of `dotnet --info`? And where you see the bad output? It is in the terminal or a window in Visual Studio?

[2021-02-01 07:46] Erythnul commented on #11953
@dsplaisted I think closing this is premature. Publishing a solution to one folder may not be the perfect way to work with your files, but if you won't support it it should be removed from the sdk.
My scenario involves transitive dependencies, not projects that directly reference different nuget packages versions, perhaps that will change things? Our solution doesn't even directly reference older

[2021-02-01 08:58] nohwnd commented on #15446
Yup. I will have a look.

[2021-02-01 11:42] jameswoodley opened #15590 "dotnet store exiting with code 33"
When running `dotnet store -m PackageManifest.xml -f netcoreapp3.1 -r linux-x64 --output ./store` I get an error
[code]

If I skip optimization it seems to work, but the point is I'm trying to build a pre-jitted store, so skipping optimization is not a resolution here.

I've tried to search what code 33 is, but with no luck.

[2021-02-01 11:59] noah1510 commented on #10403
Would it be possible to look for the SDK in the DOTNET_ROOT environment variable?
DOTNET_ROOT is already an intended environment variable by the sdk when you try to directly run a binary produced by the dotnet sdk.
All the extention has to do is check if that variable exists and then look for the sdk in that path.

Adding the SDK to the path causes a lot of problems (at least the snap installation

[2021-02-01 12:31] ecoffman opened #15591 "Access is denied after upgrading to .net 5.0 on Windows Server"
I installed .net 5.0 sdk and am trying to build my project. To start, I usually restore:

dotnet restore .\\src\\Mds.Proxy\\Mds.Proxy.csproj

The result of this is:

Determining projects to restore...
C:\Program Files\dotnet\sdk\5.0.102\NuGet.targets(131,5): error : Access to the path
'E:\bb\Mds.Proxy\src\Mds.Common\obj\Mds.Common.csproj.nuget.g.props' is denied. [E:\bb\Mds.Proxy\src\Mds.Proxy\Mds

[2021-02-01 15:52] knoopr opened #15596 "TargetPlatformAttribute & SupportedOSPlatformAttribute while Multi-Targeting"
When generating a project targeting framework and net5.0-<platform> the automatically generated attributes `TargetPlatformAttribute` and `SupportedOSPlatformAttribute` are not for framework such that `<GenerateAssemblyInfo>true</GenerateAssemblyInfo>` can't be used.

A flag such as #14836 or another alternative while multi-targeting such that the other aspects of the automatically generated assemb

[2021-02-01 17:06] sfoslund commented on #11284
I don't think we alter output text color from MSBuild at all, so I expect this comes from MSBuild logging

[2021-02-01 17:09] sfoslund commented on #15480
@wli3 is this expected for net framework or is something off here?

[2021-02-01 19:52] marcpopMSFT commented on #15137
We'll track this proposal through this issue: https://github.com/dotnet/sdk/issues/14960. We're starting to look into this space.

[2021-02-01 19:52] #15137 closed

[2021-02-01 20:08] wli3 commented on #15480
This is expected. Some API will not be available in core https://github.com/dotnet/core/issues/838. The goal of net5 is not 100% compatible with net48. If you need to maintain both net48, and net5.0, you need to use the common set of APIs (like netstandard2.0) with help of nuget package (some API available in net48 are shipped separately as nuget packages). Or you need to compile conditionally.

[2021-02-01 20:23] dsplaisted commented on #2475
I believe this will be fixed in .NET SDK 5.0.200 via this PR: #14488

[2021-02-01 20:23] #2475 closed

[2021-02-01 21:22] dsplaisted commented on #13369
Related / Dupe: #8964

[2021-02-01 22:06] Webreaper commented on #14489
Any updates on this? It's quite messy and inconvenient that it's not possible to create a single-file deployment for a Blazor app.

[2021-02-02 01:21] wli3 commented on #15142
@sfoslund I see "-d" means "verbose" for the reporter. Is that intentional to add stack trace when "-d" is added?

[2021-02-02 01:26] wli3 commented on #15297
Is a bit odd. @marcwittke could you run `dotnet --info` as part of the build after SDK is installed on the build agnet?

[2021-02-02 01:26] wli3 commented on #15297
@vitek-karas does it ring a bell?

[2021-02-02 01:30] wli3 commented on #15143
Agree, we should edit the message to _specify the "-d" option after "dotnet"_

[2021-02-02 02:16] dsplaisted opened #15607 "Error, warn, or fix behavior when specifying output path when building a solution"
Specifying the output path (commonly by using the `-o` command line option to `dotnet build` or `dotnet publish`) when building or publishing a solution can lead to issues, as multiple projects building to the same path may override each other's files.

We should either block specifying the output path for a solution, or do something to fix the behavior (for example by appending the project name t

[2021-02-02 02:22] dsplaisted commented on #11953
I agree we should fix something with the `-o` option and solution files.  I thought we had other issues tracking that, but when I looked I found various related issues but not one specifically for `-o` and solution files, so I filed #15607.

@Erythnul If you can share more details along with a binlog or a repro of your issue I can take a look.  Are you specifying an output path as a command-line p

[2021-02-02 05:57] jiangzeng01 opened #15608 "[.NET 6] [Source Compat Failure] ffmediaelement app doesn't build with .net6 SDK"
**Application Name:**  ffmediaelement
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-preview.1.21081.5

**Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-preview.1.21081.5   Fail
2). Windows 10 RS5 X64 + .NET Core SDK build :  5.0.102   Pass
3). Windows 10 RS5 X64 + Retarget app to 5.0 + .NET Core SDK build :  5.0.102   Fail
4). Windows 10 RS5 X64 + Ret

[2021-02-02 06:41] blacksnake-rus commented on #3886
Details are on #15607

[2021-02-02 07:03] it19862 opened #15610 "Error "the current SDK package for .NET does not support the target object .NET Core 6.0""
**Error:**
_the current SDK package for .NET does not support the target object .NET Core 6.0. Select .NET Core 5.0 or earlier, or use the version of the .NET SDK that supports .NET Core 6.0._

**Question:** How to fix the error?

![2021-02-02_09-58-45](https://user-images.githubusercontent.com/18245828/106564008-b50ef980-653d-11eb-9c64-23c306a4de1c.png)

[2021-02-02 08:24] vdanche opened #15612 "With .NET 6 SDK, Create mstest in CLI ,the template name Contains “Core”"
Repro steps:
Install .NET 6 SDK6.0.100-preview.1.21081.5(6.0.0-preview.1.21079.7) from https://github.com/dotnet/installer--Release/6.0.1xx-preview1 branch
Run "dotnet new mstest"  in CLI .

Expected Result:
mstest should be created successfully and template name not contains "Core"

Actual Result:
mstest created successfully but template name contains "Core"
![image](https://user-images.githubuse

[2021-02-02 10:50] marcwittke commented on #15297
sure:

[code]

well, a cleanup wouldn't be bad... Is it safe to delete the _tool folder?

[2021-02-02 10:56] marek-safar opened #15613 "No easy way to make whole app trimmable"
When trimming while application by setting <IsTrimmable>true</IsTrimmable> property for every assembly. The trimming build fails because of missing root assembly. The logic assumes the root assembly is never trimmed.

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets#L211

@sbomer

[2021-02-02 11:26] vitek-karas commented on #15297
@wli3 Nope - I don't remember anything like this. Maybe @janvorli would know - or at least who to send this to.
Crash dump would be ideal, but I don't know how to get one on linux in an automated job.

[2021-02-02 12:02] AraHaan opened #15616 "[Proposal] Warn when project PackageReferences a package automatically PackageReferenced by the imported Sdk(s) in the csproj."
Let's say for example, one ``PackageReference``'s ``System.Console`` while targeting an TFM that would automatically reference that package by the ``Microsoft.DotNet.Sdk`` line on their 1st line in their csproj, that then makes the one in the project useless (if older than the one automatically added by the Sdk, or newer than the one added by the Sdk (if targeting an older TFM that does not target

[2021-02-02 12:45] CaCTuCaTu4ECKuu commented on #11132
It's in here
<details>
<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/8963134/106598874-0381bf80-6561-11eb-9de5-ee38a4f1b736.png)
![image](https://user-images.githubusercontent.com/8963134/106601203-1053e280-6564-11eb-9038-56a78b8b1092.png)

</details>
<details>
<summary>VS Community 16.8.4 output</summary>

</details>

You can ensure that what encoding it is [he

[2021-02-02 12:52] CaCTuCaTu4ECKuu commented on #11132
Also I'm wondering if people with symbolic languages (e.g. chinesse) experience this issue as output sould be utf and not even cp1251

[2021-02-02 13:11] fotto1 opened #15619 "dotnet build run into 429 and ignore Retry-After Header"
We using for our project docker image mcr.microsoft.com/dotnet/core/sdk:3.1 with digest mcr.microsoft.com/dotnet/core/sdk@sha256:0fece15a102530aa2dad9d247bc0d05db6790917696377fc56a8465604ef1aff to run dotnet cli.

Our nuget packages are stored on an gitlab package manager version 13.8

After there are to many http request nuget receives 429 following RFC6585 with Retry-After Header in Response lik

[2021-02-02 14:15] cubikca opened #15621 "dotnet-ef doesn't work with dotnet-sdk snap"
1. Install dotnet-ef: `dotnet tool install -g dotnet-ef`
2. Run dotnet-ef `dotnet-ef`

Error is thrown complaining about missing ICU library. libicu66 is installed on Ubuntu 20.04.

Fix:
1. Remove snap `snap remove dotnet-sdk`
2. Install from Microsoft repo `apt install dotnet-sdk-5.0`
3. Reinstall dotnet-ef `dotnet tool uninstall -g dotnet-ef && dotnet tool install -g dotnet-ef`

Now works as exp

[2021-02-02 14:43] arnoud-koolecontrols opened #15622 "ome"

[2021-02-02 16:18] sbomer commented on #15613
I think this is a duplicate of https://github.com/dotnet/sdk/issues/13999 - unless you are asking for an easier way to do it like a simple [TrimAllAssemblies](https://github.com/mono/linker/blob/c45a25d77dfe278bd8fa675cb998cb0573dcb1c0/docs/design/trimmed-assemblies.md#trimallassemblies-global-opt-in) boolean?

[2021-02-02 16:44] marek-safar commented on #15613
Yep, it's same problem.

[2021-02-02 17:31] #15613 closed

[2021-02-02 17:46] scnanney commented on #12345
Please fix this.

[2021-02-02 17:55] JensNordenbro commented on #15480
But the apis are available in both net5 and net48...

[2021-02-02 18:22] sfoslund commented on #15544
From the detailed error message you provided:

This seems to be the real cause error, there was something going wrong with the package's certs. I'm not able to repro this issue, is it still happening for you?

[2021-02-02 18:29] sfoslund commented on #15142
Yes, this is intentional. Without `-d` we don't see the stack trace, this behavior is consistent across 5.0 and 6.0.

[2021-02-02 18:33] sfoslund commented on #15470
@terrajobst can we get some guidance on the intention of the spec?

[2021-02-02 18:36] sfoslund commented on #15542
Closing per @hoyosjs's comment that this has been fixed in the runtime.

[2021-02-02 18:36] #15542 closed

[2021-02-02 18:43] sfoslund commented on #15535
@wli3 is this expected for C++?

[2021-02-02 19:09] sfoslund commented on #15485
After discussing with @dsplaisted, we do want the `-target:restore` behavior instead of `-restore` when the target framework is specified on the command line.

@jonathanpeppers is there a reason you need to specify the run target while building? `dotnet run -f net6.0-android` should be logically the same as it includes an implicit restore/build.

[2021-02-02 20:07] jonathanpeppers commented on #15485
I still get this error with `dotnet run`:
[code]
I also tried adding `--no-restore` to the `dotnet run` command, but I'm not sure if that actually does anything.

These commands both work for me:
[code]

[2021-02-02 20:09] wli3 commented on #15535
@sfoslund this is this case today. I need to look into this more. @olgaark FYI

[2021-02-02 20:37] danmosemsft commented on #15142
Ah, I didn't realize that. The flag meaning changes, depending on position. Got it, seems useful flag.

[2021-02-02 20:44] sfoslund commented on #15142
Closing this as not a bug

[2021-02-02 20:44] #15142 closed

[2021-02-02 21:16] wli3 commented on #15480
@JensNordenbro could you give me an API example

[2021-02-02 22:13] sfoslund commented on #15485
Yes, I'm seeing that error with 6.0.100-alpha.1.20562.2 (the version you're currently using which doesn't have the system.commandLine change). It's odd because in the binlog I can see the [run target from Microsoft.NET.Sdk.targets](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L865) is being imported and overriding the MSBuild targe

[2021-02-02 22:30] jonathanpeppers commented on #15485
I just updated to `6.0.100-preview.1.21081.5` and seeing the same thing there, too.

One thing, is we completely replace the `Run` target with our own:

https://github.com/xamarin/xamarin-android/blob/aad2c29e30e362b19bf526eb14075d8325a1f2d8/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.Application.targets#L26

We also set `$(RunCommand)` and `$(RunArguments)`

[2021-02-02 23:37] sfoslund commented on #15485
Huh, it seems like something with the MSBuild logic then. In the binlog I'm seeing that file imported and $(RunCommand) and $(RunArguments) being reset but the run target is not being overridden, possibly because Microsoft.NET.Sdk.targets is being imported after your custom file, so the run target there overwrites yours. I would dig into the binlog and ensure that the logic is behaving as you expe

[2021-02-02 23:54] dsplaisted commented on #15485
Ah, it sounds like the reordering of the workload targets (from #14393) impacted this then.

Targets that need to override targets from the .NET SDK should be refactored into a separate .targets file, which should be added to the `AfterMicrosoftNETSdkTargets` property in order to have them imported in the correct location.  For example, this is how it was being done for WindowsDesktop:

[code]

[2021-02-03 02:08] vdanche commented on #14681
It's expected,  the symbols for MSRC releases are kept in private and are inaccessible until the release is shipped. The behavior is expected of MSRC releases.

[2021-02-03 02:08] #14681 closed

[2021-02-03 08:37] ladipro commented on #15558
I just learned about `COMPlus_ReadyToRunLogFile`. Running the build with the env variable set produces this log (filtered to NuGet assemblies only):

[code]

[2021-02-03 10:20] kryptobi opened #15668 ".NET5 build crashes with BigSur (SIGABRT)"
when i try to build my .net5 solution the dotnet application crashes and i got following log message:

System Integrity Protection: enabled
Crashed Thread:        0  Dispatch queue: com.apple.main-thread

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY

The curious thing is, if i ignore the crash, the

[2021-02-03 14:24] ecoffman commented on #15591
I wiped out the folder, did a git clone, ran the commands again. All worked as expected. I don't know what happened with the 1st try.

[2021-02-03 14:24] #15591 closed

[2021-02-03 14:45] pavelhorak commented on #15612
@Sanan07 can you take care of this? You need to remove "Core" from .NET 6 templates in https://github.com/dotnet/test-templates

[2021-02-03 14:59] Sanan07 commented on #15612
I will fix it. Issue exists in xUnit/NUnit as well but for other languages. To see it you need to change VS language in settings, so I will fix for all test templates.

[2021-02-03 15:09] jonathanpeppers commented on #15485
@dsplaisted I think we're already using `$(AfterMicrosoftNETSdkTargets)` for this `.targets` file:

https://github.com/xamarin/xamarin-android/blob/abea285994fb4366de7c6c5e1ae9cc9ee22145dd/src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.targets#L10

https://github.com/xamarin/xamarin-android/blob/abea285994fb4366de7c6c5e1ae9cc9ee22145dd/src/Xamarin.Android.Build

[2021-02-03 15:44] dseefeld opened #15651 "Timing issue in SDK build when building with source-build"
When building SDK in source-build on a slower machine, we encountered a timing issue which caused the WebSDK folders to be missing.  Looking at the binlog, it appears that the `PublishNetSdks` target gets called, but the content for these folders has not been produced yet.  The issue can be simulated by putting a wait in one of the WebSDK projects:
[code]
This will cause some of the SDK content to

[2021-02-03 16:36] brianrob commented on #15558
@mangod9, can you help us get some eyes on this?  We see lots of jitting from these NuGet DLLs that are marked as already being loaded in another appdomain.  I've run the workload under the debugger (it's just the msbuild process of `dotnet build`), and this is what SOS reports for AppDomains:

[code]

There are no assemblies loaded in the System Domain - they are all loaded in Domain 1.

[2021-02-03 16:57] Achilles1515 commented on #1545
Interesting - yeah, I was wondering why it apparently was not understanding that x86 native assets were being pulled in.
So what's the verdict here? It sounds like this is a bug that needs to be fixed. It's all the same whether it matches `win7-x86` or `win-x86` --> 32-bit native dependencies are being consumed.

I understand that these workarounds exist, but they are not ideal because they all re

[2021-02-03 17:01] codingdave opened #15654 "different behavior of VS 2019 build and dotnet msbuild"
### Description
From what I understand `dotnet msbuild` shall behave identical to building with Visual Studio (I have not read that anywhere and such my premises might be wrong).

My expectation is the behavior of Visual Studio: That the PostBuildEvent is not called if the output is not updated.

When I compile my sample from Visual Studio 2019 16.8.4 this is the output

    Build started...
    1

[2021-02-03 17:33] terrajobst commented on #15470
Sorry, I must have missed that in the PR :-(

Yes, the intent is to handle .NET Framework, .NET Core, and .NET Standard.

[2021-02-03 17:38] sfoslund commented on #15470
Thanks for the clarification, I'll add .NET standard symbols for 5.0.3xx.

[2021-02-03 18:00] arkalyanms opened #15656 "ImmutableDictionary has slowly been regressing and in version 5.0 (10X slower than Dictionary)"
I am on the CPS team in Visual Studio and are benchmarking bottlenecks that [affect solution load](https://dev.azure.com/devdiv/DevDiv/_wiki/wikis/DevDiv.wiki/19818/Speed-up-netcore-solution-load) and a big contributor to the slowdown is Immutable collections. Instead of switching out the collection I started benchmarking across versions of the ImmutableDictionary for example and there is a steady

[2021-02-03 18:22] mangod9 commented on #15558
Sure will investigate. cc @dotnet/crossgen-contrib

[2021-02-03 18:27] Forgind commented on #15482
This sounds to me like a problem with the parsing where it knows to look for the NuspecProperties property, and it uses that to generate metadata later used to replace properties in the project.nuspec file, but the parser looks for the first `=` and doesn't parse the second part. @nkolev92, does that sound right? I suspected something in [NuspecCoreReaderBase](https://github.com/NuGet/NuGet.Client

[2021-02-03 19:51] jkotas commented on #15558
This error message is wrong. It should say "module already loaded in another assembly load context". I have submitted PR to fix.

So the problem is that msbuild is loading these assemblies multiple times, each time into a different assembly load context. Is it expected?

[2021-02-03 19:54] brianrob commented on #15558
Thanks @jkotas.  That makes more sense.  I'm not sure if this is expected, let me investigate and report back.

[2021-02-03 19:59] dsplaisted commented on #15326
There's not currently a way to check for the latest version of the runtime available without updating the SDK.  We have this issue tracking something like that: #11226

That said, I think it's probably a good idea to figure out how to have a consistent build environment on your CI machines, ie apply updates (from VS, MS Update, or wherever) to all of them consistently.

[2021-02-03 19:59] #15326 closed

[2021-02-03 20:17] brianrob commented on #15558
It looks like this is expected, in that there is a feature for [isolating assembly loads for each task](https://github.com/dotnet/msbuild/blob/ca44138662e3aa90eb9305dd31d906ef02e962cb/documentation/specs/task-isolation-and-dependencies.md).  An escape hatch was added for MSBuild assemblies, and it looks like these dependencies just need to be added to [this](https://github.com/dotnet/msbuild/blob/

[2021-02-03 21:36] francisminu opened #15665 "dot add command seems to be ignoring the --source parameter"
Hi
I am trying to use below command in my .NET Framework 5.0 project:
'**dotnet add C:\........\TestProject.csproj package Test.Models --source C:\myfolder\testpackages\nupkgs**'

I am giving a local folder path as the source. This used to work until .NET core 3.1, but doesn't seem to be working now.

When I run this command, it does not look for the package in the local folder that I have specifi

[2021-02-03 22:01] brianrob commented on #15558
Looks like the full list for `dotnet hello world` is:

[code]

[2021-02-03 22:10] marcpopMSFT commented on #15389
@tommcdon is there someone available with an arm64 machine who can do an initial look for us?

[2021-02-03 22:18] marcpopMSFT commented on #11107
This is improved in .NET 6 for --framework as we will include the options in the output.  Keeping this issue active for RID and URL suggestions.

[2021-02-03 22:20] marcpopMSFT commented on #11099
@KathleenDollard for visibility as it may be worth looking at all dotnet build options to see which should be supported in publish.

[2021-02-03 22:49] sfoslund commented on #15470
Fixed in 5.0.3xx by #15660

[2021-02-03 22:49] #15470 closed

[2021-02-03 22:54] shanieMoonlight opened #15667 "ClickOnce Publish Failure - library not found"
I'm having a problem publishing a WPF app.

It seems to be caused by the "Publisher" looking for the dll's (from referenced projects) in the wrong place.

I'm getting this error in the Output Window:

Metadata file 'C:\***\DeviceInfo\bin\Release\net5.0-windows\DeviceInfo.dll' could not be found
Metadata file 'C:\***\Helpers\bin\Release\net5.0-windows\Helpers.dll' could not be found

The referenced

[2021-02-03 23:25] qfyra opened #15669 "503 Service Unavailable / 500.30 ANCM In-Process Start Failure"
I'm here to tell you that deploying the latest Visual Studio 2019 version of the .NET Core 3.1 web API template to a brand new basic instance in Azure does not work, and neither does deploying the template to a previously known working instance, nor does deploying existing previously working code to an existing previously working instance.

And to be clear, my main issue is that my custom code doe

[2021-02-03 23:27] nkolev92 commented on #15482
Actually the problem is simpler than that :)
dotnet pack is really just a wrapper around `dotnet msbuild /t:pack`.

NuspecProperties is a property, similar like the SpecialProperty example:

If you try this project:
[code]

``console
C:\Users\Roki2\Code\packTest> dotnet msbuild /t:specialtarget

[2021-02-03 23:32] nkolev92 commented on #15482
I completely misread the scenario. Let me take another look.

[2021-02-03 23:32] jrmeland opened #15670 "Odd non-sensical repeated folder structure"
### Description

During build I get these odd repeated folder structures e.g.
[code]

The actual folder structure is like so:
[code]

I know my solution organization is somewhat atypical but I don't believe this as always been an issue. I've also been seeing some large build times and am wondering if this contributes to that.
### Configuration

[code]

Solution:
[code]

Projects:
[code]

[code]

#

[2021-02-03 23:42] KathleenDollard commented on #15261
Thank you for reaching out. We understand your concern, and have a product update in progress for supported products. We are targeting completion over the next two months. This update will provide a telemetry data collection notice and opt out instructions sooner, during the install experience and prior to data collection. We use industry best practices and have technical and organizational measur

[2021-02-03 23:42] #15261 closed

[2021-02-03 23:58] tommcdon commented on #15389
@hoyosjs can point you to a machine, and might be able to help repo

[2021-02-04 00:24] nkolev92 commented on #15482
Does it work if you specify the property in the project?

This can probably be transferred NuGet side if that doesn't fix it.

[2021-02-04 02:16] dsplaisted commented on #1545
Unfortunately, there are projects that rely on the bug, so fixing the bug would mean breaking those apps.  In cases like that we have to weigh the trade-off between fixing the bug or breaking apps.

Packages with native assets which will be consumed by .NET Framework projects could add a package dependency on the `Microsoft.NETCore.Platforms` package (for the .NET Framework TargetFramework) to wor

[2021-02-04 06:43] #15622 closed

[2021-02-04 09:11] JensNordenbro commented on #15480
I will try; huge project though... all i have is the dll:s mentioned.

Also I will try to upgrade to net6-preview1.

I wil get back to you!

[2021-02-04 09:27] jiangzeng01 commented on #15541
@sfoslund We tested with latest .NET 6 Preview 1 build: 6.0.100-preview.1.21103.13, the issue is still happening.
Can you check?

[2021-02-04 09:42] weltkante commented on #15225
Its a different error message though, just the stack trace is the same.

The [workaround](https://github.com/dotnet/sdk/issues/15225#issuecomment-766996282) fixes the problem when trying to run the WinForms `main` branch in the Visual Studio debugger so I don't think this is antivirus related.

[2021-02-04 09:45] jiangzeng01 commented on #15608
@marcpopMSFT Hi Marc, could have someone look into this bug? Or let us know if we assigned wrong person.

[2021-02-04 11:33] jetersen commented on #3592
Sadly this workaround does not work for net5.0-windows 😢 This would help save a lot of GitHub Actions minutes if we could build on ubuntu.

[2021-02-04 12:31] hoyosjs commented on #15389
@marcpopMSFT I've sent you the credentials. However I couldn't repro the issue:

<details>
<summary>Test repro output</summary>

[code]
</details>

@valeria-tejada-incontact, quick questions that might help us find a way to narrow this:

- Where are you running the build? Is it a linux-arm64 machine you own? What OS is it using?
- Do you have just the source and the dockerfile in the folder, given

[2021-02-04 15:49] ericstj commented on #15225
Correct.  It would also be a different exception message.

The antivirus scenario is interesting and could be treated as a separate bug. Build tasks should avoid ever copying, closing a handle, then reopening for write. Doing so makes them vulnerable to this sort of antivirus interference. They should always do all writing while holding the original handle that created the file.  Would you mind op

[2021-02-04 16:57] sfoslund commented on #15541
@jiangzeng01 I checked this fix into our master branch, so it is not available in preview 1 builds. I double checked and it does not repro with master build `6.0.100-preview.1.21103.11`. The fix will be in preview 2.

[2021-02-04 19:06] EliasCK opened #15677 ""Dotnet watch run" is at least 18 times slower than it needs to be."
Here are some results from testing on a simple console application - comparing it agains a custom dotnet watch run implementation that simply uses MsBuild:

[code]

Both are running in release mode, with no additional steps or commands taken in order to imrpoove performance.

**I want to provide a simple, stable and fast "hot-reloading" experience for my users.**
Besides just wanting it for myself

[2021-02-04 19:08] wli3 commented on #11640
Have you installed https://github.com/microsoft/artifacts-credprovider?

[2021-02-04 19:08] stephentoub commented on #15677
cc: @brianrob, @DamianEdwards

[2021-02-04 19:18] IvanStoychev commented on #12160
Hi, @dsplaisted,

I still get the same error but I've become completely disillusioned with Github Actions and will be switching to another provider, where I believe the command will "miraculously" work. So I leave it to someone else to continue the investigation.

[2021-02-04 19:44] AraHaan opened #15679 "invoking dotnet in any way leaks .NET Host process instances that never terminate."
Whenever I use ``dotnet`` in any way whether it is ``dotnet build``, ``dotnet restore``, ``dotnet run`` etc it seems to me when I look inside of task manager (after the process terminates) that it does not terminate the .NET Host processes too to free up the chance that msbuild tasks are in fact locked by it and so then when you try to rebuild, the build would then fail due to the leaked .NET Host

[2021-02-04 19:47] jrmoreno1 opened #15680 "Editing SDK project in Visual Studio problems (lost edit history, focus)"
When editing a SDK project in Visual Studio 2019, I have encountered several problems.

Repo:
1. Open SDK project
2. paste <ItemGroup ></ItemGroup> in Project (note the space between the tag name and the closing bracket.
3. Save project file

Expected behavior:
Cursor remains in same position, vertical scroll bar position remains unchanged, edit history has new item added to it.

Actual behavior:

[2021-02-04 19:49] AraHaan commented on #15680
is it in the csproj file or no?

[2021-02-04 22:47] shanieMoonlight commented on #15667
For anyone interested here's how I solved it. I changed

      <TargetFramework>net5.0</TargetFramework>
to

      <TargetFrameworks>net5.0;net5.0-windows</TargetFrameworks>
I'm not sure if this was the best way to handle it but it seems to have worked.

I feel like it should be done automatically by the publishing program.

[2021-02-05 00:08] AArnott commented on #14578
@nohwnd If you notice the artifacts collected in [the pipeline](https://dev.azure.com/andrewarnott/OSS/_build/results?buildId=4164&view=artifacts&pathAsName=false&type=publishedArtifacts), only one of the 4 test runs collected a DMP, even though they all used FailFast. Looking at the logs reveals that it was the net5.0 test run that collected the dump. Why the difference in behavior between runtim

[2021-02-05 04:59] jiangzeng01 commented on #15541
@sfoslund We tried with latest master daily build, your fix for "-h" work fine, but we think this issue is not only related to ‘-h’, it will repro whenever the following ‘sdk-options’ conflicts with global tool app’s options.
[code]

**Another example about global tool option conflict with sdk option:**
**Repro steps:**
1. Install a global tool app, for example dotnet-ignore :
2. dotnet tool insta

[2021-02-05 09:50] timaiv opened #15689 "C++/CLI Net Core 3.1, .NET 5 (Core CLR) std::function crash"
## Summary

When porting CLI Wrap from .NET Framework (all was fine) to .NET 5, out app starts crashing (EXCEPTION_ACCESS_VIOLATION ) when passing std::function (callback) to unmanaged dll.
This breaks in .net core 3.1 and .net 5. Works fine in .net framework 4.0.
Function pointer, std::bind also not working here.

 	ntdll.dll!RtlpValidateHeapEntry()	Unknown
 	ntdll.dll!RtlValidateHeap()	Unknown

[2021-02-05 13:05] mrhelmut commented on #12125
Hello there,

I'm dropping by following the trail of https://github.com/dotnet/runtime/issues/34950 and https://github.com/dotnet/runtime/issues/3832.

I'm not quite sure if this is linked (it looks like [34950](https://github.com/dotnet/runtime/issues/34950) to me, but not to this very issue), but there may be a regression on this.

I'm a maintainer of https://github.com/MonoGame/MonoGame and lat

[2021-02-05 15:19] RalphLAtGitHub opened #15693 "WPF for VB build failed with error BC2017: could not find library 'Microsoft.VisualBasic.dll'"
Same issue as in #3450 described:

Environment:
- Windows Version 10.0.19042.789
- .NET SDK 5.0.102
- Visual Studio Version 16.8.4

Actual behavior:
Build failed with error BC2017: could not find library 'Microsoft.VisualBasic.dll'

Expected behavior:
Build succeeded

Additional information:
Project migrated from .NET Framework 4.7

[2021-02-05 17:29] Pilchie commented on #12125
I'm not super familiar with `CreateAppHost`, hopefully @marcpopMSFT knows who owns it.  Also tagging @ericstj though.

[2021-02-05 17:42] ericstj commented on #12125
I have reactivated https://github.com/dotnet/runtime/issues/3832 to address this.

[2021-02-05 17:43] ericstj commented on #15225
Here's the issue on the AV scanner problem: https://github.com/dotnet/runtime/issues/3832

[2021-02-05 17:55] mjrousos commented on #14716
This impacts people using the try-convert tool to move to the new csproj file format, too. Try-convert has an option to adopt the SDK-style project but leave the target framework unchanged. The tool will change the project file to use the Microsoft.NET.Sdk and `<UseWPF>` or `<UseWindowsForms>` as appropriate, but if the user opts to stay on a net4* target framework, the project will fail to load d

[2021-02-05 18:19] huangchinlin opened #15696 "The required library libhostfxr.so could not be found."
I've created a worker(cli: dotnet new worker) project in ubuntu 20.04 which run on a raspberry pi, but get error when start the service via systemd.

the error message is:  A fatal error occurred. The required library libhostfxr.so could not be found.

I have installed the dotnet sdk and runtime, but the situation is the same.

---------------
dotnet --info
---------------
[code]

------
ENV:
----

[2021-02-05 19:00] #15351 closed

[2021-02-05 19:12] JoeRobich opened #15697 "Cannot run dotnet tool from folder containing multiple project files."
Reported at https://github.com/dotnet/format/issues/921

**Steps to reproduce:**
[code]

**Expected outcome:**
dotnet-format is invoked and applies formatting to the project-to-format.csproj.

**Actual outcome:**
dotnet CLI prints the following error 'Specify which project file to use because this 'C:\project-folder' contains more than one project file.'

[2021-02-05 19:21] jrmoreno1 commented on #15680
@AraHaan :
This is for editing the csproj file, pending edits in other files aren't affected.    The version is the latest stable release, haven't tried it with the preview version.

[2021-02-05 20:41] redradist commented on #14962
@marcpopMSFT Why this feature `Update your SDK and runtime through a dotnet command` planned only for .NET 7 ?

[2021-02-05 21:00] agocke commented on #14776
This looks by design. References with duplicate names aren't supported for single-file publishing.

[2021-02-05 21:00] #14776 closed

[2021-02-05 22:41] marcpopMSFT commented on #14960
@omajid Getting our experience right on Linux especially wrt package managers is one of the reasons that this work is not going to come in until .NET7.  We're planning on doing some groundwork this release to set us on a path to have this in .NET7. Once we have designs for this in the future, we'll post them for review and feedback.

[2021-02-05 22:43] marcpopMSFT commented on #14962
@redradist It's really a matter of capacity. For .NET6, we are going to focus on the [acquisition](https://github.com/dotnet/sdk/issues/14957) and update of [workloads](https://github.com/dotnet/designs/blob/main/accepted/2020/workloads/workloads.md) and then apply the learning from that to updates of the SDK and runtimes themselves.

[2021-02-05 22:48] omajid commented on #14960
Sounds good.

I am one of the package maintainers for the .NET packages on RHEL and Fedora. Please feel free to loop me in if there's anything Linux-distro related that I might be able to help with.

[2021-02-06 11:06] mattleibow opened #15706 ""dotnet test" fails to write crash dump"
My command:

`dotnet test tests/SkiaSharp.NetCore.Tests -v diag --no-build --blame-crash-collect-always -d diag.log --filter FullyQualifiedName~SkiaSharp.Tests.GRContextTest`

[code]

[diag.log](https://github.com/dotnet/sdk/files/5936703/diag.log)
[diag.datacollector.21-02-06_05-56-18_88961_4.log](https://github.com/dotnet/sdk/files/5936704/diag.datacollector.21-02-06_05-56-18_88961_4.log)
[diag.

[2021-02-06 20:43] ghorsey commented on #11640
I don't this this is an issue for me anymore.

[2021-02-06 20:43] #11640 closed

[2021-02-06 22:06] daveMueller opened #15712 "dotnet build with Microsoft.NETFramework.ReferenceAssemblies can't find 'Microsoft.VisualBasic.dll'"
Hello,

I'm currently trying to build a Visual Basic project with target framework v4.7.2 via ```dotnet build``` on linux. As far as I know this should be possible when using the package ```Microsoft.NETFramework.ReferenceAssemblies``` as described [here](https://github.com/microsoft/dotnet/tree/master/releases/reference-assemblies#classic-style-project).
Nevertheless the build job is failing with

[2021-02-07 01:15] jiangzeng01 commented on #15351
@sfoslund Thanks for fixing, the fix merged into master. Will this fix merge into Preview 1 release?

[2021-02-07 05:38] Zheng-Li01 commented on #15154
Verified the issue with .NET 6.0.0-preview.2.21101.3 that the issue it not repro for now, so closed it.

[2021-02-07 05:38] #15154 closed

[2021-02-07 09:20] kryptobi commented on #15668
its not an issue by .net5. its an issue by avira. anything build fine if i close the realtime monitoring.

[2021-02-07 09:20] #15668 closed

[2021-02-07 11:05] JonathanLydall commented on #12160
Hi @dsplaisted,

I just tested this now on my local machine and it is still an issue.

Repro steps:

- Clone and checkout `https://github.com/IntentSoftware/Intent.Modules` (at the time head was commit `b2f6d7eca0d965c6c9c183cf42b3eff14dd11f8e`)
- `cd Modules/Intent.Modules`
- `dotnet pack -bl`

The console showed the following output:
[code]

Here is the binlog of the build:
[msbuild.zip](https:/

[2021-02-07 11:13] AraHaan commented on #12160
@JonathanLydall what .NET SDK are you using? On my machine dotnet pack builds with my .NET SDK 5.0.2 when I disable sdk roll farward on my global.json, perhaps you should try out the 5.0.2 SDK.

[2021-02-07 13:12] JonathanLydall commented on #12160
[code]

I would rather not install preview versions and deal with any potential issues resulting from doing so.

[2021-02-07 13:28] AraHaan commented on #12160
@JonathanLydall no offense but testing the preview versions would let you know early if it still does not work and also lets the people maintaining the SDK know before release if it is still broken so it could be fixed.

Also you should cleanup those runtimes, usually only the latest ones are used anyways no matter what the TFM you target.

[2021-02-07 15:24] JonathanLydall commented on #12160
@arahaan, with all due respect, regardless of whether or not you _intended_ to cause offense, you nevertheless _did_. I politely stated my reasonable reasons for not wanting to run preview versions and I don't feel it's polite of you to presume to know my situation well enough to criticize it.

Prior to my posting, I actually already had a workaround to this issue, so I don't personally _need_ it

[2021-02-07 15:45] jebediah47 commented on #11533
THANK YOU MAN YOU HELPED ME A LOOOOOT! THANKS!

[2021-02-08 03:40] agocke opened #15726 "Proposal: cleaning up `publish` UX"
In using and helping others use `dotnet publish` I've found a few behaviors confusing and thought of a few minor changes that could help improve the experience. I'll list some thoughts below: I think many of them are independently useful and we can pick and choose what is most effective.

First, I think there's a fair bit of confusion about what the purpose of `build` is (or should be) and the pur

[2021-02-08 03:42] agocke commented on #15726
@richlander @samsp-msft @KathleenDollard I'd appreciate any feedback you have on this!

[2021-02-08 05:41] tames307 opened #15728 "System.Xaml not found in .NET 5.0"
I'm attempting to migrate some .NET Framework 4.7.2 projects to .NET 5.0 but it appears that System.Xaml is missing.  The projects will be use on multiple platforms so it must be net5.0 and not net5.0-windows.

I raised this issue on the Developer Community site and they redirected me here, even though the issue has nothing to do with WPF... they insist that XAML must be a WPF related thing.  I am

[2021-02-08 10:55] stefanloerwald opened #15729 "Feature request: --no-cache for dotnet new"
Hi, similar to https://github.com/dotnet/sdk/issues/9577, there's currently no way to to force an update to the cache of packages used for `dotnet new` other than to wait. It would be great if `dotnet new` also understood `--no-cache` such that the cache can be avoided explicitly.

[2021-02-08 16:37] sfoslund commented on #15351
No, this fix will be in preview 2.

[2021-02-08 16:49] mdrexel commented on #11803
Unfortunately we were not able to leverage the `PrivateAssets` trick in our solution, because it breaks the automatic assembly binding redirect generation. Is there any other existing mechanism to prevent these transitive package references, without impacting the binding redirects?

[2021-02-08 18:38] shirhatti opened #15740 "dotnet watch should append to env variables, not override them"
dotnet-watch currently clobbers a few environment variables, rather than appending to them:
- `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES`
- `DOTNET_STARTUP_HOOKS`

There was a PR created that was never merged- https://github.com/dotnet/sdk/pull/15450

[2021-02-08 21:15] joeloff commented on #15222
What does ```dotnet new --show-all``` produce? Do you have templates installed under Program Files\dotnet\templates? Doesn't seem to be a PATH issue because you'd get a completely different error

[2021-02-08 21:29] sfoslund commented on #15677
cc @captainsafia

[2021-02-08 21:31] sfoslund commented on #15665
@francisminu what version of the SDK are you using? Can you provide the results of `dotnet --info`?

[2021-02-08 21:34] francisminu commented on #15665
Please find below the screenshot:
![image](https://user-images.githubusercontent.com/14043523/107284161-f6fadc80-6a22-11eb-84c4-66e6f560f52c.png)

Please let me know if you need any more information.

[2021-02-08 21:38] sfoslund commented on #15667
I'm not quite following what your scenario is from the original description, do you have a WPF project referencing net5.0 windows projects? Can you provide a minimal repro solution? Thanks!

[2021-02-08 21:41] sfoslund commented on #15665
FYI @dominoFire

[2021-02-08 21:52] sfoslund commented on #15654
VS build and dotnet msbuild behavior will not always match exactly, so it sounds like this is expected. It looks like VS detects that no files have been changed and does not run the build the second time (meaning it skips the post build event too). Since that logic does not exist on the command line, when you run 'dotnet msbuild' or 'dotnet build' the build and the post build event are both rerun

[2021-02-08 22:35] captainsafia commented on #15740
cc: @pranavkm

[2021-02-08 23:37] adityapatwardhan opened #15748 "NETSDK1148 error when building for runtime win7-x86"
We are seeing an issue when trying to build Powershell against .NET 6 preview.1 SDK. The error is:

[code]

The command line used to build:

[code]

Might be related to #14020

/cc @sfoslund as per Marc Paine.

[2021-02-08 23:45] sfoslund commented on #15748
This is a new error added with .NET 6, this comment provides some details on what it means: https://github.com/dotnet/aspnetcore/issues/29524#issuecomment-772288480. This error is very project dependent so if you need help debugging please provide [a binlog](https://github.com/dotnet/msbuild/blob/master/documentation/wiki/Binary-Log.md) recreating the error.

[2021-02-08 23:45] marcpopMSFT commented on #15619
This issue was moved to NuGet/Home#10558

[2021-02-08 23:45] #15619 closed

[2021-02-08 23:48] marcpopMSFT commented on #15610
What version of VS are you using?  What version of the .NET SDK are you using (run `dotnet --info`)?  What TargetFramework does your project target?  From the error, it looks like you're targeting net6.0 in your project but using an older SDK in VS (do you have preview SDKs enabled in the VS Tools->Options menu)?

[2021-02-08 23:49] adityapatwardhan commented on #15748
Attaching the binlog as requested.
[msbuild.zip](https://github.com/dotnet/sdk/files/5947569/msbuild.zip)

[2021-02-09 00:16] joeloff commented on #15119
@lGSMl Could you provide a bit more details? Are these exunit based tests? I tried this on RHEL with the same SDK by creating a solution with two projects, but running something like ```dotnet build-c releases``` followed by ```dotnet test -c ReLeaSE``` worked. The path appeared to be normalized to bin/Release always.

Are you overriding any properties or using additional SDKs?

[2021-02-09 00:21] wli3 commented on #15679
This is by design. We have few build servers running after the build is done to have better performance. Like Roslyn and msbuild reusable node. You can use https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build-server command to shutdown them.

[2021-02-09 00:21] #15679 closed

[2021-02-09 00:26] wli3 commented on #15689
@olgaark is that something you know?

[2021-02-09 00:57] EdiWang commented on #11423
.NET 5.0 has the same issue

[2021-02-09 00:58] lGSMl commented on #15119
no, it is not exunit - just regular call from shell. I have provided OS details, steps, and docker image where issue occurs and should be reproducible - not sure what other details required

[2021-02-09 01:08] wli3 opened #15751 "DuplicatePublishOutputFiles error should show what is duplicated"
Task CheckForDuplicateItemMetadata should show what is duplicated. So we can save time for the user of the investigation

[2021-02-09 01:21] #15541 closed

[2021-02-09 06:09] NicoleWang001 opened #15757 "[ARM32]With .NET 6 Preview1, running application failed with error required library libhostfxr.so could not be found."
Repro steps:
1. Prepare Ubuntu20.04 or Alpine 3.1.13 container on arm 32
2. Install .NET 6 Preview1 with arm installer
3. New a console app and try to run it

Expected Result:
1. App could be run successfully

Actual Result:
1. Running app failed with error required library libhostfxr.so could not be found.

[code]

[code]

[2021-02-09 06:53] NicoleWang001 opened #15758 "On Mac(Apple M1),SDK-6.0-osx-arm64 need Rosetta"
**Affected Mac:**
Mac OS: Big Sur(11.2) - Apple M1 chip
.NET 6 arm64: 6.0.100-preview.1.21106.4(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
1.Install .NET arm64 SDK 6.0.100-preview.1.21106.4(runtime 6.0.0-preview.1.21102.12)

**Expected result:**
Native ARM 64 SDK can install without rosetta

**Actual result:**
It need install rosetta to install .NET arm64 SDK
![image](https://user-

[2021-02-09 06:56] NicoleWang001 opened #15759 "[ARM64]Running "Dotnet --info" failed if install SDK 6.0-osx-arm64 at first and then install VSM."
**Affected Mac:**
Mac OS: Big Sur(11.2) - Apple M1 chip
VSFM:8.9 Preview (8.9 build 1582)
3.1.406(runtime:3.1.12) & 5.0.103(runtime:5.0.3)
.NET 6 arm64: 6.0.100-preview.1.21103.13(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
	1. Install dotnet-sdk-6.0.100-preview.1.21103.13-osx-arm64
	2. Run "Dotnet --info"
	3. Install VSM8.9 Preview(8.9 build 1582)
        4. Run "Dotnet --info"

**

[2021-02-09 06:59] NicoleWang001 opened #15760 "[ARM64]Running Console & UT app failed with error "An error occurred while loading required Library Libhostpolicy.dyLib" when retargeting framework from 6.0 to lower version(5.0 or 3.1)."
**Affected Mac:**
Mac OS: Big Sur(11.2) - Apple M1 chip
VSFM:8.9 Preview (8.9 build 1582)
3.1.406(runtime:3.1.12) & 5.0.103(runtime:5.0.3)
.NET 6 arm64: 6.0.100-preview.1.21103.13(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
1.Create a project(console/test) on VSFM or Cli
2.Retarget framework from 6.0 to 5.0
3.Build & Run this project

**Expected result:**
This project will run succe

[2021-02-09 08:00] svetovid commented on #15225
![image](https://user-images.githubusercontent.com/9212389/107332956-18a4a400-6ab5-11eb-9e37-5063ff4d78de.png)
SDK from master branch works.

[2021-02-09 08:14] codingdave commented on #15654
Hi @sfoslund, thanks for your reply.

It looks like dotnet cannot deal with incremental builds. I am using the postbuild event in this example only to showcase that the incremental build does not seem to work.

[2021-02-09 09:28] zlepper opened #15761 "Dotnet publish doesn't pass along specific configuration to dependent csprojects not specified in solution file"
We have a project structure where we are running with 2 solution files. One solution file lists all projects, and are where we normally develop things. The other solution file only lists the main microservices that needs to be published. We do this to make it possible to use the `dotnet publish` command, and leverage proper parallel builds for all the microservices.

Right now this works because d

[2021-02-09 11:12] shanieMoonlight commented on #15667
Hi @sfoslund here's a repo: [https://github.com/shanieMoonlight/ClickOnceTest](url)

If you look at the ClickOnceHelper.csproj  the target framework is set to
` <TargetFramework>net5.0</TargetFramework>`

This will run fine from VS but if I try to publish it with ClickOnce I get the following error: Assets file 'C:\Users\Shane\Documents\Visual Studio 2019\Projects\ClickOnceTest\ClickOnceTest\Click

[2021-02-09 13:27] Kuinox opened #15767 "[sdk 6.0.100-preview.1.21107.2-win-x64] dotnet tool fail due to argument passed to the tool."
The cli tries to parse the '-v' argument that is passed to the tool, previously the cli ignored this argument.
[code]
I believe this is a regression from .NET 5.

[2021-02-09 14:07] AraHaan commented on #15679
@wli3 why not use environment variables to opt out of the build server entirely?

[2021-02-09 15:06] francisminu commented on #15665
Hi @dominoFire
Could you please take a look as this is causing major issues in our case as we have a custom cli that was created to automate various processes and this is one of the steps which if not succeeded, doesn't serve the purpose of the CLI.

Thanks in advance!

[2021-02-09 16:56] sfoslund commented on #15751
@wli3 the task already does output the duplicated files:
<img width="740" alt="DupItemMetadata" src="https://user-images.githubusercontent.com/16010855/107398455-7b497000-6ab4-11eb-8327-8cbd82a944ad.PNG">

Then the resulting error is:
error NETSDK1148: Found multiple publish output files with the same relative path: C:\Users\user\.nuget\packages\microsoft.netcore.app.runtime.win-x86\6.0.0-preview.

[2021-02-09 17:20] Fabi opened #15771 "Product version is always set to 1.0.0"
I currently try to set the actual Product version of my applications but the compiler always sets it to 1.0.0.
The generated Project.AssemblyInfo.cs file in the obj directory does not honor any used `AssemblyInformationalVersionAttribute` set within project or code files. It always ends up using `[assembly: System.Reflection.AssemblyInformationalVersionAttribute("1.0.0")]`

This happens in all .NE

[2021-02-09 17:22] lGSMl commented on #15119
@joeloff  as I was trying to make a public reproducible scenario I figured out there is indeed a detail I have missed that is a culprit - using RID.

I have created a small showcase with github action that reproduces above mentioned scenario
https://github.com/lGSMl/dotnet-issue-showcase/runs/1864980214
(never used github actions before - lemme know if I have to grant extra access there or somethi

[2021-02-09 17:28] kordys commented on #15482
It looks like this approach works as you described.

The thing is I followed the documentation here: https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec.

Where there is this statement: _NuspecProperties: a semicolon-separated list of key=value pairs. Due to the way MSBuild command-line parsing works, multiple properties must be specified as follows: -p:NuspecPr

[2021-02-09 17:39] lGSMl commented on #15119
going one step further I figured out RID has nothing to do with it - the root cause is that dotnet normalizes `-c release` to `Release` if used on solution, but does not do that if ran on project level.

The latest showcase can be found here
https://github.com/lGSMl/dotnet-issue-showcase/runs/1865106137

RID topic came up as with latest SDK I can not use RID for the whole solution while building,

[2021-02-09 17:58] sfoslund commented on #15667
@shanieMoonlight can you provide the version of VS and the SDK you're using? Did you try restoring then rerunning publish as the error message indicates?

[2021-02-09 18:08] shanieMoonlight commented on #15667
I've tried restoring and republishing a load of times. The only thing that did it was to declare that the library was targeting net5.0-windows.
Basically the publisher is expecting to see the referenced project .dlls in a folder named net5.0-windows, and my VS won't do it unless I explicitly state it in the csproj.
I think this is because the WPF project (the main project) is targeting net5.0-wind

[2021-02-09 18:31] sfoslund commented on #15667
@dsplaisted is this a known issue with 16.8?

[2021-02-09 18:43] joeloff commented on #15119
Thanks, this helps a lot. I had access to view the build output.

[2021-02-09 23:00] pranav-ninja opened #15785 "unable to build brand new project after upgrading to 5.0.3"
[code]

[2021-02-09 23:55] pranav-ninja commented on #15785
System.IO.FileNotFoundException: Could not find file '/usr/share/dotnet/packs/Microsoft.NETCore.App.Ref/5.0.0/data/FrameworkList.xml'.

Found files on different path:
/usr/lib64/dotnet/packs/Microsoft.NETCore.App.Ref/5.0.0/data/FrameworkList.xml

[2021-02-10 01:26] NicoleWang001 opened #15789 "[ARM64]zsh: killed" occurred when run the executable file in the publish directory"
**Setup:**
Mac OS: Big Sur(11.2) - Apple M1 chip
.NET 6 arm64: 6.0.100-preview.1.21103.13(runtime 6.0.0-preview.1.21102.12)

**Steps to reproduce:**
1.Create a project with TFM 6.0
2.Publish it with rid "osx.11.0-arm64"
3. Try to run the executable file in the publish directory

**Expected result:**
The executable file in the publish directory will be  run success

**Actual result:**
zsh: killed"

[2021-02-10 01:46] pranav-ninja commented on #15785
@dagood  solved similar issue #12075

[2021-02-10 01:46] #15785 closed

[2021-02-10 01:54] NicoleWang001 commented on #15758
Close it as it is expected.

[2021-02-10 03:39] dsplaisted commented on #15667
@shanieMoonlight I don't see a repo at https://github.com/shanieMoonlight/ClickOnceTest.  Did you push it to GitHub?

@wli3 Can you tag the right ClickOnce folks to look at this?

[2021-02-10 10:05] shanieMoonlight commented on #15667
@dsplaisted Sorry the repo was set to private. Try again and let me know if youcan't see it. I'm not an expert at GitHub

[2021-02-10 12:31] peterdrier commented on #14297
That link states fixed, yet I'm still having the problem in 16.8.4..

[2021-02-10 12:40] peterdrier commented on #14279
This isn't actually a solution, as you're fundamentally changing the target of the application to Windows Only.  If you are trying to do cross platform work, it still doesn't work.

[2021-02-10 12:47] AraHaan commented on #14279
I also got a case where I make a copy of a library with usage of windows forms and a copy without by optionally defining ``WITH_WINFORMS`` and have also changed mine recently to support .net 5 by doing the following:

1. adding net5.0 AND net5.0-windows
2. having all of the gui stuff as a common props files that gets imported and controlled by an ``UseGUIFramework`` control switch that only refere

[2021-02-10 13:37] ddelkhosh commented on #3159
If you have  **<DelaySign>false</DelaySign>** in your .csproj file remove it to solve this Problem.

[2021-02-10 15:00] wli3 commented on #15679
@AraHaan this comment could you help you https://github.com/dotnet/sdk/issues/10288#issuecomment-770528616

[2021-02-10 16:15] satishviswanathan commented on #15665
I'm also facing the same issue. Any help on this is appreciated.

[2021-02-10 16:47] dug9000 commented on #11820
We are seeing this same issue on Windows 10 pipeline builds as well. Currently we are doing the following to workaround it:
    if (HasEnvironmentVariable("USERPROFILE") && DirectoryExists(EnvironmentVariable("USERPROFILE") + "/.dotnet/toolResolverCache"))
    {
        DeleteDirectory(EnvironmentVariable("USERPROFILE") + "/.dotnet/toolResolverCache", new DeleteDirectorySettings { Recursive = true

[2021-02-10 18:24] JohnyL commented on #14974
Any news on this? I still get this error in VS 16.9.0 Preview 4.0. It's impossible to work. Moreover, this error doesn't appear in Error List.

[2021-02-10 18:52] dominoFire commented on #15665
@francisminu @satishviswanathan Did you run restore before adding your package? When using `--source` parameter, it only uses that source to lookup and restore the package to add. It might be necessary to restore packages before adding the new package from local source.

I tested the command in 5.0.103 and found no issues.

Could you please try your command with dotnet SDK 5.0.103 ?

If the error

[2021-02-10 19:28] sfoslund commented on #15748
From the binlog it looks like the conflict should be resolved by HandlePackageFileConflicts but since the casing is different between the two file names (API-MS-Win-core-xstate-l2-1-0.dll and api-ms-win-core-xstate-l2-1-0.dll) it isn't marked as a conflict and doesn't get resolved.

@dsplaisted is this expected since different platforms have different policies on casing in file names? Is this an i

[2021-02-10 19:42] francisminu commented on #15665
`C:\Program Files\RabbitMQ Server\rabbitmq_server-3.6.10\sbin>dotnet add C:\Project\SynapseModernization\2020\wms-api\services\Receiving\src\Receiving.Api\Receiving.Api.csproj package Receiving.Models --source C:\Project\SynapseModernization\2020\openapi-spec\models\csharp\Receiving.Models\nupkgs --prerelease
  Determining projects to restore...
  Writing C:\Users\mfrancis\AppData\Local\Temp\tmp66

[2021-02-10 20:22] scottmss commented on #10172
I found this error was happening to me when using Google Cloud Run with Jetbrains Rider. To resolve I closed Rider. Deleted the Obj and Bin directories and then deployed the project from outside of Rider.

[2021-02-10 21:02] joeloff commented on #15119
I'm able to repro this now locally.

[2021-02-10 22:16] marcpopMSFT commented on #15590
@agocke crossgen related.  Where should we route these?

[2021-02-10 22:17] agocke commented on #15590
@mangod9 Thoughts?

[2021-02-10 23:12] mangod9 commented on #15590
moving runtime repo with `label:area-ReadyToRun-coreclr` should be the right categorization for this, though we will need more context on how store calls into crossgen

[2021-02-11 00:20] wli3 commented on #14954
This is a scenario required by VSMac updater. While the user is using VSMac, the updater could download packages in the background. And then later prompts the user to install them in bulk. .NET SDK need to fit in this case. When there is a new SDK available("suggest to update" every 4 month, "have to update" every year), the current SDK may not be able to work with the latest workload, but it shou

[2021-02-11 01:15] wli3 commented on #15751
Hmm. Looks like the bug reporter did not include everything. Sorry about that.

[2021-02-11 01:15] #15751 closed

[2021-02-11 08:28] ThorstenReichert commented on #12490
Similar issue here. The `dotnet` commands are ignoring the `publishUrl` field in the .pubxml. In my case, neither `dotnet publish` nor `dotnet build /p:DeployOnBuild=True /p:PublishProfile=FolderProfile` publish to the correct folder:
- `dotnet build /p:DeployOnBuild=True /p:PublishProfile=FolderProfile` publishes to `<project-dir>/obj/Release/netcoreapp3.1/PubTmp/Out`
- `dotnet publish` publishes

[2021-02-11 09:16] jameswoodley commented on #15590
Morning, to give a little more context, I went through my dependency tree and a few of the MS packages were no longer supporting netcoreapp3.1 - I went through and downgraded them so they still supported and this started working. Seems either cross-gen can't go across frameworks, or there were breaking changes in some of the MS packages

[2021-02-11 13:19] tmds opened #15812 "Q: check public API changes as part of the build"
Some of the dotnet repos check for public API changes as part of the build.

I haven't tried figuring out how it works.

Is this tooling available, and can it be used for C# library projects?

cc @ViktorHofer

[2021-02-11 14:38] ViktorHofer commented on #15812
This is accomplished via [ApiCompat](https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.ApiCompat) which is used in the runtime libraries build. @safern is working on productizing ApiCompat: https://github.com/dotnet/designs/pull/177

[2021-02-11 14:45] tmds commented on #15812
Thanks @ViktorHofer !

[2021-02-11 14:45] #15812 closed

[2021-02-11 14:50] Youssef1313 opened #15813 ".NET 5.0+ shouldn't have "Core" suffix in error messages"
See

![image](https://user-images.githubusercontent.com/31348972/107652368-2d399580-6c89-11eb-87da-65a30f4a7c1d.png)

## Actual behavior

## Expected behavior

[2021-02-11 15:26] AraHaan opened #15815 "[.NET 5 built in Analyzer] CA1069 False Positive when scanning enum values."
When analyzing the following enum it choked up saying the value is equal to itself and must not be duplicated 😂.

[code]
I usually have this enum inside of an ``NativeMethods`` class for Windows that basically then uses these flags to make a screenshot of the entire monitors (and then try to also screenshot any other monitors it finds and then combine them together).

You should notice it would ei

[2021-02-11 19:14] tlakollo opened #15819 "Add new test for sdk that reflects 'link' mode trimming"
As explained in [comment](https://github.com/dotnet/sdk/pull/15764#issuecomment-777105714) the linker mode has an effect on when to use substitutions. If the assembly is marked as 'copyused' and has an embedded substitution file, then the substitution file will be ignored (the file cannot be modified if marked as 'copyused'). If the assembly is marked as 'link' and has an embedded substitution fil

[2021-02-11 19:30] mangod9 commented on #15590
Ok, thanks for the update. Is it ok to close this for now?

[2021-02-11 23:10] AraHaan opened #15823 "[CreateAppHost] fails on building with the .NET 6 preview1 SDK (21108.2)"
outputs from ``dotnet build`` on my winforms project (targets net472 and .NET 5.0 and uses the .NET 5 SDK to fix an issue with nuget resolve what will be in the 16.10 VS Preview I think). This same output also happens when building with Visual Studio as well.
[code]

[2021-02-12 00:18] dsplaisted commented on #15748
![Why not both?](https://user-images.githubusercontent.com/145043/107715427-1e041900-6c84-11eb-8a3e-e67ca58a38c1.png)

It looks like this is a package that we produce, so we should be consistent about the casing.  So we should probably file a bug (on dotnet/runtime I think) for that.

It also might be a good idea to do case-insensitive comparison when doing conflict resolution.

Pros:

- Conflict

[2021-02-12 02:03] DamianEdwards opened #15825 "Hot Reload from the .NET CLI"
This epic covers all scenarios relating to supporting Hot Reload and associated experiences (including auto-build, auto-restart, etc.) from the .NET CLI in .NET 6.

[2021-02-12 09:16] jameswoodley commented on #15590
I guess.. I can't imagine I'll be the only one to come across this, but I suppose the packages do use semver so a breaking change was to be expected.

Have closed

[2021-02-12 09:16] #15590 closed

[2021-02-12 12:08] credfeto commented on #3853
I've just run into this -> did you find a way around it?

[2021-02-12 16:00] johnkors commented on #3853
Nope. Had to push a newer version.

[2021-02-12 16:56] sfoslund commented on #15748
Cool, I filed an issue on the runtime. It seems like changing to case insensitive comparisons would be ideal for case insensitive file systems, but I would be concerned about the effect on case sensitive file systems, I agree that it would probably be a breaking change for some scenarios.

[2021-02-12 17:29] AraHaan commented on #15823
6.0.100-preview.1.21107.2 works, however it broke after that version.

[2021-02-12 17:58] dsplaisted commented on #15748
MSBuild already does case insensitive comparisons in a lot of places.  So I'm not sure this would break the scenario where you have files that only differ by case any worse than it already is broken.  Certainly there is some amount of risk though.

[2021-02-12 20:14] RobbieReboot commented on #4179
you're missing "redirectStandardOutput". Set to false to see the script output!
"actionId":  "3A7C4B45-1F5D-4A30-959A-51B88E82B5D2",
                            "args":  {
                                         "executable":  "powershell",
                                         "args":  "-File Setup.ps1",
                                         "redirectStandardOutput":  false

[2021-02-12 22:39] DamianEdwards opened #15849 "`dotnet watch run` supports applying code changes to a running app via Hot Reload"
### User Story
As a user, when using `dotnet watch run` during a development session, I want compatible code changes applied to my running application via the Hot Reload mechanism, so that I can see their impact as quick as possible without losing the current application state.

### Considerations
- This capability should apply at a fundamental level to all project/application types (i.e. workload

[2021-02-12 23:40] DamianEdwards opened #15851 "`dotnet watch run` is configurable with regards to its behavior when source changes are detected"
### User Story
As a user, I want the behavior of `dotnet watch run` to be configurable, so that I can tailor what it does when sources are detected to my preferences.

### Considerations
- There is already the `launchSettings.json` file that the CLI and VS use to customize launch behavior. This seems like the logical place to support storing behavior configuration for `dotnet watch run` at the pro

[2021-02-13 02:05] DamianEdwards opened #15857 "`dotnet watch run` applies project-type-specific defaults for its behavior when source changes are detected"
### User Story
As a user, I want `dotnet watch run` to default to performing reasonable behaviors, appropriate for the project type I'm working on, so that my development experience is productive and enjoyable.

[2021-02-13 11:16] JensNordenbro commented on #15480
We will go with the NuGet route for now regarding the extra references.
If this works this detail will not matter in the long run...

[2021-02-13 11:16] #15480 closed

[2021-02-13 17:53] henrikse55 opened #15863 ""MSB4018 ResolveTargetingPackAssets task failed unexpectedly" after updating to 5.0.103"
### Description

After updating dotnet to 5.0.3 via `dnf update`, I'm finding myself unable to build any project resulting in the error:

[code]

### Configuration

OS: Fedora 33 x64
Dotnet: 5.0.103 via Microsoft repo dnf
Dotnet info which lists all versions I've tried:
[code]

### Regression?

Initially, I believed this was a dotnet 5.0.103 issue due to it starting after updating to said version

[2021-02-13 19:57] AraHaan commented on #15823
cc: @dsplaisted

[2021-02-14 03:27] scottsauber opened #15864 "`dotnet watch run` auto-refresh for Razor Pages/MVC broken when using Serilog"
`dotnet watch run` on a Razor Pages app won't autorefresh when following the default Serilog ASP.NET Core instructions: https://github.com/serilog/serilog-aspnetcore#instructions.

The reason is because Serilog's default format is this:
`[21:02:12 INF] Now listening on: https://localhost:5001`

While the default Logger's format is this:
[code]

And [this RegEx](https://github.com/dotnet/sdk/blob/f

[2021-02-14 11:05] JohnyL commented on #14974
I would like to add that this _does not_ happen in console app, but _does_ happen in WPF or WinForms app.

[2021-02-14 12:42] sysek opened #15866 "`dotnet new` is not showing list"
After update on openSuse to version `5.0.103`, command `dotnet new` is now working properly, it should print me list of template but instead of that I've got exception

[code]

I've saw couple of topics here but no resolve. I also try do `dotnet new --debug:reinit` but nothing shows up on terminal.

`dotnet --info`
[code]

`/usr/share/dotnet/templates/`
[code]

[2021-02-15 08:11] albertomandlate commented on #13954
I'm having the same problem, and I don't have any folder containing any of those characters.

[2021-02-15 09:20] AndreyMikhailov commented on #12345
Just faced this problem. Thought this would be fixed in .net 5.0. But sadly no.

[2021-02-15 09:36] Kampfmoehre commented on #15863
Downgrading the dotnet-sdk-5.0 package did not work for me, had some other problems then (probably because dotnet-host and other packages where not downgraded). So I resolved this by doing the following:
1. remove any dotnet packages with  `sudo dnf remove dotnet*`
2. disable the Microsoft Prod repo (done this via Software UI)
3. install dotnet-sdk-5.0 (and 3.1 in my case because I still need it i

[2021-02-15 12:37] GeorgeAlexandria opened #15870 "Dependency manifest (deps.json) has no entry for Private=false reference and additionalProbingPath doesn't work"
Hello,

I try to move app from net472 to net5 using Visual Studio 16.8.3 and netcore sdk 5.0.101. App use external libraries/apps (that are build under net472) and reference a couple of them. To avoid a several copy of references (`Private=false`) and to separate them from main app in folder them are placed in sub folder and app has a corresponding `probing` in the `app.config` to correctly load t

[2021-02-15 14:39] henrikse55 commented on #15863
Thanks to @Kampfmoehre solution, dotnet is now working for me again.

It does seem there's a difference between repos.
running `dnf repoquery --info --file /usr/share/dotnet/packs/Microsoft.NETCore.App.Ref/5.0.0/data/FrameworkList.xml` shows `dotnet-targeting-pack-5.0` package from repo `packages-microsoft-com-prod` provides the missing file even though 2 other repos (`update` and `@system`) which

[2021-02-16 01:05] dsplaisted commented on #15823
This looks like a dupe of #15225.  See that issue for details as well as a workaround.

[2021-02-16 01:05] #15823 closed

[2021-02-16 10:44] TwistedAnckle commented on #11489
@dsplaisted  I have the same issue (System.Drawing.Common.dll not copied after publish) after upgrading .NET Core SDK from 3.1.101 to 3.1.405.

I have **Web** project (using Microsoft.NET.Sdk.Web) that references **Library** project (using Microsoft.NET.Sdk).

The **Library** project references nuget package (target framework netstandard2.0). The nuget package has a System.Drawing.Common dependenc

[2021-02-16 11:28] sysek commented on #15866
I solved problem by removing everything include dotnet configuration, now `dotnet new` is working

* `~/.dotnet`
* `~/.nuget`
* `/usr/share/dotnet`

[2021-02-16 11:28] #15866 closed

[2021-02-16 13:16] sharpninja opened #15888 "Cannot capture exception from Tool"
I am getting a very long stack dump from the EF Core tool and I need to capture it.  I've tried all of these to no avail:

[code]

All capture this output:

[code]

The exception still logs to console.

[2021-02-16 13:28] onurcanyilmaz opened #15889 "The process cannot access the file ...."
SDK :  .NET 5.0.103
Hello,
I have a simple problem.
I have a DDD project with ASP.NET CORE 5
These are;  Api, Application,  Domain and EfCore

I took write a command "dotnet build".
But terminal gave this error

_C:\Program Files\dotnet\sdk\5.0.103\NuGet.targets(131,5): error : The process cannot access the file 'C:\Users\username\.nuget\packages\microsoft.entityframeworkcore.tools\5.0.3\tools\net

[2021-02-16 13:43] AnakinSklavenwalker commented on #15889
same issue here. never happened before.

problem for me seems to be `dotnet clean` creates a bunch of `dotnet.exe` which stay open as background process.
Also this only seems to happen on Windows. Running everything via WSL ubuntu shell seems to work fine.

[2021-02-16 14:10] rostacik commented on #14297
https://stackoverflow.com/questions/64786573/need-help-migrating-winform-to-net-5 - would **<TargetFramework>net5.0-windows</TargetFramework>** do the job? worked for me.

[2021-02-16 15:02] onurcanyilmaz commented on #15889
Thanks @AnakinSklavenwalker
My project created in visual studio code.

I dont have .sln file and i dont want to create .sln file.
Because other contributor does not have this problem
Do you have any other solution.

[2021-02-16 15:57] AnakinSklavenwalker commented on #15889
no i don't have any other project.
it also seems i'm unable to reproduce this constantly. Either on new projects or even on my current project.

[2021-02-16 17:26] dsplaisted commented on #11489
@TwistedAnckle Would it be possible for you to provide a repro project, and/or a [binlog](https://aka.ms/binlog) of the publish operation?

Does this fail only in IIS?

[2021-02-16 17:35] Apostolique opened #15916 "API Proposal: Add the ability to set a version in a ProjectReference"
## Background and Motivation

When including a project using a `ProjectReference`, it would be useful to be able to give a version number manually. This would be useful when the included project is setup to get a version number from a CI and therefore no version is set locally.

This would be useful in projects where you have a PackageReference that depends on a version of the ProjectReference.

T

[2021-02-16 22:40] Piedone commented on #2108
Did you figure this out @chaami? Same thing here. MVC builds break via `dotnet build` due to this.

[2021-02-16 22:42] sbomer opened #15905 "Change default TrimMode to link"
The default [`TrimMode`](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming-options#trimming-granularity) for ILLink is `copyused`, which will keep an entire assembly if it is statically used. The primary advantage of `copyused` over `link` is that it keeps more code, making it more likely that the linked application will work. But this has a few downsides:
- We keep code which is unu

[2021-02-16 23:30] agocke opened #15906 "Determine trimming defaults for different application types"
For .NET 6.0 we need to determine what configuration we offer and recommend for trimming, as well as the default setting for different application types.

The settings we need to determine are:

- [x] Is trimming `copyused` or `link` by default? (https://github.com/dotnet/sdk/issues/15905)
- [x] When are trim warnings enabled by default?
  - [x] Full application trimming for Xamarin?
  - [x] Blazo

[2021-02-16 23:31] agocke commented on #15906
cc @vitek-karas @sbomer @eerhardt

[2021-02-17 03:16] tdeeb commented on #4273
I'm still getting this issue in .NET 5, specifically CoreCLR and CoreFX versions 5.0.321.7203 with the .NET 5.0.103 SDK.

Any status on what caused this regression and any possibility for a fix? @agocke

[2021-02-17 04:11] captainsafia opened #15910 "Improve error reporting in Razor source generators"
To provide a better user experience, we should consider the feedback provided in https://github.com/dotnet/sdk/pull/15756#discussion_r577235321 and https://github.com/dotnet/sdk/pull/15756#discussion_r577235943 and improve the experience for presenting diagnostics from the Razor source generator.

[2021-02-17 04:23] am11 opened #15911 "dotnet tool search --add-source"
The lack of `--add-source` option in dotnet-tool-search is unexpected and unsymmetrical to other subcommands of dotnet-tool.

[code]

[2021-02-17 05:01] wli3 commented on #15254
Prefer to https://github.com/NuGet/NuGetGallery/issues/8373#issuecomment-780298879

[2021-02-17 05:03] wli3 commented on #15254
The current behavior -- asking the user to run `dotnet new tool-manifest` is about the same level of work comparing with asking the user to add a parameter to `dotnet tool ...` command. I think it is fine adding another option.

[2021-02-17 05:28] augustoproiete commented on #15254
@wli3 The end goal is to be able to run a command (or set of commands) that **ensures** that a particular dotnet tool, of a particular version, is installed.

#### Use-case: Write a set of instructions on how to add a dotnet tool, that someone can copy/paste and run, and it always works.

Let's examine the following example:

[code]

At the moment, it's impossible to guarantee that the instruction

[2021-02-17 08:26] chaami commented on #2108
Hi @Piedone ,
The only way out of this mess was switching to the new project format.
Somehow this made the `dotnet build` command do the right thing...
I guess there is something broken while handling the legacy csproj format...
To be honest I didn't check that the AspNet pages are compiled through those builds, but my understanding is that's automatic in the `dotnet publish`...
Good luck ;-)

[2021-02-17 11:22] SteveSandersonMS opened #15913 "Razor source generator incrementality goes wrong on downgrades"
This is to track fixing the issue identified at https://github.com/dotnet/sdk/pull/15756#pullrequestreview-590371197

The most likely case where this affects someone is when downgrading to an older dependency, but would also affect them when upgrading to one that's already cached locally.

[2021-02-17 11:34] TwistedAnckle commented on #11489
@dsplaisted Repro solution attached below.
[WebApplication.zip](https://github.com/dotnet/sdk/files/5995297/WebApplication.zip)

There are 2 Web projects: with runtime specified and without.
Specifying runtime seems to help the newer MSBuild to copy System.Drawing.Common dependencies.

When runtime is not specified, newer version of MSBuild does not copy all dependencies (see files list below).

P

[2021-02-17 14:10] Piedone commented on #2108
I see, thanks! I did consider migrating to the new project format but it seems we can't just do it currently due to completely unrelated reasons.

[2021-02-17 16:29] kroppt commented on #15399
I have this same issue, but the scope is broader than just globally installed tools. I am using local tools manifests for my repositories. This error can still occur on a build server, for me on the `dotnet restore` step. I must restore to ensure the tools are locally installed at the specified versions. This does not happen every time, though.

A simple reproduction for this issue is the followin

[2021-02-17 17:02] adam230594 commented on #15297
I'm experiencing this on a self-hosted Azure DevOps BuildAgent which fails randomly on dotnet commands on .net core 3.1 projects

[code]

`dotnet --info`

[code]
The build succeeds but since the process is returning with exit code null the build process fails.

[2021-02-17 17:10] jeffschwMSFT commented on #15689
@jkoritzinsky can you take a look?

[2021-02-17 17:14] wli3 opened #15915 "Fix aspnet targeting pack to different branches"
log in case I forget

https://github.com/dotnet/installer/pull/9736/commits/ad7e175e66b0694aee23a29bab842f82cda4e785 need to be ported to master and 5.0.1xx

[2021-02-17 18:57] joeloff commented on #14525
.NET Core 2.2 is out-of-support and was removed from Visual Studio (similarly for 2.0). Are there any remnants of 2.2 on the machine with the 16.8 install where publishing is failing? It's possible that the framework specific targets are absent and causing publishing to fail with a vague error

[2021-02-17 20:24] joeloff commented on #15051
FYI @vijayrkn

[2021-02-17 22:00] #15864 closed

[2021-02-17 22:02] dsplaisted commented on #15767
@sfoslund This looks like an issue with the new command line parser

[2021-02-17 22:04] wli3 commented on #15916
This issue was moved to NuGet/Home#10575

[2021-02-17 22:04] #15916 closed

[2021-02-17 22:05] wli3 commented on #15911
Unfortunately we currently rely on a nuget.org API for the package search. So it is not trivial to add support for other feeds

[2021-02-17 22:14] dsplaisted commented on #15596
Hi @knoopr,

Could you provide more details about how these automatically generated attributes are causing problems?  A repro project or a [binlog](https://aka.ms/binlog) would be helpful.

[2021-02-17 22:21] KylePreuss commented on #15870
I believe I'm seeing this same issue on SDK 5.0.200-preview.21111.2 (though I'm not utilizing the additionalProbingPath). I have several Private=false project references in an application csproj. This puts entries in deps.json of this application for the project references under "dependencies" section but does not populate the "targets" or "libraries" section. This causes the same error you mentio

[2021-02-17 23:10] heaths opened #15921 "After migrating to System.CommandLine, consider compatibility concerns with completion scripts"
`dotnet complete` was [introduced in .NET Core 2.1](https://docs.microsoft.com/dotnet/core/tools/enable-tab-autocomplete) and, since then, many of us have been enjoying the feature in our shell profiles. For example, in PowerShell's `$profile` is might look something like this:

[code]

Meanwhile, `System.CommandLine` has always had [it's own way of doing this](https://github.com/dotnet/command-li

[2021-02-17 23:11] heaths commented on #15921
/cc @KathleenDollard

[2021-02-17 23:23] marcpopMSFT commented on #14293
We'll use labels of document for new feature and document for breaking change instead.

[2021-02-17 23:23] #14293 closed

[2021-02-17 23:23] marcpopMSFT commented on #14294
We'll use labels of document for new feature and document for breaking change instead.

[2021-02-17 23:23] #14294 closed

[2021-02-18 00:52] mairaw commented on #15748
I'm also getting this error on the preview pipeline for the dot.net website using the .NET 6 Preview 1 SDK
2021-02-17T23:35:43.3589315Z C:\hostedtoolcache\windows\dotnet\sdk\6.0.100-preview.1.21103.13\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.ConflictResolution.targets(108,5): error NETSDK1148: Found multiple publish output files with the same relative path: C:\hostedtoolcache\windows\dotnet\sd

[2021-02-18 01:07] wli3 commented on #15889
while we are looking into the root cause have you tried to use `dotnet build-server shutdown`?

[2021-02-18 01:11] am11 commented on #15911
With `dotnet tool install --all-source`, when we use `--version` option with non-existent value, the error message shows the highest available version from the source:
[code]

Could the same mechanism be used to search the latest version of package by user keyword as the name?

[2021-02-18 01:47] wli3 commented on #15911
We don't have a separated API to just do version query from any nuget feed. So the nuget team need to refactor to an new API first. Even if we have this API, it will be much slower that the nuget.org search API. Since it is a pre computed index.

[2021-02-18 02:04] am11 commented on #15911
I can imagine in this case user would be okay  with the slow results rather than no results.
I am not familiar with the exact abstractions but to me, this part of the exception string:

suggests that _some_ API somewhere knows the way to traverse these other types of feeds.

[2021-02-18 04:59] wli3 commented on #11555
![image](https://user-images.githubusercontent.com/6993335/108307659-0553a180-7163-11eb-930e-4208f46dac52.png)

[2021-02-18 05:00] wli3 commented on #11555
The problem is you need to have `<OutputType>Exe</OutputType>`. Or it will be considered a library. And a library will only have dlls.

[2021-02-18 05:00] #11555 closed

[2021-02-18 06:33] onurcanyilmaz commented on #15889
Yes, we tried. But we got the same error.
Sometimes we got this error below.

Same SDK .NET 5.0.103

_C:\Program Files\dotnet\sdk\5.0.103\NuGet.targets(131,5): error : The process cannot access the file 'C:\Users\username \.nuget\packages\microsoft.extensions.apidescription.server\3.0.0\tools\net461\GetDocument.Insider.exe' because it is being used by another process. [C:\Users\users\Source\repos\

[2021-02-18 07:42] AnakinSklavenwalker commented on #15889
yes i tried `dotnet build-server shutdown`. it seems to work. but i wished this was not necessary.

[2021-02-18 08:49] Hjortsberg commented on #15863
Running into the same problem, very similar system.
**Configuration**
OS: Fedora 33 x64
[code]

[2021-02-18 09:26] maulwuff commented on #3803
Any progress or workaround for this issue?
I can't restore my solution on linux anymore after switching to `net5.0` respectively `net5.0-windows`.
Building new solutions to just have a CLI branch for linux in there doubles maintenance effort.
That's why there are csproj files in a sln, right? To target specific frameworks. That's not the task of the sln file.

[2021-02-18 09:40] jiangzeng01 opened #15937 "[.NET6] [Source Compat] Epub app doesn't build(NETSDK1004 error) with NET6 SDK"
**Application Name:**  Epub
**OS:** Windows 10 RS5
**CPU: X64**
**.NET Build Number:** 6.0.100-preview.2.21117.13

**Verify Scenarios:**
1. Windows 10 RS5 X64 + .NET Core SDK build6.0.100-preview.2.21117.13: Fail
2. Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-preview.1.21106.4: Fail
3. Windows 10 RS5 X64 + .NET Core SDK build 5.0.103: Pass
4. Windows 10 RS5 X64 + .NET Core SDK build 3.1.405:

[2021-02-18 10:32] AraHaan commented on #3803
I do not think there has been any yet. Are they ignoring us or something?

[2021-02-18 11:08] maxild commented on #15496
I guess that the ongoing plans to make the .NET SDK more composable (less monolithic) with optional 'building-blocks' (bundles, packs or whatever) will justify even more developing better CLI commands/verbs to inspect the acquired tree of 'core' (roslyn, nuget, msbuild, sdk-targets etc...) and composable 'optional' (aspnetcore, xamarin, blazor, etc...) 'building-blocks'.

- I know roslyn, msbuild

[2021-02-18 11:46] sharpSteff commented on #3803
@maulwuff I created a 2nd solution file without WPF/WinForms project.

[2021-02-18 13:49] vitek-karas commented on #10621
https://github.com/dotnet/runtime/pull/48336 adds a better error message which will contain the conflicting file paths. It will take a couple of day to flow to dotnet/installer, but once there it should be possible to take a nightly build of .NET 6 SDK and build the app with it to get the info from it.

[2021-02-18 13:49] vitek-karas commented on #3465
https://github.com/dotnet/runtime/pull/48336 adds a better error message which will contain the conflicting file paths. It will take a couple of day to flow to dotnet/installer, but once there it should be possible to take a nightly build of .NET 6 SDK and build the app with it to get the info from it.

[2021-02-18 13:59] brantburnett commented on #3803
@maulwuff

I got it to work for WinForms with a hack like this:

Main CSPROJ file:

[code]

WinForms.props:

[code]

This takes advantage of the fact that NuGet restore respects conditions on Import commands, though not on anything else.

When building on Linux/Docker, I just set `-p:DockerBuild=true` on the command line so it suppresses the extra import.

[code]

[2021-02-18 14:33] pranavkm opened #15942 "[Workloads] Consider making the manifest version to be a Semver"
The spec expects the manifest version to be the same value as the NuGet that the package the manifest is transported in. Since NuGet supports semantic versioning (v2), it would follow that the manifest version field should also allow this. Currently it only allows for integer values.

[2021-02-18 14:33] pranavkm commented on #15942
/cc @dsplaisted \ @marek-safar

[2021-02-18 15:27] mrlife commented on #11555
@wli3 Thank you for getting back to me. I added the following, but publishing does not create a file with an `exe` extension. The `testrid` in your screenshot is like what I get as well, but it's not a Windows `exe` file.

[code]

[2021-02-18 17:03] jhdscript opened #15947 "PerformanceCounter and invalid culture identifier exception"
Hello,

I try to use PerformanceCounter in a FW 5 project. So i install this dependancy: https://www.nuget.org/packages/System.Diagnostics.PerformanceCounter/5.0.1

But when i try to use it with  new PerformanceCounter(category,counter,instance) i have issues with culture and culture identifier

I m under Windows 10 :-)

If someone can help me I appreciate that.

Regards

[2021-02-18 21:26] khalidabuhakmeh opened #15950 "Call to `dotnet --version` slower in .NET 6 Preview 1"
There seems to have been a regression in the call to `dotnet --version` from .NET 5 to .NET 6. While not scientific, here are 6 runs on each SDK version. I am using [Spaceship prompt](https://github.com/denysdovhan/spaceship-prompt/blob/master/sections/dotnet.zsh) and it is noticeable in my terminal experience.

## .NET 6 (6.0.100-preview.1.21103.13)

[code]

## .NET 5

[code]

[2021-02-18 22:24] kobruleht commented on #15815
Single enum member

[code]

also throws this as discussed in  https://stackoverflow.com/questions/66268681/visual-studio-invalid-rule-the-enum-member-newproducts-has-the-same-constant-v

[2021-02-18 22:26] wli3 commented on #11555
I see, you want a windows exe not a mac executable file. `<DefaultAppHostRuntimeIdentifier>win-x64</DefaultAppHostRuntimeIdentifier>` would change that

[2021-02-18 23:49] iamphi opened #15960 "Executable from `dotnet publish` for Apple Silicon is not working. .net 6 preview 1."
Test script:
[code]

My output:
[code]

Machine information:
[code]

[2021-02-19 00:15] eerhardt commented on #15906
FYI @samsp-msft

[2021-02-19 00:53] GlebChili opened #15961 "dotnet tool run is not working properly with .net 6.0.100-preview.1.21103.13"
Possibly relates to #15541 and #15767.

## Description
`dotnet tool run` is not able to pass arguments to cli tool (seems like).

## Steps to reproduce
I've developed a small version tool for my projects to use as .NET CLI tool: https://www.nuget.org/packages/GmodNET.VersionTool/1.0.1

After installing first public preview of .NET 6 SDK (6.0.100-preview.1.21103.13) I was not able to call my tool u

[2021-02-19 00:58] GlebChili commented on #15767
It seems like I've also encountered an issue with `dotnet tool` argument parsing: #15961.
Sorry in advance if my assumption that the issues are related is wrong.

[2021-02-19 07:09] zsybupt commented on #15146
@beetlex-io I come here from your blog post, it is true there is no enough threads and cause timeout:

This is because Task.Run will default queue work items into local queue of current thread, and Task.wait(timeout) blocks current thread. So if CLR can not create new threads quickly to steal OnInit work item from current thread local queue, it will cause timeout because there is a deadlock wait.

[2021-02-19 07:59] saucecontrol commented on #15937
Having the same issue here with 5.0.200-preview.21079.7, from VS 16.9p4.

C:\Program Files\dotnet\sdk\5.0.200-preview.21079.7\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(241,5): error NETSDK1004: Assets file 'C:\gitlocal\photosauce\out\obj\VisualTest_i1eolmcr_wpftmp\project.assets.json' not found. Run a NuGet package restore to generate this file. [C:\gitlocal\phot

[2021-02-19 09:45] marek-safar commented on #14044
/cc @pranavkm

[2021-02-19 11:28] marek-safar opened #15962 "Make it easy for runtime pack authors to enable linker trimming analyzer"
The runtime pack SDKs authors will be the first non-runtime users with who we could work to enable linker trimming analysis warning. We should make it easy for them to enable it in their builds and not require copying pieces from https://github.com/dotnet/runtime/blob/master/src/libraries/illink-sharedframework.targets to figure out how to use linker in their runtime pack builds.

@agocke @sbomer

[2021-02-19 12:13] jiangzeng01 commented on #15541
Verified with master branch build: 6.0.100-preview.2.21119.3

[2021-02-19 12:16] jiangzeng01 commented on #15351
Verified with master branch build: 6.0.100-preview.2.21119.3

[2021-02-19 16:37] thakyZ commented on #11885
@sfoslund
I have this issue as well, and yes the `libhostpolicy.so` does exist in `/usr/share/dotnet/shared/Microsoft.NETCore.App/5.0.3`. Though I cannot try all of those suggestions in the link provided because it is a game whose source I do not own.

[2021-02-19 17:06] sfoslund commented on #11885
I'm not sure that this issue can be fixed without access to the source, I would file a bug against the game owner.

[2021-02-19 18:31] captainsafia opened #15966 "EmitCompilerGeneratedFiles doesn't emit generated outputs to disk"
**Version Used**:
Microsoft.CodeAnalysis 3.8.0
msbuild 16.10.0-preview-21069-02+7814dc4e8

**Steps to Reproduce**:

1. Acquire the latest version of the 6.0.0-preview2 SDK OR build the latest version of the SDK from https://github.com/dotnet/sdk.
2. Run `dotnet new mvc -o TestApp`.
3. `cd TestApp`
4. Run `dotnet build /p:EmitCompilerGeneratedFiles=true`.
5. After compilation is finished, navigate

[2021-02-19 18:35] jaredpar commented on #15966
Moving to dotnet/sdk as this appears to be a bug in the Razor targets, specifically the copy of the `<Csc` task that is used in the targets does not pass through the `GeneratedFilesOutputPath`.

In this sample there are two compilation events: the razor compilation and the normal compilation. Notice that the normal compilation passes through the `GeneratedFilesOutputPath` argument:

![image](https

[2021-02-19 19:29] adityapatwardhan opened #15969 "Using curl to download the dotnet-install.sh script return a zero byte file"
When using curl to download dotnet-install.sh file it returns a zero byte file. Using wget instead works fine.

Also, this only happens in containers.

[code]

With wget:

[code]

[2021-02-19 19:51] mrlife commented on #11555
@wli3 Thank you, that was it.

Here's the full list for posterity:

[code]

[2021-02-19 19:53] sfoslund commented on #15107
Closing this issue as the problem is being tracked in #3935

[2021-02-19 19:54] #15107 closed

[2021-02-19 21:04] sfoslund commented on #15109
This issue was moved to dotnet/dotnet-docker#2611

[2021-02-19 21:04] #15109 closed

[2021-02-19 21:06] sfoslund commented on #15106
@KathleenDollard do you know who owns the dotnet-fsi aka link and where it should redirect to?

[2021-02-19 21:09] sfoslund commented on #15075
Yes, this is expected. You will have to escape special characters if you want to use them as command line arguments.

I'm not following what you mean here, can you provide more detail?

[2021-02-19 21:14] sfoslund commented on #15071
I'm sorry to hear upgrading has been difficult, have you updated your entire toolset or just the SDK? The .NET 5 SDK is compatible with Visual Studio/ nuget 16.8 and above, and from one of the error messages it appears you're still using 16.0. Can you try to update the rest of your toolset and see if this makes a difference?

[2021-02-19 23:01] clairernovotny opened #15972 "Publish of WPF app fails for ARM64 - "There was no runtime pack""
Using .NET 6 Preview 1, trying to publish a WPF app for ARM64 fails with

`1>There was no runtime pack for Microsoft.WindowsDesktop.App available for the specified RuntimeIdentifier 'win-arm64'.`

Repro:

- Clone https://github.com/NuGetPackageExplorer/NuGetPackageExplorer
- Checkout the `arm64-support` branch.
- `dotnet publish -c release .\PackageExplorer\NuGetPackageExplorer.csproj /p:PublishPr

[2021-02-19 23:09] clairernovotny commented on #15972
This seems to happen if there's a `<RuntimeIdentifiers>win-x86;win-x64;win-arm64</RuntimeIdentifiers>` property set.

[2021-02-19 23:12] clairernovotny commented on #15972
If I remove the `RuntimeIdentifiers` property, it succeeds with `dotnet publish` but fails in VS with:

[code]

You can see this by opening the solution in VS, and on the PackageExplorer.Package project, choose "Publish -> Create App Packages" and follow the prompts for sideloading. It'll build and fail without the RuntimeIdentifiers property (in the Directory.Build.props).

[2021-02-19 23:46] MycroBeat opened #16049 "The .NET 5 return Platform Not Supported if you try to use .NET 5 as a Windows Service application."
Hello. Recently, i wanted to upgrade my websites from .net core 3.1 to .net 5, but i notice the visual studio return an warning (CA1416) on the host.RunAsService().

### Describe the bug
The .NET 5 return Platform Not Supported if you try to use .NET 5 as a Windows Service application. Even if the `OperatingSystem.IsWindows` return true, the application return errors when i try to start on service

[2021-02-20 02:43] jodieliu opened #15976 "Publish .Net Framework 2.1 project to App service, failed with error "HTTP Error 502.5 - Process Failure" after install.Net6.0 Preview1"
Azure DevOps work item: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1271089

**REPRO STEPS**

1. After .NET 6.0 Preview 1 SDK insatlled, open VS and sign in with account.
2. File > New project> ASP.NET Core Empty > .NetCore 2.1 with check "Run on .Net Framework" checkbox.
3. Right-click project > Publish to App service, the Web App display"HTTP Error 502.5 - Process Failure" in browser.

[2021-02-20 02:47] jodieliu commented on #15976
As the below table shows, It does not repro with clean install 16.8

VS configuration | Target framework in csproj after project creation | Does publish work successfully?
-- | -- | --
16.8 (latest released build) | net461 | works
16.9 Preview 4 (clean install) | net461 | works
16.9 Preview 4 + 6.0 Preview 1 | net461 | failed

[2021-02-20 04:28] jimfoye commented on #15863
Ditto.

[2021-02-20 19:32] alex6dj commented on #15075
Thanks for your time. Next monday I will try to provide a project to show the problem

[2021-02-20 20:13] ChrisUnityArto opened #15983 "Memory Mapped files access control classes missing in dotnet core"
Hi!

This Issue https://github.com/dotnet/runtime/issues/941
And this PR https://github.com/dotnet/runtime/pull/465
were both closed because no users had requested the ability to set access rules on memory mapped files.

I'm a user, and I'm requesting it now please.

So is this team : https://stackoverflow.com/questions/57085421/sharing-of-global-in-memory-memory-mapped-file

This is a requirement

[2021-02-20 22:56] peterdrier commented on #14297
Yes but no..  -windows breaks the VS WSDL connector which only works in net5.0..    Switching back and forth got me through it though.

[2021-02-22 02:56] pirunxi commented on #15849
Hot Reload is used in develop environment cucrrrently,but we eagerly need a resolusion for  hot reloading to fix bugs of game server apps in production enviroment. Will it support this forture?

[2021-02-22 10:16] Kampfmoehre commented on #15863
Since `sudo dnf upgrade` keeps trying to update dotnet packages I temporarely excluded them by editing `/etc/yum.repos.d/fedora-updates.repo` and adding a line with excludes . Now it looks like:
[code]

I also added this line to `/etc/yum.repos.d/fedora.repo`:
`exclude=dotnet-targeting-pack-3.1 netstandard-targeting-pack-2.1`

The problem is, that the packages from the Fedora and Fedora Update Rep

[2021-02-22 13:38] djakabok opened #15993 "System.Text.Json catched error when parse array"
Hi. I want to parse JObject. I have realize class for work with him:

[code]
And Json:

`[
  {
    "Version": 1,
    "Key": "294021",
    "Type": "City",
    "Rank": 10,
    "LocalizedName": "Moscow",
    "EnglishName": "Moscow",
    "PrimaryPostalCode": "",
    "Region": {
      "ID": "ASI",
      "LocalizedName": "Asia",
      "EnglishName": "Asia"
    },
    "Country": {
      "ID": "RU",

[2021-02-22 15:40] mthalman opened #15996 "Large disk size increase in Microsoft.NET.Sdk.Razor folder"
Between 6.0 Preview 1 and the current build of Preview 2, the size of the `Microsoft.NET.Sdk.Razor` folder increased by 180%.  In absolute terms, this is an increase of 45 MB.  A portion of this increase is due to the addition of the `source-generators` sub-folder which is understandable.

More concerning is the 100% increase in the `tasks` sub-folder and the 188% increase in the `tools` sub-folde

[2021-02-22 16:54] anubi commented on #10708
I created a SignalR (but otherwise pretty much blank-slate) web app in VS 16.8.2 with linux-docker checked as an empty project option, build the nearly empty solution with no issues and attach a debugger on Startup.cs. I then decide to detach the debugger and rebuild. It gave me a permission denied error, so I went in and manually killed and removed the pertaining docker images. Rebuilding after d

[2021-02-22 17:37] jaredpar commented on #14974
This behavior indicates that on .NET Framework the COM reference is being passed via `/link` while in .NET 5 it's being passed via `/reference`. The reason is that when passed via `/link` the C# compiler will treat method / property return types that are `object` as if they were `dynamic` ([docs](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/types/using-type-dynamic#com-interop)

[2021-02-22 17:48] jaredpar commented on #14974
@terrajobst helpfully figured out what I was missing and [created a repro](https://github.com/terrajobst/ComAutomationRepro). The part I was missing is that it needs to be a WPF project. In that case the reference is not passed as `EmbedInteropTypes`.

![image](https://user-images.githubusercontent.com/146967/108748099-0da93500-74f3-11eb-9252-716a281aa68f.png)

Moving to the WPF repo for triage.

[2021-02-22 18:01] #15993 closed

[2021-02-22 19:26] 20vishwa opened #16026 "unable to create a .net 5 webapi project"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/5710146/108759047-dd54ab80-7571-11eb-9df3-bb87972eb307.png)

[2021-02-22 20:30] omajid opened #15999 "Unable to build release/5.0.1xx on Linux"
I am trying to build commit `cdab44445262caf5838b50c028315056f6b9aa96` (latest on branch `release/5.0.1xx`) on Linux and the build fails:

[code]

[2021-02-22 21:11] sfoslund opened #16001 "Localize System.CommandLine help text"
Update System.CommandLine version to take advantage of new ability to localize help text

[2021-02-22 21:27] JuergenGutsch opened #16002 "`dotnet watch` should now do `dotnet watch run` by default"
Hey,

As mentioned in the following blog post, `dotnet watch` should now do `dotnet watch run` by default.
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-1/

I tried the .NET 6 preview 1 but it doesn't. It just shows the command line help.

Steps to reproduce::
* Run `dotnet --info` to ensure the .NET 6 preview 1 SDK is used
* Create a new project `dotnet new webapp -n

[2021-02-22 21:32] CreepyGnome commented on #12297
This exact issue just started occurring for me this morning, just on my box. Our CICD is fine and asked around and no one else is having this issue on their local boxes.  I tried a full clean and still occurs.  If I add the below to the problem csproj files it goes away. However I should not need to have this, and I cannot check them in as no one else I can find has this issue. It seem related to

[2021-02-22 22:04] dleeapho commented on #15863
@dseefeld @crummel can what @Kampfmoehre suggested about version numbers be done? This seems like yet another manifestation of distro-native / ms feed coexistence https://github.com/dotnet/runtime/issues/47500

[2021-02-22 23:21] 0x0309 opened #16003 "Support dotnet tool restore --locked-mode"
``dotnet restore`` has ``--locked-mode`` for repeatable restores. The same kind of option should be available for ``dotnet tool`` to verify tool identity.

[2021-02-22 23:32] zivkan opened #16004 "ResolveAssemblyReferences not run when project does not have project references"
## Summary

Project `MyLib` has a `PackageReference` with `PrivateAssets="compile"`, so that the package's dependencies don't leak as public APIs to downstream projects. Whatever package was used by this `PackageReference` has a dependency on `PkgA` 1.0.0

Project `MyLib` is packed into `MyLib.1.0.0.nupk`

Project `MyApp` has a `PackageReference to `MyLib` 1.0.0, and also `PkgA` 2.0.0, but not `Pr

[2021-02-22 23:35] sfoslund commented on #15767
@Kuinox I believe this is a problem with the way you're attempting to run the tool, if the tool has been installed globally and does not have the `dotnet-` prefix in the name you don't have to specify `dotnet` before your command. "cksetup run CKSetup.xml -v Release --logFile LastRun.log" seems to work fine for me.

[2021-02-22 23:43] Kuinox commented on #15767
Mhhh, the command effectively looks weird, but I did hit this issue only after upgrading to a .NET 6 CI build.
This command is probably working in .NET 5.

[2021-02-22 23:59] Kuinox commented on #15767
Ok, this is a bit special.
This is both a global tool and a local tool.
There is a dotnet-tools.json in this project that specifies a version for this project.
And you can call a local tool with `dotnet toolName`.

[2021-02-23 00:13] sfoslund commented on #15767
Oh I see, it's not reproducing for me when run globally but it does locally. It does seem to be a parser issue, I'll look into this.

[2021-02-23 02:07] abarberenaCPDS opened #16009 "Cannot get symbol ucol_setMaxVariable_50 from libicui18n"
After following the steps here, https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-5.0.103-linux-arm64-binaries. I am getting the following exception when running:

[code]

Environment:

Linux centosraspberrypi 5.4.72-v8.1.el7 #1 SMP PREEMPT Wed Oct 21 17:35:36 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux

[2021-02-23 08:15] LeiYangGH commented on #13429
Just tried and found that `<path-to-your-nuget-package>` should be the directory containing .nupkg file, not .nupkg file name itself. Hope it be useful for later users.

[2021-02-23 11:04] jiangzeng01 commented on #15937
@marcpopMSFT Could you please take a look at this bug or let us know if we assigned wrong person?

[2021-02-23 18:24] thorhamma commented on #1630
Worked PERFECTLY

[2021-02-23 19:49] ViktorHofer commented on #1675
Fixed by https://github.com/dotnet/sdk/pull/14488

[2021-02-23 19:49] #1675 closed

[2021-02-23 20:09] dsplaisted commented on #3706
It looks like we are going to support analyzers in targeting packs, which will address this: https://github.com/dotnet/designs/pull/181

[2021-02-23 20:09] #3706 closed

[2021-02-23 20:21] kirsan31 commented on #1675
@ViktorHofer In What VS version it will be included?

[2021-02-23 20:28] dsplaisted commented on #1675
It should be in .NET SDK 5.0.200, which will ship with VS 16.9

[2021-02-23 20:47] #15961 closed

[2021-02-23 20:47] #15767 closed

[2021-02-23 22:23] #15819 closed

[2021-02-24 00:28] aaronla-ms opened #16031 "dotnet restore exit code reports success when actually failed"
Repro is simple. Try to restore a package that doesnt exist:

[code]

expected: %ERRORLEVEL%==1

[2021-02-24 00:35] aaronla-ms commented on #16031
Additional repro details:
- OS: Windows 10 20H2 (OS Build 19042.802)
- dotnetsdk version: 3.1.406 (as reported by `dotnet --version`)
- all versions of dotnetsdk installed:
[code]

[2021-02-24 00:57] netcorefan1 opened #16032 "Interop using Span and Structures: type must be a non-nullable value"
Hello,
I am trying to learn and take advantage of Spans when dealing with native code and I encountered immediately some problems.
This is how would look getting data using the old Marshalling techniques:
[code]
I am trying to convert the above using ReadOnlySpan and combine it with the new generics features of the language:
[code]
As is I get **Error CS8377: The type StructA must be a non-nullabl

[2021-02-24 02:09] #15976 closed

[2021-02-24 03:36] #14926 closed

[2021-02-24 05:18] #16026 closed

[2021-02-24 06:41] girishbhatt84 commented on #15051
You can add below command in **prebuild** of the project (assume file name is test or you can set to full project folder)
call attrib -r "$(ProjectDir)test.config" /s

[2021-02-24 08:30] andersjonsson commented on #11433
Any update here? This is blocking us from using Tye with one of our solutions.
There was a PR for Tye (https://github.com/dotnet/tye/pull/895) that attempted a workaround, but that PR been abandoned.

[2021-02-24 08:40] vdanche commented on #15612
Fixed on 6.0.100-preview.3.21123.4(runtime-6.0.0-preview.2.21118.6)
![image](https://user-images.githubusercontent.com/65637796/108973094-f159f380-76be-11eb-837c-56eb839cfa53.png)

[2021-02-24 08:40] #15612 closed

[2021-02-24 09:35] lonix1 opened #16043 "[Feature Request] Support jsonc for dotnet tools manifest"
The dotnet tools manifest `dotnet-tools.json` is currently read by a parser that doesn't like `jsonc`.

Commented json is the norm these days. We need to document what is going on in that file, but cannot.

Please allow jsonc. The filename doesn't need to change, just use a parser that supports comments.

[2021-02-24 15:10] JuergenGutsch commented on #16002
Actually, the change is merged to master:
#15956

It's not in the release branch for 6.0.1xx-preview1:
https://github.com/dotnet/sdk/blob/6322488ccb38fad8c46111beda6c1e1edd8d900e/src/BuiltInTools/dotnet-watch/Program.cs#L95

Just out of curiosity: Which branch is used to create the assets for the .NET 6 preview 1 release?

[2021-02-24 16:23] davidfowl commented on #16049
cc @vijayrkn

[2021-02-24 16:27] markrendle opened #16051 "Provide a way to override the system default browser in launchSettings.json"
Following on from #9038, which appears to be done in 5.0.

It would be great to be able to specify e.g. `browserCommand` to control which browser is launched, with command line arguments.

Particularly when working with Blazor, which requires a bunch of arguments to be passed to Edge, Chrome etc to enable the Dev Tools experience, e.g.

[code]

Currently when working with Blazor, `dotnet run` laun

[2021-02-24 16:30] AngeloCresta commented on #14553
If you use the new .csproj format just add these lines into the project file:

<PropertyGroup>
   <AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>
   <AppendRuntimeIdentifierToOutputPath>false</AppendRuntimeIdentifierToOutputPath>
 </PropertyGroup>

ref:
https://docs.microsoft.com/en-us/answers/questions/202445/output-path-ignored-with-net-5-c-classes-lib.html
by olegra

[2021-02-24 19:11] Xen0byte opened #16053 "dotnet restore/build/test do not discover files with extensions in uppercase characters"
### Describe the Bug

If the solution files have extensions in the format *.SLN, *.CSPROJ, *.CS etc. then these files are not discovered by `dotnet restore/build/test`.

### Steps to Reproduce

1. Create a solution with the solution files having extensions in uppercase characters. The solution should have a unit test, to check the functionality of `dotnet test`.
2. Execute `dotnet restore` from Po

[2021-02-24 19:13] MichaelSimons commented on #16053
Moved to SDK for consideration to support case insensitive matches on *.SLN and *.CSPROJ for the dotnet commands that search for artifacts if a solution of project is not specified.

[2021-02-24 20:02] marcpopMSFT commented on #15937
The change that caused this was reverted but it didn't make it into preview 1: https://github.com/dotnet/sdk/pull/15695.  See https://github.com/dotnet/core/blob/main/release-notes/6.0/6.0-known-issues.md#net-sdk for the workaround.

[2021-02-24 20:46] jeremy-marcus commented on #3886
This is still a problem on .NET 5 without specifying an output directory.
[code]

[2021-02-24 21:51] joeloff commented on #12159
The following should work

* ```dotnet build```
* ```set platform=foo```
* ```dotnet build``` this will produce binaries under bin\foo\Debug.
* ```dotnet run --no-build``` this should run.

In your example, you've essentially produced a platform agnostic build, but then when you ran the application, you're telling dontet it has to use a binary for a specific platform, which was never produced.

[2021-02-24 21:51] #12159 closed

[2021-02-24 22:38] rkm commented on #3886
I've been having this issue recently and it's incredibly frustrating. My solution has been to only specify dependencies in the root Directory.Build.props file for the whole solution. The disadvantage of this is that each sub-project will get a copy of every dependency in their bin/ directory, which causes extra bloat. The solution to _that_ is to specify a single BaseOutputPath for the entire solu

[2021-02-24 22:42] maciej-izak commented on #10178
@mhlavacek probably the solution is `dotnet test -p:BuildInParallel=false -m:1 foo.sln`

[2021-02-25 02:18] AraHaan opened #16063 "KeyNotFoundException when building with dotnet build after clearing package caches."
steps:
- make a new project and multi-target for .NET Standard 2.0/2.1, .NET 5, .NET Core 2.0, and .NET Framework 4.6.1
- make sure to not be running in IDE, do everything from command line.
- now clear every single one of your nuget package cache folders with ``dotnet nuget locals all --clear``.
- attempt to build (using ``dotnet build --configuration Release``).

build runs restore, however ther

[2021-02-25 04:35] jiangzeng01 commented on #15937
@marcpopMSFT  Thanks, we will try with Preview 2 branch builds.

[2021-02-25 07:56] PylotLight commented on #15225
I am also getting this issue.
New WinUI 3 Preview 4 project with VS19 P5
`The "CreateAppHost" task failed unexpectedly.
System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A)`

[2021-02-25 08:17] qoter opened #16066 "Build failed when net472 project references netstandard2.0 that uses System.Reflection.Emit"
Steps to reproduce:
* create net472 project (I will call this project `Mechanics`)
* create netstandard2.0 project (I will call this project `Emitters`)
* add nuget package to `Emitters` like this `<PackageReference Include="System.Reflection.Emit" Version="4.7.0" />`
* write method that uses `ModuleBuilder` in `Emitters` like this `public static void Emit(ModuleBuilder moduleBuilder){}`
* referen

[2021-02-25 09:42] qoter commented on #16066
I fixed it with directly reference `System.Reflection.Emit`
Add this to Mechanics.csproj
[code]

[2021-02-25 10:43] qrjo opened #16067 "Add command line parameter to exclude projects from solution"
I think it would be useful to have a command line parameter to exclude one or more project from the solution when restoring, building, publishing, etc.

I have a solution with a database project in it (`.sqlproj`) and `dotnet restore` complains about it, while `dotnet build` actually fails on it. Obviously, I don't need this project to be built for my application to build, so it would be nice if I

[2021-02-25 12:52] Simon-Gregory-LG commented on #1151
It seems that Visual Studio 16.8 has regressed the experience of some of these discussed solutions, as the Manage NuGet window is considering the '**project** version number' rather than the '**package** version number' when resolving the installed version against the package feed.

It seems to come from a belief that projects and packages need to be treated the same in most cases. This completely

[2021-02-25 16:56] ericstj commented on #15225
@PylotLight update to either the shipping build of the .NET SDK as @svetovid mentions above, or a newer nightly build.  If you're still seeing it, then share your dotnet SDK version here.

[2021-02-25 18:25] vijayrkn commented on #16049
@eerhardt - Does it repro will 'dotnet publish' in commandline as well or is it specific to VS?

[2021-02-25 18:42] eerhardt commented on #16049
It repros as well on the commandline, but it is a bit harder to make it happen:

[code]

In order to repro it on the command line you need to publish to the same directory both times (by default they will go to different directories since you are setting `-r`).

[2021-02-25 18:50] vijayrkn commented on #16049
@eerhardt - Ah! that makes sense. Now I see why it surfaces more in the VS case since the same profile is updated. Do you know if 2 dlls have the same timestamp? May be msbuild is just skipping because it is following update if newer.

[2021-02-25 19:07] sfoslund commented on #15950
Thanks for filing an issue. This is a known issue with preview 1, it should be significantly improved with preview 2 (fixed by https://github.com/dotnet/sdk/pull/15499). Please feel free to reopen if the problem continues past preview 1.

[2021-02-25 19:07] #15950 closed

[2021-02-25 19:10] sfoslund commented on #15947
I believe System.Diagnostics packages are in the runtime repo, transferring this there.

[2021-02-25 19:15] sfoslund commented on #15921
Yes, dotnet complete is currently still supported after the move to system.commandline in .NET 6 and it is implemented using system.commandline now.

@KathleenDollard do you want to comment on long term plans for dotnet complete/suggest?

[2021-02-25 20:45] pranavkm commented on #15969
You need to set up curl to follow redirects. The first URL responds with a 302

[code]

[2021-02-25 20:58] Smenus commented on #13958
I think I have the exact same problem, but I've narrowed it down to the `GetRegistryValueFromView` not working correctly under `dotnet publish`.

Oddly enough, we're using the `GetRegistryValueFromView` for the same reason; to get `SignTool.exe`. In a `.targets` file, we have a `PropertyGroup` containing
[code]
By checking the diagnostic MSBuild output, I can see that this never gets a value, desp

[2021-02-25 21:11] Smenus commented on #13958
Ah, I might just have found the reason - if you decompile the MSBuild DLL in the SDK folder (`C:\Program Files\dotnet\sdk\5.0.103\Microsoft.Build.dll` for me), you can see that the `GetRegistryValueFromView` just returns the default value, i.e. it was built without the `FEATURE_WIN32_REGISTRY` flag.

[2021-02-25 22:16] trylek opened #16083 "Crossgen2 publishing doesn't respect EmitSymbols in composite mode"
In composite mode, symbols are always published whether EmitSymbols is set or not. This needs fixing for .NET 6 Preview 3.

[2021-02-25 22:17] trylek commented on #16083
/cc @dotnet/crossgen-contrib

[2021-02-25 22:22] trylek opened #16085 "Crossgen2 tests only run on X64"
In the current SDK repo, Crossgen2 tests are conditional based on architecture being X64. We should no longer need that limitation and we should enable the tests on all architectures. Please see

https://github.com/dotnet/sdk/blob/a186d87d085100dbf6067b91b3db7add1f197651/src/Tests/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishReadyToRun.cs#L216

https://github.com/dotnet/sdk/blob/a186d87d085

[2021-02-25 23:00] wli3 commented on #16031
@Forgind @BenVillalobos @cdmihai Is nuget restore also part of "msbuild by design" return value is always 0?

[2021-02-25 23:03] wli3 commented on #16043
The parser we use is system.text.json

[2021-02-25 23:05] wli3 commented on #16051
@vijayrkn

[2021-02-25 23:07] aaronla-ms commented on #12353
I mean, maybe those repos could manually opt in to multi_level_lookup if they desire it. For folks that are engineering at larger scale, it's just not practical do support 100s of developers with different combination of tools installed in their C:\Program Files.

[2021-02-25 23:45] Kuinox opened #16091 "dotnet publish doesn't delete old dlls"
Sometimes dotnet publish doesn't delete unused dlls.
It leads to having a publish folder with DLLs that shouldn't be there.
By reading the binlog, it looks like that the dll is absent from all the caches, which explain why it doesn't get deleted.

I can't find a way to generate timestamped binlogs so I can catch where is the issue :(.

[2021-02-26 00:15] marcpopMSFT commented on #15813
https://github.com/dotnet/sdk/pull/14449

[2021-02-26 00:15] #15813 closed

[2021-02-26 00:25] marcpopMSFT commented on #15972
@vijayrkn for the VS experience.  @dsplaisted for the RIDs question.

[2021-02-26 00:44] PylotLight commented on #15225
@ericstj I found what I think is the latest build from this page: https://github.com/dotnet/installer#installers-and-binaries
dotnet-sdk-6.0.100-preview.3.21123.4-win-x64
Getting different errors now at least ;p

[2021-02-26 01:15] vijayrkn commented on #16049
@marcpopMSFT - Based on the above response, I think some one from the sdk needs to take a look. This issue is not specific to VS.  May be 'dotnet publish' should always overwrite all files.  /cc @dsplaisted

[2021-02-26 04:29] lonix1 commented on #16043
I'm unsure - does it allow modern features like jsonc and trailing comments? Maybe there's no need to change parser?

[2021-02-26 05:08] wli3 commented on #16043
It does not support jsonc and has limited support for trailing comments. comments are not in the json spec. And so far there is no design on how comments should move when the json is also edited by machine (newtonsoft.json would remove all comments when files being edited by the machine)

[2021-02-26 06:22] GeirGrusom commented on #15443
I've never in my life needed to use `extern alias` before but when I do of course it's completely broken. The `Aliases` property has no effect in net48 or net5.0 projects. Visual Studio 16.8.5.

[2021-02-26 08:07] lonix1 commented on #16043
That's a good point - how comments would move!

I suggest to do how it's done in the Node world - the easy way - *just strip the comments and trailing commas*. They are the user's responsibility.

So at runtime the parser would ignore comments and trailing commas, BUT the generator would not (it would strip them).

So if the user uses the generator then it's his responsibility to fixup the file af

[2021-02-26 10:48] zlajson opened #16100 "Equivalent of nuget's update command with -FileConflictAction parameter"
I have ASP.NET MVC 5 web application (legacy MVC) which used old csproj format and packages.config file to manage nuget dependencies.

Following command was in use to update some packages:

`nuget.exe update MySolution.sln -Prerelease -FileConflictAction Overwrite -Id PackageA -Id PackageB -Id PackageC`

PackageC has dependency on PackageB and PackageA.

After migration to new csproj format I have

[2021-02-26 15:46] clairernovotny commented on #15972
For NPE, the `RuntimeIdentifiers` property is set here: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/arm64-support/Directory.Build.props#L26

Setting it at other levels lead to the errors around things missing from the assets file.

[2021-02-26 15:59] ericstj commented on #15225
Closing as this issue with unsigned binary in daily builds is now resolved.

[2021-02-26 15:59] #15225 closed

[2021-02-26 16:24] Forgind commented on #16031
I don't think so. There are several references online to NuGet restore returning 1 like:
https://github.com/microsoft/azure-pipelines-tasks/issues/2747

It might be more subtle, though, like NuGet restore only returns 0 if everything is proper, even if it can't find the file, and 1 if there's an error that prevented it from finishing its search.

[2021-02-26 22:02] kjholzapfel commented on #15114
I am having exactly the same issue, installed dotnet with snap.

[code]

I've tried to debug the issue, but I am inexperienced with it:

[code]

[2021-02-27 01:37] aaronla-ms opened #16112 "Feature request: DotNetCoreCLI@2's restore defaults should match dotnetcli defaults"
I suppose this is a bit of a feature request, but we're finding the `DotNetCoreCLI@2` task on Azure Devops to be a pain to work with. Developers when first setting up a pipeline will try `command: restore`, only to find that their nuget.config in the repo is not being honored. It turns out, `DotNetCoreCLI@2` has a bunch of defaults which differ from command to command.

Suggest providing a replace

[2021-02-27 01:58] aaronla-ms commented on #16112
I was corrected to report the issue to Azure DevOps, rather than dotnet sdk/cli. Reported here: https://developercommunity2.visualstudio.com/t/dotnetcorecli-12/1351293

[2021-02-27 01:58] #16112 closed

[2021-02-27 13:08] christiannagel opened #16120 "Passing program arguments with dotnet run fails with the option -d (6.0.100-preview.1.21103.13)"
Passing command line arguments to the application with  **dotnet run** doesn't show an argument passed if the argument **-d** is passed.

Application with top-level statements:
[code]

Project file:
[code]

Running the application with

`dotnet run -- -a`

is as expected. Using

`dotnet run -- -d`

give this argument count: 0.

The issue happens when this SDK is used (on Windows):
6.0.100-preview.

[2021-02-27 16:37] sam-wheat commented on #14553
Please take a look at [this issue I raised on Stackoverflow](https://stackoverflow.com/questions/66389636/create-nuget-package-that-references-referenced-dlls-without-using-nuspec) and let me know if it is related.  Suggestions on how I might fix it will be greatly appreciated.

[2021-02-27 23:26] knightpp opened #16121 ".net 5 snap depends on glibc 2.33 but it's not in core18"
I was following this guide https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/install to run a simple blazor app but the build command fails with an error.
### Steps to reproduce
[code]
### Current behaviour
[code]

### Environment
[code]

[2021-02-28 02:37] bgrainger opened #16122 "dotnet test --verbosity doesn't list tests as they're run in 6.0 Preview 4"
Install dotnet SDK 6.0.100-preview.2.21155.3.

Create a new NUnit or xUnit test project with `dotnet new nunit` / `dotnet new xunit`.

Run `dotnet test -v d` (aka `--verbosity detailed`)

You get the following output:

## SDK 6.0.100-preview.2.21155.3

### NUnit

[code]

### xUnit

[code]

Note that there is no output about the tests that are being run, in particular test names being printed as th

[2021-02-28 14:33] knightpp commented on #16121
I realized that `dotnet` requires a previous version of Glibc and it takes the version from the host's libs. Therefore on my system, I cant run dotnet because I have `Glibc 2.33`.
[code]

[2021-03-01 06:03] danmoseley commented on #15114
@janvorli should this get transferred to runtime repo - the VM area?

[2021-03-01 07:05] WeihanLi opened #16133 "`dotnet watch` not equals `dotnet watch run` for asp.net core settings"
From the asp.net core 6.0 preview 1 release blog(<https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-1/#whats-new-in-asp-net-core-in-net-6-preview-1>), I got the message that:

But it seemed not working for me

![image](https://user-images.githubusercontent.com/7604648/109583075-402de000-7b3a-11eb-8138-37263a25ec1e.png)

project file content:

![image](https://user-images.

[2021-03-01 07:51] GeeWee opened #16134 "Add ability for `dotnet watch` to work with solutions"
I have a multi-project solution.
Changing functionality often includes changing files in multiple projects.
I can run `dotnet test` and `dotnet build` in the root solution directory to test or build all projects, but I am unable to do the same thing with `watch` as that requires a project.
If you could run `dotnet watch test` in a solution directory, the developer experience for multi-project solu

[2021-03-01 12:27] Molinarius opened #16149 "Compilation Errors with WPF XAML and NuGet `contentFiles` having `buildAction="Compile"`"
**Visual Studio Version**: 16.8.6

**Summary**: I'm getting compilation errors with the combination of XAML files and NuGet packages with `contentFiles` with `buildAction="Compile"`.

I'm not sure if this is the right place to address this.

It seems to me this happens as soon as there is some XAML file with non-trivial content, and that this happens in "WPF Libraries" and "WPF Apps". The code in

[2021-03-01 15:25] NikolaosWakem commented on #14503
FYI... This behaviour change breaks apps rebuilt on Azure DevOps that target 3.1 too.. hence me arriving here after trying to figure out what was going on..

[2021-03-01 15:49] okipol88 opened #16139 "runtimeconfig.template.json per build configuration"
Hello,

Currently we are developing a .NET app using WPF.
The requirement is to have a specified folder structure.
To achieve this we use `runtimeconfig.template.json` to specify the `additionalProbingPaths`.

The problem is that as it works for our release, the designer is complaining:

he XAML Designer has exited unexpectedly. (Exit code: 8000808c)

The event log gives us:

Path: Description: A

[2021-03-01 16:29] sbomer opened #16140 "Make _TrimmerDefaultAction public"
In .NET 6, we are introducing `[assembly: AssemblyMetadata("IsTrimmable", "True")]` as a way to opt a library into trimming. MSBuild metadata can also be used to override this per-assembly.

With this change, the linker has two global knobs to control trimming:
- `--trim-mode`: the trimming granularity for assemblies marked `IsTrimmable`
  - The SDK sets this to `copyused` by default, but it is co

[2021-03-01 16:35] eerhardt commented on #16140
Why introduce a new property and force the user to understand 2 things? Why wouldn't we just introduce a new `TrimMode` option?

* `copy` (currently available)
* `link` (currently available)
* `full` (newly proposed behavior)

That way I would only need to set 2 properties in my publish script instead of 3:

`dotnet publish -c Release -p:PublishTrimmed=true -p:TrimMode=full`

vs.

`dotnet publish

[2021-03-01 18:55] marek-safar commented on #16140
We don't expect seasonal developers to touch these settings at all. It's something that SDKs will most likely set if they need to. The settings like

[code]

is also valid.

[2021-03-01 19:20] sbomer commented on #16140
I agree it would be a nicer UX to have a single property to make it trim everything aggressively, but I don't think there's agreement on this across my team. The `TrimmerDefaultAction` might be just enough of a barrier - it's a bit weird to explain why we need this on top of `TrimMode`, but for someone who knows what they're doing it's still easy enough to set.

That said, I still wanted to explor

[2021-03-01 19:44] egeaydin commented on #12160
I know this is an older issue but if someone is still having the same issue this worked for me: https://steveellwoodnlc.medium.com/error-nu5026-the-file-to-be-packed-was-not-found-on-disk-18bfbc6be4a

Simply remove this from your csproj file if you have it:
`<GeneratePackageOnBuild>true</GeneratePackageOnBuild>`

[2021-03-01 20:05] aaronla-ms commented on #16031
@Forgind this appears to be a problem with sdk references specifically. I confirmed that a PackageReference to non-existent package correctly results in exit code 1, but the same package referenced via Sdk results in an incorrect result of exit code 0

[2021-03-01 20:06] aaronla-ms commented on #16031
posted full self contained repro on the parallel thread, https://github.com/NuGet/Home/issues/10606

[2021-03-01 22:34] ygoe opened #16148 "Unexpected pickup of old runtime version for tool package"
I have installed these runtime versions: 2.1, 2.2, 3.1, 5.0

When I install [this package](https://github.com/ygoe/DotnetSshDeploy) into a project that targets netcoreapp3.1 and try to restore packages with `dotnet restore`, I get this error output:

[code]

This also leads to more errors of the same kind later so it breaks my build.

The DotnetSshDeploy package has been upgraded from 0.3.1 to 0.4

[2021-03-02 01:47] DamianEdwards commented on #15849
@pirunxi this feature is specifically scoped to development-time scenarios only. Patching fixes into running applications in production scenarios may be possible today via custom use of the `AssemblyLoadContext` API but this scenario would be better discussed/logged in the dotnet/runtime repo.

[2021-03-02 03:00] jiangzeng01 commented on #15937
@marcpopMSFT It looks like the revert [https://github.com/dotnet/sdk/pull/15695](https://github.com/dotnet/sdk/pull/15695) has merged into master by [https://github.com/dotnet/sdk/pull/15776](https://github.com/dotnet/sdk/pull/15776).

I just tried with latest master build: 6.0.100-preview.3.21123.4, it still failed with same issue:
[code]

Also I tried the Preview 2 branch build 6.0.100-preview.2

[2021-03-02 06:42] levdimov opened #16155 "dotnet test dll fails with misleading error if there is no code in net framework test project"
Tested with dotnet sdk 3.1 and 5.0

## Steps to reproduce

1. Create new test project using `dotnet new nunit`.
2. Change TargetFramework to net48
3. Make sure `dotnet test .\bin\Debug\net48\Tests.dll` executes successfully
4. Delete `UnitTest1.cs` (single tests file from template)
5. `dotnet test .\bin\Debug\net48\Tests.dll` will fail with following error: `Unable to find <...>.\bin\Debug\net48\T

[2021-03-02 06:53] jwdonahue opened #16156 "PostBuild failing randomly: "apphost.exe' as application host executable as it does not contain the expected placeholder byte sequence""
I've been encountering this post build failure on about 33% of my builds. See attached [BuildTest.zip](https://github.com/dotnet/sdk/files/6066601/BuildTest.zip) for 10 build logs where 3 of them failed. [build.zip](https://github.com/dotnet/sdk/files/6066619/build.zip) contains the batch file that drives the dotnet build/test. Any ideas what I can do to fix it?

Example:

       PostBuild:

[2021-03-02 08:25] ygoe commented on #16148
This happens with every such tool package. I've just upgraded another tool from netcoreapp2.0 to netcoreapp3.1 and it results in the very same error message. I cannot build my project anymore! Everything is checked, I uninstalled the packages, deleted the files from ~/.nuget/packages and installed and restored the packages again. Same error. Something in Visual Studio or the CLI doesn't like .NET

[2021-03-02 11:12] KeithT opened #16160 "Error NETSDK1064 Package Microsoft.EntityFrameworkCore.Analyzers, version 3.1.2 was not found. It might have been deleted since NuGet restore. Otherwise, NuGet restore might have only partially completed, which might have been due to maximum path length restrictions."
Since logging in as a different windows user (server 2019) and opening .Net Core API 3.1 project created by the original user am unable to build or run in debug in VS2019 with the error.

Severity	Code	Description	Project	File	Line	Suppression State
Error	NETSDK1064	Package Microsoft.EntityFrameworkCore.Analyzers, version 3.1.2 was not found. It might have been deleted since NuGet restore. Otherwi

[2021-03-02 11:54] KeithT commented on #16160
Solved this, in case it helps anyone else, it was due to the new windows user account not having access write access to the project directory.

[2021-03-02 11:54] #16160 closed

[2021-03-02 12:17] marek-safar commented on #16140
I'm still not convinced the "linkall" is a good idea. Are we expecting people to actually set that so we go the extra length to make it more convenient? If we think so I'd suggest staying from simple wording like `linkall` because even in .net6 in some configurations there could be no difference between `link` and `linkall` and that gap will be possibly reduced further in the .NET7 release and we'

[2021-03-02 19:27] marcpopMSFT commented on #15937
@sfoslund See above.  Your revert of IncludePackageReferencesDuringMarkupCompilation I was pretty sure should be in master and the preview 2 branch.  Does he have to do a clean build maybe or something else causing this same failure pattern?

[2021-03-02 19:36] JHorvath-MaxetaTech opened #16165 "dotnet "tool" issue when using custom nuget.config + globalPackagesFolder"
When using a custom **nuget.config** that defines **globalPackagesFolder** along side a .NET 5.0 solution (to provide a local path to restore package to)

[code]

Performing a **dotnet tool install %tool_name% --version %version_number%** will inject that tool's NuGet package appropriately into the specified **globalPackagesFolder** path, as well as generate an appropriate file under the global **

[2021-03-02 20:36] sfoslund commented on #15937
Yes, I just double checked and the revert has been checked into master and preview 2 for almost a month. @jiangzeng01 is this issue repro-ing from a clean build?

[2021-03-02 22:14] IngvarKofoed opened #16167 "Resource paths missing namespace part when compiled using symlinks on Linux"
I created a git repository with a description and code to reproduce the issue that I ran into: [https://github.com/IngvarKofoed/dotnet-resource-bug](https://github.com/IngvarKofoed/dotnet-resource-bug)

In short, the namespace part of resources are missing when build on Linux and where the resources are accessed (the path in csproj) through a symlink.

[2021-03-02 22:44] jwdonahue commented on #16156
The work-around was to use `dotnet msbuild` for the build step, instead of `dotnet build`.

[2021-03-03 02:38] jiangzeng01 commented on #15937
@marcpopMSFT  @sfoslund  I just tried with a clean machine with .NET 6 Preview 2 SDK 6.0.100-preview.2.21152.1 installed, copy app source, tried build and rebuild, the issue is still happening, could you please take a look to see if anything wrong here? Repro steps you can see in [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1276015](https://devdiv.visualstudio.com/DevDiv/_workitems/edit

[2021-03-03 03:51] AlirezaHaghshenas opened #16172 "After updating to 5.0.200-1 using package manager, it appears that no sdks are installed."
OS: Fedora 33.

Last night I `dnf distro-sync`d my system as usual, and there was this .net sdk update to 5.0.200-1.

After that, `dotnet --list-sdks ` shows no results and my .net programs fail to compile.

More info: I've been using .net on this system before .net 5 and have installed all updates to .net without any similar problems.

[2021-03-03 04:08] brianrob opened #16173 "Avoid Invoking _CreateAppHost Task When Not Necessary"
From @ericstj on https://github.com/dotnet/runtime/pull/48774:

It would be nice if we could eliminate this task entirely for most inner-loop executions that don't change the resources.

[2021-03-03 04:20] RandomEngy commented on #1675
VS 16.9.0 is out and it works! Thanks for the fix.

[2021-03-03 05:38] g14wx commented on #11639
Same problem, but when I create a new project with rider its get created.

[2021-03-03 06:02] xiaoyuvax commented on #14776
Same problem:https://github.com/dotnet/core/issues/5615
what does "the duplicated names" refer to?
how or where can i check for duplicate names?

[2021-03-03 09:52] shps951023 opened #16179 "[Content_Types].xml folder different make System.IO.Packaging.Package can't read Uri information"
[Content_Types].xml folder different make System.IO.Packaging.Package can't read Uri information.

My [Content_Types].xml use extension search :
[code]

But, I just add a folder before `style.xml` then `System.IO.Packaging.Package` can't get `Uri` information
![](https://i.imgur.com/tt1nlZy.png)

My Code:
[code]

[2021-03-03 13:20] ltrzesniewski opened #16184 "Runtime identifier is not forwarded when publishing exe project references (self-contained mode)"
This is a follow-up to #1675 and #14488. Tested with the SDK v5.0.200.

If you have a project A that references a project B, and both are of the exe output type, then publishing A with a runtime identifier will generate a self-contained A, but a framework-dependent B.

Here's a simple repro:

[code]

`A.deps.json` will have the `.NETCoreApp,Version=v5.0/win-x64` runtime target, and `B.deps.json` w

[2021-03-03 14:29] Kuinox commented on #16091
Looks like it happens most of the time after a git checkout.

[2021-03-03 14:50] clairernovotny commented on #15972
In  the latest dogfood 16.10 I see this when I load up the `main` version of NPE:

`SkipGetTargetFrameworkProperties` is set to true in the `ProjectReference`.
https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/main/PackageExplorer.Package/PackageExplorer.Package.wapproj#L81

[code]

[2021-03-03 17:05] kevinkoenig opened #16194 "dotnet run and other commands taking a long time to do anything"
[See this Link](https://www.screencast.com/t/sI6v4vGt36y)
executing any dotnet command takes for ever to start.  See link.  If I run dotnet outside my project directory it executes quickly

[2021-03-03 17:55] sfoslund commented on #15937
I'm able to repro this issue with the latest preview 2 build (6.0.100-preview.2.21153.5). It appears `IncludePackageReferencesDuringMarkupCompilation` is being set in Microsoft.WinFX.targets: https://github.com/dotnet/wpf/commit/42fd57cb6911d2c67ecdd9aa9647e5226ea0f232

cc @ryalanms

[2021-03-03 18:33] timheuer opened #16187 "Updated template not being offered on --update-check"
Scenario:
I have a template package that is versioned and released on NuGet.  I had installed version 1.0.3 on my machine.  I went to release version 1.0.5 and it is published/listed on NuGet.

I use the CLI and `dotnet new --update-check`

Expected Results:
It shows me 1.0.5 which is the latest

Actual Results:
It shows me 1.0.4 which is not the latest

![image](https://user-images.githubusercont

[2021-03-03 18:51] AraHaan opened #16188 "[Proposal] Warn when multiple TFMs would produce the same IL Code (When targenting multiple .NET Frameworks, Core, Standards)"
### Describe the problem you are trying to solve

I would like a warning like for example if one had the following on their csproj:
[code]

Where basically all of the .NET Framework targets (the ones where ``TargetFramework`` on each one starts with ``net4``) all produce the same IL Code (nothing conditional that changes the code at all, likewise with .NET Core until 3.0 would produce the same IL

[2021-03-03 19:35] Noggog opened #16189 "VS 16.9 Const Numbers not Implicitly Castable"
Hey all!

Downloaded the newest VS 16.9, which comes with the SDK upgrade I imagine as well.

Some code that had been compiling for months+ is now failing to compile.  (I know of one instance that was committed in Dec 2020, and is now failing to compile as of yesterday /w the 16.9 update).  This is a minimal recreation of it:
[code]

The `_someByte = value ? 1 : 0` call fails, with the message "Ca

[2021-03-03 20:02] KathleenDollard opened #16191 "Change --version text"
Please change the text of the --version option in help to

Display the version of the .NET SDK used by dotnet commands. Includes the effects of any global.json

or

Display the version of the .NET SDK, including the effects of any global.json

[2021-03-03 20:49] jaredpar opened #16193 "ProduceReferenceAssembly should exclude exe by default"
Starting with .NET 5 SDK we've enabled the `$(ProduceReferenceAssembly)` flag by default. I think this is excellent as it will really help our inner loop scenarios by removing unneeded compilations in a number of scenarios.

I think we should disable this by default for exe projects though. The reasons being:

1. Reference assemblies are only beneficial when there is a good chance the project bein

[2021-03-03 20:58] xiaoyuvax opened #16195 "Publishing .net5 winform app gets "Invalid input specification: Found multiple entries with the same BundleRelativePath""
# Publishing .net5 winform app to single file gets  "Found multiple entries with the same BundleRelativePath"

Seen while publishing  with options of:
.net5
self-contained
win-x64
single file
ReadyToRun

... can't get a clue where multiple entries are, not a hint.

Console output:
15> “GenerateBundle” task failed unexpectedly.
15>System.ArgumentException: Invalid input specification: Found multipl

[2021-03-03 21:10] joeloff commented on #15554
@davkean The SDK tries to infer the output type, but you can turn that off, e.g.

[code]

[2021-03-03 21:10] #16001 closed

[2021-03-03 21:13] DamianEdwards commented on #16193
+1 on this. We've received feedback numerous times regarding confusion about how complicated the build output of a starter app project is, and the new addition of a `ref` folder just adds to this. It seems totally sensible that the default for exe output should be off.

[2021-03-03 21:21] davkean commented on #15554
@joeloff The UI isn't aware of this, and the design that we've had with past properties is that the project file always wins.

[2021-03-03 21:25] joeloff commented on #15554
@davkean you're thinking property pages in VS where the user can just toggle between the "Windows Application" and "Console Application"?

[2021-03-03 21:27] davkean commented on #15554
Yes. I've been able to toggle WinForms apps between Console -> WinApp for coming on ~20 years, except for .NET Core.

[2021-03-03 21:37] DamianEdwards opened #16196 "Localized resources in the CLI adds 53 MB on disk and increases time-to-main by ~50%"
The CLI today includes resources for all languages for not only itself but all of its dependencies, including Roslyn, MSBuild, NuGet, and VSTest. This happens regardless of the locale of the machine the CLI is installed on.

The inclusion of all these resources results in:
- ~53 MB of on-disk space (~24% of the CLI size on disk total)
- 48 KB of the `dotnet.deps.json` file
- An increase in time-to

[2021-03-03 21:40] brianrob commented on #16196
I also wonder how much of this actually needs to be in the deps.json file - the less we put in there, the less actually gets touched at start-up.  I like the idea of a size win too, but if we did need to ship the files, we definitely don't need to load them all at start-up in case we use one.

[2021-03-03 21:41] DamianEdwards commented on #16196
Yep, I actually tried no deps file at all, and it seemed to work just fine:

[2021-03-03 21:45] brianrob commented on #16196
Now that's a win.  I want to chat with @vitek-karas and @agocke about this, as it does seem that there is some opportunity to reduce latency in the host, but we're going to need experts to help keep this on the rails.  :)

[2021-03-03 22:18] marcpopMSFT commented on #16049
@vijayrkn Should the UI change the target location as you change your target runtime?  The command line repro while simple, is fairly niche and so may not be something we investigate.

[2021-03-03 22:27] marcpopMSFT commented on #15554
@dsplaisted please raise this in the partner meeting as we should consider what changes we want to make to the outputtype inference based on feedback we've gotten.

[2021-03-03 23:00] vijayrkn commented on #16049
@marcpopMSFT - I think this is not about the UI but about the correctness of a publish operation. Irrespective of what location the bits are copied to, I think it is the job of publish to copy the correct bits.

I understand it is more common in VS because of the same location but I don't think that should be the reason to move it out.

[2021-03-03 23:03] DamianEdwards opened #16197 "CLI files layout includes "ref" directories that aren't required and add to size on disk/installer time"
The CLI layout on disk after installation includes numerous `ref` directories. None of these, as far as I can tell, are required but were included because one is produced by default in build output since .NET 5 and thus they get included in the overall CLI layout.

We should look at tweaking the build properties to remove these directories as they simply add to the install time and on disk footpri

[2021-03-04 09:53] StefanKoell opened #16204 "Build hangs since upgrading to 5.0.200"
I have a solution with a WinForms project and since I upgraded to 5.0.200, I can't build anymore.

When I type dotnet build --configuration release in my solution directory it shows at one point:
`Determining projects to restore...`
And some projects down, it just hangs. Not always at the same project. When I open the task manager, I see the .NET Host process consuming 10+ GB of memory and > 70% C

[2021-03-04 12:56] solazs commented on #11820
Nope, we blacklisted the affected build agents from the problematic build. Did not receive complaints since.

[2021-03-04 14:24] baskren commented on #1157
Looks like this issue is back w/ Version 16.9.0

[2021-03-04 17:07] timmkrause opened #16207 "dotnet publish with test project leads to "Could not load file or assembly 'Microsoft.Extensions.FileSystemGlobbing, Version=3.1.0.0""
Trying to publish a test project and execute tests within Azure Pipelines (at the bottom you can find `dotnet --info`).

Getting the following, when trying to run the tests:

[code]

The problem is, that a wrong version of Microsoft.Extensions.FileSystemGlobbing.dll is part of the artifact (2.0.1.18051 and product version 2.0.1-rtm-10011).
It took me some hours to reproduce it and find out what is

[2021-03-04 18:39] stevenbrix opened #16211 "native assets in subfolders are not respected"
If you have a NuGet package with native assets in subfolders:

[code]

The .NET SDK copies these to the same location, and you lose the `en-us` locale subfolder.  This happens with both `Build` and `Publish` targets.

[2021-03-04 22:17] copernicus365 commented on #13429
To add to what others have said: Unfortunately this can't just specify a path to a .nupkg file, you HAVE to provide the path to a directory in the first argument, meaning `<path-to-your-nuget-package>` MUST be a directory, and then a name, which MUST repeat the nupkg name.

So using their [tutorial](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-use), if you follow the step

[2021-03-04 23:13] copernicus365 opened #16215 "`dotnet tool install -g --add-source` exception when private nuget packageSource (myget) exists"
It's possible to install a .NET global CLI type tool as explained [in this tutorial](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-use). While installation can be done via a public nuget package, one can also use the `--add-source` property to install directly from a `.nupkg` file (as the above tutorial demos). The problem is I had exceptions that in the end I discovered w

[2021-03-04 23:30] marcpopMSFT commented on #16173
@brianrob can we reliably predict when this isn't going to be needed at the time of the Target execution?

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L510

[2021-03-04 23:32] marcpopMSFT commented on #16172
@dleeapho who usually investigates package manager issues?

[2021-03-04 23:33] brianrob commented on #16173
@marcpopMSFT, that's a good question, and one that I don't yet know the answer to.  @ericstj can you share your thoughts here?

[2021-03-04 23:36] AlirezaHaghshenas commented on #16172
**Temporary Workaround:**

Doing `sudo dnf install dotnet-sdk-5.0-5.0.103-1.fc33.x86_64` Fixed this temporarily for me, as my package manager insists that it has updates, and on next update it'll nuke the sdk again.

This allowed me to do my work, while we wait for a more serious solution

[2021-03-04 23:49] brianrob opened #16217 "100ms Regression in Dotnet Build of Console Hello World"
When building the console template, there is a 100ms regression between baseline build 6.0.100-preview.3.21124.9 and regression build 6.0.100-preview.3.21126.14.

This appears to come from NuGet restore:

Baseline:

| Event Name | Time MSec | Process Name | DURATION__MSEC | targetName |
-- | -- | -- | -- | --
| Microsoft-Build/Target/Stop | 5,051.093 | dotnet (19480) | 178.735 | Restore |

Regress

[2021-03-04 23:49] brianrob commented on #16217
cc: @DamianEdwards

[2021-03-04 23:51] brianrob commented on #16217
@JonDouglas, @nkolev92, can you help get eyes on this?

[2021-03-05 00:41] ericstj commented on #16173
cc @agocke @jaredpar

Perhaps you could to that today if you just used these compiler inputs: https://github.com/dotnet/roslyn/blob/6da1274c9d24c2f90a48290394a951b23617f2a3/docs/compilers/CSharp/Win32%20Resources.md

Then you could consider these as inputs instead of `@(IntermediateAssembly)` and *trust* that the recompiled assembly had the same resources even if the file itself was rebuilt.  Some

[2021-03-05 01:39] nkolev92 commented on #16217
Let's sync-up offline.
We haven't made too many changes in the recent previews, so that looks unexpected.

[2021-03-05 03:11] wli3 commented on #16196
So if we remove `dotnet.deps.json`, the dll loading for satellite assemblies are not a problem? I remember in most of the case deps.json are no longer needed. SDK should not fall into these situations. We might be able to remove it. Ya, we need @vitek-karas

For the loc size.  "I don't personally get a benefit from all language resources other than English being installed" is not the right angle,

[2021-03-05 03:17] wli3 commented on #16197
That should be easy to implement. Just find all projects to set ProduceReferenceAssembly to false. Meanwhile redist project has it set already

We might want to do https://github.com/dotnet/sdk/issues/16193 instead

[2021-03-05 03:21] wli3 commented on #16211
This issue was moved to NuGet/Home#10629

[2021-03-05 06:28] vdanche opened #16220 "[Windows ARM64] with 3.1.408 SDK installed, Run project, Waring occurs--warning MSB3088: Could not read state file "obj\Debug\netcoreapp3.1\testagin.csprojAssemblyReference.cache". Unspecified error (0x80004005 (E_FAIL))"
**Repro steps:**
Install SDK via unzipping dotnet-sdk-3.1.408-win-arm64.zip to 'C:\Program Files\dotnet' on windows ARM64 machine.
dotnet new console in cmd.
dotnet build and dotnet run

**Expected behavior**
project can be build and run successfully
**Actual behavior**
Waring MSB3088 occurred when running "dotnet run"

C:\Program Files\dotnet\sdk\3.1.408\Microsoft.Common.CurrentVersion.targets(20

[2021-03-05 06:57] vdanche opened #16221 "[Windows ARM64] with 3.1.408 SDK installed, error "Failed to launch testhost with error: System.AggregateException: One or more errors occurred. (The specified executable is not a valid application for this OS platform.)" when running unit test project"
Repro steps:
Install SDK via unzipping dotnet-sdk-3.1.408-win-arm64.zip to 'C:\Program Files\dotnet' on windows ARM64 machine.
dotnet new xunit(or nunit or mstest) in cmd.
dotnet build and dotnet test

**Expected behavior**
project can be build and run successfully

**Actual behavior**
error occurred when running "dotnet test"
Failed to launch testhost with error: System.AggregateException: One or

[2021-03-05 09:04] vdanche opened #16222 "[Windows ARM64] with 3.1.408 SDK installed, Building a project with multi tfm is hanging"
**Repro steps:**
1. Install SDK via unzipping dotnet-sdk-3.1.408-win-arm64.zip to 'C:\Program Files\dotnet' on windows ARM64 machine.
2. dotnet new console in cmd.
3. modify the project tfm in *.csproj as below mutiple tfm and save
    <TargetFrameworks>netcoreapp3.1;net472</TargetFrameworks>.

4. dotnet build.

**Expected Result:**
Build successfully.

**Actual Result;**
Building is hanging.
![im

[2021-03-05 09:53] vdanche commented on #16222
Note:
Building a solution with multi projects is also hanging --same with the bug Bug [#12441](https://github.com/dotnet/sdk/issues/12441)- [Windows ARM64] Building a solution with multi projects is hanging

[2021-03-05 10:59] MV10 opened #16224 ".NET 5 SDK: publish tries to restore 2.0.0 runtimes?"
I migrated a 3.1 app to 5.0 and attempted to publish a self-contained release build, but it fails because it is trying to restore 2.0.0 runtimes, which do not exist in our internal Artifactory package store. It isn't specific to the application, I can reproduce this with a new unmodified console template app. _Edit - I get the same problem if I switch the app back to .NET Core 3.1. I wasn't having

[2021-03-05 14:04] shps951023 commented on #16179
I got the key point : it should use `/` not `\` ...

[2021-03-05 14:04] #16179 closed

[2021-03-05 14:55] brianrob commented on #16196
I would divide the options here into two areas:

 - Can we remove or trim `dotnet.deps.json` to get a start-up win where the host does less work?
 - Can we do something to reduce the size contribution of the satellite assemblies?

My personal opinion is that P1 is the start-up win, but there is also a significant acquisition time and size win if we can find a way to defer the download of satellite

[2021-03-05 15:00] kevinkoenig commented on #16194
any update on this issue.  Since i posted it I have completely reinstalled my machine, rechecked out the software from source control and i am still getting the same problem.

[2021-03-05 15:18] christoffer-a-sinch commented on #16172
I've run into the same issue. Fedora 33, installing `dotnet-sdk-5.0-5.0.200` results in no SDK content under `/usr/lib64/dotnet/sdk/` (as was the case for `dotnet-sdk-5.0-5.0.103`).

`5.0.200` SDK content seems to have been moved to `/usr/share/dotnet/sdk/5.0.200` , but `dotnet` host tools doesn't pick that up?

No errors in `/var/log/dnf.log`.

[2021-03-05 16:05] Miiite commented on #12490
I'm also seeing this behavior.
I created a .pubxml file using Visual Studio 2019, and the import of a .PublishSettings file downloaded from my azure resource.

Once the file is generated:

[code]
I tried using it from the dotnet CLI with:

`dotnet publish -c Release /p:PublishProfile=Properties/PublishProfiles/azure.pubxml`
or with
`dotnet build -c Release /p:DeployOnBuild=true /p:PublishProfile=P

[2021-03-05 16:08] paulguz opened #16227 "Option '-p' expects a single argument but 2 were provided"
Until yesterday, the following command worked

`dotnet watch -p ./myproject.csproj run --no-launch-profile -p ./myproject.csproj`

Then we updated to Visual Studio 16.9 and now it says

`Option '-p' expects a single argument but 2 were provided`

We have changed nothing except update Visual Studio.  It is happening to all developers.

If I remove the first -p, I'm told
`Specify which project file

[2021-03-05 17:02] sfoslund commented on #16194
Thanks for filing an issue, what version are you using? Can you provide the output of `dotnet --info`?

[2021-03-05 18:17] sfoslund commented on #16215
@wli3 it sounds like this might be expected behavior, do you know if it's an issue with dotnet tools specifically or all nuget.config handling?

[2021-03-05 20:34] ericstj commented on #11373
Might be the same issue as https://github.com/dotnet/sdk/issues/10575
Related https://github.com/dotnet/runtime/issues/11404
Seems like it's needed for https://github.com/dotnet/core/issues/5699 cc @terrajobst

I hacked this together a bit.  The SDK does honor items that the project creates but they must be tied to a package.  It won't honor any items that claim to come from the project.

Here's a

[2021-03-05 20:47] dotMorten commented on #11373
This is what I'd like to see. I'd also like for the nuget pack command to then correctly pack the library. That way when I do a nuget reference or a project reference, things works the exact same way

[2021-03-05 21:47] copernicus365 commented on #16215
That's a good question. It is a pain point and confusing how one gets a private nuget package source working with credentials. But that said, for the record, Visual Studio has been pulling from that source just fine for some time now for me.

Hmm, I hope not 😬

[2021-03-05 22:14] camerontbelt commented on #10621
So whats the resolution to this error?

[2021-03-05 22:20] ygoe commented on #16148
I have now uninstalled the .NET Core 2.1 and 2.2 SDKs and runtimes from my computer. They no longer appear in the output of `dotnet --info`. Yet this error message persists. Something in Visual Studio, the dotnet CLI or whatever component must be hardwired to .NET Core 2.2. Nobody uses it, nobody knows it exists, it's not referenced anywhere. Really weird. Only happens with tool packages targeting

[2021-03-05 22:34] ygoe commented on #16148
Here's a very simple sample app that I put together in a few minutes. It reproduces the trouble very quickly. The CliTool project is the one that generates the tool package. Its build output is included in the archive but you can rebuild it. Put the nupkg file in a directory that you have configured as NuGet package source on your local machine. (You need that anyway when working with your own pac

[2021-03-05 23:48] wli3 commented on #16211
per https://github.com/NuGet/Home/issues/10629#issuecomment-791129663 this only happens in publish. Should be something in sdk

[2021-03-05 23:49] wli3 commented on #16215
use `--ignore-failed-sources` option will ignore failed feeds

[2021-03-05 23:54] wli3 commented on #15972
@sfoslund I see we have this test ItCantPublishArm64Wpf  https://github.com/dotnet/sdk/blob/9c5126233b3d8a4ef1b0d2489098f29ec13389aa/src/Tests/Microsoft.NET.Build.Tests/KnownRuntimePackTests.cs#L138

So it is expected arm64 does not work with WPF?

[2021-03-06 00:18] clairernovotny commented on #15972
Publish does work though on the dotnet cli. It's the combination of build/publish/wapproj in VS that's broken.

[2021-03-06 00:37] vijayrkn commented on #15972
@clairernovotny - If you specify just one RID in the pubxml, does it work from VS?
`<RuntimeIdentifier>win-arm64</RuntimeIdentifier>`

Based on the above error message, VS is not looking in the correct restore directory.

[2021-03-06 01:08] kevinkoenig commented on #16194
.NET SDK (reflecting any global.json):
 Version:   6.0.100-preview.1.21103.13
 Commit:    b8a03527b2

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.21327
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.100-preview.1.21103.13\

Host (useful for support):
  Version: 6.0.0-preview.1.21102.12
  Commit:  9b2776d481

.NET SDKs installed:
  5.0.

[2021-03-06 01:09] kevinkoenig commented on #16194
also i just reinstalled my entire machine from scratch.  Still an issue.

[2021-03-06 09:59] arsinclair opened #16234 "bug: x64 and x86 dotnet don't see each other"
I am trying to set-up a CI for building/publishing and then hosting a Blazor app on the same Windows machine. So to build/publish it I need a .NET SDK, and to host it on IIS I also need .NET Hosting Bundle (to have _AspNetCoreModuleV2_ in the IIS). I want the CI to be able to install missing .NET bundles, so before the deployment I need to check if there are any already installed. I am using a `do

[2021-03-06 18:06] stevenbrix commented on #16211
Note that their is a binlog attached in the NuGet issue. We are able to workaround this, but it didn't entirely work as expected. I'll describe the workaround attempts below.

### 1st Workaround Attempt
@wli3 I made a workaround that looks like this:

[code]

This results in the build working as expected, with the files being placed in the correct location, but it crashes on startup with this erro

[2021-03-06 20:40] vitek-karas opened #16235 "CreateAppHost: Check for actual exception type from ResourceUpdater"
Per https://github.com/dotnet/runtime/issues/3705 we're checking the resource updater exception using reflection APIs in:
https://github.com/dotnet/sdk/blob/62e97f50b0b56305b6f93a8acbbf913dce51f531/src/Tasks/Microsoft.NET.Build.Tasks/CreateAppHost.cs#L83-L84

The exception has been made public in https://github.com/dotnet/core-setup/pull/7665 and so it should be changed to catch the exception by i

[2021-03-07 08:05] n1developer-ubt opened #16237 "Dotnet watch run cause my Mac to restart"
Panicked task 0xfffffe166e9137f8: 23573 pages, 1 threads: pid 2172: dotnet
Panicked thread: 0xfffffe16739f6c68, backtrace: 0xfffffe309539b160, tid: 36995
		  lr: 0xfffffe001abadf7c  fp: 0xfffffe309539b1d0
		  lr: 0xfffffe001abadd48  fp: 0xfffffe309539b240
		  lr: 0xfffffe001accf7d0  fp: 0xfffffe309539b260
		  lr: 0xfffffe001acc12fc  fp: 0xfffffe309539b310
		  lr: 0xfffffe001ab677e8  fp: 0xfffffe30

[2021-03-07 20:25] jwdonahue commented on #16156
`dotnet msbuild` also exhibits this random behavior, as can be seen here:

https://dev.azure.com/sharperhacks/Core-Libs/_build/results?buildId=262&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=bd05475d-acb5-5619-3ccb-c46842dbc997&l=29

The follow-up build succeeded:

https://dev.azure.com/sharperhacks/Core-Libs/_build/results?buildId=263&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9

[2021-03-08 12:09] MV10 commented on #16224
Two issues:

 - The `403` error was because my cached credentials used by NuGet CLI were out of date
 - The `semVerLevel=2.0.0` specifies the NuGet API version, not the requested package

Running this to update my cached credentials fixed it:

`nuget update source "Artifactory" --username ""xxxx"" --password ""xxxx""`

[2021-03-08 12:09] #16224 closed

[2021-03-08 13:26] adupont-logiq-ca opened #16241 "dotnet build exit with a success exit code = 0 on build failure"
Using dotnet build , dotnet test when an error occured, dotnet not return the error code of build nor of test.

I'm using dotnet --version
5.0.200

[2021-03-08 16:50] sfoslund commented on #16194
This is a known issue with 6.0 preview 1, can you update to a later version?

[2021-03-08 18:13] mhutch commented on #14189
We didn't, but I did it in https://github.com/dotnet/designs/pull/183

[2021-03-08 18:17] marcpopMSFT commented on #15230
@wli3 any ideas?

[2021-03-08 18:24] aaronla-ms opened #16244 "Feature Request: support for nuget package consumption in framework-less projects"
## Details about Problem

Detailed in issue https://github.com/dotnet/msbuild/issues/6210

Presently, nuget client errors out during `dotnet restore` if a user's project does not specify either TargetFramework or TargetFrameworks. E.g. if I'm building a nuget package that contains only build scripts or tools, so has no dependency on any dotnet framework version.

NuGet product used (NuGet.exe | Vi

[2021-03-08 18:53] dsplaisted commented on #15757
@tommcdon Can you find someone to investigate this ARM32 issue?

[2021-03-08 18:55] tommcdon commented on #15757
@agocke

[2021-03-08 19:01] agocke commented on #15757
@sbomer Could you take a look? I'm not sure where we found an ARM32 machine last time

[2021-03-08 19:27] sbomer commented on #15757
The app works on ARM32 if you manually set `DOTNET_ROOT`. The issue is that the `dotnet run` command is setting the wrong env var on non-64bit linux:
https://github.com/dotnet/sdk/blob/8ab6678895ae6991bbf6114ec5c4a67a4395e0a0/src/Cli/dotnet/commands/dotnet-run/RunCommand.cs#L259

The host uses `DOTNET_ROOT` for everything but wow64:
https://github.com/dotnet/runtime/blob/4c79d45edd899133cf6d36dc9b

[2021-03-08 19:43] jamers99 commented on #15233
The solution above may work, but seems less than ideal and perhaps even hacky. Is there no way for the runtime to just ignore a project that's in the `.deps.json` but doesn't actually exist?

[2021-03-08 20:17] sbomer commented on #15757
I confirmed that this also repros in .NET 5.

[2021-03-08 20:25] cubikca opened #16245 "dotnet-ef doesn't work with dotnet-sdk snap"
1. Install dotnet-ef: `dotnet tool install -g dotnet-ef`
2. Run dotnet-ef `dotnet-ef`

Error is thrown complaining about missing ICU library. libicu66 is installed on Ubuntu 20.04.

Fix:
1. Remove snap `snap remove dotnet-sdk`
2. Install from Microsoft repo `apt install dotnet-sdk-5.0`
3. Reinstall dotnet-ef `dotnet tool uninstall -g dotnet-ef && dotnet tool install -g dotnet-ef`

Now works as exp

[2021-03-08 20:58] vitek-karas commented on #15233
Short answer: no. The runtime currently expects only input generated by the SDK. Since SDK should never do such thing, it doesn't allow this.

[2021-03-08 21:58] matkoch opened #16248 "Structure of CLI commands"
Summarizing a [conversation](https://twitter.com/KathleenDollard/status/1369042056526454786) with @KathleenDollard on Twitter:

The dotnet CLI has introduced a very (to me) unique way of structuring commands, where context arguments sit between actual subcommands:

[code]

From other commands like `dotnet build` I'm used to specify the project with the `--project` switch, which also comes way more

[2021-03-08 22:47] KathleenDollard commented on #16248
A minor correction: There isn't a `--project` switch on `dotnet build`. The project name is an argument that appears after the `build`.

So there is also the question of whether if we do this we should allow `--project` as an additional option everywhere that takes a project argument today.

[2021-03-08 23:05] DamianEdwards commented on #16196
Also note that due to the architecture of the CLI many components that bring in these resources are there multiple times, so the cost isn't even paid just the once. Some components bring assets for multiple TFMs and the current packaging means they bring the same resources in each TFM dir too. I'm not sure which components actually need assets for multiple TFMs or what it would take to de-dupe the

[2021-03-09 00:18] KathleenDollard opened #16250 "Support for performance improvement effort"
We are adding 5 timing values to our telemetry for .NET Cli commands. Because this is in support of telemetry commitments for 6.0 we are adding these values in the 5.0.202 servicing release to ensure adequate time to respond to what we learn. Five new values will be recorded on certain existing telemetry events, with no other changes in telemetry: 

|First appears in| Description of data|
|-|-|
|

[2021-03-09 01:39] DamianEdwards commented on #8697
We're investigating CLI performance for the commands frequently used during development as part of .NET 6 and we definitely expect to get improvements to this very common scenario of running a simple app via `dotnet run`.

As it stands today, using a nightly build of .NET 6.0-preview.3, a `dotnet run` on a "Hello, World!" console app takes about 1.3-1.4 seconds on my machine, after a warm-up run o

[2021-03-09 02:12] danmoseley opened #16252 "It_retries_on_failure_to_create_apphost still failing on Unix"
from https://github.com/dotnet/sdk/pull/16230
It seems that this test case is consistently failing on several different builds (https://dev.azure.com/dnceng/public/_build/results?buildId=1027812&view=results, https://dev.azure.com/dnceng/public/_build/results?buildId=1027778&view=results, https://dev.azure.com/dnceng/public/_build/results?buildId=1028077&view=results) with the following exception:

[2021-03-09 03:07] dsplaisted commented on #15485
It seems like Sarah was correct here.  Fixing one bug (It sounds like `RestoringCommand` wasn't correctly detecting when it needed to run a separate restore command) exposed another bug.  The new bug is that additional targets specified (such as `Run`) get passed through to the restore command, when they should be filtered out and only passed to the actual command run after the restore.

[2021-03-09 04:15] dsplaisted commented on #15485
@sfoslund Could you work on fixing this?  I tried, but ran into issues where an argument such as `-t:Run` got interpreted as the `SlnOrProjectArgument` by the parser, and thus wasn't handled correctly by `RestoringCommand`.

Here is the change I made, which added some test coverage and tried to fix `RestoringCommand`: https://github.com/dsplaisted/sdk/commit/ad79b3f866829dba3ca4dd35e6edd3897b7bd46

[2021-03-09 04:41] matkoch commented on #16248
Sorry, confused that. There is a `--project ` option for `dotnet run`.

[2021-03-09 05:20] wli3 commented on #15230
dotnet executable rpm is created in runtime repo

[2021-03-09 05:44] wli3 commented on #16196
`dotnet.deps.json` seems like an easy win. @vitek-karas can we just remove that?

For satellite assemblies. @DamianEdwards @KathleenDollard I hope PM can take the first action approaching this issue. We should define an acceptable experience first. On VS, standalone installer, zip/tarball with optional workload * offline scenario. Would we pause and wait for sdk to download 10 mb loc files on user

[2021-03-09 10:19] vitek-karas commented on #16196
It depends what's in it. If the CLI was built as a normal app with SDK I would not worry about it, but the CLI construction is not a standard process, so I don't know for sure that there's not something weird about the .deps.json. In short:
* If all the assemblies are in the root folder of the SDK
* There are no RID specific assets (like native libraries) in subdirectories
* All satellite assembli