[2019-03-12 10:52] paulomorgado commented on #1458
how about `dotnet pack '/p:AllowedOutputExtensionsInPackageBuildOutputFolder=.dll;.exe;.winmd;.json;.pri;.xml;.pdb' `?

[2019-03-12 19:30] nguerrera commented on #2914
We're not dropping this. I will work on fixing it.

[2019-03-12 23:01] #3004 closed

[2019-03-13 02:07] 6pac commented on #1897
Also getting this error building in DotNet Standard targeting 4.6.2.
Despite searching, I have not been able to find any good quality resources about analysing and troubleshooting packages and dependencies.  Does the team know of any good resources?

For example, I had an issue with Newtonsoft.Json in a 5-project solution, because one of my projects targeted 12.0.0, and while none of the other pro

[2019-03-13 19:48] louislewis2 commented on #795
Hi guys,

Been working on a project where i am required to include xml documentation.
This works as expected, when adding the GenerateDocumentationFile tag.

The problem is, that I need to be able to include the xml documentation of
packages that come from nuget. I see this question was asked before, but did not see it
get addressed.

How would one go around this?

My use case is specifically for

[2019-03-13 20:57] Alienroid commented on #1073
I got similar issue as @night-king. "Error MSB4018: The "TransformWebConfig" task failed unexpectedly. System.Exception: In process hosting is not supported for AspNetCoreModule. Change the AspNetCoreModule to atleast AspNetCoreModuleV2."

My local builds fine. The issue only happened when I publish to azure.
Steps to resolve my issue:
1) as @vijayrkn mentioned, add the AspNetCoreModuleV2
2) save,

[2019-03-13 21:49] dsplaisted commented on #795
@louislewis2 This is being tracked in #1458.  [This comment](https://github.com/dotnet/sdk/issues/1458#issuecomment-420456386) specifically has links to workarounds you can apply.  Thanks!

[2019-03-14 23:09] #3007 closed

[2019-03-15 12:52] Tragetaschen commented on #2787
Even changing the SDK's .targets files doesn't have any effect

[2019-03-15 20:55] wli3 commented on #2998
It is similar to zsh https://github.com/dotnet/cli/issues/9321 . Powershell does not expand `~` on PATH. The best we could do is detect shell, and print a command, and let user to add it to their profile. Since on Linux only user should edit their bashrc

[2019-03-15 23:16] jzabroski opened #3026 "<EnableDefaultItems>true</EnableDefaultItems> not configurable"
Example usage:

[code]

https://aka.ms/sdkimplicititems lays out the current behavior of `EnableDefaultItems` - I find it strange that the only way to auto-include resources if they have a resx extension.

I love the ability to do the following, but it does not allow me to recursively include an entire folder as a certain Build Action (like EmbeddedResource):

[code]

I don't know about most devel

[2019-03-17 07:33] fernacolo opened #3023 "PackAsTool true breaks debugging in Visual Studio when project is WPF"
I'm writing a tool application that uses WPF. It is intended to be called from console, but it shows graphics that cannot be represented by text, therefore I need WPF. It works fine in .NET Framework, but when migrating to .NET Core, when I add `<PackAsTool>true</PackAsTool>`, VS2019 cannot debug it anymore, saying:

 **The debug executable 'c:\path\to\mytool.exe' specified in 'mytool' debug profi

[2019-03-19 09:25] itn3000 opened #3024 "dotnet pack always failed on Ubuntu-18.04 with dotnet-sdk-3.0-preview3"
# Overview

`dotnet pack` command always failed in Ubuntu-18.04 in dotnet-sdk-3.0-preview3.
if dotnet-sdk-2.2 was used, it successed.

# Environment

platform is ubuntu-18.04-x64(created from azure virtual machine)

here is my `dotnet --info`
[code]

# Steps to reproduce

1. download dotnet-sdk-3.0-preview3 for linux-x64 from [SDK's download page](https://dotnet.microsoft.com/download/dotnet-core/

[2019-03-19 13:54] etbyrd commented on #3026
This issue was transferred to https://github.com/dotnet/sdk/issues/3026

[2019-03-19 14:07] jzabroski commented on #3026
@etbyrd What's the point in transferring the issue from project-system to sdk if you are going to close it in both?  Was this a mistake?

[2019-03-19 14:36] NatElkins commented on #2682
@amlosi There are two reasons I see this kind of error pop up often.

1. You are trying to reference a project as a library that's actually an exe.

2. You try to publish for a platform, but the last time you did a restore it was for the "portable" version of things.

Imagine this situation.  You write some code.  Then you do `dotnet build MySln.sln`.  Build looks good.  Then you try and do `dotne

[2019-03-19 15:23] amlosi commented on #2682
@NatElkins thanks for the suggestion.  It turns out that the restore was not the issue.  I needed to change a referenced project to type library.  I.e. change this:
    <OutputType>Exe</OutputType>
to this:
    <OutputType>Library</OutputType>

[2019-03-19 15:25] NatElkins commented on #2682
@amlosi Yeah that was the #1 that I mentioned.  You can also omit `OutputType` entirely, it will be a library by default.

[2019-03-19 15:59] etbyrd commented on #3026
Sorry, that was a mistake! I didn't realize that Github updated the transfer behavior and I commented in the project-system issue before it resolved the transfer I think.

[2019-03-19 17:16] livarcocc commented on #3024
@peterhuene can you try that on your ubuntu box?

[2019-03-19 17:17] livarcocc commented on #3026
@dsplaisted can you comment?

[2019-03-19 17:36] fernacolo commented on #3023
Just FYI, I was able to mitigate by doing this:

    <PackAsTool Condition="'$(BuildingInsideVisualStudio)'!='true'">true</PackAsTool>

Yet I think the issue is prevalent. Just not sure if this is dotnet/sdk or VS2019 issue. Thanks!

[2019-03-19 17:39] peterhuene commented on #3024
I have an Ubuntu box? 😄 I'm actually an Arch user.  I can spin up an Ubuntu VM to investigate, though.

[2019-03-19 17:40] livarcocc commented on #3024
@peterhuene Sorry, I actually thought you used Ubuntu.

[2019-03-19 18:08] peterhuene commented on #3024
I can't reproduce it with Arch.  Going to spin up a VM.

[2019-03-20 02:50] jinweijie commented on #2780
I encountered same issue:

`Target _HandlePackageFileConflicts:
		Encountered conflict between 'Reference:/usr/local/share/dotnet/sdk/NuGetFallbackFolder/microsoft.netcore.app/2.2.0/ref/netcoreapp2.2/System.Collections.Immutable.dll' and 'Reference:/usr/local/share/dotnet/sdk/NuGetFallbackFolder/system.collections.immutable/1.5.0/lib/netstandard2.0/System.Collections.Immutable.dll'.  NETSDK1034: C

[2019-03-20 03:24] davidwengier opened #3027 "Duplicate "_PackageReferenceToAdd" item name breaks builds in VS"
Looks like this was introduced here:
https://github.com/dotnet/sdk/commit/63d7cdec5041a9a97b002b1e81d3d1f835cad871

`_PackageReferenceToAdd` is used twice.
It's used in: https://github.com/dotnet/sdk/blob/afae0615d5cbb16c058c5ce1fd65215d07df24d9/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.TargetingPackResolution.targets#L124

and:

https://github.com/dotnet/sdk/blob/f217153b0a162

[2019-03-20 05:43] nguerrera commented on #3027
Can you share a binlog. We need to fix the collision, but staring at this, it's hard to see how the second remove doesn't cancel out the first add.

Do you have a package reference include of an implicit package ref? Removing that might be a workaround.

[2019-03-20 05:43] nguerrera commented on #3027
Nevermind, the second one doesn't have a remove. Editing previous comment.

[2019-03-20 06:00] davidwengier commented on #3027
We had a few duplicate references, and removing the duplicates does work around the issue.

I'll send you the binlog on Teams, it has one env var that I'm not sure is 100% okay to share :)

[2019-03-20 06:07] davidwengier commented on #3027
Binlog linked above (in case you didn't see the notification)

[2019-03-20 06:31] nguerrera commented on #3026
The proposal doesn't have valid msbuild syntax.

The closest thing in spirit that I can imagine is:

[code]

But I can't see a way to consume that in evaluation. This was my attempt:

[code]

But this creates an item with literal identity `**/*.resx; **/*.sql` rather than globbing resx and sql files.

@rainersigwald is there any way to go get metadata from one item into the globbing of other items

[2019-03-20 08:36] leighghunt opened #10172 "Build fails with 'MSB3552: Resource file "**/*.resx" cannot be found.' on Linux and Mac when folders with windows like paths exist in project folder"
## Steps to reproduce
- Create a new console application
- Create a folder named `D:\Processed` within the project directory
- Build the project

## Expected  behavior
- Successful build

## Actual behavior
- Build fails.
[code]

Complete work through of issue from scratch:
[code]

Note that removal of the folder resolves the issue:
[code]

## Environment data
`dotnet --info` output:
[code]

[2019-03-20 12:33] christiandersendk commented on #2977
I had the same problem, and i opened the projects and did this, now it seems to be bulding again:

[code]

[2019-03-20 14:45] itn3000 commented on #3024
oh, I'm sorry. I setup another VM(conditions are same), `dotnet pack` successed.
It may be environment-specific problem.

[2019-03-20 15:13] jzabroski commented on #3026
Sorry for the invalid msbuild syntax - I was just prototyping my thought process, by literally translating/reifying the table in https://aka.ms/sdkimplicititems as a configuration that is relatively not noisy.

Honestly, at the end of the day, I just want simpler branch merges.  Another way to achieve the same goal would be to lexicographically sort items in ItemGroup collections.  I can't say it'

[2019-03-20 16:44] dsplaisted commented on #3026
@jzabroski It sounds like the root of the problem is that you can express the globs you want in the project file, but then there are cases where Visual Studio doesn't respect them.  IE this part:

When you say "adding new SQL files includes them as Content", how are you adding the files?  Via Add New Item in VS?  Or are you adding existing files from other folders, or what?

[2019-03-20 17:16] nguerrera commented on #3026
@dsplaisted, @jzabroski included a sample of what wasn't working:

They xml got stripped from my first attempt to quote it. I believe the issue is that this doesn't remove anything from sdk None globs or web sdk Content globs, leading to the unfortunate behaviors in VS (or whatever else consumes None/Content in an arbitrary build).

[2019-03-20 17:29] jzabroski commented on #3026
Thanks for being my champion, @nguerrera .  Can I ask, as I'm not an MSBuild regular, when you use the word glob, is that short for "global property" or as in "glob of data" (as in a fancy way of saying bulk data).    The closest I can find to a definition of the phrase "globbing" is here: https://github.com/Microsoft/VSProjectSystem/blob/master/doc/overview/globbing_behavior.md - but it's a bit c

[2019-03-20 17:30] peterhuene commented on #3024
I've also been unable to reproduce.  Does this consistently happen with the original VM if you try with another project?

I'd like to figure out just a little more before closing.

[2019-03-20 17:30] dsplaisted commented on #3026
I see.  I think we see once again that the `None` glob was probably a bad choice.

However, in that case it sounds like the workaround could be to set the `EnableDefaultNoneItems` property to false.

The Content glob in the Web SDK isn't quite as bad, it only globs for all files under the wwwroot folder, and then for .json and .config files from the project root.

[2019-03-20 17:31] dsplaisted commented on #3026
By globbing we mean using wildcards to specify files, ie: https://en.wikipedia.org/wiki/Glob_%28programming%29

And for SDK projects we have default globs for source files, resource files, etc.

[2019-03-20 17:53] jzabroski commented on #3026
Thanks - I wish I could contribute more but I've never benchmarked file watching in an IDE before, so I don't know what solution would be best for Visual Studio to implement on its side of things.

Also,

Without knowing all your thoughts on this, I will just say as a customer I'm very happy with the .cs glob as a deault item for .NET SDK project type.  It solves about 90% of my scenarios.  But th

[2019-03-20 18:35] itn3000 commented on #3024
It can be reproduced in another project(like console) on same machine.

[2019-03-20 18:35] dsplaisted commented on #3026
This comment was really directed at members of my team, so let me explain it better:

For SDK projects, by default we include all .cs files (assuming it's a .csproj) as `Compile` items, and all .resx files as `EmbeddedResource` items.  We include everything else as `None` items.  These three are what we mean by "default globs".  You can see the code for this [here](https://github.com/dotnet/sdk/bl

[2019-03-20 18:58] peterhuene commented on #3024
If you `dotnet build` prior to `dotnet pack`, does it succeed?

Shot in the dark: do you happen to have an environment variable named `NoBuild` set?

[2019-03-20 19:15] itn3000 commented on #3024
I tried `dotnetb build` then `dotnet pack`, build was successed but pack was failed.
`NoBuild` seemed to be set.here is my `export` command output.
[code]

[2019-03-20 19:35] rainersigwald commented on #3026
Yeah, I haven't been able to come up with anything either.

I like @dsplaisted's recommendations (this will not be surprising to folks that have worked with me on this: I don't like the default globs in general).

[2019-03-20 19:45] nguerrera commented on #3026
@jzabroski Does this work for you:

[code]

[2019-03-20 20:02] jzabroski commented on #3026
@nguerrera Yes, that does work and appears to solve the issue with if I right-click on an existing .sql file in the solution, it being added to the csproj as a None item.  One question about this - how does it "know" whether something should be globbed or not at the time I copy and paste a file in Visual Studio Solution Explorer?  I tried testing to see if it matters at all the order in which I sp

[2019-03-20 20:15] jzabroski commented on #3026
OK, so, this seems to work perfectly, but as I re-read https://aka.ms/sdkimplicititems , I didn't grok the first couple of times I read this page that the answer was pretty much right in front of my eyes:

Now that I've seen how the magic trick works, I'm not sure I can improve the documentation to make it clearer to others, but it definitely flew over my head that this was the trick to make every

[2019-03-21 01:33] dsplaisted commented on #2682
@NatElkins This is essentially what does happen- since .NET Core 2.0 (IIRC), the publish command will automatically restore.  So I *think* that in order to hit the second cause of the issue you listed you would generally need to explicitly specify `--no-restore` as an argument to publish

This mismatch issue should be fixed when targeting .NET Core 3.0, as we've made changes to how the self-contai

[2019-03-21 13:34] eerhardt commented on #2682
@dsplaisted - is the following scenario fixed in 3.0 as well?

[2019-03-21 17:50] springy76 commented on #2940
@nguerrera I found the problem: It was the (our) specific build server which restored Nuget packages using `nuget.exe restore`. I changed this to `msbuild -t:restore` and now everything is fine.

[2019-03-21 18:54] jnm2 opened #3031 "Native assets are not copied to bin for net472 app if any referenced package uses netstandard2.0"
Full description is here: https://github.com/dotnet/symreader-converter/issues/151

I suspect this is an SDK bug in `C:\Program Files\dotnet\sdk\2.1.504\Sdks\Microsoft.NET.Sdk\tools\net46\Microsoft.NET.Build.Tasks.dll`; see https://github.com/dotnet/symreader-converter/issues/151#issuecomment-475344092.

My workaround for now is to add this to the csproj, but it's obviously brittle:

[code]

[2019-03-21 20:01] livarcocc commented on #3031
@peterhuene can you take a look?

[2019-03-21 20:13] peterhuene commented on #3031
With the provided project file:

[code]

I get `Microsoft.DiaSymReader.Native.x86.dll` in the build output because `PlatformTarget` was not specified, and the .NET Core SDK defaults to `win7-x86` for the RID to use for copying locally assets.

When setting `PlatformTarget` to `x64` with `dotnet build /p:PlatformTarget=x64`, I get `Microsoft.DiaSymReader.Native.amd64.dll` in the output instead, whi

[2019-03-21 20:15] peterhuene commented on #3031
@jnm2 I'm going to close this issue as by design. With the .NET Core SDK when targeting .NET Framework TFMs, you need to specify `x64` for `PlatformTarget` if you want the 64-bit assets instead of the 32-bit assets.

Please reopen if you disagree with my assessment.  Thank you!

[2019-03-21 20:16] jnm2 commented on #3031
I tried this with both `<PlatformTarget>x64</PlatformTarget>` and `<PlatformTarget>x86</PlatformTarget>` with no effect. I'll double-check.

[2019-03-21 20:22] peterhuene commented on #3031
I also used the property in the project file; shouldn't make a difference in this case.

The .NET Core SDK I was using to repro was 2.1.504 (I tried to match the version I think you're using).

[2019-03-21 20:23] jnm2 commented on #3031
@peterhuene Thanks for looking at this. I should have mentioned up from that I tried `<PlatformTarget>x64</PlatformTarget>` and `<PlatformTarget>x86</PlatformTarget>` with no effect. I just double-checked:

[code]

By "with the .NET Core SDK," do you mean the SDK-style csproj? I'm building from within Visual Studio, not the command line.

One more thing. Why is it by design to copy the native DLL

[2019-03-21 20:26] jnm2 commented on #3031
@peterhuene Ah, the number  2.1.504 came up when I used http://msbuildlog.com to try to get at the source of the problem. It appears to behave exactly the same as when building within VS2019 RC.1 SVC1.

[2019-03-21 20:29] jnm2 commented on #3031
Mind if I reopen since `<PlatformTarget>x64</PlatformTarget>` in the project isn't making a difference for me?

[2019-03-21 20:30] peterhuene commented on #3031
Sure, I'll try to reproduce inside of Visual Studio then.

[2019-03-21 20:31] peterhuene commented on #3031
Are you able to reproduce from the command line with `dotnet build`, though?

[2019-03-21 20:33] jnm2 commented on #3031
I hadn't tried before but yes, actually.

[2019-03-21 20:33] jnm2 commented on #3031
[code]

[2019-03-21 20:35] jnm2 commented on #3031
I see I had been running VS2017's MSBuild.exe from MSBuild Structured Log Viewer. Maybe that explains the 2.1.504.

[2019-03-21 20:36] peterhuene commented on #3031
I'm also unable to reproduce with that project (with `<PlatformTarget>x64</PlatformTarget>` added.

What's the contents of your `bin\Debug\net472` directory after you build?

[2019-03-21 20:38] jnm2 commented on #3031
<details>

[code]

</details>

Does it matter that I have this nuget.config?

[code]

[2019-03-21 20:43] peterhuene commented on #3031
The `nuget.config` shouldn't matter.

If you don't mind, could you email me a binlog when building this project at pehuene@microsoft.com?

Before you do so, though, please read [this document](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b) regarding sharing binlogs.  Specifically, the fact that your environment variables and local file paths will be recorded in the log.  If e

[2019-03-21 20:48] peterhuene commented on #3031
Sorry, I didn't realize that the project provided was the "working" one. If I reference `4.2.0` of that progress bar package, I am able to reproduce.

Now that I'm able to reproduce, I'll look into it.  No need for the binlog.  Thanks!

[2019-03-21 20:49] jnm2 commented on #3031
Oh, no! I'm sorry! Thanks!

I had the repro down to a single file:

##### repro.csproj

[code]

[2019-03-21 21:59] dsplaisted commented on #2682
@eerhardt It should be fixed in the sense that you won't get the same error when you build.  There might be other things that don't work, for example if you expect to be able to run project B from the output folder of project A, that could fail for a variety of reasons (dependencies aren't the same, runtimeconfig files don't get copied...)

[2019-03-21 22:53] peterhuene commented on #3031
So the native asset is disappearing from the restore graph for some reason.  When `ShellProgressBar` is `4.0.0`, which is `netstandard1.6`:

[code]

When we reference `ShellProgressBar` at `4.2.0`, which is `netstandard2.0`:

[code]

`ResolvePackageAssets` is correctly resolving an empty set of native assets since they aren't in the graph.

Oddly, `build/Microsoft.DiaSymReader.Native.props` has th

[2019-03-21 23:25] dsplaisted commented on #3031
@peterhuene I looked at some of the packages involved, and my guess is that because ShellProgressBar has a package dependency on the NETStandard.Library package for its .NET Standard 1.3 version, the "platforms" package with the RID graph (Microsoft.NETCore.Platforms) is being brought in.  The .NET Standard 2.0 version of ShellProgressBar doesn't have the NETStandard.Library package dependency any

[2019-03-21 23:32] peterhuene commented on #3031
Ah, that makes sense.  Thanks for clearing that up.  That can be terribly confusing for users that just bump package versions and assets disappear like that.

@jnm2 adding a package reference to `Microsoft.NETCore.Platforms` (2.2.0 is latest) should solve the problem.  This will provide a RID graph so that the NuGet can resolve the native assets correctly.

[2019-03-21 23:34] peterhuene commented on #3031
@jnm2 if this is a suitable workaround for you, please let me know and we can resolve this issue.

[2019-03-22 00:00] jnm2 commented on #3031
@peterhuene This workaround is fine. If this a problem in the ShellProgressBar package, what is the best link I can give the author to explain the problem and how to fix it? (Or is this a point-in-time design problem with the SDK?)

[2019-03-22 00:28] peterhuene commented on #3031
@jnm2 it's not a problem with the `ShellProgressBar` package and instead the result of how `netstandard` libraries were being packaged for 1.x vs. 2.0.

To restore native assets, NuGet needs a [RID graph](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog).  This is what tells NuGet that RID `win7-x64` is a child of `win-x64`, which is a child of `win` when resolving assets, for example.  Th

[2019-03-22 00:31] #3031 closed

[2019-03-22 00:34] jnm2 commented on #3031
@peterhuene Thanks, that helps. The fix is not very discoverable and the package reference I'm adding isn't very self-explanatory, but I might remember next time. Is there hope for this to just work in the future?

[2019-03-22 00:45] peterhuene commented on #3031
I totally agree that the fix is not discoverable.

@livarcocc @nguerrera @dsplaisted @kathleendollard any thoughts on how we could improve upon this experience for our users?  Is there documentation surrounding building `.NETFramework` applications with the .NET Core SDK that might need to call this out better?

[2019-03-22 00:47] peterhuene commented on #3031
Perhaps NuGet could warn that native assets were found in a package but the RID graph was not?

[2019-03-22 10:08] tommy86r opened #3300 "Self-contained asp.net core application gives the error “This executable is not bound to a managed DLL to execute”"
# Self-contained asp.net core application gives the error “This executable is not bound to a managed DLL to execute”

When I publish my asp.net core application as self-contained I succesfully get the myproject.exe. This exe file doesn't work if I double click on it and doesn't work if I try to run it from the cmd console. The project has been update from .net core 2.0 to 2.2
The exception is:

I

[2019-03-22 19:20] dsplaisted commented on #3031
@peterhuene For .NET Core 3.0, we're bundling the runtime graph with the SDK.  We hope to be able to [pass that graph to NuGet](https://github.com/NuGet/Home/issues/7351), which would mean the platforms package wouldn't need to be in the package dependency graph anymore.

[2019-03-22 19:26] peterhuene commented on #3031
And that's regardless of TFM, right?  Sounds like a solution to me.  Thanks!

[2019-03-22 20:48] fernacolo commented on #3023
Actually, the fix is not effective. I need the tool to be packed as `.exe`, because otherwise it uses the context of `dotnet.exe` process, which does not work for me.

[2019-03-23 00:28] fadimounir opened #3035 "SDK double writes runtime files when publishing self contained apps"
Here's a repro:
1) dotnet new console (make sure to target "netcoreapp3.0")
2) Edit the csproj and add a PackageReference to NewtonSoft.Json version 9.0.1.
3) dotnet publish -r win-x64

The Json library pulls netstandard1.x runtime packages, and when you run dotnet publish and reference netcoreapp3.0 runtime libraries, the list of files to publish will contain runtime assemblies from both 1.x and

[2019-03-23 00:29] fadimounir commented on #3035
cc @nguerrera

[2019-03-23 00:39] nguerrera commented on #3035
@dsplaisted

[2019-03-24 15:35] ChrisMaddock opened #3036 "GenerateSupportedRuntimes causes breaking change with targeting specific .NET framework versions"
(I think that...) The new GenerateSupportedRuntimes functionality (https://github.com/dotnet/sdk/pull/2447) caused a breaking change, when using the `complus_version` environment variable, to launch a process running on a specific version of the .NET Framework. This change broke the NUnit Console, which relies on this behaviour. The solution to this may be to "not do that" - but I thought I should

[2019-03-24 15:37] ChrisMaddock commented on #3036
I would also add - previously an exe tagetting .NET 2.0 would by default have run under the lastest .NET Framework version available (I think.) This change appears to change that default, for a .NET 2.0 assembly to always (only?) run under .NET 2.0?

[2019-03-24 18:00] ChrisMaddock commented on #3036
Whoops, forgot to add, this has been seen on the following version:

[code]

[2019-03-24 18:45] livarcocc commented on #3036
@wli3 can you take a look?

[2019-03-24 18:46] livarcocc commented on #3036
Also, @ChrisMaddock we don't officially support .NET Framework 2.0 on the .NET Core SDK.

[2019-03-25 01:36] flcdrg opened #10178 "Add parameter to ensure tests run in sequence regardless of when build completes"
As initially reported in https://github.com/Microsoft/vstest/issues/1966, there isn't currently a way to prevent `dotnet test` from running separate test assemblies in parallel when this is not desirable behaviour.

@ShreyasRmsft suggested that adding a new parameter to the cli that would ensure tests run in sequence regardless of when build completes would enable this.

[2019-03-25 04:06] xakep139 opened #3037 "NETSDK1056 error on building for Alpine 3.8/3.9"
### Steps to reproduce
[code]

Error:
[code]

I get the same error with Alpine 3.9 RID and\or `dotnet build`. However, I could build\publish with Alpine 3.7 RID successfully.

Here is an output of `dotnet --info`:
[code]

[2019-03-25 09:21] ChrisMaddock commented on #3036
Thanks @livarcocc.

Thanks - I wasn't aware of this. I just checked, and I don't see this behaviour when building in VS 15.9.9.

Stupid question then, sorry: I have csproj's that multi-target `net20;netstandard20`. What's the supported way of building those, outside of VS?

[2019-03-25 10:58] anttirt commented on #2902
We've run into another similar (but not the exact same) race condition:

	/usr/share/dotnet/sdk/2.2.103/Microsoft.Common.CurrentVersion.targets(2110,5):
	error MSB3248: Parameter "AssemblyFiles" has invalid value
		"/build/Engine/Server/bin/Debug/netcoreapp2.2/Hydra.Engine.Server.dll".
	The process cannot access the file
		'/build/Engine/Server/bin/Debug/netcoreapp2.2/Hydra.Engine.Server.dll'
	bec

[2019-03-25 15:12] livarcocc commented on #3037
I don't believe this is an issue. I believe 3.7 may be the highest we currently support.

@leecow to confirm.

[2019-03-25 15:16] xakep139 commented on #3037
@livarcoc, see https://github.com/dotnet/corefx/issues/34316 for 3.8 and 3.9. Also, there are official runtime-deps Docker images for these distros

[2019-03-25 15:19] livarcocc commented on #3037
@joperezr can you take a look here? We don't really have built-in knowledge of these rids, we just use the runtime.json file for this mapping.

[2019-03-25 17:46] nguerrera commented on #2425
@nkolev92 @rrelyea Ping on whether you see any issues (perf or otherwise) with:

[code]

[2019-03-25 18:39] nkolev92 commented on #2425
That will definitely carry a performance overhead when ATF is actually hit. I don't expect it to spiral out of control, but it will be noticeable. We'd need to investigate some more and do some testing to confirm this.

Another concern is ATF related deficiencies in the implementation.
https://github.com/NuGet/Home/issues/5957

[2019-03-25 19:06] nguerrera commented on #2425
cc @terrajobst. We're getting pressure to implement this by preview 4, but I'm not changing the code without NuGet's blessing.

[2019-03-25 19:13] nguerrera commented on #2425
Is it proportional to where the matching TFM appears in the list or proportional to the number of TFMs regardless of which one matches?

In other words, if a package has net461 compatible assets, will there be any slow down to resolve them between AssetTargetFallback=net461 and AssetTargetFallback=net461;net462;net47;net471;net472;net48 ?

[2019-03-25 19:27] nkolev92 commented on #2425
It's proportional to the number of tfm until it matches.

 So the answer to the question should be no.
`
In other words, if a package has net461 compatible assets, will there be any slow down to resolve them between AssetTargetFallback=net461 and AssetTargetFallback=net461;net462;net47;net471;net472;net48 ?
`

[2019-03-25 19:28] nguerrera commented on #2425
So it sounds like it would only slow down cases that fail today, in which case I think it is OK. How can we verify that?

[2019-03-25 19:29] livarcocc commented on #2425
I agree. Makes sense then.

[2019-03-25 19:40] nguerrera commented on #2425
Aside: Hadn't seen that before. It instantly explained https://github.com/dotnet/core-sdk/issues/78 (now closed as duplicate). :) I think we're going to see a lot of people hit this with .NET Core 3.0 bringing up classic desktop UI. It's separate, though.

[2019-03-25 19:46] Pilchie commented on #2425
Should the ordering go the other way? If an asset exists for both net48 and net461, should we actually prefer the net48 one?

[2019-03-25 19:52] nguerrera commented on #2425
@Pilchie We are keeping net461 first for compat. See whole discussion above about how suddenly getting different assets is the subtest of breaks. Recall the whole change in  what can use netstandard2.0 between nuget versions.

If we want to prefer newer over the rest, then this might as well be net461;net48. Anything lower than net48 after net48 doesn't serve any purpose. If you can't resolve for

[2019-03-25 19:54] nguerrera commented on #2425
We can change it to net48 by default for new TFMs. netstandard2.1, netcoreapp3.0.

And maybe we change netcoreapp2.0/netstandard2.0 to `net461;net48`

That would probably reduce the perf risk.

[2019-03-25 20:55] nguerrera opened #3040 "Fix flakiness in test-as-tools leg and re-enable it"
See #3038, #3039

We get a usage error from `dotnet tool run`

[2019-03-25 21:25] peterhuene commented on #3035
I see the expected behavior with `_HandlePackageFileConflictsForPublish`:

[code]

[code]

Perhaps I'm misunderstanding the issue?  @fadimounir can you explain to me what you mean by "double writes"?

[2019-03-25 21:42] fadimounir commented on #3035
@peterhuene during the CopyFilesToPublishDirectory, the same destination file is copied from multiple sources. See my example above, where System.IO.dll is copied from both these locations:

- C:\Users\fadim\.nuget\packages\runtime.any.system.io\4.1.0\lib\netstandard1.5\System.IO.dll

- C:\Users\fadim\.nuget\packages\runtime.win-x64.microsoft.netcore.app\3.0.0-preview4-27501-7\runtimes\win-x64\lib

[2019-03-25 21:47] wli3 opened #10179 "Do not print usage when Resolve cache miss"
https://github.com/dotnet/sdk/pull/3038#issuecomment-476381711

[2019-03-25 21:49] peterhuene commented on #3035
@fadimounir thanks for the explanation.

It appears that the copy targets aren't filtering out conflicts; the only dependency I see on `_HandlePackageFileConflictsForPublish` is for generating the deps file.

Checking to see if this is a regression from 2.2.

[2019-03-25 21:53] fadimounir commented on #3035
When I also try to repro this and look at the binlog, I see that @(_ResolvedCopyLocalPublishAssets) is equal to @(_ResolvedCopyLocalPublishAssetsWithoutConflicts). This causes the _ResolvedCopyLocalPublishAssets list to remain unchanged:
`
  <Target Name="_HandlePackageFileConflictsForPublish"
          AfterTargets="_ResolveCopyLocalAssetsForPublish;
                        _FilterSatelliteResour

[2019-03-25 22:20] peterhuene commented on #3035
So the filtering does happen before the copy (I forgot to notice that `_HandlePackageFileConflictsForPublish` has an `AfterTargets` set).

If you're not seeing any conflicts, then that would explain why it's copying both.  What version of the SDK are you using?

[2019-03-25 22:23] fadimounir commented on #3035
I'm building dotnet/sdk using a 10-day old master branch.

[2019-03-25 22:25] peterhuene commented on #3035
I found the problem.  It's related to the fix with this PR: https://github.com/dotnet/sdk/pull/3021

By not adding `RuntimePackAsset` items here, this moved adding the items to  `_ResolvedCopyLocalPublishAssets` **after** the conflict resolution occurs, thus they aren't being respected for conflict resolution.

I'll get this fixed.

[2019-03-25 23:42] jkoritzinsky opened #3042 "Adding User Experience for creating WinMDs on .NET Core"
We're planning on adding a new WinRT host in `core-setup` to enable users to author WinRT components that run on .NET Core 3.0 and are activated via the upcoming side-by-side WinRT resolution, Reg-Free WinRT. See dotnet/core-setup#5527

We should add support in the SDK to enable users to "relatively" easily author a WinRT .NET Core 3.0 component.

As per the design in dotnet/core-setup#5527, my pl

[2019-03-25 23:43] livarcocc commented on #3042
cc @peterhuene

[2019-03-25 23:44] livarcocc commented on #3042
Also @KathleenDollard for the experience.

[2019-03-25 23:51] terrajobst commented on #2425
@nguerrera already addressed the compat angle. But more importantly, the .NET Framework compat mode is best effort. If a package overs 4.6.1 and 4.8, presumably that's because it uses more features in the 4.8 binary. The 4.6.1 binary has a higher chance of working in .NET Standard compliant implementations though, which is why it still makes sense to prefer them over the later assets.

As far as t

[2019-03-26 12:27] vitek-karas opened #3043 "dotnet build doesn't write runtime properties to .runtimeconfig.json on .NET 2.1"
Using .NET Core 2.1

[code]

Edit `repro.csproj` to add `ServerGarbageCollection` property:
[code]

[code]

Open the `repro.runtimeconfig.json`:
[code]

It should have the `System.GC.Server` property:
[code]

Running:
[code]

Will produce the correct `.runtimeconfig.json` into the publish folder.

[2019-03-26 15:37] #3040 closed

[2019-03-26 16:20] onovotny opened #3044 "Restore fails if netstandard1.x package reference is present"
SDK version: 3.0.100-preview4-010963

repro:
- clone https://github.com/RssBandit/RssBandit
- cd source/RssBandit
- dotnet restore

[code]

[2019-03-26 16:23] nguerrera commented on #3044
Referencing current HEAD in case it moves between now and repro investigation: https://github.com/RssBandit/RssBandit/commit/628bd5ce8bac111f3a9d7000355b8ca70b94b7b2

[2019-03-26 16:25] nguerrera commented on #3044
I was confused on the email thread, this isn't conflict resolution as it's a downgrade during restore.

[2019-03-26 16:26] onovotny commented on #3042
Please fix WinMDExp to support portable and embedded PDB's. Do not want full pdb's and those also cannot go to the NuGet symbol server.

[2019-03-26 16:33] rainersigwald commented on #3042
The task itself looks like it would run on Core fine, but it calls `WinMDExp.exe`, which is part of the .NET SDK. Would that be ported to core? Does the required reference to a `Windows.Foundation.winmd` imply that a project using this would only ever be buildable on Windows?

[2019-03-26 16:36] leecow commented on #3037
Looks like 3.8 and 3.9 were added to 2.2 and 2.1. PRs suggest these were in in time for last month's release (2.2.3 and SDK 2.2.105).

[2019-03-26 18:48] dsplaisted commented on #3044
This should be fixed when we do https://github.com/dotnet/cli/issues/10105.  Previously I thought that trimming previous NuGet packages would merely be a perf optimization and conflict resolution would handle selecting the right assets.  However this demonstrates a case where there is a functional failure if we don't trim previous packages an old bug can resurface with .NET Core 1.x package refere

[2019-03-26 18:59] onovotny commented on #3044
Do I want version 2.2.0 or 3.0.0?

[2019-03-26 19:27] jzabroski commented on #2879
@Mairaw Not only that, but this warning does not seem to be disable-able.  I tried adding `<NoWarn>1071</NoWarn>` to my csproj build configuration, but it doesn't stop the warning.

In my case, there is a further issue I will submit a ticket for: If you have a WebApi.Tests project (e.g., that references a different project type with a different target framework moniker), then you won't be able to

[2019-03-26 20:24] jzabroski opened #3046 "Implicit references fail transitively"
Consider the following project structure:

[code]
and the following definitions for `WebApi.csproj` and `WebApi.Tests.csproj`:

# `WebApi.csproj`
[code]

# `WebApi.Tests.csproj`
[code]

If you build the solution, `Tests\WebApi.Tests\obj\project.assets.json` will show references to Microsoft.AspNetCore.All metapackage for .NET Core 2.1

The only solution is to use `AllowExplicitVersion="true"`:

[c

[2019-03-26 20:31] dsplaisted commented on #3044
2.2.0.  We will likely not have this package on NuGet.org for 3.0.0.

[2019-03-26 20:49] jkoritzinsky commented on #3042
cc: @tommcdon @cshung

[2019-03-26 21:06] rustyemmert commented on #1791
Thank you @bigbangtheorem for the workaround.

[2019-03-26 22:56] ericstj commented on #2071
Agreed we need this sort of feature.

The bit of boilerplate I've used is the following.  Properties set might differ depending on what you want it to do.   Make sure the name of this is `.proj` or something that isn't a standard project extension like csproj, vbproj, or fsproj since those all trigger conventions in msbuild.  If you want it to have a legitimate

[code]

[2019-03-27 00:27] livarcocc commented on #3037
@leecow @joperezr can we get some validation that these new rids are available with the runtime release mentioned above by lee?

[2019-03-27 00:29] livarcocc commented on #3046
@dsplaisted can you take a look?

[2019-03-27 00:41] livarcocc commented on #3043
Had you run a build before and this was the only change you made to your project? We have tests covering this particular scenario, so I don't believe this has regressed.

We have had, though, for a while, an issue where incremental build checks are not triggering based on changes to this property. So, if you build, change just this property and build again, the runtimeconfig.json file won't be re-

[2019-03-27 00:44] nguerrera commented on #3043
We should add a @(MSBuildAllProjects) input. This isn't perfect. It doesn't work with /p:ServerGarbageCollection changed between builds, but it fixes the repro here and many targets in msbuild use this heuristic. A few hash things to get more correcness, but that is painful.

[2019-03-27 00:46] nguerrera commented on #3043
Looks like past discussions were about deps file and we ended up adding $(MSbuildAllProjects) for that, but neglected to make the same change for runtime config.

[2019-03-27 00:47] livarcocc commented on #3043
Ah, that must have been what I was remembering. Let's use this bug to track this change for the runtime config then.

[2019-03-27 01:06] zcr1 opened #3050 "Segmentation Fault on Mac High Sierra 10.14.3"
I am experiencing fairly regular Segmentation Fault and System.BadImageFormatException: 'Bad IL format.' issues on Mac High Sierra. I do not have any reproducible code unfortunately but only happens in Lidgren (udp library), perhaps networking related?

[code]

[code]

[2019-03-27 01:31] livarcocc commented on #3050
The best place to start on this sort of issue is dotnet/core-setup. Moving this issue there.

[2019-03-27 01:31] #3050 closed

[2019-03-27 01:31] livarcocc commented on #3050
Issue moved to [dotnet/core-setup #5572](https://github.com/dotnet/core-setup/issues/5572) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-27 03:29] chabiss opened #3052 "System.Runtime.dll missing as a reference assemblies as of 3.0.0-preview4-27521-03"
System.Runtime.dll is missting once as a reference DLL when opened in Visual Studio  This breaks the XAML designer and block his release for Preview 2

[2019-03-27 03:33] #3052 closed

[2019-03-27 08:41] vitek-karas commented on #3043
There are two separate issues here:

The one tracked by this bug, which is about the fact that runtime properties are not written to `.runtimeconfig.json` on .NET Core 2.1 (and probably 2.2). It works on 3.0. This is true even for clean/build. Basically this issue is about the discussion whether we can fix it for 2.* apps in some way.

The other problem is that changing settings which affect `.run

[2019-03-27 12:06] nguerrera commented on #3043
@vitek-karas I cannot reproduce the first issue.

This would be an SDK bug, so it would depend on the sdk version. Please supply dotnet --info.

I have tried the following script on every sdk on my machine:

[code]

Here are the results:
[code]

[2019-03-27 12:14] jzabroski commented on #3046
It looks like another possible fix is FrameworkReference, per Nate McMaster. Still, not ideal.

[2019-03-27 12:27] nguerrera commented on #2787
We should add a $(MSBuildAllProjects) input. This isn't perfect. It doesn't work with /p:ServerGarbageCollection changed between builds, but it fixes the repro here and many targets in msbuild use this heuristic. A few hash things to get more correcness, but that is painful.

[2019-03-27 12:28] nguerrera commented on #3043
I've moved my comment on how to fix incrementality to https://github.com/dotnet/sdk/issues/2787 and put it in the 3.0 milestone. I've moved this back to Discussion milestone until I see an actual repro.

[2019-03-27 12:42] vitek-karas commented on #3043
Sorry - I can't repro it either now.
I know I tried it several times yesterday, but now on the same machine it works just fine.
I guess I must have run into the incremental build issue without realizing it...

Sorry again for the confusion.

[2019-03-27 12:42] #3043 closed

[2019-03-27 17:56] #3035 closed

[2019-03-27 18:43] sbomer commented on #3010
@dsplaisted any updates on this? This is important for the linker to be able to trim applications (without any unfortunate workarounds like shipping with a custom replacement for the GenerateDepsFile task).

[2019-03-27 19:12] SandeepApsingekar commented on #1010
I have the similar issue, was this issue resolved?
Any help would be appreciated.
Thanks

[2019-03-27 20:33] dsplaisted commented on #3046
@jzabroski This scenario will be fixed in .NET Core 3.0, which will use FrameworkReferences which will flow transitively.

For 2.2, the ASP.NET Core PackageReference does not flow transitively.  However, you should be able to add it to the test project (without a version number, the same as in the web project), and it should work correctly.  Have you tried that?

[2019-03-27 20:55] dsplaisted commented on #2879
I do not think that we should recommend setting AllowExplicitVersion.  See my comments [here](https://github.com/dotnet/sdk/issues/3046#issuecomment-477336223) and [here](https://github.com/aspnet/Docs/pull/11688#pullrequestreview-219719090)

[2019-03-27 21:17] dsplaisted commented on #3010
@sbomer I am currently working on this.  I have written test cases that fail due to this bug.

[2019-03-27 23:06] aeos opened #3055 "PackageDependencyResolution.targets error only occurring on Ubuntu 18.04.2 LTS"
We have a series of build scripts run through gulp which work flawlessly on windows, and inside a linux docker container. However, when run on a Ubuntu 18.04.2 LTS laptop, we get the following errors for various packages. If I build pack and push the project by itself the issue goes away. But if I build all of the projects through gulp the package won't build and failes with the following error:

[2019-03-28 04:01] livarcocc commented on #3055
Can you provide us with a set of repro steps that we could try ourselves? Could you share a repro repo on github that we can use to build and reproduce this issue?

[2019-03-28 09:39] SravanthiDondapati opened #3059 "NETSDK1064: Package Microsoft.VisualStudio.Web.CodeGeneration, version 2.1.1 was not found"
Hi There,

I am trying to configure Jenkins for my .Net Core Web API. We are using VS 2017 to build our code. So, when I try to build the project using command line **"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe" /target:Clean,Build /property:Configuration=Release,VisualStudioVersion=15.0 "projectName.sln"** I get the below error: **NETSDK1064: Packa

[2019-03-28 14:27] jzabroski commented on #3046
@dsplaisted That worked but it's a bit ugly to have to directly include the dependency.  I guess it's not much different from how the world worked 4 years ago, so can't complain too much.

Just wondering why this happens so often, and why I'm the one who catches things like this?

One logical reason could be that I define a "cleanfull" target in all my .NET Core projects that does the following:

[2019-03-28 16:43] jzabroski commented on #3046
@dsplaisted Can you please review my updated Docs pull request?  https://github.com/aspnet/Docs/pull/11688  I tried to incorporate your guidance.  I left out stuff about FrameworkReference in 3.0 in case that decision changes before final release.

[2019-03-28 16:44] livarcocc commented on #3059
Pass /restore as one of the arguments to msbuild so that it runs a restore and acquires the packagereferences for your projects.

If this does not work, let us know and we can re-activate the issue to look further into what is going on.

[2019-03-28 16:44] #3059 closed

[2019-03-28 19:15] dsplaisted commented on #3046
The transitivity issue isn't related to whether your project is clean.  It's just how the reference to ASP.NET works in .NET Core 2.2.

We've been iterating on how the ASP.NET dependency is expressed since .NET Core 1.0.  While not ideal, the behavior in 2.2 is improved over 2.1, 2.0, etc.  We've made some more fundamental changes for .NET Core 3.0, which we believe will be a big improvement and r

[2019-03-28 20:18] jzabroski commented on #3046
@dsplaisted Updated original post to reflect my full understanding of the issue.

[2019-03-28 20:24] jzabroski commented on #3046
It seems there are two possible positive test cases:
* Implicit references fail transitively (when two projects have the same .NET SDK Project Type and same target framework monikers)
* Implicit references fail transitively (when two projects have different .NET SDK Project Types but the same target framework monikers)
I'll omit negative test cases here, as we don't seem to know the root cause yet

[2019-03-28 21:45] wli3 opened #10184 "Update docker with build-in sudo"
To reduce the chance of build failure. Currently we need to download `sudo` for every build and due to network failure it could fail. The following images have build-in `sudo`.

https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/75

mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-afc9dca-20190328175133
mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-debpkg-cfdd435-20

[2019-03-28 22:40] jzabroski commented on #3046
@dsplaisted Is it possible `dotnet host roll forward` could be causing you to have difficulty reproducing my issue?  How do I share my settings with you?  I've just been going through documentation on .NET Core to fully understand what all the knobs are and how they work.  See: https://github.com/aspnet/Docs/blob/master/aspnetcore/fundamentals/metapackage-app.md

Quote:

So, at compile-time in Vis

[2019-03-29 02:59] aeos commented on #3055
I will try as soon as I can!

[2019-03-30 22:06] mafshin commented on #2682
I had the same problem with version 2.2 and 2.2.3 which is resolved by adding **TargetLatestRuntimePatch** in csproj:

[code]

[2019-03-31 15:57] barthamark opened #3065 "Files generated before build (e.g. by NPM or Gulp) into the wwwroot folder might not be accessible"
I have a BeforeTargets="BeforeBuild" script defined in my csproj file that executes a Gulp task which generates a bunch of js files taking more than 4 seconds to finish. These files are not accessible by the web application only after rebuilding the solution. However, if the script finishes quickly (couple milliseconds) then it will be fine after the first build.

[code]

This might be a duplicate

[2019-03-31 20:34] livarcocc commented on #3065
Which version of the .NET Core Sdk are you using?

What is your csproj like?

@rainersigwald what is the best target to use here? Is BeforeBuild target the ideal one? I remember there is some complication here.

cc @vijayrkn

[2019-04-01 03:08] hrumhurum opened #3066 "Intermittent file access errors to "obj\Release\net45\xxx.AssemblyInfo.cs" file"
From time to time we get the following error on build agents:

C:\Program Files\dotnet\sdk\2.1.505\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.GenerateAssemblyInfo.targets(134,5): error MSB3713: The file "obj\Release\net45\xxx.AssemblyInfo.cs" could not be created. The process cannot access the file '...\obj\Release\net45\xxx.AssemblyInfo.cs' because it is being used by another process.

Sometime

[2019-04-01 07:55] barthamark commented on #3065
I am using SDK v2.2.104 currently.

The content of the csproj is something like this:

[code]

[2019-04-01 14:37] rainersigwald commented on #3065
Is the problem that the `NpmInstall` generates javascript files that you expect to be picked up by the build and deployed with your application?

I suspect that the problem is that you don't add the files to the appropriate item after generating them in `NpmInstall`. The default glob (wildcard) includes apply only to files that exist on disk _before the build starts_. If files are created during t

[2019-04-01 14:38] rainersigwald commented on #3066
This suggests that the same project + TargetFramework is being built multiple times in parallel. That is likely revealing a deeper problem in your build.

I don't think there should be retry logic built in here, because it's likely to just move the problem to a different place. It's not the job of individual build targets to be robust to file-in-use errors; they should only build that robustness i

[2019-04-01 14:56] jzabroski commented on #3046
@dsplaisted I built a brand new machine, I put together a full repro of the issue, but noticed some oddities while trying to reproduce the issue.  In this case, your guidance to explicitly include an implicitly referenced metapackage without version in the transitive project **fails**.  Here are the errors - I will upload my full repro sln to GitHub for you to look into.

[code]

Here are my new m

[2019-04-01 15:22] jzabroski commented on #3046
@dsplaisted  https://github.com/jzabroski/ImplicitReferencesFailTransitively Good luck :)

[2019-04-01 16:51] jzabroski commented on #3026
@nguerrera @dsplaisted I'm good with closing this if you are.

[2019-04-01 16:55] jzabroski commented on #3044
@dsplaisted  The obvious, simpler, solution to this is to implement CleanFull, which we discussed in a separate topic last week as a meta-step I used when upgrading from .NET Core 2.1 to 2.2: https://github.com/dotnet/sdk/issues/3046#issuecomment-477618439

Trimming the NuGet object graph is the "clever" solution, but probably also too clever by half and adds complexity to an already complex sub-s

[2019-04-01 16:57] hrumhurum commented on #3066
That's a good observation.

The affected project is indeed a dependency to a dozen of other projects (I presume they may be built in parallel by Visual Studio). So it's located at the top of 'build graph' if you know what I mean.

However, all those projects (including the affected one) reside in a _single_ solution file. That solution is being built by a _single_ Visual Studio instance. That Visu

[2019-04-01 16:59] jzabroski opened #3067 "Implement CleanFull target"
In my .NET Core projects, I define a "cleanfull" target in all my .NET Core projects that does the following:

* Runs MSBuild Clean target
* Runs custom task to remove all nuget packages
* Runs custom task to remove MSTest results directory
* Runs custom task to remove bin and obj directories

The normal MSBuild Clean is a pain in the ass to deal with when upgrading .NET framework versions and mak

[2019-04-01 17:05] jzabroski commented on #3044
Nevermind.  I see that the issue here is that the packagereference is in the csproj.  I misunderstood @nguerrera link to the git commit hash - it's the commit that fixes the issue as well as what caused the issue in the first place.  I thought @onovotny was saying that he upgraded to 2.0.4 and still got errors due to cached packages still existing in the packages directory.

[2019-04-01 22:24] nguerrera opened #3068 "Support framework satellite assemblies in self-contained deployment"
The runtime packs for Microsoft.WindowsDesktop.App now have satellites assemblies. However, they are not used by self-contained build or publish.

They should be deployed exactly as satellites from a NuGet package. That is:

1. If `$(SatelliteResourceLanguages)` is not specified, then all satellites are deployed.

2. If `$(SatelliteResourceLanguages)` is specified, then only matching satellites ar

[2019-04-01 22:32] nkolev92 opened #3069 "ProduceContentAssets should not "url decode" paths provided by NuGet"
Create the following project and run `dotnet build`.
[code]

Make sure that nuget.org is among the sources.

[code]

The issue here is that the selected framework for the contentfiles is a PCL framework and `+` in the name, encoded as `%2B`.

NuGet extracts the encoded name, and writes that to the assets file, g.props as needed.

Paths that the targets read from NuGet should be treated as strings

[2019-04-02 00:27] peterhuene commented on #3069
The item comes out of `ResolvePackageAssets` with the decoded path.

We may need to escape output items from `ResolvePackageAssets` to ensure MSBuild doesn't decode any paths from the assets file.

[2019-04-02 13:00] jzabroski commented on #2879
@dsplaisted  Based on my repro in https://github.com/dotnet/sdk/issues/3046#issuecomment-477336223 I now think that you should reconsider this non-recommendation.

[2019-04-02 20:09] richlander opened #10191 "File in use problems"
I am using .NET Core and in a short timespan, I see the following two errors. They are intermittent (build again and the error goes away). I am using VS Code at the same time (if that matters). I have never seen this before. Any clues what might be going on? These are serious issues if at all pervasive.

[code]

And then:

[code]

[2019-04-03 02:28] davidfowl commented on #2787
I had no idea there was a known issue here, I see it all the time and I have to force a rebuild.

[2019-04-03 02:30] nguerrera commented on #2787
I didn't know about it until 7 days ago. :)

[2019-04-03 23:28] terrajobst opened #3075 "Framework defines can easily break code"
With #309 we've added an implicit define based on the target framework, which is super useful for customers when using conditional compilation.

Unfortunately, this makes it extremely easy to write code that breaks during retargeting. Let's say I'm in a .NET Standard project and I'd like to add a code path that uses some new feature in .NET Standard 2.1, so I multi-target for .NET Standard 2.0 and

[2019-04-03 23:29] terrajobst commented on #3075
Tagging @dotmorten who [pointed this out to me](https://twitter.com/dotMorten/status/1113577887704047616).

[2019-04-03 23:32] terrajobst commented on #3075
Also tagging @jaredpar and @MadsTorgersen for thoughts on the limitation in the C# preprocessor

[2019-04-03 23:35] dotMorten commented on #3075
Here's my specific scenario. Let's say I write code that targets NET452 specifically:
[code]
Fast forward a few years where 4.5.1 is no longer supported and I upgrade my target to .NET 461. Now I have to go through all places where I use `NET451` and change them to `NET461`.
Again it would have been more useful to just say `#if NETFX>461` or something like that.

Personally I'd prefer being able t

[2019-04-03 23:40] tomzorz commented on #3075
This would help 3rd-party devs too. Unity uses [the same suggested solution](https://docs.unity3d.com/Manual/PlatformDependentCompilation.html), it defines both e.g. `UNITY_5_6_1` and `UNITY_2017_3_OR_NEWER` versions, but numbers would simplify that a whole lot as well. (As it stands they have a magnitude more of these defines as their release cadence is quicker.)

[2019-04-03 23:46] terrajobst commented on #3075
If we're pushing for a C# change it's worth pointing out numeric symbols won't work for cases where we have three digit version numbers (`net > 4.5.1`). MSBuild has this problem today where two digits ends up being compared how you would expect while three digits are ending up being a string comparison and thus 4.5.10 doesn't end up being bigger than 4.5.9. Oops.

[2019-04-03 23:50] tomzorz commented on #3075
@terrajobst it'd be nice to have support for that. If major rework has to happen in the C# preprocessor anyway why not go all the way and have support for three digit version numbers (and maybe more) as well?

[2019-04-04 00:44] nguerrera commented on #3075
This isn't true. Msbuild will try System.Version before going to string. It will see 4.5.10 > 4.5.9

IIRC, where it can fail like this is with two part versions because it tries double before System.Version.

[2019-04-04 00:59] jgunzy opened #3076 "Build errors in VS2017 after installing VS2019"
I have an existing solution containing some projects targeting .Net Core 2.1 and .Net Standard 2.0.

I installed VS2019, and the solution builds.  If I open VS2017 and try to build the same solution, I get errors saying:
The current .NET SDK does not support targeting .NET Core 2.1.  Either target .NET Core 1.1 or lower, or use a version of the .NET SDK that supports .NET Core 2.1.
and
The current

[2019-04-04 03:43] wli3 opened #10195 "Clean up setting DOTNET_SKIP_FIRST_TIME_EXPERIENCE in script"
after https://github.com/dotnet/cli/issues/10364 this flag is no longer honored. We should remove it in our build script across CLI, SDK, toolset, core-sdk

[2019-04-04 04:32] peterhuene commented on #3067
Hi @jzabroski.  Thank you for the suggestion!

I'm not convinced that we need a "full clean" target in the SDK.  Most of what you listed could typically be accomplished with a command to clean the files not under source control from a repository (e.g. `git clean`).

As for cleaning the global packages, there is the `dotnet nuget locals` command that can be used to clear the global packages, if des

[2019-04-04 04:34] peterhuene commented on #3076
@dsplaisted are there any known issues with the SDK resolver that might explain what @jgunzy is experiencing? It looks like 2017 is no longer using a 2.1 SDK after a 2019 install, for some reason.

[2019-04-04 07:18] lostmsu commented on #2295
Which one of them can be safely removed, if I only build from VS 2017/2019?

[2019-04-04 07:38] 0xd4d commented on #3075
If you only target one .NET Framework version, use `#if NETFRAMEWORK` (`NETSTANDARD` exists too if you only target one .NET Standard version)

[2019-04-04 07:40] v-etzha commented on #3076
I got the same error after upgrading from 15.9.10 to VS 2017 15.9.11. It worked before the upgrading...
![image](https://user-images.githubusercontent.com/34734408/55537523-fbe7fa00-56ee-11e9-8758-1ae761eb4827.png)
And when debugging, the browser came up with an error HTTP Error 502.5 - Process Failure.
![image](https://user-images.githubusercontent.com/34734408/55537903-c394eb80-56ef-11e9-90fb-2c

[2019-04-04 07:55] mgravell commented on #3075
A better solution for this would be awesome. For a long time this has been a pain point for me, so I stopped using the automatic framework defines and started using manual per-feature defines in the csproj, but this gets super messy too, and is hard to maintain.

[2019-04-04 08:28] dasMulli commented on #3075
Even doing this in msbuild feels a bit hacky since the required property is ""private"" - `_TargetFrameworkVersionWithoutV`. See https://github.com/dotnet/sdk/issues/2618

For https://stackoverflow.com/questions/44208788/conditionally-compiling-for-a-minimum-version-of-net/44209523#44209523, this condition was the best i could come up with but it hurts my eyes

[code]

[2019-04-04 08:35] smoothdeveloper commented on #2363
I'm getting this error, the scenario is: create a proj file from scratch and try to get code code to compile via `dotnet build`:

dotnet.future.proj:
[code]

cmd.exe:
[code]
Suggestions:

###  Have dotnet output troubleshooting suggestions after the error message:

* specify TargetFramework(s) on the command line: dotnet build -p:TargetFramework=net472
* edit dotnet.future.proj and add `<TargetFra

[2019-04-04 08:42] dasMulli commented on #3066
Could you explain the structure a little bit more?

What framework / frameworks do these projects target? are they libraries or executables? (e.g. one executable referencing another), do you pass additional parameters during the build or project references?

You could for instance add `-bl` to your build definition to generate binlogs during the build and collect the resulting `msbuild.binlog` fil

[2019-04-04 08:56] dasMulli commented on #3065
The web SDK solved this for all web projects by re-evaluating some glob paths - see https://github.com/aspnet/websdk/blob/d6ba9de37748a12e7b8ea28bb7def3c954b1317f/src/Publish/Targets/ComputeTargets/Microsoft.NET.Sdk.Publish.ComputeFiles.targets#L48-L60

Since this project is using the Razor SDK, it doesn't get that behavior.

[2019-04-04 09:51] hrumhurum commented on #3066
The solution contains 175 projects. Most of them target .NET 4.5. and produce libraries, but about 7 of them produce executable files.

Executable projects depend on library projects, and library projects depend on other library projects + NuGet packages in &lt;PackageReference&gt; format.

The affected project with a race condition stays almost atop of the build graph, as the most of those 175 pr

[2019-04-04 10:08] dasMulli commented on #3066
Not sure if VS can produce a binlog without project system tools, I would suggest adding it to whatever invokes msbuild on the build server. My hope would be that it shows race conditions due to multiple builds for the same project with only some different properties.
There have been issues with doing a `publish` on sln files using RIDs (which is unsupported), other projects have trouble when a bu

[2019-04-04 10:48] dasMulli commented on #3076
Similar things on SO: https://stackoverflow.com/questions/55513335/the-current-net-sdk-does-not-support-targeting-net-core-2-2-sdk-2-2-202 - in this case not being able to taget 2.2

I remember there was some discussion about the installer changing to remove "old" .NET SDK versions from VS.

Could there be a problem that causes VS (2019) updates to remove 2.2.1xx and replace it with 2.2.202 which

[2019-04-04 13:20] jzabroski commented on #3067
These are all really good points, and my only rebuttal would be that about ~11 years ago when I was graduating college, I remember the word "simple" being used over and over again at a Microsoft Build conference, because there was this "critical moment" in High Technology where everyone agreed we were building things correctly but in complicated ways that were hard to learn, hard to discover, and

[2019-04-04 13:28] jzabroski commented on #3067
One last thought: It would be _awesome_ and a testament to this feature's success if the canonical answer on Stack Overflow for how to fix build issues after a major upgrade is "Oh, you just need to run CleanFull".  That's what I would define as a Perfect 10 in learn/discover/use metrics.

[2019-04-04 16:02] KathleenDollard commented on #3067
@jzabroski It's an interesting thought. Would you expect the syntax to be something like:

[code]

Questions:
- @peterhuene suggested `git clean`. This would clean obj/bin, and more. Do you think it's desirable to leave any git files other than obj/bin? To put a different way do you think more "just clean everything" (which would require git) or "just clean up the stuff you do on build"?

- Do you

[2019-04-04 16:37] dbreshears commented on #3076
I was able to repro this by removing all the .Net Core >  2.x on my machine.  Then Installing latest releases of VS 2017 and VS2019, enabling 2.2 development tools in VS 2019.   Then VS 2017 ASP.NET core projects targeting 2.2 fail to build.   Here is the dotnet --info

icrosoft Windows [Version 10.0.17763.379]
(c) 2018 Microsoft Corporation. All rights reserved.

dotnet --info
.NET Core SDK (refl

[2019-04-04 18:37] peterhuene commented on #3076
@dasMulli as far as I'm aware, only the recent previews of .NET Core 3.0 will uninstall previous SDKs, and only back to a certain preview release of the 3.0 SDK.  The 2.1 and 2.2 installs should never be touched by the 3.0 installer.

@dbreshears Thanks for the repro.  I'm going to take a look and see if I can get my VS 2017 into the same state to investigate.

[2019-04-04 18:41] peterhuene commented on #3076
Either @jgunzy or @dbreshears, just to be sure, are you able to build the problematic project from the command line using `dotnet build`?

[2019-04-04 18:51] dasMulli commented on #3076
@peterhuene my thoughts exactly but I don't know what the VS installer may decide to do.. if it also tries to do some housekeeping this could lead to problems as well - e.g. not deciding to install 2.2.105 if you have 2.2.202 or "I'm upgrading my dependencies - oh there seem to be some left over that I myself installed previously"
It seems that on another machine I seem to have ended up in a simil

[2019-04-04 19:10] peterhuene commented on #3076
I haven't yet been able to reproduce.  I uninstalled every .NET Core SDK on the system.  I reinstalled the .NET Core SDKs via the 2017 (15.9.11) installer; this installed a 2.0 SDK (2.1.202) and a 2.1 SDK (2.1.505).

I was then able to build 2.1 targeted projects.  I manually installed SDK 2.2.105 and was then able to build `netcoreapp2.2` projects in 2017.

I reinstalled the .NET Core SDKs via th

[2019-04-04 19:12] diedona commented on #3076
@peterhuene if you only have the lastest SDK (2.2.202) you will not be able to compile the project through VS 2017. This has happened with me and i needed to install 2.2.105 along so i can build through VS 2017...

https://github.com/dotnet/cli/issues/11072

but i think i have the issue at the wrong place

[2019-04-04 19:30] dbreshears commented on #3076
@peterhuene, yes building from the command line succeeds using dotnet build

[2019-04-04 19:32] peterhuene commented on #3076
@diedona that's the correct place for your issue too; ideally we'd have the issues in only `dotnet/cli`, but it's the same team that owns both repos and we track both issue lists together.

So it appears we're not doing a good job of communicating the fact that 2.1.602 and 2.2.202 require MSBuild 16 and that is only available in 2019.  Thus those SDKs aren't getting resolved by 2017 because it use

[2019-04-04 19:33] peterhuene commented on #3076
@jgunzy as to your original issue, would you mind providing a `dotnet --info`?  I suspect the only 2.1 SDK you have installed is `2.1.602`, which VS 2017 won't use, but I want to confirm.

If that is the case, did you uninstall the 2.1 SDK installed by 2017 manually or did it just disappear on you?

[2019-04-04 21:50] jgunzy commented on #3076
Here is the dotnet info. I did uninstall the other 2.1 SDKs, but only after I started having the issue.  I uninstalled them all and just reinstalled the latest from the Microsoft .Net Core website.  Windows settings is showing I have 2.1.602 SDK installed but it’s not showing in the info below.

.NET Core SDK (reflecting any global.json):
 Version:   2.2.202
 Commit:    8a7ff6789d

Runtime Environ

[2019-04-04 22:07] peterhuene commented on #3076
@jgunzy that's very unexpected.  Is there a `C:\Program Files\dotnet\sdk\2.1.602` directory or a `C:\Program Files (x86)\dotnet\sdk\2.1.602` (the latter would be if you installed a x86 SDK by mistake)?

Do you remember if you had a 2.1.505 SDK installed prior to installing VS 2019?

If you manually install 2.1.505, does it resolve your issue?

[2019-04-04 23:04] fantaclaus commented on #823
This happens in Visual Studio too!

[2019-04-04 23:22] wli3 opened #3081 "migrate newtonsoft.json to system.text.json in RegFreeComManifest.cs and ClsidMap.cs"
https://github.com/dotnet/sdk/blob/afae0615d5cbb16c058c5ce1fd65215d07df24d9/src/Tasks/Microsoft.NET.Build.Tasks/ClsidMap.cs
https://github.com/dotnet/sdk/blob/afae0615d5cbb16c058c5ce1fd65215d07df24d9/src/Tasks/Microsoft.NET.Build.Tasks/RegFreeComManifest.cs

[2019-04-04 23:22] wli3 commented on #3081
assign to@jkoritzinsky

[2019-04-04 23:23] wli3 commented on #3081
(for some reason you won't show up in Assignees' selection)

[2019-04-05 01:08] jgunzy commented on #3076
Ok looks like I installed the x86 SDK of 2.1.602 by mistake.  Removed that.
I had a few different versions of 2.1 SDK prior to installing VS2019 but I can’t remember if 2.1.505 was one of them.
I manually installed 2.1.505 and the problem persists.

Here is my latest dotnet info:

.NET Core SDK (reflecting any global.json):
 Version:   2.2.202
 Commit:    8a7ff6789d

Runtime Environment:
 OS Name:

[2019-04-05 20:12] jholland918 commented on #1151
I've been using TFTomSun's solution above for the past month and it has been working well for me. However, I had a co-worker say they didn't like how the  dynamic Project Reference showed up  in the solution explorer as a file path to the csproj file. I made the following modification to show the name only and it appears to work:

`
        <PackageInSolution Include="@(SmartPackageReference -> Wi

[2019-04-05 22:36] zivkan opened #10198 "add reference should preserve filesystem casing"
## Steps to reproduce
[code]

## Expected  behavior
[code]
(same as filesystem case)

## Actual behavior
[code]
(same as command line argument case)

## Environment data
`dotnet --info` output:

[code]

[2019-04-06 06:59] Bartolomeus-649 commented on #2879
If relevant, please consider the scenario where your project targets the `.NET Core SDK`, but you also need to reference and use `Microsoft.AspNetCore.App`, like in a console application where you self-host the web server.

[2019-04-06 12:59] Kritner commented on #2253
Hmm, I'm not sure if this is what we're experiencing or not.

We have some console apps, that up until recently were using an explicit meta package reference, since updating to the 2.2 sdk, I started receiving warnings about said reference should be implicit versioning only.

I updated all csproj files and all seemed well.  I was able to build and run the app locally just fine.  However, the app f

[2019-04-06 14:30] nguerrera commented on #2253
@Kritner is that really the entire project file or are there additional package references?

[2019-04-06 14:51] Kritner commented on #2253
There are a lot more references than that, across tens if not around 100 projects, so it would be difficult to list them all in a full dependency tree.

the additional nuget packages being utilized for my deployable project that I'm referencing are:

[code]

With various project dependencies that have their own nuget dependencies.

The full list of nuget dependencies we use are:

[code]

spread ou

[2019-04-06 16:07] TimKras commented on #2295
Another, faster Powershell script.
`$uninstall64 = gci "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall" | foreach { gp $_.PSPath } | ? { $_ -match "Microsoft .NET Core SDK 2.1" } | select DisplayName,UninstallString,PSChildName

$uninstall64.DisplayName | Write-Host

pushd $env:SYSTEMROOT\System32

$uninstall64 |% {
 Write-Host $_.DisplayName
 $a = "/x " + $_.PSChildName
 Start-Process

[2019-04-07 01:17] AaronRobinsonMSFT opened #3091 "Issues with RegFree COM manifest"
The attribute in the `assembly` node is misspelled - should be `manifestVersion`.

https://github.com/dotnet/sdk/blob/afae0615d5cbb16c058c5ce1fd65215d07df24d9/src/Tasks/Microsoft.NET.Build.Tasks/RegFreeComManifest.cs#L29

The Guid should be inserted with braces (i.e. `new XAttribute("clsid", guid.ToString("B"))`)

https://github.com/dotnet/sdk/blob/afae0615d5cbb16c058c5ce1fd65215d07df24d9/src/Task

[2019-04-08 18:03] dsplaisted opened #3098 "Remove old deps file generation logic"
In #3086, we are refactoring the deps file generation logic.  For now, we are leaving both the old and the new logic in, and by default comparing the results of the two methods in order to ensure that the new logic produces the same results.

After we've shipped a few previews like this, we should remove the old logic and entirely switch over to the new logic.

[2019-04-08 21:04] dsplaisted commented on #2937
Copying from https://github.com/aspnet/AspNetCore/issues/8836#issuecomment-481006077:

We suggest that eventually we should use file names in these packages that don't embed the package / shared framework name, IE:

- `data\PackageOverrides.txt`
- `data\PlatformManifest.txt`

[2019-04-08 21:19] #3091 closed

[2019-04-08 22:55] dsplaisted commented on #3046
@jzabroski I was finally able to take a look at your repro.  The issue is that only Microsoft.AspNetCore.App and Microsoft.AspNetCore.All are supported as versionless package references.  In your test project, you have `<PackageReference Include="Microsoft.AspNetCore.Mvc.Core" />`.  Replace this with `<PackageReference Include="Microsoft.AspNetCore.App" />`, and it should build successfully.

[2019-04-09 07:35] yyjdelete opened #3103 "Reference transitive not working well when app and libs has different targetFramework, and lib use an transitive reference from special targetFramework of an multi-targetFramework PackageReference/ProjectReference"
Sdk Version: `3.0.100-preview3-010431`, `2.1.504`
Run `ConsoleApp5` in https://github.com/yyjdelete/test_dotnet_indirect_dependency
And see an `MissingMethodException` and an `FileNotFoundException` for `System.Data.SqlClient, Version=4.5.0.0`

This can also happen with `PackageReference`. I reference Dapper from an ClassLibrary with netstandard2.0, and the main App is net472, and failed to found

[2019-04-09 08:25] dasMulli commented on #3103
You seem to expose a different public API from ClassLibrary2 when compiled for different target frameworks.

This will cause MissingMethodExceptions due to every project selecting the "nearest" target framework for project and package references.

Especially exposing different public APIs between a .NET Standard and .NET Framework build is dangerous since .NET Standard is compatible with .NET Fram

[2019-04-09 09:56] yyjdelete commented on #3103
The MissingMethodException is just a part of test-case here and not the main issue in my code.

The main issue I hit is that `ClassLibrary2` has different dependcy for different targetFramework(`System.Data.SqlClient 4.6.0` for `netstandard2.0`). And `ClassLibrary1` inherit the dependcy from `ClassLibrary2(netstandard2.0)` and use it. But `ConsoleApp5` choose to use `ClassLibrary2(net472)` without

[2019-04-09 15:40] jzabroski commented on #3046
Good catch... I think Resharper may have automatically added a PackageReference for me when it detected I was referencing an MVC Controller.

Sorry, I did not mean to waste your time with the repro - was trying if anything to save you effort.  Ah, the art of a good repro :)

As an aside, I am a little perplexed - now if I comment out `<PackageReference Include="Microsoft.AspNetCore.App" />` everyt

[2019-04-09 16:29] johnbeisner opened #3104 "Allow for the disablement of ResolveAppHosts"
**Repro steps:**
Build win-arm [all arm* RIDs have this failure] @ commit 0606a12720f0eace5af77c545d0d91b96ec92e27

**Error:**
error NU1605: Detected package downgrade: runtime.win-arm.Microsoft.NETCore.DotNetAppHost from 3.0.0-preview5-27607-08 to 3.0.0-preview4-27501-7. Reference the package directly from the project to select a different version.
 DownloadPackage -> Microsoft.NETCore.DotNetAppH

[2019-04-09 18:13] dsplaisted commented on #3046
If I comment out that PackageReference in your repro, I get the following error:

[2019-04-09 19:00] jzabroski commented on #3046
Thanks.  That is what I saw before, and am not seeing now.  I might just need an eye doctor appointment... 👓

[2019-04-09 23:08] nguerrera opened #3109 "Gather appropriate list of managed runtime assemblies for crossen and (eventually) linker"
Today, crossgen (new ReadyToRun feature) operates over all files to publish and filters out what is not IL. We have decided that the compilation set should be restricted by default to the set of files that we deem are runtime managed assets and designate as such in the .deps.json.

As of now, there isn't an exact match for this list that is readily available. _ResolvedCopyLocalPublishAssets + Inte

[2019-04-09 23:08] nguerrera commented on #3109
cc @sbomer @fadimounir @dsplaisted

[2019-04-09 23:14] nguerrera opened #3110 "Resolve runtime pack assets for crossgen even if app is framework-dependent"
Crossgen operates on implementation assemblies only, even when passed as references to the compiler. To crossgen a framework-dependent app, we need all of the framework implementation assemblies to be passed to crossgen as references.

Note that crossgen requires picking a RID. The app can be framework-dependent, but it must be RID specific. (Crossgen generates native code, which can't be rid-agno

[2019-04-09 23:15] nguerrera commented on #3110
cc @fadimounir @dsplaisted

[2019-04-10 02:56] yyjdelete commented on #3103
Try to add an `ConsoleApp2` using old-style csproj, and add an ProjectReference `ClassLibrary1`.
1. Unlike the new-style csproj, see the building output using `ClassLibrary2(ns2.0)`. But `System.Data.SqlClient` is always missing in output bins, even if `ClassLibrary2` is changed to reference `System.Data.SqlClient` without `Condition`(not missing for new-style csproj in the case).

2. Add another

[2019-04-10 13:20] nguerrera commented on #3104
There is a UseAppHost=false.

This is because of how we are downloading pacakges in the core-sdk build with a hack. We should be able to switch to PackageDownload now.

[2019-04-10 13:20] #3104 closed

[2019-04-10 21:17] joperezr commented on #3037
Looks like the change is not yet part of either 2.2 nor 2.1 because even though I modified the platforms package we didn't make the change in core-setup to have Microsoft.NetCore.App package to depend on this new version of the platforms package. This means that in order to fix this, we will have to wait for the next version of 2.1 and 2.2.

FYI: @MichaelSimons @eerhardt

[2019-04-10 22:40] jakechristoffersen commented on #3076
JUST FOLLOW THIS METHOD.  I hand installed all of the ones recommended here in order to get it to start working again all 2.2 and 2.1 apps.

[2019-04-10 23:17] joperezr commented on #3037
Correction: I checked and 2.1.9 (with sdk 2.1.505) does indeed have the Alpine change for 3.8 and 3.9. However, 2.2.3 and 2.2.4 don't have it yet because we didn't produce a new version of the Platforms package. This will now be produced for 2.2.5 which means that it will be fixed in that version.

[2019-04-11 01:36] KirillOsenkov opened #10213 "NETCoreSdkResolver should give a clear error message when preview SDK is rejected due to UsePreviews=false"
Currently the experience we see when a preview SDK is rejected due to DisallowPrerelease()
https://github.com/dotnet/cli/blob/bfffcb23ba270640b355e729f36b34c04fad0121/src/Microsoft.DotNet.MSBuildSdkResolver/VSSettings.cs#L75

is not good. It's a generic failed to load .NET SDK error, and it's super hard to figure out that the SDK was actually found, but it was pre-release and the checkbox wasn't s

[2019-04-11 12:39] roji commented on #2679
Note previous similar discussion in https://github.com/aspnet/Universe/issues/131.

[2019-04-11 14:44] nguerrera commented on #3069
Why does NuGet support portable-x%2By as a spelling of portable-x+y?

[2019-04-11 16:05] Lohnegrim commented on #2793
Hi,
Any Update on this?
I just tried to convert a VB.Net Project from the Old Project Format into the SDK Project Format and noticed that I ran into the Very same problem.

[2019-04-11 19:21] KathleenDollard opened #3115 "Limit DotNetCliToolReference Tools to .NET Core 2.2 and Below"
# Limit DotNetCliToolReference Tools to .NET Core 2.2 and Below

.NET Core 3 takes the next step in the .NET Core tool strategy with local tools. As part of this process, starting in Preview 4 DotNetCliToolReference tools will be restricted to targeting .NET Core 2.2 and below. DotNetCliToolReference tools can be used in projects targeting .NET Core 3.0, but the tools themselves should target .NET

[2019-04-11 22:06] natemcmaster commented on #3115
I had to read twice to make sure I understood, you're saying this is still okay, right? This is just a restriction for the _authors_ of a DotNetCliTool.
[code]

[2019-04-11 22:06] wli3 commented on #3115
yes. just dotnet-banana need to be targeting netcoreapp3.0

[2019-04-11 22:37] KathleenDollard commented on #3115
Nate, if you have a wording suggestion to make this more clear, let me know. Do you think including your example is worthwhile?

[2019-04-11 22:38] KathleenDollard commented on #3115
Oh, and "OK" is relative. It will still have the problems with transitive dependencies today.

[2019-04-12 15:12] cartermp opened #3126 "Warn if project is missing both Desktop SDK and UseWPF/UseWinForms"
Even if we have cool tooling that adds the appropriate stuff to a project file based on various actions in the IDE, there will still be users who manually edit their WinForms/WPF project files.

We should emit a warning under the following conditions:

* `Microsoft.NET.Sdk.WindowsDesktop` is specified but there is no `UseWPF` or `UseWinForms`
* `UseWPF` or `UseWinForms` is specified but the SDK at

[2019-04-12 20:03] JunTaoLuo opened #3122 "Unable to resolve AppHost for the current runtime if it's not included in the SDK"
I'm seeing broken behaviour when the app host is not bundled in the targeting pack of the SDK.

I discovered this as part of our dependency update in https://github.com/aspnet/AspNetCore-Tooling/pull/409. When we first ingested the changes, we saw errors such like:
[code]
I have a binlog for the failing scenario:
[msbuild.zip](https://github.com/dotnet/sdk/files/3074987/msbuild.zip)

It seems like

[2019-04-12 20:29] KathleenDollard opened #3124 ".NET Core SDK 2.2.2nn and 2.1.6nn do not work with Visual Studio 2017"
# .NET Core SDK 2.2.2nn and 2.1.6nn do not work with Visual Studio 2017

.NET Core SDK 2.2.2nn and 2.1.6nn do not work with Visual Studio 2017. For example, 2.2.203 and 2.1.603 cause failures in Visual Studio 2017. To work on projects in Visual Studio 2017, use .NET Core SDK 2.2.1nn and 2.1.5nn, such as 2.2.106 and 2.1.506. You can install any combination of these SDKs side by side.

## Details

Y

[2019-04-12 21:07] bording commented on #3124
While the "Compatible with Visual Studio 2017" button is helpful, I think https://dotnet.microsoft.com/download/dotnet-core/2.2 and https://dotnet.microsoft.com/download/dotnet-core/2.1 should also be modified to be very clear about this as well.

[2019-04-12 22:04] dsplaisted commented on #3122
@JunTaoLuo That binlog has the following failure:

That seems to be different than the AppHost issue you are describing here.  Did you include the right binlog?

I do think that we should make `RuntimeFrameworkVersion` apply to the AppHost selection.  We should also add an `AppHostVersion` that applies only to the AppHost.

In the meantime, the following should allow you to set the AppHost version

[2019-04-12 22:42] dsplaisted commented on #3122
Also, note the different ways you can control the runtime versions described here: https://github.com/dotnet/sdk/pull/2887 (though currently there's nothing to control the AppHost version).

[2019-04-12 22:43] JunTaoLuo commented on #3122
Oops, yes I attached the wrong binlog file.
[msbuild.zip](https://github.com/dotnet/sdk/files/3075365/msbuild.zip)

[2019-04-12 22:56] dsplaisted commented on #3122
Looking at the correct binlog, `RuntimeFrameworkVersion` actually does apply to the AppHost.  It looks like it is looking for the AppHost in the NuGet packages folder (C:\Users\johluo\.nuget\packages\) and not finding it.  I would expect that package to be downloaded during Restore.  Did you run a restore on this project?

[2019-04-12 23:22] JunTaoLuo commented on #3122
Yes a restore was run, otherwise the error in the first binlog I attached (the wrong one) would appear. However, I don't see the package being restored in C:\Users\johluo.nuget\packages so maybe the restore step is the issue? I've attached the binlog of the restore. Though it was successful, maybe there's something in there worth checking:
[msbuild.zip](https://github.com/dotnet/sdk/files/3075443/

[2019-04-12 23:23] poke commented on #3124
What effect does this have on the support policy?

Let’s take for example 2.1.x which is a LTS release and which ASP.NET Core version has extended support on the .NET Framework (not Core). The usual guideline would be to install the latest patch version to make sure that security patches are applied. However, in order to do that, this would mean that one now has to upgrade to Visual Studio 2019 ju

[2019-04-12 23:46] Pilchie commented on #3124
@poke we'll provide updated versions of both 2.1.5xx and 2.1.6xx when the runtime needs to be serviced.

[2019-04-13 00:00] #3069 closed

[2019-04-13 06:44] japj commented on #3124
I actually ran into this “by accident” by just installing VS2019. Suddenly none of my dotnet core projects would build anymore in VS2017 due to MSBuild 16 artifacts from the sdk (the error message in VS was not helping me)
Eventually solved the issue by pinning the used sdk in global.json for VS2017 to work again.
The issue here is that we use VS2017 side by side to VS2019 and installing VS2019 ca

[2019-04-14 22:20] Pilchie commented on #3124
@japj That should not happen - SDK selection in VS2017 should skip the 2019 SDKs.  @nguerrera what logs would help identify what's going wrong in @japj's case?

[2019-04-15 01:05] nguerrera commented on #3124
This is why. Please update to 15.9. We improved the sdk resolution to handle this as @pilchie describes begging in 15.9.

[2019-04-15 11:29] davkean commented on #3126
This is an SDK concern and have moved it.

[2019-04-15 18:42] JunTaoLuo commented on #3122
Any updates on this @dsplaisted ?

[2019-04-15 20:18] vidarw opened #3128 "No package for Ubuntu 19.04 (Disco Dingo)"
Ubuntu is officially releasing version 19.04 (Disco Dingo) within a week.
There is currently no `dotnet-sdk-2.2` available for the newset version of Ubuntu in the Microsoft repository.

Solution would be to add a disco compatible release package or as a temporary fix provide a standalone .deb package to install with `dpkg`.

[2019-04-15 20:47] ericstj opened #3129 "SDK doesn't honor TargetingPackVersion on FrameworkReference"
SDK permits specifying TargetingPackVersion metdata on FrameworkReference:
https://github.com/dotnet/sdk/blob/7d6b26df6cc873e07816a098bb66a6bde2640b06/src/Tasks/Microsoft.NET.Build.Tasks/ResolveFrameworkReferences.cs#L99-L103

But then it constructs the path to the targeting pack based on KnownFrameworkReference:
https://github.com/dotnet/sdk/blob/7d6b26df6cc873e07816a098bb66a6bde2640b06/src/Tasks

[2019-04-15 21:19] wli3 commented on #3128
@leecow

[2019-04-15 21:20] dsplaisted commented on #3129
I've added a fix for this to #3111.

It is intentional that the targeting pack versions separately from the runtime version.  Once we ship an RTM, the runtime will continue to be patched, but we expect to keep using the 3.0.0 version (for example) of the targeting pack unless there is a bug we need to fix with the targeting pack.

[2019-04-15 21:57] joshfree opened #10220 "Feature Request: "Did you mean ...?" prompting for command typos such as 'consle'"
**_Moved from original issue by @jamesBrosnahan at  https://github.com/dotnet/core/issues/2587_**  :

Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is releva

[2019-04-15 22:10] leecow commented on #3128
We'll also need 2.1 and 3.0

[2019-04-15 22:15] rainersigwald commented on #2880
This issue was moved to Microsoft/msbuild#4308

[2019-04-15 22:15] rainersigwald commented on #2880
Reopening to track _adopting_ Microsoft/msbuild#4308 once it's available.

[2019-04-15 23:24] ericstj commented on #3129
I see.  Did you consider a property for this, or is that not so interesting in light of multiple frameworks?  /cc @natemcmaster @zsd4yr @vatsan-madhavan

[2019-04-16 04:02] nguerrera commented on #3122
Looking. First thing I see is the update of KnownAppHostPack is happening before RuntimeFrameworkVersion is set in Directory.Build.*targets*.

From above, it sounds like @dsplaisted doesn't think that workaround should be necessary after all, but if it is, move it after the setting of RuntimeFrameworkVersion.

[2019-04-16 04:16] nguerrera commented on #3122
This is working fine for me without any workaround:

I simplified the project a little bit (so it would build without warning and copying minimal files out of the binlog) and pulled in latest preview5 RuntimeFrameworkVersion from latest preview4 SDK. It worked fine and I can see it getting the preview5 apphost from nuget in the binlog.

[code]

[code]

[code]

SimpleMvc.csproj
[code]

[2019-04-16 12:59] eldarj commented on #3124
I am running VS 2017 on 15.9.x but still experienced the above described issue.

[2019-04-16 14:11] KathleenDollard commented on #3124
@eldarj From a command line, can you type

[code]

and paste the results here.

Thanks!

[2019-04-16 19:10] KirillOsenkov opened #3131 "_WriteAppConfigWithSupportedRuntime target shouldn't depend on RAR $(ResolveAssemblyReferencesStateFile) as an input"
See https://github.com/Microsoft/msbuild/issues/4313

https://github.com/dotnet/sdk/blob/8cb31b0fd0bb5d36b9781442865f2e26cf6fbedc/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.GenerateSupportedRuntime.targets#L44

We should find another way to invalidate. I'm seeing RAR cache written to every time even during rebuilds where nothing has changed. This in turn triggers rebuild of WriteApp

[2019-04-17 00:39] Jay-Rad commented on #2682
As @mafshin commented, I also solved this by using  <TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>.

Another problem resolved by this: In Visual Studio, the Microsoft.NETCore.App NuGet package for the affected project was stuck at version 2.2.0, even though I have 2.2.203 SDK (2.2.4 runtime) installed.  It says "Blocked by project" in the drop-down with the little message below that say

[2019-04-17 01:31] dsplaisted commented on #2682
@Jay-Rad You do not need to reference the latest patch of the Microsoft.NETCore.App NuGet package when building.  So it is expected that at build time it would reference version 2.2.0.  At runtime it will use the latest patch that is installed, so 2.2.4 in your case.

We know that this can be confusing, and for .NET Core 3.0 we have made changes to the way the framework is referenced that we think

[2019-04-17 07:24] JunTaoLuo commented on #3122
Ah I found the issue in our setup. The tests were restoring without a runtime framework version but the build command was invoked with a specific runtime framework version. In this case, the build proceeded since the project.assets.json was present. However, since the restore was not invoked with the correct runtime framework version, the app host was missing.

[2019-04-17 07:24] #3122 closed

[2019-04-17 14:46] michaelveloz commented on #2682
From a person new to .net core, this is a mess. I'm getting the NETSDK1061 error on a new project which consists of one exe and two libraries, all targeting 2.1.  Each of those things also have a dependency on Newtonsoft.Json.

If I get rid of all .net core installations except 2.1, I do not get the error, but as soon as another 2.x version of .net core gets installed on my system, I get the error

[2019-04-17 15:29] Jay-Rad commented on #2682
@dsplaisted Thanks for the info, Daniel.  What you're saying makes sense.  I must say, it does make the message in Visual Studio even more misleading, though.  :)

[2019-04-17 17:31] dsplaisted commented on #2682
@michaelveloz Sorry that you're having problems.  I'm not exactly sure what is going on in your case.  I would recommend using the 2.2.106 SDK, even if you are targeting .NET Core 2.1.  If you still have issues when using that SDK, the easiest way for us to investigate what's going on would be if you can [provide a binlog](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b) of you

[2019-04-17 18:30] ericstj commented on #3129
Looks like RuntimeFrameworkVersion alone should have  been enough, so there might be another bug here since that stopped working for us (at least on Preview3 bits).

[2019-04-18 00:00] dsplaisted opened #3135 "AppHost selection doesn't work well with DisableImplicitFrameworkReferences or RuntimeFrameworkVersion"
There are a couple of issues with app host selection:

- Some projects use `DisableImplicitFrameworkReferences` to disable any package references, downloads, etc. that aren't explicitly specified.  In some cases this is used for a "restore-only" project that simply downloads a package.  It would be expected that the `DisableImplicitFrameworkReferences` property would stop an AppHost pack from bein

[2019-04-19 00:31] sbomer opened #3145 "TestAsTools job fails with latest SDK"
See the failures in https://github.com/dotnet/sdk/pull/3133:
[code]

[2019-04-19 01:55] ajaybhargavb opened #3146 "Internal error: new deps file generation logic did not produce the same result as the old logic"
I've included both the old and new deps files here.

[Microsoft.AspNetCore.Razor.Test.MvcShim.deps.zip](https://github.com/dotnet/sdk/files/3096744/Microsoft.AspNetCore.Razor.Test.MvcShim.deps.zip)

Original error:
[code]

[2019-04-19 02:44] wli3 commented on #3135
related https://github.com/dotnet/cli/issues/11194

[2019-04-19 15:24] fuocor commented on #3146
Same here

[Chorus.Services.Gateway.deps.new.zip](https://github.com/dotnet/sdk/files/3098521/Chorus.Services.Gateway.deps.new.zip)

[2019-04-19 16:22] CBaud commented on #3146
+1

Viewing a diff of the two files generated from my build shows that references to `System.Threading.Overlapped.Reference/4.1.1.0` in the old version have become `System.Threading.Overlapped/4.1.1.0` in the new version.

[2019-04-19 17:15] gtonic commented on #3128
+1

[2019-04-19 17:49] Tratcher opened #3151 "ResolvePackageAssets InvalidDataException Found invalid data while decoding"
[code]

Repo: https://github.com/aspnet/aspnetcore
Branch: master
Command: `build.cmd -all -pack`
Tracking: https://github.com/aspnet/AspNetCore-Internal/issues/2009

How does one go about debugging this?

[2019-04-19 21:36] vslynko commented on #3103
may this https://github.com/Microsoft/dotnet/issues/860 be related?

[2019-04-20 07:27] nguyenquyhy opened #3159 "Getting "GenerateDepsFile" task failed unexpectedly with KeyNotFoundException when publishing project"
I am getting `"GenerateDepsFile" task failed unexpectedly` with `KeyNotFoundException` when publishing my projects.

Below are the conditions that trigger the issue:
- .NET Core 3.0 Preview 4
- WindowsAzure.Storage 9.3.3 is in a .NET Standard library

This can be fixed by either going back to Preview 3 or add WindowsAzure.Storage directly into the .NET Core project.

Error in build log:
[code]

Sa

[2019-04-20 15:51] poke commented on #2679
As a followup to aspnet/EntityFrameworkCore#15316:

It sounds like what we then would need would be a way to publish an application while including symbols for all packaged assemblies. Like some `dotnet publish --include-symbols` that would – if necessary – load the symbols from the symbol server so that they can be distributed with the application.

/cc @SimonCropp

[2019-04-20 17:52] hamzahamidi opened #10234 "Dotnet run works only as root"
## Steps to reproduce
I was following the official dotnet tutorial https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create . When I try to run the application ( dotnet run) I get this error:
[code]
sudo dotnet run works as expected!

## Expected  behavior

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2019-04-21 05:01] tmat commented on #2679
/cc @nguerrera @livarcocc @rrelyea @anangaur

[2019-04-21 07:46] JamesNK opened #3161 ".NET Core 3 does not load pdbs from NuGet packages"
Source Link does not work when a NuGet package has its PDB files in the primary nupkg package because the symbols are never loaded. It works in .NET Core 2.2.

Repo: [ConsoleApp20.zip](https://github.com/dotnet/sdk/files/3101009/ConsoleApp20.zip)

Success:

1. View csproj and note that the version target framework is `netcoreapp2.2`
2. Launch console with debugging and step into JsonConvert.Serial

[2019-04-21 08:19] AndreasTruetschel commented on #3146
Same here

[code]

[deps.zip](https://github.com/dotnet/sdk/files/3101026/deps.zip)

[2019-04-22 03:53] wli3 commented on #3145
This is resolved by updating stage 0.

[2019-04-22 03:53] #3145 closed

[2019-04-22 10:56] raffaeler opened #3164 "Error parsing dotnet publish parameters when using ReadyToRun"
Version:   3.0.100-preview5-011507
Commit:    fddc070d00

When running `dotnet publish` using both `-p:ReadyToRun` and `--self-contained` the message is misleading:

[code]

If instead, I specify `=true` the command succeed:
[code]
It looks like `-p:ReadyToRun` already forces `--self-contained=true` but I would like the command output to clearly states whether the produced output is self-contained

[2019-04-22 14:05] bryanfarrell opened #3166 "GenerateAssemblyInfo support for InternalsVisibleToAttribute and AssemblyMetadataAttribute"
Hello,

In our .NET 4.7.2 applications we set the InternalsVisibleTo attribute on our libraries so that our internal unit test projects can run unit tests on internal methods without having to go through the trouble of putting public signatures of these methods into the class and wrapping everything in preprocessor directives.

We also make use of the AssemblyMetadata attribute to have our build s

[2019-04-22 15:04] DenSmoke commented on #3159
Same error on Azure Pipelines, but with 'NETStandard.Library':
[code]

[2019-04-22 16:12] SVanjavaka commented on #3146
One more

[deps.zip](https://github.com/dotnet/sdk/files/3103994/deps.zip)

[2019-04-22 21:50] Zoxive commented on #3159
I'm getting this as well, and its blocking me from updating my dev project to preview 4. (I'm currently using preview 3 and have some bugs that are fixed with 4...)

[2019-04-23 01:12] wli3 commented on #3146
@dsplaisted

[2019-04-23 01:45] akshita31 commented on #2253
I was also hit by this today and adding the `<PackageReference Include="Microsoft.AspNetCore.App" />` to my xunit project fixed this for me.

[2019-04-23 01:58] dsplaisted commented on #3146
Hi folks,

Can you also provide a repro of the projects that cause this to happen?  A [binary log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b) would also be helpful.

Also, please note that there is a workaround described in the error message, so you shouldn't be blocked on this.

Thanks!

[2019-04-23 05:28] AndreasTruetschel commented on #3146
@dsplaisted
This is the project (`migrate-aspnet30-preview4` branch): https://github.com/AI4E/AI4E/tree/migrate-aspnet30-preview4/samples/BookStore
Please note that I added the workaround msbuild prop in the DirectoryBuild.props as you noted. You have to remove this in order to see the issue.

[2019-04-23 10:05] aguacongas commented on #3146
@dsplaisted this isssue occurs on [this project](https://github.com/aguacongas/chatle/tree/feature/netcore3), branch `feature/netcore3`, but not on each build (~1/2).
The diff is the same than [CBaud](https://github.com/dotnet/sdk/issues/3146#issuecomment-484947777) has.
I added the workaround on [src/chatle.csproj](https://github.com/aguacongas/chatle/blob/feature/netcore3/src/chatle/chatle.cspro

[2019-04-23 11:00] madelson commented on #1408
Why is this closed? Has it been decided that this will never be supported?

[2019-04-23 11:24] thohng commented on #3146
+1 Same here on private project

Got issue with `dotnet publish ...  --no-build`
Workaround: drop `--no-build`

Reproduce:
[code]

[TeslaSso.IdSvr.WebApp.deps.zip](https://github.com/dotnet/sdk/files/3107222/TeslaSso.IdSvr.WebApp.deps.zip)

[msbuild.binlog.zip](https://github.com/dotnet/sdk/files/3107225/msbuild.binlog.zip)

[2019-04-23 11:39] vitek-karas opened #3168 "dotnet store fails with "the destination is a folder instead of a file" in 3.0 SDK"
This is based on the repro from dotnet/cli#11223 which can be found [here](https://github.com/narcis-pv/dotnet-core-target-manifest-bug).

Running the `dotnet store` command described in the repro with .NET Core SDK 3.0.100-preview6-011540 produces error like this:
[code]

Running the same on .NET Core SDK 2.2.100 (using `global.json`) works just fine.
Seems like a regression in 3.0.

[2019-04-23 12:06] Rast1234 opened #3170 "dotnet test without shared runtime"
Currently we run our apps with heavily customized corporate docker image. We publish self-contained apps, because we deemed it too time consuming and potentially problematic to get shared runtime to run in there.
So basically we do this (extra stuff omitted) in microsoft's SDK image:
[code]
Then we copy results to our image and just run the binary.

Is it possible to publish and run tests the same

[2019-04-23 14:36] SVanjavaka commented on #3146
binary log attached.
________________________________
From: Daniel Plaisted <notifications@github.com>
Sent: Monday, April 22, 2019 9:58 PM
To: dotnet/sdk
Cc: Sree Vanjavaka; Comment
Subject: Re: [dotnet/sdk] Internal error: new deps file generation logic did not produce the same result as the old logic (#3146)

Hi folks,

Can you also provide a repro of the projects that cause this to happen? A b

[2019-04-23 23:41] nkolev92 commented on #3146
Seeing this on NuGet side as well.

[code]

The deps files and bin logs

[NuGet.Client.zip](https://github.com/dotnet/sdk/files/3109972/NuGet.Client.zip)

[2019-04-24 00:10] tmat opened #3173 "Move Version calculation to targets"
Currently, the .NET Core SDK initializes `Version` property during evaluation phase in `Microsoft.NET.DefaultAssemblyInfo.targets` based on the values of `VersionPrefix` and `VersionSuffix` properties.

Consider a NuGet package that provides a optional feature that generates version based on some property set by the project. The package targets do not have the opportunity to set `VersionPrefix` si

[2019-04-24 00:10] tmat commented on #3173
/cc @dsplaisted

[2019-04-24 00:22] matt-richardson commented on #2342
I found that if you add:
[code]
It will define a new empty target if it doesn't already exist, and then it'll work for both new code and old.

[2019-04-24 09:41] springy76 commented on #3146
I got this problem too, but adding two each 355kb json files containing 10,000 lines of private data is not an option -- and there are just 3 additional lines at all.

The solution itself consists of 131 projects but the only one failing is the final GUI project which nearly uses everything (transitively).

In total only 3 additional lines are added to the .deps.new.json file, all 3 of them are ba

[2019-04-24 10:02] shidink commented on #1321
In my case, I just had to rec-create my publish profile.
That ensured everything was in sync.

[2019-04-24 12:03] Zoxive commented on #3159
@dsplaisted will this be addressed for preview 5?

[2019-04-24 12:53] eldarj commented on #3124
@KathleenDollard Unfortunately I can't. I went through all my installed sdks, removed and installed only those which are proven to be working all fine, just as you described in the inital post/comment.

If I get time, I'll try to reproduce the issues I previously had and will check which exact versions were causing it.

[2019-04-24 13:46] RiteshKo opened #3175 "XML is not being published through the Docker container"
I am running a .net core 2.1 application through Docker ToolBox and Kitematic. I am new to the Docker world. In the application, I am loading an XML file in the application like below:

XDocument xmlFile = XDocument.Load(Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "XML\\Lookup.xml"));

My Docker file is:

FROM microsoft/dotnet:2.1-runtime

WORKDIR /app
COPY . /app

ENTRYPOINT ["dotnet", "C

[2019-04-24 14:49] rainersigwald commented on #3173
Is the request "I want to customize versioning, but not completely", that is, you want to use the existing logic that takes `VersionPrefix` and `VersionSuffix` and assembles version strings, but with a customized prefix/suffix?

[2019-04-24 16:25] tmat commented on #3173
@rainersigwald I don't really need to use the existing logic, but something else might before I have a chance to overwrite it might and then there will be `Version` in the system that is different from the one that I set.

[2019-04-24 18:04] dsplaisted commented on #3159
I'm not sure if this has been fixed for preview 5 or not.  I will take a look.  However, you can work around the issue by setting the following MSBuild property:

[code]

[2019-04-24 21:50] NathanFrasier commented on #903
Is this still a known issue? Are there any plans for a fix?

I have a similar issue, when this variable is set my current projects PDBs are (correctly) ommitted from the publish directory, but any transitive dependencies, (like a separate EF core project) has its PDBs copied into the publish directory. I can't seem to find any way to control whether or not transitive dependency PDBs are included.

[2019-04-24 22:41] dsplaisted commented on #3159
I've investigated and figured out what this is.  With the repro provided (https://github.com/nguyenquyhy/IssueWindowsAzureStoragePublish), this will not fail.  However, the bug still exists and could occur in other scenarios.

The repro for preview 5 is to publish the console app with the following 2 projects:

[code]

[code]

What happens is that the class library references a package that depend

[2019-04-25 11:44] jradxl commented on #3128
Well as of today there is a directory, but no packages
https://packages.microsoft.com/ubuntu/19.04/
So I guess we just have to be patient.

There is a Snap package for 2.2,
# snap search dotnet
dotnet-sdk         2.2.203  dotnetcore✓  classic

But Rider doesn't detect it's presence.
Hence looking for .deb

[2019-04-25 13:50] mashbrno commented on #3146
Same here. My only problem is that "dependencies" have different sort order.

[2019-04-25 16:27] Lemraj opened #3178 "Could not upgrade to .Net Core 2.2.4"
Hi,

I am trying to upgrade my solution to the latest .net core version (2.2.4).

I have noticed that the test projects (xunit) are not updated automatically.

I could reproduce it by creating a new solution with a wen api project and xunit project.

![image](https://user-images.githubusercontent.com/10677560/56751833-39d4bd00-6787-11e9-9850-ae0f142a8e16.png)

I have installed the latest versions

[2019-04-25 17:35] sabyabr commented on #3146
I am running into the same? Is there any fix for this issue? It says below. Where do I set DepsFileGenerationMode to old? I tried setting in my .csproj but that didn't help

You can work around this by setting the DepsFileGenerationMode MSBuild property to 'old'	Server	C:\Program Files\dotnet\sdk\3.0.100-preview4-011223\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.targets	145

[2019-04-25 18:15] AndreasTruetschel commented on #3146
@sabyabr
Does the property in your .csproj look like  [this](https://github.com/AI4E/AI4E/blob/migrate-aspnet30-preview4/Directory.Build.props#L26)?

[2019-04-25 18:53] Gisiona commented on #1630
Dear,
It has a web application developed in C # and WebForms that was initially developed in Dot.Net 2.0 and later migrated to Dot.Net 3.5.

However, the client can migrate a build of the components to the 64-bit version, although it is somewhat exposed to some scripts.

An attempt was made to load an assembly with an incorrect format: c: \ windows \ microsoft.net \ framework \ v2.0.50727 \ System

[2019-04-25 19:53] Stijn98s commented on #3128
This is because the snap cannot create syslinks. dotnet is available under dotnet-sdk.dotnet in the snap.

[2019-04-25 22:28] sabyabr commented on #3146
Never mind. It works. For some reason latest version of VS doesn't let you save on 'edit proj file'. I thought it was saved but it didn't. It worked after I opened in notepad and save.

[2019-04-25 22:36] springy76 commented on #3146
VS 2019 has this bug for some weeks/months now. At random times any change to csproj gets reverted at next build, all NuGet update, project reference changes, or anything else just works exactly one time and then its gone -- if double-clicking the project doesn't open .csproj file then better restart VS.

[2019-04-25 22:46] dsplaisted commented on #3146
@SVanjavaka The .binlog you posted is missing a lot of information, I think that happens when you generate it from within Visual Studio.  Could you supply a .binlog of the error from a command-line build?

[2019-04-25 22:49] dsplaisted commented on #3146
@thohng The .binlog you posted looks like it was from the build operation, which succeeded, instead of the "no-build publish" operation, which was failing for you.  Could you provide a .binlog from the failure?

[2019-04-26 03:28] thohng commented on #3146
@dsplaisted For your reference, hope this more clear for you

Case 1:
[code]
[build-fail1.zip](https://github.com/dotnet/sdk/files/3119589/build-fail1.zip)

Case 2:
[code]
[build-fail2.zip](https://github.com/dotnet/sdk/files/3119590/build-fail2.zip)

Case 3:
[code]
[build-fail3.zip](https://github.com/dotnet/sdk/files/3119591/build-fail3.zip)

Case 4:
[code]
[build-fail4.zip](https://github.com/d

[2019-04-26 14:14] cristian-eriomenco commented on #428
Is the tooling still in alpha today?
P.S.
`dotnet --version
2.2.105
`

[2019-04-26 14:55] SVanjavaka commented on #3146
@dsplaisted  bin log generated from command line attached

dotnet publish --configuration Release /bl

[binlog.zip](https://github.com/dotnet/sdk/files/3121789/binlog.zip)

[2019-04-26 18:42] cdurth commented on #3146
can confirm this and repeat using the default react starter project on 2019 16.1.0 P2. not able to publish at all.

[2019-04-26 22:17] jzabroski commented on #3067
@KathleenDollard I have not forgotten about your questions, but I am wondering if there are higher priority causes for me to be involved in.

I do not think the `dotnet.exe` SDK should be tightly coupled to `git`, even if Microsoft acquired a company with the word git in its name. Principally, Microsoft should be delivering software that allows the widest spectrum of developers.

In terms of ratio

[2019-04-27 15:59] sdmaclea opened #3185 "ProjectReference to classlib does not layout satellites correctly."
Observed in the tip of corefx

Given a project reference to a classlib with satellite assemblies
Build of the cliant app laysout the build incorrectly. Satellites are not in the correct directories.
Culture directory is absent in target layout.

[code]
[code]
[code]

This is blocking writing proper satellite testing for classlibs in corefx.

Reported in dotnet/corefx#37246.  Relevant code above is

[2019-04-28 02:25] KathleenDollard commented on #3067
I think this is an interesting idea we can have in our backlog.

Thanks for clarifying those points.

[2019-04-28 19:00] persalmi commented on #3146
I got this problem in a Azure DevOps Pipelines build using .NET Core 3.0 Preview4. The build works well when building locally in VS2019 Preview and with dotnet build. Workaround using /p:DepsFileGenerationMode=old in the pipelines step also makes the build work.
Seems like most obvious difference regarding the pipeline builds are that the order does not follow the dependency tree when running with

[2019-04-29 10:52] springy76 opened #3186 "adding to CreateSatelliteAssembliesDependsOn broken for Microsoft.NET.Sdk.WindowsDesktop?"
I converted an existing old-style `.csproj` WPF project targeting net472 to the new-style .csproj format using `Sdk="Microsoft.NET.Sdk.WindowsDesktop"` + `<UseWPF>true</UseWPF>` (SDK 3.0 preview4 is installed) -- still targeting net472.

Localization was realized for many years by hooking into build process by this line (at least this is the only reference I found leading to the custom task `Creat

[2019-04-29 11:28] springy76 commented on #3186
I think I fixed it my moving the `<Include` of my .targets file to `Directory.Build.Targets` in the same directory of the .csproj file -- but I'm not sure if this is good style.

[2019-04-29 14:51] rainersigwald commented on #3186
It's fine to import that file in a `Directory.Build.targets`. The `SDK=` attribute in the `Project` element [is translated to](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk) import statements at the very top and very bottom of the project, which means that you can't add to properties defined in `.targets` files, as you discovered. The other option available to you is

[2019-04-30 00:35] sdmaclea commented on #3185
@tarekgh determined this issue was specific to corefx

[2019-04-30 00:35] #3185 closed

[2019-04-30 22:27] #3159 closed

[2019-04-30 23:04] dsplaisted commented on #3044
A simple repro for this is simply a .NET Core console app with a RuntimeIdentifier and a reference to the log4net package:

[code]

The problem is that the log4net package depends on System.Runtime.Serialization.Formatters version 4.3.0, but on the 4.0.x or 4.1.x versions of a lot of other contracts.  With a RID specified, RID-specific dependencies get injected which cause package downgrades such

[2019-04-30 23:11] jzabroski commented on #3044
Warning: The value of this comment might be very low.

I'd be careful about over-engineering this.  Looking at .NET Core 3.0, I'm already starting to feel like library maintainers will be screwed once more.  A few weeks ago I saw Brice Lambson tweeting about how awesome .netstandard2.1 was now that he could write once target everywhere.  But since the direction is for .netstandard to be about "API

[2019-04-30 23:18] dsplaisted commented on #3044
@jzabroski The complexity in this issue is coming from trying to make things simpler and better ("less over-engineered") in .NET Core 3.0, while still supporting packages that were created back in .NET Core 1.x when .NET Core was represented by a complex graph of NuGet packages.

[2019-04-30 23:33] jzabroski commented on #3044
I may be wrong, but I think the "trivially hard" case is the one I run into regularly:

- You have a TaskRunner tool that targets version 3.1.3 of your project
- Your TaskRunner tool has an `--assemblies` parameter that loads assemblies that implements an ITask interface exposed by the TaskRunner
- Those assemblies have to match exactly on version number or it won't be able to find the types
    -

[2019-04-30 23:58] dsplaisted commented on #3044
@jzabroski Exact version matching (and binding redirects to get around it) are required on .NET Framework, but not on .NET Core.  So the issues you refer to (which were indeed painful) are mostly solved for .NET Core.

[2019-05-02 00:41] nguerrera opened #3194 "net472 to netstandard1.3 -> extra diagnostics dll"
Repro steps:

* Extract [ds.zip](https://github.com/dotnet/sdk/files/3136412/ds.zip) somewhere
* `dotnet build` the `app` project
* Look at bin\Debug\net472, notice extra S.D.DiagnosticSource.dll

![image](https://user-images.githubusercontent.com/75470/57051775-f622fd00-6c37-11e9-8144-d382f6a2511d.png)

This is coming transitively from the netstandard.library 1.6.1 implicit ref in lib.csproj. Rec

[2019-05-02 00:41] nguerrera commented on #3194
cc @sbomer

[2019-05-02 01:09] dsplaisted commented on #3044
It's also possible to hit this if you end up with dependencies on contracts from different "bands" of .NET Core 1.x.  log4net happens to have these dependencies directly, but it could happen with other combinations of packages.  These references also cause the issue:

[code]

[2019-05-02 02:53] bradymarston commented on #3146
Here are the requested json files
[Helpr Deps Files.zip](https://github.com/dotnet/sdk/files/3136575/Helpr.Deps.Files.zip)

This is my project repository:
[Helpr](https://github.com/bradymarston/Helpr)

The referenced assemblies all have repos that on my GitHub page.

[2019-05-02 12:43] hez2010 opened #10252 "How to disable assemblies referenced by project or nuget package?"
## Steps to reproduce
[code]
add a method using `Span<T>` in Class1.cs such as:
[code]
[code]

## Expected  behavior
Successfully built

## Actual behavior
I have no way to use `Span<T>`
[code]
System.Memory (Version=2.1.0.0) was referenced by my .net standard 2.1 project, and System.Memory (Version=4.0.1.0) was referenced by SixLabors.ImageSharp which is a nuget package and I cannot modify its so

[2019-05-02 17:49] NeilMacMullen commented on #3146
Another ex
[deps.zip](https://github.com/dotnet/sdk/files/3139245/deps.zip)

ample.  This is an old 2.1 web api project migrated to 3.0

[2019-05-02 19:33] nguerrera commented on #2425
Putting this in now and verifying perf.

One quirk, the warning now looks like this (all the frameworks are listed). It's correct, just a little long.

[code]

[2019-05-02 19:43] nkolev92 commented on #2425
We can improve/fix that message in the latest clients for sure.
https://github.com/NuGet/Home/issues/8084

At the least we sohuld call out the exact version selected.

Also I thought it was supposed to be `net461;net48`?

[2019-05-02 20:01] nguerrera commented on #2425
I don't think that was decided. My reading was that we should go with what is in the proposal unless there's a perf issue. I have tested and cannot find a perf issue. With refs to 10 packages that have only net48 assets, the full list restores in the same time as just net48 in ATF.

[2019-05-02 20:02] nguerrera commented on #2425
net461;net48 is rather random. I think it's easier to explain the feature as the earliest available asset for >= net461.

[2019-05-02 21:01] NinoFloris opened #3196 "Better way of hooking into "Before" Publish"
So I was looking around to see if I could redefine some defaults to always be true iff we run a Publish action.

I could only seem to get there by chaining msbuild gotchas, essentially having a project like:
[code]

The pain here is mainly that you cannot get any custom evalution in before `/t: Publish` —  without doing crazy stuff — there's only the indifferent InitialTargets.

Problem there obvi

[2019-05-02 22:45] wli3 commented on #2966
After we balancing the cost we decide to keep it the same way.

### Problem and work around

Global tools shim is tied to package version. One shim can only be used in one package. Since the relative path “/packageid/packageversion/packageid/packageversion/any/mytool.dll” is embedded in the apphost.

1. Arcade repack (one build, but pack to 2 nupkgs, one with suffix, one without, so it can be ship

[2019-05-02 22:45] #2966 closed

[2019-05-03 06:01] dasMulli commented on #3196
Which defaults do you need to change? If they are for building and not directly related to publishing, then it is this difficult.

[2019-05-03 06:14] dasMulli commented on #3196
If you used publish profiles, you could change some property groups or add targets (e.g. before build targets) in the publish profile..

[2019-05-03 07:48] msallin commented on #1791
In our case, we want to share a bunch of base libraries between .NET Core 2.2 and .NET 4.7.2 projects.
Therefore, the base libraries need to be ported to .NET Standard 2.0, we did this successfully.
One of the base library uses Log4net. The log4net assemblies for net45 and netstandard have different method signatures.

The result is an exception at runtime as the following happens:
Root Project [F

[2019-05-03 12:24] LinchaiTheShinigami opened #10253 ""Dotnet New Console" does not handle paths with "%" character"
## Steps to reproduce
1. Create a local folder path with the % symbol
2. In the command line run "Dotnet New Console" under that folder path
3. Once the console application has been built "Dotnet Run"

## Expected  behavior
Console should print "Hello World!"

## Actual behavior
cs.proj path is not found (although it exists in the precise location as the mentioned by the error)

## Environment dat

[2019-05-03 13:09] ericstj commented on #3194
DiagnosticSource is not part of NETStandard.Library.  It is an implementation dependency of one of the libraries in NETStandard (Net.Http, I believe).

One of the things that we specified when building NS2.0 was that frameworks supporting it should bring in a reference to the NS.L 2.x library to avoid this.  @terrajobst

Do you recall why the implicit reference is for 1.6.1 and not latest?

[2019-05-03 21:27] peterhuene commented on #2562
I finally got around to tracking down the source of the discrepancy between `dotnet run` and `dotnet test`.  Neither commands in the CLI set the current working directory.

The culprit is the [test host manager] that is spawning the console host and explicitly setting the working directory to the directory containing the test assembly.

I'll move this issue there.

[2019-05-03 21:28] peterhuene commented on #2562
Erm, ignore the previous (now deleted) comment as it was posted to the wrong issue (clicked on the wrong tab).

[2019-05-03 22:57] tmat opened #3201 "GenerateBuildDependencyFile reads incorrect AssemblyVersion"
[`GenerateBuildDependencyFile`](https://github.com/dotnet/sdk/blob/7209eb0e66bfba58714af68ddef81115552a4a0c/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L151) target has parameter: `AssemblyVersion="$(Version)"`, which is suspicious because `Version` is not necessarily the same as an `$(AssemblyVersion)`. The target should read `AssemblyVersion` property and add `GetAssemb

[2019-05-03 22:57] tmat commented on #3201
@nguerrera

[2019-05-05 23:35] imsmart-tech opened #3204 "Internal error: new deps file generation did not produce the same result as the old logic"
Got this error which said to file issue here. So here it goes.

[ImSmart.deps.json.txt](https://github.com/dotnet/sdk/files/3146159/ImSmart.deps.json.txt)

[ImSmart.deps.new.json.txt](https://github.com/dotnet/sdk/files/3146160/ImSmart.deps.new.json.txt)

[2019-05-06 13:25] dustinsoftware commented on #3146
Just ran into this on both Appveyor and locally on an OSS project. [Repo is here if that is helpful](https://github.com/reactjs/React.NET/tree/df3712cf765b84f8868725670540ba6c8d1c9c44)

Appveyor build log: https://ci.appveyor.com/project/Daniel15/react-net/builds/24312498

[React.Sample.Webpack.CoreMvc.deps.new.zip](https://github.com/dotnet/sdk/files/3148074/React.Sample.Webpack.CoreMvc.deps.new.

[2019-05-06 13:44] jameskilts commented on #3146
Same on VS 16.1.0 Preview 1.0, running a Release build:

$ diff RedactedServer.deps.json RedactedServer.deps.new.json
174c174
<           "Microsoft.Win32.Primitives.Reference": "4.1.1.0",
---

304c304
<           "System.Threading.Overlapped.Reference": "4.1.1.0",
---

2970c2970
<       "Microsoft.Win32.Primitives.Reference/4.1.1.0": {
---

3750c3750
<       "System.Threading.Overlapped.Reference

[2019-05-07 01:20] thohng commented on #3146
@dsplaisted it seems the issue is fixed in **Net Core 3.0 Preview 5**

[2019-05-07 05:40] yyjdelete commented on #1791
+1 for consider transitive dependencies, but want it to be smarter when choose between some runtime-library like `System.Data.SqlClient` or `System.Drawing.Common`(the ns2.0 version always throw `PlatformNotSupportedException`), or at least make an warns(for main program and package as .nupkg) in that case and the dependencies tree struct in VS should be the same as SDK does.

Have an similar issu

[2019-05-07 19:56] MSLukeWest opened #3210 "Self contained Publish of .Net Core 3 app for win-x86 is missing files"
1. Create a .NET Core 3 WPF app
2. Publish to folder, change "Deployment Mode" to "Self-Contained" and "Target Runtime" to "win-x86"
3. Copy the created folder to a completely clean win10 machine (no VS or anything else installed)
4. Attempt to run the app

Result: It immediately crashes.  Here's the exception from the event log (full stack below):

Exception Info: System.TypeInitializationExcepti

[2019-05-07 20:19] aguacongas commented on #3146
@dsplaisted fixed by **3.0.100-preview5-011568** in my case too

[2019-05-07 20:23] dannyvv opened #3211 "Internal error: new deps file generation logic did not produce the same result as the old logic."
The error message told me to file this issue:

[code]

Requested files:
[depsfiles.zip](https://github.com/dotnet/sdk/files/3154414/depsfiles.zip)

Note: This started happening after adding a few assembly references by file to the BuildXL netcoreapp2.2 output folder

[2019-05-07 20:25] dannyvv commented on #3211
Feel free to Dupe as there are a few. I'll let devs decide if this is the same root cause as the others.

[2019-05-07 20:44] wli3 commented on #3023
The direct cause is `PackAsTool` will set `UseAppHost` to false regardless. And VS expect this exe to debug.

@nguerrera @peterhuene see if my solution make sense
https://github.com/dotnet/cli/issues/11300 should get in first. So WPF and Winform work general

I will keep `UseAppHost` to be true if it is an desktop app. by detect if _UseWindowsGraphicalUserInterface is true. Since in desktop app ca

[2019-05-07 21:41] #2425 closed

[2019-05-08 00:30] Alex2357 commented on #2779
Everything was working fine in the same situation with 2 F# projects in the same directory, but after I added nuget package today I have received the same error.

[2019-05-08 10:22] HassanHashemi opened #10258 "dotnet publish prefers files from dependency over local file"
I am not sure if this is a bug or by design, though it looks like a bug.

## Steps to reproduce
1. Create two **exe** projects **A** and **B**
2. Reference A from B
3. Add a file with same name (eg. Dockerfile) to root of both projects and set build action to **Content** and Copy if newer
4. publish project B

## Expected  behavior
output folder should contain **B**`s Dockerfile which is the proje

[2019-05-08 13:29] NinoFloris opened #3213 "Restore doesn't warn when restoring older pre 3.0 aspnet dependencies on netcore 3.0 resulting in TypeLoadExceptions"
Running on dotnet core 3.0.100-preview5 sdk while firing off a first request to aspnetcore 3.0.

`dotnet restore` issues zero warnings when you try to restore projects with dependencies that reference older AspNetCore (sdk backed PackageReference) versions. Ran across this while updating one of our solutions where we have a dependency on `FluentValidation.AspNetCore` which depends on `Microsoft.As

[2019-05-08 14:27] NinoFloris commented on #3213
Not to be rude but the blunt answer would be:

"That's your problem, you got yourselves in this mess with those fake 2.x AspNetCore packages and now that it's fixed properly it'll come back and bite you some more."

Since `FrameworkReference` is a thing now, meaning it won't participate in package resolution at all, you're going to see a long tail of package issues where those still reference part

[2019-05-08 14:29] NinoFloris commented on #3213
Github is showing comments from the future and rearranging answers, cool!
<img width="836" alt="Screenshot 2019-05-08 at 16 27 52" src="https://user-images.githubusercontent.com/4218809/57382978-40fbc200-71ae-11e9-8009-fb6c2c253c61.png">

[2019-05-08 15:47] rrelyea commented on #3213
Ok, so you think the sdk might be able to detect these kind of cases?

From nuget, all we understand is TFMs.
And I don’t think this is breaking any TFM rules.
Unless there is another clue we should pay attention to?

On phone now, but should probably port to sdk repo.

[2019-05-08 16:07] NinoFloris commented on #3213
@rrelyea this is the sdk repo ^_^

Changed the title earlier accordingly, it's indeed not entirely the responsibility of nuget (and cannot even be due to FrameworkReference) but I believe fundamentally an msbuild target in the restore process should be able to take a look at the final situation and warn on these cases. Possibly, and I'm no expert on all the sdk targets, if project TFM hierarchies

[2019-05-08 16:09] NinoFloris commented on #3213
P.S. would you mind deleting your first comment when Github experienced that time glitch? It keeps popping below newer comments.

[2019-05-08 17:19] livarcocc commented on #3213
I am not sure this is something that we should absolutely do, as in, not sure we will have enough context to really understand this is the situation that is happening here.

cc @dsplaisted who may have some idea or may confirm that this is the way things are.

[2019-05-08 17:23] dsplaisted commented on #3211
This is the same as https://github.com/dotnet/sdk/issues/3146

[2019-05-08 17:24] #3211 closed

[2019-05-08 17:27] livarcocc commented on #3204
Dupe of https://github.com/dotnet/sdk/issues/3146

[2019-05-08 17:27] #3204 closed

[2019-05-08 17:29] livarcocc commented on #2794
What do you mean by runtime.json being used to compute deps.json? I don't believe we use that at all. Are you packaging, perhaps an exe and adding that as a library dependency? Can you share a small repro of your issue, perhaps in a repo on github that we can clone and try?

[2019-05-08 18:34] dsplaisted commented on #3213
This looks to me like a breaking change in the MVC APIs.  @natemcmaster do you know if this is the case?

We have dotnet/cli#10105 which could trim out the MVC package reference, but even without that we expect that the 2.x DLLs would go through conflict resolution and lose to the same DLLs from the 3.0 shared framework.

[2019-05-08 19:17] genifycom opened #3215 "Razor Component write to console.log"
Is there or will there be a way to write to the Browser console log from a Razor component running on the server?

Thanks

[2019-05-08 19:21] genifycom opened #3216 "Razor Component onClick with arguments"
In the sample FetchData.razor how does one call the onclick event with an object.

e.g.

  <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td onclick="@EditForecast(forecast)">@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</

[2019-05-08 19:49] natemcmaster commented on #3213
@NinoFloris I don't have code to reproduce your issue, but based on a cursory inspection of https://github.com/JeremySkinner/FluentValidation/blob/master/src/FluentValidation.AspNetCore, it looks like this might be the cause: https://github.com/aspnet/Announcements/issues/326.

To test my theory out, try updating FluentValidation.AspNetCore to compile for netcoreapp3.0 with a `<FrameworkReference>

[2019-05-08 19:57] peterhuene commented on #3210
cc @dotnet/wpf-developers

@nguerrera believes this to be a known issue regarding a dependency on the VC++ redist that is actively being worked on.

I wanted to confirm before duping this (do we have an existing issue for this we're tracking?).

[2019-05-08 20:01] NinoFloris commented on #3213
@natemcmaster in the name of science I might try this in a bit but would it matter though?
I'm just a consumer of his package running on netcoreapp3.0. Therefore shouldn't I get a warning or error when I try to consume a package that references `Microsoft.AspNetCore.Mvc` < 3.0?

[2019-05-08 20:04] nguerrera commented on #3210
Now that I look closer, the stack trace looks different. I know there was an issue tracking the VC lib dependency, but it's not clear to me how that would have anything to do with the Marshal type failing to load.

[2019-05-08 20:05] nguerrera commented on #3210
Hmm, nevermind, the top frame is in WPF calling into ___CxxCallUnwindDtor. I guess this is the missing VC lib dependency.

[2019-05-08 20:07] livarcocc commented on #2679
@tmat it is not clear to me at this point what exactly this bug is tracking... Can you help clarify that?

[2019-05-08 20:10] vatsan-madhavan commented on #3210
This is not a missing VC lib dependency. This is due to a C++ compiler bug.

https://github.com/dotnet/wpf/issues/634

[2019-05-08 20:10] vatsan-madhavan commented on #3210
/cc @tgani-msft

[2019-05-08 20:15] peterhuene commented on #3210
@MSLukeWest Thanks for filing this issue.  As the problem is with the native dependencies of WPF and not with the publishing feature of the .NET Core SDK, I'm going to close this as a dupe of the above WPF bug.

[2019-05-08 20:15] #3210 closed

[2019-05-08 20:16] vatsan-madhavan commented on #3210
@miguep - Can we look into how we can catch these proactively in our testing?

/cc @rladuca

[2019-05-08 20:18] wli3 commented on #3115
forget to close this issue. It is done.
https://github.com/dotnet/sdk/pull/3057

[2019-05-08 20:18] #3115 closed

[2019-05-08 20:18] livarcocc commented on #3129
@dsplaisted is this still an issue?

[2019-05-08 20:20] livarcocc commented on #3131
@wli3 this seems like something that you added, can you take a look at it?

@nguerrera could this be related to that RAR cache bug I assigned to you?

[2019-05-08 20:21] livarcocc commented on #3151
@nguerrera this is our cache right?

[2019-05-08 20:22] livarcocc commented on #3161
@tmat any idea from the top of your head on what might be wrong here?

[2019-05-08 20:25] nguerrera commented on #3131
The unexpected dirtiness of the cache could be related, but I don't know until I dig on that.

I don't know why the RAR state file is an input to this target, though, regardless.

[2019-05-08 20:27] nguerrera commented on #3131
[code]

seems sufficient to me.

[2019-05-08 20:27] livarcocc commented on #3164
The problem here is how the parser works. The issue in particular is not about ReadyToRun, but also that you are passing a -p value after self-contained. Because that is not a special value to the parser, like -o, that we intercept and translate, the parser is seeing some value after --self-contained and assumes that it is the value being passed to self-contained.

In this case, I would recommend

[2019-05-08 20:34] tmat commented on #2679
I think we should create a separate issue for https://github.com/dotnet/sdk/issues/2679#issuecomment-485137716 and close this one.

[2019-05-08 20:34] dsplaisted commented on #3129
This should be fixed.  RuntimeFrameworkVersion doesn't affect the targeting pack version, as once we release the runtime and the targeting packs will be patched independently.

[2019-05-08 20:34] #3129 closed

[2019-05-08 20:38] peterhuene commented on #3164
We could validate that the argument is a boolean in the CLI rather than passing MSBuild the value.

Still, this would only occur when the next token the command line parser encounters after `--self-contained` is *not* a recognized option (i.e. an option that we would automatically forward to MSBuild).

Thus, `... --self-contained --no-build` would work just fine, but `... --self-contained -p:Foo=b

[2019-05-08 20:43] raffaeler commented on #3164
Thank you.
At this point, I'd prefer to have an error message if the boolean is not explicitly passed. At least I have a starting point instead of a big question mark in my head.

Also, since ReadyToRun is not able to work unless, self-contained is enabled, I would switch self-contained to true automatically.

Finally, I was said ReadyToRun changed to PublishReadToRun in P5, but the error messages

[2019-05-08 20:47] gravidThoughts commented on #377
I have to second the idea by @tjbarbour . I'm not understanding the complexity you are describing @rainersigwald . Someone simply uses the --clean flag and understands that it will delete everything in the output directory (of which there are several uses cases). I haven't looked at the code, but i is hard to imagine this wouldn't be straightforward.

Is it a function of not wanting to pollute the

[2019-05-08 20:51] livarcocc commented on #3166
@nguerrera who is going to provide some guidance here.

[2019-05-08 20:51] livarcocc commented on #3215
This is not the right repo for this. Please, file a new issue on aspnet/home for it.

[2019-05-08 20:51] #3215 closed

[2019-05-08 20:51] livarcocc commented on #3216
This is not the right repo for this. Please, file a new issue on aspnet/home for it.

[2019-05-08 20:51] #3216 closed

[2019-05-08 21:05] nguerrera commented on #3166
Since it is not necessary for all assembly attributes to go in the same source file, you can put the attributes that we do not generate in a traditional file and let us generate the rest. For example, leave AssemblyMetadata and InternalsVisibleTo in your AssemblyInfo.cs, but remove AssemblyVersion, AssemblyFileVersion, etc.

[2019-05-08 21:07] livarcocc commented on #3178
You should not be referencing this package directly or even upgrading it.

The version for this package is managed implicitly for you. if you are a framework dependent app, your app will target the 2.2.0 version of the package and your app will be rolled forward to the latest version of the runtime installed on your box automatically.

if you are a selfc-contained app, when you publish the app, it

[2019-05-08 21:07] #3178 closed

[2019-05-08 21:09] livarcocc commented on #3170
This issue was moved to microsoft/vstest#2013

[2019-05-08 21:09] #3170 closed

[2019-05-08 21:14] rrelyea commented on #3213
How should nuget detect this problem?

[2019-05-08 22:04] livarcocc commented on #2956
@peterhuene can you take a look at this one?

[2019-05-08 22:28] livarcocc commented on #3175
I don't believe this is an issue with .net core nor the SDK but rather with your kitematic setup. Unfortunately, I am not really familiar with it.

I suggest you find some Kitematic docs to learn how to setup your container.

[2019-05-08 22:28] #3175 closed

[2019-05-08 22:31] livarcocc commented on #3186
@springy76 did @rainersigwald 's suggestions work for you?

[2019-05-08 22:33] livarcocc commented on #998
This is a really old issue without any new activity. I am going to close it. If this still repros, please file a new issue with repro steps on it for us to investigate further.

[2019-05-08 22:33] #998 closed

[2019-05-08 22:33] natemcmaster commented on #3213
This idea came up a few weeks ago when chatting with @DamianEdwards. We don't have plans for issuing warnings or errors at the moment. The SDK has some conflict resolution built-in which will automatically hoist you to the right version of MVC.

That said, there is certainly an opportunity here for the SDK or NuGet to tell you when a PackageReference is unnecessary to keep in your .csproj file. Th

[2019-05-08 22:34] livarcocc commented on #958
We have no plans to continue to change dotnet migrate at this moment. As such, I am going to close this issue.

[2019-05-08 22:34] #958 closed

[2019-05-08 22:42] peterhuene commented on #2956
Wait, how is the apphost the only thing preventing this feature for publish?  Where would it be sourcing the other build outputs from?  The RID-less obj directory?  That seems inherently wrong to me, even if the build output might be (semantically) identical between a RID-less and RID-specific build.

Conceptually I'm struggling with being 👍  on this.  A user of the .NET Core SDK expects to publis

[2019-05-08 23:10] livarcocc commented on #2657
@dsplaisted can you take a look on this issue? it is the same physical file but with different logical names.

[2019-05-09 05:32] wli3 commented on #3131
@KirillOsenkov how to repro this rewrite of WriteAppConfig? We have [existing test ](https://github.com/dotnet/sdk/pull/2447/files?file-filters%5B%5D=.cs&file-filters%5B%5D=.targets#diff-5791e28781860b8d88a502b3de5f2682R594) to build it twice and ensure no rebuild of the file. I think it is fine to make the change but I'd to have a test to the prevent future regression

[2019-05-09 10:10] loop-evgeny commented on #2253
Just ran into this with ASP.NET Core 2.2. Adding `<PackageReference Include="Microsoft.AspNetCore.App" />` to the test project fixed the issue, but this is really a horrible user experience, because the error gives the user no idea what's wrong. Even looking at the detailed build log file is useless:

This is such a waste of time and it has to be a pretty common problem - please fix this!

[2019-05-09 11:21] 1saeedsalehi commented on #3146
Same issue on Visual Studio 16.0.3 - .Net Core 3
[Redemption.Api.deps.new.zip](https://github.com/dotnet/sdk/files/3161807/Redemption.Api.deps.new.zip)

[2019-05-09 17:43] jdavidbambrick opened #3220 "Internal Error: new deps file generation logic did not produce the same result as the old logic."
Added an new publishing profile - a new folder, under the existing one ... and go this error asking me to post it back to git hub... so here ya go...

[netcoreapp3.0.zip](https://github.com/dotnet/sdk/files/3163329/netcoreapp3.0.zip)

[2019-05-09 18:09] livarcocc commented on #3220
Dup of https://github.com/dotnet/sdk/issues/3146.

[2019-05-09 18:09] #3220 closed

[2019-05-09 20:53] KirillOsenkov commented on #3131
@wli3 I've e-mailed you the repro steps, thanks!

[2019-05-09 21:23] johnbeisner commented on #2170
@rainersigwald
Can you comment on the necessity of this issue.

[2019-05-10 00:30] arekbal opened #10262 "Telemetry message wording is "inaccurate""
## Steps to reproduce
Just write `dotnet` in console
There is a notification about using telemetry and how to disable it by using environment variable. Th message states that telemetry data is shared with community.
## Actual  behavior
The wording of the message is inaccurate and misleading as only "some" of the data "used to be" shared with the community.
Looking at https://docs.microsoft.com/en-

[2019-05-10 17:11] wli3 commented on #3023
@nguerrera @peterhuene ?

[2019-05-10 20:11] nguerrera commented on #3023
It should be respecting the RunCommand, which would be adjusted with UseAppHost (if the ordering is correct, I know we had some issues with where we were changing it before.) But, yes, a windows app may behave wrong when run with `dotnet`. It will get `dotnet`'s win32 manifest, start a console window, etc.

[2019-05-10 20:47] wli3 opened #3223 "Add performance test for WPF and Winform"
- [x] Add hello world test for WPF and Winform for netcore and full framework, make sure infrastructure supports that.
- [x] Add large realistic project
- [ ] Move out of benchview
- [ ] Change the PowerBI view to better compare full framework to non-full framework
==================================
- [x] Combine RunPerfTestsOnHelix.fullframework.cmd into one
- [x] Solve bench view upload collisio

[2019-05-10 20:57] wli3 commented on #3223
And I am looking for good test assets for WPF and WinForm to test SDK build performance against.

I think it should

1.	Be large with many p2p and nuget reference to represent real world scenario(although is nuget used a lot in WPF and WinForm era?).
2.	Has both ported core version and full framework version(to be used as a base line).

[2019-05-10 22:36] nguerrera commented on #3194
I'm not sure I follow. How should .NET 4.7.2, which supports NS 2.0, bring in NS.L 2.x library?

[2019-05-10 22:38] nguerrera commented on #3194
We strive to keep implicit references a deterministic function of the project (with the exception of preview-to-preview sdk builds). In the early days, bumping the NS 1.x implicit ref with SDK projects ended up breaking projects. But generally, we don't want non-determinism of the dependency graph when only the SDK changes.

[2019-05-11 22:44] NinoFloris commented on #3213
@natemcmaster I'm afraid I don't quite follow or that we're talking past each other.
Mind you I'm not the author of the package, just a consumer of it on netcoreapp3.0.

I read a bit of this doc before writing this https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/framework-version-resolution.md#scenarios-with-known-issues I hope it still reflects the current state of the

[2019-05-12 18:46] kingboyk commented on #3159
I was getting this error when attempting to publish a Linux-x64 package using VS 2019 Preview and the latest nightly build of .NET Core 3.0 Preview 6 ('latest' as in downloaded and installed today, 12 May). The `<DepsFileGenerationMode>old</DepsFileGenerationMode>` workaround does fix it, however.

[2019-05-13 16:52] natemcmaster commented on #3213
What is confusing you? Your latest comment went in an unexpected direction, and I'm not sure what you are asking for.

The situation here, as I understand it, is that you are trying to use FluentValidation.AspNetCore 8.3.0. This was compiled to use an ASP.NET Core 2.1 API which was removed in ASP.NET Core 3.0. As a result, FluentValidation.AspNetCore does not work on when used in an ASP.NET Core 3

[2019-05-14 19:43] #3010 closed

[2019-05-15 21:25] dsplaisted opened #10269 ""dotnet run" for project targeting .NET Framework fails with unhelpful error on Linux"
Trying to `dotnet run` a project targeting .NET Framework fails with the following error on Linux (and probably Mac):

[code]

We should fail with a more graceful error.

[2019-05-15 22:16] shhsu opened #3236 "Question: why does publish pull binaries from $(IntermediateAssembly) instead of $(OutDir)"
Hi dotnet:

I am wondering why publish pull binaries from $(IntermediateAssembly) instead of $(OutDir)
https://github.com/dotnet/sdk/blob/77677cd4cd4d033e2a30e33f2e7dc49d7f3c8095/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets#L354

Background:
I created a VSTS pipeline that calls msbuild to build/sign/publish my application (publish to file). However, I am finding that a

[2019-05-16 08:19] fgajtanovski commented on #2253
Worked for me by only using:
- Using <Project Sdk="Microsoft.NET.Sdk">
- Adding <PackageReference Include="Microsoft.AspNetCore.App" /

thanks for your guidance.

[2019-05-16 17:07] IvanAlekseev commented on #2253
The build throws warnings with above workaround when platform is set to x64.

Example webapp csproj:
[code]

example test csproj

[code]

But works fine when I set `<TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>` in test project

[2019-05-17 15:29] fr0 opened #3244 "How to set version metadata?"
1. I want to use the `VersionPrefix` property inside my `csproj` to define my package's semver 2.0 (3-part) version.
2. I want to attach a 4th part and build metadata on the command line.

In other words, I want to have the version be, e.g. "1.2.3.4+f0c432"

Where `1.23` is stored in the `csproj`
and `.4` comes from the CI environment
and `+40c432` is the commit hash.

The problem I've run into is

[2019-05-17 16:19] sebastienros opened #3245 "NullableContextOptions error during build"
Using the latest build of the SDK, since yesterday.

[code]

[2019-05-17 22:37] #3068 closed

[2019-05-17 23:25] #3131 closed

[2019-05-20 10:31] fubar-coder opened #3249 "*.dll.config from package reference not copied to output on publish"
# Description

It seems that the `*.dll.config` files from a package reference aren't copied to the output directory during a `dotnet publish`.

# Use case

I stumbled across this problem while consuming my `FubarDev.PamSharp` package, which **requires** having the ´.dll.config` file, because it contains a `dllmap` that is needed to find the correct native library.

# `dotnet --info`

[code]

# Sy

[2019-05-20 14:45] fubar-coder commented on #3249
It wasn't part of the package, sorry for the inconvenience.

[2019-05-20 15:46] fubar-coder commented on #3249
Ok, version 0.3.0 now contains a `.dll.config` and it's not copied to the `bin/Debug/netcoreapp3.0` directory and it's not published. What can I do?

[2019-05-20 17:14] nguerrera commented on #3245
Duplicate of aspnet/AspNetCore#10218

https://github.com/dotnet/roslyn/pull/35716 should fix it if bits have flowed. Can you try the latest build?

[2019-05-20 17:14] #3245 closed

[2019-05-20 17:18] sebastienros commented on #3245
I confirm it works now with `3.0.100-preview6-012016`, thanks

[2019-05-20 17:40] livarcocc commented on #2933
@dsplaisted is this one still in progress?

[2019-05-20 17:47] livarcocc commented on #2933
Work is done for targeting packs. We still need to do the work for runtime packs but runtime packs don't have platform manifests yet.

[2019-05-20 17:56] livarcocc commented on #2937
@dsplaisted said this is likely a dup. Please go through them and close duplicates.

[2019-05-20 18:16] admilazz commented on #3151
I get this with .NET core 2.2. It's reproducible for me by using a conditional ItemGroup in a .csproj file where the condition is satisfied:

    <Project Sdk="Microsoft.NET.Sdk.Web">
      <PropertyGroup>
        <TargetFramework>netcoreapp2.2</TargetFramework>
        <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
        <TrimUnusedDependencies>true</TrimUnusedDependencies>

[2019-05-20 18:22] dsplaisted commented on #2729
ASP.NET switched to discovering which assemblies should be scanned at build time, and encoding that information in assembly attributes, and as such no longer need the FrameworkReferences to be encoded in the deps.json.  So we are going to close this, and can revisit it if we encounter another scenario where this would be needed.

[2019-05-20 18:22] #2729 closed

[2019-05-20 22:15] nguerrera commented on #2552
This is fixed.

After merging master and accounting for test rename in command shown below, the appropriate exception is raised:
[code]

[code]

[2019-05-20 22:15] #2552 closed

[2019-05-20 22:31] nguerrera commented on #3201
I think this is actually by design, but the task parameter is unfortunately named.

This appears in the deps file as "MyProject/$(Version)", where this slash notation indicates the package version for packages in the deps file. There are separate assemblyVersion and fileVersion properties for package assemblies. I think the version in the deps file for project libraries doesn't really matter, but

[2019-05-20 23:49] dsplaisted commented on #2933
As to Nate's comment, the platform manifest is used for framework-dependent apps to trim dependencies that are already included in the shared framework.  For self-contained apps, if there is a dependency which is part of the Framework, we still need to decide which asset to use.  In either case, the platform manifest can provide the version information for conflict resolution to make these decisio

[2019-05-21 01:39] dsplaisted commented on #2937
Closing this in favor of dotnet/cli#10581

[2019-05-21 01:39] #2937 closed

[2019-05-21 02:29] dsplaisted commented on #2933
Closing this in favor of https://github.com/dotnet/cli/issues/10581 and https://github.com/dotnet/cli/issues/10442

[2019-05-21 02:29] #2933 closed

[2019-05-21 06:45] davidfowl opened #3251 "deps.json file has empty compilationOptions section"
Likely a result of the migration to the new JSON APIs

[code]

cc @ahsonkhan @nguerrera

[2019-05-21 09:57] davkean commented on #3027
Ran into it here: https://twitter.com/scottisafool/status/1130750989705912321.

[2019-05-21 15:56] nguerrera commented on #3251
Cc @dsplaisted

[2019-05-21 16:06] dsplaisted commented on #3251
Does this have any impact?  Are there supposed to be compilation options recorded in this case?

[2019-05-21 19:38] davidfowl commented on #3251
No functionality impact but it should be cleaned up as it's unnecessary and frankly strange to see.

[2019-05-21 21:49] ahsonkhan commented on #3251
I don't think the migration affected this. At least, looking at the tests, this was by-design before too:
https://github.com/dotnet/sdk/blob/b73819e683af64bd19c961973c77b2239cd20e5d/src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenADependencyContextBuilder.cs#L63

https://github.com/dotnet/sdk/blob/8cb31b0fd0bb5d36b9781442865f2e26cf6fbedc/src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/simple.depe

[2019-05-21 22:18] davidfowl commented on #3251
Make a new console app with .net core 2.1 or 2.2, does it have the compilationOptions?

[2019-05-21 23:04] nguerrera commented on #3251
Just tried it with an old 2.1.4xx sdk and a 2.1 app. It does the same thing. Seems it's always been this way.

[2019-05-21 23:07] davidfowl commented on #3251
Omg then we should fix it...

[2019-05-22 00:33] vatsan-madhavan commented on #2674
Just hit this in the wpf repo today. I started building tests by project-referencing WindowsBase.csproj against them, and got into this. I'm working around this by doing something like this, which isn't great.

Would be great if this can be fixed.

[code]

[2019-05-22 00:38] wli3 commented on #2114
reopen, and regressed due to https://github.com/NuGet/NuGet.Client/pull/2822

Thinking a solution...

cc @nkolev92 @peterhuene

[2019-05-22 00:39] nguerrera commented on #3251
If we're going after brevity, I'd like to see the empty signature node removed. That isn't used by anything, it's an artifact of some servicing thing before my time that never saw the light of day. Also, the empty sha512...

[2019-05-22 00:40] dsplaisted opened #3253 "Project with PackAsTool and GeneratePackageOnBuild set to true fails to build"
Tests in `GivenThatWeWantToPackAToolProjectWithGeneratePackageOnBuild` are failing with:

This regressed with a recent NuGet insertion.

[2019-05-22 00:41] wli3 commented on #2114
close, prefer new bug

[2019-05-22 00:41] #2114 closed

[2019-05-22 00:41] wli3 commented on #2114
https://github.com/dotnet/sdk/issues/3253

[2019-05-22 00:41] dsplaisted commented on #3253
We need to make sure to re-enable these tests once we fix the bug.

[2019-05-22 00:41] wli3 commented on #3253
regressed due to NuGet/NuGet.Client#2822

cc @nkolev92 @peterhuene

[2019-05-22 00:45] dsplaisted commented on #3251
We use the Microsoft.Extensions.DependencyModel APIs to write the deps file, so it's likely that we'd need a change in that library in order to make these changes.

[2019-05-22 00:56] vatsan-madhavan opened #3254 "deps.json for ProjectReferences is not emitted correctly"
When I create a project with a project reference like this...

[code]

... the `deps.json` file that's generated has an entry like this:

[code]
The application loads `WindowsBase` from `Microsoft.NetCore.App` instead of loading the one supplied by the referenced project.

[Repro: XUnitTestProject1.zip](https://github.com/dotnet/sdk/files/3205090/XUnitTestProject1.zip)

/cc @ericstj

[2019-05-22 00:58] vatsan-madhavan commented on #3254
Also related: #2674

[2019-05-22 00:58] vatsan-madhavan commented on #2674
Related #3254

[2019-05-22 05:02] RayKoopa opened #3256 "NullableContextOptions has no effect anymore (after upgrading to VS 16.2 Preview 1?)"
I'm using 3.0.100-preview5-011568 in VS 16.2.0 Preview 1.0 and the following sample C# console application:

**project.csproj**
[code]

**Program.cs**
[code]

Despite having set `NullableContextOptions` to `enable` in the project file, I receive the warning **CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' context.** on the `String?` question ma

[2019-05-22 15:36] rainersigwald commented on #3256
`NullableContextOptions` was renamed to just `Nullable` in https://github.com/dotnet/roslyn/pull/35516. @jcouv, am I reading https://github.com/dotnet/roslyn/pull/35716 correctly that the _task_ should currently accept both in 16.2.0-preview1, but only the new _property_ is respected by `CoreCompile`?

Do we have guidance for folks who are in this situation where they have `dotnet` on an older com

[2019-05-22 16:00] RayKoopa commented on #3256
Thanks for letting me now, it works now as expected with `Nullable`, I didn't find information that it was renamed (again), but kinda suspected it.
I also wonder which project is responsible for adding those tags to auto completion in the csproj file, as all those new tags don't appear there in VS 2019 16.2 which I tried to check first?

[2019-05-22 16:16] rainersigwald commented on #3256
That currently lives in an XSD file in MSBuild. I filed https://github.com/microsoft/msbuild/issues/4391.

[2019-05-22 16:28] sbomer opened #3257 "Double write during publish"
Publishing a self-contained WPF template app writes some files twice because `ResolvedFileToPublish` has the same dll from different runtime packs (for example, Microsoft.Win32.Registry.dll comes from both netcoreapp and the windowsdesktop pack).
This causes crossgen failures when used together with `PublishReadyToRun=true`.

Looks very similar to https://github.com/dotnet/sdk/issues/3035 which wa

[2019-05-22 17:03] nguerrera commented on #3257
cc @dsplaisted

[2019-05-22 20:40] #3253 closed

[2019-05-22 23:08] ericstj commented on #3254
You can contrast this to a raw file reference which includes fileversion / assemblyversion.  For some reason fileversion and assemblyversion are missing from projectreferences.  This breaks the scenario where folks submodule a library to replace it (or in this case WPF just tries to test their own libs which in the case of WindowsBase overlap libs in the base shared framework).  /cc @dsplaisted

[2019-05-23 01:00] peterhuene commented on #3257
This differs from #3035 because that bug was caused by having an item being a member of two intermediate groups and sourcing the final group from both of those intermediate groups, thereby causing the duplicate.

This bug, however, has `ResolveRuntimePackAssets` outputting the duplicate items because the item shows up in multiple runtime packs.

Other than ideally having composite runtime packs th

[2019-05-23 01:34] penguid commented on #2295
Instead of msiexec, consider `dotnet-sdk-N.N.NNN-win-x64.exe /uninstall`. This appears to perform a more complete uninstallation which also removes them from the Windows Apps & Features list.

The uninstall commands for installed SDKs can be queried from the registry as follows (and the above scripts could be adapted to execute the UninstallString or QuietUninstallString instead of msiexec):

[cod

[2019-05-23 15:12] rainersigwald opened #3261 "Consider making runtime target assets available as an item"
In part of the MSBuild build that attempts to assemble a set of build tools to make a usable MSBuild distribution (sort of a mini-`core-sdk` for our own bootstrap purposes), we extracted some specific items to copy from the `@(RuntimeCopyLocalItems)` and `@(ResolvedRuntimeTargets)` items output by `ResolvePackageAssets`:

https://github.com/microsoft/msbuild/blob/0411d07a7853af88f2555dd84258c005bd

[2019-05-23 18:22] Apollo3zehn commented on #765
Is there any plan to solve this eventually? How can we have unit tests referencing a project which depends on native assemblies?

- I don't like the solution to create a separate package containing only the native libs and then referencing this package since then one has to publish them one after another, which makes CI difficult.
- In the unit test project I tried to create a PackageReference ins

[2019-05-23 19:17] penguid commented on #2295
And here is a script function that attempts to silently uninstall (except for UAC prompt) outdated SDKs, keeping only the latest patch version of each (unless using the -All param). Dry run with `Uninstall-DotNetSdk -WhatIf` or `Uninstall-DotNetSdk -WhatIf -All`.

[code]

[2019-05-23 20:08] sbomer commented on #3257
Not sure if it's relevant, but I remember seeing `WindowsBase.dll` in both the netcoreapp and windowsdesktop runtime pack, but that assembly seems to be correctly dedup'd. I'm wondering what mechanism does that, and why it's not doing the same for these other assemblies?

[2019-05-23 20:49] #3256 closed

[2019-05-23 20:57] livarcocc commented on #3251
That's right. This is coming from the DependencyModel. Is the plan here to remove CompilationOptions from the DependencyModel entirey because this thing is never used or just to not create the empty node?

[2019-05-23 20:58] livarcocc commented on #3249
I think maybe you should mark that file as content, so that it gets copied?

cc @rrelyea @nkolev92

[2019-05-23 21:03] dsplaisted commented on #3251
AFAIK there are still some scenarios where CompilationOptions is used, so the proposal would be to not include it in the deps file if it's empty.

[2019-05-23 21:07] nguerrera commented on #2948
Closing as fixed.

[2019-05-23 21:07] #2948 closed

[2019-05-23 21:11] #1614 closed

[2019-05-23 21:13] nguerrera commented on #1699
We will only be investing in dotnet store so I am closing this.

[2019-05-23 21:13] #1699 closed

[2019-05-23 21:32] nguerrera commented on #1211
dotnet store is  basically on life support right now. I'm trying to simplify it as I fix what's been broken during recent changes and to prevent it from being such a high tax on future changes. It looks like it would be drastically simpler to do option 1 above:

@eerhardt @DamianEdwards @jeffschwMSFT @fadimounir  Any objections to this breaking change? The result will be that what is stored is bas

[2019-05-23 21:34] nguerrera commented on #1624
I believe this was fixed.

[2019-05-23 21:34] #1624 closed

[2019-05-23 21:35] nguerrera commented on #1184
We are not investing in dotnet store and warning as error seems sufficient for this.

[2019-05-23 21:35] #1184 closed

[2019-05-23 21:41] nguerrera commented on #1072
Looking at changing the behavior to not restore each package individually. See https://github.com/dotnet/sdk/issues/1211#issuecomment-495393012

[2019-05-23 21:51] eerhardt commented on #1211
Are we certain we need to fix this issue? I don't think ASP.NET uses the `dotnet store` feature going forward. Do we have other customers of the feature that need this to be fixed?

[2019-05-23 21:51] nguerrera commented on #2716
Sorry for letting this sit. The binlog doesn't give a hint. Closing until we see another instance with repro.

[2019-05-23 21:54] nguerrera commented on #1211
It's not about fixing this issue. It;s that dotnet store is busted completely now. So trying to fix it and simplify it. We have already decided we cannot pull the feature so I'm suggesting simplifying it. Yes, there are external users of the feature.

[2019-05-23 22:02] eerhardt commented on #1211
Ah, ok then. As long as those external users are fine with the behavior change, I vote for simplicity.

[2019-05-23 22:12] JunTaoLuo commented on #1211
I think we still use dotnet store in our 2.x servicing for building site extensions, is that right @natemcmaster @dougbu?

[2019-05-23 22:14] nguerrera commented on #1211
For that, you would use a 2.x sdk, though, right, so it would not be impacted by this. The change I'm proposing would impact 3.0 sdk and onward.

[2019-05-23 22:15] JunTaoLuo commented on #1211
Oh okay, yes I think that should be okay then.

[2019-05-23 22:19] nkolev92 commented on #3249
There's no first class support for those as far as I'm aware.
Making them content as @livarcocc suggested and marking the action as "compile" might work though.

[2019-05-23 22:24] nguerrera commented on #1404
We are only making minmal investments in dotnet store moving forward.

[2019-05-23 22:24] #1404 closed

[2019-05-23 22:25] nguerrera commented on #1210
We are only making minimal investment in dotnet store moving forward.

[2019-05-23 22:25] #1210 closed

[2019-05-23 22:32] nguerrera commented on #991
In 3.0 you can use the templates with no package references offline on any build. And the feeds are only needed for self-contained or things that need a daily build package reference. This has been the agreed upon plan so I'm closing this.

[2019-05-23 22:32] #991 closed

[2019-05-23 23:03] nguerrera commented on #1470
I believe this was covered in the documentation added for https://github.com/dotnet/docs/issues/2902

[2019-05-23 23:03] #1470 closed

[2019-05-23 23:06] nguerrera commented on #1362
We are only making minimal investements in dotnet store.

[2019-05-23 23:06] #1362 closed

[2019-05-23 23:16] nguerrera commented on #3151
@admilazz Unfortunately,  I cannot repro that.

[2019-05-23 23:21] nguerrera commented on #3151
If someone can repro still repro this, the following would be usfeul: https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b

[2019-05-23 23:36] fubar-coder commented on #3249
Ok, I can add it as content, but how do I set the action as "compile"?

[2019-05-23 23:52] natemcmaster commented on #1211
We still use `dotnet store` in 3.0 to generate the stores used by our Azure Apps Services extensions. https://github.com/aspnet/AspNetCore/tree/master/src/SiteExtensions

[2019-05-23 23:57] nguerrera commented on #1211
@natemcmaster Thanks for noting that. Does the change I proposed above work for that?

[2019-05-24 00:16] nguerrera commented on #1211
@normj Reaching out to you as a user of dotnet store based on https://github.com/dotnet/cli/issues/10784  Would the proposed change above work for you? Basically, if there is "incoherence" in the list of packages to store, then they would resolve in the usual nuget way for a single project.

For example, if we're asked to store:

A v1
B v2

And dependencies are:

A v1 -> B v1 -> C v1
B v2 -> C v2

[2019-05-24 00:21] natemcmaster commented on #1211
I think the proposal works for aspnet. I review the store we ship in Microsoft.AspNetCore.AzureAppServices.SiteExtension, and I only see one version of each package.

[2019-05-24 16:28] nkolev92 commented on #3249
Set a BuildAction property on the item.
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#targetsfortfmspecificcontentinpackage
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#including-content-in-a-package

[2019-05-24 17:58] normj commented on #1211
For reference here is a description of how we use dotnet store at AWS for use with Lambda functions which is AWS's serverless technology.

https://aws.amazon.com/blogs/developer/aws-lambda-layers-with-net-core/

The short answer is yes this would be a breaking change that could negatively impact our users.

The intention is users will create a package store and then reference that for any number o

[2019-05-24 18:39] nguerrera commented on #969
We are only making minimal investments in dotnet store from here on.

[2019-05-24 18:39] #969 closed

[2019-05-24 18:45] nguerrera commented on #1211
Thanks, @normj

What determines the version of the .NET Core SDK that use used to create the store artifacts?

I'm asking above because it doesn't quite feel silent if there's some step to switch to 3.0 and generate a new store, where this could be documented.

The current behavior make the implementation quite complex and has caused quite a few issues:
https://github.com/dotnet/sdk/issues/3168
ht

[2019-05-24 19:10] peterhuene opened #10288 "Implement an option for restore/build/publish commands that disable build servers."
## Steps to reproduce

See discussion on https://github.com/dotnet/cli/issues/9481.

1) `dotnet new console`
2) `dotnet build`

## Expected  behavior

There should be an option to `dotnet build` (and other building commands) to disable the use of the various build servers (Roslyn, MSBuild node reuse, Razor).

## Actual behavior

Users have to pass a plethora of undiscoverable properties and option

[2019-05-24 19:48] normj commented on #1211
We don't do anything special for choosing the SDK. We use the `dotnet` in the path to execute CLI commands and rely on `dotnet`'s built in mechanisms for choosing the SDK.

Silent might not have been the right word. By silent I mean the user created in our case a Lambda layer which for .NET is a package store and expected all of their dependencies to be put in the store including multiple versions

[2019-05-24 23:42] nguerrera commented on #1211
This would be great to have, unfortunately I don't know how to implement it in the planned simpler implementation I have in mind. Basically, I'd like to treat the manifest like any other project and stop doing heroics to restore each package in isolation. I don't think nuget returns us enough data to know what the delta is between every package's individual graph and the resolved graph is. cc @nko

[2019-05-25 00:37] vatsan-madhavan opened #3265 "WPF Theme Assemblies are not usable under the current FrameworkReference design"
See discussion in https://github.com/dotnet/sdk/pull/3259 for context.

Background:

WPF's theme assemblies (`PresentationFramework.Aero`, `PresentationFramework.Aero2`, `PresentationFramework.AeroLite`, `PresentationFramework.Classic`, `PresentationFramework.Luna` and `PresentationFramework.Royale`) expose the same types.

For e.g., [DataGridHeaderBorder](https://docs.microsoft.com/en-us/dotnet/a

[2019-05-25 00:40] vatsan-madhavan commented on #3265
Also, here is a skeleton of a proposal from the original thread: [link](https://github.com/dotnet/sdk/pull/3259#issuecomment-495327491)

[2019-05-25 01:04] kakiyama1018 opened #3272 "Build issue when targeting .NET core 2.1 on machine with only .NET Core SDK 2.2"
I'm trying to ship some code samples to users that will work regardless of whether they have .NET SDK 2.1 or 2.2.

According to...
https://docs.microsoft.com/en-us/dotnet/core/versions/selection
... it states that:

"A given SDK supports a fixed set of frameworks, capped to the target framework of the runtime it ships with. For example, the .NET Core 2.0 SDK includes the .NET Core 2.0 runtime, whi

[2019-05-25 01:05] dsplaisted commented on #3265
For the first use (`ResourceDictionary`), do these assemblies need to be referenced at compile-time at all?  Or is it enough that they are available at runtime (in the shared framework)?

[2019-05-25 12:47] nguerrera commented on #1211
Another workaround would be to add direct references where appropriate to lift things up to the version in your store.

Another thing you could do, I think, is to have all your projects have a project reference to your manifest project and not have individual package references to the things in the store. Instead let come transitively. It makes the manifest project like a meta package. The downsid

[2019-05-25 13:58] NinoFloris commented on #3213
This would be my main question then

How is it that the runtime resolution policy defaults in place are stricter than what we have during build time today? Arguably the former — especially considering container use being popular with .net core — won't even be used all that much.

[2019-05-25 14:01] DoCode opened #3266 "dotnet msbuild -t:restore or -t:publish : NU1201: Not compatible with netcoreapp2.2"
### Steps to reproduce

- I try to restore and publish a cross-targeting and cross-platform project with netcoreapp/netstandard/net472 and linux-x64/win-x64 mix-match with:
[code]

#### The projects
**Api.csproj**
[code]
**Core.csproj**
[code]
**Store.csproj**
[code]
**Sdk.csproj**
[code]
**Cli.csproj**
[code]

### Expected behavior

The projects should be restored for all TFM's and RID's.

### Ac

[2019-05-25 23:13] nguerrera commented on #1211
Another idea would be to warn on publish that we are deploying Foo vX as only vY is in the store that is much easier to implement and I think it's less noisy.

[2019-05-25 23:33] run1206 opened #3267 "Verbiage of success message on 32bit .NET Core 2.2 SDK has wrong folder location"
After the 32-bit .NET Core 2.2 SDK finishes installing, the success message reads:
"The following were installed at C:\Program Files\dotnet..."
The SDK files are correctly saved in the 32-bit location, but the folder location in the message is for the 64-bit SDK location.

Please see attached image for reference.
![20190525_192301](https://user-images.githubusercontent.com/16143658/58375537-50576b

[2019-05-26 04:34] vatsan-madhavan commented on #3265
They don't have to be available as a ref-assembly input to the compiler, but they do have to be available at run-time - typically in `$(Outdir)`. The developer should be able to exercise some control over where the assembly lands. I'm not sure whether this would be useful at design-time as well - i think it would be safe to assume that this is the case.

In .NET Framework, the typical pattern of u

[2019-05-26 06:45] nguerrera commented on #3265
Really, you need to copy these into the app even if framework dependent? They aren't found in the framework? That's very odd.

[2019-05-26 06:55] nguerrera commented on #3265
Do you mean Private=true rather than CopyLocal=true?. That's the actual rendering of the Copy Local option in properties pane when persisted to the csproj. This is an extremely bizarre thing to do with a framework assembly. It will copy a *reference* assembly from the targeting pack, which ordinarily wouldn't load, but it won't actually used because the copy in the GAC will be preferred. Is it rea

[2019-05-26 06:58] vatsan-madhavan commented on #3265
Where they need to be placed depends on how they are referred to in a Uri. Typically, these assemblies (and resources in them) tend to be referred to in relation to the placement of the app itself - therefore the copying.

It should be possible to reference assets in the  assembly in the framework folders directly - if the app creates the right Uri for doing so.

[2019-05-26 16:35] dsplaisted commented on #3265
In .NET Core, for framework-dependent apps, there's not a good way to copy an implementation assembly from the Framework to the output folder.  Also, there's probably not a good way to construct a Uri pointing to the assembly in the shared framework directory, as the path depends on the exact runtime version, and there are different folders for each different shared framework (.NET Core, WindowsDe

[2019-05-27 16:06] dhutarn commented on #2682
A common scenario for having a project referencing another project that generates an executable is having a unit test library to test that executable. As described in https://docs.microsoft.com/en-us/dotnet/core/tutorials/testing-with-cli.

[2019-05-27 20:15] dasMulli commented on #3266
looks like an instance of https://github.com/NuGet/Home/issues/7286

[2019-05-27 21:22] masaeedu opened #10290 "Add command to list files that are part of the solution"
Hello. I think it would be useful if the `dotnet` CLI exposed some command to list all of the files that are considered part of the build (project files, source code, resource files, hardcoded DLLs, etc.). This would facilitate use of .NET code with build and deployment tools like Docker and Nix, which rely on being able to discover an exhaustive list of build inputs ahead of time.

I'm not sure w

[2019-05-28 12:13] Szczurowski commented on #2253
Damn, it doesn't work in SDKv2.2.107  for me

[2019-05-28 17:40] normj commented on #1211
Are you saying `dotnet publish` would output that warning?

If `dotnet publish` did output warnings for version mismatch with passed in store manifests and I did the work in my tooling to support passing in a collection of project files to create the store I think that would satisfy our needs.

[2019-05-28 18:18] livarcocc commented on #3267
cc @johnbeisner

[2019-05-28 21:21] spboyer opened #10291 "add deploy as a first class command"
Consider adding `deploy` as a first-class command.  Adding this command as an option to deploy to azure, or even other cloud platforms within the CLI helps push .NET Core without having to install additional CLI tooling.

See: https://github.com/spboyer/dotnet-azure for an example.

Angular has also added this an option using `ng deploy azure` within their CLI.

[2019-05-28 23:11] nkolev92 commented on #1211
Late response here, but that's correct, there's not enough data for that. Only the information for the selected packages will be contained in the assets file, so you could only recreate the overlapping parts of the graph.

[2019-05-29 16:50] natemcmaster commented on #3151
@Tratcher has a repro. See https://github.com/aspnet/AspNetCore-Internal/issues/2009#issuecomment-496696955 for internal network drop share that contains the log files.

[2019-05-29 16:55] nguerrera commented on #3151
Thanks. I'll take a look right away.

[2019-05-29 17:42] natemcmaster commented on #3213
I don’t know how to answer your question. I’m interested in helping, but the behavior you’ve just commented on is a fundamental behavior of .NET and dynamic linking.

The way I see it, the origin of this thread was a breaking change that ASP.NET Core made in 3.0. My team is reviewing all of our breaking changes right now and looking to see if we can make PRs to the top community projects affected

[2019-05-29 18:10] Lohnegrim commented on #2793
Still in Preview 5

[2019-05-29 18:23] 333fred commented on #2793
@nguerrera did we make changes to the targets to support this scenario?

[2019-05-29 18:55] nguerrera commented on #2793
No. The bug is still open.

[2019-05-29 21:43] livarcocc commented on #3244
Version is defined in the SDK as such:

[code]

If you want it to be different, you need to define version yourself to be something different, like

[code]

Note that I haven't tried this myself, but it should work. Also, here is where it is defined: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DefaultAssemblyInfo.targets#L16

[2019-05-29 23:46] #2322 closed

[2019-05-30 00:10] davkean commented on #2322
Thank-you thank-you thank-you @dsplaisted

[2019-05-30 02:07] nguerrera commented on #3151
This is happening in dotnet store targets and is almost certainly a dupe of these issues that I am working on fixing with one big simplification of dotnet store:

https://github.com/dotnet/sdk/issues?q=is%3Aopen+is%3Aissue+assignee%3Anguerrera+label%3AStore

[2019-05-30 03:37] dsplaisted opened #3277 "SatelliteResourceLanguages doesn't filter resources from Publish output when targeting .NET Core 3.0"
Publish the following project:

[code]

## Expected

Publish folder should only have resource subfolders for `de` and `pt`.

## Actual

The publish folder will include the Humanizer resources for all languages the package supports:

![image](https://user-images.githubusercontent.com/145043/58606671-4f8b4580-8251-11e9-9e22-593e29ceab4d.png)

## Notes

When targeting .NET Core 2.2, the publish outpu

[2019-05-30 03:45] peterhuene commented on #3277
Weird, I'm pretty sure we had existing tests to cover this so that the publishing changes wouldn't regress it.

I'll look into this.

[2019-05-30 05:04] peterhuene commented on #3277
I have a fix, but now I need to figure out why the test that should cover this hasn't been failing.

[2019-05-30 05:25] peterhuene commented on #3277
Note that once we can finally eliminate the old publish logic we can remove all this unpleasantness.

[2019-05-30 19:40] DualBrain opened #3387 "VB.NET "My" not working as expected?"
@cston and @KathleenDollard,

Here is an isolated example running on the most recent bits as far as I can tell (at least with regards to the Microsoft.VisualBasic side of things).

Module Program
  Sub Main(args As String())
    Console.WriteLine(My.Computer.Name)
    Console.WriteLine((New Microsoft.VisualBasic.Devices.ServerComputer).Name)
    Console.WriteLine(System.Environment.MachineName)

[2019-05-31 06:07] #3277 closed

[2019-05-31 13:00] davkean opened #3286 "Entering an unrecognized TFM crashes ResolvePackageAssets task during design-time builds"
Create a project with the following:

[code]

Expected: Friendly error similar to command-line:

[code]

Actual:
[code]

What's worse is that you have lots of TFMs you have no idea which is the broken one as the error doesn't include it.

[2019-05-31 13:27] DustinCampbell opened #3287 "Getting package assets cache messages on build with the latest master bits"
@nguerrera, @dsplaisted: I started getting loads of messages during build in the winforms-designer repo after updating to the most recent SDK:

[code]

Are these messages possibly related to https://github.com/dotnet/sdk/pull/3268? It looks like this error comes from ResolvePackageAssets.cs and those are the most recent changes around the code that triggers this message. Setting `<DisablePackageAs

[2019-05-31 14:33] atanasa opened #3288 "dotnet publish does not warn on version conflicts with packages in the store manifest"
I have a project that depends on the `Newtonsoft.Json` package version **10.0.1**.
I have a store manifest file that includes `Newtonsoft.Json` package version **10.0.3**.
When I run `dotnet publish` the output contains the Newtonsoft.Json.dll.

### Steps to reproduce:
1. Create a store manifest file:
[code]
1. Create an executable project that specifies that manifest:
[code]
1. Run `dotnet publis

[2019-05-31 15:24] nguerrera commented on #3287
Yes, #3284 is in PR with a proper fix.

[2019-05-31 15:24] fubar-coder commented on #3249
This doesn't seem to work. The *.dll.config is added under "contentFiles", but I get compile errors in the project that uses this nuget package.

This is how I tried to add it:

[code]

[2019-05-31 15:34] DustinCampbell commented on #3287
Great!

[2019-05-31 18:06] #3287 closed

[2019-05-31 19:29] fr0 commented on #3244
I think that the default definition is confusing given the SemVer 2 spec. The `'-'` shouldn't be implied.
Consider this issue a request to change that.

[2019-05-31 19:37] #3213 closed

[2019-05-31 22:17] johnbeisner commented on #3267
Checking 3.0:
![image](https://user-images.githubusercontent.com/24683167/58737622-30a6c380-83b7-11e9-909a-a0df382be702.png)

[2019-05-31 22:21] johnbeisner commented on #3267
Checking 2.2:
![image](https://user-images.githubusercontent.com/24683167/58737777-bb87be00-83b7-11e9-92e3-f43affc4f041.png)

[2019-06-01 00:22] #3267 closed

[2019-06-01 15:31] RehanSaeed commented on #335
@dsyme's [solution](https://github.com/dotnet/sdk/issues/335#issuecomment-368669050) (slightly modified below) seems to work perfectly on Ubuntu and Mac using [Azure DevOps](https://github.com/RehanSaeed/Schema.NET).

[code]

However, this does not work with `net472` on a Mac. Ubuntu seems to work fine for some reason.

[2019-06-01 20:46] nguerrera commented on #335
The path forward here is https://github.com/dotnet/designs/pull/33#issuecomment-489264196

Please try those packages. We will not be investigating issues with workarounds like above.

[2019-06-01 20:53] AntonPlotnikov opened #3291 "DotNetAppHost's version info and icon"
Hello. I need to add a version info and custom icon for DotNetAppHost? We use potable mode (Framework-dependent deployment), and there are some branding and security requirements. Unfortunately, I can add version info only to application's main assembly file (dll), not to exe file (we use RID win7-x64) during building in Visual Studio 2019. Is it any way to do this during MSBuild process?
![2019-0

[2019-06-01 21:44] jkotas commented on #3291
This was fixed for .NET Core 3.0 by #1899. Is using / waiting for .NET Core 3.0 an option for you?

[2019-06-01 22:30] AntonPlotnikov commented on #3291
I suppose .NET Core 3.0 will be a good option. Thanks!

[2019-06-02 19:33] fernacolo opened #3292 "Custom TaskScheduler replaced by the default one for no apparent reason"
I'm trying to build a custom `TaskScheduler` that uses the priority of each task to make scheduling decisions. Basically, if there are two or more tasks ready to run, it should schedule the one that has more priority.

I can put priority information in a custom `SynchronizationContext` and communicate it to my custom `TaskScheduler`. The problem is that certain `await` patterns cause the scheduler

[2019-06-03 09:14] ViktorHofer opened #3295 "TargetExt conflicts with UseAppHost"
TargetExt is always set to .dll on .NETCore and .NETStandard even if the `OutputType` is ".exe": https://github.com/dotnet/sdk/blob/90e8a529be026d06fc8965d460927193aca5b005/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.BeforeCommon.targets#L74-L75

Starting with ".NETCoreApp, Version=3.0", `UseAppHost` defaults to true: https://github.com/dotnet/sdk/blob/372e67d51167792db2fdaeebf48

[2019-06-03 09:34] ViktorHofer commented on #3295
OK the reason why this only affects CoreFx is that we don't build an apphost, means the `_CreateAppHost` target never runs. This looks like a bug when `ResolveTargetingPacks` never ran (https://github.com/dotnet/sdk/blob/ff80c824a9e62ec721b467c9f6b0b407fbb14fa0/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.TargetingPackResolution.targets#L161-L162) but `_ComputeNETCoreBuildOutputFi

[2019-06-03 13:15] nguerrera commented on #3295
We should probably either act as UseAppHost=false or fall with an appropriate message if UseAppHost is true and no apphost pack is resolved.

I don't think we've thought about app host without framework reference.

It almost feels like what you want is to specify a framework reference to microsoft.netcore.app, but with no compilation assets excluded...

[2019-06-03 13:18] ViktorHofer commented on #3295
Agreed. For the time being I set that property but we might want to create apphosts at some point.

Agreed, throwing seems the right choice here.

Exactly. Specifying the framework reference + having the apphost so that sdk support is available without interfering with references.

[2019-06-03 15:04] sbomer commented on #3257
We now have folks hitting this when trying to trim+R2R their WPF apps, FYI:
[code]
@nguerrera

[2019-06-03 15:25] nguerrera commented on #3257
I'll take a look.

[2019-06-03 15:30] livarcocc commented on #3291
Closing as fixed.

[2019-06-03 15:30] #3291 closed

[2019-06-03 15:32] livarcocc commented on #3288
@nguerrera temporarily assigned to 3.0. Let me know if your planned changes to dotnet store would address this.

[2019-06-03 15:35] livarcocc commented on #3295
Is this something we want/should fix for 3.0 or ok to move to backlog?

[2019-06-03 15:37] ViktorHofer commented on #3295
Is it common to not use a targeting pack with netcoreapp3.0? We aren't blocked by this.

[2019-06-03 15:38] livarcocc commented on #3272
@kakiyama1018  can you please share your csproj or a small repro repository on github where we can try this ourselves. This is definitely a supported scenario that we validated in our automated tests. I am curious to understand what is going on here.

[2019-06-03 15:41] nguerrera commented on #3295
No, it is not common. I think we can get away with moving it to backlog if you are not blocked.

[2019-06-03 15:43] nguerrera commented on #3288
This is by design. There is no unification to higher versions in the store. My work is actually planning to add a warning for this case, thought. You have to lift your dependency up to match what is in the manifest or it will be published.

[2019-06-03 15:44] nguerrera commented on #3288
I am going to leave this open, to track the warning.

[2019-06-03 15:44] ViktorHofer commented on #3295
Still I would like to know if there's a way to support CoreFx going forward here.

[2019-06-03 15:51] nguerrera commented on #3295
If we were to make this scenario supported without tricks, I think we would add some metadata to a FrameworkReference a la ExcludeAssets="Compile" on PackageReference. This would allow the apphost to be resolved and still persist the runtime side of the framework reference to runtimeconfig.

That plus better diagnostics for any case where you managed to have no resolved app host but useapphost=tru

[2019-06-03 15:54] ericstj commented on #3295
Yeah.  Makes sense.

I think the SDK should have a test case for what it looks like to build a project without framework reference and compose references on our own.  That way when new features/fixes break this it's clearer and the SDK has the ability to look at it and create an intentional override/disable path.  Otherwise we'll end up growing an ugly set of workarounds that neither side is happy

[2019-06-04 01:09] davkean commented on #3299
Moved this to the SDK repro, this would build driven.

[2019-06-04 17:03] ardove opened #10305 "dotnet global tool exe product version should match product version of dll"
## Steps to reproduce
* Create a dotnet global tool
* In the assembly properties of the csproj specify the version to be 0.0.1
* Install the global tool on a windows host
* Inspect the executable generated by installation in C:\Users\<userName>\.dotnet\tools

## Expected  behavior
Product version should be 0.0.1 and file version should be 0.0.1.0

## Actual behavior
Product version and file versio

[2019-06-04 18:19] rogsfernandes opened #10306 "Support custom scripts"
My project has some micro-services written with DotNet Core C# and we have some scripts that we use very often and are very long to remind, so we put them in a README.MD file and copy every time, which isn't very productive.

Example:

[code]

And would be very nice if we could just have a JSON file in the project root folder and add some shortcuts. Just like npm-scripts (but without installing an

[2019-06-04 18:52] dsplaisted commented on #3265
We discussed this offline.  It turns out that referencing the themes from XAML works well today in .NET Core.  You can refer to them via the assembly name, and they are loaded at runtime because they are part of the Framework and are in the right deps.json file.  We may want guidance on how to refer to them in XAML, but we don't need any product changes for this use case.

For using the APIs at co

[2019-06-04 19:17] nguerrera commented on #3265
My preference is `Reference` items. It is more general, and it also unblocks other requests. We can have the capability to resolve  individual references inside framework targeting packs, and designate some assemblies as not being in any "profile" and forced to resolve this way. I would further allow a way to specify a FrameworkReference with default compilation references excluded and allow indiv

[2019-06-04 19:47] vatsan-madhavan commented on #3265
After the above-mentioned offline discussion with @dsplaisted & @rladuca, my preference has shifted to `Reference` as well - for the simple reason that it's more general.

This would be a very good benefit to have!

[2019-06-04 20:56] fadimounir commented on #3109
@nguerrera Can we mark this issue as blocking to R2R/ILLinker scenarios to bump the priority?

[2019-06-04 20:57] fadimounir commented on #3110
@nguerrera Can we mark this issue as blocking to R2R/ILLinker scenarios to bump the priority?

[2019-06-04 21:17] nguerrera commented on #3110
I will look at this tomorrow. Feel free to keep nagging me about it on Teams. ;) I added the label, but I'm not sure how much that is being monitored these days.

[2019-06-04 21:29] dsplaisted commented on #3044
A better workaround than adding a reference to Microsoft.NETCore.App is probably to reference Microsoft.NETCore.Targets:

[code]

[2019-06-05 08:02] pavlexander opened #3301 "Wrong assembly is being referenced in solution"
# Wrong assembly is being referenced in solution

When trying to reference 1.0.4. version of an assembly - 1.0.1 version of file is being used.. Despite the fact, that project settings are pointing to the correct DLL. As the result - the solution is still compiled with 1.0.1 version.

# General
## Specs

OS:

* OS Name	Microsoft Windows 10 Enterprise
* Version 10.0.16299 Build 16299

VS:

* Micros

[2019-06-05 08:47] LightVolk opened #10308 "Add solution folder argument to dotnet-sln show-folders (show solution folders)"
Feature request:

If possible, can this fucntionality be added: list of solution folders?
Use case:

1. List of solution folders (dotnet sln show folders)
2. Add new project under on of this solution folder.  (dotnet sln add project)

It must be related to PR: [https://github.com/dotnet/cli/pull/11000](url)

[2019-06-05 13:57] morganjc50 commented on #2682
Just chiming in that I am seeing the same issue running in ubuntu between dotnet 2.2.0 and dotnet 2.2.5.
`error : NETSDK1061: The project was restored using Microsoft.NETCore.App version 2.2.5, but with current settings, version 2.2.0 would be used instead. To resolve this issue, make sure the same settings are used for restore and for subsequent operations such as build or publish. Typically this

[2019-06-05 14:37] nguerrera commented on #3300
We should consider not give giving the fine its final name until we've successfully customized. That would be more robust than deleting on failure. I think we have to copy then customize in order to preserve file permissions or other metadata, but we could copy to different name, customize, rename to final name, right?

[2019-06-05 15:21] zmhh commented on #2253
If this is decided to be "by design" we should at least have a better warning message which indicates the resolution. It took me a pretty long time to find this issue. The current conflict warning I had just showed that for some reason the test project is dependent on version 1.0.0.0 of the conflicting dlls, which was confusing since the test project did not reference those dlls and no project in

[2019-06-05 15:56] sbomer opened #3302 "Mark assets from nuget packages as trimmable"
https://github.com/dotnet/sdk/pull/3231 flows `IsTrimmable` metadata from `FrameworkRefrence`s to the resolved assets. We could consider doing the same for `PackageReference`s to enable users to easily opt in to trimming assets that come from packages. Since the metadata was not originally intended as a customer-facing option, we may want to revisit this to see if it's the right way to expose such

[2019-06-05 16:35] rladuca commented on #3265
I also am now favoring `Reference` as well.  We just had a [report](https://github.com/dotnet/wpf/issues/871) that users would like to reference `System.Printing` as part of a class library and not necessarily include all of the other references.  We know that something like this would be the case for `WindowsBase `and likely `System.Xaml` as well.

I think @nguerrera 's idea makes sense in light

[2019-06-05 16:59] Thraka opened #10309 "the -d parameter doesn't provide me with diagnostic information"
Any time I use the -d parameter I get a message about telemetry is turned on, but I get no error/warning/trace output in the console. I can't figure out why my nuget template package will not install with `dotnet -d new -i c:\path\to\nupkg`

## Steps to reproduce

Run a command with `dotnet -d` and no extra information is displayed.

## Expected  behavior

I get more debug output to understand wha

[2019-06-05 20:36] Lakritzator commented on #3302
Yes, this would definitively be a feature I would like to see.
I believe I discussed this with Bri or Daniel last year...

[2019-06-05 23:07] #3261 closed

[2019-06-05 23:28] nguerrera commented on #3301
Try adding this to .csproj:

[code]

This removes CandidateAssemblyFiles that will find assemblies in the None and Content items, which for sdk projects will include all files under the csproj by default.

[2019-06-06 00:03] wli3 opened #10310 "A new option to allow dotnet tool install should return exit code 0 if tool is already installed"
Continue of https://github.com/dotnet/cli/issues/11259 to make the topic more specific. Even thought "dotnet update" with "--version" could solve the similar issue, but it is hard to discover.

[2019-06-06 03:38] kkwpsv opened #3307 "dotnet publish problems"
I have two projects. One is a ConsoleApp, the other is WebApplication. And the WebApplication has a `ProjectReference` to reference the ConsoleApp.

When I publish the WebApplication with `--runtime`, it has an error like below:

But when I remove the `<OutputType>Exe</OutputType>` line from the csproj of ConsoleApp, it succeeds.

I have done many tests:

- If I only publish the ConsoleApp with `-

[2019-06-06 11:25] vadi2 opened #3309 ""Application host will not be customised" - meaning?"
I've built an application[1] on .NET Core that runs on Windows, macOS, and Linux and I'd like to reduce the friction involved in getting it running - that is, having to install the runtime separately. I've read the [single-publish](https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md) and [tried out the command](https://travis-ci.com/vadi2/Hammer/builds/114541271#L323) - bu

[2019-06-06 13:19] seesharper opened #10312 "dotnet restore using RID causes "empty" project.assets.json file (netcoreapp3.0)"
First a little bit of background.
I am one of the collaborators over at the [dotnet-script](https://github.com/filipw/dotnet-script) repo.

We use `dotnet restore` as a way of getting a list of dependencies we need to execute a script.

So we basically generate a csproj file behind the scenes that looks like this.

[code]

Then we do a runtime specific restore

[code]

This generates the `project.

[2019-06-06 15:15] snahmad commented on #3059
I have same issue.
building xunit C# project/solution using msbuild visual studio 2019

C:\Program Files\dotnet\sdk\2.1.700\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(198,5): error NETSDK1064: Package xunit.analyzers, version 0.10.0 was not found. It might have been deleted since NuGet restore. Otherwise, NuGet restore might have only partially completed, which mi

[2019-06-06 17:02] Sword-Smith commented on #2442
I changed any referenced library from .NET Standard to .NET Core and that seemed to fix the issue.

[2019-06-06 19:50] dsplaisted commented on #3265
One thing to take into account is reference assemblies that exist in multiple targeting packs.  WindowsBase is in both Microsoft.NETCore.App as well as Microsoft.WindowsDesktop.App, but this may be the only one.

Also, for the `System.Printing` scenario, we should think about how the FrameworkReference would flow through project and NuGet package references.  If a project only wants to reference S

[2019-06-07 01:05] nguerrera commented on #3257
@swaroop-sridhar You are seeing more than Microsoft.Win32.Registry, can you provide more info on that here too.

[2019-06-07 01:09] nguerrera commented on #3257
I think the difference between Microsoft.Win32.Registry and WindowsBase is that the latter have different versions between the runtime packs, engineered to make WindowsBase from WindowsDesktop pack win. Whereas registry is the same, but excluded from compile in base targeting pack, IIRC. cc @ericstj

If that's right, (haven't proven yet), then we need to pick a deterministic strategy like first ru

[2019-06-07 01:14] nguerrera commented on #3257
Yeah, they have the same version.

Thinking about this, I think these shouldn't be in the runtime pack for windows desktop. It could be a flaw in how that is produced.