[2019-06-07 01:18] swaroop-sridhar commented on #3257
Yes, I tried publishing a template Winforms app  `dotnet publish -c release -r win10-x64`
We see several files (including satellite assemblies) coming from multiple targets.

[code]

The files that are duplicated are:

[code]

[2019-06-07 01:19] swaroop-sridhar commented on #3257
This issue did not exist in Preview 5, it is a new regression.

[2019-06-07 01:19] nguerrera commented on #3257
Ok, looks like two issues here, but I'll fix them together. The resource assembly is being put twice in the resolved files with the same source, whereas the others are duplicated between runtime packs

[2019-06-07 01:43] peterhuene commented on #3257
I have a test case that catches duplicates for publish, but it's for a console app and not WPF (we should probably change it to a theory that tests the supported framework references).

Regarding the satellite assemblies for WPF, I recently implemented copying those locally, so not a regression, but a bug in the implementation I didn't catch.

[2019-06-07 10:26] vitek-karas opened #3312 "What should be default RollForward for component projects"
We haven’t made an official decision on the default value for `RollForward` in our new component scenarios.

TLDR;
Should we use `LatestMinor` or `LatestMajor` for component projects by default.

The long version:
Currently `RollForward` is set to `Minor` (roll to closest available version while staying with the same `major.` part of the version, then roll to latest patch of that version) for all

[2019-06-07 10:27] vitek-karas commented on #3312
For me `LatestMajor` feels a bit risky as a default, but it also means things will mostly just work. I guess in this case `LatestMajor` is probably the better choice:
* We will be very careful about introducing breaking changes in `5.0` and probably even more so going forward.
* For most people things will just work out of the box
* For the few where things break, they can easily change the settin

[2019-06-07 10:29] vitek-karas commented on #3312
@richlander  @elinor-fung @AaronRobinsonMSFT @sdmaclea @jeffschwMSFT @nguerrera @jkoritzinsky @swaroop-sridhar

[2019-06-07 11:56] nguerrera commented on #3312
I make this point all the time, and I get pushback that I'll try to represent. The thinking is that the app owner should be responsible for testing and retargeting their app. They may discover that a classlib they use does not work for them, and the follow up with classlib owner about it, use another classlib, work around the part of classlib that broke, etc.

Apart from that there is no differenc

[2019-06-07 12:58] vitek-karas commented on #3312
I'll let @jkotas comment on the runtime SxS story, I'm not aware of any plans in that direction...

I guess the component is a bit of both - like an app in that sense that it sometimes starts the runtime and like a classlib in that it sometimes gets loaded into already existing runtime.

So if we think components are more like apps, then `LatestMinor` would be the better default (would match app's

[2019-06-07 13:07] ericstj commented on #3257
So today the fact that Registry isn’t available for reference from NETCore.App is intentional.  You could solve this with conflict resolution if you make it behave the same as the host.  This means providing correct package ranks for the layered shared frameworks.

It makes me nervous to have this excluded from ref for NETCore.App and excluded for runtime in Window.Desktop, but I guess that’s not

[2019-06-07 14:27] nguerrera commented on #3257
I'll look into matching the host policy.

[2019-06-07 14:40] nguerrera commented on #3257
https://github.com/dotnet/corefx/issues/34906#issuecomment-458459882

I think understanding the framework layers is going to be painful. Can we say that equal versions means the choice is arbitrary. We'd then just pick something deterministic? @vitek-karas

[2019-06-07 15:50] sdmaclea commented on #3312
From https://semver.org/#semantic-versioning-200
[code]

If we expect `incompatible API changes` in `Major` changes then the default should be `LatestMinor`.

In general we don't make `incompatible API changes`, even for `Major` releases, but library authors may...

[2019-06-07 16:28] dagood commented on #3257
I probably don't know the full range of things to be nervous about with this--the concrete thing I can think of is the files disappearing from NETCoreApp's runtime, breaking WindowsDesktop runtime. I'm pretty sure `VerifyClosure` wouldn't catch that since it only looks at NETCoreApp's `Reference`s, but maybe it could be enhanced? Then we could make some change (not necessarily in `VerifyClosure`)

[2019-06-07 16:37] jkotas commented on #3312
Clr 2.0 and 4.0 could do this in theory. We spent incredible amount of resources to build the SxS for 2.0/4.0, but it still comes with number of limitations that are hard to fix and very few apps use it in practice. We have seen folks give it a try and then deciding that it is just not worth the trouble.

We should reconsider repeating the exercise for .NET Core only if there is !!!!!

I agree. We

[2019-06-07 16:41] vitek-karas commented on #3257
Without running experiments (just looking at the code) the host will:
* If the two assemblies are of different assembly or file versions, then we take the higher version (assembly version wins over file version)
* If the two assemblies are of the same version, then the lower-level framework will win (honestly kind of weird, but my guess would be it's a side effect of the implementation, although i

[2019-06-07 16:44] vitek-karas commented on #3312
@jkotas In that case even `LatestMinor` is risky as installing new minor release could still break things. That said I agree we're much more careful about changes in minor releases.

[2019-06-07 17:14] ericstj commented on #3257
It was intentional.  @steveharter and I agreed upon this behavior when this feature was added to the host.

No, we intentionally give WPF's dll a higher file version.  In time it will have a higher assembly version as well: we were careful early in 3.0 not to change assembly versions so that some design time components could limp along using desktop as a proxy.  Soon that will no longer be the cas

[2019-06-07 17:18] AaronRobinsonMSFT commented on #3312
Breaking changes across major version is a thing and one of the basic reasons for having a major versioning scheme. If there were never any breaking changes, then versioning as a concept would simply be a marketing exercise.

Agreed.

[2019-06-07 17:26] ericstj commented on #3257
Update: here's the discussion I was remembering.  https://github.com/dotnet/core-setup/issues/4047

[2019-06-07 20:38] peterhuene commented on #2956
@dsplaisted @livarcocc  I originally left a question to this issue which I later deleted because perhaps I wasn't seeing things correctly.

However, I now would like to ask that question again.  How is this supposed to work if we never build for the RID we're publishing for?

Currently `RuntimeIdentifiers` controls which RIDs we're restoring for, but not which we're targeting the build, which can

[2019-06-07 23:42] nguerrera commented on #3257
I have a fix locally for the satellite duplicates. It comes down to an msbuild batching behavior that I don't actually understand yet. 😊  I will add some test coverage and also file a discussion issue on the msbuild repo so I can solidify my understanding and help future me and others with similar issues.

[2019-06-07 23:42] nguerrera commented on #3257
The satellite issue is entirely separate from the conflict resolution we're talking about.

[2019-06-08 00:05] nguerrera opened #3313 "DesignTimeBuild is included in ResolvePackageAssets HashSettings"
This will cause the cache to be rebuilt always when building after a design time build, or design time building after a build.

The test was updated to allow DesignTimeBuild to not be in the cache:

https://github.com/dotnet/sdk/blob/de72490d26acee011e22f40113209323976980e0/src/Tasks/Microsoft.NET.Build.Tasks.UnitTests/GivenAResolvePackageAssetsTask.cs#L21

But it is actually written:

https://git

[2019-06-08 09:32] martincostello opened #3314 "Regression in build times for Travis CI using 2.2.300 SDK"
I've noticed across several different projects I maintain that since the SDK was updated from 2.2.1xx or 2.2.2xx to 2.2.300, the time to build the projects in Travis CI has regressed by up to an order of magnitude on both Linux and macOS.

However I'm not seeing the same regression in Azure DevOps pipelines for Linux, macOS or Windows, or AppVeyor for Windows.

Below are a selection of projects th

[2019-06-08 09:35] martincostello commented on #3314
Maybe requires integration of https://github.com/microsoft/vstest/pull/2024?

[2019-06-08 09:42] martincostello commented on #3314
Related fix: https://github.com/dotnet/cli/pull/11497

[2019-06-09 03:00] DualBrain opened #3379 "VB.NET 'End' not available and odd error message."
Start with a .NET Core 3.0 Console app and simply modify Sub Main.

Module Program
  Sub Main(args As String())
     End '<--- I added this.
  End Sub
End Module

By all appearance, Visual Studio thinks things are just fine (no squiggles).  When I build, the build fails with the following error:

"BC37234: Unstructured exception handling is not supported in current project type."

Huh?  How is 'En

[2019-06-10 07:33] ViktorHofer commented on #3295
Yes makes sense. I understand that this is not critical for customers but for partners like aspnetcore and us it is. How much work do you think this would be?

[2019-06-10 17:33] peterhuene commented on #2956
Link to the other issue I mentioned https://github.com/dotnet/cli/issues/10087

[2019-06-10 19:36] jjxtra opened #10316 "Cannot publish self contained of an exe that references another exe project"
## Steps to reproduce
Create two csproj, both exe console application
Have one csproj reference the other
Attempt to: dotnet publish -r linux-64 --self-contained -o ./publish
You will get a runtime identifier error, even though -r is passed
Now set a <RuntimeIdentifier> to the referenced exe project in the csproj to 'win-x86'.
Now run the dotnet publish command from above again. It works.

Seems l

[2019-06-10 19:50] crummel opened #3317 "Source-build patch removal for SDK."
Source-build has some patches that we are currently applying to your repo.  This issue tracks removing the patches.  These patches can be found at https://github.com/dotnet/source-build/tree/release/3.0/patches/sdk.

Patches that have the responsibility "Repo" and the Disposition "Incorporate" are patches that we believe are valid source-build fixes that should be moved into your repo.  Please let

[2019-06-10 19:50] onovotny commented on #3044
Is there an ETA on a "transparent" / silent / built-in fix for this? Still happens with preview 6.

[2019-06-10 20:34] nguerrera commented on #3257
https://github.com/microsoft/msbuild/issues/4429

[2019-06-10 20:35] peterhuene commented on #2505
This should now be fixed with the upcoming preview of the .NET Core 3.0 SDK.

Fixed in #3183.

[2019-06-10 20:35] #2505 closed

[2019-06-10 20:53] livarcocc commented on #3314
Just to confirm further this is potentially a regression on vstest, would it be possible for you to gather these numbers if you turned off tests on your CI, just to collect data?

cc @singhsarab

[2019-06-10 20:55] livarcocc commented on #3309
It won't set the icon on the generated exe and it won't set the activation host on the exe either. That is, if the exe should be launched as a console app or a gui app.

@peterhuene anything else that I might have missed?

[2019-06-10 21:06] peterhuene commented on #3309
Currently this warning is produced when not building on Windows, but targeting Windows.

Perhaps we should limit the warning for `WinExe` projects since that's where there will be non-default resources?  Although, for console apphosts, it wouldn't customize the version information.

[2019-06-10 21:11] peterhuene commented on #3309
@vadi2 to answer your question:

The application host is the native executable (.exe for Windows, no extension for Linux and macOS) that is responsible for resolving and loading the .NET Core runtime and then running your application dll.

For Windows, the apphost can be customized to include the same Windows resources that your application dll contains: version information, icons, manifests, etc.

[2019-06-11 02:47] friedrich-brunzema opened #10321 "dotnet publish -f netcoreapp2.2 mysolution.sln should publish netcoreapp2.2 targets in solution but not generate errors for .netstandard2.2 projects in solution"
## Steps to reproduce
1. Create 3 projects
   - dotnet new classlib
   - dotnet new nunit
   - dotnet new console
2. Link all 3 projects into a .sln file (t.sln)
3. Both nunit and console project reference classlib as project reference
4. run: dotnet publish -f netcoreapp2.2 t.sln

## Expected  behavior
No errors, Netcore projects (nunit, console) publish to the publish folder for both projects.

[2019-06-11 03:32] vadi2 commented on #3309
Makes sense. Thank you!

[2019-06-11 03:32] #3309 closed

[2019-06-11 08:25] singhsarab commented on #3314
@martincostello
Progress indicator would not come into play if Console.IsOutputRedirected is set, which I am guessing should be true.

I looked at logs of one of the PRs, https://travis-ci.org/justeat/JustEat.StatsD/jobs/541122616, the total time reported for test run is 10 seconds, let's add some start and cleanup time, even then it should not call for printing the progress bar more than 20 times

[2019-06-11 08:28] martincostello commented on #3314
@singhsarab Can you let me know exactly what logging parameters you need setting through `dotnet test` (info, verbose, debug?), and I'll do a PR to add them to the slowest run and see what happens.

[2019-06-11 10:26] singhsarab commented on #3314
@martincostello You can use --diag:log.txt argument
https://github.com/microsoft/vstest-docs/blob/master/docs/diagnose.md#dotnet-test

[2019-06-11 11:04] martincostello commented on #3314
There's a [test running now](https://travis-ci.org/martincostello/project-euler/jobs/544164410), it hasn't gotten as far as printing out anything yet, but it seems like whatever is slow is running after the last test finishes before the process exits.

[2019-06-11 12:58] martincostello commented on #3314
There appears to be a 17 minute gap between [these two log messages](https://travis-ci.org/martincostello/project-euler/jobs/544203317#L1080-L1081):

[code]

[2019-06-11 18:36] nguerrera opened #3319 "Issues with conflict resolution logging"
1. At normal verbosity, there are unactionable messages about things that happen in very common cases. For example, every core WPF project has a conflict between WindowsBase in netcore app. Importance should be lowered so that you can still see in binlog/diag, but not otherwise. We regularly get questions about what to do about a conflict, when there is nothing to do.

2. It is quite noisy to have

[2019-06-11 18:58] peterhuene commented on #3319
Thanks for filing this.  The verbosity from this task always bugged me a little.

[2019-06-12 03:09] #3257 closed

[2019-06-12 13:41] DoCode commented on #3266
@dasMulli  thanks for the hint!
And what should or can we do in this situation?

[2019-06-12 15:14] dsplaisted opened #3325 "Supply RuntimeIdentifier graph to NuGet"
Once this NuGet feature is implemented: https://github.com/NuGet/Client.Engineering/pull/96

We will need to set the appropriate property to supply the SDKs graph to NuGet, as well as remove the infrastructure that implicitly references Microsoft.NETCore.App.

[2019-06-12 22:02] thepirat000 commented on #2602
Like this:

[code]

[2019-06-12 23:52] #1117 closed

[2019-06-12 23:58] livarcocc commented on #3314
@singhsarab is @martincostello's lastest reply and logs enough for you to make headway on this?

[2019-06-13 00:01] nguerrera commented on #938
Fixed a very long time ago. :)

[2019-06-13 00:01] #938 closed

[2019-06-13 00:22] heejaechang opened #3328 "use different assembly version for different build task"
a lot of times, I get something like this whenever I do branch switch and restore and open solution in VS

![image](https://user-images.githubusercontent.com/1333179/59394912-5d06fc00-8d36-11e9-81c1-d2f0ad724168.png)

and I believe that is happening because different dll that has same assembly version is already loaded in the msbuild which got reused.

can we make different build task dll to use d

[2019-06-13 00:43] singhsarab commented on #3314
@martincostello Thanks for the logs. I am not able to come up with a hypothesis right away. There seems to be some issue while clean up.

Is this issue happening only on travis CI ? I am trying to see if I can get a local repro to debug this one.

[2019-06-13 00:45] singhsarab commented on #3314
Let's transfer this to microsoft/vstest, will help us track this better

[2019-06-13 05:10] nguerrera commented on #3328
Yes. This regressed with infrastructure change. This is a dupe. I will fix this.

[2019-06-13 05:12] nguerrera commented on #3328
Duplicate of #2953

[2019-06-13 05:12] #3328 closed

[2019-06-13 05:12] nguerrera commented on #2953
I'll fix this now.

[2019-06-13 05:37] martincostello commented on #3314
@singhsarab Yes, only Travis CI. Locally, AppVeyor and Azure DevOps Pipelines are all fine.

[2019-06-13 09:58] victor-yarema commented on #2902
I am getting this error if I simply call `dotnet build Main.sln` without specifying the target framework.
So I can't believe in this "core problem" explanation.

[2019-06-13 10:22] victor-yarema commented on #2902
Currently I am thinking about workaround to simply change build script part from something like
[code]
To something like
[code]
There can be more tries if needed.
I already did that trick with MSBuild in year 2013 or 2014 when we were unable to get reliable build of website project in ASP.NET. We had 4 tries back then because 2 tries were not enough.

[2019-06-13 14:32] rainersigwald commented on #2902
@victor-yarema Can you please file a new issue for that? Please tag me. Because you're not specifying global properties at the solution level, you're seeing a different problem.

If you can attach a [binary log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b) of your build (a successful build log is fine), hopefully we can figure out what's going on. Please read the warnings a

[2019-06-13 16:03] amh1979 opened #3329 "NETSDK1073: The FrameworkReference 'NETStandard.Library' was not recognized"
SDK: 3.0.0-preview6-27804-01
Microsoft.NET.Sdk.TargetingPackResolution.targets(185,5): error NETSDK1073: The FrameworkReference 'NETStandard.Library' was not recognized

[2019-06-13 17:23] livarcocc commented on #3329
Can you please tell us more about your repro? How are your projects setup? Could you create a small set of projects and push them to a repo on github that we can checkout and use to reproduce this issue?

I don't believe the information you provided here is enough for us to help you out or investigate this further.

[2019-06-13 17:58] martincostello commented on #3314
@singhsarab This issue does not seem to affect .NET Core 3.0 preview 6: https://travis-ci.org/martincostello/project-euler/builds/545376053

[2019-06-13 21:18] tomrus88 commented on #3329
Same bug was fixed recently. Are you building from VS or command line? Have you updated your VS if you are using it?

[2019-06-14 00:19] #3313 closed

[2019-06-14 00:58] amh1979 commented on #3329
Two projects:
 the first "<TargetFramework>netstandard2.1</TargetFramework>"
the second <TargetFramework>netcoreapp3.0</TargetFramework>
when build the second project, then show error NETSDK1073

[2019-06-14 05:31] livarcocc commented on #3329
Like @tomrus88 said, where are you building this from? This bug was recently fixed for preview6 on the command line. And it was recently fixed in VS 16.2 as well?

I see you mentioning

Which is not really a SDK version number. Can you run dotnet --version from the command line and let us know what is that version? Also, what version of VS you are using?

[2019-06-15 03:35] amh1979 commented on #3329
VS 16.1.3

.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-012264
 Commit:    be3f0c1a03

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview6-012264\

Host (useful for support):
  Version: 3.0.0-preview6-27804-01
  Commit:  fdf81c6faf

.NET Core SDKs ins

[2019-06-15 03:37] amh1979 commented on #3329
Fixed use &gt;GenerateErrorForMissingTargetingPacks&lt;false&gt;/GenerateErrorForMissingTargetingPacks&lt;

[2019-06-15 03:39] #3329 closed

[2019-06-15 07:49] stefan-stanca commented on #1856
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\Microsoft.NET.Build.Extensions.ConflictResolution.targets(33,5): message NETSDK1041: Encountered conflict between 'Reference:System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL' and 'Platform:System.Net.Http.dll'.  NETSDK1033:

[2019-06-15 09:03] mallikarjunpatala opened #10332 "Cannot find project info.... This can indicate a missing project reference , C:\Program Files\dotnet\sdk\2.1.505\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.targets"
## Steps to reproduce
One PCL class is referencing another PCL classs

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2019-06-15 15:19] MeikTranel opened #3334 "Hide or Move generated *.designer.cs to obj directory"
When using .RESX files for localization the sdk currently compiles this file at design time / build time to be able to reference it as static properties from any csharp code (or xaml for that matter).

The generated file probably should not be put under version control, so my preferred way would be moving the output file of the generator into the obj directory, where it would fall under common git

[2019-06-17 10:24] morrisond91 commented on #1630
I love this, it happens to me all of the time, and when you get a solution you appreciate hanging in there :)

[2019-06-17 12:35] ViktorHofer opened #3335 "What is the expected path for ResolvePackageFileConflicts to work with repositories that build their own platforms"
CoreFx doesn't use the Microsoft.NETCore.App.Ref targeting pack as we build the refs ourselves. Without that targeting pack the `ResolvePackageFileConflicts` task seems to not be able to handle conflicts between package runtime assemblies and the live built ones.

Comparing an example project with a test project in CoreFx I can see the following differences:
- PlatformManifests: not set, points to

[2019-06-17 14:43] ViktorHofer commented on #3335
cc @natemcmaster in case you are hitting this too in aspnetcore

[2019-06-17 17:33] nguerrera commented on #380
This is obsolete. We no longer need to put things in msbuildallprojects, and in fact, we shouldn’t.

[2019-06-17 17:33] #380 closed

[2019-06-17 18:22] dsplaisted commented on #3335
What exactly are you expecting to happen that is not happening?    In the scenario described, if there was a conflict I would expect the conflict resolution to fall back to the highest assembly or file version.  In the .binlog, it looks like that's what's happening.

[2019-06-17 18:28] ViktorHofer commented on #3335
The reference assemblies are resolved correctly, the higher version is taken. I was talking about the copy local items here, the runtime assemblies that are coming in from referencing packages that ie target netstandard <= 2.0.

[2019-06-17 18:29] ViktorHofer commented on #3335
I was talking with @ericstj about this offline and he suggested to Include our runtime directory which contain our live build assemblies in `_RuntimeAssetsForConflictResolution` so that they are passed into the `OtherRuntimeItems` parameter.

[2019-06-17 19:39] martincostello commented on #3314
One thing I've noticed that's different in Travis CI compared to Azure Dev Ops is that `Test run in progress..` gets printed to the console a lot in Travis, but not in Azure.

Could _something_ different be making vstest think it should be printing progress to an interactive console, rather than say not because `$(CI)` is true in the environment?

[2019-06-17 20:15] fadimounir opened #3336 "Unable to use ReadyToRun on Debian 8 due to incorrect runtime bits resolution by SDK"
Original bug: https://github.com/dotnet/coreclr/issues/24565

Repro app is here: https://github.com/wieslawsoltes/Draw2D. To repro:
1) clone
2) Edit Draw2D.csproj and add netcoreapp3.0 to the list of target frameworks
3) run this command:
[code]

Running the application throws a `Failed to initialize CoreCLR,, HRESULT: 0x80131500` error.

Looking at the msbuild verbose logs, you can see that the S

[2019-06-17 20:16] fadimounir commented on #3336
cc @wieslawsoltes @nguerrera

[2019-06-17 20:29] nguerrera commented on #3336
@dsplaisted Related to issues with 1.x packages in graph?

[2019-06-17 21:42] fadimounir opened #3337 "App host not published correctly after a previous PublishSingleFile"
To repro:
1) dotnet new console
2) dotnet publish -r win-x64 /p:PublishSingleFile
3) dotnet publish -r win-x64

After step 2, there will be a single app.exe (+pdb) file in the publish folder. Approx size is ~70 MB.
Step 3 correctly copies all dlls and other files to the publish folder, but fails to overwrite app.exe with the non-bundled version of the file (should be around ~150 KB). The large sin

[2019-06-17 21:42] fadimounir commented on #3337
cc @swaroop-sridhar @nguerrera

[2019-06-17 21:43] ericstj commented on #3335
@dsplaisted essentially we are creating our own shared framework but none of the runtime items are ever visible to conflict resolution and we need to decide what the best way is to let conflict resolution know about those runtime items.

I discussed a few options: 1) generate a platform manifest 2) plumb them through as items either a) some existing item that's already included in `_RuntimeAssetsF

[2019-06-17 23:33] dsplaisted commented on #3336
Can you [provide a binary log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b) of the build exhibiting the incorrect behavior?

[2019-06-18 00:06] kakiyama1018 commented on #3272
I'm sorry for the delay.  I was on vacation.
I've created a repository and uploaded the files that may help reproduce the issue on your end..
The repository is at:

https://github.com/kakiyama1018/testcase

It contains:
1) dotnetinfo.txt - output from executing "dotnet.exe --info"
2) test2.csproj - project file that references the System.Data nuget package
3) projfect.cs - the simple C# app code.

[2019-06-18 15:55] lzganec opened #3338 "SatelliteResourceLanguages property doesn't filter all resources when publishing test projects"
Having a dependency to Microsoft.CodeCoverage (which comes from Microsoft.NET.Test.Sdk) leaves Microsoft.VisualStudio.TraceDataCollector.resources.dll localized resource satellite assembly in the publish output using .NET Core version 2.2.

[2019-06-18 16:12] vitek-karas opened #3339 "Add ability to differentiate framework assemblies in self-contained apps"
In .NET Core 3.0 we're introducing `AssemblyDependencyResolver` which is a managed API to basically parse and process a `.deps.json` for a component (think plugin). The API uses existing algorithms in `hostpolicy` which are executed during application startup to process the `.deps.json` for the app.

Apps are allowed to contain assemblies which are also part of a framework which the app relies on.

[2019-06-18 17:19] livarcocc commented on #3337
@peterhuene

[2019-06-18 17:20] livarcocc commented on #3338
@nguerrera can you take a look?

[2019-06-18 17:22] nguerrera commented on #3337
Yes, I would separate anything that involves *extra* files from a previous publish from anything that causes an incorrect file from a previous publish to be retained.

[2019-06-18 17:34] nguerrera commented on #3338
Thanks for the report. I can repro this and it's due to a custom target in test sdk that copies these. They aren't normal nuget assets,

I moved this to https://github.com/microsoft/vstest/issues/2057 where the root cause is.

[2019-06-18 17:34] #3338 closed

[2019-06-18 17:45] peterhuene commented on #3337
The cause is likely having the apphost `<CopyToPublishDirectory>PreserveNewest</CopyToPublishDirectory>` and the timestamp of the single-file exe is newer than the intermediate apphost from the previous publish.

This was written under the assumption that the executable in the publish output would always be the apphost.  As that's no longer the case, the fix would be to always copy the apphost.

[2019-06-18 18:02] #2468 closed

[2019-06-18 18:02] #3319 closed

[2019-06-18 18:29] rainersigwald commented on #3337
It's not exposed through metadata on the standard items, but the `Copy` task does support the desired operation via `SkipUnchangedFiles="true"`. As an implementation detail, that compares modification time and file size, so you can skip most incremental-build copies but still catch this case.

[2019-06-18 18:33] peterhuene commented on #3337
The apphost gets added as a `None`, so the `Copy` is in the common targets :/

[2019-06-18 18:37] peterhuene commented on #3337
Erm wait, I was thinking for the build output directory, not publish.  I think your solution is best.

[2019-06-18 22:48] #3110 closed

[2019-06-19 00:11] #2254 closed

[2019-06-19 04:40] #2953 closed

[2019-06-19 08:37] chucker opened #3615 "Type inference may cause BC30455 when inferred-type variable name matches module method name"
**Version Used**:

[code]

**Steps to Reproduce**:

1. Create a WPF app project.
2. Open `MainWindow.xaml.vb`, and replace its contents with the following:

[code]

**Expected Behavior**:
This code should compile as is. `format` should be of type `System.String`.

**Actual Behavior**:
The compiler believes `format` to be an invocation of the method `Microsoft.VisualBasic.Strings.Format()`.

It giv

[2019-06-19 12:44] clairernovotny opened #3341 "Incorrect warning about WindowsDesktop SDK"
I have a project that has some libraries/exe that use WPF and some that don't. The ones that do use the WindowsDesktop SDK. The ones that don't use the default SDK to prevent accidental WPF references.

I have a directory.build.props file that sets `UseWPF` to `true` so that I don't need them in all places.

In Preview 7, I now get this warning:

[code]

That's coming from `Microsoft.NET.Sdk.Defau

[2019-06-19 13:12] ViktorHofer commented on #3335
@dsplaisted I would like to make the changes that @ericstj mentioned above, today. Could you please let us know which item we should use for populating our framework assemblies?

[2019-06-19 21:46] vatsan-madhavan commented on #3341
/cc @nguerrera, @dsplaisted

[2019-06-19 21:51] vatsan-madhavan commented on #3341
We have seen two kinds of problem reports:

  i. Failing to change `Microsoft.NET.Sdk` to `Microsoft.NET.Sdk.WindowsDesktop`, setting `UseWpf` (or `UseWindowsForms`) to `true`, and attempting to build/port a WPF app (which, unsurprisingly, fails to build as expected)

  ii. Using `Microsoft.NET.Sdk.WindowsDesktop`, but failing to set `UseWpf` or `UseWindowsForms` to `true`. Again, fails to build a

[2019-06-19 22:05] onovotny commented on #3341
@vatsan-madhavan the warning as it's defined does not appear to be suppressible https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.targets#L337-L342

[2019-06-19 22:07] vatsan-madhavan commented on #3341
[code]

That should do it, I think.

[2019-06-19 22:08] onovotny commented on #3341
I'll give that a try. Any chance the check can determine if it's coming from a props/targets file and skip? Like if people are using props/targets, then they're an advanced user.

[2019-06-19 22:12] dsplaisted commented on #3341
No, there's not a way in MSBuild for a target to check where a property was set.

[2019-06-19 22:12] vatsan-madhavan commented on #3341
I'm open to ideas. @nugerra/@dplaisted, thoughts on how we may be able to improve this to have less friction?

We had a [similar discussion](https://github.com/dotnet/wpf/issues/327) about problems around multi-targeting when using WindowsDesktop SDK, where the discussion centered around the best implementation approach that would help those who need these sorts of warnings, vs. not creating frict

[2019-06-20 02:29] JunTaoLuo commented on #1211
Any progress on this issue?

[2019-06-20 02:39] nguerrera commented on #1211
Yes, I have a pr up that should get merged tomorrow. It should fix the race conditions and allow tfm of 3.0 with store. But it's not the redesign I envisioned above nor does it change anything about storing multiple versions. I still hope to get that in, but it's quite big and I don't have an ETA. I believe nothing is blocked on it after the current pr goes in.

[2019-06-20 02:40] nguerrera commented on #1211
#3345

[2019-06-20 02:52] JunTaoLuo commented on #1211
I was curious because it might help with https://github.com/aspnet/AspNetCore/issues/11186 which we will need for preview7. I'm not yet sure if this issue will block that but my hunch is that it shouldn't.

[2019-06-20 03:33] nguerrera commented on #3341
I'm putting this in discussion milestone because this was a deliberate change. I think it's reasonable to put a suppression as shown above for the advanced cases.

[2019-06-20 07:39] rolfik commented on #1408
Is the official support planned and when should we expect it?

[2019-06-20 16:40] ferdaarikan commented on #826
Any updates on this. Currently we have a solution that tests multi target netcoreapp2.0 and net47 and the main library targets netstandard2.0. This compiles and runs tests fine on windows. When on linux, compiling solution always fails regardless of the framework used.

[2019-06-20 23:11] nguerrera commented on #2914
Fixed by #3345

[2019-06-20 23:11] #2914 closed

[2019-06-22 05:11] dasMulli commented on #3266
@DoCode sorry for the delay. don't pass the TargetFramework to the restore. When using `dotnet publish` et al. which do an implicit restore, they apply logic to filter out a TFM argument to avoid this..
https://github.com/dotnet/cli/blob/9e8a03aec2dea6d99cb499eea04fd1252e6ab242/src/dotnet/commands/RestoringCommand.cs#L72-L73

[2019-06-23 10:01] ViktorHofer commented on #3335
I just tried approach 2b but it seems RID specific assets aren't handled correctly by the conflict resolution:

![image](https://user-images.githubusercontent.com/7412651/59974408-35245d80-95ac-11e9-9a7f-5eb64ed56597.png)

With option 2 our items will have a `ConflictItemType` of "Runtime" but the correct `ConflictItemType` for our live built assemblies should be "Platform": https://github.com/dot

[2019-06-23 10:06] ViktorHofer commented on #3335
@ericstj I just noticed the `TargetFrameworkDirectories` parameter here. Do you think it makes sense to set that manually in corefx? The platform manifest items are appended to the items that come from the `TargetFrameworkDirectories`: https://github.com/dotnet/sdk/blob/4094dca1091f32f16b5756ef14e6e1f99d67bee3/src/Tasks/Common/ConflictResolution/ResolvePackageFileConflicts.cs#L120-L125

[2019-06-23 11:42] ViktorHofer commented on #3335
OK I'm now generating the manifest file in corefx successfully: https://github.com/dotnet/arcade/pull/3139/commits/4400017682b1e1b2d1b4cefd26ecdbf2a7ce0ef8

In future we ideally want to have a common library that is used by core-setup and repositories which compose their own shared framework(s) to avoid the duplication.

[2019-06-24 22:41] dsplaisted commented on #3265
I've written up a more detailed proposal for how to support this: https://github.com/dotnet/designs/pull/81

[2019-06-24 22:54] wli3 opened #3351 "flaky test "It_stores_when_targeting_netcoreapp3""
The test is checked 5 month ago. But it started to become flaky recently

![image](https://user-images.githubusercontent.com/6993335/60057121-3d59c700-9698-11e9-936e-9496acccd461.png)

[2019-06-25 00:08] cbiesinger opened #3352 "Allow building without internet connection when only using builtin modules"
I am in a situation where I would like to build some C# source code on a build machine that can install .deb packages but does not otherwise allow internet connections. I am only using builtin modules.

However, it seems that the dotnet SDK insists on downloading at least the linux-x64 runtime *even* when not compiling a standalone app.

Would it be possible to change the SDK to make it possible t

[2019-06-25 03:03] wli3 commented on #3223
https://github.com/dotnet/sdk/pull/3349

[2019-06-25 03:03] #3223 closed

[2019-06-25 08:47] StefanOssendorf commented on #1553
Any news to this?
I'm trying to figure out which of these properties (or all?) I need to set to get the right bits compiled.

[2019-06-25 15:36] livarcocc commented on #3352
What version of the .NET Core SDK are you using? We have since enabled this scenario, though it would be interesting to see your csproj. It might be possible you have something there that would trigger the need to go online.

[2019-06-25 15:45] cbiesinger commented on #3352
Package: dotnet-sdk-2.2
Version: 2.2.104-1
(from the apt-get repository)

My csproj is here:
https://github.com/MicrosoftEdge/JsDbg/blob/jsdbg_gdb_support/server/JsDbg.Core/JsDbg.Core.csproj
https://github.com/MicrosoftEdge/JsDbg/blob/jsdbg_gdb_support/server/JsDbg.Gdb/JsDbg.Gdb.csproj

I have also tried removing all the PackageReferences from the JsDbg.Core one, and dotnet/nuget still wanted to d

[2019-06-25 17:51] nguerrera commented on #3317
Not really sure why this is necessary. It is a transitive dependency. If the packs coming in are source built, they should point to the right source built version as a dependency. But it's harmless, so I'll accept it.

[2019-06-25 17:53] nguerrera commented on #3317
This has to be done carefully, the version used by other components must match. Particularly Microsoft.NET.HostModel.

[2019-06-25 18:18] mkArtakMSFT commented on #3151
Hi @nguerrera. Do you have any update regarding this? Is this fixed (I see one issue from the list is closed): https://github.com/dotnet/sdk/issues/2914 ?

[2019-06-25 18:52] nguerrera commented on #3151
@mkArtakMSFT Yes, please try the latest preview7 core-sdk. I believe this should be fixed.

[2019-06-25 18:59] nguerrera commented on #3317
I take that back, picking a specific version adds more binding redirect risk for netfx build. Also, it would need to be changed to prevent copying for netcoreapp case. I don't think it is necessary.

@crummel Can you give me steps to validate these changes. I want to understand why these were done better. The comments in the patches do not tell the whole story.

[2019-06-25 19:07] crummel commented on #3317
0003 I'll switch to our responsibility, it was a coherence issue so I'll look into that further.  If 0002 is a transitive dependency then it's probably a similar issue - should we be using the built version of PlatformAbstractions or is that something that should be constant?

[2019-06-25 19:24] nguerrera commented on #3317
It needs to be the built version because it appears in the output of the build for net4x case. I would expect that the source-built DependencyModel would pull in the source-build PlatformAbstractions transitively. S.R.M also needs to be source built and we need to make sure that core-setup and the web sdk(s) get pushed the same version.

[2019-06-25 19:47] crummel commented on #3317
Ok, I will check on what DependencyModel and S.R.M are doing, I'll probably be pestering you about this shortly.  I'll move this issue to source-build since these are all our patches now.

[2019-06-25 19:47] crummel commented on #3317
Issue moved to [dotnet/source-build #1107](https://github.com/dotnet/source-build/issues/1107) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-25 19:54] nguerrera commented on #3317
Reopening for patch 0001 while #1107 is still open.

[2019-06-25 21:58] heng-liu opened #3354 "msbuild /t:build failed with " error NETSDK1073: The FrameworkReference 'NETStandard.Library' was not recognized" , but dotnet build succeed."
When I install SDK 3.0.100-preview6-012264, the msbuild /t:build starts to fail for:
error NETSDK1073: The FrameworkReference 'NETStandard.Library' was not recognized.
But the dotnet build is successful.
When I uninstall SDK 3.0.100-preview6-012264 and used SDK 3.0.100-preview5-011568 instead, there is no error and build is successful. (also changed global.json file accordingly)
I already updated

[2019-06-25 22:17] #3354 closed

[2019-06-25 22:27] heng-liu commented on #3354
Found it's already fixed in latest VS. If I remove all the restore outputs and build again, it will succeed.

[2019-06-26 14:17] per-samuelsson commented on #3024
I experience this too.

Under WSL, with this env:

[code]

I've tried on different projects. One is a library targeting `netstandard2.0`. The other a tool/exe targeting `netcoreapp3.0`. Both show similar behavior, reporting error such as:

In both cases, `dotnet build` works, and the files being complained about are there (at least when the command finishes). Doing `dotnet build` first and then do

[2019-06-26 17:14] livarcocc commented on #3352
You have RuntimeIdentifiers set in your project here: https://github.com/MicrosoftEdge/JsDbg/blob/jsdbg_gdb_support/server/JsDbg.Gdb/JsDbg.Gdb.csproj#L6.

That tells NuGet that it should get all the assets for all the RIDs you have specified when you run restore. And, we have never supported self-contained apps (assets) in offline mode before.

If you can remove those RIDs, it should work offline

[2019-06-26 17:15] livarcocc commented on #3336
Pinging @fadimounir to give us a binlog. Without further information we can't make progress on this issue.

[2019-06-26 17:39] #3317 closed

[2019-06-26 18:15] cbiesinger commented on #3352
Oh thank you, I'll try that! Clearly my unfamiliarity with dotnet is showing. Are there any downsides from removing that?

[2019-06-27 00:24] nguerrera commented on #2828
Noting that the determination of who references mvc is now done in the build without a dependency on PreserveCompilationContext/deps file, so the test needed is only https://github.com/dotnet/sdk/issues/2828#issuecomment-454608968

[2019-06-27 00:40] rynowak commented on #2828
Well that's true for 3.0. Earlier versions of MVC still use the `DependencyContext` and will continue to do so in tandem with newer SDK releases.

[2019-06-27 00:47] nguerrera commented on #2828
Ah, true.

[2019-06-27 14:07] vitek-karas commented on #3312
`LatestMinor` it is - code change made in #3305

[2019-06-27 14:07] #3312 closed

[2019-06-27 14:36] vitek-karas opened #3361 "Self-contained apps should include RID fallback graph in .deps.json"
With the introduction of `AssemblyDependencyResolver` in 3.0 we're making it relatively easy to dynamically load components with their entire dependency trees. Such components can be portable in the sense that they include RID specific assets (for example different asset for Windows and Linux).

In order to correctly resolve dependencies of such component, the `AssemblyDependencyResolver` must hav

[2019-06-27 15:53] fadimounir commented on #3336
@livarcocc @dsplaisted Ok i'll get a binlog. Just curious, did you guys try to repro this and couldn't, and that why you need the binlog?

[2019-06-27 16:04] ericstj opened #3362 "Conflict resolution broken for self-contained APP when packages have same version as shared framework"
The hardcoded list here is now broken:
https://github.com/dotnet/sdk/blob/ec0d2190853afd6c6a8a410d7dc386a9f1ca391b/src/Tasks/Microsoft.NET.Build.Tasks/ResolveTargetingPackAssets.cs#L133-L135

This causes bad behavior from conflict resolution:
[code]

Happening because the items now have the runtime pack package ID:
[code]

But the preferred packages refer to the old runtime nuget packages, due to

[2019-06-27 16:44] fadimounir commented on #3336
Ok this is more broken with the preview 7 bits. The runtime bits are not getting published to the output folder. The _CopyResolvedFilesToPublishAlways task didn't copy anything. I attached the binlog (just rename and remove the .zip)
[msbuild.binlog.zip](https://github.com/dotnet/sdk/files/3335804/msbuild.binlog.zip)

[2019-06-27 16:54] fadimounir commented on #3336
Even with PublishReadyToRun=false, the publish behavior seems to be similar to a framework-dependent publishing (no runtime bits in the output publish folder). I would have expected to see libcoreclr.so for instance.
Using `--self-contained true` in the command line seems to copy the runtime bits, but still no apphost exe entry point

[2019-06-27 17:09] fadimounir commented on #3336
Ok looks like the app got refactored, and the Draw2D project became a library. Trying to build the Draw2D.Desktop project instead to see if the bug still repros

[2019-06-27 17:11] fadimounir commented on #3336
Verified. The bug seems to have been fixed in P7. Closing issue

[2019-06-27 17:11] #3336 closed

[2019-06-27 17:13] nguerrera commented on #3336
Should we block R2R on library project publishes? Publish on library is a strange case already and trips people up a lot.

[2019-06-27 17:15] fadimounir commented on #3336
@nguerrera Yes that would be a good thing to do. It could be a source of problems if some lib developer publishes R2R for a certain platform/arch, and another app developer uses that lib on a different target

[2019-06-27 17:15] nguerrera commented on #3336
Can you open an issue for that?

[2019-06-27 17:19] fadimounir opened #3364 "Block R2R compilation for library projects"
Publish on library is a strange case already and trips people up a lot.

It could also be a source of problems if some lib developer publishes R2R for a certain platform/arch, and another app developer uses that lib on a different target

[2019-06-27 17:19] fadimounir commented on #3364
cc @nguerrera

[2019-06-27 17:19] fadimounir commented on #3336
Filed #3364

[2019-06-27 18:21] pranavkm opened #3365 "Dotnet publish for project with P2P references fails when GeneratePackageOnBuild is true"
Based on https://github.com/aspnet/AspNetCore/issues/11636.

https://github.com/dotnet/sdk/pull/3255 causes publish to fail when a project has project references. Treating `NoBuild` and `GeneratePackageOnBuild` as equivalent causes project references to [stop building](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Publish.targets#L74-L78).

Rep

[2019-06-27 18:22] pranavkm commented on #3365
cc @dsplaisted \ @wli3

[2019-06-27 18:23] terrajobst opened #3366 "Preview 7 still requires a private feed"
In tactics @livarcocc said that Preview 7 shouldn't require a private feed. However, you can't build `xunit` right now:

That seems like a bug, right?

Note, these templates work:

* Restore completed in 32.51 ms for T:\netcore3\console\console.csproj.
* Restore completed in 40.65 ms for T:\netcore3\classlib\classlib.csproj.
* Restore completed in 32.51 ms for T:\netcore3\winforms\winforms.csproj.

[2019-06-27 18:25] heng-liu opened #3367 ""dotnet publish" failed when GeneratePackageOnBuild is true (version 3.0.100-preview6-012264)"
Running "dotnet publish" on a console projects failed when GeneratePackageOnBuild is true.
dotnet --version                                                                                                                                                                                                                                                                                          3.0.100-pre

[2019-06-27 18:26] livarcocc commented on #3366
@dsplaisted to look.

[2019-06-27 18:28] livarcocc commented on #3367
@wli3 can you take a look?

[2019-06-27 18:29] livarcocc commented on #3365
@wli3 this looks similar to the other one I just assigned to you.

[2019-06-27 18:29] livarcocc commented on #3364
@fadimounir can you create a PR?

[2019-06-27 18:42] livarcocc commented on #3362
@dsplaisted please take a look.

[2019-06-27 18:43] livarcocc commented on #3352
If you remove that and later on decide to publish as a self-contained app, you will hit the network then instead of during the original restore.

[2019-06-27 18:44] livarcocc commented on #3352
So, did that work for you? Ok to close this issue now?

[2019-06-27 18:46] livarcocc commented on #3314
This issue was moved to microsoft/vstest#2078

[2019-06-27 18:46] #3314 closed

[2019-06-27 19:28] dsplaisted commented on #3336
Yes, I tried to repro this and wasn't able to.

[2019-06-27 19:46] dsplaisted commented on #3366
Yes, you will still need the private feed if you have any package references.  That requirement will go away as part of https://github.com/dotnet/sdk/issues/3325

[2019-06-27 22:45] cbiesinger commented on #3352
Yes that seems to work with a couple of minor changes (change target framework to netcoreapp2.2 and remove the LatestPatchVersion tag). Thanks!

[2019-06-28 01:43] iAmBipinPaul commented on #3365
[Blazor] Preview 6 blazorhosted project publish is broken
https://github.com/aspnet/AspNetCore/issues/11185

[2019-06-28 07:45] per-samuelsson commented on #3024
Since this is blocking a beta-release of ours, I decided to strip as much as possible to see if I could find a way around this. I've found it's reproducible every time even on a new, empty project.

[code]

The env is still the same as post above.

A bit surprised such a basic thing passed acceptance tests, even though I know this is a preview? Is there any immediate plans to fix this?

We release

[2019-06-28 08:16] gulbanana commented on #3124
I'm using VS2019, but some of my coworkers cannot upgrade from VS2017. If I pin to 2.2.107 in global.json, will this work for both versions of visual studio?

[2019-06-28 09:33] barthamark commented on #3065
In the meantime I found that this is caused by the modular framework I am using. It gathers all the resources found in the module's wwwroot folder (which is a .NET Standard project) and registers them as static resources.
I couldn't reproduce it in a simple ASP.NET Core project. The BeforeBuild task will block the project build until the NPM task is not finished which is the expected way so all th

[2019-06-28 09:33] #3065 closed

[2019-06-28 10:27] miyconst commented on #3024
Another reproduction:

- Fresh Windows 10 Pro installation.
- Fresh [Ubuntu 18.04 WSL](https://www.microsoft.com/en-us/p/ubuntu-1804-lts/9n9tngvndl3q?activetab=pivot:overviewtab) installation.

[code]

[code]

The `/home/star/Documents/ConsoleDemo/bin/Debug/netcoreapp3.0/ConsoleDemo.runtimeconfig.json` file exists.

<details>
<summary>
Content of `ConsoleDemo.runtimeconfig.json`
</summary>

[code]

[2019-06-28 10:51] donaldgray commented on #2682
I'm also seeing this on a completely new checkout of an existing repo for debian-x64. I'm running:

[code]

After running the build I get the following error:

If I run without `-r debian-x64` it works okay.
As mentioned above adding `<TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>` allows me to use `-r debian-x64`.

[2019-06-28 12:46] miyconst commented on #3024
Okay, this is funny, but I have nailed down the issue. It's a bug in `System.Text.RegularExpressions` on WSL.

### The applicaiton

[code]

### Output on vanilla Ubuntu 18.04

[code]

### Output on WSL Ubuntu 18.04

[code]

Removing `RegexOptions.IgnoreCase` option fixes the output on WSL as well.

### Why this affects `dotnet pack`

NuGet is filtering files by the `exclude` parameter using `Regex

[2019-06-28 14:48] vuplea commented on #1021
Currently using
[code]
as a workaround

[2019-06-28 16:56] KathleenDollard commented on #3124
@gulbanana You can pin to 2.2.107 if you ensure they have this on the machine. You can download the installer at https://dotnet.microsoft.com/download.

The new features in 2.2.2nn and 2.2.3nn are minor changes in MSBuild and NuGet that support features in Visual Studio 2019. Since you need to support 2017, this should not be a problem.

To keep things tidy, I would recommend you create new projec

[2019-06-28 23:28] swaroop-sridhar commented on #3337
@peterhuene  If the Copy task checks both modification time and file size -- I don't understand the concern expressed is in the above comment about skipping unchanged files.

[2019-06-29 00:17] peterhuene commented on #3337
I think the intent of the comment in the publish targets was likely due to a customer scenario where they post-processed the published files and didn't want another incremental publish to overwrite the post-processed files without the source file changing.

[2019-06-29 10:31] benaadams opened #10357 "dotnet publish should default to release mode"
Currently it defaults to debug (bad for performance of deployed sites, libraries put on nuget, and apps)

While this is obvious when using `dotnet publish` without parameters as it puts it in a Debug folder; it is not obvious when using an output setting as it is put in the output directory without an obvious `Debug` moniker

[2019-06-29 23:25] mattleibow opened #3376 "MSB4018: The "GenerateDepsFile" task failed unexpectedly. Could not load type of field 'Microsoft.NET.Build.Tasks.DependencyContextBuilder:_filteredPackages'."
I am trying to use Ubuntu 18.04 to test some things, and I can use any of the newer .NET Core SDKs.

I just installed a fresh VM with 18.04, and [installed my usual tools](https://gist.github.com/mattleibow/7e02a32193fb9bb14069bedb7384205e). I then try and build SkiaSharp, and then the .NET Standard projects and Tizen fail to build with the same error.

I can roll back to dotnet-sdk-2.1.105, and t

[2019-06-30 18:46] livarcocc commented on #3376
Do you have environment variable MSBuildSDKsPath or MSBuildExtensionsPath set by any change? It seems like it is possible that your 2.2.300 SDK is loading 2.1.700 props/targets, as show above. This usually happens when folks set the PATH to the SDK manually using the environment variables above.

[2019-07-01 01:31] kcliffe commented on #2780
Me also. dotnet 2.1 upgraded to 2.2.

[code]
Happens on local box and Jenkins CI box.

Not even sure if we should be nervous here that one day our builds just stop successfully building because something that's maybe randomly choosing the correct DLL sudfenly stops doing that...

[2019-07-01 15:54] breyed commented on #1144
One solution is to change MSBuild evaluation rules to defer property evaluation until the time of reference. That way, it wouldn't matter what order that `$(OutputPath)` and `$(TargetFramework)` are set, so long as they're both defined by the time you use `$(OutputPath)` to access a file.

This would be a breaking change, but it would only break scripts with mutating properties that impact other p

[2019-07-01 18:26] livarcocc commented on #3379
I don't quite follow. Why do we need anything special here? Shouldn't this just work out of the box?

[2019-07-01 18:39] AlexanderTaeschner opened #3380 "Duplicated frameworks in runtimeconfig.json"
Using .NET core version 3.0.100-preview7-012741 some generated ProjectName.runtimeconfig.json files contain duplicated entries for the frameworks, which lead to a direct crash at application start:
[code]
which seems to be linked to the following entry in the build log:
[code]
where three RuntimeFrameworks with the same name, but different FrameworkName are listed.
With preview 5 this problem did

[2019-07-01 20:09] wli3 opened #10361 "Investigate running CI in Linux/ARM64 box"

[2019-07-02 00:12] bergbria opened #3383 "'dotnet publish --no-restore --runtime X' fails when multiple RuntimeIdentifers are listed in the project file"
## Repro
1. Create a .csproj with multiple ````<RuntimeIdentifiers>```` (e.g.  ````<RuntimeIdentifiers>osx-x64;win-x64</RuntimeIdentifiers>````)
2. `dotnet restore`
3. `dotnet publish --no-restore  --runtime win-x64`

This will fail with

## Automated repro
Download/unzip
[publish_multi_rid.zip](https://github.com/dotnet/sdk/files/3347730/publish_multi_rid.zip) and run repro.bat

## Additional con

[2019-07-02 00:15] nkolev92 commented on #3383
This bug breaks the only recommendation I could provide for repeatability (lock file) + publish.
Which is basically, 1 restore for all rids and then no-restore publish for each individual rid.

//cc @anangaur @rrelyea

[2019-07-02 17:17] cston commented on #3387
Related issue: https://github.com/dotnet/sdk/issues/3379

[2019-07-02 19:00] crmann1 opened #3388 "ResolvePackageFileConflicts task throw null reference exception when duplicate references are passed in (and conflicts exist)"
During a build of a project that has duplicate references where the duplicate reference is also a conflict the ResolvePackageFileConflicts task crashes with a null reference exception .

C:\Program   Files\dotnet\sdk\3.0.100-preview7-012601\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.ConflictResolution.targets

The "ResolvePackageFileConflicts" task failed unexpectedly.System.NullReferenceExcepti

[2019-07-02 19:30] dsplaisted commented on #3126
I believe this is all done.  @vatsan-madhavan, let us know if that's not the case.

[2019-07-02 19:30] #3126 closed

[2019-07-02 19:31] #3098 closed

[2019-07-02 19:32] vatsan-madhavan commented on #3126
Yes, this is completed now - thanks for closing!

[2019-07-02 19:33] dsplaisted commented on #2780
@nguerrera Was this fixed with #3327?

[2019-07-03 00:17] dsplaisted commented on #3286
@davkean I think this may be fixed in the SDK.  When I tried retargeting to an invalid TargetFramework in VS, I got a crash in VS which VS recovered from, and then got the expected NETSDK1013 error in the error list.

7/2/2019 5:13:47 PM
Recoverable
System.AggregateException: One or more errors occurred. ---> NuGet.Frameworks.FrameworkException: Invalid framework identifier ''.
   at NuGet.Framewo

[2019-07-03 06:48] livarcocc commented on #3388
@dsplaisted this seems like the issue you were investigating earlier today.

[2019-07-03 08:21] davkean commented on #3286
This still fails for me with 16.2 Preview 4. Was it fixed in 3.0 if so which change?

That project fault is being tracked by https://github.com/NuGet/Home/issues/7717.

[2019-07-03 20:54] livarcocc commented on #3383
@nkolev92 this happens exactly because of the issue we have been discussing regarding the implicit version for self-contained apps.

When you have runtimeidentifiers and you publish with a rid, we still treat your project as a framework dependent app and so use M.NC.App as the .0 version, like 2.1.0.

When you publish as a self-contained app (with runtime specified), you publish as a self-containe

[2019-07-03 20:55] livarcocc commented on #3388
Closing this as a duplicate of dotnet/cli#11709.

[2019-07-03 20:55] #3388 closed

[2019-07-03 20:55] livarcocc commented on #3380
Dupliate of dotnet/cli#11709.

[2019-07-03 20:55] #3380 closed

[2019-07-04 10:12] ChrisMcKee commented on #2295
https://github.com/Klocman/Bulk-Crap-Uninstaller works pretty well for this as well

[2019-07-05 09:14] wstaelens commented on #1213
https://github.com/aspnet/AspNetCore/issues/2126

[2019-07-05 12:30] appel1 opened #3400 "MSBuild task restore target sometimes fails if multiple projects share a project reference"
As part of our build script for CI we do something like this to prepare our projects, about 1500 csproj projects using the 2017 format. They all share a project reference to a common project.

[code]

When we do this we sometimes, like every other build or so, one or more of the following errors.

A workaround is to set BuildInParallel to False but that reduces performance quite a bit.

Is BuildIn

[2019-07-05 17:37] livarcocc commented on #3400
This seems like a configuration error to me. If you run restore on your solution or a root project that references the entirety of your projects, Restore will run through all your projects and restore them all without you needing to have that customization.

If you run the way you are doing, each msbuild execution sort of becomes independent and runs into the potential and competing or changing sa

[2019-07-05 18:38] appel1 commented on #3400
Ok. So not supported then. I guess I need to generate a .sln file then. Maintaining one with VS is too much hassle, and quite unpleasant because of slow performance with many projects.

[2019-07-06 01:11] alexrp commented on #3024
Is there a known workaround for this? I'm getting the same issue under WSL 2.

[2019-07-06 07:19] vitek-karas opened #3401 "Publishing for win fails with unhelpful error message"
Trying to publish an app for `win` RID like this:
[code]

Fails with error like this:
[code]

While technically correct, the error doesn't help the user to figure out the solution. Ideally we would check that the specified RID exists and that it's not a leaf in the RID graph. In which case we could report an error with guidance that a more specific RID is required. Or even better list all the avai

[2019-07-07 18:24] miyconst commented on #3024
As [pointed out](https://github.com/dotnet/corefx/issues/39225#issuecomment-509000398) by @stephentoub, the issue can be solved by manually setting the `LANG` environment variable.

[code]

[2019-07-08 05:11] TwoTenPvP commented on #1695
Happened to me on Linux when the tmp storage device was full.

[2019-07-08 14:01] jnm2 commented on #1458
@nguerrera I'm still pasting the https://github.com/dotnet/sdk/issues/1458#issuecomment-401497095 workaround into new projects. How does this timeline fit in with the general symbol distribution picture now that snupkg exists? Should we still be waiting for this to be fixed?

[2019-07-08 14:22] vitek-karas opened #3405 "Add a way to customize the path imprinted into apphost.exe"
Currently there's no supported public way to customize the path to the app which is imprinted into the apphost.exe (to get the native executable). For normal apps it's always the name of the main application dll.

There are scenarios where it would be handy to be able to customize the path by redirecting it to a subfolder relative the native exe. See for example https://github.com/dotnet/core-setu

[2019-07-08 14:26] vitek-karas commented on #3405
Note that using a relative path as the imprinted path is already supported as it's used by the global tools executables. The path is relative to the executable itself (current directory is not considered).

[2019-07-08 18:32] nkolev92 commented on #3383
Makes sense. Thanks @livarcocc

I guess 3.0 won't have the problem initially cause PackageDownload sha validation does not happen.
Related NuGet work item for that. https://github.com/NuGet/Home/issues/7724

//cc @rrelyea

[2019-07-09 09:38] vitek-karas commented on #3361
Can we consider doing this in the 3.0/3.1 timeframe? See https://github.com/dotnet/coreclr/issues/25516 which is a customer hitting this issue.

[2019-07-09 14:00] isaacwalkercox commented on #757
This problem is still active as of the latest version of Visual Studio 2017 as it's what I am using!

[2019-07-09 20:25] Symbai commented on #3405
I'm the owner of the issue https://github.com/dotnet/core-setup/issues/5120 and I would like to explain questions vitek-karas gave me to make it easier for readers to understand this issue.

### what's the problem I'm facing now

At the moment publishing self contained applications simply throws the whole .NET Core libraries into the output folder which are >260 and growing, which is a mess. Why i

[2019-07-09 23:24] davkean commented on #757
@isaacwalkercox this bug was dup'd against https://github.com/NuGet/Home/issues/4488, which is still open.

[2019-07-10 00:40] Kinematics commented on #3405
I created issue https://github.com/dotnet/cli/issues/11713, and have similar issues as @Symbai. I'm kind of repeating a lot of what he said, but still wanted to explain my perspective.

## Scenarios

This is a combination of issues with portable and self-contained programs.  If I provide a program that someone wants to run on a library computer (bringing it with them on a flash drive), they can't

[2019-07-10 16:50] AndreyAkinshin commented on #3376
@mattleibow if you are using Mono MSBuild, then you probably have incompatible versions of Mono MSBuild and .NET Core SDK. The problem and possible solutions are described here: https://rider-support.jetbrains.com/hc/en-us/articles/360004180039

[2019-07-10 17:29] livarcocc commented on #3405
We don't need two issues (One in the cli and one in the SDK for this). Given that the CLI issues is older, I am going to close this one.

For reference, this is the CLI issue: dotnet/cli#11713,

[2019-07-10 17:29] #3405 closed

[2019-07-10 18:27] richlander commented on #2253
I just ran into this issue. Super confusing and hard to diagnose. I added the `PackageReference` to my test project and the warnings resolved. Specific fix:

[code]

[2019-07-10 19:56] genifycom opened #10371 "dotnet publish gets access denied in only in release mode"
## Steps to reproduce
dotnet publish works for -c Debug but gets ACCESS DENIED generating DLL for -c Release

## Expected  behavior
Build would work for either configuration

## Actual behavior
-c Debug works but -c Release does not

## Environment data
`dotnet --info` output:

Publish with -c Release fails with:
... publish: C:\Program Files\dotnet\sdk\2.2.105\Microsoft.Common.CurrentVersion.targ

[2019-07-10 20:01] nguerrera commented on #3387
Duplicate of https://github.com/dotnet/sdk/issues/2793

[2019-07-10 20:02] nguerrera commented on #3379
Duplicate of https://github.com/dotnet/sdk/issues/2793

[2019-07-10 20:02] #3379 closed

[2019-07-10 20:05] #3364 closed

[2019-07-10 20:11] DualBrain commented on #2793
@nguerrera So what does the outlook for finding a solution to this appear to be?

[2019-07-10 21:32] 333fred commented on #2793
@DualBrain as a workaround, you can set the `VBRuntime` property to `default` in your vbproj file and the embedded VB runtime will not be used, allowing the referenced MS.VB.dll to be used instead.

[2019-07-11 01:19] nguerrera commented on #2793
When I set VBRuntime to default, I get

[code]

However, there is a Microsoft.VisualBasic.dll passed via /r.

[2019-07-11 01:30] nguerrera commented on #2793
Seems we have to set VBRuntimePath: https://github.com/dotnet/sdk/issues/3387#issuecomment-506560645

[2019-07-11 02:01] nguerrera commented on #2793
This works

[code]

It is basically doing what @AlekseyTs [said](https://github.com/dotnet/sdk/issues/2793#issuecomment-510288440): if there's an microsoft.visualbasic.dll in the references, use that. I will base the real fix around this.

[2019-07-11 02:02] nguerrera commented on #3387
Reopening for second half of this: `define:_MyType=\"Console\"`, the VB runtime part is tracked by #2793

[2019-07-11 02:31] nguerrera commented on #3387
So the define comes from this in the classic .csproj template

[code]

And Window Forms projects have MyType=WindowsForms, and then WPF has MyType=Custom with a generated MyWpfExtension.vb added to the project.

@KathleenDollard I'll need your help here. Do we want to change the templates to match the framework templates on this or are we expecting the SDKs to do some magic here? Not sure how to m

[2019-07-11 02:35] nguerrera commented on #3387
Combining with the workaround for #2793  the following is enough to get the program in this issue to build and run:

[code]

[2019-07-11 02:38] #3027 closed

[2019-07-11 03:17] danmosemsft commented on #3024
See https://github.com/NuGet/Home/issues/8246 also

[2019-07-11 05:14] Nirmal4G commented on #1366
For developing Plugins/Extensions just like VSIX but for other Applications, there should be an easier way to Disable Transitive references throughout the entire reference graph.

Why wasn't this enabled at first when you guys implemented `Project/PackageReference`?

[2019-07-11 16:36] nguerrera opened #3409 "Changing RID to one that hasn't been used before can cause design-time build failure"
I believe this regressed with #3394

If you do not have the runtime pack in your nuget cache yet, and you change the RID of your project, the design time build will fail. Unfortunately the test that is specifically designed to test this case of changing RIDs is not reliable because dependening on state of nuget cache (say due to tests that have already run), it may pass even though the bug is pres

[2019-07-11 16:37] #3325 closed

[2019-07-11 16:46] nguerrera commented on #3409
Re-enable DesignTimeBuildSucceedsAfterRuntimeIdentifierIsChanged when fixing this, and consider finding a way to make it insensitive to what's already in nuget cache.

[2019-07-11 22:33] nguerrera commented on #3387
Discussed with @KathleenDollard and @cston. For the time being, we will assume that MyType remains unset by default and it is up to templates, project system, user to set it. So I will close this once the following works with the code in this isssue:

[code]

And file an issue for the templates to include MyType.

[2019-07-11 22:45] queen-of-code opened #10374 "Incompat with dotnet test settings files and solution usage"
While testing out the new XPlat Code Coverage functionality in dotnet test via the collectors, I've run into a significant blocking bug in our workflow. We always run tests off a solution file, and generally speaking this works well in our scenarios - and it is several orders of magnitudes faster than attempting to run each test csproj serially.

However, I've noticed that you cannot use a runsett

[2019-07-11 22:50] nguerrera commented on #3387
Filed these issues for the templates:

* Console and Clas library: https://github.com/dotnet/templating/issues/2006
* WPF: https://github.com/dotnet/wpf/issues/1230
* Windows Forms: https://github.com/dotnet/winforms/issues/1346

[2019-07-12 02:11] DualBrain commented on #3387
I'm assuming this still requires something else to be done; meaning that it's expected that this doesn't currently work in Preview6.  If I'm correct on this, would you be able to guess as to when it (which preview for example) that this might be available?

[2019-07-12 08:45] iSazonov commented on #1021
Can we get any progress in .Net Core 3.0?

[2019-07-12 13:43] eerhardt commented on #1021
Note, you can accomplish this in the project by setting the following properties:

[code]

Then you can just run the `Pack` target on that project, which can be set to the default target at the top:

[code]

Now when you call MSBuild on that project, it will pack the nuget package, but you won't get an empty assembly built or included in the package.

[2019-07-12 14:22] iSazonov commented on #1021
@eerhardt Thanks! I am not sure that `<NoBuild>true</NoBuild>` will works for us because we use the meta csproj to build dependences.

[2019-07-12 14:58] nguerrera commented on #1021
Maybe ReferenceOutputAssembly="false" on all project references to meta project? I think that will keep it out of .deps. But not sure if it will break getting the transitive refs through it.

[2019-07-12 15:17] nguerrera commented on #3387
I'm doing the equivalent of that target in the SDK "automagically". That will be in preview 8.  Only MyType will be needed in the project once that's in, and the issues above track adding MyType to various VB templates.

[2019-07-12 16:26] Nirmal4G commented on #952
How one could exclude the framework-like references that we know will exisit in the deplyment but still keep other the references from other p2p and package refs, bacially a plugin like dev model.

Say that, projects Fx, Px, Nx are framework, project, nuget provided refs.

My project
[code]

I want the publish folder to have A, Nx3, Nx4, that's all!

But what can I get to work most of it, have it

[2019-07-13 09:52] Nirmal4G commented on #3265
I like how `FrameworkReference` unifies the Reference Assemblies concept and the meta/nuget package concept. It will be the best of both worlds.

[2019-07-15 05:54] iSazonov commented on #1021
I can not compile with `ReferenceOutputAssembly="false"` because this broke dependencies.
Current structure:
powershell-win-core.csproj -> Microsoft.PowerShell.SDK.csproj (meta project) - other csproj-s

Our goal is not to create a dll for Microsoft.PowerShell.SDK.csproj, but dependencies should work at the compilation stage like at Core 1.0 time.
Is it possible?

[2019-07-15 17:55] nkolev92 commented on #3383
Related: https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-patch-selection

[2019-07-15 19:57] nguerrera commented on #1021
I don't think it is possible. I think we probably would need to introduce a feature of some kind to support that.

[2019-07-15 23:46] tlmii opened #3426 "Generate runtimeconfig.json with rollForwardOnNoCandidateFx value from csproj?"
Is it possible to specify the value of [rollForwardOnNoCandidateFx ](https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md#runtimeoptions-section-runtimeconfigjson)that will be in the output `[AppName].runtimeconfig.json` from the .csproj file (or otherwise within the source code)? Or does it have to be added after the fact?

[2019-07-16 01:58] AlseinX opened #3428 "Will there be a standard way to ship native libraries with packed nuget package?"
I believe it widely needed that:

+ A csproj project could contain native libraries in a proper folder structure for maybe multiple native RIDs.
+ On packing, all of these libraries are included to the nuget packages with a proper folder structure.
+ On publishing, native libraries are copied to the output folder and would be embedded if `PublishSingleFile` is enabled.
+ Managed code could P/Invok

[2019-07-16 05:38] iSazonov commented on #1021
@daxian-dbw Is still important for us to have the meta project since we moved on .Net Core 3.0 and could use other features to resolve dependencies and load assemblies?

[2019-07-16 17:49] livarcocc commented on #3426
You can set `<RollForward>Disable</RollForward>` in your csproj. It will have that same effect.

[2019-07-16 17:49] #3426 closed

[2019-07-16 19:29] peterhuene commented on #2956
@dsplaisted any thoughts on my comment above?

[2019-07-16 20:43] #2793 closed

[2019-07-16 20:43] #3387 closed

[2019-07-16 21:01] peterhuene commented on #2808
Hi @jeffhube.  Sorry as this issue fell off my radar.  From the debug information you've provided, it looks like a segfault occurred in the MSBuild process, possibly while existing on the main thread (at least it appears the `atexit` handlers are running).  If the process is crashing before MSBuild outputs anything, then `dotnet run`'s output will only show the `The build failed. Please fix the bu

[2019-07-16 22:19] nguerrera commented on #3337
Reviewing #3373 now and coming back to the discussion here, I still don't understand why we can't use SkipUnchangedFiles

The comment looks to be copied from https://github.com/microsoft/msbuild/blob/0cd0e92a7243088977d31b56626b56d6116de016/src/Tasks/Microsoft.Common.CurrentVersion.targets#L4590-L4593

So, there are two cases:

PreserveNewest: Copy file if newer than destination
Always: Copy file

[2019-07-16 22:32] peterhuene commented on #3337
I think the intention of not using `SkipUnchangedFiles` on the *PreserveNewest* target is that we *don't* want to copy on size difference alone, as that might overwrite post-processed files on an otherwise incremental, up-to-date build.  Only if the timestamp of the input is newer should the file be copied.

I agree that the comment on the *Always* target seems to be entirely unnecessary (and like

[2019-07-16 22:43] jkotas commented on #2808
We would need access to full process dump of the crash to make progress on this.

The crash like this can be caused by many different root causes, and there is a pretty good chance that it was fixed in 3.0. I do not think it is worth the time to spent tracing this down on 2.2 runtime at this point.

[2019-07-16 22:43] #2808 closed

[2019-07-16 22:58] nguerrera commented on #3337
Even in the PreserveNewest case, won't the Inputs/Outputs take priority? So if the output is newer than the input ("modified by application" according to that comment) it will be preserved, then failing that if we were to say SkipUchangedFiles="$(SkipCopyUnchangedFiles)" like everywhere else, then it wouldn't break that, but I guess it wouldn't do anything because if the Copy task is running the t

[2019-07-16 23:45] peterhuene commented on #3337
Right, the inputs/outputs would take priority for the `PreserveNewest` target.  My understanding of not using `SkipUnchangedFiles` *in lieu of* the inputs/outputs would be that copies would take place when the file size *alone* differs.  I think that's why the comment exists there.

I think adding `SkipUnchangedFiles="$(SkipUnchangedFiles)" ` to the `Always` target makes sense; by default this wil

[2019-07-16 23:55] nguerrera commented on #3337
If we add skip copy unchanged flag, won’t it only actually be copied if the previous publish was using a different app host (uncommon case but the one we are trying to fix here)?

It looks to me like the test would pass if we used it and retargeted to 3.0? Can we try that?

[2019-07-17 00:25] mwpowellhtx commented on #952
Has there been a sufficient workaround for this yet? I've got some internal assets which I think this pattern might be the right approach, but I am not aware of how to make that private assets for a *ProjectReference*.

[2019-07-17 01:41] peterhuene commented on #3337
I need to step back a second, I think.

I don't see how we can keep any item (including the apphost) in the `PreserveNewest` group and keep the existing behavior of copying *only* when the timestamp of the source is "newer".  That is, if only the file sizes differ, we don't copy.  To me, that's why we're using input/output items for that target instead of `SkipUnchangedFiles`.

Likewise, I don't s

[2019-07-17 03:13] nguerrera commented on #3337
I understood from @rainersigwald's comment above that SkipUnchangedFiles means same timestamp AND same size, then don't copy, otherwise copy.  So Always would become
"AlwaysUnlessNeitherTimestampNorSizeHasChanged" with the change, right? If so, the only time you could observe a difference would be if you changed the input file to different content of the same length yet identical timestamp. I thin

[2019-07-17 03:34] nguerrera commented on #3337
For the PreserveNewest case, I think SkipCopyUnchangedFiles would not have any impact. MSBuild is only going to pass the files that are out of date to Copy so they will never have the same timestamp and therefore never be skippable irrespective of the flag.

[2019-07-17 04:26] peterhuene commented on #3337
My point is that `Always` currently means just that: no timestamp check and no size check; just copy the file to the publish directory every time the application is published.  Introducing `SkipUnchangedFiles` on its `Copy` task fundamentally changes the behavior to what one *might* expect `PreserveNewest` to mean, except `PreserveNewest` ignores size differences *on purpose* according to the comm

[2019-07-17 04:47] nguerrera commented on #3337
I still have no idea what the comment accomplishes in PreserveNewest if skip unchanged checks time stamp. By the time it gets to the copy, we know the timestamp is different. So the flag wouldn't change anything. If that's right, I think the comment should be removed from PreserveNewest. It's not the lack of the flag that makes it so you can edit output and not get replaced, it's that the timestam

[2019-07-17 05:04] Nirmal4G commented on #952
How one could exclude the framework-like references that we know will exisit in the deplyment but still keep other the references from other p2p and package refs, bacially a plugin like dev model.

My Solution File:
[code]
\***Note**:  They also refers other System.* libs, that are also in the framework packages.

Same with other Projects like Api, Core, Misc...!

I refer in my plugin project to W

[2019-07-17 08:30] peterhuene commented on #3337
Ah, I didn't realize that `SkipCopyUnchangedFiles` was true by default.  The name sounds very "false by default" to me for some reason, probably the "skip" in the name.

I agree that the comment makes no sense on the `Always` target completely.

With respect to the `PreserveNewest` case, the comment makes sense to me as a warning against refactoring the code such that the target does not have inpu

[2019-07-17 13:34] nguerrera commented on #3337
Ah! I didn't read the comment in PreserveNewest that way because it's above where Skip would be passed, after inputs/outputs have already been passed, and makes no mention of inputs/outputs.

I suggest changing it to: "Inputs/Outputs are used instead of SkipUnchangedFiles so that [...]"

So common targets have the same incorrect comment where content files with always are copied. We must have copi

[2019-07-17 16:37] mwpowellhtx commented on #952
Worst case, we isolate these things in a separate solution, or, minimally, separate build configuration, for internal publication, and subscribe to them via conventional package channels that way. In the worst case. I'm just trying to figure on a way to leverage the internal bits without that level of isolation, if possible.

[2019-07-17 21:16] nguerrera commented on #2521
dotnet/project-system#4079 is closed as won't fix. Does this mean we can never turn this on by default? :(

cc @tmeschter @jjmew @livarcocc

[2019-07-18 06:18] Nirmal4G opened #3432 "Append TargetFramework to *OutputPaths only when MultiTargeting"
Rleated issues: #844 #550 #1376 (those github found out)

For single targeting projects, we don't need to appened the `*OutputPath`s properties with `TargetFramework` since, we are only targeting single framework. This is also the behavior of the old projects before sdks were introduced.

1. All the large winforms and wpf projects have custom targets that rely on hard coded paths based on the defa

[2019-07-18 06:23] Nirmal4G commented on #3432
I'm aware of `AppendTargetFrameworkToOutputPath` property, what I suggest is that we make it default.

[2019-07-18 09:48] davkean commented on #3433
Move this over to SDK. This is SDK-driven property any changes here would be up to them.

[2019-07-18 10:18] 0xd4d commented on #3432
It would be a breaking change to change it now. Use the above property instead. If you have many projects you can use a [Directory.Build.props](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2019#directorybuildprops-and-directorybuildtargets) file.

[2019-07-18 10:24] Nirmal4G commented on #3432
.NET Core 3, is a major revision, This might not be that big of a breaking change when you take the old projects into account!

[2019-07-18 12:47] ashriv2020 commented on #1521
Thanks. It's resolved my issue.

[2019-07-18 14:08] ggirard07 commented on #2253
Is the workaround mentioned all over this thread only for integration test project or unit test project too?
Currently the documentation only mention it for [integration testing](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2#test-app-prerequisites), not [unit testing](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-dotnet-test?toc=%2

[2019-07-18 14:16] nguerrera commented on #2253
It is for all tests, or even all projects that have a reference to a web project. It is not really a workaround in that the web reference did not flow transitively in .NET Core 2.x. You need to add it, and you should add it without the version so that the SDK can pick the correct version to avoid conflicts.

Better news: starting with .NET Core 3.0, the web reference will flow transitively and you

[2019-07-18 14:16] #2253 closed

[2019-07-18 14:31] ggirard07 commented on #2253
@nguerrera Is this also true for an Azure Functions project?
I have the same kind of warnings as my functions project has a reference to my AspNetCore API project (to pull in services/repositories). But in that case I can't change the project SDK from `Microsoft.NET.Sdk` to `Microsoft.NET.Sdk.Web`

[2019-07-18 14:36] nguerrera commented on #2253
When using a 2.2 or newer sdk (even to target 2.1), you should not need to change the sdk. The versionless package reference should be enough.

And when targeting 3.0, you don't need the pacge reference either. Everything should flow across the project reference.

If you have a case where either of above is not working, please open a new issue with the detailed repro steps.

[2019-07-18 15:10] ggirard07 commented on #2253
@nguerrera thanks a lot for all the confirmation.
We were avoiding to install .Net Core 2.2 on our dev machine as we don't want to migrate any of our apps to a non LTS version. But this is now a good requirement to install it while keeping our projects targeting 2.1.

[2019-07-18 16:37] tmeschter commented on #2521
Turning it on by default will only be a problem in solutions that mix SDK and non-SDK-style projects, and even then only while CSProj is the default project system for non-SDK-style projects.

We have to draw the line somewhere for new feature work in CSProj.

[2019-07-18 21:36] panopticoncentral commented on #2521
I don't remember all the details of ref assemblies off the top of my head, but would it be possible to have non-SDK projects _not_ consume ref assemblies by default even if the project produces them? Then SDK projects could default to producing them and everything would work. It would also help in the situation where someone manually turns it on and breaks the up to date check for non-SDK projects

[2019-07-18 21:58] ericstj opened #3437 "ResolveTargetingPackAssets crashes when presented a targeting pack with no matching assets"
Build a project as follows:
[code]

[code]

This is happening because the refpack uses `netcoreapp5.0` instead of of `netcoreapp3.0`.  Failure is legitimate but it should be better than a stack trace.

[2019-07-18 22:15] etbyrd opened #3438 "Remove .NETCore <3.0 as SupportedTargetFrameworks for WinForms and WPF"
The Project System needs a way to know the correct SupportedTargetFrameworks for WinForms and WPF projects so we can display the correct TFM's in the property pages.

Is it possible that this can be done on the SDK side?

https://github.com/dotnet/project-system/issues/5010

cc @nguerrera

[2019-07-18 22:41] nguerrera commented on #3438
cc @vatsan-madhavan @rladuca

[2019-07-18 22:41] nguerrera commented on #3438
cc @dsplaisted

[2019-07-18 22:45] nguerrera commented on #3438
Today we have a static list of supported TFMs here:

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.SupportedTargetFrameworks.props

What I'm thinking is that the WindowsDesktop SDK could override this somehow to remove the target frameworks that it doesn't support.

Simplest form of that would be to do some `Removes` but then I think we want no

[2019-07-18 22:45] vatsan-madhavan commented on #3438
I don't understand the request for the SDK.

We already have logic for handling  TFM < 3.0 && TargetFrameworkIdentifier==.NETCoreApp. What specifically is being requested here?

See [_WindowsDesktopFrameworkRequiresVersion30](https://github.com/dotnet/wpf/blob/580a4283fffd4b0523ecee02cb22997122d6708f/packaging/Microsoft.NET.Sdk.WindowsDesktop/targets/Microsoft.NET.Sdk.WindowsDesktop.targets#L58) -

[2019-07-18 22:47] vatsan-madhavan commented on #3438
Spoke too soon.. thanks for the context.

[2019-07-18 22:47] nguerrera commented on #3438
The request is that the list of SupportedTargetFramework: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.SupportedTargetFrameworks.props

not include target frameworks that aren't supported by windows desktop projects. VS uses these items to populate a retargeting drop-down in property pages.

[2019-07-18 22:57] vatsan-madhavan commented on #3438
`Remove`-ing these is easy, and doesn't pose maintainability problems.

[code]

I would expect 3.0+ `.NETCoreApp` TFM's to be supported.

If we don't want any version of `.NETStandard` to be supported, is there a way we can `Remove` them all without having to run a `Target`? That would probably be the easiest thing to do... For e.g., if we could coordinate a change with [dotnet/sdk](https://github

[2019-07-18 22:58] vatsan-madhavan commented on #3438
How come this list doesn't include `.NETFramework` items? Is that because SDK-style projects "work with, but don't support" .NET Framework?

[2019-07-18 23:42] nguerrera commented on #3438
Good question about .NET Framework. I suppose that is why. @davkean?

[2019-07-18 23:54] nguerrera commented on #3438
I think I like where you were going we could have this:

[code]
Another idea would be to set the metadata with the TargetFrameworkIdentifier and Version separated. I think this would let you do the removes with conditions that match all .NET Standard, though I have to check what is possible in evaluation here. We can't use a target for any of this.

[2019-07-19 00:10] vatsan-madhavan commented on #3438
I don't think metadata will work.

[code]

[code]

[code]

[2019-07-19 00:13] vatsan-madhavan commented on #3438
I think this is what we should do:

**Microsoft.NET.Build.Tasks/targets/Microsoft.NET.SupportedTargetFrameworks.props**
[code]

**Microsoft.NET.Sdk.WindowsDesktop.props**

[code]

[2019-07-19 00:38] nguerrera commented on #3438
That works for me.

(I assume the 0 in SupportedTargetFramework0 is a typo.)

[2019-07-19 00:39] vatsan-madhavan commented on #3438
yeah, typo ...

[2019-07-19 00:41] nguerrera commented on #3438
@davkean Any concerns here? Shall we go ahead?

[2019-07-19 00:49] vatsan-madhavan commented on #3438
Do we need a separate issue to puzzle out whether to add .`NETFramework` to `SupportedTargetFramework` items in _Microsoft.NET.Build.Tasks/targets/Microsoft.NET.SupportedTargetFrameworks.props_ ?

Unless we have documented it as unsupported, I'm starting to think that it ought to be supported.
The very first example at [How to: Use MSBuild project SDKs](https://docs.microsoft.com/en-us/visualstudi

[2019-07-19 00:55] nguerrera commented on #3438
I assume the project system doesn't use this data for .NET Framework and instead looks in a more classical place for versions of .NET Framework to offer. I'm fine adding it, but if it's not going to be used, it doesn't seem to be high priority.

[2019-07-19 00:56] vatsan-madhavan commented on #3438
If the project system doesn't use it, then I agree that it doesn't matter. We should probably add a comment that .NET Framework is missing because the project system doesn't use it...

[2019-07-19 00:57] nguerrera commented on #3438
.NET Framework is supported by us. In fact, ASP.NET Core 1.x, 2.x projects could even target .NET Framework from File -> New Project.

[2019-07-19 00:59] nguerrera commented on #3438
It already shows the full list:

![image](https://user-images.githubusercontent.com/75470/61501754-94944400-a985-11e9-8577-93be260f66bf.png)

It is quite possible that the oldest ones in that list don't work so maybe we should get them out of there?

[2019-07-19 01:00] vatsan-madhavan commented on #3438
If the project system used SupportedTargetFrameworks, this would be so easy ;-)

[2019-07-19 16:08] kzu commented on #3166
The workaround until both PRs ship is to just drop this in your `Directory.Build.targets`:

[code]

[2019-07-19 16:35] darrenj commented on #2998
Customers on the Bot Framework side have run into this too on macs, we have a dotnet based tool which isn’t found when executed inside powershell.

Running this ahead of executing the tool seems to resolve the issue on a session by session basis:

[code]

Can we explore fixing this for powershell scenarios? It working in terminal but then not pwsh is confusing for our customers.

[2019-07-19 19:30] peterhuene commented on #2989
Re-opening as #3427 only fixed part of the issue: deleting the output apphost upon failure so it isn't left in a semi-customized state.

[2019-07-19 20:13] wli3 commented on #2998
It is due to above reason, the platform constrain (mac's path_helper does not expend `~`). The best we could do is to print instruction to let the user append path.

[2019-07-19 20:39] sayedihashimi commented on #2998
@wil3 yes, that looks like it is the issue. I have worked around it by appending the full path at the end.

[2019-07-19 22:10] delormej opened #10746 "Add sources management to dotnet cli"
It's problematic to rely on yet another cli (nuget) in x-platform scenarios, for example doing builds inside containers, running on macOS, etc... It would be great if you could add remote sources (i.e. Azure DevOps Artifacts) using dotnet add package.  This currently fails with a 401 unauthorized unless you install nuget (which also requires mono) and a credential provider... not scalable.

---
##

[2019-07-22 03:13] Thaodan opened #3444 "[Linux] Don't use dot folder comply by XDG Base Directory Specification"
Currently SDK files get installed into _~/.dotnet_ on Linux.
However this outdated, apps should follow the XDG Base Directory Specification.
This isn't an issue of the CLI (I think), as this about setting the defaults for Linux.

[2019-07-22 11:24] dsplaisted commented on #3409
To avoid the test flakiness where the package is already downloaded to the NuGet packages folder, some tests override the packages folder to be local to the test project.  Of course, the more tests that do this the slower the tests will run and the bigger the test folder will get.

[2019-07-22 18:36] livarcocc commented on #3444
Can you help me understand the impact of continue using the ~/.dotnet folder? It would be a significant change to move things around.

[2019-07-22 18:48] Thaodan commented on #3444
Its unclean and maybe fils partitions that aren't supposed to be written for
things that are cache.
Also resetting settings is much easier if its in ~/.config/app or advising the
user of cleaning the cache becomes much easier. As it goes to .cache/app.

Migrating these date isn't hard. Just add a check for the old folder.
Something like QStandardPaths for .NET would be great I think. These paths a

[2019-07-22 23:14] livarcocc commented on #3444
Thanks for the additional information.

To be clear, the work that I referred to above is not the work to move the data, but the work to update all the different code paths across different teams now who rely on that location for their files.

[2019-07-23 13:54] dsplaisted commented on #2956
@peterhuene I think you're right, it doesn't really make sense for this to work.  I thought that it was a scenario we supported or tried to support in earlier releases, but maybe I'm getting no-build confused with no-restore.

[2019-07-23 17:20] peterhuene commented on #2956
I'll close for now and we can reopen if it makes sense to do so.  Thanks!

[2019-07-23 17:20] #2956 closed

[2019-07-23 17:54] nguerrera commented on #3433
Closing as the prior break occured in 2016 when we had a lot fewer users. Changing this now would just break more things.

[2019-07-23 17:54] #3433 closed

[2019-07-23 18:04] nguerrera commented on #3432
It was discussed early on pre-1.0 and a deliberate decision was made to make the directories consistent irrespective of one or many target frameworks.

It is also too late in .NET 3 cycle to take a substantial breaking change here. Further,more we aim not to break existing projects on major versions. You can end up crossing an SDK major boundary in a minor VS update, so there is never really a cle

[2019-07-23 18:07] nguerrera commented on #3432
We do not consider issues porting to .NET Core breaking. We have talked about some features to make getting classic settings easier.

A breaking change in the context of the SDK is when you get a new SDK, do not change anything in your project, and something breaks. The proposal is very much that.

[2019-07-23 18:12] Nirmal4G commented on #3432
I understand. Still this should be the natural outcome considering the old projects.

It's true, I was a bit late!

But can we add it to the `Microsoft.NET.Sdk.WindowsDesktop`?

[2019-07-23 18:19] Nirmal4G commented on #3432
We can use `AppendTargetFrameworkToOutputPath` to revert to older behavior! In any case if any project breaks, we can use the above property to revert to the older behavior.

I did this change in my installation, yes directly on the files, It did break some of my new projects (where the path was hardcoded), but was able to fix them all with just simple property change. It also worked for my older

[2019-07-23 18:20] Nirmal4G commented on #3432
I can send you a diff of my change if you want to look at it.

[2019-07-23 21:47] nguerrera commented on #1072
I believe some portion of this is a duplicate of #1211 and another portion is a duplicate of #1682. The former is postponed to 5.0, while the latter should be fixed. Closing as such.

[2019-07-23 21:47] #1072 closed

[2019-07-23 21:48] nguerrera commented on #1682
Fixed by #3345

[2019-07-23 21:48] #1682 closed

[2019-07-23 21:51] nguerrera commented on #3151
@JunTaoLuo Have you tried building with Preview 7 and without the workarounds? I'm closing this as fixed by #3345, but if you are still having issues, I can reopen.

[2019-07-23 21:51] #3151 closed

[2019-07-23 21:53] nguerrera commented on #1380
@JunTaoLuo Same here. Have you tried building with Preview 7 and without the workarounds? I'm closing this as fixed by #3345, but if you are still having issues, I can reopen.

[2019-07-23 21:53] #1380 closed

[2019-07-23 22:32] mdjaniga opened #3449 "NetCore App 2.1.12 produces Case-insensitive *.deps.json file for case sensitive operating systems"
I maintain my production build environment within a docker container.  This env uses 2.1.12.

Application is named Jobe.  Builds from this environment produce a deps.json file with an application target application dll in all lower case, "jobe.dll".  The actual DLL is "Jobe.dll".  I encounter a runtime error when jobe.dll is not found.

My local environment is env uses 2.1.4.  In this env using th

[2019-07-23 22:56] JunTaoLuo commented on #1380
I'll give it a try soon. We haven't updated our builds to use preview 7 just yet but will do so this week.

[2019-07-23 23:00] nguerrera commented on #2421
Publish does not actually depend on RunResolvePackageDependencies. I checked 2.2.301 and 3.0 preview8 binlogs and studied the code. I don't think it ever has.

It looks like something else reordered the targets in the build, which already depended on RunResolvePackageDependencies elsewhere: https://github.com/dotnet/cli/blob/6f5d38734b15f78a96446717dcd54ba78bc9934f/build/MSBuildExtensions.targets#

[2019-07-23 23:00] #2421 closed

[2019-07-23 23:05] dsplaisted commented on #3449
@mdjaniga Would it be possible for you to [share a binary log](http://aka.ms/binlog) of the build which is generating the incorrect output?  If you can provide a repro project that would also work.

[2019-07-23 23:08] nguerrera commented on #2400
Fixed by #3406, we now supply a built-in RID graph to NuGet.

[2019-07-23 23:08] #2400 closed

[2019-07-23 23:09] nguerrera commented on #2780
Yes, fixed by #3327

[2019-07-23 23:09] #2780 closed

[2019-07-23 23:13] nguerrera commented on #840
I don't think we should do this. I think we can leave .NET Framework alone. The RID inference is complicated enough there.

[2019-07-23 23:14] #840 closed

[2019-07-23 23:17] nguerrera commented on #2100
FYI, @drewnoakes. Some meeting notes on how to speed up dependencies node and not use the slow design time targets. Seems there would be some SDK work. I forget all the details here, but I will defer to project system to drive which release we'll do this and what changes are neeeded on our side. Moving to backlog in the meantime.

[2019-07-23 23:20] nguerrera commented on #732
No clue how this only impacts @dsplaisted, but at the end of the day, al.exe is never getting fixed. The real fix is https://github.com/microsoft/msbuild/issues/350.

[2019-07-23 23:20] #732 closed

[2019-07-23 23:22] nguerrera commented on #879
These projects are no longer supported, so we won't fix this.

[2019-07-23 23:22] #879 closed

[2019-07-23 23:36] jzabroski commented on #933
@peterhuene Is the milestone on this issue correct? When/how can I take advantage of this?

[2019-07-23 23:44] drewnoakes commented on #2100
@nguerrera thanks. We have a similar issue in https://github.com/dotnet/project-system/issues/3435 to track the project system side of things. It's on the radar.

[2019-07-23 23:59] #2697 closed

[2019-07-24 00:00] dsplaisted commented on #3366
This should be fixed for the latest preview 8 builds

[2019-07-24 00:00] #3366 closed

[2019-07-24 00:14] vatsan-madhavan opened #3450 "WPF for VB build failed with error BC2017: could not find library 'Microsoft.VisualBasic.dll'"
@YunWeiaa commented on [Tue Jul 23 2019](https://github.com/dotnet/wpf/issues/1346)

* .NET Core Version: 3.0.100-preview8-013392
[code]
* Windows version: windows 10 1809 17763.437

 **Problem description:**
 Create a WPF app via CLI. Build
[code]

 **Actual behavior:**
 Dotnet build failed with error BC2017: could not find library 'Microsoft.VisualBasic.dll'
![image](https://user-images.githubus

[2019-07-24 00:15] vatsan-madhavan commented on #3450
@KathleenDollard, @jmarolf and I noticed this while onboarding WPF project templates for user-control and custom-control. Now we also have a customer report.

Looks like the latest preview8 SDK generates errors while building, whereas earlier preview7 builds worked ok.

[2019-07-24 00:16] nguerrera commented on #1227
The issue is that we do not look at ProjectFileDependencyGroup.FrameworkName here:

https://github.com/dotnet/sdk/blob/7ee4c2a2f657081262140e7c863641e979bb1c06/src/Tasks/Microsoft.NET.Build.Tasks/LockFileExtensions.cs#L92

We should only be adding the one's that have a FrameworkName matching the target framework of the current of the inner build.

The result for the specific repro steps here, is t

[2019-07-24 00:18] nguerrera commented on #1227
I moved this out of 3.0 to backlog as the case this covers is actually relatively obscure where you have a direct reference in one tfm, and an indirect in another.

There's also some risk to making a change to reference resolution at this stage of 3.0.

[2019-07-24 00:58] dsplaisted commented on #3286
@davkean I'd suspect it was fixed with #3268.

[2019-07-24 01:05] peterhuene commented on #933
With a 3.0 SDK (including preview7 that came out today), we're now copying the assets locally for build like we would for a publish.  It should happen automatically (can be opted out of with setting `CopyLocalLockFileAssemblies` to `false`).

[2019-07-24 01:26] #3168 closed

[2019-07-24 02:28] livarcocc commented on #3450
@nguerrera can you take a look?

[2019-07-24 02:42] livarcocc commented on #3432
I disagree in making this breaking change for one kind of project but not for others. I believe differences like that make reasoning about the different project types harder.

There is a property to opt-out of this behavior if someone wants to, but at that point they made that decision explicitly.

Other than that, when you are moving to .net core, this is one of the differences you will have to l

[2019-07-24 03:29] nguerrera commented on #3450
Yes, I'll take a look

[2019-07-24 03:38] Nirmal4G commented on #3432
It's okay, but to me understanding this change was natural and easy.

You have been targeting one framework (.NET or Silverlight), so you know there was no subfolder under which the build outputs. Then you begin to multi-target, it becomes clear, you need a subfolder with each framework you're targeting.

This was similar to AnyCPU vs CPU specific (x86, x64, etc...) subfolders. If it was CPU speci

[2019-07-24 04:26] nguerrera commented on #3450
The issue is with the WPF temporary project compilation. It doesn't run ResolveAssemblyReferences, it generates a list of hard-coded ReferencePath in the temporary project. My target that finds the VB runtime among ReferencePath doesn't run and so the /vbruntime argument is not passed to the compiler. I will have to tweak how that target is scheduled.

[2019-07-24 05:14] livarcocc commented on #3432
This is not just a matter of where in the release you filled the issue. I disagree with the proposed change as a principal. I believe there is more value in having all projects, irrespective of type, behave the same in this regards rather than have to say how each one behaves differently. One is simply much easier to explain as there is a clear pattern than the other. Even though I appreciate it i

[2019-07-24 06:49] YohDeadfall opened #3451 "Incorrect link to SDK in the repo description"
Probably it was changed some time ago, since it leads to an example now. The right URL is https://dotnet.microsoft.com/download.

[2019-07-24 10:14] Nirmal4G commented on #3432
So, will you be looking to change the behavior of appending the `Platform` and `RuntimeIdentifier` to the `*OutputPath` in the future, to align more closely with the behavior of appending the `TargetFramework`?

And what happens if there were no framework to target? Will it replaced with `TargetRuntime` or `RuntimeIdentifier` or just a default string (say `dotnet`)?

[2019-07-24 10:19] KexyBiscuit opened #3452 "Error MSB4044 occurs while building UWP app with the latest SDK"
[code]

[code]

[2019-07-24 11:21] springy76 commented on #3186
@livarcocc I moved the files to local libs folder (pulled by git module) and now it works. BTW: dotnet.exe also failed badly searching the LocalBaml4Csv.targets file somewhere below c:\program files\dotnet\sdk\3.0.....

[2019-07-24 14:41] RusKnyaz commented on #826
I have exactly the same problem. I have the old configuration with ubuntu, where mono is installed and everything is going well without any tricks. But on the new desktop with the latest versions of the platforms I have the mentioned problem. Why installed mono can not be used to build .NET framework targets?

[2019-07-24 14:46] RusKnyaz commented on #826
I solved the issue by installing the Mono and configuring cli with command:
export FrameworkPathOverride=/usr/lib/mono/4.7.2-api

[2019-07-24 14:46] bruno-garcia commented on #826
ReferenceAssemblies are available on nuget.org now. You can add it like this:

` <PackageReference Include="Microsoft.NETFramework.ReferenceAssemblies" Version="1.0.0-preview.2" PrivateAssets="All" />`

[2019-07-24 16:19] livarcocc commented on #3452
This SDK is not produced out of this repo nor owned by our team. I am not sure who is responsible for it.

[2019-07-24 16:19] #3452 closed

[2019-07-24 16:21] livarcocc commented on #3451
Where are you seeing the download link above?

[2019-07-24 17:47] livarcocc commented on #3432
The `RuntimeIdentifier` is already appended to the `OutputPath` when one is specified. Note though that this is only true when `RuntimeIdentifier` is specified, not the plural version of it. When the plural version is used, it is used by restore to make all the packages you need available during one single restore, but during build you need to specify one to trigger the build to happen for that RI

[2019-07-24 17:59] YohDeadfall commented on #3451
In the repo description, in the header:

![Screenshot](https://user-images.githubusercontent.com/10694013/61816865-dde90580-ae55-11e9-84eb-175a49aca8d1.png)

[2019-07-24 21:46] wli3 opened #3458 "Need to port changes after Microsoft.NET.HostModel.AppHost is created"
https://github.com/dotnet/sdk/pull/3427
https://github.com/dotnet/sdk/pull/3310

@peterhuene @swaroop-sridhar

I will send PR to core-setup. https://github.com/dotnet/sdk/pull/3447 is blocked by this

[2019-07-24 21:55] davkean commented on #3438
We can use it for desktop, assuming you won't return < .NET Framework 3.0 for WPF/WInForms? It would be great if you return all of the TFMs from all frameworks so that we can switch between .NET Framework -> .NET Core as we've had quite a few bugs on this.

[2019-07-24 21:59] nguerrera commented on #3438
@davkean OK, we can add supported .NET Framework TFMs with the same pattern and WindowsDesktop can remove accordingly there too.

So you're good with this plan?

[2019-07-24 22:00] davkean commented on #3438
Yep, does this overlap with the existing infrastructure we already use to retrieve the frameworks?

[2019-07-24 22:02] vatsan-madhavan commented on #3438
Why not WinForms?

[2019-07-24 22:02] davkean commented on #3438
WinForms is supported on 2.0.

[2019-07-24 22:04] vatsan-madhavan commented on #3438
Ah, got it. We have the right rules in place for WinForms for that in WindowsDesktop SDK.

@nguerrera We should see if we can do this correctly for WindowsDesktop.WindowsForms (netfx 2.0+) vs. WindowsDesktop.WPF vs. WindowsDesktop (same as WPF).

[2019-07-25 00:33] nguerrera commented on #2660
I was staring at some code I'm changing and wondering if it would do this, then I remembered I'd read a bug about it. :)

[2019-07-25 05:44] Nirmal4G commented on #3432
I'm sorry, I meant `RuntimeIdentifier` to `PublishDir`. Anyway I understand what you mean.

[2019-07-25 05:44] Nirmal4G commented on #3432
https://github.com/dotnet/sdk/blob/3078929ecbe4df57dbb8fe30b875c6d524334970/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DefaultOutputPaths.targets#L33-L34

https://github.com/dotnet/sdk/blob/3078929ecbe4df57dbb8fe30b875c6d524334970/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DefaultOutputPaths.targets#L39-L40

As you can see, the `Platform` is ignored when it's `AnyCPU`

[2019-07-25 05:46] Nirmal4G commented on #3432
https://github.com/dotnet/sdk/blob/3078929ecbe4df57dbb8fe30b875c6d524334970/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DefaultOutputPaths.targets#L33-L34

https://github.com/dotnet/sdk/blob/3078929ecbe4df57dbb8fe30b875c6d524334970/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DefaultOutputPaths.targets#L39-L40

As you can see, the `Platform` is ignored when it's `AnyCPU`

[2019-07-25 06:11] Nirmal4G commented on #3432
#### [Introducing .NET 5](https://devblogs.microsoft.com/dotnet/introducing-net-5/)

The only reason `TargetFramework` was there because of the set of libs we need to target, ensuring lock-in with the Framework and Runtime implementation so that a library targets a particualar framework (along with a particluar runtime) does not run on the other implementations.

#### [With .NET 5](https://www.you

[2019-07-25 13:44] #3450 closed

[2019-07-25 16:05] zhosn commented on #3329
@ amh1979 Hi，What is the position of the above conditions to Microsoft.NET.Sdk.TargetingPackResolution.targets? Thanks!

[2019-07-25 18:57] asklar opened #3462 "App manifest needed to specify maxTestedVersion for hosting xaml but .NETCore 3 doesn't pick up the manifest"
I have a .netcore3 [console] app in the form of a DLL, which uses the uap xaml APIs that allow creating xaml objects, etc (Windows.UI.Xaml.Hosting, etc.).

When I run the app, I get an exception:
Unhandled Exception: System.Exception: Catastrophic failure

WindowsXamlManager and DesktopWindowXamlSource are supported for apps targeting Windows version 10.0.18226.0 and later.  Please check either th

[2019-07-25 19:21] livarcocc commented on #3462
cc @nguerrera

[2019-07-25 19:26] wli3 opened #10396 "official documentation for DotNetCliToolReference netcoreapp2.2 cap"

[2019-07-25 19:27] nguerrera commented on #3462
cc @jeffschwMSFT @vitek-karas @peterhuene

Are you setting UseAppHost=false? The manifest will be copied to the apphost EXE otherwise. It is not possible to honor a manifest if the app is activated using `dotnet app.dll`, you will need to use the apphost exe to launch the app.

If that's not it, can you supply a small project that reproduces the issue?

[2019-07-25 19:38] #3409 closed

[2019-07-25 20:17] asklar commented on #3462
I'm not able to find any msdn docs on UseAppHost but I was not setting it in my csproj file.
I tried setting it, rebuilt, and it's still building a dll…

[code]

[2019-07-25 20:26] jeffschwMSFT commented on #3462
@asklar <UseAppHost>true</UseAppHost> is what you are looking for to enable this scenario (the default in 3 is true).  What are the contents of your output directory when this is set to true?

[2019-07-25 20:30] asklar commented on #3462
interesting. When I set it to true, dotnet build says it built a DLL but the build directory shows both a DLL and an EXE.
Running the EXE displays this message:
The application has failed to start because its side-by-side configuration is incorrect. Please see the application event log or use the command-line sxstrace.exe tool for more detail.

[2019-07-25 20:32] jeffschwMSFT commented on #3462
I feel this means we are heading in a good direction.  Can you verify if the side-by-side manigest in the apphost is valid?  It is possible that it was merged incorrectly.

[2019-07-25 22:00] asklar commented on #3462
d'oh, I was missing a closing > in my </application> close tag.
It seems like there's no XML/manifest validation that gets run as part of dotnet build, I'd expect it to do so though.

[2019-07-25 22:21] jeffschwMSFT commented on #3462
I am happy to hear that things are going well.  I'll loop @nguerrera back in on thoughts on if this could be validated in some way.

[2019-07-25 23:00] nguerrera commented on #3462
We don't really know anything about manifest, roslyn embeds it as a win32 resource and then we copy all the win32 resources to apphost. I think the validation here is exactly the same as you would get in a .NET Framework project. If we wanted to validate, I think the analysis would go in the compiler so that it applied to all projects, not just .NET Core.

Also just want to reiterate that UseAppHo

[2019-07-25 23:00] #3462 closed

[2019-07-25 23:57] livarcocc commented on #3432
If `TargetFramework` becomes optional, we would consider changing how things work for `OutputPath`. But we will not look into changing `OutputPath` at this point based on the possibility that `TargetFramework` will change.

Based on that and the other discussions on this issue, we have no plans to change how `AppendTargetFramework` works today or the defaults to `OutputPath`. Again, if something d

[2019-07-25 23:57] #3432 closed

[2019-07-25 23:58] livarcocc commented on #3451
I don't believe that's necessarily the wrong link though. From there you can get to the download link. I would you expect that to be a download link rather than some more instructional material?

[2019-07-26 00:46] wli3 commented on #3365
@pranavkm could you try again with the latest SDK. https://github.com/dotnet/sdk/pull/3255 is fixed.

I am using preview 7. I can no longer repro

![image](https://user-images.githubusercontent.com/6993335/61917900-17784a00-af04-11e9-8c4a-a0208bd9d41f.png)

[2019-07-26 00:57] wli3 commented on #3365
hm... seems like I need to run build first. Or it will fail

[2019-07-26 01:00] dsplaisted commented on #2933
Looking back at this, I don't think we need the platform manifest for runtime packs, as the runtime list provides the same information.

[2019-07-26 01:18] wli3 commented on #3367
Essentially regressed that https://github.com/NuGet/Home/issues/7801

[2019-07-26 04:58] #3337 closed

[2019-07-26 06:04] Nirmal4G commented on #3432
That I got it, breaking change and all. I thought you would be willing to change it for the Desktop SDK, since it is for windows only and the path would match older projects. That would lead to confusion as well.

**Anyway, thanks for listening**. I also found that Desktop SDK is in WPF repo. It's just that changing some _bad_ behaviors and keeping my own changes is in separate SDKs is a major pai

[2019-07-26 06:10] Nirmal4G commented on #3432
Then, Can you keep it open until .NET 5 SDK design is made final?

[2019-07-26 06:42] YohDeadfall commented on #3451
I fixed it in two places in the Core CLR repo, and this one looks wrong too, but maybe was correct some time ago. When an user visit this repo he probably wants to contribute or understand how it works, so a basic example isn't the right thing to point out to an experienced guy. Maybe it makes sense to change the link to the main .NET page (https://dot.net or https://dotnet.microsoft.com).

[2019-07-26 15:30] buckstephenh opened #3465 "/usr/local/share/dotnet/sdk/3.0.100-preview7-012821/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Publish.targets(801,5): error MSB4018: System.ArgumentException: Invalid input specification: Found multiple entries with the same BundleRelativePath"
/usr/local/share/dotnet/sdk/3.0.100-preview7-012821/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Publish.targets(801,5): error MSB4018: System.ArgumentException: Invalid input specification: Found multiple entries with the same BundleRelativePath

Because there are no specifics in the error message about the actual multiple entries I'm not sure where to look.

[2019-07-26 16:58] livarcocc commented on #3465
Can you share a repro of this or share the contents of your csproj file? This is not much for us to go on!

[2019-07-26 17:37] livarcocc commented on #3432
I would rather not. Like I said, we would look into this if TargetFrameworks change anyways and we would change this for that. We would not change this independently.

[2019-07-26 17:57] buckstephenh commented on #3465
Right which is why the error message needs to be amended to include the multiple entries discovered.  Will try to narrow the problem into a repro.

[2019-07-26 21:05] xt0rted opened #3469 "appsettings files aren't included in publish folder when using PublishSingleFile"
I'm testing out the `/p:PublishSingleFile=true` option and it's working well so far, but my `appsettings.json` doesn't get included in the publish folder. If I don't use `PublishSingleFile=true` then the file does get copied to the publish folder.

I'm using the following to publish:

[code]

In my `.csproj` I have the following but it doesn't seem to have an effect when `PublishSingleFile=true`:

[2019-07-26 21:31] #3362 closed

[2019-07-26 23:30] wli3 opened #3471 "Cannot run pack when GeneratePackageOnBuild is true"
Create a console app. Set GeneratePackageOnBuild=true. Run `dotnet pack`. This bug as there since 2.0

[code]

[2019-07-26 23:59] livarcocc commented on #3469
@nguerrera @fadimounir can you take a look at this?

[2019-07-27 00:01] livarcocc commented on #3451
There is more detail on the readme below. I find the dot.net links to be far too generic to be a link from this repo. They don't even close on .NET Core, which is what this repo is about.

[2019-07-27 00:18] sbomer opened #3472 "RID-specific restore of console app installs AspNetCore runtime"
Maybe this is the intended behavior, but I didn't expect this:
[code]

Additionally, if my nuget.config doesn't have the asp.net feeds listed at https://github.com/dotnet/core-sdk, I get a failure:
[code]
[code]

[2019-07-27 04:15] DanVicarel commented on #3299
I would also love to see an `InternalsVisibleTo` MSBuild property out of the box.  The [`AssemblyAttribute` technique](https://stackoverflow.com/questions/42810705/visual-studio-2017-and-the-new-csproj-internalsvisibleto/49978185#49978185) that @ggirard07 mentioned is pretty slick, but it quickly becomes clumsy if internals need to be visible to multiple projects. Likewise, the [`targets` file](ht

[2019-07-27 05:14] YohDeadfall commented on #3451
What's a reason of having any link which doesn't suit well?

[2019-07-27 06:12] livarcocc commented on #3472
This is indeed expected. When you ask for a RID, we install the packages for all shared frameworks for that RID.

The restore failure will go away once we release the packages to NuGet.org.

[2019-07-27 06:12] #3472 closed

[2019-07-27 21:45] Doggie52 commented on #2682
Seeing the same as everyone else, publishing to `linux-x64` on a Windows 10 machine. I have two projects in the solution, and only one is set to output `Exe` - the other is `Library`.

Same solution as @donaldgray - had to apply it to both projects.

[2019-07-29 17:13] jonmill commented on #3465
@livarcocc, @buckstephenh - I hit this too and have a full repro available here: https://github.com/jonmill/bundle-repro

Repro instructions:

1) Clone repro
2) run `yarn install`
3) run `yarn build`
4) run `dotnet publish -c Release -r linux-x64 /p:PublishSingleFile=true --self-contained`

[2019-07-29 17:17] jonmill commented on #3465
@livarcocc - I minimized the repro as much as possible from our production code. The repro project is a .NET core project and a React project. I stripped out all JS and C# code and just have the Node dependencies and .NET dependencies without any custom code.

[2019-07-29 21:11] #3458 closed

[2019-07-29 21:51] buckstephenh commented on #3465
Another one.. https://stackoverflow.com/questions/57224961/error-publishing-with-ppublishsinglefile-true-flag

[2019-07-29 21:53] fadimounir commented on #3469
cc @swaroop-sridhar

@xt0rted I think the json file does get included, but not in the publish folder, rather in the bundled single file (your large app.exe file after publishing). @swaroop-sridhar can confirm and help out with single file issues

[2019-07-29 22:51] wli3 commented on #3023
RunCommand is fixed by https://github.com/dotnet/sdk/pull/3212

But there is still a bug on due to lack of an apphost during build, PE bits do not takes effect during debug(works after install and run the app).

Talked to @nguerrera, we think a better solution is to generate apphost during build, but does not pack it

[2019-07-29 22:56] nguerrera commented on #3023
I actually would have expected debug to work, but use dotnet app.dll. This would still be bad, it would not respect the win32 manifest, but we should investigate why that wasn't the symptom to make sure there aren't other consequences. UseAppHost=false is still a vaild thing. F5 should work on that. It is probably an msbuild timing thing with when PackAsTool was doing it, but we should be sure the

[2019-07-29 22:58] nguerrera commented on #3023
Oh, nevermind, we fixed the part where it wouldn't run at all in #3212.

[2019-07-30 00:09] #3471 closed

[2019-07-30 09:41] mcartoixa opened #3485 "When using custom $(BaseIntermediateOutputPath) the build still picks files from obj/"
I like to customize `$(BaseIntermediateOutputPath)` on my build servers to a centralized location so that I am very sure to start from fresh (just delete the folder and there you go).
On a development machine, Visual Studio generates files (e.g. `AssemblyInfo.cs`) in the default folder, (`obj/`, inside the project folder). When trying the build server script, it regenerates those files in the cust

[2019-07-30 11:39] dasMulli commented on #3485
Does your .gitignore exclude obj/ files? Are there files checked into source control?

If `obj` is not the base intermediate output path, i'd argue that the SDK should consider it for default items, especially if there are files checked into source control.
I don't think hardcoding a list of special directory and file names isn't a good practice. The web SDK does so for a few things where it is ab

[2019-07-30 12:05] mcartoixa commented on #3485
@dasMulli In my case those files are excluded. But developers cannot test the server build because Visual Studio generates them and they conflict with the ones generated by the server build.

[2019-07-30 14:21] JohanLarsson opened #3489 "Pack when referencing Microsoft.CodeAnalysis.CSharp generates exclude="Build,Analyzers""
Repro steps:

1. New project:
[code]

2. Build in VS
3. Check created package.

[code]

I tried `<PackageReference Include="Microsoft.CodeAnalysis.CSharp" Version="2.3.1" PrivateAssets="none"/>` but it did not have any effect.

Is there a way to pack this so that analyzers are not excluded?
Is there documentation about this?

[2019-07-30 14:40] JohanLarsson opened #3490 "Pack without explicit NETStandard.Library dependency"
Repro steps:
1. New project:
[code]

2. Build in VS
3. Inspect package:

[code]

[2019-07-30 14:42] livarcocc commented on #3485
cc @dsplaisted to take a look.

It does feel somewhat corner case.

[2019-07-30 14:43] livarcocc commented on #3489
@nkolev92

[2019-07-30 14:44] livarcocc commented on #3490
@JohanLarsson what is your expectation for this scenario?

[2019-07-30 14:46] JohanLarsson commented on #3490
I'm trying to pack without `<dependency id="NETStandard.Library" version="1.6.1" exclude="Build,Analyzers" />` in created package.
From what I read `<PackageReference Update="NETStandard.Library" PrivateAssets="all" />` is meant for that use case.

[2019-07-30 15:17] jnm2 commented on #3490
`<PackageReference Update="NETStandard.Library" PrivateAssets="all" />` was what I asked about in https://github.com/dotnet/standard/issues/601 for .NET Standard 1.x projects in order to forgo supporting VS2015-no-build-extensions and suppress the `<dependency>` element.

I remember it working at one point.

[2019-07-30 17:19] nkolev92 commented on #3489
Hmm, I just tested your scenario and it worked for me.

This is the nuspec generated (note I used the project template for dotnet new classlib)

[code]

Also note that there's some issues with analyzers and transitive flow (the fact that you can't prevent them to flow). https://github.com/NuGet/Home/issues/6279

[2019-07-30 17:41] JohanLarsson commented on #3489
I'm using VS latest. Not sure about sdk version, ist that `dotnet --version`?.

Why not use the included sample?

This is for a helper library for writing analyzers.

[2019-07-30 17:41] jnm2 commented on #3489
@nkolev92 Your nuspec has `.NETStandard2.0` and Johan's has `.NETStandard1.3`

[2019-07-30 17:51] nkolev92 commented on #3489
The exact repro didn't matter in my case:

Here's the generated nuspec.

[code]

I'll do some digging to see if I can figure out the scenario in which it ends up not working.

It'd be helpful if you can provide us the assets file right before you pack.

[2019-07-30 17:52] JohanLarsson commented on #3489
[Here is the full sln](https://github.com/GuOrg/Gu.Roslyn.Asserts/tree/3f940b6bfbe3febc30e40e1cf91d6dadd1fbdee7)

[2019-07-30 17:56] JohanLarsson commented on #3489
[code]

[2019-07-30 17:57] jnm2 commented on #3489
Could there be a difference where `<GeneratePackageOnBuild>` and building from VS does something different than `dotnet pack`?

[2019-07-30 17:58] JohanLarsson commented on #3489
Is there a commandline way of `dotnet pack` and specifying langversion?

[2019-07-30 18:31] dsplaisted commented on #3485
Can you customize `BaseIntermediateOutputPath` for both the build servers as well as the development machine?  That's what we do in this repo, for example, everything goes in the `artifacts` folder at the root of the repo.

[2019-07-30 19:35] nkolev92 commented on #3489
I downloaded the repro from @JohanLarsson and I added the reference to Gu.Roslyn.Asserts.Analyzers.

You are using paket in that project. So when you run dotnet pack you are actually invoking their pack, so not sure what's happening there.

Am I missing something maybe?

[2019-07-30 19:54] JohanLarsson commented on #3489
Oh, is paket still around, maybe that explains it then. Converted to nuget a couple of commits ago but maybe I dumbed it.

[2019-07-30 19:57] JohanLarsson commented on #3489
But I still got what is in the original issue when creating a new project that should not have traces of paket.

[2019-07-30 20:40] nkolev92 commented on #3489
I tried in VS and I didn't see any issues.

Do you have restore enabled in Visual Studio?
https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore-troubleshooting#quick-solution-for-visual-studio-users

[2019-07-30 20:41] JohanLarsson commented on #3489
How does restore settings affect pack?

[2019-07-30 21:13] zmhh commented on #2253
If you are still getting a version mismatch error after applying the above fix, and if you get NETSDK1061 error when specifying a specific Microsoft.AspNetCore.App version, try adding the following to the project:

<TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>

[2019-07-30 21:28] jnm2 commented on #3489
I get the same result as Johan. Create a csproj with the contents he specified above (or extract this if it's easier:
[repro.zip](https://github.com/dotnet/sdk/files/3448921/repro.zip)), double-click the csproj to open in VS 16.2.0, build the solution in VS, open `bin\Debug\repro.0.1.0-dev.nupkg` in 7-zip or equivalent, and see this in the nuspec:

[code]

[code]

[2019-07-30 21:32] jnm2 commented on #3489
`dotnet pack` also produces identical nuspec dependencies with this csproj:

[code]

[2019-07-30 21:38] jnm2 commented on #3489
I used `dotnet new globaljson --sdk-version 2.1.801` and still get the same `exclude="Build,Analyzers"`

[2019-07-30 21:49] nkolev92 commented on #3489
@jnm2

If this is the project spec:

[code]
then the following nuspec:

[code]
is expected.

The PrivateAssets default value is build analyzers and contentfiles see: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

You need to put PrivateAssets="None" to make it pack as intended.

[2019-07-30 21:51] jnm2 commented on #3489
Aha, that's where it's documented! I was trying to find something at https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets. This seems fine so long as it can be overridden.

[2019-07-30 21:55] jnm2 commented on #3489
@JohanLarsson So if I follow the steps with `<PackageReference Include="Microsoft.CodeAnalysis.CSharp" Version="2.3.1" PrivateAssets="none"/>`, I get the proper `<dependency id="Microsoft.CodeAnalysis.CSharp" version="2.3.1" include="All" />`.

Can you try again?

[2019-07-30 21:57] JohanLarsson commented on #3489
I still get
[code]

Using:
[code]

Maybe I need to do close VS & `git clean -dxf`?
Testing in an empty project first.

[2019-07-30 22:02] JohanLarsson commented on #3489
Worked as expected when creating a new project.

[code]

Produced:

[code]

[2019-07-30 22:07] JohanLarsson commented on #3489
Worked for real project after close VS and git clean.

[2019-07-30 22:16] JohanLarsson commented on #3489
Confirmed it using empty project
- Adding or removing `PrivateAssets="none"` does not change the produced package.
-  `dotnet restore` does not change the produced package.
- Deleting `obj` makes change in ` PrivateAssets="none"` take effect.

[2019-07-30 22:18] #3489 closed

[2019-07-30 22:18] jnm2 commented on #3489
MSBuild pack target incremental build probably isn't taking the csproj file date into account? I'm pretty sure I've seen that myself.

[2019-07-30 22:19] nkolev92 commented on #3489
The pack target depends on restore, but it wouldn't run restore if it's out of date.

[2019-07-30 22:21] jnm2 commented on #3489
Could anything be done to improve the situation though, repeated csproj edits + pack?

[2019-07-30 22:22] JohanLarsson commented on #3489
Yes, it would be preferable if `pack` uses what is currently in the `csproj`. So easy to forget a git clean.

[2019-07-30 22:56] davidmatson opened #3492 "When using new-style csproj with .NET Framework, the default TargetPlatform is x86 rather than AnyCPU"
**Visual Studio Version**:
2019 (16.2.0)

**Summary**:
When using the new-style (CPS?) csproj but targeting .NET Framework, the default TargetPlatform is differe than either .NET Core or old-style .NET Framework csprojs (x86 rather than AnyCPU).

**Steps to Reproduce**:

1. File -> New -> Project -> .NET Core exe

2. Unload the csproj and replace the target framework line with: ```<TargetFramework

[2019-07-31 00:29] swaroop-sridhar commented on #3469
@xt0rted:

`CopyToPublishDirectory` setting determines the set of files to be published (the name is a bit misleading in the context of SingleFile publish.

Of these files, only those marked `ExcludeFromSingleFile` are left behind in the publish directory, and the rest are bundled into the single-file app.

When the single-file app is run, the settings file is extracted next to the `app.dll` (in `

[2019-07-31 01:57] xt0rted commented on #3469
The functionality is a bit confusing then. How would you bundle the settings files so they're editable? I'm storing api settings that can, and will, change after deployment so I need to be able to edit what's in the `appsettings.json` whenever these change.

This console app is being installed as a windows service so I'll have multiple copies running that have different config settings. Even if I

[2019-07-31 02:36] nguerrera commented on #3469
The "workaround” looks fine and supported for that.

[2019-07-31 04:01] #3469 closed

[2019-07-31 05:48] ghost opened #10401 "Integrate Xamarin.Android project"
Is it possible to integrate Xamarin.Android project with .NET CLI ?
So that we can use .NET CLI to create and build Xamarin.Android project.

[2019-07-31 08:15] mcartoixa commented on #3485
@dsplaisted As I said I already have a workaround for this. Customizing `BaseIntermediateOutputPath` by project is indeed another possibility, but:

- it requires editing the `*.csproj` manually, which I tend to do as little as possible.
- it requires changing the developers habits with Visual Studio (more documentation).

I would rather provide this property (and others) externally during _the bu

[2019-07-31 10:24] mcartoixa commented on #3485
BTW (this may be another issue) if I build a project with dependencies (instead of a solution, e.g. because of https://github.com/Microsoft/vstest/issues/411) it seems to me that the dependencies will not pick this property (and probably others): they will restore and build in `obj\`.

[2019-07-31 10:44] dasMulli commented on #3485
This is what [Directory.Build.props](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2019#directorybuildprops-and-directorybuildtargets) is now for - making it easy to apply configuration to multiple projects at once without editing a lot.

E.g. a file like this
[code]
Would redirect the output of all the project files in subdirectories.

Changing the build infra

[2019-07-31 16:26] ferdaarikan commented on #826
I tried @bruno-garcia's suggestion and works for me. I can compile the projects targeting .net 4.7 on linux.

[2019-07-31 19:41] swaroop-sridhar commented on #3469
@xt0rted the publish settings provide the building blocks to either include or exclude a file from the single-file. In this case, `ExcludeFromSingleFile=true` is the correct setting for `appsettings.json`. I only meant to say that there may be additional work on behalf of the app (in general) due to the fact that the file is next to the single-file and not the app.dll. Thanks.

[2019-07-31 21:17] nguerrera opened #3495 "Inclusion of runtime graph for all TFMs causes existing .NET Framework projects to turn x86"
So, it seems that giving the runtime graph to nuget for all TFMs is actually a pretty severe breaking change for .NET Framework in some cases.

Roslyn builds with preview 8 (maybe 7, not sure when the rid graph change landed) will switch the .NET Framework csc.exe, vbc.exe, VBCSCompiler.exe to x86 from Any CPU.

This happens because they have a ref to Microsoft.DiasymReader.Native which has runtim

[2019-07-31 21:18] nguerrera commented on #3495
Change in behavior came with https://github.com/dotnet/sdk/pull/3406

[2019-07-31 22:40] bergbria commented on #3383
@nkolev92 / @rrelyea / @livarcocc - what's the state of this bug? Is there any rough timeline or line of sight on a fix?

My team needs to use lock files for compliance and other reasons. We'd really like to support cross-platform development as well but are currently blocked by this.

Given that lock files and the RuntimeIdentifiers property are both first-class citizens in modern .NET authoring,

[2019-07-31 23:14] sebastienros opened #3496 "ResolveAssemblyReference returns 3.0 assemblies when 5.0 is requested"
I have a project where I try to use the latest 5.0 branded aspnet core. I use a `FrameworkReference` update to do so. The machine has the latest sdk (5.0.x) and the latest aspnet core shared runtimes 3.0.x and 5.0.x.

At compilation I get this:

[code]

The .binlog shows that `ResolveAssemblyReference` is returning these conflicting assemblies where it should instead pick them from the 5.0.x folde

[2019-07-31 23:46] livarcocc commented on #3496
Support for 5.0 is really limited right now. We are still trying to wrap up 3.0.

Having said that, @dsplaisted can you help @sebastienros in manually targeting his project to 5.0?

[2019-08-01 14:20] mcartoixa commented on #3485
@dasMulli Thanks I will try that.
**TL;DR** I still see it as a workaround though. You used to be able to customize the build by providing those properties dynamically. This is no longer the case. I guess it is fine if it is on purpose.

As for the _devops_ thing, if we manage to agree on the principles (tough already in general) it may still translate differently for different teams. My experienc

[2019-08-01 15:09] nguerrera opened #10403 "SDK resolver does not work with snap installations of SDK on Linux"
See https://github.com/OmniSharp/omnisharp-vscode/issues/3160

When installed via snap:

[code]

Then `dotnet` on PATH resolves to a realpath of /usr/bin/snap and not to a dotnet executable next to the sdk foler.

This breaks an assumption of the resolver that we can use realpath on dotnet on PATH to find the SDK.

We could maybe implement something like the much slower option of shelling out to d

[2019-08-02 16:23] ericstj commented on #3044
+1 on this, still getting customer reports of this issue.  I thought we agreed to fix this by bringing in the empty packages?  Now I see you've linked this to a NuGet feature to dummy out packages.  Would love that feature, don't get me wrong, but we asked for the same thing in 2.0 and didn't get it (and thus we have conflict resolution).  What's your plan to solve this problem in **3.0**.   This

[2019-08-02 20:20] nguerrera opened #3499 "Redundant PackageName and NuGetPackageId metadata"
There's a mix of checking PackageName and NuGetPackageId in the targets and now we seem to be setting both all the time in ResolvePackageAssets.

I actually trimmed down the metadata in 2.1 to stop doing this, but it crept back in c7549ffe

[2019-08-02 23:50] nkolev92 commented on #3489
Pack burns in the restored versions of packages, not the requested ones.
So it's by design right now.

Pack also doesn't run build if it's out of date. I see restore as the same thing.

Note that even if pack were to do an up to date restore check, it'd then need to run an up to date build check.

I'm not saying it'll never ever change or something like that, I just don't see any immediate changes

[2019-08-03 05:42] nguerrera commented on #2410
This is fixed. We handle 2.1 as a framework reference separately.

[2019-08-03 05:42] #2410 closed

[2019-08-03 21:53] nguerrera commented on #3496
Look at what I did here: https://github.com/aspnet/EntityFramework6/pull/1109

Also, I've started fixing the lowest hanging fruits to getting proper 5.0 support here: https://github.com/dotnet/core-sdk/pull/3741

As Livar said, this isn't high priority right now as 3.0 is still wrapping up. I've done both of these things after hours. I'm going to close this. The project attached is not expected to

[2019-08-03 21:53] #3496 closed

[2019-08-03 21:55] nguerrera commented on #3496
Ugh, this seems new. I've had binlogs attached fine without shenanigans like this in the past. I missed these instructions at first.

[2019-08-03 22:06] nguerrera commented on #3490
This is likely caused by having moved the implict references to a CollectPackageReferences target. @dsplaisted. I think the workaround would now have to include a target, and it gets messy as Update doesn't work in targets and you have to use a harder to read Condition. Maybe we should have a property for this.

[2019-08-03 22:33] nguerrera commented on #3044
It is worth noting that the experience regresses when retargeting to 3.0, but does not break without project changes. We hold this distinction in mind strongly. We do reserve the right to require additional steps upon retargeting. Just like the runtime does not guarantee that apps will work 100% of the time on roll forward or retargeting.

That doesn't turn out to work. We have to know when to pul

[2019-08-03 22:34] nguerrera commented on #3044
cc @rrelyea @nkolev92

[2019-08-04 20:17] nguerrera opened #3504 "Defensively set DisableSdkPath=true for non .NET framework VB projects"
Generally, this is benign, because we pass VBRuntime which will override the SDK path, but if there is a bug or other misconfiguration, the compiler will try to locate the SDK Path using the current runtime. This causes it to try to use Microsoft.VisualBasic.dll from the .NET framework while building against core, and leads to confounding errors such as

[code]

Without the fix for https://github.

[2019-08-05 03:23] wli3 commented on #3365
duplicated. prefer https://github.com/dotnet/sdk/issues/3367

[2019-08-05 03:23] #3365 closed

[2019-08-05 09:22] Sonkkorh commented on #747
add to csproj
    <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
after
<TargetFramework>netstandard2.0</TargetFramework>
may be it hepls

or try change
<TargetFramework>netstandard2.0</TargetFramework>
to
<TargetFrameworks>netstandard2.0;net472</TargetFrameworks>
net472 = .NET Framework 4.7.2 change to your .NET Framework version

[2019-08-05 17:56] sebastienros commented on #3496
@nguerrera

![image](https://user-images.githubusercontent.com/1165805/62484604-65484a00-b76f-11e9-9de9-16033a0e8eff.png)

I will try to blindly use a `netcoreapp5.0` and see if that helps. I already have `<NETCoreAppMaximumVersion>99.9</NETCoreAppMaximumVersion>` in my project to prevent the sdk from validating it. It might solve my issue. And I will take a look at your example too.

[2019-08-05 19:08] StanislavChankovSellerCloud commented on #3329
3.0.0-preview7 - Same issue, same Fix

[2019-08-05 19:08] StanislavChankovSellerCloud commented on #3329
3.0.0-preview7 - Same issue, same Fix

[2019-08-05 21:39] wli3 opened #3508 "Warning from RAR with hint path has extra new line"
Given a hint path has extra new line. On full msbuild it will have warning:

[code]

- [x] Check if 16.2 has the same warning, the message might be different
- [ ] core does not have that error, why?

[code]

[2019-08-05 21:39] wli3 commented on #3508
@nguerrera  @rainersigwald  @BenVillalobos

[2019-08-05 21:48] fadimounir opened #3510 "Double writes on publish, causes R2R task failure"
I don't know if this is related to #3257, but I was able to repro this issue again using the latest Preview9 bits (8e9948a3b768811ca5b3a666ff06207a16be69ec, 3.0.100-preview9-013692).

Here's the repro:
1) clone https://github.com/aspnet/Benchmarks (commit hash for repro: 3ddf6558ec4d3636dc8fec4f0c142834ffa38bf5)
2) dotnet publish  -f netcoreapp3.0 -r win-x64 -v n src\BenchmarksServer  /bl

There a

[2019-08-05 21:48] fadimounir commented on #3510
[doublewrites.zip](https://github.com/dotnet/sdk/files/3469529/doublewrites.zip)

Binlog attached

[2019-08-05 21:50] fadimounir commented on #3510
@nguerrera
cc @sbomer @sergiy-k

[2019-08-06 00:58] amh1979 commented on #3329
your project file, such as: .csproj, .vbproj

[2019-08-06 02:54] davkean commented on #3438
What's the state of this? Is this ready to be consumed?

[2019-08-06 03:54] nguerrera commented on #3438
Not yet. We have approval to go ahead. I'm a bit slammed on more critical issues. @livarcocc can you possibly see if someone else can pick this up?

[2019-08-06 14:31] MisinformedDNA opened #10409 "Feature request: Add ability to build solution filter"
In VS2019 we are able to create solution filters of file type *.slnf. It would be great if we could build these file types at the command line (i.e. `dotnet build [solution].slnf`).

I can see this as beneficial in CI workflows where only the selected projects need to be built. I could just use SLN files, but then I would ditch SLNF files as I don't want to maintain two solutions.

## Environment

[2019-08-06 16:50] fadimounir commented on #3510
@nguerrera is there a way to change the targets file somehow to split these identical entries into separate task items? Or maybe we can change the R2R task to take an array of ITaskItems as input to handle such cases?
I'm just trying to think of a way to harden the R2R task to not fail because of other random bugs that we can surface in other places

[2019-08-06 16:59] nguerrera commented on #3510
We should probably have a hard error on duplicate files to publish pre-crossgen. That would surface the errors without blaming R2R. I'm reluctant to make it so that everything needs to be hardened against bugs.

[2019-08-06 17:08] nguerrera commented on #3510
The issue in this case is that the Microsoft.Diagnnostics.Tracing.TraceEvent copies files out from under nuget resolution:

[code]

[2019-08-06 17:10] nguerrera commented on #3510
If it's going to do this, it should not put the dlls in lib\ folders, then that duplicates the nuget resolution. This is a bug in the traceevent package.

[2019-08-06 17:17] nguerrera commented on #3510
My proposal would be to deduce resolvedfiletopublish pre-Crossgen,bundler,linker with last one wins to preserve same output as today. And warn if any dupes are removed. Any warning would still be a bug, but not blocking, and come to us rather than you.

[2019-08-06 17:29] fadimounir commented on #3510
@brianrob can you or someone on your team take a look at this issue with this package?

[2019-08-06 17:31] nguerrera commented on #3510
With the pending fix for #3109, crossgen would not see this nor would the linker. But the bundler would. That is because we would not pass arbitrary copy local files along, only ones that came from NuGet or ResolveAssemblyReference.

[2019-08-06 17:35] brianrob commented on #3510
Can I get a bit more clarity on what the bug is in TraceEvent and what the recommended fix looks like?  I don't think I know enough about what's happening here to know what's wrong and what the right course of action is.  Thanks.

[2019-08-06 18:02] eiriktsarpalis opened #10411 "Disabling first run welcome message?"
Is there a good way to completely disable the first time user notice when installing a new version of the SDK? Looking at the code, it seems that it can only be done by creating the appropriate [`dotnetFirstTimeUseSentinel`](https://github.com/dotnet/cli/blob/143a75dcacfbcc3665d9bbfa54d14217ce3e0ab3/src/Microsoft.DotNet.Configurer/FirstTimeUseNoticeSentinel.cs#L13) file.

There should be an easier

[2019-08-06 18:30] wli3 commented on #3508
How to get a 16.2 VS? 16.1 RAR does not have any warning

![image](https://user-images.githubusercontent.com/6993335/62566340-9727e200-b83d-11e9-8fc5-ea2190bb5caf.png)

[2019-08-06 18:32] rainersigwald commented on #3508
@wli3 16.2 is live to the public right now, so you should be able to just install from https://visualstudio.microsoft.com/.

[2019-08-06 18:36] nguerrera commented on #3508
Hmm I could swear I saw a warning on 16.1. Possibly difference in repro I tried.

[2019-08-06 18:38] nguerrera commented on #3508
Hmm, maybe I got the path wrong. Looking at screenshot looks like my attempted repro. I got “not found” maybe it was just pointing to wrong place and not just due to white space. In that case, it seems there was a regression in 16.2

[2019-08-06 18:51] dsplaisted commented on #3490
I'm not able to repro this with preview 8 (3.0.100-preview8-013651).  The implicit PackageReferences for NETStandard.Library and Microsoft.NETCore.App are still added during evaluation.

[2019-08-06 18:54] peterhuene commented on #2989
@livarcocc can I get a bar check on this?

I think to properly address this issue we would have to stop using memory mapped I/O in the `HostWriter` (now in core-setup) and either pollute the LOH with the apphost's contents or use an incremental search for the path marker.

Both seem like pretty risky changes for 3.0 P9.  This affects users that are building on a filesystem that can't support share

[2019-08-06 20:09] #3023 closed

[2019-08-06 20:09] #3367 closed

[2019-08-06 22:22] vatsan-madhavan opened #3512 "Theme assemblies cannot be referenced from XAML in latest SDK"
@vatsan-madhavan commented on [Tue Aug 06 2019](https://github.com/dotnet/wpf/issues/1552)

This is related to #765, which primarily deals with the inability to reference theme assemblies for consumption in C#/VB etc. code.

In recent preview8 builds, XAML like this no longer builds because the WPF theme assembles are no longer referenced by default by `Microsoft.WindowsDesktop`.

[code]

Given th

[2019-08-07 17:54] wli3 commented on #3508
verified. it is a regression in 16.2 . the (same) error message is

[code]

What's next? Do we want to keep investigate? It is shipped, and seems so far no complain.

![image](https://user-images.githubusercontent.com/6993335/62645715-a3757300-b901-11e9-99b7-baba456d9540.png)

[2019-08-07 18:03] nguerrera commented on #3508
Given that the original report was on a customer project, I think we should consider fixing the regression in 16.3. We know there are projects in the wild like this.

[2019-08-07 18:26] rainersigwald commented on #3508
I agree.

[2019-08-07 19:22] peterhuene commented on #3438
I'll go ahead with implementing this.

[2019-08-07 19:34] peterhuene commented on #3438
I assume WPF would want this in their props:

[code]

[2019-08-07 20:07] nguerrera commented on #3387
Unfortunately VB "My" will not work in 3.0 after all. Some types like "Computer" are being removed from corefx in order to be able to find an appropriate higher level where they can finish their implementation with dependencies that are higher than the base shared framework (winforms).

This means that we have to default MyType to Empty and the build will fail if you try to set it to something els

[2019-08-07 20:53] wli3 commented on #3508
relate to this change? https://github.com/microsoft/msbuild/pull/4414/files

[2019-08-07 21:13] peterhuene commented on #3438
I've created PR #3516 for the SDK side of the changes.

[2019-08-07 22:04] rainersigwald commented on #3508
Probably! We should move this to MSBuild and validate.

[2019-08-07 22:20] vatsan-madhavan commented on #3438
Nice!

We have to obviously wait until an SDK containing this change flows into dotnet/wpf - which can be a few hours or a few days...

[2019-08-07 22:25] peterhuene commented on #3438
I've verified my suggestion for the Windows Desktop props above with VS.  With both the SDK change and that one, Visual Studio only shows netcoreapp3.0 in the drop down.

[2019-08-07 22:31] nguerrera commented on #3438
There was some discussion of adding supported .NET Framework to this above. But given that VS doesn't use that today, I think it is fine to do later. Should we open a separate issue to track that?

[2019-08-07 22:33] peterhuene commented on #3438
Ah I missed that part.  I can add that to this change now rather than deferring that work.

Do we have a list of the expected supported .NET Framework TFMs?

[2019-08-07 22:33] wli3 commented on #3508
This issue was moved to microsoft/msbuild#4593

[2019-08-07 22:33] #3508 closed

[2019-08-07 22:35] nguerrera commented on #3438
I don't know. I'm pretty sure older ones and client platform don't work. @dsplaisted Do we have a list?

[2019-08-07 22:35] nguerrera commented on #3438
I'm guessing we should use the same set as what was used for the full framework targeting packs as nupkgs? Where is that?

[2019-08-08 00:38] vatsan-madhavan commented on #3438
For WPF and WinForms, the .NET Framework support list can be found indirectly at https://github.com/dotnet/wpf/blob/8a234021a4e697f7e4999c282bde42d2473131f0/packaging/Microsoft.NET.Sdk.WindowsDesktop/targets/Microsoft.NET.Sdk.WindowsDesktop.props#L77.

In short,

- **WPF**: .NET Framework 3.0+
- **WinForms**: .NET Framework 3.0 +

The exact reference set varies from net30, net35 to net40, net45 et

[2019-08-08 07:54] jwfx opened #10415 "Publishing a solution and publishing a project yields different results"
## Steps to reproduce
Using this project here: https://github.com/jwfx/TestApp

Publish the solution:
`D:\downloads\TestApp-master>dotnet publish -o d:\publishcsproj -c Release -r linux-x64 --self-contained true`

Publish the TestApp project:
`D:\downloads\TestApp-master\TestApp>dotnet publish -o d:\publishcsproj -c Release -r linux-x64 --self-contained true`

## Expected  behavior
Both publish fo

[2019-08-08 18:40] peterhuene commented on #3438
@nguerrera @dsplaisted I couldn't find references to any enumeration of valid .NET Framework target framework values in sdk/core-sdk.  It seems if we can't locate the reference assemblies we just fail with `The reference assemblies for .NETFramework,Version=vX.Y.Z were not found.`.

[2019-08-08 18:50] peterhuene commented on #3438
Should I just add the corresponding TF values for https://dotnet.microsoft.com/download/dotnet-framework?

[2019-08-08 19:27] vatsan-madhavan commented on #3438
I have a PR out at https://github.com/dotnet/wpf/pull/1578. We will deal with netfx in another round... I don't want to hold the immediately-useful part of the work for the maybe-useful-in-the-future part of the work :-D

[2019-08-08 19:30] peterhuene commented on #3438
@nguerrera I've pushed https://github.com/dotnet/sdk/pull/3516/commits/13ab14b9d38b7be19ac59e650d8ed9b5abd28dc7 to the PR.  If that's not what we want, I'll delete the commit.

[2019-08-08 20:45] vatsan-madhavan commented on #3438
We should have 3.0 too, right?

[2019-08-08 20:47] vatsan-madhavan commented on #3438
3.5 and 4.0 had Client Profile IIRC; is there a way to represent those? Does it matter?

[2019-08-08 20:48] peterhuene commented on #3438
It doesn't appear in the project properties currently when I switch a .NET Core project to a .NET Framework TFM.  Starts with 3.5.

Only 4.0 shows as "client profile" in the drop down.  I don't think we represent it in the target framework, but perhaps it should be in the display name?

[2019-08-08 20:49] nguerrera commented on #3438
It doesn't work, but there was net40-client in NuGet. I would exclude it. I think it's ok to exclude some things that can be made to work with some workarounds and only show the things that will actually work when you pick them.

[2019-08-08 21:05] peterhuene commented on #3438
@nguerrera should we take the additional .NET Framework values commit in the SDK PR?  Any requested changes (perhaps "client profile" in the 4.0 display name to match the project system)?

[2019-08-08 21:05] nguerrera commented on #3438
I think this may depend on what you have installed?

I get this:

![image](https://user-images.githubusercontent.com/75470/62737793-92059700-b9e5-11e9-899c-0e7cdd129c82.png)

[2019-08-08 21:06] peterhuene commented on #3438
Doh, that makes sense.  How far back does the rabbit hole go?

[2019-08-08 21:07] nguerrera commented on #3438
The only versions I know of that are not in my screenshot are 1.0, 1.1, and 4.8. I think we can ignore 1.x for sure.

The client profiles don't work, so let's definitely exclude those.

If I pick them:
[code]

[2019-08-08 21:08] peterhuene commented on #3438
Ok, I'll add 3.0 then and we'll not add any client profile versions.

[2019-08-08 21:09] vatsan-madhavan commented on #3438
https://support.microsoft.com/en-us/help/17455/lifecycle-faq-net-framework

netfx 2.0 is the oldest supported value. My 2c - I don’t think we should consider something older than even that.

[2019-08-08 21:12] peterhuene commented on #3438
Amended with https://github.com/dotnet/sdk/pull/3516/commits/9a2c0c5a64c7203b82a21eaadeb85e6622e990bc.

[2019-08-08 21:34] dsplaisted commented on #3438
Currently the dropdown is at least partially based on what targeting packs you have installed (there are no targeting packs for .NET 2.0 and 3.5 though).  I think the static list you currently have is fine though, and will be better once we update the SDK to implicitly reference the targeting pack NuGet packages as needed.

[2019-08-08 21:42] nguerrera commented on #3438
When this is in, can you file an issue on dotnet/project-system to actually consume the .NET Framework supported list?

[2019-08-08 21:43] vatsan-madhavan commented on #3438
I updated https://github.com/dotnet/wpf/pull/1578 to incorporate netfx tfm exclusions as well.

[2019-08-08 22:13] JustArchi commented on #3383
@bergbria not sure whether this will help your use case or not, but for my project I've declared `<TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>` globally in `<PropertyGroup>`, so the restore restores exactly the same version as publishing would. With that I'm using exactly the same publishing process in my CI, by calling a single `dotnet restore` then `dotnet publish --no-restore` for

[2019-08-09 00:34] peterhuene commented on #3438
I've merged #3516 for the SDK side of the fix.

[2019-08-09 00:34] #3438 closed

[2019-08-09 17:49] nguerrera commented on #1004
The plan is still for sdk to merge with CLI, and tracked elsewhere.

[2019-08-09 17:49] #1004 closed

[2019-08-09 18:18] eerhardt commented on #3044
I hit this today upgrading ML.NET to 3.0.  Restoring this project:

[code]
with the 3.0.100-preview8-013437 SDK results in:

[code]

If I literally change any line in the .csproj, it works:
* change TFM to netcoreapp2.1 - works
* remove RuntimeIdentifier - works
* remove either PackageReference - works

I think many people are going to run into this issue and we should strongly consider getting so

[2019-08-09 18:24] nguerrera commented on #3044
We need https://github.com/NuGet/Home/issues/7344 to fix this. As I said, there has been some data gathering suggesting that could be deferred based on this being not common.

We included that feature request from the beginning of the FrameworkReference work. We tried some workarounds in the SDK and none of them work.

cc @rrelyea The recent uptick in reports on this seems to go against the data g

[2019-08-10 21:05] wli3 opened #3522 "Skip instead of Trim() if there a newline in conflict resolution"
To align the behavior with RAR https://github.com/microsoft/msbuild/pull/4598

[2019-08-11 18:49] mwpowellhtx commented on #2487
@rainersigwald A more practical question, IYP, ***when*** are the dependencies generated during the build process? Which target(s)? Thank you...

[2019-08-11 19:28] mwpowellhtx commented on #2487
@rainersigwald I've got a *BumpAssemblyVersions* that is processing the project file during the build, for both *single-* as well as *cross-targeted* projects. I get the following sort of output:

[code]

Dependencies appear to be resolved a couple of times during that build. I just need to know when they would be available, ostensibly they are already available if I install a *Build Dependency* f

[2019-08-11 19:46] mwpowellhtx commented on #2487
@rainersigwald I will try that, I think. `ResolveReferences` appears to be the target I need, also `Condition`´ed upon whether the *.deps.json* file exists. Although, we think perhaps this is the bottom line, we need to resolved references, or rather references to have been resolved, just prior to packaging. Which does depend on the dependencies file existing at that point.

[code]

[2019-08-12 12:38] tastimur commented on #747
It worked for me.

[2019-08-12 15:17] rainersigwald commented on #2487
@mwpowellhtx This is not a good idea. MSBuild caches the contents of project files during the build and will not behave as you want it to if part of the build modifies projects. That is also why you cannot build successfully with `/t:Restore;Build` and have to use `/restore /t:Build`.

[2019-08-12 17:58] mwpowellhtx commented on #2487
@rainersigwald OT for the post. Do you have a [better idea](/mwpowellhtx/BumpAssemblyVersions/issues)?

[2019-08-12 19:44] mwpowellhtx commented on #2487
Most of the *.deps.json* file is fairly self-explanatory, and we could probably work with much of it. Except in a couple of instances, is there documentation on what each of the aspects means?

* `libraries.**.serviceable`: Specifically whether the reference `IsTool` or `PrivateAssets="all"`, along these lines?

[2019-08-14 02:42] davidwengier commented on #2532
Ran into this today, stuck between the rock-and-a-hard-place of having to implement behaviour like `System.Resources.ResourceFallbackManager` with `EmbeddedResource` items. I can either use the workaround @nguerrera posted (thank you!) or I can use satellite assemblies which means repeatedly calling `assembly.GetSatelliteAssembly` with different cultures until one doesn't throw, which is not great

[2019-08-14 03:05] DefenceAquireSustain commented on #2977
Just had the same issue updating to latest. Lesson, don't update!

![image](https://user-images.githubusercontent.com/42796561/62991711-4b9bb680-be83-11e9-9635-29f5baeff440.png)

[2019-08-14 11:33] vitek-karas commented on #3361
The RID graph generation for `Microsoft.NETCore.App` is done in https://github.com/dotnet/core-setup/blob/78ceba2f4147bb8976fb1858aa50f7da50166b54/tools-local/tasks/ProcessSharedFrameworkDeps.cs#L56. It uses NuGet to process the various `runtime.json` files involved and then it filters the graph to RIDs for the current platform (windows, linux, ...).

Ideally we would share the code somehow betwee

[2019-08-14 12:02] vitek-karas commented on #3339
Potential solution could be:
* Each referenced framework in a self-contained app is added to the `.deps.json` as a runtimepack dependency.
* Each runtimepack is added as a library with the `runtimepack` type
* We could extend the library for type `runtimepack` to contain `frameworkName` property. The SDK when it builds this has the information (each `RuntimePack` has a metadata `FrameworkName` and

[2019-08-14 14:45] cston commented on #3387
@nguerrera, see https://github.com/dotnet/winforms/issues/1632.

[2019-08-14 15:09] nathan-alden-hp commented on #2513
I just ran into this with a .NET Core 3.0 plugin system I'm working on. Two versions of `System.Management.dll` get deployed in my plugin: one is in the same directory as the plugin assembly and one is in `runtimes\win\lib\netcoreapp2.0`.

[2019-08-14 17:01] stuarth-inova commented on #3159
I know this is closed - but I am having this problem now on a Xamarin project, all of a sudden, and installing the latest is not a great option at the moment. Where do I put this code?

<DepsFileGenerationMode>old</DepsFileGenerationMode>

[2019-08-14 21:09] dsplaisted commented on #3495
@nguerrera @livarcocc Are we planning to fix this for 3.0?

[2019-08-14 22:16] nguerrera commented on #3495
I think we should if at all possible.

[2019-08-15 00:36] livarcocc commented on #3495
Do we have a fix in mind? If so, let's try to get this in.

[2019-08-15 07:02] nzdudeinsydney commented on #3124
Qualys reports two separate vulnerabilities that are present on the system when Microsoft .NET Core SDK - 2.1.202 (x64) is installed:

QID 91515: A tampering vulnerability exists in the NuGet Package Manager for Linux and Mac that could allow an authenticated attacker to modify a NuGet packages folder structure.
QID 91531: A denial of service vulnerability exists when .NET Framework or .NET Core i

[2019-08-15 08:08] mitsuakiwatanabe commented on #2977
@DefenceAquireSustain I had the same problem. but I read [this news](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/) and solved it.

[2019-08-15 15:56] vitek-karas opened #3541 "Write framework references for self-contained apps"
### Problem
This is continuation of issue originally described in dotnet/core-setup#7610 and the SDK counterpart to dotnet/core-setup#7732.
When the native host loads a .NET Core component into already running .NET Core app, it tries to validate that the component's framework references can be satisfied by the app. In order to do this it needs to know which frameworks the app is using. For framewo

[2019-08-15 17:01] nguerrera commented on #3124
.NET Core SDK 2.1.202 is is the last version that carried a .NET Core 2.0.x runtime (it was during a transition period in version numbers where the runtime and sdk major and minor didn't match.) .NET Core 2.0 is end-of-life.

Do you have .NET Core 2.0 component(s) selected in the VS installer? Try to  eliminate those.

Starting in 16.3 we've reduced this coupling of runtimes and SDKs. VS will give

[2019-08-15 17:15] #2513 closed

[2019-08-16 01:30] #3504 closed

[2019-08-16 01:31] nguerrera commented on #3504
Fixed by #3513

[2019-08-16 15:15] mhsimkin opened #3545 "NETDSK1005 Error when building solution with two projects"
I'm receiving the infamous:

when I try to build a solution that contains two projects.  One project is targeting .Net 472 and the other .Net Standard 2.  Both projects use the same physical folder since they are building the same code.

`Aside: As much as I would like to multi-target in one file, I needed two nupkgs because of the order of precedence of when matching which to my target.`

I get t

[2019-08-16 16:56] livarcocc commented on #3545
Can you confirm that the project.assets.json is being generated in a folder specific to your project instead of the common one?

This is not a really common scenario and short of a workaround, this will not be at the top of our priority list. Sorry.

[2019-08-16 17:55] nguerrera commented on #3510
Consider silently handling the case of dupes with same source and destination path (after path normalization), and not warning based on discussion in https://github.com/dotnet/core-setup/issues/7746

[2019-08-16 18:46] mhsimkin commented on #3545
@livarcocc both projects are compiling into the same $(ProjectDir)\obj folder. They are not unique to each.

Understood about priority.  I have already figured out a work around by calling MSBuild 4 times.

Do you know anything about the Visual Studio Shared Project template?  Would that resolve the issue?

[2019-08-16 20:28] livarcocc commented on #3545
It is possible the problem is because you are restoring/compiling to the same folder. Maybe I don't understand your scenario enough, but I would recommend not doing that.

About the shared project, sorry, I am not super familiar with it.

[2019-08-16 22:08] mhsimkin commented on #3545
@livarcocc, yes I suspect that is the issue.

It looks like the Shared Project template will resolve my issue.

For those that come later. Read the "[Shared Projects code sharing](https://docs.microsoft.com/en-us/xamarin/cross-platform/app-fundamentals/shared-projects?tabs=windows)" document under the Xamarin Cross Platform section.

Instead of using Android and iOS projects, you can use .NET Stan

[2019-08-16 22:08] #3545 closed

[2019-08-19 14:45] vitek-karas commented on #3541
Proposed fix in https://github.com/vitek-karas/sdk/tree/IncludedFrameworks - can't really implement it fully as it needs to target netcoreapp3.1 and above, which doesn't exist yet.

[2019-08-19 19:00] Phyyl commented on #2511
I would also love to know if there are any developments on this. If I can be of any help too!

[2019-08-19 19:47] wli3 commented on #3522
@dotnet/dotnet-cli @nguerrera this is a regression in at least from 2.X and there is no user visible bug yet. I will move it to 5.0

[2019-08-19 20:08] nguerrera opened #3547 "non-embedded comreference does not show up in deps file, throws FileNotFoundException at runtime"

[2019-08-19 20:09] nguerrera opened #3548 "Linker cannot remove user non-framework, non-package references from deps file"

[2019-08-19 21:38] rainersigwald opened #3549 "End-to-end tests for resx scenarios"
There are a variety of resource scenarios that would be well-suited to having small end-to-end tests that build a resource-using project and run it to validate that the resource is handled correctly in the build and available at runtime.

Related MSBuild PRs that should be mined for test data: microsoft/msbuild#4607, microsoft/msbuild#4638, microsoft/msbuild#4588, microsoft/msbuild#4637.

[2019-08-19 23:15] bergbria commented on #3383
@nkolev92 / @rrelyea / @livarcocc - ping on my previous question about timeline/prioritization.

@JustArchi - thanks for info on the workaround! I don't think it will be sufficient for my team, though.

[2019-08-20 06:17] WeihanLi commented on #3299
any plan for this feature?

[2019-08-20 11:48] largwid opened #3551 "$(IntermediateOutputPath) and $(TargetName) evaluates blank while setting up a PropertyGroup in CSproj SDK-format"
**Visual Studio Version**: v15.9.15

**Summary**:
Trying to migrate csproj's to the New SKD project-format, in a complex .NET solution with multiple target files called during the build. The targets calling $(IntermediateOutputPath) and $(TargetName) works, but after migration the macro returns empty

**Steps to Reproduce**:

1. In Csproj file add a PropertyGroup with the following:

[code]
The ru

[2019-08-20 12:18] davkean commented on #3551
I've moved this to the SDK repo.

[2019-08-20 18:03] nguerrera commented on #3512
This is fixed.

[2019-08-20 18:03] #3512 closed

[2019-08-20 18:22] #3495 closed

[2019-08-20 18:38] livarcocc commented on #3551
@dsplaisted can you take a look?

[2019-08-20 19:43] Varorbc opened #3553 "build and generate package fail"
**Version Used**: 3.0.100-preview8-013656

###  Question 1

**Steps to Reproduce**:

1. Directory.Build.props

[code]

2. ClassLibrary1.csproj

[code]

3. dotnet build ClassLibrary1.csproj

**Expected Behavior**: build successful

**Actual Behavior**:`C:\Program Files\dotnet\sdk\3.0.100-preview8-013656\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(234,5): error NETSD

[2019-08-20 20:43] dsplaisted commented on #3551
The `IntermediateOutputPath` property is set in .targets files which are evaluated after the body of the project file.  So this property is not set when the body of the project file is evaluated.  If you were to move the `PropertyGroup` inside the `MyProp` target, then you would get the value of the property (as targets run after evaluation).

The difference with non sdk-style projects is that the

[2019-08-21 09:34] largwid commented on #3551
@dsplaisted

Thank you for the response, but the `MyProp` target ?

Sorry for my ignorance.

I can't find any documentation around that. And if I just add a target with that name I can't see that it is running.

Could you please elaborate a little further?

[2019-08-21 09:52] v-yuyul opened #10447 "Update the error info under Entity Framework Migrations section in Publish Settings."
Copied from bug [899200](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/899200).
## Steps to reproduce

1. New Project > ASP.NET Core Web Application >.NET Core 3.0 ~ Web Application With Ind Auth > Create
2. Right click the project > Publish > Create Profile > Select WTE Subscription > Select existing or new resource group/Plan > Create a SQL Database, select exisitng or new Database Serv

[2019-08-21 14:15] am11 opened #10449 "dotnet-publish with --use-current-rid or --infer-rid option"
At present:

[code]

throws error:

which requires a fix like:

[code]

It is fairly a common usecase to publish an app for platform with same RID as host.

However, the error is good to keep it an explicit and conscious decision of user; instead of falling back to some default value.

Please add `--use-current-rid` or `--infer-rid` option for automation and documentation convenience.

This way us

[2019-08-21 14:34] dsplaisted commented on #3551
In your steps to reproduce you have a `MyProp` target:

[code]

That's what I was referring to.  But it's not specific to that Target, the property will be set inside any Target that runs.

[2019-08-21 18:19] tgeng commented on #1764
We are having this same issue with a VSIX extension project that has some template projects (which does not generate dll as outputp). Basically we have three projects with dependencies like the following.

  unit test -> VSIX project -> template project

The VSIX project builds fine but the unit test project does not build because it wants a dll file from the template project.

[2019-08-21 18:22] johnbeisner opened #10450 "The install scripts rely on a failure to download as a normal procedure"
The install scripts rely on a failure to download as a normal procedure.

The 'primary' blob storage location is tried
    if the download fails
The 'legacy' blob storage location is tried

This can be confusing to users as they see an 'error' in a successful process.

**Proposal:**
1. Maintain a hint path table with presedential ordering
2. Perform a 'lookup' first before trying a download [retry

[2019-08-22 07:20] largwid commented on #3551
@dsplaisted  Thanks

[2019-08-22 07:20] #3551 closed

[2019-08-22 09:06] codeinstinct opened #10451 "Feature request: Flutter cli like "doctor" command"
It would be helpful for beginners and intermediates to get started with the dotnet core ecosystem, if there was a utility like `dotnet doctor` (just like the one in the flutter cli) that could diagnose the dotnet setup on the machine and point out which dependency is out of place.

More points, if the dependency error could automatically get fixed or point the user to the most relevant step for th

[2019-08-22 14:55] ljmf00 commented on #2902
:+1:

[2019-08-22 19:00] kapilepatel opened #3563 ".NET Core SDK 2.2.108 does not work with Visual Studio 2017 version 15.9.13"
.NET Core SDK 2.2.108 does not work with Visual Studio 2017 version 15.9.13

Solved the issue by uninstalling all .NET Core versions and fresh install of .NET Core SDK Version 2.2.107
Find all versions here
https://dotnet.microsoft.com/download/dotnet-core/2.2

[2019-08-22 21:14] livarcocc commented on #3563
How is it failing for you? Could you provide some more details?

[2019-08-23 02:55] terrajobst commented on #3194
@ericstj is this still something we need to fix?

[2019-08-23 06:01] Sodoshi opened #3568 "Using aspnetcore3.0 in WindowsDesktop SDK"
Because of the changes to the HostBuilder in aspnetcore3 I want to update my embedded Kestrel, but if I switch to the WindowsDesktop SDK its not available, only aspnetcore 2.2. Is there any way to reference aspnetcore 3? (I'm using Kestrel as a TCP server in my Windows forms app)

[2019-08-23 11:37] dasMulli commented on #3568
You should be able to add a framework reference to asp.net core in your csproj file:

[code]

[2019-08-23 12:52] poakey commented on #1522
Will this be fixed any time soon?  I notice it's been "Urgent" for ~2 years.

[2019-08-23 14:57] ericstj commented on #1522
We've done some work in CoreFx to limit our use of reference assemblies, but that's just a bandaid.  Ultimately I think a better fix here is for the workflow xaml compiler to take a fix similar to what WPF did to the xaml compiler this release: stop using runtime reflection that loads reference assemblies for execution and switch to using MetadataLoadContext.  That would let the workflow compiler

[2019-08-23 15:40] ericstj commented on #3194
Reference the package NETStandard.Library 2.x.x to upgrade the old 1.x package which removes all the dependencies.

Alternatively we go back and service NETStandard.Library 1.x packages so that they know about netstandard2.0, then have the SDK reference a new 1.x package instead.  I'm not sure how that would be better, and in fact it requires more work (including servicing).

Then how do you *ever

[2019-08-23 16:03] nguerrera commented on #3194
Yes.

The move from 1.6.0 to 1.6.1 was quite painful. I can believe that going to 2.0 doesn't have the same class of issues, but that's why I'm reluctant.

[2019-08-23 16:07] nguerrera commented on #3194
(Maybe unpopular opinion, but I regret all implicit versioning. I wish that project files specified all versions and that we relied on features to tell you if you had insecure versions in your project files, and prompted you to upgrade. Even for self-contained apps.)

[2019-08-23 16:29] nguerrera commented on #3194
I agree here. I'm closing this since I haven't seen other reports and we can reopen if there are any. There are other more severe issues with the 1.6.1 reference, though. https://github.com/dotnet/sdk/issues/2261

It seems that fixing that would fix this, so I'll close and let the discussion of risk reward focus on the more severe issue.

Also, in past discussions, it seems we're ok bumping 2.0.x

[2019-08-23 16:29] #3194 closed

[2019-08-23 16:56] livarcocc commented on #3568
@Sodoshi @dasMulli's suggestion is the recommended way to do that.

[2019-08-23 17:03] #3568 closed

[2019-08-23 19:56] csarami commented on #1395
Same issue here!

[2019-08-27 11:36] Varorbc commented on #3553
@dsplaisted may you fix these two problems?

[2019-08-27 18:39] dasMulli commented on #3553
I think this is mostly an issue with NuGet.

I've been telling people not to use `TargetFramework` or `TargetFrameworks` inside `Directory.Build.props` files since they interfere with a lot of stuff - from VS' project system selection, conditional imports generated by NuGet to restore behaviour.

Setting both the singular and plural versions confuse targets about if it is a single-TFM project or a

[2019-08-27 19:14] livarcocc opened #3581 "symbols packages being generated empty"
We have turned off symbols package generation for now on this repo.

They were generating empty nupkgs and conflicting with the actual nupkgs when the sign tool was repackaging signing assemblies.

The fact that symbols are empty here are causing symbol checks to fail on VS insertions.

[2019-08-28 20:55] wli3 opened #10458 "Replace Debian Jessie build image"
Debian Jessie is out of support

[2019-08-28 22:29] olgaark opened #3585 "Microsoft.NET.Build.Extensions.Tasks.dll should not be loaded in devenv projecc during reference resolution for native vc projects"
The problem is found while investigating
VS Bug 973252: Perf: CPlusPlus_DDRIT.0900.Close Solution regressed VM_AdjustedImagesInMemory_Total_devenv by 2.000 Count (0.5%). Baseline 29226.70

Microsoft.NET.Build.Extensions.Tasks.dll is loaded by _HandlePackageFileConflicts target during

Target Name=ResolveAssemblyReferences Project=ConsoleApplication1.vcxproj  note that there is no assembly referen

[2019-08-28 23:08] #3265 closed

[2019-08-28 23:09] dsplaisted commented on #3011
I believe this is done

[2019-08-28 23:09] #3011 closed

[2019-08-28 23:17] dsplaisted commented on #2787
@johnbeisner  Let's try to add a test for this when we fix it.

[2019-08-29 06:38] AkosLukacs opened #3586 "FSharp - Compiler crashes if an anonymous record passed as obj argument"
The FSharp compiler's issue was reported FSharp repo: https://github.com/dotnet/fsharp/issues/6434, and is fixed, and does work with 3.0.100-preview8-013656.
But doesn't work with SDK 2.2.401, I guess the compiler fix isn't in 2.2.401. Do you plan on releasing new version for 2.2?

Repro:

[code]

# 2.2.401
Fails `error FS0192 : internal error : the anonymous record <>f__AnonymousType951611317`1'

[2019-08-29 08:24] PDostalek opened #3587 "[loc][Query][sdk] Localizability of "0; "FailedToDeleteApphost""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
NETSDK1111: Failed to delete output apphost: {0}

File Name:
Tasks\Common\Resources\xlf\Strings.xlf

==========================================
Query:
Would you please confirm if "apphost" can be translated?
What does the

[2019-08-29 17:00] livarcocc commented on #3585
@dsplaisted can you take a look?

[2019-08-29 17:05] #3586 closed

[2019-08-29 17:05] livarcocc commented on #3586
Issue moved to [dotnet/fsharp #7466](https://github.com/dotnet/fsharp/issues/7466) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-29 20:25] dasetser commented on #1522
@ericstj As Matt said, this is part of the .NET Framework. Since .NET Framework 4.8 is already released we don't have a release vehicle for a change like this. Unfortunately I don't think we'll be able to fix this at the WF XAML compiler level.

[2019-08-29 22:00] ericstj commented on #1522
You could port the WF XAML compiler to https://github.com/microsoft/msbuild just like other legacy tasks and targets that were burned into desktop.

[2019-08-29 23:30] arakis commented on #3055
It happens (to me, too, but only in the following situation:
- Having Repo in c:\users\user\projects
- Using Debian 10 from AppStore via "WSL"
- symlink /mnt/c/users/user/projects to ~/home/user/projet on debian-console
- Build the project using MONO (mono is using roslyn/msbuild). All works
- Build the same project on windows side with VS2019 (same dir): All Works
- Now Build project on Debian ag

[2019-08-29 23:57] arakis commented on #3055
Just a small hint: If using the way above, when some binaries are compiled on windows and some on debian, there can occur Path Errors. It seems, the binaries (cli-dll) differs in generation depending on which platform they are build. By the way, on Debian i use the optimization flag when running the app (`mono -O=all app.exe`). But this is regarding runtime. The bug we're talking about happens dur

[2019-08-29 23:57] livarcocc commented on #1522
Not sure I am supportive of that idea. I have been trying to avoid make the msbuild repo a place for these legacy task/targets, as the maintenance burden ends up landing on the msbuild team on the long term.

[2019-08-30 05:25] ericstj commented on #1522
My point is to illustrate that you don't need to update desktop in order to deliver fixes to the desktop build process.  Where the code lives is a detail, could be another repo, could be that UIPath/corewf might deliver the fix and some tactical extension points are added to the MSBuild targets that import desktop WF tasks to let them do so.  I bet this is going to matter when they start look at c

[2019-08-30 14:35] Const-me opened #3588 "MSBuild doesn’t define variables for .NET core?"
Using VS2017 15.9.5, building a class library for .NET core 2.2. Here’s the relevant XML from my .csproj file:

	<Project Sdk="Microsoft.NET.Sdk">
		<PropertyGroup>
			<TargetFramework>netcoreapp2.2</TargetFramework>

		</PropertyGroup>
		<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|AnyCPU'">
			<DocumentationFile>$(OutputPath)doc.xml</DocumentationFile>
		</PropertyGroup>

[2019-08-30 16:18] livarcocc commented on #3588
@dsplaisted can you help out?

[2019-08-30 16:32] dsplaisted commented on #3588
The `OutputPath` property isn't defined until after the body of your project is evaluated.  It's not possible to set it beforehand, as the output path depends on properties defined in your project file (such as the target framework).

It may have worked in non Sdk-style projects if you were putting the DocumentationFile after Microsoft.CSharp.targets was imported.

For Sdk-style projects, you can

[2019-08-30 16:34] dsplaisted commented on #3585
@olgaark Can you provide a sample VC project where this is occurring?  Thanks.

[2019-08-30 16:49] Const-me commented on #3588
@dsplaisted Thanks, appears to work OK. I’m happy with the default name + location of that XML. Here’s the project, BTW: https://github.com/Const-me/ComLightInterop

[2019-08-30 17:22] #3588 closed

[2019-08-30 20:12] mconnew commented on #1522
@ericstj, as I said earlier:

So you can fix the build system to use an OOB Xaml compiler all you like, that would only fix the build time errors. You still would fail with loading a Xaml workflow at runtime. As we have the rehostable Workflow Designer that someone can include in their application, it's a very legitimate and often used use case to have raw Xaml files to be compiled at runtime.

So

[2019-08-30 20:15] ericstj commented on #1522
It won't: runtime doesn't use reference assemblies.

You won't, at runtime you get runtime assemblies which can be loaded for execution.

[2019-09-01 17:54] #2769 closed

[2019-09-02 08:12] robertmclaws opened #10465 "dotnet restore wildcard exclusions"
When I call `dotnet pack`, I can have wildcard exclusions for the path. For example:
`**/*.csproj;!**/MyFramework.Templates.*.csproj;**/MyFramework.Templates.Package.csproj;`

The same is not true when I call `dotnet restore`. If I want projects with a certain set of criteria to be left out, I have to manually specify each project. That can get kinda bonkers on large projects.

If you folks could

[2019-09-02 10:50] alikarooni commented on #1038
Hello everyone, Anybody has any idea regard this :

Severity	Code	Description	Project	File	Line	Suppression State	Suppression State
Error	CS1705	Assembly 'PresentationFramework' with identity 'PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' uses 'System.Xml.ReaderWriter, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' which has a higher

[2019-09-02 15:43] AArnott commented on #3341
In my case I'm seeing the warning in a project the multi-targets. I only set `UseWPF` when targeting netcoreapp3.0 since of course that's the only TFM to which it applies. But I'm seeing the warning in other TFMs because the Sdk is of course not conditioned on the TFM.

[2019-09-02 15:46] AArnott commented on #3341
I'm using this to hide the warnings:
[code]

[2019-09-02 16:28] dasMulli opened #10466 "CLI experience for managing framework references"
Similar to managing references to NuGet packages and other projects (P2P references), the CLI should provide a mechanism to manage reference to frameworks.

Looking at a few 3.0 apps being built, I have seen horrible workarounds to make library projects trying to make use of types in the ASP.NET Core shared frameworks for creating separate projects for things like controllers for certain APIs, reu

[2019-09-02 17:46] gsantopaolo commented on #1408
@dsplaisted  do you know if there is any plan to support uap in TargetFrameworks?

[2019-09-03 17:16] dsplaisted commented on #1038
@alikarooni Please file a new issue for the error you're hitting.  If possible, please [provide a .binlog](http://aka.ms/binlog) of the failing build.  Otherwise a repro project will be very helpful.

[2019-09-03 22:12] ericstj commented on #1038
How are you using PresentationFramework from a netstandard2.1 project?  WPF is not supported on netstandard, only netcoreapp3.0.  I agree with @dsplaisted that a binlog should help demonstrate what's going on, alternatively an isolated repro.

[2019-09-04 00:28] AArnott opened #3592 "NETSDK1100 blocks building on Linux"
I have a test project which multi-targets between net472;netcoreapp2.1;netcoreapp3.0.
Only when targeting net472 or netcoreapp3.0 does it reference or use any WPF/WinForms types. Nevertheless, I have to set the SDK attribute to `Microsoft.NET.Sdk.WindowsDesktop` for this to work with netcoreapp3.0 at all, AFAIK.

This blocks the test project from building the `netcoreapp2.1` target on linux, which

[2019-09-04 12:55] AArnott opened #3593 "`dotnet test --blame` does not"
dotnet SDK version: 2.2.401

`dotnet test -f netcoreapp2.1 --no-build --blame`  should produce a `Sequence.xml` file while running tests so we can know what test was running at the time of a crash or hang. But it doesn't create this file.

[code]

Without this file, for async tests on linux it's impossible to know which test was running when the test runner hung.

[2019-09-04 18:24] livarcocc commented on #1408
No plans at the moment to support this.

[2019-09-04 18:27] livarcocc commented on #3592
Could you split your project? Blocking the usage of that SDK on non-windows platforms is very much by design for us.

We have no considered people multi-targeting with that SDK into older TFMs.

[2019-09-04 18:27] nguerrera commented on #3109
@dagood That makes sense. Your understanding is correct. Thanks.

[2019-09-04 18:30] nielscup commented on #3159
Same here, all newly created Xamarin.Forms projects have this issue. Where do we put this config?

[2019-09-04 18:30] livarcocc commented on #3593
This issue should be moved to microsoft/vstest.

Unfortunately, my mover is not working right now.

[2019-09-04 18:31] AArnott commented on #3592
I suppose I could split the project. But I'd sorely miss the virtues that multi-targeting projects brought by converging all those project-per-TFM that we used to see everywhere.

[2019-09-04 18:32] AArnott commented on #3592
Ah, but that only really solves the *test* project problem. I have exactly the same problem in the product project as well. And that project *packs* all the TFMs together. So splitting that project would require a great deal of effort to write a custom pack step since no one project could self-pack any more. :(

[2019-09-04 18:32] AArnott commented on #3593
OK, I'll move it.

[2019-09-04 18:33] AArnott commented on #3593
Moved to https://github.com/microsoft/vstest/issues/2154

[2019-09-04 18:33] #3593 closed

[2019-09-05 21:38] sebastienros opened #3599 "Latest SDK contains a netcoreapp3.0 ref pack for ASP.NET"
https://dotnetcli.azureedge.net/dotnet/Sdk/5.0.100-alpha1-014061/dotnet-sdk-5.0.100-alpha1-014061-win-x64.zip

![image](https://user-images.githubusercontent.com/1165805/64383979-c5d6db00-cfea-11e9-93a9-2477dac23095.png)

[2019-09-05 21:40] livarcocc commented on #3599
I don't believe asp.net has produced 5.0 assets yet. Please, file a bug on aspnet/aspnetcore for this.

[2019-09-05 21:47] JunTaoLuo commented on #3599
Actually I think this is due to the fact that core-sdk hasn't updated to our latest bits yet? I see that it's using something from 9 days ago: https://maestro-prod.westus2.cloudapp.azure.com/131/https:%2F%2Fgithub.com%2Fdotnet%2Fcore-sdk/latest/graph. I checked our latest build and it uses netcoreapp5.0 tfm.

[2019-09-05 22:28] sebastienros commented on #3599
cc @kouvel

[2019-09-06 18:42] RoyalMugu opened #3606 "In process hosting is not supported for AspNetCoreModule. Change the AspNetCoreModule to atleast AspNetCoreModuleV2."
I have created a Asp.net core web application. I am able to rebuild successfully but when I try to publish the solution to Azure App Service, I am getting the below error,
============================================================
The "TransformWebConfig" task failed unexpectedly.
System.Exception: In process hosting is not supported for AspNetCoreModule. Change the AspNetCoreModule to atleast A

[2019-09-06 20:41] mattleibow commented on #3376
I have been looking at this error for over a week now and I think the whole .NET Core thing is broken. I am using mono 5.20 and msbuild 16.0. The only version of .NET Core that works is the 2.2.1xx series.

So I figured that if I install .NET Core 2.2.107 (and only that) and set the global.json to 2.2.107, then it would work, right? Well no, I get this error:
[code]

So I tried a few things, still

[2019-09-06 20:53] mattleibow commented on #3376
Thanks @AndreyAkinshin for the info and link, I was able to resolve a few other errors to get me to this place.

[2019-09-06 23:07] KathleenDollard opened #10473 "--nologo incorrect/ugly in --help"
## Steps to reproduce
dotnet build -h
dotnet pack -h
possibly others

## Expected  behavior
--nologo

## Actual behavior
/nologo, --nologo

## Environment data
`dotnet --info` output:

/usr/local/share/dotnet/sdk $ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview9-014004
 Commit:    8e7ef240a5

Runtime Environment: (Preview 9)
 OS Name:     Mac OS X
 OS Version

[2019-09-07 18:24] mattleibow commented on #3376
I just noticed that I can't actually use a version number of 2.2.199 because then dotnet operations fail. Seems to work again if I use 2.2.108.1. I get a warning on macOS and Linux about the invalid version, but it still goes. Windows just works,  no warnings.

[2019-09-09 14:03] lg2de opened #3613 "SDK defined properties overwrites WarningsAsErrors on solution level"
The following statement is intended to define WarningsAsErrors for "NU1605" if not defined.

https://github.com/dotnet/sdk/blob/87f00dbd00e72ca5e3e42b2e1f7b553c2e2f4f32/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.CSharp.props#L19

But defining `<WarningsAsErrors />` at solution level (Directory.Build.props) may cause unexpected overwrite, e.g. in server (TFS) build:

[code]

Inst

[2019-09-09 15:05] lg2de commented on #3613
#1329 introduced this problem assuming that only an existing list of warnings is used.
It is not working for "all warnings as error".

The only work-around I found so far is: Specify `<WarningsAsErrors />` in each project explicitly. But I would like to ensure enabling it in ALL projects.

[2019-09-09 16:45] jkoritzinsky opened #3614 "5.0.100-alpha1-01483 SDK pulls down 3.0.0 preview 7 when netcoreapp3.0 tfm specified"
When building with the nightly 5.0.100-alpha1-01483 SDK and targeting netcoreapp3.0, the SDK will pull down 3.0.0 Preview 7 bits instead of newer previews.

This was initially discovered in https://github.com/dotnet/coreclr/issues/26578

That issue also has an MSBuild binlog that shows the issue (the `KnownFrameworkReference` for `Microsoft.NETCore.App` for tfm `netcoreapp3.0` has `PackageVersion=

[2019-09-09 18:41] livarcocc commented on #3606
@vijayrkn this seems like a web sdk issue. Can you move it to the web sdk repo?

[2019-09-09 18:44] livarcocc commented on #3376
I am not sure where you are getting version of the .NET Core SDK 2.2.199 and 2.2.108.1. These are not versions shipped by the .NET Core SDK team.

And @AndreyAkinshin is correct. The versions of these components are not all mix and match. They need to match. In your case, 2.2.100 is equivalent of VS 15.9. Not sure what version of Mono would be equivalent to that though.

[2019-09-09 18:44] mkArtakMSFT commented on #3606
@shirhatti is this ours? Should this move to `AspNetCore`?

[2019-09-09 18:45] livarcocc commented on #3614
This is a known issue that will exist until 3.0 ships. We needed to pick an implicit version of 3.0 for 5.0 and at the time, P7 was the latest.

[2019-09-09 19:10] vijayrkn commented on #3606
@RoyalMugu Do you have a property by name `AspNetCoreModuleName` in your csproj or local web.config?  If it is present, is it set to `AspNetCoreModule` ?

To fix this you need to change this to target AspNetCoreModuleV2 depending on whether it is defined in the csproj or web.config.

`<AspNetCoreModuleName>AspNetCoreModuleV2</AspNetCoreModuleName>`

[2019-09-09 19:22] weltkante commented on #3614
But on a fresh VS 2019 preview this does pick the right bits somehow, and I think it also has a 3.0 preview out of the box. Just on a machine which had other previews installed before this doesn't work (and doesn't get repaired with repair install either).

So does this mean 5.0 nightlies are broken for the time being and its not possible to test fixes/features flowing into master branches current

[2019-09-09 19:30] sebastienros commented on #3599
@livarcocc  Is there anything else that is preventing this from being fixed?
I don't know the process to update the the aspnet version in the sdk. I assumed it would be automatic, or close to it.

[2019-09-09 21:02] livarcocc commented on #3614
We are currently focused on getting 3.0 out the door. That's is our highest priority. I am not sure I follow your issues regarding VS.

What this means, right now, is that if you use 5.0 to target 3.0, it will target a P7 runtime. If there is anything beyond that happening, please, share that with us.

[2019-09-09 21:05] wli3 opened #3616 "[summery issue]Adjust .NET SDK props/targets to be consumable in vcxproj"
List of completely task so far. Rest are tracked by Epic in Zenhub or the lable "C++/CLI support"

- Need to design/implement proper props/targets vc project will import (via  <Import Sdk="Microsoft.NET.Sdk" Project="…"/> in cpp props/ targets.
- Provide a way to find ijwhost.lib in the SDK (required for linking)
- Build sln C++ reference C# publish does not work. Publish from C# project works. Pu

[2019-09-09 21:09] livarcocc commented on #3599
I see no asp.net insertion in master for core-sdk for 5.0.

@JunTaoLuo are the DARC channels setup and are asp.net builds publishing correctly?

[2019-09-09 21:15] wli3 opened #3617 "Disable nuget restore (no need workaround of the empty asset.json)"
PR https://github.com/dotnet/sdk/pull/3601

[2019-09-09 21:23] wli3 opened #3619 "Test or block publish options like linker and single exe"
- /p:PublishTrimmed=true does not work
- ⬇️UseComHost=true does not work(not critical scenario) Have better error message for EnableComHosting + C++/CLI project

PR: https://github.com/dotnet/sdk/pull/3618

[2019-09-09 21:25] wli3 opened #3620 "Decide which property for VC targets to set architecture"
should be RuntimeIdentifier with SelfContained to false need to verify. However, we have several places use Platform(win32 in C++) and platformtarget mismatch could cause trouble, still investigating

when run
`msbuild NETCoreCppCliTest.vcxproj /p:platformtarget=win32 /p:runtimeidentifier=win-x86`

It will fail with
[code]

[2019-09-09 21:27] wli3 opened #3621 "Disable deps.json generation for C++ library"
PR: https://github.com/dotnet/sdk/pull/3601

[2019-09-09 21:28] wli3 opened #3622 "Block single C++ library Publish and Pack"
PR: https://github.com/dotnet/sdk/issues/3619

[2019-09-09 21:49] wli3 opened #3623 "Figure out build/run of c++/CLI exe"
The following is the result of the investigation. What need to happen to enable it. Currently we don't plan to support it in 3.1.100

- [exe unique task] Compile the exe entry point as usual but still give it the extension dll. Cpp props need to change https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fvc%2Fprojbld%2FCppTargets_v150%2FMicrosoft.Cpp.Common.props&version=GBmaster&line=30&l

[2019-09-09 21:49] #3623 closed

[2019-09-09 21:50] wli3 opened #3624 "⬇️Better error when run dotnet build on a C++ project or C# reference C++ project"

[2019-09-09 21:51] wli3 opened #3625 "⬇️ C++ build in VS vs msbuild command line"
Confirm the issue is in C++ targets and file a bug.

[2019-09-09 21:52] wli3 opened #3626 "Block build on TFM lower than netcoreapp3.1"

[2019-09-09 21:52] wli3 commented on #3626
We don't have the TFM yet

[2019-09-09 22:01] JunTaoLuo commented on #3599
@livarcocc I think the PR for the insertion is https://github.com/dotnet/core-sdk/pull/4391. I haven't looked to see why it's failing yet. Should this issue be moved to core-sdk instead?

And yes I believe the darc channels and publishing are correct.

cc @Pilchie since he was curious on this front.

[2019-09-09 22:49] weltkante commented on #3614
While trying to figure out what was wrong with my build I had setup a fresh VS 2019 preview + nightly build a few days ago, and it was actually taking the right comhost.dll not the one from P7. Taking the same project on my dev machine took it from P7, so I was assuming this was actually working and my dev machine was broken (repair install didn't change anything).

Now I'm trying to make a binlog

[2019-09-10 03:44] Dunnymeister commented on #3606
We're experiencing the same issue and am happy to help others try reproduce.

@vijayrkn We don't have any properties called AspNetCoreModuleName in our web.config or csproj

[2019-09-10 03:57] vijayrkn commented on #3606
@dunnymeister- does adding this property to the csproj fix the issue?

[2019-09-10 04:29] Dunnymeister commented on #3606
Yes it did, thanks!

The full XML excerpt that needs to be added is:

[code]

I didn't add the suggested line as it wasn't part of the document I was following https://weblog.west-wind.com/posts/2019/Mar/16/ASPNET-Core-Hosting-on-IIS-with-ASPNET-Core-22 (included in case others find their way here)