[2017-04-10 15:59] srivatsn commented on #266
Also as for the default TFM in VS there are two templates  a .NET Core one and a .NET Standard one  - see the discussion here for reasons - https://github.com/dotnet/project-system/issues/1909

[2017-04-10 16:50] ericstj commented on #1103
These are happening because I sequenced HandlePackageFileConflicts after ResolvePackageDependenciesForBuild which is scheduled before AssignProjectConfiguration.  AssignProjectConfiguration runs during clean.  HandlePackageFileConflicts depends on _GetLockFileAssemblies (my own target using SDK task) which reads the assets file.  I only did that because I was trying to avoid depending on SDK inter

[2017-04-10 17:01] ericstj commented on #1103
The OP issue is caused by the following:
`CleanCopiedAssemblies` runs after `Clean` and depends on `RunResolvePublishAssemblies`.

`RunResolvePublishAssemblies` also calls `ResolvePublishAssemblies` which is the same task my targets were using.  One partial fix would be to put a condition on this task around the assets file existing.  That's only a partial fix since it wouldn't handle the case lik

[2017-04-10 18:11] mikeharder commented on #1103
The issue blocking ASP.NET may be slightly different yet than the two simplified repros shared above.  I will share the actual ASP.NET blocking issue shortly.  This is what needs to be fixed ASAP to unblock ASP.NET from using new SDK builds.

[2017-04-10 18:20] emgarten commented on #1097
@tidusjar only specify ``-r win10-x64`` for ``publish``. Keeping the RIDs in your project file is fine unless you are seeing errors restoring.

[2017-04-10 18:35] mikeharder commented on #1103
# ASP.NET Blocking Repro
1. VM with clean Win10
2. Install .NET 4.6 Targeting Pack
  A. https://www.microsoft.com/en-us/download/details.aspx?id=48136
3. `git clone https://github.com/aspnet/Hosting`
4. `set KOREBUILD_DOTNET_VERSION=2.0.0-preview1-005738`
5. `build.cmd`

[code]

[2017-04-10 18:56] ericstj commented on #1103
@mikeharder that looks like the issue I described [above] (https://github.com/dotnet/sdk/issues/1103#issuecomment-293013166).

I looked closer and it looks like this was the change that introduced it: https://github.com/aspnet/websdk/commit/6f022bfa70011de42fe20b696806fde908f2de13

If I comment out that added `CleanCopiedAssemblies` target in `sdk\2.0.0-preview1-005738\Sdks\Microsoft.NET.Sdk.Web.P

[2017-04-10 18:59] mikeharder commented on #1103
@vijayrkn, @mlorbetske: Can the WebSDK be updated to unblock ASP.NET here?

[2017-04-10 19:17] mlorbetske commented on #1103
That was added on behalf of @billhiebert, any ideas?

[2017-04-10 19:25] mikeharder commented on #1103
We could also make a change in ASP.NET to workaround this until its fixed.  I'll try overriding the `CleanCopiedAssemblies` target in `Microsoft.AspNetCore.Hosting.TestSites.csproj` with a no-op target.

What would be the downsides of this workaround?  Some files might be left around after `Clean`?

[2017-04-10 19:33] ericstj commented on #1054
I just looked at this (as part of https://github.com/dotnet/sdk/issues/1103) and I agree with this assessment:  CopyLocalLockFileAssemblies should do the right thing.

[2017-04-10 19:37] ericstj commented on #1103
@mlorbetske you should just remove those targets completely and use CopyLocalLockFileAssemblies=true as is suggested in the SDK [issue](https://github.com/dotnet/sdk/issues/1054) that was opened.

[2017-04-10 20:01] vijayrkn commented on #1103
Will make the change in websdk to set CopyLocalLockFileAssemblies to true when CreateLocalDeployment is true

[2017-04-10 20:08] BillHiebert commented on #1103
@vijayrkn  is going to remove the targets I added (to support local IIS development) as the functionality is covered by setting the CopyLocalLockFileAssemblies property.

[2017-04-10 20:13] vijayrkn commented on #1103
https://github.com/aspnet/websdk/pull/181

[2017-04-10 23:38] abpiskunov opened #1107 "All implicit dependencies provided by sdk, assemblies etc should have IsImplicitlyDefined=True metadata"
If they don't project system does not know that dependency is implicit and can not  restrict certain scenarios like removal for example - they can not be removed.  See issue https://github.com/dotnet/project-system/issues/1250 for more context.

[2017-04-11 00:28] davkean opened #1108 "Building against .NET Framework 4.5 from VB embeds the runtime"
VB is embedding the runtime by default when building against .NET Framework (see https://msdn.microsoft.com/en-us/library/bb531259.aspx):

[code]

I'm not sure when or where we should be embedding it - but for compatibility it's shouldn't be doing for .NET Framework.

[2017-04-11 03:03] Thealexbarney commented on #955
I've added the workaround to the top-comment.

[2017-04-11 05:26] #795 closed

[2017-04-11 06:36] dsplaisted opened #1109 "After conflict resolution, remove libraries from the deps file that no longer include any assets"
When the conflict resolution removes an asset from the deps.json file, there can be a library entry in the file with no assets.  Especially when the .NET Standard 1.x package graph is brought into a .NET Core 2.0 project, this results in a lot of libraries in the deps file that don't have any useful data in them.  So when we're trimming out assets, we should also trim out the entire library entry

[2017-04-11 06:49] #974 closed

[2017-04-11 08:28] metadings commented on #700
man... I somewhat hate your version problems... I'm trying .NET 1.0.x, trying to do .NET 1.1.x, while I do want .NET Standard 1.0... 2.0... oh hey, I meant .NET Framework 4.5.x...

Just to run [github.com/zeromq/clrzmq4](https://github.com/zeromq/clrzmq4)...

Can't you create and post some example csproj, to get this library running **somehow**?

[2017-04-11 08:30] smadala opened #1110 "Unable to add TargetFrameworks to props file and import."
## Steps to reproduce
1) Create .Net core unit test project from templates.
2) Change csproj content to following.
    simple.props content:
[code]
[code]
3) Build project produce following error (restore fails):
[code]

4) `dotnet restore; dotnet test` works fine.

5) Adding `TargetFrameworks` to csproj, build succeeded.
## Environment
VS: RTM 15.0.0 26228
`dotnet --info`
.NET Command Line Tools

[2017-04-11 09:59] danwalmsley opened #1111 "PreserveCompilationContext not working with netcoreapp2.0"
I have
```<PreserveCompilationContext>true</PreserveCompilationContext>```
in my csproj, when I compile for .netcoreapp1.1 everything works fine, but if I try netcoreapp2.0 it doesn't seem to work.
I get an exception:
Can not find compilation library location for package 'microsoft.netcore.app''

originally posted:
https://github.com/dotnet/coreclr/issues/10849

[2017-04-11 10:21] danwalmsley commented on #1111
This is my csproj

[code]

[2017-04-11 10:30] danwalmsley commented on #1111
This is the effected project:

https://github.com/VitalElement/AvalonStudio/tree/dotnet-debugging

[2017-04-11 10:49] gulbanana opened #1112 "Cannot transitively reference a csproj+project.json"
## Steps to reproduce
1. Clone https://github.com/gulbanana/repro-transitive-projectjson
2. `dotnet build`
3. error MSB4025: The project file could not be loaded. Data at the root level is invalid. Line 1, position 1.

The bug also occurs when building in Visual Studio.

[2017-04-11 13:31] AArnott commented on #939
This is badly broken. The workaround causes nuget restore to fail in VS (command line is fine) and also is related to a build failure that only occurs on some non-Windows machines [including Travis CI Ubuntu](https://travis-ci.org/libgit2/libgit2sharp/jobs/220381005#L788).

I tried replacing this with a "project dependency" encoded in the solution file, and that fixed most of the symptoms, until I

[2017-04-11 16:52] livarcocc commented on #1110
@srivatsn Can you take a look? This seems to be a problem only in VS.

[2017-04-11 16:55] jaredpar opened #1113 "Multi-targeted project puts both DLLs in same location"
Have a project which needs to target netstandard 1.3 and net20 and hence has the following entry:

[code]

This project restores and builds without error but the output is put into the wrong location.  The intermediate output is correctly put into different directories:

- Obj\Debug\Concord\netstandard1.3
- Obj\Debug\Concord\net20

But the final DLL is written to the same location:

- Debug\Dlls\C

[2017-04-11 17:32] Dima4ka commented on #636
Hey guys,

It is indeed the issue with `Microsoft.NET.Sdk`, **however** how do I update to the latest?

I have this dependency

[code]

and I cannot go any higher (version `>1.0.0-*` throws error).

How do I solve the issue?

Thanks in advance!

[2017-04-11 17:43] livarcocc commented on #1111
Can you try with the latest Cli/SDK? Also, on the latest CLI, you don't need to specify the RuntimeFrameworkVersion anymore, that's implicitly updated to the runtime the CLI is using.

I believe I saw some comments about this being a problem with CoreCLR that was fixed in Version 1919 of the Runtime. The latest CLI carries 1960.

[2017-04-11 17:44] livarcocc commented on #1113
I believe you should set OutputPath for this.

Make sure you are not turning AppendTargetFrameworkToOutputPath to false somewhere.

[2017-04-11 17:53] dsplaisted commented on #1113
Also don't set the OutDir property yourself.

[2017-04-11 17:56] jaredpar commented on #1113
Where is this documented?

I understand this isn't an issue for new projects.  But it's fairly common for existing MSBuild solutions, in particular large ones with central scritps, to override properties like `$(OutDir)`.  Did a quick Github check and there are ~300,000 references to `$(OutDir)` alone in XML files.  Guessing more and more people are going to hit this.

Also for centrally controlle

[2017-04-11 18:40] Liriel commented on #1111
How do I determine the CLi version?
`dotnet --version` gives: **2.0.0-preview1-005753**

[2017-04-11 20:14] livarcocc commented on #1111
@mlorbetske @Eilon can you guys help in the web case?

[2017-04-11 20:22] livarcocc commented on #1113
@mairaw for the documentation question.

For the second question, can't you just use OutputPath as well for that?

[2017-04-11 20:26] livarcocc commented on #636
It seems you are using a very old version of the CLI. The version of the SDK that shipped with CLI 1.0.1 was 1.0.0-alpha-20170224-6.

[2017-04-11 20:38] jaredpar commented on #1113
I will check on that and see if it will work here.

[2017-04-11 22:32] lifengl opened #1115 "Need support globs outside of the project cone"
By default, project items outside of the project cone are not shown in the solution explorer, unless they have link metadata.  To show files added through glob, the developer must add globs like this inside the project:
[code]
But this is hard to remember and hard to use.  The idea is to create something in the .targets file, and apply Link metadata to items with <LinkBase> metadata, so inside the

[2017-04-11 22:50] davkean commented on #1115
@livarcocc We need this for 15.3 - to go along with the feature where we've enabled customers to view files outside of their project cone.

[2017-04-11 22:52] livarcocc commented on #1115
@davkean Is the ask here that the SDK should add this metadata automatically to Compile Include items?

cc @dsplaisted @nguerrera

[2017-04-11 22:57] davkean commented on #1115
Yes, @dsplaisted is plugged in. I suspect it's more than Compile, it will be for all items that we know about.

[2017-04-11 23:53] Dima4ka commented on #636
I am indeed, unfortunately. But I am confused. CLI (as far as I know) is `dotnet` executable and its relatives (`dotnet-*`), and SDK is that nuget package that I have in my `.csproj` file. So I was able to upgrade my `dotnet --version => 1.0.1` but I cannot upgrade `Microsoft.NET.Sdk.Web` to `1.0.0-alpha-20170224-6`. I get `Unable to resolve 'Microsoft.NET.Sdk.Web (>= 1.0.0-alpha-20170224-6)' for

[2017-04-12 00:54] dsplaisted commented on #1083
Because the CLI is easier to install and for us to release than Visual Studio, which is how updates to the SDK are currently delivered.

The CLI in general doesn't need to be "installed", in the CLI and SDK repos (and probably others) we use the dotnet-install scripts to download and unzip a CLI to use locally.  We should make sure we [support pointing the SDK resolver at a downloaded CLI](https:/

[2017-04-12 00:58] jaredpar commented on #1083
Why does Visual Studio need to be updated here?  This is an MSBuild issue.

Build tools need to be thought of separately from Visual Studio.  This is feedback we get contantly from customers who don't want to install VS on build servers.

[2017-04-12 01:04] dsplaisted commented on #1083
That's how we shipped VS 2017 RTM.  Originally the SDK was a NuGet package but we ran into issues with that so shipping as part of VS was what we were able to deliver in the timeframe.

We agree that build tools should be installable separately from VS, and shipping the SDK as part of the CLI helps enable that.

[2017-04-12 01:06] jaredpar commented on #1083
Only if CLI is an acceptable build environment.  That's not the case for roslyn.  Eventually one day it may be.  But for the foreseeable future it won't be.  That means SDK still has no rapid ship story for environments like ours.

@livarcocc mentioned that it may be possible to download CLI, then have MSBuild pick up SDK bits from there.  If so that could work as a rapid ship story

[2017-04-12 01:08] dsplaisted commented on #1083
Yes, that's what I'm saying.  I've added a note that [we should support this](https://github.com/dotnet/cli/issues/6112#issuecomment-293441162) to the appropriate work item.

[2017-04-12 01:10] dsplaisted commented on #1086
@srivatsn @davkean @AnthonyDGreen Do we have guidance on how to set up Roslyn Analyzers to replace code analysis?

[2017-04-12 01:14] davkean opened #1116 "_ComputeLockFileReferences/RunResolvePackageDependencies should be faster when projects are up-to-date"
Investigating up-to-date builds from ASP.NET, I've found that _ComputeLockFileReferences/RunResolvePackageDependencies is taking a non-trivial amount of time (> 17%) of the build time when a project is considered up-to-date.

[code]

We should investigate ways of caching/making this faster.

[2017-04-12 02:10] Eilon commented on #1111
This looks like the issue @mlorbetske saw recently but didn't repro with newer builds.

@pakrym took a look at this but I don't think we knew what caused it.

Ultimately we kind of ignored this because the issue went away...

[2017-04-12 04:01] #888 closed

[2017-04-12 04:03] livarcocc commented on #636
That was the case for a while, but before 1.0 we decided to not ship the SDKs as Nupkgs anymore, for various reasons. I would suggest removing the import and instead using the SDK attribute. The SDK that is present in the CLI/VS will be picked up if you do that.

[2017-04-12 04:46] Dima4ka commented on #636
That worked, thanks!

[2017-04-12 05:11] aribeironovaes opened #1117 "Problems on Publishing a project that has locale dependencies"
I'm able to build my project for Dotnet Core 2.0 and run it using dotnet run command.

After that I was able to successfully Publish my project, but when I try to run with `dotnet <nameOfMyApp.dll>`  it can't find my dependencies.

Debugging we found out that `<myapp>.deps.jon`  was wrongly generated.

For example:
My dependency was: Microsoft.Data.Edm.resources.dll

On Nuget packaget it was on th

[2017-04-12 09:08] gulbanana commented on #1112
I've verified that the problem also happens when building with full-framework commandline MSBuild (version 15.1.1012.6693)

[2017-04-12 14:20] eerhardt commented on #864
FYI - the underlying issue here of `--additionalprobingpaths` not being passed to the DependencyModel is being fixed in 2.0 with https://github.com/dotnet/core-setup/pull/2039.

[2017-04-12 14:48] mlorbetske commented on #1111
@Eilon the issue has not gone away. This seems to work with shared framework builds 1919, 1957 and 1967 but not 1913, 1915, 1951 or 1961. If you have one of the working ones, you can work around this by adding <RuntimeFrameworkVersion>{the full version number of the shared framework}</RuntimeFrameworkVersion> to the project file for the time being.

[2017-04-12 15:02] livarcocc commented on #1112
@AndyGerlicher @rainersigwald can you guys help take a look?

@gulbanana please note that this will not work through `dotnet build`, as the CLI does not support old style csproj files.

[2017-04-12 15:40] pakrym commented on #1111
I was able to repro this time. It's https://github.com/dotnet/core-setup/issues/624 and getting fixed in https://github.com/dotnet/core-setup/pull/2039 . DependencyModel don't know about `additionalProbingPaths` in `.runtimeconfig.dev.json` and `microsoft.netcore.app` is inside `NuGetFallbackFolder` that is not checked by it.

[2017-04-12 16:05] rainersigwald commented on #1112
I don't see this with `msbuild /t:restore && msbuild` in that repo. Can you share a diagnostic log? What file is allegedly invalid, and what are its contents?

[2017-04-12 18:54] mikeharder opened #1118 "dotnet run no longer passes additional arguments to application (2.0.0-preview1-005619)"
# Repro Steps
1. Install .NET SDK 2.0.0-preview1-005619
2. `dotnet new console`
3. Edit `Program.cs` and add `Console.WriteLine(args.Length)`
4. `dotnet restore`
5. `dotnet run -- foo`

[code]

Looking at the process tree, I can see that `dotnet run` is not passing the arguments to `dotnet exec`.

Doesn't repro on previous build 2.0.0-preview1-005488.

[2017-04-12 19:34] eerhardt commented on #1118
Doing a quick investigation, it looks like a regression with using the separator `--`.  I ran `dotnet run foo` and `1` was outputted.  I assume this regression came from using the new https://github.com/dotnet/CliCommandLineParser/ parser in the cli.

/cc @jonsequitur

[2017-04-12 20:12] eerhardt commented on #1111
Note that fallback folders weren't used by default until https://github.com/dotnet/cli/pull/6209 was checked in.  Now they are used by the "first run"/"offline" experience in the command line.

[2017-04-12 21:50] wli3 commented on #1118
(working on it)

[2017-04-12 21:57] terrajobst commented on #1070
So, what's the summary? I'm a bit at loss what you guys are proposing here.

[2017-04-13 05:52] jaredpar opened #1120 "SDK changes name of EmbeddedResource elements"
One of the projects I've converted to the new SDK has a number of [EmbeddedResource elements](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Test/Resources/Core/CompilerTestResources.csproj#L26).

[code]

When compiled as a PCL the name of the resource in the assembly would be "Analyzers.FaultyAnalyzer.dll".  After converting to the new SDK the name instead is "CompilerTestResources.An

[2017-04-13 07:13] wli3 commented on #1118
[update] This branch should be able to fix the parser issue. 'foo' is in args now. However, the other functional test still cannot pass.

https://github.com/dotnet/cli/compare/master...wli3:fix-dotnetrun--foo?expand=1

[2017-04-13 15:59] tannergooding commented on #1120
I looked into this and it appears to be because the legacy targets had no concept of a "default RootNamespace".

The project in question does not have a `<RootNamespace>` declaration, so under the legacy targets, the final value is nothing.

However, under the SDK, a default RootNamespace is provided if none has been set, thus the final value is different and causes embedded resources to be evalua

[2017-04-13 16:31] jaredpar commented on #1120
Thanks for looking into this.  It does seem likely that the change in behavior around `$(RootNamespace)` is the cause here.  I'm still trying to 100% verify this (having a machine issue ATM).

If so I really have to question why the SDK changed the behavior here.  This has caused me tremendous pain in porting the Roslyn code base to the new SDK

1. Broke 100% of our VB projects.  It's very common

[2017-04-13 16:42] tannergooding commented on #1120
FYI. @srivatsn, @dotnet/project-system as well

[2017-04-13 17:36] livarcocc commented on #1113
@jaredpar Did you get a chance to try this out? Did this fix it for you?

[2017-04-13 17:44] livarcocc commented on #918
This is being tracked on the CLI side here: https://github.com/dotnet/cli/issues/6105.

[2017-04-13 17:44] #918 closed

[2017-04-13 20:41] jaredpar commented on #1113
@livarcocc took some time today to experiment with it.  Going to use this PR to see if the change could be made in our master branch.  If we can use it there them it would just naturally slide into the branch where I'm doing SDK work.

https://github.com/dotnet/roslyn/pull/18688

[2017-04-13 20:41] srivatsn commented on #1110
Yes this is a VS issue. VS uses the presence of the TargetFrameworks property to load with the new project system instead of the old one. Tracked by https://github.com/dotnet/project-system/issues/1358

[2017-04-13 20:41] #1110 closed

[2017-04-13 20:43] rainersigwald opened #1122 "Future of incompatible-TF checks"
I'm separating out an issue that I noticed while testing the fix for https://github.com/Microsoft/msbuild/issues/1276 (in the form of https://github.com/Microsoft/msbuild/pull/1866 + https://github.com/dotnet/sdk/pull/993) so we can discuss it without the confusion of the other parts of the change.

In the 1.0 SDK + common targets, projects _always_ ask their references "what framework should I bu

[2017-04-13 20:48] rainersigwald commented on #1122
I can see a few options:

* Preserve the current behavior
  * ➕ Keeps the incompatible-TF check
  * ➖ Requires evaluating any project that is referenced multiple times, which is inefficent, expecially for C++ projects (which have a targeted mitigation in place now but it's ugly).
* Abandon the checks
  * ➕ Really easy 😇
  * ➖ Loses very nice, valuable information
* Restructure the checks to be on

[2017-04-13 22:32] ramarag commented on #1036
Also ensure end to end feature runs properly by removing the TODOS in :
https://github.com/dotnet/sdk/blob/517b4d57c3e08cad4a92a2d87bb5e1aadefc1c46/test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAProjectWithDependencies.cs#L153
https://github.com/dotnet/sdk/blob/517b4d57c3e08cad4a92a2d87bb5e1aadefc1c46/test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAProjectWithDependencies.cs#L

[2017-04-14 01:34] AArnott opened #1123 "`dotnet build` fails with "Cannot find project info" when P2P build fails, hiding the original error"
This build break only occurs on dotnet CLI builds that occur on Ubuntu 14.04. It is quite minimal, requiring only two projects with a reference between them, and the referenced project including a PackageReference to CodeGeneration.Roslyn.BuildTime, v0.3.11-g806e2e697e.
In these circumstances the build fails with:

[Repro project](https://github.com/aarnott/traviscinetsdk)
[Travis CI build log](ht

[2017-04-14 01:35] AArnott commented on #1123
Package restore results appear to be identical in repro Ubuntu 14 and non-repro Windows cases. So it appears to be a bug in `dotnet build` itself.

[2017-04-14 08:34] Pinox opened #1124 "Can't publish .net Core Console app - referencing Shared Project with conditional build symbols"
Having problems publishing a .net core console app where I simply reference a Shared project using a conditional build symbol.

In shared project I have the following reference that gives me an error.

#if (!CORE_APP)
using SQLite.Net.Attributes;
#endif

This is my dotnet publish error: "The type or namespace name 'SQLite' could not be found (are you missing a using directive or an assembly refere

[2017-04-14 12:39] giggio commented on #391
Is there any matrix of which PCL TFMs match with which .NET Standard version?

[2017-04-14 16:52] livarcocc commented on #1123
@eerhardt I remember you helping someone with a similar issue not long ago. Can you quickly see if that is the same problem now as it was then.

[2017-04-14 16:59] livarcocc commented on #1124
Which version of the CLI are you using? I just tried your repro project using CLI 1.0.1 and I could restore and build, publish and run Console_CheckSharedLib.

[2017-04-14 17:19] Pinox commented on #1124
I get the error in CLI version 1.0.2 and 1.0.3

[2017-04-14 18:41] natemcmaster opened #1125 "Producing an MSBuild task package"
Can we get better support for projects designed to produce MSBuild tasks?

**Pain points**
 - packing. You _can_ get a task assembly and files into the package, but requires deep understanding of how to alter the default layout of the package in csproj.
   - TargetFrameworks. A package that only has task assemblies/targets is compiled for net46 and netcoreapp1.0, but the _package_ itself can be co

[2017-04-14 19:55] #1118 closed

[2017-04-14 19:59] livarcocc commented on #1125
cc @emgarten @rohit21agrawal

[2017-04-14 21:27] rohit21agrawal commented on #1125
we already added some extension points that should make this easier : https://github.com/NuGet/NuGet.Client/pull/1255

We can't make a generic Task package type since all packages would differ widely. Do you have any concrete suggestions on what you would like to see that would make it easier for you to create task packages?

[2017-04-14 21:59] natemcmaster commented on #1125
In a world of unlimited resources, I'd love to see this:
[code]

Microsoft.NET.Sdk is geared towards runtime packages, not MSBuild task packages. Packages designed to carry MSBuild tasks are fundamentally different from packages that only carry runtime bits.

[2017-04-14 22:12] livarcocc commented on #1124
can you do a dotnet build /v:diag and share the log file? I have tried it a couple of times locally and I can successfully build and run the app. Though, to be fair, I tried on OSX, but I don't expect that to make any difference.

I wonder if you maybe have a CONFIG environment variable set, which may be causing this. I think I remember seeing that some machines, like some HP boxes, have that and

[2017-04-14 22:18] natemcmaster commented on #1125
@rohit21agrawal if you're looking for short-term fixes to the pack task...

One of the problems today is that package authors have to choose between nuspec and csproj=>nuspec generation. Keeping csproj and nuspec aligned is difficult, esp. for users new to MSbuild. Wrangling MSBuild to make csproj=>nuspec generation work right is difficult, even for advanced MSBuild users. I had to read NuGet's so

[2017-04-14 23:51] JunTaoLuo opened #1126 "PDB story for dotnet store"
What is the story regarding symbols for `dotnet store`? What do we need to do to make sure the PDBs match the DLLs cross-gen'ed by `dotnet store`? I believe there is an option like `/CreatePDB` on crossgen.exe which may be relevant here.

cc @Eilon @ramarag @gkhanna79 @eerhardt

[2017-04-15 00:05] gkhanna79 commented on #1126
ReadyToRun images already contain IL to Native offset mapping details. As along as there is IL PDB available, then Source->Native mapping will exist and no additional PDB needs to be generated. Did you generate them in the past (for Antares)?

/CreatePDB is used for Profiling. Is that your intent?

[2017-04-15 00:22] JunTaoLuo commented on #1126
So PDBs will work with the DLLs after cross-gen? I think that is all we need here. I'll give this a try and if that's the case, I don't think there's any required work here.

[2017-04-15 00:26] gkhanna79 commented on #1126
The only difference between what used to happen for Antares and now is that store command generates the R2R images with the complete closure. If you did anything additional than that for antares, let us.

Otherwise, with IL PDBs, this should be sufficient.

[2017-04-15 13:17] Pinox commented on #1124
thanks @livarcocc for pointing me in the right direction  - it seems my pain finally ended ;)

After deleting and reinstalling the CLI SDK's I ended up with a different error on the above sample project.

The new error on the project was now "configuration Debug|MCD is invalid".  After searching the internet and taking into account your statement of environment variables I ended up deleting the pl

[2017-04-15 15:25] danwalmsley commented on #1111
@livarcocc regarding not needing to specify <RuntimeFrameworkVersion> any more, this seems to be true when I build it from command line, but not when using VS2017, when I take it out I get errors like this:

[code]

any way to make vs use the new cli?

[2017-04-15 18:49] #1124 closed

[2017-04-15 18:56] AArnott commented on #1123
It looks like the "Cannot find project info" error is but a red herring. The original error (only visible in more verbose logged builds) is "Version for package `dotnet-codegen` could not be resolved." even though package restore had occurred.

[2017-04-15 20:12] eerhardt commented on #1123
The first thing I tried was using a recent .NET Core SDK v2.0, and I get the following error during restore:

[code]

However, using v1.0.1 of the .NET Core SDK, the restore succeeds.

I'm not sure where these packages are coming from.  @AArnott - can you tell me?  Are they hosted on https://ci.appveyor.com/nuget/codegeneration-roslyn?

[2017-04-15 20:18] eerhardt commented on #1123
In my `build /v:diag` trace, I see

[code]

Note I'm getting the same build error you are.

So I'm guessing there is something wrong with the `dotnet-codegen` tool.

[2017-04-15 20:23] eerhardt commented on #1123
I'm not sure why the build doesn't fail after this error, I see the error:

[code]

I would have thought that should:
a) be written out
b) fail the build

[2017-04-15 20:26] AArnott commented on #1123
The workaround seems to be to explicitly `dotnet restore lib` before `dotnet restore test`. Evidently, `dotnet restore` does not restore DotNetCliToolReference items for P2P projects on Ubuntu 14.04 (but does everywhere else).

[2017-04-15 20:32] eerhardt commented on #1123
@emgarten @rohit21agrawal - any thoughts?

[2017-04-15 20:33] eerhardt commented on #1123
When I `dotnet restore lib`, I get the above restore errors:

[code]

[2017-04-15 20:35] AArnott commented on #1123
@eerhardt What commit are you running that on? Try it on the `workaround2` branch, where I added an entry to nuget.config.

[2017-04-15 20:35] eerhardt commented on #1123
I was on `aceb047ca657269b9004c323b1d4a646da7e4895`

[2017-04-15 20:36] AArnott commented on #1123
I just pushed a commit to master so that nuget.config has the missing entry as well.

[2017-04-15 20:40] eerhardt commented on #1123
Even on the tip of master (`40cdb6bc05479c64a7480c45176cc72baeefe39e`), I'm getting an error when I:

`$ dotnet restore lib`
`$ dotnet build lib`

[code]

It seems odd that this error gets eaten when building a P2P reference (test -> lib).  When I `dotnet build test`, this error doesn't show and the test project keeps trying to build and fails later since it can't find the `lib` project info.

[2017-04-15 20:43] AArnott commented on #1123
Yes, I had to use `/v:detailed` on the build of the test project before I finally saw the original `dotnet` exit code and error. Did you see an error before your exit code line that would tell you what exit code 134 means?

As [the latest Travis build from master shows](https://travis-ci.org/AArnott/TravisCINetSDK/builds/222428622), the build of the test project still fails if all one does is `dot

[2017-04-15 20:49] eerhardt commented on #1123
Yes, I see

[code]
In general, when you see exit code 134 on Unix it means "unhandled exception".

I think the issue is that `system.commandline/1.0.0.1` doesn't support `netcoreapp1.0`.  It only supports `net35`.  The `dotnet-codegen` tool has a reference to it:

[code]

Notice that `system.commandline` doesn't have any "runtime" assets (i.e. a .dll to load).  Thus when running the `dotnet codege

[2017-04-15 20:52] AArnott commented on #1123
@eerhardt You're looking at the wrong version of the System.Commandline package. 1.0.0.1 shows up in the error message if you haven't got the added entry to nuget.config because nuget resolves the 0.1.0-* version that it can't find to 1.0.0.1 which it can find, but it's a totally different package.
Once you have the nuget.config file entry added as I've pushed to my master branch recently, you'll

[2017-04-15 20:53] AArnott commented on #1123
The missing `System.Commandline` package error from the detailed build log that you're seeing is exactly the evidence I found that led me to realize that `dotnet restore` doesn't restore `DotNetCliToolReference` items across P2P references. I don't know yet whether that limitation is unique to Ubuntu 14.04.

[2017-04-15 20:57] AArnott commented on #1123
It's not an Ubuntu 14.04 only limitation. Evidently it even happens on Windows -- I guess we just never saw it because everyone involved in this investigation on the libgit2sharp side had previously done a `dotnet restore` on the sln or the lib project such that the package cache had all the required dependencies. And appveyor was restoring the sln each time. It was only the travis CI script that

[2017-04-15 20:59] AArnott commented on #1123
I presume issue no. 2 above should be moved to the nuget/home repo, yes?

[2017-04-15 20:59] eerhardt commented on #1123
You're right.  The CLI was caching the deps.json file for the codegen tool when I restored it previously with the wrong version.  Cleaning out my `~/.nuget/packages/.tools` directory and restoring again allowed me to build `lib.csproj`.

Now, when I clean, restore, and build /v:diag `test` I see the error you have above:

[code]

I think there are 2 bugs at play here:

1. (as you mentioned) `CliTo

[2017-04-15 21:02] eerhardt commented on #1123
Our numbers are switched around 😄, but yes the `CliToolReference` restore issue should be moved to nuget.

The other issue for P2P builds not failing correctly should be moved to https://github.com/microsoft/msbuild

/cc @rainersigwald @jeffkl @AndyGerlicher - FYI

[2017-04-15 21:02] AArnott commented on #1123
OK. I'll take care of creating new issues. Thanks for your help, @eerhardt.

[2017-04-15 21:06] AArnott commented on #1123
FYI @ctaggart so he knows SourceLink may fail this way as well given its DotNetCliToolReference dependency in the build.

[2017-04-15 21:22] #1123 closed

[2017-04-16 01:13] dhasenan opened #8118 "Auto-add new projects to solution if one is present"
When you create a project in a directory with a solution, you would expect the project to be added to the solution, because 99% of the time you'll only have one solution and all projects should belong to the solution.

If there are multiple solution files, a warning should be emitted informing the user that they should manually add the project to the desired solutions using `dotnet sln [solution f

[2017-04-16 19:19] rohit21agrawal commented on #1125
@natemcmaster instead of making csproj + nuspec easier, i'd like to understand more about what we can do to make the need for nuspec go away.
what are some of the things that you can't achieve via csproj currently and for which you absolutely do need the nuspec?

[2017-04-17 17:02] nguerrera commented on #802
This is done.

[2017-04-17 17:02] #802 closed

[2017-04-17 17:10] nguerrera commented on #1070
@terrajobst This is my proposal: https://github.com/dotnet/sdk/issues/1070#issuecomment-292250049

[2017-04-17 17:15] eerhardt commented on #1070
Are there other names that would fit better?

- TreatAsExecutable
- HasRuntimeOutput
- HasRunnableOutput
- HasExecutableOutput
- IsExecutable
- IsRunnable

It probably doesn't matter too much.  Just wanted to throw it out there.

[2017-04-17 18:14] natemcmaster commented on #1125
@rohit21agrawal

- Packing the output of multiple projects. Example: [Microsoft.EntityFrameworkCore.Tools.nuspec](https://github.com/aspnet/EntityFramework/blob/bc1909bc3b24b2cd0a2635c0a657cf6787837e20/src/EFCore.Tools/EFCore.Tools.nuspec)
- "Fat packages". i.e. I want a nupkg with the output of "dotnet publish". Example: [NuGetPackageVerifier.nuspec](https://github.com/aspnet/BuildTools/blob/598f

[2017-04-17 22:08] weshaggard opened #1129 "Duplicated References with implicit references from NETStandard.Libraray[.NETFramework]"
MusicStore application is hitting an issue where we end up with 2 System.Net.Http reference (see https://github.com/aspnet/MusicStore/pull/775).

This is an issue because of the way we are adding References in our NETStandard.Library[.NETFramework] targets (See https://github.com/dotnet/corefx/blob/master/pkg/NETStandard.Library.NETFramework/targets/NETStandard.Library.NETFramework.targets#L3) and

[2017-04-17 22:59] JohnRusk opened #8133 "Clarify the different types of install on Linux, and how to uninistall them"
# Background

It appears that there are three different types of install on Linux.

- Using a package manager. Only offered on RHEL and Ubuntu.  When installed, framework is available for all users of machine.
- Manual-extraction of tarball. Recommended target location appears to be: /opt/dotnet. This is the approach currently recommended here https://www.microsoft.com/net/cor for all OS's except

[2017-04-18 05:51] livarcocc commented on #1124
Glad that worked @pinox.

[2017-04-18 06:36] Portikus commented on #1086
This would be nice. So is the Visual Studio Code Analysis dead? And we should take Roslyn Analyser instead?

[2017-04-18 07:41] gulbanana commented on #1112
Oh wow, i had unpushed commits in my local copy of the repo.. sorry, it should reproduce now!

Here's the output of `msbuld /t:restore && msbuild /v:diag`: https://gist.github.com/gulbanana/40d54c41f83a73bfc7aa6ad8c68ffef5

The content of the project.json file which is claimed to be invalid:
[code]

My guess is that the MSB4025 error indicates it's trying to load the project.json as an *msbuild* p

[2017-04-18 17:38] rainersigwald commented on #1112
With that I'm now able to reproduce this, thanks.

You're right--the SDK includes transitive project references as `ProjectReferences`, which are then built with the `<MSBuild>` task, which then errors because in this case, the reference is a path to the `project.json` file, rather than the `%(ResolvedPath)`, which is the path to the `.csproj`. See [11821-11833](https://gist.github.com/gulbanana/4

[2017-04-18 18:38] eerhardt opened #1130 "GenerateDepsFile::TrimRuntimeLibraries is removing path, hashPath and other extra information"
In the conflict resolution code for generating the .deps.json, we are losing critical information:

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/GenerateDepsFile.cs#L209-L217

We aren't copying the `path`, `hashPath`, and `runtimeStoreManifestName` fields across to the new RuntimeLibrary.

See https://github.com/dotnet/core-setup/blob/master/src/Microsoft.Extension

[2017-04-18 20:17] conniey commented on #1125
I think this issue overlaps with: https://github.com/Microsoft/msbuild/issues/1756

[2017-04-18 22:31] srivatsn commented on #1086
The implementation behind VS's CodeAnalysis feature is being replaced. It used to work by doing binary analysis (FxCop) and it is going to be switched to doing source analysis using Roslyn analyzers. So the scenario\experience is not dead - just the old analysis engine which doesn't support netstandard.
@jinujoseph @mavasani

[2017-04-19 01:06] emgarten commented on #1112
This looks like the same issue as https://github.com/dotnet/sdk/issues/922

The error there is:
[code]

The workaround for this is to reference the project directly instead of getting it as a transitive project reference.

[2017-04-19 03:05] gulbanana commented on #1112
That workaround works (around) for me.

[2017-04-19 03:36] livarcocc commented on #858
I am closing this issue since we have had a report of this reproing on RTM VS 2017. If that's the case, please, re-activate.

[2017-04-19 03:36] #858 closed

[2017-04-19 03:37] livarcocc commented on #891
If this still reproes, please file a new issue for it in the CLI repo. Closing it here though.

[2017-04-19 03:37] #891 closed

[2017-04-19 03:40] livarcocc commented on #909
@nguerrera this is the issue we chatted about before. Take a look when you have time.

[2017-04-19 03:48] livarcocc commented on #926
Let's track this fix in #909. Re-activate if I got this wrong and we need this issue.

[2017-04-19 03:48] #926 closed

[2017-04-19 03:49] livarcocc commented on #986
@richlander @terrajobst do you guys know what is the right way to track or ask for UWP apis to be exposed as nuget packages.

I am closing this issue in the SDK as I don't believe it belongs here.

[2017-04-19 03:49] #986 closed

[2017-04-19 03:52] livarcocc commented on #967
@nguerrera @dsplaisted any concerns with @dasMulli suggest approach? I would love to have a PR for this if possible. This has come up quite a few times.

[2017-04-19 03:54] livarcocc commented on #905
Why do you think we shouldn't show this warning? There was a conflict. yes, we managed to resolve it automatically, but we should still warn that it happened.

[2017-04-19 04:00] livarcocc commented on #1082
@jaredpar can you answer @ericstj questions above?

The CLI has a Microsoft.Common.CurrentVersion.targets that has this in it:

[code]

I wonder if that is bringing it in. I would expect not, but I don't have a VS installation right now to verify.

[2017-04-19 04:08] livarcocc commented on #1125
Given that this conversation is happening around pack, I am moving this issue over to NuGet. Please, re-activate or file new issues for specific asks for the SDK to support this.

[2017-04-19 04:09] livarcocc commented on #1125
This issue was moved to NuGet/Home#5063

[2017-04-19 04:09] #1125 closed

[2017-04-19 04:14] livarcocc commented on #1112
Let's track it though #922.

[2017-04-19 04:14] #1112 closed

[2017-04-19 04:17] livarcocc commented on #1103
I believe this is fixed now. At least I tried in the latest CLI and I got no errors. Please, re-activate if this is still a problem.

[2017-04-19 04:17] #1103 closed

[2017-04-19 04:20] livarcocc commented on #1097
@tidusjar we haven't heard back from you if @emgarten suggestion worked for you. Closing the issue for now. If you are still having problems with this, please re-activate the issue.

[2017-04-19 04:20] #1097 closed

[2017-04-19 04:22] livarcocc commented on #1094
We have made a workaround for it in the SDK already. Is this issue still tracking any work on the SDK side?

[2017-04-19 04:23] livarcocc commented on #1040
This issue was moved to NuGet/Home#5064

[2017-04-19 04:23] #1040 closed

[2017-04-19 04:28] jyoungyun commented on #1094
@livarcocc I'm still tracking some issues about 'dotnet build' command in arm side. But these issues are not related to this. I will close it. Thank you :)

[2017-04-19 04:28] #1094 closed

[2017-04-19 04:30] livarcocc commented on #903
deps.json is also being copied to publish directory.

[2017-04-19 04:41] richlander commented on #986
This wouldn't work. You need to target netstandard1.4.

[2017-04-19 05:55] dasMulli commented on #967
@livarcocc I've already opened a PR (#1007) but it looks like some discussion is still needed.

[2017-04-19 06:07] bexxx commented on #905
I was believing this issue was caused by a reference that I've added as a primary ref to get rid of the warning, but it turned out to be a another one. Sorry, I forgot to update this issue. Please close.

[2017-04-19 06:07] #905 closed

[2017-04-19 07:23] dasMulli commented on #967
Having https://github.com/Microsoft/msbuild/issues/1949 would probably also help quite a few users.

[2017-04-19 14:10] ericstj commented on #1129
We just need to decide the best way to hook into the SDK's ResolveLockFileReferences target.

This package will install downlevel in packages.config based projects so it must use Reference and ReferencePath items.

Ideally the SDK would consider these as well, perhaps conditionally based on metadata on the item.

Otherwise we'll need to fork our targets for PackageReference vs packages.config/proj

[2017-04-19 16:05] rainersigwald opened #1131 "VersionPrefix and VersionSuffix are misnamed"
_From @adamralph on April 7, 2017 6:44_

Prefix:

The value of this property never _prefixes the version_. That would imply that the version is another string of characters, and the value of this property precedes it. This never happens.

Until I read the documentation, I was surprised to see values of `VersionPrefix` of the form "1.0.0", since "1.0.0" is not a prefix to the version. It _is_ the v

[2017-04-19 16:05] rainersigwald commented on #1131
_From @tpluscode on April 7, 2017 7:14_

The naming used here should follow the [semver](http://semver.org/spec/v2.0.0.html), right?

According to that spec, both `1.2.3` and `2.4.5-beta.2` are versions. The latter being a [pre-release version](http://semver.org/spec/v2.0.0.html#spec-item-9) in which what you called `VersionSuffix` is referred to as `dot separated identifiers`.

[GitVersion](https

[2017-04-19 16:05] rainersigwald commented on #1131
_From @asbjornu on April 7, 2017 7:29_

I think @JakeGinnivan might know better than me where `pre-release-tag` came from, but as discussed in GitTools/GitVersion#1054, we might change `tag` to `label` or `identifier` (as seems to be the word used by [semver](http://semver.org/)) to not confuse it with a `git tag`.

[2017-04-19 16:05] rainersigwald commented on #1131
_From @dasMulli on April 7, 2017 7:53_

fyi the logic comes from https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.DefaultAssemblyInfo.targets#L18-L22

It's hard since you need to be able to construct the `Version` from two parts. Changing the version based on the presence of a `VersionSuffix` isn't a good option here because it may be a global prope

[2017-04-19 16:05] rainersigwald commented on #1131
_From @adamralph on April 8, 2017 6:37_

Based on the comments above, it seems that the general opinion is that "1.0.0-beta1" is the "version", implying that `VersionSuffix` is also misnamed. I'm re-titling the issue from "VersionPrefix is misnamed" to "VersionPrefix and VersionSuffix are misnamed".

[2017-04-19 16:05] rainersigwald commented on #1131
_From @adamralph on April 8, 2017 6:42_

Unfortunately SemVer doesn't define terms to describe the "1.0.0" and "beta1" parts of the _version_ "1.0.0-beta1" so I guess we'll have to define them (or look for precedents elsewhere).

But, before going too far down that path, perhaps we should challenge

Why?

[2017-04-19 16:05] rainersigwald commented on #1131
_From @dasMulli on April 8, 2017 13:48_

My reasoning is mostly based on the ability and need to pass version-related properties as arguments to msbuild invocations, e.g. from CI.
However, the importance of the different usage scenarios need to be weighted against each other.. Let me elaborate:

You can currently pass `/p:VersionSuffix=beta1` and it will generate a `1.0.0-beta1` version (the `dotn

[2017-04-19 16:05] rainersigwald commented on #1131
_From @adamralph on April 8, 2017 17:7_

Therein lies the problem. If I pass Foo, and FooSuffix, I expected the value of Foo to be suffixed by the value of FooSuffix. The current behaviour is surprising and does not follow the semantics conveyed by the property names.

It is only expected after you have experienced the surprising behaviour or read the documentation, and you have retained and recal

[2017-04-19 16:05] rainersigwald commented on #1131
_From @asbjornu on April 19, 2017 13:47_

@adamralph:

Yes, SemVer defines them as such:

And:

So SemVer calls these pre-release strings that are suffixed to the `version` for **labels** or **identifiers**. I would call the entire string for `SemanticVersion`, the version number for `VersionNumber` and the pre-release suffix for `PreReleaseLabel`.

[2017-04-19 16:05] rainersigwald commented on #1131
_From @adamralph on April 19, 2017 15:57_

@asbjornu defining `SemanticVersion` as `{VersionNumber}-{PreReleaseLabel}` is not a bad idea. For completeness, I would extend it to `{VersionNumber}-{PreReleaseLabel}+{BuildLabel}`.

However, I still challenge the need for multiple properties. I haven't seen a strong argument for having multiple properties over a single `Version` property.

[2017-04-19 16:16] rainersigwald commented on #1122
Discussed this with @livarcocc @dsplaisted @nguerrera and some others on Monday. Consensus is that losing the checks is bad and we shouldn't do that.

One possible implementation of "check on the consuming side" would be to make a new compatibility check, decoupled from its current home in NuGet.

[2017-04-19 16:34] rainersigwald opened #1132 "CopyLocal for satellite assemblies broken: copies all of them to the same bin directory"
_From @AArnott on April 19, 2017 16:13_

When copied locally to an app, satellite assemblies should always be copied to their respective subdirectories according to their culture.

When a project defines `TargetFrameworks`, this behavior regresses. It works fine when `TargetFramework` is defined directly in a project instead.

**Repro steps**

[code]

Modify project file as follows:

[code]

Then

[2017-04-19 19:49] gkhanna79 commented on #1130
@ramarag PTAL.

[2017-04-19 19:50] gkhanna79 commented on #1130
Assigning to @eerhardt who is looking into fixing this already.

[2017-04-19 21:12] livarcocc commented on #1018
Closing this one as we have workarounds and we have a bug in msbuild tracking potentially improving it. Re-activate if there is something that we need to do in the SDK.

[2017-04-19 21:12] #1018 closed

[2017-04-19 22:47] eerhardt commented on #1130
This issue is blocking ASP.NET MVC on Linux.  See https://github.com/dotnet/core-setup/issues/2113.

[2017-04-19 23:16] #1130 closed

[2017-04-20 00:51] ericstj opened #1135 "_HandlePackageConflicts is falsely identifying non-resolvable conflicts when CopyLocalLockFileAssemblies = true"
To repro create an sdk project that targets desktop and reference a package.  Examine the log.

You'll see messages like:
[code]

This is happening because you're missing the condition on populating the _LockFileAssemblies item.
 You are populating even when all those items were already promoted to ReferenceCopyLocal.

Here's what we did in standard repo implementation:
https://github.com/dotnet/s

[2017-04-20 06:59] Portikus commented on #1086
So is it possible to run the same analyser rules with Roslyn now? I cannot find any help for doing such thing.
And why do you say

it is possible to run the analyser for netstandard libraries as you can see in my first post. It is only the visual studio integration which is missing.

But what about Visual Studio code analyser, does it get updates/fixes or is the focus only by roslyn analyser?

Tha

[2017-04-20 09:01] gulbanana commented on #810
here are some workarounds for now

issues 1 and 2:
`<Page Include="**\*.xaml" SubType="Designer" Generator="MSBuild:Compile" />`

issue 3:
`<Compile Update="**\*.xaml.cs" SubType="Designer" DependentUpon="%(Filename)" />`

issue 4:
`<LanguageTargets>$(MSBuildExtensionsPath)\$(VisualStudioVersion)\Bin\Microsoft.CSharp.targets</LanguageTargets>`

[2017-04-20 17:51] jeromelaban commented on #1116
This issue is very visible visual studio, where a non-modified project should not be touched. Large solutions get pretty long to build if everything is cross-targeted.

[2017-04-20 18:06] jaredpar commented on #1082
Was able to reproduce the problem this morning and @ericstj came by to help me dig into it.  It appears to be a bug in NuGet.

The problem boils down to the following:

- Project CSharpCodeAnalysis
    - Produces the assembly Microsoft.CodeAnalysis.CSharp
    - Does **not** set the MSBuild property `$(Version)` or `$(PackageVersion)`
- Project DeployCoreClrTestRuntime
   - Is a NetCore 1.1 app

[2017-04-20 19:57] emgarten commented on #1082
@jaredpar what is the expectation here? should this be using the package instead of the project? Or are you expecting it to be completely absent?

I'm not fully clear on how this is going from a Project to a PackageReference here, this looks like a normal Project in the assets file.

[2017-04-20 20:03] ericstj commented on #1082
Justin, here's what's happening.
(Project) > Microsoft.NETCore.App (Package) > CodeAnalysis/1.3.0 (Package)
(Project) > CodeAnalysis (Project)

NuGet assumes that the CodeAnalysis (Project) is version `1.0.0` since it doesn't set any other projects.

NuGet then complains about a downgrade of CodeAnalysis from 1.3.0 to 1.0.0.

My expectation is that NuGet wouldn't even see these things as the same

[2017-04-20 20:06] emgarten commented on #1082
@ericstj thanks, that makes sense!

NuGet shouldn't display downgrade warnings between different types (package/project). This looks like a bug in NuGet.

[2017-04-20 20:15] dsplaisted commented on #1082
It does support this now to a degree.  If you have a ProjectReference (direct or transitive), it will override any PackageReference to something with the same package ID.  So it won't automatically resolve packages to projects, but if you add a project reference you can replace a NuGet package with the source code for your build.

[2017-04-20 20:20] jaredpar commented on #1082
@emgarten

Is there a bug tracking this in NuGet or should we file a new one?

[2017-04-20 21:00] livarcocc commented on #1111
@danwalmsley Not yet. We are working on making updating the CLI also update some of the bits in VS. Meanwhile, is this working for you now with the latest CLI?

[2017-04-20 21:55] emgarten commented on #1082
@jaredpar it looks like https://github.com/NuGet/Home/issues/4620 covers this, we can close this issue in favor of that one.

[2017-04-20 22:46] normj commented on #983
Just adding my vote for @Petermarcu design rules. I'm assuming in the case of `<TargetFramework>netcoreapp2.0</TargetFramework>` and the machine has both `2.0.0` and `2.0.3` installed that `2.0.3` would be used.

Is there ever a time `targetRuntime` affects shared runtime apps? If it is only useful for self-contained apps it would be more clear if the name indicated that. The name `targetRuntime`

[2017-04-20 22:46] ericstj commented on #1082
I think this behavior needs to be explicit.  Now that we have MSBuild's rich metadata system I think we should use it.  I can't even count the number of times I've helped folks who "accidentally" used this feature.

[2017-04-21 05:35] richlander commented on #983
@dsplaisted and I met on this today. I'm in the process of writing up our conclusions.

[2017-04-21 17:30] jaredpar opened #1138 "Create standalone Net Core App"
How can I setup my project so that the build output has a fully runnable .Net Core application?  I don't want it to be dependent on the shared framework being installed.  Hence all dependencies should appear in the output directory.

[2017-04-21 17:59] nguerrera commented on #1138
There is not currently a way to do this straight to the output directory. You need to use the publish verb/target and specify the runtime identifier that you want your standalone publish output to run on.

dotnet publish -r [RID]
msbuild /t:publish /p:RuntimeIdentifier=[RID]

https://docs.microsoft.com/en-us/dotnet/articles/core/deploying
https://docs.microsoft.com/en-us/dotnet/articles/core/rid-c

[2017-04-21 18:30] jaredpar commented on #1138
@nguerrera tried that out and it got me a bit further.  All of the dependencies are deployed but no exe.  In the past we were using CoreRun as the kick off executable but can't find an equivalent here.  How do I run the output of `/t:Publish`?

[2017-04-21 18:31] #1025 closed

[2017-04-21 19:46] nguerrera commented on #1138
If your project has OutputType=Exe, you'll get an  exe with your assembly name that runs your app.

[2017-04-21 19:57] jaredpar commented on #1138
@nguerrera not seeing that.  Verified my OutputType is EXE.

[2017-04-21 19:58] nguerrera commented on #1138
Can you point me to your branch and repro steps?

[2017-04-21 20:02] nguerrera commented on #1138
I think this is probably because you can't reference Microsoft.NETCore.App. I'll figure out a workaround and it will help to have your actual setup to confirm.

[2017-04-21 20:03] jaredpar commented on #1138
@nguerrera sure

1. Git clone https://github.com/jaredpar/roslyn
1. Switch branch to fix-correct
1. Run Restore.cmd in the root
1. cd `src\Tools\Source\CompilerGeneratorTools\Source\CSharpErrorFactsGenerator`
1. Run `msbuild /v:m`
1. Run `msbuild /t:publish`

The output folder will be `Binaries\Debug\Exes\CSharpErrorFactsGenerator\netcoreapp1.1\publish` relative to the clone directory.

[2017-04-21 20:05] jaredpar commented on #1138
@nguerrera that particular project can reference Microsoft.NetCore.App.  Tried it though and it didn't fix the issue.

[2017-04-21 20:09] nguerrera commented on #1138
Weird. Taking a look.

[2017-04-21 21:19] jaredpar commented on #1138
@nguerrera came by and we eventually figured this out.  The reason it wasn't working for me came down to a couple of problems

- The project file
    - Did not have an explicit `<RuntimeIdentifier>` entry.
    - Did have old legacy entries that likely needed to be removed: `<NuGetRuntimeIdentifier>`, `<RuntimeIndentifier>` (intentionally misspelled)
- The project did not reference `Microsoft.NETCo

[2017-04-21 21:19] #1138 closed

[2017-04-21 22:54] srivatsn commented on #1086
@jinujoseph was talking about writing a doc about that.

Ah yes for netstandard it might work but I believe it is broken for netcore. Either way it's not tested and

The plan is to update the VS code analysis experience to be powered by Roslyn.

[2017-04-22 16:45] AArnott opened #1142 "Generated AssemblyInfo.cs file should be regenerated after package restore"
Incremental build is buggy. If a user installs Nerdbank.GitVersioning into a .netstandard project in VS2017 after the assemblyinfo.cs was generated in the obj directory, the user will get build errors until they delete the file.

I've hit this so many times, and @asherber just reported it as well: https://github.com/AArnott/Nerdbank.GitVersioning/issues/121

Please regenerate the file on each buil

[2017-04-22 16:56] dasMulli commented on #1142
Does the target added through that nuget package add itself to `MSBuildAllProjects` (see `https://github.com/dotnet/sdk/blob/92bc907bab03ce3d88e5b62f4486d51ce8b90486/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.targets#L15`)?

I've filed a smilier issue (https://github.com/dotnet/sdk/issues/967), PR is still in discussion (https://github.com/dotnet/sdk/pull/1007).

[2017-04-22 17:15] AArnott commented on #1142
Thanks for the tip about `MSBuildAllProjects`. I usually include that, but evidently forgot to do so in this package. I'll see how that works.

[2017-04-22 17:22] AArnott commented on #1142
That doesn't resolve the issue. Probably because the .targets file in my package cache is older than the generated assemblyinfo.cs file, so MSBuild considers that it doesn't invalidate the generated file.

[2017-04-22 20:48] purehaTime opened #1143 "Generate MVC project from dotnet console (2.0)"
I generated new mvc project from dotnet console (version 2.0.0-preview1-005783) : dotnet new mvc
After restoring I try to build default project, but I gave error:

I just replaced "ConfigureConfiguration" to "ConfigureAppConfiguration" (check msdn) and all works, but I was confused

[2017-04-23 23:08] livarcocc commented on #1143
Please, pick up the latest CLI and re-activate if you still hit any issues.

We fixed this in latest.

[2017-04-23 23:08] #1143 closed

[2017-04-24 17:01] livarcocc commented on #1010
Yep, I believe this is a dup of #795.

[2017-04-24 17:01] #1010 closed

[2017-04-24 20:30] jviau opened #1144 "Consider moving OutputPath and related properties to .props for .netcore sdk"
With the new Sdk import style, it is difficult, if not impossible to import targets _after_ the Sdk.targets. This means common properties like OutputPath defined in the Sdk.targets are unusable by any other targets (such as targets from a nuget package). It isn't even unusable in the .csproj itself as it is always empty then.

I suggest moving OutputPath, IntermediateOutputPath, and other related

[2017-04-24 20:39] jviau commented on #1144
@srivatsn @dotnet/project-system fyi, as I believe you own the .netcore sdk files.

[2017-04-25 02:55] StingyJack commented on #677
This still doesn't work for things like  $(ConfigurationName) either, and that is known before building.

[2017-04-25 05:37] livarcocc commented on #1009
@KirillOsenkov can you answer @davkean's question above? What exactly is the issue that you are facing here?

[2017-04-25 15:54] nguerrera commented on #1144
It is definitely possible.

[code]

is syntactic sugar for:

[code]

Once expanded, you can put logic before and after each import if needed.

[2017-04-25 15:56] nguerrera commented on #1144
Also, we cannot compute the final output path in props in the common case because it is dependent upon the value of `$(TargetFramework)`.

[2017-04-25 16:06] nguerrera commented on #1132
Closing as duplicate of #1006

[2017-04-25 16:06] #1132 closed

[2017-04-25 16:07] nguerrera commented on #1054
I've run in to issues where I don't have the control I want over CopyLocalLockFileAssemblies vs publish, but I think that's adequately tracked by https://github.com/dotnet/sdk/issues/933

[2017-04-25 16:27] KirillOsenkov commented on #1009
I've tried to repro in VS 2017 Update 1 and it no longer reproes. Closing.

[2017-04-25 16:27] #1009 closed

[2017-04-25 16:41] AArnott commented on #1006
Per #1132 this only repros for me when the project defines the `TargetFrameworks` property.

[2017-04-25 18:14] jviau commented on #1144
I wanted to avoid having to expand into the individual Sdk imports. But yes I agree that does solve it.

I still think that the default output path calculation should be moved to the .props. Every .netcore project I create I immediately overwrite the OutputPath and IntermediateOutputPath in the csproj or Directory.Build.props. I am fine if the default OutputPath doesn't include target framework. I

[2017-04-25 19:23] tannergooding commented on #1144
I think the question is whether that is a reasonable default for everyone.

My understanding is that `OutputPath` and `IntermediateOutputPath` should contain the TargetFramework and the RuntimeIdentifier (for non-AnyCPU runtimes), so that projects are properly differentiated (especially in the case of multi-targeting, where this differentiation is required).

Having `Microsoft.NET.DefaultOutputPat

[2017-04-25 19:36] nguerrera commented on #1144
You can specify `<GenerateDocumentationFile>true</GenerateDocumentationFile>` and it will use the correct path for you. The project system is being fixed to emit that for you.

[2017-04-25 19:38] nguerrera commented on #1006
@AArnott Thanks. I missed that subtlety in #1132. Strangely, the repro steps here for the same symptom show `TargetFramework` not `TargetFrameworks`. We'll have to look a both cases to be sure.

[2017-04-25 19:47] jviau commented on #1144
@tannergooding that is an interesting issue. Is it possible to move any of that calculation to the .props?

I find the current system very difficult to understand where .netcore is going to output to. As I am trying to get other target files working on .netcore I am wasting a lot of time investigating why targets either fail or don't run. Typically ending up with "Oh, the output path is not set at

[2017-04-25 19:53] tannergooding commented on #1144
They "could" be moved to *.props in either case (single or multi targeting). The issue is users (or consumers, such as NuGet) taking a dependency on it assuming that the value represents the true OutputPath, when it actually doesn't (since it doesn't include the TargetFramework or RuntimeIdentifier yet) and would result in later build conflicts if they depend on the non-final value.

Is it not pos

[2017-04-25 20:05] jviau commented on #1144
Moving my targets to run after the Sdk.targets partially solves that issue. I see value in the some targets explicitly wanting the outputpath pre-targetframework, like NuGet packaging does.  However, is there a special location you can put targets in to be imported after Sdk.targets? Do we need something like `Directoy.Build.AfterSdk.targets`? It would be nice for this to be solved without having

[2017-04-26 02:18] livarcocc opened #1150 "With implicit package target fallback to net461, dotnet add package fails"
Running `dotnet add package NewtonSoft.Json --version 9.0.1 --framework netcoreapp2.0` to a project like below fails with package imcompatible with specified framework if we have a PTF to net461.

[code]

[2017-04-26 04:52] jviau commented on #1144
I checked and `Directory.Build.targets` is imported after output path is set, which is great!

[2017-04-26 06:56] natemcmaster opened #1151 "Resolve package references to projects"
In project.json, dependencies could be either a project or a package reference. NuGet and compilation would resolve the package vs project based on some conventions (like folder name) and the global.json file. Futhermore, VS would automatically add new projects to the solution explorer when the were discovered.

In MSBuild, there is no equivalent feature. References are either ProjectReference or

[2017-04-26 07:26] dsplaisted commented on #1151
This is possible to some degree today.  If you have a `ProjectReference`, it will override any package references to the same package ID in the restore graph.  You don't need the PrivateAssets=all `PackageReference` shown in the docs when want to replace the package with a project reference instead of a reference to a DLL.

Some caveats:

- For things to work in VS, you need to add the projects to

[2017-04-26 07:27] davidfowl commented on #1151
@dsplaisted It's such a bad experience though. We need something comparable to what `project.json` had. It needs to be obvious and it needs to just work without the caveats listed.

[2017-04-26 07:53] cwe1ss commented on #1151
Getting this feature back would be awesome!

With `global.json`, it was pretty easy to mistakenly commit the "wrong" global.json/sln file with the local debug paths. It would show up as a broken build on the CI server so it's not the end of the world. I'm just wondering if there's any chance of doing this without touching any of the committed files? Maybe the overrides could be stored in the .suo

[2017-04-26 12:49] Mpdreamz opened #1152 "MSB4057 The target "ResolveComReferencesDesignTime" does not exist in the project."
Getting bit by this mysterious error.

[code]

If I simplify this to either `<TargetFrameworks>` or `<TargetFramework>` with no condition everything loads fine in visual studio.

By the way the above fully works from the command line and rider.

Changing to

[code]

Works

[2017-04-26 15:08] nguerrera commented on #1152
This issue was moved to dotnet/project-system#2076

[2017-04-26 15:08] #1152 closed

[2017-04-26 15:25] nguerrera commented on #1126
Closing because we think there is no work required. @JunTaoLuo Have you given it a try? Feel free to reopen if it does not work for you.

[2017-04-26 15:45] eerhardt commented on #1126
In an offline discussion we decided this is required for profiling, and profiling is an important scenario.  There is work to be done here - we need to give an option to generate the PDBs when running `dotnet store`.  I'm working on this.

[2017-04-26 15:50] nguerrera commented on #1131
We debated this quite a bit in https://github.com/dotnet/sdk/issues/93 and didn't reach a consensus. I personally favored the single Version property approach as well. Still, we shouldn't break compatibility with projects that already use the VersionPrefix/VersionSuffix despite their less than perfect names.

The options here seem to be:

1. Pick better names. To remain compatible, we would have t

[2017-04-26 15:50] #1131 closed

[2017-04-26 20:57] tmeschter opened #1155 "Class library added to a web app not found at runtime"
Installed VS: d15prerel 26426.1-Preview with the following workloads:

- Universal Windows Platform development
- .NET desktop development
- Desktop development with C++
- ASP.NET and web development
- Office/SharePoint development
- Mobile development with JavaScript
- Visual Studio extension development
- Linux development with C++

_Note that VS isn't actually used in this repro, I just used it

[2017-04-27 04:19] livarcocc commented on #1043
This should be fixed now. Re-activate if this still an issue.

[2017-04-27 04:19] #1043 closed

[2017-04-27 18:38] livarcocc commented on #1155
I believe you are missing a dotnet restore after adding the reference from the WebApp to the ClassLibrary. I tried this here now and it worked and hitting About display the appropriate message coming from the ClassLibrary.

[2017-04-27 18:38] #1155 closed

[2017-04-27 21:42] srivatsn opened #1157 "Setting EnableDefaultCompileItems to False doesn't remove the files from solution Explorer"
_From @jinujoseph on February 8, 2017 23:9_

Create a ClassLibrary (.Net Core)
Take a copy of Class1.cs and drop in the same folder
you will see of them included
Now edit the csproj and put the below information

[code]
Build again , it includes only Class1.cs but the solution explorer shows all files, expected ?

![image](https://cloud.githubusercontent.com/assets/12449387/22761664/9c18182e-ee10-

[2017-04-27 21:42] srivatsn commented on #1157
_From @davkean on February 9, 2017 0:19_

This is because `<None>` picks them up. @dsplaisted

[2017-04-27 21:42] srivatsn commented on #1157
Another side effect of this reported through [VSFeedback](https://developercommunity.visualstudio.com/content/problem/20512/when-enabledefaultcompileitemsfalse-new-compile-it.html) is that when the user goes to add a cs file to the project in this state, the None glob picks it up and so it's not passed to the compiler as a source file.

[2017-04-27 21:42] srivatsn commented on #1157
_From @davkean on February 22, 2017 23:6_

Ah, that's bad.

[2017-04-27 21:42] srivatsn commented on #1157
Moving this to SDK since this is caused by the None globs - @dsplaisted are they really useful? I find the None globs more annoying than useful since it picks up all files in that folder

[2017-04-28 03:15] agocke opened #1159 "Can't make a shared-framework targeted package without a reference to NETCore.App"
Repro:

1. Create a netcoreapp1.1 default exe project.
2. Add `<DisableImplicitFrameworkReferences>true</DisableImplicitFrameworkReferences>`
3. Add references (System.Runtime, etc) as necessary to get it to compile.
4. Publish.

The `runtimeconfig.json` is now empty instead of the expected `netcoreapp1.1`. There should be some way to manually specify the target runtime framework without referenci

[2017-04-28 07:03] richlander commented on #983
FYI: The proposal is close to done. Just wanted folks to know that this is still in the works.

[2017-04-28 20:23] g0t4 opened #8185 "Suggestion: Add custom MSBuild targets to the command resolver, i.e. `dotnet mytarget`"
**TLDR**: `dotnet mytarget` could trigger `dotnet msbuild /t:mytarget`

Let's say I have a custom target in my project file: `<Target Name="mytarget" ...`

To execute this I can run `dotnet msbuild /t:mytarget` which is rather verbose.

Now that MSBuild is an integral part of the `dotnet` CLI, why not have a command resolver that checks for custom targets? We could add this to the end of the curre

[2017-04-28 21:13] sbomer opened #1160 "Unable to run self-contained webapi template"
# Details
Publishing a self-contained app using the webapi template produces an app that does not run.
I found out that this is because the publish output gets filtered by `/home/sven/.dotnet/NuGetFallbackFolder/microsoft.aspnetcore.all/2.0.0-preview1-24647/build/manifest.linux-x64.xml`.

This breaks the ability to run a supposedly self-contained app locally (this used to work). I wasn't sure whet

[2017-04-29 13:47] mrahhal opened #1161 "Major floating versions causing errors when restoring"
[code]

`dotnet restore` fails with the following error:

[code]

In some other cases, it's giving me:

[code]

However, if I specify the exact version, or a version like "1.0.0-*' it works. Note that both the referenced project and the source project are targeting "net461".

Looking into the source code of parsing those floating versions, I don't think this is a nuget issue. Tried Minor and Patch

[2017-04-30 00:45] JunTaoLuo opened #1162 "dotnet store creates manifest that does not match the actual store produced if referencing an assembly contained in the shared framework but with a different version."
The problem seems to be a manifest that includes newer versions of assemblies that exist in the runtime.

I have created a minimum repro at https://github.com/JunTaoLuo/DotnetStoreSharedFrameworkPackage.

For example, the manifest (csproj) includes a reference to Microsoft.Win32.Registry: 4.4.0-preview2-25228-02 which is different from the one inside shared framework 2.0.0-preview1-002101-00. Afte

[2017-04-30 00:49] JunTaoLuo commented on #1162
Environment information:
[code]

[2017-04-30 01:29] eerhardt commented on #1162
It looks like Microsoft.Win32.Registry is contained in the Shared Framework, and has a separate NuGet package outside of Microsoft.NETCore.App.

@ericstj @weshaggard - I thought the assemblies in the Shared Framework were no longer going to be in separate nuget packages?  Isn't this the issue with 1.0 and 1.1 where having a reference to a higher version now pulls you out of the shared framework?

[2017-05-01 03:54] livarcocc commented on #1161
@mrahhal what do you mean by referenced project? Are you building a nupkg for the referenced project, putting it in a place configured in your NuGet.Config and referencing it?

Or is it simply a project that you have in your source tree? If that's the case, you need to reference it with a ProjectReference. Also, any chance this reference already exists in some feed and when you use * it gets rolle

[2017-05-01 05:48] mrahhal commented on #1161
The referenced project (I'm calling "Foo") is a nuget package I'm publishing in a private myget feed. I checked the public nuget feed for the existence of a package by the same name but there isn't (the name is long and unique anyway).

Tried referencing it from a scratch new project just to make sure and the same problem occurred. Maybe Nuget/Home#5127 is related?

[2017-05-01 06:39] JunTaoLuo opened #1164 "Delay resolution of TargetManifestFileList until Publish"
Currently the `TargetManifestFileList` is resolved as a global item group [here]( https://github.com/dotnet/sdk/blob/39102ec214514363c6af4cd9d599a35aceb8c745/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Publish.targets#L32-L34).

It would be convenient for us if this resolution was delayed until the `Publish` target so that we can specify `TargetManifestFiles` in our own target before `

[2017-05-01 17:08] weshaggard commented on #1162
Some of them do still have individual packages in cases where they carry assets for supporting more then just .NET Core. That is the case for Registry as we have assets that support desktop and other places.

[2017-05-01 17:44] TheRealPiotrP opened #8191 "Consider adding `ref` as alias for `reference` in `dotnet add`"
## Steps to reproduce
`dotnet add ref ../foo/foo.csproj`

## Expected  behavior
Works

## Actual behavior
Fails

## Notes
This is certainly subjective, so the team should make the call. When using the CLI, `dotnet add ref` seemed quite natural to type when trying to add a reference to another project.

## Environment data
`dotnet --info` output:

[2017-05-01 17:53] TheRealPiotrP opened #8192 "Misleading error message when specifying unknown target to `dotnet add`"
## Steps to reproduce
`dotnet add foo bar`

## Expected  behavior
`'foo' is an unrecognized thingie`

## Actual behavior
`Unrecognized command or argument 'bar'`

## Notes
@jonsequitur @livarcocc @wli3 I'm pretty sure this is an expected ambiguity in the current parsing model. The fix here is not immediately clear since we can interpret `foo` as either the subject {the target project} or as the `v

[2017-05-01 20:26] dpoeschl opened #1165 "Cannot build dotnet/roslyn: "It is not supported to build or publish a self-contained application without specifying a RuntimeIdentifier.""
I've `git -clean xdf` 'd my enlistment, gotten latest, and now I can't build because of this error:

[code]

[2017-05-01 21:01] natemcmaster opened #1166 ".NET Core 2.0 restore imports .NET Framework targets from packages"
The implicit PackageTargetFallback in Microsoft.NET.Sdk.BeforeCommon.targets causes .NET Framework targets to be imported into .NET Core 2.0 projects.

### Repro
Run dotnet restore on this:
[code]
SQLitePCLRaw.lib.e_sqlite3.linux contains a file in `build/net35/SQLitePCLRaw.lib.e_sqlite3.linux.targets`

### Expected

`build/net35/SQLitePCLRaw.lib.e_sqlite3.linux.targets` should not be imported.

#

[2017-05-01 21:31] #1042 closed

[2017-05-01 21:32] ramarag commented on #1002
This should be fixed now

[2017-05-01 21:32] #1002 closed

[2017-05-01 21:34] ramarag commented on #1162
This is related to https://github.com/dotnet/sdk/issues/1023

@weshaggard @dsplaisted is the package level conflict resolution logic available in sdk when assemblies conflict with M.N.App

[2017-05-01 21:44] ramarag commented on #1162
@JunTaoLuo there is a workaround, there is a catch you should not refer to any library that is built against pre 2.0 FX

you can pass ```/p:SkipRemovingSystemFiles=true```, this will not assume the FX assemblies have precedence over the explicitly defined  packages

[2017-05-01 21:52] nguerrera commented on #1165
If the project has SelfContained=true and RuntimeIdentifier is empty, this error is expected. If it's working in some environments, it is likely because those environments have an older SDK.

[2017-05-02 14:57] eerhardt commented on #1162
I spoke with @JunTaoLuo last night.  My understanding is that this issue should not be blocking.  ASP.NET should not be using `preview2` libraries in their `preview1` runtime store.

@JunTaoLuo @Eilon - please correct me if I'm wrong.  And if so, please explain how this issue is blocking.

[2017-05-02 15:17] eerhardt commented on #1162
@ramarag - maybe the right thing to do here is to also trim the `Microsoft.NETCore.App` packages from the output `artifacts.xml` manifest file.  That way we aren't "lying" in the file saying that `Microsoft.Win32.Regstry` was put in the runtime store, when it really wasn't.

[2017-05-02 16:37] kichalla commented on #1162
cc @mikeharder

[2017-05-02 16:41] bsmayer commented on #1161
+1

[2017-05-02 16:50] mikeharder commented on #1162
@eerhardt : We will remove the `preview2` packages from our `preview1` feeds and test this again.  We're not sure yet if this will unblock.

[2017-05-02 17:35] 5arif commented on #773
i get the same error when try to deploy to heroku

`remote:   NuGet Config files used:
remote:       /app/.nuget/NuGet/NuGet.Config
remote:
remote:   Feeds used:
remote:       https://api.nuget.org/v3/index.json
remote:
remote:   Installed:
remote:       187 package(s) to /tmp/tmp.gFsb85wxmy/app/AutoCore.Service/AutoCore.Service.csproj
remote:       211 package(s) to /tmp/tmp.gFsb85wxmy/app/AutoCo

[2017-05-02 18:36] JunTaoLuo commented on #1162
To update, this issue is blocking ASP.NET and it's not only because of `preview2` libraries in `preview1`. For preview1, we needed a fix in SqlClient in `4.4.0-preview1-25301-03` this version is newer than the one in the shared framework version `2.0.0-preview1-002101-00`. This version mismatch means we cannot load the correct version of `Microsoft.Win32.Regstry`. Wondering if we can get a newer b

[2017-05-02 18:53] JunTaoLuo commented on #1162
Will try again with the latest shared runtime 2.0.0-preview1-002106-00, this might let us work around the problem by aligning packages.

[2017-05-03 00:45] davkean opened #1170 ""ResolvePackageDependencies" task failed unexpected"
_From @MiaomiaoHuangfu on April 21, 2017 10:18_

- Copy the file \\scratch2\scratch\jinuj\TestSceanrio\MultiTargetting.zip to the machine and extract it;
- double click the .sln file, auto restore completed with 4 errors:
 ![restorewitherros](https://cloud.githubusercontent.com/assets/22901391/25273319/e18461de-26bd-11e7-9d27-22b9fe73ea0f.png)

- Close the solution and reopen it, restore completed

[2017-05-03 06:37] fancyDevelopment commented on #1151
@davidfowl I completly agree to you. The developer experience on dnx with project.json was great. especially in the case of debugging into a nuget package from own code. You had just to clone the git repository and set one path in global json. Had to make not a single Change to my project. I couldn't be easier. I can't understand why Microsoft has thrown away such a great feature when all this was

[2017-05-03 22:30] basoundr opened #1174 "Few checks for Framework projects should look at TargetExt for outputtype instead of looking at OutputType directly"
The logic to set AutoGenerateBindingRedirects happens [here](https://github.com/dotnet/sdk/blob/af6530cb7b4fffb143a2b5d188606d521b17b775/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.BeforeCommon.targets#L46)

If the output type of project is set to 'Windows Application' instead of 'Console Application', we should still set AutoGenerateBindingRedirects to true.

So the condition coul

[2017-05-04 00:53] richlander commented on #983
The proposal has just been posted. See https://github.com/dotnet/designs/issues/3.

[2017-05-04 04:27] nguerrera commented on #1174
I see now that you filed an issue here for the issues other than F5. I'd rather we come up with the right coding pattern and fix them all together. Using $(TargetExt) is problematic because in the netcoreapp case you have OutputType=Exe and TargetExt=.dll. So we can't just switch all OutputType==Exe. I think we need a distinct variable to trigger these behavior, initialize it based on Exe or WinEx

[2017-05-04 04:52] nguerrera commented on #1165
This was fixed on the roslyn build side. The older version of the SDK had no concept of SelfContained so it was ignored (like any other random variable). The usage was in fact incorrect for versions that had this concept as reported by the error.

[2017-05-04 04:52] #1165 closed

[2017-05-04 04:56] nguerrera commented on #1161
This issue was moved to NuGet/Home#5161

[2017-05-04 04:56] #1161 closed

[2017-05-04 04:59] nguerrera commented on #1126
Is this fixed by #1156?

[2017-05-04 05:48] nguerrera commented on #1115
@davkean Is LinkBase going to be required for the feature you're adding or is it just going to make it nicer to use than the long form of putting Link based on metadata?

[2017-05-04 06:02] dasMulli commented on #1115
If this is implemented, could `LinkBase` be defaulted to `\`?
It's currently a bit weird to be able to include items (with or without globs) from outside the project cone only to find out that they won't follow the same publishing / copy-to-output rules. e.g. Content items won't be assigned target paths by MSBuild and thus not being picked up by publish (see [this SO question](http://stackoverflow

[2017-05-04 06:12] nguerrera commented on #1142
If restore changed the targets that are imported, then the file restore generates with imports from packages should have changed. Does that not put itself in MSBuildAllProjects?

[2017-05-04 07:09] nguerrera commented on #1120
The rationale for the default is like many others in the SDK: to reduce boilerplate by transforming what you get from the new project templates in to defaults supplied by props and targets.

Now if VB File -> New hasn't had a different RootNamespace convention, we should change the SDK default accordingly. (It would be truly breaking to change the default for C# now (because SDK project behavior w

[2017-05-04 09:33] joelharkes opened #1177 "dotnet pack takes dependencies from other .csproj file!"
I have an an repo like this

[code]

My RestClient.Models.csproj consists of:

[code]

Now when i run `dotnet pack -c Release`. But in the .nupkg their are now dependencies that i register in the `RestClient.csproj`, instead of having no dependencies!

in Nuget Package Explorer:
![image](https://cloud.githubusercontent.com/assets/2960938/25697966/54695458-30bd-11e7-96eb-9fafad8be9ab.png)

## Expec

[2017-05-04 11:54] dasMulli commented on #335
So the [mono 5 beta](http://www.mono-project.com/download/beta/) is able to build SDK projects using its version of msbuild (which is option nr 3 from one of my above comments). I feel like this issue can be closed since there is nothing to do on the SDK side, the remaining work is probably UX only - like making the CLI forward to / use the system msbuild (https://github.com/dotnet/cli/issues/5723

[2017-05-04 12:40] eerhardt commented on #1126
It was mostly implemented by that, but there are some things left:

1. adding CLI options to 'dotnet store'
2. defaulting symbols to "on" (they are off by default for preview1)
3. some of the MSBuild property names are going to change given new perspectives.

[2017-05-04 15:03] onovotny commented on #1006
Probably the same issue I just filed here https://github.com/NuGet/Home/issues/5164

Repros with Humanizer. Steps in linked bug

[2017-05-04 15:43] jaredpar commented on #1120
I agree.

The SDK could also document the breaks in behavior.  Knowing this was a break is better than spending a few hours to discover it's a break.

[2017-05-04 18:18] nguerrera commented on #1177
This issue was moved to NuGet/Home#5165

[2017-05-04 18:18] #1177 closed

[2017-05-04 18:22] nguerrera commented on #1170
From the screenshot, it looks like CoreCL project is referencing an old version of Microsoft.NET.Sdk as a PackageReference. I don't have access to the zip right now to confirm, though.

If I'm right, the project needs to be updated to import the Sdk via `<Project Sdk="Microsoft.NET.Sdk">`...

[2017-05-04 22:18] rohit21agrawal opened #1179 "add Pack=false on implicit framework references in sdk for projects targeting net framework"
NuGet just checked in a feature to start packing framework assemblies https://github.com/NuGet/NuGet.Client/pull/1361 (written down as frameworkAssemblyReferences in the nuspec of the resulting nupkg) . It allows one to override this behavior by specifying Pack=false on a Reference to prevent it from being packed.

Sdk targets should mark all the implicit references with Pack=false so they don't g

[2017-05-04 23:12] davkean commented on #1115
@nguerrera The latter.

[2017-05-05 01:44] ramarag opened #1181 "Add app specific info to apphost.exe during publish"
Addressing https://github.com/dotnet/core-setup/pull/2287#issuecomment-299351863
This will allow machine admins to blacklist/whitelist stand alone apps

cc @gkhanna79 @morganbr

[2017-05-05 05:25] dasMulli commented on #992
@dsplaisted That latest PR broke referencing a netstandard 2.0 nuget package in a net461 app since no `netstandard.dll` is added to the consuming project.

Using cli `2.0.0-preview1-005957`, if I create a NuGet package for `netstandard2.0` with a simple type (`FooClass`) and reference that nupkg from a `net461` app, the following runtime exception occurs:
[code]

If the nuget packages aren't suppo

[2017-05-05 06:58] dsplaisted commented on #992
@dasMulli

There is now a separate package used to support referencing .NET Standard from .NET Framework: `NETStandard.Library.NETFramework`.  I believe the plan is for this to be automatically referenced if you need it if you are using PackageReference in your .NET Framework project and are using VS 15.3 or higher.  For earlier versions of VS, or if you're using packages.config, you would need to

[2017-05-05 07:00] dasMulli commented on #992
Thanks for the explanation!

[2017-05-05 07:02] dasMulli commented on #992
Is the automatic reference to `NETStandard.Library.NETFramework` supposed to be an SDK feature or a NuGet feature? (=> classic csproj with `PackageReference`)

[2017-05-05 09:15] gulbanana commented on #992
Also, does it work when you have ProjectReferences instead of PackageReferences?

[2017-05-05 10:52] Metamorphus commented on #120
So, is the problem fixed? I still sometimes get runtime errors like: "System.IO.FileNotFoundException: Could not load file or assembly '...'. The system cannot find the file specified" for the DLLs that I reference directly from the disk.

[2017-05-05 14:39] eerhardt commented on #120
@Metamorphus - yes this problem is fixed.  If you are having problems, please open a new issue with your .csproj and which version of the .NET Core SDK you are using (by copying the output of `dotnet --info`).  And any other information you think would help diagnosing the problem.

[2017-05-05 14:41] eerhardt commented on #120
Also, please set `COREHOST_TRACE=1`, run your app, and attach the output to the bug as well.

[2017-05-05 23:14] basoundr opened #1183 "GenerateRuntimeConfigurationFiles is for .Net Core Projects only"
[Refer here](https://github.com/dotnet/sdk/pull/1178#discussion_r115101389)

[2017-05-05 23:57] #992 closed

[2017-05-06 00:29] rynowak opened #1184 "dotnet store is too tolerant of package downgrades"
I had a case recently in https://github.com/aspnet/JitBench/tree/dev where the version of the of the ASP.NET libraries in my manifest file https://github.com/aspnet/JitBench/blob/dev/CreateStore.proj wasn't getting set.

The result is `dotnet store` got all of the `1.0.0` versions and of the packages and printed warnings like:
[code]

The operation completed successfully.

It doesn't see useful to

[2017-05-06 06:39] karelz commented on #1006
@nguerrera we believed this is release blocker. Do you agree?
Or is there some workaround @onovotny didn't find?

[2017-05-06 09:13] nguerrera commented on #1006
I agree. I have not looked for a workaround. I plan to fix this soon.

[2017-05-06 14:19] karelz commented on #1006
Awesome, thanks a lot!

[2017-05-08 02:12] davkean opened #1187 "Need to click Uninstall 3 times to actually uninstall .NET Core SDK"
I've got a tonne of previous versions of .NET SDK installed on my machine (I have no idea why, do we not uninstall these on uninstall of VS?).

It takes 3 clicks of an "uninstall" button to uninstall them:

1. Search for "Apps & Features" in start menu and open it
2. Find Microsoft .NET Core [version] SDK
3. Click Uninstall
![image](https://cloud.githubusercontent.com/assets/1103906/25787817/0f3b7

[2017-05-08 07:52] Sumo-MBryant commented on #1096
Also see: https://github.com/dotnet/sdk/issues/1020

[2017-05-08 07:54] Sumo-MBryant commented on #1096
Also see: https://github.com/dotnet/sdk/issues/939

[2017-05-08 08:01] Sumo-MBryant commented on #939
Has anyone found a workaround that is close to successful?

For a minimal netstandard1.X project reference to a netcoreapp1.X project:

`SkipGetTargetFrameworkProperties` fails in `GenerateDepsFile` (https://github.com/dotnet/sdk/issues/1020)

Interestingly enough when I restore and build from MSBuild directly the `project.assets.json` file is missing the project reference and builds successfully.

[2017-05-08 08:26] dasMulli commented on #335
Closing since resolving reference assemblies is now clearly a responsibility of the hosting MSBuild distribution.

[2017-05-08 14:27] dsplaisted commented on #335
We would still like for the CLI to be able to build for .NET Framework out of the box. To do this we are thinking of skippin shipping the reference assemblies as NuGet packages.

[2017-05-08 15:53] borgdylan commented on #335
Would the SDK allow running of xunit tests against desktop .NET/Mono when hosted under MSBuild 15 (the one that runs on the latter CLRs)? AFAIK this is only supported under the CLI as things stand.

[2017-05-08 15:57] dasMulli commented on #335
@borgdylan this is best filed at https://github.com/Microsoft/vstest for `dotnet test` or https://github.com/xunit/xunit for `dotnet xunit` (which already has an option to use the system msbuild)

[2017-05-08 19:56] borgdylan commented on #335
I asked on the xunit repo, since I use linux and therefore use VS Code not VS proper.

[2017-05-08 21:10] ramarag commented on #1184
@rynowak dotnet store does not do any checks. We in fact restore each entry in the manifest individually so that other entries do not upgrade or downgrade each other.
What you are seeing seems to be the default behavior of Nuget. If you get any upgrades in other projects it is because the project is restored as a unit and other referred packages upgrades the aspnet package according ti Nuget Rules

[2017-05-08 21:57] rynowak commented on #1184
OK so I tried this again by setting the version number to something that doesn't exist (2.0.0-preview3-20303). This fails, and that seems right.

So I think the issue that I'm trying to report here only happens when you omit the version number of a package. I ended up with a store full of 1.0.0 packages when none of my package references had a version specified. That might be NuGet's default behav

[2017-05-08 22:44] AArnott commented on #1142
Yes, my package does (now) add the .targets to MSBuildAllProjects. But MSBuild does *not* track changes to the set of projects in that property, so that doesn't matter to MSBuild. What *does* matter for MSBuild's own Target Inputs/Outputs attributes is whether any file specified in Inputs is newer than any file specified in Outputs. And as I said in my last comment, unless package restore *actuall

[2017-05-08 22:52] AArnott commented on #939
No. I finally gave up and checked the binary into git so I didn't need a project reference. I tried for *days* but never found a way that got dotnet build, msbuild, and VS to all work correctly at once. 😦

[2017-05-08 23:42] prafullbhosale opened #1189 "GenerateRuntimeConfigurationFiles task failed unexpectedly on a project targeting netcoreapp1.0"
### Setup:
CLI Version : 2.0.0-preview1-005972
VS Version: d15rel 26507.0

### Repro steps:

1. Create a new Asp.NET Core Web application (1.0) in VS
2. Add a global.json with `{ "sdk" : { "version": "1.0.4" } }`
3. Right click project -> Publish -> Folder -> Publish.

It fails with the error
[code]

cc @vijayrkn @mlorbetske @balachir

[2017-05-08 23:52] nguerrera commented on #1142
@AArnott I understand that, but I am referring above to the contents of  obj\SomeProject.nuget.g.targets that is generated by restore to pull in SomePackage.targets, not to SomePackage.targets itself.

AFAICT, any change to what's imported via packages will cause changes to *.nuget.g.(props|targets) to change during restore. If you start using a package with targets, then the import will be writte

[2017-05-09 00:01] AArnott commented on #1142
Oh I see. Then yes, I guess I'd be puzzled by that as well -- unless the very build that is `/t:restore` itself writes out the generated source file in question, and later writes out the nuget imports .targets file.

[2017-05-09 00:02] vijayrkn commented on #1189
@nguerrera
Does the msbuild resolver look for global.json sdk version, when determining which sdk to use?

[2017-05-09 00:03] prafullbhosale opened #1190 "RuntimeFrameworkVersion for 1.0 and 1.1 apps"
With CLI version `2.0.0-preview1-005972` the `RuntimeFrameworkVersion` property is being set to `1.0.4` (and `1.1.1` for 1.1 apps) targeting netcoreapp1.0

The CLI version `1.0.4` the property is being set correctly to `1.0.5` and `1.1.2` for netcoreapp1.0 and netcoreapp1.1 respectively.

cc @vijayrkn @balachir @mlorbetske

[2017-05-09 00:04] vijayrkn commented on #1190
@nguerrera

[2017-05-09 00:38] nguerrera commented on #1190
@livarcocc Looks like https://github.com/dotnet/sdk/pull/1146 needs to be ported to 2.0.

[2017-05-09 05:28] gulbanana commented on #335
despite the confusing name, vstest isn't part of visual studio - it's used by "dotnet test"

[2017-05-09 15:57] livarcocc commented on #1190
@nguerrera can you go ahead and port the change? We will have to spin a new SDK and insert it into the CLI.

[2017-05-09 17:41] nguerrera commented on #1189
It does, but it seems that somehow we're not getting the same directory information from msbuild and so some things are not finding global.json. This causes a mix of 1.0.4 and latest to be used. cc @AndyGerlicher

[code]

[2017-05-09 22:31] nguerrera commented on #1189
Debugging this, there are several layers of issues here:

* The ProjectFilePath that is used when no SolutionFilePath is available is actually the importing project path and not the csproj we expected (Microsoft/msbuild#2083).
  * So when the csproj imports the web sdk, we respect the global.json and get web sdk 1.0.4, but then when the web sdk imports the net sdk, we don't see a global.json at th

[2017-05-09 22:32] nguerrera commented on #1189
@dsplaisted @johnbeisner

[2017-05-09 22:36] nguerrera commented on #1189
This issue was moved to dotnet/cli#6553

[2017-05-09 22:36] #1189 closed

[2017-05-09 22:36] nguerrera commented on #1189
Moved to CLI because the resolver is implemented there.

[2017-05-09 23:09] DamianEdwards opened #1193 "Don't run ResolveAssemblyReference if there are no conflicts in the project.assets.json"
In a new ASP.NET Core 2.0 application, `dotnet build` is slower than in an ASP.NET Core 1.x application. This is primarily due to the new meta-package `Microsoft.AspNetCore.All` that brings in the entire product graph (~180 assemblies) causing `ResolveAssemblyReference` (RAR) to take a long time (5-7 seconds on my cold very powerful, dev machine, still greater than 1 second after warm-up), which a

[2017-05-10 00:39] dsplaisted commented on #983
I've updated the original issue with the updated plan of record based on https://github.com/dotnet/designs/issues/3

[2017-05-10 01:13] dsplaisted opened #1194 "Generate errors if targeting versions of .NET Core or .NET Standard that are higher than the current SDK supports"
As mentioned in https://github.com/dotnet/designs/issues/3, a .NET SDK will support targeting a maximum version of .NET Core and .NET Standard.  If a project is opened that targets a higher version, an error message should be generated indicating that a newer SDK is needed.

For the 2.0 SDK, the versions should be capped at .NET Standard 2.0 and .NET Core 2.0.

Implementation-wise, we may want to

[2017-05-10 08:30] stevescot commented on #604
In my case this was a problem as the .csproj.user file had a reference in it as well as the .csproj - so have a look in both files - if it exists in both this can cause the problem

[2017-05-10 15:29] RodrigoCC90 opened #1196 "Project migration from the 2016 RC1 to VS 2017 with Asp Core works locally perfectly and deploys, but the deployment now seems to not bring anything from azure table storage"
Background. This project was started with dotnet 1.0.0-preview2-003121 and am now in 1.0.3

(1) First changes, I simply accepted the automatic visual studio migration. Debug worked on the first try perfectly as far as I could tell. My home page loaded with images and information that are all in azure table storage.

(2) I then I decide to put this version on my already existing development web app

[2017-05-10 16:26] #764 closed

[2017-05-10 16:34] dsplaisted commented on #879
Moving to 2.0 for us to provide a better error message here.

[2017-05-10 16:47] livarcocc commented on #1196
This issue was moved to aspnet/Home#2027

[2017-05-10 16:47] #1196 closed

[2017-05-10 16:59] dsplaisted commented on #18
@emgarten What kind of errors / warnings could `LockFileUtilities.GetLockFile` log?  Should we be forwarding those as MSBuild errors and warnings when we call this method in an MSBuild task?

[2017-05-10 17:03] adamralph commented on #1131
@nguerrera I hadn't even noticed that there was a single Version property already. The problem is, I've seen people use VersionSuffix alone, redundantly, in place of Version, which illustrates the problem. I.e. if there's no Version what can VersionSuffix suffix? That should scenario should result in an exception being thrown somewhere.

I understand your reluctance to make breaking changes and I

[2017-05-10 17:08] dsplaisted commented on #26
@natidea I think some of these diagnostics will be covered by the work you are doing for #1026

[2017-05-10 17:44] emgarten commented on #18
Yes, they should be displayed to the user in the rare case something is logged there. NuGet logs an error if the file cannot be opened or the file is invalid.

[2017-05-10 18:15] ericstj opened #1198 "Publish of DLL with RID not longer includes shared framework bits."
Using the following project:
[code]

Run `dotnet publish -f netcoreapp1.1 -r win7-x64`

In 1.1.0 RTM you'd get a standalone layout.

In latest 2.0 preview bits you only get the DLL.

If I change outputtype to Exe or explicitly set SelfContained it gets the standalone layout.

/cc @eerhardt

[2017-05-10 18:48] dsplaisted opened #1199 "Implicit includes of resource files should include appropriate metadata"
Adding a .resx file to an SDK project using Visual Studio results in the following added to the project file:

[code]

Ideally, nothing would be added to the project file when you add a .resx to the project.  We may be able to do this in the SDK just by setting the appropriate metadata on the implicit `EmbeddedResource` items and the `Compile` items for `.Designer.cs` files.

[2017-05-10 19:46] ericstj opened #1200 "ResolvePackageFileConflicts does not support ForcedPackages"
This was added to HandlePackageFileConflicts in standard repo as a means for allowing the developer to force a particular package to win a conflict, even if it would not normally.

See https://github.com/dotnet/standard/commit/69533e8b958ed4661671369303655b4d7731d260
https://github.com/dotnet/standard/commit/d5755879fd5a74034e29bfa9e529ceec29581a63

/cc @dsplaisted

[2017-05-10 20:23] ericstj opened #1201 "_ConflictPackageFiles and _PublishConflictPackageFiles should be made public items"
Or some other public item should be passed to GenerateDepsFile/@FilesToSkip.  We're plugging into this for the trimming work.

See https://github.com/dotnet/standard/blob/08f168eda8926c0c0d752efcfe071ef043e685ba/Microsoft.Packaging.Tools/tasks/targets/Microsoft.Packaging.Tools.Trimming.targets#L57

/cc @dsplaisted @sbomer

[2017-05-10 21:22] jonsequitur commented on #1100
I'm seeing the same behavior with plain old un-preprocessed C# files.

[2017-05-10 21:39] emgarten commented on #1100
@jonsequitur there shouldn't be any extra steps needed for .cs files. Check your props file under ``obj\projectname.csproj.nuget.g.props`` to see how your files are getting referenced from the package.

[2017-05-10 21:41] dsplaisted commented on #246
We've had per-TFM project capabilities for a while: https://github.com/dotnet/sdk/blob/1b04d83fe4b5b50e0cb5240c72739c99f645a4b2/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.targets#L406-L414

[2017-05-10 21:41] #246 closed

[2017-05-10 22:16] ravipal opened #1203 "project property SupportsDeployOnBuild is not true on ASP .Net core project with Core 2.0 installed"
Service fabric ASP .Net Core web application targeting the full framework doesn't deploy when Core 2.0 is installed. The project uses a custom target to package the application and the code depends on the project property SupportsDeployOnBuild, which is not true. If Core 2.0 is uninstalled, the property SupportsDeployOnBuild value is true and the package works fine.

Repro steps
1. On VS 2017, ins

[2017-05-10 23:48] vijayrkn commented on #1189
@nguerrera for the publish issue, the code is in tfs and we will fix it.

[2017-05-11 06:36] NikolaosWakem commented on #983
as of VS2017 15.2 everyone needs to edit their csproj file with <PropertyGroup>
    <TargetFramework>netcoreapp1.1.1</TargetFramework>
  </PropertyGroup>
if they don't want 502.5 Processs Failure Error on Azure as 1.1.2 isn't on Azure - this definitely needs to be added to VS2017 interface and/or the ability to ship a self contained website (including framework)

[2017-05-11 14:50] Qowy opened #1204 "Capitalization difference breaks automatization portability"
dotnet publish and build create folders named \bin\Release\publish on Windows
but /bin/release/publish on Linux

This breaks things like Dockerfiles that are created on Windows and run on Linux

Of course if you are aware of this you can just use the lowercase version and it should also work on Windows, but is there any reason it does this?

[2017-05-11 15:18] rainersigwald commented on #1204
Related: https://github.com/dotnet/sdk/issues/375.

[2017-05-11 16:55] ericstj commented on #534
+1 again.  I'd like to poison our new framework packages and point folks to update their SDK.  I'd really like something explicit to trigger that on, rather than a side-effect of implementation.

[2017-05-11 17:14] AArnott commented on #534
Maybe if folks +1 the top-level issue itself it will gain more visibility. :)

[2017-05-11 17:26] nguerrera commented on #534
@dsplaisted can you poach this as part of your bug push?

[2017-05-11 18:40] ericstj commented on #534
Ideally this is a property to identify both the SDK project type and the SDK version.

[2017-05-11 18:50] nguerrera commented on #534
What do you mean by sdk project type?

[2017-05-11 18:51] ericstj commented on #534
What @AArnott described initially.

[2017-05-11 20:56] nguerrera commented on #534
So "is this an sdk project or not" not "what kind of sdk project is this". Got it.

[2017-05-11 21:02] eschneider999 commented on #984
Thanks, for the update. Any new info?

Why is it so hard to just to let us know?

Hell, you could have made the templates available for download with a warning...

[2017-05-11 21:09] eschneider999 commented on #984
Also I never understood why all the project/solution related settings screens are different for c# and vb.net ?

I used both regularly, seems all it does is make things more difficult for everyone.

[2017-05-11 21:20] srivatsn commented on #984
The VS 2017 15.3 Preview that was released yesterday has templates for VB .NET Core and .NET Standard projects. See https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes

[2017-05-11 21:20] #984 closed

[2017-05-11 21:28] nguerrera commented on #909
This will be fixed by #1178 once the test project sets HasRuntimeOutput to true, which is now tracked by https://github.com/Microsoft/vstest/issues/792

[2017-05-11 21:29] nguerrera commented on #1070
This will be fixed by #1178 once the test project sets HasRuntimeOutput to true, which is now tracked by Microsoft/vstest#792

[2017-05-11 21:29] #1070 closed

[2017-05-12 02:39] dsplaisted commented on #96
I tried fixing this in #1202, but it turns out that our unit tests still target .NET Core 1.0 so they aren't getting a version of FileVersionInfo with the fix.  So we need to untangle that before re-enabling this check on non-Windows.

[2017-05-12 05:03] livarcocc commented on #1111
I believe we got this working again now. Please re-activate if you still hit it.

[2017-05-12 05:03] #1111 closed

[2017-05-12 09:00] AnthonyDGreen commented on #984
@eschneider999

They're different because they were made by different people who each thought different details were more or less important than others. No one decided to make them different at the time and no one has decided to go back and make them the same since. Sometimes when we redo things we look at both and try to take the best of both worlds but not always. When pressed for time it's safe

[2017-05-12 15:28] rainersigwald opened #1205 "Missing default NoWarn settings when NoWarn is defined in Directory.Build.props"
_From @AArnott on May 10, 2017 20:18_

Building in a 15.2 VS Developer Prompt works fine, but when building in a 15.3 Preview prompt, I get lots of errors like this:

[code]

### Repro steps

[code]

If you get other errors, you might run the "init" script in the root of the repo and try to build again.

MSBuild that is broken: 15.3.118.39484
MSBuild that works: 15.1.1012.6693

_Copied from origin

[2017-05-12 15:28] rainersigwald commented on #1205
_From @AndyGerlicher on May 10, 2017 23:4_

Is this a compiler error? Or is the input somehow changing after you upgrade to 15.3?

[2017-05-12 15:28] rainersigwald commented on #1205
_From @AArnott on May 11, 2017 2:28_

The input is not changing. I have one enlistment and two VS command windows open. One works, one doesn't.

[2017-05-12 15:28] rainersigwald commented on #1205
_From @AArnott on May 11, 2017 2:47_

Good point about it being a compiler error. The differences between the compiler command line are essentially this (in addition to the different path to csc.exe):

[code]

CS1701 is an error in the build output, so the fact that it's no longer being suppressed seems to be what's breaking it. In fact I tried executing the exact same (broken) command line in bot

[2017-05-12 15:28] rainersigwald commented on #1205
_From @AArnott on May 11, 2017 2:48_

This issue was moved to dotnet/roslyn#19425

[2017-05-12 15:28] rainersigwald commented on #1205
_From @AArnott on May 12, 2017 15:2_

Roslyn closed their issue as an msbuild or .targets change.

[2017-05-12 15:29] rainersigwald commented on #1205
@AArnott Your repro steps appear useless outside of your team; I'm getting 401 Unauthorized on `https://devdiv.pkgs.visualstudio.com/DefaultCollection/_
packaging/VSIDE-RealSigned-Release/nuget/v3/index.json` as a NuGet restore source.

[2017-05-12 15:33] rainersigwald commented on #1205
I have updated the title to reflect the real bug here. @AArnott has this is a `Directory.Build.props`:

[code]

When this intersects with https://github.com/dotnet/sdk/blob/16b2d88ed0f936734bdf042359de55bd4015591d/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.CSharp.props#L17, it means that the default NoWarn of `1701;1702;1705` is not used, causing this error.

Note that the `Direct

[2017-05-12 17:15] AArnott commented on #1205
@rainersigwald Thanks for the diagnosis. I suspect you're right.
As for my repro steps, anyone at MSFT should be able to pull packages from that feed, but only nuget.exe 4.0 (or VS) can get the access tokens necessary for it (MSBuild and dotnet cannot). Once you have pulled packages once, MSBuild and dotnet can do it after that, so long as the tokens are valid.

[2017-05-12 17:32] Eilon opened #1206 "app.config gets overwritten"
_From @vankampenp on May 9, 2017 11:46_

When including an app.config file in a project, it gets included in the `<PROJECTNAME>.exe.config` with every deployment.
When reading the app.config file using `ConfigurationManager.AppSettings` in a referred .Net Framework library, it reads the app.config included in the `<PROJECTNAME>.exe.config`, not from the separately distributed file.

So it seems im

[2017-05-12 18:37] srivatsn opened #3869 "Pack related properties\attributes missing from csproj intellisense"
Pack is metadata that can be added to pack control packing behavior <Content Pack="false" ... /> This doesn't show up in intellisense.

Reported here as well - https://developercommunity.visualstudio.com/content/problem/53390/is-missing-from-csproj-intellisense.html

Let's look at all Pack\NuGet related properties from https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets and make sure the

[2017-05-12 19:25] twsouthwick opened #1207 "Using pack on an executable project"
Is there a way to use the `pack` target to generate a nupkg for tools? That is, on a project with an executable, call `msbuild /t:pack` and have it generate the nupkg and include all the files necessary to run?

[2017-05-12 19:47] eschneider999 commented on #984
I know why they are different; the point is I know they should not be, worst case they could have a tab for language specific features. Someday day Microsoft will wake up and fix all the stupid things in Visual Studio and stop wasting time on the stupid "Start Page".

[2017-05-12 20:23] nguerrera commented on #1115
Is there a definitive list of the items that should honor LinkBase?

[2017-05-12 20:30] srivatsn commented on #1115
The project system will only show Compile, AdditionalFiles, None, Content, EmbeddedResource in the tree. (See [here ](https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Rules/CSharp.ProjectItemsSchema.xaml#L12-L13) and [here](https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/Project

[2017-05-13 02:31] JunTaoLuo opened #1210 "dotnet store for multiple RIDs"
We currently build stores and pass in a single runtime identifier to select native assets to place in the store. This works for us for now where our dependencies all contain one RID that's sufficient for each platform but this may change in the future.

For example, we currently create the store with the RID win-x64 consolidated RID and it just happens that libuv and sqlitepclraw both have native

[2017-05-13 02:31] JunTaoLuo opened #1211 "dotnet store cross-gen all versions of a dependency"
From my understanding, the current dotnet store restores and cross-gens each package separately and this could lead to multiple versions of the same dependency in the store, even though we envision only one version being loaded at runtime.

This is better illustrated by the Microsoft.AspNetCore.Hosting package in the sample repro I have created at https://github.com/JunTaoLuo/StoreMultiVersion. Th

[2017-05-13 13:10] rainersigwald opened #8254 "Add path to global.json SDK version lock"
Builders of large systems often want to be able to explicitly specify an SDK version _and_ avoid installing the CLI to a machine-global location.

Currently, `global.json` allows the version lock, but the specified version must be installed in either a machine-global location or a nonstandard location must be specified by the environment variable `DOTNET_MSBUILD_SDK_RESOLVER_SDKS_DIR`.

That envir

[2017-05-13 14:45] powellcj12 opened #8257 ".NET Core macOS installer is allowed to install on unsupported OS versions"
## Steps to reproduce
1. Download .NET Core installer on a Mac running 10.10
2. Attempt to install it

## Expected  behavior
Installation fails because .NET Core requires 10.11+ (and .NET Core 2 requires 10.12+)

## Actual behavior
Installation succeeds. When using .NET Core 2 installer on 10.10, you get a crash from the post install script that runs.

Some discussion about this in dotnet/core#640

[2017-05-13 15:32] gkhanna79 commented on #1210
It is definitely possible but we should consider it when we have a real scenario for this. This is a nice to have for 2.0.

[2017-05-13 15:35] gkhanna79 commented on #1211
Store command has not inherent knowledge of which package will be required at runtime and should not be in the business of determining that as well. The only entity who knows this is the store profile manifest author who generates the store and they should use such knowledge to figure out what should be present or not.

[2017-05-15 00:42] Daniel15 commented on #294
Just wanted to thank you for providing this workaround/fix:

[code]

I was migrating a project from `xproj` to `csproj` where it was targeting .NET 4.0 client profile in addition to .NET 4.5.1 and .NET Standard 1.3:
[code]

I was hitting "Cannot infer TargetFrameworkIdentifier and/or TargetFrameworkVersion from TargetFramework='net40-client'" after the upgrade.

[2017-05-15 07:07] oliverjanik commented on #514
When will this fix land?

[2017-05-15 10:47] kjnilsson commented on #335
Although I can get around normal building by using `msbuild` from mono 5.0 directly is there a work-around for this issue when using `dotnet pack`? Even if I pass `--no-build` it complains about the missing reference assemblies?

[2017-05-15 10:51] dasMulli commented on #335
@kjnilsson you can use a call like `msbuild /t:Pack /p:Configuration=Release`

[2017-05-15 10:52] kjnilsson commented on #335
@dasMulli thanks - I get:

[code]

[2017-05-15 10:55] dasMulli commented on #335
Then i believe this is not an SDK-based project? (`<Project Sdk="...">`) This would mean that `dotnet pack` also wouldn't work on windows.. (or the same msbuild invocation).

[2017-05-15 10:58] kjnilsson commented on #335
@dasMulli `dotnet pack` works if I don't multi-target. No idea if it works on Windows.
See: https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/rabbitmq-dotnet-client-308/projects/client/RabbitMQ.Client/RabbitMQ.Client.csproj

[2017-05-15 11:22] dasMulli commented on #335
Looks like the stable mono 5 doesn't have a `NuGet.Build.Tasks.Pack` "Sdk"

[2017-05-15 11:54] dasMulli commented on #335
@kjnilsson you can add a `<PackageReference Include="NuGet.Build.Tasks.Pack" Version="4.0.0" PrivateAssets="All" />` in the meantime. This will make it work with mono msbuild but you should pass `/p:NuGetBuildTasksPackTargets=junk-value` to avoid conflicts with the sdk-imported one on windows when using `dotnet pack`.

Or fail-proof your project like this:
[code]

[2017-05-15 12:16] kjnilsson commented on #335
Thank you for your help - that does appear to work.

[2017-05-15 12:44] sm-g commented on #1073
@vijayrkn Is it merged into https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.2.md ?

[2017-05-15 14:27] eerhardt commented on #1211
The store command creates the fully expanded graph of dependencies for the packages you specify.  There is no dependency version unification between separately specified packages.

The reasoning is because if someone just references `Microsoft.ApplicationInsights.AspNetCore:2.0.0` in their app, and publishes against a store manifest that contains `Microsoft.ApplicationInsights.AspNetCore:2.0.0` in

[2017-05-15 17:05] livarcocc commented on #1207
Absolutely, we do that ourselves, here is an example of a csproj that does that: https://github.com/dotnet/cli/blob/master/TestAssets/TestPackages/dotnet-portable/dotnet-portable.csproj.

And you can just invoke dotnet pack on the project (or msbuild pack).

[2017-05-15 17:05] #1207 closed

[2017-05-15 17:36] natemcmaster opened #1212 "Package analyzers always included, ignoring exclude settings"
NuGet provides the "ExcludeAssets" setting to allow excluding analyzers from packages. However, it appears the SDK still includes analyzers in the build even if excluded.

(cref https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets)

**Repro**
[code]

[code]
[code]

**Expected**
The analyzer in `xunit.analzyers/0.1.0/analyzers/dot

[2017-05-15 19:40] lucabriguglia opened #1213 "InvalidOperationException: Cannot find compilation library location for package 'xxx'"
I see this error when adding an application part:

`applicationPartManager.ApplicationParts.Add(new AssemblyPart(assembly));`

I have updated Microsoft.Extensions.DependencyModel to v2.0.0-preview1-002111.

Microsoft.Extensions.DependencyModel.CompilationLibrary.ResolveReferencePaths()
Microsoft.AspNetCore.Mvc.ApplicationParts.AssemblyPart+<>c.<GetReferencePaths>b__8_0(CompilationLibrary library)

[2017-05-15 20:34] dsplaisted commented on #329
This has been finalized.  By default both the target framework and runtime identifier (if set) will be included in the output path.  This can be changed with the `AppendTargetFrameworkToOutputPath` and `AppendRuntimeIdentifierToOutputPath` properties.  #867 tracks making it easier to set a common output path.

[2017-05-15 20:34] #329 closed

[2017-05-15 20:39] dsplaisted commented on #342
Dependencies\ now uses `PackageReference`, and the templates are no longer part of this repo.

[2017-05-15 20:39] #342 closed

[2017-05-15 21:08] #96 closed

[2017-05-15 21:10] dsplaisted commented on #402
This issue was moved to dotnet/templating#799

[2017-05-15 21:11] #402 closed

[2017-05-15 21:20] dsplaisted commented on #477
@onovotny This would be fixed by your PR #889, right?

[2017-05-15 21:27] dsplaisted commented on #485
This would be best handled in the language-specific targets, which live in the MSBuild repo for C# and VB.  So I'm going to move this issue.

[2017-05-15 21:27] dsplaisted commented on #485
This issue was moved to Microsoft/msbuild#2101

[2017-05-15 21:27] #485 closed

[2017-05-15 21:29] onovotny commented on #477
Yes

[2017-05-15 22:24] dsplaisted commented on #504
@onovotny I think the best solution is to use a target to set the version properties.  Evaluation within a target can depend on properties set by targets that ran previously.

I think you should be able to structure the package so that by default it sets the Version to a reasonable value (eg `GitVersion_SemVer`).  If you want to override that, you can add a target to your project file.  You put th

[2017-05-15 22:24] #504 closed

[2017-05-15 22:32] dsplaisted commented on #536
It looks like the workaround for this was already removed.

[2017-05-15 22:32] #536 closed

[2017-05-15 22:32] DamianEdwards opened #1216 "Publish task needs to take target manifest into consideration when copying refs to output when PreserveCompilationContext is true"
When running `dotnet publish` in an ASP.NET Core 2.0 project (created from `dotnet new`), with `<PreserveCompilationContext>true</PreserveCompilationContext>` in the project file, the `refs` directory in the output folder ends up containing every assembly in the graph of the `Microsoft.AspNetCore.All` meta-package, despite the fact that they're also in the runtime store, as specified by the target

[2017-05-15 22:34] dsplaisted commented on #574
@srivatsn @davkean Do we still need this or does the project system now call the target to get the value?

[2017-05-15 22:36] davkean commented on #574
We can't call the target to get the value, we're inside a project lock when we need this.

[2017-05-15 22:40] dsplaisted commented on #619
Looks like this is fixed

[2017-05-15 22:40] #619 closed

[2017-05-15 23:01] JunTaoLuo commented on #1211
We are not concerned about the scenario of users referencing the `M.Application.AspNetCore:2.0.0` package directly, and having it published app-local seems reasonable to me. In fact, we reference that package here along with M.A.Hosting (https://github.com/aspnet/AzureIntegration/blob/5d162d79e8edf195877088e530aa2a16c14915e2/src/Microsoft.AspNetCore.ApplicationInsights.HostingStartup/Microsoft.Asp

[2017-05-15 23:01] JunTaoLuo commented on #1211
FYI @DamianEdwards @davidfowl

[2017-05-15 23:03] dsplaisted commented on #628
It looks like this is fixed, but I've opened https://github.com/dotnet/project-system/issues/2177 as the project system doesn't understand that the target framework and runtime identifier are automatically added to the output path.

[2017-05-15 23:03] #628 closed

[2017-05-15 23:05] dsplaisted commented on #654
Migrate should no longer be creating projects that will generate this warning.

[2017-05-15 23:05] #654 closed

[2017-05-15 23:12] JunTaoLuo commented on #1216
Note that to reproduce this from a default project, `MvcRazorCompileOnPublish` must be set to false. See repro at https://github.com/JunTaoLuo/PreserveCompilationContextRefs

[2017-05-15 23:20] dsplaisted commented on #665
Building from VS or from full framework MSBuild is fixed.  .NET Core MSBuild (ie via the `dotnet` command) is tracked by https://github.com/Microsoft/msbuild/issues/1333.

[2017-05-15 23:20] #665 closed

[2017-05-15 23:28] dsplaisted commented on #713
@srivatsn Is this still an issue?

[2017-05-15 23:30] dsplaisted commented on #736
We've done this for some tests with attributes such as `CoreMSBuildOnlyFactAttribute`.

[2017-05-15 23:36] dsplaisted commented on #778
This would probably be fixed by #1007

[2017-05-15 23:40] dsplaisted commented on #825
Closing this in favor of the NuGet issue.

[2017-05-15 23:40] #825 closed

[2017-05-15 23:51] livarcocc commented on #1213
What version of the CLI are you using? Can you share the output of dotnet --info?

[2017-05-16 00:13] DamianEdwards commented on #1216
Right. Repros more easily with an empty web project.

[2017-05-16 00:19] dsplaisted commented on #388
This should be possible to do with .csproj.

[2017-05-16 00:19] #388 closed

[2017-05-16 01:08] ramarag commented on #1211
Why do you refer M.A.Hosting 1.0 ever in M.Application.AspNetCore:2.0.0. Should you not be removing the reference there.

From the store user's perspective the App actually might not want to use M.A.Hosting 2.0 and actually downgrade it to some other version of M.A.Hosting that is the lowest common denominator.

[2017-05-16 01:11] dsplaisted commented on #881
If you're not using `Microsoft.NET.Sdk.Web` in WebBase, then you would need to update `None` instead of `Content`:

[code]

However, I'd suggest simply using the Web SDK for WebBase, then I think the views will automatically be included without you needing to specify them in your project file.

[2017-05-16 01:11] #881 closed

[2017-05-16 01:14] JunTaoLuo commented on #1211
We don't ship M.ApplicationInsights.AspNetCore. That's created by the AppInsights team and they depend on our LTS 1.0.0 versions. However, in our store we would prefer hoisting up to the latest versions of our packages. If the user would like to downgrade then they will just end up with the older versions of our packages in the app local output.

My understanding is that stores are composable. If

[2017-05-16 01:14] dsplaisted commented on #885
Is this still an issue?  Do front-end and back-end refer to Jenkins and VSO, or to the SDK and CLI repo, or what?

[2017-05-16 01:18] #931 closed

[2017-05-16 01:25] dsplaisted commented on #955
It looks to me like the issue here is probably that the .NET Native toolchain doesn't handle portable PDBs.

[2017-05-16 01:26] dsplaisted commented on #955
Based on the comment [here](https://developercommunity.visualstudio.com/content/problem/29331/pdbs-are-not-generated-when-building-a-uwp-app-tha.html), it looks like this has been fixed.

[2017-05-16 01:26] #955 closed

[2017-05-16 01:28] dsplaisted commented on #960
This has been fixed (or mostly fixed) in the Web SDK.

[2017-05-16 01:28] #960 closed

[2017-05-16 01:28] ramarag commented on #1211
This is the shortcoming of how the packages are specified, if we are to take a unit of dependency then nuget will compute the correct package graph. From the generic store functionality we have two options:

1. Specify the file as unit of  dependency - This would imply **multiple versions** of the same package can **never** be put in the store using a single file.
2. Each PackageReference as the u

[2017-05-16 01:29] dsplaisted commented on #990
This was fixed with #1208

[2017-05-16 01:29] #990 closed

[2017-05-16 01:32] #395 closed

[2017-05-16 01:52] ramarag commented on #1211
By 3, I mean
PackageReference's will be restored as a group
Add another itemgroup called AdditionalPackageReference which will be restored individually.

We will have to take a breaking change to ensure that the ItemGroup names are consistent with their other usag

[2017-05-16 04:02] gkhanna79 commented on #1211
@JunTaoLuo Why do we think this is required for 2.0? Store command's granularity is package and based upon the transitive closure of the packages specified.

[2017-05-16 05:08] srivatsn commented on #713
No this was something odd about the dependency projects that was fixed in the repo itself.

[2017-05-16 05:08] #713 closed

[2017-05-16 16:12] eerhardt commented on #1193
This is related to https://github.com/Microsoft/msbuild/issues/2015.

[2017-05-16 16:22] dasMulli commented on #1193
Related: https://github.com/dotnet/cli/issues/5918
(TL;DR the build time increases linear to the number of projects involved in the graph. 3x "7-second" projects => 21 seconds)

[2017-05-16 16:27] rainersigwald commented on #1193
I don't think I understand the request here. RAR is the way `@(ReferencePath)` is determined. How could it be elided?

[2017-05-16 16:41] davidfowl commented on #1193
The theory is that RAR only needs to be run to resolve dll conflicts as nuget already figures out package conflicts. After thinking about this a bit, it may not work as cleanly as I expected because we now embed the same dlls in Microsoft.NETCore.App and NETStandard.Library so there might always be conflicts in 2.0 applications.

The goal to was to figure out ways to elide calling RAR altogether.

[2017-05-16 17:13] natemcmaster opened #1219 "GenerateDepsFile task sometimes fails: "Property with the same name already exists on object""
We're seeing an issue in the latest SDK when compiling https://github.com/aspnet/EntityFramework. It doesn't repro everytime, but when it does,

1. MSBuild issues an error about the GenerateDepsFile task failing on one project
2. MSBuild then hangs indefinitely

Here is the error message:
[code]

**Repro steps**
`git clone https://github.com/aspnet/EntityFramework && cd EntityFramework`
`dotnet re

[2017-05-16 17:49] DamianEdwards commented on #1193
The other suggestion made was to pass all the ASP.NET Core assemblies as "Framework Assemblies" to RAR, as that might result in it processing them less (or not at all). Do we have any more information on that option?

[2017-05-16 18:05] natemcmaster opened #1220 "Implicit package reference to NETStandard.Library.NETFramework"
Are there plans to add automatically reference the NETStandard.Library.NETFramework package?

.NET Framework projects referencing a .NET Standard 2.0 library but missing a PackageReference to NETStandard.Library.NETFramework will fail at runtime with:
[code]

Original issue: https://github.com/dotnet/standard/issues/328. Per conversation there, @weshaggard indicated there was a plan to automatical

[2017-05-16 18:25] weshaggard commented on #1220
@livarcocc @dsplaisted @terrajobst @ericstj Can you guys comment on the plans to automatically reference NETStandard.Library.NETFramework? It is my understanding that we will have an implicit reference to it from the SDK tools at least.

[2017-05-16 19:03] dazinator opened #8271 "Feature Suggestion - Compatibility"
Idea arisen from: https://github.com/dotnet/cli/issues/6611

My understanding is the CLI is designed to run side by side (multiple versions) and the policy is to always default to the latest version of the CLI unless a version is explicitly provided (global.json sdk value)

The problem I have encountered with this, is if you install a newer version of the CLI that has a breaking change, then this

[2017-05-16 19:10] lucabriguglia commented on #1213
@livarcocc I was using 1.0.4 but I fixed it and now it's targeting the correct one but I'm still seeing the error.

![capture](https://cloud.githubusercontent.com/assets/8679253/26123429/c53164aa-3a72-11e7-85ac-7a5f8a8c3ac3.PNG)

[2017-05-16 22:20] #595 closed

[2017-05-17 01:06] livarcocc commented on #1220
@terrajobst who was driving this.

[2017-05-17 02:07] ramarag commented on #930
The issue no longer repros

[2017-05-17 02:07] #930 closed

[2017-05-17 03:47] livarcocc commented on #1213
@eerhardt Can this be another instance of the ref assembly not being found in the store?

[2017-05-17 16:28] eerhardt commented on #1213
I'm not sure.  I'd need to repro it and debug it.  What is `xxx`?  Is that in your .deps.json file?  Can you attach the .deps.json file?  Also, did you publish your app? Or is this during `dotnet run` or F5 in VS?

[2017-05-17 18:09] lucabriguglia commented on #1213
xxx is Weapsy.Apps.Text ([Weapsy.Apps.Text.deps.zip](https://github.com/dotnet/sdk/files/1008689/Weapsy.Apps.Text.deps.zip)) which an extension of my CMS (https://github.com/Weapsy/Weapsy - branch VS2017)

The exception is thrown during dotnet run.

[2017-05-17 18:34] moozzyk commented on #1220
+1 for this. I was investigating an issue with a WPF app referencing SignalR Client (which targets netstandard1.3) and without a reference to NETStandard.Library.Network I could not build my app. The error is very hard to grok:
[code]

[2017-05-17 21:07] nguerrera commented on #1006
PR #1224 is out to fix this

[2017-05-17 21:15] eerhardt commented on #1216
This isn't just as straight forward as excluding those assets from the `refs` folder in all cases.  The runtime store only has the runtime assemblies in it.  If a package has separate `compile` assets from the `runtime` assets, then the `compile` assets still need to be copied to the `refs` folder, even though the `runtime` assets are in the runtime store.

Examples of this scenario that exists to

[2017-05-17 21:52] eerhardt commented on #1213
So after doing some investigation on your scenario, you are trying to load an assembly (extension) that doesn't exist in your app's bin folder.  Instead it exists in a separate sub-folder of your app (Apps\Weapsy.Apps.Text).

Has this scenario ever worked?  I don't think it could have ever worked in ASP.NET 1.0-2.0.  @pakrym and I have had conversations about this scenario, but we've never explici

[2017-05-17 21:54] jonsequitur commented on #1100
I see. I was hitting a bug where Visual Studio needs to be reopened before it will build the referenced file.

[2017-05-17 21:55] pakrym commented on #1213
@lucabriguglia did this ever work? @pranavkm  can clarify it but I don't think MVC supports loading from libraries outside application dependency closure.

[2017-05-17 22:05] pranavkm commented on #1213
Not out of the box. @sebastienros might have some guidance for this based on Orchard.

[2017-05-18 01:46] hennys opened #1227 "Conditional project references fail when targeting multiple TFMs"
Reproduction steps:
1. Create 3 projects, LibA, LibB & LibC (netstandard1.1)
2. Reference LibA from LibB and LibB from LibC
3. Add a class in LibA and reference it in LibC
4. Confirm successful build
5. Make LibC target another TFM (netcoreapp1.1)
6. Add a project reference to LibA, conditional to the second TFM
7. Run dotnet build or build in VS2017
8. Build fails for first TFM (netstandard1.1)

[2017-05-18 09:13] lucabriguglia commented on #1213
@eerhardt @pakrym it was working before and I saw other open source applications doing the same.

[2017-05-18 14:21] eerhardt commented on #1213
Before what?  What changed when this stopped working?  Can you point me to a SHA in your repo?

[2017-05-18 17:18] cesarbs opened #1229 "ResolvePackageDependencies failure"
Got this in VS Code with the latest pre-release version of the C# extension (1.10.0-beta3):

[code]

Happens on every project in [Kestrel](https://github.com/aspnet/KestrelHttpServer).

dotnet info:

[code]

[2017-05-18 20:01] cesarbs commented on #1229
I forgot to add, this happened on macOS.

[2017-05-18 20:19] #293 closed

[2017-05-18 21:29] rainersigwald opened #8278 "dotnetbackground.png is not retina-resolution"
## Steps to reproduce
Run the installer on macOS on a Retina MacBook Pro.

## Expected  behavior
Crisp graphics.

## Actual behavior
Purple Microsoft .NET logo in the corner in the installer is upscaled and fuzzy.

## Environment data
`dotnet --info` output:
[code]

[2017-05-18 22:19] nguerrera commented on #1229
@cesarbs Does it only fail in VS Code or also when doing `dotnet restore && dotnet build` on the command line?

cc @DustinCampbell

[2017-05-18 22:21] nguerrera commented on #1219
How often does it repro? Trying to decide if it's worth trying to repro or go straight to the dumps that you have.

[2017-05-18 22:26] natemcmaster commented on #1219
It might have something to do with Microsoft.CSharp. @kichalla ran into this earlier today when trying to convert https://github.com/aspnet/JsonPatch to netstandard2.0. It may offer a clue, and might be easier to reproduce

From @kichalla

[2017-05-18 22:28] nguerrera commented on #824
This issue was moved to NuGet/Home#5250

[2017-05-18 22:28] #824 closed

[2017-05-18 22:33] kichalla commented on #1219
I have created a PR for the JsonPatch repo https://github.com/aspnet/JsonPatch/pull/81 ...this branch actually fails to compile with the above error that @natemcmaster mentions above...you can try to clone the JsonPatch repo and checkout the branch to try a build at your end to repro...

[2017-05-18 22:35] nguerrera commented on #1106
I think the conflict resolution we did for netstandard2.0 would just fix this by picking the assembly with the higher version (assuming that's what you want). Does this repro with VS 15.3 Preview1 and https://www.microsoft.com/net/core/preview#windowscmd ?

cc @ericstj @dsplaisted

[2017-05-18 22:38] nguerrera commented on #1019
@dasMulli

PrivateAssets=All does suppress publishing, but that was arguably a mistake. We've added Publish=true as a way to get PrivateAssets without impacting publish, and Publish=false to impact publish without impacting how dependency flows to consumers.

I suspect the issue here is that the `CopyLocalLockFileAssemblies` implied for .NETFramework circumvents the publish filtering.

[2017-05-18 22:43] nguerrera commented on #1174
This is fixed by #1178

[2017-05-18 22:43] #1174 closed

[2017-05-18 23:03] kichalla commented on #1219
Here is the error: https://ci.appveyor.com/project/aspnetci/jsonpatch/build/1.0.229#L174

[2017-05-18 23:21] DustinCampbell commented on #1229
I believe the issue is that OmniSharp is using NuGet.ProjectModel 4.0.0, but the latest SDK is using 4.3. I'm updating OmniSharp now.

FWIW, this can be moved to the C# for VS Code repo (https://github.com/OmniSharp/omnisharp-vscode).

[2017-05-18 23:23] nguerrera commented on #1229
This issue was moved to OmniSharp/omnisharp-vscode#1495

[2017-05-18 23:23] #1229 closed

[2017-05-19 00:02] nguerrera commented on #1206
@vankampenp This is how app.config is supposed to work and how it has always worked. I don't understand why you want a build of projectname.csproj to not propagate projectname's app.config to projectname.exe.config in the output directory.

[2017-05-19 00:04] nguerrera commented on #1203
@mlorbetske

[2017-05-19 00:19] mlorbetske commented on #1203
@vijayrkn any ideas?

[2017-05-19 00:20] nguerrera opened #1232 "Remove NoWarn of CS1705 because it is actually an error"
I don't think the inclusion of 1705 alongside 1701,1702 has any impact because 1705 is an error. It is for the case where unification assumed by compiler *downgrades* a ref.

[2017-05-19 00:51] nguerrera commented on #1205
I'm going to close this as by-design. We deliberately changed our props to never overwrite user settings that came earlier. I think whacking user NoWarn (as before) was worse than the current behavior.

You should just add 1701;1702 to your Directory.Build.props as well when you hit this.

I have filed dotnet/roslyn#19640 in support of simply removing these (IMHO, obsolete) warnings from the compi

[2017-05-19 00:51] #1205 closed

[2017-05-19 00:51] vijayrkn commented on #1203
if websdk is used, then it should get set.
https://github.com/aspnet/websdk/blob/dev/src/Publish/Microsoft.NET.Sdk.Publish.Targets/netstandard1.0/Microsoft.NET.Sdk.Publish.targets#L21

I can check.

[2017-05-19 01:10] nguerrera commented on #1203
This issue was moved to aspnet/websdk#206

[2017-05-19 01:10] #1203 closed

[2017-05-19 05:25] davkean opened #1233 "Should get a single actionable error when the target framework is wrong"
1. File -> New Console App
2. Right-click on project and choose Edit -> ConsoleApp.csproj
3. Change target framework to "FooBar"
4. Save project

Expected: A single actionable error
Actual:

First, during the design-time build the following error shows up:

[code]

Then when you do a full "build", you get none of which tell me that I'm typed my target framework incorrectly:

[code]

We should turn

[2017-05-19 05:30] davkean opened #1234 "GenerateRuntimeConfigurationFiles fails with a crash if it doesn't find the runtimeconfig.json"
1. File -> New Console App
2. Right-click project, and choose Edit ConsoleApp1.csproj
3. Change target framework to net48
4. Build:

[code]

[2017-05-19 09:19] lucabriguglia commented on #1213
@eerhardt before updating to VS2017.
You can clone the master branch and run it in VS2015.

[2017-05-19 11:43] vankampenp commented on #1206
Hi Nick, thanks for the response.
My point is that config files are situational, so you want to be able to deploy a different config in dev, staging and production, and in my case a different one in different production locations. For example to use different databases. If it gets overwritten in deployment, you can only have the same app.config everywhere. The appsettings.json configuration file w

[2017-05-19 12:37] nguerrera commented on #1234
It's *writing* the RuntimeConfig, not looking for it, but the output directory doesn't exist yet, which is odd.

[2017-05-19 13:02] #1206 closed

[2017-05-19 13:29] nguerrera commented on #1016
Fixed by #1178

[2017-05-19 13:29] #1016 closed

[2017-05-19 13:37] nguerrera commented on #1082
Nuget/home#4620 is fixed

[2017-05-19 13:37] #1082 closed

[2017-05-19 13:52] #481 closed

[2017-05-19 15:29] eerhardt commented on #1213
So I compared the difference between VS 2015 and VS 2017.  The change that happened is that in VS 2017 the Weapsy.Apps.Text project is using the NET.Sdk.Web SDK, which defaults PreserveCompilationContext to true.  In the VS 2015 branch, this project's project.json doesn't have this option set to true.  The fix was to set the property to false, which means the DependencyModel won't try to load the

[2017-05-19 15:29] #1213 closed

[2017-05-19 15:37] lucabriguglia commented on #1213
Thanks a lot @eerhardt!

[2017-05-19 17:23] ravipal commented on #1203
The project is using websdk as shown below
\<Project Sdk="Microsoft.NET.Sdk.Web"\>

[2017-05-19 20:38] eerhardt commented on #969
@gkhanna79 - @ramarag and I think that this isn't necessary for 2.0.  I'm going to move it to 2.1.  Please move back to 2.0 if you disagree.

[2017-05-19 21:30] eerhardt commented on #1211
An optional workaround here for 2.0 is to create a single package that references all the packages you want in the store.  Then specify that single package in your manifest.  The store command will only create 1 package graph for the whole store instead of restoring each package individually.

[2017-05-19 21:50] DamianEdwards commented on #1193
**ping**

[2017-05-19 22:37] gkhanna79 commented on #969
I am fine with the move.

[2017-05-19 23:27] natemcmaster commented on #909
This is not fixed by #1178. Even if you add `HasRuntimeOutput` to the test project, you still need the explicit RID.

**Repro**
[code]
[code]
dotnet SDK 2.0.0-preview2-006082

**Result**
[code]

**Workdaround**
add explicit rid
[code]

[2017-05-19 23:34] natemcmaster commented on #909
@nguerrera is this just because latest CLI hasn't ingested the SDK?

[2017-05-19 23:38] nguerrera commented on #909
I think so. I'll check.

[2017-05-20 00:07] JunTaoLuo commented on #1211
I'll give that a try.

[2017-05-20 11:05] lucabriguglia commented on #1213
@eerhardt @pakrym are you surprised that it works then? :-)

[2017-05-20 14:59] eerhardt commented on #1213
No, not after the realization that PreserveCompilationContext was set to false before.  When PreserveCompilationContext is false, then the DependencyModel won't try to load the assembly it was trying to load.  That's why it works.  When it is set to true, the assembly will try to be loaded, but it won't be able to be found since it is in a place where DependencyModel doesn't know to look.

[2017-05-20 15:03] eerhardt commented on #1126
This work is now complete.  Closing.

[2017-05-20 15:03] #1126 closed

[2017-05-20 17:01] livarcocc opened #1238 "dotnet build uses DebugType=portable for projects targeting .NET Framework"
_From @innix on May 19, 2017 18:26_

`dotnet build` by default uses `DebugType` value of `portable` which I believe is only valid for .NET Core projects. When `portable` pdb's are emitted for .NET Framework projects, they just get ignored. This can be confirmed by looking at a stack trace.

## Steps to reproduce
1. Create a new console app:
[code]

2. In the `.csproj` file, change the `TargetFrame

[2017-05-20 17:01] livarcocc commented on #1238
@tmat Is this expected? Should portable PDBs work for full framework TFMs?

[2017-05-20 17:01] livarcocc commented on #1238
_From @tmat on May 19, 2017 21:52_

They'll work starting with 4.7.1. They were supposed to work in 4.7 but the support was removed due to an issue that's fixed in 4.7.1.

[2017-05-20 17:01] livarcocc commented on #1238
_From @tmat on May 19, 2017 21:53_

(by work I mean the stack trace reporting line numbers and file names)

[2017-05-20 17:01] livarcocc commented on #1238
I think it may still make sense for any full framework that is not 471, to default to a different debug type. I will move this issue to dotnet/sdk.

[2017-05-21 11:06] AlexBar commented on #958
Looks like I found a way how to reproduce it:
1) Create a new "ClassLibrary2", targets "net461".
2) Create a new ASP.NET CORE app, targets "net461"
3) Build ClassLibrary2 project into dll
4) Add reference for web app to this dll
5) Add to some razor page "using ClassLibrary2" (ClassLibrary2 - default namespace for the library)
6) Run web app and you will see this error
"The type or namespace name

[2017-05-21 17:37] jeremylindsayni opened #1239 "Publishing to win10-arm or win8-arm doesn't generate an exe file for a Console application"
**Steps to recreate issue**
First I created a dotnetcore 2.0 console app, and added nodes for the RuntimeFrameworkVersion and RuntimeIdentifiers to the csproj file, as shown in the csproj file below.
[code]

Then restore and build this project (using "dotnet restore" and "dotnet build").
Now publish with the target of win10-arm using "dotnet publish -r win10-arm"
Look in the netcoreapp2.0/win10-ar

[2017-05-22 02:10] SparhawkSoftware opened #1240 "VS2017 randomly does not load .NET Core support"
I open a solution and I get an error loading the .NET core projects.
If I try to add a new project the ".NET Core" templates to not appear in the list.
If shutdown and create a new solution the ".NET Core" templates appear as they should.

Edit: It appears that double clicking on the solution file causes errors. Opening VS2017 and then opening the solution file works. Upon investigation it appears

[2017-05-22 02:14] #1240 closed

[2017-05-22 18:32] nguerrera commented on #1170
I've confirmed that the projects have PackageReferences to pre-RTM package version of the SDK. They need to be migrated to the `<Project Sdk="Microsoft.NET.Sdk"` syntax.

[2017-05-22 18:32] #1170 closed

[2017-05-22 18:35] DamianEdwards commented on #1193
@rainersigwald @kieranmo

[2017-05-22 19:41] nguerrera commented on #1239
@eerhardt @ramrag Are we failing to find the win10-arm apphost?

[2017-05-22 19:44] nguerrera commented on #1233
@dsplaisted this is related to the other cases where we want to exit with a clean error.

[2017-05-22 19:46] eerhardt commented on #1193
These conflicts are handled outside of RAR in the SDK.  We have https://github.com/dotnet/sdk/tree/master/src/Tasks/Microsoft.NET.Build.Tasks/ConflictResolution that handles these conflicts.

/cc @ericstj @dsplaisted

[2017-05-22 19:56] nguerrera commented on #1238
This is by design. We shouldn't add unnecessary complexity to the defaults. Portable PDB for < 4.7.1 is not incorrect, it's just that the framework stack trace implementation can't read them, but any VS capable of using the SDK has a debugger that can. I think we should continue to have the same default irrespective of target framework. Users can set the PDB type in their projects if they want sta

[2017-05-22 19:56] #1238 closed

[2017-05-22 20:01] nguerrera commented on #1234
Looks related to https://github.com/Microsoft/msbuild/issues/2116

[2017-05-22 20:01] nguerrera commented on #1234
@dsplaisted

[2017-05-22 20:15] nguerrera commented on #1204
The default publish directory is bin\$(Configuration)\publish on all platforms. I'm guessing that what may be happening is that you're build with $(Configuration)=Release and publishing with $(Configuration)=release.  On case-insensitive file systems (Windows), this would not create bin\release because it is the same directory as bin\Release that build creates and so it will end up using bin\Relea

[2017-05-22 20:15] #1204 closed

[2017-05-22 20:29] dsplaisted commented on #531
I think the issue here was that the inner build was getting an out of memory exception, which wasn't being reported cleanly.  I believe "normal" errors from the inner builds should be reported correctly.

[2017-05-22 20:31] dsplaisted commented on #551
Closing this in favor of #1115, which covers the same scenario.

[2017-05-22 20:31] #551 closed

[2017-05-22 20:33] dsplaisted commented on #635
@ramarag Does this still need to be done?  The link in the description is broken.

[2017-05-22 20:36] dsplaisted commented on #663
This looks like a dupe of #798, so I'm closing it.

[2017-05-22 20:36] #663 closed

[2017-05-22 20:38] dsplaisted commented on #689
Closing, as we aren't using .swr files anymore in 2.0.

[2017-05-22 20:38] #689 closed

[2017-05-22 20:51] dsplaisted commented on #783
This is probably done or mostly done by now.

[2017-05-22 21:06] tmat commented on #1238
Another data point: VS Code is only able to debug assemblies with Portable PDBs. So if Windows PDBs are produced for the library VS Code won't be able to debug it even on Windows.

[2017-05-22 21:11] dsplaisted commented on #1074
This looks like an MSBuild bug...

[2017-05-22 21:20] dsplaisted commented on #1233
This is related to #798 and https://github.com/Microsoft/msbuild/issues/2116

[2017-05-22 21:35] Qowy commented on #1204
Ok thank you, might be possible that VS defaulted to Capial and I fell into the liunx everything is lower case mindset (I didn't even consider that I could write Release on linux :D )

[2017-05-22 22:08] ericstj commented on #1193
RAR is less about conflicts and more about resolving paths.  In fact, RAR doesn't even handle conflicting primary references, it just passes them along.  We'd probably want to profile RAR to find out what's taking so much time.  I bet there is some opportunity to back things with a cache.  I suspect that every time a project builds it reloads the assemblies from the nuget package folder and examin

[2017-05-22 22:11] rainersigwald commented on #1193
Yeah, I don't think this is distinct from https://github.com/Microsoft/msbuild/issues/2015.

We can't just skip RAR for the reasons @ericstj points out: that's the only way the items that get fed to the compiler get populated.

[2017-05-22 22:18] nguerrera commented on #909
Yes, that was it. https://github.com/dotnet/cli/pull/6665 is out to update the SDK in the CLI.

[2017-05-22 22:18] #909 closed

[2017-05-22 22:20] natemcmaster commented on #909
Thanks @nguerrera

[2017-05-22 22:28] DamianEdwards commented on #1193
@kieranmo mentioned to me that it might be possible to pass more data to RAR in order for it to treat the ASP.NET Core assemblies like FX assemblies, which means don't delve into them for dependencies. Does anyone know if it's possible for us to hack that up now to see if it helps? e.g. can we create an items list during build or something?

[2017-05-22 23:14] JunTaoLuo commented on #1166
Can we clarify how we plan to fix this?

cc @livarcocc @Eilon @DamianEdwards

[2017-05-22 23:35] DamianEdwards commented on #1193
I'm going to close this in lieu of Microsoft/msbuild#2015

[2017-05-22 23:35] #1193 closed

[2017-05-23 14:30] eerhardt commented on #1239
Looks like the issue is with our RID graph and `win10-arm` not importing `win-arm` correctly.

`win10-arm` => `win81-arm` => `win8-arm`, however it ends there.

https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json#L59-L61

I think

[code]

should be

[code]

@ericstj @weshaggard @gkhanna79  - is there a specific reason for this?  Or is this just an oversight?

[2017-05-23 14:32] gkhanna79 commented on #1239
This looks like a bug and your proposed change looks correct @eerhardt. Please do get a change for this in master and 2.0.0.

[2017-05-23 20:35] srivatsn opened #1241 "netcoreapp2.0 cannot reference netstandard2.0 in VS2017 preview"
_From @karelz on May 16, 2017 12:58_

_From @danwalmsley on May 4, 2017 17:27_

If I build from command line it works.

But from latest vs2017 preview I get:
...project.... targets '.NETStandard,Version=v2.0'. It cannot be referenced by a project that targets '.NETCoreApp,Version=v2.0'.

Is the a workaround for now?

_Copied from original issue: dotnet/coreclr#11391_

_Copied from original issue:

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

_From @watashiSHUN on May 4, 2017 18:46_

when you say you can build it on the command line, you mean you are using `dotnet cli`? ( in my case running `dotnet run`  with version `2.0.0-preview2-005905` on this project is successful)

But I also got a similar error while trying to build `.NetStandard2.0` in VS2017, please see this [stackoverflow question](http:

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

_From @danmosemsft on May 8, 2017 4:9_

@terrajobst is it expected to work in this version?

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

_From @terrajobst on May 8, 2017 18:6_

Which version of VS 2017 are you using? Help | About | Copy Info. This will work with the build we give out at Build.

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

BTW: It doesn't look like it belongs into CoreCLR repo ...

cc @weshaggard @ericstj

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

_From @NinoFloris on May 11, 2017 19:32_

It's the same for omnisharp

[code]

it does compile, restore, test etc though

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

_From @ericstj on May 11, 2017 19:37_

Agree with @terrajobst, problem appears to be the VS setup.
Issues on project system should be filed in https://github.com/dotnet/project-system.

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

_From @NinoFloris on May 11, 2017 20:8_

Doesn't VS also use msbuild?

[2017-05-23 20:35] srivatsn commented on #1241
_From @karelz on May 16, 2017 12:58_

_From @karldodd on May 16, 2017 7:54_

Same problem for me here. I am using OmniSharp in VSCode.

I guess anyone in charge can move this issue to https://github.com/dotnet/project-system ?

[2017-05-23 20:53] jeremylindsayni commented on #1239
Thank you for addressing so quickly and supplying a workaround!

I've forked the SDK and added another test to the "GivenThatWeWantToPublishAHelloWorldProject.cs" class to check an exe is generated for the win10-arm RID - @ericstj @weshaggard @gkhanna79 @eerhardt would any of you be ok to review a pull request please? If so I'll open a pull request and tag you in the comment.

(This'd be my first

[2017-05-23 21:22] nguerrera commented on #534
Implementing the boolean part in #1242. Plumbing the version through is more problematic so keeping that separate.

[2017-05-23 21:50] ericstj commented on #1239
That was intentional because windows didn't support arm until win8 and win was originally meant to indicate VISTA, not versionless OS family.  It wasn't until later that folks wanted a versionless os family concept.  Regardless I am OK with changing the RID graph.

[2017-05-23 22:36] rainersigwald commented on #1074
This issue was moved to Microsoft/msbuild#2128

[2017-05-23 22:36] #1074 closed

[2017-05-23 23:19] ericstj opened #1244 "Simple name reference conflict resolution results in yellow-reference"
It looks like the project system is complaining about simple name removals.

To reproduce:
1. Create an SDK project targeting .NET 4.6.
2. Add a simple name Reference to System.Net.Http in the project file.
3. Add a package reference to System.Net.Http 4.3.2.
4. Build.

Expect:
Succcessful build with no warnings.

Actual:
Successful build, but project system is putting a yellow triangle on the ref

[2017-05-23 23:29] davkean commented on #1244
Do the removal using evaluation (`<Reference Remove="Foo" />`) and everything will be happy. Having the design-time build give different results than evaluation (in particular removes) is going to cause a bunch of issues. For example, in the language service we populate it initially using evaluations (which is fast), only to fill the data later when the design-time build completes. Removals in des

[2017-05-24 00:27] #1239 closed

[2017-05-24 02:00] terrajobst commented on #1241
@danwalmsley can you share the VS version you've been using? This works assuming:

* You're running [Visual Studio 2017 version 15.3 Preview](https://www.visualstudio.com/vs/preview/?utm_source=VSIDE-15-3&utm_medium=blogpost&utm_campaign=build2017)
* The [latest .NET Core 2.0 preview](https://www.microsoft.com/net/core/preview#windowscmd)

[2017-05-24 03:04] eerhardt commented on #1239
@jeremylindsayni - yes!  We would be more than happy to review a PR to add an ARM test to the SDK. That's a great idea.

Welcome aboard!

[2017-05-24 15:01] pierre-weceipt opened #1249 "Can't find external dll when publishing on Azure with git"
Hi, not sure if this is the good repo for the issue but as it seems linked to #1213 I'll post here.

I needed to include an external dll not on nugget (PDFReactor) to my project targeting framework 4.6.2 so I manually added `<Reference Include="ExternalDlls/PDFreactor.dll"></Reference>` to my .csproj, was working fine in local and when publishing with webdeploy. However I noticed that when publish

[2017-05-24 15:46] ericstj commented on #1244
We need to run in MSBuild versions that don't support removals during static evaluation.  Also the SDK which has the same bug needs to do this based on evaluation of other targets (NuGet targets raising the items).

Suppose we don't think about this as a removal, but instead coalescing two references.  What would we need to do to make the project system recognize that we've coalesced them?

[2017-05-24 16:25] mavasani opened #1250 "PackageReference not importing the props file dropped into the NuGet package's build folder"
We have a PackageReference to Microsoft.Net.Compilers in the roslyn analyzers repo for the toolset compiler NuGet package (see [here](https://github.com/dotnet/roslyn-analyzers/blob/master/build/Targets/References.Targets#L74)) and this ensures this package is downloaded on restore. However, this package contains a build folder with a Microsoft.Net.Compilers.props file, and I would have assumed th

[2017-05-24 16:26] mavasani commented on #1250
Tagging @srivatsn @jinujoseph as well

[2017-05-24 16:28] srivatsn commented on #1250
Can you check the obj\*.g.nuget.props file - restore should add a line similar to what you have above into that file

[2017-05-24 17:18] jinujoseph commented on #1250
Looks like we were missing a trailing slash in the nuget package root settings

[2017-05-24 17:18] #1250 closed

[2017-05-24 21:19] jasonmalinowski commented on #1244
And just to answer the question, IIRC the legacy project system's behavior is roughly "if we have a ReferencePath item after the running a design time build that matches the original spec of the original item going in", it's counted as resolved. So if you're removing something that _was_ resolved, but the replacement isn't being matched (I think by OriginalItemSpec?) then you might see that.

But

[2017-05-24 22:02] davkean commented on #1244
@ericstj Instead of fixing up the path _after_ the fact, which means you resolve twice. Make or replace RAR, have it resolve to the System.Net.Http of your choosing.

[2017-05-24 22:04] davkean commented on #1244
ie We call [ResolveAssemblyReferencesDesignTime](https://github.com/dotnet/project-system/blob/master/docs/design-time-builds.md) and in turn ResolveAssemblyReferences, make sure the `<ReferencePath/>` that comes out of it is correct (has the correct metadata that points back to the original `<Reference>`).

[2017-05-24 23:14] ericstj commented on #1244
I see, yeah, I suspected it was the OriginalItemSpec metadata.  I tried that but it didn't seem to be working. I'll try again.  @davkean can you confirm that this is what you meant by *correct metadata*?  Can you point me to the source?

The problem with RAR is that we actually have two different primary references and RAR doesn't handle that if it thinks they resolve to a different path.  We coul

[2017-05-24 23:29] davkean commented on #1244
Yes, OriginalItemSpec is how we match these up, note the dependency node was rewritten recently but I suspect it has the same behavior. @abpiskunov would need to confirm - you'd also need to test this behavior both in legacy and CPS. If we're behaving differently to legacy, however, we should fix that.

The data we expect on a "ResolvedAssemblyReference" can be found here: https://github.com/dotne

[2017-05-24 23:54] jasonmalinowski commented on #1244
That seems reasonable to me. And actually is "helpful" because it makes it clear that we are resolving from there if the user is wondering what happened.

[2017-05-25 12:28] nguerrera commented on #1201
@ericstj Does this dependency on these names ship in 2.0?

[2017-05-25 13:55] eerhardt commented on #1160
I've tested this scenario with both the [.NET Core 2.0 Preview 1](https://www.microsoft.com/net/core/preview) and with the [latest preview 2 build](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-dev-win-x64.latest.zip).  Both ran as expected.

We may have had a bug either in the SDK or in the webapi template at the time.  When an app is published as self-contained, it shou

[2017-05-25 13:55] #1160 closed

[2017-05-25 16:13] ericstj commented on #1244
Setting HintPath feels like much less of a hack than removing the item, or setting OriginalItemSpec.  I'm going to try this out. /cc @dsplaisted @natidea

[2017-05-25 16:25] ericstj commented on #1201
It ships as pre-release in 2.0 time-frame.

[2017-05-25 16:33] #585 closed

[2017-05-25 16:33] #1026 closed

[2017-05-25 19:05] nguerrera opened #8305 "Need to click Uninstall 3 times to actually uninstall .NET Core SDK"
_From @davkean on May 8, 2017 2:12_

I've got a tonne of previous versions of .NET SDK installed on my machine (I have no idea why, do we not uninstall these on uninstall of VS?).

It takes 3 clicks of an "uninstall" button to uninstall them:

1. Search for "Apps & Features" in start menu and open it
2. Find Microsoft .NET Core [version] SDK
3. Click Uninstall
![image](https://cloud.githubusercont

[2017-05-25 19:05] nguerrera commented on #1187
This issue was moved to dotnet/cli#6695

[2017-05-25 19:05] #1187 closed

[2017-05-25 22:03] dsplaisted commented on #783
The first two items are done.  We should consider reverting #699, but we should do that closer to the beginning of a release cycle than the end, so I'm moving this out.

[2017-05-25 22:36] muratg commented on #1166
@livarcocc Any ideas what the plan for this one is?  One outcome of this is https://github.com/aspnet/Microsoft.Data.Sqlite/issues/360.  (Unwanted files in your publish folder when trimming)

[2017-05-26 00:27] davkean commented on #1187
Not sure why I filed this in SDk...

[2017-05-26 00:44] srivatsn commented on #1115
Fixed by #1246

[2017-05-26 00:44] #1115 closed

[2017-05-26 00:47] livarcocc commented on #1166
@rrelyea @dsplaisted I was under the impression that NuGet was going to do some work to try soft-fallback. I wasn't aware of anything else required from the SDK for this. At least, from the last meeting I attend on this topic.

[2017-05-26 02:39] eerhardt commented on #1216
Fixed with #1245

[2017-05-26 02:39] #1216 closed

[2017-05-26 02:43] eerhardt commented on #1164
This was actually solved with #1245 sort of unconsciously.

There is a new target `_ParseTargetManifestFiles` that turns `TargetManifestFileList` into `@(RuntimeStorePackages)` items.  So if you run a target before `Publish` to insert the files to `$(TargetManifestFileList)`, it will now pick it up correctly.

Closing as fixed.

[2017-05-26 02:43] #1164 closed

[2017-05-26 16:00] nguerrera commented on #1099
@JoshClose The fact that you can put that assembly version in source without getting a duplicate attribute error suggests that assembly info (or at least assembly version) generation has been disabled. Did this project come from a project.json migration when the attribute had previously been supplied in source? In that case, it would have been disabled for you to allow a succesful migration. Can y

[2017-05-26 17:06] radhefa opened #1258 "RtaCloud"

[2017-05-26 17:06] JoshClose commented on #1099
https://github.com/JoshClose/CsvHelper

[2017-05-26 17:10] nguerrera commented on #1099
https://github.com/JoshClose/CsvHelper/blob/master/src/CsvHelper/CsvHelper.csproj#L24

GenerateAssemblyVersionAttiribute has been set to false. This is therefore the expected behavior. Remove that and the manual source application of the attribute and it will work as you want.

[2017-05-26 17:10] #1099 closed

[2017-05-26 17:13] JoshClose commented on #1099
This is caused from migrating from a `.csproj` file?

[2017-05-26 17:46] natemcmaster commented on #1164
@eerhardt will #1245 make it into preview2?

[2017-05-26 18:37] eerhardt commented on #1164
Yes it is already in preview2.  I just verified this fix is in the SDK `2.0.0-preview2-006191`.

[2017-05-26 18:46] ericstj opened #1259 "Deps file generation is missing references with Private=false"
Currently SDK targets try to preserve all references in the deps file as follows:

- Non-copy local assemblies (private=false)
  - NuGet packages preserved as `package` with package metadata for package resolver.  Loaded from packages, or refs folder on publish.
  - Framwork reference assemblies preserved as `referenceassembly` with reference assembly subpath.  Loaded from program files, or refs f

[2017-05-26 18:57] natemcmaster commented on #1164
Thanks :)

[2017-05-26 20:22] eerhardt commented on #1259
I'm working on this fix today.

[2017-05-26 20:42] dasMulli commented on #967
Fixed by #1255

[2017-05-26 20:42] #967 closed

[2017-05-26 22:31] dsplaisted opened #1261 "Use Current runtime and architecture resource generation when targeting .NET Core or .NET Standard"
To workaround [this](https://github.com/Microsoft/msbuild/issues/1293#issuecomment-304400404), we should update [our logic](https://github.com/dotnet/sdk/blob/97f1e2100c920a5a83a98c87df79787ab799a8fa/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.props#L128-L131) to also apply if the project targets .NET Core or .NET Standard.

[2017-05-26 23:11] dsplaisted commented on #1261
Per @nguerrera:

[2017-05-27 15:26] nguerrera commented on #1258
@radhefa Was this filed by accident? I don't know what "RtaCloud" is or how it relates to this project and there's no other words here to provide context.

[2017-05-27 15:26] #1258 closed

[2017-05-27 15:41] nguerrera commented on #1227
@emgarten I believe this would be because nugets traversal of project references at restore time only considers project references from the outer build context and not per tftm. This error in the SDK triggers when there's no matching information about a project reference in the assets file. Does that sound right? If so, I think we need to move this to nuget.

[2017-05-27 17:03] emgarten commented on #1227
Restore reads from the inner build, conditional project references have been working in the past.

[2017-05-27 18:10] nguerrera commented on #1227
Ok. I'll take a deeper look.

[2017-05-29 12:00] marek86 opened #1263 "Marshal.SizeOf<T>() under Ubuntu 16.04 LTS throws an exception for structs when there is a field of a reference type."
public struct A
	{
		public double X;
		public object Obj;
	}

System.Runtime.InteropServices.Marshal.SizeOf<A>() works on Windows but throws ArgumentException on Ubuntu.

[2017-05-29 14:53] pdeliot opened #1265 "System.IO.Compression 4.3 in a .NET Standard assembly, the package is not added to the referring UWP Apps for ARM."
While using System.IO.Compression  4.3 in a .NET Standard assembly, the package is not added to the referring UWP Apps for ARM.

When forcing 4.1 reference in UWP App the lib is there (but failing because of missing entry point).
When forcing 4.3 reference in UWP App the lib is not present in the Windows Phone emulator…

Repro. sample joint: [ReproCompression.zip](https://github.com/dotnet/sdk/fil

[2017-05-30 04:45] livarcocc commented on #1263
This issue was moved to dotnet/corefx#20442

[2017-05-30 04:45] #1263 closed

[2017-05-30 15:05] eerhardt commented on #1183
@livarcocc - is this something I can fix for 2.0?  It is "junk" in desktop project's output.  Desktop projects should never have runtimeconfig.json files, since they don't do anything.  The fix is a simple check for .NET Core and add a test.

I can do the work - I just don't want to do the work if it won't be approved for 2.0.

[2017-05-30 16:34] jtattermusch opened #1266 "dotnet pack generates broken .NET45 packages (if they use .targets file)"
dotnet SDK's `dotnet pack` command generates  dependencies with `exclude="Build,Analyzers` by default, as seen in this example:
[code]

The problem is that excluding the "Build" rule (corresponds to importing .targets files from the nuget package into a legacy .csproj project) breaks nuget packages that depend on this functionality (typically nuget packages with native dependencies that need to wo

[2017-05-30 16:36] jtattermusch commented on #1266
CC @jskeet @onovotny

[2017-05-30 16:54] ericstj opened #1267 "Move NETStandard2.0 net461 support into targets"
Today the `netstandard2.0` support for `net461` is delivered via the `NETStandard.Library.NETFramework` package.  Initially we had planned on having the tooling automatically inject a reference to this whenever needed.  That has turned out to be problematic for various reasons.  As a result we're planning instead to just move all of this support to targets.

Let this issue summarize the work that

[2017-05-30 19:03] NTaylorMullen commented on #1259
Any status update on this guy?

[2017-05-30 19:20] #1135 closed

[2017-05-30 20:02] dsplaisted commented on #690
@ericstj @eerhardt Should we be checking whether RuntimeIdentifiers are valid?  If so, how would we do so?

[2017-05-30 20:04] ericstj commented on #690
I recently added some validation to NETCore.App for this.  I suspect this is a no-repro now.  See https://github.com/dotnet/core-setup/pull/2369.

[2017-05-30 20:07] livarcocc opened #1271 "Switch implicit 461 PTF to ATF"
NuGet is moving away from PackageTargetFallback to AssetTargetFallback. In the very least, we need to move the net461 implicit package reference from PTF to ATF.

[2017-05-30 20:12] eerhardt commented on #1259
I had a fix over the weekend.  I spent some time today coming up with a decent test.

PR is out:  https://github.com/dotnet/sdk/pull/1272

[2017-05-30 21:14] melzoghbi opened #8318 "Support for Raspbian Jessie OS"
## Steps to reproduce

i want to be able to create .net core apps and deploy it on Raspberry Pi Zero W. This board supports Raspbian Jessie and i do not see any build to try even a preview build for Arm processor.

## Expected  behavior

A build for Raspbian Jessie so we can download and create .net core apps.

## Actual behavior

Only Debian x64 bit distro.

## Environment data
`dotnet --info` ou

[2017-05-30 21:22] anangaur commented on #1166
@livarcocc even with the soft-fallback (now called ATF=AssetsTargetFallBack), the original problem will persist. i.e. `build/net35/SQLitePCLRaw.lib.e_sqlite3.linux.targets` will be imported because AssetsTargetFallback is set to include net461. This is because there is n NS2 compatible TFM found in this package and hence the net461 target fallback would bring in the above targets file.

@rrelyea @

[2017-05-30 22:22] dasMulli commented on #1266
(commenting because I looked into that recently) afaik grpc only adds content files the the consuming projects. is there a reason for not using contentFiles (`buildAction="Content" copyToOutput="true"`) for these scenarios? (I guess support for NuGet < 3.3)

[2017-05-30 23:16] dsplaisted commented on #1266
This is tracked via https://github.com/NuGet/Home/issues/3697

[2017-05-30 23:16] #1266 closed

[2017-05-30 23:31] dsplaisted commented on #1166
@anangaur I think ATF should fix this if correctly implemented.  It shouldn't look at whether there are specifically any TFMs compatible with NS2 in the package, it should look at whether there are any compatible assets in the package at all for NS2.  The files under the runtimes folder of this package are compatible/applicable to NS2.

[2017-05-31 00:58] #1194 closed

[2017-05-31 00:58] #1234 closed

[2017-05-31 02:51] #690 closed

[2017-05-31 09:02] peter-bozovic opened #1275 "vs2017 not rebuilding mvc project preview after class library change"
Scenario:
- MVC 6 project for the website/api
- Class library project for some classes
- Both projects are loaded together within vs2017
- Class library is referenced in MVC 6 project as "Project Reference"
- MVC 6 project is run with Shift+Ctrl+W so that it is built on changes and they can be previewed with F5 in the browser.

Expected behavior (it was like this in vs2015 with project.json)
- If

[2017-05-31 22:16] AArnott opened #1276 "Satellite assemblies omit assembly version attributes, only under `dotnet build`"
**Repro steps**

[code]

**Expected**

The built satellite assemblies have an assembly version that matches the one in the primary output assembly.

**Actual**

The built satellite assemblies lack any version attributes, leaving the assemblies claiming a version of 0.0.0.0.

The detailed build log from `dotnet build` includes this relevant portion:
[code]

When using msbuild.exe instead of `dotnet

[2017-05-31 22:19] AArnott commented on #1276
IMO the `dotnet build` .targets should go back to using AL.exe.

A possible workaround for this might be to let the .NET SDK .targets generate these version attributes in the primary assembly and thus it would know to generate them in the resource assemblies as well. However there is [a concern](https://github.com/AArnott/Nerdbank.GitVersioning/issues/131#issuecomment-305243867) with that approach

[2017-05-31 22:36] MichaelSimons opened #8321 "Resolve checksum file naming differences with core-setup"
As part of https://github.com/dotnet/core-setup/issues/279, checksum shas are now being produced for core-setup.  The problem is the file naming conventions used in core-setup differ from what is being used in cli (e.g. file extension - .sha vs .sha512).  Please resolve this difference.  It would help make the consuming experience uniform across the .NET Core product.

Core-setup - https://dotnetc

[2017-05-31 22:49] onovotny commented on #1276
Here's another repro:

Here’s the current test steps:

1.	Clone humanizer dev branch from https://github.com/humanizr/Humanizer
2.	Got to src\Humanizer.Tests
3.	Run msbuild /t:restore
4.	Run msbuild /t:build
5.	Run dotnet test --no-build
6.	Tests run successfully from build created by msbuild.exe
7.	Go back to ..\src
8.	Run git clean -xdf to clean repo
9.	Go to Humanizer.Tests
10.	Run dotnet resto

[2017-06-01 00:28] dsplaisted commented on #798
#1274, together with https://github.com/Microsoft/msbuild/pull/2133, should fix this

[2017-06-01 00:29] dsplaisted commented on #1233
This should be fixed by #1274 and https://github.com/Microsoft/msbuild/pull/2133

[2017-06-01 00:31] #324 closed

[2017-06-01 00:31] #540 closed

[2017-06-01 00:32] #648 closed

[2017-06-01 00:32] #1261 closed

[2017-06-01 01:54] dasMulli commented on #1276
@AArnott does the build log indicate that the `CoreGenerateAssemblyInfo` was skipped?

This target both generated the `@(AssemblyAttribute)` items that `CoreGenerateSatelliteAssemblies` reuses and the generated assembly attributes file for the main assembly. If that target is skipped due to inputs being unchanged and the file already existing, than `CoreGenerateSatelliteAssemblies` will not find a

[2017-06-01 03:18] AArnott commented on #1276
This isn't a matter of a target skipping. The primary output assembly got the version info correctly. The issue is related to the fact that I disable the default version attribute generating targets using the supported msbuild property for that purpose and I generate my own attributes. But while that works with full msbuild, with msbuild core (which may be lacking AL.exe?) my attributes aren't pic

[2017-06-01 15:29] eerhardt commented on #1259
Fixed by #1272

[2017-06-01 15:29] #1259 closed

[2017-06-01 22:43] dsplaisted commented on #1220
We're going to ship this support as part of MSBuild instead of an external NuGet package.  #1267 tracks this

[2017-06-01 22:43] #1220 closed

[2017-06-01 22:56] dsplaisted opened #1286 "Add .NET 4.6.1 support for .NET Standard 2.0 to SDK repo"
This includes targets and tasks to:

- Add references (facades and polyfills) if necessary (netstandard.dll is in the dependency graph)
  - [ ] Don't include `netstandard2.0` libraries when `nestandard.dll` is not in the closure. (necessary performance fast-path to not bloat hello-world).
- Resolve conflicts

This is a piece of the work required for #1267, which tracks the overall work.

[2017-06-01 22:58] dsplaisted opened #1287 "Add tests for .NET 4.6.1 support for .NET Standard 2.0"
Project scenarios:
1.	SDK project building from CLI
2.	SDK project building from machine-wide MSBuild
a.	*also from VS
3.	Non-SDK project with PackageReferences
4.	Non-SDK project with project.json
5.	Non-SDK project with packages.config
6.	5 & 6 in VS 2015

Reference scenarios
1.	Hello world, no change
2.	Reference netstandard2-based-library and use a type in it, adds files to reference / output

[2017-06-01 23:00] dsplaisted opened #1288 "Include tasks and targets for .NET 4.6.1 support for .NET Standard 2.0 in SDK insertion to CLI repo"
The tasks and targets to support .NET Standard 2.0 in .NET 4.6.1 projects need to be included in the .nupkg that we use to insert the SDK into the CLI repo.

This is a piece of the work required for #1267, which tracks the overall work.

[2017-06-02 00:41] weshaggard commented on #1267
If we do that then that means net461 will not have support for netstandard < 2.0. Is that what we want? How would someone consume a netstandard1.6 (i.e System.Runtime based) netstandard library?

[2017-06-02 00:43] livarcocc commented on #1276
@AArnott it is not clear to me what is the "special" sauce in your repo that causes this to happen? Can you help us reach a more straight forward repro for this? Other than clone and repo and try it?

[2017-06-02 00:51] AArnott commented on #1276
Sure: install the Nerdbank.GitVersioning nuget package to a brand new project. Then of course add a strings.es.resx file to your project so that it actually has a satellite assembly to build. That should be all you need.

[2017-06-02 01:03] dsplaisted commented on #1267
@weshaggard A NuGet package that targets .NET Standard 1.x would have a package dependency on the NETStandard.Library 1.6.1 package, which as I understand brings in the needed support.  IE, this is already a supported scenario and we aren't changing how it works.

[2017-06-02 01:07] weshaggard commented on #1267
It may or may not have a package dependency to NETStandard.Library 1.6.1 and there are also other nuget packages that target netstandard1.6 that are higher level that would need to be referenced in some cases. This scenario has always been really bad and the support package was going to help those scenarios as well as the netstandard2.0 scenarios but with this change that will no longer be the cas

[2017-06-02 01:09] weshaggard commented on #1267
Another item that we need to make sure we have strategy for is how we update the binaries that are part of this support package. If we have to service one of them what do developers need to do to get an updated set of assemblies included into their application.

[2017-06-02 01:14] dsplaisted commented on #1267
For servicing, the idea is

- These assemblies ship with MSBuild, so we can ship an updated MSBuild with updated assemblies
- To take a newer version of an assembly before then, you could reference a NuGet package, and conflict resolution should pick the more recent one

[2017-06-02 01:17] weshaggard commented on #1267
That implies that there will still be a nuget package published is that still the plan or are we only going to publish a package if it needed for a critical servicing?

[2017-06-02 01:24] dsplaisted commented on #1267
I think the assemblies that have code in them (e.g. ValueTuple) generally already ship in a NuGet package.  We don't plan to publish any new packages (ie with the facades) unless we need to.

[2017-06-02 01:27] weshaggard commented on #1267
While that might be true for ValueTuple that isn't currently true for the others like System.Net.Http so we would have to start shipping that individual package again if we needed to service it. That strategy can of course work I'm just trying to make sure we understand the plan.

[2017-06-02 02:55] eerhardt opened #1289 "DependencyContextBuilder doesn't handle name conflicts between <Reference> and <PackageReference>"
`dotnet build` the following project:

[code]

### Expected Results
Build succeeds

### Actual Results

[code]

[2017-06-02 02:56] eerhardt commented on #1289
This was found by ASP.NET when trying to take the latest NETStandard.Library and .NET Core SDK.

/cc @kichalla @mikeharder

[2017-06-02 03:31] akoeplinger commented on #1267
What's the plan for VS for Mac / Mono with this?

[2017-06-02 05:02] dasMulli commented on #1276
@livarcocc The key point is that `CoreGenerateSatelliteAssemblies` [relies on `@(AssemblyAttribute)`](https://github.com/dotnet/sdk/blob/a4bceb67b160c72318a581d87d52796e4fa31794/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.targets#L348) but doesn't work for projects with disabled assembly info generation (or just disabled version attributes) that use a custom `AssemblyInfo.cs`.

[2017-06-02 08:06] WeihanLi opened #1292 "Duplicate item detection fails to identify duplicates differing by '/' vs '\'"
I've a asp.net core project targeted at netcoreapp1.1 which can build success offline with dotnet-cli V1.04 but met the error via travis,the error is as follows:
[code]
I develop the project on Visual Studio 2017 Enterprise(V15.2),you may want to see the build [here](https://travis-ci.org/WeihanLi/AccountingApp/builds/238645845),and I can build the project via dotnet-cli with dotnet-cli V1.04 succ

[2017-06-02 12:52] WeihanLi commented on #1292
I removed my js lib from project file and add it to my bower.json config,finally it build successfully.

[2017-06-02 15:51] ericstj commented on #1267
@akoeplinger the updates go into the CLI's copy of MSBuild and VS's copy of MSBuild.  If VS for Mac is using the CLI-MSBuild it will just work when picking up a new version.  If instead it is laying out its own copy of MSBuild then that will need to be updated as well.  Do you happen to know which is the case?

[2017-06-02 15:52] johnbeisner opened #8336 "Clean up SDK Blob storage @ 'latest'"
After the renaming effort, many of the assets @ https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/ are in the older naming convention.

The newly created assets will not overwrite these; remove them.

Examples:
Newer = dotnet-dev-latest-win-x86.exe
Outdated = dotnet-dev-win-x86.latest.exe

[2017-06-02 16:12] akoeplinger commented on #1267
@ericstj VS for Mac is building with the MSBuild that is shipped with Mono. If there will be a new MSBuild then we can pick that up, I was mostly confused because the issue mentions needing some VSIX/MSIs for the support.

[2017-06-02 16:14] ericstj commented on #1267
It's not really a new MSBuild, just some targets and a task dll.  See: https://github.com/dotnet/sdk/pull/1279.  We need a VSIX to install these into VS 2017's MSBuild, an MSI to install them into VS 2015's MSBuild, and they can be bundled inside the CLI layout.

[2017-06-02 16:49] akoeplinger commented on #1267
Ok. As far as I know we're already bundling the Sdks in the MSBuild we ship so I guess we just need to bundle this as well.

[2017-06-02 17:36] dsplaisted opened #1293 "Tool deps file generation tests fail when run on full Framework MSBuild"
The tests in `GivenThatWeWantToGenerateADepsFileForATool` are failing when running on full Framework MSBuild with the following error:

The scenarios these tests cover aren't applicable to full framework MSBuild, but it is unexpected that they would fail in this way.  We should investigate what is going on.

[2017-06-02 21:05] dsplaisted opened #1294 "Include .NET 4.6.1 support for .NET Standard 2.0 in Mono's MSBuild"
In dotnet/sdk#1267, we're adding tasks, targets, and assemblies to be referenced (facades and polyfills) to support .NET Standard 2.0 in .NET 4.6.1.

These assets should also ship with the Mono version of MSBuild.

cc @akoeplinger

[2017-06-02 21:05] dsplaisted commented on #1267
@akoeplinger I've filed #1294 to track getting this into the Mono MSBuild

[2017-06-03 07:57] ramarag opened #1298 "Add entry to app.dev.runtimeconfig.json"
This is to ensure F5 store dev workflow does not break
followup of https://github.com/dotnet/core-setup/pull/2539

[2017-06-03 13:07] nguerrera commented on #1276
There is no AL.exe for .NET Core.

The better fix would be to retrieve the version info from the main assembly and send that on to Csc. We need to push in the opposite direct IMHO: get rid of AL.exe in desktop msbuild as well, and use Csc everywhere. I think that should be done in the common resource targets and we should delete the overriding of satellite assembly generation from this repo.

This

[2017-06-03 13:10] nguerrera commented on #1006
Fixed by #1224

[2017-06-03 13:10] #1006 closed

[2017-06-03 13:29] nguerrera commented on #1049
Assuming this has been fixed along with the fix for #1043. Re-open if you see it again.

[2017-06-03 13:29] #1049 closed

[2017-06-03 20:21] nguerrera commented on #1275
@BillHiebert @davkean Which component triggers the rebuilding for this ctrl+shift+w + F5-in-browser scenario? I don't think this is an SDK issue if it work on standard F5.

[2017-06-04 01:01] rynowak opened #1299 "Very high memory consumption during build (4GB)"
Apologies if this is not the right place. Please redirect me if you want me to put this info somewhere else.

/cc @rainersigwald

**Repo Steps**:

clone https://github.com/aspnet/Mvc
run build.cmd

**dotnet --info**
[code]

**Here's a dump**
![image](https://cloud.githubusercontent.com/assets/1430011/26758026/a30a9118-4886-11e7-9406-0818abafcf86.png)

[dotnet.zip](https://github.com/dotnet/sdk/fil

[2017-06-04 01:05] rynowak commented on #1299
Zooming in more specifically on the highest category, it looks like there's some truly large amounts of text that are being passed around as `string` in the messages. We're not doing anything exotic in our build that I know of.

**strings > 100K**
![image](https://cloud.githubusercontent.com/assets/1430011/26758034/fdaff1ee-4886-11e7-8088-1dda247a25b2.png)

[2017-06-04 01:39] AArnott commented on #1276
That would suit me fine.

[2017-06-04 01:47] WeihanLi commented on #1292
The  error is not a bug or something??

[2017-06-04 02:40] nguerrera commented on #1292
The error wouldn't be a bug if there truly were duplicate content items. Can you share the project file as it was when things failed and the exact change you made to get things working?

[2017-06-04 03:21] WeihanLi commented on #1292
Yeah.I can build it successfully on windows but not via travis on Ubantu,I'm thinking maybe there's a difference on the sdk between windows and other *unix systems.
- [the first commit on the project file](https://github.com/WeihanLi/AccountingApp/blob/f1f3e08604a8dcdccf4a6ae1e3a33dc9afee0403/AccountingApp/AccountingApp.csproj)
- [the second commit](https://github.com/WeihanLi/AccountingApp/blob/b

[2017-06-04 04:26] nguerrera commented on #1292
Are you sure you have the same version of the SDK on both machines. Can you do dotnet --info on the machine where build is succeeding? I would expect the error you're seeing in CI everywhere.

[2017-06-04 04:31] nguerrera commented on #1292
Another possibility: is there a Directory.Build.props or Directory.Build.targets above the csproj on the Windows machine but not in the repo?

[2017-06-04 07:33] WeihanLi commented on #1292
[ci build error](https://travis-ci.org/WeihanLi/AccountingApp/builds/238645845)
[ci build info](https://travis-ci.org/WeihanLi/AccountingApp/builds/238732498)

[2017-06-04 10:00] #635 closed

[2017-06-04 12:50] nguerrera commented on #1292
The error is correct. There project has content items that duplicate the implicit content items. What is dotnet --info on the local windows machine? The fact that it passes there is the real oddity.

[2017-06-04 13:13] nguerrera commented on #1299
Yikes. Taking a look.

[2017-06-04 13:52] nguerrera commented on #1299
First observation: working set is about 4X better if I remove the binary logger from the command line args. cc @KirillOsenkov

[2017-06-04 15:05] WeihanLi commented on #1292
Both travis and my local windows are using dotnet V1.04

- ![travis dotnet info](https://travis-ci.org/WeihanLi/AccountingApp/builds/238732498#L601)
-

[2017-06-04 15:23] nguerrera commented on #1292
OK. I can repro the (incorrect) successful build on Windows of https://github.com/WeihanLi/AccountingApp/blob/f1f3e08604a8dcdccf4a6ae1e3a33dc9afee0403/AccountingApp/AccountingApp.csproj

It appears that differing slashes in the implicit globbed items is defeating the duplicate content detection:

[code]

@dsplaisted

[2017-06-04 15:34] nguerrera commented on #1292
Changing the title to reflect the true problem. The error you see on Ubuntu is correct and the fix you made is correct. The bug is that the error doesn't trigger on Windows as it should due to different spelling between items representing the same files.

[2017-06-04 15:58] WeihanLi commented on #1292
Ok,thanks.By the way,copy and paste files in vs may cause project file different like mine

[2017-06-04 18:39] KirillOsenkov commented on #1299
Ouch. Can you try and see if /bl:ProjectImports=None will make it better? Not sure which version of the binary logger you're using.

[2017-06-04 19:30] nguerrera commented on #1299
I believe this version does not have that feature:

[code]

[2017-06-04 20:56] nguerrera commented on #1299
Can't find symbols, but I was able to take a look at the huge strings using windbg+sos+.writemen:

[code]

Looks like each task parameter is logged as single system.string and there is a huge set of items being passed to a NuGet restore target, which all get concatenated to log as a single parameter. There are a bunch of these on the LOH.
[code]

[2017-06-04 21:10] nguerrera commented on #1299
This issue was moved to Microsoft/msbuild#2168

[2017-06-04 21:10] #1299 closed

[2017-06-05 04:26] davidfowl opened #1300 "The "GenerateDepsFile" task failed unexpectedly"
[code]

[code]

[code]

[2017-06-05 05:17] livarcocc commented on #1300
Is this consistent @davidfowl? It would be great if it were.

[2017-06-05 05:18] #1289 closed

[2017-06-05 05:27] anangaur commented on #1166
@dsplaisted `SQLitePCLRaw.lib.e_sqlite3.linux` has no ref or lib asset groups(folders) but only build. And in this case, the package gets installed and with ATF, the `build/net35/SQLitePCLRaw.lib.e_sqlite3.linux.targets` will be pull in to the project.

The behavior would be as highlighted ([Full spec](https://github.com/NuGet/Home/wiki/Enable-.NET-Core-2.0-projects-to-work-with-.NET-Framework-4.6

[2017-06-05 06:46] dsplaisted commented on #1300
This looks like the same thing as #1289 which is fixed by #1290

[2017-06-05 06:56] davidfowl commented on #1300
@livarcocc yes it is.

[2017-06-05 14:29] vdevappa commented on #795
For those having issues with this and service fabric, there is a slight tweak to the .csproj change you need to make to get it to work:

`<Target Name="PrepublishScript" BeforeTargets="PrepareForPublish">
    <ItemGroup>
      <DocFile Include="bin\x64\$(Configuration)\$(TargetFramework)\win7-x64\*.xml" />
    </ItemGroup>
    <Copy SourceFiles="@(DocFile)" DestinationFolder="$(PublishDir)" SkipUn

[2017-06-05 16:52] kentatcap opened #1301 "presence of sdk 1.0.4 breaks existing 1.0.0-preview2-003121 projects"
If SDK 1.0.4 (possibly even 1.0.3) exists in c:\program files\dotnet\sdk, restore packages and build in VS 2015 IDE will fail, but command line dotnet restore/dotnet build will work; error below.

C:\Program Files\dotnet\dotnet.exe restore "<solution path>\.vs\restore.dg"
<solution path>\.vs\restore.dg(1,1): error MSB4025: The project file could not be loaded. Data at the root level is invalid. Li

[2017-06-05 18:00] JunTaoLuo opened #1302 "Long path error in symbols generation of dotnet store"
From the offline discussion there seem to be a race condition during the copy of crossgen pdb to the staging dir. This produces errors like:
[code]

We found this during our metapackage build https://github.com/aspnet/metapackages. Steps to repro:
1. Set environment variable PACKAGE_CACHE_PLATFORM=x64
2. Set environment variable BuildNumber=final
3. run ./build.cmd /t:BuildPackageCache

This is bl

[2017-06-05 18:32] livarcocc commented on #1301
This issue was moved to NuGet/Home#5344

[2017-06-05 18:32] #1301 closed

[2017-06-05 19:42] DamianEdwards commented on #1166
@davidfowl

[2017-06-05 19:43] DamianEdwards commented on #1162
@JunTaoLuo is there something for us to try again here?

[2017-06-05 19:46] JunTaoLuo commented on #1162
Will need to test @ramarag's fix once it goes in.

[2017-06-05 19:59] DamianEdwards commented on #1219
Is this the same as https://github.com/dotnet/sdk/issues/1289?

[2017-06-05 20:55] ramarag commented on #1036
I have upgraded the store tests as part of https://github.com/dotnet/sdk/pull/1297

Outstanding items
1. please follow up on https://github.com/dotnet/sdk/pull/1297#discussion_r120199823
2. Complete the TODOS in
a. https://github.com/dotnet/sdk/blob/34537c97d69a4bab6c817ad5390a8adeb7e79b23/test/Microsoft.NET.Publish.Tests/GivenThatWeWantToPublishAProjectWithDependencies.cs#L161
b. https://github.c

[2017-06-05 23:11] #1023 closed

[2017-06-05 23:11] #1162 closed

[2017-06-05 23:11] #1048 closed

[2017-06-05 23:11] #1045 closed

[2017-06-05 23:11] #1022 closed

[2017-06-05 23:11] #940 closed

[2017-06-05 23:11] #927 closed

[2017-06-06 00:00] srivatsn commented on #1183
This is https://github.com/dotnet/sdk/issues/404

[2017-06-06 01:26] #385 closed

[2017-06-06 14:05] Lexcess commented on #826
@livarcocc Is your update saying that this won't even make 2.0 now?

Is there any sort of workaround for sln till then? If this was regular MSBuild I assume we could just override the TargetFrameworks parameter from the command line but I don't think that is possible via dotnet.exe. I get that this is only a problem for more complex applications (i.e. not most Asp.Net core apps) but it is a migrat

[2017-06-06 15:04] eerhardt commented on #1183
Closing as dupe of #404.

[2017-06-06 15:04] #1183 closed

[2017-06-06 17:13] ericstj commented on #1286
Fixed with https://github.com/dotnet/sdk/pull/1279

[2017-06-06 17:13] #1286 closed

[2017-06-06 18:14] MattGertz commented on #1219
@livarcocc Can you confirm & follow back with ETA?

[2017-06-06 19:49] eerhardt commented on #1302
@JunTaoLuo - this isn't a race condition problem, but instead it is a long path problem.

I changed the command in your repo from:

`dotnet store -m src\Microsoft.AspNetCore.RuntimeStore\Microsoft.AspNetCore.RuntimeStore.csproj -f netcoreapp2.0 -r win7-x64 -o F:\git\metapackages\src\Microsoft.AspNetCore.RuntimeStore\bin\packageCache --framework-version 2.0.0-* -w F:\git\metapackages\src\Microsoft.

[2017-06-06 20:07] clairernovotny opened #8346 "Need a way to detect if dotnet is present and what version it is"
The scenario is using `dotnet` within a custom build target. I may want to use `dotnet path\to\myutil.dll` if present, then fallback to `myutil.exe` on Windows and `mono myutil.exe` elsewhere.

This needs to work in non-SDK style projects too, so it's not an SDK property because the package can be installed in any project type. It's a pre-build step we want to run to generate code that gets includ

[2017-06-06 20:31] kichalla commented on #1219
Just FYI...I am not longer hitting this issue and was able to move to netstandard2.0

[2017-06-06 20:33] JunTaoLuo commented on #1302
I have verified that reducing the path length resolves our problem. Thanks @eerhardt

[2017-06-06 20:56] anangaur opened #1310 "NuGet package downgrades occurring due to “nearest wins”, are errors by default"
https://github.com/NuGet/Home/issues/4895: NET Core 2.0: Register all warnings/errors to assets file (including PackageTargetFallback)
NuGet spec: https://github.com/NuGet/Home/wiki/Improved-NuGet-warnings
List of errors and warnings: https://github.com/NuGet/Home/wiki/Restore-errors-and-warnings

Downgrade warning is [NU1605](https://github.com/NuGet/Home/wiki/Restore-errors-and-warnings#nu1605)

[2017-06-06 20:56] ericstj opened #1311 "netstandard.dll is not added to net461-SDK project when referencing ns2.0 library via ProjectReference"
This is a bug in the intial work for https://github.com/dotnet/sdk/issues/1267.

For SDK projects I schedule `ImplicitlyExpandNETStandardFacades` after `ResolveLockFileReferences`.

I need to run `ImplicitlyExpandNETStandardFacades` before conflict resolution because conflict resolution may remove items from packages based on these additions.

I need to run `ImplicitlyExpandNETStandardFacades` aft

[2017-06-06 21:03] dsplaisted commented on #1294
@akoeplinger @mhutch The tasks and targets have been added to the SDK repo with PR #1279.  We are going to consume them in the CLI via the Microsoft.NET.Build.Extensions package (currently version 2.0.0-preview2-20170606-4) which is published to the dotnet-core MyGet feed.  You may want to also use this package to get these tasks and targets into Mono MSBuild.

[2017-06-06 21:21] akoeplinger commented on #1294
@radical could you please take a look ^ and add them to our msbuild fork?

[2017-06-06 21:29] eerhardt commented on #1311
nit discussion:

The guidance from @davkean and @rainersigwald was to not use DependsOnTargets properties for new targets, but instead use the built-in BeforeTargets/AfterTargets mechanisms for extensiblity.  See https://github.com/dotnet/sdk/pull/579 for more discussion on the topic.

[2017-06-06 21:35] ericstj commented on #1311
Ok, I'll see if I can achieve the correct scheduling without exposing depends on.  It feels like there are cases where you still need to use dependson because both before and after act as a `every` where dependson acts like `all`.

[2017-06-06 23:47] ericstj commented on #1311
Here is a summary of my findings:
- SDK projects run `ResolveProjectReferences` *after* resolving NuGet packages.
- Non-SDK projects using PackageReference or project.json run `ResolveProjectReferences` *before* resolving NuGet packages.  In fact ResolveProjectReferences is an explicit dependency of resolving NuGet packages.  Likely a remnant of https://github.com/NuGet/NuGet.BuildTasks/commit/e4c

[2017-06-07 12:26] onovotny opened #1313 "Building Netstandard 2.0 class library fails if dependency includes System.Net.HttpClient"
With 15.3 preview 1, building a `netstandard2.0` class lib that has a dependency on a package including `system.net.httpclient` 4.3.2, I get build errors:

[code]
[ClassLibrary8.zip](https://github.com/dotnet/sdk/files/1057914/ClassLibrary8.zip)

You can also see the solution explorer doing something silly:
![1](https://user-images.githubusercontent.com/1427284/26878375-3f774268-4b5b-11e7-93be-ed2