[2017-10-05 23:09] livarcocc opened #1632 "The SDK should not succeed in building netstandard2.1"
See PR https://github.com/dotnet/sdk/pull/1603

[2017-10-05 23:18] nguerrera commented on #1447
Fixed by #1629, which will flow into 15.5 .NET Core SDK soon.

[2017-10-05 23:18] #1447 closed

[2017-10-06 14:14] Juslwk commented on #1321
I encounter this issue when publishing. Weird because I can publish successfully to my development environment, but publishing to production environment fails. Both environments are hosted in Azure as App Services and I am using Azure click-once deployment. I tried changing TargetFramework to TargetFrameworks, and deleted the project.assets.json file without success.
In the end, the way I fix it w

[2017-10-06 16:38] matkoch commented on #335
@matkoch

[2017-10-06 18:06] sm-g opened #1633 "VS2017: Why "Assets file doesn't have a target for" says about 4.0 framework?"
I had `<Project ToolsVersion="14.0"`-like test project. I want to use EF Core (InMemory), but because of this I need to add binding redirects, so NUnit stops working... (https://github.com/aspnet/EntityFrameworkCore/issues/9046) So I try to convert it to `<Project Sdk="Microsoft.NET.Sdk">`-project. I already have such test project in solution (working). I create same structure of csproj:

[code]

[2017-10-07 15:46] Petermarcu opened #8789 "System.IO.FileNotFoundException when using PrivateAssets = "All""
@KshitizGIT commented on [Sun Sep 03 2017](https://github.com/dotnet/core/issues/933)

I have a project layout like this.

Assembly A -> Assembly B -> Assembly C.

Program lives in Assembly A.
ClassB lives in Assembly B.
ClassC lives in Assembly C.

I don't want AssemblyC to be directly accessible in AssemblyA. So I added   PrivateAssets = "All" in the ProjectReference element in the AssemblyB.csp

[2017-10-08 05:16] dotMorten commented on #955
Thank you for this. I've spent all day trying to get my commandline build working, and turns out I'm also hitting this bug.

[2017-10-08 16:39] Arcanst commented on #1579
I'm having the same issue. Did you resolve it?

[2017-10-08 17:33] ipinak commented on #1579
This does not help, I have tried it already. I have manually installed it instead.

[2017-10-08 18:55] davidfowl commented on #1579
/cc @JunTaoLuo

[2017-10-08 21:38] JunTaoLuo commented on #1579
The problem is that stable releases, in this case 2.0.0, of the runtime store (which is included in the SDK) cannot be installed when the preview releases, 2.0.0-preview1, are installed. This is noted in the line:
[code]
cc @mikeharder This is a known issue and has been brought up previously. It is documented here: https://github.com/dotnet/core/blame/master/release-notes/download-archives/2.0.0-d

[2017-10-09 09:07] brad0000 commented on #955
Same problem here, VS 15.3.5 building UWP app on Jenkins with Microsoft.Toolkit.Uwp.UI.Controls dependency.

[2017-10-09 11:41] cspaniard commented on #1567
@mikehaas763 Hi... any updates on this... ? I am having the same problem...

TIA,
David

[2017-10-09 14:06] bradphelan opened #1635 "Including a shared sources project changes namespace of resx file defined in the including project"
The project with head defined as
[code]

generates

![image](https://user-images.githubusercontent.com/17650/31341899-510e9488-ad0b-11e7-9b59-12f96699080b.png)

Note the ``Weingartner.Controls.Properties.resources``

if I add back in the shared project by uncommenting the ``Import`` line from above then I get

![image](https://user-images.githubusercontent.com/17650/31341940-79482630-ad0b-11e7-8e7

[2017-10-09 14:13] bradphelan commented on #1635
Maybe related https://github.com/dotnet/sdk/pull/1432

[2017-10-09 14:26] bradphelan commented on #1635
Hang on. The problem was due to some funky stuff I was doing in ``Directory.Build.props``

[2017-10-09 16:14] techaimail commented on #1509
In a solution (vstudio 2017 enterprise or community) with web projects target .net 4.6.1 and .net core 2 when I compile one of them the others get its bin folders corrupted and appears the file netfx.force.conflicts. This is causing me a lot of time lost. Please help with fix that wrong behavior.

[2017-10-09 20:45] johnbeisner opened #1637 "SDK and the unified NuGet Transport Feed"
Two steps to complete moving the SDK to the Transport Feed:
- [x] 1. Use the Transport Feed as the default feed
- [x] 2. Publish the SDK NuGet packages to the Transport Feed
- [x] 3. use the transport feed exclusively - requirement: all dependencies are publishing to the new feed

[2017-10-09 21:24] JunTaoLuo opened #1639 "Restore requires RestoreSources to be specified in project dependencies"
## Issue:
I have a ProjectFoo that takes a project dependency on ProjectBar and a package dependency on PackageBaz. PackageBaz is on a separate feed so I update the RestoreSources of ProjectFoo. ProjectBar doesn't depend on PackageBaz but still need to add the feed for the entire project to restore. This is unintuitive so why is it required?

## Repro:
https://github.com/JunTaoLuo/ProjectDependenc

[2017-10-09 21:25] JunTaoLuo commented on #1639
Oops, this should go to nuget.

[2017-10-09 21:26] JunTaoLuo commented on #1639
This issue was moved to NuGet/Home#6008

[2017-10-09 21:26] #1639 closed

[2017-10-10 05:44] #1635 closed

[2017-10-10 09:06] weitzhandler commented on #1098
How can I achieve auto increment of the assembly version like we could with `AssemblyVersion("1.0.*")` (which generates this compiler error in the new projects):

Any ideas please?

[2017-10-10 18:06] mavasani opened #1641 "SDK change to skip registry checks in Microsoft.CodeAnalysis.targets for netcore/netstandard projects"
`CodeAnalysisSkipRegistryChecks` is the new property added to Microsoft.CodeAnalysis.targets in https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/88928?_a=files to address design time build performance hit in https://github.com/dotnet/roslyn/issues/22110. SDK targets for netcore/netstandard projects need to set this property to true to avoid performance hit from these registry lookups.

[2017-10-10 18:06] mavasani commented on #1641
Tagging @jinujoseph @davkean @Pilchie @livarcocc

[2017-10-10 19:31] livarcocc commented on #1641
Is there a reason why we need to set this in the SDK directly? Couldn't the analyzers props/targets identify a project as being netcoreapp/netstandard and turn it OFF itself?

[2017-10-10 23:52] davkean commented on #1587
Going to dup this against https://github.com/Microsoft/msbuild/issues/2217.

[2017-10-11 06:23] ig-sinicyn commented on #1597
Up? I'm really interested in solution.

[2017-10-11 07:38] jaydeept opened #1646 "Repeating the build without changing the code cause few projects to rebuild"
I have almost 22 projects in my solution based on .Net Core 2. When I repeat the build without changing the code, cause 19 projects to rebuild and only 3 are recognized as up-to-date. I believe, the second build should say 22 up-to-date.
Do I need to modify anything in `csproj` file to fix this issue?
JFYI: I have `postsharp`Nuget package installed in few projects but I don't think that will be ca

[2017-10-11 07:40] dasMulli commented on #1597
Looks similar to https://github.com/NuGet/Home/issues/4996 - configuration changes don’t cause NuGet to restore for that configuration within VS

[2017-10-11 11:47] an-dr-eas-k commented on #1567
I am facing this issue with similar errors, when referencing a managed c++ vcxproj project.

[code]

It says: `The type or namespace name 'xxx' could not be found (are you missing a using directive or an assembly reference?)`

[2017-10-11 15:22] svick commented on #1098
@weitzhandler Looking at [the source code](https://github.com/dotnet/roslyn/blob/3bbb684a43a0af9d1261866272274a19f4de6976/src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs#L2159), wildcards are only allowed if the build is not deterministic, which seems to be the default for .Net Core projects.

Adding `<Deterministic>False</Deterministic>` to my csproj indeed fixes the issue fo

[2017-10-11 15:36] nguerrera commented on #1567
Closing as duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/371

[2017-10-11 15:36] #1567 closed

[2017-10-11 21:35] dsplaisted opened #1647 "System.Net.Http and System.IO.Compression .NET Standard facades need to be included when targeting .NET 4.7.1"
.NET 4.7.1 ships with support for the .NET Standard 2.0 APIs, as well as the necessary facades.  So it's not supposed to need any facades injected by the `ImplicitlyExpandNETStandardFacades` target.

However, the in-box assembly versions of System.Net.Http and System.IO.Compression are less than the OOB and facade versions of those libraries.  This will be fixed in .NET 4.7.2, however for 4.7.1, w

[2017-10-12 00:42] terrajobst commented on #1405
@andriysavin

Is it with Azure Functions or with your own application?

[2017-10-12 08:22] andriysavin commented on #1405
@terrajobst  That particular issue happens with Azure Functions msbuild task. My understanding is that it happens when some code is loaded dynamically. For example, functions build task loads all types in an assembly with functions, and if any of the types expose dependencies which in turn have dependency on  'System.Runtime, Version=4.1.0.0'  (like Microsoft.Azure.DocumentDB.Core), it crashes or

[2017-10-12 15:08] mavasani commented on #1641
No longer needed now - we have decided to remove the underlying registry search in this targets file.

[2017-10-12 15:08] #1641 closed

[2017-10-12 20:22] theimowski opened #8797 ".net core version of System.Net.Mail is used when targeting .net461"
## Steps to reproduce

Reproduce repository:
* https://github.com/theimowski/repro-paket-system.net.mail/tree/csharp for C# branch
* https://github.com/theimowski/repro-paket-system.net.mail/tree/fsharp_nopaket for F# branch

(repository contains 'paket' in name cuz I initially though it was related to [paket](https://github.com/fsprojects/Paket/issues/2829), but is not)

Both branches contain sin

[2017-10-12 22:12] nguerrera commented on #732
@jaredpar

[2017-10-13 00:00] terrajobst commented on #1405
Yep, in dyanamic scenarios binding redirects don't work at all, unfortunately. The good news is that at least for .NET Standard 2.0, the problem will eventually disappear (mostly in 4.7.1) as the need for binding redirects is no longer there. However, we're also thinking about how we can solve these issues without requiring binding redirects. We'll see.

[2017-10-13 17:45] Petermarcu opened #8799 "Misleading information shown when the dotnet command is passed duplicated arguments"
@nigurr commented on [Thu Oct 12 2017](https://github.com/dotnet/core/issues/1029)

`C:\Tests> dotnet test --logger trx --logger trx`
`MSBUILD : error MSB1009: Project file does not exist.
Switch: trx`

The same one works
`C:\Tests> dotnet test --logger trx`
`Build started, please wait...`

The error message is misleading or the duplicated arguments should be skipped

[2017-10-15 13:23] plsft commented on #1509
I am still seeing this issue in a solution targeting 4.7. its happening on both web and api projects in this solution. I can delete the bin folder as a workaround but it's very tedious. Also, the RemoveNetFxForceConflicts target XML above doesn't seem to make any difference at this point. please advise.

[2017-10-15 19:09] adamralph commented on #1100
I'm not sure this problem exists any longer. I just tried to reproduce it like so:

1. Clone or download https://github.com/adamralph/blunt
2. `dotnet add package LiteGuard.Source`
3. `dotnet restore`
4. Open `Foo.cs`, and add `Guard.AgainstNullArgument("baz", baz);` to `Foo.Bar()`
5. `dotnet build`

Everything works perfectly!

<details>
<summary>
λ  dotnet --info
</summary>
.NET Command Line Too

[2017-10-16 08:49] Judgeja commented on #1321
I had the same as @Juslwk. I realised my publish profile was still targeting 1.1, even though 2.0 was showing as selected when I went into edit the profile, it showed 1.1 in the publish summary. So I re-selected 2.0 in the dropdown and it updated the summary to show 2.0 and it all worked fine

[2017-10-16 20:08] ericstj commented on #1604
Bigger question here is why does this reference graph result in conflicts?  We should do work to ensure packages are moved forward to provide dependency groups that don't pull in old packages (and thus excessive downloads and conflicts).

I would expect a "happy path" project to never call this method.

Barring that, some work could be done to avoid excessive string allocations here.  I would imag

[2017-10-16 23:46] dsplaisted commented on #1627
See also https://github.com/dotnet/sdk/pull/1618/files/95c8f54ae5ac9960c2e52a26994817c171d82380#r141995309, for discussion on whether the logic to read the framework list needs to be updated for Mono, which doesn't explicitly list each assembly.

[2017-10-17 00:31] dazinator opened #1657 "dotnet build -v causes Telemetry exception."
[code]

[2017-10-17 00:33] dazinator commented on #1657
Sorry, looks like I checked the wrong repo. This has been raised here: https://github.com/dotnet/cli/issues/7589

[2017-10-17 00:33] #1657 closed

[2017-10-17 16:43] ericstj commented on #1502
@livarcocc We are seeing lots of hits on this issue.  I think we need to get a fix in.

[2017-10-17 17:24] nguerrera commented on #1502
@ericstj What's the proposed fix approach? Is the "partial" solution using platform manifest good enough for now?

[2017-10-17 20:45] ericstj commented on #1502
Probably: we're likely the only people cross-gen'ing assemblies and putting them in packages.  If we just preferred items from platform manifest whenever they overlapped with runtime items I think that'd fix most instances of this issue.

[2017-10-18 23:57] onovotny opened #1666 "Regression in 15.5p1: Portable0.0 is skipped"
I have an SDK project that the `MSBuild.Sdk.Extras` to build a legacy PCL target. This works in 15.4 but fails in 15.5 preview 1.

In the IDE in 15.4, I see this:

![image](https://user-images.githubusercontent.com/1427284/31748017-3c8bca6e-b43e-11e7-95a1-533476d1a1bf.png)

In 15.5 p1 I see this:

![image](https://user-images.githubusercontent.com/1427284/31748043-63688352-b43e-11e7-8354-d5b0d9068

[2017-10-19 04:19] dsplaisted commented on #933
As noted in https://github.com/dsplaisted/sdk/commit/13989f17233b152716959cd5c81dacb446c1c24a, it is now necessary for `FilterCopyLocal` to depend on `PrepareForBuild;RunResolvePublishAssemblies`.

The reason for this is that with #1618, conflict resolution now depends on TargetFrameworkDirectory property, and the GetReferenceAssemblyPaths target to set it.  However, the custom FilterCopyLocal tar

[2017-10-19 18:55] ericstj commented on #1509
@dsplaisted please make sure that to fix this you also update the version of the support package that gets used in the CLI repo.  I see that still seems to be the old one: https://github.com/dotnet/cli/blob/release/2.0-vs/build/DependencyVersions.props#L19

[2017-10-19 19:21] livarcocc commented on #1666
@dsplaisted and @nguerrera can one of you take a look at this?

[2017-10-19 19:51] nguerrera commented on #1666
Looking

[2017-10-19 22:41] nguerrera commented on #1666
@davkean @emgarten I believe this is either a project system or nuget issue. There are no SDK changes between 15.4 and 15.5 preview 1 and things work as before on the command line. Something is either causing the project to get evaluated without the MSBuildSdkExtras targets setting TFI and TFV, but only in the IDE. Moving to project system for next look.

[2017-10-19 22:42] nguerrera commented on #1666
This issue was moved to dotnet/project-system#2910

[2017-10-19 22:42] #1666 closed

[2017-10-20 06:33] MikhailArkhipov commented on #1113
FWIW, we have VSIX/Windows that does not need 'net461' in the folder name and needs to go to plain Debug/bin. Portable components do go to 'netcore' folders, but they are packages differently. So we se OutDir etc manually.

[2017-10-20 11:57] nguerrera commented on #1113
You can use AppendTargetFrameworkToOutputPath=false

[2017-10-20 15:30] jaredpar opened #1673 "global.json blocks me from seeing the version of dotnet"
Experimenting with a new version of dotnet CLI on my Mac today. After installing when running restore I get the following error:

[code]

Okay. Probably need to update my global.json. Lets try running `-?` or `-help` to see what version this dotnet thinks it is

[code]

Feel like I should be able to see the version of dotnet, no matter what the value is in global.json. In particular so I can updat

[2017-10-20 16:24] jaredpar opened #1675 "SDK doesnt publish exes correctly when used as a project reference"
Often a group of exes need to be built and deployed together. This is common in applications like Roslyn where we ship several exes as a single unit: csc, vbc and VBCSCompiler.

Rather than building each project separately and then copying the outputs together we create deployment projects. Essentially dummy exes projects that just reference all of the exes that we need via project reference eleme

[2017-10-20 17:09] livarcocc commented on #1675
So, if I understand this correct, you have a project that references three other self-contained netcoreapp projects as project references and you expect that publish this aggregator project will also publish all its references as an app?

If that's the case, you are right, we do not support that. P2P references are treated as libraries and not applications. In order to accomplish this I think you

[2017-10-20 18:13] jaredpar commented on #1675
That doesn't quite get the behavior we want though. Part of the advantage to using the `<ProjectReference>` route is that MSBuild hepls ensure we have consistent dependencies across the projects. If any dependencies are wrong the standard warnings around conflicts will come into play.

This is important because the versions need to be consistent in order to ensure the exes will run correctly when

[2017-10-20 18:55] dsplaisted commented on #1675
I would also like some way to publish multiple apps to the same folder (and correctly handle the dependencies).

However, it's not as simple as copying the additional files when an app project is referenced.  The deps.json and runtimeconfig.json will have been generated within the context of the app's dependencies.  If the "publish" project ends up resolving different versions of those dependencie

[2017-10-20 19:03] haefele commented on #955
Same bug, but using VS 15.4.1

[2017-10-20 19:04] jaredpar commented on #1675
Exactly. We want these failures. It tells us that we screwed up our dependencies :smile:

[2017-10-20 20:15] #946 closed

[2017-10-20 20:25] nguerrera opened #8816 "Flaky test: GivenThatWeWantToReadLockFilesQuickly.ItFailsInLessThanOneSecondWhenTheProjectAssetsJsonDoesNotExist"
We should have proper perf tests, not assert a time limit. VMs in CI can run quite slow at times.

[2017-10-20 21:36] GeorgDangl commented on #958
I'm encountering the issue with a just-migrated project:
https://github.com/GeorgDangl/xbim-meets-angular

Is there already some workaround available?

[2017-10-21 11:35] shaggygi opened #1676 "[Question] Clean up milestones"
Would it be possible to close out the older milestones?  For example, 1.0 RTM, 1.1 and 2.0.  Thx

[2017-10-23 05:42] steingran commented on #955
Getting this bug on VS 15.4.1.

@trylek Any update on the progress on this issue?

[2017-10-23 08:17] trylek commented on #955
@steingran I apologize, this is completely beyond me for now. I see that an internal VS task #504917 has been created to track this but that's about it. @tmat, do you have any idea how to continue getting a traction on this issue?

[2017-10-23 09:46] darrensteadman opened #1679 "Workflow designer fails to load when referencing netstandard 2.0"
I previously reported issue #1522 when I was having problems getting workflows to compile when referencing netstandard 2.0. The work around documented solved that problem for me however I've now gone to modify some of the workflows in my project and when I try to load the designer I get the following.

System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0,

[2017-10-23 21:48] nguerrera commented on #1096
Closing as duplicate of #939

[2017-10-23 21:48] #1096 closed

[2017-10-23 21:53] nguerrera commented on #939
Moving to msbuild because after the double-evaluation fix, this compatibility check happens there in the context of the caller.

[2017-10-23 21:54] nguerrera commented on #939
This issue was moved to Microsoft/msbuild#2661

[2017-10-23 21:54] #939 closed

[2017-10-23 23:02] ryanbrandenburg commented on #1380
This issue continues to happen for us:
[code]
[code]

[2017-10-24 12:20] noahfalk opened #1682 "dotnet store has bad algorithmic complexity, invocations take orders of magnitude longer than necessary"
I think there is a functional issue here as well, but I discovered it just from the performance impact. To repro  sync https://github.com/aspnet/jitbench and follow the first 3 steps in the README. In step 2 you don't need to replace anything. The important step is 3, it is generating the ASP.Net store from scratch using dotnet store command.

Expected: step 3 completes with only a modest perf ove

[2017-10-24 12:56] aienabled commented on #1238
`portable` now fully supported by .NET Framework 4.7.1, it seems to be preferable PDB format now.
https://blogs.msdn.microsoft.com/dotnet/2017/10/17/announcing-the-net-framework-4-7-1/ (scroll to `Runtime – Support for Portable PDBs`).

[2017-10-24 15:23] g0t4 opened #1683 "How about cross-platform Edit and Continue / Hot Swap baked into the SDK tooling?"
The code, compile, reload cycle isn't necessary, it's just the way things are. We can make coding more interactive. Imagine a default workflow where coding is manipulating the code in a running application! That could extend beyond development, but for now at least in development.

In working on projects that use both backend builds (.NET Core) and front end builds (Webpack), I wish we could have

[2017-10-25 03:35] livarcocc commented on #1673
I believe we can augment this error message to display the different versions of the SDK we found (if any). I will move this issue to core-setup, since this will have to be implemented in the host.

[2017-10-25 03:35] livarcocc commented on #1673
This issue was moved to dotnet/core-setup#3344

[2017-10-25 03:35] #1673 closed

[2017-10-25 23:42] jcouv opened #1686 "Microsoft.CSharp package restored with SDK 2.0.0, but not 2.1.1"
Repro:
1. Enlist to Roslyn repo on Linux (for this I used Docker and `docker run -it ubuntu bash`, then installed git with `apt-get update`, `apt-get install git`, then `git clone https://github.com/dotnet/roslyn.git`)
3. From a clean repo (`git clean -xdf`), select an SDK with configuration in `build/Targets/Tools.props` and `global.json`. We'll use "2.0.0" and "2.1.1-preview-007094".
4. Obtain d

[2017-10-25 23:47] nguerrera commented on #1686
@livarcocc

[2017-10-26 13:15] qbit86 opened #8833 "dotnet cli produces `?`s in output"
## Steps to reproduce

Run `dotnet --help`

## Expected  behavior

Readable text should output.

## Actual behavior

[code]

## Environment data

`dotnet --info` output:
[code]

[2017-10-26 16:04] dasMulli commented on #1647
@dsplaisted @nguerrera as @JPhilC reported, this may also be needed for `System.ComponentModel.Annotations` which shipped as `4.0.0.0` in 4.7.1 but the reference assembly shipped via NuGet has version `4.2.0.0` (see https://github.com/dotnet/standard/issues/555#issuecomment-339712227)

[2017-10-26 19:06] daveaglick commented on #1321
This happened to me when I manually edited a csproj file to go from:
[code]
To:
[code]
I tried everything suggested here and the `project.assets.json` file just kept coming back the same. It wasn't until I closed Visual Studio, deleted the `obj` folder, and reopened Visual Studio that the restore created a new `project.assets.json` file with the targeting changes. I suspect the NuGet process in VS

[2017-10-26 20:45] #1244 closed

[2017-10-26 20:45] #1499 closed

[2017-10-26 20:49] jcouv opened #1689 "Upgrading Roslyn with 2.1.1 SDK (from 2.0.0) required changes"
When I tried upgrading the SDK in Roslyn repo from 2.0.0 to 2.1.1, I had to make some unexpected changes for the build to succeed on Windows:
1. errors with dangling references (`System.Configuration`, `System.Xml` and `System`)
2. a conflict between two versions of `System.Net.Http`

Repro:
1. Enlist to roslyn repo
2. Update SDK from "2.0.0" (or "2.0.0-preview3-006923", which behaves the same) to

[2017-10-26 23:02] Pilchie opened #1690 "Content from library is not deployed to UWP app"
_From @zigzag312 on October 26, 2017 12:22_

#Hi, I am not sure if this is a bug or a proper behavior. To reproduce:

1. (in Visual Studio) create UWP project
2. create netstandard project
3. add a content file to netstandard project (mark it as 'Content' and set it to 'Copy if newer')
4. from UWP project add reference to netstandard project
5. run in debug mode (without .NET Native tool chain)

R

[2017-10-27 00:15] nguerrera commented on #1484
This would have happened with the 1.x SDK, but it was fixed by 57a1c3d23afacde8dc2f135e983e29b87d6a8f5a for 2.x

[2017-10-27 00:15] #1484 closed

[2017-10-27 09:33] ruchanb opened #1694 "Error when Requesting Action with Razor view 'System.InvalidOperationException: Cannot find reference assembly '.NETFramework/v4.6.1/Microsoft.CSharp.dll' file for package Microsoft.CSharp.Reference'"
I am hosting a asp.net core 2.0 project on two servers. On one of the server whenever an action with **razor view** is requested it gives `500 Internal Error `. The error only occurs in one of the servers and works fine with JSON results.
`System.InvalidOperationException: Cannot find reference assembly '.NETFramework/v4.6.1/Microsoft.CSharp.dll' file for package Microsoft.CSharp.Reference`

Previ

[2017-10-27 10:00] qqbuby opened #1695 "The build failed. Please fix the build errors and run again."
Hi, @dotnet

It does work with `dotnet run` in my VM/Debian 9. But It can be running with `docker run -v /example/mysource/:/source etc... microsoft/aspnetcore-build:1.0-2.0 ...` with the docker image `microsoft/aspnetcore-build:1.0-2.0`.

The command `dotnet build -f netcoreapp2.0`  works well without any output. However the command `dotnet run -f netcoreapp2.0` run with an error message `The bui

[2017-10-27 18:32] bording commented on #1479
I see that this still doesn't have a milestone associated with it. Is there any update on when this might be addressed?

[2017-10-27 18:38] bording commented on #1458
@wli3 Is there any more progress on this?

[2017-10-27 18:56] jaredpar opened #1696 "Need a way to run targets before / after sdk.targets"
Roslyn is in the process of attempting to move to the new project file syntax + use directory build props / targets files. This has been a very laborious process because rather than be a syntactic shift in how build files are defined, it's actually a rather big semantic shift as well. This is due to rather large changes in when items get executed.

In the old world our project files were defined a

[2017-10-28 02:56] JoeLiu2015 opened #1697 "How to config *.runtimeconfig.json file, to let the .net standard program work fine with multiple versions SDKs."
I build a .net standard runnable program. The generated *.runtimeconfig.json file looks like follows:{
    "runtimeOptions": {
      "framework": {
        "name": "Microsoft.NETCore.App",
        "version": "1.0.4"
      }
    }
  }
It works fine with runtime 1.0.4. However, it couldn't work with runtime 2.0.0. If I modify above version "1.0.4" to "2.0.0", the issue is solved.

The question is ho

[2017-10-28 06:30] dasMulli commented on #1696
I've been using the explicit SDK imports to work around issues and make use of properties defined by the targets import. Could this already solve your issues?

E.g. this one before mono included NuGet's pack targets or to use preview builds of them
[code]

[2017-10-28 19:05] tompazourek commented on #1351
Same issue here with OutputType Exe. My workaround is to switch the project to Class Library, generate the redirects, and then switch it to Exe again.

[2017-10-29 20:47] GeeF commented on #901
Dealing with a similar issue here. I have a simple .net standard 1.4 library that is tested using nunit3. Running on 4.6.1 I get this when running tests that use features from the library dealing with files:

    System.IO.FileNotFoundException:
    Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral,
    PublicKeyToken=b03f5f7f11d50a3a' or one of its dependenci

[2017-10-29 21:28] robertmuehsig opened #1698 "dotnet pack doesn't build when "Generate NuGet Pkg on Build""
The documentation tells me that "dotnet pack" should build the project (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack?tabs=netcore2x)

Unfortunatly this behaviour is missing if I enable the "create nuget package on build":

![image](https://user-images.githubusercontent.com/756703/32148454-975bd2b0-bcf7-11e7-8b36-f08b26a20f63.png)

When I now execute dotnet pack, it fails:
![image

[2017-10-29 21:54] damianh commented on #1100
Am going to make another attempt https://github.com/damianh/LibLog/pull/149

[2017-10-30 00:26] noahfalk opened #1699 "Add an option that allows the caller to explicitly point to the CLR to use for dotnet store"
## Repro:

git clone https://github.com/JitBench
Follow the instructions in the README

## Observed behavior:

In step 3 while running AspNet-GenerateStore.ps1, dotnet store will be invoked that ultimately runs crossgen with coreclr and clrjit.dll loaded from the global NuGet cache.

## Expected behavior:

dotnet store will resolve coreclr and clrjit the same way that dotnet run would, by using th

[2017-10-30 02:13] dasjestyr commented on #901
Have you tried adding a net461 target to the standard library? That fixed it for me.

[2017-10-30 03:05] jnm2 commented on #901
The ideal scenario is that the class library is netstandard*.* and the test project targets `net***;netcoreapp*.*` or something like that. If you make the class library target both `netstandard1.4` and `net461`, you won't be truly testing the `netstandard1.4` dll because the test project will ignore it and pick up the `net461` dll.

[2017-10-30 06:50] #1694 closed

[2017-10-30 13:21] jaredpar commented on #1696
@dasMulli

The new syntax though makes the Sdk.targets import implicit. There is no way, at least that I'm aware of, to make it explicit.

[2017-10-30 17:16] rainymaplesoft commented on #1321
I got the same problem after I changed the target from net452 to net461, when I ran publish it complained the project was not compatible with net451 etc, even the target framework was set to net461 in the publish profile. BUT, I happened to find the TargetFramwork was still "net452" in the publish summary page, even in the "Setting" it was set to net 461. It was very wired. The solution then becam

[2017-10-30 17:20] rainymaplesoft commented on #1321
![image](https://user-images.githubusercontent.com/13835913/32185228-ff34c324-bd74-11e7-8250-e4619ac185bb.png)

[2017-10-30 17:32] nguerrera commented on #1699
@eerhardt

[2017-10-30 17:33] nguerrera commented on #1698
This issue was moved to NuGet/Home#6118

[2017-10-30 17:33] #1698 closed

[2017-10-30 17:35] nguerrera commented on #1696
@jaredpar, I'm not sure what you mean. The import of Sdk.targets in @dasMulli's example is explicit. It happens at exactly the point where   `<Import Project="Sdk.targets" Sdk="Microsoft.NET.Sdk" />` occurs. You have 100% control of the import when you expand the `<Project Sdk...` form to `<Import Sdk...`.

[2017-10-30 17:37] nguerrera commented on #1696
By "new syntax", do you mean `<Project Sdk="Microsoft.NET.Sdk">` exclusively? It is confusing because both `<Project Sdk` and `<Import Sdk` were introduced to msbuild at the same time. The former is sugar for the latter at top and bottom of Project, but once you desugar, you can put them where you like.

[2017-10-30 17:38] nguerrera commented on #1696
With that said, I'm not opposed to the proposal here in support of the terser synax for more scenarios.

[2017-10-30 17:41] nguerrera commented on #1696
If we do as proposed, I suggest `$(CustomAfterMicrosoftNETSdkTargets)` matching the full names used in Microsoft.Common.targets and friends. The problem with `$(CustomAfterSdkTargets)` is that there is more than 1 MSBuild Sdk and they all have a Sdk.targets. If we end up needing hooks on all them, then the variable will conflict.

[2017-10-30 17:41] jaredpar commented on #1696
@nguerrera

This sample isn't using the `<Project Sdk="Microsoft.NET.Sdk"> ` format which is what we were trying to move to.

Using explicit `<Import ... />` in every project though defeats the purpose of the Directory.Build.props / targets work.

[2017-10-30 17:41] jaredpar commented on #1696
@nguerrera

makes sense.

[2017-10-30 17:46] eerhardt commented on #1699
A couple of comments:

1. You can run `dotnet store` for a runtime version that isn't installed in the `dotnet` folder.  For example, you only have `2.0.0` installed, and you `dotnet store` for `2.0.1` (and vice versa).  The idea here is to decouple the version of the runtime that the SDK runs on from the version of the runtime that your app/store/etc wants to use.
So a workflow could be:  downloa

[2017-10-30 22:41] noahfalk commented on #1699
Thanks @eerhardt its fair to say my expectations of the scenario were a bit off and I'm happy you've corrected it. In fact on further thinking I don't think dotnet run was the right comparison to make. In this scenario coreclr and clrjit represent the backend of a compiler. I think there is a fairly good comparison to Roslyn that can be made. When executing dotnet build we must select a version of

[2017-10-31 04:43] yaakov-h opened #1703 "MissingMethodException when using Microsoft.Build alongside ZipFile"
I hope this is the correct place for this bug, if not, please point me as to where to file this.

---

I've hit a really strange place in the SDK with regards to NuGet packages and .NET Standard and type forwarders and all the magic going on there.

I have a project that uses Microsoft.Build + Microsoft.Build.Framework + Microsoft.Build.Utilities.Core from NuGet.

This same project also deals with

[2017-10-31 13:57] eerhardt commented on #1699
OK, I'm understanding your scenario a bit more.  Adding an option that allows the caller to explicitly point to the CLR to use, makes sense to me.  That can be added.

FYI - even in your Roslyn compiler example above, there are scenarios where you can use the compiler coming from NuGet by referencing a new version of the `Microsoft.Net.Compilers` package.

[2017-10-31 18:14] ocapio commented on #1321
@daveaglick I am running into a similar issue since I updated to Visual Studio 2017 15.4.1. It seems like reinstalling Visual Studio seems to fix this.  I would like to find a solution to this since other machines may be affected by this.

[2017-11-01 09:20] ousiax opened #1707 "error MSB3021: Unable to copy file"
[code]
[code]

[2017-11-01 15:06] ridomin opened #1708 "Sources under a folder named "Packages" are ignored on build"
.NET Command Line Tools (15.5.0-preview-007044)

All source files and folders are included in the build, however, a folder named "Packages" is excluded. I've verified this behavior in CLI and VS 15.5 Preview.

Looks like a regression from previous versions (checked in 15.4).

Repro Steps.
[code]

Expected. Build failed because Class1.cs is not a valid C# file
Observed. Build succeed because Packag

[2017-11-01 18:56] livarcocc commented on #1708
Your Packages folder below is upper case.
 
We remove (always have) packages (lower case) from sources since 1.0.0. We did this to maintain compatibility with project.json when we moved from it to csproj and msbuild.
 
The fact that this used to work for you and now fails is likely a path normalization fix that happened in MSBuild. Adding @Andy Gerlicher here so that he can comment on path normali

[2017-11-01 18:58] onovotny commented on #1708
This is bad and projects have valid folders called `Packages` in them with code.

https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/tree/master/Core/Packages

Please do not put this on the default items list if it's *inside* the project folder. If it's outside the project folder, which I believe was the intent, that's ok as that was to target the packages.config folder.

[2017-11-01 19:40] dsplaisted commented on #1708
Yeah, I'm the one who wrote that TODO.  The problem is now that we've shipped, that removing that glob could also break projects.

However, I've confirmed that this is a break even on case-insensitive file systems.  In the 2.0 SDK, code from a `Packages` folder would be included.  With 15.5 Preview, code from a `Packages` folder won't be included.

So assuming that we keep the current behavior of

[2017-11-01 21:23] livarcocc commented on #1707
Can you provide any additional repro steps?

[2017-11-01 21:28] livarcocc commented on #1697
In order to do this, you need to Multi-target. Meaning, using the `<TargetFrameworks>` tag in your csproj and having netcoreapp1.0 and netcoreapp2.0 and values in there. Note that if you do this you will end up with two versions of your app. One for each TargetFramework you are targeting.

The runtime does not make any roll-forward compatibility in minor and major versions, which is why this does

[2017-11-01 21:28] #1697 closed

[2017-11-02 08:03] ankurjasoria opened #1709 "Want to migrate on dnx to cli with entity framework core"
Hi Team,

I have followed below url as reference
https://github.com/dotnet/cli/blob/master/Documentation/ProjectJsonToCSProj.md

and found below issue with migrate command
Error :
PS C:\yoyo-center-management-system-master\CenterManagementSystem\DEV\src\CenterManagementSystem.Platform> dotnet migrate
No executable found matching command "dotnet-migrate"

I have created separate console application

[2017-11-02 14:40] kdahltx commented on #1416
I'm having the same issue. I have an extension library that is multi-targeted and it is being used by another library I'm creating that is also multi-targeted.

I can only install the multi-targeted extension library to a project that is targeting a specific platform but can't install it to another project that is multi-targeted.

[2017-11-02 23:20] davkean opened #1711 "ResolvePackageDependencies is producing 6.5% of allocations in a build"
In a customer solution I'm looking at, I see that ResolvePackageDependencies is producing 6.5% of all allocations for an up-to-date build:

![image](https://user-images.githubusercontent.com/1103906/32355033-a01b264e-c080-11e7-8f3b-a29ddef61cdd.png)

Can we see if we can trim/remove unneeded allocations from this task.

[2017-11-03 06:45] qqbuby commented on #1707
@livarcocc

Hi, I have reproduced the problem. The repo url is https://github.com/qqbuby/MSB3021.

*README.md*

[code]

[2017-11-04 09:57] murbanowicz commented on #1683
+100 for this

[2017-11-06 21:46] nguerrera commented on #732
Not sure, but I think this one only triggers when delay signing without skip verification set up. I am generally able to build non-admin with ALINK.

[2017-11-07 02:01] firelizzard18 opened #8858 "[Feature] Add "run in directory" option to dotnet command"
Say I have a directory that contains a project. E.g. `/source` and `/source/PROJECT`. My project file would be `/source/PROJECT/PROJECT.csproj`. `/source` does not contain a solution file.

**I propose a top-level option to specify the directory to use as the working directory of the `dotnet` command.** E.G. `dotnet -C PROJECT build`, `dotnet -C PROJECT test`, `dotnet -C PROJECT xunit` would all w

[2017-11-07 05:24] qqbuby commented on #1707
Any update?

[2017-11-07 06:10] ms0713 commented on #833
Where to specify <RunCommand>?

[2017-11-07 06:12] ms0713 commented on #833
Where to specify runcommand?  I m not getting inside my PropertGroup tag.

[2017-11-07 14:29] #1708 closed

[2017-11-07 18:42] thomas-frantz opened #1714 "NU1605 Detected package downgrade"
.NET Core SDK version: 2.0.2

I'm running the command `dotnet publish --runtime win`, and it's producing a bunch of package downgrades:

[code]

I'm posting this here as it *seems* to stem from the `System.*` assemblies, but I'm not 100% sure. I can run a `dotnet build` and even plain `dotnet publish` just fine.

[2017-11-08 00:15] livarcocc commented on #1709
Duplicate of https://github.com/dotnet/cli/issues/7956

[2017-11-08 00:15] #1709 closed

[2017-11-08 00:17] livarcocc commented on #1707
We haven't looked into this yet.

[2017-11-08 01:28] natemcmaster opened #1716 "Duplicate ProjectReference's breaks cross-targeting frameworks"
When there are duplicate ProjectReference's, MSBuild will use the wrong TargetFrameworks value when building P2P references. This used to work in 2.0.0 but started failing in nightly builds of 2.2.0.

**Repro:**
[code]

1. Install nightly build of the CLI: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.2.0-preview1-007522/dotnet-sdk-2.2.0-preview1-007522-win-x64.zip
1. `git clone https://git

[2017-11-08 11:44] thomaslevesque opened #1717 "dotnet pack doesn't honor AppendTargetFrameworkToOutputPath in package structure"
[This project](https://github.com/FakeItEasy/FakeItEasy/blob/8f649f313f8afaa35871475ca00ae94a55db91ec/src/FakeItEasy.Analyzer/FakeItEasy.Analyzer.CSharp.csproj) used to produce the following package structure with the 1.0.4 SDK:

![image](https://user-images.githubusercontent.com/1864281/32543775-d0b3abc4-c476-11e7-9690-d58de230462d.png)

But with the 2.0.2 SDK, it produces this instead:

![image]

[2017-11-08 14:04] thomaslevesque commented on #1717
Apparently, including the TFM in the path is [hard-coded](https://github.com/NuGet/NuGet.Client/blob/eb6fe311289908d5e1fe6f644030c704be2bc15c/src/NuGet.Core/NuGet.Commands/MSBuildProjectFactory.cs#L142) and can't be disabled...

For the project I mentioned, it generates an analyzer packages that installs correctly in SDK-style projects, but not in classic csproj (the analyzer is not referenced).

[2017-11-09 03:06] livarcocc commented on #1717
@emgarten Is this something that NuGet relies on the SDK for or is NuGet doing its own path calculation for the folder under pack?

[2017-11-09 04:36] emgarten commented on #1717
I'm not completely sure if NuGet appends the TFM to $(BuildOutputTargetFolder) here, or how this is getting added.

//cc @rohit21agrawal for pack

[2017-11-10 00:53] davkean opened #1720 "ServerGarbageCollection is not honored in SDK project and TargetFramework net47"
_From @Tornhoof on October 17, 2017 7:58_

The setting server garbage collection in the new SDK project format is not honored for TargetFramework net47, it works for netcoreapp 2.0
[code]
# Steps to repreoduce
1. Create Console project
2. TargetFramework net47
3. Change project format to new format
4. Add setting from above to property group
5. Put in the main method:
[code]
## Expected result
1.

[2017-11-10 00:53] davkean commented on #1720
_From @Pilchie on October 17, 2017 17:49_

Seems like we would need to transform this into an app.config for `net4x`?

[2017-11-10 15:22] bruno-garcia opened #1722 "Fails to compile on MacOS - works on Windows and Linux: error CS0012: The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0' and 'This can indicate a missing project reference'"
Solution with tests 'netcoreapp2.0' and 'netstandard' libraries of different versions fails to compile on MacOS - works on Windows and Linux.

Tested with SDK versions: 2.0.0 and 2.0.2

Besides working on Appveyor and Travis-CI (Ubuntu), I've also tested on Windows 10 and CentOS which builds without issues.

- It fails on MacOS 10.12.6 and Travis-CI 'OSX' build:

The repo has badges for the [Travi

[2017-11-10 16:18] thomaslevesque commented on #1717
From the [code I linked to](https://github.com/NuGet/NuGet.Client/blob/eb6fe311289908d5e1fe6f644030c704be2bc15c/src/NuGet.Core/NuGet.Commands/MSBuildProjectFactory.cs#L142), it seems pretty clear that it does ;)

[2017-11-10 16:50] livarcocc commented on #1717
I agree with @thomaslevesque. It seems NuGet is the one that is doing this and not honoring the Append property.

[2017-11-10 19:16] bruno-garcia commented on #1722
It was a casing issue. Why it worked on Linux I don't know.

[2017-11-10 19:16] #1722 closed

[2017-11-10 21:49] livarcocc commented on #1647
This has now been fixed.

[2017-11-10 21:49] #1647 closed

[2017-11-10 21:50] livarcocc commented on #1588
I believe this change ended up being made in the Web SDK. Is this still needed for the SDK? If not, I would like to close this issue.

[2017-11-10 22:51] pranavkm opened #1724 "dotnet run with a TFM prints restore output to the command line"
1. Create a new console application `dotnet new console`
2. Do `dotnet run`. The first and only line in the output is from the app's execution (`Hello world!`)
3. Do `dotnet run -f netcoreapp2.1`.

**Expected:**
`Hello world!`

**Actual**
[code]

[code]

[2017-11-11 00:35] livarcocc commented on #1724
This is a regression in the CLI from when we introduced restore in the same process. @nguerrera, can you comment? Was this one of the cases that we couldn't work around?

[2017-11-11 01:12] tzwlai commented on #1588
Thanks for checking.  We don't need this anymore.  Please go ahead and close this issue.

[2017-11-11 06:12] #1588 closed

[2017-11-12 16:22] dsplaisted commented on #1522
This should be fixed with #1612

[2017-11-12 23:05] Joebeazelman opened #1727 "ComboBox throws a StackOverflowException when an item is selected"
I got the same error as this person on StackOverflow:

https://stackoverflow.com/questions/47228336/uwp-xaml-combobox-throws-a-stackoverflowexception-when-an-item-is-selected

If you select an item from the ComboBox when it is databound to the value field, it creates a deadlock and running off the stack.  This doesn't appear to be an issue with any of the other controls, including ones that use th

[2017-11-13 06:03] srayuws opened #1728 "netcoreapp2.0 is not compatible with netstandard2.0 ?"
Hi ,
I have 3 trivial projects here:

* `CommonLib.csproj` with target `netstandard2.0`
* `OldImplement.csproj` with target `v4.7`
* `NewImplement.csproj` with target `newcoreapp2.0`

Here is the problem:

It works fine if I reference the `OldImplement` in the `CommonLib`, everything works find.

But when i try to change the referenced project from the `OldImplement` to the `NewImplement`, I canno

[2017-11-13 06:27] #1728 closed

[2017-11-13 19:44] livarcocc commented on #1727
This is not a .net core project nor a .net core issue. Unfortunately, I am not sure where this issue should move to. If this is happening to you in VS, I would just suggesting submitting a feedback item for it.

[2017-11-13 19:44] #1727 closed

[2017-11-13 20:59] pranavkm opened #1729 "Compiling Mvc's functional tests with 2.2 SDK targeting netcoreapp2.1 is compiled with PlatformTarget x64"
The title is super specific because I wasn't able to reproduce this with a smaller sample.

I’ve been working on updating AspNetCore’s repositories to use the 2.2 SDK and the 2.1 runtime. For the latter, I’ve been attempting to add the netcoreapp2.1 as a cross-compile target to our test projects. Xunit’s test discovery for one of these updated project’s test started failing with a BadImageFormatEx

[2017-11-14 00:23] nguerrera opened #1730 "SDK cannot pack itself"
The Microsoft.NET.Build.Tasks.csproj has some code to resolve publish assemblies during the build phase in order to pack itself.

Triggering this code now causes the order of GetReferenceAssemblyPaths and GetFrameworkPaths to be reversed during pack. GetReferenceAssemblyPaths must always run after GetFrameworkPaths because GetReferenceAssemblyPaths overrides the TargetFrameworkDirectory set by Get

[2017-11-14 02:38] blairconrad commented on #1717
Does this mean that the issue should move to NuGet/NuGet.Client?

[2017-11-14 06:08] emgarten commented on #1717
This issue was moved to NuGet/Home#6184

[2017-11-14 06:08] #1717 closed

[2017-11-14 08:59] jmarolf opened #8872 "Microsoft.DotNet.MSBuildSdkResolver symbols are not archived"
## Steps to reproduce
1. Debug Visual Studio
2. Look at loaded modules window

## Expected  behavior
Microsoft.DotNet.MSBuildSdkResolver symbols are loaded

## Actual behavior
Microsoft.DotNet.MSBuildSdkResolver symbols are not loaded

[2017-11-14 15:41] onyxmaster commented on #1458
Really would like this being fixed. Having dependent PDBs is crucial for in-production diagnostics + debugging.

[2017-11-14 19:59] jnm2 commented on #1630
My company just ran into this. I'm not quite brave enough to use the workaround yet, so project.json it is.

[2017-11-14 20:09] jnm2 commented on #1630
Oh goody, project.json seems to have the same shortcoming. 😑

[2017-11-14 20:27] jnm2 commented on #1630
It works so long as I don't add `"SourceLink.Embed.AllSourceFiles": "2.5.0"` to project.json _and_ build from the command line. What is VS doing differently from the command line that causes the build to succeed?

[2017-11-14 20:32] jnm2 commented on #1630
My company just ran into this. I'm not quite brave enough to use the workaround yet.

I don't run into this so long as I don't add a package reference to SourceLink.Embed.AllSourceFiles (either with `<PackageReference>` or `project.json`) _and_ build from the command line. What is VS doing differently from the command line that causes the build to succeed?

[2017-11-14 20:40] emmanuelguerin commented on #1630
I'll have to have a look again at this. The workaround is simple enough to implement: copy paste the target in the .csproj after the Import of the targets (<Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />).
https://github.com/emmanuelguerin/issue-sgen/blob/master/LibNetFrameworkPatched/LibNetFrameworkPatched.csproj

[2017-11-14 20:44] jnm2 commented on #1630
I'm just afraid to entirely replace the target. I just found a workaround for my particular case which I'll post [here](https://github.com/Microsoft/msbuild/issues/2707#issuecomment-344390858).

[2017-11-14 22:35] jnm2 commented on #1458
I figured out a workaround which can be pasted into the csproj:

[code]

[2017-11-14 22:39] jnm2 commented on #1458
Updated.

[2017-11-14 23:34] vitek-karas commented on #955
I verified that the app described by the repro steps from @Thealexbarney  above is fixed with recent build of VS 15.5. The fix should be in VS 15.5 RTM. Not sure if it made it to 15.5 Preview 4 (once it's actually released which should be any day now), but it might.
Investigating this issue we also found another small one where .NET Native build will not copy a .pdb file with no matching binary in

[2017-11-14 23:53] jnm2 commented on #1458
That works for some packages and not others. Looking into it.

[2017-11-14 23:56] jnm2 commented on #1458
Never mind, it works in all scenarios. Forgot to do a NuGet restore and ended up referencing an old version of a package.

[2017-11-15 00:41] michaelcfanning opened #1735 "HighEntropyVA not set by default for 64-bit .net core apps"
1. Create default .net core console app
2. Set configuration to x64, compile

result: high entropy va bit not set in PE.

Adding relevant MSBUILD property with correct value to the project resolves the issue. So the problem appears to be that our default property settings need to be corrected.

    <HighEntropyVA>true</HighEntropyVA>

[2017-11-15 03:38] livarcocc commented on #1735
I don't think we set this property anymore on the SDK itself.

This may be set by MSbuild itself actually.

[2017-11-15 15:49] pranavkm opened #1738 "ResolveAssemblyReference is incorrectly marking references from NuGet packages as referenceassembly"
Reproduced in VS 2017 15.4.4.

1. Create an Mvc application targeting net471
2.  Build and run the application.

Views fail to compile with an error stating from DependencyModel stating reference assemblies cannot be resolved:

[code]

### Notes from @eerhardt's investigation

I quickly looked at this scenario, and it appears to be a dotnet/sdk bug to me.  The SDK is getting confused about a bunch

[2017-11-15 15:49] pranavkm commented on #1738
cc @eerhardt \ @dsplaisted \ @weshaggard

[2017-11-15 16:41] pranavkm opened #1739 "Reference assemblies are incorrectly being marked as references"
Seems like the opposite of #1738

I'm working on updating AspNetCore's repositories to use the 2.2 SDK. With the 2.0.0 SDK, when attempting to publish a Mvc application (https://github.com/aspnet/MvcPrecompilation/blob/dev/testapps/RazorPagesApp/RazorPagesApp.csproj for reference) for `net461`, `Microsoft.Win32.Primitives` (among others) is recorded as a `referenceassembly` in the deps file:

[cod

[2017-11-15 16:47] pranavkm commented on #1739
cc @eerhardt \ @dsplaisted could you recommend any workarounds for this?

[2017-11-15 17:03] weshaggard commented on #1739
@joperezr could you please have a look?

[2017-11-15 17:13] joperezr commented on #1739
Sure I can take a look. @pranavkm do you have a fork of the repo with your changes so I can try take a look at a repro?

[2017-11-15 18:16] pranavkm commented on #1739
@joperezr here's a simpler repro - https://github.com/pranavkm/repro1739/tree/master/app. Running `dotnet run` and navigating to the site root (http://locallhost:5000) should print the exception from DependencyContext.

[2017-11-15 18:44] joperezr commented on #1739
ok, great I'm taking a look

[2017-11-15 19:08] KathleenDollard opened #1740 "MacOs install summary page shows wrong version"
After installing .NET Core SDK 2.0.3, the MacOs summary page is as attached. The title correctly says 2.0.3, but twice on the page it says 2.0.0

@wli3

![screen shot 2017-11-15 at 10 57 58 am](https://user-images.githubusercontent.com/5844318/32854975-3ac53162-c9f5-11e7-8dde-5685da6ad846.png)

[2017-11-15 23:03] dsplaisted commented on #1730
Some context around this is captured [here](https://github.com/dsplaisted/sdk/commit/13989f17233b152716959cd5c81dacb446c1c24a) and [here](https://github.com/dotnet/sdk/issues/933#issuecomment-337795307).

[2017-11-16 07:55] Thenuwara commented on #1489
My problem also solved Installing Nuget package for System.Configuration.ConfigurationManager

InvalidOperationException: Cannot find compilation library location for package

[2017-11-16 16:48] jaredpar commented on #433
FWIW: In practice I found that @sharwell work around is more correct here than @rainersigwald. The Reference often needs both the AdditionalProperties and Name elements in order to succeed. In some cases just AdditionalProperties is enough but have run into cases where both were indeed needed.

[2017-11-16 18:21] livarcocc commented on #1738
@joperezr This seems to be a regression because of the changes we recently made. Any chance you can lend a hand and take a look at this?

[2017-11-16 18:22] livarcocc commented on #1738
@pranavkm I just noticed that this is for 15.4.4. Have you tried this scenario on 15.5? We have made a series of fixes there supporting net471. Can you give it a try?

[2017-11-16 18:25] joperezr commented on #1738
I believe this is the scenario for which we had an internal thread about, and we did confirm that the issue doesn't repro anymore on 15.5

[2017-11-16 18:27] nguerrera opened #1744 "[Product construction] SDK should overlay nuget onto the CLI LKG used for testing"
We have long had a problem with nuget insertions where we cannot insert nuget into SDK until it has been inserted into CLI and SDK takes a new LKG. It does not block builds, but it does block testing. There are assembly load conflicts that occur when SDK was built against a different nuget than CLI.

However, that cannot work in an orchestrated build where tests run on each individual repo as it c

[2017-11-16 18:29] eerhardt commented on #1738
From the email thread about 15.5:

[2017-11-16 21:00] tmeschter opened #1748 "CoreGenerateSatelliteAssemblies broken for all languages except C#"
The `CoreGenerateSatelliteAssemblies` task first calls the `WriteCodeFragment` task to write a bunch of attributes to a .cs file, and then calls the `Csc` task to compile it (along with the .resource files, of course).

However, the call to `WriteCodeFragment` specifies the language of the code to generate using the `$(Language)` property, rather than always passing "C#". This means that in a VB p

[2017-11-16 21:50] jaredpar opened #1750 "Feature request: DisableImplicitTransitiveReferences"
Implicit transitive references is a neat feature and definitely a benefit for the vast majority of projects out there. The feature is not free though and trying to enable it on [dotnet/roslyn](https://github.com/dotnet/roslyn) has caused me no end of headaches. In particular:

- [VSIX #433](https://github.com/dotnet/sdk/issues/433): The VSSDK build tasks do not multi-targeting nor do they understa

[2017-11-16 22:24] #1748 closed

[2017-11-16 22:25] nguerrera commented on #1750
This is a good idea. The name works for me too.

[2017-11-16 22:25] KirillOsenkov commented on #1750
Also there's little control over whether the assets "inherited" transitively will get copied to output or not. See this issue for details: https://github.com/NuGet/Home/issues/5986

[2017-11-16 22:48] joperezr commented on #1739
I am able to repro the problem, but I'm not too familiar with the task that generates the deps file. Task seems to be `GenerateDepsFile` which lives on the sdk task library. @dsplaisted do you know what might be going on with it? Was there a recent change that maked the referenceassemblies be flagged as type reference now?

[2017-11-16 23:35] jaredpar opened #1752 "Errors running build.cmd"
When running build.cmd on my machine i see the following errors many times during the test phase:

The structure of the error indicates it's trying to resolve target files for a 4.5 portable project. Yet the fact the error quotes `c:\MSBuild` throws me off a bit as that is not the installation location of MSBuild.

Is there some pre-req I'm missing?

[2017-11-17 00:50] mattscheffer opened #1754 ".NET 4.7.1 app referencing fields .NET standard 2.0 can cause missing field exception from select assemblies"
Found in D15Rel 27110.0
1.Create a .NET 4.7.1 C# console app and a ,NET Standard 2.0 class library.
2. Inside the Class Library add the following field/constructor to the class.
[code]
3. Add a reference from the class library to the console app.
4. Add some code to reference StringContent in the Main method of the console app such as:
[code]
5. Start debugging

Expected:
Application builds fine a

[2017-11-17 00:51] richlander opened #8880 "Shallow Restore"
# Shallow Restore

In the Docker world, Dockerfile writers commonly put the least commonly executed actions at the top of the Dockerfile  for both performance reasons (time and space). Package restore is one of those actions. We realized that `dotnet restore` doesn't work for this, so we need a new experience that I'm calling shallow restore that can restore packages without needing to resolve pro

[2017-11-17 00:55] livarcocc commented on #1754
@joperezr can you take a look? Is this one the cases where we created an escape hatch for?

[2017-11-17 01:43] splusq opened #1755 ".NET Standard 2.0 class library, that references a .NET Framework 4.7.1 class library with PackageReference fails"
I have a .NET Standard 2.0 class library, that references a .NET Framework 4.7.1 class library (works fine)

However, if the .NET Framework 4.7.1 adds a PackageReference (new style), I get the following error (possibly due to transitivity):

Error    NU1201           Project ClassLibrary2 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Project ClassLibrary2 supports: net471 (.NE

[2017-11-17 01:53] livarcocc commented on #1755
I think this is likely just triggering a restore and causing the failure. A netstandard library referencing a full framework library is not supported. It is like getting a library that targets a specification to depend on a implementation.

Only the other way around is possible: net471 referencing netstandard2.0. I would suggest that if you can't make your net471 library simply target netstandard2

[2017-11-17 02:00] livarcocc commented on #1755
Just to be correct, the last one of these we allowed was for netstandard2.0 to reference net461. Above that, it is not possible.

@rrelyea @emgarten it seems NuGet is permitting netstandard2.0 libraries to directly reference net471 projects as long as the net471 project is an old style csproj. Can you guys take a look?

[2017-11-17 04:19] emgarten commented on #1755
@splusq can you share a simple solution that repros this? A github repo would be easiest.

Adding a PackageReference should not change compatibility rules.

Also, what version of dotnet CLI are you using?

[2017-11-17 04:34] ManfredLange commented on #1385
In case someone runs into this and using msbuild instead of dotent is not an option perhaps Alistair Crabtree's [workaround](https://alastaircrabtree.com/microsoft-webapplication-targets-was-not-found-again/) is a viable alternative.

[2017-11-17 09:09] dviry commented on #1238
... yet it has to be set to full (at least for now) in order to get code coverage running, just linking here for the sake of reference: [https://github.com/Microsoft/vstest/issues/800](url)

[2017-11-17 12:59] Mpdreamz opened #8886 "Specify default target project/solution in global.json"
This is a toned down proposal from one I proposed here: https://github.com/dotnet/cli/issues/910

Its quite common to have a `src` directory in the root of a repository. To facilitate a:

[code]

workflow like you can do with for instance `node.js` and `npm` it would be great if we can hint to a default target in the `global.json`

[code]

[2017-11-18 02:30] #1714 closed

[2017-11-18 02:57] livarcocc commented on #1455
I believe this is already done.

If that is not the case, please re-activate.

[2017-11-18 02:57] #1455 closed

[2017-11-18 03:04] livarcocc commented on #1533
Unless I am missing something about this bug, it has since been fixed. So I am closing it.

If that's not the case, let me know how to repro it and re-activate it.

[2017-11-18 03:04] #1533 closed

[2017-11-18 03:55] Lily721 opened #1759 "Assets file 'E:\****\obj\project.assets.json' doesn't have a target for '.NETPortable,Version=v4.0,Profile=Profile111'. Ensure that restore has run and that you have included 'portable40-net45+win8+wpa81' in the TargetFrameworks for your project."
Hi guys,

When I use multi target framework in my project like following:

`<TargetFrameworks>netstandard1.1;net45</TargetFrameworks><TargetFrameworkProfile>Profile111</TargetFrameworkProfile>`

And following is why I need TargetFrameworkProfile in my .csproj:

`<Import Project="$(MSBuildExtensionsPath)\Microsoft\Portable\v4.5\Microsoft.Portable.CSharp.targets" />`

I faced upper problem, I though

[2017-11-18 21:58] livarcocc commented on #1527
This was a conscious decision we had to make and we can't really roll it back. Given that it seems there is a work around and that using the 2.0 SDK solves the problem as well, I am going to close this issue.

[2017-11-18 21:58] #1527 closed

[2017-11-18 23:34] livarcocc commented on #1495
We have fixed this in our master branch.

[2017-11-18 23:34] #1495 closed

[2017-11-18 23:39] livarcocc commented on #1759
PCLs are not supported in the command line and the new csproj style.

Why do you need to target it directly? I isn't netstandard1.1 enough for you?

[2017-11-18 23:40] livarcocc commented on #1579
Closing this as this should be tracked by aspnet, who owns the asp.net runtime store package and it seems there is an issue for it already.

[2017-11-18 23:40] #1579 closed

[2017-11-18 23:46] livarcocc commented on #1550
Closing as the documentation has since been patched.

[2017-11-18 23:46] #1550 closed

[2017-11-18 23:51] livarcocc commented on #1336
This has now been fixed.

[2017-11-18 23:51] #1336 closed

[2017-11-18 23:52] #1509 closed

[2017-11-18 23:56] livarcocc commented on #1359
Closing as we haven't had activity here and need better repro steps.

[2017-11-18 23:56] #1359 closed

[2017-11-18 23:59] #1520 closed

[2017-11-18 23:59] #1676 closed

[2017-11-19 02:12] dasMulli commented on #1759
@Lily721 with some manual project file editing you could get an "sdk-style" project to build for portable profiles as well as .net standard.
A good working example is Newtonsoft.Json (see [Newtonsoft.Json.csproj](https://github.com/JamesNK/Newtonsoft.Json/blob/60f66d9c96c7dfff90fcbf06c08103822cafc9dc/Src/Newtonsoft.Json/Newtonsoft.Json.csproj)).

Based on it, you could be able to build a library t

[2017-11-19 15:01] Bert-Proesmans opened #1760 "Assets file 'X' doesn't have a target for '.NETFramework,Version=v3.5,Profile=Unity Full v3.5'"
Hi,
I have a csproj file which targets both netstandard1.0 and net3.5 (unity profile), found [here](https://pastebin.com/R1eJKXQw). The project always compiled successfully until i updated Visual Studio 2017 (now i'm on 15.4.4, but it happened since 2 updates before) but can't exactly remember which version i was on (and the sdk version packaged with it) when i noticed the build failing.
Nowadays

[2017-11-20 17:10] splusq commented on #1755
Here's a sample: https://github.com/splusq/exp/tree/master/NU1201

[2017-11-20 17:13] splusq commented on #1755
@livarcocc if you look at the sample https://github.com/splusq/exp/tree/master/NU1201 -- if I move the  Newtonsoft reference from ClassLibary2 to 1 it works.

[2017-11-20 19:43] #1750 closed

[2017-11-21 08:52] nguerrera commented on #1595
Closing as duplicate of Microsoft/msbuild#1310

[2017-11-21 08:52] #1595 closed

[2017-11-21 19:30] dsplaisted commented on #1675
Here's a potential workaround that includes the deps.json and runtimeconfig.json in the files that referenced projects will copy.

[code]

[2017-11-21 21:06] KathleenDollard commented on #1740
Duplicate of https://github.com/dotnet/cli/issues/8042

[2017-11-21 21:06] #1740 closed

[2017-11-22 05:43] Lily721 commented on #1759
Hi livoorcooc/dasMulli,

I'm developing an app in Xamarin, and I want to execute a target before compilation, so I made following changes in .csproj to fulfill it:
`  <Import Project="$(MSBuildExtensionsPath)\Microsoft\Portable\$(TargetFrameworkVersion)\Microsoft.Portable.CSharp.targets" />
  <Import Project="..\..\..\..\My.targets" />`

and My.targets looks like below:
`<?xml version="1.0" encodi

[2017-11-22 18:30] KirillOsenkov opened #1764 "Transitive Project References without respect for ReferenceOutputAssembly"

[2017-11-22 18:43] KirillOsenkov commented on #1764
cc @nguerrera @alanmcgovern

[2017-11-22 20:23] splusq commented on #1755
@emgarten @livarcocc thoughts?

[2017-11-22 20:56] emgarten commented on #1755
@splusq since ClassLibrary2 is a standard csproj that isn't a NETCore SDK project like ClassLibrary1, removing the PackageReference means that it no longer uses nuget at all. For old style non-nuget projects restore skips the compatibility check.

As for the actual compat error, this looks correct to me. See @livarcocc's answer for ns2.0 -> net471 compatibility

[2017-11-22 21:22] livarcocc commented on #1759
When you move to netstandard1.1, why do you need to keep importing the Portable.CSharp.targets? netstandard1.1 does not need it, so, just remove it.

[2017-11-22 21:32] livarcocc commented on #1755
@splusq Does this answer your questions?

[2017-11-23 00:58] Lily721 commented on #1759
My.targets can not run when I remove Microsoft.Portable.CSharp.targets, I guess may be they are relevant.

[2017-11-23 01:40] livarcocc commented on #1759
Can you tell us more about `my target can not run`? What do you see? An error? Nothing happens?

Can you do a build using `dotnet build /bl` and share the generated bin log with us?

Also, could you share the whole content of your csproj?

[2017-11-23 01:41] splusq commented on #1755
it does - thanks @emgarten and @livarcocc

[2017-11-23 03:40] #1755 closed

[2017-11-23 03:47] livarcocc commented on #1752
@johnbeisner can you comment?

[2017-11-23 03:50] livarcocc commented on #1703
Can you provide us with a repro project for us to try it out?

[2017-11-23 03:54] livarcocc commented on #1623
I believe this is an issue with the generated metaproj for the solution. I will move it to MSBuild for now.

[2017-11-23 03:54] livarcocc commented on #1623
This issue was moved to Microsoft/msbuild#2743

[2017-11-23 03:54] #1623 closed

[2017-11-23 05:54] yaakov-h commented on #1703
https://github.com/yaakov-h/CompressionMissingMethod/tree/15.3-missingmethod

After some further testing and help from Stack Overflow it looks like an assembly binding redirect is needed, but not created.

[2017-11-23 08:23] Bert-Proesmans commented on #1760
If that's correct then the actual question would be: what's the rol of Visual Studio in this scenario. I will file an issue with them for information, because their build delegation system could be the problem here?

[2017-11-23 08:26] livarcocc commented on #1760
Visual Studio will invoke MSBuild using our props/targets that support netstandard. However, if you are targeting net35, you should continue using the old style csproj files.

[2017-11-23 09:37] emgarten commented on #1760
NuGet issues tracking unity support:
https://github.com/NuGet/Home/issues/5460
https://github.com/NuGet/Home/issues/2146

[2017-11-23 12:49] evil-shrike opened #8900 "add package: Add verbosity option"
`dotnet restore` [supports](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x) verbosity option:
[code]
It'd nice to have the same option for `add package`:
[code]
Currently it reports an error:
"Please specify one package reference to add"

Currently output from installing package is very noisy. Especially if compare it with npm/yarn.

[2017-11-23 20:49] Bert-Proesmans commented on #1760
@emgarten Thanks for the references. I'm not fully convinced about the relation of the linked issues to this one; i wouldn't have been able to guess this issue is caused by NuGet, but i'm not gonna contradict you guys.
Will my setup as-is work again when NuGet receives firstclass Unity support? Will there be other implications i need to be aware of?

[2017-11-24 21:52] Eshva commented on #1707
@qqbuby As workaround you can add removing the target bin directory in your build script before you build.

[2017-11-25 03:25] jnm2 commented on #335
I'm reading through and having a hard time judging because @DustinCampbell's solution for OmniSharp is... a lot to take in. Is there a way to build a project targeting `net20;net35;net40;net45;netstandard1.6` on Linux, given some minimum version of Mono and some workaround paste in the .csproj?

[2017-11-25 15:40] DustinCampbell commented on #335
@jnm2 : The minimum version of Mono is likely around 5.2.0. What distro are you using? Mono installation instructions for various distros are available here: http://www.mono-project.com/download/#download-lin. (Note that the CentOS instructions work pretty well for Fedora as well.)

[2017-11-25 15:59] jnm2 commented on #335
Ubuntu Trusty (it's Travis). Last night I got partway there with Mono 4.6.2 by using:

[code]

(I'm forced to use the 2.0-api folder for both net20 and net35.)

And build script:
[code]

The only error left is that it's trying to find types in System.Runtime when it shoould be looking in the refererenced System.ValueTuple package.

Another issue now is getting this whole thing to build on OSX beca

[2017-11-25 16:06] DustinCampbell commented on #335
@jnm2 : I suspect that Mono 4.6.2 is a bit too early for this. Using a newer Mono version, you can install both the `mono-complete` and `msbuild` packages. Once that's done, you can just run `msbuild` from the terminal to build your project.

[2017-11-25 16:08] jnm2 commented on #335
@DustinCampbell And that allows me to drop the `FrameworkPathOverride` workaround? Right now Mono latest is crashing when Cake 0.22.2 tries to compile the build script but I'll see what I can do from that angle then.

[2017-11-25 16:17] DustinCampbell commented on #335
The OmniSharp CI uses Travis's Trusty Ubuntu images without any changes to our csproj files. Project files look like [this](https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Stdio/OmniSharp.Stdio.csproj). Prior to recent changes, they were multi-targeting net46 and netstandard1.6 on Linux, Mac and Windows.

In addition, OmniSharp uses Cake 0.22, so I'm not sure what the troub

[2017-11-25 16:31] mholo65 commented on #335
Well Cake 0.22 dropped the Mono Scripting engine and uses Roslyn on all platforms. We use Mono 5.2 to build Cake on Linux/MacOS and have worked around the multitarget issue in `dotnet` by specifying the `FrameworkPathOverride`. Since Cake runs on Mono, it’s a piece of Cake (pun intended) to resolve the path to the Mono libs. This is how we solve this issue: https://github.com/cake-build/cake/blob/

[2017-11-26 15:57] jnm2 commented on #335
Using Mono 5.2, I don't need any workaround other than `MSBuildSettings.ToolPath = Context.Tools.Resolve("msbuild.exe")`! Unlike the `FrameworkPathOverride` approach, this time I don't get ValueTuple/Systej.Runtime compilation errors. Thanks both of you for the tips; I learned a lot.

[2017-11-26 17:02] memark commented on #1321
I ran into this today, in Visual Studio 15.4.4. I edited the project file within VS (using right click / Edit) and changed the OutputType. But VS did not seem to honour this and instead gave the above error about frameworks.

The solution was to unload/reload the project in VS.

[2017-11-27 02:43] Lily721 commented on #1759
I believe netstanard1.1 already covered Profile111, and it seems like there's no need to import Portable.CSharp.targets again in the new format of netstandard1.1 .csproj, I thought I just need import my custom target as usual, then it should work, but, actually, It doesn't. BTW, my msbuild target is build base on FrameWork 4.5, and please check this [article](https://docs.microsoft.com/en-us/dotne

[2017-11-27 18:09] Petermarcu opened #8904 "Install Script should have the option to register the correct package feed for the distro."
When I'm on a Linux machine, I should be able to run a simple command that is the same everywhere that detects the distro I'm on and registers the right package feed.

[2017-11-27 18:46] johnbeisner commented on #1752
The path to 'Microsoft.Portable.CSharp.targets' is indeed suspect. It should look something like this: "C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\MSBuild\Microsoft\Portable\v4.5\Microsoft.Portable.CSharp.targets"

It appears as if the environmental variable: "VSINSTALLDIR" is not set - are you running the SDK build in a Visual Studio Developer command shell?

[2017-11-28 10:02] ubercow opened #1773 "PublishReferencesDocumentationFiles not working as expected."
From what I understand, according to #1062, `PublishReferencesDocumentationFiles`, which is on by default, should be copying xml documentation files from packages my project references.

However, this is not copying documentation files included in NuGet packages referenced with `PackageReference`. All I see is the documentation files from the project as well as projects referenced with `ProjectRef

[2017-11-28 10:10] dasMulli commented on #1773
It only controls project references, not package references. For packages, it is mentioned in https://github.com/dotnet/sdk/issues/1458 along with PDB (TL;DR this is missing NuGet support).

[2017-11-28 10:17] ubercow commented on #1773
:+1: thanks for the quick response. I'll follow that issue over there, try back again when that's resolved.

[2017-11-28 10:17] #1773 closed

[2017-11-28 23:54] nguerrera commented on #1724
Duplicate of dotnet/cli#8118 (which is newer than this, but in the right repo)

[2017-11-28 23:54] #1724 closed

[2017-11-29 20:09] alvarollmenezes commented on #1707
I have the same problem publishing this project https://github.com/prodest/sistema-classificacao-documental in linux environmnts.

Tried on ubuntu 14 and on dotnet docker container (2.0-sdk) https://hub.docker.com/r/microsoft/dotnet/.

There are some logs on travis and circle-ci:
Here https://travis-ci.org/prodest/sistema-classificacao-documental/builds/309105906
and here https://circleci.com/gh/p

[2017-11-29 20:11] alvarollmenezes commented on #1707
@Eshva Sorry, I don't get your workaround, could you elaborate?

[2017-11-29 21:12] Eshva commented on #1707
@alvarollmenezes
Just delete bin/Debug/ folder(s) before you build .NET Core assemblies. In my case I build using npm script and the script looks like this:
```"build:linux:service:dev": "rm -r -f ../bin/deb/core/linux-x64/ && dotnet publish ../EveHQ-NG.sln --runtime linux-x64 --configuration Debug --self-contained",```
You can see it in this file: [project.json](https://github.com/Eshva/EveHQ-NG.

[2017-11-29 22:52] jnm2 commented on #1458
Heads up: this workaround will be broken by a change which has just been merged: https://github.com/dotnet/sdk/pull/1725#issuecomment-347672884

@nguerrera wants to fix this issue in the same release so I'll wait and see.

[2017-11-30 06:18] twenzel opened #1777 "SolutionDir variable not resolved during post build event"
This issue is similar to #677.

The `$(SolutionDir)` variable will not be resolved when using post build event and dotnet cli.
It works using VS2017.

[code]

The `$(TargetDir)` variable will be resolved correctly.

[2017-11-30 19:57] pakrym opened #1779 "Running Restore and Build on clean project in one invocation produces invalid deps"
Repro:
1. `dotnet new web`
2. `rm obj -rec -force`
3. `dotnet msbuild /t:"Restore;Build"`

Expected:

`.deps.json` file is trimmed
[code]

Actual:

[code]

[2017-11-30 19:58] pakrym commented on #1779
/cc @anurse @davidfowl @JunTaoLuo

[2017-11-30 20:04] livarcocc commented on #1779
@emgarten can you take a first look?

[2017-11-30 21:30] davkean opened #1780 "Migrating tasks from old csproj to new csproj format"
_From @MNie on November 30, 2017 21:20_

I'm currently in a process of migrating old csprojs to a new format. In some of them I have a msbuild task to replace app.config with app.debug/release.config (depending on build configuration).
In old csproj code to achieve that looks as follows:

[code]

Currently I have a piece of code like this which in fact doesn't work, but project compiles with it:

[2017-11-30 23:22] malachib opened #1781 "Warning C4691 when building a C++/CLI executable"
When using assemblies from NuGet, I am virtually guaranteed to encounter this warning

An easy example is when trying to use Microsoft.Extensions.Logger.  One can easily reproduce the issue with [this project](https://www.dropbox.com/s/9261ina8p4gyce1/SW-132v2.zip?dl=0)

We also [explored the issue on MSDN](https://social.msdn.microsoft.com/Forums/vstudio/en-US/fae48caa-7746-4c8f-9c44-839bd23ed128

[2017-12-01 00:37] emgarten commented on #1779
`dotnet msbuild /t:"Restore;Build"`  this isn't supported, restore and build need to be done in different steps, or use `/Restore`  (unless msbuild started doing this automatically)

Is the project.assets.json file correct for System.ComponentModel/4.3.0?

[2017-12-01 00:40] pakrym commented on #1779
I suspect the problem is with the point where NuGets `.props` file is included, because removing only it is enough to repro the issue. `assets.json` looks fine.

[2017-12-01 00:50] livarcocc commented on #1781
cc @Petermarcu do you know how to make this work? I haven't tried it.

[2017-12-01 00:52] livarcocc commented on #1779
Why can't you pass /restore when using dotnet msbuild? That should solve your problem and is exactly what we do when invoking dotnet build.

I am not sure what is the scenario or the fix that you are looking for here. Can you help me understand that?

[2017-12-01 00:55] pakrym commented on #1779
We'll change to pass `/Restore`, it just wasn't obvious that we have to do it.

[2017-12-01 01:18] emgarten commented on #1779
It's a common pain point unfortunately. But if the cause is the props file not getting picked up then it is due to running both targets together, when that happens msbuild doesn't check for the new files since it has already evaluated the imports.

[2017-12-01 07:55] Petermarcu commented on #1781
@terrajobst as FYI,

No, I haven't tried it either.

[2017-12-01 18:18] pakrym commented on #1779
@emgarten, can we add a diagnostic into Restore task that would error out if it's used with other targets?

[2017-12-01 18:37] dasMulli commented on #1779
https://github.com/Microsoft/msbuild/issues/2677 suggests `Restore` should return a `RestoreResult` item indicating whether a new clean evaluation is actually required or not, maybe this result could also be used for some form of diagnostic check if the current state is probably faulty?

[2017-12-01 20:15] emgarten commented on #1779
We're working on returning the restore status, that is still in progress.

Failing if this happens would be great, but as far as I know there isn't a way to do this. It seems like MSBuild would need to check this.

[2017-12-02 07:27] huoyaoyuan opened #1787 "FastUpToDate always complains not up to date"
`MyProject.runtimeconfig.json` won't change if not modifying the target framework, and `FastUpToDate` says it's an output and wrote earlier than input.
By the way, the build log uses UTC time. Consider to print local time please.

[2017-12-02 12:21] dustinmoris opened #1788 "Error FS1108: The type 'Object' is required here and is unavailable"
If I pull the latest [Giraffe source code](https://github.com/dustinmoris/Giraffe/tree/develop) on Windows it builds totally fine, but when I pull the same code on macOS I am getting the following error:

[code]

### Reproduction steps:

1. Pull repo
2. Run `./build.sh`

(If you don't have PowerShell installed on macOS then open ./build.sh and run the `export ...` command and then build `Giraffe.f

[2017-12-03 03:21] tannergooding commented on #1787
For the first issue, do you have a simple repro that would assist in us validating/debugging this?

The second issue (build log using UTC time) would be a request for https://github.com/microsoft/msbuild

[2017-12-03 05:59] huoyaoyuan commented on #1787
I can repro it with a clean project on my computer:
Version: VS 15.4.5, .NET Core SDK 2.0.3

1. Create a new .NET Core 2.0 console project using VS.
2. Build it for the first time.
3. Press Ctrl+Shift+B again. It's reported as newest correctly.
4. Modify `Program.cs`. For example, just add `//` at the end of any line.
5. Build. Obvioursly a rebuild happens.
6. Press Ctrl+Shift+B again. Now the iss

[2017-12-03 07:09] tannergooding commented on #1787
@huoyaoyuan, this is with the fast up to date check that the Project System is doing. MSBuild is correctly detecting all of the targets as up-to-date itself.

The MSBuild log shows
[code]

While the Fast Up to Date log shows
[code]

I believe the bug should be moved to dotnet/project-system. FYI. @dotnet/project-system

[2017-12-03 10:37] JonCanning commented on #1788
`<ItemGroup Condition=" '$(TargetFramework)' == 'net461' ">
    <Reference Include="System.Runtime" />
  </ItemGroup>`

[2017-12-04 08:36] John0King opened #1791 "How do I force myProject Choose .NetStandard assembly instead of TargetFramework"
Today , There are Asp.Net (`System.Web.HttpContext`) and Asp.Net Core (`Microsoft.AspNetCore.Http.HttpContext`) in .net Framework , and there are a few packages  use .net Framwork with `System.Web.HttpContext` and .net Core (.net standard) with `Microsoft.AspNetCore.Http.HttpContext`   for sharing source , so when I use Asp.Net Core on .Net Framework , I just can not use that package because that

[2017-12-04 14:04] ogreenz opened #1792 "Restore FAILS with <RuntimeIdentifiers> set and <PackageReference> to BOTH NS 1.x + 2.0"
Repro repo:
https://github.com/ogreenz/rid-netstandard2-repro

`dotnet --info`:

[code]

Project references both NodaTime (NS 1.x) and Dapper (NS 2.0).

When built WITHOUT `<RuntimeIdentifiers>` in the .csproj `dotnet restore` runs to completion and restore is successfull.

When `<RuntimeIdentifiers>` is set to any valid value AND both packages are referenced/used restore fails with these cryptic

[2017-12-04 15:08] dustinmoris commented on #1788
@JonCanning Will give this a try when I am back on the macOS machine. I was able to "fix" this by [adding the netstandard reference only when on Unix and net461](https://github.com/dustinmoris/Giraffe/blob/develop/src/Giraffe/Giraffe.fsproj#L52-L54), but are you saying that adding a reference for System.Runtime is the only thing required?

[2017-12-04 15:12] JonCanning commented on #1788
It's worked for me so far

https://github.com/TinyBlueRobots/Hornbill/blob/master/src/Hornbill/Hornbill.fsproj

[2017-12-04 16:34] Pilchie commented on #1787
This issue was moved to dotnet/project-system#3018

[2017-12-04 16:34] #1787 closed

[2017-12-04 21:33] jnm2 commented on #1151
Is there a way to replace a package reference with a project reference when the package is referenced both directly and transitively? I'm not finding a way to suppress the transitive DLL reference, so the compiler finds every type both places and nothing compiles.

[2017-12-04 21:35] natemcmaster commented on #1151
You can't for a transitive package reference. You have to lift it to a direct package reference and add ExcludeAssets=All. https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets#replacing-one-library-from-a-restore-graph

[2017-12-04 21:46] jnm2 commented on #1151
I think that would have done the trick except that this is an old csproj due to needing winforms designers to work, so necessary package references are not transitively referenced through the replacement project reference.

[2017-12-05 05:14] jaredpar commented on #1675
@dsplaisted

How supported is that work around? This is a feature we sorely miss since switching to the new SDK / Exes (lots of duplication + missed errors). If this is fairly supported we'd consider switching to use it.

[2017-12-05 09:43] Pythonic-Rainbow commented on #901
Still got the problem in VS2017 15.5 , .NET Framework 4.6.1 and Core 2.0 Standard 1.4
Yet solved by `  <PropertyGroup>
    <TargetFramework>netstandard1.4</TargetFramework>
    <RestoreProjectStyle>PackageReference</RestoreProjectStyle>
    <AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
  </PropertyGroup>`

[2017-12-05 13:40] ygoe commented on #403
@srivatsn Where is it tracked? The above workaround produces an error.

[2017-12-05 17:14] srivatsn commented on #403
@davidfowl was talking about the https://github.com/aspnet/websdk repo. @mlorbetske is this tracked there?

[2017-12-05 17:27] mlorbetske commented on #403
@vijayrkn I thought we had an issue for this, not seeing it at the moment, could you link it here please?

[2017-12-05 18:35] vijayrkn commented on #403
@ygoe All the json files are included by default, so the above work-around shouldn't be needed

https://github.com/aspnet/websdk/blob/master/src/ProjectSystem/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.props#L32

[2017-12-06 11:50] nil4 opened #1799 "Where is the SDK 2.1.2 installer? (VS 15.5 includes it)"
Upgrading Visual Studio 2017 to [version 15.5](https://blogs.msdn.microsoft.com/visualstudio/2017/12/04/visual-studio-2017-version-15-5-visual-studio-for-mac-released/) brings SDK version 2.1.2:

[code]

To upgrade build agents to the same SDK version, I searched [.NET Downloads](https://www.microsoft.com/net/download/windows) and [.NET Core downloads archive](https://github.com/dotnet/core/blob/m

[2017-12-06 17:11] livarcocc commented on #1799
cc @leecoward

[2017-12-06 23:44] nguerrera commented on #1711
Working on this.

[2017-12-06 23:45] davkean commented on #1711
👍

[2017-12-07 01:16] leecow commented on #1799
We haven't released the 2.1.2 SDK outside of Visual Studio yet so will need to make that happen.

[2017-12-07 01:34] yyjdelete opened #1801 "`dotnet pack` product broken .nupkg with the latest daily build(2.2.0-preview1)"
Test with dotnet sdk `2.2.0-preview1-007736`/7622/7460, Windows 10 x64(17064).
And `2.1.1` in VS15.5preview5 works well.

# Step:
1. Install the latest daily build of sdk
2. `dotnet new classlib`
3. `dotnet pack`
4. Open the output .nupkg with `NuGet Package Explorer` or some zip manager( and try unpack it), and get an error.
5. Found the `.nuspec` file in the `nupkg` has wrong CRC(but the packed

[2017-12-07 05:56] livarcocc commented on #1801
This issue was moved to NuGet/Home#6267

[2017-12-07 07:19] ravetroll commented on #795
I found the file was being created on my desktop from VS2017 in the 'Release' Configuration but was not being created in VSTS on release configuration

`  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|AnyCPU'">
    <DocumentationFile>bin\Debug\netcoreapp1.1\Host.xml</DocumentationFile>
  </PropertyGroup>`

I wondered if perhaps the 'AnyCPU' Platform was not being applied in VS

[2017-12-07 22:06] tannergooding opened #1803 "Fix It_resolves_assembly_conflicts_with_a_NETFramework_library"

[2017-12-07 22:27] nil4 commented on #1799
@leecow Yes, that is clear. What kind of timeline are we looking at? See also https://github.com/dotnet/cli/issues/8177

While the gears spin to make it happen, I have two suggestions.

1\. Update [this page](https://www.microsoft.com/net/download/windows) to amend the existing:

with a helpful footnote:

2\. On a machine with VS 15.5 installed, find the 64-bit installer in the MSI Package Cache,

[2017-12-07 22:43] nil4 commented on #1799
See also https://github.com/dotnet/core/issues/1131

[2017-12-08 00:30] nguerrera commented on #968
Blocked by https://github.com/NuGet/Home/issues/6279

[2017-12-08 00:31] nguerrera commented on #1212
Blocked by https://github.com/NuGet/Home/issues/6279

[2017-12-08 01:00] weitzhandler commented on #491
Is there a way to upgrade WPF projects to the new _csproj_ format?

[2017-12-08 03:57] #1759 closed

[2017-12-08 08:50] thomaslevesque commented on #491
There's no official support for it yet, but have a look at [this project](https://github.com/aienabled/WpfNetStandardSample), which managed to make it work.

[2017-12-08 09:59] weitzhandler commented on #491
I upgraded the project and it works fine, here's my setup (no need to manually add all _xaml_ and _cs_ files):

[code]

Just bare in mind that there is an issue that happens when adding new files, the newly added files are added separately un-nested.
To fix it, you'll have to open the _csproj_ file after each new added file, and delete the explicit file inclusion. After project reload the files wi

[2017-12-08 13:57] ryantromp commented on #901
This works for project references for the project in the same solution.  If I try to add a reference to an external project .dll from a project in another solution, that project's dependencies don't get copied into the output folder of the referring project.

[2017-12-08 15:42] scottcha commented on #1405
Dropping a note here on the negative impact of this bug in the Azure functions scenario.  Like this issues mentions: https://github.com/Azure/azure-functions-vs-build-sdk/issues/139 Even a seemingly insignificant code change in your azure functions project can introduce very hard to diagnose build errors.  In my case it was only a refactor of the below code to a static function which caused the fa

[2017-12-08 17:41] alvarollmenezes commented on #1707
@Eshva thank you. But didn't solve the error for me.

[2017-12-08 20:33] nguerrera opened #1808 "PrivateAssets="All" can be defeated by ResolveAssemblyReferences"
## Repro
* SDK project A - net46 - copy-local project reference to B
* SDK project B - net46 - package reference to C with PrivateAssets="All"
* B must actually use C.dll so that C.dll end up in B.dll's assembly refs

[ConsoleApp13.zip](https://github.com/dotnet/sdk/files/1543752/ConsoleApp13.zip) has this structure with A=ConsoleApp13, B=ClassLibrary1, and C=Microsoft.Build.

Due to privateassets

[2017-12-08 21:34] tannergooding opened #1810 "Fix All_props_and_targets_add_themselves_to_MSBuildAllTargets"

[2017-12-08 21:39] livarcocc commented on #1801
Turns out that this is potentially an issue in the framework. Moving it to corefx.

[2017-12-08 21:39] livarcocc commented on #1801
This issue was moved to dotnet/corefx#25803

[2017-12-08 21:39] #1801 closed

[2017-12-08 21:41] livarcocc opened #8933 "'dotnet build' fails for test/console projects when parent folder contains a semicolon"
_From @alextercete on December 8, 2017 12:43_

## Context

**dotnet 2.0.3**, **macOS High Sierra 10.13.1**

## Steps to reproduce

[code]

## Expected output
Build succeeds.

## Actual output
Build fails with:

[code]

## Remarks

  - Class library projects don't seem to be affected
  - xUnit projects are also affected
  - If I rename the folder to `some-folder`, the build succeeds.

_Copied from

[2017-12-09 07:45] ifle opened #1811 "[Question] How to convert Old WebForms csproj to the new csproj format?"
How to convert Old WebForms csproj to the new csproj format?
Is it possible?

[2017-12-09 10:26] ifle opened #1812 "System.ArgumentException: 'dimensionValuesMap' must contain at least one element."
I have mix solution with older and new format projects. During loading a have following error. What is wrong?

[code]

Microsoft Visual Studio Enterprise 2017
Version 15.4.5
VisualStudio.15.Release/15.4.5+27004.2010
Microsoft .NET Framework
Version 4.7.02558

Installed Version: Enterprise

[2017-12-09 10:50] #1812 closed

[2017-12-09 10:51] ifle commented on #1812
Removing and adding older forma project fixed this isssue

[2017-12-09 14:49] nil4 commented on #1799
Resolved as per https://github.com/dotnet/core/issues/1131#issuecomment-350411983

[2017-12-09 14:49] #1799 closed

[2017-12-11 07:35] ifle commented on #1811
1. Readable
2. No more changes when we add or remove a file in a folder, allows works in VSCode
3. No git conflicts in merge
4. All files included in subdirectories using ** symbol
5. More easy nuget package management

[2017-12-11 16:59] darrensteadman commented on #1679
Works in VS 2017 15.5

[2017-12-11 17:04] darrensteadman commented on #1522
I'm not completely sure this is fixed.

If I remove the workaround from the csproj files it now compiles without any problems but it just throws exceptions at run time about netfx.force.conflicts. If I remove ReplaceRefWithLib I then get run time errors saying it can't load assemblies. Looking at those assemblies it appears they are ones that reference netstandard 2.0.

It kind of looks like the p

[2017-12-11 17:14] Petermarcu opened #8937 "debian auto-updating package?"
@Spongman commented on [Fri Dec 08 2017](https://github.com/dotnet/core/issues/1140)

currently the debian packages are version-specific.

for example, the current package is `dotnet-sdk-2.0.2`. this package will not upgrade automatically when a new version comes out.

can we get a set of virtual packages `doetnet-sdk` , `dotnet-sdk-x`, and `dotnet-sdk-x.y` that automatically update? (and similar

[2017-12-11 17:48] michael-hawker commented on #901
I think I'm seeing the same thing with a JavaScript UWP app, as the default VS template uses `package.json` for those projects.

[2017-12-11 18:40] alexgman commented on #1507
Has anyone had a resolution to this issue? I'm having the same problem with the same version of VS.

[2017-12-11 22:02] yaakov-h commented on #1507
I just renamed the file.

[2017-12-11 22:59] cdmihai commented on #1808
How can project references have transitive references with private assets that do not come from nuget via PackageReference? All the PackageReference dependencies with private assets would get fixed by Microsoft/msbuild#2759 right? In this example, C will be an externally resolved primary item to RAR, so it wouldn't be search next to B.

[2017-12-11 23:20] yaakov-h opened #1813 "Improve compilation symbols when multi-targeting"
The SDK defines a bunch of compilation symbols when multi-targeting.

For example, when targeting .NET Standard 1.3, developers can use `#if NETSTANDARD1_3` to conditionally use APIs that are available with that target framework.

However, when multi-targeting across different versions, developers have to use multiple of these. For example:

[code]

It would be nice to have more inclusive compilat

[2017-12-12 00:20] nguerrera commented on #1808
No, in this example, there is nothing about C that is in the assets file or passed to RAR because the PrivateAssets="All" on B means "do not flow this asset to my consumers transitively".

[2017-12-12 02:54] dasMulli commented on #1813
Also saw this on SO once: https://stackoverflow.com/questions/44208788/conditionally-compiling-for-a-minimum-version-of-net/44209523#44209523

At the moment this needs to be done through a custom target like

[code]

[2017-12-12 05:28] dasjestyr commented on #901
@jnm2 I believe what you want to do is have the test project for a netstandard library actually target only netcoreapp. Then it will only pick up the netstandard version of the class library. I don't really see the point of having the test project target both net*** and netcoreapp.

[2017-12-12 08:12] forki opened #8938 "Hook paket into dotnet add"
Is there a way to let other tools hook into dotnet add?
We would like to call `paket add` from there

/cc @enricosada

[2017-12-12 11:58] jnm2 commented on #901
There is an argument to be made for testing a netstandard1.4 class library against net47;netcoreapp1.1;netcoreapp2.0 since the behaviors are different. But that's very difficult to do if the class library also targets net* or netcoreapp*, with current tooling. There are discussions other places about making this easier by allowing tests to target netstandard1.4 and configuring the test runner to e

[2017-12-12 18:53] sbomer opened #1814 "Remove interdependency between crossgen and store targets"
The crossgen targets (in Microsoft.NET.CrossGen.targets) should be decoupled from the store targets (in Microsoft.NET.ComposeStore.targets) to allow them to be used independently. I came across this while trying to reuse crossgen targets in https://github.com/mono/linker/pull/192 to enable a crossgen step in the publish pipeline. I was able to reuse the targets that restore crossgen with some [wor

[2017-12-12 23:10] johncrim opened #12476 "Add support for customizing publishing pipeline for .NET Core/SDK apps"
Old style/.NET Framework webapps in Visual Studio have a publish pipeline that could be customized. For example, a `Parameters.xml` file could be specified, like so:

[code]

so that when the MSDeploy package is built, the MSDeploy parameters defined therein are incorporated into the package. The Web Processing Pipeline (defined in `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MS

[2017-12-13 22:25] mikeharder commented on #1607
@livarcocc, @emgarten: What is the latest on this issue?  It's still impacting our large solutions in the latest builds of VS and CLI.

[2017-12-13 23:11] livarcocc commented on #1607
@Pilchie Should I move this to the project system? This seems like a nomination synchronization problem.

[2017-12-13 23:21] jainaashish commented on #1607
Here is corresponding Project-system bug# https://github.com/dotnet/project-system/issues/1600

[2017-12-13 23:29] davkean commented on #1607
We can dup this against: https://github.com/dotnet/project-system/issues/1600.

[2017-12-13 23:29] #1607 closed

[2017-12-13 23:31] davkean commented on #1607
@mikeharder Can you help me understand what you mean by "impacting"? These errors can ignored in most cases - do you think it's the cause of other issues?

[2017-12-13 23:43] mikeharder commented on #1607
By "impact" I just mean it's still happening.  Even if the warnings can be ignored it's a bad customer experience.  If the warnings have no other impact maybe we should just stop showing them?

[2017-12-13 23:44] davkean commented on #1607
Don't disagree on the bad customer experience, just trying to prioritize wanted to make sure there wasn't more information that would have moved this forward.

[2017-12-13 23:47] mikeharder commented on #1607
@davkean: When this error message is printed, does it mean part of the restore failed so the customer needs to restore again to fix things?  Or did everything restore successfully despite the error?

[2017-12-13 23:48] davkean commented on #1607
Restore will successfully finish despite the error.

[2017-12-13 23:49] mikeharder commented on #1607
Then would an easy fix be to just suppress the error?

[2017-12-13 23:53] jainaashish commented on #1607
There will be multiple instance of restores (one for each nomination) and the last restore will successfully finish. It wouldn't be that easy to suppress these errors since then you need to know that there will be a next restore.

[2017-12-13 23:58] davkean commented on #1607
NuGet would need to know that we had a pending design-time that when finished would result in us in nominating, agreed not a quick easy fix - other than removing the error completely and not notifying when there is a real issue. But in that case, agreed not sure what the user can do about this error anyway?

[2017-12-14 08:47] Yvand commented on #1405
Hello, I have a .NET 4.6.1 "Azure Functions" project and I experience the issue https://github.com/Azure/azure-functions-vs-build-sdk/issues/139 because I have a class that inherits [JsonMediaTypeFormatter](https://msdn.microsoft.com/en-us/library/system.net.http.formatting.jsonmediatypeformatter(v=vs.118).aspx).
I have no idea how to fix this, I added this in my .csproj but it doesn't change anyt

[2017-12-14 12:57] luigiberrettini commented on #1555
Closing since NuGet Package Explorer was updated and it seems that the less important differences are not going to be fixed by anyone.

[2017-12-14 12:57] #1555 closed

[2017-12-15 20:17] tameyer1 commented on #1321
Just ran into this, read through the comments here, and was able to resolve.
I have a core 2.0 library project. I edited the csproj file to add .net45 to targetframeworks. Upon compiling I was getting the Assets file error mentioned above. Tried deleting bin and obj directories and recompiling. This did not work.

Simply did an unload and reload of the project as @memark mentioned.  First compile

[2017-12-17 21:42] wli3 opened #1823 "[tools] Pack experience for portable app"
The Producer adds a property in portable app project file to indicate this project is a tool
Run pack target (`dotnet msbuild /t:pack` or `dotnet pack`)
There is a tool nupkg with correct layout and setting file and ready to publish to NuGet and use

[2017-12-18 17:04] supermartzin commented on #1621
I am having exactly the same issue with .NET Standard 2.0 library referenced in **.NET Framework 4.7.1** application.

Is there any temporary fix for this besides manually copying all dependencies to main output folder?

[2017-12-19 11:34] badyalsk opened #1828 "Build/Compilaion fails after 15.5.2 update to Visual Studio Enterprise 2017"
Hi,
I'm not able to build my existing projects in .Net 4.0.  I tried new project but getting the same error while building/compiling project.

Severity	Code	Description	Project	File	Line	Suppression State
Error		The "TargetFrameworkDirectories" parameter is not supported by the "ResolvePackageFileConflicts" task. Verify the parameter exists on the task, and it is a settable public instance propert

[2017-12-19 12:13] MNie commented on #1780
@livarcocc @nguerrera any update on this? Or this issue shouldn't be placed here, but somewhere else?

[2017-12-19 16:48] spboyer opened #8957 "Add dotnet interactive similar to Azure CLI"
The Azure CLI has a great `interactive` mode allowing the user to have an intellisense like experience when using the tool. This is a great learning mode and would lend a way to further introduce an additional way to discover the capabilities and options in the cli.

See: https://docs.microsoft.com/en-us/cli/azure/interactive-azure-cli?view=azure-cli-latest

![image](https://user-images.githubuser

[2017-12-19 17:58] bording commented on #1458
Any status update on this? I see it's now been moved to the 2.2.0 milestone.

@nguerrera There is no milestone on #1725, but am I correct in thinking that those changes haven't been included in a release yet?

[2017-12-19 19:14] nguerrera commented on #1458
@bording You are correct. They have been included only in unofficial 2.2.0 daily builds.

Small update: I am currently looking at optimization of how we resolve assets and I think I have a way to replicate the related file semantics of RAR, but using runtime assets correctly and without needing to probe on disk and without actually needing nuget changes. Depending on how things go, it is possible

[2017-12-20 07:59] badyalsk commented on #1828
To fix this to above chaos, I have to repair Visual Studio 2017

[2017-12-20 17:50] rainersigwald commented on #1780
@MNie I think https://github.com/Microsoft/msbuild/issues/2746 is a better home for this; I replied over there.

[2017-12-20 17:50] #1780 closed

[2017-12-21 12:45] xperiandri commented on #491
What about ASP.NET Classic?

[2017-12-21 13:25] weitzhandler commented on #491
@xperiandri are you serious?

[2017-12-21 14:35] xperiandri commented on #491
Me not, but enterprise yes
Is it a big deal to fix MVC 4-5 project launch on IIS?

[2017-12-21 15:51] weitzhandler commented on #491
Sorry I thought you were taking about pre-MVC

[2017-12-22 00:57] terrajobst commented on #1405
We've designed and [accepted the necessary feature work](https://github.com/dotnet/designs/blob/master/accepted/automatic-redirects-by-default/automatic-redirects-by-default.md). @rainersigwald will be working on this.

[2017-12-23 03:28] dasMulli commented on #1458
If you could squeeze it in: It would be really cool to have metadata about satellite assemblies available as well. This would allow whipping up some targets to filter satellites coming from NuGet by locale. This has come up in https://github.com/dotnet/cli/issues/8060 and https://stackoverflow.com/questions/47942818/how-to-turn-off-language-specific-output-for-net-core-applications.

[2017-12-23 05:00] nguerrera commented on #1458
Wilk do.

[2017-12-23 20:19] ThadHouse opened #8969 "Better instructions for using preview SDK's from Visual Studio"
I wanted to test out some of the Span functionality, so I was attempting to install the newest preview SDK in order to do this. I installed the latest version of the preview SDK (2.2.0-preview1-007851 at the time of this issue), and made sure I was using Visual Studio 15.5.2. I also added the myget nuget package source to my solution. However, visual studio does not seem to properly be restoring e

[2017-12-26 05:05] jsuhail1988 commented on #1679
My VS edition is Community 2017
version is 15.5.2 and the issue remains the same.
Any idea?

[2017-12-27 13:59] skarllot opened #1832 "TargetFramework for Xamarin platforms"
I cannot set `TargetFramework` to `monoandroid10`, `xamarinios10` or `uap10.0`.  The following errors are throw:

[code]

The following configuration is being used:

[code]

If I add `TargetFrameworkIdentifier` and `TargetFrameworkVersion` the error changes to missing references:

[code]

[code]

Finally if I add a reference to facade library the error goes away:
[code]

[2017-12-27 19:54] steevcoco commented on #1647
Hi. I have had trouble getting a project working for reasons surrounding these binding issues. I wanted to add a comment now that the project seems to work.

- It is Framework 4.7.1.
    - References a NetStandard 2.0 project.
        - That one references NuGet System.Configuration.ConfigurationManager 4.4.1

VS would not build, and eventually I get "you need to reference System.Configuration.Con

[2017-12-27 20:50] binki commented on #833
Why can’t .netstandard just output an executable that could be activated by either coreclr or netfx (like how netfx executables can be activated by either mono or netfx)? If an assembly is targeting .netstandard, that is only to avoid accidentally referencing nonportable APIs during compiletime but shouldn’t affect the emitted image (beyond getting things like default method parameters and constan

[2017-12-27 22:36] dasMulli commented on #833
There are differences in how .net core and netfx/mono resolve native assets (so/dylib/dll) and runtimes. So the most direct need is that the selected target framework triggers build logic to generate runtime artifacts and execute any necessary conflict resolution (e.g. `.runtimeconfig.json`/`.deps.json`/`runtimes/**` for .net core, `.exe.config` with binding redirects and copied NuGet dlls for net

[2017-12-28 17:42] dasMulli commented on #1598
Does this happen with "standard" sdk-based libraries as well or just in the roslyn solution? Tried to repro with an empty vb lib but debug and documentation output groups look kinda fine..

[2017-12-29 06:42] KirillOsenkov opened #1833 "Invalid TrimEnd function usage in Microsoft.NET.TargetFrameworkInference.targets#L51"
https://github.com/dotnet/sdk/blob/7fc8f64b89f5a69bb8043bae814b314b6ce6841f/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.TargetFrameworkInference.targets#L51

`$(TargetFramework.TrimEnd('.0123456789'))`

MSBuild Expander doesn't like this TrimEnd

[2017-12-29 06:43] KirillOsenkov commented on #1833
Hmm, how does this work? It seems to work fine. Does MSBuild convert this to a char array?

[2017-12-29 06:45] KirillOsenkov commented on #1833
From `net461` it returns `net`.

[2017-12-29 06:52] KirillOsenkov commented on #1833
Ah, never mind, turns out MSBuild does coercion from string to char[] here:
https://github.com/Microsoft/msbuild/blob/5213af78d17613417e5b715e7f83100dc1574ad6/src/Build/Evaluation/Expander.cs#L3638

This is by design then.

@nguerrera Could you please confirm that the line in the SDK targets does what you expect? From `net461` to `net`? If so, please close this issue.

Thanks!

[2017-12-29 07:49] mouadhtrabelsi commented on #1630
do your patch work for .NET Framework 4.7.1 ?
i added
<Target Name="ImplicitlyExpandNETStandardFacades" ..>
..
to my csproj , but did not fix the problem,

I get this error
error : An attempt was made to load an assembly with an incorrect format: C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework.NETFramework\v4.7.1\Facades\System.IO.Compression.ZipFile.dll.

But i m not referincing t

[2017-12-30 00:17] pgmolloy commented on #795
I would like to vote for adding the swagger xml file to the build. My opinion is that the swagger xml file is NOT a doc file but a "necessary component" similar to a web config or an app settings file required by my Azure API to run. When deploying to Azure, my API will not start without the file. Just two cents worth :)

[2017-12-30 00:40] dasMulli commented on #795
@pgmolloy does anything not work in your publish scenario? This has been implemented.

For those having trouble getting `DocumentationFile` to work, I recommend deleting it and letting MSBuild autogenerate a correct path by setting `GenerateDocumentationFile` instead:

[code]

[2017-12-30 16:11] orloffm opened #1834 "Cannot publish core console app + core app library tests"
The solution is here: https://github.com/orloffm/failingpublish

The first project is a `netcoreapp2.0` `exe`, the second is a test `netcoreapp2.0` project for it. The solution `dotnet build`s, but when I do

    dotnet publish -c Release --self-contained -r win-x64

I get the following:

    Microsoft (R) Build Engine version 15.5.179.9764 for .NET Core
    Copyright (C) Microsoft Corporation. Al

[2017-12-30 17:00] dasMulli commented on #1834
Are you using `dotnet publish` on the solution or a single project?
I'm not sure if it is supposed to work on a solution..

As a workaround, you could try to omit the `--self-contained` parameter, since it is on by default.
However, I believe the underlying issue would also affect any self-contained app that references another application since the build of a project reference will remove a global

[2017-12-30 19:39] orloffm commented on #1834
I just do it in the solution folder. Yes, I understand I can specify the project, but the message is at least misleading if it depends on the presence of test projects.

[2017-12-30 21:27] darrensteadman commented on #1679
I realised just before Christmas that this isn't totally fixed but I didn't have time to post back an update.

Basically what appears to be fixed is workflows will now load if the project references netstandard but the workflow itself doesn't use it.

I did a bit more investigating and it would appear that if you use a type as an input or output or variable in the workflow xaml and that type is he

[2017-12-31 00:21] dasMulli commented on #1834
As suspected, the issue also occurs when an app references another app.
[selfcontainedrepro.zip](https://github.com/dotnet/sdk/files/1594883/selfcontainedrepro.zip) also fails in the same way when the `testmainapp` is published with `dotnet publish -r osx-x64 --self-contained`.

This likely needs a change to MSBuild similar to https://github.com/Microsoft/msbuild/pull/1674 to remove the `SelfConta

[2017-12-31 19:37] KirillOsenkov commented on #1833
I'm going to close this as it's most likely by design.

[2017-12-31 19:37] #1833 closed

[2017-12-31 22:35] pgmolloy commented on #795
Hi Martin, I have finally got this to work. I really don't know what fixed my issue as I decided to delete all swagger tooling and files. Redeployed the API without swagger and made sure all worked fine. I then added swagger tooling and let MSBuild do everything again and wullah all is fine. Thanks Martin for your help. Cheers Peter

[2018-01-01 16:32] kasper3 opened #1835 "Allow all configProperties in csproj"
runtimeOptions->configProperties are allowed in csproj: https://docs.microsoft.com/en-us/dotnet/core/tools/project-json-to-csproj#runtimeoptions

There is a new option introduced for invariant globalization:
https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md#enabling-the-invariant-mode

Allowing this to be set in proj files as `<InvariantGlobali

[2018-01-01 17:04] dasMulli commented on #1835
In theory, this should already work though

[code]

To allow setting it via a single property, the configuration option would need to be wired up to a convenience property [like the others](https://github.com/dotnet/sdk/blob/720882a6c3b237855f07f4214d91091c667078f5/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.targets#L195-L215).

[2018-01-01 17:21] kasper3 commented on #1835
Thanks, sent the PR to update doc. Would make lives bit easier if the convenience properties are programmatically generated.

[2018-01-02 01:23] matkoch opened #1836 "Value parsing"
The invocation:

[code]

Fails with:

When I change the framework to `net461`, everything works fine. Seems that parsing of additional msbuild properties is not working properly.

[2018-01-02 19:23] livarcocc commented on #1828
Did the repair fix the problem for you?

@dsplaisted any idea how this could happen?

[2018-01-02 19:28] badyalsk commented on #1828
Yes, it fixed.

[2018-01-02 19:34] livarcocc commented on #1405
Is there a bug tracking this on the MSBuild side, where the fix will happen? Should we move this one there?

[2018-01-02 19:36] livarcocc commented on #1679
@Pilchie can you help direct this bug? Not sure what the SDK itself is doing wrong to cause this.

[2018-01-02 22:12] dasMulli commented on #1405
There's https://github.com/Microsoft/msbuild/issues/2481

[2018-01-02 22:49] livarcocc commented on #1836
If you are passing anything after --self-contained, you need to pass true or false. Otherwise the parser thinks that /p:AssemblyVersion... is the self-contained value being passed in.

Also, netstandard2.0 is not a valid value for an app. netstandard is a library tfm, which may indicate why it works if you pass net461.

[2018-01-02 23:26] dasMulli commented on #1375
@nguerrera do you think this should be fixed in msbuild only or also be changed in the targets?
cc @cdmihai who likely has knowledge about the exclude pattern implementations

[2018-01-03 00:52] jeremymeng opened #8983 "xunit test fail to load System.Reflection.Extensions when targeting netcoreapp1.0 and not referencing xunit.runner.visualstudio package"
As mentioned in https://github.com/xunit/xunit/issues/1601#issuecomment-354843968

1. `dotnet new xunit`
2. down targeting `netcoreapp1.0`
3. upgrade xunit verions to `2.4.0-*`
4. remove the `xunit.runner.visualstudio` package reference
5. when restoring, use the xunit myget feed too: `https://www.myget.org/F/xunit/api/v3/index.json`
6. `dotnet xunit`

**Actual**:
[code]

**Expected**:
The removal

[2018-01-03 19:26] livarcocc commented on #1630
@joperezr can you take a look and comment?

[2018-01-04 01:11] cdmihai commented on #1375
@dasMulli can you please give me some repro steps? I assume the problem is that the *.cs file under obj are showing up, even though they are excluded.

I tried this on macOS and it works fine:

[code]

[code]

[code]

[2018-01-04 03:02] dasMulli commented on #1375
Sorry I didn't try with a recent MSBuild version, this has been fixed with MSBuild 15.5 (2.1.* CLI versions,  still repros with 2.0.* CLI versions).

The issue seemed to have been a leading semicolon in the exclude patterns and not slash collapsing.

Simpler repro:

[code]

[code]

CLI 2.0.3:
[code]

CLI 2.1.3:
[code]

[2018-01-04 03:02] #1375 closed

[2018-01-06 18:16] jnm2 commented on #1458
Which release of VS is this currently slated for? I'm keeping an eye out so I can update instructions so that people know how to use NuGet packages that contain PDBs for source-stepping.

[2018-01-07 14:20] matkoch commented on #1836
I understand, but that's the issue here. Either it should fail for both, or for none.

Not sure about this. The project defines `net461` and `netstandard2.0` as target frameworks. It's a library, not an app. From https://docs.microsoft.com/en-us/dotnet/standard/frameworks I understand, that I can pass `netstandard2.0` as value for `--framework`. Or am I wrong?

[2018-01-08 13:31] matkoch opened #1846 "Calling publish for two TFM fails with 2.1"
I guess when I've updated VisualStudio to 15.3, it also installed SDK 2.1. In any case, the two calls:

[code]

Previously worked without any issues. The project was published for both frameworks correctly (MSBuild task library). But now, I get:

C:\Program Files\dotnet\sdk\2.1.2\Microsoft.Common.CurrentVersion.targets(2041,5): warning MSB3277: Found conflicts between different versions of "System

[2018-01-08 14:50] sky-andrejleal commented on #1714
Hi @thomas-frantz, did you found a solution? tks

[2018-01-08 16:42] Bananas-Are-Yellow commented on #1351
Everyone once in a while I find that my binding redirects are not appearing in the .exe.config file. The solution is to delete the 'obj' folder. Then it works again.

[2018-01-08 17:47] joperezr commented on #1630
@mouadhtrabelsi that reference is automatically added in order to ensure compatibility between your .Net Framework component and your .Net standard one. Do you mind sharing a repro and also the version of VS that you are using so that I can provide a workaround?

[2018-01-08 17:55] DanTup commented on #1630
@joperezr There are some simple repro steps at https://github.com/Microsoft/msbuild/issues/2707

[2018-01-08 18:56] nguerrera commented on #1598
Hmm, I only saw it in Roslyn and assumed from code inspection that it generalized...

[2018-01-08 19:01] nguerrera commented on #1833
Yes, it is by design. We want the part of the target framework before the first dot or digit.

[2018-01-08 19:42] nguerrera commented on #1458
Adding @livarcocc  for the question about VS release. I don't know if the schedule is set yet.

[2018-01-08 20:53] steveharter opened #1847 "Add additional metadata to deps.json to support "framework wins over app""
This is the SDK work to support the core-setup feature https://github.com/dotnet/core-setup/issues/3546

That core-setup issue adds new metadata to the framework's deps.json to help determine which assemblies are newer during file-based probing. This would need to be done by the SDK during build and\or publish. That metadata includes assembly version and file version, where assembly version is com

[2018-01-09 00:03] TFTomSun commented on #1151
@natemcmaster you could do something similar to what I do. Create a Directory.Build.targets in the root your repositories and add something like this:
[code]
The result is, that you can keep your packagereferences, and they will be only converted to project references, based on conventions, when the Directory.Build.targets file is available in some parent directory. In my case the file is in the p

[2018-01-09 01:00] dasMulli commented on #1598
Ah no the documentation output group really is broken, the debut output group looks fine.

[code]

[2018-01-09 17:18] livarcocc commented on #1835
Seems like the issue has been addressed by @dasMulli. @dasMulli thank you once again. I am going to close this issue. If there is something else that needs to be addressed, please comment and I can re-activate it.

[2018-01-09 17:18] #1835 closed

[2018-01-09 17:19] livarcocc commented on #1846
@joperezr can you take a look? Caused by the new packages?

[2018-01-09 17:20] livarcocc commented on #1836
if it is a library, there is no point in making it self-contained. That's an application concept.

[2018-01-09 17:50] joperezr commented on #1846
Taking a look...

[2018-01-09 17:53] joperezr commented on #1846
This initially doesn't look like something that was caused by our changes to the support package, but that said, it would be nice to have more info regarding the specific scenario. @matkoch could you please give more info regarding My.csproj? What framework does it target? What are its dependencies? Is there a repo or something I can clone to get a repro?

[2018-01-09 18:35] matkoch commented on #1846
@joperezr thanks for your time.

The repository is located at https://github.com/nuke-build/nuke

After cloning and navigating to `source\Nuke.CodeGeneration`, you should be able to reproduce this by invoking:

[code]

[2018-01-09 19:32] joperezr commented on #1846
What version of the CLI are you using(type dotnet --version)? I just tried this on my machine and it works as expected.

![image](https://user-images.githubusercontent.com/13854455/34739308-ba221bd0-f530-11e7-962b-8ca928a75537.png)

For the record, my CLI version is: 15.5.0-preview-007044 which is the newest version.

[2018-01-09 20:08] bording opened #1849 "Regression in template packages in 2.1.4 SDK"
Doing a diff between the 2.13 and 2.14 SDK folders, I noticed that the 2.1.4 SDK appears to have included an older version of some template NuGet packages.

2.1.3
- microsoft.dotnet.common.itemtemplates.1.0.0-beta3-20171117-314.nupkg
- microsoft.dotnet.test.projecttemplates.2.0.1.0.0-beta3-20171117-314.nupkg

2.1.4
- microsoft.dotnet.common.itemtemplates.1.0.0-beta3-20171110-312.nupkg
- microsoft.

[2018-01-09 21:29] livarcocc commented on #1846
@joperezr The version you mention is actually a very old one. It was a nightly from when we were changing our version scheme. Please, uninstall it. The latest released one is 2.1.4, which is shipping today.

[2018-01-09 22:03] joperezr commented on #1846
I see, adding a global.json to force the use of 2.1.3 does repro the issue, but I'm checking at the log and the problem doesn't seem to be related at all with the support package changes. The `System.Runtime.Serialization.Formatters.dll` file that is causing the conflict when building net461 target framework is the one located at `bin\Debug\netstandard2.0\publish\System.Runtime.Serialization.Forma

[2018-01-09 22:18] joperezr commented on #1846
Ok I see what the problem is now. The issue seems to be that in your csproj you have [these two lines](https://github.com/nuke-build/nuke/blob/master/source/Nuke.CodeGeneration/Nuke.CodeGeneration.csproj#L27-L28):
[code]

They are unintentionally adding to the ReferencePath all of the assemblies on those two directories. This is causing that when you try to publish for net461 but you have already

[2018-01-09 22:19] joperezr commented on #1846
Actually looks like I don't have the permissions to close it, but @livarcocc should be able to help with that 😄

[2018-01-10 00:41] tim241 opened #1850 "[Arch Linux] The requested URL returned error: 404"
Hello, when I execute the `build.sh`, the links
`https://dotnetcli.azureedge.net/dotnet/Runtime/1.0.5/dotnet-runtime-1.0.5-linux-x64.tar.gz`
`https://dotnetcli.azureedge.net/dotnet/Runtime/1.1.2/dotnet-runtime-1.1.2-linux-x64.tar.gz`
from the `artifacts/.dotnet/2.2.0-preview1-007849/dotnet-install.sh` script
aren't valid anymore, they return a `404` error
full output: [build.log](https://gist.gith

[2018-01-10 00:57] #1846 closed

[2018-01-10 00:58] livarcocc commented on #1846
thanks for looking into this @joperezr. @matkoch I hope this addresses your issue, otherwise, like @joperezr said, make a comment and we can re-activate.

[2018-01-10 00:59] livarcocc commented on #1850
I believe this is because 1.0.5 and 1.1.2 are not supported on arch linux.

@johnbeisner to confirm.

[2018-01-10 01:12] tim241 commented on #1850
Isn't this a general Linux issue? Because those links just don't work an
don't contain any distro specific info.
The
https://dotnetcli.azureedge.net/dotnet/Runtime/2.0.0/dotnet-runtime-2.0.0-linux-x64.tar.gz
link works though, which is weird.

Op 10 jan. 2018 01:59 schreef "Livar" <notifications@github.com>:

[2018-01-10 15:58] matkoch commented on #1846
@joperezr first off, thanks for your help. Still I'm unsure about this. Why is this adding to `ReferencePath` at all? Like I said, this worked prior to installation of VS15.5 (SDK 2.1). Also it seems like common practice. Compare to how [Refit is doing that](https://github.com/paulcbetts/refit/blob/master/Refit/Refit.csproj#L31-L32).

Simply removing those lines isn't really an option. I could add

[2018-01-10 17:42] memark commented on #1544
Any update on this?

[2018-01-10 18:21] joperezr commented on #1846
in the new SDK we add the None to the `ResolveAssemblyReference` task by saying that they are candidate assembly files. This will, in turn, add them to the ReferencePath which is why they are being referenced by the compiler and causing the issue. Here is a little snippet of how that code is:
[code]
 Now whether or not that is the right thing to do is a different question, but I believe that the r

[2018-01-10 20:28] dasMulli commented on #1846
@matkoch what you probably want is something like this (used it to pack up msbuild tasks):

[code]

[2018-01-11 16:51] dmumladze opened #9002 "Warning MSB4011: "Microsoft.CSharp.targets" cannot be imported again."
## Steps to reproduce
dotnet build

## Expected  behavior
No build warnings

## Actual behavior
C:\Program Files\dotnet\sdk\2.0.3\Sdks\Microsoft.NET.Sdk\Sdk\Sdk.targets(41,3): warning MSB4011: "C:\Program Files\dotnet\sdk\2.0.3\Microsoft.CSharp.targets" cannot be imported again. It was already imported at "C:\Projects\SomeProject.csproj (106,3)". This is most likely a build authoring error. This s

[2018-01-11 23:56] #1598 closed

[2018-01-12 06:30] wli3 opened #1853 "Pack should glob result of publish or not"
https://github.com/dotnet/sdk/pull/1843#discussion_r161075634

Need further discussion

I think I suggested ResolvedFileToPublish previously but having doubts now. It could by PreserveNewest with some modification already done in the publish output or users could have targets with <Copy> stuff in there. (or even post-built steps using xcopy execute).
The most "correct" but also slowest would be to

[2018-01-12 20:24] rynowak opened #1854 "ResolvePackageFileConflicts throwing when referencing System.Diagnostics.DiagnosticSource by assembly path"
This is new failure that just started happening in some Razor tests for our MSBuild functionality. This started failing for us `2.2.0-preview1-007927` - this was working before in `2.2.0-preview1-007866`.

I've attached a repro project, which is doing some esoteric things because this is part of our tests for our MSBuild targets 😆. I think the probably might not be anything wierd that we're doing

[2018-01-13 00:20] NitashEU commented on #1151
@TFTomSun your solution helped me alot! You might consider to add `<InProject>false</InProject>`.

In VS2017 it showed me all the packages in the UI. Doing this in the first item was enough for me:

    <ExtendedPackageReference Include="@(PackageReference)">
      <InProject>false</InProject>
      <PackageName>%(Identity)</PackageName>
    </ExtendedPackageReference>

[2018-01-14 06:32] #1823 closed

[2018-01-14 06:32] wli3 commented on #1823
https://github.com/dotnet/sdk/pull/1843

[2018-01-14 09:26] dasMulli opened #1855 "Should netstandard2.0 library publish trim packages?"
When building a .NET Framework or .NET Core 2.0 app and ending up with a package reference to a pre-2.0 `System.*` pacakage, it is removed from the publish output.

The same does not happen for .NET Standard libraries, at least for those that shipped "outside" of NETStandard.Library 1.6.0/1.6.1, but are considered inbox in NETStandard.Library 2.0.0+ for netstandard2.0.
While this is probably fine

[2018-01-14 12:44] dasMulli commented on #1855
Been hitting this while trying to make net46+netstandard2.0 build tasks but ended up targeting net+netcoreapp anyway, but may become more interesting in the future. but this came up on SO again: https://stackoverflow.com/questions/48244136

[2018-01-14 19:06] itadapter commented on #1241
Sorry but, still having issues and all Google links come here.

Using `dotnet 2.1.3`, VS2017 15.5.2;

Have a solution with both .NET and .Core projects (in the same solution).  The build **works fine in VS2017**, however it does generate the same error when building either using MsBuild cli, or `dotnet build` cli.

What is inexplicable is that the error complains about one project (NFX which is Ne

[2018-01-14 20:26] itadapter commented on #1241
@itadapter
UPDATE, this issue arises from this:
If one specifies solution PROJECT BUILD ORDER via project dependencies then VS2017 "understands" that solution project dependency is not equal to assembly reference, whereas cli msbuild does not understand this.

Consequently, there is NO WAY to specify declarative build order. Here is a trick, add this to you CSPROJ:
[code]
What this does, it change

[2018-01-14 20:42] Petermarcu opened #9011 "dotnet pack does not respect assembly atttributes"
@junalmeida commented on [Tue Jan 09 2018](https://github.com/dotnet/core/issues/1203)

# Issue Title

Compiling and packing using Visual Studio 2017 or dotnet pack does not respect assembly attributes while using AssemblyInfo.cs

# General

Using the following csproj structure:

[code]

When building the project, binaries are generated correctly with my attributes from .cs file, but nuget package

[2018-01-14 23:04] MelbourneDeveloper commented on #955
I am currently not able to debug with .NET Standard 2.0 on UWP. It's not all solutions, but one particular solution I cannot get working. In my case, I am seeing the PDB files. I have logged the issue here: https://github.com/dotnet/standard/issues/621 . I wonder if there are still general issues with Visual Studio debugging .NET Standard dlls on UWP...

I am using Visual Studio 15.5.3

[2018-01-15 04:20] danmosemsft commented on #1241
I would open a new issue in the MSBuild repo.

[2018-01-16 00:02] ashmind opened #1856 "ResolvePackageFileConflicts in VS 15.5.3 seem to break previously working build (non-SDK project)"
Not sure if this is the right place for it.

We have a .NET 4.5.1 (no SDK) project that references file `System.Web.DataVisualization.dll` from a relative `lib` folder using `HintPath`:
[code]

Sometime after I upgraded to a newer VS (recently), I noticed the local build failing.
The actual failure is something like:
[code]

But I think the true problem was:
[code]
This is reported by `ResolvePack

[2018-01-16 16:32] rainersigwald commented on #1241
No need for a new issue, command-line MSBuild confusing solution build dependencies with project references is https://github.com/Microsoft/msbuild/issues/2661. There are a couple of other workarounds mentioned there, and we plan to fix it for the next release.

[2018-01-16 17:00] PandelisZ opened #9012 "dotnet publish does not set OutDir"
## Steps to reproduce
Create a netCore 2.0 project and set the following properties in the csproj

[code]
execute a publish
`dotnet publish -c Release -o dist`

## Expected  behavior
OutDir is set to dist/

## Actual behavior
OutDir is set to bin/Release/netcoreapp2.0/

## Environment data
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2

[2018-01-16 19:52] bording commented on #1849
Is this something that should be filed here, or is there a better repo for handling issues about how things are bundled into shippable assets?

[2018-01-18 14:24] tomek14 commented on #1630
I have the same problem as @mouadhtrabelsi, in my WebForms App targeting 4.7.1 when building Relase.

[2018-01-18 14:30] mouadhtrabelsi commented on #1630
I I got this error only in project having web service refrences
@tomek14 to fix it  i disabled GenerateSerializationAssemblies
on teh csproj i added this line for all the build config
<GenerateSerializationAssemblies>Off</GenerateSerializationAssemblies>

  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</Debu

[2018-01-18 15:07] tomek14 commented on #1630
@mouadhtrabelsi It worked! Thanks a lot!

[2018-01-18 21:58] livarcocc commented on #1856
@joperezr can you take a look?

[2018-01-18 22:05] livarcocc commented on #1850
This is by design.

We changed the way that our URLs work and because of that the script tries different URLs. You are only seeing when we try one of them there.

You can find the debian tarball at `https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.5/dotnet-debian-x64.1.0.5.tar.gz` but for arch linux, 1.x is not supported.

I am going to go ahead and close the issue, but if there

[2018-01-18 22:10] alexperovich opened #12353 "Phase out MULTI_LEVEL_LOOKUP"
## Steps to reproduce
* install dotnet sdk 2.0.5 from the msi
* xCopy deploy SDK version 2.0.0 and shared framework version 1.1.2 using dotnet-install.ps1
* run a 1.1.2 portable application using the xCopy dotnet cli

## Expected  behavior
Application runs fine

## Actual behavior
Host exits with error:
[code]

## Environment data
global `dotnet --info`
[code]

xCopy `dotnet --info`
[code]
COREHOS

[2018-01-18 22:11] livarcocc commented on #1275
Moving this to project-system for now.

[2018-01-18 22:11] livarcocc commented on #1275
This issue was moved to dotnet/project-system#3163

[2018-01-18 22:11] #1275 closed

[2018-01-18 22:16] livarcocc commented on #1445
I am going to move this to websdk, since dotnet publish seems to work.

[2018-01-18 22:16] livarcocc commented on #1445
This issue was moved to aspnet/websdk#288

[2018-01-18 22:16] #1445 closed

[2018-01-18 22:20] livarcocc commented on #1515
SDK based projects are not supported in VS 2015, so I imagine this is a old style csproj. As such, this is not really an issue we can address. If you can still repro this, maybe try filling an issue under dotnet/project-system.

[2018-01-18 22:20] #1515 closed

[2018-01-18 22:25] livarcocc commented on #1512
This is being done now.

[2018-01-18 22:25] #1512 closed

[2018-01-18 22:38] livarcocc commented on #1488
I am going to close this issue since it seems the suggested approaches are all around DependencyModel:

1. Using the 2.0 DependencyModel in 1.1 apps.
2. Porting the fix from the 2.0 DependencyModel into the 1.1 DependencyModel, which is tracked by the issue referenced above by Eric.

If I misunderstood something, please, comment and I can re-activate this issue.

[2018-01-18 22:38] #1488 closed

[2018-01-18 23:15] joperezr commented on #1856
With the help of @ericstj, we checked and found that the problem here is that you are downgrading the reference from the one that already comes with .NET 4.5.1 which is 4.0. In order to fix this, simply change your .csproj so that instead of having a hint path reference, it only has something like:

[code]

That way you also won't be carrying the 3.5 version along with the app, and you will only u

[2018-01-19 00:00] livarcocc commented on #1482
You don't say which version of the SDK this happened. I just tried with the latest version of VS and the latest version of the CLI and could not repro it.

Going to close it. If you can still repro it in the circumstances I described above, please, re-activate.

[2018-01-19 00:00] #1482 closed

[2018-01-19 00:01] livarcocc commented on #1477
Moving this to the WebSDK for them to have a look at it first.

[2018-01-19 00:01] livarcocc commented on #1477
This issue was moved to aspnet/websdk#290

[2018-01-19 00:01] #1477 closed

[2018-01-19 00:06] nguerrera opened #1865 "Stop putting unnecessary support package binaries in extensions nupkg"
See https://github.com/dotnet/sdk/pull/1860#discussion_r162458901

The CLI doesn't use these assemblies (it picks up the support package directlty) and we're wasting space and time putting them in the .nupkg. Also, with nupkg signing, we have to keep exclusions up-to-date based on the contents of the support package that are out of our control.

[2018-01-19 00:07] livarcocc commented on #1334
We have F# coverage in the CLI side already. Given that this repo will be merged with the CLI soon, I am going to close this issue.

[2018-01-19 00:07] #1334 closed

[2018-01-19 00:18] dsplaisted commented on #1855
@ericstj What do you think?  Should we be filtering out the assets from the pre-2.0 .NET Standard implementation packages when targeting .NET Standard?

[2018-01-19 00:20] livarcocc commented on #1382
I can only repro this in VS, as such, I will move this issue to be further investigated in the dotnet/project-system repo.

[2018-01-19 00:20] livarcocc commented on #1382
This issue was moved to dotnet/project-system#3164

[2018-01-19 00:20] #1382 closed

[2018-01-19 00:23] livarcocc commented on #1788
Seems like this has been resolved. Closing this issue. If that's not the case, just comment and I can re-activate it.

[2018-01-19 00:23] #1788 closed

[2018-01-19 00:35] livarcocc commented on #1781
I don't believe this to be an SDK issue. I see in the feedback item you created by VS, it has been stated that this is not supported on the VS side. As such, I am going to close this issue.

[2018-01-19 00:35] #1781 closed

[2018-01-19 02:22] livarcocc commented on #1856
@joperezr and @ericstj thanks for looking into this.

@ashmind let us know if this does not work for you.

[2018-01-19 02:22] livarcocc commented on #1865
@nguerrera I thought you were making a PR already.

[2018-01-19 04:52] livarcocc commented on #1779
Ok, I am closing this issue in the SDK side as this is being work by NuGet to return the RestoreResult and if possible, the subsequent change will have to happen in MSBuild.

[2018-01-19 04:52] #1779 closed

[2018-01-19 04:53] livarcocc commented on #1695
I am so sorry for the late reply, is this still happening to you?

Could you provide us with a repro project or repro steps? Or at least some logs for the failed case?

[2018-01-19 04:59] livarcocc commented on #1730
@dsplaisted @nguerrera This seems straight forward enough. Is this something we could quickly take care of for 2.1?

[2018-01-19 05:01] livarcocc commented on #1792
This issue was moved to NuGet/Home#6457

[2018-01-19 05:01] #1792 closed

[2018-01-19 05:04] livarcocc commented on #1464
The SDK does not own the mapping of TFMs and RIDs. I believe that is between NuGet and the Microsoft.NetCore.Platforms target.

I am going to move the issue to NuGet initially, if that's not the appropriate location, please comment and tag me and I can follow up with the runtime team to see what else can be done. But in my mind, this should fail at restore time.

[2018-01-19 05:05] livarcocc commented on #1464
This issue was moved to NuGet/Home#6458

[2018-01-19 05:06] livarcocc commented on #1481
I am not aware of it, however, I will move this issue to the aspnet repo, where they might be able to provide some guidance.

[2018-01-19 05:07] livarcocc commented on #1481
This issue was moved to aspnet/Home#2809

[2018-01-19 05:07] #1481 closed

[2018-01-19 05:11] livarcocc commented on #1476
Can you share repro steps or a repro project? This is happening because your test project is a library (netstandard2.0) instead of an app (netcoreapp2.0).

Changing your project's TFM should fix this. Another alternative is running `dotnet new mstest` or `dotnet new xunit` and seeing what is the project format in those cases and comparing to yours.

If this does not solve your problem, please comm

[2018-01-19 05:11] #1476 closed

[2018-01-19 05:16] livarcocc commented on #1478
This happens because of these entries in your csproj:
[code]
The Web SDK already includes the contents of the wwwroot folder and that's why you are getting the duplicate content error message above. It should be safe for you to remove those entries completely.

I don't re-call if there were changes made to the Web SDK between the 1.0 time frame and the 2.0 time frame that involved the implicit con

[2018-01-19 05:16] #1478 closed

[2018-01-19 05:21] livarcocc commented on #1232
Seems simple enough.

[2018-01-19 05:25] vijayrkn commented on #1478
The content globs were added before 1.0

[2018-01-19 06:09] livarcocc commented on #1437
@gregg-miskelly is there a repo that is more appropriate for this issue? This is not really something controlled on the SDK.

[2018-01-19 06:10] livarcocc commented on #1460
This issue was moved to Microsoft/vstest#1380

[2018-01-19 06:10] #1460 closed

[2018-01-19 06:14] livarcocc commented on #1354
Directory.Build.props should solve the problem.

The idea of keeping the tool and the package reference in sync or maybe using a single one to indicate both has come up before but is not in the plans for a particular release yet.

As such, I am going to close this issue.

[2018-01-19 06:14] #1354 closed

[2018-01-19 06:15] livarcocc commented on #1865
This seems like a dup of https://github.com/dotnet/sdk/issues/1324.

[2018-01-19 06:18] livarcocc commented on #1540
Given that we haven't gotten a repro for this and haven't had activity here in a while, I am closing this issue.

@OWAProjects if this still happens to you, please provide us with a repro or with logs, by running `dotnet build /bl` and sharing with us the msbuild.binlog file and we can re-activate this issue.

[2018-01-19 06:18] #1540 closed

[2018-01-19 06:20] livarcocc commented on #1485
We are under the MIT license and that shows in the license.txt file in the root of the repo.

[2018-01-19 06:20] #1485 closed

[2018-01-19 06:30] livarcocc commented on #1249
I imagine this dll is checked in with your source and gets pushed to azure with git?

I don't know for sure, but I would expect that the Azure with git push is simply pushing your branch to azure and it then proceeds to run the publish command for you in the Azure VM.

[2018-01-19 06:33] livarcocc commented on #1626
Hey @jaredpar have you figured this out?

[2018-01-19 06:34] tannergooding commented on #1232
This is a breaking change.

[2018-01-19 06:34] JonasT commented on #1485
@livarcocc yes, but the .NET Core SDK as provided here https://www.microsoft.com/net/core/preview#linuxfedora isn't, and that's what everyone uses, right?

Is there an alternate SDK download that people can just install which is MIT licensed as you claim? Should all Linux distributions just build their own packages and duplicate the effort if they want free packages?

Visual Studio Code has the sa

[2018-01-19 06:38] livarcocc commented on #1485
@JonasT where are you seeing this licensing information on the website above. Can you point me to it? It may help me figuring out a better pointer to you. I just don't want to point you to a different location and realize I missed the licensing notice there as well.

Also, github.com/dotnet/cli has builds for the SDK.

Master has nightlies, but we have branches for all our releases, for instance,

[2018-01-19 06:39] livarcocc commented on #1485
Also, https://www.microsoft.com/net/download/linux.

[2018-01-19 06:42] JonasT commented on #1485
@livarcocc I just checked again and it seems I was either mistaken when originally filing this, or it has been changed (the ticket is a bit old by now) and you're right, it only says MIT everywhere :smile:

As a note though, https://www.microsoft.com/net/download/linux specifically doesn't have any obvious link to the licensing at all before downloading, that might be worth fixing. However, I just

[2018-01-19 06:49] livarcocc commented on #1611
This may also be a dup of https://github.com/dotnet/sdk/issues/1324.

cc @dsplaisted

[2018-01-19 06:54] livarcocc commented on #1564
Seems reasonable, today, we just set it to the project name:
``
    <RootNamespace Condition=" '$(RootNamespace)' == '' ">$(MSBuildProjectName)</RootNamespace>
``

[2018-01-19 07:12] livarcocc commented on #1619
I haven't tried with net47 because I don't have a windows machine available at the moment, however, I just changed your project to target netcoreapp2.0 and it worked for me.

Is this still happening to you? I will try this out tomorrow on Windows.

[2018-01-19 07:14] livarcocc commented on #1617
The NuGet issue seems to have been fixed and the error message comes from them during restore. As such I am going to close the issue here. If this is still a problem comment and we can follow up.

@dasMulli once again, thanks for the help here. Appreciate it.

[2018-01-19 07:14] #1617 closed

[2018-01-19 07:15] livarcocc commented on #1614
We don't have plans to support this at the moment.

[2018-01-19 08:37] malachib commented on #1781
I ended up opening an incident.  I think one could make an argument that SDK is strongly involved, but it's a combination of C++/CLI, VS and .NET Framework+.NET Standard interactions.  Specifically those shim libraries which map System.Runtime over mscorlib... reality seems to be though that C++/CLI demand is too low to really stir up concern.  Dang!

[2018-01-19 12:57] Bakanych commented on #1142
Reproducing for vsts build solution task with csproj vnext.
/obj/*AssemblyInfo.cs is cached with old version.

[2018-01-19 13:49] dasMulli commented on #1142
@Bakanych can you share a binary log (`/bl` msbuild argument > `msbuild.binlog`) that reproduces this?

the 2.0.0+ SDKs should now detect changes to the attribute values for incremental builds.

[2018-01-19 14:42] bencyoung opened #1870 "Should the SDK include Microsoft.Build.Utilities.v4.0?"
I'm trying to use Fody.Costura in my project but it's failing with:

[code]

The dll is in my framework folder but dotnet doesn't seem to find it. Using MSBuild or VS to build the solution works.

Is it expected that using dotnet from the command line should work with targets that use these utilities?

[2018-01-19 15:29] svick commented on #1485
Why? As far as I can tell, that's not a common thing to do among open source projects. For example, I checked [Firefox](https://www.mozilla.org/en-US/firefox/) and [LibreOffice](https://www.libreoffice.org/download/download/) and they don't mention their license prominently on their download pages.

[2018-01-19 16:20] cltshivash commented on #1460
@ashishnegi Below are the steps i tried to repro the issue.

VS Installation: VS 2017 15.5.4

.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared F

[2018-01-19 16:22] JonasT commented on #1485
@svick it's not that important for Windows installers, but for .rpm it's not that trivial to see what license it is *before* installing it, so it's just a common courtesy to tell beforehand.

For firefox, click Legal (at the very bottom) > Downloadable Software Notices for Firefox. States it's MPL.

LibreOffice: the very bottom kinda hints at it with "This does not include the source code of Libre

[2018-01-19 16:26] ericstj commented on #1855
/cc @terrajobst that'd be ideal.  One thing that could be used is to see if it's removed by conflict resolution.

[2018-01-19 17:15] livarcocc commented on #1850
That's because the SDK requires the 1.0 runtime as well in order to run its tests. I guess we could make it so that those tests be skipped when the 1.0 runtime is not present.

Thought this wouldn't be super high priority for us at the moment, we would gladly take a PR for it :smile:.

[2018-01-19 17:17] livarcocc commented on #1870
@rainersigwald can you comment?

[2018-01-19 17:18] livarcocc commented on #1485
cc @leecow for any potential website changes.

[2018-01-19 17:21] leecow commented on #1485
Thanks for the feedback @JonasT - will have a look and figure out where this might be presented.

[2018-01-19 17:38] rainersigwald commented on #1870
MSBuild on .NET Core does not support tasks built against MSBuild 4.0.  https://github.com/Microsoft/msbuild/issues/2111 has some hints for build task authors who wish to produce a task compatible with MSBuild 4.0 on full .NET Framework, MSBuild 15 on full .NET Framework, and MSBuild on .NET Core.

[2018-01-19 17:38] #1870 closed

[2018-01-19 18:27] livarcocc commented on #1646
We had some issues with incremental checks that have since been addressed. I tried this out with a small two project solution and projects are showing as up-to-date as expected.

If this is still an issue for you, please, comment and give us some more details on how to repro this and we can re-activate.

Also notice, like you mentioned above, that some package references, or open package reference

[2018-01-19 18:27] #1646 closed

[2018-01-19 18:35] nguerrera commented on #1865
Duplicate of #1324

[2018-01-19 18:35] #1865 closed

[2018-01-19 18:40] nguerrera commented on #1611
This is not a dupe of that.

@ericstj @joperezr Where should I move this bug?

[2018-01-19 18:47] joperezr commented on #1611
These files are built on corefx release/2.0 branch, so I would move it there. This is weird since when we build them we use the 4.6.1 TP but we should move the issue there and investigate.

[2018-01-19 18:53] nguerrera commented on #1611
This issue was moved to dotnet/corefx#26456

[2018-01-19 18:53] #1611 closed

[2018-01-21 03:10] ashmind commented on #1856
@joperezr Thanks for the explanation. This is what I figured as well, however having it broken on VS upgrade was unexpected and very hard to debug. It's also counter intuitive as it ignores explicitly supplied `HintPath` and `SpecificVersion` in favor of the framework library.

I don't think it's as simple -- assuming previous authors of this code had reasons to use an older version, I will need t

[2018-01-22 04:04] wli3 commented on #1531
Hi @MonDeveloper  I believe your problem is the same as issue https://github.com/NuGet/Home/issues/3891 . Unfortunately, it has not been resolved. There are some walkaround in the thread that you can try. Please reopen this issue if otherwise.

[2018-01-22 04:04] #1531 closed

[2018-01-22 04:15] Bakanych commented on #1142
@dasMulli
I tried to use `/bl` argument, but looks like it's overridden by `/dl` param provided by vsts tasks. Here is msbuild call according to vsts build logs:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\msbuild.exe /nologo /bl:.\log.binlog /dl:CentralLogger,C:\agent2\_work\_tasks\VSBuild_71a9a2d3-a98a-4caa-96ab-affca411ecda\1.120.0\ps_modules\MSBuildHelpers\

[2018-01-22 04:17] Bakanych commented on #1142
I'm using incremental builds having `clean` checkbox off both in `get sources` and `build` tasks.

[2018-01-22 22:28] dsplaisted opened #1884 "TargetFrameworkVersion value now case sensitive"
- Create a new .NET Framework Console App in VS
- Edit project file to capitalize the `v` in the `TargetFrameworkVersion` property (ie change from `v4.6.1` to `V4.6.1`)
- Reload project file

**EXPECTED**: Project loads and builds successfully
**ACTUAL**: Load / build failure:

**ROOT CAUSE**: We are doing a case sensitive comparison here: https://github.com/dotnet/sdk/blob/79d5e5d11c1142cdbb93d01

[2018-01-23 10:10] mattiasw2 commented on #560
I got the same error with dotnet core 2.1.3 on Ubuntu 16.04. I solved it by not only copying the .dll files, but all the other files in the bin folder. Under Windows, the dll-file was enough.

[code]

[2018-01-23 15:28] jnm2 commented on #1458
Is 15.6 definitely out?

[2018-01-23 15:28] jnm2 commented on #1458
Is 15.6 definitely out of the question?

[2018-01-23 18:08] livarcocc commented on #1546
Closing as a dup of #1510. Also, tried to repro it with the latest CLI and I got no warnings.

[2018-01-23 18:08] #1546 closed

[2018-01-23 18:45] nguerrera commented on #1458
Yes, 15.6 is out of the question. This is being tracked for used to be called 2.2.0, but will actually be 2.1.300, which will not ship at the same time as 15.6.

[2018-01-23 18:51] nguerrera commented on #560
@mattiasw2 It is normal that the json files are required. Furthermore, when copying to another machine, you should use `dotnet publish` and copy the publish directory to the target machine. The app in the standard bin/ directory is for development/debugging. See https://docs.microsoft.com/en-us/dotnet/core/deploying/

[2018-01-23 18:54] bording commented on #1458
@nguerrera How is the transition to the new SDK versioning scheme happening? Currently we have 2.1.4, so what's the next release going to be? Are there going to be additional 2.1 SDKs that still have the 2.0 runtime? Is it known which SDK release will be the one that includes the 2.1 runtime?

I'm trying to get a feel for how far out 2.1.300 is because not having PDBs copied is a pretty big pain p

[2018-01-23 19:13] dasMulli commented on #1458
@bording see https://github.com/dotnet/designs/pull/29 for the new versioning scheme.

[2018-01-23 19:50] mattiasw2 commented on #560
Ok, understood, but they are more or less empty, and no ref to the library 'libhostpolicy.so'. So, since I doesn't seem to be the first, maybe the simplest solution is to add more information for the error message, like "You most likely forgot to publish the json files."

[2018-01-23 20:00] dasMulli commented on #1855
@ericstj wouldn't this require `NETStandard.Library` to define `$(PackageConflictPreferredPackages)` and `@(PackageConflictPlatformManifests)` for the build?

[2018-01-23 20:22] ericstj commented on #1855
True, I hadn't fully understood the question originally.  PlatformManifest is probably the right thing to use.  It could be done on the side, doesn't necessarily need to be in NETStandard.Library package.

That said, the bigger problem here is that the whole premise is busted: NETStandard libraries themselves aren't publishable/runnable since they may depend on packages with framework specific imp

[2018-01-23 20:44] bording commented on #1458
@dasMulli I follow that repo, so I've seen that already, but thanks for the link!

My questions were more about things that aren't explicitly called out in that document. It implies that 2.1.300 will be the first version to include the 2.1 runtime. It also mentions 2.1.100. Would that be an intermediate feature release, or would that be a release from the servicing branch?

I'd really like to see

[2018-01-23 23:00] nguerrera commented on #1448
Duplicate of #1006

[2018-01-23 23:00] #1448 closed

[2018-01-23 23:02] nguerrera commented on #479
Fixed by https://github.com/dotnet/sdk/pull/1442

[2018-01-23 23:02] #479 closed

[2018-01-23 23:47] livarcocc commented on #1474
When restoring in the command line, I see only a single warning there, so I imagine this is a project-system issue.

@Pilchie should we move this to project-system?

[2018-01-23 23:55] Pilchie commented on #1474
@natidea - sounds like we're reading it per-target?

[2018-01-24 00:05] livarcocc commented on #1492
Commented on the origignal nuget issue, but commenting here as well:

@mishra14 How is this something that the SDK should do? The compatibility matrix between TFM lives entirely in NuGet and is checked during restore. How will the SDK even know what is or isn't compatible without looking at the project.assets.json?

I don't believe we want to start duplicating the compatibility matrix. Can you hel

[2018-01-24 00:10] livarcocc commented on #1310
This has been implemented.

[2018-01-24 00:10] #1310 closed

[2018-01-24 00:12] livarcocc commented on #1159
What are the reasons for this? What is the scenario you are trying to enable by doing something like this?

[2018-01-24 00:51] #1232 closed

[2018-01-24 17:01] sevensc commented on #1544
I can confirm that issue, this happens when the hintpath for any package is too long. In my case this happens only on our TFS-Buildserver, caused by the default path structure (build_vnext/agent1/_work/.../projectpath/...).
And **not** only when the path length exeeds 260 characters.

[2018-01-24 17:44] livarcocc commented on #1321
This issue seems to be related to how restore happens in visual studio after project changes. As such, I will move it to NuGet.

[2018-01-24 17:45] livarcocc commented on #1321
This issue was moved to NuGet/Home#6482

[2018-01-24 17:47] livarcocc commented on #1201
@ericstj is this something that we still have time to change?

[2018-01-24 17:51] livarcocc commented on #1142
Any chance you can repro this locally and provide some logs to us, or maybe a repro? I will be nearly impossible to tell what might be going on otherwise.

Also, can you share what version of the .NET Core SDK you have installed in your box?

[2018-01-24 17:58] livarcocc commented on #1108
This is where we add it: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.VisualBasic.props#L15.

Is this something that we could safely remove now or should we wait for a major version release, as this would qualify as a breaking change?

cc @nguerrera @dsplaisted

[2018-01-24 18:08] livarcocc commented on #1120
From reading the thread, it seems like there is nothing that we can/should be doing here. Besides maybe adding some documentation.

Given that, I am going to go ahead and close this issue.

As for the documentation, maybe we should file an issue under microsoft/docs, if there isn't one already, to document these breaking changes as a whole and not just this one.

[2018-01-24 18:08] #1120 closed

[2018-01-24 18:13] livarcocc commented on #1543
Let's track this issue at https://github.com/dotnet/cli/issues/7569.

[2018-01-24 18:13] #1543 closed

[2018-01-24 18:15] livarcocc commented on #1542
Sorry for the late reply, but is this still reproing for you? Would it be possible for you to give a repro of the issue?

[2018-01-24 18:20] livarcocc commented on #1521
I see that a PR was made and merged to address this issue. As such I am going to close this issue.

If that's not the case, please, just comment and we can re-activate it.

[2018-01-24 18:20] #1521 closed

[2018-01-24 18:23] livarcocc commented on #1508
Sorry for the late reply.

I don't quite follow what is your ask here. It seems like you want your second post to be possible, but you mentioned that this is not possible independently of the project type. If that's the case, how is this problem specific to netstandard?

[2018-01-24 18:24] livarcocc commented on #1355
@dsplaisted is this us or is this globbing in MSBuild?

[2018-01-24 18:25] nguerrera commented on #1108
Goes all the way back to https://github.com/dotnet/sdk/commit/24516577eed218c4fe35f736ab14751a164fd231 (a little tricky to follow renames on GitHub)

@srivatsn Do youy recall why this is Embed by default? Is it required for .NET Core?

[2018-01-24 18:56] dsplaisted commented on #1355
It turns out that this is the FSharp targets: https://github.com/fsharp/fsharp/blob/fb2f8aa2a7c01d00f703d1ab050bbf3a852f02a9/src/fsharp/FSharp.Build/Microsoft.FSharp.Targets#L395-L396

[code]

@KevinRansom

[2018-01-24 18:58] dsplaisted commented on #1355
This issue was moved to fsharp/fsharp#813

[2018-01-24 18:58] #1355 closed

[2018-01-24 19:06] KevinRansom commented on #1355
This was fixed in our targets many moons ago.  Nothing to see here :-)

[2018-01-24 19:09] livarcocc commented on #1462
This has been fixed now.

[2018-01-24 19:09] #1462 closed

[2018-01-24 19:46] ericstj commented on #1201
My trimming package is still pre-release, so we can update it: https://github.com/dotnet/standard/blob/master/Microsoft.Packaging.Tools.Trimming/tasks/targets/Microsoft.Packaging.Tools.Trimming.targets

I believe @sbomer is also depending on these in the linker work.

[2018-01-24 20:03] natidea commented on #1474
This is a dupe of https://github.com/dotnet/project-system/issues/1511 which in turn is duped against https://github.com/dotnet/project-system/issues/2784
CPS has [added a feature](https://github.com/dotnet/project-system/issues/1511#issuecomment-301531545) to dedup the warnings across configurations (e.g. Release/Debug). Project needs to extend this across TFMs by [implementing](https://github.co

[2018-01-24 20:03] #1474 closed

[2018-01-24 20:12] nkolev92 commented on #1321
This conversation has gone a lot of different directions, so forgive me if I miss a scenario.

I've tested out 2 different scenarios, with the latest 15.6 P2 build.

1) Adding a new target framework in VS.
Expected: Restore happens, targets in the project assets json are updated.
Actual: Restore happens, the targets in the project.assets.json are not updated, however the package spec is updated.
T

[2018-01-24 20:43] MicahZoltu commented on #1543
I'm hesitant to combine these two issues because the other is asking for to make the path customizable while this one is asking to change the _default_ location.  I believe that getting the default changed is more important than making it customizable because right now the default is not following proper Windows standards/recommendations.

[2018-01-24 21:04] sbomer commented on #1201
@ericstj yup, thanks! The linker should also be able to take the change.

[2018-01-24 22:14] livarcocc commented on #1321
If this is a nomination problem, it belongs in dotnet/project-system, not at the SDK.

@natidea or @Pilchie can you confirm?

[2018-01-24 22:15] livarcocc commented on #1543
I would suggest that you comment there. That's the more appropriate repo for this change. The CLI is the one that is using the userprofile location.

[2018-01-24 22:16] livarcocc commented on #1201
@dsplaisted is this something that you can take care of? Seems like it is simple enough.

[2018-01-24 23:54] johnbeisner commented on #1071
@jaredpar
Can you be more specific about what kind of search fails; I cannot reproduce your search failure.

I can indeed search files contents under "sdk\src\Tasks\Microsoft.NET.Build.Tasks\build" in github

![image](https://user-images.githubusercontent.com/24683167/35363431-c6a38408-011e-11e8-9107-538cfe220d6f.png)

[2018-01-25 00:19] natidea commented on #1321
I've created an issue in Project to track this: https://github.com/dotnet/project-system/issues/3182
May also be related to https://github.com/dotnet/project-system/issues/2657

[2018-01-25 00:19] #1321 closed

[2018-01-25 02:28] jaredpar commented on #1071
@johnbeisner

Try searching for `build.ps1`. There is such a file under `build\build.ps1` but it can't be found.

Honestly though, everyone has a build directory at this point. It's a really senseless limitation that GitHub has and we've all violated it at this point. I'd be fine with just closing this issue.

[2018-01-25 05:31] livarcocc commented on #1464
Re-activating as this is not something that is enforced by NuGet. The RID compatibility. However, I don't believe the SDK is the right place to contain this information either.

@ericstj @nguerrera @dsplaisted do you guys have any idea on how the SDK could prevent publishing for a RID not supported in a particular TFM?

[2018-01-25 05:40] livarcocc commented on #1545
@nguerrera I remember this discussion a while ago on why this was the best we could do in inference. Can you comment on this issue?

[2018-01-25 05:53] livarcocc commented on #1811
We don't really have guidance on this.

.NET Core support libraries, console apps and asp.net core applications. It is very likely that you could get web forms working on the new csproj format, but it likely would not work with the .NET Core SDK. You would need full framework msbuild to work with your project.

As such, I am going to close the issue for now. If there is anything else, just comment

[2018-01-25 05:53] #1811 closed

[2018-01-25 05:56] livarcocc commented on #1791
Can you give us some more information here? What does your project look like? Could you share that? It will pick the appropriate API surface based on your Target Framework.

[2018-01-25 05:58] livarcocc commented on #1777
In the particular case of SolutionDir, I don't think this is set in the SDK, but rather by MSBuild.

@rainersigwald can you comment on this?

[2018-01-25 06:23] John0King commented on #1791
@livarcocc  That's the problem.
for example  I create a FooLib  package with :
[code]

and some code

[code]

if I use that lib in an Asp.NET Core application ( .NetFramework Runtime ) , The App will Choose Net4.5's version.

Is there any way to force my app to choose .net standard version ?

[2018-01-25 09:30] ppumkin commented on #1566
I had the same issue on Windows Core 2.x - I had to set

* Build Action None (or anything other than content - go figure)
* Copy To Output - Copy Always (obvious, and per file)

But then I got "Cannot find compilation library location for package 'Microsoft.Win32.Registry" error which is described as per  https://github.com/dotnet/core-setup/issues/2113 and fixable by manually adding `<MvcRazorExc

[2018-01-25 13:16] rainersigwald commented on #1777
How are you invoking the build using `dotnet`? MSBuild can only set `$(SolutionDir)` when you start the build at the solution level.

[2018-01-25 16:53] nguerrera commented on #1545
The first example will be emitted AnyCPU as long as there are no native dependencies pulled in from NuGet.

The second example will be emitted AnyCPU always.

[2018-01-25 16:55] nguerrera commented on #1545
Duplicate of #1560

[2018-01-25 16:56] ericstj commented on #1464
We already do this [in the NETCoreApp2.0 package](https://github.com/dotnet/core-setup/blob/434268955f5d2fd0caf29e6f016152a9ad4f83cb/src/pkg/projects/Microsoft.NETCore.App/Microsoft.NETCore.App.targets#L4-L21), which @nguerrera had to [move into the SDK](https://github.com/dotnet/sdk/pull/1857/files#diff-6e8153987724c5190aee451cd127c038R298).
We do plan to enforce this in future versions of the NE

[2018-01-25 16:57] nguerrera commented on #1560
We might need to change how the project system queries the PlatformTarget in order to show the correct value. The way it is selected automatically depends on package asset resolution targets, not pure evaluation. We could switch it to appear as "Any CPU" statically and "x86" dynamically (we do the reverse now), but that would also be incorrect if there are native nuget dependencies. In hindsight,

[2018-01-25 17:00] nguerrera commented on #1464
My check will work for any .NETCoreApp version and it actually fixes the example here for .NETCoreApp 1.1.  :)

[2018-01-25 17:00] nguerrera commented on #1464
Will be fixed by #1857

[2018-01-25 17:04] ericstj opened #1896 "Modifying the project file doesn't regenerate deps file"
Repro:
1. Create a .net core project.
2. Build and run.
3. Add a Reference item to a binary.
4. F5.

Expect:
Reference gets copied to output directory *and* appears in deps file.

Actual:
Reference gets copied to output directory but does not appear in deps file.

[2018-01-25 17:32] MichaelSimons opened #1897 "ResolvePackageFileConflicts is emitting confusing conflict messages when building .NET 3.5 projects."
**Steps to Reproduce**
1. Setup environment with msbuild 15.5 or newer
2. Create a new .NET 3.5 project
3. Build - msbuild /t:build

**Actual Results**
The build output indicates there are a bunch of package conflicts
[code]

**Expected Results**
1. The conflict message itself it confusing.   The message doesn't indicate what the source of the two "platform" conflicts are.  I wouldn't expect the p

[2018-01-25 17:52] livarcocc commented on #1686
@emgarten any ideas why this packaged would be copied for 2.0 at all? It is present in the archive and the fallback folder.

When I tried a simple project referencing Microsoft.CSharp directly and restore passing --packages, I do not get this package in the packages folder, even for 2.0.0.

This should never have worked for 2.0, so, if the package is not showing up in the packages folder for 2.1.1

[2018-01-25 17:59] nguerrera opened #1898 "Issues with preprocessed nuget contentFile handling"
Found by code inspection while implementing #1857:

1. We only add preprocessed content with CopyToOutput=true to ReferenceCopyLocalPaths when CopyLocalLockFileAssemblies is true, but they should be copied irrespective of that setting.

2. We set TargetPath based on the OutputPath of the item, but ReferenceCopyLocalPaths only respect DestinationSubDirectory: https://github.com/Microsoft/msbuild/bl

[2018-01-25 18:23] #1849 closed

[2018-01-25 18:35] eerhardt commented on #1897
FYI - @dsplaisted @ericstj @joperezr

[2018-01-25 18:39] livarcocc commented on #1897
@joperezr I believe the only differences between 15.4 and 15.5 are the changes we took from you.

[2018-01-25 18:42] joperezr commented on #1897
I don't think this has anything to do with my changes, this is a problem with the ConflictResolution logic which both @dsplaisted and @ericstj are more familiar with. If in fact there where no other changes than mine on 15.5, then it is very likely that this problem is not unique to that VS version, and will most likely repro on older versions as well, we probably didn't catch it before because we

[2018-01-25 18:54] nguerrera commented on #1683
cc @tmat

[2018-01-25 19:19] eerhardt commented on #1897
From my cursory look at the code, this problem appears to have been in there from the beginning.  The v3.5 FrameworkList.xml file has 2 entries for assemblies, one for "inGac=true" and one for "inGac=false".  There doesn't appear to be any code to handle this scenario from what I can tell.

[2018-01-25 20:03] nguerrera commented on #1683
While I think the idea of having a watcher that performs EnC like VS is very intriguing, it's not really something that we'd implement in this repo. so I'll close this. Conceptually, I could imagine it getting integrated in to dotnet watch: https://github.com/aspnet/DotNetTools, but it is probably a huge undertaking.

[2018-01-25 20:03] #1683 closed

[2018-01-25 20:05] nguerrera commented on #1898
I'm also leaving in place code that handles non-preprocessed files in the task even though we are only responsible for the preprocessed items as nuget puts the others directly in generated props. We set a bool to trigger this behavior, but there is dead code that we should eliminate.

[2018-01-25 20:28] tmat commented on #1683
It would be nice to have this kind of feature. It's indeed a huge undertaking. I'd recommend to file a feature request in [VS user voice](https://visualstudio.uservoice.com).

[2018-01-25 20:53] livarcocc commented on #1686
I see that DisableImplicitNuGetFallbackFolder is now set in Roslyn and with it the package is present in the packages folder, as expect.

Given that the 2.1.1 behavior is the correct one, I am going to go ahead and close this issue.

[2018-01-25 20:53] #1686 closed

[2018-01-25 20:59] jcouv commented on #1686
@livarcocc The reason I'd filed this issue is because this change of behavior was unexpected. Did you understand what caused the change?
Is there an issue tracking the root cause, so that we can remove the DisableImplicitNuGetFallbackFolder workaround from Roslyn?
Or are you saying the current behavior is by-design and the previous behavior was incorrect?

[2018-01-25 21:02] livarcocc commented on #1729
@nguerrera another one for RID inference. Can you take a look?

[2018-01-25 21:04] davidmatson commented on #1560
I think the RID thing is a bit of a problem, even if it was handled otherwise in v1 - per #1545, it breaks what "AnyCPU" has always meant in .NET, right?

[2018-01-25 21:07] ericstj opened #1899 ".NETCore apps cannot specify a Windows application manifest and other things that must go in exe"
dotnet.exe does not contain an [application manifest](https://msdn.microsoft.com/en-us/library/windows/desktop/aa374191(v=vs.85).aspx), nor does the stripped down version when building a standalone app.  The result is that applications cannot specify [supportedOS](https://msdn.microsoft.com/en-us/library/windows/desktop/dn481241(v=vs.85).aspx) to tell Windows they want to run without any OS versio

[2018-01-25 21:12] livarcocc commented on #1686
This is exactly what I am saying. This is expected. This is the correct behavior from NuGet.

When using the --packages parameter, NuGet will not copy packages that are present in the NuGetFallbackFolder, which is the case here. 2.1.1 has the correct behavior.

If you want to restore and copy packages from that location, you need to disable the fallback folder, which is what you are doing.

[2018-01-25 21:14] livarcocc commented on #1899
Is there an issue tracking this for the host side of the changes at core-setup? I imagine the SDK side would basically be able to respect this list and replace the manifest when appropriate?

[2018-01-25 21:19] ericstj commented on #1899
I opened an issue in core-setup.

I think the SDK side would be to support specification of an Application Manifest for selfcontained applications and replace the application manifest from the host with the one specified by the project.  That seems to give the most parity with the desktop way of doing things.

[2018-01-25 21:21] livarcocc commented on #1621
Is this transitive Reference assemblies? If that's the case, I don't believe we support that.

[2018-01-25 21:30] livarcocc commented on #1735
Discussed this with @rainersigwald. Moving it to MSBuild.

[2018-01-25 21:30] livarcocc commented on #1735
This issue was moved to Microsoft/msbuild#2912

[2018-01-25 21:30] #1735 closed

[2018-01-25 22:35] itadapter opened #1901 "Debugging NetStandard 2 assembly fails with "Unable to break execution 0x80004005""
.Net Standard Assembly. Using .NET 4.7.1 launch project - a console app linking DYNAMICALY (via Assembly.load()) to the target DLL.  The breakpoints are not hit. The PAUSE does not work. VS 2017 15.5.5; tried running as admin; does not help.

An attempt to Pause the process:

![image](https://user-images.githubusercontent.com/2273574/35416036-b29bdb22-01f5-11e8-9df5-ecb6bb5a6321.png)

Anyone can s

[2018-01-25 22:41] nguerrera commented on #1560
If you explicitly say AnyCPU, you get AnyCPU. It is only if you have native dependencies and no explicit AnyCPU that you get x86. However, it renders in the project system as x86 in this case due to implementation details.

[2018-01-25 22:49] nguerrera commented on #1901
@gregg-miskelly Do you know what might cause the debugger to error out with that message?

@itadapter Is this happening on multiple machines? Can you share a minimal repro project that causes this?

[2018-01-25 22:53] gregg-miskelly commented on #1901
If you go to the processes window (Debug->Windows->Processes) what does the 'Debugging' column say?
If you go to the modules window (Debug->Windows->Modules) is the modules window empty?

[2018-01-25 22:56] nguerrera commented on #1847
cc @ericstj @dsplaisted @eerhardt

I'm not sure we need any changes to conflict resolution as it already assumes greatest version wins. Or am I misunderstanding something?

[2018-01-25 22:57] itadapter commented on #1901
Debugging processes: (trun.exe as expected)
![image](https://user-images.githubusercontent.com/2273574/35416938-261ac8ee-01f9-11e8-8ff4-3b5348f76a3f.png)

Debugging modules: EMPTY

[2018-01-25 23:00] gregg-miskelly commented on #1901
I believe the problem is that your debugger is configured to debug with .NET Core, but you actually want to debug .NET Full-framework.

What kind of project is your startup project? (Classic .NET Project or .NET Core), (Web/Console/WinForms)

[2018-01-25 23:02] itadapter commented on #1901
.NET 4.7.1   The assembly is .NET Standard 2.0
And debugging works if you swithch roles - set the EXE as a startup target vs .DLL with EXE launcher

[2018-01-25 23:17] nguerrera commented on #1901
I see the repro now:

* File -> New Project -> Class Library (.NET Standard)
* Project properties -> Debug:
  * Launch -> Executable
  * Executable -> Path to managed application

Something is deciding to use the CoreCLR debug engine here and I'm not sure how to override it. cc @BillHiebert

[2018-01-25 23:22] itadapter commented on #1901
@nguerrera yes it looks like it. Like I said, if you happen to have a LAUNCH EXE in the same assembly then set it as a startup (dynamically linking to .NET Std 2) then all works.

This is what I am doing now - creating a fake test container in the target solution to go around this problem

[2018-01-25 23:26] pranavkm commented on #1729
Sorry, I forgot to close this issue. I investigated this further and turns out this is an issue with our build \ test infrastructure.

[2018-01-25 23:26] #1729 closed

[2018-01-25 23:28] livarcocc commented on #1729
@pranavkm thanks for letting us know. Appreciate it.

[2018-01-26 09:31] dasMulli commented on #1855
Reflecting on this for a while, I think this absolutely makes sense. The set of scenarios enabled by publishing(!) for a netstandard TFM is very limited and it may lead to confusion when something doesn't work.

However it is a bit weird that publishing for a netstandard TFM works without warnings/errors.. because it technically works, but isn't really useful.

Maybe a warning could be added to in

[2018-01-26 09:53] am11 commented on #1560
Can the default (fallback) platform be x64 on x64 system and x86 on x86 system?

[2018-01-26 10:14] dasMulli opened #1905 "Non-selfcontained RID-specific app should copy host executable to build output"
TL;DR
Combination of `RuntimeIdentifier` + `SelfContained=false` doesn't work well for development work (`dotnet run`, visual studio F5).
[code]

Scenario / Repro steps:

* Create  a console app
* Add native 32-bit dlls to PInvoke into
* Realize you now need to make sure you run 32bit only and are locked into a RID
  * add `<RuntimeIdentifier>win-x86</RuntimeIdentifier>` to the csproj
* `dotnet ru

[2018-01-26 15:20] steveharter commented on #1847
@nguerrera I updated the above description to include additional information.

The host is responsible for determining the full path of each assembly, and passing that to the CLR, so it needs to gather that information. Since the app and each framework can contain a copy of a given assembly (and servicing location and the store, but that's not important here), some sort of conflict resolution need

[2018-01-26 16:38] davidmatson commented on #1560
@nguerrera

In the second case, you don't actually get an x86 binary - according to Module.GetPEKind, it's still an AnyCPU assembly. For package restore purposes, it's treated as if it were going to be x86, but that's wrong - it's AnyCPU, and different machines will run it differently (it'll run as x86 on an x86 machine and as x64 on an x64 machine).

I think #1545 states this more serious aspect

[2018-01-26 16:45] davidmatson commented on #1545
The problem here is that the project is compiled one way but package restored the other way. I understand there's a shared implementation characteristic manifesting in both of these ways, but I think this impact is the much more serious part.

Note that this bug does not occur if the project explicitly sets PlatformTarget=AnyCPU, as mentioned in #1560, only if the PlatformTarget is implicitly set

[2018-01-26 16:55] davidmatson commented on #1560
Regarding treating these issues separately:
I think different resolutions may make sense here for these two bugs.

For example, for resolving #1560, we might decide that for the properties window, the solution is just to display the value "AnyCPU" rather than "x86" but change nothing else - that solves the problem of the Default platform target displayed being incorrect but doesn't address the oth

[2018-01-26 17:09] nguerrera commented on #1545
Reopening to track the separate but related concerns between the two bugs. Whoever works on either bug should consider the other.

[2018-01-26 17:10] nguerrera commented on #1560
I've reopened the other bug. As I said there, whoever works on either one should consider the other.

[2018-01-26 18:03] davidmatson opened #1906 ".NET Core can't build AnyCPU exes"
(I may be misunderstanding how things are supposed to work here; apologies if this is more of a question than a bug.)

Consider the following project file:
[code]

This project builds/runs correctly and generates an AnyCPU exe. Now change the target framework to .NET Core:
[code]

This project generates a build error:
Project is targeting runtime 'win' but did not resolve any runtime-specific pack

[2018-01-26 18:22] livarcocc commented on #1906
.NET Core does not have a notion of a AnyCPU executable. For .NET Core, the executable is a copy of the dotnet.exe, with some things changed and it must be either x86 or x64.

Given that, you are right, I am not sure it makes much sense to have a AnyCPU .NET Core application and maybe we should error out in that case.

@dsplaisted @nguerrera do you have an option on whether we should error out in

[2018-01-26 18:54] dasMulli commented on #1906
Truly platform independent apps should never target a specific runtime (=> `RuntimeIdentifier`).

Even if the resulting windows assembly could be loaded in both 32 and 64 bit environments, the `RuntimeIdentifier` is also used to resolve NuGet assets.

So if a NuGet package contains 32 and 64 bit assemblies, it needs to know which ones are needed.

[2018-01-26 19:32] davidmatson opened #1907 "Feature Request: Build .NET core .exe file in tiny output folder"
(Hopefully this is the right place to make a feature request; if not, please feel free to redirect.)

I have a number of existing .NET Framework exes for tiny command-line utilities. I'd like to switch to .NET Core, but there are two key pieces I'd like to keep:
1. Building an exe that can be run directly, rather than going through dotnet run.
2. Building to an output folder that is small (does no

[2018-01-26 19:45] KathleenDollard commented on #1855
How would we word such a warning? I'm not sure what we say now when we mean "what you did isn't sensible, are you sure it's what you wanted?"

Also, I'm not sure how we would do a warning here without backward compatibly issues.

[2018-01-26 19:49] livarcocc commented on #1907
This is a dup of https://github.com/dotnet/cli/issues/6237.

cc @steveharter on this one as well.

[2018-01-26 19:49] #1907 closed

[2018-01-26 20:30] natemcmaster opened #9037 "Cannot install prereleased tool package from dotnet-install-tool without specifying the exact version"
To install a prerelease version of a CLI tool, users must know the exact version they want to install. This means they have to open a browser to nuget.org or myget.org to find the package.

For example, this is the console output for dotnet-watch
[code]

This is the console output when trying to specify `--version 2.1.0-*`
[code]

*Ideas*

- Support wildcards `--version 2.1.0-*`
- Support a `--pre

[2018-01-26 21:13] nguerrera commented on #1847
@steveharter Thanks for the clarification.

I believe that once the deps.json schema is decided, the managed DepedencyModel API implemented in core-setup would need to be updated  accordingly, and lastly the SDK would use DependencyModel appropriately. Is there a bug tracking the DependencyModel change?

[2018-01-26 21:17] nguerrera commented on #1847
Or perhaps the part where we'd write this is already dynamic/extensible enough to not require an API change?

[2018-01-26 22:01] eerhardt commented on #1847
I'd think we can use the same core-setup feature bug - https://github.com/dotnet/core-setup/issues/3546.  No need to open a new one, IMO.

No, I think it would require an API change. The DependencyModel isn't dynamic at all - there are properties for each entry in the .json file.

[2018-01-27 04:58] #1616 closed

[2018-01-27 05:11] livarcocc commented on #1906
After talking over this with @nguerrera, I think we should consider this behavior by design and we should not error out when PlatformTarget is set to AnyCPU for a .NET Core App.

A couple of reasons for this:

1. The issue you see above is independent of the PlatformTarget. That error indicates that you are targeting a RID without any native assets.
2. We want the deployment of your application to

[2018-01-27 05:11] #1906 closed

[2018-01-27 05:15] livarcocc commented on #1754
@mattscheffer just to clarify, in step 3, did you mean add a reference to the class library from the console app?

[2018-01-27 05:18] livarcocc commented on #1554
Closing this issue for lack of activity. @shaikhimran if this is still happening, please comment an answer the questions above and we can look/re-activate this issue.

[2018-01-27 05:18] #1554 closed

[2018-01-27 05:21] livarcocc commented on #1551
@abpiskunov, is this still reproing for you? Does this repro when the build is executed through the command line?

[2018-01-27 05:24] livarcocc commented on #1544
@ericstj @JeremyKuhne is there a bug tracking the CLR/COM fix that we can close this one against? Is there anything on the SDK layer that we can still do to prevent/improve the experience here?

[2018-01-27 05:26] livarcocc commented on #1507
cc @dsplaisted seems like we may be treating the xml file as a dll?

[2018-01-27 05:28] livarcocc commented on #1453
I see that @ericstj has fixed this issue already. As such I am going to close it. If that's not the case, just comment and we can re-activate.

[2018-01-27 05:28] #1453 closed

[2018-01-27 12:45] phatcher commented on #1092
Managed to make this work by introducing the extension attribute and a minor shim - posted here for reference...

[code]
and
[code]
Won't work for all scenarios but at least allows the resource files to compile

[2018-01-28 16:42] lextm commented on #1832
Xamarin and UWP targets come from an extension,

[2018-01-29 05:52] mattscheffer commented on #1754
@livarcocc I don't quite remember the bug at the moment, but based on the description I wanted the Console app to be referencing the Class Library.

[2018-01-29 11:16] GapiSla opened #1911 "Inconsistency between VS publish and dotnet CLI publish: Could not load file or assembly 'System.IO.FileSystem, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definiti on does not match the assembly reference. (Exception from HRESULT: 0x80131040)"
Getting below exception on ubuntu 16.04 when trying to run ASP.NET Core MVC project (dotnet core 2.0 version). VS version 15.5.4. Runtime on ubuntu 2.1.3. However published package using CLI command works fine.

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.IO.FileSystem, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located ass

[2018-01-29 15:23] alexgman commented on #1507
Has anyone had a resolution to this issue? I'm having the same problem with the same version of VS.

[2018-01-29 16:44] ericstj commented on #1544
@livarcocc you can close this against  #1548 that fixes this issue in the SDK.

[2018-01-29 17:28] davidmatson commented on #1906
FWIW, I think the separation between build & deployment is one of the bigger disconnects between .NET Core and it's use of MSBuild - things like PlatformTarget were largely the equivalent ways to set things in the past during build time that .NET Core now wants to handle at deployment time. The fact that .NET Core MSBuild projects keep most/all the same build-time mechanisms and then add (potentia

[2018-01-29 17:37] davidmatson opened #1912 ".NET Core shouldn't use OutputType=Exe/WinExe when it means something else"
Spinning off from #1906, .NET Core, by design, currently doesn't build AnyCPU exes. However, it uses MSBuild syntax that implies otherwise, such as:
[code]

[2018-01-29 17:40] joperezr commented on #1754
@livarcocc yeah he meant it the other way around, and also, this problem will be fixed in VS 15.6 Preview 3. What is happening here is that we don't automatically create a binding redirect to System.Net.Http on the apps config, after adding it manually the but doesn't repro anymore:
[code]

@livarcocc this is the fix that we took in for VS 15.6 preview 3 a few weeks ago by updating the support pac

[2018-01-29 17:52] tannergooding commented on #1912
.NET Core doesn't build a self-contained AnyCPU exe. Making a self-contained AnyCPU exe is impossible or very hard on most platforms (most image formats do not allow you to have 32 and 64-bit code SxS in the same image).

The only reason AnyCPU executables work for the desktop framework is because the Windows Operating System natively recognizes managed executables and has some OS level shims to s

[2018-01-29 18:04] davidmatson commented on #1906
BTW, should we prohibit setting PlatformTarget altogether for .NET Core? That could help support goal 2 above (make this a deployment-time decision). I'll add this idea to #1553 as well.

[2018-01-29 18:05] davidmatson commented on #1553
Should we prohibit setting PlatformTarget for .NET Core projects and instead have RuntimeIdentifier be the sole way of setting this kind of value? That could help remove a discrepancy between whether this is a build-time vs. deployment-time decision.

[2018-01-29 18:08] livarcocc commented on #1754
@mattscheffer and @joperezr thanks for replying.

Given that we have the fix in already and 15.6 preview3 is out the door, I am going to close this issue.

@mattscheffer if this still reproes with 15.6 Preview3, just comment and we can re-activate and continue investigating.

[2018-01-29 18:08] #1754 closed

[2018-01-29 18:09] livarcocc commented on #1911
Can you confirm that you are selecting the RID when publishing through VS? On VS, that needs to be set explicitly through settings in the publish profile.

cc @vijayrkn

[2018-01-29 18:12] livarcocc commented on #1906
This is supported for Framework Dependent Applications. You can set AnyCpu, publish your app and execute it with either the x86 dotnet.exe or the x64 dotnet.exe.

[2018-01-29 18:15] davidmatson commented on #1906
Understood. However, is there a need for PlatformTarget to control that knob? If we only had RuntimeIdentifier(s), would that achieve the same result. (Perhaps that's equivalent to saying AnyCPU is the only PlatformTarget, but you can have architecture-specific RuntimeIdentifiers.)

[2018-01-29 18:25] livarcocc commented on #593
Closing this as a duplicate of the CLI one. It will be better to track this issue there and this repo will merge with the CLI repo in the medium time frame.

[2018-01-29 18:25] #593 closed

[2018-01-29 19:16] abpiskunov commented on #1551
Yes, I still can repro it when set number of parallel builds to 4 (we had to switch to 1 by default on our dev machines). When I run msbuild /m:4 ProjectSystem.Web.sln from command line it does not fail.

[2018-01-29 19:54] dasMulli commented on #1912
On a similar note:
Even though a `.dll` file is emitted, it still has all the necessary PE data to run as a .NET Framework application.

I swear this came up a few days ago on stack overflow but I can't find it now. But it's easy to reproduce when building a hello world app:

[code]

The OP didn't know to run `dotnet the.dll` instead of `the.dll` and the error message isn't very helpful if you're

[2018-01-29 21:35] livarcocc commented on #1597
Closing as this has been addressed in the new project system: https://github.com/dotnet/project-system/issues/1542.

[2018-01-29 21:35] #1597 closed

[2018-01-29 22:28] livarcocc commented on #1001
I am not sure what this is and how it relates to the SDK.

@RaulPerez1 I am going to close this issue, but if you can provide more details, we can easily re-activate.

[2018-01-29 22:30] livarcocc commented on #1381
@nguerrera another inference issue for RIDs.

[2018-01-30 02:49] yyjdelete opened #1913 "NU1605 by default treated as error instead of warning, breaks updating packages in solutions"
See also https://github.com/NuGet/Home/issues/6141.

Any attempt to try to update all PackageReference to the same version with NuGet will failed, and the any way is to edit .csproj directly.

[2018-01-30 11:49] redni opened #1916 "[Arch Linux] MSBUILD : error MSB1025"
**.NET Command Line Tools (2.1.4)**

**Product Information:**
 _Version:          2.1.4
 Commit SHA-1 hash:  5e8add2190_

**Runtime Environment:**
 _OS Name:     arch
 OS Version:
 OS Platform: Linux
 RID:         linux-x64
 Base Path:   /opt/dotnet/sdk/2.1.4/_

**Microsoft .NET Core Shared Framework Host**
  _Version  : 2.0.5
  Build    : 17373eb129b3b05aa18ece963f8795d65ef8ea54_

Attempting to r

[2018-01-30 12:24] dasMulli commented on #1912
Actually it wasn't SO but a GitHub issue: https://github.com/PeterKottas/DotNetCore.WindowsService/issues/70

[2018-01-30 17:27] livarcocc commented on #1916
cc @rainersigwald

[2018-01-30 18:06] rainersigwald commented on #1916
With that error, I'm inclined to blame CoreFX. It's thrown [here](https://github.com/dotnet/corefx/blob/45b724f6b6391910edea8a70f3f22a4a7996696d/src/System.Console/src/System/TermInfo.cs#L125) or [here](https://github.com/dotnet/corefx/blob/45b724f6b6391910edea8a70f3f22a4a7996696d/src/System.Console/src/System/TermInfo.cs#L139).

Either the validation checks are bad or there's something wrong with

[2018-01-30 20:34] livarcocc commented on #1916
also adding @steveharter so that he can help point to the right person in corefx.

[2018-01-30 20:36] Redni commented on #1916
- The contents of the `TERM` is a `xterm-256color`
- The contents of the `TERMINFO` is not set
- The contents of `~/.terminfo` is not exist
- The contents of `/etc/terminfo` is not exist
- The contents of `/lib/terminfo` is in the attachment [lib.terminfo.zip](https://github.com/dotnet/sdk/files/1679151/lib.terminfo.zip)
- The contents of `/usr/share/terminfo` is in the attachment [share.terminfo.

[2018-01-30 21:22] ctaggart commented on #1458
This essentially kills source link support for any projects using the new .NET Core project system targeting the .NET Framework. That is a large percentage. Please fix it soon. I added a test case in https://github.com/Microsoft/msbuild/issues/2920.

[2018-01-31 02:37] yyjdelete commented on #1913
[code]

[2018-01-31 02:37] #1913 closed

[2018-01-31 03:23] yyjdelete commented on #1913
Seems I can still update them with special order.

[2018-01-31 09:52] dbarwikowski opened #1920 "Package version"
https://github.com/dotnet/sdk/blob/94a3f2856cb09e66ee7472820b4e26fb576b4686/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.DefaultAssemblyInfo.targets#L18-L22

Shouldn't it be:
[code]

or even:
[code]

[2018-01-31 15:49] steveharter commented on #1916
I didn't find a corefx issue that matches the InvalidOperationException + terminfo.

However other platforms have issues with terminfo:
https://github.com/dotnet/corefx/issues/24259

cc @wfurt

[2018-01-31 16:25] TFSThiagoBR98 commented on #1916
Probably the problem is in ncurses 6.1

[2018-01-31 16:37] Redni commented on #1916
@TFSThiagoBR98 you are right. On PC I had ncurses 6.0 and on server 6.1 I changed the version on the server to 6.0 and everything works fine. We already know what causes the problem. However, how to make the dotnet also work properly on the newer version of ncurses?

[2018-01-31 22:03] livarcocc commented on #1916
I think this issue should be moved to corefx, where it will have far better visibility.

[2018-01-31 22:06] livarcocc commented on #1920
No, this is by design.

If you don't specify version, we compose the version out of the prefix and suffix.

This is what is happening in lines 20 and 21 above. If there is a suffix, compose the version from suffix-prefix. Otherwise, use only the prefix, which is guaranteed to be set, because we set it to a default if one is not provided.

[2018-01-31 22:06] #1920 closed

[2018-01-31 23:03] mikeharder commented on #1116
@nguerrera: Is this resolved by https://github.com/dotnet/sdk/pull/1857?

[2018-01-31 23:04] nguerrera commented on #1116
There is still more we can do, but #1857 should make this dramatically better.

[2018-01-31 23:16] nguerrera commented on #1116
I'm going to go ahead and close this as fixed by #1857. It will be best to reopen a more specific bug for any refinements beyond that should the new task/target still be a place to focus.

[2018-01-31 23:17] nguerrera commented on #1116
Actually, I'll reopen because design time build will still use RunResolvePackageDependencies and the slowness for the VS case and multi-targeting was mentioned.

[2018-02-01 13:03] StingyJack commented on #1521
This was linked by at least one new devcomm [issue](https://developercommunity.visualstudio.com/content/problem/105267/microsoftnetbuildextensionsnetframeworktargets-cau.html), where no obfuscation is in use.

[2018-02-01 13:19] dbarwikowski commented on #1920
Ok, I get it now, thanks

[2018-02-01 19:27] scottsauber commented on #1630
I am getting this on a regular ASP.NET project when I upgraded to .NET 4.7.1 and it has references to .NET Standard libs.  Is there any official guidance on how this is going to get addressed?

[2018-02-02 12:54] dafo opened #1926 "r"

[2018-02-02 12:54] #1926 closed

[2018-02-02 15:49] andrekoehler commented on #391
@giggio https://docs.microsoft.com/en-us/dotnet/standard/net-standard#pcl-compatibility

I can reference a self-created PCL Profile7 assembly from a self-created netstandard1.1 library and it works, but when I try to import a PCL Profile7 nuget package from my netstandard1.1 library I get the following error message, even though I already installed the Microsoft.NETCore.Portable.Compatibility nuge

[2018-02-02 19:19] rainersigwald opened #1927 "CopyIfNewer file created by prebuild step is not copied until subsequent build"
_From @loop-evgeny on February 2, 2018 17:12_

I have a config file in my project (instance.config) that I want copied to the output directory, so it's set to "Copy if newer". This config file is not checked into source control, but there is a file (instance.config.template), which gets copied to instance.config if that doesn't already exist. This all works, but not in the same build: the first bu

[2018-02-02 19:19] rainersigwald commented on #1927
_From @Pilchie on February 2, 2018 18:30_

Adding @rainersigwald.  This is really an MSBuild question.  I *think* the answer this that you need to put your "Copy" inside a target, because otherwise evaluation happens at the beginning of the build, before the pre-build step, and therefore before the file exists.