[2018-02-02 19:19] rainersigwald commented on #1927
I'm actually going to move this to the SDK, because it's the implicit `None` item that's causing the confusion.

[2018-02-02 19:26] rainersigwald commented on #1927
The repro project defines

[code]

But there's nothing to update if the SDK's implicit `None` glob expansion doesn't catch the `instance.config` file, which it won't the first time through because it doesn't exist.

I would recommend using an explicit reference to the file instead. You can do this either by disabling the `None` glob and adding the item explicitly:

[code]

or by removing the item

[2018-02-02 19:40] ctaggart commented on #1458
I just released SourceLink 2.8.0 which has the workaround in `SourceLink.Copy.PdbFiles`. Just [add a reference](https://github.com/ctaggart/SourceLink#known-issues).

[code]

[2018-02-02 20:00] nguerrera commented on #1458
I am working on this now

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Cameron Taggart <notifications@github.com>
Sent: Friday, February 2, 2018 11:40:39 AM
To: dotnet/sdk
Cc: Nick Guerrera; Assign
Subject: Re: [dotnet/sdk] New project system doesn't copy PDBs from packages when targeting .NET Framework (#1458)

I just released SourceLink 2.8.0 which has the wo

[2018-02-02 20:01] MariusVolkhart commented on #1539
I didn't know how to set ImplicitlyExpandDesignTimeFacades=false, so adding this for others who arrive here and need help.

You need to add `<ImplicitlyExpandDesignTimeFacades>false</ImplicitlyExpandDesignTimeFacades>` to a `PropertyGroup` in your `.csproj` file. This [StackOverflow answer](https://stackoverflow.com/a/44648397/2502247) shows the final result.

[2018-02-02 22:45] amanbha commented on #1157
Any timeline for the fix or known workarounds?

[2018-02-02 23:06] pranavkm commented on #1738
Coming back to this because I've had a couple of users file reports for this now. Is there a workaround they could do to unblock themselves? There was the promise of a target that could be added to the project, (involved rebuilding `_FrameworkReferenceAssemblies`) that might work: Is there an alternative to this as yet?

[2018-02-04 13:46] stevomccormack opened #1929 ".NET Core 2.1.xx is not availabe in Visual Studio 2017"
Cannot create a class library or console app using .NET Core v2.0.
I can create it via command line but not using Visual Studio 2017.
So project will not build.

------------

.NET Core v2.1.4 is fully installed.

2.1.4

----------------------
Microsoft Visual Studio Professional 2017
Version 15.5.6
VisualStudio.15.Release/15.5.6+27130.2027
Microsoft .NET Framework
Version 4.7.02556

Installed Ver

[2018-02-04 19:00] lmagyar opened #1930 "OutOfMemoryException in XAML designer due to failed assembly reference resolution based on PackageReference tag"
XAML Workflow Activity designer 100% throws **OutOfMemoryException** and crashes when some specific NuGet packages are referred through PackageReference (NOT with packages.config) using the "old" project file format (`<Project ToolsVersion="15.0" ...>` and NOT `<Project Sdk="Microsoft.NET.Sdk">`).

I think this is caused by some assembly reference resolution error in the new **PackageReference** r

[2018-02-04 19:14] sharwell commented on #1930
On it...

[2018-02-04 20:18] sharwell commented on #1930
Find another report: https://developercommunity.visualstudio.com/content/problem/191537/systemoutofmemoryexception-in-workflow-designer.html

[2018-02-04 20:20] sharwell commented on #1930
@lmagyar I tracked down the source of this bug in our internal code and assigned it a team that should be able to help out. Your bug report is outstanding, and I'm sorry to see that it took so long to get eyes on it.

/cc @Pilchie

[2018-02-05 08:50] loop-evgeny commented on #1927
I tried the second version (explicit include) and it works - thanks a lot!

This is, of course, completely non-obvious to the user. How about having VS always explicitly include a file for which a user has CopyToOutputDirectory to PreserveNewest or CopyAlways? I believe that, in projects before .NET Core, a build would fail if a file like this didn't exist and this is what I would expect. Right no

[2018-02-05 15:54] Pilchie commented on #1930
Note that @tmeschter is already looking at this.

[2018-02-05 19:45] joperezr commented on #1630
I believe we do know now what is happening here. In order for SGen to work correctly on 4.7.1, it will require one of two possible solutions:
 - Add binding redirects to it's config file. (This is the least invasive to your project, but it does mean modifying things inside VisualStudio installation, which might break things once you upgrade to the next version of .NET, so I would advise option 2)

[2018-02-05 20:53] MichaelSimons opened #9057 "Need option to optimize NuGetFallbackFolder contents for Docker/build server scenarios"
When defining a [Dockerfile](https://github.com/dotnet/dotnet-docker/blob/master/2.0/sdk/stretch/amd64/Dockerfile) intended to be used for building .NET Core apps, it is useful to have the canonical NuGet packages cached on disk in order to avoid having to re-pull them each time the image is used.  The same applies when setting up a build server machine/VM.  For both of these scenarios it is impor

[2018-02-05 22:26] nguerrera commented on #1605
This is the version of package resolution for non-SDK projects. cc @Pilchie Does this go in project-system or nuget?

[2018-02-05 22:27] nguerrera commented on #1604
This might be fixed with @eerhardt's changes.

[2018-02-05 22:28] Pilchie commented on #1605
project-system has tended to make the changes, but the code lives at https://github.com/NuGet/NuGet.BuildTasks/.

[2018-02-06 05:04] jnm2 commented on #433
Which VS version might this land in?

[2018-02-06 15:23] diegotrujillor commented on #1695
This happening to me right now, but I not able to find out any logs or details about the message described above.

[2018-02-06 16:45] clairernovotny opened #9058 "Allow including an exe shim for global tools"
Reading through the plan for Global Tools in 2.1, I noticed it mentioned generating an exe shim. It would be useful if there was a way to provide one in the package instead that would be used on Windows.

Question comes down to code signing, namely how can I sign the entry-point of my application? If I can include one or more shims, then those could be signed if the platform supports code signing.

[2018-02-06 16:49] MisinformedDNA commented on #1633
Did you ever figure this out? I'm getting this error with a much shorter CSPROJ as well.

[code]

[2018-02-06 20:36] livarcocc commented on #1157
@dsplaisted for a work around.

[2018-02-06 20:39] livarcocc commented on #1929
Will treat this as a dup of https://github.com/dotnet/cli/issues/8309, as we are already discussing your issue there.

[2018-02-06 20:39] #1929 closed

[2018-02-06 20:41] livarcocc commented on #1930
Closing the issue here as it is already being tracked somewhere else and worked on.

[2018-02-06 20:41] #1930 closed

[2018-02-07 04:50] steevcoco opened #1936 "GenerateDocumentationFile doesn't run if imported from another target"
Hello! :bowtie:

If I define GenerateDocumentationFile in an imported .targets file, then the project does not build the doc file.

With a simple imported .targets file like this:

    <Project Sdk="Microsoft.NET.Sdk">
        <PropertyGroup>
            <GenerateDocumentationFile>true</GenerateDocumentationFile>
        </PropertyGroup>
    </Project>

And a simple project like this:

    <Projec

[2018-02-07 05:05] dasMulli commented on #1936
I'm unable to reproduce this, at least on the 2.1.4 SDK. Which SDK version are you using? (`dotnet --version`)

Note that the `Sdk=""` is only meant to be used in the main csproj, not the imported targets - at least, each sdk shall only be used once. (technically, the sdk attribute results in `<Import>` statements at the beginning and end of the project that uses it and a different position may ha

[2018-02-07 05:33] steevcoco commented on #1936
Sorry: I didn't copy and paste everything in the example. The project is netstandard2.0. Here are the complete files:

Build\Sc.CommonMetaData.targets

    <Project Sdk="Microsoft.NET.Sdk">
        <PropertyGroup>
            <Authors>AUTHORS</Authors>
            <Company>COMPANY</Company>
            <Copyright>Copyright © 2015-2018 COPYRIGHT, USA</Copyright>
        </PropertyGroup>
    </Proje

[2018-02-07 05:34] dasMulli commented on #1936
Oh. remove the `Sdk=".."` attribute from everywhere but the main csproj.

[2018-02-07 05:40] steevcoco commented on #1936
Yes, OK! Sorry. That explains why I was getting "sdk.props cannot be imported again" in the build output!

Thanks!

[2018-02-07 05:40] #1936 closed

[2018-02-07 10:51] odytrice commented on #1728
Why was this closed? I have the same problem on a build server. Could it be that the right SDK is not installed?

[2018-02-07 11:55] odytrice commented on #1728
Turns out I was making a netstandard2.0 project depend on netcoreapp2.0 application

[2018-02-08 22:40] nguerrera opened #1942 "deps file is not regenerated when non-nuget references change"
Currently the target that generates the deps file only runs when project.assets.json is older than deps.json, but if non-package references are changed, then the deps file would also need to change.

We do want to keep incrementality because it is an expensive operation, but we should account for the other task parameters that can change the deps file.

[2018-02-09 00:08] nickrandolph commented on #1408
Any feedback on this? This is causing issues building multi-targetted class libraries where VS reports that the target framework is incorrect. Doesn't seem to matter whether you specify uap10.0 or uap10.0.XXXX

[2018-02-09 03:18] srayuws commented on #1728
Hi @odytrice . The answer I got is: For new libraries, they should be implemented as netstandard. netcores and netfx could both reference netstandard projects, but not reverse. And everyone could reference netfx projects is for historical compatibility.

[2018-02-09 23:00] livarcocc commented on #1942
Is this something that we should/can address for 2.1? I ask so that I can figure out which milestone to put this at.

Also, where is the code for this? I saw the GenerateDepsFilei is set to true for core or for PreserverCompilationContext == true.

Is this in the task?

[2018-02-09 23:04] nguerrera commented on #1942
Code is here:

https://github.com/dotnet/sdk/blob/9f97fce72d9d095425b72270b2b8e85d2b6acfd1/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.targets#L121-L122

This only input is the assets file.

As far as milestone, since I found this by code inspection, and haven't seen a report yet, it can maybe wait until after 2.1.3xx.

[2018-02-09 23:08] livarcocc commented on #1942
I missed the inputs, only looked at condition. All right. Marking for a future release then.

[2018-02-09 23:09] livarcocc commented on #1896
I know this one is older, but we will track this change through @nguerrera's issue here: https://github.com/dotnet/sdk/issues/1942.

[2018-02-09 23:09] #1896 closed

[2018-02-09 23:10] nguerrera commented on #1896
This weakens my argument that I only found it through code inspection.

[2018-02-09 23:12] nguerrera commented on #1942
Cheap fix is adding MSBuildAllProjects to inputs. It isn't perfect, but many other tasks use the same approximation for incrementality. We should maybe just do that. Otherwise, need to do fancier tricks like CoreCompile and GenerateAssemblyInfo do.

[2018-02-09 23:15] livarcocc commented on #1106
I am going to close this for now as ConflictResolution should address this.

if this still reproing, please let us know.

[2018-02-09 23:15] #1106 closed

[2018-02-09 23:18] livarcocc commented on #1942
I like simple fixes.

[2018-02-09 23:22] livarcocc commented on #1098
Given that the issues referenced here have all be addressed, I am going to close this one. If I got this wrong, please comment and we can re-activate it.

[2018-02-09 23:22] #1098 closed

[2018-02-09 23:35] ericstj commented on #1942
Do you gather anything more than just TargetPath from project references? (EG: copy local content, or binaries referenced by a ProjectReference)  If so, that complicates things since those wouldn't be covered by MSBuildAllProjects of this project.  If not then its probably OK.

[2018-02-11 22:00] rraallvv commented on #1518
I couldn't make option 2 work in @dasMulli's post for a Xamarin.Forms project on Visual Studio for Mac, for option 1 the configuration setting (Debug/Release) is not available.

Does anyone know of a way to get the configuration setting from Directory.Build.props? Thanks.

[2018-02-12 00:12] dasMulli commented on #1518
@rraallvv the `Configuration` property is either set by the project system loading a project or defaulted in the project file itself, so you'd need to add a default for `Configuration`:

[code]

This default would be performed by the time `Sdk.props` is imported, but in case a Directory.Build.props is used or msbuild properties are placed above the sdk import, they won't see this default when sett

[2018-02-12 00:33] rraallvv commented on #1518
@dasMulli thanks a lot.

[2018-02-12 07:08] eriawan commented on #1647
@livarcocc

Fixed in which version? Could you please elaborate and clarify?
On Visual Studi side, VS 2017 15.4.1, 15.4.2, 15.5.2, 15.5.3, 15.5.4 still have this issue.
On .NET Core SDK side, version 2.1.1, 2.1.2 still have this issue as well.

[2018-02-12 08:02] steevcoco commented on #1647
I am not having issues anymore myself; but its because in ALL possible projects, I migrated to the "new" project format --- where the "new" format is like:

    <Project Sdk="Microsoft.NET.Sdk">
        <PropertyGroup>
            <TargetFramework>netstandard2.0</TargetFramework>
        </PropertyGroup>
        <Import Project="..\..\..\Build\LibraryConfiguration.targets" />
    </Project>

Where

[2018-02-12 17:35] livarcocc commented on #1647
@eriawan VS 15.6. SDK will be 2.1.100.

[2018-02-12 17:55] livarcocc commented on #1107
Reading the linked project-system bug, it does not seem like this issue is needed anymore (nor even comprehensive to treat the bug). So, I am going to close it. If I got this wrong, just comment and I can re-activate it.

[2018-02-12 17:55] #1107 closed

[2018-02-12 18:45] livarcocc commented on #1547
You can turn off appending the TFM to the path by setting AppendTargetFrameworkToOutputPath to false.

Similarly, you can turn off appending the RID to the path by setting AppendRuntimeIdentifierToOutputPath to the path.

I don't believe not setting these for single TFM projects is the right approach, because then folks will have to build this logic in their scripts/tests if they are figuring out

[2018-02-12 18:45] #1547 closed

[2018-02-12 18:46] davidmatson commented on #1547
For 3.0, could we make the default of both Append* false if there's a single TFM and RI? That gets us back to path length parity with full .NET Framework for the simple case.

[2018-02-12 18:48] tannergooding commented on #1547
I don't believe so. That would be considered a breaking change for existing SDK consumers and would disrupt anyone dependent on the existing behavior.

[2018-02-12 19:15] livarcocc commented on #1561
@nguerrera is this issue now tracking the new syntax to set the TFM for a project reference? Or is it tracking something else?

[2018-02-12 19:17] livarcocc commented on #1538
@wli3 this seems simple enough. I will mark it for 2.1.3xx, any chance you can get this in in between your other stuff?

[2018-02-12 19:19] livarcocc commented on #1689
@dsplaisted can you take a look?

[2018-02-12 20:46] livarcocc commented on #1739
@pranavkm is this still reproing for you? I just tried this using the latest CLI from master and dotnet run and open the page worked as expected using your repro repo above.

[2018-02-12 20:49] livarcocc commented on #1113
Should we use this issue to track adding a message when OutDir is set while multi-targeting?

[2018-02-12 20:51] livarcocc commented on #1092
@Pilchie is this a project system issue?

[2018-02-12 21:09] Pilchie commented on #1092
It's a general problem.  Most of VS is still completely unaware of the concept of multi-targeting, and the default VS APIs just return the first TFM as the TFM of the project.

In this case, I think the resx designer uses the "Design Time Assembly Resolution" to look at what things resolve in the project.

[2018-02-12 21:28] dsplaisted commented on #1703
@yaakov-h Are you still having issues with this?  Using Visual Studio 15.5.2, I didn't get a MissingMethodException with your repro.

Thanks!

[2018-02-12 22:39] livarcocc commented on #1832
Correct. We don't have any plans at the moment to support these TFMs out of the box.

[2018-02-12 22:39] #1832 closed

[2018-02-12 22:52] livarcocc commented on #1814
This issue seems to be about supporting crossgen in build/publish. As such, let's use dotnet/cli#1437 to track that. I have closed other crossgen issues against that one before.

[2018-02-12 22:52] #1814 closed

[2018-02-12 23:09] yaakov-h commented on #1703
I managed to fix this with a manual assembly binding redirect.

However, after checking out the repro repo (above) and switching branch to `15.3-missingmethod`, I get the missing method exception with:

- Visual Studio 2017 Enterprise v15.5.5
- Visual Studio 2017 Enterprise v15.6.0 Preview 4.0

[2018-02-12 23:53] #1628 closed

[2018-02-12 23:54] livarcocc commented on #1383
@nguerrera is this the issue you were referring to last week?

[2018-02-13 00:09] nguerrera commented on #1458
I am taking a slight detour to fix some more perf issues in ResolvePackageAssets first. Doing it in the other order will cause the fix for this to negatively impact perf. This is still coming soon.

[2018-02-13 00:11] nguerrera commented on #1383
Yes. Duplicate of https://github.com/dotnet/sdk/issues/1458

We will be fixing this in 2.1.300.

[2018-02-13 00:11] #1383 closed

[2018-02-13 01:27] nguerrera commented on #1001
We've already removed the code here: https://github.com/dotnet/sdk/commit/38cd3bdfa3c7ed47c533b9ecc98e0310ea126282#diff-7eff410a9a7fafbb40f5405239e45623L130

[2018-02-13 01:29] mikeharder opened #9080 ""dotnet run" passes unexpected arguments to application being run"
## Steps to reproduce
1. Create a console app which prints its arguments:

[code]

2. `dotnet run foo -- bar`

## Expected  behavior
Only arguments after `--` are passed to application.

## Actual behavior
### SDK v1.1.7
All arguments (including `--`) are passed to application:

[code]

### SDK v2.1.4
All arguments (excluding `--`) are passed to application:
[code]

[2018-02-13 01:34] nguerrera commented on #1001
No, that only removed a duplicate copy of the code.

This bug tracks removing the following, which was only supposed to be necessary for a period of time during VS 15.3 development where not all components with configuration-related changes were inserted with the needed fixes to not have it.

https://github.com/dotnet/sdk/blob/83ba345017d368c80e2d24090a2507a0f4627001/src/Tasks/Microsoft.NET.Build.

[2018-02-13 02:01] mairaw commented on #1113
Can someone clarify everything that needs to be documented here and what are the scenarios we're talking about? Ideally, we'd open a doc bug with details of what we're missing.

[2018-02-13 14:10] Nirmal4G commented on #1561
Is the related issue #1416 tracking this?

[2018-02-13 18:06] clearwaterstream commented on #1720
I'm running .NET 2.0.1 with .NET 4.7.1 and for now I just add App.config with these settings:

[code]
GCSettings.IsServerGC is now set to true.

Would be nice if I did not have to do this and this was auto configured (and respected) via ServerGarbageCollection in csproj file ...

[2018-02-13 18:38] jnm2 opened #1957 "Improve implicit .NET standard facade references"
If you reference [System.Collections.Immutable 1.4.0](https://www.nuget.org/packages/System.Collections.Immutable/1.4.0) in a net462 project, it picks the netstandard2.0 System.Collections.Immutable dll. Unfortunately, the build system copies not just `netstandard.dll` but all the .NET Standard 1.\* facade assemblies as well. This means 72 unreferenced, unused System.\* and Microsoft.\* DLLs show

[2018-02-13 18:42] pranavkm commented on #1739
We've been using 2.1.0-preview1\preview2 sdks for a while now and I haven't seen this issue reproduce.

[2018-02-13 18:42] #1739 closed

[2018-02-13 18:49] patrickjamesbarry commented on #335
I did the quick start tutorial https://www.microsoft.com/net/learn/get-started/macos and changed the TargetFramework to net451. That is when the quick start became rabbit hole.  Alot of the information that inched me forward I got from this ticket, or the linked tickets. However, I don't know if this is really all relevant or all these manual workarounds are still needed. Just to get it to build,

[2018-02-13 21:09] nguerrera commented on #1458
Note to self: Make sure to check publish behavior: pdbs from packages should be published unless symbol publishing is disabled. This applies to more to .NET Core, not just .NET Framework.

[2018-02-13 23:36] #1001 closed

[2018-02-13 23:51] livarcocc commented on #1593
It seems the issue here has been addressed. The right way to generate code and include it in your project.

Also, as @dasMulli noticed, we have a bug tracking adding the --no-build flag back to the publish command.

[2018-02-13 23:51] #1593 closed

[2018-02-13 23:57] livarcocc commented on #1957
cc @dsplaisted @ericstj

[2018-02-13 23:58] livarcocc commented on #1911
Closing this issue since we haven't had activity here in a while. Will re-activate once I get an answer to my questions above.

[2018-02-13 23:58] #1911 closed

[2018-02-14 00:01] livarcocc commented on #1405
Closing this issue in favor of the MSBuild one. If I got this wrong, just comment and I can re-activate.

[2018-02-14 00:01] #1405 closed

[2018-02-14 00:21] livarcocc opened #9082 "Remove SignNupkg and SignSDKResolverContents targets"
We have changed our sign project to sign all assemblies together, however, we had to keep the targets above around so as not to break build definitions that still invoke them.

Once this change permeates to other branches, we can then remove the steps from the build defs and delete these empty targets.

See PR https://github.com/dotnet/cli/pull/8601

[2018-02-14 09:42] aeroson commented on #795
None of the above worked for me, ended up including the ,xml file into project with Properties: "Build Action": Content, "Copy to Output Directory": Copy always

[2018-02-14 16:47] ericstj commented on #1957
You'd actually need a more assemblies than just netstandard.dll, since netstandard.dll requires more API than  was included inbox.  The following assemblies have types that are part of netstandard2 but not in .net 4.6.2.  /cc @weshaggard @joperezr

- System.Data.Common
- System.Diagnostics.StackTrace
- System.Diagnostics.Tracing
- System.Globalization.Extensions
- System.IO.Compression
- System.Ne

[2018-02-14 17:32] jnm2 commented on #1957
Funny you mention that. We've been using a separate dependency trimmer which requires you to explicitly opt in or out of each assembly not transitively referenced from the main build output. I wasn't looking forward to adding 72 lines to the csproj and it seems there would be more general interest in not outputting all of them.

I may try your dependency trimmer though. Even better if it detects,

[2018-02-14 17:46] ericstj commented on #1957
Yes, we drill through type-forwards.

[2018-02-14 23:12] livarcocc commented on #1406
Given that this was a change to .NET Framework and that there is a workaround, I am going to close this issue. If I got this wrong, let me know and I can re-activate.

[2018-02-14 23:12] #1406 closed

[2018-02-14 23:44] peterneave commented on #795
Realised that I was calling msbuild with Release configuration (the same way the build agents were). I solved my problem by simply including the Documentation file in my project.

`  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">

    <DocumentationFile>bin\Api.XML</DocumentationFile>
  </PropertyGroup>`

[2018-02-14 23:49] livarcocc commented on #1631
I have re-created the tags for 2.0.2 all the way to 2.1.4 and pushed them. I did my best to find the right commits.

[2018-02-14 23:49] #1631 closed

[2018-02-15 15:45] ericstj commented on #1631
Thanks Livar.

[2018-02-15 20:32] livarcocc commented on #1416
Yeah, let's track it at #1561

[2018-02-15 20:32] #1416 closed

[2018-02-16 08:19] xen2 opened #1966 "Generate multiple variants of an assembly using same TargetFramework"
Note: not sure if this fits here, nuget or msbuild...

We ship a game engine which has some compile-time difference between platforms (iOS vs Linux vs Windows) and graphics API (OpenGL vs Windows, which have separate PackageDependencies).

Note that only few of those packages are platform/graphics-API specific.
i.e., we might have Engine (cross-platform) which depends on Graphics (one per graphics

[2018-02-16 08:59] kierenj commented on #1406
@livarcocc I don't quite understand - what's the workaround?  I still get the same warnings?

[2018-02-16 17:20] livarcocc commented on #1406
adding @weshaggard and @joperezr are you guys aware of changes to System.XML in .net framework?

[2018-02-16 17:21] livarcocc commented on #1966
@emgarten who might have some ideas on how to organize the nupkgs in this case.

[2018-02-16 17:21] chillitom opened #1967 "Method 'System.IO.Directory.GetParent' not found in Microsoft.PackageDependencyResolution.targets"
Getting the error discussed below on a CI box that has VS2017 Build Tools installed.  The build completes successfully on my workstation where I have VS2017 Professional 15.5 installed.

The solution is being built using MSBuild as the `dotnet build` command fails due to this issue with ResX files: https://github.com/Microsoft/msbuild/issues/2221

Versions:
- NuGet: 4.5.1
- MSBuild version '15.5.1

[2018-02-16 17:26] livarcocc commented on #1967
@nguerrera can you take a look?

[2018-02-16 17:36] weshaggard commented on #1406
There isn't much we can really do to fix this warning, as we do not service targeting packs especially not for unsupported scenarios like yours. I assume you realize that using the Microsoft.TargetingPack.NETFramework.v4.5.1 package is an unsupported scenario, while it may work those packages are intended for usage in our build infrastructure only. There are issues filed to provide a first class s

[2018-02-16 18:08] kierenj commented on #1406
Oh ok - no I wasnt aware. Is xplat building for windows on linux not an officially supported thing? Of course I can live with warnings, but good to have an idea of the landscape

[2018-02-16 18:11] weshaggard commented on #1406
xplat building for .NET Framework is not an officially supported thing. We hope to make it supported in the future.

[2018-02-16 22:05] dknippel commented on #1570
so is this issue resolved with a newer .NET Core SDK?  I downloaded the "latest" which installs as 2.1.300 - Preview (x64).  However, I am not able to publish anything when I set a runtime id of **debian.8-x86** or **debian-x86**.  Am I missing something on my dev box or is running a self-contained .NET Core app on a 32-bit Linux box (Debian Jessie) not supported?

[2018-02-16 22:39] livarcocc commented on #1570
32bit linux is not supported.

[2018-02-16 22:40] dknippel commented on #1570
ah, ic.  thanks for the update :-D

[2018-02-17 01:49] halter73 opened #9093 "No error message is displayed when "dotnet run" fails due to an incompatible RuntimeIdentifier"
## Steps to reproduce

1. Add a RuntimeIdentifier incompatible with the current platform to a project. E.g. target "win-x64" on macOS.
2. `dotnet run`

## Expected  behavior

Some sort of error message should be displayed explaining that the specified runtime is incompatible with the current platform.

## Actual behavior

No error message is displayed. `dotnet run` silently fails with exit code 8.

[2018-02-20 14:16] superriva commented on #1916
Same errors. I have to downgraded to 6.0+20170902-3 too.

[2018-02-20 16:44] danmoseley opened #9097 "Tests don't run clean with JIT debugger registered"
1. Register a JIT debugger eg `windbg -I`
2. `build` from root.

It pops windbg several times for tests in places like \test\Microsoft.DotNet.Cli.Utils.Tests\ItShowsStackTraceWhenRun\AppThrowingException\App

Since many developers have a JIT debugger registered, this prevents the run completing without manual intervention.

[2018-02-20 17:23] vsccarl opened #1975 ".NET Core 2.1 framework option available in 15.5 TFM"
After installing .NET Core 2.1 on VS 15.5, the option to select it in the project properties page becomes available. Building the project does not seem to produce any errors.

[2018-02-20 18:52] peterhuene commented on #1916
I believe this issue belongs to corefx and dotnet/corefx#26966 captures the issue.  Closing in favor of that issue.

I also run Arch and can confirm that downgrading to 6.0+20170902-3 is a passable workaround until the framework has a fix.

[2018-02-20 18:52] #1916 closed

[2018-02-20 18:54] peterhuene commented on #1916
Also note that this does not occur when using `TERM=xterm`, so another workaround to this issue is to invoke `dotnet` with this set:

[code]

[2018-02-20 21:06] dasMulli commented on #1975
to be sure, you installed a 2.1.300-… preview version of the sdk? (`dotnet --version`)

if so, you should create a `global.json` file in the solution's directory (or in a a directory above the source files you are working with) pinning the version of the sdk to be used to a non-preview one:

[code]

[2018-02-21 05:52] xen2 commented on #1966
I also noticed packages such as https://www.nuget.org/packages/runtime.opensuse.13.2-x64.runtime.native.System.Security.Cryptography.OpenSsl/
Maybe I could reuse this "runtime" system, seems to match closely what I want to do (for C# rather than C++ though).

[2018-02-21 12:15] godrose commented on #901
@weshaggard This solution didn't work for me.
I've added the two configuration lines in the .NET Framework project and rebuilt the whole solution.
Still the .NET Standard package upon which the .NET Standard project depends isn't flown to the .NET Framework project's output folder

[2018-02-21 16:54] weshaggard commented on #901
@godrose any chance you could post a simple repo solution somewhere? I do expect you are hitting the limitations outlined in this issue but I can hopefully help you find the right workaround.

[2018-02-21 17:09] godrose commented on #901
I have an actual not-so-simple repro solution you can clone.

1. Clone the https://github.com/LogoFX/Samples.Specifications
2. Select the `DebugWithFake` build configuration
3. Rebuild the solution
4. Start it. Supply the 'Admin` and `pass` as username and password.
5. You should arrive at the main screen and see the grid with data.

How to reproduce the issue:

1. Clean the ../bin/DebugWithFake f

[2018-02-21 18:09] weshaggard commented on #901
@godrose interestingly enough I got just the opposite results from you. With the simple clone at commit https://github.com/LogoFX/Samples.Specifications/commit/437cf1069b163c55abfd8867c2c56ee878405433 I get the "object reference is not set to an instance of an object" error. However if I go back one commit to https://github.com/LogoFX/Samples.Specifications/commit/8603d82b723debb0efc5fe22d740d6f3d

[2018-02-21 18:15] godrose commented on #901
Thanks. I will check this.
I'm just trying out this approach to see if it fixes the issue

On 21 Feb 2018 20:09, "Wes Haggard" <notifications@github.com> wrote:

[2018-02-21 19:51] #531 closed

[2018-02-21 19:59] dsplaisted commented on #661
Compilation errors do report the target framework they apply to:

![image](https://user-images.githubusercontent.com/145043/36502319-6a335ebe-16fe-11e8-9960-d902405eac80.png)

@rainersigwald @AndyGerlicher @jeffkl @cdmihai Any thoughts on whether it would be possible to add information to an error message about which inner build it came from for multi-targeted projects?

[2018-02-21 21:28] rainersigwald commented on #661
It's pretty hard, unfortunately. But it's a longstanding problem in MSBuild. I filed https://github.com/Microsoft/msbuild/issues/3015 to describe the problem and think about options (and collect proposals if anyone wants to make one).

[2018-02-21 23:47] nguerrera commented on #661
Duplicate of Microsoft/msbuild#3015

[2018-02-21 23:47] #661 closed

[2018-02-22 00:58] dsplaisted commented on #1716
This issue was moved to Microsoft/msbuild#3018

[2018-02-22 00:58] #1716 closed

[2018-02-22 01:05] dsplaisted commented on #1738
@pranavkm Is there a repro of this for VS 15.5+?  From the comments it sounds like it no longer repros, but could again in the future if an assembly moves from OOB to inbox.  Are there any other examples of this?

[2018-02-22 07:02] godrose commented on #901
@weshaggard
Interestingly enough I managed to login successfully and see the grid after a full clean.
I will convert the whole solution to this approach and see if it works in all scenarios.
Thanks a lot!

[2018-02-22 20:25] natemcmaster opened #9105 "Enable tab completion for bundled commands like dotnet-watch and dotnet-user-secrets"
Follow-up to dotnet/cli#8665 and dotnet/cli#8606

It would be nice to enable tab completion for the following commands that are available as bundled tools

 - dotnet watch
 - dotnet dev-certs
 - dotnet sql-cache
 - dotnet user-secrets

[2018-02-22 21:16] livarcocc commented on #1975
This is for now, by design. We are discussing other alternatives to keep VS more "inline" with the SDK version that it shipped with, but no firm plans yet.

Meanwhile, I am going to close this issue.

[2018-02-22 21:16] #1975 closed

[2018-02-23 04:57] #1071 closed

[2018-02-23 11:38] ManuelHaas opened #1987 "Post build variables empty when executing "Publish""
Hi,

a working post build event is not working when publishing the project because $(SolutionDir) and $(TargetDir) are empty.

Project file:
[code]
Error:

`The command "xcopy /D /Y "src\ABC\*.*" " exited with code 4.`

Exception:

[code]

[2018-02-23 17:47] livarcocc commented on #1777
Closing since we haven't had activity here in nearly a month. If you can answer the question above, we can re-activate this issue.

[2018-02-23 17:47] #1777 closed

[2018-02-23 17:54] livarcocc commented on #1987
This is likely a dup of https://github.com/dotnet/sdk/issues/677.

Can you try replacing your post build event with a Target?

Also, below is a exert from https://github.com/Microsoft/msbuild/issues/2743

[code]

[2018-02-23 17:54] Petermarcu opened #9108 "Publish of Framework Dependent app for a specific OS still requires restores the framework."
## Steps to reproduce
publish an application that is framework dependent but rid specific:
`dotnet publish -r win-x64 --self-contained=false`

## Expected  behavior
When I restore, I shouldn't have to restore the runtime packages for win-x64 for the framework because I don't need them.

## Actual behavior
[code]
## Environment data
`dotnet --info` output:
[code]

[2018-02-23 18:20] nguerrera opened #9109 "Flaky duplicate assembly attribute failure in CI"
I've seen this twice in CI now:

[code]

[2018-02-23 21:31] kulak opened #9110 "error MSB3103: Invalid Resx file"
## Steps to reproduce

build on windows with command

    dotnet build

It appears that I have resolved the error after I renamed "C#" directory to be "CSharp".

## Expected  behavior

Code should compile.

## Actual behavior

Error message:

    C:\Users\builder\projs\MowocHe\mdapi\C#\Itron.Mdapi.Cosem\DLMS\DLMSCommStrings.resx : error MSB3103: Invalid Resx file.
    Could not find file 'C:\Users

[2018-02-23 21:32] steveharter commented on #1847
@nguerrera the core-setup work on DependencyModel is now in, so this issue is now unblocked and the work to add the assemblyVersion and fileVersion can now occur during build\publish

[2018-02-24 00:29] richlander opened #9112 "Enable `dotnet sln` to add SLN-level files"
I wasn't able to add SLN-level files to a `.sln` file with the commandline tools. VS enables me to do this.

[2018-02-24 18:35] sebastienros opened #9114 "Locally cached runtime/sdk images for dotnet-install"
I could use a new feature in `dotnet-install` that would cache the files locally as the filenames vary for each version.

I run dotnet-install during CI jobs, and it downloads the image on every call where it could be cached locally instead. I believe that passing a custom cache folder would be enough, and if the file is found locally the azure feed would not be used.

This would be opt-in so any

[2018-02-26 04:43] richlander opened #9117 "Cannot rollforward application to a later .NET Core version at publish"
## Steps to reproduce

This is what I want to do with an existing .NET Core 2.0 app:

[code]

## Expected  behavior

With framework-dependent applications, I can run them a 2.0 application on 2.1 w/o issue. Standalone applications don't have that option. The original source file needs to be updated. This is very similar to the behavior we used to have for RIDs, where all possible RIDs had to be in

[2018-02-26 12:18] oflahero commented on #1539
+1. thanks for sharing the knowledge - just saved me from NuGet/.netstandard/assembly redirect hell.

[2018-02-26 14:44] jkotas opened #1996 "netstandard deps.json and the netfx gac are not compatible"
_From @ForkBug on February 26, 2018 14:32_

I create a windows C# project A. A refers to netstandard project B. B refers to a couple of nuget, like C,D,E.
The problem is, C,D,E couldn't be found in A's project output folder. They have to be copied manually.

The root cause may be the netstandard deps.json and the netfx gac are not compatible. Core/netstandard use another way to find dependencies.

[2018-02-26 18:07] ManuelHaas commented on #1987
I don't know it its a dup of #677. The error here occurs when publishing a solution. So publishing in conjunction with post build events with variables is not possible.
Replacing the post build event with a Target would work but is inpractical in team environment.

This is a joke, right? Is this the official position of Microsoft? If yes why are sln files still included in project templates?

[2018-02-26 18:20] dasMulli commented on #1987
you could also do

[code]

instead of the post build event. That way it even works cross-platform (`xcopy` is windows only)

[2018-02-26 18:26] pranavkm commented on #1738
@dsplaisted I couldn't reproduce the original issue with VS 15.5.6. I'm not familiar with what it would take to move an assembly in to the framework, so I can't get you a new sample to reproduce this with. Would the guidance be to update VS \ .NET Framework for now and we can revive this issue the next time something gets moved in to the fx?

[2018-02-26 19:43] nguerrera commented on #1157
See https://github.com/dotnet/project-system/issues/3181#issuecomment-368396256

Yes, I think this is the right fix.

[2018-02-26 19:47] ManuelHaas commented on #1987
@dasMulli Thanks a lot! I didn't know about that. This solved it for me.

[2018-02-26 22:11] dsyme commented on #335
I got mileage from this, placed in a `netfx.props` and imported in each relevant project
[code]

[2018-02-26 22:26] nguerrera commented on #1157
@livarcocc @dsplaisted, we should probably re-triage this. It gets reported a lot and I think @davkean has a good, simple proposal to address it.

[2018-02-27 00:14] wli3 opened #1998 "Cannot create tool with P2P using dotnet pack"
fail with
`/usr/local/share/dotnet/sdk/2.1.300-preview1-008162/Sdks/NuGet.Build.Tasks.Pack/build/NuGet.Build.Tasks.Pack.targets(198,5): Could not find a part of the path '/Users/williamli/Downloads/testp2p/leaf/bin/Debug/netcoreapp2.1/publish'. [/Users/williamli/Downloads/testp2p/main/main.csproj]`

[2018-02-27 14:30] vishalpatel-te commented on #1630
@joperezr I just tried option 2, and still getting the same error. I have a project that has webservice references.
`SGEN An attempt was made to load an assembly with an incorrect format: C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.7.1\Facades\System.IO.Compression.ZipFile.dll.`

[2018-02-27 20:34] #1608 closed

[2018-02-27 20:34] #1632 closed

[2018-02-27 21:32] #783 closed

[2018-02-28 07:51] velvetdust commented on #1967
I have the same problem actually. Microsoft.PackageDependencyResolution.targets(557,9): error MSB4186 too

[2018-02-28 09:21] DoCode commented on #1518
Please reopen this issue!

[2018-02-28 09:41] DoCode commented on #1518
## **Because:**

When I use a `netcoreapp2.x` with a _project reference_ to a `netstandard2.x` project and I set the `BaseIntermediateOutputPath`, then the build/publish failed with this error:
[code]

## Steps to reproduce:

1) Create class lib
`dotnet new classlib --name dotnetcore-lib --output src/dotnetcore-lib`
2) Create web app
`dotnet new web --name aspnetcore --output src/aspnetcore`
3) Ad

[2018-02-28 09:49] davkean commented on #1518
@DoCode Please file a new bug.

[2018-02-28 09:51] DoCode opened #2003 "Setting BaseIntermediateOutputPath breaks netstandard2.0 builds"
## **Because:**

When I use a `netcoreapp2.x` with a _project reference_ to a `netstandard2.x` project and I set the `BaseIntermediateOutputPath`, then the build/publish failed with this error:
[code]

## Steps to reproduce:

1) Create class lib
`dotnet new classlib --name dotnetcore-lib --output src/dotnetcore-lib`
2) Create web app
`dotnet new web --name aspnetcore --output src/aspnetcore`
3) Ad

[2018-02-28 09:58] darrensteadman commented on #1679
I was just wondering if any progress had been made on this or if there was a potential work around while a fix was being sorted out?

[2018-02-28 19:43] livarcocc commented on #1996
@nguerrera

[2018-02-28 19:43] livarcocc commented on #2003
@nguerrera

[2018-02-28 19:44] livarcocc commented on #2003
cc @dsplaisted can you take a look at this one? I remember you were looking at something similar already.

[2018-02-28 19:54] KevinH-MS opened #2005 "Project specifying <Platforms> element cannot be referenced from agnostic project"
See:  https://github.com/KevinH-MS/platformsbug

I have a lib project with:
```<Platforms>x64</Platforms>```

and a test project that does not specify any platforms (that references the lib).

When I compile, I get:
[code]

If I add ```<Platforms>x64<Platforms>``` to the test project, I don't get the compile error, but other things in VS break (like test explorer).  If I change everything to singu

[2018-02-28 22:29] wli3 commented on #1998
This issue was moved to dotnet/cli#8705

[2018-02-28 22:29] #1998 closed

[2018-02-28 22:40] dsplaisted commented on #2003
Setting `BaseIntermediateOutputPath` from the command line isn't supported when you have project references.

The problem is, when you build a project, its references are also built.  In this case, when you build `aspnetcore.csproj`, it in turn builds `dotnetcore-lib.csproj`, and the `BaseIntermediateOutputPath` flows through and both projects end up trying to use the same `project.assets.json` fi

[2018-03-01 02:09] xen2 opened #2009 "Create packages with multiple RuntimeIdentifiers cross-platform build"
Using `<TargetFrameworks>` results in multiple builds and is properly supported by NuGet pack (`lib/<tfm>`) and Visual Studio.

However, `<RuntimeIdentifiers>` doesn't seem to have much impact except for package consumption.
I was expecting to also be able to create such NuGet packages, with `runtimes/<runtime>/lib/<tfm>` folders.

For the use case, I would like to develop a library that support t

[2018-03-01 06:23] DoCode commented on #2003
First, @livarcocc, @nguerrera... Thanks for your fast response! Very Great!

@dsplaisted, ok. I understand and tried it. And it worked!

But what about when I restore, build/publish with `--no-dependencies --force` like this:
[code]

This does not work. But it from the wording from the arguments it should.

The question is, how can we tell the underlying compiler/linker the path to the 'pre-compil

[2018-03-01 07:02] dsplaisted commented on #2003
If you want to use a DLL directly instead of building the referenced project, then you can use a `Reference` instead of a `ProjectReference` in your project file.  But I think it would be helpful to understand why you want to do this, there may be a better way to do it.

As for why `--no-dependencies` didn't work, even if the referenced project isn't being built, it still calls the `GetTargetPath`

[2018-03-01 17:25] karkatic commented on #2005
in addition, test coverage finds 0 coverage still, even with the workarounds

[2018-03-01 18:50] natemcmaster opened #2014 "Add obsolete warning for DotNetCliToolReference packages that are now built-in commands"
A few ASP.NET Core packages that used to be installed via DotNetCliToolReference will be built-in commands for the CLI.  When invoking "dotnet watch" now, it will use the built-in version, not the one delivered via DotNetCliToolReference, so DotNetCliToolReference should be removed.
cref https://github.com/aspnet/Announcements/issues/290.

Since we don't have a proper way to issue obsolete message

[2018-03-01 18:54] livarcocc commented on #2014
@dsplaisted @nguerrera do we have a good place to do that in the SDK? Or is this something that we should probably ask NuGet to do (that's my initial preference).

[2018-03-01 19:27] dsplaisted commented on #2014
We could do this in the SDK if we had to.  There are a few other options that don't involve new features.

ASP.NET could publish updates to the packages that would have a .targets file in them that generated a warning.  This would work without any new NuGet features, but would only warn if these packages were updated to the latest versions.

Another option would be to have the new `watch` tool sca

[2018-03-01 19:59] natemcmaster commented on #2014
We considered some of these. Unfortunately...

DotNetCliToolReference doesn't import targets, only PackageReference.

This might work and is the alternative we've considered, but we wanted to raise the visibility of the warning to restore if possible. Also, implementing this kind of scanning can be a pain due to https://github.com/Microsoft/msbuild/issues/1097

[2018-03-01 20:00] natemcmaster commented on #2014
FWIW - I'm inclined to push harder for NuGet/Home#2867 too, but I have no idea how much NuGet has on their plate right now.

[2018-03-01 21:22] livarcocc commented on #2009
This issue was moved to NuGet/Home#6633

[2018-03-01 21:22] #2009 closed

[2018-03-01 21:57] KathleenDollard opened #2015 "VB project gives target error, not compiler error"
When building a Visual Basic application via the CLI in 2.1.300-Preview2, compiler errors are not reported to the user.

## Steps to reproduce

* Create a VB console ap
* Create an error in the application. Mine was (the Program.cs)

[code]

Build via CLI.

## Expected Result

Errors about my code. This is the result if I target netcoreapp2.0 and use SDK 2.1.3:

[code]

## Actual Result

Errors fr

[2018-03-01 22:32] livarcocc commented on #2015
This issue was moved to dotnet/roslyn#25173

[2018-03-01 22:32] #2015 closed

[2018-03-02 19:51] CIPop commented on #335
I've reached this issue searching for a way to build the same multi-target csproj file on Windows and Linux skipping unsupported targets.
If you need to build on Linux/Mac but avoid building net4* targets, the solution is:

[code]

Kudos goes to @nguerrera for helping with this.

[2018-03-02 21:35] SayusiAndo commented on #1241
Hi All,

Any update on this?

I have a Durable Functions project, which references netstandard2.0. Other class library projects point to netcoreapp2 and I got the same error.

Durable Functions project:

[code]

Class library project:
[code]

Error:
`Project '..\.csproj' targets 'netcoreapp2.0'. It cannot be referenced by a project that targets '.NETStandard,Version=v2.0'. (1, 1)`

Environment:
[c

[2018-03-02 22:00] weshaggard commented on #1241
@SayusiAndo that error is correct and by design. You cannot reference a class library targeting .NET Core 2.0 from a .NET Standard 2.0 project, you can do the reverse though.

[2018-03-02 22:28] nguerrera commented on #335
@CIPop. Not sure if it's still true but at one point VS was not happy with not having at least one TargetFrameworks without conditions. I worked around that by having the first one be unconditional (Windows case) and then overwriting it in non Windows case:

[code]

[2018-03-02 22:48] cwe1ss commented on #335
It's all basically the same but I prefer having the universal targets first and then adding the windows targets. This ensures that targets don't have to be defined multiple times:

[code]

[2018-03-03 00:12] CIPop commented on #335
I confirm that it is still not happy at all (and the issue is not obvious at all).
One nit-pick @cwe1ss - looks like VS picks by default the first TFM (in the above case the default would be netstandard1.3). Since I normally want to develop on the netstandard2.0 TFM most of the times, I'm reversing the order in the first TargetFrameworks statement.

[2018-03-05 00:45] nguerrera opened #2018 "New warning about preview SDK is logged a lot in large solution"
When I build https://github.com/mikeharder/dotnet-cli-perf/tree/master/scenarios/web/large/core, I get spammed with the message.

NETSdkMessage even manages to take up 74 ms.

cc @livarcocc

[2018-03-05 00:48] nguerrera opened #2019 "Preview warning should use aka.ms and redirect to language neutral URL"
We should use an aka.ms (like in other messages we have) so that we can point to a different page without servicing the product.

Also, we should remove the /en-US/ from the redirect to docs.microsoft.com to let docs.microsoft.com choose the appropriate language based on the user's web client.

[2018-03-05 00:48] nguerrera commented on #2019
cc @livarcocc

[2018-03-05 02:03] Jose-CF commented on #560
Yes, this issue for me still not solved.

[2018-03-05 02:04] nguerrera commented on #1711
#2020 should bring this down to a bare minimum for the incremental (normal) build case. We now deserialize into ITaskItem[] with near zero waste when project.assets.json. However, I'm leaving this open after this goes in because we still use the old ResolvePackageDependencies for the dependencies node in the IDE. I will be working with project system folks to get that fixed next.

[2018-03-05 02:04] nguerrera commented on #1711
cc @abpiskunov @Pilchie

[2018-03-05 04:10] nguerrera commented on #560
Third time: Please open a new issue and include the full steps you are using to reproduce the problem. This issue was about a very specific problem that is no longer relevant. The error message can be triggered by different means.

[2018-03-05 17:58] livarcocc commented on #2018
Can you think of a better location (target dependency) to put this message on? Maybe we should do it only for build?

[2018-03-05 17:59] livarcocc commented on #2019
@KathleenDollard can you work with angelos to come up with the appropriate links following @nguerrera's suggestions above?

[2018-03-05 19:43] nguerrera commented on #2018
I think the ideal behavior is once per build invocation, not even once per project. I think we're now getting it once per (project, tfm), which is way too much.

@rainersigwald Is there a good pattern for logging a message once per build invocation? I'm thinking maybe something that caches whether it's been logged with the build engine and appropriate lifetime, but that seems heavy-handed.

[2018-03-05 19:44] nguerrera commented on #2018
(Even that probably wouldn't work with parallel nodes, right?)

[2018-03-05 20:15] dsplaisted opened #9138 "Add process to make sure .swr file is updated in VS when necessary"
There is an .swr file (`VS.Redist.Common.Net.Core.SDK.MSBuildExtensions.swr`) in the Visual Studio tree which defines which files are inserted for the MSBuildExtensions and how they are laid out.  We generate this file as part of the CLI build (see the `GenerateMSBuildExtensionsSWR` task), but updating the copy in the VS tree is a manual step which is easy to forget (especially since it only needs

[2018-03-05 21:15] AngelosP commented on #2019
@nguerrera if you give me the "real" URL I'll create a dynamic link for all supported languages.

[2018-03-05 21:32] nguerrera commented on #2019
@AngelosP https://docs.microsoft.com/en-us/dotnet/core/tools/global-json is what we currently have hard-coded.

[2018-03-05 21:50] AngelosP commented on #2019
@nguerrera here you go https://go.microsoft.com/fwlink/?linkid=869452

[2018-03-05 22:43] davkean opened #2024 "File.cs.cshtml cannot become EmbeddedResource"
_From @abpiskunov on March 2, 2018 6:17_

1. Create a new core Web app
2. in File Explorer find some cshtml page (Error.cshtml and rename it to Error.cs.cshtml.
3. In VS change type of Error.cs.cshtml to EmbeddedResource (notice it will be removed from Content in csproj)
4. Build
5. Open assembly manifest and see - no embedded resources
6. When rename file to Error.cshtml , build, assembly manifes

[2018-03-05 22:43] davkean commented on #2024
This would be a build issue, no?

[2018-03-05 22:43] davkean commented on #2024
_From @nguerrera on March 2, 2018 20:38_

Could be sdk or msbuild. Feel free to move to sdk for next look.

[2018-03-05 22:43] davkean commented on #2024
_From @dsplaisted on March 2, 2018 20:40_

I want to take a look at this, but I suspect it is CPS not understanding how to modify the project to change the item type given the default globs that the project has.

[2018-03-05 22:43] davkean commented on #2024
_From @abpiskunov on March 2, 2018 21:56_

we have a vs feedback bug associated with that 574198. Who should i assign to? Who is doing first investigation here?

[2018-03-05 22:43] davkean commented on #2024
_From @abpiskunov on March 5, 2018 20:7_

Ok i am assigning the bug to Daniel first. Please route it further if it is not yours.

[2018-03-06 00:43] livarcocc commented on #2005
@KevinH-MS this seems like a problem in VS. I just tried dotnet test on the test project in your repro repo and one tests was executed and passed.

@Pilchie could this be an issue in the project system?

[2018-03-06 00:44] livarcocc commented on #1408
RIght now, the MSBuildSdkExtras is the only way to make this work, as suggested above. This is not natively supported in the SDK.

[2018-03-06 00:44] #1408 closed

[2018-03-06 01:03] livarcocc commented on #1038
@dsplaisted can you take a look?

[2018-03-06 01:19] mqudsi commented on #1408
@livarcocc is there an intention to support it in the future, or has that not been decided?

[2018-03-06 01:25] rainersigwald commented on #2018
In a single process you could use [`RegisterTaskObject`](https://github.com/Microsoft/msbuild/blob/bf2f8a4e91195d049060b253d9d47ace4cc62017/src/Framework/IBuildEngine4.cs#L38-L66)/`GetRegisteredTaskObject` to keep track of whether you've already logged the message, but I don't think there's a nice easy way to get the same behavior across nodes.

[2018-03-06 01:26] nguerrera commented on #2018
Once per node is a lot better than what we have now. Maybe we should start with that.

[2018-03-06 15:21] ForkBug commented on #1996
@nguerrera well,  it's open for one year...

[2018-03-06 17:39] Pilchie commented on #2005
@davkean any ideas here?

[2018-03-06 18:11] livarcocc commented on #1633
@MisinformedDNA I just tried your project above and could not repro this issue. I used 2.1.300-preview1, which our latest preview for .NET Core 2.1.

I created a console application and then replaced my csproj with yours above. Can you try that out and let us know if that still repros?

@sm-g any chance you can provide us with more detailed repro steps? A small repo on github that repros the issue

[2018-03-07 00:11] dsplaisted commented on #1038
@mattleibow Is this still an issue?  It sounds like it might have been a NuGet bug when a project.json project (the UWP one) references a `PackageReference` project.  It may have been fixed by now.

@Runaurufu The issue you describe sounds like something else than what is described here.  If you are still having problems, can you file a new issue with more details and ideally repro steps or a repr

[2018-03-07 01:12] livarcocc commented on #1358
I can't repro this.

I tried it with VS 15.6 and the 2.1.300-preview1 .NET Core SDK.

This scenario worked for me when I had the class library as a project reference or a package reference.

It did fail when just referencing the assembly, but I believe that happens because in that case we don't know this is netstandard and don't bring in the extra assemblies we need to make it work.

The failing c

[2018-03-07 01:26] livarcocc commented on #1358
Thanks @dsplaisted, given that, I am going to close this issue now.

@Jose-CF, if the original issue still reproes for you, please comment and give us additional details, maybe provide a small repro on github and we can re-activate it.

[2018-03-07 01:26] #1358 closed

[2018-03-07 13:37] Runaurufu commented on #1038
@dsplaisted Actually I believe it is kind of resolved now as newer versions of VS actually copy all required dll files when you build application and according to https://github.com/dotnet/standard/issues/514 with .net standard 2.0 and .net 4.7.1 applications will be working even without these additional files (for what I hope). ;p

[2018-03-07 18:23] rainersigwald commented on #2018
Another option: implement the target as a p2p instead:

[code]

[code]

Doing that BeforeTargets _CheckForInvalidConfigurationAndPlatform is a bit sketchy, though.

(came up when talking to @AndyGerlicher about something else)

[2018-03-07 18:32] nguerrera commented on #2018
Interesting. I'm worried about the overhead of that, but we could measure.

[2018-03-07 23:23] dsplaisted commented on #2024
This issue was moved to Microsoft/msbuild#3064

[2018-03-07 23:23] #2024 closed

[2018-03-08 08:56] jskeet commented on #335
Just coming to this issue after trying ages ago... it feels to me like Mono is a red herring here, or at least could be.

In my situation, I don't need to *execute* any code targeting net45; I just want to be able to *build* it. As such, it feels like I shouldn't need anything other than reference assemblies, and some way of telling the dotnet SDK where they are. Is that a hopelessly naive positio

[2018-03-08 10:19] TheAngryByrd commented on #335
@jskeet  I'm not really sure as to why but github doesn't seem to be showing all messages.

As a summary: if you're looking to build on macos/linux there's a few options.

Setting an environment variable: https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-1.0.1#using-net-framework-as-targets-framework-the-osxunix-build-fails

So put  `export FrameworkPathOverride=$(dirname $(which mono))/

[2018-03-08 10:29] jskeet commented on #335
@TheAngryByrd: That's good to know, thanks. Does that FrameworkPathOverride *only* apply to `net*` TFMs? My projects target netstandard *and* net45, so I can see myself needing to do something in the build file if it isn't smart enough already.

I'd really like to be able to do this without a full Mono installation though - as I mentioned, it feels like it should be feasible to refer to a director

[2018-03-08 10:33] TheAngryByrd commented on #335
@jskeet I haven't tried without mono installed but if it did work, the myget feed solution of would be my guess as the one that would https://github.com/dotnet/sdk/issues/335#issuecomment-271186591

[2018-03-08 10:44] jskeet commented on #335
@TheAngryByrd: Ah, missed that one. Thanks - will give it a try, although obviously a long term solution shouldn't need myget either...

[2018-03-08 12:04] akoeplinger commented on #335
Hey, please don't use `lib/mono/4.5/` for `FrameworkPathOverride`. Despite the name it contains our latest profile which means you'll get access to newer APIs that can make your code incompatible with .NET Framework.

Use the `-api` folders instead, i.e. `lib/mono/4.5-api/`, `lib/mono/4.6.1-api/`, `lib/mono/4.7-api/` etc.

[2018-03-08 12:05] akoeplinger commented on #335
And yes I agree needing Mono for this is a bit backwards since the reference assemblies could just come from NuGet.

[2018-03-08 12:23] TheAngryByrd commented on #335
Oh that's really good to know. Thanks for pointing that out.

[2018-03-08 13:21] jskeet commented on #335
Putting the various comments together, this project file works for me building a trivial project:

[code]

It's still unsupported, of course... I wonder who we need to lobby to make this an officially-supported scenario...

[2018-03-08 16:59] nguerrera commented on #335
Lobby @terrajobst and team to make the targeting pack nupkgs official. We can do the rest.

[2018-03-08 19:24] jnm2 commented on #1957
Is https://github.com/dotnet/standard/issues/667 the right place to file issues with your dependency trimmer?

[2018-03-08 20:26] ericstj commented on #1957
Yep, that's correct.  In the future you can tag me.  Sorry I didn't see it.

[2018-03-08 21:11] jnm2 commented on #1957
No problem. Thanks for getting me unblocked with dotnet/standard#667.

With `<TrimUnusedDependencies>true</TrimUnusedDependencies>`, `<RootPackageReference>false</RootPackageReference>`, and `<PackageReference Include="Microsoft.Packaging.Tools.Trimming" Version="1.1.0-preview1-25818-01" />`, no dependencies are being trimmed when building from Visual Studio or `msbuild /t:Rebuild`. I believe I'm

[2018-03-08 21:27] livarcocc commented on #994
@davkean I was told that you might be able to help me figure out what is going on here.

I think the second paragraph may be a project system issue.

And the third paragraph I don't know if we made an explicit decision or not to support this. Would you know?

[2018-03-08 21:39] ericstj commented on #1957
It's working for me.  Here's what I see on a simple project that uses one NETStandard library, but doesn't need any of the 1.x facades:
[code]
You may want to delete your output directory to get in a clean state.  It's possible incremental clean lost track of the files.

If that doesn't work can you share a repro project?

[2018-03-08 21:43] Pilchie commented on #1092
project-system is probably the best place.

[2018-03-08 21:44] #2018 closed

[2018-03-08 21:51] livarcocc commented on #1092
This issue was moved to dotnet/project-system#3366

[2018-03-08 21:51] #1092 closed

[2018-03-08 22:03] davkean commented on #994
We'll need a bug against us for the Reference dialog - I can't remember it it respects build, or we need to pass it the right context.

SDK has opt'd out of AssemblyFoldersEx.

[This line](https://github.com/dotnet/sdk/blob/6945e3694c918eea4c8c4fb6217e1485b179994b/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props#L93) says that its only remove {GAC} but it's removing more than th

[2018-03-08 23:58] livarcocc commented on #1265
I have tried this with the latest version of Visual Studio and I can't repro this.

I switched my target to ARM, build and I can see in the output the System.IO.Compression.dll file.

If this still repros for you, just comment and let us know if we are validating this wrong and we can re-activate this issue.

[2018-03-08 23:58] #1265 closed

[2018-03-09 00:02] nguerrera opened #9153 "Questionable scope of catch (KeyNotFoundException) un DotNetLevelCommandBase"
https://github.com/dotnet/cli/blob/16395078515b2d811b4b190801b74e635c46d1c3/src/dotnet/DotNetTopLevelCommandBase.cs#L35-L48

We're catching KeyNotFoundException from the entire command execution and assuming it means something very specific

Spotted in https://github.com/dotnet/cli/pull/8751#r173316569

[2018-03-09 14:27] jnm2 commented on #1957
I fixed a typo and it started working. 🤦‍♂️ All the right assemblies are now trimmed! [New issue](https://github.com/dotnet/standard/issues/670) blocking me that looks legit.

[2018-03-09 19:28] peterhuene opened #9157 "Tool commands should not permit concurrent operations."
## Steps to reproduce
1. Run `dotnet install tool -g $SOME_TOOL_PACKAGE`.
2. At the same time, run `dotnet install tool -g $SOME_TOOL_PACKAGE`.

Alternatively, do a local install with the same `--tool-path` option specified.

## Expected  behavior
One of the operations should immediately error saying another operation is in progress.

## Actual behavior
One of the operations might error in a nonde

[2018-03-09 20:17] natemcmaster opened #2032 "Build issues hundreds of spam messages about "You are working with a preview version of the .NET Core SDK.""
**Repro**

clone https://github.com/aspnet/Mvc
Install latest CLI (2.1.300-preview2-008322)
dotnet build Mvc.sln

**Result**

🤢

![image](https://user-images.githubusercontent.com/2696087/37227919-a72d42a2-2393-11e8-8bf0-e83799995ab9.png)

@livarcocc @nguerrera

[2018-03-09 20:22] natemcmaster commented on #2032
Can we safely assume that if there is a "global.json" version, that we already know we are using a preview version of the SDK?

[2018-03-09 20:33] nguerrera commented on #2032
This is down to 1 message per msbuild node but change hasn't flowed from dotnet/sdk yet

[2018-03-09 20:35] nguerrera commented on #2032
Mostly duplicate of dotnet/sdk#2018.

Taking global.json into account is interesting but not trivial in current architecture.

[2018-03-09 20:43] natemcmaster commented on #2032
Ok, let's close as dupe of dotnet/sdk#2018 since it seems you've already fixed the hundreds of warning issue. I'll open a separate one for skipping the message altogether when it's not really helpful.

[2018-03-09 20:43] #2032 closed

[2018-03-09 20:45] natemcmaster opened #2033 "How to disable "preview version" warning message?"
Currently, the SDK issues this high importance message when I build

I already have a global.json file and I explicitly set it a preview version, so the warning seems unnecessary. How can I disable this message altogether?

[2018-03-09 20:46] natemcmaster commented on #2032
https://github.com/dotnet/sdk/issues/2033

[2018-03-09 21:37] nguerrera commented on #2033
I'd be fine with a bool like $(SuppressNETCoreSdkPreviewMessage).

cc @jaredpar @natemcmaster @KathleenDollard

[2018-03-09 21:39] nguerrera commented on #2033
cc @livarcocc

[2018-03-09 22:09] natemcmaster commented on #2033
A good first step. How hard would it be to do this?

[code]

[2018-03-09 22:20] nguerrera commented on #2033
We shouldn't waste perf on it. We could know if there's a global.json at play without re probing once per msbuild node, but that requires plumbing it through.

[2018-03-09 22:52] nguerrera opened #2034 "Move import of bundled versions earlier"
Currently they're imported here:
https://github.com/dotnet/sdk/blob/6945e3694c918eea4c8c4fb6217e1485b179994b/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.props#L18

But that would be after common props, and importantly after package reference props and Directory.Build.props.

We should move it here for the same reason as noted for UsingMicrosoftNETSdk:
https://github.

[2018-03-09 23:15] livarcocc commented on #2033
Put it under discussion for now, so that we can agree on some good middle ground. I would like to have this fixed for 2.1.300 though.

[2018-03-10 00:02] jaredpar opened #2035 "S.R.TypeExtensions not deployed for net461 application"
Have a situation where System.Reflection.TypeExtensions is not being deployed. Here is the project setup that we have:

- CSharpCompilerTestUtilites: targets netstandard1.3 and uses System.Reflection.TypeExtensions
- CSharpCompilerEmitTests: targets net461 + netcoreapp2.0, references CSharpCompilerTestUtilities

The net461 output of CSharpCompilerEmitTests does not contain System.Reflection.TypeEx

[2018-03-10 02:02] firhatnawfanh commented on #1916
Hi @peterhuene Thanks for the solution, why would TERM=xterm fix the problem though?

[2018-03-10 02:08] wfurt commented on #1916
New terminfo database start using some new features and older dotnet is not able to parse it correctly.
'xterm' however did not change so everything works as it used to.

[2018-03-10 13:21] kasper3 commented on #335
@terrajobst and team, please make the targeting pack nupkgs official (including .NET Framework 2.0+ and kinds of PCL profiles). @nguerrera and team can do the rest. 🙏

[2018-03-10 15:50] Petermarcu opened #9159 ".Net core publish output is ugly"
@HolyOne commented on [Sat Mar 10 2018](https://github.com/dotnet/core/issues/1330)

Hello,
I have built a website using .net core razor pages.
My problem is when I publish the website there are hundreds of dll files.
Most often, what I am trying to find is appconfig / webconfig or main Application file

I think you should package rest of them in a bin folder or something because it looks like all

[2018-03-11 13:59] yyjdelete opened #2036 "Consider update the Microsoft.TestPlatform bundled in sdk?"
## Steps to reproduce
`dotnet test`

## Expected  behavior
The version of vstest include in dotnet sdk should follow an more recent version in it's channel when released(preview or stable)

## Actual behavior
The verion of dotnet sdk include MSBuild `15.7` and NuGet `15.7` but
`Microsoft (R) Test Execution Command Line Tool Version 15.6.0-preview-20180109-01`
While there is 3 preview and 2 stable

[2018-03-11 17:01] KathleenDollard commented on #2033
If it were free, I'd agree with @natemcmaster

Is there a way to have this automatic when global.json was used to specify the SDK without a file hit?

If there isn't, would a switch on commands be too onerous? I assume this is most annoying in scripts?

An environmental variable seems easy to overlook, although it may turn out to be the best approach.

[2018-03-11 17:42] livarcocc commented on #2036
The insertions happen while the development cycle progresses. The VS Test team hasn't inserted for 15.7 yet, therefore there has not been matching insertions into the CLI.

Thanks for pointing it out though.

[2018-03-11 17:42] #2036 closed

[2018-03-11 19:48] nguerrera commented on #2033
Complicating the command line doesn't seem worth it, and we need this to work in VS and `msbuild` too.

The msbuild variable I proposed would work as environment variable, but I imagine Directory.Build.props would be the most convenient way to leverage it.

There's no existing way to no if global.json is at play, but like I said, we could plumb it through. The main complexity is that we have to ha

[2018-03-12 00:40] livarcocc commented on #2033
I agree 100% with @nguerrera.

[2018-03-12 01:20] livarcocc commented on #1791
From the conditions you have in your project above, it seems like the Reference will always be added. Because you are checking against NetStandard alone.

[2018-03-12 06:15] sm-g commented on #1633
@livarcocc https://github.com/sm-g/EFCoreInMemorySample/tree/master/Sdk1633

VS 15.6.0

dotnet --info
[code]

[2018-03-12 06:31] davkean opened #2037 "VS 15.6 creates net461 exectuables that fail with Microsoft.Win32.Primitives not found"
_From @btrepp on March 12, 2018 5:38_

In visual studio 15.6 using the new SDK  (fsproj), if I build a project it runs fine on the machine, but when deployed to windows server it fails with (whenever it tries to do HTTP calls).

[code]
This file is in the output directory
`-a----       11/06/2016  11:13 PM          22760 Microsoft.Win32.Primitives.dll`

Why does this work on machines with VS2017 1

[2018-03-12 06:33] davkean commented on #2037
I'll move this to the SDK for now. First of all, is there an app.config being produced? I would expect this to contain a binding redirect.

[2018-03-12 06:54] btrepp commented on #2037
[code]

Here is the app.config, I've stripped out the appsettings elements.

[2018-03-12 14:35] KathleenDollard commented on #2033
I don't think I understand how the MSBuild variable would work. Can you explain the user experience (when/how this variable is set, etc)?

[2018-03-12 15:10] rainersigwald commented on #2033
I think the property is reasonable, but plumbing knowledge of `global.json` through could also help with SDK restore . . .

cc @jeffkl

[2018-03-12 15:14] lucasmeijer commented on #335
@terrajobst we at unity would also greatly appreciate having official .net framework targetting pack nugets.

[2018-03-12 16:32] livarcocc commented on #2037
Is there anything custom on the project file? Can you share that with us?

cc @dsplaisted @KevinRansom

[2018-03-12 16:36] livarcocc commented on #1791
You can condition it with something like this:

[code]
Is there a reason why something like this would not work for you? We use it like this our own projects.

[2018-03-12 16:49] natemcmaster commented on #2033
@KathleenDollard the user experience is that users need to edit their project files to contain this:
[code]

If they are using an MSBuild file commonly imported to all projects, such as `Directory.Build.props`, they only need to set it once per repository. If not, they would need to add it to each .csproj/.vbproj file in their solution.

[2018-03-12 17:04] jaredpar commented on #2033
I think the MSBuild variable is fine. There is already an unofficial MSBuild variable you can use to suppress this message. It was pretty trivial to enable this in Roslyn.

[2018-03-12 17:11] jeffkl commented on #2033
In my opinion, it is not worth the overhead of reading `global.json` to suppress this message.  I would vote to not even log it personally.  But an MSBuild property is the next best thing because it can be set in a common import or an environment variable.

[2018-03-12 17:15] dasMulli commented on #2033
regarding `global.json`: this would be hard since the logic would need to check:

1. does it exist
2. did the version selected in it match the "preview-ness" of the currently running version, e.g. if the pinned non-preview version wasn't found and a preview version was used instead. Or if a different preview-version was pinned and not found.

=> probably way too complicated to be ""correct""

[2018-03-12 18:30] dsplaisted commented on #2037
@joperezr Does this look like an issue where there's a different version of .NET, or a different patch, on the server than on the development machine?

@btrepp Can you share which version of the .NET Framework is installed both on your dev machine and on the server?

Thanks!

[2018-03-12 18:31] sathyam-kgb commented on #1321
I removed the following configuration in the csproj file:

`
	<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'">
	  <PlatformTarget>AnyCPU</PlatformTarget>
	</PropertyGroup>
`
Along with
`<RuntimeIdentifier>%Platform%</RuntimeIdentifier>`

I am passing the Platform setting when calling MSBuild with: /p:Platform="Any CPU"

Making these changes helps me build in VS as well as

[2018-03-12 20:45] MisinformedDNA commented on #1633
[code]

- Open above project
- Build project
- Change TargetFramework to net461
- Build project
- Error occurs

Workaround: Close and re-open VS.

[2018-03-13 00:06] TheAngryByrd commented on #1720
👍 Experiencing for net45+

[2018-03-13 00:42] dasMulli commented on #1791
I've seen this before - assuming that `netstandard*` assets will be used on ASP.NET Core and `net*` assets on classic ASP.NET.

You correctly assume that this does not account for ASP.NET Core on .NET Framework.
It is a package authoring issue that needs to be resolved by the NuGet packages' authors who will need to publish a different package for ASP.NET Core in addition to the package for classi

[2018-03-13 00:59] John0King commented on #1791
@dasMulli

That's the right way, but there is an available assembly(.net standard assembly)  in that package!!
if I don't use nuget , and menuly reference that .net standard dll , that  works .

and there are other condition may need this:  many nuget package target `net45` and `netstandard2.0` , and when you target `net471` , which assembly will use ?

That's why I hope there is a  `choose` attri

[2018-03-13 01:15] dasMulli commented on #1791
I do feel your pain using this. I don't work for microsoft or the .net foundation so I can only give hints to this.

apart from the asp.net core/classic selection, I have also seen issues with different public APIs in NuGet packages:
If a netstandard project uses a library, it will compile against netstandard assets. if a net* project (csproj) then references this project (csproj), it will use the

[2018-03-13 01:31] btrepp commented on #2037
I've followed this using powershell (somewhat)
http://ilovepowershell.com/2017/02/19/what-is-your-net-framework-version-use-powershell-to-check/

Server
[code]
Development machine
[code]

FSProj (Main thing to note here is that it targets net461). This was fine to do in earlier versions of VS
[code]

[2018-03-13 06:46] btrepp commented on #2037
Installing net framework 4.7.1 allows it to progress.

[2018-03-13 06:55] dasMulli commented on #335
Targeting pack MSIs are a pain anyhow. They just drop a folder into a well-known location which msbuild then uses. And it is prone to breaking if users changes their program files path (https://github.com/dotnet/cli/issues/6770#issuecomment-333873454).

Fast forward 8 years after the net40 it feels like NuGet should have always been the delivery mechanism for targeting packs 😄 (yes I know it wasn'

[2018-03-13 13:59] Hosch250 opened #2041 "Bug when referencing out-of-solution DLL's (.NET Core only)"
I've found an interesting issue with using DLL's in .NET Core (.NET Framework works fine). MVCE as follows:

Create an F# (language is irrelevant) .NET Core class library with the following single file (specific code irrelevant as well):

    namespace FSharpClassLibrary

    module Say =
        let hello name =
            printfn "Hello %s" name

Create a C# .NET Core class library *in a separa

[2018-03-13 16:18] natemcmaster commented on #2033
Ok. Adding the MSBuild variable is pretty simple. I opened #2042

[2018-03-13 16:45] tannergooding commented on #2041
This is basically https://github.com/dotnet/sdk/issues/1609. Manual assembly references are transitive for the purposes of copying outputs, but are not transitive for the purposes of deps.json creation.

There is a separate issue where the `deps.json` is not being rewritten when it should be (so if you build, then add a manual reference, and rebuild, F5 will fail).

[2018-03-13 17:26] #2033 closed

[2018-03-13 17:50] jnm2 commented on #335
🎉 https://github.com/dotnet/designs/pull/33/files?short_path=4c085c4#diff-4c085c464d992b00504305a5996f804c

[2018-03-13 17:57] jnm2 commented on #335
😭

[2018-03-14 00:58] dsplaisted commented on #803
MSBuild has a PR for this: https://github.com/Microsoft/msbuild/pull/3059

[2018-03-14 06:40] kekekeks commented on #335
It would be nice to have targeting packs for Xamarin platforms as well. Just to be able to compile xplat *libraries* for these platforms using .NET Core SDK.

[2018-03-14 12:59] multiarc commented on #1488
The issue is still persists (appeared again?) for both .NET Core SDK 1.1.8 & 2.1.101

Target startup project to net4xx only and reference netstandard1.6 library having no netxxx targets (which is library dependent, I can try to provide isolated example).

Whole build process for a project is broken at this point, and project mentioned in error has nothing to do with real issue.

Sometimes error(s)

[2018-03-14 18:40] dsplaisted commented on #1488
@multiarc Since this issue is closed, and I'm not sure whether or not you're encountering the same root issue anyway, can you file a separate bug, and try to include repro steps?

Thanks

[2018-03-14 20:00] JamesNK opened #2044 "The "ResolvePackageAssets" task failed unexpectedly due to max path limitation of NuGet package cache"
I am using version `2.1.300-preview2-008251` of the SDK and I am getting this failure multiple times when building inside VS. Building from the command line completes successfully.

[code]

Failing source: https://github.com/aspnet/SignalR/commit/4b666dfa856a7600205ab488a7ad4c8facbe7f6e

Open SignalR.sln in 15.6.2 and rebuild solution for the error.

[buildlogs.zip](https://github.com/dotnet/sdk/f

[2018-03-14 20:28] multiarc opened #2045 "Building and running project for net462 runtime"
Issue might be related to https://github.com/dotnet/sdk/issues/1488
There are several reproductions of the issue. The test package for the issue is `cloudscribe.Web.Pagination` https://www.nuget.org/packages/cloudscribe.Web.Pagination/1.1.4, which is targeting `netstandard1.6` only; startup project `A` target is `net462` as well as referenced project `B`.

The issue might be due to screwed up pack

[2018-03-14 21:57] livarcocc commented on #2045
Can you try using the latest 2.1.101 SDK instead of 1.1.8? Remove the global.json file?

[2018-03-14 22:17] livarcocc commented on #2044
@nguerrera you said you were going to take a look at it. So, assigning to you for now.

[2018-03-15 00:39] natemcmaster commented on #2014
@livarcocc would you accept a PR to add this the SDK? I don't think we're going to get NuGet changes for this.

cc @muratg @DamianEdwards

[2018-03-15 02:00] JamesNK commented on #2044
Hi

What is the ETA for this to be looked at? It is super urgent but it is blocking me from working on an issue

[2018-03-15 03:49] nguerrera commented on #2044
I will look at it tomorrow morning. I had intended to get to it right away and got interrupted.

[2018-03-15 04:04] livarcocc commented on #2014
It would depend on the nature of the PR 😄

[2018-03-15 11:47] #1292 closed

[2018-03-15 15:39] natemcmaster opened #2047 "dotnet pack fails when PackAsTool is true and project has ProjectReference's"
**Repro**
Create a console app project with a ProjectReference to a class library.
[code]
`dotnet pack`

**Expected**
Creates a tool package with  ClassLib1.dll bundled inside

**Actual**
dotnet pack fails with this error
[code]

cc @wli3 @peterhuene @KathleenDollard

[2018-03-15 15:40] wli3 commented on #2047
https://github.com/dotnet/sdk/pull/2007

[2018-03-15 15:40] #2047 closed

[2018-03-15 19:59] natemcmaster commented on #2047
@wli3 do you know which version of the CLI first contained this fix? @bricelam reported running into this recently, but we are using a very recent build of the CLI.

[2018-03-15 20:01] wli3 commented on #2047
Unfortunately the change has not been flowed to CLI. I'll create a PR for it. And let you know when there is a good build

[2018-03-15 20:02] natemcmaster commented on #2047
Thanks.

[2018-03-15 20:40] #1077 closed

[2018-03-15 20:40] #1293 closed

[2018-03-15 20:40] #1803 closed

[2018-03-15 20:51] nguerrera opened #2048 "Consider reworking ResolvePackageAssets to separate concerns in code and possibly speed up full builds"
See https://github.com/dotnet/sdk/pull/2020/files/84de38b62f92d4212224dba7e368a0b62dcef694#diff-6e8153987724c5190aee451cd127c038

If we do make full build and incremental build take different paths to read items, we need to be *very careful* about adding test coverage to the incremental case. The current approach trades off a bit of time in full build for full test coverage of the entire suite vs.

[2018-03-15 20:55] nguerrera opened #2049 "Harden against corrupt assets.cache file"
See https://github.com/dotnet/sdk/pull/2020#discussion_r173959628

[2018-03-15 21:37] tmat opened #2051 "Remove SourceControlInformationFeatureSupported property and InitializeSourceControlInformation target from tests"

[2018-03-15 22:16] nguerrera commented on #2044
Looking right now. Sorry for delay.

[2018-03-15 22:20] nguerrera commented on #2044
first issue I hit is different:

Restore fails with: `Error occurred while restoring NuGet packages: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.`

Build then can't find assets files.

cc @rrelyea @nkolev92

[2018-03-15 22:33] nguerrera commented on #2044
Building on command line first gets passed that, but then build succeeds:

[code]

I will check the binlog

[2018-03-15 22:35] nguerrera commented on #2044
OK, log reveals critical part of repro: `Rebuild`.

Workaround: Use git clean -fdx to clean and only use `Build`. Still looking for the bug.

[2018-03-15 22:52] nguerrera commented on #2044
The catalyst seems to be that
[code]

is perilously close to MAX_PATH.

Restore target fails when running in desktop msbuild:

[code]

I can harden the task to report a better error message, but that won't unblock you. I think this is either an issue in msbuild or nuget. cc @AndyGerlicher  @rainersigwald and @rrelyea @nkolev92 again. It's going to take a while to sort out?

Can you shorten that co

[2018-03-15 22:53] anurse commented on #2044
cc @natemcmaster @pranavkm

This is due to our "feature branch" versions :(

[2018-03-15 22:57] natemcmaster commented on #2044
Would reducing the nesting of the obj/ and bin/ folders help? We could try overriding BaseIntermediateOutputPath and BaseOutputPath

[2018-03-15 22:58] natemcmaster commented on #2044
oh wait, nvm, it seems ~/.nuget/packages is the root...

[2018-03-15 23:07] nguerrera commented on #2044
@JamesNK See the (edited) workaround here: https://github.com/dotnet/sdk/issues/2044#issuecomment-373544638

Is that enough to consider that you are at least unblocked from working on that issue?

[2018-03-15 23:09] nguerrera commented on #2044
I will fix the error message to say something like "Package 'X, version Y' was not found. It may have been deleted since restore.  Otherwise, restore may have been only partially completed, which may have been due to path length restrictions."

[2018-03-16 00:09] nguerrera opened #2052 "Nuget_reference_compat test is flaky on OS X"
Exit code 137 is apparently 'process killed'.

[code]

[2018-03-16 00:15] livarcocc commented on #2052
Should this be filled on NuGet? Or maybe core-setup?

[2018-03-16 00:32] nguerrera commented on #2052
Hard to say.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Livar <notifications@github.com>
Sent: Thursday, March 15, 2018 5:15:13 PM
To: dotnet/sdk
Cc: Nick Guerrera; Author
Subject: Re: [dotnet/sdk] Nuget_reference_compat test is flaky on OS X (#2052)

Should this be filled on NuGet? Or maybe core-setup?

—
You are receiving this because you authored the thre

[2018-03-16 00:58] dsplaisted opened #2054 "PreserveCompilationContext should not depend on reference assemblies installed in Program Files"
We are working on making .NET Framework targeting packs available as NuGet packages, so projects targeting .NET Framework can be built on non-Windows (and so on Windows they don't necessarily need a global installation of the targeting pack).  A proposal for this is here: https://github.com/dotnet/designs/pull/33

As pointed out [here](https://github.com/dotnet/designs/pull/33#issuecomment-3727601

[2018-03-16 01:02] dsplaisted commented on #2054
/cc @eerhardt @nguerrera

[2018-03-16 02:15] JamesNK commented on #2044
Code has been updated to not use the problem package. I'm not blocked anymore.

[2018-03-16 03:23] wli3 commented on #2047
@natemcmaster 2.1.300-preview2-008367 above (the latest master) has that change. https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe

[2018-03-16 18:46] ericstj commented on #1854
/cc @eerhardt
I just hit the same thing with a very simple project:
[code]
@livarcocc  you need to raise priority of this.  I'm going to see if I can see what's going on and propose a fix.

[2018-03-16 19:05] ericstj commented on #1854
As a workaround I was able to set DisableDefaultPackageConflictOverrides=true.

[2018-03-16 19:10] natemcmaster commented on #2047
Thanks. @bricelam the latest KoreBuild should have this SDK now

[2018-03-16 19:57] dsplaisted commented on #2045
@multiarc I think the issue in the `build_fail` branch is that you haven't run `dotnet restore`.  In 1.x versions of the .NET Core SDK, you had to explicitly run `dotnet restore`.  In 2.0 and higher, this happens automatically.

[2018-03-16 20:02] multiarc commented on #2045
@dsplaisted sure I did.
Cannot find project info error is happening in a lot of other situations though.

[2018-03-16 20:07] ericstj commented on #1854
This is happening whenever there is a conflict between a package assembly and a non-package assembly.  In the .NET framework case it was due to a conflict between https://github.com/dotnet/sdk/blob/cfe8ff3c4e51c473ae75ca32d1c7a62043e96990/src/Tasks/Microsoft.NET.Build.Extensions.Tasks/msbuildExtensions/Microsoft/Microsoft.NET.Build.Extensions/Microsoft.NET.Build.Extensions.NETFramework.targets#L12

[2018-03-16 20:18] livarcocc commented on #1854
@dsplaisted can you please take a look?

[2018-03-16 20:57] ericstj commented on #1854
Interesting, the plot thickens.  In my case I also got the wrong PackageId set for platform items because we passed a filename to NuGetUtils.GetPackageIdFromSourcePath, it ended up using CurrentDir/ProjectDir and found a nuspec in my tree, so it ended up assigning a packageId incorrectly to platform items.

[2018-03-16 21:10] oflahero commented on #1630
@joperezr 's solution (thanks Jose) worked for my Debug build, but not for Release, unfortunately.

However it builds fine in Release mode on Visual Studio Online's hosted agent, so I assume it's something to do with what's installed on your local machine.

DLL hell never really went away!

[2018-03-16 21:50] bricelam commented on #952
I just hit another case like this. This time I was expecting that `Publish="false"` would prevent the `<ProjectReference>` from being published.

[2018-03-16 22:02] ericstj commented on #1854
I put up a PR to fix this.

[2018-03-16 23:11] dsplaisted opened #2061 "Instead of generating an error saying a 2.x SDK is needed, we generate an error loading the NETBuildExtensionsError task"
# Repro steps

Check out the `build_fail` branch of https://github.com/multiarc/SDKRepro/

Build with full Framework MSBuild:

`msbuild /restore`

# Expected

Error message: The version of Microsoft.NET.Sdk used by this project is insufficient to support references to libraries targeting .NET Standard 1.5 or higher.  Please install version 2.0 or higher of the .NET Core SDK.

# Actual

Error messa

[2018-03-16 23:20] dsplaisted commented on #2045
OK, I've worked out what's going on.  Thanks a lot for the repro

# `build_fail` branch

It's not supported to build this project with a 1.x SDK.  You are supposed to get the following error message:

However, this is broken in VS 15.6, and you get the error that the `NETBuildExtensionsError` task can't be loaded instead.  I've filed #2061 for this.

# `run_fail` and `no_global_run_fail` branches

[2018-03-16 23:28] #774 closed

[2018-03-16 23:59] DamianEdwards commented on #774
Yay!!!

[2018-03-19 13:07] RussKeldorph opened #9201 "CoreClr crashes (even when dotnet --help) after app's SigAbrt crash on Linux"
_From @aviviadi on March 18, 2018 14:12_

Ubuntu 16.04
dotnet 2.0.6 (observed since 2.0.4)
Problem reproduces

Workaround :
[code]

* Install dotnet, run my app, during intensive memory usage - SIGABRT (exit code 134)
* Trying to rerun - getting exit code 134
* Even when 'dotnet --help' I get this

Can't generate core with : `(lldb) process save-core /tmp/corefile`, getting:
[code]
(How to do that

[2018-03-19 14:48] dmdymov opened #9202 "dotnet/cli license"
[LICENSE file from dotnet/cli repo](https://github.com/dotnet/cli/blob/master/LICENSE) - MIT License.
[License section from dotnet/cli README.md](https://github.com/dotnet/cli/blob/master/README.md#license) -

Can someone please explain to me the reason for this mismatch? Thank you.

[2018-03-19 15:28] atanasa opened #2062 "Wrong package dependency version If package dependency version is set to '*'"
If package dependency version is set to '*', the version in the package spec is set to the version of the package instead of the dependency

**Steps to reproduce:**

1. Build the following project:

[code]

Where "EntityFramework" can be any other package (probably that is not part of the standard library).

2. run `dotnet build`

**Expected output:**
A package of version 1.2.3 with a dependency t

[2018-03-19 15:30] kmillerdevx3 commented on #1521
In our case, this appears to be related to projects created in older versions of Visual Studio and then opened in VS2017. These projects do not have the <DependsOnNETStandard> element in the .csproj file.

Adding this element to the top <PropertyGroup> element of the project (with a value of `false`) appears to fix this issue.

[code]

Oddly, many other projects that do not have this element still

[2018-03-19 15:33] atanasa commented on #2062
This used to work in an earlier version of the SDK.

[2018-03-19 16:32] livarcocc commented on #2062
Moving this to NuGet for them to have a first look there. NuGet folks, if this is the SDK setting something wrong, just re-activate the original issue.

[2018-03-19 16:32] livarcocc commented on #2062
This issue was moved to NuGet/Home#6697

[2018-03-19 16:32] #2062 closed

[2018-03-19 16:33] livarcocc commented on #1521
@kmillerdevx3 given that this issue has been closed, I would suggest filling a new issue with new repro steps. Hopefully with a small repro repo on github.

[2018-03-19 16:35] kmillerdevx3 commented on #1521
@livarcocc You closed it because you thought it was resolved. It is not. The pull request you referenced merely added more debugging information.

[2018-03-19 17:09] chibanemourad commented on #1967
I have the same error :
C:\Program Files\dotnet\sdk\2.1.101\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targets(557,9): error `MSB4186`: `Invalid static method invocation syntax`: "[System.IO.Directory]::GetParent().get_Name()". Method 'System.IO.Directory.GetParent' not found. Static method invocation should be of the form: $([FullTypeName]::Method()), e.g. $([System.IO.Pat

[2018-03-19 17:12] nguerrera commented on #1967
I haven't gotten to the bottom of this but it is worth noting that this code no longer exists in master.

[2018-03-19 17:13] livarcocc commented on #1521
@kmillerdevx3 could you maybe provide a new clean repro of the issue then?

[2018-03-19 17:14] nguerrera commented on #1967
@chibanemourad are you also seeing this with the build tools sku in CI or do you have a local repro?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nick Guerrera <notifications@github.com>
Sent: Monday, March 19, 2018 10:12:16 AM
To: dotnet/sdk
Cc: Nick Guerrera; Your activity
Subject: Re: [dotnet/sdk] Method 'System.IO.Directory.GetParent' not found in Microsof

[2018-03-19 19:58] natemcmaster opened #2065 "Add codes to MSBuild warnings and errors"
Follow-up to this: https://github.com/dotnet/sdk/pull/2064#discussion_r175557190

Most MSBuild warnings and errors issued by this SDK do not have error codes. We should add codes to all of them.

[2018-03-19 21:35] richlander opened #9205 "dotnet new with preview builds should succeed"
I run into this problem frequently. I know what the problem and various workarounds are, however I would like to see an inbox solution to it. This experience shouldn't happen, IMO. Restore should succeed for preview builds.

[code]

[2018-03-19 21:51] StingyJack commented on #1521
Creating a project file without the <Depends....> element seems like a clean and easy repro.

[2018-03-19 21:53] nguerrera commented on #1521
But it doesn't effect all such projects.

[2018-03-20 12:24] StingyJack commented on #1521
i had opened a devcomm issue with the feedback collection, etc. If you follow the link in the earlier post, and then go to the poorly handled linked issue, it should be available

[2018-03-20 12:49] #1854 closed

[2018-03-20 15:07] ijsgaus opened #2068 "Visual Studio 15.6.3 assets file doesn't have a target"
When build depended multitargeted (Net47, NetStandrd2.0) projects in solution in Visual Sudio,
error:
Assets file 'BadCompile\ClassLibrary1\obj\project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'. Ensure that restore has run and that you have included 'netstandard2.0' in the TargetFrameworks for your project.	ClassLibrary1	C:\Program Files\dotnet\sdk\2.1.102\Sdks\Microsoft.N

[2018-03-20 18:24] dhieyson commented on #1321
In my case showed this error when publishing:
C:\Program Files\dotnet\sdk\2.1.102\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targets(167,5): Error : Assets file 'C:\Myproject\obj\project.assets.json' doesn't have a target for '.NETCoreApp,Version=v2.0'. Ensure that restore has run and that you have included 'netcoreapp2.0' in the TargetFrameworks for your project.

I tryed

[2018-03-20 18:41] carstenschaefer commented on #1321
@dhieyson this fixed it for me, too. Had this problem after upgrading my VS2017 this morning to newest version.

[2018-03-20 18:42] dsplaisted commented on #1507
This is an issue with the `GetDependsOnNETStandard` task.  If you have a reference to something like `System.xml`, and it finds a matching file in your project folder, it will try to load that file as an assembly and generate this warning when it can't.

[2018-03-20 19:30] klemensior575 commented on #1321
Also, the solution posted by @dhieyson worked for me. Nothing else posted in this thread. The problem has occurred after the installation of the newest version of VS.

[2018-03-20 19:42] RomeDev commented on #1321
I had the same problem after updating my VS today!
Solution posted by @dhieyson solved this issue for me. Thanks!

[2018-03-20 19:49] cemilf commented on #1321
@dhieyson 's solution solved my problem too. dotnet sdk 2.1.102 seems to be the problem.

[2018-03-20 21:08] Thorarin commented on #1321
To be clear, the latest version at the time of writing is VS2017 15.6.3.
I'm having the same issue and the workaround posted by @dhieyson also worked for me.

[2018-03-20 21:27] yesitspeter commented on #1321
Same issue here as @RomeDev  describes

[2018-03-20 21:36] softwarebybrent commented on #1321
+1, this is a substantial productivity impact

[2018-03-20 22:07] chassq commented on #1321
+1, same issue here. Removing sdk 2.1.102 folder in "C:\Program Files\dotnet\sdk" did fix it...

[2018-03-20 22:19] redowl3 commented on #1321
I had the same problem after updating my VS today, solution posted by @dhieyson solved this issue for me also. Thanks.

Suspect there will be another update to VS very shortly.

[2018-03-21 00:35] steffenloesch commented on #1321
+1, we also ran into this issue after upgrading to 15.6.3, in our case with target framework uap10.0.

[2018-03-21 02:07] Itoktsnhc commented on #1321
I had the same problem after updating VS to 15.6.3

[2018-03-21 03:24] marceloatg commented on #1321
+1, Same problem after updating VS to 15.6.3 both on windows 10 x64 and windows server 2016 x64.

[2018-03-21 03:43] hughbiquitous commented on #1321
MSFT suggested I disable ReSharper, and indeed, that works around the problem... but coding without ReSharper... no thanks.

I'm curious if anyone on this thread is seeing the issue but *does not* have ReSharper installed and enabled.

[2018-03-21 04:48] mjolka commented on #1321
I was able to go back to Visual Studio 15.5.7 following the instructions here: https://docs.microsoft.com/en-us/visualstudio/productinfo/installing-an-earlier-release-of-vs2017

That fixed the problem for me, even after reinstalling ReSharper.

[2018-03-21 04:51] hemiaoio commented on #2068
I also have this problem, my target frameworks is Net461 and NetStandrd2.0 . Delete the project.assets.json also does not help.

[2018-03-21 04:54] yesitspeter commented on #1321
@mjolka Thank you for that link.

[2018-03-21 04:57] risfeng commented on #2068
I'm the same problem！Can you tell me how to solve it?

[2018-03-21 05:08] pogliad commented on #1321
Had same problem when ReSharper is enabled.
The solution posted by @dhieyson worked for me (https://github.com/dotnet/sdk/issues/1321#issuecomment-374706295).
**I removed "C:\Program Files\dotnet\sdk\2.1.102"** and all is Ok. But what is the source of problem?

I found report on MS Developer Community forum https://developercommunity.visualstudio.com/content/problem/218434/after-updating-to-the-ne

[2018-03-21 05:25] hemiaoio commented on #2068
Well, One of the friends said that it was caused by ReSharper. After it was disabled, it was normal. Have you also installed ReSharper?

[2018-03-21 05:30] hemiaoio commented on #2068
I was uninstalled ReSharper，it works。
And you can change then build tools from ReSharper options.
![qq 20180321132938](https://user-images.githubusercontent.com/5441896/37695667-ef33ca7c-2d0b-11e8-97d6-4139841e5a2f.png)
![qq 20180321132943](https://user-images.githubusercontent.com/5441896/37695669-f1b648a6-2d0b-11e8-8293-b9412fc29663.png)

[2018-03-21 05:32] risfeng commented on #1321
I'm the same problem.
Probably caused by the installation of the ReSharper plug-in, my solution is to use ReSharper build, set ReSharper build: **ReSharper-> Tools -> Build & Run**. This solves my problem, may wish you also try.

[2018-03-21 05:36] hemiaoio commented on #2068
Another solution is to uninstall SDK 2.1.102 from your installed program。

[2018-03-21 05:37] risfeng commented on #2068
I'm the same problem.
Probably caused by the installation of the ReSharper plug-in, my solution is to use ReSharper build, set ReSharper build: **ReSharper-> Tools -> Build & Run.** This solves my problem, may wish you also try.

[2018-03-21 05:59] ahawes-clarity commented on #2068
Possibly related issue.

Assets file '...\obj\project.assets.json' doesn't have a target for '.NETFramework,Version=v4.6.2/win7-x64'. Ensure that restore has run and that you have included 'net462' in the TargetFrameworks for your project. You may also need to include 'win7-x64' in your project's RuntimeIdentifiers.

I only get this error when trying to Publish to Azure. I can build the Solution m

[2018-03-21 08:38] hemiaoio commented on #2068
Well, eventually I uninstalled ReSharper to solve this problem. My colleague is solving this problem after uninstalling SDK 2.1.102.

[2018-03-21 08:50] davkean commented on #2068
We've figured out the issue internally; an assembly resolver in the R# extension is resolving one of our assemblies to one of their assemblies. This only occurs when .NET Core SDK 2.1.102 is installed, which comes with 15.6.3.

We're working on a patch will be released in the next couple of days that will avoid R#'s assembly resolver to be called, and we're going to be working with R# to resolve t

[2018-03-21 09:06] asvishnyakov commented on #2068
May confirm what the problem with "\obj\project.assets.json' doesn't have a target for 'netcoreapp2.0'" caused by 2.1.102 version of SDK. Disabling ReSharper doesn't help, Visual Studio build used.

[2018-03-21 09:07] asvishnyakov commented on #1321
See #2068 for info about problem with 2.1.102 SDK

[2018-03-21 09:09] davkean commented on #2068
When you disabled R# did you restart VS?

[2018-03-21 11:26] mgrishkov commented on #2068
Faced with the same problem after updating VS 2017 up to 15.6.3, Uninstalling SDK 2.1.102 fix it.
Unfortunately, It isn't the first time when VS update is cause of unpredictable crash... sad...

[2018-03-21 11:52] davkean commented on #2068
@mgrishkov Glad you resolved the issue, disabling R# or uninstalling SDK 2.1.102 will temporarily resolve the issue. We have a fix coming tomorrow that prevents our assembly from being redirected by the R# assembly resolver and we'll work with JetBrains to have a more permanent fix.

[2018-03-21 11:58] dotnetshadow commented on #2068
@davkean I uninstalled SDK 2.1.102, will tomorrows fix install a new version of this through 15.6.4?

[2018-03-21 12:10] davkean commented on #2068
I'm unsure if it will be "branded" 15.6.4 but a new version of the SDK will be installed.

[2018-03-21 13:30] scottfavre commented on #1321
I'm having this problem but do not have ReSharper enabled (it is installed but suspended).

[2018-03-21 14:04] hughbiquitous commented on #1321
@scottfavre I found that suspending wasn't enough; I had to disable it through Tools -> Extensions and Updates.

[2018-03-21 14:04] mvelosop commented on #2068
Don't you use R# at MS? ;-)

[2018-03-21 14:25] mgrishkov commented on #2068
@davkean, I don't use R#, I catch it with netstandard1.6 lib. project and netcoreapp1.6 mstest project.

[2018-03-21 14:53] michelmoorlag commented on #1321
@hughbiquitous
You are right, disabling ReSharper is the solution.
I have a asp .netcore 2.0 project that used to publish fine. Today I only updated some minor string in my project. It builds and runs fine but when trying to publish it to azure I got:

"Assets file 'C:\xxx\obj\project.assets.json' doesn't have a target for '.NETCoreApp,Version=v2.0'. Ensure that restore has run and that you have i

[2018-03-21 17:29] amccool commented on #2068
I uninstalled SDK 2.1.102, and repaired 2.1.101.      ---- However my system didnt delete the ` C:\Program Files\dotnet\sdk\2.1.102` directory fully (it left the bin and obj dirs)

once I did rmdir ` C:\Program Files\dotnet\sdk\2.1.102`   then my multi-targeted builds started working again

[2018-03-21 17:32] jeoffman commented on #2068
@mgrishkov and @amccool had a good tip, close VS (wait for it to fully shutdown) and then uninstall the SDK 2.1.102 - I can build again. Thanks guys!

[2018-03-21 17:35] livarcocc commented on #1847
@dsplaisted this is the bug I talked to you about. Please give it priority.

[2018-03-21 17:39] tmat opened #2071 "Allow to skip all project targets based on a property value"
Enable project to set a property during evaluation phase that suppresses all targets, including Restore, Build, Pack, etc.

Use cases:
- when building the .NET Core stack from source we need to skip restoring and building projects and/or specific project target framework for multi-targeting projects that depend on non-OSS libraries.
- when building on non-Windows machine (or machine that doesn't h

[2018-03-21 17:39] tmat commented on #2071
@nguerrera @dsplaisted

[2018-03-21 18:42] david-driscoll opened #2072 "Implicitly define compilation constants for target framework without a specific version"
I was talking to @dsplaisted (iirc) and someone else at summit and this was one scenario that I felt was missing from the current SDK.

It may make sense to also have a general compilation constant that is just the Target Framework Identifier without the version.  Of course this won't work for all cases of the compilation constants (ie, missing API's between versions) but there are places where .N

[2018-03-21 18:44] dsplaisted commented on #2072
@david-driscoll Are you planning on submitting a PR for this? 😀

[2018-03-21 18:45] david-driscoll commented on #2072
@dsplaisted jsut did. 🎉 🎈 🎉

[2018-03-21 18:54] david-driscoll commented on #2072
In fact going through the unit tests this would also affect other frameworks like adding a `XAMARINIOS`, `XAMARINANDROID` and more.

cc @onovotny this might have a positive (or negative? 🤷‍♂️) effect on https://github.com/onovotny/MSBuildSdkExtras

[2018-03-21 19:45] onovotny commented on #2072
Today the extras builds on what the SDK does....so if the SDK adds this, it just adds more things to the projects. It also includes the native targets, so on android, it includes the symbols like `__ANDROID__` that Xamarin has had for years.

I don't think this has any negative effect on the extras, just adds more define options.

[2018-03-22 00:41] dsplaisted commented on #732
Related: #1276

[2018-03-22 01:40] dsplaisted commented on #1847
@steveharter What are the new APIs in DependencyModel to take advantage of here, and what version of the DependencyModel package do they show up in?

[2018-03-22 02:08] davkean commented on #2068
@mvelosop We discovered the issue internally before we shipped, and JetBrains made a change in response to it, but we were unaware of their assembly resolver - so our recommendations were incomplete.

[2018-03-22 02:16] softwarebybrent commented on #2068
So what's the overall state of this? I saw [here](https://youtrack.jetbrains.com/issue/RSRP-468758#u=1521542921889) that they are working on getting a fix out for it, but it appears to have quiet down since this morning.  Are we expecting a 15.6.4 of VS at some point in conjunction with R# release or just waiting on R# to fix what they need to?

[2018-03-22 02:25] davkean commented on #2068
We are making a temporary fix that will unblock without a JetBrains. JetBrains is making a long term fix that will prevent this situation from happening again.

Our is still in testing, and should be available in the next day or two.

[2018-03-22 02:37] ocapio commented on #1458
@jnm2 Hi, the .pdb workaround works great. Is there a similar work around for .mdb? Thanks

[2018-03-22 04:01] jnm2 commented on #1458
@ocapio Yes, just replace with `<AllowedReferenceRelatedFileExtensions>.pdb;.mdb</AllowedReferenceRelatedFileExtensions>` in the snippet above.

[2018-03-22 05:25] johnkors commented on #2068
Just to add to this. Suspending ReSharper, rebooting VS, rebooting the machine.. did not help.

![image](https://user-images.githubusercontent.com/206726/37752698-9b07ab42-2d99-11e8-9dbc-2cb51f149e18.png)

Repro sln: https://github.com/johnkors/vs2017-1563

[2018-03-22 05:45] darkonejr commented on #2068
@johnkors You need to fully disable R#.

Fwiw, setting the number of parallel builds to 1 seems to work for me as a workaround as well.

[2018-03-22 05:46] johnkors commented on #2068
Right, thanks. That was the trick. Thanks @darkonejr . Updated my comment.

[2018-03-22 08:40] bchavez opened #2076 ""GenerateDepsFile" task failed unexpectedly. The process cannot access the file *.deps.json"
Hello.

I've been stuck on a really bad **MS Build** error for a few days now. Kinda at a loss as to why **MS Build** is having a hard time building my projects. My issue seems eerily similar to #545 and #739. Google isn't any help either. :desert:

I have a **SLN** file that contains:
* **`Bogus.Healthcare`** .NET Core Assembly project. Multi-targeting:
   `<TargetFrameworks>net40;netstandard1.3;

[2018-03-22 10:00] Xiu-Li opened #2077 ""Build.cmd run" succeed, but display many errors in the process."
## **Environment info:**
VS: D15.7/27520.00 (15.7 Preview 2)
Node.js: V8.10.0 LTS
Yarn --version:1.5.1
VS .NET Core SDK - 2.1.200: 2.1.200-preview-007474 ( runtime - 2.0.6)
## **Repro steps:**
Master branch of [SAFE Bookstore](https://github.com/SAFE-Stack/SAFE-BookStore)
- Install the needed deps for SAFE-Bookstore
- In the root directory, run `build.cmd`
- Then run `build.cmd run`
Output:
[code]

[2018-03-22 14:13] eerhardt commented on #1847
@dsplaisted - see the new APIs added in https://github.com/dotnet/core-setup/pull/3704.

They show up in any of the past 2 weeks builds of `2.1.0-preview2-` or higher.  For example, they are in `2.1.0-preview2-26306-03`.

[2018-03-22 15:37] nguerrera commented on #1847
Is the plan still to write this only on publish in order to not sacrifice inner loop perf?

[2018-03-22 16:21] javiercn opened #2078 "Modify build settings before build on the context of publish?"
I'm trying to run a task that only runs on publish and that runs before Build. The goal of this task is that it will setup some properties before build gets called in the context of publish that might trigger a rebuild.
I have run into this for two scenarios so far:
* In the first scenario, I'm doing IL Linking on the build assemblies + BCL using the monolinker and I want to enable linking as part

[2018-03-22 16:40] jaredpar commented on #732
ALINK shouldn't require admin. Perhaps writes are being redirected to an admin only location here?

[2018-03-22 16:46] nguerrera commented on #732
This only seems to happen to Daniel. I no longer have any skip verification and it works fine.

[2018-03-22 17:18] steveharter commented on #1847
I would try writing during build and measure the perf first. If not acceptable, then only publish-time, along perhaps with switch to disable roll-forward for F5 runtimeconfig as previously discussed.

[2018-03-22 17:30] nguerrera commented on #1847
The perf is going to be bad. I'm 90% certain of that. By all means measure but we've sweat blood for inner loop perf and I'm not giving anything back for this.

[2018-03-22 17:33] nguerrera commented on #1847
Is there a correctness issue for leaving it out or is it just an optimization to have the info? In my opinion, if minor roll forward has taken place then runtime needs to check assembly ver itself. Don't we need that for 2.0 apps that have already been published anyway? If we have that, I'm not convinced we need to disable roll forward on F5.

[2018-03-22 17:54] nguerrera commented on #1847
Care to elaborate on the technical reasons? If this were only on minor roll-forward and only in absence of this data, it seems it would be strictly more correct, and not a performance issue.

So does that mean that an app published with 2.0 SDK might behave incorrectly with respect to this issue. I know, in general, there is not a 100% guarantee for old apps, but this particular hole seems pluggab

[2018-03-22 18:04] raffaeler opened #9213 "[ARM32 SDK] Generating native images on ARM"
When developing on an ARM32 device with the NetCore SDK, the native images for NetCore, libraries and apps are not generated, causing a performance hit.
The documented way to create native images is [CrossGen](https://github.com/dotnet/coreclr/blob/master/Documentation/building/crossgen.

There should be a way to create native images for system libraries and user application.

Specifically provide

[2018-03-22 18:56] zinov commented on #1321
This solution worked for me, is just adding an s in all <TargetFramework> to <TargetFrameworks>

https://stackoverflow.com/a/42855070/819153

how is this related to that?

[2018-03-22 19:01] Pilchie commented on #1321
This issue should be fixed in the 15.6.4 update that was published this morning.

[2018-03-22 19:31] bchavez commented on #2076
Just a quick update on this for anyone listening:

Following this comment https://github.com/dotnet/sdk/issues/739#issuecomment-275803656, I was able to unblock **MS Build** by disabling multi-proc builds with adding the switch `/m:1` /maxcpucount = 1.

This MS Build bug is even more crazy because [MSDN docs say](https://msdn.microsoft.com/en-us/library/ms164311.aspx):

... but it doesn't seem lik

[2018-03-22 19:49] rainersigwald commented on #2076
Is there a reason you're not building the .sln directly, and are instead building each project individually?

The TeamCity command line includes

[code]

Are you setting that as part of your build customization, or is TeamCity doing it automatically?

Setting `OutputPath `is dangerous. It's a project-level setting and each of the TargetFrameworks needs a unique one, but this explicitly sets them t

[2018-03-22 21:05] bchavez commented on #2076
Hey @rainersigwald ,

Thanks so much for your help. I've been in the weeds with this issue so much I lost the forest for the trees. I didn't realize setting `OutputPath` was dangerous until now. What you said makes perfect sense.

I guess the main thing that mislead me into this trap was the following F# FAKE `MSBuildReleaseExt` call:
[code]
Originally, I had an `OutputPath` set in place of the `n

[2018-03-22 21:05] #2076 closed

[2018-03-22 21:39] steveharter commented on #1847
Technical reason is that we have to crack open assembly from native code, and in order to do that initialize the CLR with certain values, all some COM apis to get the information, and then re-initialize the CLR again when calling it "for real" to execute the app. However, re-initializing the CLR is currently not supported.

[2018-03-22 21:50] Salgat commented on #1321
15.6.4 fixed it for me, thanks @Pilchie

[2018-03-22 22:40] livarcocc commented on #2068
This has now been fixed in the SDK 2.1.103 and VS 15.6.4.

[2018-03-22 22:40] #2068 closed

[2018-03-22 22:40] #2072 closed

[2018-03-22 23:53] natemcmaster commented on #2014
Done in https://github.com/dotnet/sdk/pull/2064

[2018-03-22 23:53] #2014 closed

[2018-03-23 01:38] ocapio commented on #1458
@jnm2 Thanks. Though, it looks like it ignores other extensions outside of .pdb. Perhaps, it's the version of dotnet that I am using this may not be integrated into Visual Studio (using 15.6.4)?

[2018-03-23 02:29] jnm2 commented on #1458
I'm not familiar with .mdb files. Can you point me to an example NuGet package containing the .mdb? And maybe an example project using the package where the workaround is failing to copy the .mdb (but would copy a .pdb)?
I typically just use http://msbuildlog.com to poke my head around inside and deduce the workaround.

[2018-03-23 02:51] ocapio commented on #1458
I'm using an older version of mono, can calling pdb2mdb to convert pdb to mdb. Then in the csproj, I have
`
<ItemGroup>
    <None Include="bin\$(Configuration)\net46\Example.dll.mdb" Pack="true" PackagePath="lib\net46" />
    <None Include="bin\$(Configuration)\netstandard1.4\Example.dll.mdb" Pack="true" PackagePath="lib\netstandard1.4" />
  </ItemGroup>
`
This puts the .mdb file into the nuget pa

[2018-03-23 07:39] cemilf commented on #1321
@Pilchie I can also confirm that 15.6.4 published the project without errors. It seems that the new dotenet sdk 2.1.103 installwd with the update solved the problem.

[2018-03-23 09:50] malwareoverflow opened #2082 "The library 'libhostpolicy.so' required to execute the application was not found"
I am using vs code on  kali linux 2017 debian 4.9.0-kali3-amd64
 and still getting this error message
A fatal error was encountered. The library 'libhostpolicy.so' required to execute the application was not found in '/root/dotnetcore/bin/Debug/netcoreapp2.0/'.
The target process exited without raising a CoreCLR started event. Ensure that the target process is configured to use .NET Core. This may

[2018-03-23 19:47] livarcocc commented on #2082
How are you executing your application? Are you `dotnet dotnetcore.dll` directly from the path above? If that's the case, that's not supported. You need to publish your application using `dotnet publish`. If it is a framework dependent application, you can then execute it with `dotnet <path_to_your_publish_folder>/<app.dll>`.

The contents of the build folder are not directly runnable.

[2018-03-23 20:54] steveharter commented on #1847
@dsplaisted is the link that @eerhardt provided enough information on the new dependencymodel APIs?

[2018-03-23 22:55] peterhuene opened #16137 "dotnet sln add command is not checking for project name conflicts."
## Steps to reproduce

With existing project name conflicting with an added solution folder:

[code]

or with an existing solution folder that conflicts with a project of the same name being added:

[code]
## Expected  behavior

The solution builds successfully.

## Actual behavior

The build fails.

[code]

## Environment data
[code]

[2018-03-23 23:04] AndreyAkinshin commented on #2068
The problem is also fixed in ReSharper 2017.3.5, everything works with all combinations of Visual Studio and .NET Core SDK.
You can find more technical details in the official blog post: https://blog.jetbrains.com/dotnet/2018/03/23/build-failures-visual-studio-15-6-3-resharper-ultimate-2017-3-5-rescue/

[2018-03-23 23:04] AndreyAkinshin commented on #1321
The problem is also fixed in ReSharper 2017.3.5, everything works with all combinations of Visual Studio and .NET Core SDK.
You can find more technical details in the official blog post: https://blog.jetbrains.com/dotnet/2018/03/23/build-failures-visual-studio-15-6-3-resharper-ultimate-2017-3-5-rescue/

[2018-03-23 23:10] SimonCropp commented on #2068
Thanks everyone

[2018-03-24 02:13] trandinhnam commented on #1321
Everything has been fixed on this version: vs15.6.4

----------MS -----------
Release Date: March 22, 2018 - Visual Studio 2017 version 15.6.4
Issues Fixed in this Release
These are the customer-reported issues addressed in this release:

Assets File 'c:\xxxxxx\obj\project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'.
VS2017 fails to persist settings on first launch if there

[2018-03-25 05:34] asterixorobelix commented on #1539
thanks for the suggestion @MariusVolkhart . Just so that other people know, that fix did not work for me

[2018-03-26 10:23] redcoreit commented on #1621
@livarcocc can you explain what does it mean "I don't believe we support that."?!
I have the same issue and I can't see other options to achieve my goal. I have large amount of generated code in assembly C and I don't want to work with it, only using it. Performance of VS is in a different league with this approach!

Any suggestion to get rid of the situation?

[2018-03-26 18:29] sergiobarriel commented on #1321
The solution from @dhieyson works for me!

[2018-03-26 18:31] voxon2 commented on #1593
I was not able to understand how to use the comments in this issue to include my build time generated sources files in the compile phase. (maybe someone can clarify)

I was able to get a working solution by using the solution described here:

https://stackoverflow.com/questions/44818730/is-there-a-net-core-cli-pre-before-build-task

[2018-03-26 23:53] nguerrera commented on #1942
@tannergooding is looking at gathering the reference dependencies.

[2018-03-26 23:54] dsplaisted commented on #1847
It looks like yes, so far.  I may have more questions as I get further into this.

[2018-03-26 23:55] dsplaisted commented on #1942
I will likely include the simple fix for this (add `$(MSBuildAllProjects)` to the target inputs) together with the fix for #1847

[2018-03-27 06:53] redcoreit commented on #1621
Yes, that's my problem (last paragraph)! Thank you for clarification!

I'm looking forward to version 2.1.300!

[2018-03-27 12:43] moh-hassan commented on #1621
And me, looking forward to version 2.1.300 of the .NET Core SDK  :)

[2018-03-27 15:30] dsplaisted commented on #1847
@eerhardt @steveharter How should this interact with the runtime store feature (I think it's called the "Shared Store" [here](https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/assembly-conflict-resolution.md))?

If I create an MVC app targeting .NET Core 2.0 and build it with my WIP changes to the SDK, I get assemblyVersion and fileVersion metadata in the deps.json for a b

[2018-03-27 15:48] steveharter commented on #1847
That sounds right. A 2.0 MVC app references all files used by ASP.NET in its deps.json.

A 2.1 MVC app will target the new ASP.NET shared framework instead so it doesn't carry that information any more in its deps.json, except for the "compilation" information (not "runtime").

Note that a MVC app targeting 2.0 won't be able to roll-forward to 2.1 because 2.1 ASP.NET does not install anything to t

[2018-03-27 16:48] dsplaisted commented on #1847
@steveharter Is it correct that if the 2.0 runtime store was installed it would be able to run on 2.1, but this is not likely because the 2.0 runtime store is not likely to be installed without the 2.0 runtime?

Are there examples of libraries that have been moved from packages into the framework in .NET Core 2.1?  IE something we can use to do end-to-end testing to make sure this feature works.

[2018-03-27 17:25] steveharter commented on #1847
Yes the store and runtime are installed together in 2.0. I suppose you can manually delete (or rename so they won't be found) the Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.x folders)

I'm not aware of any current issues. There used to be issues, but we fixed them up internally.

For testing, I would suggest adding a copy of a framework assembly to the app, and then change the version n

[2018-03-27 21:07] nguerrera opened #2089 "GivenThatWeWantToStoreAProjectWithDependencies.compose_multifile has become flaky"
I'm making it run Windows only for now.

[2018-03-27 21:12] nguerrera commented on #2089
I don't think the test or code underneath it has changed in a long time, but the flakiness is recent.

[2018-03-28 00:11] ghost opened #9228 "What is the difference between dotnet run and dotnet assembly.dll in terms of stdin?"
An issue was reported at https://github.com/dotnet/corefx/issues/25916 that can be reproduced with `dotnet run` instead of `dotnet /path/to/assembly.dll`. If we type entries too fast and code is looping over Console.ReadLine , stdin entries gets echoed to stdout. Is there some kind of pipeline involved when we use `dotnet run`, which gets exempted when we use `dotnet path/to/assembly`?

[2018-03-28 01:45] eerhardt opened #2092 "Setting PreserveCompilationContext=false trims Microsoft.AspNetCore.App shared runtime in deps files"
_From @pranavkm on March 26, 2018 17:18_

## Steps to reproduce
1. Create an webapi \ mvc \ emptyweb application using preview1 (or preview2) Sdk
2. Build the project

The generated deps file will say that the application references both `Microsoft.NETCore.App` and `Microsoft.AspNetCore.App`:

[code]

3. Delete the bin directory. Edit the csproj `<PreserveCompilationContext>false</PreserveCompilat

[2018-03-28 01:45] eerhardt commented on #2092
_From @pranavkm on March 26, 2018 17:57_

Spoke to @eerhardt, the missing shared runtime isn't necessarily the cause for concern here - a console app's deps file also does not include a reference to the shared runtime `Microsoft.NETCore.App`. The issue is that `DependencyContext.Load` does not merge shared fx deps files. The suggested fix is to add a new overload to `DependencyContext.Load` that w

[2018-03-28 01:45] eerhardt commented on #2092
Looking more, the `DependencyContext.Load` DOES merge in the shared fx deps files.

The issue is that the `Dependency` information is getting trimmed, so there is no link from the application's library to the MVC library.  Or similarly, if the application references another project that contains controllers, that project won't have a Dependency on the MVC library either.  This trimming logic is in

[2018-03-28 01:46] eerhardt commented on #2092
See https://github.com/dotnet/sdk/blob/935ac5fde8d917b1de3b18d038232f15527572aa/src/Tasks/Microsoft.NET.Build.Tasks/ProjectContext.cs#L63-L66 for where the `PlatformLibrary`s get trimmed.

[2018-03-28 05:04] natemcmaster opened #2093 "deps.json is not regenerated when .csproj changes"
**Repro**
1. Create project
[code]
2. `dotnet build`
(Look at `test.deps.json`.. Should contain this)
[code]
3. Change project to ` <DebugType>portable</DebugType>` and run `dotnet build`

**Expected**
.deps.json changes to `"debugType": "portable"`

**Actual**
.deps.json file is not regenerated. File still contains `"debugType": "embedded"` until you manually clean and rebuild.

[msbuild.binlog.z

[2018-03-28 05:05] livarcocc commented on #2092
@dsplaisted please take a look.

[2018-03-28 05:06] livarcocc commented on #2093
We may have a bug for this already. I will try to find it tomorrow.

[2018-03-28 14:23] eerhardt commented on #2092
Some more thoughts about this:

Assuming the plan is to preserve the "Dependency" entries, even when the Platform library is trimmed:
1. You will probably want to only enable this behavior with a switch that is disabled by default.  ASP.NET can enable the switch as necessary, when they want this behavior.  Leaving the "Dependency" entries pointing to trimmed libraries could be considered a breakin

[2018-03-28 19:51] dsplaisted commented on #1150
I'm not sure if this is still an issue, I removed a workaround for this in https://github.com/dotnet/cli/pull/8919

[2018-03-28 19:53] dsplaisted commented on #1675
@jaredpar I wouldn't call it supported.  The problem is going to be if the different Exes have different versions of shared dependencies.  If that's not the case, then I *think* everything should work well.

[2018-03-28 20:41] jaredpar commented on #1675
If it's not supported I'm rather hesitant to move to it. Depending on unsupported features is equally painful to both our teams when they eventually get broken

[2018-03-28 21:07] dsplaisted commented on #2089
`Project_reference_compat` tests are also flaky on Ubuntu.  They are failing with what look like weird characters added at the end of paths:

An example failure is [here](https://ci.dot.net/job/dotnet_sdk/job/release_2.1.3xx/job/debug_ubuntu16.04_prtest/42/).  This may or may not be the same problem as the `compose_multifile` test which Nick disabled.

@JeremyKuhne Any idea if this is related to F

[2018-03-28 21:43] weshaggard commented on #1512
@livarcocc as best I can tell we are still hard-coding the max version. Is that going to remain the POR? I'm curious if there has been any more thought about allowing folks to target higher versions of netcoreapp on older versions of the SDK? I'm not entirely sure why this check exists as in my mental model I think of it just like multi-targeting in the .NET Framework and folks can target whatever

[2018-03-28 21:48] livarcocc commented on #1512
We guarantee backwards compatibility in the SDK, but not forward compatibility. This ensures that.

[2018-03-28 21:55] pranavkm commented on #2092
Stepping back, the primary driver for turning off `PreserveCompilationContext` is to avoid publishing the refs directory when an application does not require it (e.g. when you're writing an application not using runtime compiled views). Right now, there's a single switch that determines the structure of the deps file and the published refs directory. Could we possibly introduce a new switch that c

[2018-03-28 23:50] omajid opened #9232 "Port zsh shell completion to #compdef"
Our current [shell completion for zsh](https://github.com/dotnet/cli/blob/master/scripts/register-completions.zsh) uses `compctl`. This makes it hard for any packages (like `.deb`, or `.rpm`) to register these completions as system-wide by default. We can't simply copy the file at `/usr/share/zsh/site-functions/` and call it a day. They wont get picked up. As far as I can tell, `zsh` actually only

[2018-03-29 00:33] weshaggard commented on #1512
So for folks that need to use an older sdk but a newer framework is the recommendation to set NETCoreAppMaximumVersion  in their project file like https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.Windows.Compatibility/tests/Microsoft.Windows.Compatibility.Validation.csproj#L5?

[2018-03-29 02:18] livarcocc commented on #1512
I do not believe there is such a recommendation. The recommendation there is to pick up the latest SDK, which is what the error message says when you don't have that set.

The new framework many times has requirements for the tooling that makes it incompatible with an older SDK and that's really an unsupported scenario.

[2018-03-29 16:38] nguerrera commented on #2093
Duplicate of #1942. @dsplaisted is going to fix this.

[2018-03-29 16:38] #2093 closed

[2018-03-29 16:52] weshaggard commented on #1512
There are scenarios we we cannot necessary pick-up a newer SDK.

I'd like to better understand that because from a framework prospective that should just work.

[2018-03-29 16:55] verysimplenick opened #9241 "dotnet publish crash"
## Steps to reproduce
`dotnet publish -r -h`
[code]
## Expected  behavior
Print some help or something

## Actual behavior
Crash

## Environment data
`dotnet --info` output:
[code]

[2018-03-29 17:42] livarcocc commented on #2034
@nguerrera Is this being fixed by https://github.com/dotnet/sdk/pull/2091?

[2018-03-29 17:56] nguerrera commented on #2034
No.

[2018-03-29 17:56] nguerrera commented on #2034
Completely different issue. ;)

[2018-03-29 17:56] livarcocc commented on #18
Fixed by https://github.com/dotnet/sdk/pull/2083.

[2018-03-29 17:56] #18 closed

[2018-03-29 19:18] dsplaisted commented on #840
@livarcocc This shouldn't be directly related to making reference assemblies available as NuGet packages.  You can move it out.

[2018-03-29 19:51] dsplaisted commented on #1570
This will be addressed by https://github.com/dotnet/cli/pull/8919.

You will get different versions of Microsoft.NETCore.App depending on whether your app is self-contained or not.  An error will be generated if there's a mismatch in the version selected between restore and build or publish.  The full design is here: https://github.com/dotnet/designs/pull/36

[2018-03-29 21:14] tmat opened #2098 "Do not assume specific location of dotnet CLI"
The tests currently assume dotnet CLI is installed in `$(RepoRoot)/.dotnet`:

https://github.com/dotnet/sdk/blob/master/src/Tests/Microsoft.NET.TestFramework/ToolsetInfo.cs#L119

Instead the tests should use `DOTNET_INSTALL_DIR` environment variable to locate dotnet CLI.

In future we might want to change this to `DOTNET_ROOT`, once it's implemented.

[2018-03-29 22:07] livarcocc commented on #2098
@dsplaisted could you pick this up? Both @tannergooding and @johnbeisner are going to be out next week and besides them, you were the latest to touch this infra.

@tmat how could we get a heads up on this kind of change with more antecedence?

[2018-03-29 22:15] tmat commented on #2098
@livarcocc Sorry about the urgency. I just learned today about the timeline. I'll see if we can establish better communication channel with the source build folks.
This particular change should be trivial, but there will be more significant changes coming. I'm still working on source build support in the toolset and onboarding SymReader and SymReader-Portable. Then I'll have better idea what needs

[2018-03-29 22:17] nguerrera commented on #2098
Which branch needs to be source built so soon?

[2018-03-29 22:21] tmat commented on #2098
release/2.1.3xx

[2018-03-30 17:10] livarcocc commented on #732
@dsplaisted let us know if this still happens to you. I moved it out of 2.1.3xx.

[2018-03-30 17:19] livarcocc commented on #492
Seems like the Fallback is the right escape hatch here. Closing this issue.

[2018-03-30 17:19] #492 closed

[2018-03-30 17:37] livarcocc commented on #968
Moving this to the backlog to matching NuGet's blocking issue.

[2018-03-30 17:38] livarcocc commented on #1027
@johnbeisner I believe this may have been done already. Can you confirm and close this issue if that's the case?

[2018-03-30 17:45] livarcocc commented on #1327
I believe there is a chance that this has also been done already. @johnbeisner please double check and close if appropriate.

[2018-03-30 17:51] nguerrera commented on #1534
Fixed by #1857

[2018-03-30 17:51] #1534 closed

[2018-03-30 17:52] nguerrera commented on #1483
Fixed by #1857. We no longer load any JSON from assets file in incremental case.

[2018-03-30 17:52] #1483 closed

[2018-03-30 17:54] nguerrera commented on #1483
(Except that Design time build is still calling targets that do, but that is tracked by #1116

[2018-03-30 17:57] nguerrera commented on #1605
This issue was moved to NuGet/Home#6755

[2018-03-30 17:57] #1605 closed

[2018-03-30 17:59] nguerrera commented on #1604
Fixed by #1805

[2018-03-30 17:59] #1604 closed

[2018-03-30 18:00] nguerrera commented on #1711
Fixed by #2020. Will use a separate issue for design-time build case.

[2018-03-30 18:00] #1711 closed

[2018-03-30 18:02] nguerrera commented on #1116
A separate issue capturing the work for design-time case would be better. So I'm closing this as fixed by #1857 and #2020

[2018-03-30 18:02] #1116 closed

[2018-03-30 18:22] dsplaisted commented on #732
@livarcocc It still happens all the time for me when I'm not running VS as admin

[2018-03-30 18:26] nguerrera opened #2100 "Reduce data sent to project system in design-time builds"
Notes from @abpiskunov from our meeting:

DT build target above is basically RunResolvePackageDependencies, which is no longer used in normal builds (because it was very slow there too), but still used to populate dependencies node in project system.

This issue tracks the SDK side of the work (timestamp + top-level packages only). When we do this, we should be sharing the same cache as ResolvePac

[2018-03-30 18:26] nguerrera commented on #1116
DT part tracked by #2100

[2018-03-30 18:28] nguerrera commented on #1711
#2100 tracks design-time build case now.

[2018-03-30 18:32] nguerrera commented on #1496
Closing because #2100 tracks the main issue remaining for design-time builds.

[2018-03-30 18:32] #1496 closed

[2018-03-30 18:33] nguerrera commented on #1586
Closing because there are no linked SDK issues remaining.

[2018-03-30 18:33] #1586 closed

[2018-03-30 18:33] nguerrera commented on #2100
cc @Pilchie @abpiskunov @etbyrd

[2018-03-30 18:51] dsplaisted commented on #2098
@livarcocc Yes I can do this

[2018-03-30 18:55] tmat commented on #2098
@dsplaisted I have tried to fix this in cli-migrate repo like so:
https://github.com/dotnet/cli-migrate/pull/68/commits/52d9d600ca6aad966aa8de683c79e1553bec9ab4#diff-c78a48da239810b60ba0266a3b13366a

The tests fail though for some reason.

[2018-03-30 20:02] nguerrera commented on #2100
cc @davkean

[2018-03-30 23:19] dsplaisted commented on #1608
This issue was moved to dotnet/cli#8956

[2018-03-31 00:50] ghost opened #9244 "Tab-completion is expected to exhibit "starts with" semantics, instead of "contains""
## Steps to reproduce

In PowerShell, copy the contents of https://github.com/dotnet/cli/blob/6b240926a3f4a71ac097ba234bd4f627efaedcad/scripts/register-completions.ps1 in `$PROFILE`

[code]

Type in `dotnet n<TAB>`.

## Expected  behavior
`dotnet new`, or something that **starts with `n`**.

## Actual behavior
`dotnet clean`
Press tab again to get `dotnet internal-reportinstallsuccess` (why is thi

[2018-03-31 10:55] nguerrera commented on #1464
I'll take a look

[2018-03-31 18:04] ericstj commented on #1464
My guess: in 1.x we had a more granular runtime.json.  Using Linux-x64 is enough to get all the IL and get past Nick’s check, but it won’t get you the runtime bits.

[2018-03-31 22:55] huoyaoyuan opened #2103 "Unexpected NU5104 reported"
**Version Used**:
2.1.200-preview-007474
`C:\Program Files\dotnet\sdk\2.1.200-preview-007474\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(198,5): warning NU5104`

**Symptom**:
All of my projects are preview and have prefix in their versions, but packing target claims they cannot dependent on preview packages.

**Reproduction**:
https://github.com/amatukaze/HeavenlyWind.Infrastr

[2018-04-01 00:00] livarcocc commented on #2103
This issue was moved to NuGet/Home#6759

[2018-04-01 00:00] #2103 closed

[2018-04-01 00:11] huoyaoyuan commented on #2103
And what's about sdk installation and choice? It seems installed by preview version of VS.

[2018-04-01 00:15] livarcocc commented on #2103
VS brings with it the latest version of the SDK that's is compatible with it. The SDK itself is backwards compatible and capable of building projects with TFMs that came before its version. In this case, this is a bug, which I believe may have been addressed by NuGet already on its latest version. But I will let the NuGet folks comment on it.

[2018-04-02 19:43] zipotm commented on #1579
This is the solution which is working:
sudo dpkg -i --force-overwrite <filename>

[2018-04-02 20:48] nguerrera commented on #2089
Update: it is failing on Windows suddenly all of the time too. This leads me to think that there is some condition that causes a machine to get into a state where it starts to fail. Maybe temp is getting full or something like that.

[2018-04-02 20:48] nguerrera commented on #2089
cc @livarcocc

[2018-04-02 21:33] nguerrera commented on #1464
@ericstj's guess is correct. The check is sufficient to catch dotnet publish -r completely-invalid but not linux-x64 for 1.1. We are firing in more cases than before and there were no false positives introduced, but there are still false negatives for 1.x.

We would have to refine the check to look for specific RID-specific assets. It is currently based on the heuristic that there is at least one

[2018-04-02 21:37] nguerrera commented on #1464
Do we think it is worth refining the check for 1.x or can we say that flagging all invalid RIDs for 2.x+ and most for 1.x+ is good enough?

Changing milestone because it was chosen based on an incorrect assumption that it would be fixed for free with #1857.

[2018-04-02 21:39] nguerrera commented on #2035
@jaredpar, this fell off my radar. Are you still seeing this? Did you workaround it?

[2018-04-02 21:43] nguerrera commented on #2035
Looking now.

[2018-04-02 21:47] nguerrera commented on #2035
I see the linked commit with the direct ref workaround now.

[2018-04-02 23:29] nguerrera commented on #2035
OK, here's what's happening:

* There are 2 levels of indirection from CSharpCompilerEmitTest to the PackageReference to S.R.TypeExtensions:

1. [CSharpCompilerEmitTest (net46;netcoreapp2.0) -> CSharpCompilerTestUtilities (netstandard1.3)](https://github.com/jaredpar/roslyn/blob/6130e78f19d83a3987b721e6bd646b9ea8e2068d/src/Compilers/CSharp/Test/Emit/CSharpCompilerEmitTest.csproj#L21)
2. [CSharpCom

[2018-04-02 23:29] #2035 closed

[2018-04-03 00:07] jaredpar commented on #2035
@nguerrera in your explanation you list CSHarpCompilerEmit as net46 when it is actually net461. Does that impact your analysis?

[2018-04-03 00:10] nguerrera commented on #2035
It does not.

[2018-04-03 00:15] nguerrera commented on #2035
I've edited my analysis. I misread $(RoslynPortableTargetFrameworks)

[2018-04-03 00:36] nguerrera commented on #2035
The intermediate project tripped me up too. It's very confusing.

[2018-04-03 00:37] jaredpar commented on #2035
Thanks for the explanation!

[2018-04-03 05:13] livarcocc commented on #1679
@darrensteadman can you still repro this on the latest 15.6 release? If so, can you provide some repro steps or a repro repo that we can clone, open in VS and hit this?

[2018-04-03 17:55] nguerrera commented on #1458
Finally got back to this and there are some complications with conflict resolution and publish, but I hope to push through them. Need to think about the best solution for a bit.

[2018-04-03 19:02] ocapio commented on #1458
I found an alternate solution. For the packages that has the .mdb (or what
ever file the app wants to consume) , add a .target file (if none exist) to
do the copy at the postbuild event in the package. So, the contents of the
package gets copied over rather than trying to get the app that is
consuming the package to get the file. This assumes that you have control
of the package.

On Tue, Apr 3, 2

[2018-04-03 20:10] daveaglick opened #2108 "Question about Microsoft.NET.Build.Tasks references in preview SDKs"
I noticed the preview SDK doesn't include the assemblies that Microsoft.NET.Build.Tasks.dll depends on in the tools folder any more. At least they're not there in 2.1.300-preview1-008174, though it does look like they were there in 2.1.200-preview-007474.

![2018-04-03_15h44_18](https://user-images.githubusercontent.com/1020407/38272677-e5be13fc-3757-11e8-93ae-9b3e4d19eb0b.png)

I also noticed the

[2018-04-03 20:14] nguerrera commented on #2089
Got a repro locally with a hint at the problem:

[Microsoft.NET.Publish.Tests_netcoreapp2.0_x64.log](https://github.com/dotnet/sdk/files/1873180/Microsoft.NET.Publish.Tests_netcoreapp2.0_x64.log)

<details>
<summary>Stack trace</summary>

[code]

</details>

Looks like something is building the same project in parallel with different global properties and same intermediate output directory.

[2018-04-03 21:06] livarcocc commented on #2108
When the CLI runs a build, we set MSBuildExtensionsPath to the location of the msbuild.dll (which for now, happens to be under the same place as dotnet.dll.

I believe that's what you are missing now that the NuGet assemblies are no longer next to the tasks dll.

By the way, you should take a dependency on the layout of the SDK files, as that can change at any time.

[2018-04-03 21:15] daveaglick commented on #2108
I've got that one covered (though I have to set it myself before calling the MSBuild APIs):

![2018-04-03_17h12_48](https://user-images.githubusercontent.com/1020407/38276212-47b3ca48-3762-11e8-8005-d4b24612f85e.png)

I personally haven't taken a dependency on the SDK layout, but it's possible that the MSBuild APIs have. At a minimum, it appears that the Microsoft.NET.Build.Tasks.dll assembly is l

[2018-04-03 21:25] dsplaisted opened #9251 "unable to generate deps.json, it may have been already generated"
_From @jholovacs on March 18, 2018 21:8_

trying to use migrations, or update the database, I get this message:

[code]
application builds fine.  I've tried

`dotnet restore`

and this seems to work.

`dotnet run` also works.

versions of stuff:
[code]

_Copied from original issue: aspnet/EntityFrameworkCore#11320_

[2018-04-03 22:49] vsccarl opened #2110 "Multi-TFM netcoreapp2.1 and net461 can't find packages"
Using build x64:
[latest 2.1](https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1)

Steps:
1. In CLI or VS create a new .net core console app.
2. Change frameworks to `<TargetFrameworks>netcoreapp2.1;net461</TargetFrameworks>` or any installed full fx framework.
3. Restore/Build solution

[code]

[2018-04-04 03:13] livarcocc commented on #2110
Closing. This happened due to a missing feed.

[2018-04-04 03:13] #2110 closed

[2018-04-04 08:00] Bconteh commented on #1967
I'm having the same error. Anyone got solution for this error?

[2018-04-04 10:18] darrensteadman commented on #1679
I can no longer repro this on my machine however a co-worker can. Unfortunately he is off ill at the moment. When he returns I'll work with him to create a repo that can repro the issue on his machine.

[2018-04-04 15:42] daveaglick commented on #2108
I've compared the binary log output from a working build (using `dotnet build`) and a failing build (using the MSBuild API) of the same project and there weren't many differences. I think I'm getting a handle on what's going on here (sorry for the length, but wanted to be detailed for my own future reference if nothing else):

* References for task assemblies are resolved using normal assembly pro

[2018-04-04 15:57] livarcocc commented on #2108
It should be possible to tell msbuild where to load these assemblies from. @rainersigwald any ideas?

I would rather not force the .NET Core SDK to carry duplicate assemblies as much as possible, specially considering that the dotnet/sdk and dotnet/cli will be effectively the same repo sooner rather than later.

[2018-04-04 19:24] jstawski commented on #1533
Hello, we are currently running into an issue that seems to be related to this. Building and deploying through Visual Studio is ok, but doing so through VSTS is not. The bottom line is that on Visual Studio the right DLL is chosen and copied to the Bin folder, while on VSTS the wrong one is used. More info: https://developercommunity.visualstudio.com/content/problem/228261/vsts-build-choosing-wron

[2018-04-04 22:04] chlowell commented on #1967
@nguerrera I'm seeing this intermittently in a VSEng 2017 pool, it's intermittent even on particular hosts. I can't reproduce it locally. You mention the code no longer exists in master--has a version shipped without it?

[2018-04-04 22:05] nguerrera commented on #1967
No version has shipped without it except for unofficial daily builds. There will be a 2.1.300-preview2 shortly that will not have it.

[2018-04-04 22:17] #2098 closed

[2018-04-04 22:44] dsplaisted commented on #1847
@steveharter @eerhardt Are there APIs on `DependencyContext` for reading the new version values?  It looks like there aren't.

(This isn't critical for me, I was just trying to use them to validate the deps.json was correct in tests, so I can just read the JSON directly)

[2018-04-05 07:14] natemcmaster opened #2114 "Cannot build project with PackAsTool=true and GeneratePackageOnBuild=true"
**Repro**
[code]
`dotnet build`

**Expected**
Build the project *and* produce a nupkg.

**Actual**
`dotnet build` fails

[2018-04-05 09:47] petermorlion commented on #1630
It definitely must be something machine-specific (like @oflahero states). We're having this issue on one of our team member's machines, but noone else has this problem. The solution provided by @joperezr didn't work for us.

[2018-04-05 16:13] #2061 closed

[2018-04-05 20:28] steveharter commented on #1847
Yes there is an AssemblyVersion and FileVersion property on `RuntimeFile` class.

https://github.com/dotnet/core-setup/blob/master/src/test/Microsoft.Extensions.DependencyModel.Tests/DependencyContextJsonReaderTest.cs#L545

[2018-04-05 20:39] dsplaisted commented on #1847
@steveharter Eric resolved that with me over IM, sorry for not updating here.  My issue was the tests were still using the older version of DependencyModel so those APIs weren't accessible 😏

[2018-04-05 22:19] davkean opened #2115 "Configuration vs ConfigurationName build parameter"
_From @groogiam on April 5, 2018 21:30_

There appears to be a discrepancy between specifying the configuration from msbuild from the command line between the old and new csproj formats.

The old csproj file allowed specifying the configuration using /p:configuration="Test"

e.g. `msbuild MySln.sln /p:configuration="Test"`

This would properly set the ConfigurationName parameter for pre build even

[2018-04-05 23:23] mkArtakMSFT opened #2116 "Error: CS1703: System.Runtime, Version=4.1.2.0"
_From @tarekgh on November 16, 2017 19:42_

_From @Vohuman on November 15, 2017 5:6_

When my MVC.core project tries to open any page, I face with the following error:

I tried to clean Temporary folder and checked about the conflicts within the projects but I found nothing.

_Copied from original issue: dotnet/corefx#25260_

_Copied from original issue: aspnet/Mvc#7058_

[2018-04-05 23:27] nguerrera commented on #2116
Re-asking my question here. Is this a different issue from the others? Is it fixed already? @joperezr @AlexGhiondea @dsplaisted

[2018-04-05 23:29] joperezr commented on #2116
I believe that this issue would be solved by using VS 15.6.3 or newer. At least the people that were facing this when targeting 4.7.1.

[2018-04-05 23:48] nguerrera commented on #2116
Which bug does this duplicate?

[2018-04-06 10:15] oacsed commented on #1502
Any news on this issue? This is very frustrating to say the least.

[2018-04-06 18:41] #1570 closed

[2018-04-07 00:38] bording commented on #1443
@nguerrera Any thoughts on when this might get prioritized?

[2018-04-08 11:24] Xiu-Li opened #2119 "Target Multi-TFM net461 and netcoreapp2.1, restore failed."
**## Repro Steps:**
1. In CLI/VS create a new C# .net core console app.
2. Change frameworks to `<TargetFrameworks>net461;netcoreapp2.1</TargetFrameworks>`.
3. Restore failed with the errors as below:
![image](https://user-images.githubusercontent.com/24784908/38466661-23e6b976-3b5f-11e8-959f-64b45ffa9b0b.png)
5. After adding dotnet-core package source: https://dotnet.myget.org/F/dotnet-core/api/v

[2018-04-09 14:59] qqbuby commented on #1695
I use the  [wwwroot-gen.sh](https://raw.githubusercontent.com/qqbuby/MSB3021/master/src/website/wwwroot-gen.sh) as below to generate static files with same dir name `$MODULE0` and `MODULE1`.

On windows, `.../Module` and `.../module` are same, however there are different on linux.

God bless, with the notice above, we can reproduce it, so ...

[code]

MODULE0=wwwroot/lib/scripts/clientApp/commonDi

[2018-04-09 16:02] livarcocc commented on #2119
@weshaggard @mmitche this eems like a downgrade in the Microsoft.NetCore.App graph itself. can you take a look?

[2018-04-09 16:10] leastprivilege commented on #1100
Was this ever resolved. It seems pp files are simply ignored..

[2018-04-09 17:16] weshaggard commented on #2119
I'm taking a look.

[2018-04-09 17:34] pranavkm opened #2121 "Building an app with PreserveCompilationContext=true causes files from the shared runtime to be copied to bin\refs directory"
This is a regression (?) in 2.1.0-preview2 sdk. Repro steps:

1) Acquire preview1 Sdk - https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-preview1
2) `dotnet new mvc`
3) `dotnet build`

Examine the bin\Debug\netcoreapp2.1 directory and notice all it has is the app's binaries.

4) Clean the bin directory and run `dotnet build` using the preview2 Sdk (I used `2.1.300-preview2-008367`)

[2018-04-09 17:39] richaverma1 commented on #2119
@weshaggard, this is a blocking issue for 2.1 Preview 2, please keep me informed of the status so that I can report accordingly.

[2018-04-09 17:40] weshaggard commented on #2119
This is caused because the runtime package isn't published.

[2018-04-09 17:40] pranavkm commented on #2121
`_CopyReferenceOnlyAssembliesForBuild` uses `_ReferenceAssemblies` as input for files to copy. Between preview1 and preview2, `NuGetSourceType` is no longer being set [which causes](https://github.com/dotnet/sdk/blob/935ac5fde8d917b1de3b18d038232f15527572aa/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L367-L370) package and runtime refs files to get copied to the bin direc

[2018-04-09 17:41] livarcocc commented on #2121
@nguerrera caused by your changes?

[2018-04-09 17:47] weshaggard commented on #2119
This is because the publishing failed in the morning. @mmitche is going to be republishing and once that happens I believe this should be resolved.

[2018-04-09 17:47] #2119 closed

[2018-04-09 17:56] pranavkm opened #2122 "Add a switch to control publishing files to the refs directory - PreserveCompilationReferences"
Related issues - https://github.com/dotnet/sdk/issues/2092, https://github.com/dotnet/sdk/issues/2121

`PreserveCompilationContext` is used in two places today

1. To determine if compilation content goes in the deps file
2. If reference assemblies need to be copied to the `bin\refs` and `publish\refs` directories.

Prior to 2.1.0, the Web Sdk always set `PreserveCompilationContext=true`. This res

[2018-04-09 17:58] pranavkm commented on #2122
cc @eerhardt \ @livarcocc \ @DamianEdwards \ @rynowak

We'd like to get this considered for 2.1.0 rc. Let me know if you'd like to set up an offline discussion for this.

[2018-04-09 19:37] dsplaisted opened #2124 "Enable test Inbox_version_of_assembly_is_loaded_over_applocal_version once framework deps.json has runtime file versions"
#2118 fixes #1847, however, the end-to-end scenario still doesn't work because the Framework deps.json file needs to also have these values.  Once that happens, we should enable the end-to-end test which covers this: `Inbox_version_of_assembly_is_loaded_over_applocal_version`

[2018-04-09 20:11] Petermarcu commented on #2119
Perhaps this issue should track the fact that there is a restore of the runtime happening at all. I don't see why that should be happening.

[2018-04-09 20:13] weshaggard commented on #2119
Yes that is an interesting issue that I just asked in email about.

[2018-04-09 20:35] mmitche commented on #2119
The publishing has completed.

[2018-04-10 00:39] natemcmaster commented on #1683
I'm not sure dotnet-watch is the right place either. dotnet-watch is a layer above dotnet-run, so if this is something dotnet-run could support, then dotnet-watch could too, but not the other way around.

[2018-04-10 01:06] gregg-miskelly commented on #1437
In Visual Studio 2017 version 15.7 (preview 3 and later), the debugger team added a new mode so that local 64-bit debugging can be configured to communicate between processes using anonymous pipes instead of TCP/IP.

To enable this today:
1. Install Visual Studio from the preview channel (https://www.visualstudio.com/vs/preview/). This step will go away once 15.7 enters the release channel.
2. Go

[2018-04-10 01:08] gregg-miskelly commented on #1437
@livarcocc I would suggest closing this issue.

[2018-04-10 05:47] livarcocc commented on #1437
Thanks for letting us know.

[2018-04-10 05:47] #1437 closed

[2018-04-10 08:04] natemcmaster opened #2128 "2.1.300-preview2: Unable to use DotNetCliToolReference due to deps.json generation failure"
There appears to be a regression in DotNetCliToolReference support.

**Repro**
On a clean mac, install the .NET Core CLI using the .pkg installer (not .tar.gz)

Create a new project via `dotnet new xunit`

Run `dotnet xunit`

**Expected**

Should launch xunit

**Actual**

The SDK fails to launch it with this error.

The real issue seems to be this:

The .pkg installer does not give write access to

[2018-04-10 09:22] yyjdelete opened #2129 "Recently daily preview(2.1.300-preview3-008433/008443) hangs when build multi TargetFrameworks project?"
Tested with `2.1.300-preview3-008433/008443`(Windows x64), and `2.1.300-preview3-008414`(Windows x64) works well.
`dotnet new classlib`, and modify to multi TargetFrameworks, then `dotnet build`
[code]
The build will stop after extra 300s, and failed with no error message.

[2018-04-10 15:53] rainersigwald commented on #2129
This sounds an awful lot like https://github.com/Microsoft/msbuild/issues/3142. Were you installing the builds via the MSI, or otherwise using a path with a space?

[2018-04-10 16:02] yyjdelete commented on #2129
@rainersigwald
Maybe via MSI(dotnet-sdk-latest-win-x64.exe), and installed to `C:\Program Files\dotnet` which contains a space.

[2018-04-10 16:15] livarcocc commented on #2128
@dsplaisted please take a look ASAP.

[2018-04-10 16:17] livarcocc commented on #2129
Can you try a copy of the SDK that is installed in a location without any spaces (acquire it through a zip) and see if this repros?

[2018-04-10 16:49] yyjdelete commented on #2129
1. Make a copy with no `space` works for me.
2. After a successful build with `step 1`, the one with space also works, even with new project or clean.
3. `dotnet restore` didn't failed for me before `step 1`, only the build after the first `TargetFramework` hangs(the first TargetFramework build successful)

[2018-04-10 16:51] livarcocc commented on #2129
@rainersigwald does it still sound like microsoft/msbuild#3142?

[2018-04-10 16:51] rainersigwald commented on #2129
Ok, that's confirmation that this is that MSBuild bug. Your step 2 will only work for 15 minutes after a successful build or restore from the no-space path.

[2018-04-10 17:25] dsplaisted commented on #2128
This looks like for this tool scenario, ResolvePackageAssets (which is new) is trying to write the assets cache to a location it doesn’t have write access to.

Tests missed this because the SDK folder isn’t write protected when the tests run.

________________________________
From: Livar <notifications@github.com>
Sent: Tuesday, April 10, 2018 9:16:00 AM
To: dotnet/sdk
Cc: Daniel Plaisted; Mention

[2018-04-10 17:31] nguerrera commented on #2121
Yes. I will fix this.

[2018-04-10 17:53] livarcocc commented on #2129
Closing this one then in favor of the msbuild issue.

[2018-04-10 17:53] #2129 closed

[2018-04-10 17:53] snhoxie commented on #1437
ALL
Thank you for your responses and closing this out!

[2018-04-10 17:54] #2041 closed

[2018-04-10 17:56] dsplaisted commented on #2128
@nguerrera @livarcocc Possible solutions:

- Add a mode to ResolvePackageAssets where it doesn't write out a cache to disk (it could write and then read it to a memory stream to preserve the same logic flow as today)
- Set the `BaseIntermediateOutputPath` to a writeable path when building `GenerateDeps.proj`.  This could be a temp path or possibly a path under the `BaseIntermediateOutputPath` of t

[2018-04-10 18:18] nguerrera commented on #2128
This explains some test flakiness too, I think.

[2018-04-10 20:00] nguerrera commented on #2128
I think opting in to a no-write-mode makes sense. @dsplaisted I can grab this if you're not already working on it.

[2018-04-10 21:44] KirillOsenkov opened #2132 "Microsoft.PackageDependencyResolution.targets(5,5): Error MSB4018: The "JoinItems" task failed unexpectedly."
This is `2.1.300-preview1-008174`.

We're on the VSMac team and we have a bug:

1. Create a new ASP.NET Core Web App that uses .NET Core 2.1 (the version above)
2. The created web project fails to build with:

[code]

The path `C:\Program Files\dotnet\sdk\2.1.300-preview1-008174\Sdks\Microsoft.NET.Sdk\build\..\..\..\..\NuGetFallbackFolder\microsoft.aspnetcore.authentication.microsoftaccount\2.1.0-

[2018-04-10 22:48] wli3 commented on #2114
Circular is here
[code]

[2018-04-10 22:50] wli3 commented on #2114
but publish do need build to happen before hand. __PreventProjectReferencesFromBuilding_ or _NoBuild_ has similar issue to pollute global variable

[2018-04-11 01:31] dsplaisted commented on #2132
@KirillOsenkov What version of VS / MSBuild are you using?

[2018-04-11 01:57] KirillOsenkov commented on #2132
VS 2017 15.6.3 on Windows

[2018-04-11 15:08] lmagyar commented on #1522
VS 15.6.6

@ericstj It's definitively not solved with #1612, this bug is still in the sdk! This issue should be reopened!

See dotnet/standard#704 dotnet/standard#706

Adding @ericstj's ['hammer'](https://github.com/dotnet/sdk/issues/1522#issuecomment-324141767) to the .csproj solves both of the issues above!!!

But this is still a bug in the sdk! Please reopen this issue!

[2018-04-11 15:29] ericstj commented on #1522
Based on the discussion in https://github.com/dotnet/standard/issues/704 the issue here is now that WorkflowXamlCompiler emits calls to load every assembly passed to it:

So the minimal workaround for that issue is only the last portion of my previous change.  This is less of a hammer:
[code]

We could add the same thing to the SDK targets.  Alternatively we could try and get the Workflow compiler

[2018-04-11 16:06] lmagyar commented on #1522
@ericstj This shorter hack doesn't solves dotnet/standard#706 (Could not compile workflow expressions because file <random .dll> has an incorrect format.) errors.

These are real compilation/build **errors** disguised as ~warnings~: the app can't run! We need the other `<Target Name="ReplaceRefWithLib" BeforeTargets="ResolveAssemblyReferences">...` also!

I don't know why, I don't know the build i

[2018-04-11 17:32] ericstj commented on #1522
Which DLLs are failing in this way?  It is  not random, https://github.com/dotnet/sdk/pull/1612 fixed some of them, but its possible you either don't have that fix or that other NuGet packages are contributing to the same issue.

[2018-04-11 18:17] lmagyar commented on #1522
It depends on what packages are used:
* **system.reflection.typeextensions 4.4.0** - when net461 Orleans.Activities 0.4.0-master-10143 is used, that uses **netstandard2.0 Orleans.Activities.Core.Abstractions 2.0.0**, that refers a great number of mixed packages
* **system.net.http 4.3.0** - when **net461 Microsoft.Orleans.Core 1.5.3** is used, that refers a great number of mixed packages

I use VS

[2018-04-11 18:28] lmagyar commented on #1522
But what is really strange, if you check my repro project above, that even with the same nuget and direct assembly references within 2 projects in the solution, one project (HelloWorld.GrainImplementations) builds without these errors, but the other project (Arithmetical.GrainImplementations) (referring the same nugets, same assemblies, even inside the xaml, even the same namespaces in the xaml) h

[2018-04-11 20:07] wli3 commented on #2114
strange, if I take a dependency "by hand" like the prototype pack tool project. There is no circular error https://github.com/wli3/testpack00

[2018-04-11 20:51] lmagyar commented on #1522
**Really thank you for the fast investigation! It's nearly unbelievable to get a root cause so fast!**

I've recompiled Orleans with `<PackageReference Include="System.Reflection.TypeExtensions" Version="4.4.0" ExcludeAssets="Compile" />`, and you were right!

The TypeExtensions error went away, but I've got the same with System.Runtime.CompilerServices.Unsafe. This is only indirectly referred by

[2018-04-11 23:29] #1157 closed

[2018-04-12 00:31] nguerrera commented on #2128
Fixed by #2134

[2018-04-12 00:31] #2128 closed

[2018-04-12 00:56] wli3 commented on #2114
And if you set <TargetFramework>netcoreapp2.1</TargetFramework> to <TargetFrameworks>netcoreapp2.1</TargetFrameworks> it is fine

[2018-04-12 01:10] wli3 commented on #2114
Relate https://github.com/NuGet/NuGet.Client/pull/1148

[2018-04-12 01:58] wli3 commented on #2114
The timing of load <NoBuild>true</NoBuild> is wrong. NuGet already set this flag. However, due to timing, it is not honored by Publish<-PackTool

[2018-04-12 14:29] ptsoccer commented on #922
I'm kind of curious how this hasn't gotten more attention. Is this not a use case that was expected? I am trying to make a cross platform application and one of these platforms is a full .NET WPF application, and it seems like no matter what I do I am getting screwed by one issue or another.

I am currently on VS 2015 and nuget doesn't handle transitive .NET standard dependencies in legacy project

[2018-04-12 16:06] mausworks commented on #1916
For now, I added:

[code]
To my `~/.bashrc`.

But it [looks to be resolved shortly.](https://github.com/dotnet/core-setup/issues/3976#issuecomment-380546024) :+1:

[2018-04-12 16:16] nguerrera commented on #922
I would suggest switching all projects to PackageReference after moving to VS 2017. It works with non SDK projects too.

[2018-04-12 16:18] nguerrera commented on #922
Also #479 is closed so this may be fixed can you try using the .net core 2.1 preview 2 sdk?

[2018-04-13 02:16] #1328 closed

[2018-04-13 07:32] Nirmal4G commented on #867
Please consider these names

- `BuildPath`
- `BaseBuildPath`
- `BuildOutputPath`
- `BuildRootPath`
- `BuildRootOutputPath`

I personally like `BuildPath` and `BuildOuputPath` and I used the former one in [my example](#issuecomment-330975045)

[2018-04-13 13:42] mcorsello commented on #901
Not a question, but an observation and approach we're depending upon....

We are also experiencing some issues and have a concern about addressing the reverse transitive dependency issue for reflection loaded IoC patterns....

exe -> A <- B -> C
exe is never aware of the existence of B or C
A reflection loads B which has compile time dependency on C (say Npgsql.dll)
Recompiling the exe is NOT an o

[2018-04-13 17:43] ptsoccer commented on #922
I tried again to upgrade all the projects to the new format and that seems to have fixed at least this issue. I'm not sure what was different last time (maybe I left some projects unconverted), it seems this only affects project.json projects, so not surprisingly updating to the new format wouldn't have issues.

[2018-04-13 21:50] rfcfore commented on #1630
I am still using msbuild to do my builds.  The issue cropped up for us after some updates to vs2017.  After reading this thread, I added '/p:GenerateSerializationAssemblies=Off' to the build script and that resolved the issue with the project that was failing.  Note: this was happening on the build server, and not on the developers workstations.

[2018-04-16 07:48] petermorlion commented on #1630
@rfcfore In my case, I am working on a legacy project with lots of technical debt. I'm afraid setting the `GenerateSerializationAssemblies` property to `Off` will make the application generate them on startup time and then generate the error at that moment. Which is something I definitely want to avoid. In the end, we solved it by not having a certain .NET 4.6.2 assembly reference the .NET Standar

[2018-04-16 20:58] livarcocc commented on #1738
@nguerrera is this solved by https://github.com/dotnet/sdk/pull/2133?

[2018-04-16 21:03] nguerrera commented on #1738
@livarcocc No.

[2018-04-16 21:55] nguerrera commented on #2115
I cannot reproduce this issue. @groogiam Can you supply more details on the steps that you have taken to see ConfigurationName not being set?

I'm not seeing how this would behave any differently for Sdk-based proejcts. ConfigurationName is set here for both:
https://github.com/Microsoft/msbuild/blob/7c1f7a8cd8f2b844046892036912db28a7ec4c37/src/Tasks/Microsoft.Common.CurrentVersion.targets#L136

[

[2018-04-17 00:27] shanselman commented on #2128
- Does this have **any performance ramifications for builds**? @Petermarcu
- Does this mean that xunit testing is effectively broken in Preview2 (I hit this **immediately**) and are we set up to find this kind of thing if it breaks again? @javiercn

[2018-04-17 00:32] nguerrera commented on #2128
There should be no performance impact to build. This changes a one time action to generate tool deps json but inner loop builds will still utilize the same package assets cache as before.

There's an update to preview 2 going out with this fixed.

There is unit test coverage added to prevent regression.

[2018-04-17 17:03] sixlettervariables commented on #1521
I have two projects that are nearly identical, but only one ran into this problem. I tracked it down to CommonServiceLocator (which the affected project wasn't using). Removing the reference removed the error. Literally a hundred other projects of similar vintage and definition have the same reference. None of them exhibit the issue. This only cropped up for me (or at least noticed) around 15.6.X.

[2018-04-17 17:16] sixlettervariables commented on #1521
At least in my case this may be the root cause: https://github.com/dotnet/sdk/issues/1544

It apparently was fixed? https://github.com/dotnet/sdk/pull/1548

I don't really see that though. In my case the hint path, when concatenated, is 265 characters:
[code]
This has uncovered a problem with some unexpectedly nested directories, but still, not obvious when tracking this down.

[2018-04-17 17:40] #2121 closed

[2018-04-17 17:48] pranavkm commented on #2121
Is there a CLI available that contains this fix? Just like to verify this fixes Mvc scenarios e2e.

[2018-04-17 17:49] nguerrera commented on #2121
@pranavkm I don't think so unless there are already RC prodcon builds happening: cc @mmitche.

[2018-04-17 17:55] ericstj commented on #1544
Indeed, I am seeing the same.  @livarcocc it looks like this change didn't make it into the bits that install here: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\tools\net46.

[2018-04-17 18:05] livarcocc commented on #1544
The fix will be available in VS only in 15.8, unless we want to port this over to 2xx in Escrow.

[2018-04-17 18:18] dsplaisted commented on #803
Fixed with https://github.com/NuGet/NuGet.Client/pull/2131 and https://github.com/Microsoft/msbuild/pull/3059

[2018-04-17 18:18] #803 closed

[2018-04-17 18:27] eerhardt commented on #1057
@dsplaisted - don't you need to update

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.PackageDependencyResolution.targets#L28

?  Or at least remove it?

[2018-04-17 18:43] mmitche commented on #2121
There are, but nothing through CLI yet.

[2018-04-17 19:53] nguerrera opened #2149 "Occasionally seeing warnings or errors building Asp.Net Core 2.1 projects"
_From @BillHiebert on April 12, 2018 15:42_

## Steps to reproduce

- From VS, create a new ASP.NET Core 2.1 Empty Web project
- Build

## Expected  behavior
Build succeeds

## Actual behavior
Occasionally, the build will succeed but show the following warning:

Could not write state file "obj\Debug\netcoreapp1.1\App3.csprojAssemblyReference.cache". The process cannot access the file 'D:\dd\WTE\Re

[2018-04-17 19:53] nguerrera commented on #2149
_From @livarcocc on April 13, 2018 23:53_

@nguerrera

[2018-04-17 21:59] dsplaisted opened #2150 "Enable perf runs for Linux"
We did not enable Linux perf runs because at the time there was a bug in the XUnit.Performance library on Linux with the way we were using it.  That should now be fixed so we should enable Linux perf runs.

[2018-04-17 22:07] nguerrera commented on #2116
Ping @joperezr Can you link this to a dupe bug or PR so we can track *why* we expect this is fixed. I will close this once we have that.

[2018-04-17 23:02] ericstj commented on #1544
Are you sure?  I ask because I'm pretty surprised this didn't get fixed with codeflow given its been in master since @nguerrera merged it in October.

[2018-04-18 01:06] groogiam commented on #2115
After some further investigation this turned out to be an issue in the solution configuration. Some of the x64 configurations had the wrong configuration targeted. You can close this, sorry for the trouble.

[2018-04-18 01:17] #2115 closed

[2018-04-18 09:46] chibanemourad commented on #1967
@nguerrera I seeing this with the build tools sku in CI

[2018-04-18 11:12] DoCode commented on #2003
@dsplaisted thanks for your support.
The only simple answer to your question is, that we would redirect the base `obj` (BIOP) folder outside of the project directory structure.
Is there a solution for this?

[2018-04-18 15:27] clguimanMSFT commented on #2149
I'm also hitting this issue consistently when using the "dotnet store" command with the preview2 runtime. The same command worked just fine with preview1.

[2018-04-18 15:36] SimplerSoftware commented on #2149
Yeah... unfortunately this is preventing me from testing Preview2.  I had to revert back to Preview1 :(  I guess I've gotta wait another month or so for the next preview/beta.

[2018-04-18 16:28] AlexGhiondea commented on #2116
@nguerrera are you asking about the PR that we did in the SDK to help with the binding redirects issues?

[2018-04-18 16:58] nguerrera commented on #1738
@eerhardt

I've been looking at this for a while and that doesn't match what I'm seeing. The change in behavior in 15.5 seems to deliberately follow from:

https://github.com/dotnet/sdk/pull/1618 **In conflict resolution, treat items from FrameworkList.xml as platform assemblies**

We end up getting :
[code]

And System.AppContext from the nupkg is discarded in favor of the in-box reference assemb

[2018-04-18 17:10] nguerrera commented on #2116
@AlexGhiondea AFAIK, there were many different issues that you guys helped fix in this repo. It's unclear to me which one fixed the symptoms here. I would like to link to a specific PR or issue before closing. I'm not keen on closing a bug based on "I believe that this issue would be solved by using VS 15.6.3 or newer" without linking to the presumed fix or dupe.

[2018-04-18 18:10] AlexGhiondea commented on #2116
@nguerrera I understand. I'll let @joperezr add that link.

[2018-04-18 19:02] wli3 commented on #1853
ResolvedFileToPublish by the property name should be the right one to use. However in MSBuild the author can always override things. At the same time Publish folder could have similar issue when unexpected item being dropped to Publish folder. At lease we can avoid one globing, which is a big perf cost.

[2018-04-18 19:02] #1853 closed

[2018-04-18 19:02] wli3 commented on #1853
Close for now

[2018-04-18 19:18] dsplaisted commented on #2003
@DoCode I'm not following.  If you want to redirect the obj folder, then use a Directory.Build.props file like I suggested.  The path you put in that file can be outside the project directory structure if you want it.

You probably don't need to use the `--no-dependencies` or `--force` options.

[2018-04-18 19:36] nguerrera commented on #1738
@eerhardt and I spoke offline and we think that conflict resolution handles the real scenarios now, but it would still be good to add an extra layer of defense against ever marking something from nuget as "referenceassembly" in deps.json, because that is always wrong. However, since we can't come up with a real scenario where this defense mechanism would trigger, I'm moving this to 2.1.4xx. I will

[2018-04-18 21:41] DoCode commented on #2003
@dsplaisted thanks again! I am a little bit overcommited ;-)
So what I see today, I can not build dynamically a output folder structure like this:
[code]

The only problem is, that I can not dynamic parse the informations like cpu, architecture, target framework and so on, when I use the directory.build.props.

[2018-04-18 21:42] simonz130 commented on #1695
I have the same problem on Debian 9 VM:
I tried to run:
[code]
It looks like `dotnet build`  didn't build anything and then dotnet run tries to build first and fails with

Here is my environment info:

[code]

[2018-04-18 22:34] wli3 opened #2158 "version comparison is not robust"
SDK compare version use msbuild condition. However, msbuild build will try to [parse it as dec or hex ]( https://github.com/Microsoft/msbuild/blob/e8b480c373eadd9daa975c6e96e4dbbabcd9a4fe/src/Build/Evaluation/Conditionals/NumericComparisonExpressionNode.cs#L44)first. So _2.11_ will be smaller than _2.2_.

If appending 0 at the end as in _2.2.0_, it will cause parse as number fail and consider it a

[2018-04-18 22:40] dsplaisted commented on #2003
@DoCode Yes, the target framework and runtime identifier aren't available at that point.  By default they are appended to the path under the project-specific path.  So if you set `BaseIntermediateOutputPath` to `build\obj\<project-name>`, then you will end up with folders such as `Debug\netstandard2.0\win7-x86` under it.

[2018-04-18 22:43] DoCode commented on #2003
@dsplaisted ok.
No chance to calculate and read the props in a custom task (default task in directory.build.props)?

[2018-04-18 22:49] dsplaisted commented on #2003
@DoCode No, these properties are set in evaluation, which is before any tasks are run.

It's probably possible to get close to the layout you want, but it would be a lot trickier.  You'd still set the `BaseIntermediateOutputPath` to something like `build\<project-name>\obj` in Directory.Build.props, but then you would calculate the `IntermediateOutputPath` and `OutputPath` in a .targets file that

[2018-04-18 22:52] DoCode commented on #2003
Thanks a lot, Daniel (@dsplaisted)!
I will test this tomorrow... Now it's very late in the Bavarian Alps! :-)

[2018-04-18 23:11] dsplaisted commented on #1057
@eerhardt #2010 does that

[2018-04-19 00:36] nguerrera commented on #2149
Using this bug to track the error case. The warning is tracked by https://github.com/Microsoft/msbuild/issues/3211

[2018-04-19 04:57] davkean opened #2161 "Building a project between two different SDKs fails hard if you reuse nodes"
## Steps to reproduce

1. Build a project via msbuild with 2.1.300-preview2-008324
2. Before msbuild nodes shutdown, build a project via msbuild with 2.1.300-preview2-008533

## Expected  behavior
No errors

## Actual behavior
Actual:
[code]

## Environment data
`dotnet --info` output:

[2018-04-19 04:58] davkean commented on #2161
Elsewhere we version tasks dlls every build to avoid this.

[2018-04-19 04:59] wli3 commented on #2158
that does work.

Note $([System.Version]::Parse("2.2")) seems a proper object, not evaled to string and passed as string. Since replace it with string will cause error  ` error MSB4186: Invalid static method invocation syntax: ".CompareTo([System.Version]::Parse("2.2"))". Invalid cast from 'System.String' to 'System.Version'. Static method invocation should be of the form: $([FullTypeName]::Method

[2018-04-19 11:04] ankgupta067 opened #2162 "dll as a refrence , Copy local to false, does not have entry in deps.json"
create a .net standard dll , name it as Paas dll, and change the output path ..\Output\

add a class logger like below-

[code]
Now create another .net core console project in solution and add dll as a refrence ( not project refrence) for pass.dll and make copy local to false.

Also change output directory of console app to ..\Output\

add below code in console app -

[code]
Build and run .net cor

[2018-04-19 17:43] livarcocc commented on #2161
@nguerrera and I were just talking about this. We used to version assemblies out of the SDK for every build. It seems like we regressed with the infra-changes we did moving to repotoolset.

@tannergooding can you investigate this. I will mark this for 2.1.3xx and will consider taking it to shiproom.

[2018-04-19 17:48] nguerrera commented on #2161
Yes, this is a regression. Task dlls should get a unique assembly version with every build.

[2018-04-19 17:49] nguerrera commented on #2161
Original issue: #488, original fix #815

[2018-04-19 18:09] tannergooding commented on #2161
PR is here: https://github.com/dotnet/sdk/pull/2163

[2018-04-19 18:54] wli3 commented on #2158
it is supported
https://github.com/Microsoft/msbuild/blob/master/src/Build.UnitTests/Evaluation/Expander_Tests.cs#L2322

However the concern is should 2.1.0.0 and 2.1 be equal at all? in NuGet version they are the same

https://docs.microsoft.com/en-us/nuget/reference/package-versioning

Need further discussion in NuGet Sync meeting

[2018-04-19 19:27] steveharter commented on #2162
Pending security review, yes IMO we should automatically support every local assembly by default.

[2018-04-19 19:30] steveharter commented on #2162
Note we will automatically pull in assemblies if there is no deps.json file, so I think by also pulling in local assemblies when we have a deps already makes us more consistent and provides a path to have a minimal deps.json file.

[2018-04-19 19:49] livarcocc commented on #1438
@dsplaisted should we close this issue now?

[2018-04-19 20:35] #1438 closed

[2018-04-19 23:30] nguerrera commented on #2149
Fixed by #2159

[2018-04-19 23:30] #2149 closed

[2018-04-19 23:32] nguerrera commented on #2089
Fixed by #2159

[2018-04-19 23:32] #2089 closed

[2018-04-21 00:07] nguerrera opened #2170 "Breaking change from removal of SDK defaulting ProjectAssetsFile"
See https://github.com/dotnet/cli/pull/9117 and https://github.com/dotnet/sdk/pull/2010

It has always been incorrect in general to to `msbuild /t:restore;build` or `<MSBuild Targets="Restore;Build"` because evaluation is shared and so build doesn't see the targets pulled down from nuget. #2010 adds a hard dependency on the ProjectAssetsFile being set by the generated props file in restore, which

[2018-04-21 00:13] #1847 closed

[2018-04-21 00:13] #1942 closed

[2018-04-21 01:28] rainersigwald commented on #2170
I also like option 1.

[2018-04-21 01:43] nguerrera commented on #2170
Another thing worth noting here is that this will only fail on the first attempt. Rerunning the same incorrect pattern will succeed when the props file is already on disk. This means that the error message has to be crystal clear or users will just chalk it up to perceived flakiness.

[2018-04-21 02:09] NickCraver commented on #2170
For what it's worth, this would break many of our builds running fine today. It is incorrect to say it'll only fail on the first attempt. A good build on a build agent should be doing a clean build on every pass, and therefore will fail on every attempt.

I definitely disagree with breaking this behavior that works for many people today. They have no idea they shouldn't do it *because it works*. I

[2018-04-21 02:37] nguerrera commented on #2170
To be clear, I wasn't pointing to the fact that it works on retry as a reason to leave this. Quite the opposite, I'm saying it will be hard to understand when you can't repro it for more than one attempt locally.

[2018-04-21 02:47] nguerrera commented on #2170
I think it's worth being pretty clear about what scenarios are broken if you use the pattern in question.

If any package in your graph, adds targets you'll never use those targets (except on local incremental builds). This could be silent bad behavior: build succeeds but a vital step is skipped. And you might not notice it locally because the bits you're debugging are often incremental. I think t

[2018-04-21 02:49] nguerrera commented on #2170
I've personally lost a lot of time chasing down subtle behavior from this, which is why I hope we can at least warn. But even warning will break builds :(

[2018-04-21 04:48] kunjee17 opened #2171 "Binding Redirect issue in Mac"
I recently switch to Mac machine. And project that was working without any issue on Windows start giving binding redirect issues on Mac.

I have tried with

Dotnet SDK - 2.1.4 and 2.1.105 both... Getting same issue..

Here is error message
[code]

And here is the dump I am getting from dotnet
[code]

I did put Automatic redirect in proj file
[code]

PS : I am using fsproj file.

I don't know how t

[2018-04-21 17:30] bording commented on #2170
Reading about this, I now realize that I've definitely been hit by it, but was never able to figure what the cause was. I'd much rather see some notification that calling restore and build together is wrong than continue to let it silently be a problem.

I suppose it's a long shot, but would there be a way to just do to the right thing on behalf of the user when one of bad invocation patterns was

[2018-04-21 17:41] daveaglick commented on #2170
Could something like what happens with multi-targeting work here? I.e., if this pattern is detected could an “outer build” call the Restore target and then let an “inner build” handle all the subsequent targets?

[2018-04-22 02:11] qqbuby commented on #1707
I use the  [wwwroot-gen.sh](https://raw.githubusercontent.com/qqbuby/MSB3021/master/src/website/wwwroot-gen.sh) as below to generate static files with same dir name `$MODULE0` and `$MODULE1`.

On windows, `.../Module` and `.../module` are same, however there are different on linux.

God bless, with the notice above, we can reproduce the problem, so ...

[code]

MODULE0=wwwroot/lib/scripts/clientAp

[2018-04-23 14:34] martinprikryl commented on #1321
For me, recreating a .sln fixed the problem.

[2018-04-23 16:19] Pilchie opened #2172 ".net core dll as a reference behaves differently from .net"
_From @karelz on April 21, 2018 17:40_

_From @ankgupta067 on April 16, 2018 12:25_

create a .net standard dll , name it as Paas dll, and change the output path ..\Output\

add a class logger like below-

[code]

Now create another .net core console project in solution and add dll as a refrence ( not project refrence) for pass.dll and make copy local to false.

Also change output directory of con

[2018-04-23 16:19] Pilchie commented on #2172
_From @karelz on April 21, 2018 17:40_

I am able to reproduce the problem with .NET Core 2.0 - the application does not need to set copy local false, or change its output (to minimize the repro). Either change library output directory, or just copy the output somewhere else - the project system won't find the library project and therefore won't generate necessary entries in app.deps.json file. It

[2018-04-23 16:58] livarcocc commented on #2171
Please, share a repro of the issue. Like a small github repo that we can just build to repro it.

[2018-04-23 17:43] NickCraver commented on #2170
@nguerrera I thought about this over the weekend and while breaking people sucks, and warnings break people, I still think number 2 is the best available option here.

People will get the debug information and they can even `<NoWarn>` it if they so choose, or some other property the warning tells them to set.

[2018-04-23 21:53] livarcocc commented on #2172
I believe this has been fixed by @tannergooding already. @tannergooding can you investigate/confirm?

[2018-04-23 23:44] dsplaisted opened #2173 "Fix breaking change from removal of SDK defaulting ProjectAssetsFile"
See #2170.  With #2010, we introduced a breaking change in a scenario that was not supported, but could sometimes work.  We decided to fix the breaking change for 2.1.3xx, which we'll track with this bug.  Separately, we will probably bring back the breaking change, making sure that we have a clear error or warning message, in a subsequent release.  We'll track that with #2170.

[2018-04-23 23:46] dsplaisted commented on #2170
We decided not to take the breaking change for 2.1.3xx (ie option 3), but intend to bring it back in a subsequent release (option 1 or 2), ensuring we have the right error / warning message / experience.  I've filed #2173 for fixing the breaking change, and I've updated the title of this issue to track implementing option 1 or 2.

[2018-04-24 00:39] nguerrera commented on #1967
I just found an instance of this error in the following situation with an internal user, where:

1. Builds were running as the SYSTEM user.
2. Packages were getting restored to "C:\\Windows\\system32\\config\\systemprofile\\.nuget\\packages\\"
3. During build, NuGet API returns null for path to assets that were restored there causing ResolvedPath=(empty)
4. Empty ResolvedPath leads to this express

[2018-04-24 00:39] nguerrera commented on #1967
I am trying to set up a repro on a VM so that I can debug exactly why the resolution fails.

[2018-04-24 01:06] nguerrera commented on #1967
Adding this to 2.1.3xx because I now see that even if we got past this error (for code that doesn't exist in 2.1.3xx) we would still fail to build if we can't resolve the asset path.

[2018-04-24 08:27] ankgupta067 commented on #2172
another similar issue i opened
https://github.com/dotnet/sdk/issues/2162
some days before

[2018-04-24 13:08] killyosaur opened #2175 "The Test runner will not run .net Core 2.0 tests if the path in Environment variables contains a trailing '\'"
Found that items in the Path variable in Windows that the test runner uses that have a trailing back slash cause tests to fail to run with an ArgumentException: Illegal Character in Path.

[2018-04-24 14:19] rainersigwald commented on #1967
@nguerrera One problem we've seen with builds running as system is running programs with different bitnesses. Since `C:\Windows\system32\config\systemprofile` is under `system32`, it's subject to WoW redirection, and a 64-bit program won't see the same files in that directory as a 32-bit program. Not 100% sure that's relevant here but throwing it out.

[2018-04-24 15:15] dsplaisted commented on #1502
@ericstj @weshaggard The platform manifest is only set in Microsoft.NETCore.App.props if the app is not self-contained:

[code]

So we don't have access to it when publishing a self-contained app.  In order to use it for the assembly versions, we'd need the Microsoft.NETCore.App to include it even for self-contained apps (although I'm not sure what other affects that would have on conflict resolut

[2018-04-24 15:26] ericstj commented on #1502
True, the platform manifest is used in lieu of the real run-time packages and is meant to indicate items that conflict resolution won't see.

Another thing to look at might be the package override resolver and making that work on restore as well.  That's not perfect though since its currently missing a lot of runtime packages.

Both of these feel like hacks though.  What did you end up doing for t

[2018-04-24 16:00] dsplaisted commented on #1502
@ericstj The feature to write assembly and file versions to deps.json uses the same code to read the assembly versions.  So it would fail to get the assembly version for cross-gened assemblies.  However, I don't think there's any scenario where cross-gened assemblies would be deployed in a framework-dependent app, so the deps.json feature is probably OK.

[2018-04-24 16:49] livarcocc commented on #2175
What is the form of this trailing slash? Is a separate entry by itself or it is some path that is terminated in the slash?

[2018-04-24 17:47] dsplaisted commented on #1502
@ericstj Looking at the MSBuild project files, it looks like System.Reflection.Metadata [is only used](https://github.com/Microsoft/msbuild/blob/master/src/Tasks/Microsoft.Build.Tasks.csproj#L948-L951) if not targeting .NET Framework, the same as our task.  So that doesn't help us if we're running in desktop MSBuild.

[2018-04-24 18:00] ericstj commented on #1502
That's odd, I see it in the layout under MSBuild\15.0\bin.  Regardless, it is possible to load this in Desktop.  Worst-case you can create an app-domain and specify binding redirects and remote into it.  Alternatively you can carefully select the versions of SRM and SCI to avoid the need for redirects, that would avoid the issue I pointed out in the earlier PR.  For example: SCI 1.4.0 and SRM 1.5.

[2018-04-24 18:11] nguerrera commented on #1502
I see it only under 15.0\Bin\Roslyn where it will not be loaded into MSBuild.exe or devenv.exe, but rather csc.exe/vbc.exe/VBCSCompiler.exe.

[2018-04-24 18:12] nguerrera commented on #1502
Now VS generally is prepared to load the same version as Roslyn, but I am terrified about being another thing that needs to get involved when its version in VS changes. I'm also terrified at creating appdomains or assembly resolve events, etc. etc. :(

[2018-04-24 18:12] nguerrera commented on #1502
cc @tmat @jaredpar

[2018-04-24 18:33] ericstj commented on #1502
For completeness: We could use CCI or LMR, or carry a private copy of part of SRM.  Any of these less scary?

Why do we care about loading the same version as the rest of VS and roslyn?  We aren't exchanging types.  If we're only talking about cross-publish I don't think inner-loop perf / working set is a huge issue.

[2018-04-24 18:44] nguerrera commented on #1502
Those are even scarier.

If there's RTM versions we can take that don't require redirects then we're probably ok. But I've been involved in multiple task dll hell episodes, and sometimes we get dragged into devenv.exe.

IIRC, you attempted to use SRM on desktop onece before and ended up closing the PR with something like "this is exactly why I avoided it in the first place"

I want to do the right

[2018-04-24 19:16] ericstj commented on #1502
The versions I mentioned above (SRM 1.5.0) don't require redirects.  Our build in CoreFx changed in 2.0 such that we don't require redirects.  In 1.0 folks had to decide if they wanted that behavior and we typically didn't because we had different priorities: preserve independent update of components.  In 2.0 our priorities changed to prefer building a set/wave of packages.

The issue I hit before

[2018-04-24 19:52] jaredpar commented on #1502
True in the sense that MSBuild is a plugin model and everyone can bring the dependencies they choose. But this isn't true in the VS case I'm referring to. There is a specific set of binaries on disk for a given SKU and they can be viewed in their totality.

It can ship separately. It also ships in box (just like Roslyn).

[2018-04-24 19:52] nguerrera commented on #1502
Yes.  There have been lots of issues with our nuget.*.dll around this. It has been mostly fixed by ensuring nuget now bumps its assembly version so that we can load SxS successfully if version in devenv is older than us. But the latest episode involved an extension adding assembly resolve events for nuget.*.dll and implementing it wrong. The fewer common things that get loaded into the net46 copy

[2018-04-24 19:59] ericstj commented on #1502
We always version our assemblies between releases so we won’t have the nuget issue and the only way to avoid the ResolveEvent is to not attempt it which I believe we are safe.

I do understand the netcoreapp difference: just sharing that to demonstrate that the generalization Jared made wasn’t quite so universal.  I’m curious to understand the real requirements behind unification since that’s what

[2018-04-24 20:59] nguerrera commented on #1502
Spoke to @tmat offline about @jaredpar's specific concern of just having a mismatched S.R.M or S.C.I on disk in VS install breaking VS ngen. It seems to not be an issue here because the directories probed are defined in vsn.exe.config. There are various copies of different versions in Program Files\dotnet (where we install, not in the list) and they haven't ever triggered a VS NGEN break.

So I th

[2018-04-24 22:06] #2173 closed

[2018-04-25 09:09] ManniManfred commented on #1151
Hi, my current workaround is the following, that checks the solution file.

[code]

And add the ProjectPath to package element:
[code]
I tried to get the project path dynamically from solution file, but without success :(
[code]

[2018-04-25 16:28] richlander opened #9319 "Use Capitals for Release names"
Just installed an RC1 build ... see:

![image](https://user-images.githubusercontent.com/2608468/39259304-f5fa33e4-486a-11e8-8743-bf31109b5106.png)

Branding should follow this form:

- "Preview 1"
- "RC1"

[2018-04-25 16:32] rshillington opened #2179 "dotnet process consuming CPU when no dotnet programs should be running"
## Details about the problem
.NET Command Line Tools (2.1.105)

Product Information:
 Version:            2.1.105
 Commit SHA-1 hash:  141cc8d976

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.13-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.1.105/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.7
  Build    : 2d61d0b043915

[2018-04-25 17:05] livarcocc commented on #2179
This is likely the VBCSCompiler and that the process lingers around is expected. The fact that it is consuming CPU is an issue that has been addressed and a fix for it will be available in our 2.1.200 release.

[2018-04-25 17:05] #2179 closed

[2018-04-25 17:05] livarcocc commented on #2179
In 2.1.300, you can shutdown all long running build processes spun by dotnet by running `dotnet build-server shutdown`.

[2018-04-25 18:26] dsplaisted commented on #1538
@wli3 I'm not sure, try changing the `TargetFramework` to netcoreapp2.0 and seeing what happens.

[2018-04-25 19:16] natemcmaster opened #9321 "Same SDK version, different contents"
For the last few rounds of stabilization, we have repeatedly run into issues with ProdCon and the CLI. Because the CLI uses commit height to determine its version, **multiple builds of the CLI will have the same filenames**. This makes it difficult for partner teams to ensure that the correct bits are used and tested.

For example, there are at least two builds of 2.1.300-rc1-008662, one containin

[2018-04-25 22:17] RabdPnguin opened #9322 "Inconsistency between : and = for setting command line options."
## Steps to reproduce
dotnet new console -o:"-o" // command works but creates the console app in the current directory.
dotnet new console -o="-o" // command works as expected; creates a "-o" directory and creates a new console app in the "-o" directory.

Why does : work differently than =?

## Expected  behavior
: and = for setting options should work the same.

## Actual behavior

They don't wor

[2018-04-26 01:08] KirillOsenkov opened #2183 "First-chance ArgumentOutOfRangeException in NuGetUtils.cs line"
https://github.com/dotnet/sdk/blob/1e286bdb0387033b8d0a7e3a2157010ea3855360/src/Tasks/Common/NuGetUtils.cs#L53

When debugging a design-time build on the line above I see `fullPath` =  `System.Xml` and `dir.FullName` = `J:\s\src\Tools\BuildUtil`. Calling substring with these arguments throws, obviously.

It is being caught in the catch block below, but still causes dozens of annoying first-chance

[2018-04-26 07:12] idg10 commented on #1855
You say that trimming does occur "When building a .NET Framework or .NET Core 2.0 app" but I've got a project (with a `<project Sdk="Microsoft.Net.Sdk">` style `.csproj`) that builds a `<TargetFramework>net462</TargetFramework>` exe file, and it doesn't seem to trim this stuff. I've got 106 DLLs with names start `System.` in my build output. And the same happens if I run `dotnet publish` - no trim

[2018-04-26 10:39] escar opened #2186 "Could not load file or assembly 'netstandard, Version=2.0.0.0"
Not sure if it's alright to ask this question here, but...

I'm getting the following error after deploying a .net framework 4.5.2 web api.

`Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified.`

This doesn't happen on all the endpoints, just one, where I'm using Micr