[2018-11-13 20:55] vitek-karas opened #2660 "Deps file includes runtime assets even for project references with Private=false"
`ProjectReference` with `Private=false` will not copy the referenced project's output to the application output folder (the desired behavior with `Private=false`). But it will still include the output as a runtime asset in the generated `.deps.json`. This effectively corrupts the application, such app won't load (fails in host during `.deps.json` processing).

This is also undesirable for producin

[2018-11-13 21:30] livarcocc commented on #2660
cc @peterhuene

[2018-11-13 21:37] daveaglick commented on #472
I'm also seeing problems with missing `runtimeconfig.json` files on `netcoreapp2.1` (at least I think I am). Here's what I see immediately after running `dotnet clean` followed by `dotnet build`:

[code]

It's also worth noting I was able to get this to run on the very first build, but haven't been able to since. I assume it created the necessary file in the absence of any sort of build cache, but

[2018-11-13 21:43] livarcocc commented on #472
@daveaglick I would suggest filling a new issue with repro steps for your issue above.

[2018-11-13 21:51] daveaglick commented on #472
@livarcocc Planning on it, working up a from-scratch repro now and will file once I have a bit more info. Just wanted to drop it in here first since the post above looks related.

[2018-11-14 02:48] yhvicey commented on #2629
I've upgraded to 2.1.500 without preview and this error seems resolved.

[2018-11-14 14:54] nguerrera commented on #2660
@peterhuene

Separate, but IIRC, libraries will also not copy their nuget refs by default in the build and publish unification thus far. So folks might expect they can just deploy their plugin build output.

We need to think about this. Opting in for libs makes sense to me on the one hand because it is common to have a large sln full of libs that will never deploy as their own thing and it could l

[2018-11-14 15:00] nguerrera opened #2662 "Inconsistent defaults for class libraries vs. plugin scenario"
Runtime is adding a feature to load components with deps.json.

However, IIRC, libraries will not copy their nuget refs by default in the build and publish unification thus far. So folks might expect they can just deploy their plugin build output, but it will be missing dependencies.

We need to think about this. Opting in for libs makes sense to me on the one hand because it is common to have a l

[2018-11-14 15:01] nguerrera commented on #2660
Filed https://github.com/dotnet/sdk/issues/2662

[2018-11-14 15:01] nguerrera commented on #2662
@peterhuene @vitek-karas

[2018-11-14 18:21] nguerrera commented on #2553
I believe this is done. We picked defaults.

[2018-11-14 18:21] #2553 closed

[2018-11-14 18:22] nguerrera commented on #2493
This is fixed. We copy manifest to apphost now from managed dll.

[2018-11-14 18:22] #2493 closed

[2018-11-14 18:23] nguerrera commented on #2473
This is fixed.

[2018-11-14 18:23] #2473 closed

[2018-11-14 18:34] eerhardt commented on #2662
The `.deps.json` file generated by a library is _very_ incorrect w.r.t. what gets used at runtime. And it shouldn't be used at runtime. I believe it was a mistake to create it in the first place.

The reason it is wrong is that building a library doesn't know which actual referenced assembly is going to be used at runtime.

For example, say I have a `netstandard2.0` library and it depends on a NuG

[2018-11-14 18:42] eerhardt commented on #2662
One "idea" to get this scenario to work is require the developer pick the executable TFM when building/publishing the above library. If they want that library to run on `netfx45`, they need to build/publish the library for `netfx45`. Similar for `netcoreappX.Y`.

[2018-11-14 18:43] vitek-karas commented on #2662
We're kind of relying on the `.deps.json` to enable plugin like scenarios to work (see the proposed API here: dotnet/corefx#33165). That said I'm still trying to figure out what are the recommendations for plugin authors to follow. One such recommendation could be that they have to build it as a `netcoreapp2.0` classlib (not `netstandard`).

[2018-11-14 21:40] ryanbrandenburg commented on #2651
We're still having trouble with 3.0.100-preview-009750. The message we get now is:
[code]

It seems like `BundledAspNetCoreAppPackageVersion` which we have previously used in this area to force framework version isn't being consulted. Is there a new variable? Is this one just broken?

[2018-11-15 07:38] dsplaisted commented on #2651
@ryanbrandenburg Yes, the way this works has changed.  It also is likely to change again as we move to targeting and runtime packs.

For now, here's how it's defined (in Microsoft.NETCoreSdk.BundledVersions.props):

[code]

You should be able to update the versions with something like this in your .targets:

[code]

[2018-11-15 17:22] dsplaisted opened #2668 "Enable BuildMVCApp perf test in master"
The BuildMVCApp perf test is failing in #2665.  I believe this is because I am inserting an updated stage 0 where the mvc templates currently don't work.

I am going to disable this test.  When we have a fixed stage 0, we should re-enable it.

[2018-11-15 17:42] ryanbrandenburg commented on #2651
Can we get an issue filed against us at aspnet/AspNetCore or be otherwise notified when this kind of change is coming? It's a real pain to find out about these things piecemeal when they start breaking us, and it can server as semi-documentation for anyone who's doing their own templates or otherwise operating outside of the "normal" workflow (that is, aren't using preview or RTM builds with full

[2018-11-15 18:35] #2654 closed

[2018-11-15 20:36] ryanbrandenburg commented on #2651
This was solved by KnownFrameworkReference. I've run into a different problem, but I'll file it as its own issue.

[2018-11-15 20:36] #2651 closed

[2018-11-15 20:43] livarcocc opened #2671 "Editor and Compiler doesn't handle preprocessor symbols for target frameworks with Visual Basic .Net Core/.Net Standard"
@jing8956 commented on [Mon Nov 12 2018](https://github.com/dotnet/project-system/issues/4263)

Create a simple multiple target frameworks .Net Standard or .Net Core project
[code]
and put this code in the class:
[code]
Expected(C#) and Actual(Visual Basic):
![2018-11-12](https://user-images.githubusercontent.com/20148769/48337474-fa655900-e69d-11e8-8e34-17a9c39370ec.png)
![2018-11-12 1](https://u

[2018-11-15 20:53] ryanbrandenburg opened #2672 "Published Mvc apps with 3.0 sdk don't work"
# Steps to reproduce

1. `git clone https://github.com/ryanbrandenburg/ImplicitSDKDemo`
2. Aquire the 3.0.100-preview-009750 SDK
3. `dotnet run -c Release` the project.
4. Navigate to `https:localhost:5001`.
5. See that it all works.
6. Shut down the project.
7. `dotnet publish -c Release`.
8. `.\bin\Release\netcoreapp3.0\publish\SDK.exe`
9. Navigate to `https:localhost:5001`
10. Observe the 404.

[2018-11-15 21:02] livarcocc commented on #2672
@peterhuene to take a look since there was some shuffling around for this logic for copy local.

[2018-11-15 21:04] peterhuene commented on #2672
Given those changes haven't made it into the build yet, something else is at play here.

I'll investigate.

[2018-11-15 21:40] peterhuene commented on #2672
I can't repro this correctly with `3.0.100-preview-009750`:

[code]

Looks like `3.0.0-alpha1-10663` is currently being installed.  If I change the explicit framework reference in the project file, I get this:

[code]

Version `3.0.0-preview-27113-06` was installed by the SDK.  Shared framework whack-a-mole.

[2018-11-15 21:56] dsplaisted commented on #2672
I think this is probably the same as #2654, which is fixed by #2655.

I expect the fix to make its way into a build of the .NET SDK today.

[2018-11-15 23:21] ryanbrandenburg commented on #2672
@peterhuene I get the following from `dotnet --info`:
[code]

If you need more information than that to reproduce this issue please let me know.

Why do you think that? Are you unable to reproduce with that fix locally?

[2018-11-16 00:14] ryanbrandenburg commented on #2672
Talked to @dsplaisted offline, he suggested the following as a workaround:
[code]
Tested it locally and it works. This gets us unblocked and he says a fix will be in before preview1, at which point we'll remove that target from our templates.

[2018-11-16 00:16] tet-web-dev commented on #2068
I don't have R# installed but I received this when I go to publish the project after changing the target framework from  2.0 to 2.1.
![image](https://user-images.githubusercontent.com/6007105/48589710-bc20a180-e90a-11e8-8a0d-2fa4d05d7e66.png)

[2018-11-16 01:00] dsplaisted commented on #2672
This should be fixed in the .NET Core SDK version 3.0.100-preview-009752.  Let us know if you run into any other issues.

[2018-11-16 01:00] #2672 closed

[2018-11-16 18:37] ericstj opened #2674 "ConflictResolution doesn't consider project references"
I was trying to reference a project that built a newer version of a dll than one from the shared framework.

I expected conflict resolution to remove the one from the shared framework, but the project reference was never passed to ConflictResolution.  As a result both flow through and RAR ignores the project reference.  The two files got passed to RAR, shared framework file as a `Assemblies` param

[2018-11-18 12:36] ghost1372 opened #2676 "run wpf on linux"
dotnet --version = 3.0.100-preview-009756
hi i want run my wpf app on linux so:
1 - Create WPF app dotnet new wpf
2 - dotnet publish -c release -r ubuntu.16.04-x64
3 - Copy Publish folder on linux
4 - chmod 777 ./wpfapp
5 - ./wpfapp
but i get this error:

[2018-11-19 07:20] davidfowl commented on #2676
There are no plans to make WPF applications run on non windows OSes

[2018-11-19 09:17] TimRowe opened #2677 "Publish failed to deploy with https"
When I update visual studio to newest version. My project publish was failed.
The info is  : can't create SSL/TLS security channel. Publish failed to deploy.
WebDeploy focus to use https?  But my target server not suppot with https.

[2018-11-19 20:00] #2676 closed

[2018-11-19 20:01] livarcocc commented on #2677
This issue was moved to aspnet/websdk#431

[2018-11-19 20:01] #2677 closed

[2018-11-19 20:11] onovotny opened #2679 "Discussion: Change default DebugType to embedded for .NET Core 3"
Inspired from this issue and twitter thread
https://github.com/dotnet/docs/pull/9110
https://twitter.com/rrelyea/status/1064587440935956482

I want to propose that the default `DebugType` in the SDK change from `portable` to `embedded`. I would also propose that Sourcelink be included/used by default.

At the very least, there should be one property `ConfigureOpenSourceDefaults` that turns on thes

[2018-11-19 20:19] NickCraver commented on #2679
I can confirm the slow symbol server load is super painful, [I have a related dev community issue open on it](https://developercommunity.visualstudio.com/content/problem/373647/debugger-symbol-server-loads-are-serialslow.html). If someone is on latest previews which means fewer cache hits, it's even worse. I'm not saying optimize for this, only that the case exists and we hit it often.

[2018-11-19 20:20] nguerrera commented on #2679
@tmat

[2018-11-19 20:30] NickCraver commented on #2679
I want to add another angle here: I maintain an exceptions logging library, we deal with exceptions, and we get issues reported from exceptions. Stack traces are golden. They're incredibly useful. I strongly believe default experience for any app should have stack traces include the file paths and line numbers. For this to happen the deployment platform must be able to read the symbols, *and they

[2018-11-19 20:33] nguerrera commented on #2679
How much overhead does that add to build for the ones I'm not using.

Where is this recommended? I can see discussion of supporting mixed submodules, but nothing that says just ref them all.

[2018-11-19 20:33] MeikTranel commented on #2679
I would vote for external PDB-Files by default with sourcelink as an optional feature. NuPKGs should contain PDB-Files that can be filtered with the known asset metadata in packagereferences.
[code]
Maybe it'd be possible to make it Debug/Release Config dependent whether or not symbols are included.

[2018-11-19 20:34] MeikTranel commented on #2679
Not much really. Sourcelink tries to retrieve git remote origin and puts that url through a parser and sees what fits. Getting the current head is also not much effort.

[2018-11-19 20:36] nguerrera commented on #2679
In addition to the concern around size increase being essentially breaking, anything that discloses new source information in binary is absolutely breaking.

[2018-11-19 20:36] nguerrera commented on #2679
I mean breaking if defaults change.

[2018-11-19 20:37] onovotny commented on #2679
Opt-in via a property then, solves the defaults issue.

[2018-11-19 20:37] nguerrera commented on #2679
This is status quo for those, yes?

[2018-11-19 20:38] MeikTranel commented on #2679
Please don't call it "ConfigureOpenSourceDefaults", though. Employers of the world will lose their collective s****, if i start "enabling open source" just to link PDB with private repositories.

[2018-11-19 20:38] onovotny commented on #2679
Yes, and that's what I'm trying to change, at least with a single property to opt-in to a better stance for OSS libraries.

[2018-11-19 20:39] onovotny commented on #2679
I'm sure we can come up with a name. I think the key point here is that there are different security needs for closed source vs open source projects. The SDK can have different default guidance and behavior for each based on a single configuration property.

[2018-11-19 20:49] MeikTranel commented on #2679
So are we talking just the fact that the PDB-File isn't inside the assembly file instead in a seperate file in the same directory is enough for to significantly slow down debug startup?
Or the process of retrieving PDB files from symbol server feeds?

I feel like this is vital to the discussion and the original post wasn't clear enough about this for me to understand.

[2018-11-19 20:52] JamesNK commented on #2679
My hot takes:

Source Link on by default: No. We are looking at this from the perspective of developers who build open source code. Meanwhile the majority of .NET apps are close source.

PDBs embedded in DLL: I like embedding the PDB in the NuGet package alongside the DLL more. It gives the developer the option to not deploy PDBs when publishing then bin directory.

Improvements I'd like to see:
*

[2018-11-19 21:00] MeikTranel commented on #2679
@JamesNK what would be the benefits of having sourcetree in the SDK, if you sourcelink isn't on default?

- You'd need knowledge of sourcelink existing to enable it
- When you already know how to enable sourcelink, you're most likely also able to do
  - `<Sdk Name="Sourcelink" Version="2.x" />` or
  - `<PackageReference Include="SourceLink"/>`

Why put stuff inside Microsoft.Net.Sdk, if this force

[2018-11-19 21:08] JamesNK commented on #2679
I mean that configuration to enable Source Link easily with a property would be in the SDK.

Disclaimer: I'm not an SDK expert.

[2018-11-19 21:33] MeikTranel commented on #2679
Well there's two main ways of distributing Sdk packages currently:

- Pre-Installed into your sdk folder with the dotnet-sdk install (or some other install i don't know of), distributed with slow dotnet-sdk releases
- NugetSdkResolver, which invokes NuGet at build time to restore the package from your feeds

For sourcelink to work you need the sourcelink msbuild task binaries, which do the job of

[2018-11-19 21:39] onovotny commented on #2679
@MeikTranel depending on the mechanism used, it could be possible to override the SDK's version of the tools with an updated version. Also, the SDK does seem to ship updates on a regular cadence, so it'd get picked up that way too.

[2018-11-19 21:43] MeikTranel commented on #2679
@onovotny yeah global.json is your friend here, but pinning versions for Microsoft.Net.Sdk doesn't magically install it. for anyone that doesn't use hosted build agents this means that any requirement to the sdk has to revolve around asking Ops teams to update build images everytime a useful tweak to the sdk comes along.
NuGet sdk resolution is 100x more flexible than this.

[2018-11-19 22:53] vancem commented on #2679
It would be ironic if just when we can provide 2rd party nuget source server support we decide to turn it off by default.    However changing the default so that you use snupkg (rather than symbols.nupkg (you seem to need to set the variable today).
[code]
We should at least document the experience as it is today, as well as how we want the default to be, so that they can be compared properly befo

[2018-11-19 23:26] jcouv opened #2680 "Roslyn no longer builds if I install .NET Core 3 SDK"
I installed a preview of .NET Core  3 (from https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries ).
When I build I get the error below.

Uninstalling it fixes the issue.

[code]

[2018-11-19 23:34] peterhuene commented on #2680
This may be related to the default apphost feature for the 3.0 .NET Core SDK (depending on what `restore.cmd` is doing).

Does setting `UseAppHost` to `false` in `CompilerBenchmarks.csproj` fix the problem?

If it does, could you share with me a binlog from the restore and a binlog for the failing build so I can determine why it's not working?  Thanks!

[2018-11-19 23:35] livarcocc commented on #2679
cc @rrelyea

[2018-11-20 00:02] jcouv commented on #2680
Setting `<UseAppHost>false</UseAppHost>` in `CompilerBenchmarks.csproj` did fix the problem.

I'll send you binary logs by mail.

[2018-11-20 00:13] peterhuene commented on #2680
From the mail, it looks like the restore occurred with an 2.1.403 SDK, which might explain the problem.  Could we ensure the restore also uses a 3.0 SDK?

[2018-11-20 00:30] jcouv commented on #2680
Following your observation and from discussion with @jaredpar, we're clear what is the proper way of restoring and building :-S
To restore, we use 2.1 explicitly, but then we build using `msbuild` (because `dotnet build` cannot handle some of projects with desktop dependencies, vssdk, winforms, ...).

[2018-11-20 00:36] peterhuene commented on #2680
I don't think we can guarantee that a 2.1 restore would work with a 3.0 build.  The apphost feature is expecting consistency and I assume that we're likely to have additional dependencies on the restore being 3.0 (such as the upcoming "download only packages" NuGet feature which may be used for 3.0 SDK features).

Do you need the explicit 2.1-based restore vs. using `msbuild /restore` with a 3.0 S

[2018-11-20 00:39] jaredpar commented on #2680
What is the golden path for customers to take here then? We're in a situation where we have to deal with the following:

- Must have 2.1 installed for the foreseeable future.
- Must install builds of 3.0 on some machines for dogfooding. Will not necessarily be consistent across all of our developers
- Must continue to build on developer machines where there will be both 2.1 and 3.0 installs

How d

[2018-11-20 00:42] jkotas opened #2682 "NETSDK1061: The project was restored using Microsoft.NETCore.App version 2.1.6, but with current settings, version 2.1.0 would be used instead."
_From @gpresland on November 19, 2018 21:38_

Creating a simple project from scratch and attempting to build it throws multiple errors with SDK 2.1.500.

Create a new project with:

[code]

Inside Visual Studio Code run:

[code]

You will be spammed with errors such as:

[code]

_Copied from original issue: dotnet/coreclr#21095_

[2018-11-20 00:52] peterhuene commented on #2680
I think using `global.json` to specify a matching SDK version used for the restore is the best option.

[2018-11-20 00:55] jcouv commented on #2680
I didn't follow. We already use a `global.json`:
[code]

[2018-11-20 00:56] peterhuene commented on #2680
For the SDK resolver, we use the `sdk.version` setting:

[code]

[2018-11-20 00:59] jaredpar commented on #2680
Okay will do. That was deleted by @tmat as part of the arcade work. We can add it back for now but should probably sync up on why that was removed in the first place. Based on this thread it appears it's still  necessary.

[2018-11-20 01:01] jcouv commented on #2680
Confirmed that fixes the problem. I'll close the issue. Thanks!

[2018-11-20 01:01] #2680 closed

[2018-11-20 01:19] livarcocc commented on #2682
cc @dsplaisted

[2018-11-20 01:57] dsplaisted commented on #2680
The global.json was changed specifically so that you wouldn't get pinned to a specific version of the tools.  You should be able to use a newer version of MSBuild, the SDK, etc.

I think the issue here is that Restore.cmd was using one SDK while the build was trying to use a different version.  Could Restore.cmd be changed to use the same toolset/SDK as the MSBuild call uses?

[2018-11-20 02:04] dsplaisted commented on #2682
@DustinCampbell does VS Code have an auto-restore?  How does that work?

[2018-11-20 06:16] vchirikov commented on #2679
Embedded pdb doesn't show full callstack info in net framework < 4.7.2, it's a only a problem here.

[2018-11-20 09:34] psibernetic commented on #2679
IMO new templates on v3 should include the msbuild property to enable all the ins-and-outs of this feature. v2 projects could add the property to opt-in to the behavior without an upgrade.

[2018-11-20 10:47] GrahamTheCoder commented on #833
The end of your csproj needs this adding. Note `Your\Project\Folder\Path` needs to be replaced:

[code]

Ideally we'd be able to use `$(ProjectDir)` instead of `$(SolutionDir)Your\Project\Folder\Path`, but that comes back empty for me. Let me know if you find a fix for that.

[2018-11-20 15:17] rainersigwald commented on #833
@GrahamTheCoder Are you looking for `$(MSBuildProjectDirectory)`? Documentation [here](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-reserved-and-well-known-properties?view=vs-2017).

[2018-11-20 16:01] Tragetaschen commented on #2620
I'm running with `3.0.100-preview-009756` and still get a very similar error (though it's in German)
[code]
The project with the error is a library for the project I'm building and targeting
`<TargetFrameworks>netstandard2.0;netcoreapp2.1</TargetFrameworks>`, the project I'm building only targets `netcoreapp2.1`.

[2018-11-20 18:00] NatElkins commented on #2682
Just want to chime in and say I'm also getting this error.  Even when I clean my solution (`dotnet clean Mysln.sln`) and re-restore it (`dotnet restore Mysln.sln -r linux-x64`).  The command I get these errors on is `dotnet publish -o ./publish -r linux-x64`.

[2018-11-20 18:02] dsplaisted commented on #2682
@NatElkins Is VS Code involved at all when you are hitting this?  The original report involved using VS Code, so I'd like to understand in what contexts the issue is occurring.

[2018-11-20 18:12] NatElkins commented on #2682
@dsplaisted No, VSCode is not involved at all.

[2018-11-20 18:41] jaredpar commented on #2680
Correct me if i'm wrong but there isn't a way to do this. It appears, based on this thread, that `dotnet build` and `msbuild` have different rules for picking the SDK to use. How are we supposed to know which `dotnet` msbuild is going to pick? That doesn't seem actionable (or maybe I'm just missing it).

[2018-11-20 18:43] dsplaisted commented on #2680
@jaredpar They should have the same rules to select the SDK.  I suspect what's happening is that Restore.cmd is using the dotnet.exe that arcade downloads locally, instead of the globally installed version.

[2018-11-20 18:47] jaredpar commented on #2680
Indeed because we can't depend on one being installed globally. And if there is one installed globally how can we correctly validate it meets our minimum version requirements?

[2018-11-20 18:59] dsplaisted commented on #2680
When you run `msbuild` you are relying on the globally installed MSBuild and .NET Core SDK.  So in that case you should be able to run the restore with the same globally-installed SDK as you're going to be using for build.

[2018-11-20 19:05] peterhuene commented on #2680
Thus my original question regarding the need for restoring with a 2.1 SDK vs let the 3.0 SDK do it (via `msbuild /restore` in this case).

If you do, then I think you need to also build with the same 2.1 SDK and not what's installed globally.  Setting `DOTNET_MSBUILD_SDK_RESOLVER_CLI_DIR` to point at `.dotnet` (assuming this is where the 2.1 `dotnet` you're using to restore is) should override how

[2018-11-20 19:11] rainersigwald commented on #2680
Nit: you'd want to use `msbuild /t:Restore`, not `/restore` in this case since there's a distinct `restore.cmd` operation separate from build. `/restore` means "run the Restore target _and then_ run as you would have".

[2018-11-20 19:19] peterhuene commented on #2680
Agreed, if you want to maintain the `restore.cmd` behavior of a single restore and then a bunch of no-restore builds.

[2018-11-21 01:18] Suchiman commented on #2679
Since every nuget package can use its own setup of debugging configurations (so we'll have embedded pdbs from package a, portable ones from b and none from c) and the primary concern i see here is memory utilization and deployment size, maybe we should add a strip task that may run as part of the Release configuration to remove debug symbols. That way we're free to deploy the symbols however we li

[2018-11-21 01:19] peterhuene commented on #2617
@YunWeiaa I believe this has been addressed with more recent .NET Core SDK builds relating to apphost changes.  I'm going to close.  Please re-open if you're still able to reproduce.

[2018-11-21 01:19] #2617 closed

[2018-11-21 02:48] fleed commented on #2347
@Amit-Kumar-Sonkar I’m experiencing a similar issue on Azure DevOps.
How did you fix it in your case?

[2018-11-21 04:12] fleed commented on #2347
I could finally fix the issue on the server. The error that I was getting in **Azure DevOps Pipelines** build:

[code]

I'm using packages stored stored in an **Azure DevOps Artifacts** feed.

**Solution:**

I pinned the specific version **2.1.500** of the .net Core SDK using the command `dotnet new globaljson --sdk-version 2.1.500`.
Previously, the build server was using the SDK version **2.2.100

[2018-11-21 14:11] vitek-karas opened #9949 "Current directory in `dotnet run` and VS F5 is different"
This is basically continuation of the discussion in issue dotnet/sdk#7011. Visual Studio on a new .NET Core Console app sets the current directory to the output directory (so for example `/project/bin/Debug/netcoreapp2.2`). `dotnet run` sets the current directory to the directory from which it was executed - which typically is the project directory (so in our example `/project`).

Per dotnet/sdk#7

[2018-11-21 15:29] gpresland commented on #2682
The issue also appears under Visual Studio.

[code]

[2018-11-21 15:42] NatElkins commented on #2682
@dsplaisted Not sure about everyone else's problem, but my error seemed to be caused by having a transitive project dependency that was an executable.  This worked just fine for me when I would do `dotnet build`, but would fail when I tried to do `dotnet publish -r linux-x64`.  When I shifted things around to make the dependencies libraries (and make the executable a separate project) things start

[2018-11-21 22:48] lmolotii commented on #2122
Guys, do we have any progress on this issue?

[2018-11-22 02:37] bigbangtheorem commented on #1791
+1

Working inheritance structure:
[code]

I would be looking to 'weight' the selection of the **netstandard2.0** assembly over the **net45** one when **net47** is selected as the TargetFramework and the reference .nupkg contains both targets.

I would think the solution would present something like this:
[code]

In the meantime, there is a path to working around it in certain architectures via a

[2018-11-22 11:32] chukwuemekanweke commented on #1509
Fixed it by deleting the netfx.conflict dll in project bin folder

[2018-11-22 13:38] GrahamTheCoder commented on #833
@rainersigwald Ah yes, that's the one, thanks (I'll update the example for copy and pasting ease)

[2018-11-22 16:03] jnm2 opened #2690 "SDK 2.1.500 fails to set IsTestProject in net40 projects"
Here's a full repro: [DotnetTestBug.zip](https://github.com/Microsoft/vstest/files/2608701/DotnetTestBug.zip)

Projects like this worked in all SDKs up to 2.1.500 because Microsoft.NET.Test.Sdk sets `<IsTestProject>true</IsTestProject>`:

[code]

E.g. using SDK 2.1.403, you get this output for `dotnet test`:

[code]

Starting with SDK 2.1.500, `<IsTestProject>true</IsTestProject>` is no longer set

[2018-11-22 18:12] tmat commented on #2679
Good discussion. Quite a few points and questions raised here.

First, I’d like to point out that many of these topics are discussed in [this document](https://github.com/dotnet/designs/blob/master/accepted/diagnostics/debugging-with-symbols-and-sources.md).
Some information there is a bit out of date, I’ll update it soon to reflect recent developments.

Let me try to group and answer the question

[2018-11-22 19:36] cortex93 commented on #1791
Doesn't work in my case with a root project targeting net461. It still detect package version outside of dependency constraint.

[2018-11-23 20:38] livarcocc commented on #2690
This issue was moved to Microsoft/vstest#1850

[2018-11-23 20:38] #2690 closed

[2018-11-23 20:42] jnm2 commented on #2690
Wow, looks like this is the last time I'll be able to reference a GitHub issue in a commit message due to @dependabot!

![image](https://user-images.githubusercontent.com/8040367/48959845-43d36500-ef36-11e8-9551-412e201f21f1.png)

o.O

[2018-11-26 23:40] nguerrera commented on #2170
Should we be doing this in msbuild instead of SDK? Should I move the issue? cc @rainersigwald @Pilchie

[2018-11-26 23:48] nguerrera commented on #2170
I agree at this point that it should be a _warning_

[2018-11-27 01:49] MichaelSimons commented on #2652
Is there an ETA on when this is going to get fixed?  It is a significant regression in the Windows container space.

[2018-11-27 01:52] peterhuene commented on #2652
I'm hoping to have the fix in this week.  This is my priority issue atm.

[2018-11-27 01:57] livarcocc commented on #2652
Is there a workaround? Like setting UseApphost to false? Just in case this does not make into the preview1 build?

[2018-11-27 01:59] peterhuene commented on #2652
Setting `UseAppHost` to false either in the project file or passing as a global property to `dotnet build` should workaround the issue.

[2018-11-27 18:12] richlander commented on #2652
I am leaning towards not taking this in Preview 1. Is there an ENV we can set for UseAppHost instead of putting in a project file?

[2018-11-27 18:15] peterhuene commented on #2652
Setting it as an environment variable should also work.

[2018-11-27 18:16] nguerrera commented on #2652
Will it break self-contained-deployment if set as environment variable?

[2018-11-27 18:18] peterhuene commented on #2652
Good point. It will error and users would have to override via setting the property.

[2018-11-27 21:35] dsplaisted opened #2695 "ImplicitlyExpandNETStandardFacades does not run when using full framework MSBuild and 3.0 .NET Core SDK"
As part of unifying publish and build (https://github.com/dotnet/sdk/commit/1936ebd7307cebd6c5d1d8d699b9844f73b8fb2c#diff-037688beff60348f7a74e33446cb6131), we split _HandlePackageFileConflicts into two targets: _HandlePackageFileConflictsForBuild and _HandlePackageFileConflictsForPublish.

This required updating the `BeforeTargets` declaration of the ImplicitlyExpandNETStandardFacades target in M

[2018-11-27 21:52] peterhuene commented on #2695
I think that approach makes sense.

[2018-11-27 23:38] nguerrera opened #2697 "Automatic Link generation from LinkBase does not work for Page, Resource items"
(Filing bugs from my notes after customer visit exploring porting large WPF app to .NET core 3)

This:
[code]

Does not work as it does for Compile, EmbeddedResource, AdditionalFiles, EmbeddedResource:

https://github.com/dotnet/sdk/blob/9543229b2d30f4c712846540e725014754229919/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.targets#L201-L246

This has two consequences:

[2018-11-27 23:43] wli3 opened #2698 "Package Shim only look at "Version" not "PackageVersion""
If this 2 properties are different. Shim will have the wrong path.

[2018-11-27 23:58] peterhuene commented on #2652
So after testing this out on the various different nano-server versions, this requires two fixes:

* For Windows Server Nano 1709+, `BeginUpdateResource` is apparently exported by `Kernel32.dll`, but returns false and sets a zero error code, resulting in a `HResultException` with `0x80070000` from `ResourceUpdater..ctor`.  Thus, we need to expect this error condition and treat as if the export doe

[2018-11-28 00:16] MichaelSimons commented on #2652
I'm not sure the second fix is needed.  I've been told Nano Server sac2016 is EOL as of Nov 1st.

[2018-11-28 01:11] peterhuene commented on #2652
I'm putting up a fix that should work for all of the above, although I still haven't determined why the `BeginUpdateResource` export resolves.

[2018-11-28 14:40] MichaelSimons commented on #2652
This is what I am seeing on 1709+

**Microsoft.NET.Build.Tasks.ResourceUpdater+HResultException: 80070000**

[code]

[2018-11-28 20:50] #2695 closed

[2018-11-28 20:52] #2652 closed

[2018-11-28 23:24] twsouthwick opened #2703 "PresentationFramework.Aero not included by default when compiling against .NET Framework"
I'm porting an app that relies on `PresentationFramework.Aero` for `ButtonChrome` and found I need to include the following in the csproj to get it to compile when building for .NET Framework 4.7.1:

[code]

Is there a reason this isn't automatically included when setting `<UseWindowsForms>true</UseWindowsForms>`?

[2018-11-29 00:31] livarcocc commented on #2703
From talking to @rladuca it seems like this is not added by default for non-sdk based projects either. So, it seems like we are keeping with the current behavior.

Also, this is a WPF theme, so I am not sure how it relates to `UseWindowsForms` flag, as that is for WinForms and not WPF.

[2018-11-29 00:38] rladuca commented on #2703
That's correct, the set of binaries that are referenced when you make a new desktop framework WPF application do not include PresentationFramework.Aero.  This is also not referenced from a new Windows Forms application.

Adding the reference manually seems to be entirely appropriate.

@twsouthwick Are you saying that compiling for netcoreapp3.0 does automatically reference PresentationFramework.Ae

[2018-11-29 02:52] twsouthwick commented on #2703
Sorry for the confusion - I meant `<UseWPF>true</UseWPF>`. The project has both of them and copied the first one I have.

@rladuca The project compiles fine for netcoreapp3.0, but now that I'm looking at it, it doesn't reference `PresentationFramework.Aero`. The file that references the aero library is here: https://github.com/twsouthwick/HandBrake/blob/netcore/win/CS/HandBrakeWPF/Themes/Generic.x

[2018-11-29 22:07] ericstj commented on #2632
@peterhuene any update on this?

[2018-11-29 22:37] livarcocc commented on #2632
Not yet. This is behind the download only package work on NuGet.

[2018-11-29 22:44] ericstj commented on #2632
Does it need to be?  We could directly reference the RID-specific host packages to make sure they get downloaded for the RID-less restore, so long as the SDK can handle seeing these as runtime target items.

[2018-11-30 18:13] #2668 closed

[2018-11-30 19:00] chabiss opened #2707 "Need "Designer.RuntimeConfig.Json" at design-time compilation for the designers (WPF and Winforms) to work"
The surface processes for WPF and Winforms will be shipped as part of VS, but they will not include the generated runtimeconfig.Json in the setup.

When a new project is created, we need the designer process to know which framework the surface process needs to bind to. For this, a design-time build needs to provide the runtime config for the process to use in order to launch the surface process.

[2018-12-01 20:21] CanIGetaPR opened #9966 "Dotnet build and publish don't have parameters for platform"
## Steps to reproduce
Have a csproj file with conditional configs as such:
`<PropertyGroup Condition="'$(Configuration)|$(Platform)' == 'Debug|x64'">
`
## Expected  behavior
There's a configuration parameter (`dotnet build -c Debug`) (`dotnet publish -c Debug`) that fills in `$(Configuration)` so I expect there to be a parameter to fill in $(Platform)

## Actual behavior
There is no parameter and

[2018-12-02 13:34] svick commented on #952
https://github.com/NuGet/Home/issues/6098 looks like a duplicate of this issue.

[2018-12-03 21:02] nguerrera commented on #2707
I'm going to move this to dotnet/cli to track on our ZenHub board.

[2018-12-03 21:04] nguerrera commented on #2707
Scratch that, all of our repos are linked to ZenHub. No need to move.

[2018-12-03 22:39] eberkund commented on #955
I am experiencing this issue when building on appcenter.ms with the Quartz scheduling library.

[2018-12-03 22:56] vitek-karas commented on #955
/cc @tommcdon

[2018-12-03 23:37] natemcmaster commented on #2420
@dsplaisted @livarcocc  any plans to address this in 3.0? This is still in the 2.2 milestone, but it's too late for 2.2 changes to address this. It seems like will continue to impact 3.0 projects using `<FrameworkReference>`.

[2018-12-04 00:48] ryanbrandenburg opened #2710 "SNK is not considered when determining if a re-build is required"
1. Build a project which has InternalsVisibleTo into another project using any given StrongNameKey.
2. Build the project again, with a different StrongNameKey.
3. See an error like:
[code]
The base project wasn't rebuilt with the new key.

[2018-12-04 00:51] natemcmaster commented on #2710
It appears to be the result of MSBuild incremental builds. If both StrongNameKey1.snk and StrongNameKey2.snk have a modified timestamp older than compiled output, the "CoreCompile" target will be skipped because "all output files are up-to-date with respect to the input files".

[2018-12-04 07:30] dasMulli commented on #2710
Did the name of the file change via some build property or did the key file change?

[2018-12-04 15:51] natemcmaster commented on #2710
There were multiple snk files already on disk and we just changed the AssemblyOriginatorKeyFile property.

[2018-12-04 16:40] poke opened #2711 "2.2.100 final release can be installed side-by-side with the 2.2.100 from 2.2.1xx latest feed"
I downloaded the 2.2.100 SDK earlier today from [dotnet/core-sdk](https://github.com/dotnet/core-sdk#installers-and-binaries) which gave me a `dotnet-sdk-latest-win-x64.exe`. That SDK has been versioned as 2.2.100 for a while already and when installing it, it _is_ a 2.2.100 SDK that is being installed.

Now, on [dotnet.microsoft.com](https://dotnet.microsoft.com/download), the 2.2 release is now

[2018-12-04 17:30] livarcocc commented on #2711
@mmitche another side effect of prodcon. Though, it is not clear to me why latest would have been updated and how.

[2018-12-04 18:19] dasMulli commented on #2710
In the project file itself or an imported target that didn't add itself to `MSBuildAllProjects`? This is what would have previously caught such a change.
It could be fixed with a change similar to https://github.com/Microsoft/msbuild/pull/3978

[2018-12-04 18:33] livarcocc opened #2712 "Use TestRunnerAdditionalArguments with arcade"
There has been a change in arcade that changed `XUnitRunnerAdditionalArguments` to `TestRunnerAddtionalArguments`.

We will have to re-act to it here once that build becomes available.

[2018-12-04 18:35] natemcmaster commented on #2710
I was under the impression MSBuild did that automatically now... @ryanbrandenburg which version of MSbuild/dotnet were you using?

[2018-12-04 18:40] ryanbrandenburg commented on #2710
15.9.19.36755

[2018-12-04 21:13] rainersigwald commented on #2710
In 16.0 builds it does now.

[2018-12-04 21:14] tmat opened #2716 "NRE from GenerateDepsFile during Roslyn build"
This is a non-standard build with my local changes. Not sure how to repro this exactly.

[code]

binlog:
[Binlog.zip](https://github.com/dotnet/sdk/files/2646153/Binlog.zip)

`Binaries\Obj\Microsoft.CodeAnalysis.CSharp.Workspaces\project.assets.json`
[project.assets.zip](https://github.com/dotnet/sdk/files/2646158/project.assets.zip)

[2018-12-05 00:17] #2710 closed

[2018-12-05 00:17] livarcocc commented on #2716
@nguerrera is this in the cache code?

@tmat what version of the .net core SDK does this happen?

[2018-12-05 01:42] nguerrera commented on #2716
Not assets cache code of that's what you're asking.

[2018-12-05 01:43] nguerrera commented on #2716
What does non standard with local changes mean?

[2018-12-05 11:11] mcm-ham opened #2717 "2.2.100 causes 2.1.500 build failure: The "CheckForImplicitPackageReferenceOverrides" task could not be loaded from the assembly"
If I install 2.2.100, and then add global.json to a project to use 2.1.500 I then get the following build failure:

[code]
If I uninstall 2.2.100 then the project builds fine.

[2018-12-05 11:16] mcm-ham commented on #2717
Oops, I see we csproj exec command to call a custom dotnet command so need to investigate that.

[2018-12-05 11:16] #2717 closed

[2018-12-05 13:30] AArnott opened #2720 "error NETSDK1005: Assets file 'D:\a\1\s\...\project.assets.json' doesn't have a target for '.NETStandard,Version=v1.5'"
Very similar to #1321, except that it works fine on my own machine, but [consistently fails when run in Azure Pipelines](https://dev.azure.com/azure-public/vside/_build/results?buildId=816).

The [LocalizationShell project targets netstandard1.0](https://github.com/Microsoft/vs-mef/blob/7059adf14349b456c8c9e633dc496b0ee1945b4b/src/Microsoft.VisualStudio.Composition.LocalizationShell/Microsoft.Visu

[2018-12-05 13:32] AArnott commented on #2720
Please note that all the project.assets.json files and the verbose msbuild log are all available from the Azure Pipeline build I link to above as build artifacts.

[2018-12-05 13:38] AArnott commented on #2720
I think this may be a regression in 15.9.x, since commits we were able to build a couple months ago can no longer be built.

[2018-12-05 15:18] NinoFloris opened #2721 "Could not upgrade projects to new 2.2.100 sdk getting conflict warnings"
Could not upgrade all projects to new 2.2.100 sdk, as we got conflict warnings for among others

[code]

- Microsoft.Extensions.Options
- Microsoft.Extensions.DependencyInjection.Abstractions
- Microsoft.AspNetCore.Http.Abstractions
- Microsoft.Extensions.Configuration.Abstractions
- Microsoft.AspNetCore.Hosting
- Microsoft.AspNetCore.Hosting.Abstractions
- Microsoft.EntityFrameworkCore
- Microsof

[2018-12-05 15:31] nguerrera commented on #2720
Looking at binlog, there is something wrong in TFM negotiation between P2P here. Microsoft.VisualStudio.Composition is building Microsoft.VisualStudio.LocalizationShell with TargetFramework=netstandard1.5 global property, which is not a valid TFM for the latter.

There's a solution build dependency that triggers this. This looks like another bug I investigated a little while ago, but I do not reca

[2018-12-05 15:36] nguerrera commented on #2720
Looks exactly like https://github.com/Microsoft/msbuild/issues/3626, but that was supposed to be _fixed_ in 15.9, not caused by 15.9.

cc @rainersigwald

[2018-12-05 15:39] nguerrera commented on #2720
Binlog has this:

@AArnott Is it possible you downgraded to 15.8 RTM from 15.9 preview in pipelines rather than upgraded to 15.9 RTM?

[2018-12-05 15:49] nguerrera commented on #2720
Could also have happened if pipelines was previously on 15.7 and now moved to 15.8. That's where the actual regression happened, and it was fixed in 15.9. Actually upgrading to 15.9 should resolve this.

[2018-12-05 15:57] vitek-karas opened #2722 "RID publish as framework dependent app produces broken app on Linux"
The simplest repro:

On Linux (I used Ubuntu 18)
install .NET Core SDK 2.2.100
run:
`mkdir webapp`
`cd webapp`
`dotnet new web`
`dotnet publish -c release -r linux-x64 --self-contained false`
`./bin/release/netcoreapp2.2/linux-x64/publish/webapp`

This will fail to find a usable framework to run on.

The root cause is that when we publish a RID specific (so with apphost) app as framework dependent

[2018-12-05 16:00] xoofx opened #2723 "How to debug msbuild?"
Hey,

So I would like to investigate a problem related to [slow RAR in msbuild](https://github.com/Microsoft/msbuild/issues/2015) and while I have been able to initially hack something to debug msbuild, that was very convoluted, copying files around from regular Sdk...etc.

So I would like to do this more cleanly and follow a more deterministic procedure to debug directly MsBuild project from MsBu

[2018-12-05 16:02] nguerrera commented on #2723
Not at a work computer yet, but IIRC there should be a bootstrap copy of msbuild with your bits and more supporting files from elsewhere in a different output folder after a successful command line build.

cc @rainersigwald

[2018-12-05 16:07] nguerrera commented on #2723
You can run `eng\dogfood.cmd` to get an environment where all msbuilds should use your freshly built dotnet/sdk bits.

https://github.com/dotnet/sdk/blob/7bb277dbfdfe52a71b9decc88897510cc8d6be42/eng/dogfood.ps1#L36-L41

[2018-12-05 16:08] nguerrera commented on #2723
(But I need to check if that script survived recent infrastructure changes.)

[2018-12-05 16:23] xoofx commented on #2723
By default from VS, it is running `C:\Code\msbuild\artifacts\Debug\bin\MSBuild\net472\msbuild.exe` which doesn't have the `Current` folder, while the `netcoreapp2.1` folder has it (don't remember how to force to run `netcoreapp2.1` actually) which is adding to the confusion

[2018-12-05 16:32] tmat commented on #2716
@nguerrera I was changing some of the build scripts to port to Arcade and this was built with incorrect combination of switches. If the issue is not obvious from the above info I can try to recreate the repro.

[2018-12-05 16:34] nguerrera commented on #2716
I'll check the binlog and source at that stack and let you know if that's enough.

[2018-12-05 16:36] xoofx commented on #2723
Ouch, ok, so you do that even if you want to quickly iterate on msbuild? (building bootstrap takes 20s even if there are no changes typically)

[2018-12-05 16:39] rainersigwald commented on #2723
Yes. There's definitely room for improvement, but IIRC we ran into a lot of problems integrating the bootstrap process with the msbuild.exe project, because we produce NuGet packages from the project and must not pollute them with a bunch of extra files.

[2018-12-05 16:44] xoofx commented on #2723
Ok, it seems to work and better than all the fragile hacks to setup the correct env variables I was previously using....
I will try to workaround the iteration maybe by adding a task to copy of the relevant assemblies directly to the output folder.
Thanks!

[2018-12-05 16:44] #2723 closed

[2018-12-05 19:12] AArnott commented on #2720
Thanks, @nguerrera. Unfortunately I can't influence when these cloud build hosts upgrade to 15.9.

But since you mentioned solution dependencies are involved (which I *rarely* use, but do in this solution), I tried simply removing the solution dep, which I can't remember why I even needed. I'll see if I can get that route to work. :)

[2018-12-05 19:45] nguerrera commented on #2720
Duplicate of Microsoft/msbuild#3626,

[2018-12-05 19:45] #2720 closed

[2018-12-05 20:03] AArnott commented on #2720
Ya, removing the solution dependency (and using ProjectReference with a `ReferenceOutputAssembly=false` metadata) made an adequate workaround.
Thanks again.

[2018-12-05 21:49] livarcocc commented on #2721
What does your csproj look like?

cc @dsplaisted @natemcmaster

[2018-12-05 21:52] livarcocc commented on #2722
adding @peterhuene here for FYI, even though he is OOF right now.

cc @nguerrera in case he can think of anything.

Does this happen even when you execute the app through dotnet or just if you use the apphost? Also, have you tried setting DOTNET_ROOT?

[2018-12-05 21:59] nguerrera commented on #2722
Does `<CopyLocalLockFileAssemblies>false</CopyLocalLockFileAssemblies> change the behavior here?

[2018-12-05 22:01] nguerrera commented on #2722
Oh, this is 2.2.100. Then it must be something else that causes this.

[2018-12-05 22:05] vitek-karas commented on #2722
The original report is on 2.1 but the repro steps above are on 2.2.100.

[2018-12-05 22:06] vitek-karas commented on #2722
Running it through `dotnet path_to_dll` works - even on the published folder. Although in this case it does unnecessary work for the native assets. But it works.

[2018-12-05 22:18] dsplaisted commented on #2721
If you can [provide a binary log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b), that would help us investigate.  Please read the link though, a binary log includes a lot of detailed information so be sure that you are comfortable sharing it.

[2018-12-05 22:37] vitek-karas commented on #2722
I tried the `CopyLocalLockFileAssemblies` set to false - but it made no difference.

[2018-12-05 22:37] nguerrera commented on #2722
(I did not expect it to, once I saw the repro was outside 3.x)

[2018-12-05 22:44] nguerrera commented on #2722
This appears to happen for `dotnet new webapp` but not `dotnet new console`

[2018-12-05 22:52] vitek-karas commented on #2722
Interesting - tried it on the Linux and I can confirm that console works just fine.
Given that difference I tried is this is related to `PreserveCompilationContext`, but no - still broken even with that set to false.

[2018-12-05 23:13] nguerrera commented on #2722
I think it might be due to the different PlatformLibrary. It seems to break at the point where we trim out things that come via that.

[2018-12-06 01:00] NinoFloris commented on #2721
I have a repro with binary log in the root (`/bl /verbosity:diag`) readme gives some extra context, hopefully this is helpful.

https://github.com/NinoFloris/Repro-dotnet-sdk-issues-2721

I chose `Giraffe.Razor` here as the package that will trigger this case, but obviously this will happen for any other package that is itself still referencing aspnetcore 2.1 packages. It therefore mostly looks to

[2018-12-06 01:17] natemcmaster commented on #2721
I think the problem more-or-less boils down to this: https://github.com/dotnet/sdk/issues/2420. Microsoft.AspNetCore.App does not yet flow transitively across ProjectReference. You have to have a reference to this in every project which uses it (directly or transitively). It's something we hope to address in 3.0.

[2018-12-06 08:56] Szer opened #2724 "FSharp.Core explicit dependency downgraded to implicit one"
**Problem:**

If I put explicit dependency on FSharp.Core higher than implicit one (which for 2.1.500 is 4.5.2) it will downgrade it to implicit one no matter what.

**Steps to reproduce**
* Net SDK 2.1.500
* FSproj:
[code]
* useless Program.fs
[code]
* `dotnet restore` or `dotnet build`
* check `FSharp.Core` version in `obj\project.assets.json`

**Expected**

`FSharp.Core` should restore to expli

[2018-12-06 17:09] baronfel commented on #2724
I think you have to do `Update="4.5.4"` in this case because the reference is already added for you. That would be another workaround.

[2018-12-06 17:55] Pilchie commented on #2724
Tagging @KevinRansom

[2018-12-06 18:38] zawor opened #2725 "Uninstalling may be not enough"
@KathleenDollard asked me to post dotnet/docs#9412 here so here we go:

Had a lot of runtimes and sdks accumulated over time on my dev machine. At some point i decided to do the cleanup and uninstalled quite a few from under appwiz.cpl (or add/remove programs). Unfortunately after running `dotnet --list-sdks` or `dotnet --list-runtimes` i still saw those which were uninstalled... Interestingly eno

[2018-12-06 19:29] sarbjithanjra opened #2726 "Which one is latest version of .NET Core 2.2.100 or 2.2.200-preview-009648"
Hi on 5 Dec 2018, I downloaded the .NET Core SDK with version 2.2.100 and after install on my sytem, i checked that there is an existing 2.2.200-preview-009648 version is installed. Please let me know which one latest? it seem 2.2.100 is latest as per download page but from version number it seem 2.2.200 is latest.

[2018-12-06 19:38] livarcocc commented on #2726
2.2.100 is the latest release for 2.2.

We have a new release that is in preview, called 2.2.200, so that the latest for that version. The big difference between them is that 2.2.200 contains new versions of roslyn, fsharp, msbuild and nuget.

[2018-12-06 19:38] #2726 closed

[2018-12-06 20:26] aL3891 opened #9976 "Incorrect binding redirect in net471 project with .net core 3 sdk"
Hello friends,

I'm having an odd issue with our existing projects that are targeting net 471. After installing the .net core 3 preview, binding redirects are generated differently, causing runtime exceptions. What's more, setting the sdk version in global.json does not seem to fix the issue, only uninstalling the v3 sdk does the trick. (this seems very strange to me btw, almost to the point that

[2018-12-06 22:07] wli3 opened #9977 "`dotnet new tool-manifest` will put dotnet-tools.json under .config folder"
Open this issue for feedback. We hope to use the convention of `.config` folder to avoid the clutter of config file under the repo root. Start from local tools manifest

[2018-12-07 00:57] NTaylorMullen opened #2729 "Represent FrameworkReference of transitive projects and packages in the deps.json file."
Today transitive project/package references aren't properly represented in a deps.json. For instance given this project (Bug4332 is a web app, Bug4332RCL is a Razor class library, both targeting netcoreapp3.0):
![image](https://user-images.githubusercontent.com/2008729/49620733-0f6c9980-f977-11e8-8da3-e2d28605a2e1.png)

Today you get the following `Bug4332.deps.json` entry for `Bug4332RCL`:
[code]

[2018-12-07 16:13] AArnott opened #2731 "Building VB console app fails, unable to find "%TEMP%\.NETFramework,Version=v4.6.AssemblyAttributes.vb" file"
Building [a trivially simple VB console app](https://github.com/AArnott/SPSS.NET/blob/5ac57c55aa10611f0f4290fbd3187375ab95c468/src/SimpleDemo/SimpleDemo.vbproj#L1-L10) fails with:

vbc : error BC2001: file 'D:\git\SPSS.NET\src\SimpleDemo\Version=v4.6.AssemblyAttributes.vb' could not be found [D:\git\SPSS.NET\src\SimpleDemo\SimpleDemo.vbproj]

The VB compiler can't find *two* files, neither of whic

[2018-12-07 16:17] AArnott commented on #2731
Looking at the invocation of the vbc task, I can see that the file is passed in as just one msbuild item:

![image](https://user-images.githubusercontent.com/3548/49659161-6cf4fa80-f9f8-11e8-8415-fa167748ee1b.png)

Which leads me to believe this isn't a dotnet SDK failure as much as a vbc task failure. I'll move this issue to the roslyn project.

[2018-12-07 16:17] AArnott commented on #2731
This issue was moved to dotnet/roslyn#31611

[2018-12-07 16:17] #2731 closed

[2018-12-07 18:47] jainaashish opened #2732 "Consume NuGet /embed assets group for interop type assemblies from NuGet package"
This is the tracking issue to update dotnet build tasks to consume new `/embed` assets group from NuGet packages for interop type assemblies so that Project System passes it as `link` instead of `ref` to compiler.

Corresponding NuGet issue# https://github.com/NuGet/Home/issues/2365

@livarcocc @nguerrera @dsplaisted @rrelyea

[2018-12-07 18:50] cartermp commented on #2724
This is by design; the correct thing to do is what @baronfel mentioned:

[code]

[2018-12-07 18:53] livarcocc commented on #2724
Closing it as by design then.

[2018-12-07 18:53] #2724 closed

[2018-12-07 21:36] dagood opened #2733 "Incorrect "repository" element in Microsoft.NET.Sdk's nuspec"
In this nupkg from a recent build:
https://dotnetfeed.blob.core.windows.net/dotnet-core/flatcontainer/microsoft.net.sdk/3.0.100-preview.18603.1/microsoft.net.sdk.3.0.100-preview.18603.1.nupkg

The nuspec contains this line:

[code]

`https://github.com//` should be `https://github.com/dotnet/sdk`

This might be an Arcade issue, failure to detect the source? I'm not familiar enough with how packagi

[2018-12-07 23:46] livarcocc commented on #2733
cc @tmat @chcosta

[2018-12-07 23:46] livarcocc commented on #2733
How import is it to fix this though, given that it is a transport package only?

[2018-12-07 23:49] tmat commented on #2733
This has been fixed recently: https://github.com/dotnet/arcade/pull/1489

[2018-12-08 00:32] livarcocc commented on #2733
Closing it here then since arcade will flow into dotnet/sdk with DARC.

[2018-12-08 00:32] #2733 closed

[2018-12-08 06:49] yyjdelete opened #2735 "`Invalid runtimeconfig.json` is produced when duplicate FrameworkReference exists in 3.0preview"
Move from aspnet/AspNetCore#4490

### Step
dotnet sdk 3.0.0-preview-27122-01 is needed.
1. `dotnet new webapi`
2. change the csproj to add an FrameworkReference   `<FrameworkReference Include="Microsoft.AspNetCore.App" />`
3. `dotnet run`

It can also be reproduce with `dotnet new console` by add more than one same FrameworkReference
[code]

***NOTE:***
When the number of duplicated FrameworkRefer

[2018-12-09 15:09] nguerrera opened #2737 "NetCore2.1->2.2 Upgrade Issue; TargetFramework dropped/not recognized"
_From @pinkfloydx33 on December 5, 2018 13:40_

I'm trying to upgrade my web application from netCore 2.1 to 2.2. I have updated the TargetFramework to netcoreapp2.2 and I receive the following errors upon restore/build/clean:

[code]

I have also done a manual clean (deleting obj/bin directories).

I **can** build if I change from using `<TargetFramework>` to `<TargetFrameworks>`, however I'd rat

[2018-12-09 15:09] nguerrera commented on #2737
_From @karelz on December 9, 2018 8:31_

Do you have a minimal repro? Does it happen with HelloWorld?
Do you know where the netcoreapp2.1 comes from?

@nguerrera can you please help route the issue? Does not seem to be CoreFX problem ...

[2018-12-09 15:09] nguerrera commented on #2737
_From @pinkfloydx33 on December 9, 2018 10:7_

Only seems to be happening in the one project. Even tried recreating the project file from scratch. Not sure what you mean about where the 2.1 comes from? It was the previous (still installed) Sdk. If this belongs elsewhere please tell me where...I found a similar issue for the preview release of 2.2 in this repo which is why I posted here.

[2018-12-09 15:11] nguerrera commented on #2737
@pinkfloydx33, can you provide a [binlog](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b)?

[2018-12-10 21:42] StingyJack commented on #2347
This happens with TFS 2015 vNext builds as well when using the MSBuild task (using a custom location pointing to msbuild v15).

To fix it, I had to split the one MSBuild task into two, and add a powershell task in between them.

- The first task is an MSBuild task that only cleans the solution with an argument of `/t:Clean`
- The second task is an inline powershell script that does a `Push-Locatio

[2018-12-10 23:16] livarcocc commented on #2729
@dsplaisted @nguerrera want to make sure that framework composition accounts for this.

[2018-12-11 05:51] #2527 closed

[2018-12-11 19:41] nguerrera commented on #2632
I think we can fix this without blocking on download only package as Peter described here: https://github.com/dotnet/sdk/issues/2632#issuecomment-434429197

[2018-12-11 20:37] nguerrera commented on #2632
I would suggest something even stronger, the fix here is separate from download only package. To pick a package, we must pick a rid. If we pick a rid wrong, it doesn't matter how we acquire the package. I would expect there to still be a concept of default rid for this feature and I would expect the fix to carry over.

[2018-12-12 17:36] abpiskunov opened #2747 "Add publish capabilities for SDK based ClassLibraries and ConsoleApps"
Per our discussion with @nguerrera and @davkean we need to switch to new capabilities schema for publish (see below). To accomplish that one of the workitems is to add

- FolderPublish to SDK-based class libraries and console apps , along with WPF and WinForms (if it is not present yet)
- AppServicePublish to SDK-based class libraries and console apps

This needs to happen in P2 and earlier rather

[2018-12-12 18:39] #2698 closed

[2018-12-12 18:52] nguerrera commented on #2747
@davkean My understanding is you were still thinking about whether this should go in design-time targets or SDK targets. I am holding off on this until you signal that we should make the change in SDK targets.

[2018-12-12 18:55] nguerrera commented on #2747
Also, if this goes in SDK targets, we need to know if this is for the version of SDK in VS and up or 3.0 and up only.

Before all of the above, the request started as specific to WinForms and WPF capabilities which would have been only supported in 3.0 and up.

[2018-12-12 19:15] abpiskunov commented on #2747
It should be in what VS ships and up. Originally we wanted to exclude WPF/WinForms in 3.0 yes, but now we switched to do a proper capabilities schema.

[2018-12-12 20:54] nguerrera commented on #2747
Ignoring "pending" and classic cases that don't go in targets, I think we're left with:

* "Publish" for all Microsoft.NET.Sdk projects
 * This is already here: https://github.com/dotnet/project-system/blob/0e77773302b329e1cbc71bb419b6f523a8a6b2b2/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets/Microsoft.Managed.DesignTime.targets#L110

* "FolderPublish" for all  t

[2018-12-12 20:55] nguerrera commented on #2747
Set milestone accordingly.

[2018-12-12 21:04] nguerrera commented on #2747
Is Exe condition sufficient for "Core Web" case for AppServicePublish? I am guessing yes because web sdk sets the output type to exe.

[2018-12-13 03:08] davkean commented on #2747
VS spans SDKs versions, so this cannot be put into the SDK. I think we need to introduce a concept on our side of a file that is in sync with platforms and platform versions, but ships with VS to light them up.

[2018-12-13 03:09] davkean commented on #2747
Think like a targeting pack concept but contains capabilities/design-time stuff.

[2018-12-13 17:09] nphmuller opened #2748 "Option to treat NETSDK warnings as errors"
While updating to 2.2.100 I noticed a couple of warnings were added. Like `NETSDK1071`.
In my CI I build using the `TreatWarningsAsErrors` flag (`dotnet build /p:TreatWarningsAsErrors="true"`)`.

The build still completed succesfully, while `NETSDK1071` was thrown.

What is the recommended way to force a build to fail if any of these warnings are thrown from the SDK?
The most user friendly way wou

[2018-12-13 17:41] rainersigwald commented on #2748
You can use the universal MSBuild flag with `dotnet build /warnaserror`. Confusingly, the `TreatWarningsAsErrors` is fairly specifically scoped down to compiler warnings (though other tasks have the option of opting in to it as well). That property was added before MSBuild added support for `msbuild.exe /warnaserror`.

[2018-12-13 17:53] nphmuller commented on #2748
Thanks for the quick response!

[2018-12-13 17:53] #2748 closed

[2018-12-13 18:49] johnbeisner commented on #2725
Duplicate issue as: https://github.com/dotnet/cli/issues/9222

[2018-12-13 19:16] #2725 closed

[2018-12-13 23:21] wli3 opened #2749 "Pack as tool should not generate exe in nupkg"
We generate an executable by default as a new 3.0.xxx feature. However, we should not generate such file during PackAsTool. It should not be harmful however it would be flagged or signed by infrastructure

[2018-12-14 01:47] abpiskunov commented on #2747
@davkean What is the action item here? Christmas is close and i am oof after NY ...  ;)

[2018-12-14 16:41] sayhicoelho commented on #1331
@steveharter fixed my issue! thank you!

[2018-12-14 17:30] livarcocc commented on #2552
@nguerrera can you take a quick look? @tmat said this is blocking roslyn for moving to the 3.0 SDK. Is this something that should really be fixed in Roslyn or something that we are doing wrong on our side?

[2018-12-14 17:44] nguerrera commented on #2552
That stack trace is very odd.

It is possible that latest Roslyn will fix this as the build task no longer does assembly resolve shenanigans. It might also change the symptom to something more decipherable. I will focus on that and then look at this.

[2018-12-15 20:53] #2589 closed

[2018-12-16 17:09] joaorosado opened #2751 "Properties defined in target files do not get applied with multiple TargetFrameworks"
I'm adding multitargeting to net461 and netstandard2.0 in some of my projects as a migration path.
While doing this and trying I noticed that in one of the targets all the generate AssemblyInfo had the default values.

Currently I have a import on my projects that adds extra targets and sets the common properties consistently on all of them.
`<Import Project="$(ProjectDir)..\..\Commons\Common.targ

[2018-12-16 19:00] joaorosado commented on #2751
After a bit more testing I have more information.

It seems that it also always works fine when calling msbuild from the command line.

The scenario that doesn't work is:

1. With VS open edit the .props file to have different values
2. Without doing anything both \obj\$(TargetFramework)\$(ProjectName).AssemblyInfo.cs files get updated correctly
3. Do a modification on any project file just to for

[2018-12-16 19:45] nguerrera commented on #2747
This issue was moved to dotnet/project-system#4397

[2018-12-16 19:45] #2747 closed

[2018-12-17 04:47] sharushetty commented on #1321
I got this very same error on project.assets.json when I had converted a .Net 4.5 Class Library project to target multiple .Net Frameworks by manually updating the csproj file. After trying out almost all the solutions listed in this page, the fix that worked for me was to remove the below line from csproj which I had accidentally left:

\<Import Project="$(MSBuildBinPath)\\Microsoft.CSharp.target

[2018-12-17 10:19] YunWeiaa opened #2754 "For .Net Core 3.0, create a winforms app, dotnet run without the windows box poping up."
### Description:
Create a winforms app. Build and run.
dotnet new winforms -o MyWinFormsApp
cd MyWinFormsApp
dotnet build
dotnet run

**Expected**: It should appear a windows box like this
![image](https://user-images.githubusercontent.com/33921754/50080741-c4c90800-0227-11e9-8163-39413bd95ebe.png)

**Actual**: It doesn’t pop up a windows box.
![image](https://user-images.githubusercontent.com/339

[2018-12-17 11:12] 0xd4d commented on #2754
Looks like https://github.com/dotnet/winforms/issues/249

[2018-12-17 16:31] nguerrera commented on #2754
Duplicate of dotnet/winforms#249

[2018-12-17 16:31] #2754 closed

[2018-12-17 16:33] nguerrera commented on #2754
And the fact that you see no error when the app crashes due to this is https://github.com/dotnet/core-setup/issues/4768, for which there is a PR in progress to show a message box.

[2018-12-18 11:08] theCorb1nator commented on #1630
Heres a dump of the verbose msbuild log, tried all workarounds

`Task Parameter:ShouldGenerateSerializer=True (TaskId:103)
5>  Task Parameter:UseProxyTypes=True (TaskId:103)
5>  Task Parameter:UseKeep=False (TaskId:103)
5>  Task Parameter:SdkToolsPath=C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.1 Tools\ (TaskId:103)
5>  Task Parameter:SerializationAssembly=obj\Release\DmsCon

[2018-12-18 11:23] oflahero commented on #1630
Frustrating. Are you sure all your projects are targeting 4.7.2 as well as just having it installed?

I know the Remove/ReAddDesignTimeFacadesBeforeSGen fix of joperezr's (Feb 5 above) is specifically a workaround for 4.7.1, but have you tried that too? Desperate times, etc.

[2018-12-18 13:35] theCorb1nator commented on #1630
Frustrating aint the word, starting to contemplate my career choice lol, tried all work arounds :(, no luck..
Seems to complain about the 1 reference

`10>    - Could not load file or assembly 'file:///C:\Users\corbi\.nuget\packages\system.memory\4.5.1\ref\netstandard2.0\System.Memory.dll' or one of its dependencies. Reference assemblies should not be loaded for execution.  They can only be loaded

[2018-12-18 13:59] theCorb1nator commented on #1630
@mouadhtrabelsi i can confirm turning that param off the application does compile correctly. however surely this will have an affect on application performance at runtime? and possible runtime errors?

im happy for this to be a temporary solution, but is there a planned fix?

Thanks

[2018-12-18 14:03] mouadhtrabelsi commented on #1630
@theCorb1nator for sure there will be an impact on performance at runtime , but i did not get any runtime errors,
it was the only fix i found

[2018-12-18 14:06] theCorb1nator commented on #1630
Okay looks like this is the only fix for now then. i dont think we do much with XmlSerializer now anyways, its predominately JSON using newtonsoft. so hopefully not too much overhead

Thanks for the help

[2018-12-18 14:11] theCorb1nator commented on #1630
looks like the issue is still open here

https://github.com/Microsoft/msbuild/issues/2707

[2018-12-18 14:40] ankeetnet commented on #2347
I am having same issues on AzureDevOps pipeline after updating my projects to .net core 2.2.

[2018-12-18 15:18] weltkante opened #2760 "References specified in the project file are sometimes dropped and replaced by wrong versions"
MsBuild loses assembly references specified in our project file if the SDK happens to import the same assembly (possibly in a different version) from nuget packages.

We have an ASP.NET Core project which pulls in Newtonsoft.Json with 11.0.2 package version. Our project file has an explicit reference to Newtonsoft.Json 12.0.0.0 assembly version. The reference is specified via HintPath because we d

[2018-12-18 17:37] livarcocc commented on #2760
@dsplaisted to take a look.

[2018-12-18 19:32] dsplaisted commented on #2760
@weltkante Thanks for the report and the detailed information about the issue.  Can you specify your reference like this?

[code]

I believe that should avoid the issue.

I'm not sure there's a good way to fix the issue so it will work with the simple name reference and a hint path.  That's because at the time that it's removing the reference, it doesn't know whether the reference will resolve to

[2018-12-18 22:12] jainaashish commented on #2732
NuGet PR# https://github.com/NuGet/NuGet.Client/pull/2532 to implement this feature is completed and will be inserted into VS/SDK/CLI with next dev16 insertion.

[2018-12-19 02:54] nguerrera commented on #2729
Of course this has to be handled in the changes we have planned, but it's strange that it's already broken because today a FrameworkReference still becomes a standard package reference. It's unclear to me what is different enough from 2.x to cause this. We should make sure we understand that and not just tie this to composition.

[2018-12-19 09:47] weltkante commented on #2760
Unfortunately this is poorly supported by older project types, the VS solution explorer will now show the whole path of the reference item in the solution tree.

Of course so far we only observed the issue bug in new style projects, so maybe `Microsoft.PackageDependencyResolution.targets` isn't loaded in classic projects and won't trigger the bug? If so we can consider using above workaround in ne

[2018-12-19 16:05] pinkfloydx33 commented on #2737
I was able to resolve the issue (somehow). I changed the build configuration from debug to release and it still didn't work. I attempted to _publish_ release build and it suddenly built. From that point on I could build in either release or debug (Even after a full clean).

Can mark this as closed

[2018-12-19 16:19] #2737 closed

[2018-12-19 18:44] conniey opened #2765 "`dotnet test` fails when native assets are required and multiple RuntimeIdentifiers are set"
There are several related questions/issues to this (ie. #1017), so this might be more of a guidance question.

Our ApiPort tests use ildasm to compile IL files and verify that our MetadataReader is working correctly. (ex. [Microsoft.Fx.Portability.MetadataReader.Tests.csproj](https://github.com/Microsoft/dotnet-apiport/blob/dev/tests/lib/Microsoft.Fx.Portability.MetadataReader.Tests/Microsoft.Fx.P

[2018-12-19 21:12] livarcocc commented on #2765
I am not sure I follow how this is an issue of the tooling platform. ildasm is not available cross-plat, as far as I am aware, which means that that part of your build will not work cross-plat. What would you expect the tooling to do here to help your scenario?

[2018-12-19 23:34] conniey commented on #2765
I apologise for the typo, I meant ilasm. Looking at the targets file, it appears like there are versions that run on Linux?

[2018-12-20 00:34] livarcocc commented on #2765
I am not sure what targets you are referring to. I don't believe we have those targets in the SDK itself.

[2018-12-20 04:49] conniey commented on #2765
[IL.targets Line 11](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/IL.targets#L11) is what i'm referring to.

I guess the behaviour is confusing. If I use:
[code]
and run `dotnet test`, my tests pass because ilasm.exe is output in the folder under `bin/Debug/net46/win7-x86`. However, if I  replace it with:
[code]
when I run `dotnet test`, the tests

[2018-12-20 13:01] vgriph opened #2768 "Links to app.config is case sensitive"
I've been migrating project files from the old project system to use Microsoft.NET.Sdk. We had some projects which share app.config using links of the type
[code]
However, with when using SDK file projects these links are not used for creating target assembly configuration file. After some debugging I found out that
[code]
works.

[2018-12-20 20:57] livarcocc commented on #2768
Without looking into might be causing this, and only going from your affirmation about it being case sensitive, I would say that is by design.

The .NET Core SDK is cross-platform and works on platforms that are case insensitive and platforms that are case sensitive.

[2018-12-20 20:59] livarcocc commented on #2765
I would file an issue on buildtools for this. I don't think this has anything to do with the SDK or the CLI.

It is possible that the package you are using to bring ilasm does not have assets for netcoreapp and only for .net framework.

[2018-12-21 03:00] davidwengier opened #2769 "Remove duplicate FolderPublish capability for SDK projects"
Once https://github.com/dotnet/project-system/pull/4400 has been merged the capability can be removed from the SDK, leaving all publish related capabilities in the same targets file inside the project system, for consistency.

https://github.com/dotnet/sdk/blob/c93f4a14ebcff4a18840b06886c5dcf24ae64a0e/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L585-L588

[2018-12-24 09:11] vitlav opened #2772 "The library 'libhostpolicy.so' required to execute the application was not found in"
## Steps to reproduce
* get the latest SDK binaries (2.1.6, f.i.) and put them on the path (on /usr/lib64/dotnet-bootstrap/ dir actually in my case)
* create empty dir with some old version:
  mkdir /usr/lib64/dotnet-bootstrap/shared/Microsoft.NETCore.App/2.0.5
* `dotnet new console`
* `dotnet run`

## Expected behavior
Program runs and prints hello world.

## Actual behavior
[code]

 $ ls /usr/li

[2018-12-24 18:01] livarcocc commented on #2772
Can you be exact on the SDK that you are installing? We don't have a 2.2.2 SDK. Where did you acquire it?

If you should get 2.2.101 from https://get.dot.net if you want to work with .NE Core 2.2.

Also, you claim to be installing the 2.2.2 SDK, but you are using the 2.1.500, from the `dotnet --info` output above. Did you do anything special to your machine to be in this situation?

[2018-12-24 18:11] vitlav commented on #2772
I was wrong, I used .NET Core 2.1.6 (2.1.500 SDK) — the latest 2.1.x downloaded package.
No special changes for this case: just downloaded, unpacked, do mkdir and voila.

[2018-12-25 02:06] livarcocc commented on #2772
Oh, wait, I missed this step:

Why are you doing this? It won't work. The host will try to use that version simply based on the presence of the folder, we don't check for the files inside of it for perf reasons.

If you remove that folder, does everything work?

[2018-12-25 14:16] vitlav commented on #2772
...

Simply based? I guess there is a strange logic in a folder selection.

Yes, it does. But why does it behave in this way when the folder is present?

[2018-12-25 19:48] livarcocc commented on #2772
Given that this is not really supported and akin to you messing up with the installation of the SDK, I am going to close this issue.

If you want to learn more about the host selection logic for runtimes, I suggest either looking through the code at dotnet/core-setup or maybe filling an issue there for more information either. That logic does not live on the dotnet/sdk repo.

[2018-12-25 19:48] #2772 closed

[2018-12-26 12:56] 1scrooge opened #2773 "dotnet`s error with credentials for nuget feed"
After updated dotnet up to 2.1.502 and uper I have an error with credentials for nuget feed when I using apikey
[code]
my NuGet.Config:
[code]
on 2.1.403 version works fine
Could you fix it?

[2018-12-26 16:32] dybzon commented on #1321
I ran into this issue on a computer where I have not installed ReSharper. I first tried deleting the obj and bin folders and then re-publishing, but it wasn't until I upgraded VS to the latest version (15.9.4) that the issue went away.

I did not try restarting VS prior to upgrading it, so I cannot say whether a restart of VS would've solved the issue for me.

[2018-12-26 17:50] peterhuene commented on #2722
I'll look into this now that I'm back from vacation.

[2018-12-26 17:50] peterhuene commented on #2632
I agree that I think we can fix this without relying on download-only packages.  I'll work on the fix now that I'm back from vacation.

[2018-12-26 18:04] peterhuene commented on #2505
@HolisticDeveloper you should be able to work around this similarly with `msbuild` using `/p:RuntimeIdentifier=<rid>`, which is effectively what the `--runtime` option does for `dotnet publish`.

[2018-12-26 18:15] livarcocc commented on #2773
This issue was moved to NuGet/Home#7664

[2018-12-26 18:15] #2773 closed

[2018-12-26 18:56] livarcocc commented on #2711
Closing this issue as we have moved to build 2.2.101 which moved the latest link on the page.

[2018-12-26 18:56] #2711 closed

[2018-12-26 18:58] livarcocc commented on #2703
Issue moved to [dotnet/wpf #219](https://github.com/dotnet/wpf/issues/219) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-26 18:58] #2703 closed

[2018-12-26 19:00] livarcocc commented on #1828
Going to close this issue as it has been a while and it seems that repairing the installation fixed it.

[2018-12-26 19:00] #1828 closed

[2018-12-26 19:01] livarcocc commented on #1703
Closing this issue as it is old and reproing on 15.5. If this still happens for 15.9, please re-activate.

[2018-12-26 19:01] #1703 closed

[2018-12-27 05:03] peterhuene commented on #2722
This appears to be behavior ever since ASP.NET Core moved to being a shared runtime (i.e. SDK 2.1.300).

The filtering done by the former `ResolvePublishAssemblies` task takes a singular `PlatformLibraryName`, which in 2.1 and 2.2 was `Microsoft.AspNetCore.App`.  This results in the `ResolvedAssembliesToPublish` item list containing the `Microsoft.NETCore.App` assemblies (including the two `host*`

[2018-12-27 05:03] #2722 closed

[2018-12-28 20:15] jnovick commented on #2253
This is still happening on .NET Core 2.2, but installing `Microsoft.AspNetCore.App` fixed it.

[2018-12-28 20:52] hobozero commented on #1113
This is an issue when using the OutputPath msbuild parameter as well, which is a mainstay in our legacy build pipeline. The result, when building multi-targeted Nuget packages is that the last platform-targeted dll wins and is copied to each framework folder.  For example, the /lib/net45 folder in the nupkg contains a dll targeted for netstandard2.0.

Consuming packages throw errrors like "You mus

[2018-12-28 21:09] livarcocc commented on #1113
@hobozero please file a new issue for you problem with detail repro steps (or if possible, a repro repo on github that we can clone) to reproduce your problem.

This bug in particular happened because of a property being set by the roslyn build. It is now tracking adding diagnostic for when it is set in a multi-targeted build.

It would be interesting to know if you are setting the same property i

[2018-12-29 00:29] wli3 opened #10024 "Remove workaround to output minimal when "--interactive" is used in dotnet tools"
when https://github.com/NuGet/NuGet.Client/pull/2577 is merged and inserted to CLI

Today output quiet will break "--interacitve" experience since it will output nothing. However, minimal output will have the temp project path. After the above nuget change, minimal output will not have temp project path anymore, so the workaround can be removed

[2018-12-29 22:06] jp2masa opened #2777 ".NET Global Tools publish broken"
.NET Global Tools publish uses the `PublishDepsFilePath` property to include the deps file, but it no longer exists (.NET Core 3.0 Preview 1).

This bug was introduced here: https://github.com/dotnet/sdk/commit/1936ebd7307cebd6c5d1d8d699b9844f73b8fb2c#diff-7dc833d02f198e5a9f0ab88e229db18aL520.

I believe that the property shouldn't have been removed.

[2018-12-30 17:01] livarcocc commented on #2777
@wli3 and @peterhuene to comment.

[2018-12-30 17:13] livarcocc opened #2779 ""error NETSDK1007: Cannot find project info" when a csproj with a certain name depends on another in the same directory."
_From @davedissian on December 29, 2018 14:42_

If I have two csproj's within the same directory, where csproj (1) depends on csproj (2), I get a NETSDK1007 error if the dependency (2) has a name which is lexicographically greater than the root project (1). For example, if I have `Worker.csproj` which depends on `Library.csproj`, it compiles fine. However, If I have `AWorker.csproj` which depends

[2018-12-30 19:01] richardszalay opened #12481 "Including additional "Web.config" files in WebConfigsToTransform causes ParameterizeTransformXml to fail"
### Steps to reproduce

1. In an ASP.NET ("classic") Project, include transforms on Views\Web.config (or otherwise include an additional `WebConfigsToTransform` on a file named Web.config)
2. Publish to an MSDeploy target (eg. package)

### Expected  behavior

Connection strings in Web.config are auto-parameterised.
The additional Web.config does not cause an error.

### Actual behavior

The follo

[2018-12-31 04:50] MattLavalleeMA opened #2780 "NuGetFallbackFolder resolving File Version conflicts for same Package Versions"
I have a .NET Core 2.2 solution (migrated from 2.1) with eight projects: two AspNetCore projects, five class libraries, and a unit test project.  Recently, I started receiving version resolution "messages" for _HandlePackageFileConflicts like this:

and

We've all had to deal with binding _package version_ conflicts before, but in this case it seems to be at the _file version_ level, and with refe

[2018-12-31 16:54] peterhuene commented on #2777
It does look like I accidentally removed this property during the big refactoring of the publishing code.

Thanks for finding this.  I think the linked PR is the right fix.

[2018-12-31 18:32] #2777 closed

[2019-01-03 15:19] weltkante commented on #2760
[code]
as by my previous response this works (at least for the new project types)

However doing the same with
[code]
does not work, apparently VS prefers the `System.Collections.Immutable` indirectly referenced by the framework nuget cache over the one I explicitly reference (both having the same version). This is breaking the VS solution explorer, I assume because the manually specified referenc

[2019-01-03 17:05] DouglasDRF opened #2784 "Why IList does not have the method signature RemoveAll?"
[code]

IList only have Remove() and RemoveAt()... Wouldn't be more interesting put the RemoveAll() method signature in IList for access it?? Neither ICollection or IEnumerable has these methods signatures. Because if I want to remove all items under a specific condition through IList interface I have to transform to a List first

[code]

With RemoveAll() method in IList

[code]

[2019-01-03 17:15] #2784 closed

[2019-01-03 17:15] livarcocc commented on #2784
Issue moved to [dotnet/corefx #34334](https://github.com/dotnet/corefx/issues/34334) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-03 18:35] #2712 closed

[2019-01-03 21:19] kouvel opened #2787 "Changes to runtime config options in .csproj are not reflected in .runtimeconfig.json on partial build"
Repro:

[code]

The `.runtimeconfig.json` file in `bin` has the following contents:
[code]

Edit the `.csproj` file and add the following into the `PropertyGroup` element:
[code]

[code]

The `.runtimeconfig.json` file in `bin` has the same contents as above.

Expected contents:
[code]

Workaround is to delete `bin` and `obj` folders after updating the `.csproj` and before building. The same issue

[2019-01-04 18:08] ryantrem opened #2790 "Generalize multi-pass build support"
There are already several standard build "dimensions," including Configuration, Platform, and TargetFramework. These dimensions and their potential values create a matrix of overall build configurations. I can specify which element of the matrix to use to configure the build by specifying values for each dimension (e.g. Debug|x86|net46). If I want to perform multiple build passes (multiple element

[2019-01-04 19:45] fleed commented on #1458
Any progress on this? I wasted lot of time before understanding that **sourcelink** works with *netstandard* libraries referenced by *netcoreapp* projects, but it doesn't work when targeting the full net framework (even with the new `csproj` format).

[2019-01-04 21:33] DaveSlinn commented on #2559
@dsplaisted Any advice on how to proceed would be appreciated.  We are still manually editing our .config to remove the ``<runtime>`` section that is getting added by the build to our app.config.  I will look at adding an extra script task to our build to remove this, but I'm wondering if this a potentially bigger problem that will eventually bite us from being able to successfully build a working

[2019-01-04 21:36] Lohnegrim opened #2793 "Result of chr() cannot be used as initial value of a Const in .Net Core 3 Preview 1"
Version: 3.0.100-preview-009812
Commit: e3abf6e935

Runtime Environment:
OS Name: Windows
OS Version: 10.0.17763
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\3.0.100-preview-009812\

Host (useful for support):
Version: 3.0.0-preview-27122-01
Commit: 00c5c8bc40

Have you experienced this same bug with .NET Framework?: No

In the .Net Framework using VB.Net you can comp

[2019-01-06 20:15] mellinoe commented on #1151
@jmarolf Mentioned an issue I reported over in dotnet/project-system was tracked here. I'll paste the contents:

I recently changed how a library and its dependencies are versioned in this repository. I have several projects referenced by one another, and I have a "demo" application which references all of the others. Most of the libraries reference each other via ProjectReferences with relative p

[2019-01-06 20:46] TFTomSun commented on #1151
yes it is possible. You need to dynamize the type of the reference. When (in which context) do you want to build LibB.cspoj against LibA 4.5.0 ?

[2019-01-06 21:47] mellinoe commented on #1151
I always want to build LibB against LibA 4.5.0. To clarify, the problem is that I can't get Demo.csproj to deploy the locally-built outputs from LibA.csproj, even though a direct project reference exists.

[2019-01-06 21:56] TFTomSun commented on #1151
When you build against 4.5.0 an assembly with this version should also be in the output in the End. When Demo builds against the latest version (project) you would somehow to have both versions in your output, which is possible but not supported by default. And both version would have to be loaded at runtime, which is also technical possible but can lead to other issues, too. And you would have to

[2019-01-06 22:35] mellinoe commented on #1151
It's perfectly fine to reference libraries that depend on different versions of the same library, as long as the application deploys a version that satisfies them all. In this case, deploying the locally-built assembly would be the correct thing to do, because it actually has a higher version than the one from the NuGet package. Of course, it's still possible that the two assemblies are not compat

[2019-01-07 13:35] JackGrinningCat commented on #1351
I tried to use the new type with nunit/Specflow Test and it is not generated.

[2019-01-07 14:38] MattLavalleeMA commented on #2630
I saw this not too long ago myself... There is an Assembly Version conflict in the VS build extensions that causes conflicts for any .NET Framework (Full) project that references System.Net.Http (which is just about everything these days).  If you look here:

_(Or whatever Edition you're using after \2017)_

... you'll see that the System.Net.Http that's _there_ has a higher Assembly Version than

[2019-01-07 14:45] MattLavalleeMA commented on #2559
@DaveSlinn this looks to be the same as the System.Net.Http "poisoning" issue that came up with netstandard 2.0: https://github.com/dotnet/corefx/issues/28833 .  See if the workaround posted there (ExcludeAssets flag) works for you.  It did for us, but does requiring updating every single project.

[2019-01-07 19:23] dsplaisted commented on #2630
Messages in the log file about assembly version conflicts don't generally mean there's a problem.  More or less, it simply means that there are references to different versions of the same library, and it needs to choose the best one.

Trying to understand what is happening can be further confused because there are a bunch of different version numbers a library can have.  The NuGet package version

[2019-01-07 20:19] natemcmaster opened #2792 "RuntimeFrameworkVersion for 3.0 apps"
Filing on behalf of @DamianEdwards @davidfowl

It appears the RuntimeFrameworkVersion property is no longer honored in netcoreapp3.0 projects. If our recollection is correct, the plan was to use this property so customers could define the versions used by FrameworkReference.

Open question: how to handle the difference between shared framework versions. After RTM, we should (in theory) always patc

[2019-01-08 00:57] xen2 opened #2794 "runtime.json only works if PackageReference is directly referenced by project"
I have a a `netcoreapp2.1` app with a `PackageReference` (let's call it MyPackageA) that contains a `runtime.json`.

It seems that if I don't include this MyPackageA `PackageReference` explicitly in the final executable project, its `runtime.json` is not properly used to compute the deps.json file (and it can't find/load some of the .dll).

What works:
- Main executable project: `PackageReference`

[2019-01-08 02:12] MattLavalleeMA commented on #2630
@dsplaisted IIRC, with a downlevel target framework (i.e., 4.6.2), build won't copy the transient dependency and you get a runtime error on deployment.  In a large solution environment with broadly-shared dependencies, it's non-trivial to upgrade the target framework of a given library.

[2019-01-08 02:35] mablae commented on #2253
Solved an issue with `Microsoft.Extensions.Configuration.Abstractions` v2.2.0 using your trick

[2019-01-08 03:57] yaakov-h opened #2795 "Incorrect assembly binding redirects generated in 3.0 preview"
See: https://github.com/KirillOsenkov/SourceBrowser/issues/108

When building SourceBrowser with SDK v2.1.502, binding redirects for `Newtonsoft.Json` and `System.Collections.Immutable` are generated for versions `11.0.0.0` and `1.2.3.0` respectively.

When building SourceBrowser with SDK v3.0.100-preview-009812 (as shipped with VS2019 Preview 1), binding redirects for `Newtonsoft.Json` and `Syste

[2019-01-08 18:47] nguerrera commented on #2122
See https://github.com/dotnet/cli/issues/10502#issuecomment-452408306

We should do this now. cc @dsplaisted

[2019-01-08 19:02] rynowak commented on #2122
This would be super nice to have built-in. We do our own workaround for this in Razor, and it would be better if we could just set a property default value 👍

[2019-01-08 20:47] nguerrera commented on #2092
Duplicate of dotnet/sdk#2122

[2019-01-08 20:47] nguerrera commented on #2092
Going with https://github.com/dotnet/sdk/issues/2092#issuecomment-377050440, which is tracked by #2122.

[2019-01-08 20:47] #2092 closed

[2019-01-09 04:01] #2122 closed

[2019-01-09 04:51] nguerrera commented on #2792
@dsplaisted

[2019-01-09 05:12] nguerrera commented on #2792
I think we should consider honoring metadata on FrameworkReference of some kind. You could then use Update in msbuild to set it. I think this mostly comes up internally where we want to mix different daily builds vs official releases where the defaults are what you want. We should look at usage of RuntimeFrameworkVersion to validate that. If so, I don't think this needs to be any friendlier than t

[2019-01-09 05:26] dsplaisted opened #2802 "Set metadata on references coming from shared framework targeting pack to show them in solution explorer tree view"
See https://github.com/dotnet/project-system/issues/4444

[2019-01-09 14:46] pbarranis commented on #1321
Same issue; editing .pubxml file manually was the only solution.  VS 15.9.5; this happened when updating my project from .NET Core 2.1 to 2.2.  Tried closing VS, deleting obj and bin folders, then re-opening, but that didn't fix it.  Unlike an earlier comment, when I opened the Publish page, the "Target Framework" correctly showed "netcoreapp2.2", but when I opened the pubxml file, it was set to 2

[2019-01-09 14:46] Xarkam opened #2804 "Remove old sdk can't remove all old runtime"
Hello,

Today, I removed old sdk from my machine.
But, I have two old runtime not removed:
![image](https://user-images.githubusercontent.com/331816/50906063-93a5b700-1424-11e9-88e6-5e40f2bf028e.png)
![image](https://user-images.githubusercontent.com/331816/50906249-fa2ad500-1424-11e9-976f-a190e4af12a4.png)
![image](https://user-images.githubusercontent.com/331816/50906311-1c245780-1425-11e9-964d-

[2019-01-09 17:46] livarcocc commented on #2804
Not sure why 2.1.0 and 2.1.2 were not removed. You can remove them, at least according to the version of the SDK that you have installed. Do you happen to have logs for the unsinstalls? Otherwise, I don't see much we can do to address this and I will just close the issue.

[2019-01-09 21:33] dsplaisted commented on #2792
Sounds good.  Note that ASP.NET shouldn't be blocked today, you should be able to do something like the following to select a specific version of the runtime and targeting packs:

[code]

[2019-01-09 21:36] davidfowl commented on #2792
@dsplaisted  Yes, it's horrific

[2019-01-09 21:41] livarcocc commented on #2804
We would need logs for the MSI uninstall process. @johnbeisner would you know where to find those?

I don't know what you mean by those. Are you saying you removed the folders and dotnet --info is still reporting them?

[2019-01-10 04:50] davidfowl commented on #2792
For us wanting to use CI builds. So we can test the product before ask mode 😬

[2019-01-10 07:54] Xarkam commented on #2804
If I delete `C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App\2.1.0` and `C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App\2.1.2 folders`, a `dotnet --info` displays in the list that they are still installed.

[2019-01-10 12:06] gauravagarwal28 commented on #2682
I have the same issue.

[2019-01-10 15:16] jlanng commented on #1151
@mellinoe it sounds like you need an assembly redirect from LibA 4.5.0 to 1.0.0?

I'm not sure how that can be automated though.

[2019-01-10 17:48] livarcocc commented on #2804
Can you please paste the contents of `dotnet --info` after removing the folders?

[2019-01-10 18:02] jeffhube opened #2808 "Intermittent build failures with no error messages"
I'm encountering intermittent build failures when using `dotnet run` where there is no output describing what failed. The failure can occur immediately after a previous `dotnet run` succeeded for the same project, with no changes made to the project files.

Any suggestions on how I can troubleshoot this?

[code]

[code]

**Additional background**

I have a Jenkins job that clones a git repository

[2019-01-10 18:09] livarcocc commented on #2808
I wonder if any of these failures have anything to do with the long running servers, like vbcscompiler and msbuild node reuse.

@peterhuene any idea how we could diagnose this?

[2019-01-10 18:19] Xarkam commented on #2804
This the content after reset my powershell session **and** after deleted folder.
[code]

So, if you remove folder and you have cmd/powershell opened, the deletion is is not taken into account.
You must restart cmd/powershell session.

I suppose, I can make same for 2.1.202 sdk ? (not present in previous uninstaller list screenshot)

[2019-01-10 18:37] livarcocc commented on #2804
I am going to move this issue to core-setup, where the code to list the runtimes exists. I am not sure why you would have to restart powershell for this to work. It should pretty much just list folder relative to dotnet.exe itself.

[2019-01-10 18:37] livarcocc commented on #2804
This issue was moved to dotnet/core-setup#4951

[2019-01-10 18:37] #2804 closed

[2019-01-10 18:38] greyb opened #2809 "Add ReferencePath to Microsoft.NET.Sdk.props AssemblySearchPaths"
AssemblySearchPaths has no ReferencePath, why?

[2019-01-10 19:11] peterhuene commented on #2808
It's bizarre that there's no error being emitted by MSBuild.  Unfortunately we don't include the exit code in that error message (👎), which might also help.

@jeffhube would it be possible to change your command to add `-v:diag` as an option to `dotnet run` and see if there are any relevant diagnostic messages coming from MSBuild?

[2019-01-10 22:33] jeffhube commented on #2808
@peterhuene Unfortunately the failures do not seem to occur when `-v:diag` is set (it might affect the timing?). The exit code of `dotnet run ...` is `1`, but I'm guessing that's not of any use.

[2019-01-10 22:37] peterhuene commented on #2808
`-v:diag` would definitely slow things down a bit to affect timing.

Does it repro without `-v:diag` but with `/nr:false` to disable node-reuse in MSBuild?

[2019-01-11 11:34] am11 opened #2811 "Support for .NET Framework TFM tools"
`dotnet pack /p:PackAsTool=true` and `dotnet-tool` provide a nice mechanism to create and deliver utility tools in a uniform manner. Unfortunately, it only supports .NET Core (PackTool targets has [explicit check](https://github.com/dotnet/sdk/blob/f0a1246be1ebe11a88097ac3dd5736f0ad15b855/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.PackTool.targets#L75-L76)).

For utilities written w

[2019-01-11 14:25] rla4 opened #2813 "Exclude is overzealous when exclude pattern is an absolute path prefix of include directory"
When building an SDK project, the source files are not being collected correctly, causing a "CS5001: Program does not contain a static 'Main' method suitable for an entry point" error. If I change the `OutputPath` to anything other than a substring of the source path, all source files are picked up just fine and build succeeds. Issue only happens after the 2nd build (presumably because the output

[2019-01-11 14:31] NickCraver commented on #2813
cc @livarcocc - this is solved in 3.x but not 2.2.x latest stable, thoughts?

[2019-01-11 16:40] jeffhube commented on #2808
@peterhuene It doesn't look like I can specify `/nr:false` with `dotnet run`? I get this error:

`Error: Encountered invalid option '/nr:false'`

I tried `export MSBUILDDISABLENODEREUSE=1`, which I'm hoping accomplishes the same thing, but I could still repro the issue.

It looks like msbuild may be crashing? I found this in apport.log:
[code]

Would that crash file be helpful?

[2019-01-11 17:54] livarcocc commented on #2811
@wli3 don't we have an issue for this already? If so, could you close this one as a dup?

[2019-01-11 17:57] livarcocc commented on #2813
Man, github is a small world, I actually went to school with @rla4, whether she remembers or not.

I am not sure exactly which change happened in 3.0 to fix this issue there. @peterhuene can you take  a look? Depending on the change, we can try to do bar check and bring it the fix to 2.2 in a servicing release.

[2019-01-11 18:01] wli3 commented on #2811
@livarcocc you are right. There is one on CLI https://github.com/dotnet/cli/issues/9269 closing

[2019-01-11 18:01] #2811 closed

[2019-01-11 19:06] peterhuene commented on #2813
iirc, there was a fix from the community related to output option handling that I think went into master.  I'll try to dig it up.

[2019-01-11 19:08] peterhuene commented on #2813
https://github.com/dotnet/cli/pull/9892 was the PR I'm thinking of.  That might have addressed this issue.  I'll check.

[2019-01-11 19:19] peterhuene commented on #2808
Sorry, I forgot that `dotnet run` doesn't forward unrecognized options to MSBuild like the other commands do (unfortunately it forwards them to the application being run without a "end of command options" delimiter).  The `MSBUILDDISABLENODEREUSE` environment variable should have the same effect, though.

The crash file may indeed be helpful.  However, the dump may contain potentially sensitive in

[2019-01-11 19:36] peterhuene commented on #2813
That wasn't what addressed the issue in 3.0, so now I'm bisecting.

[2019-01-11 20:05] jeffhube commented on #2808
Are there debugging symbols / steps that would help me provide a detailed backtrace?

[2019-01-11 20:30] peterhuene commented on #2808
This [blog post](http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/) gives a good overview of using `lldb` to debug a .NET Core dump.

Note that you'll need to unpack the dump from the crash file (using the `apport-unpack` command).

Regarding symbols, the [release notes](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.1/2.2.1.md) contains links

[2019-01-11 20:32] peterhuene commented on #2808
This [blog post](http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/) gives a good overview of using `lldb` to debug a .NET Core dump.

Note that you'll need to unpack the dump from the crash file using the `apport-unpack` command.

Regarding symbols, the [release notes](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.1/2.2.1.md) contains links t

[2019-01-11 22:46] jeffhube commented on #2808
Thanks, I tried to take a look, but this is all new to me so I'm not really sure what I'm looking for. There was a `System.IO.FileNotFoundException` for `Microsoft.Build.Tasks.Core.resources`, but I have no idea if that is expected / handled.

[code]

[code]

[code]

[code]

[code]

[code]

[2019-01-11 23:07] nguerrera commented on #2809
I assume you mean this:

https://github.com/Microsoft/msbuild/blob/3a844ce00a873d8ca6ba0a8abc0c6b64f772d937/src/Tasks/Microsoft.Common.CurrentVersion.targets#L549

We made an effort in the SDK to be very restrictive about which things are included in the search path as many of the classic defaults are very problematic: $(OutDir) is a race condition, GAC and registry are machine-dependent, etc.

I

[2019-01-11 23:07] #2809 closed

[2019-01-11 23:12] peterhuene commented on #2808
@jeffhube would it be possible to get the native backtraces for threads 1 and 20?  20 seems interesting since it's currently in `libcoreclr.so`.

@rainersigwald does this look familiar to you at all?  There appears to be a segfault occurring in MSBuild; one thread is experiencing a FNFE for `Microsoft.Build.Tasks.Core.resources`, which I'm sure is probably normal during binding.  My guess is a rac

[2019-01-11 23:43] jeffhube commented on #2808
Is this what you're looking for? I'm guessing I need to load some symbols somehow, though?

https://pastebin.com/L7YAPVeU

[2019-01-11 23:57] jeffhube commented on #2808
Ok, here it is with symbols loaded:

https://pastebin.com/dQHaAbK2

[2019-01-13 06:36] himalpatel81 opened #2817 "Error with dotnet publish"
I'm trying to publish an ASP.NET Core .NET Framework project using CLI and it fails with the error message "error CS0246: The type or namespace name 'Leadtools' could not be found (are you missing a using directive or an assembly reference?) [WebApplication1.csproj] "

LeadTools is .net Framework nuget. I read few articles saying that dotnet cli doesnt support it. I also tried to use msbuild but g

[2019-01-13 21:44] mellinoe commented on #1151
@jlanng No, I'm not using .NET Framework; assembly redirects are unrelated.

@dsplaisted @natemcmaster Do you have any recommendations for my scenario?

[2019-01-14 02:05] night-king commented on #1073
C:\Program Files\dotnet\sdk\3.0.100-preview-009812\Sdks\Microsoft.NET.Sdk.Publish\build\netstandard1.0\TransformTargets\Microsoft.NET.Sdk.Publish.TransformFiles.targets(49,5): 错误 MSB4018: “TransformWebConfig”任务意外失败。
System.Exception: In process hosting is not supported for AspNetCoreModule. Change the AspNetCoreModule to at least AspNetCoreModuleV2.
   在 Microsoft.NET.Sdk.Publish.Tasks.WebConfigTr

[2019-01-14 02:20] charlesrobichaux commented on #2253
I was also able to confirm that this worked for me on .NET Core 2.2

[2019-01-14 05:40] JackYumCha commented on #2682
Yes. Fixed.

In my case, I got that error when publish target is osx. If I choose portable, it works without any issue.

[2019-01-14 10:54] theimowski opened #2818 "ApplicationIcon property doesn't work for F# projects when targeting Full .NET"
This works correctly for C# and VB.NET projects:

1. `dotnet new console -lang C#` / `dotnet new console -lang VB`
2. place any icon file (icon.ico) in the root directory
3. in project file, change `TargetFramework` to `net45` and add `<ApplicationIcon>icon.ico</ApplicationIcon>`
4. `dotnet build`

The *.exe in `bin/Debug/net45` has a proper icon set.
If however you repeat the same steps above, bu

[2019-01-14 15:01] javico2609 commented on #2253
Hi. same problem here with v2.2.1 and Integration Test project
If include  started project and use Startup class

[code]

[code]

[2019-01-14 17:37] livarcocc commented on #2818
@peterhuene can you take a look?

[2019-01-14 18:00] vijayrkn commented on #1073
@night-king - The log shows that you have an incorrect configuration setup. You cannot have inprocess hosting with AspNetCoreModule.

Can you add this to the csproj? This should fix the issue.

`<AspNetCoreModuleName>AspNetCoreModuleV2</AspNetCoreModuleName>`

[2019-01-14 20:00] peterhuene commented on #2813
I'm actually able to reproduce this in 3.0, both in `master` and preview 1:

[code]

I can also reproduce it without default items enabled:

[code]

Edit `foobar.csproj` to:

[code]

Note: replace the full path in the exclude to be the same base bath where `foobar` resides (i.e. if `foobar` is in `C:\baz` then the `Exclude` should be `C:\baz\foo/**/*`.

If the `Exclude` is not absolute, it does no

[2019-01-15 01:16] dsplaisted commented on #1151
@mellinoe I don't know why it's not copying the right version of LibA to the demo project's output folder.  Investigating the contents of the assets file and possibly a binary build log could help understand what's going on.  It's possible that the Package Version of LibA.csproj isn't set correctly (to something later than 4.5.0) so NuGet is getting confused about the latest version.

As a workaro

[2019-01-16 00:36] nguerrera commented on #2818
cc @KevinRansom I seem to recall there was an issue in the F# compiler implementation on core where it wasn't writing win32 resources.

[2019-01-16 00:46] nguerrera opened #2828 "Improve testing of PreserveCompilationContext with approximation of what Razor does for runtime compilation"
Follow-up to offline conversation around https://github.com/dotnet/cli/issues/10502#issuecomment-453690369

Historically, we have broken this scenario too frequently.

We have identified two things:

1. Code flow delays have been too long and we end up only trying end-to-end scenarios too close to release dates.

2. It would be nice to have a unit test in dotnet/sdk that can catch as many related

[2019-01-16 00:51] rynowak commented on #2828
(3) https://github.com/aspnet/AspNetCore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ApplicationParts/AssemblyPart.cs#L52

A good test for this would require the dependency context to be non-null, and would verify that all of the files returned from `ResolveReferencePaths` exist in the filesystem

@pranavkm - can you help out by providing a good snippet

[2019-01-16 01:50] #2749 closed

[2019-01-16 20:42] nguerrera commented on #2793
I'm not sure about the exact fix needed here.

First, I don't know the history of the defaulting VBRuntime=Embed in the SDK. If you follow renames it goes all the way back to the [very first PR that supported VB at all](https://github.com/dotnet/sdk/pull/130):

@srivatsn @davkean Do you remember more details on this?

@jaredpar @AlekseyTs @333fred What is the precise condition where VBRuntime shou

[2019-01-16 20:56] AlekseyTs commented on #2793
I think this condition should be - if a Microsoft.VisualBasic.Dll is going to be passed as a reference, VB runtime should not be embedded. Otherwise, we end up with two different implementations of VB runtime at the same time.

[2019-01-16 22:50] pranavkm commented on #2828
It's a little more than a snippet, but I added a console app that emulates the two code paths that MVC uses DependencyContext today - https://github.com/pranavkm/compilation-context/blob/master/CompilationContextTest/Program.cs.

* The primary path is when MVC uses `DependencyContext` to determine what libraries reference MVC. We do this as a startup optimization to avoid loading assemblies that c

[2019-01-17 03:22] timmydo opened #2837 "Self-contained linux app missing libhostfxr.so"
Using https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz

RUN dotnet restore --runtime linux-x64 --configfile /app/Nuget.Config
RUN dotnet publish -c Release -f netcoreapp3.0 --self-contained --runtime linux-x64 --no-restore -o /out

csproj is roughly
[code]

[code]

I think this is a recent development. The previous sdk nightly worked fine. There are no *

[2019-01-17 04:00] mhutch commented on #1366
This is also an issue for VS for Mac.

Here are my notes, in case it's helpful:

And here's my workaround:

[code]

[2019-01-17 06:58] nguerrera commented on #1366
I suspect there isn't enough information in the assets file today to raise the transitive refs correctly in this case. We likely need to coordinate the fix with nuget.

[2019-01-17 07:11] peterhuene commented on #2837
@nguerrera since it sounds like you have a working theory, feel free to assign to you as I simply self-assigned so I could poke it with a stick tomorrow.

[2019-01-17 08:21] BrianBergh commented on #2295
Hmm, this doesn't work on my pc. I had 12 different .Net Core SDK's installed, when I ran the script, I was prompted xx times to accept uninstalling and everything looked promising. But after the script ended, every of the 12 different SDK's were still there, and i had to remove them manually in Windows App's list. :(
 I really look forward to seeing this handled in .NET Core 3.x :)

Thanks for th

[2019-01-17 17:53] timmydo commented on #2837
ok this might be partially my fault. Just realized I removed the `<Platforms>AnyCPU;x64</Platforms>` section from the csproj (thought maybe runtimeidentifiers had enough info, but I guess not). Would be nice if there was a warning or error somewhere rather than producing a broken self-contained build.

Also, is there a best practice for `dotnet restore blah.sln && dotnet publish --no-restore each.

[2019-01-17 18:18] timmydo commented on #2837
ok, maybe i spoke too soon. Adding back `<Platforms>AnyCPU;x64</Platforms>` did not have any effect. Same error

[2019-01-17 18:47] timmydo commented on #2837
interesting that the runtime environment from the linux-x64 tarball shows debian.9-x64.

[code]

If i restore and build with debian.9-x64, the libhostfxr issue goes away, but libhostpolicy.so is not found.

[code]

[2019-01-17 19:08] timmydo commented on #2837
Singular RuntimeIdentifiers gets us past libhostpolicy.so:
[code]

[2019-01-17 19:50] timmydo commented on #2837
this might be fixed when i use:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/3.0.100-preview-010124/dotnet-sdk-3.0.100-preview-010124-linux-x64.tar.gz instead of https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz.

dotnet --info:
[code]

will update the thread after i test some more

[2019-01-17 20:45] nguerrera commented on #1441
VS will now group files by convention without DependentUpon being set. We don't want to do this sort of magic in evaluation because it is expensive. It is also difficult to get right

Just for the record, there are cultures that match neither of these. For example, we use `zh-Hans` and `zh-Hant` in most of our products. `CultureInfo.GetCultures(CultureTypes.AllCultures).Where(c => c.ToString().Len

[2019-01-17 20:45] #1441 closed

[2019-01-17 20:54] timmydo commented on #2837
Using that other build seemed to fix it. Thanks.

[2019-01-17 23:34] nguerrera commented on #2837
Great. I did some digging and looks like what I thought was just the first piece of the puzzle was actually the whole puzzle for now. At present, when we have a dependency on Microsoft.NETCore.App, we are getting the rid-specific dependencies for free. However, when we switch to package download we will need to add some more code to handle this. I will file a separate issue with the details.

[2019-01-17 23:35] #2837 closed

[2019-01-17 23:40] nguerrera opened #2839 "Download runtime pack for each runtime identifier"
If we have

[code]

And you do:

`dotnet restore`
`dotnet publish -r A --no-restore`

Then the earlier restore should have pulled down runtime packs for A, B, and C. We are getting this for free for now because we still get the dependencies of the targeting pack (even rid specific) with excludeassets=all. When we switch to real runtime packs, we need to make ResolveFrameworkReferences take all the

[2019-01-17 23:42] nguerrera commented on #2837
Filed #2839

[2019-01-18 00:59] giggio commented on #2253
I can confirm the problem still happens with sdk `2.2.102`.
The workaround to change the sdk to `Microsoft.NET.Sdk.Web` and reference `Microsoft.AspNetCore.App` works. The problem is that all projects become executable and web projects. The icon changes in Visual Studio too, which is a terrible.

For anyone interested, your .csproj has to start with:

[code]

And add the Package Reference:

[code]

[2019-01-18 09:04] pavelovcharov opened #10060 "dotnet build ignores -f option in some cases"
Please see the attached project
[build-framework-test.zip](https://github.com/dotnet/cli/files/2772232/build-framework-test.zip)

## Steps to reproduce
1) Create a new class library
2) Create another class library, make it dependent on the first one
3) Replace TargetFramework with TargetFrameworks (e.g. `<TargetFrameworks>netcoreapp3.0;net452</TargetFrameworks>`)
4) Try to build solution against o

[2019-01-18 19:14] benjaminjnr opened #2844 "dotnet build unable to download microsoft.netcore.dotnetapphost.3.0.0-preview-27316-4.nupkg"
While building a WPF on .NET Core 3 app with <TargetFramework>netcoreapp3.0</TargetFramework>, the dotnet build command tries to download the file above but errors out after a number of retries.

At first, I thought there was a problem with the internet connection or the host couldn't be reached.  So, I copied the url displayed (I don't have it now) and pasted it in the browser, it did return the

[2019-01-19 00:07] nguerrera opened #10062 "Investigate why CI fails often with TestCaptureOutput on"
We started getting failures like this all of the sudden very often in CI (no repro locally):

[code]

This is in a step in arcade where it appends to the log file that would have been written by a prior Exec with `> ` redirected output to it. Somehow the file is still in use. Maybe exec returned before the handle was released? But how?

[2019-01-19 23:12] dasMulli commented on #2253
@giggio actually there is a new workaround when using the 2.2 tooling (even for 2.1 apps):

Add a versionless reference to `Microsoft.AspNetCore.App`:

[code]

The change to `Microsoft.NET.Sdk.Web` is no longer necessary since the version selection has been moved to the base SDK.

[2019-01-21 11:32] 0xd4d opened #2851 "Publish self contained app with RIDs that refs a classlib without RIDs results in ArgumentNullException in ResolveFrameworkReferences"
Version: Latest build of .NET Core SDK (3.0.100-preview-010137)

If you have an app with RIDs in the csproj file that references a class library with no RIDs in its csproj file, and you publish a self contained .NET Core 3.0 app, the build fails with an ArgumentNullException in ResolveFrameworkReferences.

https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/ResolveFramewo

[2019-01-21 17:14] giggio commented on #2253
@dasMulli Nice, it works! Thanks, it's much better now.

[2019-01-22 07:36] sven5 commented on #2737
Same errors here. I tried to upgrade from 2.1 to 2.2

I get many errors of this kind:

 **error NU1202: Package Microsoft.AspNetCore.Hosting.Abstractions 2.2.0 is not compatible with netcoreapp2.2 (.NETCoreApp,Version=v2.2). Package Microsoft.AspNetCore.Hosting.Abstractions 2.2.0 does not support target frameworks.**

I searched the web for hours and no solution works for me

[2019-01-22 09:32] pinkfloydx33 commented on #2737
@sven5 If you have any saved publish profiles, make sure you've updated the framework version inside them as well.

[2019-01-22 09:43] sven5 commented on #2737
@pinkfloydx33 Thanks for your suggestion. I already updated the framework there. I'm currently recreating my web project from a new template, I found no other way.

[2019-01-22 13:27] m0sa opened #2854 "Make multi-targeting constants local properties"
The `DefineConstants` properties for multi targeting builds are a bit confusing, since they are global and not local. This means that if there is a custom `-p:DefineConstants=WHATEVER` on the command line, the multi targeting constants won't get added.

What I'm asking here is to add a `TreatAsLocalProperty="DefineConstants"` to Microsoft.NET.Sdk.CSharp.targets, (and possibly other .target / .prop

[2019-01-22 14:09] dasMulli commented on #2854
Passing global parameters on the command line (or just having conflicting environment variables by accident - such as `Platform`  which happens on some laptops) can have multiple aspects that can mess up your build quite easily.
Just yesterday @jchannon ran into something else - https://twitter.com/jchannon/status/1087414442013405184.

Three behaviors of global properties seem to surprise people:

[2019-01-22 14:37] dasMulli commented on #2854
It's a very tricky situation.
If you build using `-p:DefineConstants=FOO` you clear out all the defaults. the TF-specific constans are also missing in case of single-targeting (since user code could technically use them, e.g. when having shared code files that are included in multiple projects).
Simply changing from single-targeting to mulit-targeting would then change the effect of the global pro

[2019-01-22 14:58] m0sa commented on #2854
Hmn, yes, it's a bit tricky since `TreatAsLocalProperty` works on all subsequent imports, not only on the .targets file it's declared in. If the import is at the bottom, before the global property groups, it does scope it. This seems to be the case here in the chain of `Sdk.targets` -> `Microsoft.NET.Sdk.targets` -> `Microsoft.NET.Sdk.CSharp.targets` imports, though.

[2019-01-22 17:43] livarcocc commented on #2844
What version of the SDK did you use? What did your project look like? Was this just running `dotnet build` on your project? build itself does not download anything. It invokes restore, which tries to acquire files through NuGet. Can you paste the errors it displays?

[2019-01-22 18:28] cdmihai opened #2855 "Cannot build with DisableTransitiveProjectReferences=true"
Given a graph with projects that do not have compile time dependencies on the transitive projects, it should be able to build the graph without injecting transitive project references into each project.

Repro:
[new-xtarget-3.zip](https://github.com/dotnet/sdk/files/2784102/new-xtarget-3.zip)
The zip has a graph like 1->2->3. Running with `DisableTransitiveProjectReferences=true` gives the followi

[2019-01-22 18:33] peterhuene commented on #2851
Sure, I'll put up a PR.

[2019-01-22 19:00] firelizzard18 opened #10064 "Cannot build a supported target when an unsupported target exists in `<TargetFrameworks>`"
## Steps to reproduce

1. On Windows, install .NET Core 2.0 SDK and .NET Framework 4.7 SDK
2. `dotnet new console -o test`
3. `cd test`
4. In `test.csproj`, replace `<TargetFramework>...` with `<TargetFrameworks>net47;netcoreapp3.0</TargetFrameworks>`
5. `dotnet build -f net47`

## Expected  behavior

The CLI builds and runs the project using the specified target framework. The fact that there are

[2019-01-22 19:37] livarcocc commented on #1302
Closing as something that we won't get to. Investing in the store is not something that we intend to do in the near to mid future.

[2019-01-22 19:37] #1302 closed

[2019-01-22 22:00] rainersigwald commented on #1810
Closing in favor of deleting the test in #2853.

[2019-01-22 22:00] #1810 closed

[2019-01-22 22:05] nguerrera commented on #2707
I've hit a snag with this.

The plan we established calls for generating .deps.json to intermediate directory in design-time builds.

However, the correct generation of the .deps.json depends on @(ReferenceSatellitePaths) and @(ReferenceDependencyPaths)

https://github.com/dotnet/sdk/blob/549597f4fbdfea526a1022cb1c81ed754888ee36/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets

[2019-01-22 22:11] jeffschwMSFT commented on #2707
That is unfortuante.  I believe we can make this work without a deps.json (as it is optional).  For simple apps (eg. all the dependencies live in the root directory) it will just work.

For more complex apps (eg. ones with native dependencies or with platform specific dependencies) WPF designer will need to probe to find the right ones and load it.  This is not impossible, but will have a tail of

[2019-01-22 22:41] #2851 closed

[2019-01-23 00:42] chabiss commented on #2707
We need to be careful about asking WPF designer of getting into the business of "figuring out" the probing path.  We are not going got into that business if a given team already had solved that problem..  Don't forget that we need to load fast, and minimizing any shadow copying of files as much as possible is necessary.  Also in the case where the project is built, we dot want the WPFSurface.exe t

[2019-01-23 01:51] AArnott commented on #2547
I just hit this myself. It took me a day to track down why things were failing since they were cross process and I was looking in all the wrong places. Please fix.

[2019-01-23 02:30] AArnott commented on #2547
To clearly document the workaround, add an app.config file to your project with (at least) this content:

[code]

[2019-01-23 04:17] sdmaclea commented on #2707
@nguerrera Can you set `_ResolveReferenceDependencies = true` at design time to keep the behavior after Microsoft/msbuild#2417 is fixed?

[2019-01-23 04:53] nguerrera commented on #2707
That would undo the fix. The point is that it's expensive to walk all the friends l dependencies and design time build isn't supposed to do that. Also, I think the results will vary depending on what's on disk during the design time build.

[2019-01-23 06:35] davkean commented on #2707
@nguerrera Perhaps we should sync up on this this? I agree on @chabiss statement, but am very mindful of the performance impact of this. It's also not clear to me the exact implications of this:

[2019-01-23 06:49] MartinZikmund commented on #1690
Any info on this?

[2019-01-23 09:07] kierenj commented on #1151
Don't mean to steamroll over any good workaround discussions, but I wanted to just ask, in the big picture, is there likely to be a change/addition to have this scenario work more easily or automatically - in the backlog perhaps?

[2019-01-23 09:42] vitek-karas commented on #2707
Just curious, why do we need to set the `Microsoft.NETCore.DotNetHostPolicy.SetAppPaths` property? Is this so that the designer doesn't have to tweak the `.deps.json` to get some of the assemblies it needs?

[2019-01-23 17:33] livarcocc commented on #2817
I could not reproduce this issue. I ran a `dotnet restore` followed by the `dotnet publish` command you have above and the project was published successfully.

I would try clearing your NuGet cache just to make sure you don't have a stale package or something like that and I would retry to publish the project.

[2019-01-23 17:33] #2817 closed

[2019-01-23 22:32] nguerrera commented on #2707
@vitek-karas, yes, I believe that was exactly why.

[2019-01-23 22:34] nguerrera commented on #2707
@chabiss Thinking about this some more, what is the expected behavior when there's a project reference to an assembly that either hasn't been built yet? What about when the project reference code is modified since last build?

Yes. I'll set something up.

[2019-01-25 00:37] natemcmaster opened #2867 "Using PackAsToolShimRuntimeIdentifiers and netcoreapp3.0 fails with error NETSDK1065"
**Repro**

[code]
`dotnet pack`

**Result**
[code]

**Details**

Using 3.0.100-preview-010166

cc @nguerrera @wli3

[2019-01-25 00:37] natemcmaster commented on #2867
Marking as blocking-partner because we cannot update aspnet to build with a new SDK until this is resolved.

[2019-01-25 00:48] wli3 commented on #2867
ack

[2019-01-25 01:10] nguerrera commented on #2707
Tagging @lutzroeder to get everyone from the meeting onto this thread.

[2019-01-25 06:39] natemcmaster commented on #2867
Not for preview 2, but it will be for preview 3

[2019-01-25 06:44] roozbehid opened #2869 "PackageReference and local mscorlib.dll cause problem"
Following project file

    <Project Sdk="Microsoft.NET.Sdk">

      <PropertyGroup>
        <OutputType>Exe</OutputType>
        <TargetFramework>net461</TargetFramework>
      </PropertyGroup>

      <ItemGroup>
        <PackageReference Include="Microsoft.Build" Version="15.3.409" />
      </ItemGroup>

    </Project>

in the same folder add -empty or valid - mscorlib.dll file.
Then ResolveAsse

[2019-01-25 13:46] marcelopinheiro-bpp opened #2871 "Problems to load project because of C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Microsoft.Common.targets\ImportAfter\Microsoft.NET.Build.Extensions.NETFramework.targets"
When loading a Project inside my solution, I  was receiving errors of files not found in the "ImportAfter" Directory (C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Microsoft.Common.Targets\ImportAfter).

So I added manually the files
* Microsoft.NET.Build.Extensions.targets
* Microsoft.NET.DefaultPackageConflictOverrides.targets
* Microsoft.NET.Build.Extensions.NETFram

[2019-01-25 17:21] nguerrera commented on #2707
I guess the renaming point is moot since designer has to rename anyway to match surface process.

[2019-01-25 21:00] livarcocc commented on #2871
Can you share a repro project with us? Maybe in a github repo? You should not have to add any of those files manually.

Also, what version of VS are you using and what version of the .NET Core SDK?

[2019-01-25 21:01] nguerrera commented on #2707
Tagging @DustinCampbell

[2019-01-25 23:16] chabiss commented on #2707
LGTM.

[2019-01-26 21:48] christiantinauer commented on #747
@mhingston Did you find a solution to this problem?

[2019-01-28 19:01] nguerrera commented on #2869
This is due to CandidateAssemblyFiles.

Can you try this in your .csproj:

[code]

This removes CandidateAssemblyFiles that cause RAR to use content as possible assemblies.

The default value for SDK projects is set here:

https://github.com/dotnet/sdk/blob/2eb6c546931b5bcb92cd3128b93932a980553ea1/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.props#L91

[2019-01-28 20:50] natemcmaster opened #2875 "Cannot force ResolveFrameworkReference to avoid downloading targeting packs"
Feature request: for the sake of things like source-build and building your own targeting pack (e.g. https://github.com/aspnet/AspNetCore), I'd like to be able to force the SDK into an "offline mode" which fails instead of attempting to download targeting packs. The current code only checks for `Directory.Exists`

https://github.com/dotnet/sdk/blob/915adb77cc3763f88aca3da622961abd54f100f2/src/Task

[2019-01-28 20:54] nguerrera commented on #2875
I like this. Nice and simple :)

Do you have a scenario for controlling it at this level of granularity?

[2019-01-28 20:59] natemcmaster commented on #2875
The only scenario I could think of is for the AspNetCore repo. I want the repo to use the SDK as much as possible for targeting pack resolution, but I also want to make sure that projects in the repo with a `<FrameworkReference Include="Microsoft.AspNetCore.App" />` are resolved to a locally build version of the targeting pack, not some remote version. But for other frameworks, like WindowsDesktop

[2019-01-29 00:53] mairaw opened #2879 "Don't reuse the https://aka.ms/sdkimplicitrefs link to indicate version should not be indicated"
This comes from a discussion at https://github.com/dotnet/docs/issues/8691 and my proposal can be found at https://github.com/dotnet/docs/issues/8691#issuecomment-448343752

Customers are getting the following error:
NETSDK1071: A PackageReference to 'Microsoft.AspNetCore.All' specified a Version of 2.2.0-preview3-35497. Specifying the version of this package is not recommended. For more informati

[2019-01-29 01:54] dsplaisted opened #2880 ""salt" MSBuild handshake in test / dogfood environment"
Right now for our tests (and in the dogfood script) we override the MSBuildSDKsPath to point MSBuild to the SDK under test.  However, this doesn't seem to prevent sharing MSBuild nodes that didn't have this set, which can end up causing assembly loading or other issues.

Ideally in our test environment we would add a "salt" to the node connection handshake, so that MSBuild would only be able to co

[2019-01-29 15:43] rainersigwald commented on #2880
I'd be on board with adding the value of a `MSBUILDNODEHANDSHAKESALT` environment variable to the handshake. I don't think it's generally useful, but for internal development and especially tests that require multiple invocations and need node reuse to be enabled it'd be nice.

[2019-01-29 19:53] ocean-orrick opened #2882 "ProjectReference doesn't behave the same as PackageReference for contentFiles"
Hi, I have a library project which builds a Package with a config file which is placed in `contentFiles\any\any` with PackageCopyToOutput set to true. When installing this as a PackageReference, the config file is copied to the output directory of the consuming project as expected. However, when referencing it as a ProjectReference in a Tester app in the same solution, the config file is not copie

[2019-01-30 11:45] theimowski commented on #2818
Do you have any update? I'd also highly appreciate any kind of workaround

[2019-01-30 16:34] nguerrera commented on #2818
@KevinRansom I think this is a dupe of an F# bug. Can you comment?

[2019-01-30 17:56] DustinCampbell commented on #2682
@dsplaisted:

Nope. It doesn't it. The C# for VS Code experience is designed around working with the .NET Core SDK at the command line. There is a way that you can run a restore within C# for VS Code, but it's pretty basic.

[2019-01-30 18:01] ryantrem commented on #2790
Perhaps a generalization of the example I give above is just multi-platform development in general. For example, I may have some platform specific (say Windows, Android, and iOS) code, but still want to use netstandard2.0 for all platforms. For example, on Windows, I want to build against .netstandard2.0 _and_ the Windows Runtime, while for Android I want to build against .netstandard2.0 _and_ som

[2019-01-30 19:26] Thraka opened #10082 "[feature] Add the ability to dump all commands and parameters to a json file"
Regarding the CLI docs published here: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet?tabs=netcore21

One thing that will help us get docs published easily for CLI reference is if we can dump the whole list of commands, descriptions, option/mandatory status, parameters list, etc. This way we can easily diff between releases to see what has changed. It will also allow us to automate the

[2019-01-30 21:49] Bert-Proesmans commented on #1760
Closing because of old age

[2019-01-30 21:49] #1760 closed

[2019-01-31 14:07] nguerrera opened #2890 "GenerateBuildDependencyFile fails for Self-contained apps with duplicate FrameworkReferences"
_From @fuocor on January 30, 2019 17:2_

since upgrading the sdk to version 3.0.100-preview-010187 and then 3.0.100-preview-010189  the GenerateBuildDependencyFile build task is failing.

the build output is the following
[code]

# General

if I downgrade to 3.0.100-preview-010040 there is no error

_Copied from original issue: dotnet/core#2267_

[2019-01-31 14:07] nguerrera commented on #2890
_From @karelz on January 31, 2019 7:35_

@nguerrera @dsplaisted @livarcocc can you please help me route it?

[2019-01-31 14:11] nguerrera commented on #2890
@fuocor Thank you for reporting this issue. Can you provide an [MSBuild binary log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b) of the failure?

If not, can you provide complete steps to reproduce the problem?

[2019-01-31 14:38] fuocor commented on #2890
Here is the binlog....
[msbuild.zip](https://github.com/dotnet/sdk/files/2817642/msbuild.zip)

I need to give you access to my source tree to see it happen. Do you have a secure means of doing that?

[2019-01-31 16:58] ryantrem commented on #2882
It would be great if a ProjectReference to a project that generates a NuGet package basically became a PackageReference under the hood (e.g. the referenced project's NuGet package is built locally, and consumed as a package by the referencing project). This would take care of all the other NuGet behaviors, such as custom props/targets being packaged, and of course general content as well. It would

[2019-01-31 17:49] nguerrera commented on #2882
As I said, this would be extremely difficult to implement. There are all sorts of behaviors in the larger system that depend on project references not working that way. Literally implementing it by packing, and rerunning some kind of restore to generate appropriate assets file would be prohibitively expensive in terms of build perf. And a bunch of things in the IDE would break.

[2019-01-31 20:39] bricelam commented on #2867
Any update on this? We're trying to work on our C# 8 related features and could really use the latest version of the SDK...

[2019-01-31 20:39] bricelam commented on #2867
cc @ajcvickers

[2019-01-31 20:54] peterhuene commented on #2867
The fix has been merged into `dotnet/sdk`, so now the change just needs to make its way to `dotnet/core-sdk` for a SDK build to contain the fix.

[2019-01-31 21:05] peterhuene commented on #2867
There was a conflict in the toolset maestro PR which I've now resolved to help it along its way.

[2019-02-01 00:11] #2855 closed

[2019-02-03 21:46] LordMike opened #2902 "GenerateDepsFile: The process cannot access the file '...\MyProject.deps.json' because it is being used by another process."
UPDATE: I've produced a small reproduction example, see bottom

We've recently upgraded our builds to run on faster hardware with more cores, and are now almost 100% of the time seeing the below error in a number of projects. The error here is from Windows, but our CI servers run on linux and have the same error.

We run the following commandlines:

[code]

#### Observations:

* This fails on my l

[2019-02-03 21:59] LordMike commented on #2902
While trying to reproduce a failure on Windows with Procmon, I'm met with this. I've noticed sporadic errors like this before, but never enough of them to make an impression. Given the above, I think there might be _a lot_ of concurrency issues in msbuild/dotnet build ..

Other locking/access errors I've seen:

* A copy file to output directory (from library to referencing project) which is retrie

[2019-02-04 17:02] livarcocc opened #2905 "Microsoft.PackageDependencyResolution.targets failed when project has %20 in the name"
We have git repo with whitespace in name "Test repo". Once I cloned it in Windows 8.1 I got path "C:\somepath\Test%20repo". This path was generated by git clone command. When I open ASP.NET Core project under this path I can't see cs files at all. Once I change %20 to simple ' ' space it works. Not sure is this .NET Core or VS2017 or even git, but it once you have such path with %20 .net core proj

[2019-02-04 18:07] #2707 closed

[2019-02-05 00:00] pranavkm opened #2906 "Building a project with OutputType = Exe and implicit fx reference disabled causes build to fail."
## Repro steps

1. dotnet new console
2. Edit the project file to disable implicit fx reference and instead add an explicit reference to `Microsoft.NETCore.App`:

[code]
3. `dotnet build`

Build fails saying it was unable to copy the AssemblyName.exe file

Setting `<UseAppHost>false</UseAppHost>` in the project file fixes things.

*Background*:
The RazorSdk builds in a separate repo that's an arca

[2019-02-05 00:02] livarcocc commented on #2906
@peterhuene @dsplaisted

[2019-02-05 00:11] peterhuene commented on #2906
I think we should predicate the default apphost feature on whether or not implicit framework references are being used.  If not, you won't get an apphost.

Additionally, if we're building for a particular RID, we should pull the apphost from assets if implicit framework references are disabled.

[2019-02-05 01:18] dsplaisted commented on #2906
The explicit `PackageReference` to Microsoft.NETCore.App is not valid for .NET Core 3.0:

[code]

It may partially work right now, but I wouldn't expect it to continue to do so (eventually we probably won't be publishing the Microsoft.NETCore.App NuGet package at all.

If you do want an explicit reference, you need to do it via a `FrameworkReference`:

[code]

[2019-02-05 14:57] marius-stanescu commented on #2902
I have the same problem. Any solutions?

[2019-02-05 18:07] rainersigwald commented on #2902
The core problem here is that you're specifying a TargetFramework at the solution level. As you note, it works without that, while building all of the TargetFrameworks specified at the individual project level.

We hope to improve the experience around this -- at least providing an informative error, but maybe also doing something smarter. But at the moment, I'm not quite sure what that would be.

[2019-02-05 18:37] LordMike commented on #2902
For our current use case, we wanted to optimize our builds a bit, because we're targeting two frameworks to allow our developers to test the modules they're working (they have a small program.cs, and a shared library to actually run code -- only available to them when in netcoreapp2.x).

So our builds on the CI would be building for both coreapp and netstandard. Targeting just netstandard (since e

[2019-02-05 18:56] natemcmaster opened #2910 "Building a targeting and runtime pack locally"
In aspnet/AspNetCore, I'd like to build a large number of projects that fall into two groups

A) produces an assembly in the AspNetCore framework
B) references the AspNetCore framework

With the 3.0 Preview 2 SDK, I can get this working, but it feels hacky. Here's what I've done:

* Change the repo bootstrapping to install to `$repoRoot/.dotnet`
* Overridden NetCoreTargetingPackRoot  `<NetCoreTarg

[2019-02-05 19:32] dagood commented on #2910
/cc @dseefeld @crummel
(If we end up having to use the hacky-seeming way, I think it would be *ok* for source-build as long as the build command can specify `NetCoreTargetingPackRoot`. Then, source-build can assemble a fresh dir to use, and then not use it on subsequent repos to avoid impact. I assume the pack dir doesn't have to be inside the SDK dir.)

[2019-02-05 23:36] #2906 closed

[2019-02-06 00:37] dsplaisted commented on #2910
An alternative solution (which should work either today, or after https://github.com/dotnet/sdk/pull/2887 is merged) would be to run a target after the `ResolveFrameworkReferences` target.  It should remove `Microsoft.AspNetCore.App` from the packages to download (currently `PackageReference`, eventually probably `PackageDownload` once we get that feature from NuGet).  Then it can update the `Micr

[2019-02-06 15:04] vitek-karas opened #2912 "Self contained publish on linux includes .a files"
Using relatively new 3.0 SDK

[code]

In the publish directory there are 6 `.a` files which don't seem to have any purpose. Basically for every native library (`.so`) coming from CoreFx, there's a corresponding `.a` as well:
[code]
I don't think these files are needed for anything.
Per customer report this also reproes on MacOS, but I didn't verify.

[2019-02-06 16:53] livarcocc commented on #2912
@peterhuene can you take a look?

[2019-02-06 18:27] peterhuene commented on #2912
We should only be copying what's in the native assets directory, so if present it gets copied (hence why you get the .txt file too).  Did something change in what gets package into `Microsoft.NETCore.App`?

I'll investigate.

[2019-02-06 20:35] bricelam commented on #2867
Still seeing this in 3.0.100-preview-010234. Is it expected to be fixed in there?

[2019-02-06 21:26] peterhuene commented on #2867
Unfortunately it looks like `dotnet/core-setup` never took a newer toolset (6 days old still) and as a result the SDK does not yet contain the fix.

We're noticing build failures in multiple repos which I assume is arcade-related; perhaps it is preventing Maestro from updating the toolset dependency in `dotnet/core-setup`?

@livarcocc should we manually update the toolset to one that contains @wli

[2019-02-06 21:31] wli3 commented on #2867
let me babysit a build for now

[2019-02-07 02:15] peterhuene commented on #2912
I can reproduce this on the current shipping 2.2.103 SDK.

It appears `runtime.$RID.microsoft.netcore.app` (where $RID is not a Windows-based RID) does indeed contain the static library files in their native assets.  As a result, they get treated like native assets like any other files and copied for the publish.

I think this is a core-setup issue.  These files should not be packaged for `Microso

[2019-02-07 02:17] #2912 closed

[2019-02-07 02:17] peterhuene commented on #2912
Issue moved to [dotnet/core-setup #5105](https://github.com/dotnet/core-setup/issues/5105) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-07 03:01] dsplaisted opened #2914 "`dotnet store` does not work in 3.0"
The [runtime package store feature](https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store) was used for ASP.NET Core in .NET Core 2.0, but was replaced by a shared framework for ASP.NET Core in 2.1.

Using the `dotnet store` command, it's also possible to create your own runtime store.  However, this has been a bit of a bug farm in .NET Core 3.0 (with all of the framework compositio

[2019-02-07 08:41] theimowski commented on #2818
/cc @cartermp

[2019-02-07 15:41] tester962 opened #2916 "Port "Microsoft.WindowsDesktop.App" to ARM/ARM64 Windows"
Hi! I can't find the "Microsoft.WindowsDesktop.App" framework in ARM builds of the SDK.
Can this be added?

[2019-02-07 16:03] livarcocc commented on #2916
Closing as a duplicate of https://github.com/dotnet/core-sdk/issues/405.

[2019-02-07 16:03] #2916 closed

[2019-02-07 16:39] cartermp commented on #2818
I don't know about this specifically. @KevinRansom was doing related work a while ago but I don't know if it was this or not. Can't find anything on our repo.

[2019-02-07 17:44] livarcocc commented on #2818
Maybe we should move this issue to microsoft/visualfsharp?

[2019-02-08 03:10] onovotny commented on #2425
I was just bitten by this...packages updated to net472 and it broke me until I added the AssetTargetFallback.

Bump on getting this in for 3.0.

[2019-02-08 15:09] bitbonk opened #2921 "Forms dll not found when using Forms in a dependent DLL referenced by a project without Microsoft.NET.Sdk.WindowsDesktop"
We have some .NET Core applications that reference 3rd party assemblies (initially made for .NET Classic) that occasionally open a custom message box and therefore references Windows Forms.

Now that .NET Core 3.0 supports Windows Forms we can finally use those assemblies in .NET Core applications who themselves do not use Windows Forms at all.

However currently (SDK 3.0.100-preview-010184), the

[2019-02-08 17:33] livarcocc commented on #2921
I believe you need to add a FrameworkReference to Microsoft.WindowsDesktop.App, without it you are missing references like the one above. There is no way for us to transitively find dependencies of a reference assembly like that. You need to tell us which framework you want to use.

When you use the Microsoft.NET.Sdk.WindowsDesktop that is done implicitly for you.

Please try that out and let us k

[2019-02-08 17:34] livarcocc commented on #2921
Actually, I see now your repro setup. Yeah, flowing transitive FrameworkReferences is something that we are still working on. Something we will do for 3.0 RTM but is not available in any of the previews or nightlies yet.

My suggestion above should still work for you.

Other than that, @dsplaisted can you link to the issue we have tracking adding transitive framework references and close this one

[2019-02-08 17:35] livarcocc commented on #2921
Didn't mean to close it, I want @dsplaisted to close once he links to the other issue.

[2019-02-08 18:39] bitbonk commented on #2921
The problem with this is that `winformslib.dll` is actually a 3rd party dependency somewhere deep down in our dependency graph and we don‘t really know that it it depended on Windows Forms until at some point it tried to open a messagebox (which resulted in the above exception).

That assembly was built for .NET Classic where Windows Forms will *always* be present. So it just worked.

I was hoping

[2019-02-08 19:28] bitbonk commented on #2921
Also: I could be loading `winformslib.dll` dynamically via reflection. If we are on .NET Core 3 and on Windows, ideally it should just work.

[2019-02-08 21:14] dsplaisted commented on #2921
https://github.com/dotnet/cli/issues/10666 is the issue that Livar was referring to.

However, it doesn't cover the case when you are referencing a .NET Framework DLL or NuGet package that doesn't have a FrameworkReference to Microsoft.WindowsDesktop.App.

[2019-02-09 08:53] aodl opened #2926 "Attributing arbitrary identifiers/values to a project's package and project references"
Relates to [NuGet#7776](https://github.com/NuGet/Home/issues/7776)

Is there a facility available for assigning arbitrary attributes to the project and package references of a particular project, in a way that the information becomes available at runtime? i.e.
[code]
I'm aware that this customAttribute information couldn't be made available on the package reference **assemblies** as they will alre

[2019-02-09 17:51] livarcocc commented on #2926
I don't believe there are built-in ways for this now. You suggestion above sounds like what I would suggest though.

[2019-02-09 17:51] #2926 closed

[2019-02-10 22:01] nguerrera opened #2928 "Possible dead code handling null resolver, which doesn't appear to be possible"
We create a resolver here:

https://github.com/dotnet/sdk/blob/f0a1246be1ebe11a88097ac3dd5736f0ad15b855/src/Tasks/Microsoft.NET.Build.Tasks/GetPackageDirectory.cs#L30

Which doesn't look like it can return null:

https://github.com/dotnet/sdk/blob/f0a1246be1ebe11a88097ac3dd5736f0ad15b855/src/Tasks/Microsoft.NET.Build.Tasks/NuGetPackageResolver.cs#L71-L82

But we check for null here:

https://githu

[2019-02-11 00:30] wli3 commented on #2867
https://github.com/dotnet/core-sdk/pull/451 manual update here

[2019-02-12 01:50] dsplaisted commented on #2928
I think this is probably a dead check left over from a refactoring.  I think what happened is `GetPackageDirectory` used to take an assets file path instead of a list of PackageFolders, and the assets file might not exist for a design-time build.

[2019-02-12 02:40] dsplaisted opened #2933 "Get platform manifest and conflict resolution data from targeting packs or runtime packs if appropriate"
For .NET Core 2.x, the `Microsoft.NETCore.App` package includes a platform manifest .txt file as well as `PackageConflictOverrides` MSBuild items for conflict resolution.  For .NET Core 3.0, these should come from the targeting pack for framework dependent apps, and from the runtime pack for self-contained apps.

This means that both targeting packs and runtime packs need to include this data, and

[2019-02-12 04:46] peterhuene commented on #2813
@rainersigwald given the repro above in my comment that makes it appear the problem lies in how globs are handled in MSBuild, so I move the issue there?

[2019-02-12 17:21] nguerrera commented on #2928
Makes sense, can you review #2929 that fixes this, among other things.

[2019-02-12 19:40] wli3 commented on #2867
@bricelam @natemcmaster sorry for the long delay. I verified the latest core sdk build does not repro the bug.

[2019-02-12 19:40] #2867 closed

[2019-02-12 19:52] natemcmaster commented on #2867
Thanks for confirming the fix @wli3

[2019-02-12 20:08] dsplaisted commented on #2890
Fixed with #2887

[2019-02-12 20:08] #2890 closed

[2019-02-12 20:25] dsplaisted commented on #2792
@natemcmaster @davidfowl This is fixed in #2887.

You can set the `RuntimeFrameworkVersion` metadata on a `FrameworkReference` and it will apply to only that shared framework, or you can use the property and it will apply to all shared frameworks (that don't have the metadata on the `FrameworkReference`).

If neither of those are set, then you can set `TargetLatestRuntimePatch`, either as metadata

[2019-02-12 20:25] #2792 closed

[2019-02-12 20:28] dsplaisted commented on #2875
This is fixed with #2887.  You can set the `EnableTargetingPackDownload` to false to disable targeting pack download.

It doesn't support specifying this separately per `FrameworkReference`.  If you want to do that, I would suggest running a target after `ResolveFrameworkReferences` that modifies its output.

[2019-02-12 20:28] #2875 closed

[2019-02-12 20:42] natemcmaster commented on #2875
Thanks @dsplaisted !

[2019-02-12 22:30] natemcmaster commented on #2933
The platform manifest is meant to be used for trimming framework-dependent apps. I don't think runtime packs are the right place for this because those packs are mean for self-contained deployments and according to @nguerrera are deliberately not part of the offline experience. Also, I don't think the platform manifest should be necessary for self-contained -- isn't the idea that for self-containe

[2019-02-13 19:35] scovel commented on #1458
I used the target in this [comment](https://github.com/dotnet/sdk/issues/1458#issuecomment-420456386) and on my Mac Book it all worked great.  Moved the code to Docker and it didn't work.  The PDB files get there, but the xml files don't.  I'm a Swashbuckle user...

Here's the weird part, I ran this

[code]

When i look at the nuget packages, none of them have the xml files.  I downloaded my own n

[2019-02-13 19:37] nguerrera commented on #1458
In that case, I'd file a bug on https://github.com/nuget/home showing the repro steps where the xml isn't extracted.

[2019-02-13 23:19] nguerrera opened #2937 "Get package overrides from txt file in targeting pack instead of msbuild item"
https://github.com/aspnet/AspNetCore/pull/7555

The file format is very similar to the item.

Before: build\netcoreapp3.0\Microsoft.AspNetCore.App.props:
[code]

After: build\netcoreapp3.0\Microsoft.AspNetCore.App.PackageOverrides.txt:

[code]

The identity of the item follows from the package/file name, the metadata is the body of the txt file, where newlines delimit instead of `;` with whitespac

[2019-02-13 23:20] nguerrera commented on #2937
@dsplaisted @natemcmaster

[2019-02-13 23:35] nguerrera commented on #2937
cc @dagood @ericstj

There is also PackageConflictPreferredPackages that needs to be replaced. I think it can be converted to PackageConflictOverrides. It looks like the former predates the latter and is used by the base shared framework TP. However, since it doesn't specify versions, we have to crack files. The newer way gives a perf optimization.

I think we can do the following:

1. Microsoft.N

[2019-02-14 02:16] dsplaisted commented on #2937
We're now thinking of `data/PackageOverrides.txt` for the path to this file in the package.

[2019-02-14 18:35] rainersigwald commented on #2813
Great find! Moved to Microsoft/msbuild#4175, with an even smaller repro. I understand the fix, too.

[2019-02-14 18:36] #2813 closed

[2019-02-14 20:35] nguerrera opened #2940 "ResolveTargetingPackAssets crash in Dev16"
@DamianEdwards reports the stack below in error list with latest SDK, latest Dev16 and the following project created from template:

[code]

![image](https://user-images.githubusercontent.com/75470/52815895-b5621180-3054-11e9-9d0f-dd70c23d59b5.png)

cc @dsplaisted @natemcmaster

[2019-02-14 20:39] nguerrera commented on #2940
From the error, it looks like the targeting pack path may have resolved to empty and we went looking relative to project path. I suspect something about the design-time build case where there has been some trickiness.

This is consistent with the report that it worked from CLI.

[2019-02-14 20:41] nguerrera commented on #2940
CLI version: 3.0.100-preview4-010331

This could be missing RI from preview3 to preview4 as there has been significant change to these targets in preview3 and not sure if we've RIed them to preview4.

[2019-02-14 21:52] nguerrera commented on #2940
REpros with latest preview3. Now trying latest code in this repo. It goes away for me once restore succeeds. This is almost certainly a bug in the handling of the pre-restore design time build.

[2019-02-14 22:04] nguerrera commented on #2940
There's a race here, repro is consistent with:

* Close VS
* `dotnet nuget locals all --clear`
* Reopen VS
* Create new ASP.NET Core Web Application

[2019-02-14 23:31] nguerrera commented on #2940
This does not repro with latest bits of release/3.0.1xx of this repo. This hasn't made it to a core-sdk build yet. There was a subscription error that @mmitche is fixing in the 3.0 flow. And master is out of date with the changes that fixed it. We should have a preview3 build with the fix tomorrow.

@peterhuene is looking at automating preview3 -> master (preview4) so that should follow sooner or

[2019-02-15 07:12] pawarvikaskwd opened #2941 "project.assets.json not found. Run nuget package to restore"
I am trying to build MS Unit test project with .Net standard class library project on VSTS. Locally solution is working fine but when I am trying to build using VSTS it's failing. **project.assets.json' not found. Run a NuGet package restore to generate this file.** I am getting this error.

I am using Nuget Restore in VSTS build before building the application. Nuget restore step is succeeded, bu

[2019-02-15 14:20] scovel commented on #1458
Submitted the issue here:  https://github.com/NuGet/Home/issues/7805

[2019-02-15 16:19] tbolon commented on #1366
Is there any workaround for this problem ? I am using the new sdk project format, and I have a transitive dependency between my ProjectReferences (A => B => C). A references B with Private=true and B references C with Private=true.

Currently, when I build project A, I have A and C assemblies in my output folder.

I have two requirements:
* Still being able to generate my package using nuget pack

[2019-02-15 16:50] livarcocc commented on #2941
How are you building the project in your VSTS definition? What versions of the .NET Core SDK are you installing? What does your project look like?

[2019-02-15 18:45] danroth27 opened #2948 "Error when running Blazor app before running any other .NET Core 3.0 app: Unable to generate deps.json, it may have been already generated"
If you create a Blazor app after installing the .NET Core 3.0 Preview 2 SDK and you have a clean NuGet package cache you get an error when running the app: "Unable to generate deps.json, it may have been already generated".

Blazor apps rely on a `DotNetCliToolReference` to run, but they also target .NET Standard:

[code]

It appears that the problem is that the Microsoft.NetCore.App package doesn

[2019-02-15 18:45] danroth27 commented on #2948
@SteveSandersonMS

[2019-02-15 18:54] bricelam commented on #2867
Still seeing this on 3.0.100-preview3-010281

[2019-02-15 18:58] wli3 commented on #2867
The one I verified is 3.0.100-preview4-010309. Are you downloading from https://github.com/dotnet/core-sdk ?

[2019-02-15 21:37] livarcocc commented on #2948
@dsplaisted can you take a look?

[2019-02-15 22:39] bricelam commented on #2867
So it won’t be fixed for preview 3? Ok, we should be able to ship preview 3 using our current version of the SDK

[2019-02-15 22:42] nguerrera commented on #2867
It might be codeflow backed up in preview 3. Toolset hasn't gone in for a while. https://github.com/dotnet/core-sdk/pull/506

[2019-02-15 22:43] peterhuene commented on #2867
This was fixed in master, but doesn't appear to be in `release/3.0.1xx`.

[2019-02-16 00:30] #2928 closed

[2019-02-16 03:27] nguerrera commented on #2722
This was ultimately fixed for next 2.2 patch release. It was tracked by duplicate bug dotnet/cli#10602.

[2019-02-16 16:28] nguerrera opened #2953 "Assembly version stopped being bumped with every build in 2.1.300+"
MSBuild on desktop cannot load more than one version of our tasks unless we bump the assembly version. (MSBuild on coreclr can't either, but we have a 1:1 msbuild:sdk relationship on coreclr so it's moot. The current limitations on coreclr are even worse, can't load SxS in same load context regardless of version, but again moot here.)

If an MSBuild node is alive using a different build of the sam

[2019-02-16 16:30] nguerrera commented on #2953
Setting milestone optimistically to 2.1.5xx as I think that's the baseline of builds still being patched that have this problem. But we can discuss the bar and where we'd actually like to take the fix. We have to be careful as different infrastructure in different branches may require different fixes.

[2019-02-16 16:36] nguerrera commented on #2953
The chances of these errors vs. silently using older tasks are much higher in preview-to-preview build-to-build upgrades. Once we are servicing, we don't tend to make many changes to the task dll, and probably never make breaking changes to it.

[2019-02-17 08:18] baruchiro opened #2955 ""MSBuildExtensionsPath" in "Sdk.props" is empty"
https://github.com/dotnet/sdk/blob/2eb6c546931b5bcb92cd3128b93932a980553ea1/src/Tasks/Microsoft.NET.Build.Tasks/sdk/Sdk.props#L31

I create an object of [`Microsoft.Build.Evaluation.Project`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.evaluation.project?view=netframework-4.7.2&viewFallbackFrom=netcore-2.1) with existing `.csproj` file path.
When I compile it in `net471` everything

[2019-02-17 21:15] jasonds commented on #2948
Thank you for posting this @danroth27. This workaround temporarily solves it.

[2019-02-18 04:10] livarcocc commented on #2955
This issue was moved to Microsoft/msbuild#4184

[2019-02-18 04:10] #2955 closed

[2019-02-18 07:28] pawarvikaskwd commented on #2941
Hey, issue got fixed. I used  Nuget restore and Dot net build both to restore Nuget packages which helped me in creating project.assets.json file. Thanks for you time

[2019-02-18 07:28] #2941 closed

[2019-02-18 08:56] dsplaisted opened #2956 "Support publishing for a RuntimeIdentifier without building for that RuntimeIdentifier"
This is similar to #2839, but also involves using the "No Build" option on publish.

So you have a project with:

[code]

And you do:

[code]

After fixing #2839, the `--no-build` scenario is still failing.  It looks like this is because the RID-specific app-host isn't in the intermediate directory and it fails when trying to copy it to the publish directory.

[2019-02-18 10:28] ottwell commented on #2948
genius! worked for me as well

[2019-02-18 11:07] jamesjwallace commented on #2737
Had to the the above but also I additionally had to update deployment scripts as my output path had changed to reflect the new version. Best to do a search for all references of netcoreapp2.1

[2019-02-18 19:07] benaadams opened #2957 "Using Sdk and FrameworkReference outputs Framework twice"
.csproj
[code]
Outputs to runtime.json
[code]
Which then fails to run with `Invalid runtimeconfig.json`

It should only output the identical framework once
[code]
Or it should ignore (or only use) the last entry when it runs

[2019-02-19 01:00] livarcocc commented on #2957
@dsplaisted

[2019-02-19 03:38] dsplaisted commented on #2957
This was fixed with https://github.com/dotnet/sdk/pull/2887.

Let us know if that isn't the case.

Thanks!

[2019-02-19 03:38] #2957 closed

[2019-02-19 06:53] peterhuene commented on #2573
@tmat this has been fixed in `release/3.0.1xx` and will be in the next preview release.  Thanks!

[2019-02-19 06:53] #2573 closed

[2019-02-19 15:29] wbhyde commented on #2948
The workaround by @danroth27 worked for me (Thanks!).  I was running a new install of .Net Core 3.0, preview 3 that I downloaded just to try Blazor.  Looks like there needs to be a set of test cases to cover each type of project starting with a clean install each time.

[2019-02-19 19:39] dsplaisted opened #2962 "Remove UseRefTargetingPacks once SDK round-trips through core-sdk"
#2919 added a `UseRefTargetingPacks` flag to enable using the new .Ref targeting packs instead of the ones in the bundled versions file.  Once that PR has flowed into core-sdk, we should update the stage 0 in dotnet/sdk and remove the flag.

[2019-02-20 05:30] jimmylewis commented on #2940
I'm running into this too, with the released preview 2 bits.  Can you point me to a newer build that I can verify it's fixed in?

My failing scenario is during build on CI (VS2019 Preview 3 Build Tools SKU, .NET Core 3 Preview 2 SDK).

[2019-02-20 06:05] HenrikBach1 commented on #2902
Hi,

I've a case where there is no specifying of TargetFramework at the solution level where the `dotnet build` behaves similar in some cases where TargetFramework at the project level refers to `netstandard2.0`.

This behavior has just emerged without any notice in `dotnet core 2.0`. I've also tried to upgrade to `dotnet core 2.1`, but in vein.

In my case, there seems to be a race condition from

[2019-02-20 09:09] LordMike commented on #2902
Note that the spawned processes could be the Dotnet Build Server. You can try shutting them down by running `dotnet build-server shutdown`. If its that, they shouldn't be a problem (they're meant to speed up future builds). I have an anecdotal feeling that we're worse of for having the build server, but so far it's just that.

[2019-02-20 10:02] HenrikBach1 commented on #2902
Two out of three of them shut down with the `dotnet build-server shutdown` command:

[code]

[2019-02-20 12:09] LordMike commented on #2902
That does seem like one of the build processes from the parallel build (the `nodereuse` option). That, I have no good answer for.

[2019-02-20 18:25] stevenreddie opened #10129 "dotnet build fails if cwd contains a colon (macOS)"
It fails if the cwd contains a colon, or any of the parent directories contain a colon. Possibly it also fails if other referenced paths contain colons. I'm guessing that this is due to colons being illegal in file/directory names on Windows, but they are valid on macOS and Linux.

## Steps to reproduce
[code]

## Expected  behavior
Successful build

## Actual behavior
[code]

## Environment data

[2019-02-20 19:57] pipe01 commented on #2511
Any updates on this?

[2019-02-20 20:03] tmat opened #2966 "Global tool shims: Store package version in Win32 version resource"
**Issue**

Currently the tool shim embeds a relative path to the target .dll in a `.data` section that includes package version:

For example:
[code]

This design makes it very difficult to change the version number in a post-build step.
This approach is not compatible with some of our build tools and deterministic build tools that build artifacts without versions and stamp them with the version a

[2019-02-21 10:54] fredrikhr opened #10130 "Add `dotnet tool update --all` option"
## Request

When multiple tools are installed, either globally or locally, it becomes hard to keep track of which tools are outdated and which are not, and updating all outdated tools is time-consuming and boring copy-paste work, since the package id of each installed package needs to be provided to the `dotnet tool update` command.

I propose to add the `--all` (alias: `-a`) option to the `dotnet

[2019-02-21 19:16] dsplaisted commented on #2948
I took a look at this yesterday with @wli3, and we think this will be fixed when the targeting packs are bundled in the .NET Core SDK.  This will be in Preview 3 for Windows.

[2019-02-21 19:30] wli3 commented on #2948
I just checked. It stops reproducing

[2019-02-21 21:29] dsplaisted commented on #2940
@jimmylewis the latest daily build from the Release/3.0.1XX branch linked [here](https://github.com/dotnet/core-sdk) should have the fix.

However, we believe this specific bug was specific to Visual Studio.  So if you still see a failure with the latest build, I'd recommend opening a new issue.

[2019-02-21 22:37] #2839 closed

[2019-02-21 22:38] dsplaisted commented on #2735
This should be fixed

[2019-02-21 22:38] #2735 closed

[2019-02-22 00:05] Gladskih commented on #2254
My problem on .Net 4.6.2 looks the same. And the workaround does nothing.
I can build my project sometimes (randomly) on my local machine, but Tfs Build fails permanently.
The build've been broken when I updated Polly package to 7.0. version, which is implemented only as .Net Standard.

[2019-02-22 01:16] natemcmaster opened #2976 "All packages targeting netcoreapp3.0 have a 'Microsoft.NETCore.Platforms' dependency in nuspec"
https://github.com/dotnet/sdk/blob/0690b28e426f5b7e6dfe7ab4200b83ce3c96bc95/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.props#L81-L87

This should probably have been 'PrivateAssets=All'.

All aspnet 3.0 Preview 3 packages which target netcoreapp3.0 have this dependency in their nuspec. cc @Eilon @livarcocc

![image](https://user-images.githubusercontent.com/2696087/5

[2019-02-22 04:54] HenrikBach1 commented on #2902
Ok.

Problem solved by provisioning a new virtual machine.

[2019-02-22 07:45] jimmylewis commented on #2940
Thanks @dsplaisted.  I'm running into a different error now, so I'll open a new issue to track that.

[2019-02-22 07:57] jimmylewis opened #2977 "Installing 3.0 Preview 3 SDK broke build for 3.0 Preview 2 Razor Components app"
I created an app with the Preview 2 SDK (released bits).  Today I installed the latest available Preview 3 bits (https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/3.0.1xx/dotnet-sdk-latest-win-x64.exe) and now I get build errors for the Razor Components cshtml files.  I'm not sure if this is expected, since there have been a lot of changes in this area between Preview 2 and Preview 3.

In

[2019-02-22 10:53] #2940 closed

[2019-02-22 16:28] nguerrera commented on #2977
cc @rynowak

[2019-02-22 16:31] rynowak commented on #2977
This is expected for now.

We're still working on the compiler and there will be changes between releases. We don't expect the runtime from preview2 to be compatible with a nightly build of the SDK.

[2019-02-22 16:33] jimmylewis commented on #2977
@rynowak Is there a migration path for projects from P2 to P3?  Or should we just recreate the project?  It looks like the new template uses a single project now, and obviously has moved to .razor files for the components.

[2019-02-22 19:00] rynowak commented on #2977
I think the simplest thing to do would be recreate the project and then copy in your content. We'll have some instructions closer to release, but I can help until then.

[2019-02-22 21:29] eerhardt commented on #2682
@dsplaisted - @imback82 is having the same problem:

[2019-02-22 21:29] jimmylewis commented on #2977
Sounds good.  Closing this issue as it seems to be expected.

[2019-02-22 21:29] #2977 closed

[2019-02-22 23:50] johnbeisner commented on #2953
The 'FilesInUse' functionality of the SDK bundle installer seems to work as it should:
[code]
Example:
![filesinusedialog](https://user-images.githubusercontent.com/24683167/53277601-87ff0e80-36b9-11e9-8def-646d292776f2.PNG)

[2019-02-23 00:38] imback82 commented on #2682
I have project A (which produces EXE) that references project B (which also produces EXE). If I self-publish only the project B, it is fine. However, self-publishing project A results in NETSDK1061 which complains the mismatch in runtime version in project B.

I understand that it is werid to have EXE project to referece another EXE project, but the error message is not intuitive if this scenario

[2019-02-23 01:21] livarcocc commented on #2976
@dsplaisted to take a look.

[2019-02-23 01:35] YankdaCode opened #2981 "Error on implementing custom FileProvider - Cannot find compilation library location for package 'projectCLB'"
So, I am designing a very customized solution from scratch wherein I have asp.net mvc core app as the main web app. Then I create separate class libraries and update the SDK to Microsoft.NET.Sdk.Razor and use:
    `<PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.2.0" />`
This allows me to create MVC type class library, lets say "projectCLB" and then at startup I scan the folder tha

[2019-02-23 02:00] SergeyKhutornoy opened #2982 "donet publish always publishes web.Release.config"
When you run dotnet publish command for a Microsoft.NET.Sdk.Web project targeting **net462**, the tool always publishes web.*.config files (web.debug.config and web.release.config in addition to the transformed web.config).

Project file (.csproj):
[code]
## Steps to reproduce
1. Create web.config, web.Debug.config, web.Release.config files in the project root folder.
2. Run `dotnet publish /p:Con

[2019-02-24 18:29] livarcocc commented on #2981
This issue was moved to aspnet/AspNetCore#7904

[2019-02-24 18:29] #2981 closed

[2019-02-24 18:29] livarcocc commented on #2982
This issue was moved to aspnet/websdk#496

[2019-02-24 18:29] #2982 closed

[2019-02-25 02:30] #2976 closed

[2019-02-25 12:26] emz00 opened #10136 "Creating a self-contained executable with dotnet publish -r ignores umask and marks libraries as executable (chmod +x)"
## Steps to reproduce

[code]

## Expected  behavior
1. The libraries copied to the publish output directories are not executable (don't have the +x mode set). Only executable files (e.g. createdump and the project executable) have +x set.
2. File permissions follow the user's umask. E.g.

-rwxr-xr-x  1 root    root       82152 Jun 14  2018 createdump*
-rw-r--r--  1 root    root      221184 Mar  8

[2019-02-25 14:02] loop-evgeny opened #2989 "Error running self-contained Linux EXE: "This executable is not bound to a managed DLL to execute. The binding value is: 'c3ab8ff13720e8ad9047dd39466b3c8974e592c2fa383d4a3960714caef0c4f2'""
I created a new console application in VS 2017 using .NET Core 2.1. Published it as a self-contained linux-x64 app without any changes and tried to run it on an Ubuntu 18.04 VM. Got this error:

[code]

c3ab8ff13720e8ad9047dd39466b3c8974e592c2fa383d4a3960714caef0c4f2 is apparently the SHA256 hash of "foobar", so whatever the real problem is, this is a very weird error message, too!

LinuxTest.cspr

[2019-02-25 16:45] livarcocc commented on #2989
@peterhuene can you take a look when you have a chance?

[2019-02-25 20:00] peterhuene commented on #2989
Hi @loop-evgeny.  Thanks for reporting this to us.  It appears that a non-modified apphost executable got copied to your publish output somehow.  I'll investigate and report back with my findings.

[2019-02-25 20:30] peterhuene commented on #2989
@loop-evgeny I'm unable to reproduce this with SDK `2.1.504`.

Could you share with me your exact repro steps and the `dotnet --info` output?

The steps I took to reproduce:

1. Create a .NET Core Console application named `LinuxTest` in VS 2017.
2. Since I have a 2.2 SDK installed, I had to take the following steps to lock the SDK to 2.1:
    a. Closed the solution.
    b. Ran `dotnet new global

[2019-02-25 21:53] ericstj commented on #2254
@livarcocc @dsplaisted is this issue still pending or has a fix been made?

[2019-02-25 22:18] dsplaisted commented on #2254
@ericstj No, this hasn't been fixed.  I started [work on a fix](https://github.com/dotnet/sdk/compare/master...dsplaisted:2254-preserve-reference-metadata) last year but it was never finished.

[2019-02-26 00:20] peterhuene opened #10137 "Re-enable latest runtime for self-contained publish tests."
This issue is tracking the re-enabling of the tests in `test/EndToEnd/GivenSelfContainedAppsRollForward.cs`.

These are being disabled so that orchestrated servicing builds can bump these versions without having to order the builds so that they produce the unreleased shared frameworks for the previous versions and publish them to a place discoverable by the tests.

We need to figure out how to rep

[2019-02-26 12:26] loop-evgeny commented on #2989
OK, so the repro is a little more complicated! I actually have 2 Linux VM on my Windows host: a Linux Mint 19 one with the .NET Core SDK installed and an Ubuntu 18.04 one, without .NET Core installed. The Windows host also has .NET Core SDK installed. (dotnet --info for both attached.)

I initially tried to publish on the Mint VM, got an error, re-ran the same command and it appeared to work:

[co

[2019-02-26 16:35] peterhuene commented on #2989
Hi @loop-evgeny.  Thanks for the detailed information.

It looks like the `mmap` syscall failed when attempting to customize the apphost executable.

Do you know how `/media/sf_work` is mounted?  If I had to guess since you mentioned this being a VM, it's being mounted via a network share, probably automatically by your VM software.

From the [.NET Core Framework sources](https://github.com/dotnet

[2019-02-26 19:48] loop-evgeny commented on #2989
`/media/sf_work` is not mounted as a network share, it's using the VirtualBox guest driver to mount a filesystem of type `vboxsf` via `/etc/fstab`.

[2019-02-26 19:53] peterhuene commented on #2989
Looks like the [same root cause](https://www.virtualbox.org/ticket/819) though: `MAP_SHARED` is not supported.  However, it appears that someone is [working on adding support](https://github.com/jwrdegoede/vboxsf/commit/18eb623d8183ca1b081a8d7244ba2fc81e907af8), but I have no context as to what the status of this is getting into `vboxsf`.

[2019-02-26 19:58] peterhuene commented on #2989
@jwrdegoede out of curiosity regarding your work of supporting `MAP_SHARED` in `vboxsf`, is that something that has been or will be merged to upstream?

[2019-02-26 20:03] loop-evgeny commented on #2989
Seems like it would be safer to just use regular file access - as you say, there will be other filesystems that don't support memory-mapped files, even if vboxsf eventually does.

[2019-02-26 20:12] peterhuene commented on #2989
That will likely be my fix if I have to make one.  There aren't that many reads we have to do to search through the file to find what we're looking for, so any performance benefit of memory mapping the file is likely negligible, even if mapping the file does reduce the complexity of the search code since it can just treat it as linear memory.

[2019-02-26 21:03] jwrdegoede commented on #2989
I'm working on getting a cleaned up version of vboxsf into the mainline linux kernel and that version will have the commit you point to. This project has been on halt for a while, but I actually hope to resume work on it soonish.

[2019-02-26 21:05] peterhuene commented on #2989
@jwrdegoede thanks for following up to my random question!  I look forward to seeing it in mainline.

[2019-02-26 22:45] alierdogan70 commented on #2948
This worked for me. Thank you.

[2019-02-26 23:34] vijayrkn commented on #2867
@wli3 - Does the current preview3 version have this fix?
https://github.com/dotnet/core-sdk/blob/master/eng/Versions.props#L15
3.0.100-preview3.19123.1

[2019-02-26 23:34] vijayrkn commented on #2867
Scaffolding build is blocked because of this. If you can confirm the version, I will send a PR to update the KoreBuild to this version.

[2019-02-27 01:23] wli3 commented on #2867
I just checked 3.0.100-preview3-010373 is a good

[2019-02-27 01:36] vijayrkn commented on #2867
Thanks! I have updated the KoreBuild to use 3.0.100-preview4-010309. If we run into any other issues. I will lower it to the above preview3 version.

[2019-02-27 09:33] Lily721 opened #2992 "issues occurred when .Net core console project reference .net framework class library"
I got a .NET Core console project which use .NET Core 3.0 preview, and other class library with .NET Framework 4 Client Profile, and this framework class library got a reference from System.Security which using PermissionSet like following:

`using System.Security;`
`......................................`
`new PermissionSet(PermissionState.Unrestricted).Demand();`

When I add this class library t

[2019-02-27 09:35] #2992 closed

[2019-02-27 14:19] mjrousos commented on #2697
Regarding consequence #2 above, I've seen this cause functional differences when trying to load XAML as a resource. The resource path changes based on the link path of the XAML so previously working code can break without <Link>

[2019-02-27 14:53] nguerrera commented on #2989
Side note: the original code did readallbytes/search and replace/writeallbytes. Memory map was just the straight forward way to stop putting several hundred KB on LOH.

I argued to the original implementers of the feature that the apphost should come with a descriptor that says where the offset is, and we could just seek to it, but they felt this was too much trouble.

[2019-02-27 17:39] vatsan-madhavan commented on #2697
Is there documentation for `LinkBase` besides https://github.com/dotnet/sdk/pull/1246?

When `EnableDefaultItems=false`, does it imply `SetLinkMetadataAutomatically==false` ?

[2019-02-27 18:03] arivoir commented on #2948
The workaround worked for me too. Thanks

[2019-02-28 21:47] nguerrera opened #2996 "ReferenceManagerAssemblies is hidden from .NETCoreApp but not .NETStandard"
See https://github.com/dotnet/sdk/pull/2994#discussion_r261372831

Is this by design?

[2019-02-28 21:50] nguerrera commented on #1967
I am going to close this as it it fixed in 2.1.300+ and there's a workaround: set globalPackagesFolder in nuget.config for older versions.

[2019-02-28 21:50] nguerrera commented on #1967
Reopening as I remember now that the symptom will have changed in 2.1.300, but packages will still fail to resolve.

[2019-03-01 03:00] sayedihashimi opened #2998 "Unable to run global tools in PowerShell running on macOS"
I tried to execute a global tool from PowerShell running on macOS and the tool was not located. When I run `dotnet tool list --global` it does show up. When I exit out of PowerShell, and get back into a normal bash prompt, the global tool works fine.

macOS version = 10.14.2

![global-tool](https://user-images.githubusercontent.com/1283154/53613386-f3f2e280-3ba3-11e9-90de-4669536bc35e.jpg)

Here a

[2019-03-01 05:20] livarcocc commented on #2998
Can you check your path in powershell? It is possible that for some reason the PATH there is missing the shim location where the global tool exes are located.

cc @wli3

[2019-03-01 13:31] sayedihashimi commented on #2998
@livarcocc here is my path in PowerShell

[code]

[2019-03-01 22:29] Tam66662 commented on #1690
Having this same issue on a Xamarin UWP app. I  have a .NET Standard library that contains a json file that I've specified as build action "Content" and "Copy if newer" or "Copy always".  It never gets deployed!  Is there a workaround for this?

I'm using VS2017 Enterprise and running Windows 10 Version 1803.

[2019-03-01 22:30] JoeRobich opened #3001 "error NETSDK1085 during Roslyn builds with 3.0.100 preview 4 sdk"
When building Roslyn with 3.0.100-preview4-010381 installed, I get the following error on every solution build.

[code]

[2019-03-01 22:33] MartinZikmund commented on #1690
Workaround here would be to put the content file inside the UWP project or in a Shared Project which you will reference from your UWP project. Content files directly in the UWP app project will be deployed correctly. The problem here occurs only with content files in a separate library.

[2019-03-01 22:33] livarcocc commented on #3001
I believe this is by design: https://github.com/dotnet/sdk/commit/af4fc22af555a2cc647dc533436e764759ad827f

Seems like Roslyn might be doing the wrong thing here and was just getting lucky so far.

cc @peterhuene

[2019-03-01 22:44] Tam66662 commented on #1690
@MartinZikmund Oh boy, I really don't like that workaround.  All of my content files are related only to the .NET Standard library project, not the UWP project that references it.  I also use this .NET Standard project as a reference to a WPF project, and that setup works fine.  I guess I'll have to duplicate a "copy" of each content file now into my UWP project.

[2019-03-01 22:53] peterhuene commented on #3001
@JoeRobich can you email me a binlog?  I'm not sure what would be setting `NoBuild` to true.

[2019-03-01 23:00] JoeRobich commented on #3001
@peterhuene I'll send one shortly. thanks

[2019-03-01 23:10] MartinZikmund commented on #1690
Unfortunately it is the only workaround I have found so far...

[2019-03-01 23:11] peterhuene commented on #3001
It looks like it's coming from here:

https://github.com/dotnet/roslyn/blob/d7e493956ffcbf0e932097f6f3e1fa3fa1699087/src/Tools/ILAsm/IlAsmDeploy.csproj#L16

`NoBuild` is used for more than just packaging, it's also used for .NET Core SDK publishing targets.  The SDK is now respecting the intent of `NoBuild` by failing if the `Build` target gets triggers when set.  This helps to ensure what you're

[2019-03-01 23:18] peterhuene commented on #3001
From the NuGet docs, though, the example project file with `NoBuild` set is really just for use with `dotnet pack` as a simple way to pack based on a nuspec.  The intention is that you wouldn't build a project with `NoBuild` set.

So even if users are following this example, I don't think they are also trying to `dotnet build` these projects.

[2019-03-01 23:23] tmat commented on #3001
If you look at the project, it runs `Publish` on itself after `Build`:
https://github.com/dotnet/roslyn/blob/d7e493956ffcbf0e932097f6f3e1fa3fa1699087/src/Tools/ILAsm/IlAsmDeploy.csproj#L48

We don't want to build again in that case.

[2019-03-01 23:44] peterhuene commented on #3001
Could we limit the setting of `NoBuild` to where we invoke the `Publish` target?  That should workaround this issue.

[2019-03-01 23:58] tmat commented on #3001
Yes, that would work.

[2019-03-03 18:14] #2962 closed

[2019-03-04 13:09] SomeAnon42 opened #3004 "ResolvePackageAssets fails when targeting Core 3.0"
[code]

Steps to reproduce:
1. Create a new console netcoreapp3.0 project
2. Clone https://github.com/mellinoe/veldrid.git
3. Add a reference Veldrid.ImGui.csproj
[code]
4. Build the project.

The build should fail. However, there's no issues when targeting netcoreapp2.2 or when using [the NuGet package](https://www.nuget.org/packages/ImGui.NET) instead of referencing the project.

``dotnet --info

[2019-03-04 16:12] livarcocc commented on #3004
@dsplaisted can you take a look?

[2019-03-04 17:23] nguerrera commented on #3001
It's not going to build again unless you set global properties in the MSBuild invocation because MSBuild targets run at most once per (project + global properties). So I guess moving NoBuild to where the Publish is invoked is OK, but I don't think it will do anything useful for you if you always run Publish after Build in the same evaluation.

[2019-03-04 19:13] tmat commented on #3001
I see, so we can just remove `NoBuild`.

[2019-03-04 19:14] tmat commented on #3001
@JoeRobich Could you send a PR?

[2019-03-04 21:42] dsplaisted commented on #3004
The issue is related to the fact that `MicrosoftNETPlatformLibrary` is set to Microsoft.NETCore.App, which we don't reference any more.  In this repro, there is a transitive reference to version 1.0.5 of the package, and when it tries to walk those dependencies in the assets file, it can't find them listed.

The solution is probably that we shouldn't set `MicrosoftNETPlatformLibrary` at all when t

[2019-03-04 23:24] sbomer opened #3007 "Duplicate items in _ResolvedCopyLocalPublishAssets"
- When `ResolveCopyLocalAssets` runs during self-contained publish (`_UseBuildDependencyFile` is false), it outputs `_ResolvedCopyLocalPublishAssets`.
- When `_ComputeResolvedCopyLocalPublishAssets` runs, it adds to `_ResolvedCopyLocalPublishAssets` the contents of (`ReferenceCopyLocalPaths` \ `_ResolvedCopyLocalBuildAssets`):
https://github.com/dotnet/sdk/blob/c60af5f303fa67d25550ecfa54975caef0f5

[2019-03-05 14:19] springy76 commented on #2940
My solution builds fine on several PCs where VS2019-Preview4 or VS2019-RC is installed, but fails with that exact ResolveTargetingPackAssets error (and the non-existant project\ref\... path)  on the build server where only VS2019-BuildTools are installed. The netcore3-SDK everywhere has to same version.
What shall I change on the build server to get it working?

[2019-03-05 18:31] nguerrera opened #3009 "Trouble moving bin/ and obj/ to .bin/ and .obj/"
*Moved from https://github.com/dotnet/project-system/issues/1437#issuecomment-469568035*

@dzmitry-lahoda wrote:

Not sure if right thread - but some tooling is wrong...

See the line with `ProjectAssetsFile`? If I remove it - my `csproj` fails to build.
Why I ever need it? My task for to build from VS 2017 and VS Code and from `dotnet` command line into `.bin` and `.obj` because of Unity:(. So I

[2019-03-05 18:41] nguerrera commented on #3009
You need to set BaseIntermediateOutputPath before common props are imported as in the second example. This can be simplified to the following:

[code]

You can further simplify this back to the standard `<Project Sdk=...` syntax by moving the top-most property group to a Directory.Build.props file. This file can be placed in a directory above all of the projects that you want to build to .obj/.bin

[2019-03-05 18:50] nguerrera commented on #3009
Ah, I think I see the issue with your second example outside VS: it is relying on the Configuration property being set, which will not happen until the Sdk.props import if you `dotnet build `the csproj instead of a sln  that contains it. Likewise and likewise if your VS Code build is operation on the csproj and not a sln.

Can you try one of my two examples?  They use only BaseOutputPath and BaseI

[2019-03-05 23:22] sbomer opened #3010 "GenerateDepsFile no longer respects FilesToSkip from runtime packs"
- Runtime pack dependencies in deps.json and in the DependencyContext model have a "runtimepack." prefix prependend to the nuget package id (see https://github.com/dotnet/sdk/commit/16eddf3d635133c35f42974dcd491c8263066b37#diff-0723634e548f98293eebe3970b71e0ddR328).
- The heuristic in `GetPackageParts` gets the package id from the name of a nuspec in a parent directory:
 https://github.com/dotnet/

[2019-03-05 23:33] livarcocc commented on #3010
@dsplaisted

[2019-03-06 07:26] rschindhelm-haba commented on #1897
We've encountered this on our TFS 2018 CI builds when building a .NET Framework application which uses .NET Standard libraries, using the Visual Studio Build task (MSBuild).

Excerpt:
[code]

[2019-03-06 09:03] dzmitry-lahoda commented on #3009
My second case https://gitlab.com/dzmitry-lahoda/dotnet-sdk-custom-output-folder/tree/master/act1

Suggested fix without configuration https://gitlab.com/dzmitry-lahoda/dotnet-sdk-custom-output-folder/tree/master/act2 - no bin or obj created, but tests do not run

Will continue with directory props.

[2019-03-06 09:24] dzmitry-lahoda commented on #3009
Thanks for good issue handling.

I have tried various approaches in isolated manner https://gitlab.com/dzmitry-lahoda/dotnet-sdk-custom-output-folder/  .

As of now `Directory.Build.props` looks as most viable approach for our repository and I will try it soon.

[2019-03-06 10:04] dzmitry-lahoda commented on #3009
`Directory.Build.props` works on our whole product (Unity, VS Code, VS).
Not sure why bin and obj folders are generated by VS code, and why VS Code and VS are different in behaviour. But should it be some fix into VS code? Or some guideline... Or just close story (still can be searched) for.

[2019-03-06 16:06] JoeRobich commented on #3001
@peterhuene  We've removed `NoBuild` from the offending project and things build as expected again. Thanks for your help.

[2019-03-06 16:13] #3001 closed

[2019-03-06 16:34] nguerrera commented on #3009
The differences in behavior have to do with referencing `$(Configuration)` before Microsoft.NET.Sdk.props is imported. When you build a sln or from VS the $(Configuration) will always be set, when you build a csproj directly, it will get set in that import.

It is rare to reference Configuration before the props are imported, but that is what you had in your second example:

[code]

[2019-03-06 16:38] nguerrera commented on #3009
I'm going to go ahead and close this since there isn't a defect, but the guidelines are:

1. Do not set BaseIntermediateOutputPath after Sdk props import (or in the body of the csproj with `<Project Sdk=...>` (This is what your first example has wrong, there should have been a warning in the build about it.)
2. Do not reference Configuration before the Sdk props import` (This is what your second e

[2019-03-06 16:38] #3009 closed

[2019-03-06 19:34] sbomer commented on #3010
Another note:
- The runtime pack asset files get a `DestinationSubPath` that is just the filename: https://github.com/dotnet/sdk/pull/2822/files#diff-197903d15a36fe470248949977e07aa5R49.
- They are given to the DependencyModel with a `"./"` prefix in https://github.com/dotnet/sdk/pull/2822/files#diff-0723634e548f98293eebe3970b71e0ddR370 (this is the behavior of the latest preview).

Together this

[2019-03-06 21:23] bording commented on #1443
@nguerrera Coming up on a year since I last asked about this. Any chance of it getting fixed?

[2019-03-06 21:37] bording commented on #1479
Is there anything else that can be done here to get this prioritized in some way?

[2019-03-06 21:41] livarcocc commented on #1479
I am not sure this will bubble up for us at this point as we have quite a few things going on already for .NET Core 3.0, just being super transparent here.

@nguerrera @dsplaisted what would take on our side to fix? Just a thought exercise for now.

[2019-03-06 21:56] nguerrera commented on #1443
I think this was fixed. I recall @dsplaisted making changes around this.

[2019-03-06 21:58] livarcocc commented on #1443
Assigned to @dsplaisted to confirm if this has been addressed.

[2019-03-06 22:09] bording commented on #1443
I just tested my scenario described in #1469 (which was closed as a dupe of this issue) with VS 2019 RC1 and the 2.2.200 SDK, and the problem does not appear to be fixed.

[2019-03-06 22:22] bording commented on #1479
Understandable. Is this something you could potentially take as a contribution in the 3.0 timeframe?

[2019-03-06 22:26] livarcocc commented on #1479
Yes, absolutely. The only controversy on this bug is really regarding running globing in the outer-build and impacting design-time builds. I don't believe that's really something we would want to do.

[2019-03-06 22:45] nguerrera commented on #1443
It's possible we can close this, but need to reopen #1469. I specifically recall fixing something around aliases. Maybe it was something else.

[2019-03-06 22:57] ObsidianMinor opened #10147 ".NET website doesn't list .NET Core install scripts as download options"
There's two install scripts listed under `/scripts/obtain/`, and as someone that never browsed this repository often, I never knew they existed until someone showed me. I was surprised that these scripts, which are incredibly useful, are never mentioned on the website. It'd be nice if they were listed in some form or fashion so other developers can easily find them if they always use the main down

[2019-03-07 00:59] livarcocc commented on #1898
Pulling this into 3.0 so that we can remove our usage of SHA1.

[2019-03-07 03:36] jimmylewis commented on #2940
@springy76 Updating to Preview 3 fixed it for me.  I ran into an issue with Razor Components going from preview 2 to preview 3 (#2977).  After updating my project I didn't encounter any other issues.

[2019-03-07 08:05] springy76 commented on #2940
I installed Build Tools Preview4 and Build Tools RC, too: Both time the same problem.

Even tried a daily netcore SDK build, which suprised me with even new errors.

[2019-03-07 13:40] nguerrera commented on #2940
@springy76 We'll take a look, can you open two new bugs:

1. For the build tools + .NET Core Preview 3
2. For the new errors in .NET Core Preview 4 daily build

For the first one, can you gather a [Binary Log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b)? Make note of the fact that this will capture all environment variables (possibly with secrets in your build and project

[2019-03-07 16:51] springy76 commented on #2940
I didn't recognize that .NET Core Preview 3 is out now (since some hours).

The new error with that is now:
(_CopyOutOfDateSourceItemsToOutputDirectory target) ->  c:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets(4560,5): error MSB3030: Could not copy the file "PathToMyProject\obj\Release\netcoreapp3.0\MyProject.exe" because

[2019-03-07 22:15] nkolev92 opened #3011 "The SDK should error if a FrameworkReference is not supported for a certain TFM"
Came up during the design discussion for FrameworkReference + NuGet.
https://github.com/NuGet/Home/issues/7342

The SDK should error if a FrameworkReference is not supported for a certain TFM.

* In the project author case, clearly call out that this is an authoring mistake.
* In the transitive (project/package) case, clearly blame the package/project.

It's worth considering how we handle bad fra

[2019-03-08 01:05] nguerrera commented on #2940
@springy76 Please file a new bug with repro steps or [Binary Log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b)

[2019-03-08 02:00] peterhuene commented on #3007
The simple fix would be to just filter out `RuntimePackAsset` when adding items from `ReferenceCopyLocalPaths`.

Unfortunately it also seems that the runtime pack changes also introduced package references that are `publish=false` by default (i.e. the implicitly defined packages that are from the runtime packs which have their assets available in the `RuntimePackAsset` items).

As the set of packa

[2019-03-08 19:34] dsplaisted commented on #1443
This looks similar to #2254, which I [started working on](https://github.com/dsplaisted/sdk/tree/2254-preserve-reference-metadata) a while ago, but never finished

[2019-03-09 00:01] vlasenkoalexey commented on #1690
Following hack worked for me: https://stackoverflow.com/questions/3610845/add-as-link-for-folders-in-visual-studio-projects
Far from perfect, but better than manually copying files to UWP project.

[2019-03-09 07:19] saxenark opened #3014 "Installing JRE in microsoft/dotnet:sdk container"
Hi,

I need JRE to run dependencies for my .NET core sdk 2.2 unit tests in Visual Studio 2017. I would like to know how to install JRE into my windows docker container. Through the docker environment, I tried to run java.exe but it does not run.

So, my question is how do I install JRE on my container?

[code]

[2019-03-11 06:35] StingyJack commented on #2682
I'm getting this error when trying to use the MSBuild task on an Azure DevOps hosted 2017 build for a netcore unit test project testing a netstandard20 assembly.  I had to add a "dotnet restore" task before the MsBuild task to fix it. Forcing a latest version of nuget.exe or /t:Pack did not fix it.

[2019-03-11 15:36] livarcocc commented on #3014
This is not the right repo for this question.

I would maybe file this in a docker repo or maybe a java repo?

[2019-03-11 15:36] #3014 closed

[2019-03-11 20:51] dsplaisted commented on #3004
I looked at the places where `MicrosoftNETPlatformLibrary` is used in order to see what the impact would be if we don't set it for projects targeting .NET Core 3 or higher:

- It's used by the `GenerateDepsFile`, `GenerateRuntimeConfigurationFiles`, and `ResolveCopyLocalAssets` tasks.  These all simply pass it to `LockFileExtensions.CreateProjectContext`.  In that method, it's used as part of the

[2019-03-11 21:05] matteo-prosperi commented on #1791
+1

We are experiencing this problem as well. We would like to make the netstandard 2.0 version of our libraries the "preferred" version and suggest all customers to use them in place of the legacy platform specific versions that are available in the same nuget package. But customers using the PackageReference project format don't have a way to specify that they want to use the netstandard 2.0 ver

[2019-03-12 02:03] dsplaisted commented on #3010
@sbomer Do you have an example of a failure caused by this?  That would make it a lot easier to write a test case covering this.

[2019-03-12 03:50] humhei commented on #1458
Directly invoke from cli
`dotnet pack "/p:AllowedOutputExtensionsInPackageBuildOutputFolder=\".dll;.exe;.winmd;.json;.pri;.xml;.pdb\"" `

[2019-03-12 09:59] paulomorgado commented on #1458
Why not from PowerShell, @humhei?

[2019-03-12 10:03] humhei commented on #1458
Also from powerShell,
replace `\` to `\\`