[2018-07-20 17:17] wli3 commented on #2319
talked to Daniel, we need to verify, if there is no app.config, GenerateBindingRedirects might not create. So we should create app.config **before**  GenerateBindingRedirects

[2018-07-20 17:40] dsplaisted opened #2421 "Publish should not depend on RunResolvePackageDependencies"
Based on investigating https://github.com/dotnet/core-sdk/pull/34#pullrequestreview-139145867 and comparing to the [2.1.4xx code](https://github.com/dotnet/cli/blob/6f5d38734b15f78a96446717dcd54ba78bc9934f/src/redist/redist.csproj#L217), it looks like the `Publish` target depends on `RunResolvePackageDependencies`, which should not be necessary anymore (`ResolvePackageAssets` replaces it, and is f

[2018-07-20 17:56] dsplaisted opened #2422 "Remove workaround for dotnet/cli#9701"
Now that the bug is fixed, we should remove this workaround: https://github.com/dotnet/sdk/pull/2371/commits/66eea9d631aed24a97b74afc16edc3e29490507b

In this file: src/Tests/Microsoft.NET.Build.Tests/GivenThatWeWantToGenerateADepsFileForATool.cs

[2018-07-20 19:41] dsplaisted commented on #1199
This issue was moved to dotnet/project-system#3764

[2018-07-20 19:41] #1199 closed

[2018-07-20 23:49] terrajobst opened #2425 "Make .NET Framework fallback open-ended"
When a developer references a NuGet package that doesn't provide any assets for the current .NET platform, the SDK will fallback to try .NET Framework assets, provided the current .NET platform supports at least .NET Standard 2.0.

The [fallback works](https://github.com/dotnet/sdk/blob/581f5371dac022ad2b3e5bcdbb2e576bd73b5c4a/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.BeforeCom

[2018-07-21 00:11] nguerrera commented on #2425
Not strictly related, but 15.8 added P2P refs based on AssetTargetFallback, but failed to match the warning of package refs. While I've got interested people's attention: https://github.com/NuGet/Home/issues/713

[2018-07-21 00:14] nguerrera commented on #2425
Sorry, 7137

[2018-07-23 14:59] jeryanders commented on #901
I've encountered this issue today when I deploy to my Azure App Service. We're running Full Framework 4.7 and one of our libraries is responsible for rendering Razor views to string for export. It leverages `Microsoft.AspNetCore.Mvc.ViewFeatures`. The code for this is pretty standard:

`
        public async Task<string> RenderAsString(string viewName, object model)
        {
            var httpC

[2018-07-23 20:53] nguerrera commented on #2422
Duplicate of #2416

[2018-07-23 20:53] #2422 closed

[2018-07-23 22:06] svick opened #2428 "Confusing error message for circular project dependency"
I created a project with project reference to itself by accident. When I tried to build it, it produced a confusing error message. I think that error message should be improved.

Tor reproduce this, you can follow these steps.

[code]

I think that especially the mention of `_GenerateRestoreProjectPathWalk` should not be in the error message, since it doesn't help to the user in any way.

[2018-07-24 13:59] jarz opened #2429 "Passing MSBuild property causes build to fail due to private nuget repo"
I'm attempting to pass a `Version` property to my `dotnet build` command.

[code]

[2018-07-24 23:36] rrelyea commented on #2132
In the parallel NuGet issue (https://github.com/NuGet/Home/issues/7132) I ask if we know what has changed here in 2.1.400/15.8?

[2018-07-25 10:18] v-yuwzh opened #2430 "“TargetPath” is missing from runtimeconfig.json"
Apex call OutputGroups interface to get the built files collection by FileNames:
OutputGroups.Item(“built”). FileNames, this method return 2 filenames:
First file name is “”, second one is “***.dll”
Obviously, first item is not expect and verify is fail.
. We have a debug and get fileUrl By FileURLs:
OutputGroups.Item(“built”). FileURLs, then get url collection:
1)	file:///C:\school\ApexSolutions\

[2018-07-26 05:37] wli3 commented on #2319
I tested, if there is no app.config, BindingRedirects will still be generated

[2018-07-26 08:49] faniereynders opened #2432 "[Idea] Shorthand project reference by convention"
Given the following `ItemGroup` in a project file:
[code]
Just like package references are resolved by ID, it would be cool to introduce a shorthand for project references. Instead of referencing a project by path, reference it by name:
[code]
The example above will try to resolve `Foo.csproj` or `Foo.fsproj` etc. from folders within the solution scope. This will allow one to specify a project ref

[2018-07-26 11:57] bgever opened #9621 "`--prune` to uninstall all SDKs and runtimes except for the latest version"
This is a suggestion and feature request related to https://github.com/dotnet/docs/issues/4241#issuecomment-407408279.

## Problem

The number of installed SDKs and associated runtimes can grow over time as new releases (including patches) are installed on the machine, this costs disk space. Currently there is not an easy platform independent way to uninstall SDKs.

Developers often only need to t

[2018-07-26 15:52] ManniManfred commented on #1151
Hi, I'm looking for a way to also include the .props and the .targets file of the "transfered" project.
I tried the following
[code]

but without success. The import statement failed.

[2018-07-26 21:27] dsplaisted opened #2434 "[Question] Resolving runtime assemblies for .NET Core application"
_From @jp2masa on April 26, 2018 21:35_

## Scenario

I have a .NET Core application, and I need to get the full paths for all runtime assemblies. The application is self-contained, targets .NET Core 2.0 and the runtime identifier is win-x86. I need to get the runtime assemblies in an MSBuild target.

## What I've tried

1. Creating an MSBuild target which depends on `ResolveReferences;_ComputeNet

[2018-07-26 21:30] dsplaisted commented on #2434
@jp2masa `ResolvedAssembliesToPublish` seems reasonable.  But overall, what are you trying to do with them in an MSBuild target?

[2018-07-26 21:33] dsplaisted opened #9626 ""Could not copy" error when the project reference is shared"
_From @IgorXq on July 20, 2018 17:10_

# Issue Title

"Could not copy" error when the project reference is shared between several projects

# General

Suppose that two projects of  the solution share one reference.

 <ProjectReference Include="..\........src\SomeSharedLibrary.csproj"  />

The first project  (the service) is running in console window with **dotnet run** , the other app is the clien

[2018-07-26 21:45] jp2masa commented on #2434
I need to pass them to an AOT compiler.

[2018-07-27 15:39] zeroish commented on #1321
I was getting a similar error after updating my projects frameworks. I noticed in my publish profile file(Properties/PublishProfiles/*.pubxml) that the TargetFramework hadn't been updated to reflect the new framework. Changing manually in here or simply running through the configure option on my publish tab resolved the issue for me.

[2018-07-27 23:45] dsplaisted opened #2440 "Publish conflict resolution doesn't include .NET Standard facades"
Publish the following project

[code]

**EXPECTED**: System.IO.Compression from Microsoft.NET.Build.Extensions is published

**ACTUAL**: System.IO.Compression is also copied to the publish folder from the 4.3.0 NuGet package.

This is showing up as a double write when viewing a binlog in MSBuild Structured Log Viewer.

The issue seems to be that the files from ImplicitlyExpandNETStandardFacades ar

[2018-07-30 16:00] OliverRC opened #2442 "Cannot find compilation library location for package 'Microsoft.NETCore.App'"
## Context
Application is built on ASPNETCore 2.1
[code]
References a .NET Standard library which contains an Razor View
[code]
Application built and published with dotnet cli (no runtime specified)
[code]
Running in IIS using AspNetCoreModule

## Expected
Should be using the the razor view from the assembly to render the page.
This works 100% locally in my development environment with the full SD

[2018-07-30 17:08] TommasoScalici commented on #955
Me too, I'm experiencing the same behavior. Breakpoints are disabled while doing debug, and not triggered.

My Visual Studio info:

[2018-07-30 17:34] JunTaoLuo commented on #2442
cc @pranavkm ?

[2018-07-30 17:42] pranavkm commented on #2442
1) It's likely that you are publishing the app without reference assemblies. Try setting `<CopyRefAssembliesToPublishDirectory>false</CopyRefAssembliesToPublishDirectory>`  in your app's project file. https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1 has details about the setting

2) > References a .NET Standard library which contains an Razor View.

For 2.1 and late

[2018-07-31 00:05] nguerrera opened #2446 "Missing LatestPatchVersionForNetCore2_1"
Search for LatestPatchVersionForNetCore2_0, need to honor this for 2_1.

We should add a test for this too kind of like I did with the SupportedTargetFramework because it's another thing that breaks whenever there's a new TFM.

We should also thing about getting this logic out of dotnet/sdk in 3.0.

[2018-07-31 00:06] nguerrera commented on #2446
Also search for this bug URL in core-sdk and re-enable the test when this is fixed and has made its way to core-sdk.

[2018-07-31 10:27] TFTomSun commented on #1151
@ManniManfred
I'm quite sure that the Condition attribute is not supported in itemgroup meta data. As far as I know, the imports are processed first, before any properties or even itemgroups are evalulated. So i think it's technical not possible.

[2018-07-31 20:46] bcbeatty commented on #1458
Do these changes go in the project in NuGet or the project using the NuGet package?

[2018-07-31 20:47] nguerrera commented on #1458
The workaround goes in the project that is using the package. A good place to put it is in Directory.Build.targets so that your project files are not cluttered and so that you can apply it to multiple projects in a solution.

https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build

[2018-07-31 20:51] dsplaisted commented on #2419
Unfortunately this isn't the place to ask this question, and I'm not familiar enough with C++ in VS 2017 to help with this.

I'd suggest asking for help on the IDADOS or dosbox pages, or on http://stackoverflow.com.

[2018-07-31 20:51] #2419 closed

[2018-07-31 20:54] dsplaisted commented on #2428
This issue was moved to NuGet/Home#7162

[2018-07-31 20:54] #2428 closed

[2018-07-31 20:56] dsplaisted commented on #2364
This should be fixed in the 2.2.100 SDK with #2395

[2018-07-31 20:57] #2364 closed

[2018-07-31 20:59] dsplaisted commented on #2429
Does it fail in the same way when you don't specify the Version property?

[2018-07-31 21:02] dsplaisted commented on #2432
@dotnet/msbuild Thoughts on a shorthand for project references where you don't have to specify the full relative path?

[2018-07-31 21:14] nguerrera commented on #2161
I think this regressed again with a repo toolset update :(

[2018-07-31 21:18] #488 closed

[2018-07-31 21:50] bcbeatty commented on #1458
It's not working for me.
I have tried, Build, Debug and Release, and also Publish to a new directory. When I publish I get the DLLs but not the XML file from the source Nuget directory

[2018-07-31 21:51] nguerrera commented on #1458
Which workaround are you using. This one : https://github.com/dotnet/sdk/issues/1458#issuecomment-401497095 ?

[2018-07-31 21:52] nguerrera commented on #1458
What is you TargetFramework?

[2018-07-31 22:00] bcbeatty commented on #1458
netcoreapp2.1
VS 15.7.5

[2018-07-31 23:34] nguerrera commented on #2410
I don't think we should be targeting netstandard 2.0.0x preview versions by default ever. The logic probably needs to be similar to netcoreapp, where we're prepared to target netstandard2.1 previews by default, but not servicing previews of previous versions.

[2018-07-31 23:35] nguerrera commented on #2410
The missing package was later found to be on the dotnet-core myget feed but not the blob feed. cc @dagood Do you know why NETStandard.Library 2.1.0-preview1-25902-01 would not be on the blob feed.

[2018-07-31 23:36] nguerrera commented on #2410
cc @johnbeisner Who I think was going to follow up on the feed issue with this package.

[2018-08-01 03:59] TFTomSun commented on #1151
@dsplaisted
yeah, but properties that depends on item groups will evaluated later, right? i had this in mind, because we have the packagereference item group as a dependency here. So even if we would be able to transform them into one paths property it wouldn't still work, right?

@ManniManfred
there is maybe another solution. Let's assume all package references are defined in the csproj. It might

[2018-08-01 07:37] ManniManfred commented on #1151
hi, i found an other solution for that problem. I write all needed imports to a file and import that file.
[code]

[2018-08-01 07:50] TFTomSun commented on #1151
i can't imagine that this will work. The target will be executed after the imports have already been processed.

[2018-08-01 08:48] davkean commented on #2161
Ugh, how do we prevent this?

[2018-08-01 09:01] ManniManfred commented on #1151
I thought that too ...
I tested it by calling msbuild with deleted files (ref_projects.props, ref_projects.targets) and it works for the first run.
I tested it with Visual Studio and it also works with the first build. Visual Studio seems to call my target "WritePropImports" often and before i trigger the build. If i delete the files, visual studio create them right after that.

[2018-08-01 09:04] TFTomSun commented on #1151
cool maybe this is a change in the build engine. there are  many other use cases for that.

[2018-08-01 10:06] nguerrera commented on #2161
I'll

[2018-08-01 10:15] nguerrera commented on #2161
I'll add a test that AssemblyVersion == FileVersion and neither have a fourth part of 0. I think it will only ever fail in official builds due to how we go to 42.42.42.42 otherwise in repo toolset, but that's a lot better than nothing.

Interestingly, though, the reason I even checked was an issue on .net core msbuild and the conflict was between different minor versions. It appears that core migh

[2018-08-01 20:16] wli3 commented on #2319
@dsplaisted should I do the same thing for dll (full framework libraries)

![image](https://user-images.githubusercontent.com/6993335/43546290-1c732930-958d-11e8-822c-510a3e7fe98c.png)

[2018-08-01 20:24] nguerrera commented on #2332
This issue was moved to dotnet/roslyn#29014

[2018-08-01 20:24] #2332 closed

[2018-08-01 20:29] wli3 commented on #2319
if app.config is defined and if it is library then add supportedruntime. Sounds complicated. Maybe just do not generate it at all? full framework class library template won't have it

[2018-08-01 20:30] wli3 commented on #2319
just skip the target if $(OutputType) != "Exe"

[2018-08-01 20:37] KirillOsenkov commented on #2132
We now think that this is a MonoDevelop-specific issue: https://github.com/mono/monodevelop/issues/5556

Closing this one.

[2018-08-01 20:37] #2132 closed

[2018-08-01 21:14] nguerrera commented on #2319
Careful with OutputType != Exe, there is also WinExe. We have another property to use for this, looking for its name.

[2018-08-01 21:16] nguerrera commented on #2319
`$(HasRuntimeOutput)`

[2018-08-02 00:53] #2207 closed

[2018-08-02 13:50] jarz commented on #2429
A regular `dotnet build` works successfully.

[2018-08-02 19:50] nguerrera commented on #2432
This issue was moved to Microsoft/msbuild#3575

[2018-08-02 19:50] #2432 closed

[2018-08-02 22:17] bobuva opened #2451 "Multiple framework target and binding redirect problem"
Please let me know if this is not the right place for this type of issue.

### Description
* Multiple-targeted DLL for `net472` and `netstandard2.0`
* The .NET Framework version of the dll is put in the GAC. It has to be since it is called from code that I injected into other assemblies via the .NET Profiler API.
* After building (either in VS or msbuild command line), there is a `System.Interacti

[2018-08-03 01:39] 6pac commented on #1321
@zeroish updating 'Properties/PublishProfiles/*.pubxml' worked for me. I was having the issue on windows, without resharper, VS 2017 15.7.4

[2018-08-03 16:07] Miggleness commented on #335
What's the guidance for targeting net framework 4.5 and up on non-Windows platform?  Using targeting packs did work for me, but the targeting pack packages are still non-searchable in Nuget despite being around for 2-3 years.

[2018-08-03 16:57] livarcocc commented on #2451
Does this happen if you don't multi-target or if you use a non-sdk based project?

[2018-08-03 16:58] dasMulli commented on #335
Those packages aren’t really meant for public consumption. Personally I recommend using mono to build on *nix

[2018-08-03 17:02] bobuva commented on #2451
I was originally just targeting `netstandard2.0` and it was happening. I'm not sure what you mean by a `non-sdk based project`.

[2018-08-03 17:09] jskeet commented on #335
@dasMulli: That's really not a great solution in terms of having to install multiple things in CI servers etc. If I'm just building against reference assemblies, there's no logical need for a full-blown Mono installation as well as the .NET Core SDK.

https://github.com/dotnet/designs/pull/33 indicates the way forward, which I think will be much, much more pleasant.

[2018-08-03 17:12] livarcocc commented on #2451
I mean VS -> New Project -> Windows Projects -> Class Library.

Note that this project will not work with dotnet.exe, but it will tell us if this is something that we are doing for core or if there is something else wrong here.

[2018-08-03 17:15] nguerrera commented on #968
@sharwell observed that PrivateAssets="all" does actually work around the issue in many case.  So I took a deeper look, and it turns out that is a reasonable workaround for a common case where the analyzers come from a package with no other assets that you need to flow to consumers.

Consider the Project Caller -> Project Callee -> Package Analyzers

If Callee.csproj has:
[code]

Then Analyzers wi

[2018-08-03 17:20] bobuva commented on #2451
Ok, it may take a little time to move it all into such a project, but I'll give it a try.

[2018-08-03 17:23] dasMulli commented on #335
@jskeer: those packages are missing a few bits, I think someone here ran into it but not sure where it is logged. If the build worksusing the package then great, burning wouldn’t recommend it as a general purpose solution.
Only mono‘s msbuild has the ifdef‘d logic to process mono‘s ref assembly structure.
Yeah I’m the one who logged this issue so been active ever since in this topic ^^
Was happy w

[2018-08-03 17:29] livarcocc commented on #2451
I see. @nguerrera can you think of an easy way for us to analyze and help with what is going on here?

[2018-08-03 17:37] jskeet commented on #335
I'd go in the other direction - if Mono works for the moment, that's great, but I don't want that to be the long term solution :)

[2018-08-03 17:40] bobuva commented on #2451
I've just copied all of my source files over, installed nuget packages and added dependencies. It all built. Now I just need to modify my installer script a bit to pull this one in. I'll let you know how it goes when I run it.

[2018-08-03 17:58] bobuva commented on #2451
I got the same exception:
[code]
This is with a Windows Desktop -> Class Library project.

[2018-08-03 18:34] bobuva commented on #2451
Here's something interesting. As I said earlier, I add my assemblies to the GAC, and that includes adding `Grpc.Core.dll`. When I use ILSpy to inspect the `Grpc.Core` assembly that is in the GAC, and dbl-click on `References` and then on `System.Interactive.Async` it cannot find it! Here is the output in ILSpy:

[code]

Now, if I instead load the `Grpc.Core.dll` from my folder where I run my stuff

[2018-08-03 21:43] bobuva commented on #2451
@livarcocc @nguerrera I was wondering if you had any idea given what I posted above. There seems to have been others who ran into a problem with `Grpc.Core` and `System.Interactive.Async`:

* In [this](https://groups.google.com/forum/#!topic/grpc-io/hDkc8KXMZMQ) thread, the problem was resolved by providing assembly redirection instructions in the `AssemblyInfo.cs` for a VSIX package. But he was a

[2018-08-03 21:52] nguerrera commented on #2451
This looks like the usual .NET Framework issue of requiring binding redirects because there's a mix of assembly versions referenced (in this case System.Interactive.Async.

If you want this redirect to happen for any app on the machine, there are ways to do that documented here: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions

Namely, publisher policy an

[2018-08-03 22:09] bobuva commented on #2451
I've tried using binding redirect, as shown here for my framework dll:
[code]

In the most recent test, I added the `3.2.0.0` version of the `System.Interactive.Async` package to my dll. But even with that, `Grpc.Core` ignores it completely. Seems very odd that it doesn't work. Are you saying that 'yeah it might not work' and I should make the change in `machine.config`? That seems a little drasti

[2018-08-03 23:43] nguerrera commented on #2451
You can't add binding redirects with a config file for a dll. It will either be in the the app config, publisher policy, or machine config.

I agree machine.config drastic. On some level the requirements are drastic:  "the .NET app could be anything", "my profiler instruments the app". Another approach would be for your instrumentation to wire a handler to AppDomain.CurrentDomain.AssemblyResolve.

[2018-08-04 00:01] bobuva commented on #2451
Ok, thanks. I may look into the AssemblyResolve option you mentioned but I know that's a bear. Well, thanks for thinking about this. If I come up with something I'll post it.

[2018-08-04 00:36] tmat opened #2454 "Transitive project references missing aliases"
Repro: A set of projects that have P2P references like so:

D -> C
C -> A (with alias = A)
C -> B

A and B contain two copies of a class of the same name. C is ok since it only sees one definition unaliased. D ends up implicitly referencing A and B, but without any aliases. Hence D reports ambiguous reference when it tries to access the class.

Unzip [Aliases.zip](https://github.com/dotnet/sdk/fil

[2018-08-04 01:32] Miggleness commented on #335
My objective,and likely most cases of building on non-windows platform, would just like build to work. Not necessarily to deploy the assembly for .net framework. Good to see the first option is to go with reference targeting packs.

[2018-08-04 01:37] #2451 closed

[2018-08-05 18:37] MikaelUmaN opened #2455 "Dotnet tool install cannot handle space+unicode paths"
Please see original issue:

https://github.com/fsharp/FAKE/issues/2054#issuecomment-410527662

**To reproduce**

[code]

**Expected result**
Fake CLI tools are installed in the folder with path involving spaces and unicode characters (e.g. Ö).

**Actual result**
The error seen above.

[2018-08-06 09:45] Green7 commented on #2451
I have this same problem. AssemblyResolve works:

[code]

[2018-08-06 10:34] yyjdelete opened #2456 "`GenerateSerializationAssemblies`=on(Microsoft.Build.Tasks.SGen) is broken?"
### Reproduct step
1. `dotnet new classlib`
2. Edit the `.csproj`, add `<GenerateSerializationAssemblies>on</GenerateSerializationAssemblies>` to `PropertyGroup`
3. dotnet build
4. See build failed with error
[code]

Tested with dotnet sdk `2.1.301` and `2.1.400-preview-009171`(The one in VS15.8 preview5)
[code]

[2018-08-06 17:10] livarcocc commented on #2455
@MikaelUmaN which version of the SDK were you using?

@wli3 is this the bug we have fixed already?

[2018-08-06 17:12] wli3 commented on #2455
It should be fixed in 2.1302 https://github.com/dotnet/cli/commit/5218c4bcf52441075ca4d5b8fa7ed860c99ea454

[2018-08-06 17:52] rainersigwald commented on #2456
That's correct. At the time of the initial port to .NET Core there was no .NET Core `sgen.exe`.

As of now, it looks like the corefx-recommended solution is the package https://www.nuget.org/packages/Microsoft.XmlSerializer.Generator. See https://github.com/dotnet/core/blob/master/samples/xmlserializergenerator-instructions.md.

It'd be nice to get a better error when you try, so I filed https://g

[2018-08-06 17:54] #2456 closed

[2018-08-07 02:44] davkean opened #2459 "Can no longer use TargetFrameworkIdentifier/TargetFrameworkVersion to specify framework"
Build the following:

[code]

Expected: No error
Actual:

[code]

[2018-08-07 02:48] davkean opened #2460 ""https://aka.ms/sdkimplicititems" should point to updated location"
https://aka.ms/sdkimplicititems points to https://github.com/dotnet/core/blob/master/release-notes/1.0/sdk/1.0-rc3-default-compile-items.md when it really should point to https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#default-compilation-includes-in-net-core-projects.

The former doesn't talk about how to opt out of any of the default items except for Compile.

[2018-08-07 11:13] n-sidorov opened #9645 "Add ability to overwrite file permissions for dotnet commands"
Working with Perforce it sometimes annoying to have always be sure that solution or project file you working on is checked out (by default all files under Perforce Source Control are read-only until explicitly opened for edit).

It be great if `dotnet` commands like `sln add` had optional flag ('-f' ?) that overwrites file permissions, somewhat mimicking experience you have in IDE (VS and VS Code

[2018-08-07 17:44] nguerrera commented on #2459
This is the root cause of the regression:

[code]
This is bogus because we have specified TargetFrameworkIdentifier and TargetFrameworkVersion explicitly.

The subsequent crash happens only in design-time build and is https://github.com/dotnet/sdk/issues/2363

[2018-08-07 17:48] nguerrera commented on #2459
Ugh, there's more. restore only succeeds in Visual Studio:

[code]

[2018-08-07 18:10] nguerrera commented on #2459
OK, TargetFrameworkIdentif**i**er is misspelled as TargetFrameworkIdentifer in the repro. :trollface:

With the typo fixed, this works as expected. 😄

On the command line, the error message could maybe be refined, but it is correct -- you have and empty TargetFramework AND you did not in specify both TargetFrameworkIdentifier and TargetFrameworkVersion.

The crash when the TFM is invalid in Resolv

[2018-08-07 18:10] #2459 closed

[2018-08-07 18:43] nguerrera opened #2461 "Better diagnostics for misspelled `TargetFramework(Identifier|Version)?`"
See #2459 (but ignore the design-time build crash as that's #2363, focus on the deliberate error.

The current error message is:

[code]

This doesn't make it very easy to find that the error can be in the misspelling of TargetFrameworkIdentifier or TargetFrameworkVersion.

[2018-08-07 18:43] nguerrera commented on #2459
Filed #2461 to improve the error message.

[2018-08-07 18:53] mairaw commented on #2460
@davkean is one of the owners 😄 I'm not. Go to http://aka.ms to update it.

[2018-08-07 21:08] davkean commented on #2459
lol, thanks for chasing this down.

[2018-08-08 09:52] LordDraagonLive commented on #1395
Try replacing     `<LangVersion>Latest</LangVersion>` with `<LangVersion>7.1</LangVersion>`

[2018-08-08 14:19] bcbeatty commented on #1458
I upgraded VS to 15.7.6 I still don't get xml from nuget references when I publish

[2018-08-08 14:29] nguerrera commented on #1458
Ok, the difference is the netcoreapp TFM. CopyLocalLockFileAssemblies will be false there. Removing the condition on that should work, but then you'll get junk xml/pdb in your non publish output without the dll. I need to look at how to make this work for publish without causing that. I have an idea and will follow up today.

[2018-08-08 14:54] kirschem opened #2463 "dot net publish does not generate runtimeconfig.json"
Hello,

I've been trying to publish a .net core 2.0 app targetting net461 to iis and I can't get it working.
When I run the app in Visual Studio with IIS-Express it works flawlessly
I've installed the latest .net core runtime on the Server running iis. I've restarted iis Services.
When I publish the app, it won't generate a runtimeconfig.json. So I get the following error when trying to browse the

[2018-08-08 15:26] bcbeatty commented on #1458
I removed CopyLocalLockFileAssemblies=true and nothing changed on a build or publish.
I have  <Target Name="_ResolveCopyLocalNuGetPackagePdbs"   AfterTargets="ResolveReferences">...
in a Directory.Build.props file in the same directory as the solution file

[2018-08-08 16:09] nguerrera commented on #1458
Ok, give me a chance to play with this later today. Note that this issue was about .net framework projects, and we're in to different (but related) territory.

[2018-08-09 01:17] nguerrera commented on #1458
I looked at this and I understand the issue, but I'm not ready to share a workaround just yet. Hopefully I will have something for you tomorrow.

[2018-08-09 02:18] #2319 closed

[2018-08-09 19:19] mrlife opened #9649 ""dotnet" commands have permission issues"
## Steps to reproduce
run `dotnet clean`, `dotnet restore`, `dotnet build`, or `dotnet publish`

## Expected  behavior
The command should complete without error

## Actual behavior
Here is the error:

## Environment data
`dotnet --info` output:

[2018-08-10 00:16] richlander opened #9650 "Offer noun-first commands for existing verbs where noun isn't obvious"
Here is a sample (the first bit help) of CLI commands:

[code]

- `build`, `build-server` and `clean` are obvious (to me) in terms of what they operate on
- `add` and `list` are not obvious what they operate on.
- `help` is a different case.

Please take a look at the rest of CLI commands to see where we should  add noun-first commands to improve clarity/usability and align with the more recent no

[2018-08-10 06:47] kirschem commented on #2463
I solved this by changing platform target from AnyCPU to x84/x64. Seems like AnyCPU compiles, however it can't be run.

[2018-08-10 06:47] #2463 closed

[2018-08-10 11:07] vitek-karas opened #2464 "Add support to mark apphost.exe as Windows GUI"
Building a self-contained Windows UI app with .NET Core results in an apphost.exe which is still marked as CUI (Console) and thus running the app will open console window and then open the actual UI window of the app. The console window normally remains open for the livetime of the app.

Add the ability to modify the apphost.exe to mark it as subsystem GUI on Windows. This means that such .exe sta

[2018-08-10 18:27] natemcmaster opened #2466 "EmbedAppNameInHost fails when calling build twice"
Discovered by @mikeharder

Incremental publish of a standalone app is broken:
[code]

Using CLI 2.2.100-preview1-009345

https://github.com/dotnet/versions/tree/3ee198e1a7b514914e0f016777b520907f54acf8/build-info/dotnet/product/cli/release/2.2

[2018-08-10 18:44] wli3 commented on #2466
Introduced by this https://github.com/dotnet/sdk/pull/2239

AppHost.Create will not skip when file exists. However, old the call site is not changed to encounter that

[2018-08-10 20:17] joperezr commented on #2425
[Copying comment I made on the original issue]

Joining a bit late this conversation, but wouldn't it be best if we first try net461 in case there is one? For example, there is a package with a net47 and a net461 implementation. Previously we would have used the net461 one, but if we make that change I believe we will now grab the net47 one, when we know that the net461 is more likely to be compat

[2018-08-10 20:39] nguerrera commented on #2425
@joperezr That is a very interesting point! It could turn this into a breaking change when different assets are resolved. The whole episode of retroactively making things compatible with netstandard 1.5+, and thereby changing assets resolved with an sdk upgrade, still gives me nightmares...

I believe we can make the default `net461;net50` to make in non-breaking, but that would still prefer net48

[2018-08-10 21:01] ericstj commented on #2425
That's what I was getting at with this comment: https://github.com/dotnet/standard/issues/724#issuecomment-406638425.  IMHO one of the goals of this issue is to make the compat mapping easier to understand.  Having a tiered fallback feels more complicated.  Having an inverse fallback also feels wrong as it is counter to all other nuget behavior.

The retroactive netstandard compatibility break was

[2018-08-10 21:12] #2466 closed

[2018-08-10 21:17] nguerrera commented on #2425
We need to be much more careful about saying "you can tweak your project to get unbroken" IMHO. There are times when it's the right call, but I see us defaulting to it too often.

We can't make things easier to understand when we change the nuget graph of your app from one sdk version to another because that change is very hard to understand. This is not like adding a warning, which is at least in

[2018-08-10 22:30] nguerrera opened #9655 "Add more logging to msbuild sdk resolver"
- [ ] Adapt error messages to global.json / non-global.json cases
  - [ ] Log dotnet.exe path
  - [ ] Log global.json path
  - [ ] Log hostfxr calls, results, error codes
  - [ ] Log fallback
  - [ ] Log any and all environment overrides
  - [ ] Log VS settings path and all reads of VS settings file
  - [ ] Check that there is no perf degradation from this low importance logging in case where verb

[2018-08-10 22:45] nguerrera opened #2468 "Preview message should not have a code."
We were trying to shorten this and adding a code to the error message causes msbuild to list the file. (And, btw, RuntimeIdentifierInference.targets is a weird place for this logging.)

We will need to tweak the tests to allow this to not have a code as I added enforcement that all messages have codes, but I think this one needs to be a special case.

### Expected
[code]

### Actual
[code]

[2018-08-10 22:46] nguerrera commented on #2468
(The actual message is shorter in 2.2, but not relevant to the problem)

[2018-08-10 22:52] terrajobst commented on #2425
@joperezr

That's a very good point and I'm glad you pointed this out. As @nguerrera said:

👍 😱

@nguerrera

Couldn't we just do this:

[code]

I understand that this is less ideal than implementing the actual logic, but given how often .NET Framework ships, this might be a good compromise.

Thoughts?

[2018-08-10 22:59] joperezr commented on #2425
I know that this would make the logic more complex which goes against what @ericstj would want (from what I read on this thread) but seems like setting it to that value would at least give us the behavior that we want.

[2018-08-10 23:10] nguerrera commented on #2425
I think that is a little ugly, but actually totally addresses the concern, so 👍

[2018-08-11 11:51] matthid commented on #2455
@wli3 I guess you mean 2.1.302. Doesn't look like it is. Just to be sure I uninstalled all other SDKs via programs and features:

[code]

[2018-08-13 18:13] wli3 commented on #2455
I am so sorry, though the commit count is higher, dotnet sdk 2.1.302 release does not have this change. The code change is in latest 2.1.3xx branch and all the other branches. And I cannot repo it in current 2.1.4xx "merge build". It should be available for the next 2.1.3xx build.

[2018-08-13 18:13] #2455 closed

[2018-08-14 09:33] vitek-karas commented on #2464
Related to dotnet/core-setup#196 - but this only would work for apps published with their own exe (not for the shared host).

[2018-08-14 17:34] jinujoseph opened #2472 "need an option for output referenced assembly files to destination directory when build or publish a .netstandard project"
_From @jinujoseph on August 14, 2018 16:42_

_From @chenyj796 on August 9, 2018 1:20_

**Version Used**:
Visual Studio 2017 15.7.4
**Steps to Reproduce**:

1. Create a .Net Standard project
2. Add Some NuGet package, such as Newtonsoft.Json
3. Publish the project, and will generate only a .nupkg file

**Expected Behavior**:
Output all referenced assembly files like .net core project, and a .nupkg

[2018-08-14 17:34] jinujoseph commented on #2472
_From @sharwell on August 14, 2018 16:37_

@jinujoseph Can you move this to SDK?

[2018-08-14 20:29] jeffkl commented on #380
In MSBuild 16.0, this won't be necessary any more.

Microsoft/msbuild#3605

Will the latest .NET Core SDK have to work with older versions of MSBuild?  If not, I can send a PR to remove all the places where MSBuildAllProjects is set to reduce memory use during evaluation.

[2018-08-14 21:30] wli3 opened #2473 "Remove overwriteExisting flag on Apphost.Create"
Per https://github.com/dotnet/sdk/pull/2467#issuecomment-413014603

[2018-08-14 21:30] wli3 commented on #2473
cc @nguerrera

[2018-08-14 22:08] KirillOsenkov opened #2474 "NuGet reference to System.IO.Compression is added and causes a conflict"
\\kirillo7\public\Bugs\sdk2474
1.binlog - failure case
2.binlog - success case

Open both binlogs, go to this location:
![image](https://user-images.githubusercontent.com/679326/44121250-1dae803c-9fd4-11e8-9c48-ded94ab563d5.png)

We see conflicts for System.IO.Compression in the failure case, which is not present in the success case.

Failure conflicts:
[code]

Success conflicts:
[code]

We see th

[2018-08-14 22:19] KirillOsenkov commented on #2474
We will need to diff these two files:

Todd’s machine:
E:\dd\WTE\Main\obj\dev16\Microsoft.VisualStudio.JSON.Package\project.assets.json

Alex’s machine:
E:\WTE\obj\dev16\Microsoft.VisualStudio.JSON.Package\project.assets.json

On Todd’s machine, there’s an extra reference to

C:\Users\toddgrun\.nuget\packages\system.io.compression\4.3.0\ref\net46\System.IO.Compression.dll
    NuGetIsFrameworkRefer

[2018-08-14 22:30] livarcocc commented on #2472
@chenyj796 it is not clear to me what you are asking for here.

Running `dotnet publish` on a class library will actually publish its dll and its dependencies.

If you run `dotnet pack`, then a nupkg for the library will be produced and this nupkg will contain only the library's dll by default. And it will contain references to its dependencies in its nuspec. This is all expected.

[2018-08-14 22:30] #2472 closed

[2018-08-14 23:30] nguerrera commented on #2474
cc @dsplaisted

[2018-08-15 00:44] Tadimsky commented on #2204
@dsplaisted Is the recommended workaround for now (until 2.2 is ready to install on our CI machines) to do the set it as PrivateAssets?

[2018-08-15 06:44] damageboy opened #2475 "ProjectReferences that are executables don't get an apphost on SCD publish"
When I publish/SCD project `A` that has a dependency on project `B` (both projects being netcoreapp2.1 executables / console applications), I get a pair of `A.dll, A.exe` (assembly + apphost), but unfortunately, while I do get a published `B.dll` and I could issue `dotnet B.dll` to run it, I don't get a `B.exe` apphost published alongside it.

I've written, for my own hacky purposes, a python scri

[2018-08-15 12:41] yaklimenko opened #2478 "Cannot publish xunit project on dotnet sdk ver > 2.1.300"
complete steps to reproduce:

`
dotnet new razor -o Example
dotnet new xunit -o Example.Test
dotnet add .\Example.Test\Example.Test.csproj reference .\Example\Example.csproj
dotnet publish -r centos.7-x64 .\Example.Test\Example.Test.csproj
`

[2018-08-15 16:31] KirillOsenkov commented on #2474
Closing as it doesn't repro after clearing the NuGet cache. @ToddGrun is reporting that after clearing the NuGet cache and restoring again the file size in System.IO.Compression.dll folder changed from 111,984 to 111,992.

[2018-08-15 16:31] #2474 closed

[2018-08-15 18:50] Tadimsky commented on #2204
Looks like it doesn't work to set `PrivateAssets="All"`:
[code]

Any ideas?

[2018-08-16 11:29] drauch commented on #1488
If someone else runs into this problem...we ran into it after updating VS to 15.8.

Updating Microsoft.AspNetCore to >= 1.1.7 and Microsoft.AspNetCore.Mvc to >= 1.1.8 fixed the problem on our side.

[2018-08-16 17:30] jamesmontemagno commented on #2337
Can confirm the workaround works.

[2018-08-17 00:27] dsplaisted commented on #2460
I've updated the target, and added @mairaw and a few others as additional owners to the link.

[2018-08-17 00:27] #2460 closed

[2018-08-17 00:28] dsplaisted opened #2479 "15.8 update breaks system.net.http"
Reported via https://developercommunity.visualstudio.com/content/problem/311090/158-update-breaks-systemnethttp.html

[2018-08-17 00:39] dsplaisted commented on #2479
For those experiencing this issue, I need some additional information to help me investigate it.

The easiest way to do this would be to create an [MSBuild binary log](https://github.com/Microsoft/msbuild/blob/master/documentation/wiki/Binary-Log.md) of the build by passing the `/bl` parameter to `msbuild`, and share the resulting `msbuild.binlog` file.  However, be aware that this file will inclu

[2018-08-17 00:44] dsplaisted commented on #2479
@joperezr @AlexGhiondea @ericstj FYI it looks like there may be an issue with the conflict resolution fix (#2250) in 15.8.

[2018-08-17 08:58] wburgers opened #2481 "version 2.1.400 breaks web.config"
the latest version of the sdk breaks our web.config.

this is our template:
[code]

version 2.1.302 of the sdk creates the following web.config, which is correct:
[code]

version 2.1.400 creates the following web.config, which IIS does not like very much for obvious reasons:
[code]

[2018-08-17 14:01] DoomMatter commented on #1395
same issue happened to me but after i added a class and deleted it (it was working perfect before the class)

[2018-08-17 16:25] livarcocc commented on #2481
@vijayrkn can you take a look at this one as well? should I move it to websdk?

[2018-08-17 16:32] leecow opened #9672 "Support .NET Core SDK Portable Mode"
@jamiewest commented on [Fri Aug 17 2018](https://github.com/dotnet/core/issues/1868)

I would like to be able to use the .NET Core SDK from a USB drive, this is already somewhat possible but there are still default folders created on the host system (.nuget, .dotnet, .templateengine, etc.). There is already some issues around this:

[7569 - Request, able to config the location of ~/.dotnet and ~/

[2018-08-17 18:06] dagood opened #9673 "Remove --disable-parallel from CLI restore tests"
https://github.com/NuGet/Home/issues/6742 and perhaps a http sockets issue make the CLI official builds flaky, so to work around it, `--disable-parallel` was added to `dotnet restore`s run during the CLI build/tests:

* https://github.com/dotnet/cli/pull/4516 "Use --disable-parallel during xplat restores"
* https://github.com/dotnet/cli/pull/9854 "[release/2.2.1xx] Add --disable-parallel to dotnet

[2018-08-19 10:02] michael-freidgeim-webjet commented on #1967
I've started to have the error after upgrading Microsoft Visual Studio Enterprise 2017 to Version 15.8.1 on my local machine . The solution consists of 6 projects, the 3 MSTest projects all have the same :

[2018-08-20 08:55] chenyj796 commented on #2472
I am writing a .netstandard class library which will used in powershell or pwsh (with import-module cmdlet).
I hope visual studio will copy all referenced assembly files to the $(outdir), so I can I upload
the whole directory to servers and execute them in .ps1 scripts.

[2018-08-20 17:31] livarcocc commented on #2472
In .net core, outdir is the build output, which contains a limited set of assemblies, given that we run against the nuget cache, during build/run time. Like I suggested above, I recommend using `dotnet publish`.

[2018-08-20 21:49] bednart commented on #2479
Hi,
I updated VS 2017 to 15.8.1 and our project stop building on system.net.http error. I was able to delete all unnecessary code from our project and error is still there. Here is our solution [Src_2479.zip](https://github.com/dotnet/sdk/files/2303997/Src_2479.zip).

Steps:

- Open Gaia.Frontend.sln
- Rebuild Gaia.Frontend solution (Sometimes needs more than one Rebuild to see System.Net.Http err

[2018-08-20 21:49] pakrym opened #2482 "UseAppHost fails when publishing exe-exe P2P reference"
Repro:

### lib2/lib2.csproj
[code]

### lib1/lib1.csproj
[code]

`dotnet publish /p:UseAppHost=true /p:RuntimeIdentifier=win7-x64` in `lib1` directory.

### Expected:

Publish succedes

### Actual:

`C:\Users\pakrymet\.dotnet\x64\sdk\2.1.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.RuntimeIdentifierInference.targets(119,5): error NETSDK1066: A RuntimeIdentifier must be specified to publish a

[2018-08-20 21:51] joperezr commented on #2479
Taking a look...

[2018-08-20 22:09] tmat commented on #1159
@agocke Can we close this?

[2018-08-20 23:09] pakrym opened #2484 "UseAppHost from command line publishes standalone"
### Repro

1. `dotnet new console`
2. `dotnet publish /p:UseAppHost=true /p:RuntimeIdentifier=win7-x64`

### Expected:

Portable publish with additional `.exe`

### Actual:

Standalone publish:

[code]

### Workaround:

Pass `/p:SelfContained=false` into publish commandline.

[2018-08-20 23:21] pakrym opened #2485 "UseAppHost build puts hostfxr.dll and hostpolicy.dll into build output"
1. `dotnet new console`
2. `dotnet build /p:UseAppHost=true /p:RuntimeIdentifier=win7-x64`

### Expected

Build directory with app.exe, app.dll, app.*.json files

### Actual

[code]

[2018-08-21 01:48] agocke commented on #1159
Yeah, I think this either works now, or is no longer relevant.

[2018-08-21 03:06] #1159 closed

[2018-08-21 05:44] peterhuene commented on #2482
This is fundamentally the same issue as #1834, but for `UseAppHost` instead of `SelfContained`.  The general problem is our reliance on global properties and how they will ultimately interact with P2P references and, in cases like `RuntimeIdentifier` and `SelfContained`, can alter what is restored against.

There should be no reason to set a global `UseAppHost` property; in 2.2, setting `SelfConta

[2018-08-21 05:46] peterhuene commented on #2484
@pakrym please include your `dotnet --info` when reporting an issue.

`UseAppHost` is not intended to publish a framework-dependent application.  If you're using a recent 2.2 build, use `--self-contained false`.

[2018-08-21 09:04] mariuszjamro commented on #1151
@TFTomSun Could you please provide some help on how to use your solution? Should this be added in .csproj?

[2018-08-21 10:01] #2464 closed

[2018-08-21 16:26] Himanshu55007 commented on #1539
i ran into the same issue. What I did is just renamed the facades folder and it worked.

[2018-08-21 17:03] peterhuene commented on #2485
@pakrym what version of the SDK is this?  Could you add your `dotnet --info`?

`UseAppHost` does not control whether or not it is a self-contained or framework-dependent deployment.  With a 2.2 SDK, all you need to pass on the command line to get the apphost is `--self-contained=false` (this is still needed to make the deployment framework-dependent anyway).

[2018-08-21 17:24] johnkors opened #9683 "Cannot install preview versions of .NET Core Global tools on Linux"
## Steps to reproduce
When I try to install a preview package of myglobal tool like:

`dotnet pack -o ../Deploy /p:Version=2.3.0-PR`
+
`dotnet tool install -g dotnet-retire --add-source ../Deploy --version=2.3.0-PR`

If I remove the suffix `-PR` in both commands, it works fine.

I get the following error on Linux:

[code]

## Expected  behavior
It should install

## Actual behavior
It does not ins

[2018-08-21 17:27] peterhuene commented on #2475
Hi @damageboy,

Thanks for the feedback!  Would publishing `A` and `B` independently and then copy what is needed into a single location or, alternatively, publish both projects (sans P2P reference) to the same output directory work at all?

If possible, I would avoid using P2P references from `Exe` output type projects since there are a number of known issues there regarding publishing and, thus

[2018-08-21 20:06] pakrym commented on #2485
[code]

Is there any blog post or doc discussing new `self-contained` argument behaviour. I was trying to find at least something and that's why I came up with `UseAppHost `

[2018-08-21 20:37] peterhuene commented on #2485
The framework-dependent apphost publishing feature isn't enabled for 2.1.400 due to a bug that prevents the framework-dependent apphost from activating when the CWD is the same as the apphost's directory (i.e. `./foo` and `.\foo.exe` won't work).  This bug has been fixed for 2.2 and the apphost creation enabled by default for publishing in 2.2 when you simply specify `--self-contained=false`.  The

[2018-08-21 21:41] joperezr commented on #2479
@bednart First of all thanks for sharing your solution, and yes, I can confirm that we can repro the issue with your project. I believe we found what the root cause is and we are working on a fix for it. We will update this issue with links to the PRs that will fix the issue as well as with workarounds if we find any.

[2018-08-21 21:51] damageboy commented on #2475
I'll try and walk you through the different options I've tried, but I preface this by saying I really don't know if what I'm offering here is anything more than an ultra niche end-case which shouldn't really interest anyone beyond me and my team :)

Ultimately I though it would be a good idea to post this issue to see if there is any interest in this outside of my case.

Back to the matter at hand

[2018-08-21 22:11] peterhuene commented on #2475
I think it might make some sense to generate an apphost for P2P exe references, so I'll see what I can do to improve this experience for 3.0; there's a few other problems in that space I'd also like to solve.

[2018-08-21 22:30] pakrym commented on #2485
`dotnet publish --self-contained=false` doesn't work for me, it produces portable output.

[2018-08-21 22:34] pakrym commented on #2484
### dotnet --info
[code]

## dotnet publish --self-contained false
[code]

### dir D:\temp\999\bin\Debug\netcoreapp2.1\publish\
[code]

[2018-08-21 22:40] #2485 closed

[2018-08-21 22:45] peterhuene commented on #2485
I'm confused what you're trying to accomplish then.  Setting `UseAppHost` to true has no affect because it is implicitly true for self-contained applications.

If you're wondering why hostfxr and hostpolicy show up in the build output directory for a self-contained build (i.e you specified a runtime, which defaults `SelfContained` to true), it's because they are required to activate the apphost.

[2018-08-21 22:49] pakrym commented on #2485
I'm just trying to publish a portable app with an exe bootstrapper. Let's ignore this bug because having hostfxr in build output it's a result of misusing UseAppHost parameter.

My bigger problem is that even using `dotnet publish --self-contained=false` I don't get the expected output.

[2018-08-21 22:52] peterhuene commented on #2484
Ok, from the context of the other issues I think I'm beginning to understand.

`UseAppHost` does not control how an application is published, only `SelfContained` does.  `SelfContained` implicitly sets `UseAppHost` to true because without it, you wouldn't be able to activate a self-contained application (i.e. no "dotnet" to activate with).

Thus, `dotnet publish /p:UseAppHost=true /p:RuntimeIdenti

[2018-08-21 22:55] peterhuene commented on #2485
Gotcha.  See if my latest comment on https://github.com/dotnet/sdk/issues/2484#issuecomment-414843427 helps.

[2018-08-21 22:56] pakrym commented on #2484
Gocha.

[2018-08-21 22:56] #2484 closed

[2018-08-22 09:37] mattwhetton commented on #1630
I'm having a similar issue to @mouadhtrabelsi - GenerateSerializationAssemblies is set to 'Auto' and therefore I only get this problem in Release builds. We're running net471 - not sure if thats

I've have tried @emmanuelguerin fix, but that didn't help (either that or I'm doing it worng - I literally just put his build target into my csproj)

I have tried @joperezr fix but again, no effect (as be

[2018-08-22 13:06] DaveInCaz commented on #677
Is this the same issue as https://github.com/dotnet/project-system/issues/1569 ?

[2018-08-22 15:06] rainersigwald opened #2487 "The Project.DEPS.JSON files produced by VS and MSBUILD are different"
_From @IanHot on August 22, 2018 13:34_

### Steps to reproduce
Having created some framework depended .net core projects and built them in both VS and MSbuild I get different DEPS.JSON files. VS produces deps file that contains relative file paths while msbuild appears to produce full paths. for example a VS entry looks like this

"runtime.debian.8-x64.runtime.native.System.Security.Cryptography.

[2018-08-22 15:06] rainersigwald commented on #2487
_From @IanHot on August 22, 2018 13:41_

[Xifintiq.Origami.DockerGrid.Manager.deps.json.MSBUILD.txt](https://github.com/Microsoft/msbuild/files/2310530/Xifintiq.Origami.DockerGrid.Manager.deps.json.MSBUILD.txt)
[Xifintiq.Origami.DockerGrid.Manager.deps.json.VS.txt](https://github.com/Microsoft/msbuild/files/2310532/Xifintiq.Origami.DockerGrid.Manager.deps.json.VS.txt)
I have now included the compl

[2018-08-22 15:34] rainersigwald commented on #677
@DaveInCaz Not exactly. That bug was fixed when Visual Studio was taught to emit pre- and post-build events using a better mechanism that isn't subject to the constraints discussed here. However, it's still possible to manually use the property approach, which is subject to the ordering-of-property-definitions constraints that cause problems here.

[2018-08-22 16:55] bcbeatty commented on #1458
Is there progress on this? I'm nearing the point where I'll attempt to copy the XML in a post build event, just to get the xml files

[2018-08-22 17:17] KirillOsenkov commented on #1458
@bcbeatty Nick went on a well-deserved vacation this week and next, we apologize for the inconvenience.

[2018-08-22 17:49] livarcocc commented on #2487
How are you building on each? What options are you using to build and VS and which commands are you using to build in msbuild?

Also, where are you getting the deps.json files from? The build location, bin/Debug/TFM, for instance? Or from the publish location, bin/Debug/TFM/publish?

[2018-08-22 18:01] IanHot commented on #2487
For VS I simply select the "Release", "x64" and do Build Solution/project. The for msbuild I am invoking this from Jenkins with "/property:Configuration=Release /property:Platform=x64".

I am using the build folder rather than using the publish feature.

[2018-08-22 18:18] livarcocc commented on #2487
Ok, I believe that's your problem then. The build contents are not shareable. If you want to distribute your application, you need to publish and then xcopy/share the publish output.

Please, do that and let us know if that does not work.

[2018-08-22 18:32] livarcocc commented on #2487
You can publish it as a framework dependent app. Which means that in order to run it, all you will need is a shared framework compatible with the application installed on the client machine.

You can read more on this here: https://docs.microsoft.com/en-us/dotnet/core/deploying/.

[2018-08-22 18:37] IanHot commented on #2487
Ok I will look at publishing to a framework and come back to you.

[2018-08-22 19:02] livarcocc commented on #2487
Just to be clear, you don't need to specify a framework at publishing time. That's already defined in your csproj, unless you are multi-targeting.

[2018-08-22 20:12] joperezr commented on #2479
Hey @bednart we were looking closer into the case, and wanted to know why is it that you added custom targets `ReplaceNetFxNetStandardRefWithLib` and `RemoveNetFxForceConflicts`? I wonder since apparently removing those from your .csproj will make the problem go away, so I'm interested into why did you need those two?

[2018-08-22 20:14] wadewegner commented on #335
I was able to target both netstandard2.0 and net452 by using `FrameworkPathOverride ` and including `microsoft.targetingpack.netframework.v4.5.2` from myget. Appears to be working quite well for me on MacOS.

https://gist.github.com/wadewegner/a66af31149d279757357b05deb6c032c

[2018-08-23 04:51] StingyJack commented on #677
Well, yes. I dont really want to do all the typing required to unload, manually modify a proj file, and then reload it when I can do it in a few shortcut keys.  I sure as heck dont want to type in full commands for _anything_.  We didn't pay for Visual Studio so we could have notepad + msbuild.

That doesn't read very well.

The issue is that the things dont populate as expected. They are useful t

[2018-08-23 05:52] reaction1989 opened #2490 "Distribution with Visual Studio Installer"
Wouldn't it be nice to distribute the sdk as a independent install item in the Visual Studio Installer?

[2018-08-23 06:44] mattwhetton commented on #1630
I'm running on 4.7.1 and my updates look fairely up to date. We're seeing this issue on our build serverr too.

I'm actually working within a company network where updates are controlled by group policy, and rolled out in a very managed way. Do you have any more details on specifically which update this fix was in?

[2018-08-23 07:15] bednart commented on #2479
@joperezr We added this to our project back in November 2017 when we updated system NuGet packages  to higher versions (For example System.Collections 4.0.11 -> 4.3.0). I don't know which version of VS 2017 we were using but I know that there was some strange build error similiar to this one. Adding _ReplaceNetFxNetStandardRefWithLib_ and _RemoveNetFxForceConflicts_ fixed it and we left it there s

[2018-08-23 08:29] IanHot commented on #2487
Well I did "dotnet publish myassembly.proj -c Release". I the copied this across to my unbuntu 18.04 machine and tried to run it with "dotnet myassembly.dll" and I now get
 "Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Net.NameResolution, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definition does

[2018-08-23 08:31] IanHot commented on #2487
Attached is the complete DEPS file from the publish folder

[Xifintiq.Origami.DockerGrid.Manager.deps.json.txt](https://github.com/dotnet/sdk/files/2313579/Xifintiq.Origami.DockerGrid.Manager.deps.json.txt)

[2018-08-23 10:38] IanHot commented on #2487
I also tested it on the windows machine I built/published it on and got the very same error.

[2018-08-23 15:44] HamsterExAstris commented on #1856
I have a similar issue, although it involves System.Threading. For that assembly, the public key token is different between the version that shipped with the Reactive Extensions (1.0.2856.102) and the version in the framework. In that case, both versions are getting loaded at runtime, correct?

(Unfortunately it's a third-party DLL built against that old assembly; thanks to the public key token ch

[2018-08-23 16:28] joperezr commented on #2479
Yeah, I think they were supposed to workaround previous issues that were fixed by tooling. The problem here is that having them will expose this new issue you helped us found, so we will still fix that issue but in order for you to be able to have 15.8.1 and your project building, I would suggest removing them, as the tooling has fixed the issues they were trying to work around.

[2018-08-23 17:49] livarcocc commented on #2490
The SDK is distributed as part of any .NET Core dependent workload inside visual studio.

[2018-08-23 17:49] #2490 closed

[2018-08-23 17:56] joperezr commented on #1630
@mattwhetton I see, I can't seem to be able to repro your issue but I'm on 4.7.2. Can you send me your OS Version and the File version of the clr.dll file that gets loaded into the process? That way I can try to set up a machine with your environment and try to get a repro there. Hopefully after that I will be able to provide either a workaround, or an Update package that you are missing.

[2018-08-23 21:48] livarcocc commented on #2487
Where are you copying the files that you are distributing from? Also, what does your csproj look like? Could you share that or a small repro repo?

[2018-08-23 23:30] matkoch commented on #1151
@mariuszjamro just put it in a `Directory.Build.targets` file (or maybe `.props`, didn`t check), and that logic will be applied to all project files located under that directory. You also need to define the `SolutionPath` and add `<Project>` tag around that.

[2018-08-24 05:28] yyjdelete commented on #1630
@joperezr

System: Win10(1809 17744 Insyder)
clr.dll:4.7.3062
dotnet sdk: `2.1.400`
VS: 2017 v15.9.0-pre.1.0
Msbuild(in Developer Command Prompt of VS): 15.8.166+gd4e8d81a88
sgen: `C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.1 Tools\sgen.exe`

Or you mean set `TargetFramework` to `net472`, I tried `net46`/`net472`, but it always call the sgen in `NETFX 4.6.1 Tools`, even if

[2018-08-24 12:26] evgeny-burmakov opened #2491 "Reference to project with Nuget packet lead to deploying packet assembly into destination folder even if set Private and CopyLocalSatelliteAssemblies."
Reference to project with Nuget packet lead to deploying packet assembly into destination folder even if set Private and CopyLocalSatelliteAssemblies. Using CopyLocalLockFileAssemblies=false not an option due to it is block all dependencies, but I need to block only some of them.

**Repro:**

Due to project specific we need to publish each project separately and deliver only direct 3rd party assem

[2018-08-24 15:10] evgeny-burmakov opened #2492 "No possibility to set CopyLocal=false for nuget package referenced by PackageReference into project targeted net462"
PackageReference doesn't contains possibility to set copy local = false for net462 projects.
Package assemblies always copied till it isn't blocked by private assets. But in this case transitive possibility is switched off,

With packages.config was possibility to configure it for assembly individually :
[code]

[2018-08-24 16:15] joperezr commented on #1630
There is no SGen specifically for net4.7.2, what I meant is that if you were running on 4.7.2 (meaning that you have .NET Framework 4.7.2 installed on your machine) then you wouldn't hit this issue, even when running the tool which targets 4.6.1. Is it possible for you to upgrade to a newer framework in your machine and try again?

[2018-08-24 16:18] yyjdelete commented on #1630
@joperezr It's already 4.7.2, but also failed.

[2018-08-24 16:25] onovotny opened #2493 "AppHost cannot embed a custom app manifest"
The logic in `AppHost` and its associated `CreateAppHost` MSBuild task, has no mechanism today to provide a custom application manifest file. It has a default one embedded. That means we cannot provide an external one either because [embedded manifests win over an external one](https://blogs.msdn.microsoft.com/patricka/2009/12/09/answers-to-several-application-manifest-mysteries-and-questions/). T

[2018-08-24 16:28] joperezr commented on #1630
I don't mean target .NET Framework 4.7.2, I mean you have to run on .NET Framework 4.7.2. In order to easily check which Framework you are running on (or which one is installed in your machine, simply check the following REGKEY: `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\v4.0.30319\SKUs\` and check which is the latest .NET Framework version listed there. Whichever is the latest, that sho

[2018-08-24 16:48] yyjdelete commented on #1630
@joperezr Yes, I have one 4.7.2 here, and one `clr.dll` with version `4.7.3062`(already 4.7.2 rtm)
And `HKLM\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full\Release` is 461814(0x70bf6)

But according to https://blogs.msdn.microsoft.com/dotnet/2018/07/10/net-framework-4-7-2-is-available-on-windows-update-wsus-and-mu-catalog/ , seems there is still an new version of net472 with `4.7.3081`, I will

[2018-08-24 17:02] IanHot commented on #2487
I am copy from the folder created by the dotnet publish command. I will work on creating a repo. This may take a couple of days.

[2018-08-24 17:48] jkoritzinsky opened #2494 "GenerateDepsFile does not support P2P references with multiple output assemblies per TFM"
I'm working right now on an MSBuild SDK that enables users to create a project that hooks into the Microsoft.NET.Sdk to pack a NuGet package containing the outputs of the referenced projects.

I have been able to substitute the targets I need to make sure that Restore/Build/Pack targets work for this project as expected  and for projects referencing it through P2P references. (The generated nupkg

[2018-08-24 18:26] livarcocc commented on #2491
You need to set PrivateAssets="All" as a property on the PackageReference in AutoFac in project A. This means that this package won't show up on A's nuspec if you create a nupkg for it using dotnet pack.

And projects referencing it won't have it appear on their output either.

Could you try that?

[2018-08-24 18:27] livarcocc commented on #2492
@rohit21agrawal @nkolev92 @dsplaisted any ideas on how to do this?

[2018-08-24 18:46] IanHot commented on #2487
In trying to create a "small repor repo" I looked at my original project. I noticed, due to it's age that is had dependencies on both .NETCoreApp 2.1 and .NetStandard 2.0. So as an experiment I created a new .Netcore app, parallel project (suffixed with a 2) I replicated the dependencies, built and published the new (v2) project. Testing this I no longer had the original problem. After copying a c

[2018-08-24 19:03] rohit21agrawal commented on #2492
wouldn't ``` ExcludeAssets=compile``` do the trick? (If i am understanding the question correctly).

[2018-08-25 08:05] evgeny-burmakov commented on #2491
I tried, but in this case project A doesn't able to access to the Autofac namespace.
My goal is deliver assembly without copying all references implicitly.

[2018-08-25 14:02] forestbat opened #2495 "How many supports does .NET Core SDK have for games？"
Now do we must use Mono or Xamarin for cross-platform games？

[2018-08-25 18:53] jmroyb opened #2496 "UAP10 class dll CopyLocalLockFileAssemblies equivalent"
Hi folks,

in a netstandard project CopyLocalLockFileAssemblies copied all NuGet references in output folder.

How can I get all referenced NuGet dlls being copied in the output folder? I tried next line but did not worked.

    <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>

Cheers

[2018-08-26 06:53] rohit21agrawal commented on #2492
my bad, yes it is safe to use as long as you don't want any assemblies from the lib folder of the package to not be copied to the bin folder of your project.

[2018-08-27 11:07] Tragetaschen opened #2497 "Exception stack trace and MSB4018 when cancelling the build"
I just cancelled a build (CTRL+C) and got a big wall of red text on the console:
[code]

[2018-08-27 14:47] rainersigwald commented on #2497
This issue was moved to Microsoft/msbuild#3656

[2018-08-27 14:47] #2497 closed

[2018-08-27 17:16] wli3 opened #9697 "Both 2.1.100 and 2.1.100.7326. SDK installer are available"
It is causing installation duplication

https://github.com/dotnet/core/issues/1839#issuecomment-416292934

[2018-08-27 20:58] livarcocc commented on #2495
I would ask this question at dotnet/core, it might give you a better change at getting an answer. But, currently, I am not aware of any explicitly libraries for games from microsoft. I don't know what is out there from the community.

[2018-08-27 20:58] #2495 closed

[2018-08-27 20:59] livarcocc commented on #2496
UAP10 projects are not supported by SDK style projects. At least, not out of the box. If you are using the sdk.extras SDK with your project, I would ask this question on that SDK's repo.

[2018-08-27 20:59] #2496 closed

[2018-08-29 23:23] cshung opened #2503 "ResolvePackageAssets failed for Microsoft.DotNet.CoreMcg.1.0.0-prerelease-0005"
The Nuget package in question is hosted on the https://dotnet.myget.org/gallery/dotnet-buildtools feed named Microsoft.DotNet.CoreMcg.

After Nuget restore, a file named project.assets.json is created. The ".NETCoreApp,Version=v1.0" node contains 111 children and so is the ".NETCoreApp,Version=v1.0/win-arm" node. The number of libraries is identical.

This tripped the condition in ResolvePackageAs

[2018-08-29 23:54] dsplaisted commented on #2503
We do expect there to be strictly more assets when you have a runtime identifier (RID) specified.  Without a RID specified, the app is framework-dependent and will run using the installed .NET Core shared framework.  If you want to carry the .NET Core runtime with your app, then you can specify the RID and by default it will be published as self-contained.  So if a RID is specified we expect to ha

[2018-08-30 01:30] TimRowe opened #2505 "msbuild fail : need to set SelfContained to false or UseAppHost to true"
When I update .net core sdk to 2.1.4, error raised when my project was built to publish.

`C:\Program Files (x86)\dotnet\sdk\2.1.401\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.RuntimeIdentifierInference.targets(122,5): error NETSDK1067: Self-contained applications are required to use the application host. Either set SelfContained to false or set UseAppHost to true. [C:\Program Files (x86)\Jenkin

[2018-08-30 04:03] ashishnegi opened #2506 "How to install dotnet sdk in centos ?"
Hi

We want to install dotnet sdk 2.0.3 in centos.

(1) Official [documentation](https://www.microsoft.com/net/download/linux-package-manager/centos/sdk-2.0.3) says to follow :

[code]

(2) There are other ways to install dotnet in centos as :
[code]

People usually refer `(2)` method in redhat distros. So, there is some confustion.
Can you please tell if `(2)` is supported way ?
Can we install a

[2018-08-30 05:56] livarcocc commented on #2505
You don't need to set UseAppHost.

cc @peterhuene

[2018-08-30 05:58] livarcocc commented on #2506
Please follow the official documentation. RedHat produces their own distribution of .NET Core, which is why instructions differ for RedHat's distro.

[2018-08-30 05:58] #2506 closed

[2018-08-30 05:59] peterhuene commented on #2505
Hi @TimRowe.  The SDK should be defaulting `UseAppHost` to true if `SelfContained` is true.  Was there any place that was explicitly setting `UseAppHost` to false?

If possible, could you share a repro project for me to take a look at?  Thank you!

[2018-08-30 06:26] TimRowe commented on #2505
@peterhuene I think I found the problem.

At first, my publish cmd is like below
`C:\Program Files (x86)\Jenkins\workspace\TMQ4.DEV>dotnet publish Tmq.sln /p:WebP
ublishMethod=MSDeploy /p:Configuration=Release  /p:PublishProfile=WebDeployProfile`

Now I add the `-r win-x64`, It's fine without `<UseAppHost>true</UseAppHost>`

But I am confused, because `<RuntimeIdentifier>` is set in the Profile.pu

[2018-08-30 06:57] nguerrera commented on #2503
Note that win-arm was not supported by .net core 1.0 so the error is by design when setting this RID while targeting 1.0.

Why are you setting this RID and targeting 1.0?

[2018-08-30 17:33] jp2masa commented on #2304
I have a similar issue, but with `ExcludeAssets="Compile"`, is it supposed to work too?

[2018-08-30 17:36] peterhuene commented on #2505
I think I see what's happening here.  The reason you do not observe the problem when you specify `-r win-x64` to `dotnet publish` is that the .NET Core SDK defaults both `SelfContained` and `UseAppHost` to true.  When the properties from the publish profile are applied, `SelfContained` is already true and `UseAppHost` remains true, so there is no error.

However, when you publish without specifyin

[2018-08-30 19:30] livarcocc commented on #2492
Closing this issue as it seems ExcludeAssets=runtime seems to have solved the issue.

[2018-08-30 19:30] #2492 closed

[2018-08-30 19:31] livarcocc commented on #2491
@rohit21agrawal who may know the answer here.

@evgeny-burmakov have you tried the suggestion on your other issue: excludeassets?

[2018-08-30 19:31] #2479 closed

[2018-08-30 19:54] dsplaisted commented on #2304
@jp2masa I believe `ExcludeAssets` isn't currently supported at all on `ProjectReference` items.  However, `ReferenceOutputAssembly="false"` should do what you want.  More info here: https://blogs.msdn.microsoft.com/kirillosenkov/2015/04/04/how-to-have-a-project-reference-without-referencing-the-actual-binary/

[2018-08-31 04:08] TimRowe commented on #2505
@peterhuene Thanks for your detailed analysis.
But why `<RuntimeIdentifier>` in  Profile.pubxml can't work?
I think these property value setting priority is like below.

RuntimeIndentifier（DotNet Cli）> RuntimeIndentifier（Profile.pubxml ) > SelfContained( DotNet Cli ) > SelfContained( Profile.pubxml ) >  UseAppHost( DotNet Cli ) >  UseAppHost( Profile.pubxml )

[2018-08-31 08:01] oliverjanik commented on #1098
This has been closed, but what is the answer to the original question?

[2018-08-31 08:14] dasMulli commented on #1098
@oliverjanik the original problem was an incremental build issue that has since been fixed in 2.0+ SDKs.
If you encounter a new issue or difficulties, do consider opening a new issue.

[2018-08-31 19:53] MisinformedDNA commented on #2364
Is 2.2.100 released? I don't see it in the [Releases](https://github.com/dotnet/sdk/releases).

[2018-08-31 20:53] livarcocc commented on #2364
It is not. It will be a couple months before it is official out.

[2018-08-31 21:38] natemcmaster commented on #2364
You can try our previews though :) You should be able to use a 2.2.100 Preview SDK to build your netcoreapp2.1 projects.

https://www.microsoft.com/net/download/dotnet-core/2.2

[2018-08-31 23:17] TimRowe commented on #2505
@peterhuene thansk, it's clear.
but without -r win-x64 it's output without .exe although UseAppHost and RuntimeIdentifier  has been set in .pubxml. Why?

[2018-09-02 10:06] thomaslevesque opened #2511 "Real support for shared projects (shproj/projitems)"
What's the current story for shared projects with the .NET Core SDK?

I can create a shared project in VS, and reference it from my .NET Core project, but the experience is far from ideal. The shproj is an "old-style" project, where source files are explicitly included. I can use glob patterns, but when I add a new file from VIsual Studio, it's added explicitly to the project, which causes it to b

[2018-09-02 22:03] DoCode commented on #2003
@dsplaisted - sorry for the long delay. But other tasks have higher prio!

I ended with this `Directory.Build.props`:
[code]

And this `Directory.Build.targets`:
[code]

## Results
Now some errors occours on build:
[code]

I think the `GenerateBindingRedirects` task doesnt respect the changed `IntermediateOutputPath`.

[2018-09-03 02:47] TimRowe commented on #2505
@peterhuene Here is the sample project.
[WebApplication6.zip](https://github.com/dotnet/sdk/files/2344055/WebApplication6.zip)
My publish command is
`dotnet publish WebApplication6.csproj /p:WebPublishMethod=FileSystem /p:Configuration=Release /p:PublishProfile=FolderProfile`

[2018-09-03 20:57] peterhuene commented on #2505
Hi @TimRowe,

Thanks for the repro project.  I can confirm the behavior you're seeing, although it does not appear to be a regression related to the `UseAppHost` change itself, as that was introduced in `2.1.400` and I can reproduce the behavior with the older `2.1.302` SDK.

I am seeing `apphost.exe` appear, but it has not been renamed, nor does it seem to have had the path to the application emb

[2018-09-04 12:00] TimRowe commented on #2505
@peterhuene thanks，This is what I should do. I hope the next version will optimize these problems.

[2018-09-04 17:38] Petermarcu opened #2513 "CustomAssemblyLoaderContext throws PlatformNotSupportedException when invoking an assembly that uses the System.Management package"
@juanperezADD commented on [Mon Sep 03 2018](https://github.com/dotnet/core/issues/1913)

# CustomAssemblyLoaderContext throws PlatformNotSupportedException when invoking an assembly that uses the System.Management package

We have two projects: an Executable and a Loader.

The **Executable** is a .NET Core 2.0 application that uses the System.Management package to obtain the operating system info

[2018-09-04 17:44] nguerrera commented on #1967
@michael-freidgeim-webjet Do you have a global.json pinning to sdk 2.1.4? Can you try removing that or updating the version to 2.1.4**00** that came with VS 15.8.

[2018-09-05 19:38] livarcocc commented on #2513
@nguerrera I don't believe this belongs to us, would you know where this should go?

[2018-09-05 22:09] nguerrera commented on #1899
Subsystem bit is implemented now: #2470

[2018-09-05 22:33] livarcocc commented on #1899
Should we imply the RID itself in this case? With a self-contained false? This behavior would follow from that.

And how would we choose between x86 and x64? I remember this being hard in the past when we were looking for some RID for compatibility for full framework projects.

[2018-09-05 22:54] nguerrera commented on #1899
@peterhuene and I were just chatting about this challenge here as well, and there isn't an easy answer.

[2018-09-05 22:57] nguerrera commented on #1899
I think we should track whether you get an apphost by default separately from the work to put more stuff in an apphost.

[2018-09-06 03:01] AArnott opened #2516 "Share package fallback cache across SDKs"
According to @chrisrpatterson in https://github.com/Microsoft/vsts-image-generation/issues/223#issuecomment-418936380, each version of the .NET Core SDK has its own copy of the package fallback cache. As a result, decompressing the package fallback cache with one SDK does nothing for the package restore performance of another SDK. Why is that?

Given the fallback cache is a bunch of packages, it s

[2018-09-06 03:04] chrisrpatterson commented on #2516
I am not quite sure I said that.
What I think happens is each SDK install location seems to have one.  The other issue could be that each particular version of the SDK check to see if its first run has happened.

[2018-09-06 03:12] AArnott commented on #2516
Sorry for misquoting. What I think we can say though is the issue I linked to in this issue description describes a significant perf issue where an additional SDK version that is installed still takes 2 minutes to unpack a fallback cache even though that has already been done on the first SDK version.

[2018-09-06 15:00] AArnott opened #2517 "Build fails claiming a missing win8 target where none exists nor should need to"
_From @AArnott on September 6, 2018 4:11_

## Details about Problem

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe): `msbuild.exe /restore`

MSBuild version: `15.9.10.28431`

dotnet.exe --version (if appropriate): `2.1.500-preview-009266`

VS version (if appropriate): `15.9.0 preview 2.0 (28029.51.d15.9)`

OS version (i.e. win10 v1607 (14393.321)): `17134.rs4_release

[2018-09-06 15:02] AArnott commented on #2517
In studying the build logs using the MSBuild Structured Log Viewer (and the `/bl` build switch) I found that the fault seems to lie with the `GetPackagingOutputs` target. It seems this target is defined as empty at one point in the preprocessed project file, but later the AppX .targets are imported and define it to actually something that apparently isn't multitargeting aware and thus doesn't supp

[2018-09-06 15:19] AArnott commented on #2517
Since it seems that the `GetPackagingOutputs` target is always supposed to be blank for .NET SDK projects, and seeing I don't have any AppX packaging in my solution, I applied the following workaround:

In my Directory.Build.targets file:

[code]

[2018-09-06 15:46] AArnott commented on #2517
This issue was moved to onovotny/MSBuildSdkExtras#115

[2018-09-06 15:46] #2517 closed

[2018-09-06 16:05] dasMulli commented on #2516
Looks like the fallback cache approach is going away completely for 3.0: https://github.com/dotnet/cli/issues/9910

[2018-09-06 19:03] livarcocc commented on #2516
Besides what @dasMulli has said, each SDK has their own version of the cache, because that cache is comprised of different package versions based on the runtime versions the SDK ships with.

If there is an overlap of packages, said packages are not duplicated, since there is only one fallback folder. So, what ends up being duplicated effort is really going through the process of extracting the pac

[2018-09-06 19:03] #2516 closed

[2018-09-07 00:57] cshung commented on #2503
Thanks for the help, your comment is helpful in resolving the problem, we have solved the problem.

In a nutshell, I believe it is our build script that is confused about the package. The package we need to use is only a build time tool, but it passed in the RID of the environment where the built binaries will run.

The code does confuse me though, when I investigate the build failure, it was uncl

[2018-09-07 00:57] #2503 closed

[2018-09-07 09:51] oofpez commented on #1720
also experiencing for net461

[2018-09-07 10:03] dasMulli opened #2521 "Default ProduceReferenceAssembly to true"
Get better incremental build performance by opting in to reference assembly based builds by defaulting `ProduceReferenceAssembly` to true.

Since this is a behaviour change, it may be good to do it in 3.0 and for SDK projects only.

[2018-09-07 10:05] dasMulli commented on #2521
@peterhuene I'm not sure who I should mention for this but you get the idea.
maybe @rainersigwald has more info about the current support for this across project systems, he mentioned a year ago that the classic project systems may have troubles with it, but that was when the feature was newly implemented.

[2018-09-07 13:57] rainersigwald commented on #2521
@davkean were you looking into this?

[2018-09-07 16:38] dasMulli commented on #747
@GreatFireWall what's your issue? a part of it is "by design". you can also open a new issue if something isn't covered.

[2018-09-07 16:40] GreatFireWall commented on #747
sorry, resolved.
add <RestoreProjectStyle>PackageReference</RestoreProjectStyle> in project file.

[2018-09-10 17:49] cdmihai opened #2522 "FileUtilities.GetFileVersion allocates 16mb of strings (170k objects)"
https://github.com/dotnet/sdk/blob/master/src/Tasks/Common/FileUtilities.cs#L17

![image](https://user-images.githubusercontent.com/2255729/45314628-1d7d5c00-b4e7-11e8-810c-ed531e0fb87d.png)

[2018-09-10 17:50] cdmihai commented on #2522
Happens during a single proc build of Web Large Core with minimal verbosity.

[2018-09-10 23:18] AArnott opened #2523 "Builds broken because package signature file entry is invalid"
As discussed [on this appveyor forum](https://help.appveyor.com/discussions/problems/16600-appveyor-suddenly-totally-broken), AppVeyor builds recently started breaking for me.  Feodor Fitsner kindly came up with a minimal repro that suggests that the .NET Core 2.1 packages on nuget.org have bad signatures.

**Repro**

Create a test-nuget.csproj file with these contents:

[code]

Rename or remove y

[2018-09-11 01:18] nkolev92 commented on #2523
Did some digging cause this looks weird, if you do a NuGet.exe verify -signatures on the package, for example Microsoft.NETCore.App 2.1.0, you get the same error message.

This seems to suggest that there is something wrong with this package.

The reason why it fails with multitargetting is because of the fallback folders.
 When you cross-target 2.x and 1.x, the new fallback folder from `C:\Progra

[2018-09-11 11:08] Mizux opened #2524 "Setting EnableDefaultCompileItems to False doesn't remove the F# files from solution Explorer"
For http://github.com/google/or-tools we have some [examples](https://github.com/google/or-tools/tree/master/examples/dotnet) in F# and C#.

* While using it in a [.fsproj](https://github.com/google/or-tools/blob/master/examples/dotnet/fsProgram.fsproj) file `.fs` and `.cs` are correctly hidden
* While using it in a [.csproj](https://github.com/google/or-tools/blob/master/examples/dotnet/tsp.cspro

[2018-09-11 15:35] mmitche commented on #2523
This is really odd. Why would it start now? 2.1.0 is ages old.  Was there a change in nuget?

[2018-09-11 15:50] mmitche commented on #2523
WIth nuget.exe 4.6.2.5055 I get a successful verification

[2018-09-11 17:43] livarcocc commented on #2524
@KevinRansom I think F# has its own set of default items, right? should I move this issue somewhere else?

[2018-09-11 19:29] Mizux commented on #2524
I think it is the C# globe for None ressources which catch them while in fsproj all .cs and .fs are hidden...
-> should it be possible to exclude .fs from the glob

i.e. in this patch https://github.com/dsplaisted/sdk/commit/eb08bd18c3c3e41288f8652ca537edd1550119d5
don't use
[code]
but something like
[code]

[2018-09-11 19:36] Mizux commented on #2524
EDIT: I use `<EnableDefaultCompileItems>false</EnableDefaultCompileItems>` instead of
`<EnableDefaultItems>false</EnableDefaultItems>`

Since Condition check `EnableDefaultItems` it may fix my issue src: https://github.com/dotnet/sdk/blob/7308d9776506c87e4d1f8bf72f28ba7fdfc3e9f0/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.props#L29

I'll try it tomorrow and report AS

[2018-09-11 23:09] nguerrera commented on #1458
I apologize for the long delay here. Indeed I was on vacation and then this got lost when I returned.  I now have a workaround for the publish case as well.

There are two issues:

1. On platforms that copy nuget dlls during *build* (.NET Framework), the .pdb and .xml files are not copied to *build* output.

* This is what this issue originally tracked.
* A workaround for that was provided here: h

[2018-09-11 23:28] livarcocc commented on #1458
@peterhuene to make sure he is aware of this difference.

[2018-09-12 04:02] Rabadash8820 commented on #677
Adding to @StingyJack's points...

I have zero problem with build events being phased out and build targets being the new best practice, especially if the implementation is as simple as dsplaisted's [answer](https://github.com/dotnet/sdk/issues/677#issuecomment-280164111) above.  All of us long-time Microsoft users could stand to get out of our comfort zone and _write some code_ rather than having

[2018-09-12 04:32] dasMulli commented on #677
@Rabadash8820 Projects using the new project system already get the some new behaviour: The UI will actually create targets. This was added in 15.3 - https://github.com/dotnet/project-system/pull/2367. But AFAIK it doesn't switch from the build events to targets, but it will create and edit targets when you first use it.

[2018-09-12 11:53] DaveInCaz commented on #677
@dasMulli how does a version # like 15.3 which you mentioned correspond to what is available to a given version of Visual Studio? Thanks

[2018-09-12 12:14] StingyJack commented on #677
@DaveInCaz  - 15.x is the version number of VS 2017
![image](https://user-images.githubusercontent.com/15381181/45424230-df597700-b663-11e8-914b-b94a5ea36363.png)

[2018-09-12 14:32] gcraciun opened #2526 "Unable to build debian package of .NET Core app as non-root user"
Running dotnet clean using debian/ubuntu fakeroot consumes all available memory and runs extremely slow. The machine used was a VM with 4GB RAM and 4 CPU cores.
Runnning on the same VM but with just 1 CPU core it works.

Steps to reproduce:
$ git clone https://github.com/ArduPilot/MissionPlanner.git
$ cd MissionPlanner
$ fakeroot dotnet clean

System used
$ lsb_release -a
No LSB modules are availa

[2018-09-12 15:26] livarcocc commented on #2526
@rainersigwald is this something that msbuild is doing wrong?

[2018-09-12 18:41] jainaashish commented on #2523
We also run an additional exercise to validate packages hash from extracted SHA512 file vs generating SHA512 hash from nupkg in dotnet fallback folder and all these package validation failed which suggest either dotnet is not extracting nupkg correctly in fallback folder or they are creating a new nupkg in fallback folder.

The right expectation here is that dotnet has single nupkg for each of the

[2018-09-12 19:46] dsplaisted opened #2527 "KnownFrameworkReferences need to be specific to a target framework version"
Right now, we have `KnownFrameworkReference` items that look something like this in Microsoft.NETCoreSdk.BundledVersions.props:

[code]

These are not specific to the version of .NET Core targeted.  So if you were targeting .NET Core 2.x, you could still add a `FrameworkReference` to Microsoft.DesktopUI, and we would try to add the package reference to the targeting pack.

The `KnownFrameworkRefer

[2018-09-13 20:34] Pilchie opened #2532 "How to add resource files to netstandard project"
_From @ramsubbaraoc on September 12, 2018 2:44_

In .NET Framework, while adding resource files,the files can be added either as an EmbeddedResource or Resource.In netstandard class library project,there is only "EmbeddedResource" property.How to add a file as "Resource" instead of "EmbeddedResource" ?

I have language specific .resources file. If i add it as "EmbeddedResource" each file will be c

[2018-09-13 20:34] Pilchie commented on #2532
@livarcocc / @nguerrera / @dsplaisted ?

[2018-09-13 20:34] Pilchie commented on #2532
_From @nguerrera on September 12, 2018 20:25_

The handling of `@(Resource)` items in .NET Framework comes from Microsoft.WinFX.targets, which mainly handles Xaml, and is never imported to a .NET Standard project. I wasn't familiar with them until now, to be honest.

It is possible to force an EmbeddedResource into the main assembly with a custom target:

[code]

There is some related discussion i

[2018-09-13 20:34] Pilchie commented on #2532
Also somewhat related to https://github.com/dotnet/project-system/issues/3620...

[2018-09-13 20:35] Pilchie commented on #2532
@cdmihai @nguerrera @dsplaisted does changing this as part of .NET Core 3 make sense?

[2018-09-13 20:35] Pilchie commented on #2532
_From @ramsubbaraoc on September 13, 2018 3:58_

@Pilchie @nguerrera : Thank you.That worked.But the ResourceManager class doesn't pick the resources based on the Thread  culture. Should i be hardcoding the "basename" based on the culture?

[2018-09-13 20:35] Pilchie commented on #2532
_From @nguerrera on September 13, 2018 18:1_

Indeed, ResourceManager does not support finding localized resources in the main assembly.

Changing the base name like that doesn't seem right. I looked briefly at extending ResourceManager or ResourceSet, but there doesn't seem to be an easy hook. cc @tarekgh

[2018-09-13 20:35] Pilchie commented on #2532
_From @nguerrera on September 13, 2018 19:5_

I think it does. I'm going to look more closely at these targets.

[2018-09-13 20:35] Pilchie commented on #2532
@nguerrera Should I move this to dotnet/sdk repo?

[2018-09-13 20:35] Pilchie commented on #2532
_From @nguerrera on September 13, 2018 20:33_

OK. It might need to move again to msbuild, but that's ok for now.

[2018-09-14 09:56] Mizux commented on #2524
Replace `EnableDefaultCompileItems` by `EnableDefaultItems` Fix my issue !

[2018-09-14 09:56] #2524 closed

[2018-09-14 16:39] jeffkl commented on #380
Gentle ping...

[2018-09-14 17:04] nonbob opened #12478 "MSDeploy task: source-only verbs are not available (dump, getXxxx)"
### Functional impact
*No major functional impact in my case*
It's easy for me to work around

### Minimal repro steps
1. Create a Visual Studio project that uses the VSMSDeploy task (an ASP.NET Core Angular site, in our case)
2. At the end of the .csproj file, just before the closing `Project` tag, add a target that gets run after CorePublish (e.g. `Target Name="DoAfterPublish" AfterTargets="Core

[2018-09-14 21:49] dsplaisted opened #9744 "Targeting pack support for .NET Core 3.0"
For .NET Core 3.0, we expect to separate targeting packs, which contain the assets needed at build time when targeting .NET Core 3.0 (for example, reference assemblies and intellisense documentation) from "runtime packs", which will include the platform-specific runtime components for .NET Core 3.

This issue tracks the work required in order to support targeting packs.  This may include:

- Figur

[2018-09-16 15:01] josh-endries opened #9749 "VSTS/ADO dotnet test step doesn't build NuGet package"
Working in VSTS/ADO, I have a `dotnet test` step followed by a `dotnet push` step. My C# library project (not the test project) has this in it:

    <GeneratePackageOnBuild>true</GeneratePackageOnBuild>

The project is built and tested but the package doesn't get created (the `dotnet push` step fails because it can't find the package). If I insert an explicit `dotnet build` step, the package gets

[2018-09-16 23:35] normj commented on #2122
Any progress on this? For us we want to keep the publish package size small so we are always setting `PreserveCompilationContext` to `false` but this breaks some customer scenarios.

[2018-09-17 09:37] grokys opened #2535 "The target "VerifyTargetVersion" does not exist in the project."
Ever since upgrading https://github.com/github/VisualStudio to use new the SDK project files (for all projects except VSSDK projects) we're getting the following error when building in Visual Studio:

[code]

Everything works fine when building from the command line. The error goes away after multiple builds in Visual Studio, but comes back on a `git clean -xdf`.

I'm not even sure if this is an S

[2018-09-17 13:07] grokys commented on #2535
Updating to https://github.com/onovotny/MSBuildSdkExtras/releases/tag/v1.6.55 seems to fix the problem. Sorry for the noise!

[2018-09-17 14:51] CheloXL opened #2536 "[Question] Use of custom compiler in new csproj format"
Hi,
I'm trying to move several solutions where I'm using a custom compiler instead of csc. Right now, I have the following settings in my csproj (old version)
[code]
All of that because I do not want csc to take part of the compilation, nor I do need the generation of any .dlls/obj, etc. The above was created by trial and error and by looking at the default implementation.

Now, I'm trying to move

[2018-09-17 16:52] livarcocc commented on #2535
What was the last version on which this worked?

[2018-09-17 16:53] livarcocc commented on #2536
This is not something that I believe we have really tried out or considered, so, I don't believe we will have much ready help in this case.

cc @jaredpar  in case he has any insights in how to achieve this.

[2018-09-17 16:58] jaredpar commented on #2536
The supported way of using a custom compiler is to define `$(CscToolPath)`  and / or `$(CscToolExe)` to point to the alternate compiler you would like to use. That works equally well on classic or new SDK projects. Is there a reason that you didn't go with that approach?

CC @agocke, @chsienki

[2018-09-17 17:17] CheloXL commented on #2536
Probably because at the time I created this there were not that much information. These projects are almost 7 years old. Also, I'm using a custom task, not an exe. In the example above I'm not showing additional properties I'm feeding the tool with (like EmbeddedResource, ReferencePath, DocumentationFile, etc). Another issue is with msbuild generating additional .cs files that includes references

[2018-09-17 17:38] CheloXL commented on #2536
@chsienki Yes!, that looks like what I'm after. It is basically what I did with the old msbuild (but I did using a sledge hammer... by overriding existing targets to nullify what they were intended to do).
I guess that I can still register custom tasks and call them from the AfterTargets, right? If that's the case, I think it is all I need.
Will try this and see how it works. Thanks!

[2018-09-17 17:41] grokys commented on #2535
I think that would be the commit before we migrated to SDK csproj: https://github.com/github/VisualStudio/commit/afb8d2d148b963325f3e95ef28fb7acca2c4d462

[2018-09-17 17:41] chsienki commented on #2536
No problems. If you run into issues, I suggest opening a new thread in the MSBuildSdks repo going forward.

One gotcha that took me a long time to figure out and the docs don't make very clear: when you reference the SDK you need to explicitly specify the version as part of the sdk name, or MSBuild will fail to resolve the SDK. Here's a working example:

[code]

[2018-09-17 17:42] grokys commented on #2535
A little more info: if you continue to build, eventually it will work.

[2018-09-17 17:47] CheloXL commented on #2536
Thanks!

[2018-09-17 17:55] livarcocc commented on #2536
Seems like this questions has been addressed. Closing the issue for now.

[2018-09-17 17:55] #2536 closed

[2018-09-17 17:55] livarcocc commented on #2535
I meant what was the last version of the SDK/VS on which this worked. Or did this never worked on the new csproj format?

[2018-09-17 18:02] grokys commented on #2535
Ah apologies, I don't think it ever worked properly on the new csproj format.

We weren't aware of that immediately though because it passes on CI (MSBuild from command line) and after 3 or 4 tries it works, meaning that we never saw the error until we started from a clean repository.

[2018-09-17 21:41] livarcocc commented on #2535
I don't believe that `VerifyTargetVersion` is target defined by us. At least it is not in the .NET Core SDK. I don't believe it is in MSBuild's core targets either.

Do you know where that comes from?

@rrelyea @Pilchie any ideas why this would sometimes work in VS and sometimes fail? I wonder if maybe this target is coming from some package, if that could cause issues.

[2018-09-17 21:42] livarcocc commented on #2535
The only place where I found a reference for this was in a Microsoft.VSSDK.BuildTools, which I am not familiar with.

[2018-09-17 21:46] grokys commented on #2535
Yes this is a VSSDK project, I wasn't sure where to route this, so this was my first port of call due to the fact it was caused by the SDK csproj migration. Any idea where I did route this to given that the problem originates there?

[2018-09-18 01:10] livarcocc commented on #2535
@grokys we reached out to the owners of the VSSdk inside MS and asked them to engage here to help investigate this issue.

[2018-09-18 09:27] Michael-Eng commented on #2535
@grokys - VerifyTargetVersion is defined in Microsoft.vssdk.targets and is part of the build of a vsix project. Are you saying this fails on a clean build but succeeds on an incremental build?

What version of the VS SDK Build Tools are you using to build? Is there more than one vsix project being built?

Can you attach the diagnostic level build output? In VS, go to Tools|Options, Projects and So

[2018-09-18 14:44] AArnott commented on #2535
The missing VerifyTargetVersion issue is one I've never seen myself. I use .NET SDK style projects all the time, [including with VSIX projects](https://github.com/AArnott/VSIXProjectWithPackageReferences/blob/netsdk/VSIXProject11/VSIXProject11.csproj). .NET SDK style for VSIX projects isn't officially supported and some of the IDE experiences are degraded (e.g. no vsixmanifest designer). But we al

[2018-09-18 15:00] AArnott commented on #2535
Well, your solution definitely has package restore issues. When I follow these steps:

[code]

The _restore_ fails with this error:

I'm pretty sure what this means is your design-time build that is performing the restore is executing too much of the build (have you customized it?) which triggers projects to build that have not yet been restored. This causes restore itself to fail. I imagine after

[2018-09-18 15:05] AArnott commented on #2535
I see you're still using packages.config with your .NET SDK style projects. Don't do that. You need to merge all your packages.config files into your .NET SDK style projects. For your old-style projects you can keep the packages.config files if you want to, but I recommend a full migration to PackageReference for _all_ your projects (old and new style).

[2018-09-18 15:14] grokys commented on #2535
We did migrate to `PackageReference` for SDK projects but looks like I forgot to delete some `packages.config` files. From what I understood they would be ignored when you have `<PackageReferences>` though?

Your restore error has given me something to go on, I will take a look there. I'll also get the diagnostic build output shortly.

[2018-09-18 15:50] AArnott commented on #2535
I don't know if packages.config is ignored automatically given the presence of a `PackageReference` in your project.

I observe that you're using packages.config style references for your VS SDK projects. And in particular, you're getting your VS SDK itself via that reference:

[code]

So you'll be missing targets until you do a package restore that restores packages.config packages.
If you had a

[2018-09-19 08:15] jitendriyag2 opened #2540 "Unable to access the MVC App after published onto Azure"
[Error] Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware: An unhandled exception has occurred while executing the request.
Application: System.InvalidOperationException: Cannot find compilation library location for package 'Microsoft.NETCore.App'
Application:    at Microsoft.Extensions.DependencyModel.CompilationLibrary.ResolveReferencePaths(ICompilationAssemblyResolver resolver, List`1

[2018-09-19 08:16] jitendriyag2 commented on #2540
As per different solutions i put all the config still it is not resolved

<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <MvcRazorExcludeRefAssembliesFromPublish>false</MvcRazorExcludeRefAssembliesFromPublish>
    <LangVersion>latest</LangVersion>
    <UserSecretsId>a6ccfad5-6395-45d7-87e7-d75c56e7ee02</UserSecretsId>

  </PropertyG

[2018-09-19 12:04] jcansdale commented on #2535
It appears that updating from `Microsoft.VSSDK.BuildTools.15.0.26201` to `15.8.3252` has resolved the issue. The following PR branch seems to build consistently: https://github.com/github/VisualStudio/pull/1929.

[2018-09-19 13:17] haf commented on #1720
I experienced this while upgrading a project; and it was caused by previous runtimeConfig.json files being present without the setting. Deleting the output artifacts in bin/Release/netcoreapp2.0 and rebuilding caused this issue to go away for me on Core 2.1.401 / macOS latest.

[2018-09-19 17:09] livarcocc commented on #2540
@vijayrkn @rynowak can one of you take a look?

[2018-09-19 17:09] #2535 closed

[2018-09-19 22:54] livarcocc commented on #2429
My guess is that passing the version is invalidating a previous restore you did, therefore going from a no-op restore to an actual restore. And now you have these new feeds somewhere setup and restore fails.

The feeds don't appear to be valid and if so, the error above is correct. If you did not expect these feeds to be there, please check the NuGet.Config files in your machine to make sure none

[2018-09-20 01:01] livarcocc commented on #2429
I see now that this is a somewhat old issue. if after checking my explanation above things still don't work, please comment and we can re-activate this issue. For now, I am going to close it.

[2018-09-20 01:01] #2429 closed

[2018-09-20 01:02] livarcocc commented on #2082
Closing due to lack of activity.

[2018-09-20 01:02] #2082 closed

[2018-09-20 01:06] livarcocc commented on #1249
Closing due to lack of activity.

[2018-09-20 01:06] #1249 closed

[2018-09-20 01:07] livarcocc commented on #1508
Closing due to lack of activity.

[2018-09-20 01:07] #1508 closed

[2018-09-20 01:07] livarcocc commented on #1542
Closing due to lack of activity.

[2018-09-20 01:07] #1542 closed

[2018-09-20 01:09] livarcocc commented on #2045
Closing as @dsplaisted seems to have addressed all the issues.

[2018-09-20 01:09] #2045 closed

[2018-09-20 01:10] livarcocc commented on #1957
Closing as the issue seem to have been addressed and new issues were filed against dotnet/standard.

[2018-09-20 01:10] #1957 closed

[2018-09-20 01:13] livarcocc commented on #1752
I am closing this issue since builds seem to be stable now. If this is still happening, let us know.

[2018-09-20 01:13] #1752 closed

[2018-09-20 02:33] rynowak commented on #2540
`MvcRazorExcludeRefAssembliesFromPublish` should be true or omitted if you're using runtime compilation. This error says that the reference assemblies aren't present, but you're trying to do compilation at runtime.

[2018-09-20 10:27] alexdrl opened #2544 "Running a SCD Windows .NET Core application fails when the assembly name is longer than 64 characters."
Having an ASP.NET Core Application which a assembly name longer than 64 characters like `LongerThan64CharactersAssemblyNameLongerThan64CharactersAssemblyName`.
If it is published self-contained with `dotnet publish -r win10-x64`, the generated exe has the correct name `LongerThan64CharactersAssemblyNameLongerThan64CharactersAssemblyName.exe`, but when executing the exe, the loading fails with this

[2018-09-20 17:48] livarcocc commented on #2544
This seems like an issue in the host, so moving this issue to core-setup.

[2018-09-20 17:49] livarcocc commented on #2544
This issue was moved to dotnet/core-setup#4593

[2018-09-20 17:49] #2544 closed

[2018-09-21 17:35] livarcocc commented on #2430
@nguerrera can you take a look?

[2018-09-21 17:43] nguerrera commented on #2430
Sure thing.

[2018-09-21 18:08] AArnott opened #2546 "global.json and pinning the .NET Core SDK version"
When dogfooding the (Int)Preview channel, any time I'm building a project with the .NET Core SDK I get this warning:

So I took that advice back when v2.1.300 was the hip version of the SDK, and checked in a global.json file to many of my repos.

Fast forward a few months. 2.1.300 isn't hip any more, and several folks [are complaining](https://github.com/AArnott/CodeGeneration.Roslyn/pull/98#issue

[2018-09-21 19:41] AbhitejJohn opened #2547 "BindingRedirects not genereated for a specific reference"
In the attached the solution, the AutoBindingRedirect isn't generating redirections for "System.Buffers" causing runtime failures.
Here is the dependency graph showing the disparity
1. StreamJsonRpc 2.0.52-alpha -> Nerdbank.Streams 2.0.165-beta -> System.Buffers (>= 4.5.0)
2. StreamJsonRpc 2.0.52-alpha -> System.Memory 4.5.1 -> System.Buffers (>= 4.4.0)

Now System.Memory 4.5.1 depends on 4.0.2.0

[2018-09-21 20:03] AbhitejJohn commented on #2547
Got this working with a manual specification in an app.config file for now.

[2018-09-21 20:56] nguerrera commented on #2430
@davkean @rainersigwald

There seems to be the convention for these items that:

* Identity is full path to the file in intermediate output directory
* FinalOutputPath is the full path to the item in the
* TargetPath is relative path from intermediate/ directory (generally just file name)

Do I have that right?

A few complications here:
 * We don't ever write runtimeconfig.json to intermediate di

[2018-09-21 21:42] nguerrera commented on #2430
#2548 is out with the simple fix that ignores these edge cases.

[2018-09-21 22:04] livarcocc commented on #2547
@dsplaisted can you take a look?

[2018-09-22 05:16] livarcocc commented on #1899
I believe this is being addressed by dotnet/sdk#2545.

[2018-09-22 17:53] Petermarcu opened #9762 "why is HKEY_USERS\.DEFAULT\Environment Path modified by the sdk setup?"
@rgl commented on [Fri Sep 14 2018](https://github.com/dotnet/core/issues/1942)

why is the `HKEY_USERS\.DEFAULT\Environment` `Path` registry key value (of the `SYSTEM` account) modified by the [sdk setup](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.4/2.1.4.md)?

before installing the sdk, the registry is:

![image](https://user-images.githubusercontent.com/43356/45577223-d094

[2018-09-24 04:16] shanselman commented on #2295
Here's a small improvement to reduce errors with @AArnott's excellent script. You can get errors like "This installation package could not be opened" if you aren't in System32 when doing the uninstall.

[code]

[2018-09-24 14:48] vitek-karas opened #2549 "Publishing classlib silently ignores --self-contained"
Repro (.NET SDK 2.1.500):
[code]

The `--self-contained` parameter does nothing for a publish on a classlib. This issue is not about the fact that SDK doesn't support self-contained class libs. This is about the fact that asking for self-contained doesn't fail. SDK will simply ignore the parameter.

It's probably not OK to start failing, but maybe issuing a warning about usage of a parameter which

[2018-09-24 15:02] vitek-karas opened #2550 "Publishing netcoreapp classlib as self-contained produces broken apphost"
Repro (SDK 2.1.500):
[code]

The above will produce an output folder which looks basically like a standalone app. It will have the runtime, the framework, everything in one folder. This alone is somewhat weird, as it's unclear what a stand-alone classlib should actually look like.

On top of that the SDK will also produce `apphost.exe` into the output. Please note that the file is always called `a

[2018-09-24 17:07] livarcocc commented on #2550
Closing this issue in favor of https://github.com/dotnet/sdk/issues/2549 as both share the same proposed solution. Fail to publish with self-contained for a library.

[2018-09-24 17:07] #2550 closed

[2018-09-24 17:08] livarcocc commented on #2549
@peterhuene this is around the same area that you are looking at. Could you take a look/comment?

[2018-09-24 20:05] peterhuene commented on #2549
I think a warning with `SelfContained` set in a lib project would make sense.  I have concerns over project references, though.  Right now the global `SelfContained` property is propagating to project references, which would cause a warning from every referenced lib project from an exe project that one would want to publish in a self-contained manner.

There's other issues to address in this area,

[2018-09-24 20:52] vitek-karas commented on #2549
Please also consider currently broken behavior:
[code]
Will actually produce what looks like a self-contained app (with the copy of the runtime and so on).
It will also include `apphost.exe` (always with that name), which fails to launch with a rather weird error message. (SDK copied over the original prebuilt `apphost.exe` but didn't customize it in any way).

[2018-09-25 04:48] danroth27 opened #2551 "Unable to update global tool to the latest prerelease version"
I tried updating to the latest prerelease version of the dotnet-httprepl tool, but there doesn't appear to be a way to do so using the update command:

[code]

Notice that the message recommends using the `--version` option, which doesn't appear to be supported with `update`:

[code]

[2018-09-25 04:49] danroth27 commented on #2551
A workaround is to uninstall and reinstall the tool.

[2018-09-25 15:34] livarcocc commented on #2551
@wli3 @peterhuene can one of you take a look?

[2018-09-25 17:17] peterhuene commented on #2551
I think `dotnet tool update` doesn't support a `--version` option currently because there's no wildcard that will get us the "latest version including prerelease" we can use for a `PackageReference`.  If we had that, I would expect a `--prerelease` option for `dotnet tool update` rather than a `--version` option, since the intent of the tool is not to install a particular version or range, but rat

[2018-09-25 22:50] livarcocc opened #9771 "As a .NET Core user (VS or not) I can target shared frameworks"
This covers the work for composable shared frameworks, runtime packs and targeting packs.

[2018-09-25 23:22] sbomer opened #2552 "ThrowExceptionForHR from an SDK task fails due to missing resource"
An MSBuild task in this repo that calls Marshal.ThrowExceptionForHR fails due to a missing resource assembly:

[code]

I'm not sure why this specific resource is needed by ThrowExceptionForHR. It looks like it may be caused by https://github.com/dotnet/roslyn/issues/26777.

[2018-09-26 04:03] danroth27 commented on #2551
Well, I think it would be nice to have a way to update a prerelease tool without having to uninstall and install it. Please consider broadening the semantics of `update` to allow for this. My intuition was the using `--version` with `update` would work and I was surprised that it didn't. It seems like a natural extension of the `update` command. You don't always want to update to the latest versio

[2018-09-26 04:51] peterhuene commented on #2551
I can be convinced of having `--version` for `tool update`.  It would at least unblock this scenario and provide some consistency with `tool install`.

@wli3 what are your thoughts?

[2018-09-26 04:55] dasMulli commented on #2551
I guess the NuGet feature request needed here is https://github.com/NuGet/Home/issues/912 (needing a `*-*` version pattern for the temp project)

[2018-09-26 06:06] danroth27 commented on #2551
In my case I specifically wanted to specify 2.2.0-* as the version. There are 3.0.0-* versions of the dotnet-httprepl tool, but they only work with .NET Core 3.0. I needed the latest 2.2 version.

[2018-09-26 16:01] dub505 commented on #2295
Can unnecessary runtimes be removed this way also?

[2018-09-26 17:53] nguerrera commented on #2342
I've submitted  https://github.com/dotnet/core/pull/1964 to update the release notes

The SDK version that changed this is not considered a "patch". See https://docs.microsoft.com/en-us/dotnet/core/versions/

[2018-09-26 20:36] nathansoz opened #9774 "dotnet commands that do an implicit restore don't support --interactive flag"
## Steps to reproduce
[code]

## Expected  behavior

I should be able to pass --interactive to build and have it passed to the implicit restore. This makes scenarios with authenticated feeds annoying as I have to explicitly call restore the first time I build.

## Actual behavior

Error (see above). A good workaround is adding the following in a Directory.Build.props

[code]

## Environment data
`

[2018-09-26 21:28] dsplaisted commented on #2547
It looks like this is the same issue as here: https://github.com/dotnet/corefx/issues/32457

[2018-09-26 22:35] sbomer commented on #1181
I think we should close this in favor of https://github.com/dotnet/sdk/issues/1899.

[2018-09-26 22:50] sbomer opened #2553 "Decide when an apphost should be created"
Framework-dependent apphost via `/p:UseAppHost=true` was implemented in https://github.com/dotnet/sdk/pull/2282, and https://github.com/dotnet/sdk/pull/2462 made `UseAppHost=true` by default. The result is that `dotnet publish --self-contained false --rid win-x64`, for example, produces a framework-dependent app with an apphost. See some related discussion in https://github.com/dotnet/cli/pull/946

[2018-09-26 22:53] sbomer commented on #1899
Opened https://github.com/dotnet/sdk/issues/2553 to track the question about implicit RIDs and apphost generation.

[2018-09-26 22:58] peterhuene commented on #2553
I'm currently tracking the work to enable this feature in https://github.com/dotnet/cli/issues/10043.

[2018-09-26 22:59] sbomer opened #2554 "Make apphost generation work correctly during incremental build"
The apphost generation currently will not overwrite an existing apphost. The result is that changing properties that influence the apphost (setting the target to WinExe/Exe, or adding resources to the managed dll that get copied over to the apphost via https://github.com/dotnet/sdk/pull/2545) won't result in a new apphost being created for incremental builds, which seems incorrect.

See the discus

[2018-09-27 00:29] nguerrera commented on #2554
I wonder if we can actually solve this on top of #2545 with just use  `Inputs="$(IntermediateAssembly)" Outputs="$(ApphostDestinationPath)"` on _CreateAppHost + removing the File.Exists check. If the output type changes, the managed assembly will also change. Are there other properties that can impact the apphost?

cc @peterhuene

[2018-09-27 00:35] nguerrera opened #2555 "AppHost intermediate path should use $(IntermediateOutputPath)"
See https://github.com/dotnet/sdk/pull/2545/files#r220762612

[2018-09-27 11:51] SimonCropp commented on #2342
given the proposed work around

[code]
will cause `The target "RunResolvePackageDependencies" does not exist in the project` in the old csproj format.

So in the context of a extension being consumed by other projects (both old and new csproj formats), how would you propose doing a "DependsOnTargets if exists"?

[2018-09-27 15:07] rainersigwald commented on #2554
If there are additional properties or items that matter beyond the assembly, you can use a pattern like we do for C#: collect all relevant properties into an item and write its hash to a file with `WriteOnlyWhenDifferent="True"`.

See https://github.com/Microsoft/msbuild/blob/90506c8f6c5e4b82a09bafa6ae62a41e9e7367bb/src/Tasks/Microsoft.Common.CurrentVersion.targets#L3404-L3431 (right now that only

[2018-09-27 16:26] danroth27 opened #2556 "Issue with multiproject template creation with 2.2 Preview2 SDK"
Repro steps:

1. Install the Blazor 0.6.0-preview1 templates: `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.6.0-preview1-final --nuget-source https://dotnet.myget.org/f/blazor-dev/api/v3/index.json`
1. Create a multi-project Blazor hosted template: `dotnet new blazorhosted -o BlazorHostedApp1`

Expected result: Template creates successfully

Actual result: Project template creation fails

[2018-09-27 18:37] livarcocc commented on #2556
This seems an issue with the template and with the post action to restore the projects created. I am moving the issue to dotnet/template, where they can help better correcting it.

[2018-09-27 18:37] #2556 closed

[2018-09-27 18:37] livarcocc commented on #2556
Issue moved to [dotnet/templating #1668](https://github.com/dotnet/templating/issues/1668) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-27 18:43] tonerdo opened #9778 "Allow building and running a single source file"
## Steps to reproduce

Grab a snippet of C# code from anywhere on the internet, try to build and run it without creating a new project.

## Expected  behavior

Like most other programming languages that make it really easy to get started with just a simple piece of code, I want to be able to do the same with C# (and supported languages) without having the overhead of creating a new project each ti

[2018-09-27 21:27] wli3 commented on #2554
https://github.com/dotnet/sdk/pull/2413/files#diff-fc9ca72fce3be7d1f0119f6666a307bdR148

I think genshim's incremental build is correct. Normal apphost should be similar to that

[2018-09-27 21:39] nguerrera commented on #2554
It should be similar to that if necessary, but I think the standard apphost might be a pure function of the managed assembly.

[2018-09-27 23:19] shanselman commented on #2295
@dub505 I believe those can just be deleted

[2018-09-28 12:00] atanasa opened #2557 "Build should fail or warn if a project uses features not supported by the build SDK"
As described in #987, when using the `dotnet` command to build a project, some features such as support for GAC are disabled. If you try to build a project that has opted-in to use references from the GAC, those project would fail with an error that those assemblies are not found.

My request is to try to detect uses of such features and report an error that is more user-friendly, and states clear

[2018-09-28 19:19] DaveSlinn opened #2559 "Builds by VS 15.8 are adding runtime binding redirect to .config"
Since upgrading from VS 15.7 to 15.8, one of the projects in our solution, a command line app, is getting a new section added to the .config file:
[code]
Here is a portion of the build log with Diagnostic verbosity:
[code]
The actual version of the System.Net.Http.dll getting placed into the bin/drop folder is v4.2.0.0, but I'm not sure it's getting that from.  Here are some of the lines of the bu

[2018-09-28 20:03] livarcocc commented on #2559
@dsplaisted please take a look.

[2018-09-29 14:48] TFTomSun commented on #1151
@brunzefb I'm not sure if I fully understood your problem. Does it has anything to do with the topic of this thread? When you use my solution you will always have project references in Solutions that contain both projects. When u pack and push ur packages ur normally pack and push them all together when they are in the same repository. I even pass one global packageversion to a pack operation of t

[2018-09-29 17:42] brunzefb commented on #1151
My problem is related to the "package reference" to "project reference" auto-conversion. What I am observing is that when I use project references in my solution, transitive dependencies do not work for another project consuming my library.  If all references, even to projects in my solution are package references, transitive dependencies from a third project work fine.

The package to project sol

[2018-09-29 18:03] TFTomSun commented on #1151
you mean that if package x has a dependency on package y you can access symbols of both packages when u just reference package x. and if u reference project x u dont get automatically access ti the symbols of project y? if that is ur problem I'll check it. but i am quite sure that project references behave the same like package references now. (since vs2017)

[2018-09-29 20:00] joaorosado commented on #1366
Wow I just lost hours on this issue.

My fix was to not only set Private to false like @nguerrera suggested, but also ExcludeAssets on the ProjectReference element. PrivateAssets did not seem to do anything.

My scenario is with a project that provides a API for a plugin implementation. The API assembly (and it's dependencies) must never be copied to the output folder of the plugin.
Before with pa

[2018-09-29 20:34] brunzefb commented on #1151
I will give that a try, thanks.

[2018-09-30 02:08] bradwilson opened #2560 "Solution-based project references broken across netcoreapp versions"
This is a weird bug that I discovered on @xunit and seems to have been introduced fairly recently.

The repro project is here: https://github.com/bradwilson/netcoreapp-build-failure-repro

Pull down the source, and run `msbuild /t:"Restore;Build"` from a VS 2017 command prompt. You will see this build failure:

![image](https://user-images.githubusercontent.com/16944/46252212-8850f180-c41a-11e8-98

[2018-09-30 02:27] nguerrera commented on #2560
Thanks for the report. This is a duplicate of  https://github.com/Microsoft/msbuild/issues/3626, which was introduced in VS 15.8 and fixed for VS 15.9.

See https://github.com/Microsoft/msbuild/issues/3626#issuecomment-413889441 for workaround (setting AddSyntheticProjectReferencesForSolutionDependencies=false).

[2018-09-30 02:27] #2560 closed

[2018-10-01 11:16] dasMulli commented on #2521
@davkean ping 😄

@rainersigwald @dsplaisted @peterhuene @livarcocc any objections?

[2018-10-01 14:04] piotrksiazekfitech commented on #1967
Hello,
thx for those points, they were vary useful.
I had MSB4186 on build server but after instaling VS 15.8 it changed to error NETSDK1064: Package <some package>, version 5.2.3 was not found. Event that it was present in "C:\Windows\System32\config\systemprofile\.nuget\packages" folder. So adding NuGet.config file with globalPackagesFolder set to my project packages folder resolved the issue.
I

[2018-10-01 15:13] rainersigwald commented on #2521
I'm still worried about the effect in VS on projects that have a reference to an SDK project but are themselves a non-SDK csproj-project-system project. Would love to find out that that's all been fixed but I don't think it has, yet.

[2018-10-01 16:51] nguerrera commented on #2521
cc @pilchie My understanding is that we intend for this to be the default in 3.0

Are you worried about a mix of projects with ProduceReferenceAssembly=true/false irrespective of SDK/non-SDK? Shouldn't that be supported?

What is it that might not be fixed?

[2018-10-01 16:55] rainersigwald commented on #2521
Yes--but it gets worse if all SDK projects flip the switch.

Incremental build scenarios in VS like those fixed in the CPS project system by https://github.com/dotnet/project-system/pull/2414 and its follow-ups.

[2018-10-01 17:01] nguerrera commented on #2521
@panopticoncentral @Pilchie Are there such issues in the classic project system still unfixed? Are they tracked? Is it feasible to get them fixed in dev16?

[2018-10-01 23:16] #2554 closed

[2018-10-01 23:32] nguerrera commented on #2430
Fixed by #2548

[2018-10-01 23:32] #2430 closed

[2018-10-02 00:41] jaredpar opened #2562 "Publish error messages seems incorrect"
Repro steps

1. Clone https://github.com/dotnet/roslyn
1. `Restore.cmd`
1. `Build.cmd`
1. `cd code\roslyn\src\Compilers\CSharp\Test\Emit`
1. dotnet publish --no-restore -f netcoreapp2.1

Output is the following:

[code]

The target frameworks listed in the error messages appears to be non-sensical here:

This project targets netstandard 1.3 hence is compatible with net46

This is true given that i

[2018-10-02 06:54] mgravell commented on #2547
And certainly the same as https://github.com/dotnet/corefx/issues/32511

[2018-10-02 07:33] andriysavin opened #2563 "project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'"
I have a .Net Core console app (meaning it's built using .NET Core SDK) which targets `net471`, and references a `netstandard2.0` library project. I'm trying to publish it to an Azure WebJob using VS Publish command from project context menu, and getting error like this after publish starts:

If I change target framework to `netcoreapp2.1` the error doesn't happen.

NuGet version: 4.6.0
dotnet.exe

[2018-10-02 11:42] evgeny-burmakov commented on #2491
Another curious thing I have met with next setup:
A.dll - is netstandard 1.4 SDK style
B.dll - is net462 SDK style refer A.dll
C.dll - is net462 classic project style refer A.dll

When compile solution B.dll output directory contains System... libraries, but C.dll output doesn't.
There are compatibility assemblies which theoretically shouldn't be depended on project style. Or have I missed somethi

[2018-10-02 13:47] tmds opened #2564 "Suggestion: --disable-parallel when running dotnet restore on a 1 cpu machine"
dotnet restore operations time out when running in containers with low cpu assignment (e.g. 1 cpu or less). See https://github.com/NuGet/Home/issues/6742

As a workaround we are adding --disable-parallel. This flag is documented to prevent restoring multiple projects in parallel. It also has the effect that it limits the nr of concurrent package restores to 1 instead of 16.

Perhaps it makes sense

[2018-10-02 14:04] tmds commented on #2564
This was meant for cli repo.

[2018-10-02 14:04] #2564 closed

[2018-10-02 15:16] rainersigwald commented on #2521
Ok, I did a small proof-of-concept that things are still broken.

[MixedSolutionWithRefAssemblies.zip](https://github.com/dotnet/sdk/files/2438414/MixedSolutionWithRefAssemblies.zip)

This solution has:

* An SDK netstandard library that produces reference assemblies
* A net472 .exe
* A net472 unit test project

The unit test project tests library functionality by calling the app that calls the li

[2018-10-02 16:18] livarcocc commented on #2562
@peterhuene can you take a look?

[2018-10-02 16:19] livarcocc commented on #2563
Does this work if you publish from the command line using `dotnet publish`?

[2018-10-02 16:20] jaredpar commented on #2562
In addition to the error messages being wrong I'm interested if this is intended to be a supported scenario. I can publish simple DLLs that I create from `dotnet new library` but get errors here. Hence if it's meant to be supported then probably should file a follow up bug for having errors at all.

[2018-10-02 16:35] sbomer commented on #2555
Fixed by https://github.com/dotnet/sdk/commit/9e5b84ba1438d28f7affb81e312268f20e070eae

[2018-10-02 16:54] andriysavin commented on #2563
@livarcocc Yes, it works for `dotnet publish`, and for publish to folder from VS.

[2018-10-02 17:12] nguerrera commented on #2521
Thanks, @rainersigwald. I filed this as https://github.com/dotnet/project-system/issues/4079, which we think from the discussion yesterd would be blocking this.

[2018-10-02 18:55] b-anand commented on #1791
I have similar problem. I have a utilities project targeting .net standard which references a third party nuget. I have another exe project referencing the utilities project.

The third party nuget has both .net framework and .net standard dll in it but they have been compiled with different versions of Unity nuget (Unity made a breaking change across version 4 and 5 by changing the dll names). Th

[2018-10-03 01:01] dsplaisted opened #9794 "Support commands to download targeting and runtime packs"
For .NET Core 3.0, we expect to separate [targeting packs](#10006), which contain the assets needed at build time when targeting .NET Core 3.0 from [runtime packs](#10007), which will include the platform-specific runtime components for .NET Core 3 which are deployed with self-contained apps.

Targeting packs will ship as part of the .NET Core SDK, and targeting packs and runtime packs will be acq

[2018-10-03 02:11] joshudson commented on #1434
@livarcocc : It appears your fix didn't make it to the cross-platform version of msbuild; the problem still exists on non-Windows build architectures the moment the <RuntimeIdentifiers> tag is added to the project file.

[2018-10-03 02:33] joshudson opened #9795 "Support building for multiple RIDs, similar to how TargetFrameworks works"
## Steps to reproduce

Have project file

    <Project Sdk="Microsoft.NET.Sdk">
      <PropertyGroup>
        <TargetFrameworks>netcoreapp2.1;netcoreapp2.0</TargetFrameworks>
        <RuntimeIdentifiers>win;linux-x64</RuntimeIdentifiers>
      </PropertyGroup>
    </Project>

run `dotnet build`

## Expected  behavior

Builds .dlls, that is the cross join between the RuntimeIdentifiers and TargetFr

[2018-10-03 13:33] mbp commented on #1707
I experienced this problem as well, and solved it by using correct casing for filenames

E.g. there was a folder `wwwroot/Scripts` but `tsconfig.json` had `"outFile": "wwwroot/scripts/foo.js"`. Changing the outfile directory to capital S fixed it.

[2018-10-03 14:43] rainersigwald commented on #1434
@joshudson Can you please file a new issue at https://github.com/Microsoft/msbuild/issues/new with details on how to reproduce your problem? The fix for this old bug applied equally to all OSes.

[2018-10-03 22:26] AArnott opened #2568 "System.ValueTuple is copied locally for net472 targeted apps"
Given this project:

[code]

Why does building it copy System.ValueTuple.dll into the app's bin folder if net472 guarantees that System.ValueTuple.dll is already in the GAC?

[2018-10-03 22:28] AArnott commented on #2568
CC: @tmat

[2018-10-03 22:28] livarcocc commented on #2568
@dsplaisted can you take a look?

[2018-10-04 02:18] joshudson commented on #1434
@livarcocc : Well that was spooky. The problem doesn't exist today. I wonder if the nuget servers were sick yesterday.

[2018-10-04 16:39] johnbeisner opened #9802 "Flexibility in SDK install folder"
As a Visual Studio user, I can specify the folder for the .NET Core SDK that is different from c:\program files\dotnet so that I can reduce the footprint on the system drive.
_________________________________
Visual Studio will have flexibility in its installation location - therefore, SDK will also have flexibility in its installation location.

**Scenarios**
Installations:
1. an SDK installation

[2018-10-04 18:55] PixleProgrambetaxl commented on #335
+1

[2018-10-04 18:56] PixleProgrambetaxl commented on #1967
+1

[2018-10-05 02:31] dsplaisted opened #9810 "Consider tooling to help handle situations where assemblies are unintentionally lifted out of the shared framework"
We have some libraries which are available as NuGet packages and are also included in a shared framework.  Examples include System.Collections.Immutable and System.Reflection.Metadata, as well as all of the packages which are part of Microsoft.AspNetCore.App.

If an application depends on a NuGet package that includes a later version of the library than is included in the shared framework, then th

[2018-10-05 04:53] andycmaj commented on #1151
maybe naive, but i have been using `Conditionals` like this:

[code]

that, combined with another CLI-provided property in the conditional makes for a pretty nice local dev experience and still works when the solution consuming the reference is built in isolation in ci pipelines.

[2018-10-05 05:01] TFTomSun commented on #1151
@andycmaj I think it's not feasible to spread this logic all over you repositories. The logic I provided is implemented at one central point. The advantage is that u can adapt the logic easily, that u don't have to explain such thing to every developer and that u get rid of paths within ur project files,which means you can easily move projects to other folders or repositories.

[2018-10-05 05:04] TFTomSun commented on #1151
@brunzerfb regarding wildcard referencing...I have posted a workaround to a current issue here:

[2018-10-05 06:31] andycmaj commented on #1151
thanks @TFTomSun i'll take a look at your solution!

[2018-10-05 15:05] mdownermindstream commented on #1539
Not sure if it helps, but for me this was due to having nuget packages for DLLs that also existed with local installed .NET versions. The project references seem to reference the local DLLs while the csproj file references the nuget packages. I removed the references in the project References section of the offending DLLs but kept the nuget packages installed. The offending DLLs/references were Sy

[2018-10-05 16:48] alastairs commented on #335
I tried out a slightly modified form of @wadewegner's Gist, but I found that I had to include a line `<Reference Include="netstandard">` in order for build to succeed (the application depends on libraries which only target `netstandard2.0`). However, when I came to run the application within its Docker container, it crashed with the following exception:

[code]

I've probably missed something, but

[2018-10-06 01:41] andycmaj commented on #1151
Interestingly, I was wondering why you'd depend on a nuget `PackageReference` for a project that WAS in the same solution as the consumer :)

Basically, we have shared libraries that we publish as nuget packages, and many separate services that each consume the shared libraries.

The services are independently deployable/buildable/etc. but for development environments, the relative path between th

[2018-10-06 03:09] brunzefb commented on #1151
A couple of learnings on this.   Dotnet Sdk 2.1 did work and produced correct transitive dependencies, but only if the packages were built with dotnet msbuild /t:pack /p:PackageVersion=1.2.3, after building the package with dotnet build.

[2018-10-06 03:54] TFTomSun commented on #1151
@brunzefb using only dotnet pack did not work? What happens then? Or in which case did packing not work as expected?

@andycmaj well I have such a similar solution already for a long time before msbuild 15 I used to add SmartReference itemgroups which looked pretty much like PackageReferences today. The idea behind the concept is to define just a reference and not it's type. The type of the refere

[2018-10-07 18:31] Pilchie commented on #2521
Ugh - I wasn't aware that there were still issues here :(

[2018-10-08 15:45] darraghjones commented on #1468
@dsplaisted

Why do you say this? Is this documented some where? Thanks.

[2018-10-08 19:36] steveharter commented on #1468
@darraghjones I don't believe the assembly-to-assembly binding rules are documented for .NET Core.

FWIW the actual code to compare is located in [assemblybinder.cpp](https://github.com/dotnet/coreclr/blob/3fca50a36e62a7433d7601d805d38de6baee7951/src/binder/assemblybinder.cpp#L71
)

[2018-10-08 21:55] carlosrpg commented on #1791
I Have the same problem here, I Have a net472 app that requires to be full framework, and I consume a nuget (netStandard2.0), this nuget have a reference for another nuget that provides both net45 and netstandard2.0.
Now I'm stuck at using the net45 version cause I can't control how the targetframework will be choosed. This would not be a problem using packages.config because I could just add a re

[2018-10-08 23:17] tmat opened #2573 "Publishing is not incremental"
Repro project:
[code]

Run msbuild twice:
`msbuild /bl:Repro1.binlog`
`msbuild /bl:Repro2.binlog`

The files are copied twice.

![image](https://user-images.githubusercontent.com/41759/46638412-9f2bce00-cb15-11e8-9104-7866f9a2ebe4.png)

[2018-10-08 23:18] tmat commented on #2573
@nguerrera FYI

[2018-10-08 23:44] tmat opened #2574 "Make it easier to express dependencies among projects without referencing output assembly"
It is sometimes necessary to build project A before project B without project B referencing the assembly that A generates. In such cases one can use `ProjectReference` with `ReferenceOutputAssembly="false"`.

This however is not sufficient in all scenarios, especially when these projects target different, incompatible frameworks and/or multi-target.

Turns out 3 properties need to be set to make t

[2018-10-08 23:45] nguerrera commented on #2574
cc @rainersigwald

[2018-10-09 00:41] livarcocc commented on #2573
@peterhuene

[2018-10-09 06:08] peterhuene commented on #2573
I'll see what I can do to fix this as part of the copy-local for build changes.

[2018-10-09 14:49] rainersigwald commented on #2574
Any change here would need to live on the MSBuild side of the fence, because you can have dependencies to SDK projects from non-SDK projects.

[2018-10-09 14:50] rainersigwald commented on #2574
This issue was moved to Microsoft/msbuild#3843

[2018-10-09 14:50] #2574 closed

[2018-10-10 16:55] bricelam commented on #1564
We had another case reported where the directory name contained **spaces**.

[2018-10-11 21:05] DaveSlinn commented on #2559
Hi @dsplaisted, is there any additional info I can provide to assist diagnose this?

[2018-10-12 20:10] dsplaisted commented on #2559
@DaveSlinn If you are able to [Provide a Binary Log](https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b) of your build, that would help us investigate this issue.  Thanks!

[2018-10-12 22:11] DaveSlinn commented on #2559
I'm out of the office until Tuesday. I'll do asap when I return.

[2018-10-13 00:17] sbomer opened #2583 "SDK targets for post-build transformations"
Numerous tools exist today which perform some transformation on IL or other files that are deployed with a published app. Examples include:

- [ILLink](https://github.com/mono/linker), which does tree-shaking on IL assemblies.
- [Native dependency trimming](https://github.com/mono/linker/blob/master/corebuild/integration/ILLink.Tasks/ILLink.Tasks.targets#L27) in ILLink.Tasks, which removes some na

[2018-10-13 00:47] morganbr commented on #2583
Thanks for putting this together, @sbomer. Having a supported way to find and change all of the files that would be included in publishing (including all managed assemblies and even miscellaneous files in the app) would make constructing these tools much more straightforward. Phase ordering will also help a lot -- I could easily imagine users wanting to run ILLink, followed by CrossGen, Single exe

[2018-10-13 00:54] nguerrera commented on #2583
@peterhuene

@sboemer This is a great write up and exactly what I was hoping to see next after our chat. Thanks!

[2018-10-13 00:57] nguerrera commented on #2583
Cc @tmat

[2018-10-13 01:06] nguerrera commented on #2583
Good point. We are also working to effectivity make publish an optional step for common cases in 3.0. Build output will include nuget deoendencies and be xcopyable to other machines.

I'm hoping we can avhieve this while reducing code duplication between build and publish (for example, today they have separate paths for deps.json generation). Ideally this could help mean that such a tools like thi

[2018-10-13 13:47] gaviriar commented on #335
Hi there, I also updated my project like the [example](https://github.com/dotnet/sdk/issues/335#issuecomment-271186591) by @dasMulli  but for net472.

My build throws a couple of warnings and the error at the end that `mscorlib.dll` could not be found:

[code]

Upon some investigation, and searching through the .nuget/packages:

[code]

[code]

It seems like the `mscorlib.dll` file is missing in t

[2018-10-15 14:20] dasMulli commented on #335
@gaviriar I think something is a bit off in your project file for this workaround, just tested building for 4.7.2 using:

[code]

Note that the `GeneratePathProperty` metadata on `PackageReference` is only available in VS 15.9 / CLI 2.1.500+ (previews).

[2018-10-16 00:28] KirillOsenkov opened #9856 "Stamp Microsoft.DotNet.MSBuildSdkResolver.dll with Git SHA"
I'm looking at Microsoft.DotNet.MSBuildSdkResolver.dll this version:

[code]

I'd like to find the source code to debug this .dll. I'm not sure if it's SourceLinked and/or if the .pdb is embedded.

It would be nice to stamp the Git SHA into the .dll as an assembly-level attribute so it's easy to pull the source code and check out the matching version.

Bonus: SourceLink the .pdb, make sure the .dl

[2018-10-16 05:42] kwonmoose opened #2586 "Visual Studio for mac Microsoft.AspNetCore.App downgrade Error"
I am Korean. I wrote it by translating it into Google Translator. Thank you for your patience.

Currently I am using Visual Studio for Mac and I am developing API and WebSite with dotnet core.
The first version that started development is 2.1.1, and when 2.1.2 comes out, it tries to update it and gives up as a downgrade phenomenon and tries to update to 2.1.5 version now.
The same as last time 2.1

[2018-10-16 16:13] DaveSlinn commented on #2559
I couldn't attach here due to size, so I post to azure here: https://gmsca.blob.core.windows.net/cor/msbuild.binlog

[2018-10-16 17:10] livarcocc commented on #2586
Can you copy/paste the error message you are getting and/or your csproj?

[2018-10-16 19:36] dsplaisted opened #9859 "Add test that each template builds correctly in core-sdk"
In https://github.com/dotnet/cli/pull/10158/commits/a2896af8a92ad6ec9672e66963b4b2077e58ce9f, I removed a test which tested that none of the new project templates used the Microsoft.DotNet.Cli.Utils NuGet package.  We shouldn't need to test that the package isn't used anymore, but it would be good to have coverage that each of the templates create projects that build successfully.  However, this c

[2018-10-16 22:46] nguerrera opened #2589 "Decouple build engine from msbuild under test in build scripts"
Main actual scenario impacted: clone repo, build, requires VS. Also causing issues for perf tests.

Plan:

- [x] Remove vswhere from global.json completely
- [x] Put vswhere as package dependency of test
   (there's an implicit vshwhere of 2.5.2 now, so not needed)
- [x] Add a -testFullMSBuild switch (extracted from trailing $properties that are passed to common\build.ps1, and can be intercepted i

[2018-10-16 23:06] nguerrera commented on #2589
cc @dsplaisted

[2018-10-17 01:17] KwonMoose commented on #2586
@livarcocc

There are two types of error messages.

1. Error NU1605: Detected package downgrade: Microsoft.AspNetCore.App from 2.1.5 to 2.1.1. Reference the package directly from the project to select a different version.
2.  Error: NETSDK1061: Your project has been restored using Microsoft.NETCore.App version 2.1.0, but the current setting uses version 2.1.5 instead. To resolve this issue, you mu

[2018-10-17 01:18] KwonMoose commented on #2586
There are two types of error messages.

Error NU1605: Detected package downgrade: Microsoft.AspNetCore.App from 2.1.5 to 2.1.1. Reference the package directly from the project to select a different version.
Error: NETSDK1061: Your project has been restored using Microsoft.NETCore.App version 2.1.0, but the current setting uses version 2.1.5 instead. To resolve this issue, you must use the same set

[2018-10-17 04:35] livarcocc commented on #2586
This probably indicates that you have hard-coded versions of these dependencies on your csproj. Or, you may be missing something on them.

Would it be possible for you to paste the contents of the csprojs here?

[2018-10-17 11:05] rcfearn commented on #2116
I get this error when deploying via Octopus to IIS - I have to "stop" IIS and "start" it rather than "restart" it to clear the issue.

[2018-10-17 15:03] tebeco opened #9862 "dotnet-install.ps1 fails to download sdk using remote powershell + proxy"
## Steps to reproduce
* Need to be behind an NTLM Proxy
* Multiple server where you need to install dotnet SDK remotly
* From your pc (or a trigger in your CI for example) :
[code]

## Expected  behavior
Should be able to download any data

## Actual behavior
[code]

If i use windows "Remote Desktop" (mstsc) on these server, and i execute the exact same "powershell lambda" it does work properly

I

[2018-10-18 07:48] gcraciun commented on #2526
This is affecting us in production. Can I get a status update?

[2018-10-18 15:11] Pilchie opened #2593 "For .Net Core 3.0, in "Application" tab of project properties page, the highest optional "Target framework" is “.NET Core 2.2”, not ".NET Core 3.0"."
_From @YunWeiaa on October 18, 2018 6:51_

### Description:
1. After installing .net core SDK 3.0.100-alpha1-009676 with Runtime 3.0.0-preview1-27016-04 against d16.0stg
2. I create a new .net core project via VS and open property pages, the default TFM is ".NET Core 2.1".
3. If I want to change the higher target fx, it only has “.NET Core 2.2”, not ".NET Core 3.0".
![default netcore](https://user

[2018-10-18 15:11] Pilchie commented on #2593
@livarcocc  - the list of supported TFMS needs to be updated.

[2018-10-18 16:48] livarcocc commented on #2526
Can you disable parallel builds and see if that fixes it for you? You can disable it with something like this `MSBUILDDISABLENODEREUSE=1`.

[2018-10-18 16:50] livarcocc commented on #2593
@Pilchie roger that.

[2018-10-18 16:51] livarcocc commented on #2593
@nguerrera can you take care of this?

[2018-10-18 16:57] nguerrera commented on #2593
Yes. I thought I added test coverage to prevent this. But it must not be working as I expected or I'm remembering something different but similar. I'll close the test gap.

[2018-10-18 17:43] nguerrera commented on #2593
The code flow still hasn't happened, but @dsplaisted is working on it.

I am closing this since the bug is fixed and just needs to flow to core-sdk.

[2018-10-18 17:43] #2593 closed

[2018-10-19 00:19] AArnott commented on #2523
What's happening here? Now I'm seeing this error in VS itself, blocking intellisense and builds:

[2018-10-19 01:36] livarcocc commented on #2523
I am going to move this issue over to NuGet, where we can get quicker and better answers to this.

[2018-10-19 01:37] livarcocc commented on #2523
This issue was moved to NuGet/Home#7414

[2018-10-19 01:37] #2523 closed

[2018-10-19 10:55] ibanezang commented on #2334
Hello, I'm getting the same error. I just installed the latest .NET Core SDK and getting this error.

[code]

How to fix this error?

[2018-10-19 17:20] tmds opened #9868 "DOTNET_CLI_HOME usage"
DOTNET_CLI_HOME is used in this repo and it is showing up in a number of other repos.

Based on the usage, I wonder if the variable could be eliminated and be replaced with `Environment.GetFolderPath(SpecialFolder.xxx, SpecialFolderOption.Create)`.

[2018-10-19 22:14] dfederm opened #2597 "Publish is not recursive"
For a project:
[code]

I can do `msbuild` (or `msbuild /t:Build`), and the execution will consist of an outer build which simply does an inner build for each TFM (adding a specific `TargetFramework=<tfm>` global property for each).

I would expect `msbuild /t:Publish` to behave the same way, to simply have an outer build which did an inner build for each TFM. Instead, the following error is shown:

[2018-10-19 23:30] livarcocc commented on #2597
I believe we have a bug for this already.

cc @peterhuene

[2018-10-21 22:33] Pilchie opened #2599 "CreateAppHost runs and fails during VS design time build if project isn't already built"
## Repro steps

1. Install .NET Core 3.0 SDK (I had 3.0.100-alpha1-009697)
2. `dotnet new wpf`
3. Open VS.
4. Open the project created in 2.

## Result

[code]

## Expected
We probably shouldn't run this target if the assemblies it's going to work on don't exist.

[2018-10-22 16:24] karelz opened #9873 "Xaml files outside the current csproj's directory do not appear in the VS solution explorer"
Moved (manually) from issue https://github.com/dotnet/core/issues/2010

From @mjrousos

In a .NET Core 3 (3.0.100-alpha1-009689) WPF project, including a XAML file from outside the csproj's directory will include the file in the project but not display it in Visual Studio's solution explorer, making it difficult to navigate to during development time.

Sample csproj demonstrating the issue:

[code

[2018-10-22 17:43] #1899 closed

[2018-10-22 18:24] ryanbrandenburg opened #2601 "Implicit selection of `Microsoft.AspNetCore.App` broken in new SDK"
When we upgraded to the new SDK (2.2.100-preview3-009430) we started experiencing the following errors in our templating tests:

[code]

I've created a minimal repro of this issue [here](https://github.com/ryanbrandenburg/ImplicitSDKDemo). You can work around this by explicitly giving the version of `Microsoft.AspNetCore.App` as ` Version="3.0.0-alpha1-10653"`, but it's my understanding that the i

[2018-10-22 18:38] natemcmaster opened #2602 "Warning NETSDK1071 cannot be suppressed"
In ASP.NET, we use DisableImplicitFrameworkReferences and explicit references to Microsoft.NETCore.App because we want to explicitly control what goes into things like the LZMA, shared frameworks, etc. In the 2.2.0-preview3 SDK, this produces an warning in our build that we cannot suppress.

Can we suppress this warning when DisableImplicitFrameworkReferences == true? Presumably, anyone setting th

[2018-10-22 18:40] livarcocc commented on #2601
@dsplaisted can you take a look?

[2018-10-22 18:48] dsplaisted commented on #2602
@natemcmaster You should be able to set the `AllowExplicitVersion` metadata on the `PackageReference` to `true` in order to suppress this warning.

This is supposed to happen [automatically](https://github.com/dotnet/sdk/blob/62632dd6369517e9a7a01dd68cbbdc126ca43a5f/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.targets#L115-L118) if you have `DisableImplicitFrameworkRe

[2018-10-22 19:21] dsplaisted commented on #2601
Are you trying to target netcoreapp3.0 using a 2.2 SDK?  That's what it looks like is going on in the repro repo.  You should use a 3.0 SDK for that (not that there won't be any issues, but at least you'll be in a situation that's supposed to work).

[2018-10-22 19:46] ryanbrandenburg commented on #2601
Our consumption of a 3.0 SDK [is blocked](https://github.com/aspnet/BuildTools/pull/786#issuecomment-431444194). If the answer to this issue is that we must be on 3.0, what is the timeframe of that being resolved?

[2018-10-22 20:15] SharePointSean commented on #2068
It's broken again.

![image](https://user-images.githubusercontent.com/881994/47316689-b7234780-d615-11e8-929e-4eab33b751b5.png)

[2018-10-22 21:40] livarcocc commented on #2068
@SharePointSean do not assume that this is the same issue as above. Can you please file a new, separate issue for your problem with details on how to repro it so that we can investigate?

[2018-10-22 23:01] peterhuene commented on #2599
I have a fix that's manually verified.  Attempting to devise an automated test that would be similarly fixed.

[2018-10-23 03:18] KwonMoose commented on #2586
<Project Sdk="Microsoft.NET.Sdk.Web">
	<PropertyGroup>
		<TargetFramework>netcoreapp2.1</TargetFramework>
        <RuntimeFrameworkVersion>2.1.5</RuntimeFrameworkVersion>
	</PropertyGroup>
    <ItemGroup>
      <PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.5" />
      <PackageReference Include="Newtonsoft.Json" Version="11.0.2" />
      <PackageReference Include="NLog.Web.AspNe

[2018-10-23 04:28] livarcocc commented on #2586
Does this happen during publish?

[2018-10-23 04:31] KwonMoose commented on #2586
No
project open and build errors.
I do not get an error when publishing, but I did not check if the version being published is 2.1.5 or 2.1.1.

[2018-10-23 04:41] livarcocc commented on #2586
Can you provide us with a binlog? you can get one by running `dotnet build /bl` on the failing project and then sharing the `.binlog` file.

Note that if you have secrets in your project, they will be logged in this binlog.

[2018-10-23 07:29] tmds opened #2605 "source-build rid fails to publish: targeting runtime did not resolve any runtime-specific packages"
[source-build](https://github.com/dotnet/source-build) automagically patches the known rid files when built on a new version of a distro.

The publish operation using that new rid fails with an error message: Project is targeting runtime 'xxx' but did not resolve any runtime-specific packages. This runtime may not be supported by the target framework.

This message comes from:

https://github.com/

[2018-10-23 14:19] nguerrera commented on #2605
That check wouldn’t disallow getting the assets from linux-x64 or another compatible RID. With EnsureRuntimePackageDependencies=false, does the resulting self-contained app actually have all the runtime files?

The rid graph used by nuget restore is obtained from the Microsoft.NETCore.Platforms package (not hard coded, another package could also supply runtime.json). If that's pulled from nuget.or

[2018-10-23 14:35] tmds commented on #2605
Ah, based on the error message I had assumed the RID was known but there were no specific packages that matched the rid exactly.
For an unknown rid, you get the same error message.

I published --self-contained=false which worked. --self-contained is missing the files.

I knew source-build was doing some patching for the rid. So my expectation was the source-build sdk would be able to publish for

[2018-10-23 15:43] nguerrera commented on #2605
Note that --self-contained=false would not work in general either if there were rid-specific, non framework assets in the graph.

[2018-10-23 16:39] cortex93 commented on #1791
Same issue : https://github.com/NuGet/Home/issues/7385

[2018-10-24 12:30] tmds commented on #2605
That is a desired change. For source-build, we prefer the resulting sdk as much as possible to be self-sufficient.

I'll close this issue.

PS: Maybe the sdk should give a clear error message when trying to publish for an unknown rid. I did not realize this was the cause based on the message I got.

[2018-10-24 12:30] #2605 closed

[2018-10-24 17:26] richaverma1 opened #2617 "Error when restore .Net Core 2.2 Console application via VS #26"
_From YunWeiaa on 10/23_

### **Steps to reproduce**

Create a new .net core console application via VS,
Restore

### **Expected behavior**

Restore succeeded with no warnings and no errors.

### **Actual behavior**

Error NETSDK1065 Cannot find app host for win-x64. win-x64 could be an invalid runtime identifier (RID). For more information about RID, see https://aka.ms/rid-catalog.

![47351468-9a

[2018-10-24 18:33] dasMulli opened #2618 "Make _TargetFrameworkVersionWithoutV public"
Building logic on top of the target framework version is super helpful, but it would be easier if _TargetFrameworkVersionWithoutV was public. current logic only duplicates it. It is super small (`.TrimStart('vV')`) and should be exposed publicly.
Mabe we can find a better name but that's irrelevant. Having something to compare against is helpful in custom build targets.

Is this reasonable to do?

[2018-10-24 18:54] rainersigwald commented on #2618
We've been talking (https://github.com/Microsoft/msbuild/issues/3212#issuecomment-413956874) about introducing a new MSBuild version-comparison function that would ignore leading `[vV]`. Would that be enough for your needs?

[2018-10-24 22:26] natemcmaster opened #2620 "Upgrading from 2.2 SDK to 3.0 introduces NETSDK1047 error"
We're trying to upgrade the master branch of aspnetcore to build with the latest 3.0.100-alpha builds, and running into this error which didn't happen in the 2.2 SDK.

I can't figure out why I'm getting an error about `win-x64` because we don't set this RID in our project files. I can provide a binlog if you want.

**To reproduce:**
1. Clone https://github.com/aspnet/KestrelHttpServer/tree/a807316

[2018-10-24 22:32] livarcocc commented on #2620
@peterhuene any chance this is happening because of our changes to include a host by default?

[2018-10-24 22:36] peterhuene commented on #2620
More than likely.  A binlog would be useful as to why the restore didn't take place for `win-x64` to get the apphost in the assets file (note: this is temporary functionality until we can get "download-only" nuget packages).

[2018-10-24 22:40] natemcmaster commented on #2620
[KestrelHttpServer.binlog.zip](https://github.com/dotnet/sdk/files/2512591/KestrelHttpServer.binlog.zip)

[2018-10-25 00:51] KwonMoose commented on #2586
I tried to try it with the method you provided, but if you run Visual Studio again after you update the Visual Studio, it will be 2.1.1 at first, then change to 2.1.5 after a few seconds without updating.

[2018-10-25 01:12] peterhuene commented on #2620
It appears setting `HasRuntimeOutput` explicitly to true is the cause, which is done here:

https://github.com/aspnet/KestrelHttpServer/blob/a8073167e7adcca0d6708d4da56e43066535e3a5/test/Directory.Build.props#L16

There appears to be a discrepancy between our defaulting of `UseAppHost` based on `HasRuntimeOutput` and `DefaultAppHostRuntimeIdentifier` on `_IsExecutable`.

This discrepancy is causin

[2018-10-25 01:33] HennyH opened #9883 "Build tools look for ._* variants of required files on OSX"
## Steps to reproduce

Download the .NET Core SDK binaries for OSX and extract to a volume which stores extended file attributes as `._*` alongside the actual files. Then perform a `dotnet restore` in any project folder.

## Expected  behavior

The restore command should complete successfully.

## Actual behavior

[code]
The contents of the ImportAfter folder are:

[code]

The issue can be resolve

[2018-10-25 04:06] livarcocc commented on #2586
This should not be specific to VS. Just drop to the command line and run the command I suggest. If it also fails there, then please share the log file. Without it, it will be very hard to help you.

[2018-10-25 12:06] Lakritzator commented on #2599
Good to see that a fix is already made!

I have this issue which prevents an automated AppVeyor build, it happens with both 3.0.100-alpha1-009701 and the current 3.0.100-alpha1-009703:

The log is here: https://ci.appveyor.com/project/dapplo/dapplo-caliburnmicro
But if you only want to see the error:
[code]

How can I see in what version the fix is?

[2018-10-25 15:36] natemcmaster commented on #1046
@nguerrera @dsplaisted what do you think about doing this for 3.0? I ran across a new scenario in which this would be useful: self-contained apps that do dynamic assembly loading of components with rid-specific dependencies. See https://github.com/dotnet/designs/pull/47 and https://github.com/natemcmaster/DotNetCorePlugins/issues/14

[2018-10-25 17:33] #2620 closed

[2018-10-25 18:12] peterhuene commented on #2599
Hi @Lakritzator, your failure is unexpected as I would expect `Application.Demo.dll` to build, but I don't see it building in the log.

Would it be possible to share an MSBuild binlog with me so I can investigate?

[2018-10-25 19:16] Lakritzator commented on #2599
Ok, working on it.

[2018-10-26 10:35] turowicz commented on #2295
How do we do this for Mac or Linux?

[2018-10-26 10:36] turowicz commented on #2295
cc @nguerrera

[2018-10-26 17:45] chcosta opened #2624 "Mac builds fail on "Hosted macOS" agent pool"
the Mac builds fail on the "Hosted macOS" agent pool. We'd really like the hosted Mac pools to be usable for all Mac builds. In the near future we'll likely deprecate the self-hosted Mac agent pool (DotNetCore-Mac). I'll file an issue, someone will need to investigate what dependency is missing from the hosted Mac agents and either bootstrap that dependency in the build or work with @dotnet/dnceng

[2018-10-27 11:37] Lakritzator commented on #2599
I just wanted to report that the error also occurs with 3.0.100-alpha1-009706

[2018-10-27 11:51] Lakritzator commented on #2599
I am running 009706 and when I load [this project](https://github.com/Lakritzator/RenderThreadFailure) with Visual Studio 15.8.8 I get:
[code]

[2018-10-27 14:33] onovotny commented on #2599
What I've done for now is to manually make that patch in the installed targets file. It's pretty small:

https://github.com/dotnet/sdk/pull/2604/files

[2018-10-27 19:32] Lakritzator commented on #2599
@nguerrera I already wrote @diverdan92 that it's quite hard to detect where which fixes are, so this doesn't surprise me. I'll just wait for the next build(s) and see if it works there 😄

@onovotny thanks for the tip for the patch, this would help me on a PC which I can control, but my build fails on a build server. I think that applying the patch would be quite difficult there 😁

The next build w

[2018-10-27 20:15] onovotny commented on #2599
@Lakritzator For me, it was only a design-time build issue, so it wouldn't matter on a build server. Command-line builds always worked for me, but it could be something else for you if that's not working.

[2018-10-27 21:04] nguerrera commented on #2599
Right, if you're seeing this in a command line build, that would have a different root cause, and repro steps would be helpful.

[2018-10-27 21:13] Pilchie commented on #2599
Or, add `/bl` to your build command line and share the resulting `msbuild.binlog`

[2018-10-28 05:39] Lakritzator commented on #2599
@Pilchie @nguerrera I'm confused, as I already shared the msbuild.binlog

Anyway, I have no problem repeating myself.

Build was made with: 3.0.100-alpha1-009706

The report version belonging to the build:
https://github.com/dapplo/Dapplo.CaliburnMicro/tree/136f1cad2daded4009e68efd68cb7fa51a44b11b

And the msbuild.binlog can be downloaded here:
https://ci.appveyor.com/project/dapplo/dapplo-calibur

[2018-10-28 12:33] Lakritzator commented on #2599
FYI: I tried the patch linked to by @onovotny by copying it from my repo to the location where it should be installed:
`cp "Microsoft.NET.Sdk.targets" -Destination "C:\Program Files\dotnet\sdk\3.0.100-alpha1-009706\Sdks\Microsoft.NET.Sdk\targets"
`
Unfortunately the build still brings an error.
The link to the console output: https://ci.appveyor.com/project/dapplo/dapplo-caliburnmicro/builds/19854

[2018-10-28 12:44] onovotny commented on #2599
@Lakritzator you should take down that change your keys immediately. binlog records all environment variables and some build systems, like AppVeyor, expose secrets as environment variables. That binlog has leaked things for you. In this case it's your NuGetApiKey.

Only publish binlogs if you're sure their aren't any secrets in the env variables.

[2018-10-28 12:47] onovotny commented on #2599
FWIW, and I'm not trying to push anything, but Azure Pipelines handles secrets better.

1. It doesn't expose them to PR fork builds
2. You can split publish (via release management) and build steps, so the build itself doesn't need any secrets exposed to it. Less surface area.

[2018-10-28 12:51] Lakritzator commented on #2599
@onovotny I already changed the key, thanks for the hint.

Didn't find the time yet to migrate, and I really want to use Azure Pipelines as I find the release management very appealing.

[2018-10-28 13:37] hjc4869 opened #2628 "`dotnet build` compiler cache does not care about MSBuild property changes"
Example:

test.csproj
[code]

Program.cs
[code]

[code]

dotnet --version
2.1.403
dotnet --list-sdks
2.1.202 [C:\Program Files\dotnet\sdk]
2.1.402 [C:\Program Files\dotnet\sdk]
2.1.403 [C:\Program Files\dotnet\sdk]

[2018-10-28 14:46] nguerrera commented on #2599
Oops. Sorry. I got confused between threads and responded to your last message without seeing the context above.😳

[2018-10-28 15:00] nguerrera commented on #2599
(Aside: I'm following up with the team about standardizing how we request binlogs to make sure it is clear what they may contain and the risks of sharing publicly.)

[2018-10-28 17:17] Pilchie commented on #2599
Doh!  I knew this, but totally hadn't connected the dots about the exposure there.  Thanks for pointing it out, and sorry @Lakritzator!

[2018-10-28 23:59] nguerrera commented on #2599
That doesn't reproduce the problem for me:

[code]
![image](https://user-images.githubusercontent.com/75470/47623799-99048e00-dad2-11e8-907b-0c71fb59d475.png)

[2018-10-29 02:44] peterhuene commented on #2599
@Lakritzator: my apologies as well for requesting the binlog without proper guidance on how to get it to us and on removing any sensitive data it might contain for even your public CI builds.  Thanks to @onovotny for being on the ball and making you aware of the problems with your API key before it became an issue.

Perhaps we can add a feature to MSBuild to exclude properties sourced from the env

[2018-10-29 07:53] KwonMoose commented on #2586
We will share the binlog file obtained by running the "dotnet build /bl" command in the project.

[msbuild.binlog.zip](https://github.com/dotnet/sdk/files/2524304/msbuild.binlog.zip)

[2018-10-29 08:11] Lakritzator commented on #2599
@peterhuene Thanks for the apologies, but I still think I am responsible for thinking about this myself too! Anyway the API key could only be used to publish packages and I changed it before someone did.
That said, it's still important to have a concept where it's possible to collect data, without having a risk of leaking.

@nguerrera I'm buff... You are running an unmodified 3.0.100-alpha1-009706

[2018-10-29 09:28] yhvicey opened #2629 "'global.json' not work"
Hi,
I've created a related issue on dotnet/docs#8720 about no warning or errors while specifying a sdk version that doesn't exist.
Then I found that when I open my project in Visual Studio, it shows that the project is using `Microsoft.NetCore.App (2.1.5)`, and I have `2.1.500-preview-009335` installed on my machine.
Is this package's version controlled by `global.json`? Or it will just simply use

[2018-10-29 09:30] yhvicey commented on #2629
<<< Copied related issue's content here >>>

I have below 2.1.4yz sdks installed on my machine:
[code]
And I specified sdk version to 2.1.403 in global.json, however there's no error or warning when I build these projects. Is it by design? In [Matching rules](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json#matching-rules) section it says that in this situation there should be an err

[2018-10-29 13:31] nguerrera commented on #2599
It's unmodified 9706

[2018-10-29 13:56] nguerrera commented on #2599
Oh, the directory is empty. That's a killer clue. In the log from appveyor, I see  `csc [...] /out:obj\Release\netcoreapp3.0\Application.Demo.dll` then Fody says:

[code]

Then, CreateAppHost gets `IntermediateAssembly = C:\projects\dapplo-caliburnmicro\src\Application.Demo\obj\Release\netcoreapp3.0\Application.Demo.dll` and that is failing with the HResult 0x80070002 (ERROR_FILE_NOT_FOUND)!

Does

[2018-10-29 14:06] nguerrera commented on #2599
Is Application.Demo.**dll** anywhere on your machine after a build?

I see there's a cake step that wipes all the obj directories after MSBuild runs. Can you disable that and see what you get in src\Application.Demo\\**obj**\\Release\netcoreapp3.0\ too?
[code]

[2018-10-29 14:08] Lakritzator commented on #2599
Checking now, updating this comment with my findings.

[2018-10-29 14:15] nguerrera commented on #2599
Edit above: bin directory being empty wasn't a very big clue after all because the build failed before things would have been copied or written to it. The real place to check is the intermediate directory.

[2018-10-29 14:38] nguerrera commented on #2599
This is because the Fody task declares that it outputs to the final output path, which doesn't exist yet naturally at this point. It's sketchy to be writing there in compile phase, but then it only logs writing to intermediate location, so maybe that's just a mistaken outputs declaration.

Is it possible to disable Fody rewriting just to narrow things down?

[2018-10-29 14:47] Lakritzator commented on #2599
I will modify the solution so it doesn't need to use fody on the exe project as a workaround... I also expect this to work, and if this solves the issue I will try to contact Simon Cropp, maybe he tell us more.
Maybe it's related to: https://github.com/Fody/Fody/issues/582

In the next ~4 hours I'll not be behind a PC,  just so you know.

[2018-10-29 14:56] rainersigwald commented on #2628
This is essentially due to a limitation of MSBuild: incrementality is defined by file timestamps, not ephemeral information like properties. In this particular case, there's a potential fix tracked by an MSBuild bug, which I'll link in the next post.

[2018-10-29 14:57] rainersigwald commented on #2628
Duplicate of https://github.com/Microsoft/msbuild/issues/3350

[2018-10-29 14:57] #2628 closed

[2018-10-29 20:08] Lakritzator commented on #2599
So I managed to remove Fody from the Application.Demo project, but the problem still exists.
Here is the [msbuild.binlog](https://1drv.ms/f/s!AjXVAmV5kZHpichp1IqeSH4FfBAVfw)

Am I blind, I can't find the reason for it to fail...

[2018-10-29 20:17] livarcocc commented on #2629
Can you run dotnet --info from your project folder in the command line?

[2018-10-29 20:19] livarcocc commented on #2629
The `Microsoft.NETCore.App` version is implicitly controlled through the SDK version that you have installed and is using.

The SDK version to be used can be controlled through the `global.json` file.

[2018-10-29 20:24] Lakritzator commented on #2599
FYI: 3.0.100-alpha1-009708 still gives the same error on AppVeyor

[2018-10-29 22:14] joshmouch opened #2630 "PackageReference conflict resolution craziness"
I'm seeing issues with package versioning of transient packages using the PackageReference model.  I found this entry in the build log, and this seems like a bug to me.  A nuget package requires version 4.3.3, but then dotnet SDK grabs 4.2.0.0 because it's greater than 4.1.1.2?  That doesn't make sense to me.

Is it a bug?

[code]

If I go to that first folder and look at both the file and product

[2018-10-29 22:20] livarcocc commented on #2630
@dsplaisted can you take a look and explain how conflict resolution works in this case?

[2018-10-29 22:21] joshmouch commented on #2630
I tried adding a direct reference to System.Net.Http so that the reference wasn't transient.  I get a similar message.

Looking at the project.assets.json, I see that these values are all as I would expect.  They point to version 4.3.3 or 4.3.4.

[2018-10-29 22:47] nguerrera commented on #2599
Ah! Something I missed before:

The failures in design time builds are in AddResourcesFromPEImage
[code]

While the failure in your real builds is in ResourceUpdater constructor:
[code]

This means that we're getting file not found in the real builds on the exe we should have just copied from the nuget cache and already rewritten a bit (and not on the intermediate dll as we were in the design time

[2018-10-29 23:34] Lakritzator commented on #2599
With resources you mean .resx? Don't have any... could that cause the issue?

[2018-10-29 23:35] Lakritzator commented on #2599
I use the standard windows security as anti-virus, maybe the locale has influence? (German)

[2018-10-30 02:34] yhvicey commented on #2629
Since I've already installed 2.1.403 after I found it's missing, I renamed the `2.1.403` folder under C:\Program Files\dotnet\sdk and then do the following tests:

Output of `dotnet --info`:
[code]

global.json:
[code]

output of `dotnet build`:
[code]

[2018-10-30 16:05] joshmouch commented on #2630
@dsplaisted Any thoughts?  I think I could go in and manually add some assembly redirect bindings to the app.config to get around this, but I'd rather not.  The project is huge, and that'd take days, I think.

[2018-10-30 18:10] nguerrera opened #2632 "Default apphost should take platformtarget of app into account"
With x64 SDK on PATH:

1. `dotnet new console`
2. Edit csproj, set PlatformTarget to x86
3. `dotnet run` (or execute apphost exe directory)_

[code]

[2018-10-30 18:12] nguerrera commented on #2632
cc @peterhuene

[2018-10-30 19:02] peterhuene commented on #2632
Should be a simple fix to coerce a mismatch between the SDK RID and the `TargetPlatform` to what the `TargetPlatform` expects it to be.

[2018-10-30 19:30] Lakritzator commented on #2599
I felt kind of stuck, until I noticed that the stacktrace has changed.

This is the error I currently get, without using fody and with the current version, which is not the same as the original:
[code]

Does this change anything?

[2018-10-30 20:03] peterhuene commented on #2599
I wonder if `BeginUpdateResource` is being tripped up by the relative path, from MSDN:

That doesn't really make it clear that it will properly combine a `pFileName` with with CWD.

[2018-10-30 20:06] Lakritzator commented on #2599
@peterhuene I'm not sure what relative path you are talking about?

[2018-10-30 20:07] nguerrera commented on #2599
@peterhuene Possible. I wonder how it is that this works on my machine, but not @Lakritzator's.

[2018-10-30 20:08] peterhuene commented on #2599
The `AppHostDestinationPath` parameter to the `CreateAppHost` task, which is `obj\Release\netcoreapp3.0\Application.Demo.exe`.

`AppHost.Create` copies the source apphost to that location, then instantiates `ResourceUpdater` to update the resources.  A relative path from above is used for both.

It's weird that the copy would succeed but the update fail with file not found, unless one of the opera

[2018-10-30 20:10] peterhuene commented on #2599
I'd also expect `MemoryMappedFile.CreateFromFile` to fail if the copy didn't do the correct thing, so seems like it's related to `BeginUpdateResource`.

[2018-10-30 20:12] nguerrera commented on #2599
@Lakritzator To test @peterhuene's theory, can you try changing this:

https://github.com/dotnet/sdk/blob/4cafd94e923f1464ec6de92d9ca14f72189d8c25/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L294

To:

[code]

[2018-10-30 20:30] peterhuene commented on #2599
Given this works elsewhere, it is a total stab in the dark.  The `80070002` HRESULT could be a poor error, i.e. "we failed to open the file, set last error to file not found", so I think it's likely to be something unexpectedly locking the file rather than the file not existing.

[2018-10-30 20:34] Lakritzator commented on #2599
@nguerrera Ok, going to try it now.

[2018-10-30 20:47] Lakritzator commented on #2599
@nguerrera My build ran through!! It works!!!!!

Still I feel a little special, in a dirty way 😁 , why does my constellation cause so many problems? Do I do something unusual, maybe something I shouldn't be doing?

I will now roll back my previous changes, to see if everything works again with the fody weaving back in place.

[2018-10-30 20:54] diverdan92 commented on #2599
@Lakritzator - you're just very early (and we appreciate these explorations very much!!!)

[2018-10-30 21:02] Lakritzator commented on #2599
@diverdan92 You are just being kind!
I don't directly meant it in a bad way, but maybe I have some weird settings which don't make sense and could be done a lot more efficient. Also, why does it not work on my system (and the AppVeyor build server) but the same repository works on Peters and Nicks systems?

So far I have no problem with exploring, and you can always send me a Surface Book 2 to mak

[2018-10-30 21:58] peterhuene opened #9892 "Default apphost: project named `razor` conflicts with `Razor` intermediate directory."
## Steps to reproduce

On macOS (or other non-Windows systems with case-insentient file systems):

1.  `dotnet new razor -o razor`
2.  `cd razor`
3.  `dotnet build`

## Expected  behavior

The project should build successfully.

## Actual behavior

The default apphost name of `razor` conflicts with the `Razor` intermediate directory created by the Razor SDK:

[code]

## Environment data

[code]

[2018-10-30 22:11] nguerrera opened #2634 "Flipping the GUI subsystem bit on apphost causes runtime startup diagnostics to be lost"
Filing this here for now, but I think a fix may require changes to the apphost code itself.

cc @vitek-karas @sbomer @jeffschwMSFT @peterhuene

## Repro steps
1. `mkdir wpf`
2. `cd wpf `
3. `dotnet new wpf`
4. Temporarily rename c:\Program Files\dotnet\shared to shared_ (so apphost cannot find runtime)
5. bin\Debug\netcoreapp3.0\wpf.exe
6. Rename shared folder back

## Expected result

An error me

[2018-10-30 22:42] jeffschwMSFT commented on #2634
cc @sdmaclea

[2018-10-31 00:20] nguerrera commented on #2629
This is actually a duplicate of https://github.com/dotnet/core-setup/issues/3805

Seems it was never backported to 2.1 even though that was discussed on the PR. cc @johnbeisner

[2018-10-31 01:35] Allann opened #2635 "Just installed the 2.2 preview 3 sdk - fails with MSB4018"
Just installed latest SDK preview (first time using 2.2), and when I try to build my solution it fails inside Visual Studio, but not Visual Studio Code.

[code]
Visual Studio 2017: 15.9.0 Preview 4 (also fails in 15.8.8)
Microsoft .NET Core SDK 2.2.100 0 Preview3 (x64)
OS: Windows 10 Enterprise 1803 (17134.345)

Solution build log attached
[bugrepo.zip](https://github.com/dotnet/sdk/files/2532330/

[2018-10-31 02:01] livarcocc commented on #2635
@dsplaisted can you take a look?

[2018-10-31 03:58] Allann commented on #2635
Once SDK (2.1.403) was installed and the path added back in and changing no code in the solution, it now builds again fine.

[2018-10-31 07:39] gcraciun commented on #2526
I tried setting that as an env variable and also changing the csproj file. Still no luck.

[2018-10-31 13:11] dasMulli commented on #2618
More comparison functions are great but having something that is easy to understand and use would also be great..

[2018-10-31 14:53] rainersigwald commented on #2526
From the `MSBUILDDEBUGCOMM=1` traces, the attempts to connect to a just-launched child all say something like

[code]

That makes me suspect that `fakeroot` is faking only one side of the connection, not both. The pipe is owned by my user:

[code]

but presumably `fakeroot` is telling the parent process it's uid `0`.

I don't know if this is a bug in fakeroot or corefx (MSBuild creates the pipe wi

[2018-10-31 14:53] rainersigwald commented on #2526
Best workaround I can think of is passing `-maxcpucount:1` to disable multiproc build.

[2018-10-31 17:02] natemcmaster commented on #2620
Thanks for getting a fix in so quickly @peterhuene. How long does it take for this change to flow up into core-sdk? We tried updating to 3.0.100 with yesterday's latest build (3.0.100-alpha1-009708), and still hit NETSDK1047 errors.

[2018-10-31 21:20] livarcocc commented on #2620
Not yet. That will happen once we finish the arcade move.

[2018-10-31 21:40] peterhuene commented on #2620
Ok, so we need an old school insertion into CLI for the most recent SDK then, I assume.  I'll make that happen today.

[2018-10-31 22:33] natemcmaster commented on #2620
Thanks!

[2018-11-01 04:58] Allann commented on #2635
Thanks, will re-install 2.2.1, but by adding app, wouldn't I need to change the project to sdk.web too?

[2018-11-01 11:09] borgez opened #9895 "yarn > 1.9 break dotnet build"
## Steps to reproduce

like https://github.com/dotnet/cli/issues/6561

$ call yarn install --pure-lockfile --cache-folder .yarn
yarn install v1.10.1
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...
Done in 9.02s.
......
dotnet build output:

C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\Microsoft

[2018-11-01 12:50] vitek-karas opened #2638 "Incremental build doesn't update .deps.json if new localized resource is added"
I have a simple project with a resource file, and another culture specific resource file. When I build it two dlls are produced and the `.deps.json` contains references to both (one as runtime assent and the other as a resource asset).

Now I add a third resource for another culture. I run `dotnet build` again. Another dll is produced for the new culture as expected. But the `.deps.json` is not up

[2018-11-01 12:51] vitek-karas commented on #2638
cc @sdmaclea

[2018-11-01 17:02] jkotas opened #2639 "donet publish file not found error"
_From @czd890 on November 1, 2018 5:26_

Consistent in "windows" and "linux(centos7)"
## fail
[code]
dotnet publish -c Release -o ./bin/publish -r linux-x64
can not found file '......\Api.dll'
![image](https://user-images.githubusercontent.com/4011549/47834118-1c76f580-ddd9-11e8-9703-60135d6b42fc.png)

## finish
[code]
publish success

## dotnet version info
 dotnet.exe --info
.NET Core SDK（反映任何 g

[2018-11-01 17:38] livarcocc commented on #2639
@nguerrera can you take an initial look on it?

[2018-11-01 17:54] rohith opened #2640 "Unify SDK & Runtime versions"
I understand SDK & Runtime are two different things but the versioning among these when using dotnet core is a bit confusing for people. So, can there be a unified version of dotnet core?

![image](https://user-images.githubusercontent.com/5032439/47869486-1448a580-de2d-11e8-8718-65487e905a27.png)

When 2.2.0 is released can the version be applied to both SDK & Runtime as v2.2.0 rather than SDK ha

[2018-11-01 18:09] livarcocc commented on #2640
No. That's not possible. We have discussed this extensively. There is a write up of the reasons somewhere (@KathleenDollard do you have a pointer to the write up?).

We want to versions to match only on major.minor and never on patch, exactly not to give people the impression that the full version will ever align, as that is not a feasible reality.

[2018-11-01 18:09] #2640 closed

[2018-11-01 18:14] nguerrera commented on #2639
Duplicate of https://github.com/dotnet/cli/issues/9656

[2018-11-01 18:14] #2639 closed

[2018-11-01 20:59] yaakovp commented on #2334
I can see the problem on my machine.

[2018-11-02 14:58] nguerrera commented on #2599
For the original bug report, we're working through some issues to get the code flow unblocked. Hoping to have a build today.

For the separate issue that @lakrizator has encountered, we still haven't committed the fix. I don't think it's well understood why it fails only on some machines without a full path, but resolving a full path before calling BeginUpdateResource is harmless at worst, so mayb

[2018-11-02 17:28] peterhuene commented on #2599
I agree, that would be fine.

Regarding the builds, we're a little behind on getting changes into the core-sdk builds due to needing changes from previous release branches, which currently requires a bit of manual labor to make work because our repos are undergoing a change in build infrastructure.  As Nick said, we hope to have this in the actual builds soon.

[2018-11-03 09:47] dasMulli commented on #2632
Related to https://github.com/dotnet/sdk/issues/1905

The important question is: what is the guidance wrt which property to set?
Is `PlatformTarget` considered for default RID selection?
I'd prefer to set `RuntimeIdentifier` because it is well documented and a known "knob" for .NET Core applications. Also, NuGet should resolve correct native dependencies if needed.

[2018-11-03 09:55] dasMulli commented on #2640
There is https://github.com/dotnet/designs/blob/master/accepted/sdk-version-scheme.md

Say it was 2.2.0, and then a new set of tooling releases are done updating the C# compiler, NuGet and MSBuild but the runtime doesn't increment. `2.2.1` would be quite confusing if there wasn't yet a `2.2.1` runtime version. And then incrementing again to `2.2.2` SDK when a `2.2.1` runtime is released isn't maki

[2018-11-03 13:14] rohith commented on #2640
Totally makes sense 👍 & I'm glad I now have a much better understanding of the SDK & Runtime versions. https://github.com/dotnet/designs/blob/master/accepted/sdk-version-scheme.md really helped me a lot & this should be the first thing that comes up on google when someone searches for **.Net Core SDK vs Runtime versions**

Thank you @dasMulli for explaining this, I really appreciate the effort 👌 👍

[2018-11-03 18:54] peterhuene commented on #2632
I think that `RuntimeIdentifier` is the "knob" for .NET Core.  The problem here is that we have an implicit "runtime identifier" just for the apphost which only occurs when `RuntimeIdentifier` is _not_ specified.  This would only help hint at the default architecture for the apphost.

Ideally, this is going to be a temporary measure for 3.0 anyway.  I don't like having to restore for an additional

[2018-11-03 22:47] Lakritzator commented on #2599
Not many people following this, but still FYI: there is no fix in 3.0.100-preview-009726.

[2018-11-03 23:12] nguerrera commented on #2599
This should really be a separate issue, but reopening this one to track without losing context.

Well close again when a build is available with the second fix. No need to report on each build in the meantime. Thanks.

[2018-11-03 23:34] nguerrera commented on #2599
I understand it's frustrating, but please understand that you are picking up *CI* builds that span changes from many teams and many repos (closed and open). This is necessarily more painful than picking up traditional, official preview 1,2,3 builds that undergo coordinated testing, have release notes, etc. We're doing our best, but we're just not equipped to have perfect release details with every

[2018-11-03 23:36] nguerrera commented on #2599
@peterhuene Any chance you can slip https://github.com/dotnet/sdk/issues/2599#issuecomment-434451956 or equivalent into the payload with the f# fix?

[2018-11-03 23:37] peterhuene commented on #2599
Can do.

[2018-11-03 23:44] nguerrera commented on #2599
I apologize for missing this noble intent. I am actually fine with that. It's just a little stressful to get "still not fixed in build X" notifications when we're all working as hard and fast as we can.

[2018-11-03 23:52] nguerrera commented on #2638
This is because we approximate incrementality using inputs of project files + assets files. We are not the only task in the larger system that does this. However the resources are globbed and can change without a change to either of these inputs. We will need to do something like CoreCompile and GenerateAssemblyInfo do to solve this.

[2018-11-04 00:03] Lakritzator commented on #2599
Hi Nick, thanks for writing that.

I'm not frustrated, in fact I think you are doing a great job by doing this in the open, which is certainly not easy. And I am sorry if that comment felt like stressing you, I actually didn't think about that. I really wanted to prevent something I had experienced, like issue x was fixed but it wasn't clear in which build it arrives. I have no problems at all wai

[2018-11-04 22:17] toolboc opened #2644 "Runtime Id does not follow generic naming convention in published arm64 releases"
I am working on adding support for linux-arm64 to the [azure-pipelines-agent](https://github.com/Microsoft/azure-pipelines-agent/pull/1921).

I noticed that the current arm32 release of the dotnet core SDK @ https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.403/dotnet-sdk-2.1.403-linux-arm.tar.gz uses a generic name "linux-arm"
for the Runtime Id:
![image](https://user-images.githubusercontent.com/20

[2018-11-05 17:57] natemcmaster commented on #2620
I tried again to update to the latest build listed on dotnet/core-sdk, version 3.0.100-preview-009728, built from https://github.com/dotnet/core-sdk/tree/ac9f27d723ca5c5503a8faa5c11e60fdecf46dc7. I'm still seeing this error. Any ETA on getting the fix into a build of the CLI?

[2018-11-05 18:09] peterhuene commented on #2620
`dotnet/sdk` changes haven't flowed through to `core-sdk` in quite some time.

I have a PR to update it in `dotnet/cli` (https://github.com/dotnet/cli/pull/10264).  When that is merged, I need to update the toolset, and then finally `core-sdk`.  This is a bit of a mess due to the sdk repos moving to arcade and having no orchestration set up yet for 3.0.

I'll follow up once a build contains the fi

[2018-11-05 18:11] natemcmaster commented on #2620
Thanks @peterhuene

[2018-11-06 00:01] peterhuene commented on #2620
@natemcmaster The fix should now be in `3.0.100-preview-009730`.  Thanks!

[2018-11-06 00:04] peterhuene commented on #2599
We now have a build that should contain the fix.  @Lakritzator could you try with `3.0.100-preview-009730` and let us know how it goes?  Thanks very much for your patience!

I'll close the issue to signal the fix is in the build, but feel free to continue commenting with any additional feedback.

[2018-11-06 00:04] #2599 closed

[2018-11-06 06:45] Lakritzator commented on #2599
@peterhuene Thanks, this works great! This makes using newer builds a lot easier, without having to check if I can use the same patch, fixing the path etc.

So, the build is running fine, starting the application is not.
Since 3.0.100-preview-009726 I cannot run dotnet core UI applications,
I reported another issue, but I am actually not sure if core-sdk is the correct location: https://github.com

[2018-11-06 07:13] peterhuene commented on #2599
@Lakritzator thanks for following up and glad it's now working for you!  Let's continue the `dotnet run` discussion on the other issue you filed.

[2018-11-06 09:02] John0King commented on #1791
suggest to add 2 attributes on `<PackageReference />`

- `TargFramework`  choose which dll file to reference
- `Source` restore from from specified `souce` from `Nuget.Config`

[2018-11-06 17:21] terrajobst commented on #2425
@livarcocc @nguerrera can we get this done for .NET Core 3.0?

[2018-11-06 18:13] wli3 opened #9910 "Local Tools Early Preview Documentation"
# Local Tools Early Preview Documentation

The feature is shipped in 3.0.100 SDK. We are working to convert this documentation to an official one.

## Motivation

Enable high cohesion between tools and corresponding code repositories. The repository maintainer could check-in a list of dotnet tools with certain version. And other contributor can use these tools within the repository with certain ge

[2018-11-06 22:20] DaveSlinn commented on #2559
Hi @dsplaisted, were you able to examine that build binlog?  We are still having to manually go into the .config and remove the added assemblyBinding element.  Unfortunately this is a large legacy monolithic application so the build log is pretty big.  When I examine it, there are thousands of these "Encountering conflict" warnings, and I'm wondering what I can do to learn more about conflict reso

[2018-11-07 18:02] ryanbrandenburg commented on #2601
This still happens with a 3.0 version of the SDK (3.0.100-preview-009730). The repro steps are the same, `run.ps1 -update upgrade deps` just now targets a 3.0 SDK.

New `dotnet --info`:
[code]

Our messaging to people has been that they should use implicit versions of `Microsoft.AspNetCore.App` in their projects, so I think this definitely needs to be fixed in the preview1 timeframe.

CC @mkartakm

[2018-11-07 19:05] livarcocc commented on #2601
So, this issue was originally filled because of a 2.2 SDK not being able to target 3.0. We will not support that.

Given that, if you are blocked from adopting a 3.0 SDK, can you please file a new separate issues with details on what is blocking you.

I can't figure that out just from the comment above.

[2018-11-07 19:27] ryanbrandenburg opened #2651 "Implicit selection of `Microsoft.AspNetCore.App` broken in new SDK"
When we upgraded to the new SDK (3.0.100-preview-009730) we started experiencing the following errors in our templating tests:

[code]

I've created a minimal repro of this issue [here](https://github.com/ryanbrandenburg/ImplicitSDKDemo). You can work around this by explicitly giving the version of `Microsoft.AspNetCore.App` as ` Version="3.0.0-alpha1-10653"`, but it's my understanding that the im

[2018-11-07 19:29] livarcocc commented on #2601
Closing this one in favor of https://github.com/dotnet/sdk/issues/2651.

[2018-11-07 19:29] #2601 closed

[2018-11-07 19:29] ryanbrandenburg commented on #2601
We have already adopted a 3.0 SDK. I created [a new issue](https://github.com/dotnet/sdk/issues/2651), but this is really the same problem, it just happens on both 2.2 and 3.0.

[2018-11-07 21:06] MichaelSimons opened #2652 "CreateAppHost task fails within Nano Server containers in 3.0"
Using SDK version 3.0.100-preview-009734

1. Start with a `microsoft/nanoserver` container with dotnet 3.0 SDK installed (e.g. `microsoft/dotnet-nightly:3.0-sdk` [Dockerfile](https://github.com/dotnet/dotnet-docker/blob/8246e49feb420454055daddbac2120b40dc88c41/3.0/runtime/nanoserver-1803/amd64/Dockerfile))
2. mkdir app
3. cd app
4. dotnet new
5. dotnet build

Results:

[code]

[2018-11-07 21:08] MichaelSimons commented on #2652
@peterhuene - Is this something you know about?

[2018-11-07 21:11] peterhuene commented on #2652
cc. @nguerrera @sbomer.

Looks like we'll either need an OS check or check that the`BeginUpdateResource` export exists ourselves.

[2018-11-08 01:09] peterhuene commented on #2644
Hi @toolboc,

Thanks for reporting this.

`dotnet --info` uses two sources of information to show the `RID`:

* If the current platform RID is supported by the shared framework RID graph (contained in `Microsoft.NETCore.App.deps.json`), then it will display it.  For Ubuntu 18.04 (ARM64), the RID is in the graph so this is what is displayed.  However
* However, Raspbian isn't a supported RID in the

[2018-11-08 01:09] #2644 closed

[2018-11-08 06:41] dsplaisted commented on #2651
@ryanbrandenburg The issue here is that we don't currently support a versionless `PackageReference` for ASP.NET Core 3.0.  Use a `FrameworkReference` instead.  The demo .csproj should be able to just be this:

[code]

Here's the work item tracking making `PackageReference` work: https://github.com/dotnet/cli/issues/10124

Also, we are planning to make the `FrameworkReference` implicit if you are u

[2018-11-08 06:44] TrieBr commented on #1458
@nguerrera The configuration you posted is working for me. When I publish, all of the nuget .xml files are correctly published. However, none of the files are pulled when running a regular build. I tried the workaround in described in comment https://github.com/dotnet/sdk/issues/1458#issuecomment-420460129 but none of the xml files are showing up when I build. Did I miss something?

I'm Using netc

[2018-11-08 17:41] #2317 closed

[2018-11-08 17:44] livarcocc commented on #2552
@sbomer can you provide us a repro for this? Also, in which version of the SDK did you hit this?

[2018-11-08 17:49] livarcocc commented on #2624
It seems to me like this happens because the Hosted macOS pool is using osx 10.13 as opposed to osx 10.12. We can fix this in our scripts to override the RID.

[2018-11-08 18:03] chcosta commented on #2624
Note that I don't think we (currently) have a way to lock the OSX version in the hosted pool.  Last I heard they were working on this, but in the mean time that would mean they could potentially break you again.  We may want to defer making this change until we can be explicit about os version in the Mac hosted pool.

[2018-11-08 19:11] sbomer commented on #2552
@livarcocc, here you go
- clone https://github.com/sbomer/sdk/tree/throwExceptionForHRRepro
- build.cmd
- .dotnet\dotnet.exe test src\tests\Microsoft.NET.Build.Tests\Microsoft.NET.Build.Tests.csproj --filter "FullyQualifiedName=Microsoft.NET.Build.Tests.GivenThatWeWantToCustomizeTheApphost.It_contains_resources_from_the_managed_dll"

The output is:
[code]

Note the missing resource dll:
[code]

[2018-11-08 19:45] peterhuene commented on #2552
I'll take a look.  I haven't seen something like this yet.

[2018-11-08 22:45] nguerrera opened #2654 "PresentationFramework not found in SelfContainedDeployments"
_From @rido-min on November 8, 2018 22:29_

# PresentationFramework not found in SelfContainedDeployments

1 - Create WPF app `dotnet new wpf`
2 - Create a Publishing Profile with Self Contained and a RID:
[code]
After publish, the output exe does nothing, but running `dotnet myapp.dll` returns

[code]

I also reviewed the folder, and PresentationFramework.dll is not there.

I'm running:

[code]

[2018-11-08 22:45] nguerrera commented on #2654
cc @peterhuene

[2018-11-08 22:48] nguerrera commented on #2654
Ah,  this is because PrivateAssets="all" means do not publish still.

Broken by #2637 :(

[2018-11-08 22:57] nguerrera commented on #2654
Thanks for reporting this, @rido-min

[2018-11-08 23:13] livarcocc commented on #2651
@ryanbrandenburg will @dsplaisted's suggestion above work for you?

[2018-11-08 23:48] nkolev92 commented on #2527
I'm curious how the FrameworkReference to TFM mapping will affect NuGet and https://github.com/NuGet/Home/issues/7342.

[2018-11-09 17:30] ryanbrandenburg commented on #2651
Possibly with some adjustments. Firstly it seems that it's actually `<FrameworkReference Include="Microsoft.AspNetCore" />` not `Microsoft.AspNetCore.App`. Secondly we get a bunch of problems related to selecting the Razor Language version. The Razor language version thing is on our side (a fix had been merged), I'll get back to you if there's anything more after this.

[2018-11-09 18:12] ajopjo opened #2656 "dotnet publish fail for SCD : Unable to copy the project dlls and documentation files"
#Issue dotnet publish from CLI fails with error message
**error MSB3030: Could not copy the file "obj\Release\netcoreapp2.1\win-x64\Inventory.pdb"**
** error MSB3030: Could not copy the file "obj\Release\netcoreapp2.1\win-x64\Inventory.dll**
**error MSB3030: Could not copy the file "bin\Release\netcoreapp2.1\win-x64\Inventory.xml**
##Behavior from Visual studio publish
*VS publish copies the appli

[2018-11-09 18:28] ajopjo commented on #2656
moved the issue to cli https://github.com/dotnet/cli/issues/10310

[2018-11-09 19:35] dsplaisted commented on #2651
@ryanbrandenburg The `FrameworkReference` name will change to include the `.App` in this PR (which I just merged): https://github.com/dotnet/core-sdk/pull/142

[2018-11-09 22:00] Shyam-Gupta opened #2657 "Duplicate embedded resource error for EmbeddedResource with different LogicalNames"
Having same resource (say, bmp file) with different logical names throws duplicate embedded resource error:

   <EmbeddedResource Include="Resources\System\Windows\Forms\ToolStrip\ContextMenuStrip.bmp">
          <LogicalName>System.Windows.Forms.ContextMenuStrip.bmp</LogicalName>
  </EmbeddedResource>
  <EmbeddedResource Include="Resources\System\Windows\Forms\ToolStrip\ContextMenuStrip.bmp">

[2018-11-10 05:52] aggieben commented on #335
This technique doesn't seem to work right for me, quite:

[code]

The top of the stack of errors:

[code]

[2018-11-11 20:54] mynkow commented on #472
Is it normal to have this error today with `netcoreapp2.1`?

[2018-11-12 18:17] nguerrera commented on #2425
@nkolev92 @jainaashish @rrelyea Do you see a problem with this proposal:

[code]

See Eric's comment just above about perf. Obviously, we can and should measure that, but do you have any concerns (perf or otherwise) from the outset?

[2018-11-12 20:43] livarcocc commented on #472
Not really.

[2018-11-12 20:52] mynkow commented on #472
If interested, checkout https://github.com/Elders/Cronus.Api/tree/Cronus.Api%405.0.0-beta0014

Run `build.cmd`

[2018-11-13 01:00] KwonMoose commented on #2586
Is there no solution for this phenomenon?

[2018-11-13 03:24] #933 closed

[2018-11-13 18:55] livarcocc commented on #2654
@wli3

[2018-11-13 19:04] wli3 commented on #2654
ok

[2018-11-13 19:22] mairaw opened #9925 "install or update command"
@PaymonK commented on [Fri Nov 09 2018](https://github.com/dotnet/docs/issues/8954)

Currently the `dotnet tool update` command will ALWAYS reinstall the latest version of the tool, even if it's already installed and is up-to-date. This is slow and wasteful.

**Recommended fix**: Change the `update` command, so it doesn't unnecessarily reinstall it. You can add `--force` option to keep the current