[2019-09-10 08:32] Jmales opened #3627 "New csproj re-generates files forever when Visual Studio is open"
I'm generating some .cs files using **node.exe** before the compilation, which I then include in my project.

I call **node.exe** and define the steps for the generation via CSProj. After migrating the CSProj to the new format `<Project Sdk="Microsoft.NET.Sdk">` the files are constantly being generated, erased and generated again while Visual Studio is open (tested with VS2017 and VS2019). This do

[2019-09-10 10:59] Jmales commented on #3627
https://github.com/Microsoft/msbuild/issues/3342

[2019-09-10 11:00] Jmales commented on #3627
#https://github.com/Microsoft/msbuild/issues/3342

[2019-09-10 15:14] dsplaisted commented on #3541
It's not a runtime breaking change, but it's a breaking change to the SDK.  IE if you update the SDK, and rebuild your app, it is a breaking change if the app stops working.

It sounds like this may only apply to .NET Core 3.1 and higher.  In that case we could only use the new format for .NET Core 3.1 and higher, which would not be breaking, as existing projects don't target .NET Core 3.1.

[2019-09-10 15:20] dsplaisted commented on #3307
This should actually be fixed in .NET Core 3.0, even once there is a patch version.

For .NET Core 2.x, you should be able to work around the issue by setting TargetLatestRuntimePatch to true in the ConsoleApp.  Here's some more information: https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-patch-selection

[2019-09-10 15:43] vitek-karas commented on #3541
Sorry I wasn't clear about that in the description - the proposed change already works that way - as in it will write the new property only for 3.1 and above.

[2019-09-10 15:51] #2555 closed

[2019-09-10 15:52] #2420 closed

[2019-09-10 16:39] KathleenDollard commented on #3615
Has the Microsoft.VisualBasic namespace ever been optional in Visual Basic?

[2019-09-10 17:17] livarcocc commented on #3606
I am going to close this issue as @vijayrkn's guidance solved the issue.

[2019-09-10 17:17] #3606 closed

[2019-09-10 17:47] rainersigwald commented on #3627
This is related to Visual Studio's [design time builds](https://github.com/dotnet/project-system/blob/master/docs/design-time-builds.md), which run builds in the background to collect information about the project. That link has more information, including how to detect that a design-time build is currently running and avoid doing work. The only thing I'd add is that it's important to make sure th

[2019-09-10 17:47] #3627 closed

[2019-09-10 21:30] heng-liu opened #3629 "Retarget task in dotnet/sdk to net5.0 when ready to insert nuget bits targetinig net5.0"
When it's ready to insert nuget bits targeting net5.0,
please remember to go to the dotnet/SDK repository , change sdk/src/Tasks/Microsoft.NET.Build.Tasks/Microsoft.NET.Build.Tasks.csproj to retarget net5.0.

So that SDK will resolve the NuGet.Packaging targeting net5.0.

[2019-09-10 21:46] nkolev92 commented on #3629
Example retargeting PR: https://github.com/dotnet/sdk/pull/3353

[2019-09-11 09:10] YairHalberstadt commented on #335
Based on dotnet/designs#33 (comment), All I had to do was add

[code]

To the csproj I was trying to build, and everything worked!

[2019-09-12 02:15] davkean opened #3631 "[Component Licensing] SDK needs to make sure that licenses.licx ends up as "EmbeddedResource""
**Visual Studio Version**:

**Summary**:
The Visual Studio support for Windows Forms licensing was implemented in https://github.com/dotnet/project-system/pull/5468, and works well if you opt out of the globs. VS will automatically add it to EmbeddedResource:

[code]

However with globs turned on, we don't add a specific item if a glob covers it. Based on that, the SDK needs to cover licenses.licx

[2019-09-12 02:15] davkean commented on #3631
License.licx can live in both the AppDesigner folder (which can be renamed to something custom) and in the root of the project.

tag @nguerrera

[2019-09-12 02:26] davkean commented on #3631
@livarcocc Can you put this in the milestone that corresponds with 16.4 as per offline agreement.

[2019-09-12 02:51] nguerrera commented on #3631
@vatsan-madhavan @dsplaisted should this globbing go in WindowsDesktop sdk?

[2019-09-12 02:52] nguerrera commented on #3631
@davkean I’ve put it in 3.1.1xx milestone, which matches 16.4. Thank you for the detailed issue.

[2019-09-12 02:53] vatsan-madhavan commented on #3631
Sure, that’s ok by me. What’s the plan for LC.exe? Wouldn’t we want a netcoreapp version of it as well?

[2019-09-12 07:58] weltkante commented on #3631
@vatsan-madhavan LC.exe executes code so controls can generate the license data, Desktop version won't be able to execute .NET Core code.

[2019-09-12 21:57] wli3 opened #3636 "All win apphosts in the installer"
pending Core-setup's msis https://github.com/dotnet/core-setup/issues/7846
need to put it in VS, installer, and archive

[2019-09-13 17:50] wjk opened #3638 "Package restore can't find runtime packs when explicit RID specified"
When I try to restore a project that contains one or more RIDs specified in the project file `RuntimeIdentifiers` property, it cannot find a matching version of the following packages:

* `Microsoft.NETCore.App.Runtime.<rid>`
* `Microsoft.AspNetCore.App.Runtime.<rid>`
* `Microsoft.NETCore.WindowsDesktop.Runtime.<rid>`

It says that there are other versions of these packages available on NuGet.org,

[2019-09-13 18:59] bricelam opened #3639 "Enable embedded resource DependentUpon convention on .NET Framework"
Shouldn't this also be enabled for .NETFramework? Without it, embedded resource names are changing between classic and SDK-style projects. (Originally reported in https://github.com/aspnet/EntityFramework6/issues/1258)

https://github.com/dotnet/sdk/blob/25d8a32f0c357b8e6ccaa39fba27d5c61364e26a/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L109-L112

cc @divega @Pilchie @aj

[2019-09-13 20:39] rainersigwald commented on #3639
cc @nguerrera

Enabling the DependentUpon convention would be a breaking change on SDK upgrade for projects that target a framework supported by pre-3.0 SDKs.

[2019-09-13 21:23] nguerrera commented on #2521
@panopticoncentral That sounds like a good idea. It looks like the consuming side can set CompileUsingReferenceAssemblies=false if I read the code right just now. I'm not quite sure on the best way to make that default false for classic, true for sdk style. Thoughts, @rainersigwald? I'm slightly worried that this would be unexpected for someone that is already using ProduceReferenceAssembly with c

[2019-09-13 21:34] dsplaisted commented on #3613
@lg2de Can you put `<WarningsAsErrors />` in the Directory.Build.targets file instead of the .props?  Then it would set it after the default values from the .props.

I also think it would make sense to change the relevant line in the props to this::

[code]

[2019-09-13 21:39] dsplaisted commented on #3615
It looks like the implicit imports can be disabled with the `DisableImplicitNamespaceImports` property.

[2019-09-13 21:47] nguerrera commented on #3639
Yes, this was by design to avoid a breaking change. cc @livarcocc

[2019-09-13 21:50] nguerrera commented on #3639
Putting in discussion for now. We could reconsider a break if we get enough feedback, but I think we should document that you have to opt in to this for older frameworks at this point. Silently changing resource names between sdk versions is not somehting we should do lightly. I'm not sure how to measure the risk.

[2019-09-13 22:23] bricelam commented on #3639
...by changing net472 to netcoreapp3.0. :trollface:

[2019-09-13 23:54] livarcocc commented on #3638
Can you share what your project looks like? How did you acquire that preview 9/rc 2 build?

What build do you have exactly?

[2019-09-14 00:10] wjk commented on #3638
A sample csproj that reproduces the problem is as follows:

[code]

And my `dotnet --info` output is this:

[code]

I installed this build using the links in the core-sdk README file. Thanks!

[2019-09-14 01:52] livarcocc commented on #3638
Because this is a nightly build, you need to add package feeds to be able to find packages. runtime packs do not ship with the SDK and are not available offline.

You can find the feeds listed in the readme of the core-sdk repo before the download links.

Can you give that a try and let us know how it goes?

[2019-09-14 17:13] wjk commented on #3638
@livarcocc Works great. I'm going to close this issue now. Thanks so much!

[2019-09-14 17:13] #3638 closed

[2019-09-14 18:20] lg2de commented on #3613
Hey @dsplaisted. That's exactly what I thought. I did a PR for it right away.

[2019-09-15 22:11] wli3 opened #3647 "[Investigate] Setting Runtimeidentifier in C++ props and target might not be needed"
It works today without setting it. Need to understand how we derive the RID. And ensure it is ok not setting it

[2019-09-15 22:22] wli3 opened #3648 "[Investigate] Test the build of c# -> C++ -> C# works or not"

[2019-09-16 15:26] rainersigwald commented on #2521
We could maybe set it to false in common.props for everyone, and rely on the SDK to set it to true? But that's a design change (it was intended as an opt-out, not opt-in, but we also didn't anticipate this problem, so . . .).

[2019-09-16 15:36] dasMulli commented on #2521
So turning it to false would make build times slower for people already using it with the caveat that they never had working intellisense for their apps.
At least it shouldn't (🙏) break their builds if no further customization was performed.

[2019-09-16 15:59] mattleibow commented on #3376
@livarcocc I am just making up numbers 2.2.199 and 2.2.108.1 just to be able to build. If I use real version numbers, then it doesn't.

[2019-09-16 18:17] livarcocc commented on #3376
@mattleibow I don't follow why are you coming up with random version numbers at all. That should really not be the solution to whatever problem you are running into.

From the original description of the issue, this happens because you are using a .NET Core SDK version with versions or Mono and MSbuild that it is not really compatible with.

[2019-09-16 22:10] wli3 opened #3649 "Add DefaultAppHostRuntimeIdentifier support for ARM and ARM64"
https://github.com/dotnet/sdk/blob/fe6b50c78426124e34e56ecb7df8b6b86e6e0b48/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets#L118

does not consider ARM and ARM64

[2019-09-16 22:11] wli3 commented on #3647
The following is how we derive it. We basically based it on PlatformTarget. And we know that C++ is setting PlatformTarget by importing props accordingly. So I think it is reliable. And we should not do anything extra.

[code]
…………..

………….
[code]

And AppHostRuntimeIdentifier is the one ultimately controls the RID of IJW host. Note, Runtimeidentifier it not set. However, I don’t think this is a c

[2019-09-16 22:11] wli3 commented on #3647
However, we need ARM support https://github.com/dotnet/sdk/issues/3649

[2019-09-16 22:11] #3647 closed

[2019-09-16 22:36] #3622 closed

[2019-09-16 22:36] #3621 closed

[2019-09-16 22:36] #3619 closed

[2019-09-16 22:37] #3617 closed

[2019-09-16 22:37] wli3 commented on #3620
https://github.com/dotnet/sdk/issues/3647

[2019-09-16 22:37] #3620 closed

[2019-09-17 06:18] dasMulli opened #3650 "Warn on publishing solutions / path forward for publishing solutions"
There are many issues with doing a publish on solution files.

I suggest emitting a Warning when trying to do so. I think this may be possible through solution extension points.

so `dotnet publish the.sln` would emit something like `NETSDK999: Publishing whole solutions can lead to unintended side-effects`.
This could then be disabled with `dotnet publish the.sln -p:WarnOnPublishingSolutions=Fals

[2019-09-17 12:50] mattleibow commented on #3376
That is the thing. I have set up all the versions to be correct on devops and so it _should_ work. But it doesn't. Unless I make up a random version in the global.json.

[2019-09-17 17:18] livarcocc commented on #3376
Can you share the output of dotnet --info in the devops machine?

I suspect the bogus global.json might be forcing a particular SDK to be picked that happens to work.

[2019-09-17 20:52] wli3 opened #3651 "Block ConfigurationType = "StaticLibrary" and "" (utility)"

[2019-09-17 21:43] JunTaoLuo commented on #3599
@sebastienros The core-sdk change has been merged. Look out for a new version soon.

[2019-09-17 21:43] #3599 closed

[2019-09-18 00:07] bergbria commented on #3383
@nkolev92 / @rrelyea / @livarcocc - ping...

What's the state of this bug? Is there any rough timeline or line of sight on a fix?

[2019-09-18 05:26] mmitche opened #3655 "Reenable Helix perf on 3.0.1xx"
Re-enable helix perf on 3.0.1xx. Removed at: https://github.com/dotnet/sdk/pull/3654

[2019-09-18 15:34] livarcocc commented on #3383
This will likely not get addressed before 5.0. Have you tried @JustArchi suggestion above?

[2019-09-18 20:57] wli3 commented on #3648
it works

[2019-09-18 20:57] #3648 closed

[2019-09-18 21:23] CamSoper opened #10498 "Launching with `dotnet run &` fails to run in background on Linux"
This might be a regression of https://github.com/dotnet/cli/issues/6216.

## Steps to reproduce
From bash:

1. `mkdir temp && cd temp`
1. `dotnet new api`
1. `dotnet run &`  Note the job ID.
1. `jobs`

## Expected  behavior
New job is listed in *Running* state. App is running in background and responds to `curl` commands.

## Actual behavior
New job is listed is *Stopped* state. App is not running

[2019-09-19 08:13] thomaslevesque opened #3659 "SDK 3.0 RC1 installer doesn't uninstall 3.0 preview 7"
As I understand it, .NET Core 3 SDK installer is supposed to uninstall previous versions.
However, I had preview7 and just installed RC1, and preview7 wasn't removed:

[code]

Is this expected?

Also, preview7 no longer appears in "Apps and features", so I'm not sure how to remove it...

[2019-09-19 08:36] donhuvy opened #10500 "dotnet cli version 3.0.100-rc1-014190 still generate *.SLN with # Visual Studio 15"
## Steps to reproduce
Install .NET Core 3 RC1

[code]
then
[code]

Result of file `Actio.sln`

[code]

## Expected  behavior
[code]
become to
[code]
and other related things.

## Actual behavior

## Environment data
`dotnet --info` output:

[code]

[2019-09-19 19:45] livarcocc commented on #3581
This is now fixed right @dsplaisted ?

[2019-09-19 19:58] dsplaisted commented on #3581
It should be fixed.  I don't know if we validated it end-to-end.

[2019-09-19 22:15] billwert opened #3661 "PrepareForReadyToRunCompilation task fails on 5.0"
Trying to publish with ready to run on a console app with the 5.0 SDK fails as below.

cc: @nguerrera @fadimounir

[code]

[code]

[2019-09-19 22:24] fadimounir commented on #3661
May potentially be the same issue as https://github.com/dotnet/sdk/issues/3510

[2019-09-19 22:35] rainersigwald commented on #3650
dotnet/sdk#863 is related (and maybe sufficient?).

[2019-09-19 23:50] #3649 closed

[2019-09-19 23:51] wli3 commented on #3625
Email sent.

[2019-09-19 23:51] #3625 closed

[2019-09-20 03:23] dasMulli commented on #3650
It's one of the things that can go wrong. Another thing would be dependency trimming of things that ship in both Nuget packages and shared frameworks. If I have a library referencing e.g. Microsoft.Extensions.DependencyInjection and reference that from an asp.net core app, the app will not have the DLL in its output dir but if I publish the solution, the library publish output does have the DLL so

[2019-09-20 10:41] xianyun666 opened #10505 "PublishSingleFile,After run,system error:api-ms-win-crt-runtime-l1-1-0.dll is missing"
## Steps to reproduce
Run the software
## Expected  behavior
Run successfully

## Actual behavior
system error,api-ms-win-crt-runtime-l1-1-0.dll is missing

## Environment data
windows7 sp1 64bit
Installed KB2533623
Not installed KB2999226

PublishSingleFile,This error will occur.But,--self-contained does not.
I also found that,Found it in my cache directory.
**C:\Users\liu\AppData\Local\Temp\\.ne

[2019-09-20 15:02] rainersigwald opened #3662 "ReferenceCopyLocalPaths no longer content NuGetSourceType metadata"
_From @joeltankam on Friday, September 20, 2019 2:22:39 PM_

### Steps to reproduce

I encounter some missing metadata to `ReferenceCopyLocalPaths` item since migrating to `Microsoft.NET.Sdk` format in project files.

Lets consider the following project file :

[code]

I use the following code to print metadata from `ReferenceCopyLocalPaths` items :

[code]

### Expected  behavior
When using old p

[2019-09-22 15:04] feliwir commented on #3465
Any updates on this? We get this aswell.

[2019-09-23 02:37] BryanEllis commented on #3465
I am receiving this on dotnet publish using version **3.0.100-rc1-014190** working with a converted WinForms application. Any details on what is duplicated or what the **BundleRelativePath** references?

[2019-09-23 07:40] sassy224 commented on #994
Hi there,
Has this issue been resolved yet? I'm encountering a bug where the new netcore3 app csproject doesn't find assemblies which were specified in AssemblyFoldersEx in registry.
The same settings
<ItemGroup>
    <Reference Include="aaa.bbb.4.5.2" />
</ItemGroup>
works fine in any .NET Framework projects

[2019-09-23 10:12] giordi91 opened #3663 "Debugging .net core 3.0 from hosted application"
I am hosting a .net core 3.0 context into my c++ application. Unluckily no matter what I try I am  not able to debug the c# code. Is there any way to do so?

I am loading an entry point assembly using hostfxr.h as shown in the dotnet/samples. Then from inside c# I am loading all the other c# dlls using the documentation from here:
https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app

[2019-09-23 11:15] giordi91 commented on #3663
Looks lile I did not properly enabled mixed debugging, when I do so, it complains that .Net Framework was loaded not .net coreCLR as this:
![image](https://user-images.githubusercontent.com/2525797/65421430-9b16c000-ddfb-11e9-99ec-cb665f1c5895.png)

The only way I found is to set the coreCLR debugger when attaching as this:
![image](https://user-images.githubusercontent.com/2525797/65421454-aa9609

[2019-09-23 15:08] jods4 commented on #3044
Hit this today on 3.0-rc1

[2019-09-23 15:39] jzabroski commented on #3044
@nguerrera It's hard as an outsider to help fix the problems without knowledge of the user stories and test cases.  Do you have failing test cases and a general suite of tests with an Xunit tag around this feature that need to pass to consider this "feature complete"?

I think, given the number of false-starts here and misjudge of complexity, test-driven development and getting the tests to fail f

[2019-09-23 16:02] nguerrera commented on #3044
@jzabroski This issue is hard as an insider too. It's simply hard.

If this issue is important to you, the best way to help get it fully resolved is to engage on https://github.com/NuGet/Home/issues/7344. That is the correct fix.

[2019-09-23 17:04] livarcocc commented on #3662
@dsplaisted

[2019-09-23 17:08] livarcocc commented on #3663
I don't believe this is the right repo for this issue.

I would instead file a vs feedback item in visual studio and this will be routed to the appropriate team.

Short of that, @@tommcdon is this something that you could help with?

[2019-09-23 17:21] jzabroski commented on #3044
Respectfully, that seems down in the weeds.  To read https://github.com/NuGet/Home/issues/7344 I need to then also read about https://github.com/dotnet/cli/issues/10006, which proposes breaking up .NET meta-packages into "targeting packs" and "run-time packs".  But that issue doesn't clearly define what these two words mean.  I had to jump from https://github.com/dotnet/cli/issues/10006 to https:/

[2019-09-23 17:23] jzabroski commented on #3044
tl;dr: I think there is duplicate/cross-effort here between what you are doing and the CLR team designing roll forward functionality.  Simplify things by inverting your dependencies and treating targeting packs as plug-ins.  I hate to over-simplify and think I solved all your problems in 30 minutes, but this is my gut reaction to all this design effort.

[2019-09-23 17:27] dsplaisted commented on #3662
@joeltankam

SDK style projects use different code to resolve NuGet references, and I don't think we intend to guarantee that all the metadata is the same.  While everything in the build process is essentially public, the reason we have that metadata is for the MSBuild / .NET build logic, not explicitly for custom build logic.

If you're not familiar with it, I recommend using binary logs and MSBu

[2019-09-23 17:31] nguerrera commented on #3044
The design for runtime packs and targeting packs is covered by dotnet/designs#50. It is already implemented. NuGet/Home#7344 is about a very specific piece allowing a way to ask nuget to exclude packages. It is not as simple as you suggest because there is a deliberate need for "targeting packs" to not be so coupled to nuget.

[2019-09-23 17:51] tommcdon commented on #3663
@giordi91 the debug engine is controlled by the VS project system.  What type of project are you using to debug the application?  Note it is possible to open an EXE as a project (this is known as the "EXE" project system) and the debug engine can be set using project properties.  An EXE project can also be created using the "/DebugExe" command-line arg on devenv.exe - https://docs.microsoft.com/en

[2019-09-23 20:28] yingnanl opened #3664 "Set GCCpuGroup and Thread_UseAllCpuGroups via project file options"
Currently I can set ServerGarbageCollection by project file options as below.

  <PropertyGroup>
    <ServerGarbageCollection>true</ServerGarbageCollection>
    <ConcurrentGarbageCollection>true</ConcurrentGarbageCollection>
  </PropertyGroup>

Is it ok to support GCCpuGroup and Thread_UseAllCpuGroups too?

[2019-09-23 20:35] jzabroski commented on #3044
@nguerrera Thanks, I read through your dotnet Design Doc, but toward the bottom of the pull request review, I see your [caveat lector](https://github.com/dotnet/designs/pull/50#issuecomment-513028593) that says:

Given .NET Core 3.0 is live, can you please update this PR and fix the "out-of-date" issues?

IDK as a .NET developer how I am expected to understand how the .NET world works when there i

[2019-09-23 20:44] giordi91 commented on #3663
@livarcocc  Apologies, I am really new to the whole .net core ecosystem so I might be misplacing issues. I will do my best to redirect them properly. At the beginning I thought was a .net core issue but then boiled down to be a possible VS issue?

@tommcdon  I am debugging my engine, which is a few c++ solution and now some c# dlls.
I have a test suite which is c++ using catch exe that is what the

[2019-09-23 21:10] giordi91 opened #3665 "Issues comparing types from hosted .net core contexts in c++"
Good evening, apologies if this is not the right place for this question. If this is the case please let me know.

I am working on a project where I am hosting a .net core 3.0 context in my c++ application, trying to use c# as scripting language. The main idea is to bootstrap a high level c# class, and do all the heavy lifting inside there and minimize as much as possible c++ and c# interaction. H

[2019-09-23 21:29] 0xced commented on #2295
The .NET Core command-line (CLI) tools repository provides uninstall scripts.

* Linux (yum): [dotnet-uninstall-rpm-packages.sh](https://github.com/dotnet/cli/blob/master/scripts/obtain/uninstall/dotnet-uninstall-rpm-packages.sh)
* Linux (dpkg): [dotnet-uninstall-debian-packages.sh](https://github.com/dotnet/cli/blob/master/scripts/obtain/uninstall/dotnet-uninstall-debian-packages.sh)
* macOS: [do

[2019-09-23 23:36] livarcocc commented on #3665
cc @AaronRobinsonMSFT @vitek-karas

I don't think this is the right repo for this.

[2019-09-23 23:46] AaronRobinsonMSFT commented on #3665
@livarcocc Agreed.

@giordi91 Can you please move this question over to the https://github.com/dotnet/coreclr repo. We can focus on answering it there in the event there is a need to fix a bug in the scenario.

[2019-09-24 05:53] giordi91 commented on #3665
Thank you very much for your time and patience, I have opened the issue over there:
https://github.com/dotnet/coreclr/issues/26852

M.

[2019-09-24 05:53] #3665 closed

[2019-09-24 09:46] fugaku opened #3667 "Error NETSDK1073: The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized"
I'm trying to upgrade my library project from .net core 2.2 to .net core 3.0 using below setup for the `.csproj`

[code]

I have this dotnet sdk versions installed
[code]

Building the project gives me the error
[code]

Is there any documentation regarding referencing Microsoft.AspNetCore.* libraries from a netstandard projects ?

[2019-09-24 10:17] joeltankam commented on #3662
@dsplaisted thanks for your reply.

The build process I was talking about is actually in `Microsoft.VsSdk.targets`, used for Vsix projects. It uses `'%(ReferenceCopyLocalPaths.NuGetSourceType)' == 'Package'` to determine package elements :

[code]

Therefore, I need this metadata since I want package assemblies to be included in the vsix archive.

Thanks for the tip. In this case I just found more

[2019-09-24 10:21] gmeks opened #3668 "error MSB6006: "dotnet.exe" exited with code -532462766. (With PublishTrimmed=true)"
Host (useful for support):
  Version: 3.0.0
  Commit:  7d57652f33

If i enabled PublishTrimmed=true when trying to publish a .net Core 3.0 application ( Newly updated from .net Core 2.2) i get the following error:
C:\SourceCode\PlaniaHomeMVC\BuildServerAgent>dotnet publish -c Release -r win10-x64 /p:PublishSingleFile=true /p:PublishTrimmed=true
Microsoft (R) Build Engine version 16.3.0+0f4c62fea f

[2019-09-24 13:02] smoothdeveloper opened #3670 "Suggestion: location of global.json (and like files), should they move to a .dotnet subfolder?"
Asking if `global.json` (and other similar files) could be resolved from a `.dotnet` subfolder rather than at the root of repository.

Motives:
1. root folder is a crowded place
1. `global.json` is to  generic of a name, doesn't convey anything related to dotnet, moving it to a folder, and maybe renaming it?

Sorry if this issue has been brought up, tried to search, and it has been bothering me du

[2019-09-24 13:20] weltkante commented on #3631
Any news for who is going to be responsible for porting LC.exe? There's dotnet/winforms#1462 but it has seen no action since this issue was created. If you want to get this into 3.1 this probably needs to be picked up soonish.

[2019-09-24 15:37] livarcocc commented on #3668
@@jeffschwMSFT is this something you can direct?

[2019-09-24 15:41] livarcocc commented on #3631
The issue in winforms is the right one to track that.

[2019-09-24 15:44] livarcocc commented on #3664
You can set those in a runtimeconfig.dev.json and it will be copied over to your runtime.config.json.

We don't really have plans to add more of these there.

If you want to keep these in your csproj, I guess you could add them to `RuntimeHostConfigurationOption` directly.

[2019-09-24 15:46] dsplaisted commented on #3667
As ASP.NET Core 3.0 only targets .NET Core, some of the APIs are no longer available for .NET Standard.  Some of them continue to be available via NuGet packages.  @DamianEdwards may be able to help clarify what is available.  This page may also offer some help: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio

In any case, you should remove th

[2019-09-24 16:13] jeffschwMSFT commented on #3668
@gmeks can you share out the binlogs?  dotnet build /bl

cc @sbomer

[2019-09-24 16:30] gmeks commented on #3668
If i change dotcore publish to build, it works.

But your suggestion remined me that offcourse there has to be a better log, so this is with -v d

The error lines:
         Fatal error in IL Linker
         Unhandled exception. System.ArgumentNullException: Value cannot be null. (Parameter 'declaringType')
            at Mono.Cecil.Mixin.CheckType(Object type, Argument argument)
            at Mon

[2019-09-24 16:41] jeffschwMSFT commented on #3668
The linker communicates via exceptions, which is not a great msbuild experience.  We are looking into enabling this.  We will take a look at this issue.

cc @tlakollo

[2019-09-24 18:13] sbomer commented on #3668
@gmeks thanks for reporting. Could you please provide the full output of `dotnet --info`? This looks similar to the stack trace from another issue that was fixed earlier this year: https://github.com/mono/linker/pull/567#issue-278478399. We should ensure we're not hitting that issue. Also, I'm not able to access the log file at that URL, could you ensure the link is right? Are you able to provide

[2019-09-24 20:25] ivanparvaresh opened #10513 "`dotnet run` fails to restore packages run application outside of the project directory"
## Steps to reproduce
My solution structure is something like this:

[code]

I tried to execute `dotnet run  --project=$PWD/src/Project1/project1.csproj` but it seems in restore process, The paths can't resolve properly and it returns `error CS0012`, but if i run the command inside project2 it will work perfectly.

## Expected  behavior
by running `dotnet run --project=$PWD/src/project2/project2.c

[2019-09-24 20:39] nguerrera opened #3671 "ReadyToRun failing in 3.1 due to bad assumption about known framework references"
[code]

The code is doing a SingleOrDefault on the KnownFrameworkReferences with Microsoft.NETCore.App framework name, but now there are two that are known: 3.0 and 3.1 so it fails.

[2019-09-24 20:52] nguerrera commented on #3671
cc @fadimounir

[2019-09-24 20:55] nguerrera opened #3672 "It_publishes_and_runs_self_contained_wpf_app assumes `dotnet new wpf` targets 3.0"
Test is failing in merge of core-sdk 3.0 to 3.1 as it starts running is unprepared for the fact that `dotnet new wpf` now targets 3.1.

[2019-09-24 21:05] bergbria commented on #3383
@livarcocc / @JustArchi - just to confirm, will `TargetLatestRuntimePatch` yield the same result over time if given the same global.json and an identical SDK install dir is specified in %PATH%? Or will it find the latest patch through a web service / machine installation dir?

[2019-09-24 21:25] livarcocc commented on #3383
For now, it will be reliable. Though, for self-contained apps, you should actually want to get the latest of the latest for that patch. That's the only guaranteed way your app will be as secure as possible.

[2019-09-24 22:39] bergbria commented on #3383
That workaround will work for my team for now as long as the result is stable. Our nuget lock files need to remain valid unless some source state changes.

[2019-09-24 23:33] fugaku commented on #3667
I'm using dependencies from the shared framework (Microsoft.AspNetCore.Mvc.*)
Based on the link you gave me, those shared framework are no longer distributed through NuGet packages anymore.

So it seems my only option is to target .NET Core 3.0 in my library instead ?

[2019-09-24 23:36] dsplaisted commented on #3667
There are some types in the shared framework that are also available via NuGet packages (stuff like Microsoft.Extensions.Logging and DependencyInjection for example).  So it depends on which types you're using.

[2019-09-24 23:39] fugaku commented on #3667
As mentioned, I'm using the library in Microsoft.AspNetCore.Mvc.*

[2019-09-24 23:41] dsplaisted commented on #3667
In that case, yes, you'd need to target .NET Core 3.0.

(Sorry, I originally misread what you had written as Microsoft.AspNetCore.**App** instead of .Mvc.)

[2019-09-24 23:43] fugaku commented on #3667
I think you need to mention this somewhere in the documentation that people need to change from using `<TargetFramework>netstandard2.0</TargetFramework>` to `<TargetFramework>netcoreapp3.0</TargetFramework>` if they are referencing the `Microsoft.AspNetCore.Mvc.*`

[2019-09-24 23:46] dsplaisted commented on #3667
@DamianEdwards @richlander, do we have documentation on the fact that ASP.NET Core (MVC) is no longer supported for .NET Standard or .NET Framework?

[2019-09-24 23:55] fugaku commented on #3667
@dsplaisted  Thanks for the help

[2019-09-24 23:55] #3667 closed

[2019-09-24 23:57] ivanparvaresh opened #10515 "dotnet build failed exit code"
## Steps to reproduce
When `dotnet build` fails with error, it doesn't return `-1` exit code and also it prints out Build succeeded`.
in previous  version when one of projects failed to build all build process was failing.

## Expected  behavior
When one or more project fails to build, it should return `-1` exit code.

## Actual behavior
When one or more project fails to build, it returns success

[2019-09-25 01:18] liuzhy commented on #3465
I have the same problem.

And I found duplicated reference in my projects, like:
- ProjectA, a library project, reference to "somelib.core.dll"
- ProjectB, an "EXE" project, reference to "somelib.core.dll" and ProjectA

If I publish ProjectB by using "dotnet publish -c Release -r win-x64 /p:PublishSingleFile=true", get an error:
"MSB4018: System.ArgumentException: Invalid input specification: Foun

[2019-09-25 01:30] liuzhy commented on #3465
My dotnet core version is 3.0.100

[2019-09-25 08:46] gmeks commented on #3668
Sorry forgot that my firewall has very aggresive geo filters, but turns out the ubuntu pastebin is the most generous in terms of size.
https://paste.ubuntu.com/p/QnzJBWjtWj/

The project is a part internal/external deployment system so i cannot make it opensource over night. There is also a issue with the telerik dll files, i dont think im allowed to share them in public.

But if its needed we can

[2019-09-25 16:00] nguerrera commented on #3655
@livarcocc

[2019-09-25 16:00] nguerrera commented on #3655
@johnbeisner

[2019-09-25 17:17] JustArchi commented on #3383
@bergbria If the version of the SDK remains the same, yes, you're going to get reliable output, with newer SDK versions appropriately bumping the latest runtime patch up.

[2019-09-25 17:42] joeltankam commented on #3662
Any update please ?

[2019-09-25 18:07] livarcocc commented on #3655
Yes. Revert. This was done just to speed up our builds at 2 in the morning. Though, I would probably like to find a way for these to run out of band. No reason to hold the official build on these.

[2019-09-25 18:20] nguerrera commented on #3655
Agreed.

[2019-09-25 18:44] nguerrera opened #3677 "Make perf tests run out of band"
See discussion #3654, #3676, #3655

We should not block the official build on them and end up having to turn them off in an urgent situation as was done for 3.0 release.

[2019-09-25 20:49] wli3 commented on #20
Use linker's example. Use DOTNET_HOST_PATH on core. And use $(NetCoreRoot) with dotnet/dotnet.exe on fullframework. I believe $(NetCoreRoot) property is also available for Razor props and targets (please double check)

https://github.com/dotnet/sdk/blob/46917a9b622ea05377dc438db9f6b6e184bd3d83/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ILLink.targets#L78

[2019-09-25 23:55] livarcocc opened #3678 "Turn wpf vb template tests back"
Turned the test off because the wpf vb template has been removed for now.

cc @KathleenDollard

[2019-09-26 00:43] FrederickBrier commented on #1458
@jnm2 Do you have an updated version of your workaround? Could you please post it? Thank you!

[2019-09-26 00:45] SimonCropp commented on #1458
I just moved to embedded pdbs

[2019-09-26 00:49] jnm2 commented on #1458
@FrederickBrier

I'm not sure; it was @nguerrera's workaround. @nguerrera?

[2019-09-26 01:28] FrederickBrier commented on #1458
I cannot seem to find an article on how to use embedded pdb(s). Could you please send me a link? The topic has been chatted about for a while and there is a lot of chaff obscuring how to use it.

[2019-09-26 01:38] FrederickBrier commented on #1458
Found it. In the project Properties, in the Build tab, the Advanced... button, Debugging information. Thank you. Hope this works. Thank you.

[2019-09-26 04:17] SimonCropp commented on #1458
@FrederickBrier make your you check what changes that UI made to the csproj. i have found it often only applies to the currently selected config. ie it may have wrapped the change in a "is release" condition, which would not be what you want

[2019-09-26 05:34] krishnarajbb commented on #3159
I had .net standard project built on .net standard 2.0. Yesterday I updated my Visual Studio 2019 to 16.3.0 to leverage .Net Core 3.0. But all of sudden build of project targeting on standard 2.0 started throwing _"GenerateDepsFile" task failed unexpectedly_ error.

I was able to resolve this issue by changing the target framework to 2.1.

[2019-09-26 07:06] taori opened #3679 "Upgraded projects which compile to NS 2.1, didn't compile, downgrade, now compile fails as well"
I was trying to update an application to netcore3 to fix some issues, which spawned other issues (RazorTagHelper requiring some Configuration to operate). To attempt resolve those issues i figured i may try to update the libraries to netstandard 2.1 - that didn't fix it either, so i downgraded my projects back to 2.0.

Oddly enough now those libraries won't compile either even if i clean the solut

[2019-09-26 10:57] gmeks commented on #3668
I have to add a correction, while its true the build completes without PublishTrimmed=true, it will not run.

Failure processing application bundle.
Failed to determine location for extracting embedded files
A fatal error was encountered. Could not extract contents of the bundle

[2019-09-26 15:21] jeffschwMSFT commented on #3668
@gmeks that error indicates that the process was not able to write to the temp directory.  We rely on the OS provided temp location (eg. https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-gettemppatha).  Can you validate that you have write access to this directory?

[2019-09-26 16:23] livarcocc commented on #3670
@KathleenDollard

[2019-09-26 17:51] KathleenDollard commented on #3670
Let's get this in our backlog, as part of the `global.json` replacement.

@smoothdeveloper what else would you want in this folder? We would be rather lonely as the only file there

[2019-09-26 18:08] tebeco commented on #3670
local tools ?
global.json having an entry key to, for example a ps1 (because xplat / powershell core is a dotnet tool)
that way "dotnet tool restore" would run something like a "post tool restore"

that would replace the `restore.cmd` that is used by `dotnet/arcade`

goal :
[code]

having options near the sdk like "install locally if sdk not detected" (by default not visible/false)

would allow AN

[2019-09-26 18:38] gmeks commented on #3668
Yea the temp folder is in use and has content ( The program itself also depends on using the temp folder).

But more importent, another part of this soltion builds a just fine and works ( Thats a mvc web page, buildt to .exe).

I just verified that i have 71gb free space.

[2019-09-26 20:05] madelson commented on #1458
Any update on this issue? Not bringing over XML doc files and PDB files is a very frustrating for development and troubleshooting.

[2019-09-26 20:07] nguerrera commented on #1458
Sorry that issue has been a long saga. It turns out that to fix it properly we need some NuGet changes. I've started talking to the NuGet team and hope to have something proposed soon.

[2019-09-26 20:36] wli3 opened #3680 "Refresh docker images"
- [ ] Since they are outdated, it starts to fail and there is no easy fix. Like this case https://github.com/dotnet/core-sdk/pull/4955. Check all our outdate docker images. Update them to the supported version.
- [ ] Check in the docker file to https://github.com/dotnet/dotnet-buildtools-prereqs-docker/ and use the image. We can save a lot of build time by using image instead of installing depende

[2019-09-26 20:36] wli3 commented on #3680
@dotnet/dotnet-cli for awareness

[2019-09-27 01:10] FrederickBrier commented on #1458
Thank you Simon, I did verify the changes in my branch. It did specify the Debug configuration. We use git. I am now able to debug, using the "Embedded" approach, but if I clean by symbol cache and delete the .vs directory, it doesn't find the source automatically. I have to provide that either via the pop up dialog or add each of the include .nuget/packages/ source directories to the solution pro

[2019-09-27 01:17] SimonCropp commented on #1458
sorry for the noise to others in the thread...

@FrederickBrier inside the same sln embedded should work seamlessly. you should not mess with the .vs folder. if you are consuming that project as a nuget in another solution you want to use https://github.com/dotnet/sourcelink#using-source-link-in-net-projects
so you pick your nuget package based on your source system

but if you are having problems

[2019-09-27 02:04] nguerrera commented on #3678
Are the templates coming back in 3.1?

[2019-09-27 02:22] taori commented on #3679
@eerhardt Hello - could you perhaps tell me if this is the right place to report this issue? I'd imagine that is a pretty severe issue who should be affecting everyone who tried to build with rc1?

[2019-09-27 07:30] dasMulli commented on #3679
Maybe you're hitting an issue because ASP.NET Core now targets netcoreapp3.0 so you can no longer write components in netstandard libraries so you have to change them to netcoreapp3.0 and add a framework reference to ASP.NET Core?

https://stackoverflow.com/questions/57760356/how-do-i-use-asp-net-core-3-0-types-from-a-library-project-for-shared-controller

[code]

[2019-09-27 07:48] taori commented on #3679
After a while of trying to get it work by building my solution from scratch i came to the same conclusion. That made me spawn this issue. aspnet/AspNetCore/issues/14499 Feels weird that creating a razorclasslib can spawn different kinds of projects who then cannot be referenced anymore.

Your answer fixed my problem though essentially. Thanks.

[2019-09-27 15:38] aguacongas opened #3683 "dotnet publish with a runtime identifier and no build publish the wrong version of System.Net.Http dll"
I have a wrote a Windows Service and I compile it using `donet build -c Release` and I publish it using `dotnet publish -c Release --no-build`
But the System.Net.Http dll packaged has the file version 4.6.27110.4, it should be 4.6.27207.3.
And I received error that should be fixed in runtime 2.2.1 :   [System.ServiceModel.CommunicationException: The server returned an invalid or unrecognized respo

[2019-09-27 15:40] ericstj commented on #3683
@livarcocc @dsplaisted @nguerrera this appears to be an issue with publish standalone when specifying `--no-build`.  It looks like it's restoring the wrong runtime packages.  IIRC the SDK has some special logic for doing a publish-only restore here that might be failing with `--no-build`.

[2019-09-27 16:41] dsplaisted commented on #3683
@aguacongas Does this also fail with the 3.0 version of the .NET Core SDK?

@wli3 FYI

[2019-09-27 16:50] aguacongas commented on #3683
@dsplaisted should I target netcoreapp3.0 or let it target netcoreapp2.2 ?

[2019-09-27 16:56] dsplaisted commented on #3683
We would like to know if it is failing for either case.  But I would start by leaving it on netcoreapp2.2.

[2019-09-27 16:57] aguacongas commented on #3683
@dsplaisted targeting netcoreapp2.2 the dll version is good with .Net Core SDK installed
My local `dotnet --info` output is :

[code]

[2019-09-27 16:58] dsplaisted commented on #3683
So it sounds like this issue was fixed in the 3.0 SDK, correct?

[2019-09-27 16:59] aguacongas commented on #3683
Yes it is. However in our build server the 3.0 SDK is not yet installed

[2019-09-27 18:07] dsplaisted opened #3684 "Re-enable tests disabled as part of repo merge"
I'm working on merging the cli and toolset repos, and there are some tests which are failing only on non-Windows and only in CI.  I am going to disable these tests for now in order to not block the repo merge.

Once everything is merged into the SDK repo, we should investigate and re-enable them.

[2019-09-27 18:58] swaroop-sridhar opened #3685 "Publish Single-file: Smart settings for IncludeSymbolsInSingleFile"
When publishing an app as a single file, the default setting is to not include PDB files in the output bundle by default (and instead leave them as separate files).

However, this setting is unsuitable for some apps, where the `deps.json` file includes a dependency on the PDB file. This causes runtime-crash of the app when the `apphost` validates the contents against the deps.json manifest. For ex

[2019-09-27 18:59] swaroop-sridhar commented on #3685
CC: @Viir

[2019-09-27 18:59] swaroop-sridhar commented on #3685
CC: @dasMulli

[2019-09-27 19:06] swaroop-sridhar commented on #3685
@lpereira In .net 5, will the apphost validate the dependencies listed in the deps.json file at startup?
This PDB inclusion issue will be moot for most apps, but for the apphost checking.

CC: @vitek-karas

[2019-09-27 19:10] dasMulli commented on #3685
I'm still not sure if the pdb in the deps.json isn't a bug that should be fixed in the first place. Though this likely needs Nuget involvement.. @nguerrera @dsplaisted thoughts?

[2019-09-27 19:11] nguerrera commented on #3685
I think it is a bug. We have related discussion about being able to query for pds so that we can copy them. It's ironic that we copy them for native, but not managed. Feels like there's an exclusion of pdbs only in managed case.

[2019-09-27 19:13] dsplaisted commented on #3685
I believe that technically it's a bug to put a pdb in the native files of a package.  NuGet interprets anything in the folder as a native file, which is how it flows through to the deps.json.

It seems like it is natural to put pdbs in the native folder though, so if we want to support that we could update the NuGet convention, or apply a PDB convention on top of it in the SDK.

[2019-09-27 19:33] dasMulli commented on #3685
I think it is perfectly natural for authors to include artefacts that help for debugging or error tracking.

For managed code, I usually suggest deploying PDBs with everything to get "good" stack traces. Tools like Sentry even help tracking down the GIT commit that caused error to occur based on stack trace symbolificatiton.
So authors may want to include pdbs / dsym / etc.

But "native" really me

[2019-09-27 19:34] dasMulli commented on #3685
To double down: Does `IncludeSymbolsInSingleFile` also apply to dsym files?
I think there should be parity for each runtime if that is the case, so leaving native pdb / dsym / * files alone and not applying filters to that or encoding the knowledge about all kinds of symbol files.

[2019-09-27 19:42] nguerrera commented on #3685
Great points. At the end of the day, we have to uniformly decide if something is a symbol file or not. If we decide it is not a symbol file, but an arbitrary native asset, then it should be in deps.json AND deployed irrespective of IncludeSymbolsInSingleFile. And if we decide it is a symbol file, then it should not be in deps.json AND not included in single file iff IncludeSymbolsInSingleFile is t

[2019-09-27 19:46] lpereira commented on #3685
I've been thinking about this, and I might open the deps in apphost so the validation is performed right at the beginning, but keep them open -- the runtime can then just use the open file descriptors instead.  In a way, the check now becomes more robust while still improving the performance, by cutting a lot of unneeded stat(2) calls.  (Need to sleep on this for a little while longer, though.)

[2019-09-27 22:45] wli3 commented on #3626
https://github.com/dotnet/sdk/pull/3652

[2019-09-27 22:46] wli3 commented on #3636
https://github.com/dotnet/core-sdk/commit/76a361bbf84e62d746f1d0a5a27e7c7d4d6f1209

[2019-09-27 22:46] #3636 closed

[2019-09-27 22:46] wli3 commented on #3651
https://github.com/dotnet/sdk/pull/3652

[2019-09-27 22:46] #3651 closed

[2019-09-28 02:53] #3581 closed

[2019-09-28 02:53] #3671 closed

[2019-09-28 02:53] #3672 closed

[2019-09-29 14:25] alexandrehtrb opened #3696 "Make multilanguage project builds"
I propose that dotnet build allows multilanguage .NET projects.

Currently, a .NET project needs to be language exclusive, that is, only F#, or only C#, or only VB.NET.

But, this could change to allow .fs, .cs and .vb files to be compiled together in a same project.

The existing way of approaching this problem in F# is separate F# files in F# projects, C# files in C# projects, and VB.NET files i

[2019-09-29 17:59] 0xd4d commented on #3696
Try https://github.com/dotnet/ILMerge

[2019-09-30 15:55] genifycom opened #3728 "How to debug "GenerateBundle" task failed unexpectedly"
# Issue Title

dotnet publish xxx.csproj -r win-x64 -c Release /p:PublishSingleFile=true

gives me the following:

C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Publish.targets(809,5): error MSB4018: The "GenerateBundle" task failed unexpectedly. [C:\xxx.csproj]
C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Publish.targets(809,5

[2019-09-30 18:26] ghosttie opened #3698 "publishing appears to succeed but dependencies are missing if child project has space in package id"
I had a problem that manifested as an [HTTP Error 500.31 - ANCM Failed to Find Native Dependencies](https://github.com/aspnet/AspNetCore/issues/14443) error which was misleading.

The problem turned out to be that the main project had references to other projects that had spaces in their package ids, which somehow kept them from being published correctly, even though there was no error at publish

[2019-09-30 22:37] livarcocc commented on #3698
Can you provide us with a repro of the issue? Ideally, a repro repo on github that we can run. Or, a binlog of the issue: https://aka.ms/binlog

[2019-10-01 01:29] DamianEdwards commented on #3667
Docs for this are being tracked at aspnet/AspNetCore.Docs#14309

[2019-10-01 07:22] iyhammad opened #3700 "dotnet publish for sdk 3.x produces different output than sdk 2.x"
I've an application the uses .NET Core 2.2 and build against net472.
I discovered that publishing the same app using .NET Core SDK 3.x produces different publish output than SDK 2.x. Below are sample of the different output of the 2 SDKs.
![SDK 2.x](https://user-images.githubusercontent.com/5989020/65941989-03d1ee00-e435-11e9-9c6b-1c34336c86f3.png)
![SDK 3.x](https://user-images.githubusercontent.

[2019-10-01 09:11] szpght commented on #3302
I also would like to be able to use this option. I use LanguageExt (https://github.com/louthy/language-ext) which with `PublishReadyToRun` enabled grows to ~70MB and I probably use only a little part.

[2019-10-01 14:45] chriss2401 commented on #3159
Can anyone help with where to put `<DepsFileGenerationMode>old</DepsFileGenerationMode>` ? I tried in my csproj file and it doesn't work.

[2019-10-02 01:06] dsplaisted commented on #3684
I'm disabling a bunch of the ToolPackage tests against this bug.  The issue is that they end up shelling out to a dotnet process that uses stage 0 dotnet.exe to try to restore a project with the stage 2 layout.

[2019-10-02 21:08] nguerrera commented on #1458
This will impact .NET Core 3.0+ projects by default as well as .NET Framework since they no longer run NuGet dependencies from the NuGet cache for non-publish builds. The same workarounds will work there.

[2019-10-02 21:37] livarcocc commented on #3302
@jeffschwMSFT should this be tracked here or somewhere else?

[2019-10-02 21:40] livarcocc commented on #3700
What do you mean by it uses netcore 2.2 against net4.7.2? Do you mean you reference asp.net packages directly at version 2.2?

[2019-10-02 21:46] bzapata-thr commented on #2599
Still happening in 16.3.2
`"CreateAppHost" task failed unexpectedly`

[2019-10-02 22:23] DamianEdwards opened #3706 "Support ability for FrameworkReference to import analyzers"
Request came out of https://github.com/aspnet/AspNetCore/issues/14675

ASP.NET Core app projects today target the Web SDK which auto-imports a set of "default" analyzers. There are scenarios however where parts of an ASP.NET Core app are split into class libraries and then referenced from the main app project, but these class libraries use the base SDK, and manually add a `<FrameworkReference Incl

[2019-10-03 03:26] EatonZ opened #3707 "PreBuild event/target runs twice - during Build and Publish"
**Visual Studio Version**: 16.3.1

**Summary / Steps to Reproduce / Behavior**:
I have a .NET Core 3.0 WinForms application and I have added a prebuild event to my project. It gets added to the csproj like this:
[code]
It basically launches my prebuild exe, which does a few things, like increment the version in AssemblyInfo. This has always worked fine until I started experimenting with .NET Core

[2019-10-03 04:44] nguerrera commented on #2599
Please open a new issue and include the full output.

[2019-10-03 05:40] christophwille opened #3708 "Build Order Bug with app.config/BeforeBuild"
Please see https://github.com/icsharpcode/ILSpy/issues/1731

Effectively, only Visual Studio gets the build order wrong, but both of our build servers don't (msbuild). The cause seems that app.config for ILSpy.csproj is built from a template.

[2019-10-03 12:53] iyhammad commented on #3700
I mean we reference .NET Core Packages v2.2.x and our build target is net472. below is a snippet of our csproj file to give you more insights.
[code]

[2019-10-03 13:01] dasMulli commented on #3708
the current pipeline determins if the project has a valid app.config during PrepareForBuild, at which point it is failing because there is a `<None Include="app.config" />` in the csproj but the file doesn't exist on disk. New build logic to work with that file now doesn't work.

Changing the custom target that runs a powershell script to run run before `PrepareForBuild` instead of before `BeforeB

[2019-10-03 13:43] dasMulli commented on #3708
Looks like https://github.com/dotnet/sdk/pull/2447 breaks some VS builds for projects that generate the app.config file in BeforeForBuild and aren't prepared that the file is actually required for some design time builds now.

[2019-10-03 15:53] EatonZ commented on #3707
@jmarolf @davidwengier Ok, thanks for moving. At first glance it seemed like the project repo was the best place.

[2019-10-03 17:08] johnbeisner commented on #3659
@thomaslevesque
Do you have Visual Studio installed? It is entirely possible that the preview 7 SDK is installed and managed by VS.

[2019-10-03 17:43] thomaslevesque commented on #3659
Ah, maybe that's it.
However, I had a VS Preview installed, but uninstalling it didn't removed the preview7 SDK

[2019-10-03 18:04] johnbeisner commented on #3659
@joeloff
Can you assist @thomaslevesque in removing the left-behind preview7 SDK

[2019-10-03 18:47] wli3 opened #3710 "Use Helix to distribute tests"
- [x] Use existing Helix xunit SDK runner to distribute tests
- [x] Run full framework tests.
  ~~- [ ] Use docker to run full framework tests https://github.com/microsoft/dotnet-framework-docker/issues/313~~
   ~~- [ ] Check in docker file and get a image~~
- [x] Run Linux and mac tests
- [x] Run test as tool tests (or just disable them)
- [x] Split Build tests, there are too many tests in it

==

[2019-10-03 22:12] dasMulli commented on #3700
I believe the 3.0 web sdk adds additional analyzers by default..

[2019-10-03 22:55] joeloff commented on #3659
The simplest thing to pull the installers from the registry.

1. Open regedit
2. Expand HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall
3. Search for "preview7", "preview-7" and "preview 7". Some installers have used different naming conventions
4. If you find an entry that looks like it's .NET Core related, grab the UninstallString value, it should be something like "msiexec /X {GUID}".

[2019-10-04 07:28] thomaslevesque commented on #3659
Thanks @joeloff!

I was able to uninstall all the components. One of them had an incorrect UninstallString:

    MsiExec.exe /I{1A9C4CE3-DA05-4969-AA9F-FA372306713A}

Replacing `/I` with `/X` did the trick, though

[2019-10-04 07:28] #3659 closed

[2019-10-04 08:18] Barsonax commented on #1551
You also get similar random errors when parallel build is enabled and you use webpublish:
[code]

I think its caused by project A still doing the copy and thus having a file lock at the same time when project B wants to copy the same file. Msbuild doesn't seem to be able to handle this properly.

The issue is very intermittent and hard to reproduce but I seen it happen on multiple machines and als

[2019-10-04 16:03] gilescope commented on #1458
FYI tried that on VS2017 version 15.9.12 but it didn't find the embedded PDB alas.

[2019-10-04 23:32] Portekoi commented on #1321
Same issue on VS2019 Community and the solution of @dhieyson works for me.

[2019-10-05 15:51] smoothdeveloper commented on #3670
@KathleenDollard thanks for your feedback.

Can I have a pointer to what this is about?

I'm not aware of additional files (not using dotnet core sdk extensively yet) but I can foresee more will eventually come, in which case, it would be neat for some of the considerations in the issue to be taken in account.

[2019-10-05 15:56] smoothdeveloper opened #3718 "dotnet build --help failing due to sdk version"
When I attempt a command with the `--help` argument, it fails due to mismatch of SDK version

Would making it work disregarding potential mismatch be more user friendly / sensible?

Currently:

[code]

Also, is there a way to force the sdk to "go ahead"? if so, it would be good to be pointed at that in the mismatch error message (with a bit of caution).

[2019-10-05 16:18] megakid opened #3719 "*.pp contentFiles not copied to output directory in 3.0 SDK"
I've been digging into this issue whereby a `.pp` file inside a package `contentFiles` (with `copyToOutput="true"`) via `PackageReference` is not copied into the output directory during a `dotnet publish` / `dotnet build`.  This works fine with .NET Core SDK `2.2.*` but is broken in `3.0.100`.  Non-`.pp` files work fine.

I have debugged the MSBuild process and can see that the files are transform

[2019-10-07 09:44] lscpike commented on #3719
Digging through the code a little it seems the _ContentCopyLocalItems is no longer used. That seems to be where the .pp file output was previously added to the ReferenceCopyLocalPaths.

See https://github.com/dotnet/sdk/commit/1936ebd7307cebd6c5d1d8d699b9844f73b8fb2c#diff-726c4af93875efa855c29e94f7c0b33eL498

Feels like an accidental bug to me.

[2019-10-07 21:41] livarcocc commented on #3719
@sfoslund can you work with @dsplaisted to come up with a fix proposal for this?

[2019-10-07 21:49] livarcocc commented on #3718
This is not something we will tackle.

By the time this error happens, there is no .NET Core SDK involved. This is handled entirely by dotnet.exe and it has limited code. We would not want to make that part of the code more complicated to allow for certain commands (or options) to by pass the global.json.

We do have new options to global.json that might be more interesting and work for you in thi

[2019-10-07 21:49] #3718 closed

[2019-10-07 21:53] livarcocc commented on #3696
This is not something that we are going to be looking at, so I am going to close this issue for now.

[2019-10-07 21:53] #3696 closed

[2019-10-07 23:18] livarcocc commented on #3707
cc @dsplaisted @nguerrera

[2019-10-07 23:42] livarcocc commented on #3708
@wli3 can you take a look?

[2019-10-07 23:43] wli3 opened #3724 "BuildWebLarge and similar perf test have wrong snapshot folder"
https://github.com/dotnet/sdk/blob/260f37383a4974b478cba2ba67ac7908578f5b07/src/Tests/Microsoft.NET.PerformanceTests/BuildPerf.cs#L68

And possibly other similar tests. We use the same folder to find the csproj (which is correct), and to do snapshot (not correct). As a result, in BuildWebLarge, only the mvc folder is under snapshot/restore while there are many other projects in the solution is not

[2019-10-07 23:48] livarcocc commented on #3678
Ping @KathleenDollard

[2019-10-07 23:58] wli3 commented on #3708
@christophwille Will setting `GenerateSupportedRuntime` to false help in this case? My understanding is ILSpy is generating an app.config during the build but we did not successfully detect that.

I don't think there is an "precise" way to do so, since it is a state on the disk, it could in theory appear anytime during the build. Moving the detection more close to copy files might help, but due to

[2019-10-07 23:59] wli3 commented on #3626
forget to close. this is done :)

[2019-10-07 23:59] #3626 closed

[2019-10-08 04:25] Codex- opened #3725 "Can only build 2.2 Tests with 3.0 installed with RuntimeIdentifier specified"
I came across this issue today when Visual Studio updated to 16.3 and forced the installation of .NetCore 3.0

When 3.0 is installed I found I was unable to build 2.2 apps/test projects as they resulted in the error `System.BadImageFormatException : Bad IL format.`. Removing 3.0 'resolved' this.

With 3.0 being forcibly installed now I've managed to find that adding `<RuntimeIdentifier>win-x64</Ru

[2019-10-08 05:17] livarcocc commented on #3725
Is this the entirety of your project? does it work if you run dotnet test from the command line?

[2019-10-08 05:27] christophwille commented on #3708
@wli3 We are generating the app.config for ILSpy.csproj in a project that is a reference for it (icsharpcode.decompiler.csproj). Where would I put that property? ILSpy.csproj I presume.

Note that thanks to @dasMulli we tried another approach (see linked issue), but that means it is invoked multiple times (not desireable either).

[2019-10-08 05:56] Codex- commented on #3725
Interesting, the cli gives a proper trace which is nice (VS just gave nothing but the one liner, could be a config thing thought)

[code]

Have had to omit a few lines due to rules etc.

[2019-10-08 06:17] davidwengier opened #3726 "Review translation of "Assets file" for portuguese"
tag @tmeschter

This is just one person, but they speak portuguese better than me, so thought I'd report it. Not sure if there is some way to get the LOC team to verify that translations make sense? It looks like in this case the translation is technically correct, but perhaps not helpful.

From the C# discord today:

-----

@marcussacana :
I got a error
it's in portuguese, a sec to me translate
"

[2019-10-08 14:23] ds1709 opened #3730 "Use ResXFileCodeGenerator as default custom tool fo resx files if Designer.cs file exists"
**Summary**:
We need to specify `CustomTool` attribute for resx files. Generally it's `ResXFileCodeGenerator`. If `CustomTool` not specified, then code generator is not working. Offer to make `ResXFileCodeGenerator` as default custom tool for resx files, whict has paired Designer.cs file (e.g. the most common Propertiest\Resources.resx and Properties\Resources.Designer.cs).

[2019-10-08 14:33] tmeschter commented on #3726
@marcussacana Could you paste in the original Portuguese message? I can have our localization team take a look.

[2019-10-08 16:00] wli3 commented on #3708
Yes, ILSpy.csproj should work

[2019-10-08 16:08] bzapata-thr commented on #2599
Figured it out. For anyone viewing this thread, the culprit was Windows Security. I was getting the above error about 40% of the time I did a build (F5 and Control-F5). The fix:
- go to Virus & threat protection

I didn't see this specific fix anywhere else on the web, so hopefully this helps someone.

[2019-10-08 18:17] nik331 commented on #3059
Use :  /t:Restore;Build

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe" t:Restore;Build ProjectXXX.sln

[2019-10-08 18:21] rainersigwald commented on #3059
@nik331 Do not use `/t:Restore;Build`. It results in subtle bugs. Instead, use the separate argument `/restore`.

[2019-10-08 20:07] swaroop-sridhar commented on #3728
Thanks for reporting the issue @dasMulli, I'll add a version check for 3.0 or later.
@nguerrera  can you please transfer this issue to SDK repo? I don't have permissions to do the transfer.

[2019-10-08 20:13] vitek-karas commented on #3728
(It already is in SDK - I moved it)

[2019-10-08 21:16] Codex- commented on #3725
Tracked it down to the usage of `Assembly.LoadFrom`.

[2019-10-08 21:16] #3725 closed

[2019-10-08 21:25] davidwengier commented on #3726
Sorry, I should have included that too. The message shown was:
![image](https://user-images.githubusercontent.com/754264/66434454-54b59800-ea6e-11e9-8b4e-683b4a7ffe6b.png)

Which comes from this resource:
https://github.com/dotnet/sdk/blob/b28a8efbfb30d84019351abb3aa9a2b15e008662/src/Tasks/Common/Resources/xlf/Strings.pt-BR.xlf#L55-L59

Note there are other cases of "Assets file" in other resource

[2019-10-08 21:28] davidmatson opened #3729 "Process.Start on exe via ProjectReference no longer works in .NET Core"
**Visual Studio Version**:
16.2.5

**Summary**:
Having a ProjectReference to an .exe was sufficient to have Process.Start work in .NET Framework (both old- and new-style csprojs). With .NET Core, it fails (with both SelfContained=true and false and with or without running Publish first).

**Steps to Reproduce**:
1. Create an exe project in a new solution.
2. Create a second exe project in the same

[2019-10-08 22:11] davidwengier commented on #3730
The SDK doesn't specify a `<Generator>` for `<EmbeddedResource>` items. I'm guessing this is because some resx files don't need code behind, like `Form1.resx` in a Windows Forms project. It might be possible to specify it in the SDK if the resx file is not a dependent file though?

[2019-10-09 10:20] ds1709 commented on #3730
Adding resources via Visual Studio also add record in csproj file. The idea is to minimize code in csproj file. It will be more convenient for developers, who edit csproj file manually.
For WindowsForms it will be more complex, but here we can check if resx file already `DependentUppon`. But I don't know how much it will conflict with this [https://github.com/dotnet/project-system/issues/5566](url

[2019-10-09 11:05] davidje13 commented on #2334
From what I can see, this change has also broken the behaviour of `dotnet install-sdk`.

Everything I see online says that running `dotnet install-sdk` in a folder with a `global.json` will cause it to install the correct version (after running `dotnet tool install -g installsdkglobaltool`, of course). But when I use it, it just errors with "A compatible SDK version for global.json version: [2.2.1

[2019-10-09 14:09] Zheltov commented on #3465
I have same problem!

I was creating new .net core console application with just one nuget reference "Microsoft.Azure.Cosmos".

It`s my .csproj file:
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <PublishSingleFile>true</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
  </PropertyG

[2019-10-09 14:11] Zheltov commented on #3465
I have same problem!

I was creating new .net core console application with just one nuget reference "Microsoft.Azure.Cosmos".

``

It's my .csproj file:
`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <PublishSingleFile>true</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
  </Prop

[2019-10-09 14:31] nguerrera commented on #2334
There were versions of the host that:

1. Didn't know about 2.1.Nxx convention and thought that it was plain semver with the third part being a patch.

2. If exact match was not found, used latest patch, but allowed that to be lower than what was specified in global.json, causing a roll backwards (!) in some cases.

This would have allowed a specific example like 2.1.104 being used when you specif

[2019-10-09 14:49] davidje13 commented on #2334
@nguerrera yes I already raised https://github.com/JosephWoodward/DotNetInstallSdkGlobalTool/issues/14

The explanation makes sense, but it feels like the missing feature is the ability to explicitly ignore global.json. It's good that it's strict by default, but clearly there are cases where non-versioned commands are useful.

Of course, the real missing feature is the ability to auto-install the

[2019-10-09 14:53] nguerrera commented on #2334
And the more obvious case of installing an *older* version than you have.

[2019-10-09 21:51] wli3 commented on #3684
there is no stage 2 layout, it is dotnet.dll and dependencies. Shell out is how the result of how command resolver is implemented.

[2019-10-10 01:15] wli3 commented on #3684
The tests are testing the nuget adapter (giving package name, output location, download a package.)

by the time nuget is from LKG anyway, so stage 0 or stage 2 they are the same. Now stage 2 has the latest nuget, the test should run again stage2.

I can swap the implementation of IProjectRestorer, and let it use stage 2

[2019-10-10 05:23] christophwille commented on #3708
That worked, thanks.

[2019-10-10 07:14] hanslai opened #3731 "dotnet cli: dotnet new failed when there is a private nuget package"
I have a private nuget package setup in Visual Studio.

![AIS Internal nuget](https://user-images.githubusercontent.com/20576491/66546180-0b00a680-eb6f-11e9-9ab5-43dcae189c23.png)

When I run the following CLI command `dotnet new -i "Amazon.Lambda.Templates::*"` in Powershell , `dotnet new `will failed with Status Code 401.   Please see error message below.

![Dotnet new failed with private nuget]

[2019-10-11 09:13] Skleni commented on #1791
I just had the same problem. Unfortunately @bigbangtheorem's workaround did not work for me for some reason, but [this one](https://duanenewman.net/blog/post/forcing-a-specific-target-platform-with-packagereference/) by @duanenewman did. Maybe it helps someone else.

[2019-10-11 09:20] guogangj commented on #1383
Unfortunately, this issue reappears in dotnet core 3.0.100, I described it there: [https://github.com/dotnet/core/issues/3587](dotnet core 3.0 doesn't copy symbol files(*.pdb) and xml document files from nuget package to bin/publish folder.)

[2019-10-11 09:23] guogangj commented on #1458
[https://github.com/dotnet/core/issues/3587](dotnet core 3.0 doesn't copy symbol files(*.pdb) and xml document files from nuget package to bin/publish folder.)

[2019-10-11 16:37] AArnott opened #3743 "NETSDK1085: SatelliteDllsProjectOutputGroupDependencies causes P2P build during pack"
The SatelliteDllsProjectOutputGroupDependencies target results in P2Ps doing a build even when NoBuild=true, as caught by the NETSDK1085 error.

Simple repro sln: [NETSDK1085Bug.zip](https://github.com/dotnet/sdk/files/3718674/NETSDK1085Bug.zip)

To repro:
[code]

Scenario: I'm building an analyzer package which includes code fixes in one assembly and analyzers in a P2P reference. I need to gather

[2019-10-11 20:43] Barsonax commented on #1551
Seems to be caused by the virus scanner. Adding a exclusion to your source folder will prevent these errors it seems.

[2019-10-12 02:20] matkoch commented on #2334
Adding my experience:

1. The behavior of calling `dotnet --version` in presence of a non-matching `global.json` has definitely changed at some point. I can't tell an exact version, unfortunately, but at some point it was just outputting the available version, which is why I've ended up with [this comparison](https://github.com/nuke-build/common/blob/develop/source/Nuke.GlobalTool/templates/build.

[2019-10-12 21:40] mwpowellhtx commented on #3076
I have run into a similar issue. After installing VS2019, in our estimation, for the most part, our VS2017 solution build pipeline works fine. However, is falling over failing to properly identify our internal `dotnet CLI tool`. This was working seamlessly prior to the side by side installation. The only thing we can figure, is that the latest runtime bits, 3.0, do not function with well with our

[2019-10-12 22:20] mwpowellhtx commented on #3076
So... Looking for workarounds, resolutions. Besides potentially need to install and/or re-install SDKs, runtimes, etc. Haven't gotten quite that far in my troubleshooting. Short of that, crude answer is for us to visit each of our `.csproj` project files and add the `ToolsVersion` attribute in the appropriate version? I assume that's `15.0` for VS2017? Is there a more elegant way to do that in swa

[2019-10-12 22:48] mwpowellhtx commented on #3076
Well, I've tried adding `ToolsVersion="15.0"` to our projects, to no avail.

Running the latest NuGet: `Version: 5.3.0.6260`

If it helps, our `dotnet --info` looks like this:

[code]

[2019-10-14 15:49] dsplaisted commented on #3076
@mwpowellhtx Can you open a new issue specific to the problems you're having with dotnet CLI tools?  This issue has been dormant for 6 months, so I believe it has been resolved and I am going to close it.

[2019-10-14 15:49] #3076 closed

[2019-10-14 15:59] mwpowellhtx opened #3746 "Build pipeline failed to resolve CLI tooling after VS2019 installation"
We got errors in our build pipeline related to our internal CLI tooling failing to resolve correctly, in our estimation, following VS2019 installation.

Running the latest NuGet: `Version: 5.3.0.6260`

If it helps, our `dotnet --info` looks like this:

[code]

[2019-10-14 16:05] mwpowellhtx commented on #3746
We thought at first this might require setting `ToolsVersion="15.0"` in all of our projects, to no avail.

Our CLI tooling is targeting `netcoreapp2.1`, specifically.

Eventually, we drudged up the solution, `global.json` (or one of its derivatives, i.e. `project.json`?), and after consulting with the [this decoder ring](https://dotnet.microsoft.com/download/dotnet-core/2.1), we set the most appro

[2019-10-14 16:07] mwpowellhtx commented on #3076
@dsplaisted Thanks, we have [resolved the issue](/dotnet/sdk/issues/3746), sort of, but there remains some migration path concerns we'd like to understand better.

[2019-10-14 21:13] dsplaisted commented on #3746
You are supposed to be able to use the latest tools/SDK.  Global.json is an escape hatch to use an older version of the tooling in case there is a bug, but I don't recommend it in general.

Can you provide more information about what is failing?  It sounded like it was an issue with dotnet CLI tools.  How are you trying to use them, and how are they failing?

Thanks!

[2019-10-14 21:49] eloraiby opened #11639 "Segmentation fault (core dumped) - NetCore 3.0"
After updating to 3.0.1 on Linux Mint:

When running `dotnet new console -n cs-hello`
I get :
`Segmentation fault (core dumped) `

info:
[code]

Removing `DOTNET_CLI_TELEMETRY_OPTOUT=1` fixes the problem.
Consequently, putting back `DOTNET_CLI_TELEMETRY_OPTOUT=1` after first run won't cause the problem to re-occur again.

[2019-10-14 23:03] mwpowellhtx commented on #3746
@dsplaisted Evidently not. The failure occurs trying to run the CLI tooling. I'm not sure it even restored the package in to begin with, and I can promise you the package was there and ready for the next phase(s) in the pipeline to consume it. The tooling builds at an earlier phase in the pipeline and packages as a standard NuGet package. All working just fine prior to the VS install.

Best guess,

[2019-10-14 23:23] livarcocc commented on #3746
Can you share what error you are getting and give us more details on your setup? As Daniel says, a latest SDK can target all previous TFMs, as in, it can build projects targeting older TFMs.

But, if you are trying to fun an application, you still need to install the runtime required by that app. It won't roll forward automatically for you. So, if as part of your process, you are creating a tool (

[2019-10-15 00:41] mwpowellhtx commented on #3746
@livarcocc That sounds accurate. We've installed the VS environments, but since VS2019 was installed, the default runtime is 3.0. The pipeline worked before VS2019 was installed. The errors indicate along the lines `netstandard2.0` and `netcoreapp2.1` are not supported by the run time. The answer is for our CLI tool to include the roll forward flags in its project properties?

[2019-10-15 07:30] josefblaha opened #3748 "Build succeeds although a file was deleted in a referenced project"
In a specific situation, when a file is deleted, causing compile error, build still succeedes.
1. Create a new .NET Standard library project ClassLibrary1 with public Class1.
2. Add another library ClassLibrary2 to the solution.
3. Add a project reference from ClassLibrary2 to ClassLibrary1.
4. Create a new class Consumer1 in ClassLibrary2 with a field of type ClassLibrary1.Class1.
5. dotnet build

[2019-10-15 11:09] mjcheetham opened #3749 "Incorrect AppHost binary is published for dependant projects"
Reproduction steps

[2019-10-15 16:46] dsplaisted commented on #3684
Re-opening this, as there are still tests disabled against this for other reasons.

[2019-10-16 00:35] mikelazelle commented on #3606
This solved my issue. Thank you

[2019-10-16 08:11] dasMulli commented on #1539
What's the status on this?
Do you want to ensure ns2.0 works in VS 2015 or just call it a day and not offer back-compat for VS 2015? I'd be in favour of that.. but then NuGet would need to update for 2015 to not offer installing these packages in the first place.

[2019-10-16 15:43] icesasoftcorp commented on #3698
can you help me what you mean with spaces spaces in their package identifiers

[2019-10-16 15:52] ghosttie commented on #3698
Project properties, Package tab, Package id field, "ETR Lite.BusinessLogic" has the problem but if you remove the space so it's "ETRLite.BusinessLogic" it does not

[2019-10-17 01:21] syndicatedshannon opened #3760 "FrameworkReference 'Microsoft.AspNetCore.App' was not recognized after downgrade"
Downgrade TargetFramework from netcoreapp3.0 to netcoreapp2.2 causes the following upon build:

Clean/Rebuild All does not resolve. Deleting bin/obj folders in the specific projects reporting the FrameworkReference error does resolve. This causes unexpected failures when switching branches. Note the project also depends upon .NET Standard 2.1/2.0 projects, which have coincident upgrade/downgrades.

[2019-10-17 21:17] pranavkm opened #3762 "The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized"
_From @DataTables on Thursday, October 17, 2019 10:16:11 AM_

### Describe the bug

When adding .NET Core 3.0 to a multi-targeted project I'm getting the error:

I've followed the [porting guide here](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio) but have been unable to resolve the issue. It looks like this also also been raised in [other i

[2019-10-17 21:17] pranavkm commented on #3762
_From @pranavkm on Thursday, October 17, 2019 4:34:38 PM_

@nguerrera \ @dsplaisted any guesses what could be wrong?

@DataTables could you attach the binary build logs? You can get them by running `msbuild /bl` which produces an `msbuild.binlog` file

[2019-10-17 21:17] pranavkm commented on #3762
_From @DataTables on Thursday, October 17, 2019 8:30:09 PM_

Sure thing - attached is the the requested file.

[msbuild.binlog.zip](https://github.com/aspnet/AspNetCore/files/3741190/msbuild.binlog.zip)

[2019-10-17 21:17] pranavkm commented on #3762
Screenshot if it helps navigating this quicker:

![image](https://user-images.githubusercontent.com/174281/67048030-50315500-f0e8-11e9-8530-cada9d06d081.png)

[2019-10-17 21:30] dsplaisted commented on #3762
@DataTables I don't get that failure when I build.  I do get failures for what look like APIs that aren't part of the `FrameworkReference` in 3.0.

I see that you're building with Mono's version of MSBuild.  It's possible you need a more recent version.

What happens if you build with `dotnet build` (ie the .NET Core version of MSBuild that comes with the .NET Core SDK) instead of Mono's MSBuild?

[2019-10-17 21:52] DataTables commented on #3762
I was using Mono's version so I could compile the .NET Framework dll's as well. I've just tried `dotnet build` and if I update the preprocessor conditions from `NETCOREAPP2_1` to just `NETCOREAPP` it will build for both .NET Core 2.1 and 3.0.

I can script around needing to use Mono for the .NET Framework builds and `dotnet build` for the .NET Core ones. But is this a Mono bug then?

I've got:

[c

[2019-10-17 23:01] dsplaisted commented on #3762
@KathleenDollard @mhutch Can you help clarify what version of Mono is needed to support the 3.0 SDK?

@DataTables You can use this package to support building projects targeting .NET Framework: https://www.nuget.org/packages/Microsoft.NETFramework.ReferenceAssemblies/1.0.0-preview.2

[2019-10-18 08:56] DataTables commented on #3762
@dsplaisted That package is brilliant! Thank you for putting me on to that!

[2019-10-18 12:03] mhutch commented on #3762
+@radical

[2019-10-18 17:31] sgaccenture commented on #3124
SDK 2.2.108 worked

Installed SDK 2.2.108 (Windows) and using it with VS 2017 15.9.17 with no issues

[2019-10-18 18:18] pinkfloydx33 opened #3765 "PublishSingleFile=true does not include Content files"
I am working with a (non-web) .NET Core 3.0 console application and I am trying to use `PublishSingleFile=true`. While the single-file aspect does indeed work (I get one executable file), my application always crashes due to missing appsettings.json files. I've tried setting the files to Content/None, Copy Always/Newest. I also tried adding `<CopyToPublishDirectory>true</CopyToPublishDirectory>` a

[2019-10-20 00:11] KathleenDollard commented on #3670
@smoothdeveloper I agree with you about global.json being a poor name, and we have an item on our backlog to look at modifying our approach to SDK selection. The primary driver for renaming/possibly moving/ etc is that we have an issue with how fallback occurs that we can't solve without a breaking change. Not meaning to be vague, .NET looks up the tree until it finds a global.json file. Since the

[2019-10-20 16:55] livarcocc commented on #3762
giving that things are working here now and it does seem like the issue was using an older version of Mono, I am going to close this issue.

[2019-10-20 16:55] #3762 closed

[2019-10-20 17:00] livarcocc commented on #3746
You could do that, to force your 2.1 app to run against a 3.0 runtime. Or, you can include a 2.x runtime in your VS environments as well. There are 2.x optional components in VS that you can select to install.

[2019-10-20 17:39] mwpowellhtx commented on #3746
@livarcocc I'm not sure what that means. When I go to command prompt and `dotnet --info` the run times are enumerated, including the one(s) supporting `netcoreapp2.1`. However, the default is 3.0, hence the solution/project needs help forcing the issue. So... I think it was mentioned in another thread, but the mention escapes me. There is a project property we can use to help relax that dependency

[2019-10-21 17:14] livarcocc commented on #3746
Can you share with us the exact error code you are getting?

[2019-10-21 17:16] mwpowellhtx commented on #3746
@livarcocc I do not have it right in front of me. After some digging, discovered it was the CLI runtime that was the issue, following VS2019 installation. We have circumvented the issue for the moment using `global.json`, but what is the project property (or properties) that we can use to allow the correct runtime to be used when it comes time for our CLI invocation to occur properly. Otherwise it

[2019-10-21 17:23] livarcocc commented on #3746
that's the thing @mwpowellhtx, I don't understand what you mean by netcoreapp2.1 is not support by netcoreapp3.0. Do you mean that an app targeting netcoreapp2.1 won't run against netcoreapp3.0?

If that's the case, you can set <Rollforward>. You can see what the allowed values for it are here: https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-5/.

By the way, that's the case b

[2019-10-21 17:29] livarcocc commented on #3679
Closing this issue.

I understanding trying to migrate and then back out of it wasn't great, but this particular question has been addressed. Also, migrating asp.net apps always require special steps and I believe those are documented by the asp.net team.

[2019-10-21 17:29] #3679 closed

[2019-10-21 17:30] livarcocc commented on #3683
Closing this issue since it has been fixed for 3.0.

[2019-10-21 17:42] mwpowellhtx commented on #3746
@livarcocc It is not a mystery. Our CLI tooling targets `netcoreapp2.1`. I think we may be using `preferclitooling` mechanism as well; not sure if that is perhaps influencing things as well.

The tooling build pipeline was working just fine prior to VS2019 installation. Following VS2019 installation, CLI invocation failed abruptly. No other error than that, but for perhaps a cryptic runtime messag

[2019-10-21 17:46] livarcocc commented on #3708
Seems like the issue has been addressed. Closing.

[2019-10-21 17:46] #3708 closed

[2019-10-21 20:07] swaroop-sridhar commented on #3765
Hi @pinkfloydx33  for in the case of `PublishSingleFile` all published content is bundled into the single-file. If we need files to be left behind in the publish directory, we need to set the `ExcludeFromSingleFile` property. In your example:

[code]

For more details, please see: https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md#build-system-interface

Dup of https://gi

[2019-10-21 21:17] livarcocc commented on #3765
Closing as a dup.

[2019-10-21 21:17] #3765 closed

[2019-10-21 22:22] pinkfloydx33 commented on #3765
Thanks, I'm not sure how I missed that. Looking at the dupe I assume that the Web.SDK is automatically doing that (excluding) for AppSettings files?

Based on the link and your comment above it also seems like *if* the file is bundled inside it should be extracted to a temp directory and then be available to the app. Is that correct? If so, the behavior I was encountering was a `FileNotFoundExcept

[2019-10-21 23:08] wli3 opened #3768 "Cannot build on ubuntu 18.04"
Should disable downloading 1.x runtime on later distros

[2019-10-22 01:17] swaroop-sridhar commented on #3765
Yes I believe this is true.

 The app's project file/build dictates where files end up (bundled or not). Consequently, apps need to load the files from the correct location -- If bundled, from the extraction directory (accessibly via `AppContext.BaseDirectory`) ; otherwise typically next to the host binary. I don't think this is a host bug.

I'm not sure which comment you're referring to here. My

[2019-10-22 01:29] livarcocc commented on #3698
Can you share what your project looks like?

[2019-10-22 08:23] Tragetaschen opened #10563 "Deadlock on Linux build machine"
## Description

I run within my Yocto build three `dotnet publish` commands roughly at the same time. Usually those finish within 10s of seconds, but since yesterday, the commands have not finished for several hours. This has not happened before.

## Expected  behavior

No deadlock. The build should finish as always

## Actual behavior

I'm now sitting on a little over 100 PIDs associated with the

[2019-10-22 10:34] remcoros commented on #3719
@megakid did you come up with a good work-around already?

We are using .pp files for non-source files (.txt.pp files) and relied upon the "copy to output" functionality. These files are now missing in our builds when using the 3.0 sdk.

[2019-10-22 11:19] megakid commented on #3719
No work around that I could find.

We ended up moving away from .pp files as a workaround but obviously that
might not be an option for many. IMO this is a major breaking change for
those using .pp files - the fact it fails so silently means a very
frustrating experience.

On Tue, 22 Oct 2019 at 11:34, Remco Ros <notifications@github.com> wrote:

[2019-10-22 11:38] remcoros commented on #3719
I managed to get it working with Sdk 3.0, haven't tested this with Sdk < 3.0

Adding this in a [package].targets file, including it in the nuget package, so it auto-runs on build in the consuming project:

[code]

[2019-10-22 13:42] RobBowman commented on #3760
I'm seeing the same problem but deleting the bin/obj folders has not helped.

[2019-10-22 13:51] syndicatedshannon commented on #3760
@RobBowman Just to clarify, in my scenario deleting the depended projects output bin/obj did not work, deleting the dependent did.

[2019-10-22 14:18] RobBowman opened #3769 "The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized"
I have VS2019 v16.3.5 installed along with the dotnet core 3 sdk. I can browse to _C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App_ and see lots of the versions of the shared framework in folders from 2.1.9 to 3.0.0

- create new console app
- edit project file to add:
[code]

All is good :)

Change target framework to 2.2

All is bad :(

I get the build error: _The FrameworkReference 'Mic

[2019-10-22 14:38] syndicatedshannon commented on #3760
@RobBowman In my case, I had completely reverted my project to a prior building version and still received the error, until I manually cleaned intermediate and output. However, I can't recall offhand what references changed between the versions. Is it possible you have two issues, one being the issue I ran into, and another being something you didn't revert?

[2019-10-22 15:44] ForNeVeR opened #3770 "Error about System.Core when building a WPF app for .NET 4.5.2 with System.ValueTuple"
It looks like .NET 4.5.2 applications now cannot use `System.ValueTuple` package if they build with the new Windows Desktop SDK. Steps to reproduce:

1. Install .NET Core 3.0 SDK (see the version info below)
2. Create a new WPF app: `dotnet new wpf`
3. Change the target framework to .NET 4.5.2, add the `System.ValueTuple` package to your `.csproj`:

[code]
4. Now, build the project:
[code]

.NET V

[2019-10-22 16:10] ForestEckhardt opened #10567 "Unable to leverage new SDK with older runtimes"
## Steps to reproduce
Install 2.1.802 .Net SDK libraries and 2.1.12 .Net Runtime libraries onto your system.

## Expected  behavior
I expected to be able to use a newer version of the .Net SDK and an older version of the .Net Runtimes to build and publish my app as outlined in the following document: https://docs.microsoft.com/en-us/dotnet/core/versions/selection#the-sdk-uses-the-latest-installed-

[2019-10-22 16:19] bitbonk commented on #3115
A drawback of making `DotNetCliToolReference` obsolete seems to be that there is now no way (out of the box) anymore to automatically restore the local tools for a project when the other nuget packages are being restored. Is there a replacement for this?

[2019-10-22 16:38] KathleenDollard commented on #3115
Local tools allow tools to be defined in a tool-manifest file, and you can then use `dotnet tool restore` to restore them.

You are correct that this is a separate gesture. Restoring with the rest of the project was problematic, partially because the runtime for the tool and the project was often not the same. We designed the tool strategy to avoid these problems and others. As a result, there are

[2019-10-22 16:50] bitbonk commented on #3115
That makes sense however I think DotNetCliToolReference enabled the following two scenarios, which were nice (as in "nice to have"):

1. Users sometimes did not have to use the CLI at all, they could stay in VS all the time: Tools where automatically restored when the user restored the regular nuget packages. And the installed tools would just do do their work under the hood (e.g. when the user bu

[2019-10-22 17:44] RobBowman commented on #3769
I now realise I should have used <PackageReference Include="Microsoft.AspNetCore.App" /> when I downgraded to 2.2

[2019-10-22 17:44] #3769 closed

[2019-10-22 17:45] RobBowman commented on #3760
@syndicatedshannon  please see: https://stackoverflow.com/questions/58509531/downgrade-from-core-3-to-2-then-microsoft-aspnetcore-app-not-recognised#58509560 . For 2.2 needs to be <PackageReference Include="Microsoft.AspNetCore.App" /> rather than FrameworkReference

[2019-10-22 18:34] syndicatedshannon commented on #3760
Yeah, that's the kind of thing I meant. That won't have happened in my case where I reverted, unless there was something left behind that clean didn't handle.

[2019-10-22 18:40] livarcocc commented on #3746
Is the `dotnet --info` that you shared at the beginning of this issue the output you get from the server when running your build as well?

I would still really appreciate if you could share an error message with us.

What you are doing is something that we do ourselves all the time. A CLI tool is just a portable application being invoked through dotnet. At that point, dotnet will honor the informa

[2019-10-22 20:19] mwpowellhtx commented on #3746
@livarcocc Feel free to clone and verify, my [OrTools wrappers](/mwpowellhtx/Kingdom.OrTools). Initially I was trying to run against an actual [Code.Generation.Roslyn](/mwpowellhtx/Code.Generation.Roslyn) generator, but that ran into its own set of kerfuffles, so we parked that particular effort on the shelf, and instead spun up a fit-for-purposes CG, notwithstanding the IDE run-time snafu. The bu

[2019-10-22 21:11] weltkante commented on #3614
For anyone else coming across this, apparently the .NET 5 nightly SDK has been (and still is) broken and unusable. I have come across [another issue](https://github.com/dotnet/coreclr/issues/18013#issuecomment-544912366) where you can't compile netcoreapp3.1 at all when you have 5.0 SDK installed. Apparently the only option is to uninstall the .NET 5 SDK.

@livarcocc it would be great if the exper

[2019-10-22 21:14] nguerrera commented on #3614
You can use global.json to pick a different SxS installed SDK. Sorry I was unclear on the other thread about that.

However, it is the case that .NET 5 SDK is not in great shape right now. The focus is on getting 3.0.101 and 3.1.100 out. These are shipping soon and have higher priority. Generally, you can always expect rough edges when using nightly builds instead of official previews, and in the

[2019-10-22 21:29] weltkante commented on #3614
Being able to specify in global.json when I don't need the nightly SDK is a good thing, thanks. Unfortunately it wouldn't have helped in this particular case.

This isn't going to be the last version switch, so maybe in the future it can be arranged to be smoother? The fix I wanted to look at in this issue is only in 5.0 so not being able to use the SDK of the master branch for months (across both

[2019-10-22 21:36] nguerrera commented on #3614
This particular issue and the one we were discussing on the other thread (being unable to target 3.1 with 5.0 should be fixed) as of a PR I just merged.

I appreciate wanting things to go smoother, but we are doing as much as we can as fast as we can. 5.0 is way out and can afford to take longer to stabilize and so it gets attention with lower priority than 3.0.x and 3.1.x.

[2019-10-22 21:37] #3614 closed

[2019-10-22 22:40] wli3 opened #3773 "Port remove signature on MAC host to 2.x SDK"
https://github.com/dotnet/core-setup/pull/8543#event-2725838361

get it in January train

- [x] 2.1.5xx SDK(dotnet build create apphost)
- [x] 2.1.5xx CLI (global tools)
- [x] Insert CLI to SDK 2.1.5xx https://github.com/dotnet/cli/pull/13027
- [x] 2.1.6xx SDK https://github.com/dotnet/sdk/pull/3861
- [x] 2.1.6xx CLI https://github.com/dotnet/cli/pull/13028
- [x] Insert CLI to SDK 2.1.6xx https://

[2019-10-23 00:06] ryanbrandenburg opened #3775 "SDK does not handle folders with escaped special characters"
### How to reproduce
1. `mkdir mvc%2b; cd mvc%2b; dotnet new mvc`
3. `dotnet new sln`
4. `dotnet sln add mvc%2b/mvc.csproj`
5. `dotnet build`

This results in `C:\Program Files\dotnet\sdk\3.0.100\NuGet.targets(268,5): error MSB3202: The project file "~\projects\mvc+\mvc.csproj" was not found. [~\projects\projects.sln]`

It seems like somewhere along the way something is trying to decode the URL, a

[2019-10-23 03:36] wli3 opened #3776 "Catch AppHostMachOFormatException in SDK"
corresponding to dotnet/core-setup#8543

[2019-10-23 03:58] wli3 commented on #3773
I realize in 2.x, the writing apphost code is duplicated in SDK and CLI repo (which is fixed by the Microsoft.NET.HostModel in 3.0.100) that means the [macoutils](https://github.com/swaroop-sridhar/core-setup/blob/3943391a8a9e7d9718199f44f8d399f69d5dcaa1/src/managed/Microsoft.NET.HostModel/AppHost/MachOUtils.cs) will be duplicated in 2 repo.

Alternative is to port the class to 2.x core-setup as w

[2019-10-23 04:06] nguerrera commented on #3773
Yeah we already agreed we’d just copy to all places in 2.x

[2019-10-23 15:44] Nefcanto opened #3777 "DRYing <TargetFramework> sometimes works, sometimes breaks."
As I write this, we have 2,497 `.csproj` files in our entire organization.

We have one policy, and that is "mono-everything". It means that for the sake of reducing costs, and increasing quality, we upgrade the whole organization. Everything should be upgraded when we decide to upgrade anything.

Now, after upgrading to .NET Core 3.0 which was and is a painful process, we decided to DRY `<TargetF

[2019-10-23 16:45] cfguimaraes commented on #3046
This issues can be closed?

[2019-10-23 19:27] MichaelSimons opened #10571 "Add test coverage for Nano Server"
Add test coverage (CI/official builds) on Nano Server.  Nano Server is very different than other Windows SKUs and is very slimmed down.  The goal is to catch issues like https://github.com/dotnet/cli/issues/12915.

[2019-10-24 01:37] Iris0905 opened #10808 "Cannot run the reference project after build (.NET Core 3, WPF)"
# Issue Title

Cannot run the reference project after build (.NET Core 3, WPF)

# General

A solution is created with two WPF projects. Project WpfApp1 is the reference of WpfApp2.

[code]

[code]

After building WpfApp2:
![image](https://user-images.githubusercontent.com/16807857/67445850-39e13880-f5c3-11e9-988b-6666df331dc3.png)

WpfApp2.exe could be run without any  problem. But couldn't run Wp

[2019-10-24 12:12] saxenark opened #16975 "dotnet publish - way to remove pdb and other files"
Hi,

I am using dotnet publish to publish my dotnet core 2.2 web application. I notice that the published folder has several unrequired files, specifically .pdbs, .appsettings.Development, .runtimeconfig.dev etc.

Qn: Is there a way dotnet publish command can be made to exclude these files or would I have to delete these manually?

Thanks

[2019-10-24 15:37] jhudsoncedaron opened #3784 "Unable to upgrade a package from netcoreapp to netstandard as netstandard adds APIs."
When trying to make a multi-library targeting both netcoreapp and netstandard, the dotnet dependency resolver does something surprising. It prefers any arbitrary old version of netcoreapp over a very new version of netstandard.

So when netstandard adds enough apis that we can switch from netcoreapp to netstandard, it doesn't work. It actually prefers the really old netcore version over the netsta

[2019-10-24 17:22] wli3 opened #3785 "Enable C++/CLI tests"
~~The current VS in CI has a bug the caused C++ tests fail. It is fixed in the latest VS~~

 ~~MSVCMRTD_netcore.LIB(managdeh.obj) : error LNK2022: metadata operation failed (80131195) : Custom attributes are not consistent: (0x0c000005)~~

above is fixed.

However. I fixed bug that in dotnet/sdk, the targeting pack is still the stage0(the older SDK that is used to build this SDK) version instead o

[2019-10-24 18:28] 0xd4d commented on #3784
This is expected and I'm sure it's documented somewhere. If you add netstandard2.0 support to a library and it already targets netcoreapp1.x, you should also add a netcoreapp2.0 tfm.

[code]

Or just drop all netcoreappx.x tfms and just use netstandard2.0

[2019-10-24 18:38] jhudsoncedaron commented on #3784
@0xd4d : You do realize this means in the end shipping a bunch of useless binaries in the nuget package right?

[2019-10-24 18:59] 0xd4d commented on #3784
The netcoreapp1.0 binary is needed if someone targets netcoreapp1.0 - 1.1.

The netcoreapp2.0 binary is needed if someone targets netcoreapp2.0 - 3.1.

The netstandard2.0 binary is needed if someone targets a netstandard2.0 compatible tfm, not including any of above netcoreapp tfms.

So they're all needed.

If you care about nuget size, you can choose to only target netstandard2.0.

FYI, netcoreap

[2019-10-24 21:57] nguerrera commented on #1898
FYI, @sfoslund, @dsplaisted Looks like your fix will also fix issue 1 of 3 here

[2019-10-25 02:42] khteh opened #10573 "Razor build server (process 27970) failed to shut down: The shutdown command failed: The application to execute does not exist"
## Steps to reproduce
`$ dotnet build-server shutdown` error:
[code]
Why does it look for 2.2.0 when I am using 3.0?
## Expected  behavior
Shutdown properly without error

## Actual behavior

## Environment data
`dotnet --info` output:
[code]

[2019-10-25 03:44] WeihanLi opened #3790 "Question: why not add `IsTestProject` to project property when create a test project?"
As the title, why not add `<IsTestProject>true</IsTestProject>` to the test project,
it seemed the ci platform like azure devops and travis will not run the test when no  `<IsTestProject>true</IsTestProject>` specified

[2019-10-25 11:40] verdie-g opened #10574 "Invalid option '7.3' for /langversion when using .NET Core 2.X"
## Steps to reproduce
1. Create a new project targetting .NET Core 2.X
[code]
2. Use a C# 7.1 feature
[code]
3. Use a SDK 2.X by creating a global.json file
[code]
4. Build the project
`dotnet build Test`

## Expected  behavior
According to the page [C# language versioning](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version), .NET Core 2.X should be using

[2019-10-25 15:14] sfoslund commented on #3719
Addressed in #3771

[2019-10-25 15:14] #3719 closed

[2019-10-25 15:49] dasMulli commented on #3790
The `IsTestProject` property is set when you reference the test SDK. Specifying it for the templates that include the test SDK would be redundant..
What exactly is your use case?

[2019-10-25 15:57] dasMulli commented on #3784
NuGet will match the slice of the package it considers the "nearest" TFM to the TFM you are referencing from.

The nearest-TFM resolution will consider any slices that are the same target framework - any version - first before considering falling back to "compatible" target frameworks like .NET Standard or PCLs.

This has been bothering a few authors as well, esp when they have old `net35` or `net

[2019-10-25 16:00] jhudsoncedaron commented on #3784
Long time before I can drop .NET Core 1.0 because it's being used in the secure key signing environment.

[2019-10-25 16:04] WeihanLi commented on #3790
when I create the project in vs, it may like this <https://github.com/WeihanLi/WeihanLi.Npoi/blob/dev/test/WeihanLi.Npoi.Test/WeihanLi.Npoi.Test.csproj>, you can not run your tests unless add `IsTestProject`

[2019-10-25 16:32] dasMulli commented on #3790
Is that Tests in VS or other pieces of software? I’m not sure this should be in templates if it might be a bug in other software looking for this in XML (which they probably shouldn’t do)

[2019-10-25 16:43] WeihanLi commented on #3790
it works well on my local develop environment (windows 10), but not work on Azure Devops(event Windows Agent) or travis

sample build history here:

- with `<IsTestProject>true</IsTestProject>`:

    https://weihanli.visualstudio.com/Pipelines/_build/results?buildId=1393&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9

    ![image](https://user-images.githubusercontent.com/7604648/67588778-854543

[2019-10-25 17:02] wtgodbe opened #3793 "Re-enable Windows_Perf_Helix leg in release/3.1.1xx"
We should revert https://github.com/dotnet/sdk/pull/3792 once we identify why that leg was failing.

CC @dsplaisted @livarcocc @wli3 @nguerrera

[2019-10-25 17:04] wtgodbe commented on #3793
@dotnet/dnceng @JohnTortugo @riarenas Builds have been failing like this since yesterday: https://dev.azure.com/dnceng/internal/_build/results?buildId=401609. Any idea how we can get more informative logs on the test failures? The links to Mission Control give 500s, and the Tests tab doesn't show anything failing.

[2019-10-25 18:11] MattGal commented on #3793
Taking a look now.

[2019-10-25 18:31] MattGal commented on #3793
You're seeing this because you're using a very, very old build of Arcade; updating this will give you better URLs to the Helix APi for logs.  Here's your log:

[2019-10-25 19:30] wli3 commented on #3793
C:\dotnetbuild\work\20273a44-cae2-446b-83b0-e67fd0ec0bba\Payload\artifacts\bin\Release\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.DefaultItems.targets(257,5): error MSB4062: The "CheckForImplicitPackageReferenceOverrides" task could not be loaded from the assembly C:\dotnetbuild\work\20273a44-cae2-446b-83b0-e67fd0ec0bba\Payload\artifacts\bin\Release\Sdks\Microsoft.NET.Sdk\targets\..\tools\ne

[2019-10-25 19:44] wli3 commented on #3793
I can repro it locally

[2019-10-25 20:27] wli3 commented on #3793
This typo may caused node reuse not working https://github.com/dotnet/sdk/compare/release/3.1.1xx...wli3:salt-fix?expand=1

I queued https://dev.azure.com/dnceng/internal/_build/results?buildId=402494 to see if it still repros?

[2019-10-25 20:28] nguerrera commented on #3793
This is in the 3.x branch, it was updated 29 days ago: https://github.com/dotnet/sdk/commit/9cd501f50f426f24d98065d1617ee67cd4ce0d2d

Is that what you consider very, very old, or is it that the arcade branch going to 3.x does not have the change

[2019-10-25 20:44] wli3 commented on #3793
I think "Microsoft.DotNet.Helix.Sdk" doesn't get updated by the bot

[2019-10-25 21:02] dsplaisted commented on #3793
We looked at this and it's because Helix isn't listed in Version.Details.xml

[2019-10-25 21:04] nguerrera commented on #3793
:(

[2019-10-25 21:12] MattGal commented on #3793
Note that the only downside here was that it referenced Mission Control, which is deprecated and thus made access the logs hard;  the work executed the same as it would have normally.

[2019-10-25 21:34] sfoslund commented on #3615
PR #3723 confirmed that this is solved by disabling implicit imports with the ``DisableImplicitNamespaceImports``

[2019-10-25 21:34] #3615 closed

[2019-10-26 09:33] lantrix opened #3800 "dotnet-install SDK scripts on Alpine 3.8 Powershell image "Architecture not supported""
## Steps to reproduce

[code]

## Expected behavior

I can use the official [dotnet-install script](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) to install dotnet SDK LTS in the official powershell6 alpine container.

The [Prerequisites for .NET Core on Linux](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore21#supported-linux-versions) list

[2019-10-26 09:50] shoooe opened #3801 "Unable to install dotnet-ef on macOS with .NET Core 3.0.100 SDK"
I've followed [the documentation](https://docs.microsoft.com/en-us/dotnet/core/versions/remove-runtime-sdk-versions?tabs=macos) and removed all my runtime and sdks with:

[code]

Then I've installed SDK 3.0.100 (the default currently available) and now I've got:

[code]

With this setup if I run:

[code]

I get:

[code]

I'm on macOS Sierra 10.12.6.

What can I do to install `dotnet-ef` properly?

[2019-10-26 09:53] shoooe commented on #3801
Same thing happens with:

[code]

as copied from [here](https://www.nuget.org/packages/dotnet-ef/3.0.0).

[2019-10-26 09:57] shoooe commented on #3801
Wow, I've just realised [.NET Core 3.0 is only available from High Sierra](https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites?tabs=netcore30). I'm betting upgrading the OS to 10.13 will solve this issue. I'll report it if that's the case.

[2019-10-26 11:13] #3801 closed

[2019-10-26 15:33] deadshot465 opened #3802 "Self-contained single executable doesn't seem to work with class library project references."
I'm currently working on a personal project where I have to add another project, made by other authors and downloaded and stored in another disk, to my solution, then add it into the references of my own project. The reference project is a class library targeting .Net Standard 2.1 while my project is a Windows application.

I set the following properties in the .csproj file:
[code]
And run `dotnet

[2019-10-26 23:27] GregAlexJames opened #3803 "Having .net core WPF project in Solution prevents Nuget Restore on Linux / macOS"
By design, you do not want .net core WPF and WinForms projects building on platforms other than windows (as per @livarcocc  on https://github.com/dotnet/sdk/issues/3592 ). When you do so it presents the following error:

/usr/local/share/dotnet/sdk/3.0.100/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(59,5): error NETSDK1100: Windows is required to build Win

[2019-10-27 04:12] vitek-karas commented on #3541
Fixed by #3697 for 3.1 (and will be migrated to master as well).

[2019-10-27 04:12] #3541 closed

[2019-10-27 08:34] JohanLarsson opened #3804 "Format release notes when running dotnet pack"
[code]

When formatting the csproj (ctrl + k + d) release notes ends up like ^ which is reasonable.
When running `dotnet pack` the release notes are poorly formatted in the .nupkg

[2019-10-27 15:27] bigworld12 opened #3806 "error when using dotnet tool install"
I get this error when running `dotnet tool install -g dotnet-ef`
dotnet version : 3.1.100-preview1-014459
[code]
Note : this works perfectly in 3.0.100

[2019-10-27 17:36] wli3 opened #3808 "dotnet tools discovery"
A CLI experience to search dotnet tools

[2019-10-27 17:36] wli3 commented on #3808
Depend on https://github.com/NuGet/NuGetGallery/issues/7594

[2019-10-27 17:51] wli3 commented on #3776
No longer needed. When it happens, it should be a bug. There is no benefit to catching it

[2019-10-27 17:51] #3776 closed

[2019-10-27 18:00] wli3 commented on #3624
Close as we don't issue better error for existing similar scenario like generating resx (before core support)

[2019-10-27 18:00] #3624 closed

[2019-10-27 18:01] wli3 commented on #3616
Close as all issues related are closed. New issues will be considered as bugs

[2019-10-27 18:01] #3616 closed

[2019-10-27 22:12] wli3 commented on #3806
Thank you for the issue.

What happens if you try again? And could you make sure the folder C:\Users\UserName\.dotnet is accessible?

[2019-10-27 22:30] bigworld12 commented on #3806
the folder itself is accessible, since I managed to install the same package on 3.0.100

[2019-10-27 23:14] wli3 commented on #3806
Could you retry it?

[2019-10-27 23:18] bigworld12 commented on #3806
if by retry it, you mean tried executing the same command on 3.1.100 multiple times, then yes

[2019-10-27 23:23] wli3 commented on #3806
I cannot repro this issue. Does the error message contain the same "32ksqkap.ndq" part? it should be different every time. And could you try to delete your `C:\Users\UserName\.dotnet\tools\.store\.stage` folder and see if the error persists?

[2019-10-27 23:28] bigworld12 commented on #3806
yes it's indeed a different part every time,
i tried deleting it, and the error still persists

[2019-10-27 23:36] wli3 commented on #3806
Could you try to use the latest dotnet core sdk from https://github.com/dotnet/core-sdk  ?

This code did not change from 3.0.100 to 3.1.100, but it fails on later. It also does not fail on my current version "3.1.100-preview2-014531". So I suspect there is a change in runtime, and might has already been fixed.

[2019-10-27 23:57] bigworld12 commented on #3806
i can confirm it works on `5.0.100-alpha1-015462` sdk

[2019-10-28 14:16] xavierdecoster opened #3809 "Support command forwarding for dotnet list package --vulnerable"
Tracking issue for adding support for `dotnet list package --vulnerable` to the CLI (to be forwarded to NuGet xplat CLI commands).

[NuGet CLI spec](https://github.com/NuGet/Home/wiki/dotnet-list-package---vulnerable)

[2019-10-28 16:59] johnbeisner commented on #3800
The Linux and MacOS install-script can be found here: https://dot.net/v1/dotnet-install.sh

[2019-10-28 17:29] wli3 commented on #3806
Thanks! so it should be fixed in the next preview

[2019-10-28 17:29] #3806 closed

[2019-10-28 19:38] kmjungersen opened #3811 "`$ dotnet run` won't serve https with .Net Core 3.0 on OS X"
## Symptoms:
I have a .Net Core 3.0 app that I'm unable to load in a browser **ONLY when running it using the Mac OS X CLI**, like so:

[code]

So everything looks good at this point, except when opening the URL in a browser I receive:

[code]
## Core Issue:

This has something to do with HTTPS protocol.  Navigating to `http://localhost:5000` does render an https redirect.  So the server is actual

[2019-10-29 00:42] deadshot465 commented on #3802
So I tried compiling to a console application instead and seeing if I could get any error messages, it turned out that though all necessary dll files were copied into the application as well, contents like sprites and textures were not copied, which led to a System.IO exception. I don't think there are any problems as for now.

[2019-10-29 00:42] #3802 closed

[2019-10-29 01:40] cezarypiatek opened #3814 "Cannot load plugins with external dependencies in plugin interface"
I'm having trouble with loading plugin that contains an external dependency in the plugin interface. Let's say that PluginBase project depends on System.Collections.Immutable package and my plugin interface looks as follows:

[code]
When I try to load my plugin type I'm getting the following exeception:

[code]

Here is a repository with a solution that reproduces that problem https://github.com/c

[2019-10-29 03:17] markentingh commented on #3606
I was getting the same error after upgrading from 2.1 to .Net Core 3.0. I had to download the Runtime & Hosting Bundle For Windows: https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-3.0.0-windows-hosting-bundle-installer

[2019-10-29 03:24] skanvk15 opened #3815 "Creating new xunit project from command line fails"
Creating a new xunit project using dotnet command line fails:

Report steps from command line:

[code]

I have the following dotnet version installed
3.1.100-preview1-014459

[2019-10-29 07:49] jtillman opened #3816 "Manage and Build multiple projects without Visual Studio File (SLN)"
I propose that we provide a builtin way to run dotnet cli commands on multiple projects without having to share Visual Studio (Sln) files across users.

Issues: The solution file (.sln) is controlled and managed by Visual Studio IDE. It's format isn't DRY and editable by hand. All users do not use or desire to use Visual Studio to develop dotnet applications. You currently have to use the dotnet c

[2019-10-29 09:22] xthsr opened #3817 "dotnet tool update - error: Sequence contains more than one matching element"
Trying to run:
dotnet tool update --global <name of internal Nuget hosted in Azure DevOps artifacts>

Works perfectly running locally, but when run on our build servers (self hosted pool) in Azure DevOps, we sometimes get this error:
[code]

Same error when using:
dotnet tool install

Any idea what is causing this exception? - can't debug and the error message is really not that helpful.

[2019-10-29 09:42] xthsr commented on #3817
Another observation. On the build servers where the update/install fails, the following command:
`dotnet tool list -g`
also returns the error:
System.InvalidOperationException: Sequence contains more than one matching element

[2019-10-29 10:26] StefanStolz commented on #3803
We have exactly the same issue.

[2019-10-29 15:29] xthsr commented on #3817
Fixed by manually cleaning folder:
C:\Users\<TFS service account>\.dotnet\tools

[2019-10-29 17:34] livarcocc commented on #3816
This is not something that we plan to do at the moment. We take deviations from other parts of the tooling very carefully because we do have a huge customer base that uses both CLI/VS/VSM, etc that get very confused when the experiences break.

[2019-10-29 17:34] #3816 closed

[2019-10-29 17:36] livarcocc commented on #3817
@wli3 can you take a look?

[2019-10-29 17:39] livarcocc commented on #3803
My concern with a change like this is that people my silent assume that because they build their solution in Linux with a WPF project that they take it to mean that it worked and is supported. And then they will get confused when there are not binaries for those projects.

Similarly, if you have P2P dependencies to WPF/WinForms projects, it will be confusing and hard to understand why it is not bu

[2019-10-29 17:43] livarcocc commented on #3811
This issue should be resolved now.

[2019-10-29 17:43] #3811 closed

[2019-10-29 18:31] GregAlexJames commented on #3803
@livarcocc I have no issue with the WPF core build failing on linux. The problem here is that you make all projects in a solution fail (including those specific to the linux / macOS world like a Xamarin.Mac client) because nuget restore / dotnet restore fails on the solution. Having dotnet build fail on the solution for the WPF project would be perfectly fine.

The way you stop the WPF build shoul

[2019-10-29 19:05] jtillman commented on #3816
I don't think this takes away from those who do use the VS experience. It just seems like an antipattern to force all teams to adopt it. Can this be thought of as another pattern where those dependencies are hidden/removed? I think the second option actually sticks within the same tooling but doesn't expose it to the user.

[2019-10-29 19:31] sfoslund commented on #2283
Solved with #3820

[2019-10-29 19:31] #2283 closed

[2019-10-29 21:43] MitchBodmer commented on #3729
This happens because the build system doesn't copy the <AppName>.runtimeconfig.json of the referenced project into the output directory of the dependent project.

@livarcocc are project references the recommended way of expressing this exe to exe dependency? If so, why don't the required files get copied to the output?

[2019-10-30 07:36] Jepson109 opened #3823 "Run “dotnet new --help”, the output are not localized."
1.	Prepare a clean Japanese environment machine
2.	Install SDK [3.1.100-preview2-014562](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdotnetcli.blob.core.windows.net%2Fdotnet%2FSdk%2Frelease%2F3.1.1xx%2Fdotnet-sdk-latest-win-x64.exe&data=02%7C01%7Cv-pejian%40microsoft.com%7C356ba53cf70d499839d308d75d09592c%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637080167041418611&sdata=U

[2019-10-30 08:58] Jepson109 opened #3825 ".NET Core SDK 3.0.100 does not have 2.2.8 or 2.1.14 patch."
Use [16.3.7](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fvsdrop.corp.microsoft.com%2Ffile%2Fv1%2FProducts%2FDevDiv%2FVS%2F25bf803db756771ac937046faacdbec8278347ff%2F4c2b3062-352a-8f22-0b64-8a1bb9b21401%253bchannels%2Finternal%2FRelease%2Fbootstrappers%2Ffixed%2FEnterprise%2Fvs_Enterprise.exe&data=02%7C01%7Cv-pejian%40microsoft.com%7C564144298f6a4146a3ad08d75d1647d4%7C72f988bf

[2019-10-30 13:24] mthalman opened #3827 "dotnet-install script warning about libunwind dependency on 3.0"
## Repro

Run a `docker build` with this Dockerfile:

[code]

### Expected
Expected no warnings because https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore30#supported-linux-versions says that libunwind is only a dependency for versions earlier than 2.1.

### Actual
`dotnet_install: Warning: Unable to locate libunwind. Probable prerequisite missing; install libunwind.`

[2019-10-30 14:01] adamralph opened #3828 "Ability to suppress welcome message"
The "Welcome to .NET Core 3.0!... " spiel adds considerable noise to CI logs.

While we can work around this by creating a file named `"%HOME%/.dotnet/$(dotnet --version).dotnetFirstUseSentinel"`, this is hacky and adds noise to bulid configs.

It would be better to have a CLI option to suppress the message, e.g.

`dotnet build --no-welcome`

or

`dotnet build --skip-first-time-experience`

etc.

[2019-10-30 14:18] khellang commented on #3828
IMO, the welcome message should respec the `--nologo` flag:

[2019-10-30 18:16] wtgodbe commented on #3793
@wli3 can this be closed?

[2019-10-30 21:59] livarcocc commented on #3825
@nguerrera can you address this for our next servicing release?

[2019-10-30 23:15] thomaslevesque opened #3835 "dotnet new hangs for several seconds after it completes"
Whenever I use `dotnet new`, it seems to hang for several seconds after it completes.
For instance, if I do `dotnet new sln`, it prints _"The template "Solution file" was created successfully."_ almost immediately, but doesn't return until several seconds later (sometimes up to 10 seconds). The same happens with other templates, I just picked this one because it's a very simple one.

Using .NET Co

[2019-10-31 00:19] wli3 commented on #3828
Will an environment variable to disable the first run message be enough?

Most of our envs don’t have a commandline counterpart. And it would bloat commandline options if enabled -- it need to be on every command, makes it harder to read help. And the scenario of it is narrow.

[2019-10-31 07:30] adamralph commented on #3828
@wli3 thanks for the response.

I'd be happy with an env var instead of a CLI option.

However, I'm currently favouring @khellang's suggestion of the `--nologo` option suppressing this message. `--nologo` effectively means "no frills please, just run the command". The vast majority of CI scripts will already be using `--nologo` so we will get this new feature for free when we start using a new ver

[2019-10-31 10:39] shaulbehr opened #3836 "dotnet build appears to succeed, but returns error code"
Environment: Linux Ubuntu 18.04
Dotnet SDK 3.0.100

command line: `dotnet build soln.sln -r linux-x64 -o outputdir`

Build logs show normal output (including lots of warnings, but no actual errors), then:
[code]
followed by a bunch more build output, then at the end:
[code]
If you would like access to our repo so you can repro, contact me privately (shaul at lightsailed dot com)

[2019-10-31 16:16] richlander commented on #3828
I like the CLI-based "--nologo" option because it is a well understood command. As much as possible, we should be making the CLI intuitive.

[2019-10-31 17:07] heaths opened #3839 "dotnet add package --source downloads wrong nupkg"
We've been publishing prerelease packages to nuget.org, with our impending packages in a private repo in Azure Artifacts.

Prior to release - apart from manually examining the packages I downloaded from our artifacts repo - I created a project via `dotnet new` and proceed to add our impending release packages via `dotnet add package <packageId> --source <private package repo>`. The packages were a

[2019-10-31 17:18] wli3 commented on #3828
A different option name might be fine, but I don't think we should reuse `--nologo`. It is not a well understood command. And in fact it is very misleading. dotnet CLI does not print some message every single time like msbuild. This is a one time per installation case. And we already has the verbosity option.

[2019-10-31 17:50] khellang commented on #3828
What do you mean? `nologo` flags are everywhere, and as @adamralph pointed out:

I get that it doesn't print something on every run and that MSBuild and the CLI are different beasts, but it feels very awkward to pass `--nologo` through the `dotnet` executable and get all that "Welcome to .NET Core!" fluff.

[2019-10-31 18:19] wli3 commented on #3828
--nologo is in dotnet build only. However the first run message would show up in most of the CLI command run like _dotnet new_.

Alternatively
Would it be ok for **only** _dotnet build --nologo_ to suppress welcome message?

[2019-10-31 18:22] sfoslund opened #3841 "Run target does not take input to run .NET Core app"
**Steps to reproduce**
Create any .NET Core project (eg., with ``dotnet new console``)
Build it (eg., with ``dotnet build`` or ``msbuild /t:restore;build``)
Run it with msbuild and any input (ie., ``msbuild /t:run input``)

**Expected behavior**
It runs similar to running ``dotnet run`` or ``dotnet exec``

**Actual behavior**
MSBUILD : error MSB1009: Project file does not exist.

**dotnet --versio

[2019-10-31 18:50] eiriktsarpalis commented on #3828
I believe `--no-logo` is the preferred naming convention, at least as far as posix conventions are concerned.

[2019-10-31 18:53] eiriktsarpalis commented on #3828
I tend to agree with your previous point

[2019-10-31 18:57] adamralph commented on #3828
No, that would not be enough. For example, some my build run `dotnet run` to kick off a build script, other runs `dotnet build` explictly, and others still just run `dotnet test` and allow the build to be performed implicitly. The welcome message should be suppressed in all cases.

[2019-10-31 20:04] huoyaoyuan commented on #3835
Also observed when creating `dotnet-tools.json` or `global.json`.

[2019-10-31 20:42] CumpsD opened #3843 "dotnet restore no longer supports multiple runtimes"
**Repo**
[code]

**Result**
[code]

**Speculation**
It seems the multiple runtimes are being passed in as RuntimeIdentifier instead of RuntimeIdentifiers?

This used to work on 2.2

As a workaround I can put `<RuntimeIdentifiers>....` in the csproj and exclude the `-r` switches, but I dont really want to do this, since it means updating *a lot* of csprojs.

[2019-10-31 23:00] wli3 commented on #3710
- [ ] Pack test asset as tar.gz on non Windows
- [ ] investigate few test failure
https://helix.dot.net/api/2019-06-17/jobs/8d716b6a-32c8-489d-8735-24e21ecf849b/workitems/Microsoft.NET.Build.Tests.dll.2/console
https://helix.dot.net/api/2019-06-17/jobs/8d716b6a-32c8-489d-8735-24e21ecf849b/workitems/Microsoft.NET.Build.Tests.dll.4/console
https://helix.dot.net/api/2019-06-17/jobs/8d716b6a-32c8-489d

[2019-11-01 01:33] matkoch commented on #2334
@nguerrera can you please give advice on this?

[2019-11-01 17:02] JohanLarsson opened #3848 "Pack library with analyzer"
It is common for me to have:

[code]

Where `Lib.csproj` does not have a project reference to `Lib.Analyzers.csproj` but I want `Lib.nupkg` to have package dependency to `Lib.Analyzers.nupkg`

When using paket for packing it is just a matter of adding the following to `paket.template`:

[code]

I tried adding a fake project reference as a hack
[code]

But it did not work and had issues when buildi

[2019-11-01 17:19] JohanLarsson commented on #3848
A nice syntax wold be:
[code]

To be declared with the package metadata.

[2019-11-01 19:17] wli3 commented on #3710
- [ ] Get full framework msbuild path without arcade

[2019-11-01 21:10] lucas-pollus commented on #3668
@gmeks do you still have the problem? I am also going through the same situation and have not found a way out.

[2019-11-01 22:48] gmeks commented on #3668
Yes, i still have issues.

My current workaround is to stop publish to standalone binary and use framework depeandant.

[2019-11-02 12:58] jbartlau opened #3852 "Reading MSBuild registry properties from NuGet targets file fails in .NET Core CLI"
I'm trying to create a NuGet package in order to redistribute a component that uses both managed and unmanaged dependencies (`my.dll` and `mydotnetcore.dll`). To copy the additional (unmanaged) file from a local installation to the output directory, we use a targets file. We read a registry key to find the local installation:

**my.targets file:**
[code]

The local file is then copied as follows:

[2019-11-02 21:47] johnkors opened #3853 "`dotnet tool install/update` installs unlisted package"
Hi,

I unlisted a .NET Core global tool nuget package (latest version) I own on nuget.org, and when I run `dotnet tool install` or `dotnet tool update` it still installs the unlisted/deprecated latest version. Is this by design? I tried to mark it as deprecated as well, but no effect.

[2019-11-03 09:44] #3853 closed

[2019-11-04 05:17] tamlin-mike commented on #1630
I have too been bitten by this (netstandard2.1 assembly, but otherwise equivalent).

It has now been over two years since this issue was opened, and not even a hint of what Microsoft is doing about this (indication is rather that Microsoft isn't doing _anything_ about it). To put it mildly, that's absurd.

Is this the kind of quality and apathy one should now expect from Microsoft. We're talking a

[2019-11-04 12:57] xthsr commented on #3817
The error now re-appeared on our build servers. The manual deleting of folder:
C:\Users\<TFS service account>\.dotnet\tools
no longer works, and the command now again gives errors, when run through pipeline.

[2019-11-04 13:16] smorimoto opened #3856 "We need a list of .NET Core SDK versions"

[2019-11-04 13:19] imbsky commented on #3856
Currently, we must write this dirty code to get a incomplete list of .NET Core SDK versions.
https://github.com/emersonsoares/asdf-dotnet-core/blob/master/bin/list-all

[2019-11-04 16:19] wojteksbt commented on #826
Any update on that? Can I run multitargeted solution on macOS without performing changes in project files?

[2019-11-04 17:05] sharwell opened #3857 "NullReferenceException in GenerateRuntimeConfigurationFiles.AddFrameworks"
Error occurred building xunit/xunit.analyzers@74f6d366bd5a33f7ed966fd6f1fb7703452dac0d with VS 16.4 Preview 3.

I'm not sure what the issue here is, but it seems possibly related to #3697.

[code]

[2019-11-04 18:16] nguerrera commented on #3857
@livarcocc @vitek-karas @dsplaisted

[2019-11-04 20:12] yhnavein opened #3858 "Configuration param ignored in dotnet publish tool"
I stumbled upon a strange issue in the latest .net core 3.0. It looks like `--configuration` parameter is being ignored by the publish command.

Here is the issue:
[code]

I've specified `prod` configuration and as you can see in the output publish was made to the `Debug` directory. This is wrong.

I am using the same command for my other projects in dotnet core 2.2 and it was working fine.

*Obse

[2019-11-04 21:07] nguerrera commented on #2989
https://github.com/dotnet/core-setup/issues/8764 tracks having the apphost pack supply the offset so that the SDK won't need to search at all. This would fix this and be more efficient.

[2019-11-04 22:31] vitek-karas commented on #3857
#3859 is the proposed fix.

That said the project should never set `GenerateRuntimeConfigFiles` to true for anything but .NET Core TFMs. Generating `.runtimeconfig.json` for .NET Framework TFM doesn't make sense and the content of the file is basically useless.

This: https://github.com/xunit/xunit.analyzers/blob/74f6d366bd5a33f7ed966fd6f1fb7703452dac0d/test/Directory.build.props#L11 should be cha

[2019-11-04 23:21] nguerrera commented on #3857
That would need to be moved to Directory.Build.targets as TargetFrameworkIdentifier isn't set when props are evaluated

[2019-11-04 23:50] AArnott commented on #3592
I'm hitting this again, with another project. I'd very much like to support WPF on .NET Core 3.0 in https://github.com/microsoft/vs-threading/pull/548 but cannot do it because simply referencing `WindowsBase` in my .NET Core 3.0 target seems to only be doable by setting `UseWPF` to `true` in my project file and to set the SDK to `Microsoft.NET.Sdk.WindowsDesktop` which breaks the build of my libra

[2019-11-05 00:17] AArnott commented on #3592
@livarcocc Your workaround doesn't work either. Even if we have multiple projects, the very fact that we ever used `UseWPF=true` in the project adds this to my nuspec file:

[code]

This *kills* my project for all downstream consumers of my package that want to build on mac/linux while targeting .NET Core 3.0. They fail with this error:

This makes no sense to the downstream consumer because they

[2019-11-05 10:33] tamlin-mike commented on #677
Just to chime in; an unfortunate aspect of using the XML hackery is the combination of quoted strings and Microsoft-style path delimiters. f.ex:
- How should unquoted space characters be escaped?
- How should quote characters be escaped?
- How should backslashes be escaped?
- How are platform-agnostic path separators to be formed?
- ...

Embedding this into a XML string seems to just have re-opene

[2019-11-05 18:37] wli3 commented on #2989
Update title per @swaroop-sridhar request

[2019-11-05 18:56] vitek-karas commented on #3814
In the plugin's project please add `<ExcludeAssets>runtime</ExcludeAssets>` next to the `<Private>false</Private>`. Should look like this:
[code]

After that make sure you delete the output folder for the plugin (so that any left-over files are gone). With this change it works for me.

This is an issue we've learned about recently, I'm still working on putting some form to it and filing the right

[2019-11-05 19:13] DamianEdwards opened #3863 "Randomly get 'The "CreateAppHost" task failed unexpectedly' error when doing CLI build of a new web app"
## Steps to reproduce
1. Create a new web app: `dotnet new webapp`
1. Repeatedly build the app from the CLI with no changes: `dotnet build`

## Expected  behavior
No errors

## Actual behavior
Randomly see the following error (twice in the last 20 builds just now):
[code]

## Environment data
`dotnet --info` output:
[code]

[2019-11-05 19:13] #3863 closed

[2019-11-05 20:26] jtillman commented on #3816
I just found the Traversal SDK in the MSBuild project. I think this should be the default in how we advertise the build system.

https://github.com/microsoft/MSBuildSdks/tree/master/src/Traversal

[2019-11-05 21:22] rainersigwald opened #3864 "Opt into explicit transitive content-copying in 5.0 SDK"
With microsoft/msbuild#4865, MSBuild will start respecting properties that allow configurability of whether content from transitive project references is copied to the current project (right now it depends confusingly on implementation details of the projects and what's up to date). The SDK could opt into one of the new, reasonable behaviors.

[2019-11-05 22:01] livarcocc commented on #3814
Let us know if @vitek-karas' suggestion works for you.

[2019-11-05 22:02] wli3 commented on #3773
all done! close

[2019-11-05 22:02] #3773 closed

[2019-11-05 22:27] livarcocc commented on #3592
I don't think we have changed our position on this. Our concern is folks who do more than just reference assemblies running their builds on linux when their projects depend on windows tools. The chances of success go down drastically and can lead to a very confusing experience.

@nguerrera and @dsplaisted can you think of an alternative here?

[2019-11-06 00:25] klausenbusk opened #3865 "dotnet build sometimes exit with a success exit code on build failure"
Moved from: https://github.com/dotnet/cli/issues/12982

----

## Steps to reproduce
We are using `dotnet build -warnaserror` and [StyleCop](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/) as part of you CI which run in Docker. I haven't been able to reproduce the problem locally outside docker.

I did observe that the error order is different in the last run, which strengthens my belief tha

[2019-11-06 00:46] klausenbusk commented on #3865
I haven't been able to reproduce this when running the the build with `--no-restore`

[code]

[2019-11-06 12:29] magoolation commented on #3815
Same here.
Updating to preview 2 didn't solved the proble too.

[2019-11-06 15:54] #3827 closed

[2019-11-06 23:46] jzabroski commented on #3067
@KathleenDollard  Ran into a situation again today where this would have been helpful migrating a .NET 4.6.1 "old" project type to the new project type format.

It seems the new Common Project System depends upon either the bin or obj directories for some of its inference passes, and that when you upgrade a project from one version to the next, those old bin/obj files cause bad inferences to occur

[2019-11-07 00:21] sebastienros opened #3868 "msbuild exception with latest bits"
With version `5.0.100-alpha1-015673` a project targeting netcoerapp5.0 builds
With version `5.0.100-alpha1-015678` I get

[code]

[2019-11-07 06:08] wli3 commented on #3710
- [ ] MSBuildSDKsPath does not seem to work, it is running against stage 0

[2019-11-07 06:41] davkean commented on #3869
@livarcocc I've moved this issue to the SDK, but tell me if you want to track it via MSBuild. We should just do a giant pass and add all the missing ones all at once.

[2019-11-07 10:08] msgorgo opened #3871 "dotnet build copies appsettings.json from referenced project."
Since .NET Core 3.0, the command dotnet build now builds a framework-dependent executable by default.  This has the following side effect, that if for example project A references project B through a project reference, the build command now copies also the appsettings.json (and environment variants of the appsettings.json) from project B into the bin folder of project A which will potentially over

[2019-11-07 11:53] peterwurzinger commented on #3871
I'll second the content of this issue.

But in my opinion not copying the appsettings.json-files isn't enough. There are also the /Properties/launchsettings.json and the whole /runtimes-folder ending up in the build output of the referencing project. So besides the config files you end up with a load of files that you probably don't need (or maybe even don't want).

[2019-11-07 15:16] thomhurst commented on #3465
I've got the same as above: one NuGet reference, `Microsoft.Azure.Cosmos`.
I'm guessing this package is messing things up ?

[2019-11-07 16:06] rainersigwald commented on #3869
@davkean The XSD lives in msbuild, so we usually track these there. We cleared out a bunch for 16.4.

[2019-11-07 16:08] rainersigwald commented on #3869
That was supposed to be quickly followed up by moving this to MSBuild, but my issue mover is being cranky today.

[2019-11-07 16:14] dsplaisted commented on #3871
@sfoslund Can you take a look at this?

Note that I think there are cases when you do want these types of files to flow.  For example some people reference one Exe from another Exe and want them to both end up in the same folder.  So we'll have to figure out what the right behavior is, and maybe add a flag to control this.

[2019-11-07 17:27] michha commented on #3871
This issue hit us when we migrated from 2.1. We have a test project for testing a MVC project that is referenced. In the test project is an appsettings.json with some configuration settings. After migrating to 3.0 our tests on the build server suddenly used some production settings because on the build server the ASPNETCORE_ENVIRONMENT variable was not set and therefore the appsettings.Production.

[2019-11-07 18:23] nguerrera commented on #2989
I had already renamed it. I think my title is more accurate so I renamed it back while keeping CreateAppHost. This is not limited to scenarios involving mapping a windows drive, it can be on any file system on unix that does not allow MAP_SHARED.

I do think https://github.com/dotnet/core-setup/issues/8764 is the best solution.

[2019-11-07 19:06] livarcocc commented on #3868
@wli3 can you take a look?

[2019-11-07 19:09] wli3 commented on #3868
this should be fixed by https://github.com/dotnet/cli/pull/12899

it is in 3.0 servicing

[2019-11-07 19:13] sebastienros commented on #3868
But it starting happening yesterday afternoon, and it's still happening, on the 5.0 alpha versions. While the issue as been closed 21 days ago.

All our benchmarks are currently broken. Do you think it will stay like this for the foreseeable future then?

[2019-11-07 19:14] wli3 commented on #3868
co

[2019-11-07 19:14] wli3 commented on #3868
could you paste the result of dotnet --info here? i try to see if it has the change

[2019-11-07 19:18] sebastienros commented on #3868
Another explanation might be that the telemetry started to run due to an unrelated change on our systems, and the issue is now visible. Though I am pretty sure I didn't change our default settings that disable it.

At the same time, I can't repro with a previous version of the sdk. And we take them as they are released, so yesterday morning telemetry was disabled correctly, but not at the end of t

[2019-11-07 19:19] wli3 commented on #3868
It will speed up the investigation

[2019-11-07 19:23] sebastienros commented on #3868
OK

In the meantime:

The error message says that "TargetFrameworkVersion" is already in the dictionary. And the commit you did from yesterday, which matches the timeframe of the issue, adds it: https://github.com/dotnet/sdk/commit/d8ef7ef571f035fa10f8e13935aa6afe54316579

[2019-11-07 19:25] wli3 commented on #3868
Yes. I think I find the issue. There is a duplicated key

[2019-11-07 19:35] w5922xd opened #3873 "NETSDK1073 for .NET Core 2.2 | Builds Fail"
## Preface
I am reporting this here based on this comment from a (possibly) related issue.
_Originally posted by @dsplaisted in https://github.com/dotnet/cli/issues/11378#issuecomment-539583642_

This is from the dotnet/CLI repo but when you go to create a new issue there the text reads:

If this is the wrong location let me know.

## Problem Description

I am using Visual Studio 2019 version 16.3

[2019-11-07 19:36] sebastienros commented on #3856
I would suggest jq. http://xmodulo.com/how-to-parse-json-string-via-command-line-on-linux.html

I think it's quite nice to get the file you are pointing to in a structured format.

[2019-11-07 21:16] heng-liu commented on #3868
Hi @wli3 , the results of dotnet --info is as following:
[code]

[2019-11-07 21:18] wli3 commented on #3868
thanks!

[2019-11-07 21:29] livarcocc commented on #3873
@dsplaisted please take a look.

[2019-11-08 03:21] dtchepak opened #3875 "`dotnet publish` from non-Windows does not copy required native files"
When publishing an app from Mac targeting Windows, required native files are not included. The same app built from Mac using `dotnet build` works fine on both platforms.

I'm not sure if this is me misunderstanding `dotnet publish`, a problem with my configuration, or a potential problem with the CLI. Appreciate any help you can provide. :)

## Steps to reproduce

Create `CblCount.csproj`:

[code]

[2019-11-08 06:59] pavelovcharov opened #3876 "dotnet publish --manifest doesn't update .deps.json file properly"
As stated in documentation the --manifest option allows to skip certain packages from publishing. However this option doesn't updates the .deps.json file properly. Thus, the resulting application fails to start due to missing dependencies. Is this behavior expected?

[2019-11-08 18:11] #3868 closed

[2019-11-08 18:58] heng-liu commented on #3868
Hi @wli3, thanks for solving this issue! May I know when can I get the latest fixed SDK? Can I get latest updates if I install SDK by command : dotnet-install.sh  -c master ? Thanks!

[2019-11-08 21:16] jzabroski commented on #3067
May've hit another situation today, but need a small repro to confirm. I'm mainly logging this with notes. I think if I hit this need a couple more times, I'll be motivated to demonstrate the general usefulness of CleanFull.

Scenario:
You're writing an application, and then need to re-target it to be deployed into a strong-name context.  You now need to transitively sign all dependencies.  So you

[2019-11-08 21:29] jzabroski commented on #3067
I may've just hit _another_ one.  In the same day.  Although, this may be a Visual Studio caching bug moreso than a SDK issue.  But, I guess my question is, where does that cached value come from, and why doesn't re-loading the project fix the issue?

Again, upgrading .NET Framework 4.6.1 to .NET Framwork 4.8, the Visual Studio Project Properties dialog showed that the projects Platform Target was

[2019-11-08 21:39] nguerrera commented on #3067
I'm not keen on an adding aggressive clean option. I think that is best left to source control that knows which files are part of the repo. `git clean` is the next level from `dotnet clean` already. The problem with any wholesale, recursive directory deletion is that it is prone to errors. I have seen msbuild authoring bugs delete most of a machine with removing `<Delete Files=_$(SpelllingError)\*

[2019-11-08 21:44] jzabroski commented on #3067
@nguerrera That's a killer argument.  Effectively, what you're saying is MSBuild can be used to execute a Confused Deputy attack: Because MSBuild has the user's permissions, and the user's permissions include _all_ files the user owns.  I guess the only way to support CleanFull safely then would be in a container.  Which now seems like another notch as to why I should be building everything inside

[2019-11-08 21:55] #3067 closed

[2019-11-08 22:20] filipnavara commented on #3868
Can we please keep this issue open until the new SDK nightlies are available?

[2019-11-08 23:21] dsplaisted commented on #3873
What does the `netstandard2.0` .csproj look like?  Does it declare any `FrameworkReference` items?

The best way for me to investigate this would be if you can [share a binlog](http://aka.ms/binlog) of a failing build.  Note all the information that this will include though, including your project files, environment variables, etc.

[2019-11-08 23:29] dsplaisted commented on #3592
I think we went back and forth a bit on this during development.  We ended up disabling referencing WindowsDesktop on non-Windows because we didn't want to ship the WindowsDesktop targeting pack together with the SDK on Mac and Linux, but if it was still supported it would have always been downloaded whether it was needed or not, because at the time we're restoring we don't know if it will be need

[2019-11-08 23:36] AArnott commented on #3592
Thanks, @dsplaisted. It sure would make it easier.

At the moment my plan is to *remove* .NET Core 3.0 WPF/WinForms support from my Xunit.StaFact package because essentially what I have is a regression in my package now. The only way forward (unless we get ref assemblies available off-Windows) will be to create a new `Xunit.StaFact.NetCore3.DesktopWindows` package so that only those who explicitly

[2019-11-10 14:05] CAH-FlyChen commented on #1458
got the same issue

[2019-11-10 22:45] imbsky commented on #3856
I wrote bash code to fetch and parse the json of each major version in parallel, but many languages provide all versions as one json, it would be smarter if .NET team provide it.

[2019-11-11 13:16] iprins opened #3881 "Installed Global tool gives invalid runtimeconfig.json"
After installation of a dotnet global tool I receive the following error:

[code]

I suspect it's due to the version name I used for the nuget package, which resulted in a path name longer than 260 characters.

When I shortened the version name, the installed tool runs just fine.

[2019-11-11 14:03] WeihanLi commented on #901
that's really a bad experience

[2019-11-11 19:13] assafsl commented on #3811
I'm having  a similar issue, using version 3.0.100 -
Everything works fine when I run in debug (VS Code F5), but when using `dotnet run`, I'm getting `ERR_CONNECTION_CLOSED`. Log:

[code]

[2019-11-11 19:35] vitek-karas commented on #3857
#3859 got merged to 3.1.1xxx - should be fixed then.

[2019-11-11 19:35] #3857 closed

[2019-11-11 20:05] w5922xd commented on #3873
Hey @dsplaisted thanks for taking a look. The .netstandard2.0 project doesn't seem to declare any `FrameworkReference` items that I am aware of. It has two package references.

Attaching a binlog.
[msbuild_issue3873.zip](https://github.com/dotnet/sdk/files/3833024/msbuild_issue3873.zip)

I tried to reproduce this in a new project but am not having much luck. I'm afraid this is something dumb on my

[2019-11-11 20:11] alexvaluyskiy opened #3885 "Dotnet CLI support for C++/CLI projects"
.NET Core 3.1 added support for C++/CLI, but still, we have to use completely different ecosystem to build and publish packages.

Are there any plans to support `dotnet CLI` for C++/CLI projects to restore/build/pack/etc tasks? It would be great to have SDK based projects files for C++/CLI.

[2019-11-11 20:36] livarcocc commented on #3885
I don't believe the C++ team has plans to add such support.

[2019-11-11 20:36] #3885 closed

[2019-11-11 21:27] blacksnake-rus opened #3886 "net core 3.0 publish project with wrong dependencies"
# net core 3.0 publish project with wrong dependencies

I have console project ProblemMainApp.
It has dependencies from Helper and Newtonsoft.Json 12.0.2.
Helper.csproj depend from Microsoft.Extensions.Configuration.Json 2.0.1.
Microsoft.Extensions.Configuration.Json 2.0.1 depend from Newtonsoft.Json 10.0.1.
![image](https://user-images.githubusercontent.com/11626085/68483754-2aadec00-024d-11ea-81

[2019-11-11 21:28] vitek-karas commented on #3814
Since whatever happens on the SDK side, it is unlikely to be fixed for 3.0 I filed these to update the docs:
https://github.com/dotnet/docs/issues/15811 to update the guide
https://github.com/dotnet/samples/issues/1760 to update the sample

[2019-11-11 21:29] dsplaisted commented on #3886
@blacksnake-rus Can you share the output of `dotnet --info` from a machine where this is failing?

I wasn't able to repro this with a preview of the 3.1.100 SDK.

Can you try publishing without overriding the output folder and seeing if you still encounter the issue?

Thanks

[2019-11-11 21:37] dsplaisted commented on #3873
@w5922xd It looks like your project is consuming a package that was produced with a preview version of the .NET Core 3.0 SDK, which created invalid packages.

If you can share the project.assets.json file for CloudAPI.Models I can probably tell you which package it is, but you may just want to rebuild all your packages.

Thanks.

[2019-11-11 22:01] w5922xd commented on #3873
@dsplaisted I see. I appreciate your offer to take a look. Adding it here.
[project.assets.zip](https://github.com/dotnet/sdk/files/3833391/project.assets.zip)

I would assume it's a package I built called BMSBackup.Models. That package targets `netstandard1.2;netstandard1.6;netstandard2.0`. I rebuilt the nuget package and updated my main project but the errors persist. Sorry, don't meant to take

[2019-11-11 22:17] dsplaisted commented on #3873
@w5922xd Yes, it does seem to be an issue with the BMSBackup.Models project.  Could you share a binlog of packing that project?

[2019-11-11 22:25] w5922xd commented on #3873
@dsplaisted You bet. Attached it here.
[msbuild_3873_bmsbackup_models.zip](https://github.com/dotnet/sdk/files/3833454/msbuild_3873_bmsbackup_models.zip)

[2019-11-11 23:40] wli3 opened #3888 "Tool install hangs"
_From @harishsk on Monday, November 11, 2019 10:02:00 PM_

When I run the following command, it just hangs and never completes.

[code]
The output of dotnet --info command is as follows:
[code]

_Copied from original issue: dotnet/try#629_

[2019-11-11 23:42] wli3 commented on #3888
@harishsk could you show the log of `dotnet tool install dotnet-try -g -v:diag`. Please double check there is no sensitive information in the log before you post

[2019-11-11 23:53] harishsk commented on #3888
I had to reboot my machine for a different reason. After I rebooted, the command succeeded.
[code]
I think it is okay to close the bug.

[2019-11-11 23:57] elinor-fung opened #3889 "C++/CLI projects do not generate .runtimeconfig.json"
When building a C++/CLI library, a .runtimeconfig.json file is not generated. As a result, these libraries cannot be used from native applications or through p/invokes from managed applications.

**Repro:**
VS 2019 16.4 Preview 4
.NET Core 3.1.0-preview2

1. Create a C++/CLI library in Visual Studio
2. Create either a:
    - native application that calls into the library from (1)
    - managed app

[2019-11-12 00:11] #3888 closed

[2019-11-12 00:27] OliaG commented on #3631
My understanding is that we are not bringing LC.ee to .NET Core and instead @terrajobst will work on a newer way of licensing .NET Core apps.

[2019-11-12 03:27] AArnott commented on #3592
The xunit workaround is ugly, but at least technically feasible.

For the vs-threading library, it forces us into either of these unfortunate choices:

1. Omit all support for WPF specific behaviors in the netcoreapp3.0 target of the library. This means that net472 of the library is still a proper superset of netcoreapp3.0, but only in the WPF types. WPF users on netcoreapp3.0 are simply out of lu

[2019-11-12 03:28] dsplaisted commented on #3873
@nkolev92 Can you take a look at this?  The package being generated has a frameworkReference for `.NETStandard,Version=v2.0`, which isn't valid.  Looking at the PackTask parameters in the .binlog, I don't see how that frameworkReference is making it into the package.  However, I tried packing a WinForms project, and I also don't see how the `Microsoft.WindowsDesktop.App.WindowsForms` frameworkRefe

[2019-11-12 06:38] wli3 commented on #3868
@heng-liu core-sdk build now has the fix

[2019-11-12 09:54] raxuser100 commented on #1321
I am running Visual Studio 2019.

Deleting the obj and bin folders seems to work just fine. No need to update any other settings.

[2019-11-12 10:00] raxuser100 commented on #1321
I am running Visual Studio 2019.

1) Delete the obj and bin folders
2) Add line below to the csproj file, beneath the  `<TargetFramework>netcoreapp3.0</TargetFramework>`

`<RuntimeIdentifier>win-x64</RuntimeIdentifier>`

3) Restart Visual Studio
4) Publish project

[2019-11-12 10:07] blacksnake-rus commented on #3886
The problem is reproduced not only on my machine (if necessary, I can provide information on them).

[code]

Without overriding the output folder issue not reproduced (Newtonsoft.Json version in out folder -  12.0.2)

[2019-11-12 10:30] frankkilcommins opened #3894 "dotnet pack --ouput directory no longer relative to current directory"
As of yesterday, I get issues with dotnet pack where the output directory was created at the root working directory rather than relative to the current directory. This caused subsequent pack command to fail as the expected pattern was no longer matching.

sdk version: 2.1.500

Output:
`[command]C:\hostedtoolcache\windows\dncs\2.1.500\x64\dotnet.exe pack d:\a\1\s\DUPSCore\DigitalUserProvisioningSer

[2019-11-12 18:41] sebastienros commented on #3868
Confirmed, thanks @wli3

[2019-11-12 19:13] nkolev92 commented on #3873
The framework references are read from the assets file, so getting the restore output would help determine that.
Getting the binlog for the restore of that package would also be helpful.

[2019-11-12 19:17] wli3 commented on #3889
Per Nick:

- [ ] Decide if we want to enable generating runtimeconfig by default for C++ library?
- [ ] Fix when asset file missing, generating runtimeconfig also get disabled
- [ ] Fix output $(TargetDir) mismatch in C++ project

[2019-11-12 20:31] matkoch commented on #2334
@nguerrera kindly pinging

[2019-11-13 01:14] heng-liu commented on #3868
Thanks! @wli3

[2019-11-13 02:40] coolspeed opened #3899 "Korean translation issue"
The  `dotnet run` command output translation is misleading:

[code]

The translation "64.42 ms에서", which is guessed to be the translation of "in 64.42 ms", is translated inappropriately.

[2019-11-13 05:33] NicolasDorier opened #4268 "dotnet test hangs on CI servers"
## Steps to reproduce

This only happen with netcoreapp3.0, it happened to me on both Circle CI and Travis.

This is an example of job hanging

https://travis-ci.org/MetacoSA/NBitcoin/jobs/611211736

After the workaround, no more hang

https://travis-ci.org/MetacoSA/NBitcoin/jobs/611214309

## Expected  behavior

dotnet test does not hang on CI.

## Actual behavior

dotnet test hang.
I think a tes

[2019-11-13 09:03] turowicz opened #3900 "NETSDK1085 on Docker with dotnet publish --nobuild"
I have two docker files. First I `docker build` the `Build.dockerfile` and then I'm using `Deploy.dockerfile` to create a deployable image. Unfortunately I've started getting an issue which is blocking my release pipeline after 3.0 SDK update. At the moment I have removed the `--no-build` flag but I would very much like to bring it back ASAP.

**Build.dockerfile**
[code]

**Deploy.dockerfile**
[co

[2019-11-13 10:07] pleonex commented on #3728
I have just ran into this issue because I was compiling a console app against .NET Core 2.1 instead of .NET Core 3.0. Would it be possible to improve the error message so the user has the hint to target .NET Core 3.0 instead of getting an exception?

I am using .NET Core 3.1 preview 2 (`3.1.100-preview2-014569`).

[2019-11-13 11:54] johnnyasantoss opened #3901 "dotnet publish R2R single file fails only on Windows"
Hello!
I have been trying to set up an Azure pipelines and noticed that my `dotnet publish` command is only failing on Windows (works perfectly on Linux and Mac).

It seems to fail when parsing the arguments but the error message does not clarify or help in any way. _(Also, I'm not sure if this issue should be filled here or on msbuild repo)_
I have only one `.csproj` file in the folder and I'm re

[2019-11-13 18:25] wli3 commented on #3889
Lucky ProjectRuntimeConfigFilePath is based on $(TagetDir) https://github.com/dotnet/sdk/blob/be128d0ba81f0971ddbd5bb5a1039dd2c7768edf/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L64

There is mismatch in C++ I believe. Due to the following issue, I can only test in a single library. And the output location is correct there.

However, looks like creating a runtime config

[2019-11-13 19:48] yb199478 opened #3903 "Cannot find dependencies when executing an assembly published by dotnet publish"
This is more like a question, If this is not the right place to ask questions, I apologize in advance.

I wrote a `.NET Core 2.0` console application (The main code is written by `.netstandard2.0`). Publish using `dotnet publish`, But there was an error during execution:

**Compile project**

[code]

**Execute program**

- `bin\Release\netcoreapp2.0\publish`

[code]

**Prompt error:**

[code]

But

[2019-11-13 20:14] elinor-fung commented on #3889
The direct reference like that wouldn't need the .runtimeconfig.json (since it wouldn't be using the referenced library as a 'component'). However, I could imagine something like using project references for build order/copying to output (without the direct reference) and expecting everything be copied for use as a separate component. That said, I'm not sure how much doing something like that is s

[2019-11-13 20:51] dsplaisted opened #3904 "Conflict in publish between file from Microsoft.NET.Build.Extensions and NuGet package"
With the following project:

[code]

- Make sure to delete the output folder
- Publish the project and generate a .binlog (`dotnet publish -bl`)
- Open .binlog in MSBuild structured log viewer

**Expected:** No DoubleWrites reported

**Actual:** DoubleWrites reported for System.Runtime.InteropServices.RuntimeInformation.dll

The file is being copied to the publish folder from the following two loc

[2019-11-13 23:17] livarcocc commented on #3899
@tmeschter

[2019-11-14 02:25] yb199478 commented on #3903
This problem can occur in .net core 2.0, 2.1, 2.2.

 I found the problem fixed when using the 3.0 runtime.

[2019-11-14 03:52] gtechx commented on #3903
I had the same problem:
 ``` dotnet Reproduce.CLI.dll  ```
[code]

[2019-11-14 06:11] JosephGarrone commented on #3871
Would this not be resolved by assigning some form of precedence to files during copying? I would expect in almost all situations that the files in the project being build should overwrite files copied in as dependencies/resources/etc from dependency projects. i.e. A depends on B, therefore all files from B should be copied into output, then all files from A should be copied into output.

[2019-11-14 09:10] peterwurzinger commented on #3871
Precendence resolves the issue of config files getting overwritten. It doesn't prevent publish artifacts of referenced projects getting copied into the build output though.

[2019-11-14 09:28] daniel-harrison-cko opened #3907 "Metapackage implicit references?"
Hey. I am really struggling to locate information about implicit references of metapackages, so I have decided to create this issue.

I have a .NET Core API project with the following project file:
[code]

And a .NET Core Console project containing my unit tests with the following project file:
[code]

What I would like to understand is.. Why is it that the Console project does not receive the met

[2019-11-14 12:53] johnnyasantoss commented on #3901
In the end I changed my workflow to use the dotnet task on Azure pipelines, but I believe there's something wrong in the way the args are parsed on Windows.

I can't reproduce it because I don't have a machine with Windows but I believe the problem is the line jump in the bash script that I was using.

https://github.com/johnnyasantoss/ExchangeSharp/blob/aa70d0b87e15bb602075868814c6df281936157e/az

[2019-11-14 16:08] enricoreich opened #3910 "Installing 3.1.100-preview3-014709 via dotnet-install.ps1 fails with unknown error"
Hello,

I tried to download an install the latest 3.1.100 preview (3.1.100-preview3-014709) via dotnet-install.ps1 script and the install process fails with an unknown error:

[code]

Downloading via `https://dotnetcli.azureedge.net/dotnet/Sdk/3.1.100-preview3-014709/dotnet-sdk-3.1.100-preview3-014709-win-x64.zip` and manually unpacking works but there are 3.1.0 (no preview suffix!) folders all ov

[2019-11-14 17:53] dsplaisted commented on #3871
@peterwurzinger Aren't a lot of the "extra" copied files needed for the app to run, and in that case would be needed by referencing projects?

Right now I'm thinking the best way to fix this is probably to have a file from the referencing project "win" over a file that would be copied to the same location from a referenced project.  Thoughts @nguerrera @rainersigwald?

[2019-11-14 18:01] michha commented on #3871
How does this fix my usecase with the test project? I have just a single appsettings.json in the test project and still get the appsettings.production from the mvc project copied and executed when running my tests - that meant the tests tried to touch the production database when the builds were executed the first time after migrating to 3.0.
I could prevent it by making lots of dummy json files,

[2019-11-14 21:31] w5922xd commented on #3873
@nkolev92

Forgive my ignorance. How can I get you the restore output for the assets file? I previously attached a binlog of the bmsbackup.models project, how would I produce a binlog of the restore of the package?

[2019-11-14 21:46] nkolev92 commented on #3873
Oh no worries.

The assets file is the output for restore and it's usually found on the `MSBuildProjectExtensionsPath` location.

To put it simply, unless you override things, it'll be in your obj folder.

[2019-11-15 00:30] livarcocc commented on #3910
This happens because we are in the process of stabilizing our versions to 3.1.100. But we don't push to a non-suffix folder because that would cause us to override bits.

There is a change in progress (might have been merged) that addresses this issue in the install scripts.

We are separately considering not update the latest version for these kinds of builds.

I am going to leave this issue open

[2019-11-15 00:54] enricoreich commented on #3910
Thanks @livarcocc for the clarification. Makes totally sense.
Is there a public source where you can check if "these kinds of builds" are in progress?

[2019-11-15 00:58] livarcocc commented on #3910
https://github.com/dotnet/core-sdk/blob/release/3.1.1xx/src/redist/targets/Versions.targets#L11

[2019-11-15 06:25] jimmylewis commented on #3662
I also ran into this issue.  @dsplaisted, I understand the viewpoint that

Is this something that the .NET SDK would consider preserving for back-compatibility with the VS SDK?  Or should this issue be routed to the VS SDK team instead to change their targets?

[2019-11-15 06:41] normj opened #3914 ".NET Core 3.1 SDK change in behavior of GenerateRuntimeConfigurationFiles flag breaks AWS .NET Lambda tooling"
## Background

The AWS .NET Lambda tooling explicitly sets the **GenerateRuntimeConfigurationFiles** to true flag when doing a `dotnet publish`. This was necessary because in Lambda the entry point is a netcoreapp2.1 Library but we need to make sure the runtime.config is generated with the deployment bundle even though it is library so on Lambda's side we have the correct start up parameters.

I h

[2019-11-15 07:37] atlemann commented on #3875
I'm experiencing the same thing on Ubuntu.

[2019-11-15 13:31] khellang opened #3917 "Respect `DO_NOT_TRACK` as standardized alternative to `DOTNET_CLI_TELEMETRY_OPTOUT`"
`DO_NOT_TRACK` is a proposed unified standard for opting out of telemetry for TUI/console apps.
It would be nice if the dotnet CLI followed the same standard.

See https://consoledonottrack.com/

[2019-11-15 14:30] peterwurzinger commented on #3871
@dsplaisted Absolutely, yes. But it's not deterministic *which* files getting copied, since it's apparently dependent on the combination of the target framework and the SDK.

I just did some experiments referencing an ASP.NET Core 2.2 web app  from a XUnit test project, that targets `netcoreapp2.2` and `netcoreapp3.0`. So when building the test project you can choose between with various valid per

[2019-11-15 17:13] dsplaisted commented on #3662
I would try to get it fixed in the VS SDK.  We are trying to reduce the amount of duplicate metadata we have, see here: https://github.com/dotnet/sdk/pull/3850

[2019-11-15 19:52] jhudsoncedaron opened #3918 "Downgrading transitive PackageReferences"
We have a DLL that contains downgrade instructions, so despite being built in the project containing the latest version, it must inherently be loadable on the oldest version we ever shipped. In order to do so, we used PackageReference Update= to pin reference of dlls when building that version.

Unfortunately this doesn't really work for some reason we don't know. The Update= version force is igno

[2019-11-15 21:16] felixfbecker commented on #1541
The linked issue is closed, however I still see this. Honestly I don't really understand the things said above. I have a simple csproj targeting `netstandard2.0` (although I also tried `netstandard2.1` and `netcoreapp2.1`). Any idea?

[code]

[2019-11-15 21:26] nguerrera commented on #1541
@felixfbecker It's entirely possible that you are seeing the same error message with different root cause. Would you mind opening a fresh issue and listing the full steps to reproduce what you are seeing.

[2019-11-15 22:04] nguerrera commented on #2334
Sorry, I looked at this a bit a while ago and seems I didn't reply. From the logs that I can no longer see and some experimenting with PowerShell, I seem to recall thinking it was failing here:

https://github.com/nuke-build/common/commit/ca415a8f27c87bcae8bc99737b40baa1d21f94c1#diff-f0e702281ea5f7e95dc2d73f90001781L59

My _guess_ would be that the script didn't find global.json and thought it cou

[2019-11-15 23:12] TheBuzzSaw opened #3920 "Does /p:OutputType=WinExe propagate to dependencies?"
I am attempting to build a project with overridden properties.

    dotnet publish MyProject.csproj -f netcoreapp3.0 -c Release -r win-x86 /p:CopyOutputSymbolsToPublishDirectory=false /p:OutputType=WinExe

However, it results in a build error in a classlib dependency.

    error CS5001: Program does not contain a static 'Main' method suitable for an entry point

I can only assume that the `/p:Outp

[2019-11-17 23:02] wli3 opened #3923 "Different result when running test in mac temp directory"
for build 5.0.100-alpha1-015580 at least, build "TransitiveFrameworkReference" test asset from user directory vs temp (something like `/var/folders/5p/_vgfqvq12t3c1w_d4lm_56fw0000gp/T/dotnetSdkTests/03n0u4su.icg`) directory result in different output.

`TransitiveFrameworkReference/bin/Debug/netcoreapp3.0/TransitiveFrameworkReference.runtimeconfig.json` runtimeOptions.framework.name is Microsoft.A

[2019-11-18 08:52] yunwei00q opened #3924 "Run a 3.0 project with SDK 3.1.100-rtm-014727, restore failed with error NU1102: Unable to find package Microsoft.AspNetCore.App.Ref with version (= 3.0.1) and package Microsoft.NETCore.App.Host.win-x64 with version (= 3.0.1)."
### Repro Steps:
1. Only install SDK [3.1.100-rtm-014727](\\vsufile\patches\sign\NET\CORE_BUILDS\3.1.X\3.1.0\final\3.1.100-rtm-014727)
2. Run a 3.0 project

### Expected:
Restore and build successfully.

### Actual:
Restore failed with error NU1102:
![image](https://user-images.githubusercontent.com/57380211/69036546-17efa000-0a21-11ea-8b6c-35116aaad1f9.png)
error NU1102: Unable to find package Mi

[2019-11-18 09:19] schmitch opened #3925 "PublishSingleFile=true does not work correctly in a multi project build"
Currently when having the following project structure:

1. ProjectWinService
2. ProjectWinService.Base (TargetFrameworks: `netcoreapp3.0;netstandard2.0`, OT: EXE)
3. ProjectWinService.Api (TargetFrameworks: `netstandard2.0;netstandard2.1`, OT: Library)
4. ProjectOtherExe

While Project 1. is the main build and has a dependency on 2. and 3. it will always fail with the following:

[code]

the only

[2019-11-18 11:07] vitek-karas opened #3926 "Unify Private and ExcludeAssets behavior for Project/Package references"
Currently there are two distinct ways to mark assets from a reference as non-private (the intent is to use the reference for compilation, but omit it when copying assemblies to the output and omit it in generated `.deps.json`).

For `ProjectReference` the right way to do this is to specify `Private=false` like this:
[code]

For `PackageReference` the right way to do this is to specify `ExcludeAsse

[2019-11-18 11:08] vitek-karas commented on #3926
Related to https://github.com/dotnet/docs/issues/15811 and https://github.com/dotnet/samples/issues/1760.

[2019-11-18 13:11] vitek-karas commented on #3914
This should be fixed by https://github.com/dotnet/sdk/commit/6f2fb071ed3406394fd4336958848e48354a69e6. I tried the repro using the latest 3.1.1xx build from https://github.com/dotnet/core-sdk https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/3.1.1xx/dotnet-sdk-latest-win-x64.zip and it published the library without any failures and did include the `.runtimeconfig.json`.
Can you please try

[2019-11-18 15:18] w5922xd commented on #3873
@nkolev92

I'm unsure which project I should be getting the output for. Since this spans two solutions, I'm including a file here with the project.assets.json file for projects that have a obj/project.assets.json. Hopefully one of these will be useful though please let me know if I'm missing something.

Also including binlogs of both solutions.

[assets_files.zip](https://github.com/dotnet/sdk/fil

[2019-11-18 18:12] rainersigwald commented on #3918
Can you point to any docs or issues you used to develop your understanding of what `Update` does in this context? It seems we have something misleading, because it doesn't work the way you expect.

`Update` is an MSBuild language feature that will update items matching the pattern with the specified metadata.
From your example you have

[code]

 It's not applying in this case because your project

[2019-11-18 18:13] rainersigwald commented on #3918
This issue was moved to NuGet/Home#8833

[2019-11-18 18:13] #3918 closed

[2019-11-18 18:15] wli3 opened #3928 "Run GivenThatWeWantToVerifyPCLProjectReferenceCompat in helix"
The current work around is to run this test in build machine. And run everything else in helix.

This test uses _profile_, so even when `Microsoft.NETFramework.ReferenceAssemblies` is reference, it still asks for 4.5 and 4.6 developer pack.

https://github.com/dotnet/sdk/blob/07618e7bb55b2c1c4e93b08f4f327fe765af93e1/src/Tests/Microsoft.NET.Build.NonHelix.Tests/GivenThatWeWantToVerifyPCLProjectRefe

[2019-11-18 18:17] wli3 commented on #3928
@dsplaisted @nguerrera any idea about this issue? Why Microsoft.NETFramework.ReferenceAssemblies is not enough? When I remove the profile, it is fine

[2019-11-18 18:20] rainersigwald commented on #3920
Specifying a property at the command line causes it to be set as a [global property](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-properties?view=vs-2019#global-properties); global properties are by default inherited by projects built as `ProjectReference`s (or otherwise using the `MSBuild` task inside MSBuild).

There's no trivial way to disable this but there are some options:

[2019-11-18 18:23] jhudsoncedaron commented on #3918
@rainersigwald : https://stackoverflow.com/questions/43860379/how-do-i-replace-a-dependency-of-a-third-party-nuget-package

Also https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1605?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev16.query%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(NU1605)%26rd%3Dtrue (F1 from NU1605) seems to suggest the Update= line is for fixing these pr

[2019-11-18 18:23] dsplaisted commented on #3928
This is testing Portable Class Libraries.  We don't have reference assembly packages for those.

I don't know that these tests are especially valuable anymore.

[2019-11-18 18:25] wli3 commented on #3928
nice :D @dotnet/dotnet-cli if no one compiles I will just remove it

[2019-11-18 18:52] sebastienros opened #3929 "Exception at startup with latest SDK"
Starting an ASP.NET application targeting netcoreapp5.0 with recent SDKs (since last week between Wednesday 13th and Thursday 14th) triggers:

[code]

Latest known version to work for me is:

[code]

Could repro with at least `5.0.100-alpha1-015731` but I don't have the list of versions in between to be more precise.

[2019-11-18 18:58] normj commented on #3914
Thank you! I have confirmed the sample repo works as well as using our AWS tooling with the latest zip file.

[2019-11-18 18:58] #3914 closed

[2019-11-18 20:11] nkolev92 commented on #3873
We need the assets file for the project getting packed, specifically BMSBackup.Models.

Looking at the project's assets file, I do not see any framework references.
When you pack that project, does the nuspec still show a framework reference?

It's possible that the package is installed in the global packages folder and if you are building a package with the exact same version then it will not get

[2019-11-18 21:52] nguerrera commented on #3928
That's OK with me.

[2019-11-18 21:53] wli3 commented on #3928
Great! removing

[2019-11-18 21:53] #3928 closed

[2019-11-18 22:10] JunTaoLuo commented on #3929
cc @jkotalik this is the issue we are seeing in the dependency updates.

[2019-11-18 22:14] sebastienros commented on #3929
Should there be a functional test as part of the SDK to ensure you can build and run a simple ASP.NET app? Maybe it's already done with other types of applications but for me it's the second week in a raw that it breaks them. Is it something I could do as a PR if you point me to where you would want it to be added?

[2019-11-18 23:17] nguerrera commented on #3924
This is because 3.0.1 has not shipped to nuget.org yet. This is happening one or two days before 3.1.1100 ships.

You will need to add the same feed being used for 3.0.1 testing to test the latest 3.1.100 builds.

[2019-11-18 23:18] #3924 closed

[2019-11-19 00:30] cuichenli opened #3930 "Can I safely remove the runtime folder generated by dotnet publish ?"
I am building one pwsh core binary module in c# and want to ship it to Linux and Windows. Found that the `publish` command is generating a large runtime directory. So I am curious can I delete it before publishing it to NuGet given that I know the machines will run this module already have pwsh installed. Otherwise, can I specify what runtimes should be generated in this directory? Thanks!

[2019-11-19 19:46] avifatal opened #3935 "A fatal error was encountered. The library 'libhostpolicy.so' required to execute the application was not found in '/app/'."
Hi,
I am getting the following error when deploying donet core 3.0 with docker:
`A fatal error was encountered. The library 'libhostpolicy.so' required to execute the application was not found in '/app/'.`

This is my Dockerfile:
`
FROM mcr.microsoft.com/dotnet/core/aspnet:3.0-buster-slim AS base
WORKDIR /app
EXPOSE 8080

FROM mcr.microsoft.com/dotnet/core/sdk:3.0-buster AS build
WORKDIR /src
COPY

[2019-11-19 20:38] TheBuzzSaw commented on #3920
Using a variable ended up being an excellent workaround.

[2019-11-19 20:38] #3920 closed

[2019-11-20 01:28] wli3 opened #3936 "Do not expand existing environment variable on PATH when adding global tools to PATH"
Directly set registry in Windows using "[DoNotExpandEnvironmentNames ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.registryvalueoptions?view=netframework-4.8)"

[2019-11-20 03:24] niteshrestha opened #3937 "[dotnet tool] pwsh won't run resulting in command or file was not found"
# Steps to reproduce
Install PowerShell Core 6 as dotnet global tool
[code]

[2019-11-20 06:55] klausenbusk commented on #3865
I have been using this for some time now and it didn't fix the issue completely :/ So I'm using the following hack for now: `dotnet build -warnaserror | tee build.log && grep -q 'Build succeeded' build.log`.

[2019-11-20 10:37] onuraltun commented on #3668
me too

[2019-11-20 11:28] artecoop opened #3938 "The specified framework 'Microsoft.AspNetCore.App', version '2.2.0' was not found."
On my fresh install of Fedora 30, I installed donet-sdk 2.2 (I need to stick with this version right now) as per
https://dotnet.microsoft.com/download/linux-package-manager/sdk-2.2.207

then verified with donet --info
[code]

Now I'm creating a simple app
[code]

Perfect. Now without any editing do `dotnet run'
Voilà:
[code]

WHY?

[2019-11-20 13:43] clstr opened #3940 "NETSDK1045 Can't build 3.0 applications in CLI or VS2019 16.3.9"
I had VS2019 installed, but I was still building dotnet applications 2.1, i decided to try out dotnet 3.0 and Visual Studio 2019 lets me create a 3.0 template with React with Redux, I try to run the project it fails stating, even trying a simple console app gives the same build error.

"An error occurred attempting to determine the process id of dotnet.exe which is hosting your application. a task

[2019-11-20 13:49] jakst opened #3941 "Manage sources with dotnet cli"
Dotnet SDK does not currently support managing sources through the cli. This is problematic because it forces users of other platforms than Windows to install mono in order to run nuget.exe. It works okay, but the nuget cli, being designed for windows, feels alien and and has a cumbersome and error prone install process.

Another consequence of this is that we have to jump through hoops when resto

[2019-11-20 15:12] w5922xd commented on #3873
@nkolev92

Was that not included in my attachment at `assets_files\BMSBackup\BMSBackup.Models\project.assets.json`?

One thing to mention, I've been using an open-sourced 3rd party UI tool to create my nuspec and nuget packages called [Nuget Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer).

Here's my previous Nuspec file:
[code]

Using the `dotnet pack` command with

[2019-11-20 15:14] JonasSamuelsson opened #3942 "dotnet tool restore should support version ranges and/or wildcards"
I want to use a `dotnet-tools.json` manifest file for defining local tools used in my cicd pipelines.

From what I can tell the manifest only accepts the exact version, I would like to specify a range or use wildcards so I always use the latest version, just like when installing global tools.

Example
[code]

[2019-11-20 15:21] NicolasDorier opened #3943 "ApplicationIcon does not work when cross building win-x64 from Linux"
# How to reproduce

On linux (using Buster 3.0.101):
[code]
Grab `bin/Debug/netcoreapp3.0/publish/*.exe`
Notice that the executable does not show any icon on windows explorer.
The same process works properly show the icon on windows

# Expected

The executable should have the application icon properly set.

# Version

[code]

[2019-11-20 18:24] dsplaisted commented on #3873
Delete all the frameworkReferences from the .nuspec:

[code]

If you've done this and are still getting the error, make sure to bump the package version so you're sure you're not getting an older version, and you can open up the .nupkg in NuGet Package Explorer to ensure that the frameworkReferences aren't still in the package.

[2019-11-20 18:48] alexreich commented on #1321
Ran into this same issue w/2019 - even though all targets were changed to 3.0 and bin and objs were removed.
The Publish profile was not changed and had to be manually modified: altering the pubxml file fixed the issue.

[2019-11-20 20:17] dsplaisted commented on #3499
We should also try to settle on one or the other of `NuGetPackageVersion` or `PackageVersion`: https://github.com/dotnet/sdk/pull/3850#discussion_r348723727

[2019-11-20 20:31] nguerrera commented on #3499
I think we should settle on the matching one with ID

[2019-11-20 22:18] w5922xd commented on #3873
Removed the frameworkReferences, incremented my version, then ran `dotnet pack`. I upgrade the packages in my solution and it is now functioning. Thank you!

The frameworkReferences were my problem? Really appreciate your help @dsplaisted  and @nkolev92

[2019-11-20 22:18] #3873 closed

[2019-11-21 02:36] tttttvf opened #3948 "Project build operation"
I found a phenomenon yesterday, but I seem to submit it to another team

https://github.com/aspnet/AspNetCore/issues/17255

This is still the case with the command 'dotnet build'

[2019-11-21 09:09] gmeks commented on #3668
Not sure if this is helpfull. But it seems the flaw is in the compile to standalone exe

Im unable to get a working compile to standalone for this project ( I have to compile to framework dependant and install dot .net 3 on the server.

[2019-11-21 09:10] turowicz commented on #3900
Solution found!

The `msbuild restore` needed `/p:RuntimeIdentifiers=ubuntu.18.04-x64` to be added and all subsequent `build` and `publish` as well.

I am now getting a lean target specific package very quickly.

Thank you for all your answers and support! /s

[2019-11-21 14:37] thiagosrios commented on #3606
Thanks, this answer solved my problem!

[2019-11-21 15:33] #3563 closed

[2019-11-21 18:57] DerAlbertCom opened #3950 "SDK 2.2.403 is missing"
Your SDK Upgrade Rules and Policies are getting not better.

There is no SDK 2.2.403 (for VS 16.2 and V16.3) and which includes Runtime 2.2.8. With that in mind that we should not specificy an ASP.NET Core Version in the .csproj means that even with Runtime 2.2.8 installed only Runtime 2.2.7 will be used at compile and debug time. Because without a Version Number on the ASP.NET Core PackageReferen

[2019-11-21 19:03] DerAlbertCom opened #3951 "SDK 3.0.101 is not delivered via Visual Studio"
A promise of the SDK 3.0 was that a new version of an patch level SDK will uninstall the the previous Version. Great, less hassle keeping the machine cleaner.

So I downloaded the SDK (main download page), installed it and, of course SDK 3.0.100 still present on the machine.
![image](https://user-images.githubusercontent.com/136992/69367812-42e42900-0c99-11ea-9f18-caa18c4c47d1.png)

So there is a

[2019-11-22 00:28] nguerrera commented on #3951
VS and the standalone installer "ref count" the same components. The standalone installer will not uninstall something VS installed and VS won't uninstall standalone installs. This is important for some scenarios.

Generally this would have happened. It's not necessarily coordinated to happen on the same day in the case where the update is not a critical security vulnerability fix. That's the case

[2019-11-22 00:28] #3951 closed

[2019-11-22 09:09] tkstanczak commented on #1834
we are experiencing the same issue when trying to publish a project that is used to execute tests:
![image](https://user-images.githubusercontent.com/498913/69412972-d5231600-0d07-11ea-96a5-5335ff36d4bd.png)

[2019-11-22 16:17] clstr commented on #3940
Welp, I figured out my problem, and i believe i missed it. There was a global.json file in my C:/Users/$Username/Source

According to this article https://docs.microsoft.com/en-us/dotnet/core/tools/global-json it states

I was only check the working directory and my subfolder under my Source folder.

[2019-11-22 16:17] #3940 closed

[2019-11-22 23:09] nguerrera commented on #377
I would consider this fixed by #3957.

It's not necessarily exactly what everyone asks for (they ask for different things), but I believe it strikes the right balance and follows what msbuild did for incremental clean of build dir.

Just some reasons not to wipe out the output directory:

1. You can have a workflow where you add extra files (say configuration, plugins) while debugging, then in you

[2019-11-22 23:09] nguerrera commented on #377
cc @sfoslund

[2019-11-23 05:26] am11 commented on #3828
before dotnet 3.0:

[code]
<i>(aligns with `DOTNET_CLI_TELEMETRY_OPTOUT` etc. knobs; many users including AppVeyor CI service was relying on it to keep the build job outputs clean)</i>

in 3.0 (since 3.0 RC2: https://github.com/dotnet/cli/commit/7efbf4770630fd370779d222ce9aba35ffe56100):

[code]

i think it would be just fine if `DOTNET_SKIP_FIRST_TIME_EXPERIENCE` is back in 3.1.

[2019-11-24 10:19] lantrix commented on #3800
That's what I'm using. The top of the page you referenced states:

`dotnet-install.ps1` | `dotnet-install.sh` - Script used to install the .NET Core CLI tools and the shared runtime.

I invoked `https://dot.net/v1/dotnet-install.ps1` in one of the official PowerShell 6 docker containers, Alpine 3.8

The supported OS versions for .NET Core [2.1](https://github.com/dotnet/core/blob/master/release-no

[2019-11-24 10:28] lantrix commented on #3800
In the end it was easier to do a docker build with the [Dockerfile](https://gist.github.com/lantrix/1c0b23813213973857c276392eee74d1) building upon the Powershell alpine base image and installing the latest DotNet Core 2.1.

I then get a valid runtime of Dotnet Core 2.1 on Alpin Linux of the official PowerShell image.

This worked for a perfect build environment for publishing PowerShell 6 on AWS

[2019-11-24 10:28] #3800 closed

[2019-11-24 12:55] kiranpradeep opened #3963 "dotnet add package fails when using global.json"
We could reproduce the issue in 5 steps below. To verify if this happen across operating systems, I tried below steps also on a macOS 10.13.4, which gave same results.

1. dotnet --info

2. mkdir -p /tmp/bug_squasher && cd /tmp/bug_squasher
3. echo '{"sdk":{"version":"2.1.301"}}' >> global.json
4. dotnet new console
5. dotnet add package Newtonsoft.Json

[2019-11-24 14:53] StingyJack commented on #3026
This is most easily solved by simply enforcing an ordering for the proj files, as should be done for any code generated and most non-user-only-managed files.

@jzabroski  did mention this, and I have echoed the scenarios in other issues (and would like to point out that this is generally still the best way to handle sln file conflicts). That simple solution to so many merge problems (not just Git,

[2019-11-25 04:58] flcdrg commented on #3843
Just hit the same problem trying to upgrade 2.2 to 3.0

[2019-11-25 09:32] NetTecture commented on #3950
Yeah. I just spend a meeting with all developers in my team trying to sort out whether this is supposed to make sense and under what combination of drugs and booze it actually should do so. We could not come up with anything except someone obviously overlooking to publish the latest packages - for nearly a week now.

It seems 2.2.8 updates are still not published. How are we supposed to work with

[2019-11-25 12:57] ceka opened #3965 "segmentation fault ubuntu 16.04"
i've got strange results after upgrading to dotnet-3.0 sdk.

1) dotnet run never finish
2) dotnet build works as usual
3) dotnet run --no-build runs after step 2)
4) dotnet run --no-build sometimes DEFUNCT
5) dotnet run --no-build sometimes goes into segmentation fault

tested on new console project.
[code]

[2019-11-25 12:58] ceka commented on #3965
`ck@poznan:~$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.101
 Commit:    bc5f8df0f5

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64
 Base Path:   /usr/share/dotnet/sdk/3.0.101/

Host (useful for support):
  Version: 3.0.1
  Commit:  19942e7199

.NET Core SDKs installed:
  2.1.4 [/usr/share/dotnet/sdk]

[2019-11-25 12:59] ceka commented on #3965
``ck@poznan:~$ dotnet --version
3.0.101

[2019-11-25 13:03] ceka commented on #3965
also ^C never finish:

[code]

[2019-11-25 14:44] jzabroski opened #3967 "[Question] Is there a component that drives how to update csproj files?"
There are some interesting quirks in Visual Studio when using the new csproj SDK file format.  I am not clear if this is a Visual Studio component, or a general re-usable component that might be shared between Visual Studio and Visual Studio Code.  If there is a general re-usable component, I'd like to contribute test cases to improve its behavior.

As a brief example of annoyances:

[code]

Right

[2019-11-25 14:57] jzabroski commented on #3967
Here is the error I get in Visual Studio, indicating there may be some incongruences between SDK components and the IDE consuming those components:

![image](https://user-images.githubusercontent.com/447485/69551043-0b5fd000-0f6a-11ea-9462-5b4b30ff3c29.png)

[2019-11-25 16:51] kmuthukumar23 opened #3968 "How can install preview version of SDKs in linux using CLI"
I want to install the .net core 3.1 preview 3 in linux machine using command line

Is there any ways to install the preview versions of .Net Core SDKs in linux machine using command line?

For example,

Above Command used to install the SDK 3.0 in linux. Now i want to install latest .net core 3.1 preview 3 by the same way.

Is this possible?  Please help me on this?

[2019-11-25 18:47] huoyaoyuan commented on #3967
This should belongs to the project-system repo, which reflects project files in IDE.

[2019-11-25 21:48] jzabroski commented on #3967
Makes sense.  After thinking about it a bit, I wonder if the behavior I am seeing is a "glitch" due to a Brock-Ackerman Anomaly within the project-system code base.  To remove the "glitch" might be computationally expensive.

[2019-11-25 21:49] #3967 closed

[2019-11-25 22:07] jzabroski commented on #3967
https://github.com/dotnet/project-system/issues/5661

[2019-11-26 12:54] ransagy opened #3970 "dotnet installer script fails to add to PATH in CentOS 7"
I'm trying to use the `dotnet-install.sh` script to install .NET Core 3.0 on an Azure Batch CentOS 7 node. This is the script i use in the startup task:

[code]

The script output shows it is TRYING to add it to the PATH:

[code]

but the result is `dotnet: command not found`. Obviously if i run it directly from the given path it works. I do believe in a previous version i did try doing `source do

[2019-11-26 13:46] dasMulli commented on #3925
What exactly did you execute? did you try to publish the main project or call publish on the solution (which isn't really supported)

[2019-11-26 18:25] patrolez opened #3973 "`dotnet build` creating wrong executable name"
Hello everyone!

## Problem

I have noticed that `dotnet build` results in exactly the same naming mistake as it was already mentioned in <https://github.com/dotnet/sdk/issues/1396>, but I can reproduce the issue for `dotnet build` command, while *publish* command is producing correctly named executable.

## Steps to reproduce

Just like in <https://github.com/dotnet/sdk/issues/1396>, but with `do

[2019-11-26 18:42] patrolez commented on #3973
I can see <https://github.com/dotnet/cli/issues/6397#issuecomment-432479381> in October 2018 that it was already identified within another issue as comment.

If this bug will not make it into 2.1/2.2, so please just close this issue…

[2019-11-26 21:52] lamawithonel opened #3974 "`dotnet tool run pwsh` always returns 0"
### Steps to reproduce

[code]

### Expected behavior

Output of `echo $?` should equal `1`

### Actual behavior

Output of `echo $?` equals `0`

### Environment data

[code]

dotnet SDK: version 3.0.101
Bash 5.0.11

Also reported at PowerShell/PowerShell#11203

[2019-11-26 23:26] schmitch commented on #3925
tried both

[2019-11-27 11:07] bencyoung opened #3975 "TargetPath wrong with auto creation of exe?"
We have a build system where we need to post-sign our build artifacts so we can run them on our development machines. On .NET Core 2.1 we used a command like:

[code]

and then

[code]

With netcoreapp3.1 this fails because $(TargetPath) points to the dll, but at some point an exe is produced instead and this *isn't* signed. Is there a new or separate property that points to the exe or do we need

[2019-11-28 16:17] John0King opened #3981 ".net core 3.0 use WIA com faild"
I'm follow this article to create a scanner app (save file),
but it failed with `Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'Interop.WIA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'. 系统找不到指定的文件。
File name: 'Interop.WIA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'
   at WinScanner.Program.Main(String[] args)`

this is the `project fil

[2019-11-28 16:17] TFTomSun opened #3982 "dotnet sln commands don't create a cli buildable solution"
If you create a solution with dotnet sln new / dotnet sln add, the project configurations are not generated (e.g. Debug|x64). If you perform dotnet build or msbuild against such a solution, no build is performed.
If you open the generated solution in Visual Studio, the IDE changes the solution and generates the missing configurations.

The expected behavior is, that the created solutions are also

[2019-11-28 21:54] x10an14 opened #4273 "Text input from keyboard to terminal bash prompt gets hidden after running `dotnet test`"
## Steps to reproduce

1. `git clone git@github.com:x10an14/RazorLight.git`
2. `cd RazorLight`
3. `git checkout f7ada2f3ab166893248af42aca81f0e865bca621`
4. `dotnet test`
5. See if you can see the terminal/prompt react visually to any of your keyboard inputs (aka you typing your next command)<sup>1</sup>.

1: It does react (for me at least) under the hood, but it never shows anything.

<details>
<

[2019-11-29 08:45] dasMulli commented on #3982
Do you have repro steps or a repro solution/project setup?
Doing the "normal" CLI dance still seems to work..

`´`
╭─ ~/tmp/testsln
╰─ dotnet new console -o testcons
The template "Console Application" was created successfully.

Processing post-creation actions...
Running 'dotnet restore' on testcons/testcons.csproj...
  Restore completed in 48.45 ms for /Users/martin/tmp/testsln/testcons/testcons.

[2019-11-30 02:37] TFTomSun commented on #3982
i don't have a repo, but i am pretty sure it's related to the fact that in my case all projects just offer a x64 platform. I don't have currently access to a dev environment, but if u like u can try that out: create a project that offers only a x64 bit platform and then build a solution for that project and build it with x64 platform property parameter.

[2019-11-30 08:11] dasMulli commented on #3925
Yeah executable projects referencing other executable projects do have some issues like these because a CLI argument is a global argument that applies to all projects. Some special ones are filtered out explicitly from that but new ones like `PublishSingleFile` not (yet).
You could put it into the csproj file for now..

[2019-12-01 03:08] shiwani opened #3985 "Unable to create project using .NET Core 2.1. Error:Either target .NET Core 1.1 or lower, or use a version of the .NET SDK that supports .NET Core 2.1."

[2019-12-01 12:02] dasMulli commented on #3985
Do you have a `global.json` file in your D drive? what does `dotnet --info` print from a command line in the D drive?

[2019-12-01 12:14] cezarypiatek commented on #3814
The following way of referencing plugin contract package seems to solve the problem

[code]

[2019-12-01 14:40] shiwani commented on #3985
Thanks @dasMulli  for looking int this. I am not able to find the location of global.json in either C:/ or D:/ Drive.

On calling dotnet --info in **D: Drive** following info is displayed,

D:\>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.105
 Commit:    7cecb35b92

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:

[2019-12-01 14:44] cezarypiatek commented on #3814
Changing these attributes doesn't seem to solve the issue

[2019-12-02 11:45] henriksen commented on #3815
Same problem with 3.1.100-preview2-014569. Downgrading to .NET 3.0.100 with a `global.json` file worked.
[code]

[2019-12-02 13:42] #3963 closed

[2019-12-02 13:47] vitek-karas commented on #3814
@cezarypiatek Could you please describe in more detail what is the exact failure you get after the suggested workaround?

I cloned your repo https://github.com/cezarypiatek/PluginArchitectureDemo and made one change in the `PluginArchitectureDemo.SamplePlugins.csproj` adding the `<ExcludeAssets>runtime</ExcludeAssets>` metadata to the project reference, like this:
[code]

Then I *Rebuild* the enti

[2019-12-03 00:25] wli3 commented on #3965
This issue was moved to dotnet/runtime#460

[2019-12-03 00:25] #3965 closed

[2019-12-03 02:12] bruno-brant commented on #3894
I'm getting the same behavior. SDK version is `2.2.108`.

[2019-12-03 06:05] NicolasDorier opened #3990 "OutputType does not set Nt headers correctly on Linux"
Publishing my app on `mcr.microsoft.com/dotnet/core/sdk:3.0.101-buster` for win-x64, it seems that the `OutputType` is completely ignored from the resulting executable. (not using `PublishSingleFile`)

The NT Headers value for subsystem is console instead of Windows GUI.
Workaround: Binary modification of the executable.

[2019-12-03 06:50] NicolasDorier commented on #3990
My workaround is here for those interested:

https://github.com/btcpayserver/BTCPayServer.Vault/commit/027adcf8edfeb6c8f626ef198b2e2913c2a3e0fe

[2019-12-03 08:59] kotcmm commented on #3981
`    <COMReference Include="WIA.dll">
      <Guid>94a0e92d-43c0-494e-ac29-fd45948a5221</Guid>
      <VersionMajor>1</VersionMajor>
      <VersionMinor>0</VersionMinor>
      <WrapperTool>tlbimp</WrapperTool>
      <Lcid>0</Lcid>
      <Isolated>false</Isolated>
      <EmbedInteropTypes>true</EmbedInteropTypes>
    </COMReference>`

[2019-12-03 21:19] wli3 opened #3992 "PrintAddPathInstructionIfPathDoesNotExist should be more visible"
The current "add to path instruction" is not visible from normal successful output.

[2019-12-03 22:02] 0xd4d opened #3993 "3.1.100 + Publish + NoPIA adds COM lib to deps json file resulting in crash at runtime"
If you use .NET Core 3.1.100 SDK to publish a simple app with a COMReference and try to run it, it crashes at runtime because the deps json file has a reference to the COM DLL file.

Possibly related to this PR https://github.com/dotnet/sdk/pull/3539

[code]

[code]

This DLL file shouldn't even be in the deps json file and wasn't included by .NET Core SDK 3.0.

[code]

[code]

[2019-12-04 00:40] sfoslund commented on #3437
What version of the SDK was this happening for? Is it still a problem? It looks like [the offending line](https://github.com/dotnet/sdk/commit/1fc94ba2937007de896a8137e52e7a8f93cf745e#diff-65bb19ac008fd2d463ac56ebbf3f1564L96-L98) was removed around the time this issue was filed so I would expect we won't see this problem anymore.