[2020-12-10 11:20] dsplaisted commented on #11803
Disabling transitive project references would have to involve changes to NuGet, I think.

@nkolev92 @zkat Have you seen other requests to allow disabling transitive package references?  Should we move this issue to NuGet?

[2020-12-10 11:27] dsplaisted commented on #9594
By default the DLL needs to be listed in the deps.json file.  Here are some links with more information:

- https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing
- https://natemcmaster.com/blog/2017/12/21/netcore-primitives/

[2020-12-10 14:03] kaby76 commented on #14916
I have the same issue. This somehow just popped up this morning. All I did was to just opened VS2019 and opened a Solution. I uninstalled VS2019 and reinstalled. Nothing is working. Same damn thing: "Could not execute because the application was not found or a compatible .NET SDK is not installed." for "dotnet new console". Completely messed up.

[2020-12-10 14:18] kaby76 commented on #14916
Somewhere along the way, someone moved the default location for dotnet.exe from `C:/program files/dotnet/dotnet.exe` to `c:/program files (x86)/dotnet/dotnet.exe` and didn't bother to nuke the older version. The uninstall scripts should have done this. Executing the newer version "works", but not sure yet. Looks like I have to nuke all SDKs, nuke VS2019, nuke it all manually (find / -name dotnet.e

[2020-12-10 14:52] kaby76 commented on #14916
I noticed there were two dotnet.exe's on my system, one in c:/program files/dotnet and the other in c:/program files (x86)/dotnet. That didn't seem kosher. Here's what I did to fix the problem:

* Uninstalled VS2019
* Uninstalled every "Microsoft NET * SDK" under Settings/Apps
* Manually removed every damn "dotnet" directory. 2.5GB junk was still left over from the uninstalls in c:/program files/d

[2020-12-10 16:51] pimboden commented on #14916
Thanks.
I have exactly the same problem.

[2020-12-10 18:31] ViktorHofer opened #20593 "Protect strong name key changes in ApiCompat / package validation"
For System.Composition* packages we accidentally changed the strong name key in 5.0 and just reverted that: https://github.com/dotnet/runtime/pull/45756. We should add validation to prevent such mistakes in the future.

[2020-12-10 19:12] MichaeIDietrich commented on #14847
Can someone catch up with this problem? Is the issue clear or do you need more info?

[2020-12-10 19:24] nkolev92 commented on #11803
No concrete asks on NuGet side that I am aware of. The idea needs plenty of work, since NuGet has to consider how this would affect packages, a concern that does not exist with ProjectReferences.

[2020-12-10 22:33] safern opened #14926 "Add support to disable downloading a runtime pack when RID is set"
Currently the SDK provides a hook to disable downloading the targeting pack: `EnableTargetingPackDownload`, however if a `RuntimeIdentifier` is set it attempts to download a runtime pack even if that property is set to false.

This has caused trouble in dotnet/runtime where we build a targeting/runtime pack (as a directory not nupkg) and then we override the `PackageDirectory` to point to the corr

[2020-12-10 22:36] jonathanpeppers commented on #14908
I changed `dotnet\sdk\6.0.100-alpha.1.20562.2\RuntimeIdentifierGraph.json` locally, and it fixed the problem.

Updated several lines such as:
[code]

I can send a PR based on what I see in https://github.com/dotnet/runtime/pull/45442; it looks straightforward.

Let me know if someone else beats me to it, thanks.

[2020-12-11 09:18] javkhaliduk commented on #14916
woke up this morning and found same issue i followed instructions provided by @kaby76 fixed this problem, Thanks for sharing this fix, however only thing i have noticed my antivirus was switched off for couple of days, thinking it could have caused this issue,

[2020-12-11 09:48] Olina-Zhang opened #14943 "The target framework for Winforms VB .Net Core app is displayed '.Net 5.0 ' when creating app with choosing '.Net 6.0 (Preview)'"
**Visual Studio Version**:
16.9.0 Preview 3.0 [30810.175.main]

**Steps to Reproduce**:
1. Check the preview feature "Show all .Net Core templates in the New project dialog(required restart)" in VS: Tools->Options->Environment->Preview Features, re-start VS
2. Launch VS, create a Winforms .Net Core VB application with choosing Target Framework: '.Net 6.0 (Preview)'
3. Go to app's Properties ->Appl

[2020-12-11 11:59] zhdwwf commented on #14916
same issue after upgrade to .net 5.0.1

[2020-12-11 12:40] kaby76 commented on #14916
Yes, it's likely that it was caused by Windows 10 Update "2020-12 .NET 5.0.1 Update for x64 Client" installed on 12/9/2020. It's likely that I installed a 32-bit version for some previous NET Core release over the years since I had two dotnet.exe, one in `c:/program files` and another in `c:/program files (x86)`, one worked, the other didn't. So, when I typed "dotnet.exe new console" from a shell,

[2020-12-11 14:06] vuplea opened #14931 "Common property logic (like Directory.Build.props, but more flexible)"
It would be nice to be able to be able to apply some properties automatically for our projects.

Directory.Build.props lets us define common properties, but without any access to project specifics, which would enable conditional properties.

Example of needs:
* The dotnet/sdk repo itself is able to do this, at least for [IsTestProject](https://github.com/dotnet/sdk/blob/master/Directory.Build.prop

[2020-12-11 14:34] vuplea commented on #14931
Thanks, @tmds. Forgot to mention the obvious `Directory.Build.targets`. We already use it, but for properties/items it is hit and miss:  we use it for `PackageReference`, `Compile` and `DefineConstants`, but for `OutputPath`and `AppendTargetFrameworkToOutputPath` it does not work. This is beacuse `Sdk.targets` and `Microsoft.Common.targets` derive properties evaluated before `Directory.Build.targe

[2020-12-11 17:13] #14641 closed

[2020-12-11 17:21] adegeo opened #14937 "VB.NET WinForms template vastly different from Visual Studio"
The `dotnet` template is missing the VB app framework and is also missing this critical project setting:

[code]

### File structure of each template

**dotnet template**

[code]

**Visual Studio template**

[code]

[2020-12-11 17:42] #14862 closed

[2020-12-11 18:39] mdrexel commented on #11803
Hi @dsplaisted and @nkolev92, could you explain what impact a feature like this would have on NuGet? I am admittedly unfamiliar with how package references work under-the-hood. My naive expectation was that a `DisableTransitivePackageReferences` feature would be cause package references to have default behavior similar to a "reversed" `PrivateAssets` property.

The documentation for `PrivateAssets

[2020-12-11 19:01] eddynaka opened #14941 "Build fails on missing generated files"
Hi,

I started to see this in one of my Azure Pipeline builds for the specific `.AssemblyAttributes` file but random projects:
[code]

I observed that this started to happen after net5.0 got installed by default in windows-latest machines.

environment: windows-latest azure pipeline
dotnet versions: 2.1.x, 3.1.x, 5.0.x (versions pre-installed).

cc: @jasonmalinowski

[2020-12-11 19:22] rainersigwald commented on #14941
@eddynaka Is it possible for you to share a [binlog](https://aka.ms/msbuild/binlog) for the failure? That looks like this line

https://github.com/dotnet/sdk/blob/c816dee8099dc14212a10f146e0a04250ce581bd/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.GenerateAssemblyInfo.targets#L21

is missing some information--but it doesn't make much sense for `$(MSBuildProjectName)` to be empty, sin

[2020-12-11 19:29] eddynaka commented on #14941
@rainersigwald , i will configure the binlog. The issue is that it does not happen always. So, will keep triggering the build.

[2020-12-11 19:49] Scottj1s opened #14942 "Reconsider implementation of _BlockWinMDsOnUnsupportedTFMs target"
With the removal of WinRT support from .NET 5, the .NET SDK added the target _BlockWinMDsOnUnsupportedTFMs to ensure that winmd references were no longer passed to the C# compiler when targeting .NET 5+.  At the time this target was implemented, it was too late in the product cycle to address this in the C# compiler itself.  Unfortunately, there are many scenarios where a winmd reference can sneak

[2020-12-11 19:51] Scottj1s commented on #14942
see also:
https://github.com/microsoft/CsWinRT/issues/628
https://github.com/dotnet/sdk/issues/14267

[2020-12-11 21:00] dsplaisted commented on #13331
Thanks for the feedback folks.  See my comment on the docs issue here: https://github.com/dotnet/docs/issues/21952#issuecomment-743406220

We try to avoid breaking changes, but we also try to have a balance between making improvements and avoiding impactful breaking changes.  We try to strike a balance though, as most any change we make has the potential to be a breaking change and we want to be a

[2020-12-11 21:11] jeffason opened #14946 "*.deps.json missing some project dependencies"
Hello.  I am working on a .NET5 library that has many dependencies on other .NET5 projects.  I am seeing an issue where the project's `.deps.json` file doesn't contain all of the project dependencies that exist in the .csproj.  I am using dotnet-sdk-5.0.100 on Windows 10 and this build environment:

![image](https://user-images.githubusercontent.com/3349419/101955267-1f9d5c00-3bc3-11eb-91a7-b6900d

[2020-12-11 22:18] nkolev92 commented on #11803
PrivateAssets = Transitivity flow, parents won't consume.
ExcludeAssets/IncludeAssets are what handles what gets consumed.

What's `use` in this case? Preventing compilation against those packages? Because if you don't get them copied in the output folder, you'd run into runtime problems.

[2020-12-11 22:54] mdrexel commented on #11803
That is the behavior that I encountered when using `PrivateAssets` - if Project A references Package X, and Project B references Project A, when Project B is compiled, Package X was not copied to the output directory. This then caused runtime errors.

When I say "use", I mean whatever controls which packages are allowed to be referenced by code in a given project (barring the use of reflection or

[2020-12-11 23:32] #14021 closed

[2020-12-11 23:32] #12825 closed

[2020-12-11 23:32] marcpopMSFT commented on #12825
Fixed the cases that compile for core only.

[2020-12-11 23:33] #14366 closed

[2020-12-11 23:35] marcpopMSFT commented on #14943
16.9 will only be shipping with 5.0 support. Do you have an SDK build from master that installed 6.0 templates in it?

[2020-12-11 23:42] marcpopMSFT commented on #14916
@joeloff Can you take a look? From responses, it looks like it could be Microsoft Update updating the x86 version resulting in conflicts with the x64.  There are also some mentions of not being able to uninstall the SDK either in this thread as well.

[2020-12-12 00:33] marcpopMSFT opened #14952 "Given the npukg and manifest from workload owner, a tool can convert to an msi"
- [x] For packs. It is side by side. Let willow/VS manifest and sdk manage the update instead of relying on MSI.
- [x] Finalizer for SDK [PR](https://github.com/dotnet/installer/pull/10356)
- [x] Arcade integration for VS insertions
- [x] SDK workloard -- VS component (a list of msis). The tool will also create swr file? – talk to Xamarin teams for their existing build system to make sure we can a

[2020-12-12 00:34] marcpopMSFT opened #14953 "When a workload is missing, trigger the product acquisition experience"
- [x] On windows, trigger the IPA experience
- [x] On mac, we could call the commandline with admin permission (mostly off load to other teams)

[2020-12-12 00:34] marcpopMSFT opened #14954 "For a non-admin (CI machine or local location), install an optional workload"
- [ ] Need detection on whether the install is going to be admin vs. Non-admin
- [ ] Read manifest to know the version and package id for missing workload
- [ ] Run a restore with required workload
- [ ] Read the asset.json for the restored workload files (half done by global tools)
- [ ] Know where to move it by convention or manifest.
- [ ] move it to the right place in transactional manner (don

[2020-12-12 00:35] marcpopMSFT opened #14955 "Uninstalling and updating an optional workload"

[2020-12-12 00:35] marcpopMSFT opened #14956 "Admin install for optional workloads"

[2020-12-12 00:35] marcpopMSFT opened #14957 "Optional Workload Acquisition"
This epic covers the work to be able to acquire an optional workload
- [ ] Given the npkg and manifest from the workload owner, convert to an MSI
- [ ] Acquisition of optional workloads in VSfM
- [ ] When a workload is missing, trigger the acquisition experience
- Acquisition of the workloads
  - [ ] Non-admin install of the workload
  - [ ] Uninstall and update for the workloads
  - [ ] Admin ins

[2020-12-12 00:51] marcpopMSFT opened #14958 "SDK users can find out if their SDK/runtimes have updates available"
- [ ] Dotnet command for checking for updates similar to the data in --info
- [ ] Parse releases.json to determine newest supported release in each feature band
- [ ] Design needed: How do we handle if newer feature band vs. minor version?

Spec: https://github.com/dotnet/sdk/issues/15021

[2020-12-12 00:51] marcpopMSFT opened #14959 "Users can more easily acquire the SDK and runtimes on CI machines and other non-admin installs"
Wrap SDK and runtime into nupkg
Instead of reading manifest, check by version compact of runtime vs SDK.
Everything else should be the same as workload

[2020-12-12 00:52] marcpopMSFT opened #14960 "SDK users can update their installed runtime and SDKs"

[2020-12-12 00:52] marcpopMSFT opened #14961 "Users can acquire the SDK and runtime from an alternate store"

[2020-12-12 00:52] marcpopMSFT opened #14962 "Improve acquisition for SDK and runtimes"
- [ ] Non-admin install improvements
- [ ] Update the runtime/SDK
- [ ] Acquire SDK and runtime from an alternate store
---
- [ ] Non-admin uninstall
- [ ] Admin and standalone minimal or clean installer

[2020-12-12 02:03] joeloff commented on #14916
If both runtimes are installed, MU will offer both updates. Both runtimes (x86 and x64) will update the system PATH environment variable and it's just a matter of the order of installation.

As for the uninstalls, the files being left behind is likely a result of having multiple installs, e.g. installing VS with a specific runtime and then install the same runtime using the standalone install. The

[2020-12-12 09:13] kaby76 commented on #14916
I used the normal uninstall programs (Visual Studio Update, Windows10 => Settings => Apps => Uninstall) for everything, and files were still on my system. Yes, I may have made a mistake in not uninstalling all NET*SDK and VS201* over many years, but I don't think so. Or, there actually may be a bug somewhere in the uninstalls. In any case, it does not matter. If I want to start afresh, I shouldn't

[2020-12-12 09:37] eddynaka commented on #14941
@rainersigwald, how do I enable for dotnet builds? I saw commands just for MSBuild and in the dotnet docs, I couldn't find anything related.

Thank you!

[2020-12-12 13:00] PathogenDavid commented on #14941
Add `-bl` to your command. IE: `dotnet build -bl` (`dotnet build` [just wraps MSBuild](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build#msbuild), it passes command line arguments it doesn't know about through to it directly.)

The log will be written to `msbuild.binlog` in the current working directory.

(Make sure none of your CI secrets end up in it. Binlogs end up with a listing

[2020-12-12 13:01] eddynaka commented on #14941
@PathogenDavid , thank you! will add and check!

[2020-12-12 13:17] eddynaka commented on #14941
Now, since the issue does not happen all the time, a binlog from a successful build would be useful?

[2020-12-12 14:27] Maniues opened #14966 "How to build SDK?"
Hello
How Can I build SDK in Linux?
./build.sh want to install pre-compiled wersion with dotnet-install

[2020-12-12 15:20] eviathan commented on #12559
Is there a reason that this is still a problem?

[2020-12-12 17:32] robertodalmonte commented on #12559
Hello eviathan,
if you're referring to the publish fail, then yes, to my knowledge it is still an issue.
If you're referring to the general issue of this topic, I was able to solve it, as I explained in the first of my 2 messages. I do not know if my case is a peculiar lucky case or if that is the solution to the issue...

[2020-12-13 10:44] liesauer opened #14967 "error : The operation is not allowed on non-connected sockets."
i am trying to build the corehost, but when restoreing packages, it keeps throwing error.
[code]

[2020-12-14 02:27] kinglionsz commented on #8742
Good!

Tks so much👍👏

[2020-12-14 03:24] yyjdelete opened #14969 "Invalid encoding for output with RestoreUseStaticGraphEvaluation=true and chcp 65501"
See invaild encoding from the output, and `For ***, the value of MSBuildStartupDirectory:***` looks like some debug info and shouldn't be shown without `--verbosity` be set.
Don't know whether it's related to https://github.com/dotnet/runtime/issues/43295

### Steps
1. Win+R, cmd, and change to any new folder
<del> It's really strange but I don't know why, that the default code page of powershell,

[2020-12-14 04:35] dsplaisted commented on #12559
@robertodalmonte Can you [share a binlog](https://aka.ms/binlog) of the failed publish operation?  Thanks.

[2020-12-14 07:12] dsplaisted commented on #14946
Hi @jeffason,

Is it possible for you to [share a binlog](https://aka.ms/binlog) of your project's build, as well as the deps.json it's generating?

What problem is the fact that all the dependencies aren't listed causing?  Does the app fail to run correctly, or are you trying to inspect the deps file yourself to find its dependencies, or what?

Thanks!

[2020-12-14 07:59] dsplaisted commented on #14941
A failing binlog would be better, but a successful one might help.

@rainersigwald Per the error message, the file it can't find is `.AssemblyAttributes`, not `.AssemblyInfo`.  So it's probably coming from here:

https://github.com/dotnet/msbuild/blob/5abf1ff7bc05ef47a7680f6a5ea87f3c6f32812c/src/Tasks/Microsoft.Common.CurrentVersion.targets#L3390

So it looks like the `TargetFrameworkMoniker` may

[2020-12-14 08:01] dsplaisted commented on #14937
@KathleenDollard @merriemcgaw Is this expected?

[2020-12-14 08:10] dsplaisted commented on #14931
You may be able to use the `BeforeTargetFrameworkInferenceTargets` property for this.  It is imported rather early in the .targets evaluation if it is set.  You can set the property in your Directory.Build.props file.

[2020-12-14 08:33] robertodalmonte commented on #12559
[binlog.zip](https://github.com/dotnet/sdk/files/5687465/binlog.zip)
Hopefully, this is what you're looking for...

This is from Visual Studio
14/12/2020 09:29:43
System.AggregateException: One or more errors occurred. ---> Microsoft.WebTools.Shared.Exceptions.WebToolsException: Build failed. Check the Output window for more details.
   --- End of inner exception stack trace ---
---> (Inner Except

[2020-12-14 08:51] eddynaka commented on #14941
Attached you can find a working binlog.
[msbuild.zip](https://github.com/dotnet/sdk/files/5687577/msbuild.zip)

For the `TargetFramework`, I'm sure that it is set everywhere.

[2020-12-14 09:01] dsplaisted commented on #12559
Does it fail if you publish from the command line, or just from within Visual Studio?

[2020-12-14 09:21] robertodalmonte commented on #12559
I use Visual Studio 2019 Community Edition, and it fails.
Just now I tried in Visual Studio Code, from terminal:
dotnet publish --configuration Release
and it worked nicely
![Screenshot (29)](https://user-images.githubusercontent.com/24954850/102063295-22cc5e00-3df6-11eb-8030-4d961703ff50.png)

[2020-12-14 10:26] andersjonsson commented on #9500
I agree with everyone that this is a weird and unexpected behavior.
Using ```dotnet update``` works and solves the problem but it's not an obvious thing. It sure isn't a "pit of success".

I just encountered this error on our CI-machine and had to google for a solution.

[2020-12-14 13:28] km-hussain-in commented on #8742
It works for me on Windows as well as Linux.

[2020-12-14 15:04] MarcoLuglio commented on #10902
@darkguy2008 property groups support conditions: <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'">
Still not a fix but better than having multiple files.
Reference is in: https://docs.microsoft.com/en-us/visualstudio/msbuild/propertygroup-element-msbuild?view=vs-2019
and https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-conditional-constructs?view=vs-2019

[2020-12-14 16:23] rainersigwald commented on #14941
🤦🏻‍♂️ I'm going to blame Friday Brain for that one.

@eddynaka The unusual path is caused by this line in `src\build.props`:

[code]

That's essentially a copy/paste of the line Daniel linked above but in MSBuild order matters--and here the properties `$(TargetFrameworkMoniker)` and `$(DefaultLanguageSourceExtension)` aren't defined until later in the import order (in Common.CurrentVersion.targets

[2020-12-14 16:28] eddynaka commented on #14941
@rainersigwald , that is used for the github sourcelink when we have a multitarget project. Adding the flag ` -maxcpucount:1 ` would work?

[2020-12-14 16:36] rainersigwald commented on #14941
Can you clarify please? Since this is a generated file it shouldn't have any sourcelink impact--there's no GitHub URL for the file.

Probably, but this will slow down your build to work around a bug in the build. I recommend fixing the bug instead.

[2020-12-14 16:39] eddynaka commented on #14941
@rainersigwald to generate a deterministic build we needed this. https://github.com/clairernovotny/DeterministicBuilds

[2020-12-14 16:45] rainersigwald commented on #14941
Ah, thanks! That's no longer needed, but if you want to continue to support building with older SDKs, you should move that line to a `.targets` file imported after common.targets--the linked doc recommends `Directory.Build.targets` and in the binlog you sent you don't have an existing late import so I'd go with that too.

[2020-12-14 16:48] eddynaka commented on #14941
@rainersigwald , what do you mean by "older SDKs"? Can you give me an example? So I can see if I need to move that to the targets or to remove that.

Thank you again!

[2020-12-14 16:49] #13491 closed

[2020-12-14 16:50] rainersigwald commented on #14941
@eddynaka That link calls out SDKs <= `3.1.300` (the relevant change was dotnet/msbuild#5101).

[2020-12-14 16:52] dsplaisted commented on #12559
@vijayrkn Could you look at @robertodalmonte's issue here with publish from VS?  It looks like it's not restoring for the right RuntimeIdentifier or something.

[2020-12-14 16:52] eddynaka commented on #14941
Ok. Got it. You can close this!
Thank you everyone! :)

[2020-12-14 16:55] #14941 closed

[2020-12-14 17:00] kevinoid commented on #10914
I'm experiencing the same issue with Nullable and coverlet.  I also wanted to note that the symptoms (and cause via `FileWrites`) are similar to item 3 in #1898.  Perhaps they can be addressed together?

P.S. Thanks @idg10!  It would have taken me ages to figure this all out without your detailed investigation.

[2020-12-14 17:31] sfoslund commented on #14860
@Eiygyveyron I'm going to close this issue as there isn't enough information to be actionable, but feel free to reopen it and provide more details, thanks!

[2020-12-14 17:31] #14860 closed

[2020-12-14 17:48] sfoslund commented on #14881
@wli3 do you know where we should direct this question?

[2020-12-14 17:49] sfoslund commented on #14880
@wli3 is this a known tools issue?

[2020-12-14 17:50] JohnyL opened #14974 ""dynamic" data type is recognized as "object" when using Excel COM"
I have the following simple code which defines last cell with non-empty data, defines its row and gets its value:
[code]
When I'm building the project using .NET 5 (5.0.101 or 5.0.200-preview.20601.7 SDK), I get the following two errors _in Output window_:

Here are problems:
1. When I'm using .NET Framework 4.8, the project is built fine without any errors and code executes perfectly. In .NET 5,

[2020-12-14 17:53] sfoslund commented on #14868
This issue was moved to dotnet/aspnetcore#28639

[2020-12-14 17:53] #14868 closed

[2020-12-14 18:01] sfoslund commented on #14886
I'm not able to repro the expected result with an older version of 3.1 (I tried 3.1.200), does this only repro specifically with 3.1.302? If not, can you provide more information on how to repro the expected result?

[2020-12-14 18:05] merriemcgaw commented on #14937
@KlausLoeffelmann can you check on this?

[2020-12-14 18:14] joeloff commented on #14916
@kaby76 If you want to force uninstall the underlying MSIs, you can do the following

- Search HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall for entries of the .NET Core MSIs you want to remove. If you installed both x86 and x64 you'll need to search the Wow6432Node for the 32-bit installers. Looking at the DisplayName value is probably the easiest way to identify them.
- For the MSIs,

[2020-12-14 18:54] jeffason commented on #14946
Attached the .binlog and .deps.json - [deps.json.issue.zip](https://github.com/dotnet/sdk/files/5690943/deps.json.issue.zip)

The .deps.json is used by https://github.com/AaronRobinsonMSFT/DNNE and I'm running into an error where my dependencies are failing to load.  I reviewed the contents of .deps.json myself and noticed some dependencies not listed (`BFDeferredSim` for example)

[2020-12-14 18:57] jeffason commented on #14946
Cross-linking issue I opened in the other repo - https://github.com/AaronRobinsonMSFT/DNNE/issues/56

[2020-12-14 19:08] mcetkovsky commented on #14886
@sfoslund I've just tried it in 3.1.200 and I do get the expected result.

This method of publishing web.config is in use (at least) since 10/2019 using several version of .NET Core 3.0 and 3.1. The last known deployment is from 07/2020, the first broken deployment was in 11/2020.

[2020-12-14 19:16] sfoslund commented on #14886
Can you provide a [binlog](https://github.com/dotnet/msbuild/blob/e3146f30df5afde0b3c21d45a759302648e2bec4/documentation/wiki/Binary-Log.md) of both situations?

[2020-12-14 19:19] mcetkovsky commented on #14886
Can you help me with building the right command please? I've checked the link but I still have no clue how to update or replace the `dotnet publish` command.

[2020-12-14 19:21] sfoslund commented on #14886
You can just add `/bl` to the end of the existing command

[2020-12-14 19:26] mcetkovsky commented on #14886
binlogs for 3.1.302 and 3.1.401 are in [Archive.zip](https://github.com/dotnet/sdk/files/5691111/Archive.zip)

[2020-12-14 19:43] marcpopMSFT opened #16998 "As a developer, I want my first time dotnet command to be faster"
From some analysis on a first run dotnet new command, there is ~2 seconds of configuring dotnet.  Nearly all of that time is in GenerateAspNetCoreDevelopmentCertificate so we should take a look at that particular code for any improvements we can make.

ConfigureDotNetForFirstTimeUse | 2,269.5 | EnvironmentPathFactory.CreateEnvironmentPath: 170.3 ms GenerateAspNetCoreDevelopmentCertificate: 1906.0

[2020-12-14 21:24] pdevito3 opened #14979 "`dotnet new` throws 401 unauthorized without version on package name"
Hey there,

I have a [dotnet template](https://github.com/pdevito3/foundation.api) that is [published to nuget](https://www.nuget.org/packages/Foundation.Api/), but it is only getting installed when running the install command with the version like so: `dotnet new --install Foundation.Api::0.3.0`. When I run the install command without the version `dotnet new --install Foundation.Api`, it gives me

[2020-12-14 21:43] nkolev92 commented on #11803
That would be expected in this case because newtonsoft.json is not visible at all to ProjectB.

Does `<PrivateAssets>compile</PrivateAssets>` do it?
Note that there are other defaults that are excluded for simplicity.

[2020-12-14 21:43] sfoslund commented on #14422
Closing this issue as I've looked into this logic a little bit more and I think we do need to keep the new task added in the original PR. Existing conflict resolution is performed on the `_ResolvedCopyLocalPublishAssets` itemgroup which needs to be kept because it's hooking into a target that is reused in store (which doesn't do any subsequent merging or conflict resolution) as well as publish, so

[2020-12-14 21:43] #14422 closed

[2020-12-14 22:07] AaronRobinsonMSFT commented on #14946
@dsplaisted Please let me know if this is something that DNNE is causing to happen. I wouldn't think it is doing anything during the `.deps.json` generation phase of the build but could be mistaken.

[2020-12-14 22:09] danmoseley opened #14980 "GenerateDepsFile should not dump stack when failing to access a file in the build"
Using 5.0.1/5.0.101 on Windows.

I accidentally built ConsoleApp9.csproj concurrently in two windows. It's not surprising it failed -- but as a small nit, I assume we generally only want to dump stack in the case of "bug in tool" rather than "user error".
[code]

I would have expected something like
[code]

[2020-12-14 22:20] mdrexel commented on #11803
`<PrivateAssets>compile</PrivateAssets>` seems to behave how I would expect something like `DisableTransitivePackageReferences` to; running `ProjectB` works, but trying to add `using Newtonsoft` from `ProjectB` raises a `CS0246` error. This gives me a few questions:
* Does `<PrivateAssets>compile</PrivateAssets>` have any impact on NuGet packages created by packing the `.csproj`?
* Looking at the

[2020-12-14 22:25] kalaskarsanket opened #14981 "Unable to use terminal after a command"
---
**Issue moved from microsoft/dotnet#1279**
- Please respond to @xcodz-dot.

---

_From @xcodz-dot on Sunday, December 13, 2020 12:46:28 PM_

Ubuntu 20.04 LTS
dotnet sdk 5.0

After typing this command in terminal:
`dotnet new console`

The terminal stops taking enter key presses so i have to open a new terminal after every command.

[2020-12-14 22:54] gonzaloluna opened #14982 "Null policyAuthorizationResult.AuthorizationFailure in custom IAuthorizationMiddlewareResultHandler"
Hi, I am trying to send custom forbid messages for different Authorization Policies in the our web api.

I followed the examples introduced in NET Core 5 for adding a custom IAuthorizationMiddlewareResultHandler.
The problem I'm facing is the object **policyAuthorizationResult.AuthorizationFailure is always null** so I can't tell which policy failed. The first if in the following code (my customAu

[2020-12-15 02:40] km-hussain-in commented on #8742
I have updated the scripts to work from any directory provided dotnet command is in the path

[2020-12-15 04:18] xcodz-dot commented on #14981
any idea how to fix it, i am not a dotnet developer so i do not know much about it but i got it fresh installed on a fresh installation of ubuntu

[2020-12-15 05:39] Olina-Zhang commented on #14943
Yes, installed .Net 6.0 SDK build from master branch. In addition, this issue cannot repro Winforms .Net Core C# application.

[2020-12-15 06:33] chucklu opened #14985 "Why the nuget required dependency, actually not required by the nuget library?"
Today when I checked the dependency problem, I found I have multi versions of System.Security.Principal.Windows installed across multi projects in same solution.
And when I tried to [figure out the dependent](https://github.com/chucklu/DependentChecker)  of  System.Security.Principal.Windows, I got nothing.
There is no library required System.Security.Principal.Windows.

When I try to uninstall Sy

[2020-12-15 06:35] chucklu commented on #14985
@joperezr  Still looks like the release policy problem, could you analysis this?

[2020-12-15 06:53] chucklu commented on #14985
The same problem for https://www.nuget.org/packages/System.Security.AccessControl/5.0.0

Check the references of packages\System.Security.AccessControl.5.0.0\lib\net461\System.Security.AccessControl.dll, and it did not reference System.Security.Principal.Windows. However the documentation is as following:

[2020-12-15 07:01] chucklu commented on #14985
The following two library dependencies  also not required.
packages\System.Security.Permissions.5.0.0\lib\net461\System.Security.Permissions.dll https://www.nuget.org/packages/System.Security.Permissions/5.0.0
System.Security.Permissions .net version also not require System.Security.AccessControl

https://www.nuget.org/packages/System.Configuration.ConfigurationManager/5.0.0
packages\System.Config

[2020-12-15 07:19] Banyc opened #15339 "Support Running Top-level Programs without csproj File"
# Support Running Top-level Programs without csproj File

# General

Top-level Programs: <https://devblogs.microsoft.com/dotnet/announcing-net-5-0/#top-level-programs>.

However, when trying `dotnet ./code.cs`, it does not work. It is inappropriate to require a csproj to a top-level program.

Take python as example: `python ./code.py`.

[2020-12-15 16:21] omajid opened #14992 "Unable to build sdk master"
I am trying to build the `master` branch of the SDK locally using `./build.sh`  and it doesn't work:

[code]

I am using Fedora 33:

[code]

Is this a known issue?

[2020-12-15 16:25] omajid commented on #14960
How you do you plan to handle the case where the runtime or SDK was installed through a package manager ? Do you plan to query the package manager directly too? What happens when the package manager is lagging and doesn't have the updates?

[2020-12-15 18:37] sfoslund commented on #11959
Fixed in .NET 6 with https://github.com/dotnet/sdk/pull/14020

[2020-12-15 18:37] #11959 closed

[2020-12-15 18:37] sfoslund commented on #3904
Fixed in .NET 6 with #14020

[2020-12-15 18:37] #3904 closed

[2020-12-15 19:14] wli3 commented on #14901
When build on Linux, SDK does not have access to all Windows APIs needed to set PE bites

[2020-12-15 19:18] wli3 commented on #14891
This issue was moved to microsoft/vstest#2677

[2020-12-15 19:18] #14891 closed

[2020-12-15 19:20] wli3 commented on #14906
This issue was moved to NuGet/Home#10381

[2020-12-15 19:20] #14906 closed

[2020-12-15 19:27] wli3 commented on #14908
The issue is tracking here https://github.com/xamarin/xamarin-android/pull/5386

[2020-12-15 19:27] #14908 closed

[2020-12-15 19:28] mohsenrezaeis opened #14994 "Publish failed due to Unable to copy file"
### Describe the bug
i'm trying to publish a webjob to Azure but I get some errors like the following. looks like it's because in the path after 'Out' it adds two backslashes instead of one (PubTmp\Out\\\app_data).

[code]

### Further technical details
I'm using ASP.Net Core 3.1 and visual studio 2019

[2020-12-15 21:16] mkvonarx commented on #14503
This looks to be intentional. See https://docs.microsoft.com/en-us/dotnet/core/compatibility/windows-forms/5.0/automatically-infer-winexe-output-type

To revert to the old behavior, you can set this property in the .csproj file:
[code]

[2020-12-16 01:33] nkolev92 commented on #11803
Yes it does. The reference to the package will exist, but will be listed with exclude assets compile.

Every dependency of A would need to attach the metadata. What assets are included from a package is impacted

You can use MSBuild item Update to achieve this. I understand that it's not exactly the most discoverable behavior though.

Given that Private/Include/Exclude assets provides a lot of cus

[2020-12-16 06:48] #14969 closed

[2020-12-16 09:26] John-Qiao opened #15001 "Cannot build and run a .NET 3.1 project on client which only have .NET 5.0 SDK installed"
* .NET Core Version:
.NET 5.0.102-servicing.20614.17

**More Info:**

1. This is a regression issue in .NET 5.0.102 SDK, it does not occur in the previous .NET 5.0.100-101-servicing.20580.24 SDK.
2. And this issue does not occur in the latest .NET 5.0.200 SDK which download from https://github.com/dotnet/installer site.

**Problem description:**

When execute the 'dotnet build' and the 'dotnet run

[2020-12-16 16:21] mdrexel commented on #11803
What does this mean from the perspective of consumers of the package? That they themselves will not have transitive access to the dependencies of the package? That would be a disadvantage; my goal isn't to change the behavior for external package consumers, but rather only for internal developers.

I think the most significant argument would be that this was a change in behavior when migrating fro

[2020-12-16 20:37] sfoslund commented on #14958
Depends on https://github.com/dotnet/runtime/issues/46128

[2020-12-16 21:06] joeloff commented on #14853
FYI @vijayrkn

[2020-12-16 21:31] marcpopMSFT commented on #14956
@joeloff We had a review of this with the project system team.  One item to investigate are around how In-product Acquisition will work with this.  Presumably we return a list of individual component IDs and project system will trigger IPA for that but we need to confirm that VS setup supports that as that's different than how project system triggers IPA today (today they do it on project load for

[2020-12-16 21:45] joeloff commented on #14867
I wonder if this is a memory issue, rather than disk space. Is it possible to run something like ```free -m```?

[2020-12-16 21:48] rohanp-msft opened #15007 "The PRIResource build action is needed by the .NET 5 project system, despite EnableDefaultItems being true by default, for resources to be added to the PRI on build."
**Visual Studio Version**: VS 2019 Preview (Version 16.9.0 Preview 1.0)

**Summary**:
Despite `EnableDefaultItems` being true by default in the .NET 5 project system, the .csproj file of a WinUI3 Preview 3 project requires the `PRIResource` build action for resources to be added to the PRI file on build.

**Steps to Reproduce**:

1. Install WinUI3 Preview 3 per the instructions here: https://docs.

[2020-12-16 21:48] nkolev92 commented on #11803
They wouldn't be able to compile against it, but it will be part of their runtime.

Update should be supported in VS2017 for legacy projects as well.
I am not the expert there though, so I'll defer to @rainersigwald and @dsplaisted
In docs `.NET Core` is often used a distinguisher for sdk based projects.

[2020-12-16 21:53] joeloff commented on #14956
Yup, IPA in CodeSpaces might be tricky. The idea with CodeSpaces generally is that everything you need is already installed. I'll need to check with VS folks how they handle optional workloads, because it will likely need to perform a machine wide install to modify VS setup.

The idea I originally had was to add the classifiers to the workloads for .NET Core. It's possible to express something lik

[2020-12-16 21:58] rainersigwald commented on #11803
`Update` is supported in all projects that use the `dotnet/project-system` managed project system, so your new SDK projects that target net48 will be fine. It also mostly works even in fully legacy projects, but some project changes might cause VS to mangle the project file if it's used (because the older project system isn't aware of Update it sometimes issues a sequence of MSBuild project-manipu

[2020-12-16 22:12] marcpopMSFT commented on #14926
@safern I assume just disabling the download isn't enough as work would need to be done to pick up the runtime from the local build. We can put it in our backlog for 6.0 but don't know when we'll get to it but if ya'll want to contribute a PR, we'd be happy to take alook.

[2020-12-16 22:13] ViktorHofer commented on #14926
Right, in addition to downloading, we hook up the local runtime pack. I'm willing to send a PR, the change should be trivial.

[2020-12-16 22:19] wasabii commented on #14809
I second this. Same issue. Building a .NET Core library that includes some native files (from a VCXPROJ). Works fine when I add it to the produced NuGet package: consumers generate .deps.json files referencing the libraries. However, doesn't work in a Console app within the same solution using ProjectReference, nor in a Unit Test. Though, it should. The only issue is that hte generate .deps.json f

[2020-12-16 22:19] dsplaisted commented on #14162
Hi @heartacker,

Could you [share a binlog](https://aka.ms/binlog) of the failing publish?

[2020-12-16 22:21] wasabii commented on #14809
Digging into it, DependencyContextBuilder just seems to consider NuGet origins. Would need to fix that, as well as the associated GenerateDeps MSBuild task. And then the MSBuild targets to consider these items.

[2020-12-16 22:38] #11164 closed

[2020-12-16 22:45] marcpopMSFT commented on #867
https://github.com/dotnet/msbuild/pull/5238

[2020-12-16 23:05] KlausLoeffelmann commented on #14937
I just tested it. It's working fine for me. Please note, that we don't support the Application Framework for .NET Core 3.1 Apps, since the required infrastructure is only present from .NET 5.0 on. So, if creating a new VB 3.1 VB App, it pretty much looks structured like C#. That is by design.

On top of that, at the command line, we can also have C# structured VB apps in .NET 5. The application fr

[2020-12-16 23:05] #14937 closed

[2020-12-16 23:09] joeloff commented on #14852
You can look at https://docs.microsoft.com/en-us/dotnet/framework/deployment/deployment-guide-for-developers for options on deploying your .NET Framework app.

Also take a look at https://docs.microsoft.com/en-us/visualstudio/deployment/building-clickonce-applications-from-the-command-line?view=vs-2019

For .NET Framework, you can try the following: ```msbuild <myproject.csproj> /T:Publish```

Ref

[2020-12-16 23:30] jaredpar commented on #867
@marcpopMSFT is there any work to do after that MSBuild change was merged?

[2020-12-16 23:34] dsplaisted commented on #867
We'll have to look into it, but I think that the SDK copied some of MSBuilds output path calculation logic, because it needed the paths to be calculated earlier in the evaluation or something.

[2020-12-16 23:50] sfoslund commented on #11667
We have a similar feature planned for .NET 6 being tracked here: https://github.com/dotnet/sdk/issues/14958

[2020-12-16 23:50] #11667 closed

[2020-12-17 01:37] danmosemsft commented on #15001
@dsplaisted not sure whether this should be here, or the host?

[2020-12-17 02:04] dsplaisted commented on #15001
The final 5.0.102 .NET SDK should be released at the same time as .NET Core 3.1.11.  So once they both release, this should work.

[2020-12-17 02:04] #15001 closed

[2020-12-17 04:29] joperezr commented on #14985
Interesting it does seem like there are some dependencies that might not be required. I have only checked the EventLog package and as you pointed out, it is true that there shouldn't be a dependency onto System.Security.Principal.Windows package. I'll do a deeper investigation into why this is happening.

[2020-12-17 04:37] Fancyflame commented on #14867
@joeloff
free -m
[code]

I'm sorry for be poor in English that I can't recognize what the above means, could you please explain it? 😂

[2020-12-17 07:39] joeloff commented on #14867
No, it shouldn't require that much memory. ```-m``` reports available memory in MB, so it looks like you have ~1.6GB available.

As for my other comment, I was just thinking there might be a way to monitor the processes while dotnet is running and trying to create the template.

Just running ```dotnet new``` should print a list of all the available templates. Does the same error occur if you try s

[2020-12-17 08:14] DavidKarlas opened #15013 ""dotnet add package Micr" tab completion doesn't work in .NET 6"
As I'm trying to get better understanding of how tab completion is working, I noticed that in master build of sdk "dotnet add package Micr" tab completion doesn't work anymore.
Method [QueryNuGet](https://github.com/dotnet/sdk/blob/5e440989fcadb67a4f91dc4da993c85c927e4be5/src/Cli/dotnet/commands/dotnet-add/dotnet-add-package/AddPackageParser.cs#L71) is not called anymore.

[2020-12-17 08:18] DavidKarlas commented on #15013
/cc: @sfoslund looks like this change happened in https://github.com/dotnet/sdk/pull/14379

[2020-12-17 11:02] kirsan31 commented on #14502
[code]

removes only `CA1416: xxx is supported on 'windows'` messages. And what to do with dozens of
`CA1416 xxx is supported on 'Windows' 7.0 and later` from all user controls that target `net5.0-windows`?

[2020-12-17 11:10] mareklinka commented on #14502
@kirsan31 The parameter in `SupportedOSPlatform` can contain OS versions as well, just like the .NET 5 TFMs: https://github.com/dotnet/designs/blob/main/accepted/2020/net5/net5.md. Therefore you should be able to do
[code]

Disclaimer: I have not tested this behavior so your mileage may vary.

[2020-12-17 11:40] kirsan31 commented on #14502
Thank you, I've already tried and this is not helped :(
I was trying:
`windows7.0`
`windows7`
`windows6.1`

Also I am not understand why `windows7.0` and not `windows6.1`? What about windows server 2012R2 (6.3)???

Overall if I build user control with `net5.0-windows` and it's automatically mark it with `'Windows' 7.0 and later` then when I build an app with `net5.0-windows` (using this control) t

[2020-12-17 13:01] CumpsD commented on #14281
I would love to have this back too. We pass in the desired architecture in our CI pipeline and build scripts because we have both windows and Linux machines.

[2020-12-17 13:47] chucker commented on #14540
I want to conditionally implement `IAsyncDisposable` when available. Am I correct to assume that this is the right way of going about it?

[code]

My thinking on this is that .NET Core 3.0 and 3.1 and .NET 5 didn't actually ship with this change, so people may have an SDK that doesn't support it.

[2020-12-17 15:32] Fancyflame commented on #14867
@joeloff
I created a new directory and run `dotnet new console ` in it the error still occurred.
Besides, my current SDK is .NET Core 3.1. I tried install .NET 5 and run it, which is even worse. It only print `Segmentation fault` and exit. Afterward as a regular user (I used to operate as root user), I ran .NET 5 in the same way , it magically no longer print `Segmentation fault` but still print t

[2020-12-17 16:03] mdrexel commented on #11803
This means that if a project defines `<PrivateAssets>compile</PrivateAssets>`, and the project is packed/published, consumers of the package can no longer transitively reference the dependencies of the project in their own code at compile time? Ideally, a mechanism to disable transitive package references would apply only during my local development, and not impact consumers of the package - just

[2020-12-17 16:14] mcetkovsky commented on #14853
Might be related to https://github.com/dotnet/sdk/issues/14886

[2020-12-17 16:27] pdevito3 commented on #14979
So for some reason it's hitting my company's azure devops site, so it's just a local issue for me. guessing it's a local variable or something but no biggie if it isn't a global thing.

[2020-12-17 16:27] #14979 closed

[2020-12-17 16:59] vuplea commented on #14931
Thanks again, @dsplaisted! We will use the mentioned hook in Directory.Build.props (like in the [runtime](https://github.com/dotnet/runtime/blob/75c0b990ce249d6c37adfa4037ef3ba5b280085c/src/libraries/Directory.Build.props#L14) project).

It is really useful yet slightly obscure 🌝

[2020-12-17 18:29] #14931 closed

[2020-12-17 20:06] mcetkovsky commented on #14886
The issue triggers only if the following line is present:
[code]

If I move web.config into the project root and remove the line, the web.config is as Expected even on newer .NET Core SDKs.

[2020-12-17 20:07] dsplaisted commented on #14946
@jeffason Can you generate a binlog from the command line and share it?  The one you shared doesn't include the project file contents or any MSBuild items (probably because it was collected from within VS, and that extension has limitations), so it's not very helpful.

[2020-12-17 20:11] sfoslund opened #15021 "Up to date check proposal"
# CLI Up To Date Check

## Goals

This document outlines a new .NET CLI command for checking that a user's toolset is up to date. This command will notify users if any updated versions of the SDK, runtime, or workloads exist and are avaliable for installation.

In future releases we may consider expanding this feature to gather updated release information in the background and notify users of upda

[2020-12-17 20:38] jeffason commented on #14946
[@dsplaisted yessir. see attached. weird that building from commandline yielded different results and less entries in the `.deps.json`
[GameSimDepsandBinlog.zip](https://github.com/dotnet/sdk/files/5712014/GameSimDepsandBinlog.zip)

[2020-12-17 20:46] rseanhall commented on #15021
I think that these two paragraphs conflict with each other:

I think dotnet hosts (and `dotnet --info`) could be smarter without losing performance, for example if the framework is `Microsoft.NETCore.App` then it could verify that the `Microsoft.NETCore.App.deps.json` file exists instead of checking that the directory exists.

[2020-12-17 21:49] marcpopMSFT commented on #14956
I added a couple of checkboxes above to track these two issues.  For the second in particular, the project system team is very interested to know what work they may or may not have as for them, the existing way they trigger IPA is based on project type and so won't work for optional workloads as is.

[2020-12-17 22:01] nkolev92 commented on #11803
The idea is that the package resembles *exactly* how it was built.
An end customer is free to add a direct package reference to that project. When they do that, the assets brought in from said package will be the superset.

There's not always a 1-1 mapping for every feature possible in the 2 worlds. Some trade-offs had to be made in order to enable certain scenarios. Pack picking up the defaults u

[2020-12-17 22:30] joeloff commented on #14867
@stephentoub I was poking around in the runtime repo and noticed you made a number of commits around the mutex code and wondered whether you might have any insights here. When CreateMutexCore is called, are there any operations that can result in the IOException mentioned in this issue where it claims to be out of storage?

Based on the explicit exceptions it can throw, my guess is the exception i

[2020-12-17 23:08] dsplaisted commented on #14946
@jeffason How are SimulationExports.dll and SimulationCore.dll copied to the output folder?  I don't see any reference to them at all in the GameSim binlog.  That explains why they aren't in the deps file- they aren't referenced at all.

[2020-12-17 23:09] mdrexel commented on #11803
@nkolev92, using my previous example projects `ProjectA` and `ProjectB`, and your example usages of `update`, I was able to set the default behavior by creating a `Directory.Build.targets` containing:
[code]

This causes attempts to use `Newtonsoft` from `ProjectB` to fail (as desired), and running `ProjectB` still works (the Newtonsoft assembly is copied to the output directory.

However, I'm sti

[2020-12-18 11:19] #14601 closed

[2020-12-18 15:29] mores opened #15034 "CLI compile error messages are not visible with xterm black background"
I am running $ dotnet --version
5.0.101
on Ubuntu 18.04.5 LTS

My xterm is configured with white font on black background.

$ dotnet run --project sample1
works as expected:
![image](https://user-images.githubusercontent.com/1318377/102631149-64714780-411b-11eb-817d-272d7941a48e.png)
But introduce any syntax error in sample1/Program.cs and the compile error is printed in black text on black backgr

[2020-12-18 15:36] jeffason commented on #14946
@dsplaisted sorry for the confusion, I didn't have the exact assembly names correct in my original post.  The example assembly names in the OP should have been GameSim.dll and BFCore.dll.  Here's a screenshot showing GameSim's project dependencies which I would expect to be reflected in the `.deps.json`

[2020-12-18 15:41] ekgurney14 commented on #14502
I was able to get this to go away by moving all my [assembly:] to csroj using <AssemblyAttribute>.  Unfortunately the parameters for those need to be strings (out of the box anyway: https://github.com/dotnet/msbuild/issues/2281#issuecomment-748082402).
For right now I deleted the [assembly: ComVisible] attributes from my project that VS put there by default.  It would be really nice if this issue

[2020-12-18 16:27] mores commented on #15034
I am also seeing similar issue when using Serilog:
![image](https://user-images.githubusercontent.com/1318377/102637337-d6e62580-4123-11eb-8794-ff3fd8fa4bb4.png)

![image](https://user-images.githubusercontent.com/1318377/102637377-e6fe0500-4123-11eb-9748-c395d42a2462.png)

[2020-12-18 16:48] mrlife commented on #11555
@marcpopMSFT I don't mind submitting a PR to fix this, but I can't find the file in the repo. If I can do anything to help fix this, please let me know.

[2020-12-18 17:51] Scottj1s commented on #14267
Repro project, for reference:
https://github.com/Scottj1s/NETSDK1130

[2020-12-18 17:55] cristianosuzuki77 opened #15174 "[Loc] Translation assistance"
String Resource ID | 0; "CurrentRuntimeOptionDescription"
-- | --
Source String | Use current runtime as the target runtime.
Filename | Cli\dotnet\commands\dotnet-store\xlf\LocalizableStrings.xlf
Question | what does the placeholder of {1} refer to?

[2020-12-18 19:13] blake-mealey opened #15038 "Add Microsoft.Extensions.Hosting and Microsoft.Extensions.Hosting.Abstractions to the Microsoft.NET.Sdk.Worker SDK"
Hi, I was recently building a worker project and took advantage of the `Microsoft.NET.Sdk.Worker` SDK. It was great, except I found it odd that I had to separately install the `Microsoft.Extensions.Hosting` and `Microsoft.Extensions.Hosting.Abstractions` packages since they are pretty core to using the hosted service system and everything else I needed was included out of the box.

Thanks for the

[2020-12-18 19:23] dsplaisted commented on #14946
@jeffason Can you also attach the NuGet assets file (in `obj\project.assets.json`) for the GameSim project?

[2020-12-18 20:00] #13519 closed

[2020-12-18 20:51] jeffason commented on #14946
@dsplaisted yessir -
[project.assets.json.zip](https://github.com/dotnet/sdk/files/5718000/project.assets.json.zip)

[2020-12-18 20:57] dsplaisted commented on #14946
@jeffason That looks like the project.assets.json from the BFCore project.  I'm looking for the GameSim one.

[2020-12-18 21:01] jeffason commented on #14946
@dsplaisted  - hmm... grabbed that one form the GameSim/obj dir but I found this other file - let me know if it contains the info you are looking for -
[GameSim.csproj.nuget.dgspec.json.zip](https://github.com/dotnet/sdk/files/5718035/GameSim.csproj.nuget.dgspec.json.zip)

[2020-12-18 21:27] dsplaisted commented on #14946
I see.  The problem is that you have multiple project files in the same directory.  That is not currently supported.  The assets files collide with each other.

@nkolev92 @zkat Is this documented anywhere, or is there an issue tracking fixing it (I remember discussions about having the assets file include the project name).

[2020-12-18 23:58] wli3 commented on #14954
@dsplaisted @KathleenDollard I added a line "A command to detect if a workload is installed already (required by VSMac installer)". VS for mac installer need to check if a component exists. Something like _dotnet workload exist android_. And note, the return need to be machine readable.
![image](https://user-images.githubusercontent.com/6993335/102674092-913c5380-4149-11eb-8682-399d7115b3ea.png)

[2020-12-19 00:15] nkolev92 commented on #14946
Yep, https://github.com/NuGet/Home/issues/4463.

I think it's technically possible right now, there's just some potential gotchas that need analyzed.

[2020-12-19 02:20] EatonZ commented on #3707
No change in .NET 5 and VS 16.8. Would love to hear if any consideration is being given to this.

[2020-12-19 11:28] shps951023 opened #15044 "Why .NET Core Source Code need a lot of “#if !CORECLR static #endif” on method?"
E.g: Github [dotnet/runtime/String.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/String.cs) source code
[code]

![](https://i.imgur.com/iunWvQZ.png)
![](https://i.stack.imgur.com/iVTBb.png)

It seems to work pretty well without adding this, and the maintenance cost will become higher.
Is it for performance reasons?

[2020-12-19 11:30] #15044 closed

[2020-12-19 18:33] pdevito3 opened #15047 "Adding a directory to a project using CLI Commands"
So I am creating a new solution a list of projects using just CLI commands and am running into some roadblocks. Particularly, I am able to create an empty solution and a project inside of it, but when I add a directory to the project folder `Directory.CreateDirectory($"{domainDirectory}{separator}Entities");` I am not able to add it to the project.

I'd like to submit a feature request for a new `

[2020-12-19 21:48] goko1 commented on #12559
Updating Visual Studio from Visual Studio Installer solve my similar error.

[2020-12-19 23:13] clairernovotny commented on #14942
WebView2 is breaking for me on RSS Bandit on 16.8 / 5.0.100 but working with 16.9 / 5.0.200-preview locally.

I'm using the latest WebView2 nuget package in a WinForms app.... I think the error is wrong since it does work locally. It seems to be incorrectly detecting something here.

[2020-12-20 05:17] ppittle commented on #14169
@sandreenko will this work on libraries?  I've seen `<PublishReadyToRun>true</PublishReadyToRun>` modify the binary for an executable, but when I tried it on  class library I couldn't see any changes to my built dll.

Did anything change with .net 5?

[2020-12-20 12:41] dasMulli commented on #14169
Class libraries shouldn't be crossgen'd as the very concept of cross-gening is specific to a runtime (..version) and target runtime identifier (e.g. win-x86 vs linux-arm64) so `PublishReadyToRun` is only supported when publishing an executable project for a specific runtime identifier.

[2020-12-21 08:59] Servellia commented on #9500
I've written a small bash script, to check if something is installed. You can easily inline this in your azure-pipelines or whereever you need it:

[code]

Simply amend the grep-pattern to your needs.

[2020-12-21 08:59] geirs73 opened #15051 "dotnet publish fails for web project when web.config is read-only"
Publishing a web project fails when a web.config exists and is readonly, when running Windows. This causes problems, because I sometimes use Perforce as a code repository, and Perforce works best if I let it keep its unchanged files in read-only state.

Steps to reproduce:

[code]
Dotnet info:
[code]

However, also reproduced with 5.0.100 earlier.

I have made a Windows-only workaround that I past

[2020-12-21 10:40] danreg commented on #13431
Just want to share that after .Net5 migration everything works again.

[2020-12-21 10:41] netsharpdev opened #15223 "Dotnet - cannot install any global tools"
# Dotnet - cannot install any global tools

I cannot install any of the dotnet tool packages. Always getting issue with CredentialProvider.

# General

I am trying to run command:
[code]
But always getting the same issue.

[code]

This is my dotnet --info

[code]

[2020-12-21 11:49] Vandersteen commented on #14109
*Bump*

[2020-12-21 15:19] jeffason commented on #14946
@dsplaisted @nkolev92 thanks for the link.  The workaround mentioned in NuGet/Home#4463 of supplying the `Directory.Build.Props` seems to have resolved the missing dependencies in my `GameSim.deps.json` file so I believe this issue can be closed

[2020-12-21 15:39] pranavkm opened #28985 "Razor Source generator: Determine if we need to keep tests that verify cshtml incrementality"
One of the possible results with the ongoing Razor source generator work is to combine the views with the app's assembly rather than emitting it as a separate binary. We have quite a few integration tests that verify MSBuild incrementalism of whether generated files are re-gened or views are rebuilt.

Depending on the outcome of this decision, we may not need to keep these tests around. Filing an

[2020-12-21 16:42] trympet opened #15055 "Unable to read Tasks or Parallel Stacks with net5.0-windows* TFM"
**Description:**
I am unable to see Parallel Stacks or Task information in Visual Studio when targetting a windows-specific TFM.

The Tasks pane is blank, while the Parallel Stacks pane shows the following error: `Viewing Task information for .NET Core 2.1/2.2 is not supported for live processes. You can either re-target a newer version of the runtime, or save a minidump and view task information

[2020-12-21 17:01] duanenewman commented on #1791
@brinkie2004

if you use the `GeneratePathProperty` attribute on the package reference and use the generated variable `PkgPackage_Name` in your hint path the version # is not an issue. My blog post (referenced above) talks about it: https://duanenewman.net/blog/post/a-better-way-to-override-references-with-packagereference/

[2020-12-21 17:54] dsplaisted commented on #3707
I don't think we have any real plans to fix this.  From the command line, the target would probably be called only once if you ran `dotnet publish`.  If it's getting run twice, then investigating a binary log should help reveal the reason why.  From VS, I'm not sure there's any way to stop it from calling the build targets twice.

FYI @vijayrkn @richlander @KathleenDollard

[2020-12-21 19:57] dsplaisted commented on #14946
I'm glad we were able to figure this out.

[2020-12-21 19:57] #14946 closed

[2020-12-22 01:35] ppittle commented on #14169
@dasMulli thanks for the clarification, I understand the vast majority of cases it wouldn't be necessary to AOT a library; any executable consumer of said library would AOT towards a specific runtime.  And trying to pre-jit a class library means you couldn't perform optimizations like tree-shaking.

However, I was looking at a plugin based design where class libraries would be discovered at run-ti

[2020-12-22 06:18] DavidKarlas opened #15061 ".NET 6 tab completion doesn't work when chaining commands with &&"
Type `cd .. && dotnet msbui` and press tab.

Expected behavior:
`cd .. && dotnet msbuild`
Actual behavior:
`cd .. && dotnet --diagnostics`

Notice that this works as expected in .NET 5 SDK.

[2020-12-22 06:20] DavidKarlas commented on #15061
/cc: @sfoslund looks like this change happened in #14379

Sorry I keep giving you all this bugs :P

[2020-12-22 07:14] eriawan commented on #14716
@odhanson

Try this: use FrameworkReference to add references to .NET Windows Desktop SDK for TFM of .NET Framework 4.7.2.

For example (using your csproj and I updated a bit):

[code]
Note the addition of `FrameworkReference` inside ItemGroup with conditional targetframework. This is to ensure that the additional FrameworkReference is added for target framework of .NET Framework 4.7.2  (the condi

[2020-12-22 09:23] eriawan commented on #1227
@nguerrera
Any update on this issue?

I still experience this on targeting netcoreapp2.1 based on the scenario on the first thread.

[2020-12-22 14:50] Ryanman commented on #12559
Moving from 16.7.7 to 16.8.3 solved this error for me.

[2020-12-22 16:17] nguerrera commented on #1227
I haven't worked on this project for a long time, so I'm not aware of any updates. Adding @marcpopMSFT @dsplaisted

[2020-12-22 19:43] muratsesen commented on #1912
This saved a lot of my time. Thanks.

[2020-12-22 20:13] mangod9 commented on #14169
R2R should work on libraries, for context all the .net libraries are crossgened themselves. Note that if R2R code is determined to be invalid for the platform, then the runtime should fall back to JITing. In .net 6 with crossgen2 we will also support a composite mode where apps can we published with all app+library code included in a single composite image.

[2020-12-23 10:31] lukos opened #15071 "Project Build Issues after upgrading to Dotnet 5"
Since upgrading our build servers to dotnet 5, the behaviour of our builds has changed and is now broken. I keep trying different tricks and workarounds but they sometimes seem to work and sometimes don't. I am wasting so much of my time.

### Scenario
We have a solution that contains a mixture of netstandard and netfx 4.7.2 projects. We have individual builds on our build server for projects with

[2020-12-23 14:16] alex6dj opened #15075 "Console app args incorrect parsing"
Im creating a console app in net 5.0. It just recursively copy a directory to another.

I just pass three args with each directory in this way.

Mainapp.exe "source" "target" "deleteTarget(boolean)"

The problem is when the source directory path ends with \"
Instead of 3 arguments I get 2. The second containing all the others.

A solution is to drop the slash at the end off the source path or use

[2020-12-23 14:24] lGSMl commented on #14281
so how can we build solution now for particular RID now? If I do not specify RID - it builds for default RID, and then publishing for specific RID fails. All I can do now is to build each single project one by one with RID specified - which sucks tbh

[2020-12-23 17:04] MrAusnadian commented on #14281
It’s especially bad for complex solutions where individual projects depend
on other projects, because these dependencies are defined in the solution
so you need to manually configure the build to ensure each project is built
in order

-Will

On Wed, Dec 23, 2020 at 6:24 AM Dennis <notifications@github.com> wrote:

[2020-12-23 19:18] sdmaclea opened #15079 "Update master templates to reference net6.0"
Testing dotnet-sdk-6.0.100-alpha.1.20623.4-osx-arm64.tar.gz

I noticed the templates are still referencing `net5.0`

[code]

[2020-12-23 23:51] lxman commented on #14403
Thank you @vijayrkn, this seems to be the best solution that I've seen so far. Still not ideal, but I'll close this for now.

[2020-12-23 23:51] #14403 closed

[2020-12-24 01:37] dsplaisted commented on #1227
@sfoslund Would you be able to take a look at this?  [Nick's comment](https://github.com/dotnet/sdk/issues/1227#issuecomment-514429455) describes the issue.

[2020-12-24 09:02] Zheng-Li01 commented on #14712
Verified the issue with .NET Sdk 6.0.100-alpha.1.20623.10 ,the issue has been fix that the  .NET Core project created successfully by using CLI.
![Update](https://user-images.githubusercontent.com/38325459/103076963-d3620b00-4609-11eb-9ec5-760e219e9b87.PNG)

[2020-12-24 09:59] Zheng-Li01 opened #15154 "Missing the ".NET 6.0(Preview)" Target Framework item in the 'Additional information' page after installed .NET SDK 6.0"
* More info:
1. This is a regression, can't reproduce .NET SDK 6.0.0-alpha.1.20570.2.
2. The issue can reproduce all types project.

* .NET Core Version:
.NET SDK 6.0 alpha.1.20574.5

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Installed the latest .NET SDK 6.0 from: https://github.com/dotnet/core-sdk.
2. Create .NET Core winforms project.
3. Observe the ".

[2020-12-24 10:59] ramsubbaraoc commented on #14881
@wli3 @sfoslund Please can you assign this to someone.It is just a query on how to set the cipherspec preference order on Linux. I tried using openssl command and it didn't help. Please can you tell me on how to set the cipherspec preference order for .NET Core applications. On windows it is straight forward i.e editing the windows group policy.

Thanks

[2020-12-26 15:38] geirs73 commented on #15051
The root cause of my issue may be located inside TransformWebConfig.cs, after further study and some experimentation on a local clone of 5.0.2xx branch. I changed Execute() so that it removes any ReadOnly attribute on the copied web.config file in the publish directory, and got a "works on my machine". I do not know enough about the internal structure of this project to do a proper fix that is tes

[2020-12-26 18:30] Kamil-Zakiev opened #15095 "[Dependency injection] Clarify confusing registration of a class against multiple interfaces"
Hello! I've just encountered a non obvious behaviour of the DI-container: it creates a new instance of a class for each interface it implements. Check the test below which fails:
[code]

Could you please clarify why it's working that way?

If it's by design, please clarify the reasoning behind that non intuitive implementation, I'm really interested in that

[2020-12-26 18:32] Kamil-Zakiev commented on #15095
wrong repo, moved it to dotnet/runtime: https://github.com/dotnet/runtime/issues/46409

[2020-12-26 18:32] #15095 closed

[2020-12-27 13:44] #14967 closed

[2020-12-27 20:14] Dimension4 commented on #15055
Also happens for `net5.0` target in asp.net core.

[2020-12-28 00:58] danmosemsft commented on #14606
This survey is complete

[2020-12-28 00:58] #14606 closed

[2020-12-28 15:50] chaami commented on #2108
Bonus question,
Hi,
I am trying to build an older MVC applications build through the dotnet build (or dotnet msbuild) for the matter.
From what I can seem the build works fine on Visual Studio thanks to the import of Microsoft.WebApplication.targets.
This import leverages the MSBuildExtensionsPath property to compute a path to these targets.
Thanks to your comment, I now understand why the path is

[2020-12-28 16:46] #12985 closed

[2020-12-28 17:50] sfoslund commented on #15061
No problem, thanks for giving me a heads up!

[2020-12-28 20:18] sfoslund commented on #15061
@DavidKarlas can you give some more repro information? What build are you seeing this with? I'm still getting the expected result with a dogfood version of master right now.

[2020-12-28 21:06] DavidKarlas commented on #15061
[code]
Are you trying with Powershell or Bash?

[2020-12-28 21:23] sfoslund commented on #15061
Hmm okay I installed the lastest build (6.0.100-alpha.1.20628.5) and I'm still not able to repro. I tried it on windows command prompt and powershell.

[2020-12-28 21:34] DavidKarlas commented on #15061
I tried installing latest SDK... and searched a bit more about it and realized I don't have `dotnet-suggest` installed and my $Profile contained:
[code]
 Which I assume is for .NET 5 style tab completion... Hence this is probably invalid bug....

[2020-12-28 21:34] #15061 closed

[2020-12-29 04:17] zhuman commented on #12345
I think it's quite puzzling that this wasn't considered a ship-blocker for .NET Core 3.1 and .NET 5.0. There is no technical blocker to publishing a self-contained deployment that happens to include a C++/CLI dependency. Nuget packages that contain C++/CLI assemblies do not suffer from this SDK error message (since they are just seen as managed dependencies). This is in fact a workaround for this

[2020-12-29 09:15] v-zubritsky opened #15106 "Missing help for the fsi command"
`dotnet help fsi` opens `https://aka.ms/dotnet-fsi` in browser, which redirects to nowhere (`https://www.microsoft.com/ru-by/?ref=aka` to be specific)

[code]

[2020-12-29 10:17] anoftc commented on #9594
Hi all

3.1.402

I think maybe I have a similar problem what is described in the ticket... I am SURE that I have the same error message :)

I have a netcoreapp3.1 class library originally created and built as the DataGenerator.dll file. And then I have a netcoreapp3.1 console app that tries to use the DLL file as a normal (non-nuget) DLL reference. Quoting from the CSPROJ of the console app:

both

[2020-12-29 10:55] QishengRan opened #15107 "Same issue for my web app in .net core 3.1 app"
Same issue for my web app in .net core 3.1 app

_Originally posted by @SrushtiPasari-GEP in https://github.com/dotnet/sdk/issues/3935#issuecomment-662375076_

[2020-12-29 12:12] LukePerrin opened #15109 "Microsoft SDK docker image can build but not run a web app"
Am trying to create a docker image where you can build/publish but also run a .net core website but having a real issue with image mcr.microsoft.com/dotnet/sdk:5.0.

If you build inside a container with that it publishes no problem but when you run you get issues. By contrast if you run with mcr.microsoft.com/dotnet/aspnet:5.0
 then you get no issues, that runs the app fine, but of course you cant

[2020-12-29 18:09] briguyjm opened #15114 "Segmentation Fault when using dotnet 5.0 from snap"
I just installed dotnet sdk 5.0 using snap on Ubuntu 20.10. When creating a simple Hello World and running `dotnet test`, nothing happens. Running `dotnet build` builds my Hello World just fine, but `dotnet run` does nothing. Running the binary directly in the `bin/` directory results in a Segmentation Fault.

[code]

This is my Program.cs

[code]

System info:

[code]

[2020-12-29 18:24] DanPFW commented on #12559
I have this same problem on 16.8.3.  Did not happen before I installed .net5.0

[2020-12-29 18:41] dsplaisted commented on #9594
I'm going to close this, as I believe the original issue is resolved.

@anoftc The file name has to match the assembly name.  Renaming a DLL will break things.  It sounds like in your case it builds successfully but fails to run.  Perhaps we should detect this and fail to build.  If you would like to propose that, can you open a new issue?  Thanks.

[2020-12-29 18:41] #9594 closed

[2020-12-29 23:01] KirillOsenkov opened #15116 "ArgumentException in ResolveFrameworkReferences because ResolvedTargetingPacks contain duplicates"
I was debugging a build and I saw an exception in ResolveFrameworkReferences:

[code]

This is because ResolvedTargetingPacks had three of each item identity:
![image](https://user-images.githubusercontent.com/679326/103319402-a38a7d00-49e6-11eb-8c41-8a8bc90354e4.png)

So this line that calls ToDictionary throws:
https://github.com/dotnet/sdk/blob/6545e81bd505d68f57941fa91babc6345a22e1a7/src/Tasks

[2020-12-29 23:03] KirillOsenkov commented on #15116
Aha, normally they're deduplicated:
![image](https://user-images.githubusercontent.com/679326/103319503-f49a7100-49e6-11eb-8097-f943b1153d25.png)

[2020-12-29 23:12] EatonZ commented on #3707
@dsplaisted @vijayrkn @richlander @KathleenDollard If there is no plan to fix, then can you make the workaround a little better? Such as a new property I suggested in https://github.com/dotnet/sdk/issues/3707#issuecomment-537161696.

[2020-12-29 23:43] KirillOsenkov commented on #15116
I'm closing this as it's highly likely I'm doing something wrong. I'll reopen if I can prove there's an actual bug.

[2020-12-29 23:43] #15116 closed

[2020-12-30 01:02] dsplaisted opened #15117 "Generate error if SelfContained Exe references framework dependent Exe, or vice versa"
With #14488, we will support Exe projects referencing Exe projects, and both apps should be runnable from the referencing project's output folder.  However, the apps won't run correctly work if one of them is self-contained and the other isn't (due to how hostfxr works).  So we should generate an error if a self-contained Exe references a framework dependent Exe, or vice versa.

This error should

[2020-12-30 11:13] lGSMl opened #15119 "'--configuration' option treats casing differently for 'dotnet build' and 'dotnet test' commands"
running `dotnet build -c release`
will produce dlls in `<project path>/bin/release/`

but
running `dotnet test -c release`
will search for test dlls at `<project path>/bin/Release/`, and eventually will fail

[2020-12-30 11:44] beatcracker commented on #14281
Well, this is unexpected. I've an AzD pipeline template that is used to build dozen of similar projects and it relies on the solution level actions + rid. E.g (extra simplified).:

[code]

The resulting artifacts are used to build docker images for different OS (glibc/musl based) in the subsequent pipeline steps.

[2020-12-30 22:53] dagood opened #15131 "Tag v5.0.101-servicing.20601.7 does not build: unable to load source 'darc-pub-dotnet-runtime-b02e13ab'"
From `v5.0.101-servicing.20601.7` (which I assume is what produced `5.0.101` since it's the only tag with `5.0.101` in it):

[code]

https://github.com/dotnet/sdk/blob/d5eb2b9c5a4e51be4b26781958785d8817e25b04/NuGet.config#L9-L11

When I go to https://dev.azure.com/dnceng/public/_packaging?_a=feed&feed=darc-pub-dotnet-runtime-b02e13ab to check up on the feed, I see this:

---

@dotnet/dnceng are yo

[2020-12-30 23:04] riarenas commented on #15131
Aren't all the packages in that feed available in nuget.org? I see that they have all been deleted, so even bringing back the feed is won't be enough.

[2020-12-30 23:07] dagood commented on #15131
I don't know what packages were in the feed. However, only "shipping" packages go to nuget.org, and I don't know if all of the packages in that feed are "shipping".

It does look like manually removing the feed from the nuget.config lets the build pass. But this is not a nice workaround. Isn't there `disabledPackageSources` infra to handle this and let tags be buildable? Or is that not done yet?

[2020-12-30 23:07] riarenas commented on #15131
Actually, it might be just enough to bring it back so that nuget doesn't crash when trying to find it.

@mmitche any ideas on how the feed got deleted? We stopped auto-deleting feeds a while ago

[2020-12-30 23:11] riarenas commented on #15131
We have infrastructure to add entries to disabledPackageSources when dependency updates happen after a package has been released publicly, but if a tag was set on a commit that already had the feed in its nuget.config, then that won't help.

[2020-12-30 23:12] riarenas commented on #15131
I restored the feed. I'm not sure how it got deleted in the first place. I'm not aware of any automation that deletes feeds right now.

[2020-12-30 23:20] dagood commented on #15131
I'm referring to the proactive disable feature from here, specifically how it needs to make sure it happens before the tag so the tag ends up buildable by the public: https://github.com/dotnet/arcade/issues/5890.

(But if this feed deletion was really unintentional and should never happen, there's no problem here.)

[2020-12-30 23:24] riarenas commented on #15131
@mattgal should be able to comment on the disabledPackageSources bit.

[2020-12-30 23:30] dagood opened #15132 "v5.0.101-servicing.20601.7 build fails to build using 5.0.101 SDK: BundledNETCorePlatformsPackageVersion 5.0.0 does not match BundledNETCoreAppPackageVersion 5.0.1"
When I check out `v5.0.101-servicing.20601.7` and apply this patch to build using the 5.0.101 SDK, building on Linux (a CentOS 7 Docker container) fails:

[code]

[code]

Binlog: [sdk-5.0.1-using-5.0.1.binlog.zip](https://github.com/dotnet/sdk/files/5756011/sdk-5.0.1-using-5.0.1.binlog.zip)

I don't understand what this task/target is doing, so I'm not sure why it expects  `BundledNETCorePlatforms

[2020-12-31 00:07] mmitche commented on #15131
Mayhaps just by mistake. I deleted a few feeds that got created unintentionally so that may have been it.

[2020-12-31 00:09] mmitche commented on #15131
The disabled package sources only disables the feeds that would be inaccessible for external users. It doesn't disabled -pub because that would make the shas unbuildable (without modifications) on devs machines during the release cycle.

[2020-12-31 00:15] riarenas commented on #15131
That's the part I was missing about disabled sources. Thanks, that makes sense.

[2020-12-31 02:36] dagood commented on #15131
If we were deleting them intentionally, this would apply (or rather, we'd want some better infra that works at *any* point in time rather than only for a certain group of users vs. another).

But since it isn't intentional to delete these, yeah, no need. Closing as resolved. Thanks to both of you for looking into this.

[2020-12-31 02:36] #15131 closed

[2020-12-31 10:04] redradist opened #15137 "[Dotnet CLI] Add upgrade command"
Dotnet CLI has one missed command - `upgrade`

Such tools like `deno` (JavaScript/TypeScript runtime), `conan` (C++ package manager) ...

It is more convenient than downloading and installing `dotnet` manually

I think we need to have the same command in `dotnet`:
[code]

[2020-12-31 16:19] mercer commented on #2902
1. I see builds fail with p5 because of an issue similar to this
1. our pattern is to start several processes with
1. `dotnet tool restore`
1. then `dotnet ef database update --no-build --verbose --context AppDbContext --project "SomeProjectThatMigratesSchemaLocally.csproj"`
1. then `dotnet run --no-restore --project ./src/SomeProject.Startup *> console.log`
1. then execute an e2e test to see all

[2020-12-31 23:47] danmosemsft opened #15142 "Mistyped command gives stack dump"
[code]
[code]

[2020-12-31 23:51] danmoseley opened #15143 "Error message says to `specify the "-d" option before the tool name.` but that causes `Unrecognized command or argument`"
[code]

The message is confusing because in this context, "dotnet-sos" is the "tool" by definition so understandably I ended up with `dotnet tool install -d dotnet-sos`. Changing the message to `For a list of locations searched, specify the "-d" option after "dotnet"` would eliminate the ambiguity and would apply in all situations.

[code]

[2021-01-01 00:00] danmosemsft commented on #11958
Incidentally, I found it confusing that `dotnet tool list` is implicitly local. ie, I had a tool installed globally already, and forgot about it. Then I did
[code]
So naturally I did
[code]

Is it too late to make `dotnet tool list` list both local and global? `dotnet tool --local --global` is also rejected.

[2021-01-01 07:01] danmoseley opened #15219 "`<TargetFramework>netcore5.0</TargetFramework>` gives a gold bar"
**Visual Studio Version**:
16.9.0 Preview 3 [30828.3 main]

**Summary**:
Change the project to have `<TargetFramework>netcore5.0</TargetFramework>` and you get an error that could be more helpful?

**Steps to Reproduce**:

1. Create a regular C# .NET Core project.
2. Double click on project, edit the TFM to any of these
` <TargetFramework>netcore6.0</TargetFramework>`
` <TargetFramework>blah</Targ

[2021-01-01 14:55] beetlex-io opened #15146 "Use Task.run execute method error"
Create console program executes the following code
[code]
In debug mode program throw timeout exception

![image](https://user-images.githubusercontent.com/2564178/103440782-8b835980-4c83-11eb-86fe-c50e3e4e904f.png)

In release mode the `user.OnInit` method is called multiple times

![image](https://user-images.githubusercontent.com/2564178/103440852-f3d23b00-4c83-11eb-8994-fd44d894e5fa.png)

Test

[2021-01-02 01:48] beetlex-io commented on #15146
This problem is thread pool has a minimum number of threads available at all times.

[2021-01-02 01:48] #15146 closed

[2021-01-02 19:07] augustoproiete commented on #11958
@danmosemsft +1. It would be great if that was done together with https://github.com/dotnet/sdk/issues/14626 so that when you see a tool in the list, you know you can run it with the same command without having to worry about it being a local tool vs a global tool.

The executable shim should be generated for local tools as well (it isn't today), and `dotnet <toolCommandName>` should work regardle

[2021-01-03 02:23] KirillOsenkov opened #15149 "Need better logging for the native SDK resolver"
I don't see a way to debug/investigate the decision process of the SDK resolver native .dll.

I've gotten as far as
https://github.com/dotnet/sdk/blob/917b98c1388c3fd7cc8fa5d2ee7f22ba01575747/src/Resolvers/Microsoft.DotNet.SdkResolver/NETCoreSdkResolverNativeWrapper.cs#L21-L23

but from then on it's a black box and I don't see anything that would explain the resulting SDK that comes out of it. I w

[2021-01-03 02:37] KirillOsenkov commented on #15149
As an example, https://github.com/dotnet/msbuild/issues/5999 is an issue that took me a whole day to figure out, and as a result of that investigation I have emerged with the knowledge that I should have set these two environment variables to influence the SDK resolution process:

[code]

Had there been a log entry like "choosing 3.1.100 because the DOTNET_INSTALL_DIR was set explicitly and pointe

[2021-01-03 02:44] KirillOsenkov commented on #15149
Correction, I **also** had to set `PATH=C:\msbuild\.dotnet;%PATH%`

[2021-01-03 22:43] pitchalt commented on #3803
@livarcocc  Please could you explain why it is not possible to build an application for windowsdesktop on Mac. Actually, I don't need to run it on a Mac. I would like to use CI/DI to build a solution on Linux. The SDK has a compiler, libraries have a single format, what prevents you from building windowsdesktop applications on platforms other than Windows?

[2021-01-04 02:45] stonellearning opened #15153 "No cshtml was found after. Net core2.2 compilation"
No cshtml was found after. Net core2.2 compilation

[2021-01-04 07:06] drewgillies commented on #14549
Hi @dsplaisted -- the way command line NuGet functionality is surfaced in the dotnet sdk is via the NuGet.CommandLine.XPlat assembly, built from this project: https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.CommandLine.XPlat.
So, if we wish to see new NuGet functionality in the dotnet sdk, we add it there. NuGet's home repo is where we track all of our issues, so if you add it

[2021-01-04 07:06] drewgillies commented on #14549
Hi @John0King -- the way command line NuGet functionality is surfaced in the dotnet sdk is via the NuGet.CommandLine.XPlat assembly, built from this project: https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.CommandLine.XPlat.
So, if we wish to see new NuGet functionality in the dotnet sdk, we add it there. NuGet's home repo is where we track all of our issues, so if you add it h

[2021-01-04 07:10] drewgillies commented on #14549
Hi @John0King -- the way command line NuGet functionality is surfaced in the dotnet sdk is via the NuGet.CommandLine.XPlat assembly, built from this project: https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.CommandLine.XPlat.
So, if we wish to see new NuGet functionality in the dotnet sdk, we add it there. NuGet's home repo is where we track all of our issues, so adding it here:

[2021-01-04 10:29] Chicken-Bones opened #15155 "Compile WinExe without Microsoft.WindowsDesktop.App framework reference"
I have a portable NETCore.App application which launches a gui via native library. If I compile with `<OutputType>Exe<OutputType/>` then everything works well, but I get unwanted console window when using the apphost exe on windows. If I compile as `WinExe` then console disappears, but framework reference to `Microsoft.WindowsDesktop.App` is included breaking portability to other platforms. I can

[2021-01-04 15:15] svick opened #15158 "Add option for "dotnet new reference" to add a reference to analyzer or source generator"
When adding a project reference to a Roslyn analyzer or source generator, you generally want the resulting csproj to contain:

[code]

Or:

[code]

There doesn't seem to be way to achieve this just using `dotnet new reference` and I think it would be nice if there was.

[2021-01-04 16:28] ignas-sakalauskas-cko commented on #14916
Deleting `c:/program files (x86)/dotnet/dotnet.exe` from System Environment Variable `Path` worked for me.

[2021-01-04 16:31] mthalman commented on #14624
@marcpopMSFT - This is still broken as of SDK version 6.0.100-alpha.1.20574.5.  Can this please get addressed?

[2021-01-04 17:08] joeloff commented on #14916
@ignas-sakalauskas-cko Do you happen to have any log files from your installs in your %temp% folder? Specially files that contain ```dotnet_host``` or ```dd_setup*SharedHost*``` in their names.

[2021-01-04 17:35] ignas-sakalauskas-cko commented on #14916
@joeloff I've found the following  `dotnet_host` files:
[code]
and the following `dd_setup` without the `SharedHost` though:
[code]

Looking at the timestamp also remembered that I've re-installed 2.1 and 3.1 SDKs but it didn't help :)

[2021-01-04 17:45] joeloff commented on #14916
Thanks for taking a look. I was hoping for a set of x86/x64 logs and hopefully one from VS. It appears there's an interleaving of installs that can result in the PATH changes effectively flipping. I've tried a number of repros, including locking the dotnet host process to trigger reboots, but no luck so far.

I'll continue investigating

[2021-01-04 18:23] justinmchase commented on #3942
It should support full sever ranges so ideally it would be `^1.0.0`

[2021-01-04 20:21] 89z opened #15162 "An update for template pack is available"
Every time I run this command now:

[code]

I get this:

[code]

I dont want DotNet checking for updates, ever, and certainly not "patch" level updates. How do I disable this?

[2021-01-05 00:15] sfoslund opened #15164 "Add test coverage for `dotnet add package` command"
See https://github.com/dotnet/sdk/pull/15019#issuecomment-754258264

[2021-01-05 00:27] rdasan commented on #14236
@kblok Not sure why this issue is closed. Is it not happening any more? I and some others are still having this issue. Please see https://github.com/dotnet/roslyn/issues/46772

[2021-01-05 11:04] kblok commented on #14236
@rdasan it just stopped failing...

[2021-01-05 13:00] beatcracker commented on #14281
I've 2 workarounds for now:

1. Since we use Azure DevOps' [.NET Core CLI task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli) in the templates, specifying `projects` as `**/*.csproj` works. Previously we had `*.sln` there. This is not exactly the same, since we lose the ability to control project builds via solution (e.g. devs could easily disable them there

[2021-01-05 16:25] nohwnd commented on #14578
@AArnott I tried it locally and it collected dumps even on versions that are not net5.0. Could you run the pipeline again please so I can see where it does not work? The build you linked above does not exist anymore. Thanks.

[2021-01-05 16:46] nohwnd commented on #14578
I have a whole suite of tests, I will re-run then tomorrow on the newest version to see if I can repro. I am back after a month, so I only quickly tried it so far. Hopefully I will be able to fix this soon.

[2021-01-05 17:44] #15132 closed

[2021-01-05 20:40] leecow opened #15172 "Build behaves diffrent in Visual Studio and dotnet cli on missing References to Projects missing in Solutions"
---
**Issue moved from microsoft/dotnet#1280**
- Please respond to @lippinio.

---

_From @lippinio on Friday, December 18, 2020 1:34:13 PM_

Use the following structure to reproduce the issue or download the zip file.

C:.
│   A.sln
│   AB.sln
│
├───A
│       A.cs
│       A.csproj
│
└───B
        B.cs
        B.csproj

AB.sln
`
Microsoft Visual Studio Solution File, Format Version 12.00
Project("

[2021-01-05 20:56] kouvel commented on #14867
The shared memory files go into `/tmp` in the non-Android Linux builds. Does `/tmp` exist, or is the tmp directory located at `/data/local/tmp`? I'm not sure if there is an official Android build for .NET Core. If that's the issue it might be possible to work around it by symlinking `/tmp` to `/data/local/tmp`.

[2021-01-05 23:13] lupengamzn opened #15175 "Activity's SetParentId() API doesn't set parent span id as told to"
Hey guys,

Currently the runtime provides [SetParentId()](https://github.com/dotnet/runtime/blob/5f984ae83f0c474e03d7e42a4cec8ab08bba4e8d/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/Activity.cs#L477) API to override the parent id and trace id of the `activity`. We noticed that if we're calling this API to a root activity, which has no parent span id, and set the parent

[2021-01-05 23:25] #15013 closed

[2021-01-06 00:23] flaxed opened #15179 "Install a global tool in a custom location fails to run"
I have created a net 5 CLI program as a tools package and was testing a local tool install before migrating to executing the tool in step of a CI build.

Installation works fine with:
[code]
and installs fine with:
[code]
but when I try to execute the tool with
[code]
I'm getting this error:
[code]

Installation and execution both works fine with `Install a global tool` and the `Install a local to

[2021-01-06 01:32] joeloff commented on #14916
@ignas-sakalauskas-cko In the Windows Event Log, are there any events logged with ID 1032?

[2021-01-06 01:56] AArnott commented on #14578
@nohwnd  the problem is not that dumps are not collected. The problem is that they are collected even when no test failure occurred.

[2021-01-06 08:46] ignas-sakalauskas-cko commented on #14916
@joeloff yes, 21 event under Application, the oldest one is back from November last year. Error message:
[code]

[2021-01-06 08:47] nohwnd commented on #14578
Here you said that it no longer collects them, so that is what I wondered about. The build is unfortunately gone.

[2021-01-06 16:00] mdrexel commented on #11803
Just a heads up, it looks like `<PackageReference Update="*" PrivateAssets="Compile"/>` doesn't cooperate nicely with the [`GenerateBindingRedirects`](https://github.com/dotnet/msbuild/blob/fc04803783539c292e51a8b29fa52e2c3552e8a9/src/Tasks/Microsoft.Common.CurrentVersion.targets#L2290) target.

After adding the `Directory.Build.targets` to our "real" solution, we started encountering assembly bin

[2021-01-06 16:18] joeloff commented on #14916
Thanks @ignas-sakalauskas-cko Did any of them mention .NET/.NET Core as the offending installation?

[2021-01-06 17:28] ahmetmithat opened #15187 "dotnet-dump collect and dotnet-gcdump collect fails when process runs as www-data user on Ubuntu"
### Problem

I want to use **dotnet-dump** and **dotnet-gcdump** to collect core dumps of an ASP.NET Core web application running as a daemon with **www-data** user in Ubuntu but I am getting the following error:

[code]

### Details

**Here is the unit file:**

[code]
**Here are the environment details:**

[code]

**And here is the dotnet tool info:**

[code]

I see my first "problem" when I try

[2021-01-06 20:35] ignas-sakalauskas-cko commented on #14916
No, the events say MsiInstaller only, for example
[code]

[2021-01-06 20:40] rainersigwald commented on #15149
I don't know if the logging interface currently exposed by MSBuild makes this possible--it's fairly minimal. We might need to augment that first before improving the dotnet resolver.

[2021-01-06 20:42] AArnott commented on #14578
Well, I guess it's been too long and I don't remember the history exactly.
So looking for past evidence, I requeued [the build where <net5.0 crash dumps are *not* collected](https://dev.azure.com/andrewarnott/OSS/_build/results?buildId=4164&view=results).

[2021-01-06 21:39] dsplaisted commented on #12776
This is happening because the NuGet packages have later versions of those libraries than .NET Core 3.1.0 had, which is essentially what you're compiling against.

@wtgodbe @JunTaoLuo Any thoughts on this or who the right people would be?  Maybe the Microsoft.Extensions.Hosting.WindowsServices package should depend on the unpatched versions of other packages which are in the shared framework, or no

[2021-01-06 21:51] JunTaoLuo commented on #12776
I doubt we'll be able to make those types of changes in 3.1 servicing. However, in 5.0 and beyond, it looks like the transitive dependencies will remain at the first RTM version. For example: https://www.nuget.org/packages/Microsoft.Extensions.Hosting.WindowsServices/5.0.1

[2021-01-06 22:18] marcpopMSFT commented on #14267
@dsplaisted to respond in email on the discussion we're having on this.

[2021-01-06 22:50] dsplaisted commented on #12771
We're going to close this due to no response.  If this is still an issue, it would be very helpful if you could [provide a binlog](https://aka.ms/binlog) of the failing build.

[2021-01-06 22:50] #12771 closed

[2021-01-06 22:52] marcpopMSFT commented on #11555
Can you provide the repro project?

[2021-01-06 23:07] dsplaisted opened #15194 "WindowsDesktop MSBuild SDK should not be required for WPF projects targeting .NET Framework"
**Repro**

- Create a new .NET 5 WPF project
- Change `TargetFramework` to `net472`
- Build

**Expected**

Build is successful

**Actual**

Lots of compilation failures such as:

** Fix**

Probably we need to add an additional statement to set `ImportWindowsDesktopTargets` to true if `TargetFrameworkIdentifier` is `.NETFramework` and either `UseWpf` or `UseWindowsForms` are set to true, here:

htt

[2021-01-06 23:56] eddynaka opened #15428 "Is it possible to install a nuget package in a tool?"
Hi,

today I have a dotnet tool, which executes some analysis. This tool can use other packages as plugin and this plugin might contain a package dependency.

With the tool, I can point to the plugin folder, but it's not loading it's dependencies.

Based on that, is it possible to install a package in a tool?

The plugins are normally netstandard2.0
The dotnet-tool is netcoreapp3.1

Thank you

[2021-01-07 05:04] Ashley-Li opened #15198 "Windows desktop apps can't be run on 6.0.100-alpha.1.21056.10"
**.NET Core Version:**
.NET SDK 6.0.100-alpha.1.21056.10.

**More info**
1. This is a regression, it can't reproduce .NET SDK 6.0.100-alpha.1.21054.4.
2. The issue can reproduce on WPF/Winforms Application, they can be built successfully, but failed to run, and Designer cannot be opened.
3. The issue can’t reproduce on Console Application, it can be build and run successfully.
4. When create .NET

[2021-01-07 05:17] Zheng-Li01 commented on #15198
/cc: @RussKie @jkoritzinsky

[2021-01-07 05:18] RussKie commented on #15198
@jkoritzinsky could any of your recent work in dotnet/windowsdesktop have caused this?

[2021-01-07 05:20] jkoritzinsky commented on #15198
Theoretically it could be possible. I don't know enough about the path that's throwing up the dialog or failing to find the runtime. There could be some implicit dependency that I didn't know about.

I'll take a look tomorrow.

[2021-01-07 07:32] sqeezy commented on #13939
This just came up in on of my bigger projects. The biggest problem is the missing documentation on this. When converting an old style project to sdk style you can get all sorts of what seems like random fails. I was able to convert my project to sdk style and compile them in my IDE, but when I used the command line the build failed with weird compile errors.
In my opinion this hinders a smoother t

[2021-01-07 08:37] nohwnd commented on #14578
I still see "Build not found" on the latest link you posted. Do I need special permissions?

I've updated my tests and re-run them on Windows, Mac and Ubuntu and they show that the dumps are collected and that no dump is collected when there is no crash. According to my tests it works on 5.0.101 and 5.0.200-preview, and the tests fail on 5.0.100 which does not have the fix. https://dev.azure.com/j

[2021-01-07 09:53] megakid commented on #7238
We would love this too, our build times would be greatly reduced if this feature was added 👍

[2021-01-07 10:01] adrianiftode opened #15199 "dotnet new api creates an appsettings.development.json file with mixed lines endings"
**dotnet new api** creates an _appsettings.development.json_ file with mixed lines endings

### Steps to reproduce

**Run the following commands**

[code]

**Actual result**
[code]

**Expected result**
Consistent line endings, so on a windows machine would be

[code]

### Additional information
Visual Studio 2019 warnings

![image](https://user-images.githubusercontent.com/13752939/103877748-c5b28

[2021-01-07 14:10] AArnott commented on #14578
No. I can even view it in an InPrivate window with no cookies. Are you sure you're using the link from my message I posted yesterday? I did not update the original link

If you still cannot view it, you can perhaps try looking at the [commit being built](https://github.com/AArnott/Library.Template/tree/validate/net50) or even build it yourself. It's a YAML pipeline so it should be trivial to set u

[2021-01-07 14:55] nohwnd commented on #14578
I don't know what I did wrong. I can see your build now. The problem is that procdump is configured to only catch stack overflow and access violation, but you are killing the process via Environment.FailFast. If you force stack overflow (e.g. by calling itself in the test method:  `public void Crash() => Crash();`, you should start getting all dumps. At least I do locally when I make this change i

[2021-01-07 15:25] tmds commented on #14992
I encountered it a while ago, but my issue got closed without a fix: https://github.com/dotnet/sdk/issues/14263.

[2021-01-07 15:44] omajid commented on #14263
And installing dependencies doesn't help: https://github.com/dotnet/sdk/issues/14992

[2021-01-07 16:10] ShreyasRmsft commented on #14578
@nohwnd that was before my time when blame was implemented for crash dumps only. I think Environment.FailFast was simply not a scenario at that time.

[2021-01-07 16:47] mmitche opened #15209 "Remove dotnet.myget feeds"
There is still some usage of dotnet.myget.org feeds in some tests and docs. The tests are likely to break when dotnet.myget.org gets turned off.

[2021-01-07 17:01] vuplea opened #15210 "Reason for runtimeconfig.dev.json in build output since .NET Core 3?"
An `OutputType=Exe` project build will create a `runtimeconfig.dev.json` which adds probing paths:
[code]
[Since all the dependencies should be near the `AppHost`](https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-build.md#description), and the runtime probes in its directory first (e.g. I've used `dotnet store` first on my dependencies, but it still loaded them from the build fold

[2021-01-07 17:13] mmundy3832 opened #15220 ""The build failed. Fix the build errors and run again." But no errors reported"
# Issue Title

"The build failed. Fix the build errors and run again." But no errors reported

# Request

How can I identify what errors are actually stopping this build from completing successfully, if the '-v diag' does not indicate any errors?

# General

I am following the instructions step-by-step from https://swimburger.net/blog/dotnet/how-to-run-a-dotnet-core-console-app-as-a-service-using-

[2021-01-07 17:29] joeloff commented on #14867
Thanks @kouvel and @stephentoub

@Fancyflame please let us know if the suggestion worked. Your scenario isn't officially supported, but I'm hoping we can help

[2021-01-07 18:05] jkoritzinsky commented on #15198
It looks like while my PR was stuck in review limbo, there was a change in the SDK to how the runtimeconfig is written out. I'll take a look at how to produce the right runtimeconfig.

[2021-01-07 18:23] jkoritzinsky commented on #15198
I have a PR into dotnet/arcade that fixes the infra for this case. Once it's merged, I'll update dotnet/windowsdesktop manually.

[2021-01-07 20:27] maddinthegreat opened #15215 "CustomMarshalers - EnumeratorToEnumVariantMarshaler"
Hi,

is there a replacement for **EnumeratorToEnumVariantMarshaler** in NET5 ?

Regards
Martin

[2021-01-07 20:51] lupengamzn opened #15216 "Support customized Activity trace id generation"
Hey,

So the .NET runtime provides APIs to generate `Activity`, which can be adopted and processed as trace context and eventually emitted to multiple backend vendors by OpenTelemetry .NET SDK for the purpose of tracing. Currently .NET runtime only allows an activity's trace id to be [randomly generated](https://github.com/dotnet/runtime/blob/5f984ae83f0c474e03d7e42a4cec8ab08bba4e8d/src/libraries/

[2021-01-07 20:57] cijothomas commented on #15216
Please open this in the https://github.com/dotnet/runtime/issues repo.

[2021-01-07 20:58] cijothomas commented on #15175
Please open this in the https://github.com/dotnet/runtime/issues

[2021-01-07 21:18] lupengamzn commented on #15175
Thanks @cijothomas , closing this and reopened as https://github.com/dotnet/runtime/issues/46706

[2021-01-07 21:18] #15175 closed

[2021-01-07 21:19] lupengamzn commented on #15216
Thanks @cijothomas , closing this and reopened in https://github.com/dotnet/runtime/issues/46704

[2021-01-07 21:19] #15216 closed

[2021-01-07 21:45] ahmetmithat commented on #15187
I think I found it, this is already discussed in this issue: https://github.com/dotnet/diagnostics/issues/449

The correct command format should be like following when the process runs with a different user:

**sudo -H -u <user name of service> bash -c "<full path to dotnet tools>/dotnet-dump collect -p <PID> -o <output path>"**

E.g.:

**sudo -H -u www-data bash -c "/home/myuser/.dotnet/tools/dot

[2021-01-07 21:45] #15187 closed

[2021-01-07 22:18] rseanhall commented on #15021
@vitek-karas @sfoslund In WiX, we are working with @japarson and @MSLukeWest to detect whether a specific runtime is currently installed on the machine. Unlike https://github.com/dotnet/runtime/issues/36479, we really are trying to answer the question "is the runtime installed?" and not the question "Will application requiring framework XYZ run on this machine?". I believe that the SDK here in thi

[2021-01-07 22:26] vitek-karas commented on #15021
I absolutely agree that the behavior needs to be consistent. I think that's the main concern - any additional checks we perform on the installed frameworks (to make sure they're really there) will be a perf cost on almost every application launch. That's obviously a rather touchy subject...

Just curious what's your thoughts @rseanhall  on the necessity to "validate" frameworks. We have seen cases

[2021-01-07 22:58] DamianEdwards opened #15218 "Investigate performance issues and explore solutions regarding CLI-related inner-loop scenarios"
As part of the [.NET 6 Epic regarding inner-loop performance](https://github.com/dotnet/msbuild/issues/5876), performance opportunities as they pertain to the .NET CLI (excluding MSBuild) need to be identified, investigated, and solutions implemented.

@stephentoub @brianrob

[2021-01-07 23:02] rseanhall commented on #15021
@vitek-karas What did you think about what I said in my initial comment?

[2021-01-07 23:09] vitek-karas commented on #15021
There will always be "some" perf hit - because currently the code doesn't do a "Exists" check, it does directory enumeration (it needs to in order to implement all of the roll-forward capabilities). So any additional check on top of what directory enumeration returns will be "more work". In theory you're right that the `.deps.json` check will eventually happen anyway already, but unfortunately tha

[2021-01-07 23:15] rseanhall commented on #15021
These appear to be directory checks during framework resolution:

https://github.com/dotnet/runtime/blob/1daa25753f5824acb1f67f306ff5abf3a3daebeb/src/installer/corehost/cli/fxr/fx_resolver.cpp#L229

https://github.com/dotnet/runtime/blob/1daa25753f5824acb1f67f306ff5abf3a3daebeb/src/installer/corehost/cli/fxr/fx_resolver.cpp#L256

[2021-01-07 23:18] alexanderkyte commented on #10130
Would love to see movement on this. Without it, any documentation for how to use dotnet has to include OS-dependent steps around upgrading.

[2021-01-07 23:19] vitek-karas commented on #15021
You're right - that code is just... oh well. The first one is not that interesting (that's only for basically disable roll-forward which is rarely used), the second one is the interesting one. I have no idea why we do directory check there, since the value we use come directly from directory enumeration... https://github.com/dotnet/runtime/blob/1daa25753f5824acb1f67f306ff5abf3a3daebeb/src/installe

[2021-01-07 23:36] sfoslund commented on #15194
Fixed in 5.0.2xx by #15213

[2021-01-07 23:36] #15194 closed

[2021-01-08 00:48] Firestorm01 commented on #14916
Changing `C:\Program Files (x86)\dotnet` from System Environment Variable Path to `C:\Program Files\dotnet` fixed the problem for me.

[2021-01-08 00:49] joeloff commented on #14916
Thanks for confirming @Firestorm01

[2021-01-08 01:05] wli3 commented on #14885
Just check after the new year. Is there any timeline for this issue?

[2021-01-08 01:17] danmosemsft commented on #15219
Just for my information, what determines whether an error like this is a gold bar vs in the error list? Is it design time error = gold bar, otherwise error list?

[2021-01-08 02:13] ganimedes opened #15221 "Object reference not set to an instance of an object"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: linux

dotnet new blazorserver -o BlazorApp --no-https
Getting ready...
Object reference not set to an instance of an object.
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save(TemplateCache cacheToSave)
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save()
   at Mic

[2021-01-08 02:14] mairaw commented on #15221
Transferred the issue here since I don't think running `dotnet new` should throw an object reference not set to an instance issue.

[2021-01-08 02:19] nc-vipani opened #15222 "dotnet CLI Error: Invalid input switch "-o""
# Issue Title

Creating new project in a fresh blank folder with -o option. dotnet states that the "-o" options is invalid. Error: "Invalid input switch"

# General

This is the the command that reproduces problem for me:

[code]

[2021-01-08 05:21] JamesNK opened #15225 ".NET 6: The "CreateAppHost" task failed unexpectedly."
Error when building.

[code]

VS: 2019 16.9 Preview 2
.NET SDK: 6.0.100-alpha.1.21057.4

[2021-01-08 07:22] vdanche opened #15226 "With .NET 6 SDK, run failed for .NET 6 winforms/wpf."
Repro steps:
Install .NET 6 SDK(6.0.100-alpha.1.21057.10)  from https://github.com/dotnet/installer
Create winforms or wpf(.NET) in CLI and modify *cproj file to update tfm from net5.0-windows to net6.0-windows.
dotnet build and run

**Expected Result**
dotnet run successfully

**Actual Result:**
Below error occurred
![image](https://user-images.githubusercontent.com/65637796/103986108-1f45b000-51

[2021-01-08 07:36] JamesNK commented on #15225
![image](https://user-images.githubusercontent.com/303201/103987353-3a2e1980-51f1-11eb-871c-9010b0d5cc9a.png)

[2021-01-08 07:46] vdanche opened #15227 "With .NET 6 SDK, the default tfm is net5.0 not net6.0 for created project."
Repro steps:
Install .NET 6 SDK(6.0.100-alpha.1.21057.10) from https://github.com/dotnet/installer
Create console app(.NET) and then check the default tfm in *cproj

Expected Result
the default tfm is net6.0

Actual Result:
the default tfm is net5.0 not net6.0

Dotnet --info:
.NET SDK (reflecting any global.json):
Version: 6.0.100-alpha.1.21057.10
Commit: 87c80e2837

Runtime Environment:
OS Name:

[2021-01-08 08:42] vdanche opened #15228 "With .NET 6 SDK, Data collector 'Blame' message display when dotnet test for unit test project"
Repro steps:
Install .NET 6 SDK(6.0.100-alpha.1.21057.10) from https://github.com/dotnet/installer
Create unit test project(e.g dotnet new xunit) in CLI and modify *cproj file to update tfm from net5.0 to net6.0
dotnet build and dotnet test

Expected Result
dotnet test successfully

Actual Result:
dotnet test successfully, but some other message displays as below
Data collector 'Blame' message: Al

[2021-01-08 09:42] vdanche opened #15229 "Run the publish single file for NET 6.0 failed on MacOS with error no usable version of libssl was found."
Machine OS:Catalina10.15.7

Repro steps:
1.Install .NET 6 SDK(6.0.100-alpha.1.21057.10) from https://github.com/dotnet/installer
2.Create console app(e.g dotnet new console) in CLI and modify *cproj file to update tfm from net5.0 to net6.0
3.Run dotnet publish with below command
dotnet publish -c Release -r osx-x64 /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true
will only ge

[2021-01-08 09:54] NicoleWang001 opened #15230 "On Redhat, dotnet location is not added to system path after installing .Net 6.0"
Repro steps:
1. On redhat 7.9 or 8, install .NET 6 SDK(6.0.100-alpha.1.21058.2) from https://github.com/dotnet/installer
2. Run "dotnet --info" and observe

Expected Result
dotnet command works normally

Actual Result:
dotnet command not find due to dotnet location is not added to system path.
![image](https://user-images.githubusercontent.com/1578239/104001356-7c982c00-51da-11eb-9fac-38b89110068d

[2021-01-08 13:25] kendfrey opened #15233 "How should optional dependencies (plugins) work with deps.json?"
### Summary

We have an application referencing many libraries which are considered optional, and are only used as MEF plugins. Currently if one of these dlls is missing at runtime, the application fails to start with an error like "An assembly specified in the application dependencies manifest (MyApp.deps.json) was not found". We would like to deploy copies of our application with a subset of the

[2021-01-08 13:57] vslynko commented on #3975
I have exactly same issue.
Is there any update?

[2021-01-08 15:03] semenmiroshnichenko commented on #9363
Can I publish different RuntimeIdentifiers in different output folder using the method mentioned above?

[2021-01-08 15:29] mmundy3832 commented on #15220
As a follow up to clarify my previous message, the publish command also seems to have an issue that may or may not be related.

I stated that I tried the publish command, which is 'dotnet publish -c Release -o /srv/Worker'. This did not return an error message, so it looks like it completed successfully, and I should be able to run the worker program from the published directory. However, the publ

[2021-01-08 17:39] mviswan commented on #13431
I had to pull in below nuget packages to get around this issue.
`
<PackageReference Include="Microsoft.NET.Test.Sdk" Version="16.4.0" />
<PackageReference Include="xunit.runner.visualstudio" Version="2.4.1" />
`

[2021-01-08 17:52] vatsan-madhavan opened #15235 "Add rollForward option to global.json generated by 'dotnet new globaljson'"
At this time, `dotnet new globaljson` supports only one argument, `--sdk-version <VERSION NUMBER>`

See <https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new>

It generates a global.json file that looks like this:

[code]

I always find myself adding a [`rollFoward`](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json?tabs=netcore3x) setting manually like this to keep up with u

[2021-01-08 18:05] tmeschter commented on #15219
In this case the project system has asked MSBuild to run a design-time build so it can collect project information. You'll get errors in the Error List if the build runs to completion but produces errors. You'll get a gold bar if the build itself fails, generally due to a bug in MSBuild or the targets and tasks it is trying to run.

[2021-01-08 18:16] danmosemsft commented on #15219
Got it.

[2021-01-08 18:16] jkoritzinsky commented on #15198
Update into dotnet/windowsdesktop is open at https://github.com/dotnet/windowsdesktop/pull/1332

[2021-01-08 21:34] RussKie commented on #15198
Thank you, merged

[2021-01-08 22:13] Frassle opened #15243 "dotnet commands modify the terminal's keypad/cursor behavior, but does not restore it on exit"
Resurrection of https://github.com/microsoft/dotnet/issues/472

If I run `read` and push the four arrow keys I get "^[[A^[[B^[[C^[[D". If I run `dotnet build` and then run `read` and push the arrow keys again I get "^[OA^[OB^[OC^[OD". I have to run `tput rmkx` to return my terminal to normal.

[code]
Note that just `dotnet` alone doesn't seem to trigger it, but it seems any other invocation does (

[2021-01-08 22:40] dsplaisted commented on #9363
@semenmiroshnichenko You wouldn't be able to specify separate output folders via the command line in this case.  By default, each RuntimeIdentifier will be published to a separate folder anyway.  If you want to customize that, you would need to do so via logic in the project file (or imports), rather than passing in on the command line.

[2021-01-09 01:04] jnm2 opened #15321 "Pathmap does not seem to be working, resulting in determinism failure"
**Version Used**: .NET SDK 5.0.101

For simplicity the repro doesn't reference an NuGet package that includes .cs files out of the package cache, but /pathmap appears to not be working for .cs files out of the package cache either. I can provide a repro involving the package cache if that is useful.

##### Repro.csproj

[code]

##### Class1.cs

[code]

`dotnet pack -c Release` creates a package th

[2021-01-09 02:01] ryalanms commented on #15226
WinForms and WPF are working with dotnet-sdk-6.0.100-alpha.1.20560.3-win-x64 but both fail with dotnet-sdk-6.0.100-alpha.1.21056.10-win-x64.

/cc @merriemcgaw

[2021-01-09 03:03] thanhhn253 opened #15250 "System.Text.Json Serialize return weird result"
Please have a look at the following code:
`using System;
using System.Collections.Generic;
using System.Text.Json;
using System.Text.Json.Serialization;

namespace ConsoleApp7
{
    public class a {
        public int b { get; set; }
        public List<e> c { get; set; }
        public a my_a { get; set; }
    }
    public class e
    {
        public int d { get; set; }
        public string g {

[2021-01-09 04:46] #14392 closed

[2021-01-09 14:52] msedi commented on #2511
I would also be interested what the current status is?

[2021-01-09 15:07] dasMulli commented on #2511
I guess that's more a project system issue than a .NET SDK issue. The SDK has tests assuring that both shared projects and "deploy projects" (referencing SDK project but wihout any own comiplation) work.
VS support is more interesting here I guess - cc @davkean
Then SDK commands could also have some knowledge about shproj.. the difference is that these aren't technically project references but inc

[2021-01-09 16:56] huoyaoyuan commented on #14966
build.sh uses last version to compile the latest version. It's suitable for majority of people.

If you want to compile everything from source, please access dotnet/source-build repo.

[2021-01-10 01:46] ryalanms commented on #15226
This is a duplicate of "Windows desktop apps can't be run on 6.0.100-alpha.1.21056.10" (https://github.com/dotnet/sdk/issues/15198) and can be closed.

Regression:

Switch to new Microsoft.DotNet.SharedFramework.Sdk (https://github.com/dotnet/windowsdesktop/pull/909)

Fix:

Update Arcade and make changes to match previous working runtimeconfig (https://github.com/dotnet/windowsdesktop/pull/1332)

[2021-01-10 04:04] Fancyflame commented on #14867
@kouvel @joeloff  Where I run dotnet is a tiny Ubuntu virtual machine, there is `/tmp` directory already but even no `/data`. I think creating `/data/local/tmp` and linking `/tmp` to it doesn't make sense.

@stephentoub I'm not very familiar with Linux, so I dont know what to do according to your explaination. Could u please tell me the what to do In more detail?

[2021-01-10 04:34] Fancyflame commented on #14867
@joeloff Yes I know Android platform was not being supported, but the Ubuntu virtual machine is aimed to create a environment in which common Linux software could working, and as expected most softwares worked perfectly well, includes Vim, Python, Nodejs, Golang, Rust and C++. Undeniable due to the imperfection of the environment there are some softwares runned in to problems, but I still hope dot

[2021-01-10 04:42] kouvel commented on #14867
Oh ok, if `/tmp` exists and has the appropriate permissions that should be fine. Could you please run the following and share the log file?
[code]

[2021-01-10 04:52] Fancyflame commented on #14867
@kouvel Same as before, except one more log:
`proot warning: ptrace request 'PTRACE_???' not supported yet`

[2021-01-10 05:04] kouvel commented on #14867
Did it create a `trace.log` file? Wonder if that's just a warning or if `strace` is not working on that machine.

[2021-01-10 05:52] Fancyflame commented on #14867
@kouvel Do you want to see that? Its content is rather much! I think this problem may caused by proot's low version, but I cannot update proot due to the low Android version which is Android 6. Packages for this version are no longer maintained.

[2021-01-10 13:34] MichaeIDietrich commented on #14847
Unfortunately there is still no triage here. It would be nice to get a response to this issue. It is really a show stopper for us.
Thank you in advance.

[2021-01-10 13:54] mrlife commented on #11555
@marcpopMSFT Here is the repro. It's a fresh project with only the following lines from the first issue comment added to the csproj. The second line is added for testing purposes.

[code]

[RidTest.zip](https://github.com/dotnet/sdk/files/5792673/RidTest.zip)

[2021-01-10 16:32] kouvel commented on #14867
The log should show the system calls at the point of failure and it might be useful, the proot issue may be separate and the relevant logs may still be there. If you can upload the log and send me a link I can take a look.

[2021-01-10 16:51] pdevito3 commented on #15047
Nevermind... it looks like once you add a file to the directory it's just fine:

[code]

[2021-01-10 16:51] #15047 closed

[2021-01-11 01:08] rseanhall commented on #15225
I am also seeing this with .NET SDK 6.0.100-alpha.1.21059.3.

[2021-01-11 02:57] augustoproiete opened #15254 "When installing a .NET local tool, create the tool manifest if one does not exist"
When a user tries to install a .NET tool as a local tool on a folder that does not contain the manifest, we get an error `Cannot find a manifest file`.

[code]

[code]

However, if the user tries to update an existing local tool, `dotnet tool` is able to update the existing manifest:

[code]

[code]

---

_TL;DR;_ It would be great if `dotnet tool install` automatically created the tool manifest,

[2021-01-11 03:12] augustoproiete commented on #10310
Would creating a separate command make it easier to get this implemented sooner? E.g. `dotnet ensure <toolname>` that would:

- Do nothing if the tool & exact version is installed, and returns `0` exit code
- Installs the tool if the tool is not yet installed, and returns `0` exit code
- Updates the tool to the specified version, if a different version is already installed, and returns `0` exit co

[2021-01-11 04:26] #15198 closed

[2021-01-11 05:59] joeloff commented on #14847
I am taking a look @MichaeIDietrich On first glance it appears that the size difference is because the one DLL is cross gen'd. Framework references follow a different path AFAIK. I hope to have more detailed answers for you soon.

[2021-01-11 07:33] Ashley-Li commented on #15198
Verified this issue with .NET SDK 6.0.100-alpha.1.21060.2 build ,this issue has been fixed that there are no DesignToolsServer.exe dialog box and error box pops up, the Form1.Design can be open and run successfully.
![Re-Test](https://user-images.githubusercontent.com/56664234/104155515-59f85400-5422-11eb-9ece-631f9af1c4a7.gif)

[2021-01-11 13:32] geira opened #15261 "Installation procedure is illegal according to GDPR"
During installation, personal data such as hashed MAC addresses are sent to Microsoft before informing the user. This is illegal according to the GDPR which requires prior, active consent (opt-in). Instead you only offer passive consent (opt-out) after the damage has been done. To opt out totally, one has to set an envvar before installation, but you do not inform the user about this until after t

[2021-01-11 13:35] bjsmiley opened #15262 "After installing .net 5, I can no longer access asp.net core 2.2 web apis"
### **Description**
I can no longer call http endpoints on an existing (or newly created) asp.net core 2.2 app after installing .net 5 sdk.

### **Environment**
`dotnet --info`
.NET SDK (reflecting any global.json):
 Version:   5.0.101
 Commit:    d05174dc5a

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform: Darwin
 RID:         osx.10.15-x64
 Base Path:   /usr/local/sh

[2021-01-11 14:09] AsenCME opened #15263 "SDK crashes my M1 Mac"
I recently purchased an M1 MacBook and since I work on .NET projects sometimes, I downloaded the respective SDK for the .NET version of my project (netcoreapp2.2). So far commands such as run and migrate have crashed my computer almost every time. Unfortunately I cannot find the crash log as I am new to MacOS as it is. Perhaps this will be fixed with .NET 5 update for M1 that I read about but cras

[2021-01-11 14:59] geira commented on #15261
The Irish Data Protection Commision (which is Google's chosen authority for GDPR purposes) just published a report on cookies and related technologies, which states the matter quite clearly:

<https://www.dataprotection.ie/sites/default/files/uploads/2020-04/Guidance%20note%20on%20cookies%20and%20other%20tracking%20technologies.pdf>

[2021-01-11 15:21] bjsmiley commented on #15262
### Update
I figured out how to remove .net 5 but the problem persisted with .net core 2.2.. then I deleted 2.2 and reinstalled. it works..

[2021-01-11 15:21] #15262 closed

[2021-01-11 15:36] trympet commented on #15055
Issue seems to be related to Visual Studio, and should be fixed in the next servicing release.

https://developercommunity2.visualstudio.com/t/Unable-to-view-Task-or-parallel-stacks-i/1293379

[2021-01-11 15:36] #15055 closed

[2021-01-11 18:24] wli3 commented on #15223
Looks like something wrong with your nuget CredentialProvider, could you try to reinstall the CredentialProvider?

[2021-01-11 20:01] Perustaja commented on #14059
I had the same issue. Updating Visual Studio worked, I know it is a little bit annoying but I do not use visual studio often so I was unaware that I needed to update Visual Studio and thought it was my msbuild version.

[2021-01-11 20:08] rseanhall opened #15272 "ComponentActivator will always be removed by trimming"
This is the application/component hybrid scenario from https://github.com/dotnet/runtime/issues/35465. When building as self-contained with trimming (either `CopyUsed` or `Link`), the custom native host is unable to call `get_function_pointer` for its custom entry point. Adding the following code makes it work, but is not ideal because `ComponentActivator` is an internal implementation detail that

[2021-01-11 21:18] agocke commented on #14885
I haven't assigned this out yet -- is there something that's blocked by this issue?

[2021-01-11 21:53] VSadov commented on #15229
This is the same as https://github.com/dotnet/runtime/issues/46771, a fix is in progress.

[2021-01-12 00:45] sfoslund commented on #15230
@NicoleWang001 can you point out which version/ OS (which square in the grid on https://github.com/dotnet/installer) you installed? Did you use an installer or zips?

[2021-01-12 00:46] sfoslund commented on #15229
Closing as a duplicate of https://github.com/dotnet/runtime/issues/46771 per [this comment](https://github.com/dotnet/sdk/issues/15229#issuecomment-758248846).

[2021-01-12 00:46] #15229 closed

[2021-01-12 00:52] sfoslund commented on #15228
@nohwnd this looks like it might be a test issue

[2021-01-12 04:01] satya-rajesh opened #15276 "Unable to load the service index for source https://powershell.myget.org/F/powershell-core/api/v3/index.json - Feed does not exist."
/usr/lib/dotnet/sdk/3.1.201/NuGet.targets(124,5): error : Unable to load the service index for source https://powershell.myget.org/F/powershell-core/api/v3/index.json. [/usr/src/photon/BUILD/PowerShell-7.0.3/src/powershell-unix/powershell-unix.csproj]
/usr/lib/dotnet/sdk/3.1.201/NuGet.targets(124,5): error :   Response status code does not indicate success: 404 (Feed does not exist.). [/usr/src/ph

[2021-01-12 09:17] nohwnd commented on #15228
This is caused by the rewrite to the new parsing library, there are now default values specified for hang dump and crash dump parameters which force the Blame collector to be always active. The message is then coming from the Blame collector letting you know that all test finished running.

In the linked PR I remove those values, but there are failures unrelated to the change. Could you have a loo

[2021-01-12 09:36] vdanche commented on #15226
@ryalanms "Windows desktop apps can't be run on 6.0.100-alpha.1.21056.10" ([#15198](https://github.com/dotnet/sdk/issues/15198)) has been closed, but issues still repro on WPF project on  6.0.100-alpha.1.21060.3(runtime-6.0.0-alpha.1.21059.3).

[2021-01-12 09:46] vdanche commented on #15227
Checked on net6 SDK(6.0.100-alpha.1.21060.3(runtime-6.0.0-alpha.1.21059.3)), the default tfm for create console project in CLI is net6.0, but for xunit/nunit/mstest, still is net5.0

[2021-01-12 12:22] pacorreia commented on #3935
No news about this one? any temporary workaround?

[2021-01-12 15:01] NArnott commented on #3935
For us, I think it ended up being because we had the following in our csproj, as it was built for windows before converting to Docker.

`<RuntimeIdentifier>win7-x64</RuntimeIdentifier>`

We just had to remove it. We ended up with basically this, which worked, while still using the DLL as the entrypoint in the Dockerfile.

[code]

[code]

[2021-01-12 18:54] ryalanms commented on #15226
@jkoritzinsky:  Your fix should have flowed to the SDK by now.  Can you confirm?  Thanks.

[2021-01-12 18:58] jkoritzinsky commented on #15226
I have confirmed that the fix is in .NET SDK version 6.0.100-alpha.1.21062.4.

[2021-01-12 18:59] ryalanms commented on #15226
Thanks.

[2021-01-12 19:59] wli3 commented on #15254
The side of doing that is we could potentially generating manifest file accidentally on unexpected locations. And people could run unexpected tool.

[2021-01-12 20:07] augustoproiete commented on #15254
Add a `--force` or `--trust-me` or `--i-said-install-so-just-install-it-damn-it` parameter so users can convince `dotnet tool` that they know what they are doing? :smile:

[2021-01-12 20:56] vitek-karas commented on #15272
I think this goes back to our discussion about the lack of proper support for this scenario. SDK doesn't know that it's building an application which will be loaded "in a special way". So it builds it as usual and trims everything it won't need.

`ComponentActivator` is definitely something which would need special handling - we just didn't get to it yet. I think it would probably be best to imple

[2021-01-12 21:43] rseanhall commented on #15272
Adding a feature-switch sounds like the right thing to do. I think the feature switch should be specific to `GetFunctionPointer`. As you can see in https://github.com/dotnet/sdk/issues/14385, this will require adding an MSBuild property to enable in the SDK.

In https://github.com/dotnet/sdk/issues/12043, I was told this would "create a third bucket" and was not desirable. I hope that it's becomin

[2021-01-12 21:49] vitek-karas commented on #15272
I agree that on the SDK side this could be implemented by something similar to `EnableComHosting` - maybe `EnableNativeHosting`? (I suck at naming). I'm still not sold on the idea of supporting this on applications (the fact that you build it as an app is basically a workaround to the hosting API problems - ideally it would be self-contained component) - but that's just me.

I think the important

[2021-01-12 22:02] rseanhall commented on #15272
https://github.com/dotnet/runtime/issues/46880

[2021-01-13 00:07] marcpopMSFT commented on #11555
I ran "dotnet new console", added that line to the .csproj file, and the tried both dotnet build and dotnet publish.  Both commands generated .exe files in the bin\debug\net5.0 and net5.0\publish folders respectively.  I did this with .NET SDK 5.0.101.  Are you using a different sdk or different template?

[2021-01-13 02:53] drewnoakes opened #15291 "Multiple .NET 5 targets breaks ResolvePackageDependencies task with duplicate dictionary key exception"
SDK 5.0.200-preview.20614.14

Given this project, which targets both `net5.0` and `net5.0-windows`, the design-time build fails.

[code]

The exception is:

[code]

Looking at the relevant code, it seems that both `net5.0` and `net5.0-windows` have the same value for `DotNetFrameworkName`. It seems a different identifier should be used, which encompasses the platform details as well.

There are tw

[2021-01-13 08:55] joeloff commented on #14847
So, I cloned the project and looking at a bin log.

For the Library project (which has the explicit package reference), it appears that the dependency is resolved to the specific package version (3.1.9). This package only contains a netstandard2.0 copy and publishing eventually ends up copying the assembly from the package.

Logs:
[code]

I believe this matches the expected behavior of CPVM. While

[2021-01-13 09:43] MichaeIDietrich commented on #14847
Thank you for looking at it.

When I created this issue the latest version was 3.1.9, now it is 3.1.11, so the version in the `Directory.Packages.props` needs to be updated to reproduce the issue, so that the resulting DLLs have the same version. (currently it is 3.1.11 for .NET Core 3.1)

[2021-01-13 09:47] vdanche commented on #15226
@ryalanms Thanks, today we checked on NET 6 SDK: 6.0.100-alpha.1.21062.16(runtime-6.0.0-alpha.1.21061.20), WPF for net6.0 can run successfully. But for WPF created in CLI, the default tfm is net5.0-windows not net6.0-windows.

[2021-01-13 09:56] #15226 closed

[2021-01-13 12:56] asears commented on #4169
Removing obj folder to deal with stale files was only way to get around the 'RuntimeIdentifiers' warning after upgrade.

This feature will help with modernization of projects using https://github.com/hvanbakel/CsprojToVs2017.

[2021-01-13 14:11] marcwittke opened #15297 "`dotnet build` intermittently crashes with segfault on Ubuntu 18.04"
Now and then our build agent produces broken builds. The Error message reads:
`##[error]Error: The process '/home/agent/agent/_work/_tool/dotnet/dotnet' failed with exit code null`

The project is a dotnet core 3.1 web api solution with something like 30 projects, no unmanaged stuff at all.

root cause is a segfault as seen in dmesg

[code]

Environment info:
[code]

Build agents are equipped with

[2021-01-13 14:25] mrlife commented on #11555
@marcpopMSFT Doing the same does not create the .exe file for me on macOS; this is in the linked issue but not explicitly stated in this issue. I'm guessing this is why the console project doesn't create an exe for me. I'm on the same 5.0.101 SDK.

Were you able to try out the repro?

[2021-01-13 16:56] joeloff commented on #14847
Yes, that is true, though I did it using the original project partly to make sure CPVM selected the package version that was defined even though a newer one is available. I did still notice that the files are significantly different in size (30K and 70K), the latter being native code for the win-x64 RID that was selected.

[2021-01-13 17:28] v-zubritsky opened #15306 "Dotnet tool command doesn't respect nuget packages path"
### Description
It's possible to change the path for nuget packages globally by setting `NUGET_PACKAGES` environment variable (there're other means of achieving it check the [documentation](https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders) for details) .
Once that done `dotnet tool` fails to start local tool. I guess it happens as tool was actu

[2021-01-13 18:54] joeloff commented on #15210
The configuration files isn't just for probing. It's intended to include other configuration options for your application. Probing paths are just one item that can be configured. The additional probing paths are likely a no-op.

Did you add an probing paths in your .csproj, e.g.

```<AdditionalProbingPath Include="$(USERPROFILE)\.nuget\packages" />```

[2021-01-13 19:03] maryamariyan opened #15310 "testing labeler"

[2021-01-13 19:03] #15310 closed

[2021-01-13 19:12] maryamariyan opened #15311 "testing issue labeler on sdk"

[2021-01-13 19:22] #15228 closed

[2021-01-13 19:28] joeloff commented on #15162
```dotnet-new``` has an explicit switch:```--update-check``` that should be turned off by default.

[2021-01-13 19:38] joeloff commented on #14526
@drano by "use", I take it you have a .NET 5 application trying to calling into TransformText and then hitting the error?

[2021-01-13 22:04] dsplaisted commented on #15155
If I create a console app and change the OutputType from Exe to WinExe, I don't get a FrameworkReference to Microsoft.WindowsDesktop.App.  Something else is probably bringing that in, perhaps you are targeting `net5.0-windows`, or you are referencing NuGet packages that depend on the WindowsDesktop framework.

If you can [share a binlog](https://aka.ms/binlog) then we could investigate further.

[2021-01-13 22:09] dsplaisted commented on #15153
We need more information in order to try to understand what's wrong.  The following would be helpful:

- More details about the error message you're getting, or the behavior that is incorrect
- A [binlog](https://aka.ms/binlog) of the project that is failing
- A repro project

[2021-01-13 22:33] dsplaisted commented on #4012
Documentation / further information for this change: https://docs.microsoft.com/en-us/dotnet/core/install/macos-notarization-issues#apphost-is-disabled-by-default

[2021-01-13 22:37] joeloff commented on #13395
Would a warning be sufficient to alert if multiple "." are found and the logical name is absent?

[2021-01-13 22:38] dsplaisted commented on #15149
@KirillOsenkov Are you saying you need more visibility into what the native hostfxr_resolve_sdk2 method is doing, or what the managed code calling it does with the result? (Or are you not sure?)

[2021-01-13 22:48] dsplaisted commented on #12752
Is this still an issue with current releases?  If so it sounds like we should be updating how we create the archives.

[2021-01-13 23:00] marcpopMSFT commented on #11555
Ahh, you're on MacOS. Please try setting UseAppHost=true.  A change was made specifically for MacOS to set this value to false.  See more here: https://docs.microsoft.com/en-us/dotnet/core/install/macos-notarization-issues#apphost-is-disabled-by-default

[2021-01-13 23:11] dsplaisted commented on #12637
Is this still an issue?

@zkat @nkolev92 Could you route appropriately?

[2021-01-13 23:21] drmathias commented on #12637
No longer facing this issue with the .NET 5 SDK installed.

[2021-01-13 23:58] VSadov commented on #15229
https://github.com/dotnet/runtime/issues/46771 has been fixed in https://github.com/dotnet/runtime/pull/46640

[2021-01-13 23:59] joeloff commented on #15276
A number of MyGet feeds have been removed. @clairernovotny was this one of them or would this be owned by a different org?

[2021-01-14 00:02] VSadov commented on #15229
@vdanche @sfoslund  -  I am wondering, was this a regression from 5.0 or we have a similar problem there too?
Does the same scenario work when compiled with 5.0 SDK and the app is run in the same environment?

[2021-01-14 00:05] clairernovotny commented on #15276
I don't know anything about a PowerShell MyGet instance, only about the dotnet one, sorry.

[2021-01-14 00:06] dagood commented on #12752
`install-dotnet-preview.sh` isn't used with stable releases, only previews. If we're going to use this script/payload style again with 6.0.0-preview.1, it will probably still be an issue.

/cc @NikolaMilosavljevic @dleeapho FYI as well

[2021-01-14 01:04] vdanche commented on #15229
@VSadov The same scenario work when compiled with 5.0 SDK and the app is run in the same environment

[2021-01-14 01:15] VSadov commented on #15229
Thanks @vdanche, it is good to know! It means that we do not need to port the same fix to 5.0 servicing.

CC: @jeffschwMSFT

[2021-01-14 03:22] KirillOsenkov commented on #15149
The former, I want to know what decisions the native hostfxr_resolve_sdk2 did and why. Because it's impossible to debug, all I get is a decision, but why it chose that SDK is completely unclear. It should say "used this environment variable" or something.

[2021-01-14 03:22] KirillOsenkov commented on #15149
And then I guess it's a separate story to thread that output through the managed code so it ends up as an Evaluation message in the binlog

[2021-01-14 05:50] aersamkull commented on #13395
Yes, however I'd prefer an error. But a warning is ok.

[2021-01-14 06:38] vuplea commented on #15210
Thanks, @joeloff .
The above shown `additionalProbingPaths` are the default ones i.e. `dotnet new console & dotnet build`.

I wanted to make sure that the file has no effect by default.
* We do not plan to use `CopyLocalLockFileAssemblies=false` for developer builds as it had no discernible effect in build time when tested.
* We are planning to deploy build (not publish) output since it seems easi

[2021-01-14 07:38] JiahongJin1 opened #15324 "Some version numbers are not updated on .Net 6 SDK installation wizard."
Repro steps:
Update .NET 6 SDK(6.0.100-alpha.1.21063.16) from https://github.com/dotnet/installer
Double click the .exe file go to install wizard and check the version number.

Expected Result:
1.Visual Studio 2019 version display 16.8
2.Release Notes address display https://aka.ms/dotnet5-release-notes

Actual Result:
1.Visual Studio 2019 version should be 16.9
2.Release Notes address should be h

[2021-01-14 09:17] vdanche opened #15325 "The docs link for NET 6.0 in CLI should be updated."
Repro steps:
Install .NET 6 SDK(6.0.100-alpha.1.21063.28) from https://github.com/dotnet/installer
In CLI, run "dotnet new razor" and observe the contents

Expected  Result:
The link for net 6.0 should be updated.

Actual Result:
The link is still for net 5.0
![image](https://user-images.githubusercontent.com/65637796/104569858-30dafc00-568c-11eb-83e7-c2d177a25b4b.png)

[2021-01-14 09:32] NicoleWang001 commented on #15230
@sfoslund, we used .rpm installer from link https://aka.ms/dotnet/net6/dev/Sdk/dotnet-sdk-x64.rpm

[2021-01-14 09:44] vdanche commented on #15228
Checked on NET 6.0 SDK(6.0.100-alpha.1.21063.28) the issue has been fixed on xunit/nunit/mstest.
![image](https://user-images.githubusercontent.com/65637796/104573629-10ad3c00-5690-11eb-946a-a10a53ca21d2.png)

[2021-01-14 09:55] dove commented on #14502
@kirsan31 I've added just the following and only the following
`[assembly: System.Runtime.Versioning.SupportedOSPlatform("windows7.0")]`

be sure not to add after adding
`[assembly: System.Runtime.Versioning.SupportedOSPlatform("windows")]`

Adding both only removes only the windows warning but not the Windows 7.0 warning.  Adding the first removes both.

[2021-01-14 09:55] nohwnd commented on #15228
Perfect, I was going to check today but you beat me to it :)

[2021-01-14 09:56] czdietrich opened #15326 "Option to use the latest available patch version for the runtime framework for self-contained publishing"
**Description**

When a .NET Core app is published as self-contained build, the publish mechanism will automatically opt-in to use the latest runtime framework patch version by setting `TargetLatestRuntimePatch` to `true`. This option uses information provided by the used .NET Core SDK to determine what patch version should be used. (e.g. for .NET Core SDK 3.1.404 the information is stored here: C

[2021-01-14 11:31] Chicken-Bones commented on #15155
I can no longer replicate this. Sorry for taking your time.

[2021-01-14 11:31] #15155 closed

[2021-01-14 13:18] shunlir opened #15330 "dotnet-sdk-3.1 installation fails on SLES 12: cpio: read failed - No such file or directory"
md5sum /var/cache/zypp/packages/packages-microsoft-com-prod/dotnet-runtime-3.1.11-x64.rpm
97d0a60f4d2fa5d999aca68068d6ea66  /var/cache/zypp/packages/packages-microsoft-com-prod/dotnet-runtime-3.1.11-x64.rpm

zypper install dotnet-sdk-3.1
Refreshing service 'SUSE_Linux_Enterprise_Server_12_SP5_x86_64'.
Refreshing service 'SUSE_Linux_Enterprise_Software_Development_Kit_12_SP5_x86_64'.
Refreshing ser

[2021-01-14 13:42] msallin opened #15333 ".NET Analyzers: CA1508 false positive"
The line `bool nullable = IsNullable(objectType);` of the following code block emits a CA1508, which is wrong.

[code]

[2021-01-14 14:03] #15311 closed

[2021-01-14 14:08] ramsubbaraoc commented on #14881
@GrabYourPitchforks Please can you suggest on this. Thank you

[2021-01-14 14:24] mrlife commented on #11555
@marcpopMSFT Thanks for pointing that out; I hadn't noticed that in any of the posted changelogs. I'm still not seeing an .exe file when using this in the .csproj:

[code]

[2021-01-14 15:51] jnm2 commented on #15321
@jaredpar Yes. The reason I opened it here and not in the SDK repo is because the .targets file that creates the pathmap seems to live in the Roslyn repository as shown by https://github.com/dotnet/roslyn/pull/25325/files#diff-ff36db066709f0eb75570259566cf9a14c4009fb1d1ead1097b040c7ff27c3e4R124.

[2021-01-14 16:44] jaredpar commented on #15321
Hmm, @tmat what is the appropriate repo for this bug?

[2021-01-14 17:59] sfoslund commented on #15209
Fixed by:
https://github.com/dotnet/sdk/pull/15267
https://github.com/dotnet/sdk/pull/15266
https://github.com/dotnet/toolset/pull/5075
https://github.com/dotnet/toolset/pull/5079
https://github.com/dotnet/installer/pull/9397

[2021-01-14 17:59] #15209 closed

[2021-01-14 18:08] dsplaisted commented on #12631
@wli3 @sfoslund @KathleenDollard What is the intended behavior here?

[2021-01-14 18:19] richlander commented on #15263
Looks like you need macOS 11.2 Beta. Can you try that?

Context: https://github.com/dotnet/runtime/issues/44897#issuecomment-760333312

[2021-01-14 18:24] dsplaisted commented on #12610
It looks like the library depends on System.Configuration APIs which are part of the "platform extensions".  The System.Runtime.Caching package has a package dependency on System.Configuration.ConfigurationManager, which is the NuGet package that includes those platform extension APIs.

So I think the portability analyzer is reporting correctly, but the NuGet package is authored so you don't have

[2021-01-14 18:24] #12610 closed

[2021-01-14 21:31] joeloff commented on #15276
@satya-rajesh the SDK doesn't own the myget feed you're trying to access. and it appears to no longer exist. Your best bet would be to reach out to Powershell owners who likely removed the feed or perhaps reach out to MyGet to confirm.

[2021-01-14 21:31] #15276 closed

[2021-01-14 22:03] GF-Huang opened #15342 "����ȷ��Ҫ��ԭ����Ŀ��"
I don't know how to describe this issue.

![image](https://user-images.githubusercontent.com/4510984/104654543-3de10500-56f7-11eb-9284-f06f591f8012.png)

[code]

[2021-01-14 22:06] GF-Huang commented on #15342
And this stupid issue still not fix.

![image](https://user-images.githubusercontent.com/4510984/104654897-d4152b00-56f7-11eb-9262-2ea53a559a65.png)

[2021-01-14 23:26] sfoslund commented on #12631
This seems like expected behavior to me, is the confusion that it's not matching the output from the docs you linked?
<img width="227" alt="dotnetCompleteOutput" src="https://user-images.githubusercontent.com/16010855/104661091-a9d25780-567c-11eb-8fc2-bf491c7f7e9d.PNG">

It looks like the docs output has a `dotnet migrate` suggestion that I don't recognize. Could this be a docs issue?

[2021-01-14 23:42] sfoslund commented on #15230
@wli3 is this a regression? It looks like the rpm installers haven't been touched beyond branding updates in several years.

[2021-01-15 00:16] #1227 closed

[2021-01-15 03:40] WeihanLi commented on #14609
Try remove the `global.json`, it seemed 3.1 sdk was removed when I install .net 5 sdk

[2021-01-15 05:27] wli3 commented on #14881
@blowdart ?

[2021-01-15 06:14] wli3 commented on #12631
This is indented to complete with contains. We've removed the dotnet migrate already. @sfoslund looks like it is a bug in completion. Could you help look into it?

[2021-01-15 07:03] netroby opened #15347 "Dotnet Missing tools for development."
![Snipaste_2021-01-15_15-01-24](https://user-images.githubusercontent.com/66301650/104692296-b4efbb00-5742-11eb-8c8d-ed912800edbd.png)

Hello, dotnet missing some tools for help normal user to develop dotnet app(None paid )

If you want to use these tools, You should buy them from Visual Studio enterprise edition.

Any idea for this?

[2021-01-15 07:24] jiangzeng01 opened #15348 "[6.0.100-alpha.1.21064.27 ] dotnet watch test command missing"
**Application Name:**  dotnet watch
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-alpha.1.21064.27
**DevDiv bug:** [https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1266497](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1266497)

 **Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-alpha.1.21064.27: Fail

[2021-01-15 07:35] jiangzeng01 opened #15349 "[6.0.100-alpha.1.21064.27 ] dotnet commands syntax error"
**Application Name:**  GlobalTool apps
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-alpha.1.21064.27
**DevDiv bug:** [https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1266489](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1266489)

**Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-alpha.1.21064.27: Fa

[2021-01-15 08:22] jiangzeng01 opened #15350 "[6.0.100-alpha.1.21064.27] dotnet tool fake template build failed with error MSB1009: Project file does not exist"
**Application Name:** GlobalToolsNETCore21Part01
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-alpha.1.21064.27
**DevDiv bug:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1266536](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1266536)

**Repro steps:**
1.Open cmd.exe from %windir%\System32
2. Input install command:  dotnet tool install -g fake-cli --versi

[2021-01-15 08:32] WenyunZou commented on #14711
I used `dotnet --list-sdks` command and Regex to get the sdkPath:
`var rx = new Regex($"({targetVersion}[.]\\d+[.]\\d+).*\\s[[](.*)[]]", RegexOptions.Compiled);`
and:
`MSBuildLocator.RegisterMSBuildPath(msbuildPath);`

A workaround solution.

[2021-01-15 09:25] jiangzeng01 opened #15351 "[6.0.100-alpha.1.21064.27] dotnet build -clp:NoSummary failed to build project"
**Application Name:**  nuke global tool app
**OS:** Windows 10 RS5
**CPU:** X64
**.NET Build Number:** 6.0.100-alpha.1.21064.27
**DevDiv bug:** [https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1266557](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1266557)

**Verify Scenarios:**
1). Windows 10 RS5 X64 + .NET Core SDK build 6.0.100-alpha.1.21064.27: Fail
2). Windows 10 RS5 X64 + .NE

[2021-01-15 09:26] jiangzeng01 commented on #15351
RoslynPad app also failed with this issue.

[2021-01-15 10:48] Confuzed opened #15353 "5.0.2 documentation links are broken"
The documentation links in the 5.0.2 release (here, on GitHub) are broken. They were linked to the "preview" version, and haven't been updated. I think the links should be:

Release Notes: https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.2/5.0.2.md
Install Instructions: https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.2/5.0.2-install-instructions.md

[2021-01-15 10:50] tripleacoder commented on #14553
I get the same error, specifically:

Both projects use the TFM "net50-windows".

[2021-01-15 15:06] blowdart commented on #14881
@bartonjs

[2021-01-15 15:48] JamesQMurphy commented on #15051
This is also an issue for repositories that still use TFVC, where files are set to read-only during a "get latest" operation.  I'm using a similar workaround in my build pipeline, where I am removing the read-only attribute from the web.config file prior to calling `dotnet publish`.

[2021-01-15 16:01] mahamr commented on #14692
I just read up on the .NET 5 Networking changes and came across this: https://devblogs.microsoft.com/dotnet/net-5-new-networking-improvements/#consistent-cross-platform-implementation

This effectively means the scenario I opened this issue for is now completely broken when the dotnet CLI used is from .NET 5 as of now.

[2021-01-15 18:13] sfoslund commented on #12631
@wli3 Can you clarify what you mean here? What should the expected behavior be?

[2021-01-15 18:29] wli3 commented on #12631
`dotnet complete` behaves with `Contains` is the right behavior

[2021-01-15 19:44] CKeeneARC opened #15366 "Blazor WASM .NET5.0 Standalone publish action fails with "GenerateBundle" and "Must specify the host binary" errors"
Unable to publish a standalone Blazor WASM app using .NET5.0. Build works fine, but during the Publishing build step suddenly get:

C:\Program Files\dotnet\sdk\5.0.102\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Publish.targets(1016,5): error MSB4018: The "GenerateBundle" task failed unexpectedly. [C:\Users\ctk\ArcDigitalDisplayBoardWasm\ArcDigitialDisplayBoardWasm.csproj]
C:\Program Files\dotnet

[2021-01-15 19:44] CKeeneARC commented on #15366
Entire project file:

<Project Sdk="Microsoft.NET.Sdk.BlazorWebAssembly">

  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    <PlatformTarget>x64</PlatformTarget>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <OutputType>Exe</OutputType>
    <PublishedTrimmed>true</PublishedTrimmed>

[2021-01-15 19:59] CKeeneARC commented on #15366
A better view of the project file.

![image](https://user-images.githubusercontent.com/69917779/104772898-34c95580-5742-11eb-83bc-99968b453d98.png)

[2021-01-15 20:04] CKeeneARC commented on #15366
Does compile if I leave out "PublishSingleFile = true", but that is actually the one option that made me choose Blazor in the first place.

[2021-01-15 20:17] CKeeneARC commented on #15366
Environment info:

.NET SDK (reflecting any global.json):
 Version:   5.0.102
 Commit:    71365b4d42

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.102\

Host (useful for support):
  Version: 5.0.2
  Commit:  cb5f173b96

.NET SDKs installed:
  3.1.200 [C:\Program Files\dotnet\sdk]
  3.

[2021-01-15 21:10] nkolev92 commented on #14553
@tripleacoder

What's your SDK version?
If you look at your error more closely, it says, net50-windows7.0 is .NET Framework, which is how SDKs older than 5.0.100 would interpret

[2021-01-15 23:52] dsplaisted opened #15370 "Generate errors for assembly version conflicts for Microsoft.Windows.SDK.NET"
The Windows CSWinRT API targeting packs are going to be updating regularly. This means that libraries compiled with newer versions of the .NET SDK will have an assembly reference to higher versions of Microsoft.Windows.SDK.NET.dll. If a project that is using an older version of the .NET SDK consumes an updated library (ie via a NuGet package), then there will be an MSB3277 warning from ResolveAsse

[2021-01-17 04:42] PieroCastillo opened #15378 "How to print Cross-Platform?"
Hi guys, I develop with AvaloniaUI, this UI framework works with Windows, MacOS, Linux; now I wanna make a PrintDialog, but I don't know if there is a Printers Sdk, is there this?

[2021-01-17 15:55] Fancyflame commented on #14867
@kouvel
I'm so sorry for reply such lately. Here is the file. [trace.log](https://github.com/dotnet/sdk/files/5826342/trace.log)
In fact, because of Rust's outstanding compatibility and performance, I chose Rust instead of C# eventually, hence fixing this problem is not urgent for me now and that's why I forgot to reply you. Still, I'm willing to settle this problem.

[2021-01-18 00:26] csharpfritz opened #15381 "Global Tool Update help script is not accurate"
`dotnet tool update --help` reports:

[code]

The argument for update is expecting not the NuGet package id, but rather the command name.

Instead of:

`dotnet tool update Microsoft.EntityFrameworkCore.Tools`

we should execute

`dotnet tool update dotnet-ef`

Recommendation:  change

`<PACKAGE-ID>The NuGet Package Id of the tool to update`

to

`<COMMAND>  The dotnet command-name to update`

[2021-01-18 01:57] vdanche commented on #15229
Fixed on NET 6 SDK--6.0.100-alpha.1.21064.46(runtime-6.0.0-alpha.1.21063.13)

![image](https://user-images.githubusercontent.com/65637796/104864306-902e5a00-5973-11eb-896e-b2b9a2572558.png)

[2021-01-18 02:16] Oldwangtouchtouchdoge opened #15382 "dotnet tool install failed to install tool package “dotnet-aspnet-codegenerator”: Could not find a part of the path"
I encountered a problem when I trying to install dotnet-aspnet-codegenerator by running:
`dotnet tool install --global dotnet-aspnet-codegenerator`
error message:
`Failed to install tool package “dotnet-aspnet-codegenerator”: Could not find a part of the path 'C:\Users\123\.dotnet\tools\.store\.stage\krgqts5g.44l\dotnet-aspnet-codegenerator'.`
I have 3.1.405 and 5.0.102 version sdks installed, whe

[2021-01-18 02:17] #15382 closed

[2021-01-18 10:04] netsharpdev commented on #15223
Reinstallation helped! Thanks!

[2021-01-18 10:04] #15223 closed

[2021-01-18 13:01] JensNordenbro commented on #12413
@wli3 ; Is this fixed in "5.0.2xx" ?
I tried now but it does not publish to win10-arm64, however it did last friday(could have been me)

[2021-01-18 13:14] JoeWiseman commented on #10708
Hi there,
I'm on VS 16.8.4 and when opeing and compiling a VB.Net-Windows-Form App I get the error message mentioned above...
I just inserted a button to go through the tutroial "Hello World" but could not compile it.....
I'm quite new to VS so if you need any further information please let me know (but also where to find it :-D)
Would be great to get some help!
Best regards
Joe

[2021-01-18 16:32] valeria-tejada-incontact opened #15389 "Previous arm64 solutions build stop working"
### Describe the Bug

On our current solutions, we use dotnet build for arm64 architecture using sdk:3.1.402-bionic-arm64v8 image, this used to work properly until December 20th, after that date we experienced a return code 1.

### Steps to Reproduce

1. Create a base solution using netcore 3.1
2. Add docker support
3. Insert the following docker code:
`FROM mcr.microsoft.com/dotnet/core/runtime:3

[2021-01-18 22:41] dsplaisted commented on #12421
The issue is that the Microsoft.VSSDK.BuildTools NuGet package doesn't support the `dotnet` version of MSBuild (which runs on .NET 5 / .NET Core instead of .NET Framework).

I'm not sure where exactly to direct this issue, but I've sent an email internally to try to find out.

[2021-01-18 23:08] #12408 closed

[2021-01-18 23:11] dsplaisted commented on #12396
Is this still an issue?  If so, could you [share a binlog](https://aka.ms/binlog) of a command-line build using `msbuild` instead of `dotnet`?

Thanks

[2021-01-18 23:11] #12396 closed

[2021-01-18 23:15] dsplaisted commented on #12196
@sfoslund Can you take a look at this?  It looks like a pretty simple fix, but be aware that `IsPublishable` defaults to true in a targets file that probably isn't imported in the outer build of multi-targeted projects, so we'll probably also need to set it to a default value in one of the crosstargeting targets files.

[2021-01-19 02:15] dsplaisted commented on #12166
@nohwnd @jakubch1 Can you answer or route this?  The command line argument in question is piped through to the VSTestBlameHangTimeout property.

[2021-01-19 09:06] nohwnd commented on #12166
@PDostalek what is the question?

[2021-01-19 09:15] ramsubbaraoc commented on #14881
Any suggestions on this. Thank you

[2021-01-19 11:19] haiyuzhu opened #15392 "Why set TargetExt to .dll even if the OutputType is Exe on .NETCoreApp?"
I found `TargetExt` was set to `.dll` on .NETCoreApp projects in [Microsoft.NET.Sdk.BeforeCommon.targets](https://github.com/dotnet/sdk/blame/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.BeforeCommon.targets) even if the `OutputType` is `Exe`. Could anybody help me understand the story here？ Thanks
[code]

[2021-01-19 16:37] clairernovotny opened #15395 "Enable Source Link, Generators, and custom props/targets to work with WPF in 5.x"
There were two issues fixed in WPF for 6.0 that were just back-ported to 5.0.2/5.0.3 behind an opt-in flag. It's opt-in with WPF as they can't differentiate between runtime and SDK.

The SDK (5.0.200/300) needs to enable this property by default so PackageReferences and custom BaseIntermediateOutputPath fully work in WPF. This will unblock Generators, Source Link, and any other NuGet package that

[2021-01-19 16:45] clairernovotny commented on #15395
@tmat @jaredpar

[2021-01-19 16:57] JensNordenbro opened #15396 "Multitarget net48 problem"
I have a large solution with many projects.
If I multitarget net5.0;net5.0-windows for all of them but if I multitarget also net48 all but 1 of the assemblies compile.

When building the following CA1000 error appears:
![image](https://user-images.githubusercontent.com/9577365/105067170-bc370180-5a7f-11eb-8d0b-b7561087512b.png)

Not sure what to do!

It should be noted that the project that failes

[2021-01-19 17:10] clairernovotny commented on #15396
Dup of https://github.com/dotnet/sdk/issues/15291

[2021-01-19 18:43] GrabYourPitchforks commented on #14881
.NET respects the system-wide OpenSSL configuration. See https://docs.microsoft.com/dotnet/core/compatibility/cryptography/5.0/default-cipher-suites-for-tls-on-linux for more information and for an example of what the configuration file looks like.

/cc @krwq for further info.

[2021-01-19 19:06] Zastai opened #15398 "SignFile task referenced, but not provided, in Microsoft.Build.Tasks.Core"
When using `dotnet build`, attempting to sign assemblies results in

[code]

It is declared in Microsoft.Common.tasks:

[code]

It looks like the task is only present in the .NET Framework version of the assembly, not in the standard/core version.

Oddly, the backend signing methods ARE present in the core assembly (`SecurityUtilities.SignFile()`), so there does not seem to be any reason to omit t

[2021-01-19 19:09] SpiridonovAlexMoeDelo opened #15399 "dotnet tool list -g failed when run multiple times simultaneously"
## Prerequisites
1. net50 sdk and runtime are installed. May be another core sdks affect. Sorry, I don't have a clear computer to make pure experiment.
2. Any dotnet tool is installed. I have an installed fluentmigrator. I installed it by next command:
[code]
Seems it doesn't matter what dotnet tool is installed

## What to do
Run multiple commands
[code]
It matters to do it **simultaneously**
I w

[2021-01-19 19:32] krwq commented on #14881
For global settings you do it per link above. If you want to do it for TLS session then use:
https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslclientauthenticationoptions.ciphersuitespolicy?view=net-5.0#System_Net_Security_SslClientAuthenticationOptions_CipherSuitesPolicy

For HttpClient you will need to use it with https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socke

[2021-01-19 21:04] AraHaan opened #15401 "Add IDisposableAnalyers."
Why?

Well most .NET projects will install the nuget package anyway, I think the .NET SDK should install it for us and enable it when the .NET Analyzers are also enabled.

The main reasoning behind this is that it encourages proper use and implementations on IDisposable (from https://github.com/DotNetAnalyzers/IDisposableAnalyzers) It proves to be a great asset for many .NET Developers and also he

[2021-01-19 21:06] AraHaan commented on #15291
net5.0-windows is an extension to net5.0 which I think it considers it to be almost the same thing (just that it adds the ability to specify that you want it to use Windows only APIs with it as well).

[2021-01-19 21:30] ryalanms commented on #15225
I'm also seeing this.  Builds succeed with the .NET Core CLI, but fail with VS/msbuild.

(_CreateAppHost target) ->
  C:\Program Files\dotnet\sdk\6.0.100-alpha.1.21068.3\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.targets(512,5):
 error MSB4018: The "CreateAppHost" task failed unexpectedly. [C:\wpftests\wpftests.csproj

/cc @dotnet/wpf-developers

[2021-01-19 22:04] CKeeneARC commented on #15366
COREHOST_TRACE=1 output:
-- Invoked apphost [version: 5.0.2, commit hash: cb5f173b9696d9d00a544b953d95190ab3b56df2] main = {
ArcDigitialDisplayBoardWasm.exe
}
Redirecting errors to custom writer.
The managed DLL bound to this executable is: 'ArcDigitialDisplayBoardWasm.dll'
Using internal fxr
Invoking fx resolver [C:\Users\ctk\ArcDigitalDisplayBoardWasm\bin\release\net5.0\] hostfxr_main_startupinf

[2021-01-19 23:08] marcpopMSFT commented on #11555
I don't have a Mac set up to see if UseAppHost is working so I've asked @wli3 to take a look when he has a minute.

[2021-01-19 23:54] marcpopMSFT commented on #15324
There are no breaking changes yet that I'm aware of that would prevent net6 from working on 16.8 though I haven't tested it.  I'll get the aka.ms link updated.

[2021-01-20 00:09] sfoslund commented on #15350
This is another instance of the issue in https://github.com/dotnet/sdk/issues/15349, I'll close this and track the bug there.

[2021-01-20 00:09] #15350 closed

[2021-01-20 01:40] AraHaan opened #15407 "When building nuget packages with a nuspec using $configuration$ in it is a null or empty string resuling in failures."
I made an nuspec file which then I had to provide a specific copy for debug / release just because of the fact that it seems $configuration$ is not passed to the nuspec somehow and then package making fails to pack in files due to it not being set.

I also tried within the csproj on the files individually with set to ``bin\$(Configuration)\$(Platform)\$(TargetFramework)\[the output file name]`` on

[2021-01-20 01:55] AraHaan commented on #15392
NAB, it is intended as it outputs an stub (dotnet.exe customized with resources added to the projected itself) that becomes the actual exe that loads the dll on that.

[2021-01-20 02:00] AraHaan opened #15408 "Allow setting projects meant to only be used to not compile code as Non applicable for building."
This is to avoid any CSC warnings about there being no code in the project (obviously there would be no code if we do not mean for the csproj to build anything except generating nuspec / providing our own nuspec to the .NET pack targets files in the .NET SDK (so we can use dotnet pack with it).

[2021-01-20 02:23] kouvel commented on #14867
Thanks @Fancyflame. It looks an `flock` system call is failing with `EACCES`:

[code]

The file lock is taken on the `shm` directory to synchronize shared memory initialization and teardown between processes for the mutex. I'm not sure why `flock` would return `EACCES`, it doesn't seem to be documented as an error condition. By this point the permissions on the directory tree up to `shm` have succ

[2021-01-20 03:29] nealef commented on #4134
Would you explain what your solution was or what you had mis-specified? I am seeing the same.

[2021-01-20 04:52] CorrM commented on #9966
That's works for me https://github.com/dotnet/sdk/issues/9966#issuecomment-443468788

But why it's not documented until now !!

[2021-01-20 05:55] wli3 commented on #14881
Thanks all. Closing this issue since the question is answered.

[2021-01-20 05:55] #14881 closed

[2021-01-20 05:58] ramsubbaraoc commented on #14881
Thanks all.

[2021-01-20 06:03] BolatovAlau opened #15411 "Sdk File"
Why .sln file is so complicated? It has his own format, and really hard to edit it.
I wanted to create app, which would help us to build projects faster, everything was ok, except .sln file
why won't you use simple json format, and why can't i create random GUID for new projectType and Id?

[2021-01-20 06:56] vdanche opened #15412 "With .NET 6 SDK, Create xunit/mstest failed in CLI if not specify tfm"
Repro steps:
Install .NET 6 SDK(6.0.100-alpha.1.21069.22) from https://github.com/dotnet/installer
Run "dotnet new xunit" or "dotnet new mstest" in CLI

Expected Result
xunit/mstest should be created successfully

Actual Result:
Created failed
![image](https://user-images.githubusercontent.com/65637796/105138141-73d71c80-5b2f-11eb-9680-387011c0afee.png)

Note:
Not repro on nunit(dotnet new nunit)

[2021-01-20 09:16] JensNordenbro commented on #15396
Hi @clairernovotny; is it really a "Dup" ? , the exception/error message is not the same as in #15291 although both are about multi targeting.

[2021-01-20 09:23] dmslowmo commented on #12921
What solved it for me on Mac:
Add to PATH: `~/.dotnet/tools`

[2021-01-20 10:45] sewalsh commented on #4134
Oh jeez! My memory is failing me as to what it was exactly but I'd recommend checking the appsettings.[Dev/Prod].json to see the port that the endpoint is running under. Check if there's already an instance of the app running with that port number (if you're using PM2 to manage the app process, it might already be running in the background). You could remove the reference to the port number in the

[2021-01-20 11:41] radiy opened #15416 "dotnet test and maxCpuCount"
Currently it`s impossible to control maxCpuCount when using dotnet test command.
MaxCpuCount hard coded to all cpu due to [0].
Reducing cpu count is essential when running integration tests against database,
concurrent execution in that case leads to unstable tests.
It would be helpful to add --max-cpu-count parameter to dotnet test command.

[0] - https://github.com/dotnet/sdk/blob/b91b88aec2684e

[2021-01-20 12:36] AraHaan commented on #15411
@BolatovAlau I think solution file should be simple xml like the project system.

[2021-01-20 12:57] clairernovotny commented on #15396
The underlying cause the issue with ResolvePackageDependencies, appears to be the same at first glance.

[2021-01-20 13:46] dasMulli commented on #15392
A similar discussion happend in the 2.0 timeframe b/c `Exe` as output type has nothing to do with the actual file extension and just means "i intend to run this thing and it therefore should have an entry point (Main method) and anything needed to run it". For portable apps this means a `.dll` file, for framework-dependent executables or self-contained apps no extensions (linux, macOS) or a `.exe`

[2021-01-20 16:59] dsplaisted commented on #15412
@nohwnd Have the mstest and xunit templates been updated to target .NET 6?

[2021-01-20 17:01] gregpechiro opened #15423 "NuGet Authentication Plugin does not launch on Mac"
We have a private artifacts feed through Azure DevOps Server. We are unable to restore from this source on Macs. We have setup the [Azure DevOps Credential Provider](https://github.com/microsoft/artifacts-credprovider) plugin and the necessary environment variables in order to authenticate this feed but it still fails. The underlying error we get is
`System.Net.Http.CurlException: Login denied`
Ac

[2021-01-20 18:28] wli3 commented on #14956
@marcpopMSFT note _(stand alone installer)Exe/msi. Convert CLI command to msi command. Muti-targeted library._ is now committed after today's meeting. Since Blazor desktop would want this.

[2021-01-20 19:12] sfoslund commented on #12196
Fixed in 5.0.2xx by #15402

[2021-01-20 19:12] #12196 closed

[2021-01-20 20:04] marcpopMSFT commented on #15220
I suggest you create a [binlog](https://aka.ms/binlog) and look there for any errors if they aren't being output.

[2021-01-20 20:06] marcpopMSFT commented on #15225
@richaverma1 Has your test team run into this with preview 3?

[2021-01-20 20:07] marcpopMSFT commented on #15227
Each template sets its own default.  Moving to the templating repo for tracking.

[2021-01-20 20:08] marcpopMSFT commented on #15348
We expect this to get fixed by https://github.com/dotnet/sdk/pull/15362

[2021-01-20 20:14] 0xced commented on #11423
Actually, this is a known issue with MSBuild, see https://github.com/dotnet/msbuild/issues/3897

[2021-01-20 20:19] MichaeIDietrich commented on #14847
Hi @joeloff

I am currently not completely sure about the current state of this issue, since there isn't any label.
Is the current result the expected behavior, since even without CPVM this behavior can result in a conflict.

[2021-01-20 20:27] joeloff commented on #14847
Hi @MichaeIDietrich

Sorry about that. Yes, this is expected behavior

[2021-01-20 20:38] dsplaisted commented on #12160
Hi folks,

If this is still an issue, can someone provide more details?  The following would be helpful:

- [Binary logs](https://aka.ms/binlog) of the failing pack operation, as well as of the build that preceded it
- The yml file where this is failing
- Repro steps

[2021-01-20 20:45] dsplaisted commented on #12178
`Platform` is a [common MSBuild property](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-2019).  If it is set, then it will be part of the output path (for example `bin\foo\debug` if the Platform is `foo`).

So the issue is that the app was built into one folder (`bin/Debug`), but when you tell it to run without building it is looking in a different

[2021-01-20 20:45] #12178 closed

[2021-01-20 20:58] richaverma1 commented on #15225
@marcpopMSFT no we didn't see this error but we have been testing against 16.9 Preview 4 and not Preview 2.

[2021-01-20 21:11] MichaeIDietrich commented on #14847
Hi @joeloff

thank you for the quick response.

Just to be sure, I created another small repo that doesn't use CPVM, but instead one project references the other one:
see: https://github.com/MichaeIDietrich/TestDllConflictWithFrameworkReference

Publishing the solution with detailed logging results in this conflict message:

Is this still expected behavior?

[2021-01-20 21:23] AraHaan commented on #15407
cc @dsplaisted

[2021-01-20 21:23] AraHaan commented on #15401
cc @dsplaisted

[2021-01-20 21:32] joeloff commented on #14847
Let me take a closer look and get back to you. I suspect though that if you flip the package references that it would select the netstandard copy. Likely because they're of equal version and it simply selects the first one.

[2021-01-20 22:37] nealef commented on #4134
Thanks! I'll check it out.

[2021-01-20 22:54] JamesNK commented on #15225
I updated VS to preview 3 and I still see this

[code]

[2021-01-20 23:00] sewalsh commented on #4134
Let me give you some files of a working example I have of a .net 5 core api project.

appsettings.production.json

`{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=DB;Username=username;Password=password"
  }
}`

I m

[2021-01-20 23:07] nealef commented on #4134
Nice, thanks again!

[2021-01-20 23:15] crsuzukimsft commented on #14832
@wli3 Could you please triage?

[2021-01-21 01:41] dsplaisted commented on #15407
@zkat @nkolev92 When running the pack target, is there a way to pass the configuration through to a nuspec file that is specified with the `NuspecFile` property in MSBuild?  See https://github.com/Elskom/Sdk/blob/f4fed059a2c68b489829b4d9a5567a9e3af4d1f0/Elskom.Sdk/Elskom.Sdk.csproj#L24-L35

[2021-01-21 01:44] dsplaisted commented on #15401
@mikadumont @terrajobst Can one of you route this request?

[2021-01-21 01:46] nkolev92 commented on #15407
Yep, `NuspecProperties`

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec has an example.

[2021-01-21 02:08] dsplaisted commented on #15407
@AraHaan Then what I think you want to add is this:

[code]

[2021-01-21 02:08] #15407 closed

[2021-01-21 02:14] AraHaan commented on #15408
cc @dsplaisted

[2021-01-21 02:16] AraHaan commented on #15408
It does say that ``NoBuild`` can be used to skip building on dotnet pack on the project with nuspec, however what if I am running dotnet build to build other projects in the solution that just so happens to have the project with the nuspec only.

[2021-01-21 03:48] dsplaisted commented on #15408
Is this what you are looking for? https://github.com/microsoft/MSBuildSdks/tree/master/src/NoTargets

[2021-01-21 05:06] AraHaan commented on #15408
Oh that looks to be similar.

[2021-01-21 05:38] wli3 commented on #14832
Sorry for the delay. '{0}' refers to the location of the response file. If the user want to use response file `c:\myfile.rsp`, but that file does not really exist. It will cause error "Response file not found 'c:\myfile.rsp'"

[2021-01-21 05:41] wli3 commented on #15174
I don't see a `{1}` in the source string _Use current runtime as the target runtime._ The source string is wrong?

[2021-01-21 05:42] wli3 commented on #13680
@nohwnd could you see if this is ok? Files under dotnet-test belong to your team

[2021-01-21 05:42] wli3 commented on #12703
@nohwnd this is a similar request

[2021-01-21 07:56] kpreisser opened #15434 "PlatformTarget is not set when Platform is "arm64" (MSBuild)"
Hi!

I noticed that when building .NET 5 projects on Windows and using one of the values `x86`, `x64`, `arm` (or `ARM`) for `Platform` (MSBuild property), the `PlatformTarget` property seems to automatically be set by the SDK to the `Platform` value. However, when using `arm64` (or `ARM64`), it doesn't seem to get set, and it seems to assume `AnyCPU` (so the copied apphost EXE is not necessarily o

[2021-01-21 09:30] vdanche commented on #15412
The issue has been fixed on NET 6SDK: 6.0.100-alpha.1.21070.34(runtime-6.0.0-alpha.1.21070.2) and the the mstest and xunit templates been updated to target .NET 6.
![image](https://user-images.githubusercontent.com/65637796/105331158-1960bd80-5c0e-11eb-8fd0-1736fb64176d.png)

[2021-01-21 09:30] #15412 closed

[2021-01-21 09:58] nohwnd commented on #15412
https://github.com/dotnet/test-templates/pull/118 This is the fix PR. We got the templates updated via PR, and the priority was not set correctly. As you noticed it is already merged, and it propagated to installer yesterday.

[2021-01-21 09:59] nohwnd commented on #13680
Yes it is okay. Thanks.

[2021-01-21 09:59] #13680 closed

[2021-01-21 10:00] nohwnd commented on #12703
@cristianosuzuki77  they should be kept literal.

Is there a way to communicate this better in the future?

[2021-01-21 11:36] Erythnul commented on #11953
@dsplaisted Is any progress being made on this issue? We've run into the same problem on our Azure Pipelines builds using dotnet publish.
When we publish a solution a wrong version of Newtonsoft is added to the zip, when we publish one of the csproj files directly it works as intended.

[2021-01-21 12:12] billybraga commented on #11953
Try running the publish command with "-v d" (verbose detailed) and look for the line that says "copy xx/Newtonsoft.Json.dll to xx/publish..."

[2021-01-21 12:51] blacksnake-rus commented on #11953
Try publishing without overriding the output folder. It works for me

[2021-01-21 15:44] schlotter opened #15440 "Adding project to solution using "dotnet sln add" fails with custom props import from SolutionDir"
Adding a project to a solution fails if the project file contains an import statement using the MSBuild `SolutionDir` property.

## Example
Adding a project to a solution can be achieved using `dotnet sln` as follows:
[code]

In this case `MyProject.csproj` contains the following import:
[code]

Then running the above `dotnet sln` command-line produces the following error:
[code]

The import fails

[2021-01-21 16:02] flecmart commented on #13808
Running into the same problem using a clear case vob. Did you make  some progress?

[2021-01-21 16:21] dsplaisted commented on #11953
The problem is likely that you have multiple projects publishing to the same output folder, and its a matter of timing which one wins in copying its version of Newtonsoft.Json.dll.  As @blacksnake-rus mentions, you can probably fix this by avoiding using the `-o` command line option.

If you can [https://aka.ms/binlog](share a binlog) of the publish operation where it's copying the wrong thing, it

[2021-01-21 16:48] cristianosuzuki77 commented on #15174
This is

[2021-01-21 16:48] #15174 closed

[2021-01-21 16:51] cristianosuzuki77 commented on #12703
@nohwnd add this and similar context of the strings as comments in either resx or xlf files.

[2021-01-21 16:52] #12703 closed

[2021-01-21 16:53] #14832 closed

[2021-01-21 17:33] vidarw commented on #11953
The obvious workaround would of course be to just publish the single project and not a solution. Quitting the -o option is imo. way more destructive for existing build pipelines. I find this problem way too consistent over projects and computers to simply be a timing issue.

Here are binlogs, where 300 has the wrong older DLL in the output:

https://github.com/vidarw/dotnet-sdk-3.1.300-nuget-issue

[2021-01-21 17:43] dsplaisted commented on #11960
@KathleenDollard Any thoughts on whether templates should show up for platforms where they're not supported (ie WPF/Windows Forms on Linux)?

[2021-01-21 17:59] zerovian commented on #13808
Our solution was to set the IntermediateOutputPath property in the top level PropertyGroup section of each of our .csproj files.

Something like this, and we ensure that TMPDIR and USER environment variables are setup in our build environments. Its a workaround, but not a solution.

    <IntermediateOutputPath>$(TMPDIR)/$(USER)/project/obj</IntermediateOutputPath>

[2021-01-21 18:18] jaredpar commented on #15395
@marcpopMSFT wanted to make sure that you saw this issue. This impacts some division goals around Terrapin and we're really hoping we can get it in for 16.9. The work should be small, just setting a few defaults in WPF projects. But time is getting short in 16.9 so wanted to make sure this hadn't slipped below your radar.

[2021-01-21 18:56] aortiz-msft opened #15443 "Alias in ProjectReference does not work for framework-included packages"
---
**Issue moved from NuGet/Home#10438**
- Please respond to @weltkante.

---

_From @weltkante on Friday, January 8, 2021 4:19:41 PM_

## Details about Problem

In #4989 alias support for PackageReference was added, but when I try to create an alias to a framework-provided package this does not appear to work.

In particular, in a .NET 5 web application I add
[code]
but `extern alias logging;` d

[2021-01-21 18:56] aortiz-msft commented on #15443
---
**Issue moved from NuGet/Home#10438**
- Please respond to @JonDouglas.

---

_From @JonDouglas on Friday, January 8, 2021 5:49:15 PM_

Hi @weltkante,

Thanks for the report!

Can you please provide us a sample project or reproducible steps to help us debug this further?

Feel free to refer to our section on [bug reports](https://github.com/NuGet/Home/wiki/Submitting-Bugs-and-Suggestions#bug-re

[2021-01-21 18:56] aortiz-msft commented on #15443
---
**Issue moved from NuGet/Home#10438**
- Please respond to @weltkante.

---

_From @weltkante on Friday, January 8, 2021 7:25:18 PM_

Sure, the reproduction steps are literally just what I said above, adding a `PackageReference` to a framework package and a corresponding `extern alias` statement. I'm adding a full example below, changing the SDK to `Microsoft.NET.Sdk` (i.e. removing the `Web`)

[2021-01-21 18:56] aortiz-msft commented on #15443
---
**Issue moved from NuGet/Home#10438**
- Please respond to @JonDouglas.

---

_From @JonDouglas on Friday, January 8, 2021 8:14:16 PM_

@weltkante Thank you kindly! We'll look into this shortly in our next triaging session. Thanks for the clarification on the .csproj items!

[2021-01-21 18:58] JHF217 commented on #10621
I had a similar error. It occurred because I removed certain .png files from the folder without excluding them from the project. The error resulted from VS not being able to find the files. Similarly, I created new .png files and had to included them into the project. Error went away after this.

[2021-01-21 19:39] Damarus999 opened #15446 ".NET 5 SDK Snap missing dependencies?"
I've recently been attempting to get Stryker mutation testing to work with a solution, and found that it did not work with the .NET 5 SDK Snap on Ubuntu. I raised [an issue](https://github.com/stryker-mutator/stryker-net/issues/1376) with the project, but after some investigation it became apparent that there was probably an issue with the .NET 5 SDK Snap package rather than with Stryker itself.

[2021-01-22 05:52] anirugu opened #15451 "Not able to compile .net 6 console app through the Visual Studio 2019 Preview"
I enable the preview SDK in Visual studio Preview and create a console app in version 6 alpha.  When  I run dotnet run in cmd I can see the output.

When I tried to debug it using VS code, it's failed. I have added the Nuget.Config for version 6 in root of project.

![image](https://user-images.githubusercontent.com/35772421/105452216-f254cb00-5ca3-11eb-8b04-d42d3c02c751.png)

Is there a way we ca

[2021-01-22 05:54] anirugu commented on #15451
I restart the Visual Studio and it's working. Thanks.

[2021-01-22 05:54] #15451 closed

[2021-01-22 07:00] shahriak opened #15452 "Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions after upgrading to .NET 5"
Greetings,

I am running into the following error whenever I run the pipeline to build an image. The app was upgraded to .NET 5 from 3.1

Unhandled exception. System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The located assembly's manifest definition does not match the

[2021-01-22 15:25] flecmart commented on #13808
Thanks for the workaround. I can confirm that it works when you move the IntermediateOutputPath to a local path.

The strange thing is that the solution builds from inside vs studio 2019 (with IntermediateOutputPath on clearcase).

[2021-01-22 15:35] zerovian commented on #13808
Yup. same. doesn't fail when built in visual studio. only from command line.

[2021-01-22 17:04] wli3 opened #15459 "Follow up on tests and refactoring of parseResult.UnmatchedTokens"
https://github.com/dotnet/sdk/pull/15362#discussion_r562273217
https://github.com/dotnet/sdk/pull/15362#discussion_r562402400

[2021-01-22 20:27] sfoslund commented on #15291
Fixed in 5.0.2xx by https://github.com/dotnet/sdk/pull/15369

[2021-01-22 20:27] #15291 closed

[2021-01-22 22:39] #15349 closed

[2021-01-22 22:39] #15459 closed

[2021-01-22 23:28] trylek opened #15466 "RunReadyToRunCompiler task doesn't produce actionable information on failures"
While switching over framework compilation to use Crossgen2 I noticed that the RunReadyToRunCompiler task in

https://github.com/dotnet/sdk/blob/d2a44c110494d0db60f873f0273598e60bcc7fbe/src/Tasks/Microsoft.NET.Build.Tasks/RunReadyToRunCompiler.cs#L14

isn't too developer friendly when hitting errors. In most cases the only diagnostic output is the error message "Invalid parameters were passed to R

[2021-01-22 23:55] AntonLapounov commented on #15466
I agree on that.  It was too late to fix it for 5.0 release when I hit this issue.

[2021-01-23 02:56] ufcpp opened #15470 "OR_GREATER symbols for NETSTANDARD: difference between design and implementation"
There are NETSTANDARDX_X_OR_GREATER symbols in [the design document](https://github.com/dotnet/designs/blob/be793b557255c9ed1276ecdd23119b64f45453bf/accepted/2020/or-greater-defines/or-greater-defines.md#doc-changes) but they are [not implemented](https://github.com/dotnet/sdk/blob/c2aad5bc5973301107271a31cbbcb77fa423113e/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.BeforeCommon.t

[2021-01-24 17:06] JensNordenbro opened #15475 "Multitargeting WPF requires Microsoft.NET.Sdk.WindowsDesktop"
Assume the following project:
![image](https://user-images.githubusercontent.com/9577365/105637425-cd13b880-5e6d-11eb-96a0-7a744a0debab.png)

The following error occures:
![image](https://user-images.githubusercontent.com/9577365/105637449-e452a600-5e6d-11eb-887a-482048b0d11d.png)

Removing the net48 moniker and the error dissappears, however I would like to be able to build for net48 still.

Re-e

[2021-01-24 21:26] rodrigofbm opened #15476 "A fatal error occurred. The folder [/usr/share/dotnet/host/fxr] does not exist"
I was facing this error on Fedora 33, so I went back to 32 and the error persists.

[code]

[2021-01-24 23:27] pdevito3 opened #15477 "Designate nuget source for `dotnet tool install` commands"
Currently, if I have private nuget sources, I need to disable them before I can install a public facing dotnet tool. I'd like to request a feature, like [dotnet new --nuget-source](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new) for `dotnet install tool`. Something like the below:

`dotnet tool install -g craftsman --nuget-source https://api.nuget.org/v3/index.json`

[2021-01-25 09:45] haiyuzhu commented on #15392
Thank you very much for the explanation. Close the issue.

[2021-01-25 09:45] #15392 closed

[2021-01-25 10:08] Confuzed commented on #15353
Looks like this has been fixed.

[2021-01-25 10:08] #15353 closed

[2021-01-25 10:15] jiangzeng01 commented on #15348
Verified with 6.0.100-preview.1.21074.2, so close

[2021-01-25 10:15] #15348 closed

[2021-01-25 10:16] jiangzeng01 commented on #15349
Verified with 6.0.100-preview.1.21074.2

[2021-01-25 10:17] jiangzeng01 commented on #15350
Verified as fixed with 6.0.100-preview.1.21074.2

[2021-01-25 11:54] PathogenDavid commented on #14759
Correct. As of .NET Core the generated exe is just a thin apphost. The actual .NET assembly is the dll.

[2021-01-25 12:23] JensNordenbro opened #15480 "net48 requires explicit references to framework assemblies"
When building a project for net48 target we had to explicitly add assemblies that we did not have to do for net5.
It expect that symmetry applies or that this is documented (maybe it is?!)
This subset of a csproj comes from a multitargeting application:

![image](https://user-images.githubusercontent.com/9577365/105705228-3815cb80-5f10-11eb-8d8c-59d20a0092f7.png)

[2021-01-25 13:54] kordys opened #15482 "The dotnet pack doesn't work together with -p:NuspecProperties when multiple properties provided"
When calling the

`dotnet pack project.csproj -p:NuspecFile=project.nuspec -p:NuspecProperties="version=11.0.0;year=2021" --verbosity quiet --output c:/temp`

command to pack a NuGet package providing multiple properties (version, year), only the first one is replaced in nuspec file with the provided value. Others are resolved as an empty string.

**project.csproj file**
![image](https://user-imag

[2021-01-25 14:29] DNF-SaS commented on #11474
Seems like this has been fixed for at least SDK 5.0.200-preview.20614.14 ?

[2021-01-25 15:44] ZeljkoTodor commented on #11663
Hi all. Sorry for asking on this thread, but I stumbled across the same issue with C++ CLI.

I am converting .net 4.8 solution to .net5.0. In this solution most of the projects are csproj, and I have few of vcxproj (C++/CLI).  One CS project is sort of SDK and that one is used by other CS projects, as well as in C++ CLI project. And, the C++ CLI is referenced by another CS project...

@wli3, could

[2021-01-25 17:14] dagood commented on #15476
This is an instance of https://github.com/dotnet/docs/issues/18347: you have some mixed packages from the Microsoft build of .NET and the Fedora build of .NET (built from source). They install to different locations, so they don't work nicely together and give you this "does not exist" error.

This package is from Fedora: `dotnet-hostfxr-3.1-3.1.11-1.fc32.x86_64`
This package is from Microsoft: `d

[2021-01-25 17:49] ericstj commented on #15225
@mmitche I believe that this is due to SDK consuming an unsigned build of runtime.  I checked in an installed SDK and found all these files are unsigned: `C:\Program Files\dotnet\sdk\6.0.100-alpha.1.21064.27\Sdks\Microsoft.NET.Sdk\tools\net472`

Now most of these are "Open Source Signed" AKA "Public Signed" AKA "Fake Signed".  Meaning they don't have signatures but lie to say they do and desktop p

[2021-01-25 17:55] rseanhall commented on #15225
@ericstj Are you aware that even though https://github.com/dotnet/runtime/issues/42250 is open, it is locked to non-collaborators (i.e. non-Microsoft employees)?

[2021-01-25 18:16] rodrigofbm commented on #15476
@dagood thank you bro

[2021-01-25 18:16] #15476 closed

[2021-01-25 19:11] dagood commented on #15476
No problem, glad that helped. 🙂

[2021-01-25 19:41] ericstj commented on #15225
@rseanhall I unlocked it.  Looks like that happened because the bot locked it when it was closed but didn't unlock when it was reopened.  I'll follow up with the bot owner on that behavior.

[2021-01-25 19:51] marcpopMSFT commented on #15225
@ericstj , do we expect customers to disable strong name verification for daily builds that will be unsigned or can this particular error be resolved in the runtime?  If it requires customer modifications, we'll want to document it here: https://github.com/dotnet/installer/issues/9384

[2021-01-25 20:04] ericstj commented on #15225
I think we can drive a fix into runtime within a couple weeks.  It's not a simple switch to flip, so it may make sense to document the workaround.  The command I shared above is sufficient and only disables validation for this assembly.

[2021-01-25 22:10] jonathanpeppers opened #15485 "dotnet cli passing -target:Restore to MSBuild instead of -restore"
As seen in: https://github.com/xamarin/net6-samples/pull/52

We have a [multi-targeted](https://github.com/xamarin/net6-samples/blob/e0259e3d94f12a9184623905d9e07c1df8567808/HelloForms/HelloForms.csproj#L3) project with:
[code]

To deploy to an Android device/emulator (and _not_ iOS), you can run:
[code]

With .NET 6.0.100-alpha.1.21064.27, this command fails with:
[code]

The MSBuild arguments th

[2021-01-25 23:12] dsplaisted commented on #15485
@sfoslund Can you take a look?

[2021-01-26 00:03] eddynaka opened #15489 "dotnet tool does not run startProcess correctly"
Hi,

I have a dotnet tool that was made in netcoreapp3.1. This tool executes some git commands using `Process.Start`.

If I run in debug mode, the tool can execute the commands without a problem. But, when I run using the command line or in release mode, I receive an error permission errors (I think).

Changing the same console for net48, I can not see this issue.

How can I make it work in netcor

[2021-01-26 05:31] ClosetBugSlayer commented on #14267
I'm having the same exact problem as OP. I regret ever attempting to port my project to .NET 5. I'm going to lose weeks too aren't I. ($$$)

[2021-01-26 06:11] OndrejHlavka commented on #15398
We're running into the same issue.

[2021-01-26 08:14] #15411 closed

[2021-01-26 14:01] sdudnic opened #15495 "The "CreateAppHost" task failed unexpectedly."
I have built a web project in VS 2019, worked a lot witout problems on that (Asp.Net Core 5.0) Web App and suddenly it started to appear an error on that Web Project:

Error	MSB4018

Following configuration

It prevents the solution to build. I restarted VS under admin, didn't help.

[2021-01-26 16:29] sfoslund commented on #15395
Fixed in 5.0.2xx by https://github.com/dotnet/sdk/pull/15465

[2021-01-26 16:29] #15395 closed

[2021-01-26 18:41] marcpopMSFT opened #15496 "Add additional tool version details to dotnet --info"
Customer suggestion: https://github.com/dotnet/roslyn/issues/44571#issuecomment-767738071

Include the version of Roslyn, msbuild, nuget in the dotnet --info output

[2021-01-26 19:21] sfoslund commented on #15485
@jonathanpeppers can you give some more information on how to repro this? The binlogs you provided are on two different platforms, does this only repro on windows or mac?

[2021-01-26 20:17] Achilles1515 commented on #1545
@marcpopMSFT @dsplaisted
Reproduction repo (.NET Framework, SDK-style):
https://github.com/Achilles1515/RuntimeIdentifierInferenceBug

Clone, then build/run --> unable to load native dll.

This simple project is referencing the [RE2.Managed](https://www.nuget.org/packages/RE2.Managed/1.0.0) library which contains native libraries in the following package paths:

*runtimes\win-x64\native\RE2.Native

[2021-01-26 20:22] jonathanpeppers commented on #15485
@sfoslund I think it happens on all platforms. My Mac has the older 6.0.100-alpha.1.20562.2 installed, so that is where I could grab the working `.binlog` the easiest.

You can compare `main` here:

https://github.com/xamarin/net6-samples

vs the branch on my PR:

https://github.com/xamarin/net6-samples/pull/52

There are installation instructions on the `README.md`, but ping me on Teams if I can

[2021-01-26 21:02] ericstj commented on #15225
@marcpopMSFT looks like we got to this sooner than I thought: https://github.com/dotnet/runtime/pull/47489

This will be in the main codebase (not preview1 branch).  I don't expect preview1 to be an issue, since it should be full-signed (right @mmitche?)

[2021-01-26 21:41] marcpopMSFT commented on #12055
https://github.com/dotnet/runtime/issues/46128

[2021-01-27 01:03] marcpopMSFT commented on #15225
@ericstj Official release builds will be signed which includes preview 1.  It's only the day to day builds that are problematic.

[2021-01-27 02:07] ericstj commented on #15225
Sounds good, you can close this once you pick up the above linked runtime change.

[2021-01-27 02:21] dsplaisted opened #15505 "Figure out relationship between Directory.Build.targets and workloads"
Currently, it's not possible to set a property in Directory.Build.targets which enables a .NET SDK workload.  We should figure out what to do here - something will have to change (and we'll have to accept some sort of breaking change) in order to make Windows Forms / WPF support a .NET SDK workload, which we want to do eventually.

This is a tracking issue for now, we plan to put up a design on do

[2021-01-27 08:25] NecatiMeral commented on #15297
I'm experiencing this on a self-hosted Azure DevOps BuildAgent which fails randomly on `dotnet` commands on .NET5.0:

[code]

Dotnet get's installed on the agent by using the installer task:

[code]

[2021-01-27 10:02] NicoleWang001 opened #15507 "On Fedora 34, running dotnet info with met error "realpath(/root/mytest/sdk/5.0.102/) failed: Operation not permitted" after untar SDK 5.0.103"
**Repro steps:**
1. tar SDK 5.0.102 on Fedora 34 in docker with below commands
[code]
2. run "dotnet --info"and observe

**Note:**
1. This issue is not repro on Fedora 32.
2. This issue is not repro after untar 5.0.103 on centos 8, OpenSUSE 15.1 and SLES 15.2

**Actual Result:**
It will display error "realpath(/root/mytest/sdk/5.0.102/) failed: Operation not permitted"
sh-5.0# dotnet --info
realpa

[2021-01-27 13:20] RussKie commented on #15475
This is by design. The platform moniker was added in .NET 5.0, so all previous versions must opt in to the WindowsDesktop SDK explicitly.

[2021-01-27 13:46] tankbob opened #15509 "Docker - NU3028: self signed certificate in certificate chain"
Has something changed with the docker images, I am unable to build today as I receive a spate of these errors

error NU3028: Package 'Microsoft.Extensions.DependencyInjection 5.0.0' from source 'https://api.nuget.org/v3/index.json': The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain
error NU3028: Package 'Microsoft.Ext

[2021-01-27 13:48] ChrisDill commented on #14809
Adding to this to say I have the same issue with my project [Raylib-cs](https://github.com/ChrisDill/Raylib-cs). Took me a while to notice the `.deps.json` was not including `runtimeTargets` so for manual installs it would fail to find the library. I am also not sure how to workaround/fix this issue so any suggestions or more information is appreciated.

[2021-01-27 13:51] stefanloerwald opened #15510 "nuget certificate errors in sdk:5.0-buster-slim"
I currently get a large number of certificate validation (NU3028 + NU3037) errors from a multitude of packages when running `dotnet restore`:

[code]

To reproduce:

[code]

It does not occur on my host system (which runs Windows 10)

The whole log is:
[code]

[2021-01-27 14:08] tankbob commented on #15510
This is the same as the bug I've raised https://github.com/dotnet/sdk/issues/15509