[2021-08-04 06:24] cnmade commented on #19377
Hello, if any progress, thanks for let me know, I am really concern on it .

[2021-08-04 08:58] EmmaZhu opened #19494 "Hang issue found when using TaskCompletionSource in PowerShell script with System.Windows.Forms.Form loaded."
Hi,

We found a hang issue in our production, and made a simple repro here: [https://github.com/EmmaZhu/HangWithTaskRepro](url).

To repro the issue:
1. Build project `TaskHangTest` in the repro repository
2. Update following line in script `HangReproScript.ps1` in the repro repository to add `TaskHangTest`'s dll path to the script:
  `Add-Type -Path ".\TaskHangTest\bin\Debug\netstandard2.0\TaskHa

[2021-08-04 12:15] lewing commented on #19126
The workload is correctly reporting that we don't currently support win-arm64 platforms in the preview.  We're looking at what would be required to add support now.

[2021-08-04 13:47] mgrman commented on #19126
@lewing thank you for the info. Is this support planned to be added by release?

[2021-08-04 15:25] ericstj commented on #19472
Hmm, I just checked and it looks like .NETFramework MSBuild doesn't carry NuGet binaries inside it like .NETCore does.  I don't think we can rely on it being provided for us.  Perhaps we should put the NuGet binaries in the package so that we can ensure they are present and not have to go looking for them via a resolve handler.

[2021-08-04 15:57] ericstj opened #19501 "Should Roslyn or SDK provide a mechanism to enable/disable some/all source generators?"
User's might need to disable a source generator for some reason (like a performance or compatibility issue).  In general we should fix those and it shouldn't be a very common occurrence, however we may want to have a mechanism available as a mitigation.

In writing up the docs for https://github.com/dotnet/docs/pull/24896#discussion_r661102362 we came to the conclusion that allowing users to toggl

[2021-08-04 16:04] sfoslund commented on #19377
@cnmade it looks like the binlog failed to upload, can you try again? And can you also provide the error that you're seeing?

[2021-08-04 16:45] angelazhangmsft commented on #19363
@DhanushKRaja I am not sure where the *.10 version of Microsoft.Windows.SDK.NET is coming from. Do you have a repro project I could look at, or would you be able to upload a [bin log file](https://msbuildlog.com/) by running `msbuild /bl` on your solution?

[2021-08-04 17:18] sfoslund commented on #19192
Sure, talked to Kathleen and put out a PR: https://github.com/dotnet/sdk/pull/19503

[2021-08-04 17:46] sfoslund commented on #18298
@wli3 is there still outstanding work here?

[2021-08-04 17:47] sfoslund commented on #18271
Fixed by https://github.com/dotnet/sdk/pull/19124/commits/2ec211c04ad4c93d2d7e72d3db53b5dfbfa47c92

[2021-08-04 17:47] #18271 closed

[2021-08-04 18:03] vadi2 commented on #19426
Instead of using `Content Include`, using `None Update` works :+1:

[2021-08-04 18:03] #19426 closed

[2021-08-04 18:42] JoeRobich opened #19506 "Microsoft.NETFramework.ReferenceAssemblies not added when using NuGet static restore graph"
In Roslyn we still build some packages against net45. The .NET Framework 4.5 targeting pack is not longer installed by default (or even available) in the VS2022 installer.

We would expect if all of the following occur, then include the package:
- AutomaticallyUseReferenceAssemblyPackages is true
- The targeting pack is not known to be available at time of restore
- NuGet static restore graph is u

[2021-08-04 19:38] ViktorHofer commented on #19214
Yes please. I spent too much time believing that PackageValidation crashed but instead actually ran successfully. Also this helps when looking through logs in CI. I would assume that a short message should be sufficient.

[2021-08-04 19:45] safern commented on #19214
That is also because we found out that the header that shows in the binlogs or verbose output stating that API Compat failed is always created. I'm fixing that in my PR to add support to run with references.

[2021-08-04 20:16] #19192 closed

[2021-08-04 21:13] marcpopMSFT commented on #19329
When we investigate #18101, we should ensure this scenario is covered in that investigation.

[2021-08-04 21:17] marcpopMSFT commented on #19318
Feel free to ping Daniel if you feel this is something that should be prioritized but our focus is not on legacy project system which I believe the ResolveNugetPackageTargets is used for.

[2021-08-04 21:18] marcpopMSFT commented on #18436
This is a reasonable request but deferring to investigations around multi-project startup. @KathleenDollard

[2021-08-04 21:22] marcpopMSFT commented on #17727
Sounds like you've found a solution and using TargetName is not supported at this time so closing this out.

[2021-08-04 21:22] #17727 closed

[2021-08-04 21:24] #19472 closed

[2021-08-04 21:33] #15143 closed

[2021-08-04 21:38] #18298 closed

[2021-08-04 21:42] marcpopMSFT commented on #18993
This should have been moved to user's temp folder which the OS should maintain.

[2021-08-04 21:42] #18993 closed

[2021-08-04 21:46] marcpopMSFT commented on #11289
@dsplaisted please review and see if there is more work required here or if this is complete.

[2021-08-04 21:49] #18600 closed

[2021-08-04 21:52] marcpopMSFT commented on #19479
CC @Redth for visibility.

I would recommend against deleting the manifests as that can leave you in a bad state. Was there any more to the error that would indicate why this failed?

[2021-08-04 22:18] sfoslund opened #19514 "Add differentiation between long and short property options in run command"
See https://github.com/dotnet/sdk/pull/19402#discussion_r680184127

[2021-08-04 22:26] ericstj opened #19515 "[Package Validation] Link to diagnostics ID docs page in suppression files"
Today in PR reviews you need a decoder to understand what's in the file.  We should include a comment, or description about what the codes mean.  If we're concerned with file size we could have a "legend" of IDs in the file.  This doesn't need to be treated as relevant to the suppression, but could help when folks review these.  https://github.com/dotnet/runtime/pull/56712/files#r681889176

[2021-08-04 22:36] ericstj opened #19517 "[Package Validation] PKV006 Framework compatibility error is too verbose"
I noticed that the compatibility message here included runtime: https://github.com/dotnet/runtime/pull/56712/files#r681911990

This seems like it might be redundant when the same package dropped that framework entirely.  If someone is suppressing the message for the entire framework, they don't need to suppress it for that framework + runtime.

It might be interesting to think if there is any othe

[2021-08-05 01:30] cnmade commented on #19377
[code]

[2021-08-05 01:32] #19377 closed

[2021-08-05 01:33] cnmade commented on #19377
I gave up to try resolve the problem, i back to dotnet 3.1. it works.

[2021-08-05 01:37] DamianEdwards opened #19521 "Update implicit global usings feature to address issues"
The new implicit global usings feature added to the SDK in 6.0.100-preview.7 has caused a few issues in some important scenarios such that some changes will be made to mitigate them and generally improve its usability.

These changes are targeting 6.0.100-rc.1

Items:
- [x] Rename the MSBuild property from `<DisableImplicitNamespaceImports>` to `<ImplicitUsings>`
   - **Note this is for C# only**

[2021-08-05 02:28] WeihanLi commented on #19471
Thanks for your answer @ryank425 , seemed the files are from  `Microsoft.Extensions.*` package

[2021-08-05 03:08] wli3 opened #19523 "/Users/USERNAME/.dotnet/sdk-advertising-temp/ cannot be accessed"
I get this when I run `dotnet workload list --machine-readable` after installing with sudo.

I think it is due to this temp directory was created under sudo, so when run without sudo it cannot be accessed. We might want to separate folder for different elevation or set explicit permission for this folder. Note, on different Linux, $HOME under sudo could be the current user or the root depends on h

[2021-08-05 03:09] wli3 commented on #19523
@sfoslund could you look into this? If you don't have a machine to repro I can do so.

[2021-08-05 03:11] wli3 commented on #19523
And we might want to double check if other folders have the similar issue

[2021-08-05 03:15] wli3 commented on #19523
This is a catagory of pretty annoying problems. If files or folders are shared between sudo and non sudo command. And if the command is first run under sudo, the folder would be default set to ROOT user access only. So then next command run without sudo will not be able to access

[2021-08-05 04:52] DhanushKRaja commented on #19363
Hi @angelazhangmsft  Please find the bin log file.
[binlog.zip](https://github.com/dotnet/sdk/files/6935977/binlog.zip)

Could please update me further ?

[2021-08-05 05:08] angelazhangmsft commented on #19363
@DhanushKRaja from the binlog it looks like another error is occurring:
CS0234: The type or namespace name 'Core' does not exist in the namespace 'Syncfusion.UI.Xaml' (are you missing an assembly reference?)

I am not seeing the NETSDK1148 error since the build seems to fail earlier. Would you be able to double check?

[2021-08-05 05:48] DhanushKRaja commented on #19363
@angelazhangmsft  please find the updated binlog for the same project.

[updatedlog.zip](https://github.com/dotnet/sdk/files/6936188/updatedlog.zip)

[2021-08-05 06:39] mwbinderholz commented on #19479
Thank you for your answer @marcpopMSFT .

CC @Redth

There were no further information in the powershell.

I can provide screenshots of the current state of my android sdk, because I also followed this guide to set up my emulator
https://docs.microsoft.com/en-us/xamarin/android/get-started/installation/android-emulator/
![image](https://user-images.githubusercontent.com/88394046/128302387-9f084f0e

[2021-08-05 08:11] mwbinderholz commented on #19479
I just tried to deinstall everything and installing again, and the problem still pops up.
Additionally now the maui-check doesn't work anymore

Powershell:
--
 C:\WINDOWS\system32> maui-check
      _   _   _____   _____     __  __      _      _   _   ___
     | \ | | | ____| |_   _|   |  \/  |    / \    | | | | |_ _|
     |  \| | |  _|     | |     | |\/| |   / _ \   | | | |  | |
  _  | |\  | | |__

[2021-08-05 13:51] MichaeIDietrich opened #19534 "Solution Rebuild might fail when a shared output directory is used"
## Steps to Reproduce

1. Clone https://github.com/MichaeIDietrich/TestRebuildError
2. dotnet build
3. dotnet msbuild -t:rebuild -m:1

## Actual Behavior

Compilation fails:
[code]

## Expected Behavior

Both projects compile successfully.

## Analyzation

The `Clean` target of the test project will also clear the `*.deps.json` of the referenced project,
which then leads to the issue that the test

[2021-08-05 13:59] jonathanpeppers opened #19535 "More options for @(Import) and C# 10 global usings?"
Context: https://github.com/xamarin/xamarin-android/pull/6118

We have an issue in .NET 6 Android applications, where every Android app has a method like:
[code]

We don't want to include `<Import Include="Android.OS" />`, because `Android.OS.Environment` would conflict with `System.Environment`. Developers would likely use `System.Environment`, so we don't want to cause an issue there.

So our pl

[2021-08-05 14:00] jonathanpeppers commented on #19535
/cc @JunTaoLuo

[2021-08-05 15:38] sfoslund commented on #19523
@wli3 I'll take a look. Are you only seeing this on linux?

[2021-08-05 15:43] angelazhangmsft commented on #19363
@DhanushKRaja The NETSDK1148 error from the updated log is because you are referencing both 10.0.18362.18 and 10.0.19041.18 versions of the package. So I actually think you should remove the `WindowsSdkPackageVersion` property so we can see where the *.10 version is coming from in your original comment.

I would remove all package overrides and set the `TargetFramework` to net5.0-windows10.0.19041

[2021-08-05 16:37] ericstj commented on #19501
@sharwell  pointed me to how Razor does this https://github.com/dotnet/sdk/blob/2fea637fd7dcc56a8d29329dd0c28de4309bd5f4/src/RazorSdk/SourceGenerators/RazorSourceGenerator.RazorProviders.cs#L17
cc @captainsafia

That's pretty cool that we could use .editorconfig to make generator-specific settings.  Perhaps one thing we could do here is make all generators read this and and define their own settin

[2021-08-05 17:03] dsplaisted commented on #19506
We can't know whether the targeting pack is always going to be available or not.  It may be installed on some machines but not others.

So I think the thing to do would be to always reference the package when using static graph, instead of only doing so when it's not installed.

@cdmihai Is there a way that an MSBuild target can tell whether static graph restore is being used?

[2021-08-05 17:18] cdmihai commented on #19506
As far as I know there's no way to tell, and I think that's a good thing. It would be a nasty leaky abstraction to condition the rest of the build on what type of restore happened, leading to an even more brittle system.

The bigger question is why static graph restore produces different outputs than regular restore. Ideally they should not differ, and discrepancies should marked as bugs? :)

[2021-08-05 17:38] dsplaisted commented on #11289
The runtime pack identifiers for the ASP.NET Core shared framework are currently `win-x64;win-x86;win-arm;osx-x64;linux-musl-x64;linux-musl-arm64;linux-x64;linux-arm;linux-arm64;linux-musl-arm;win-arm64;osx-arm64`

Do any of those match an Android RuntimeIdentifier?  @marek-safar @jonathanpeppers @Redth

[2021-08-05 17:40] DamianEdwards commented on #18825
We're planning to [make some changes](https://github.com/dotnet/sdk/issues/19521) to the implicit usings feature in rc.1 based on the feedback we've received here and elsewhere. Check out #19521 for details.

[2021-08-05 19:02] wli3 commented on #19523
@sfoslund on mac. You should be able to repro it on Linux too

[2021-08-05 19:07] wli3 commented on #16462
Some thought: The error in the end is "Input/output error". Looks like from OS. https://unix.stackexchange.com/questions/39905/input-output-error-when-accessing-a-directory

[2021-08-05 19:21] #16499 closed

[2021-08-05 19:25] danmoseley opened #19544 "More tests flaky due to same issue with distributed logger on the end of the command"
https://github.com/dotnet/sdk/runs/3252226972
https://github.com/dotnet/sdk/pull/19528

eg
[code]

Note that these passed on rerun. It would be nice to know why the parameter is getting sporadically added. Seems worth investigating as a bug?

Note there's quite a few eg
all of Microsoft.DotNet.Cli.MSBuild.Tests.GivenDotnetPublishInvocation.MsbuildInvocationIsCorrect
MsbuildInvocationIsCorrectForSe

[2021-08-05 19:45] mdrexel commented on #11803
Hello, it's been a while since I last checked in. Just commenting to show that I am still interested in finding a solution for this.

[2021-08-05 21:02] jeffkl commented on #19506
Don't we add a global property named `IsGraphBuild`?

https://github.com/dotnet/msbuild/blob/main/src/Build/Graph/GraphBuilder.cs#L398

[2021-08-05 21:09] jonathanpeppers commented on #11289
I think if one was `unix`, it might match Android, but those look OK.

Normally we have: `android-arm`, `android-arm64`, `android-x86`, and `android-x64`.

[2021-08-05 21:26] JunTaoLuo commented on #19535
@DamianEdwards who's the area owner. I don't think this is a feature we're looking to add at the moment since it's explicitly only designed for namespace imports and not aliases.

[2021-08-05 22:35] Anipik opened #19547 "[Package-Validation] Remove Duplicate right assembly tuples and also remove tuples where left == right."
Currently we generating a lot of duplicate right assemblies and also we are running the apicompat between same assemblies(which is completely useless)

cc @safern @ericstj

[2021-08-05 23:11] DamianEdwards commented on #19535
@JunTaoLuo actually I listed that as one of the things to do as part of the feedback in #19521. As part of renaming `<Import />` to `<Using />` and `<DisableImplicitNamespaceImports>` to `<ImplicitUsings>` it becomes more natural and event expected to support this.

[2021-08-05 23:36] wli3 opened #19549 "Right behavior when query dotnet workload list (command in admin install location) while have VS installed workload"
dotnet workload list (command in admin install context) while have VS installed workload will not display full result due to it is actually from different install location. We need to decide on right behavior

[2021-08-06 00:46] dsplaisted commented on #11289
I think we can close this then.  We can revisit if it becomes an issue in the future.

[2021-08-06 00:46] #11289 closed

[2021-08-06 00:50] alexrp commented on #19521
Could `global using static` support also be included?

[2021-08-06 00:58] DamianEdwards commented on #19521
@alexrp yes that was the intent but I didn't capture it properly in the item RE using alias support. Updated to make it clearer.

[2021-08-06 05:32] mehs2690 commented on #11533
Hi everyone!

In my case, I resolved this issue with the following steps:

1. `sudo rm -rf /etc/yum.repos.d/microsoft-prod.repo`
2. `sudo dnf clean all`
3. `sudo dnf remove dotnet*` ==> this is important
4. `sudo dnf install dotnet-sdk-3.1`

I am using Fedora 34
I hope that this solution is support to you

[2021-08-06 08:49] #19547 closed

[2021-08-06 13:00] tylermichael opened #19560 "ASP: Security policy would not allow process: /Users/<username>/.dotnet/tools/dotnet-ef"
On my new Apple Silicon M1 Macbook Pro I installed dotnet-sdk-preview via brew and installed the EF core global cli tool like normal.

[code]

Running the following command results in it returning immediately with no errors printed or anything. Just an empty output.

[code]

MacOS console logs show that the Apple Security Policy blocked execution of the executable `/Users/<username>/.dotnet/tools/

[2021-08-06 15:56] captainsafia commented on #19501
Yep -- we use the flag to disable the source generator under different scenarios, like in VS 2019 where the incremental source generator API is not supported.

Speaking of incremental source generators, there's still some work pending their to make it easier to disable a generator in the runtime. What we currently implement is a bit of a "hack" on the generator side.

cc: @chsienki

[2021-08-06 16:02] ericstj commented on #19501
One thought is that we could have a property or item like "DisabledSourceGenerators" and pass that in via https://github.com/dotnet/roslyn/blob/2946c619d91c7279d69d71bbb521ea4647e29fc1/docs/features/source-generators.cookbook.md#consume-msbuild-properties-and-metadata then have all generators honor that in their Initialize methods.  Seems like it'd be better if roslyn provided something, that way

[2021-08-06 20:01] dougbu commented on #19521
nit: Suggest avoiding any parsing of the `<Using />` item spec e.g.
[code]
and
[code]

[2021-08-06 21:54] wli3 commented on #10620
offical doc is finished

[2021-08-06 21:54] #10620 closed

[2021-08-06 21:57] DamianEdwards commented on #19521
Thanks @dougbu I had the exact same though last night and glad others agree. Will update the description.

[2021-08-06 22:04] wli3 commented on #18169
@cristianosuzuki77 could you look into it?

[2021-08-06 22:07] wli3 commented on #18168
You could reference https://github.com/dotnet/sdk/blob/main/documentation/general/tool-nuget-package-format.md

The tool package is wrapping around a framework-dependent application. If you have the required runtime, you can download the tool nupkg, unzip it and run the application inside.

[2021-08-06 22:07] #18168 closed

[2021-08-06 22:11] wli3 commented on #18163
@KoakiMiku "dotnet" on you PATH is x86 architecture. Note in the screen shot, all runtimes are in program files (x86). While the windows update is on program files.

This blog post might give you more context https://weblog.west-wind.com/posts/2019/Apr/20/Adventures-in-NET-SDK-Installation-SDKs-not-Showing-Up

[2021-08-06 22:11] #18163 closed

[2021-08-06 22:19] wli3 commented on #17954
This is an msbuild behavior. All environement variable becomes property as input. In this case, "version" being set unexpectedly. It is not an ideal design. But at this point we cannot revert this behavior.

[2021-08-06 22:31] wli3 commented on #17007
Have manual tests plan

[2021-08-06 22:31] #17007 closed

[2021-08-06 22:32] wli3 commented on #15915
It is in all the right branches

[2021-08-06 22:32] #15915 closed

[2021-08-06 22:33] wli3 commented on #15263
close due to no activity

[2021-08-06 22:33] #15263 closed

[2021-08-06 22:43] wli3 commented on #19463
Not sure it is the right layer. Global tools call the same API as building a project. Did I use the wrong API layer? I was expecting runtime can completely abstract it away from SDK layer.

Global tools does few end to end tests. But we don't have manual test on arm64 mac as well as arm64 CI machine. It is mostly ok by relying on the runtime abstraction for few years without a problem. But we migh

[2021-08-06 22:47] wli3 commented on #19458
@nohwnd could you look into this?

[2021-08-06 23:07] wli3 commented on #19451
Sorry that .NET build system does not support symbolic links at this point

[2021-08-06 23:08] wli3 commented on #19429
Could you provide a sample app or log, the command you were running as well as the output of `dotnet --info`?

[2021-08-06 23:10] wli3 commented on #19122
DOTNET_CLI_TEST_FORCE_SIGN_CHECK is added. And manual tests are requested. Additional test could may increase the complexity and end up causing more bugs. Close this issue for now/

[2021-08-06 23:10] #19122 closed

[2021-08-06 23:13] wli3 commented on #19060
Sorry for the delay. My github notification is broken.

That is a good point. We should discuss that in the next meeting.

[2021-08-06 23:15] wli3 commented on #19015
Do you mind to use https://github.com/microsoft/microsoft-ui-xaml/blob/main/docs/debugging_buildfailures.md#collecting-binlogs-through-visual-studio to collect binlog?

[2021-08-06 23:16] wli3 commented on #18949
@cristianosuzuki77 could you look into this?

[2021-08-06 23:21] wli3 commented on #18507
I think the test would be pretty slow. Especially we are running tests in parallel in the cloud. Considering we don't have too many bugs in this area (or users in this area), I prefer postpone this task until the code is proven fragile, or there are some solution can reduce the cost.

[2021-08-06 23:22] wli3 commented on #18942
This issue was moved to NuGet/Home#11139

[2021-08-06 23:22] #18942 closed

[2021-08-06 23:23] wli3 commented on #18933
@leecow do we have plan for snap?

[2021-08-06 23:48] DamianEdwards commented on #8697
As [stated by @ericstj](https://github.com/dotnet/sdk/issues/8697#issuecomment-858217057) I think this issue is best closed now and specific issues can be opened to track specific perf issues or ask for specific features.

[2021-08-06 23:48] #8697 closed

[2021-08-06 23:49] ericstj commented on #19391
Binding redirects aren't relevant for NETStandard projects since they aren't "runnable".  If a NETStandard project is consumed by a .NETCore project no bindingRedirects are needed as the binder will automatically allow the higher versions to load.  Even if you did emit bindingRedirects from the NETStandard application nothing would consume them automatically, the runtime only loads app.configs for

[2021-08-06 23:55] DamianEdwards commented on #19535
Closing this as the request feature is covered in #19521. Once that's done you'll be able to do:
[code]

[2021-08-06 23:55] #19535 closed

[2021-08-07 00:16] agocke commented on #19463
@wli3 This issue is just tracking validation that it works. I expect that it works, but haven't tried it, and we don't have tests for global tools either.

[2021-08-07 01:02] richlander opened #19576 "Enable `-s` as a convenience over `--self-contained`"
This is a pretty common mode. Today, you can use `-r` to mean self-contained. We're changing that.

Proposal:

- Enable `-s` (or some other short-form like `--sc`) as a convenience over `--self-contained`.
- Use the SDK RID as an implicit RID if non is specified.

Proposed timeframe: 6.0.200.

Context: https://github.com/dotnet/designs/pull/233#discussion_r684318468

[2021-08-07 01:43] next-autumn commented on #19479
same issue

[2021-08-07 10:53] dsyme commented on #18507
Given how bad a bug is in this scenario, and how likely it is to regress given the range of failures possible, I really think this is something the .NET SDK should be testing end to end.  The product is meant to succeed in this scenario, and in which case it should be under test.

Note a 3GB package should not take long in a data-centre.  We restore them all the time in Azure automated tests.

[2021-08-07 11:28] dsyme commented on #18507
If you like we can simply automate the restore of these, with an appropriate small C# code to compile against them (that step is important).  I can provide the test if you like and we can see how long it takes to run - I think it will be ok in the data centres

* https://www.nuget.org/packages/libtorch-cuda-11.1-win-x64/1.9.0.10
* https://www.nuget.org/packages/TorchSharp/0.91.52719

also
* https:

[2021-08-07 14:31] KalleOlaviNiemitalo commented on #19471
May be a duplicate of <https://github.com/dotnet/extensions/issues/2750>. Try a more recent version of the package.

[2021-08-07 14:52] KalleOlaviNiemitalo commented on #19458
Perhaps caused by:

- Microsoft.NET.Test.Sdk.props  sets IsTestProject=true: <https://github.com/microsoft/vstest/blob/5c9abb2ae1b0318dc52729a3639e72089c79fb3c/src/package/nuspec/Microsoft.NET.Test.Sdk.props#L17>
- NuGet.Build.Tasks.Pack.targets  detects IsTestProject=true and sets IsPackable=false: <https://github.com/NuGet/NuGet.Client/blob/7363366401b43f4ea250394db8dad3707e9a9636/src/NuGet.Core

[2021-08-07 15:36] NinjaCross commented on #19458
I will try that and let you know

[2021-08-07 16:43] KalleOlaviNiemitalo commented on #18294
Set `IncludeSourceRevisionInInformationalVersion` or `GenerateAssemblyInformationalVersionAttribute`, not `GenerateAssemblyFileVersionAttribute`.

[2021-08-07 16:54] KalleOlaviNiemitalo commented on #18259
I guess you have to use `-ignoreprojectextensions:.dcproj` starting with a hyphen, to prevent `dotnet` from treating the option as a path.

[2021-08-07 17:16] KalleOlaviNiemitalo commented on #17013
It might be possible to work around the check by adding `SetTargetFramework="TargetFramework=net6.0"` metadata to the ProjectReference.

[2021-08-07 18:44] javiercn commented on #19475
60d659cb3ff8a78eb4b106bed5be81e142ff0c09

[2021-08-07 18:44] #19475 closed

[2021-08-08 03:09] WeihanLi commented on #19471
Upgrade `Microsoft.Extensions.*` package from `3.1.0` to `3.1.17` saved me, great thank for your help @KalleOlaviNiemitalo

[2021-08-08 03:09] #19471 closed

[2021-08-08 08:58] uffebjorklund opened #19586 ".NET 5.0.8 cant build with PreBuildEvent"
Updated from `5.0.202` to `5.0.302` and after that the build just hangs forever after `Determining projects to restore...`.
When I removed the `PreBuildEvent` from my csproj the build works just fine.

If I switch back to `5.0.202` the build works with `PreBuildEvent`

[code]

## dotnet --info

[code]

[2021-08-08 09:26] uffebjorklund opened #19587 "CPU usage much higher in 5.0.302 compared to 5.0.202"
Upgraded my solution to `5.0.302` and looked at the app-metrics, the CPU usage is much higher in `5.0.302` compared to `5.0.202`.
Built both tests with `dotnet build -c release`

## 5.0.202
![Screenshot from 2021-08-08 11-25-16](https://user-images.githubusercontent.com/11662477/128627382-5c1222a4-78f3-4fea-859e-9d69d35aa2b2.png)

## 5.0.302
![Screenshot from 2021-08-08 11-19-06](https://user-imag

[2021-08-08 10:54] erecord opened #19588 ".NET 6 - blazor-hotreload.js is missing from _framework folder"
SDK: .NET 6 Preview 6

### Steps to reproduce

1. Create a blazorwasm project
2. Run `dotnet watch` command (hot reload enabled appears in the logs)
3. Visit the app in a web browser
4. 'An unhandled error has occured'.

The network tab shows a 404 for the `http://localhost:5000/_framework/blazor-hotreload.js` file.
The file is missing when I look in the bin/Debug/net6/wwwroot/_framework folder.

[2021-08-08 11:26] FeeSaver opened #19589 "HttpClient deflate decompression error"
Hi, I just tried to move project from Net 5 to latest preview of Net 6 and I have noticed issue with automatic decompression.
Gzip and Brotli seems to work fine, but Deflate is throwing IO error with invalid stream data.
When I change back to Net 5, everything works fine again. Here is part of code that throws the error on last line with stream.ReadAsync. I think this happen only when the website

[2021-08-08 16:32] KalleOlaviNiemitalo commented on #19589
Might be caused by <https://github.com/dotnet/runtime/pull/42717>. If I understand correctly, .NET used to treat `Content-Encoding: deflate` as only the RFC 1951 "deflate" compression, but RFC 2616 says it requires also the RFC 1950 zlib header.  This was fixed in .NET, but now if the HTTP server violates RFC 2616 by omitting the zlib header, it won't work.

[2021-08-08 17:21] FeeSaver commented on #19589
Its possible, but it really sucks, because many websites now wont work. I also found this issue https://github.com/dotnet/runtime/issues/38022 where they tried to fix it I think.
Making request to the same page they tested year ago "http://httpbin.org/deflate" fails for me under Net 6. The website works fine in Net 5, Chrome, Edge etc.

[2021-08-08 17:46] MichaeIDietrich commented on #19534
Related issue: #17645

[2021-08-09 02:11] cobaltsoftware commented on #17541
Apologies for the length of time.  Yes, I understand how the CLI works, and why. but the CLI doesn't meet my needs. If I'm working on an android application, I need to se it on a device, or an emulator.

The CLI is the same as it always has been since .Net 1.1 (and actually further back than that, but that's another subject). And there are still some scenarios were it will not work.

[2021-08-09 04:28] dsplaisted commented on #17541
It sounds like `dotnet run` isn't working from admin command prompts for you.  I'm not sure why that is happening.  So I asked you to try running the app without `dotnet run` in order to try to narrow down the issue.

`dotnet run` from the project folder should work, but I don't believe `dotnet run myApp.dll` or `dotnet run myApp.exe` has ever worked.

@joeloff Any ideas here?

[2021-08-09 05:02] RussKie commented on #19521
To call out a dependency - Windows Desktop (i.e. Windows Forms and WPF) can't be updated until this change is implemented.

[2021-08-09 05:03] RussKie commented on #19521
To call out a dependency - Windows Desktop (i.e. Windows Forms and WPF) can't be updated until this change is implemented.

/cc: @ryalanms

[2021-08-09 14:45] #19544 closed

[2021-08-09 16:53] wli3 commented on #19463
@agocke on runtime layer it should not be testing for global tools. It should be tests for apphost creation on all platforms

[2021-08-09 18:26] agocke commented on #19463
We already have those, so if you think standard apphost creation is good enough testing for global tools as well, feel free to close this issue.

[2021-08-09 20:08] sfoslund opened #19602 "Add workload force clean option"
Consider adding an option to remove all old workload/pack installation records. Users can run into issues and want this functionality during previews where a workload is renamed and as a result cannot be uninstalled due to being unrecognized by the resolver.

[2021-08-09 20:08] sfoslund opened #19603 "Add workload force clean option"
Consider adding an option to remove all old workload/pack installation records. Users can run into issues and want this functionality during previews where a workload is renamed and as a result cannot be uninstalled due to being unrecognized by the resolver.

[2021-08-09 21:38] sfoslund commented on #19602
Closing accidental dup

[2021-08-09 21:38] #19602 closed

[2021-08-09 23:45] marcpopMSFT commented on #19534
#17645 tracks the issues related to building to a common output folder.  This is not recommended though as it's safer to compile and then copy after.  We do not have plans at the moment to improve this experience beyond the `UseCommonOutputDirectory` flag already mentioned which has its drawbacks.

@tdykstra to investigate whether we should have a document covering `UseCommonOutputDirectory` and c

[2021-08-09 23:45] #19534 closed

[2021-08-09 23:47] tmeschter opened #19608 "Require individual languages opt-in to Hot Reload"
Right now the SDK adds the "SupportsHotReload" project capability to every project targeting .NET 6.0 or above:

https://github.com/dotnet/sdk/blob/e10860e628714df3a2b55af7c6a4967ab85a4b84/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L1129-L1132

This puts the burden on languages that do not currently support Hot Reload to know they need to opt out. It would be better to l

[2021-08-09 23:54] marcpopMSFT commented on #19487
Ryan has the accurate summary here (thanks @ryank425 ).  To add to this, MSBuild properties that are set by environment variables or CLI will get overwritten if you set them in your project file because MSBuild does an initial pass over all properties and whatever value is set last wins. That's why you'll find all throughout MSBuild and the SDK checks to see if a value is already set before overwr

[2021-08-10 04:29] KalleOlaviNiemitalo commented on #19487
That's not consistent with [Global properties](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-properties?view=vs-2019#global-properties), which says the -property switch **overrides** values that would be set in the project file.

[2021-08-10 05:47] AraHaan commented on #19446
Welp I tried on the PR and it seems no mater what I do something in the tests decides to fail.

[2021-08-10 06:02] KalleOlaviNiemitalo commented on #19446
According to <https://github.com/dotnet/sdk/issues/19521>, it should be:

[code]

However, <https://github.com/dotnet/sdk/pull/19599> has not been merged yet.

[2021-08-10 06:07] AraHaan commented on #19446
So basically I should be doing ``<Using`` instead of ``<Import Include="..."``? Now what about static usings?

[2021-08-10 06:12] ViktorHofer opened #19613 "PackageValidation should protect documentation files ("

[2021-08-10 06:13] ViktorHofer opened #19614 "PackageValidation should warn if documentation files are dropped (.xml)"
Currently, PackageBaselineValidation doesn't warn/error if documentation files are dropped. It would be great to have protection for this.

cc @Anipik @safern

[2021-08-10 06:16] KalleOlaviNiemitalo commented on #19446
For C# projects yes, use `<Using>` rather than `<Import>`, after <https://github.com/dotnet/sdk/pull/19599> is merged.

[2021-08-10 06:17] AraHaan commented on #19521
With this will it also be valid to also do stuff like:
[code]
as well?

[2021-08-10 06:19] bill-redcloudsolutions commented on #11533
The issue is likely due to the differences in the Fedora repos vs. the Microsoft repos.  Microsoft's repo installs the runtime into /usr/share/dotnet, which is where the CLI will look if it comes from a Microsoft-installed package.  Fedora installs dotnet-* to /usr/lib64/dotnet and looks for the installed SDKs and runtimes there instead.

Try this to fix your issue (worked for me with Fedora 34):

[2021-08-10 06:28] AraHaan commented on #19446
But when will the daily builds ship with #19599 after it gets merged? On my Repositories and locally I use the daily builds from the .NET install scripts.

[2021-08-10 06:49] alexrp commented on #19521
Yes, conditions work on any kind of MSBuild item.

[2021-08-10 07:19] #19613 closed

[2021-08-10 07:25] ViktorHofer opened #19615 "PackageValidation uses the wrong roslyn when the Microsoft.Net.Compilers.Toolset is used"
PackageValidation uses the `RoslynTargetsPath` property which always points to the compiler in the SDK. When using the toolset package, [the CSharpCoreTargetsPath and VisualBasicCoreTargetsPath properties are overwritten](https://github.com/dotnet/roslyn/blob/06495a2bf3813e13cff59d2cdf30c24c99966d8e/src/NuGet/Microsoft.Net.Compilers.Toolset/build/Microsoft.Net.Compilers.Toolset.props#L10-L11) but

[2021-08-10 07:25] ViktorHofer commented on #19615
cc @Anipik @safern

[2021-08-10 07:25] ViktorHofer commented on #19615
cc @ericstj

[2021-08-10 09:08] haiyanliu2 opened #19617 "There is no notifications pop up when open a project."
Environment:
MacOS: Catalina (10.15.7)
CLI\SDK:6.0.100-rc.1.21409.11(runtime-6.0.0-rc.1.21406.5)

Repro steps:
1.Install version 1.59.0: https://code.visualstudio.com/download
2.Install C# extension 1.23.15-beta1: https://github.com/OmniSharp/omnisharp-vscode/releases/download/v1.23.15-beta1/csharp-1.23.15.vsix
3.install SDK 6.0.100-rc.1.21409.11(runtime-6.0.0-rc.1.21406.5) from https://github.com

[2021-08-10 09:27] #19617 closed

[2021-08-10 15:05] winnerlein commented on #16204
I ran into the same problem as @mjcheetham. 5.0.203 works, and .302-1 hangs (not always, but often) on restore. On Linux Mint.

[2021-08-10 15:06] CodesInChaos commented on #16204
I ran into the same problem as @mjcheetham. 5.0.203 works, and 5.0.302-1 hangs (not always, but often) on restore. On Linux Mint.

[2021-08-10 17:14] Swetha312 opened #19628 "net 6.0 throws NETSDK1005 error during build/publish via cmd as it does not accept the property "TargetFramework(s)""
**_https://github.com/dotnet/sdk/issues/19487 - Could not re-open this issue So I'm creating a new one._**

Below is the my csproj file,
[code]

and running the below command fails,
`dotnet publish "MY_TEST_APP_CSPROJ_PATH" -c Release -o "RELEASE_PROJ_PATH" -r win10-x64 /p:TargetFramework=net6.0`

But, I can run the below command fine,
`dotnet publish "MY_TEST_APP_CSPROJ_PATH" -c Release -o "RELEA

[2021-08-10 18:35] gnadaban opened #19633 "dotnet restore within Docker image fails with Connection reset by peer errors"
Trying to build a Dockerfile which performs `dotnet restore` from a private Azure DevOps package repository fails with errors like this:

[code]

Dockerfile:
[code]

[2021-08-10 18:35] DamianEdwards commented on #19608
@pranavkm

[2021-08-10 18:43] DamianEdwards commented on #19400
We've decided to not add this option (or any others related to the use of new language features) to the templates in .NET 6. We can reassess this decision during .NET 7. Folks can still create new projects targeting .NET 5 (via the `--framework` option) and then retarget them to .NET 6 if they don't want the .NET 6 template content.

[2021-08-10 18:50] sebastienros opened #19634 "latest.version metadata file is not updated"
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/main/latest.version still returns

[code]

I would expect it to be preview7 or rc1 by now.

[2021-08-10 18:56] safern commented on #19614
This would be a great rule to have for package validation. @Anipik I will include it in the P1 roadmap, maybe we should add this on early 7.0.

[2021-08-10 18:58] lukemcdo commented on #19400
This is frustrating when you consider that .NET 5 is deprecated 6 months after the release of .NET 6, and .NET 7 isn't expected until past 6 months after the launch of .NET 6. That leaves a notable gap in support for the pattern developers have been using for decades.

There's also expected to be an uptick in templates that simply won't be compatible with .NET 5, and it sounds like the workaround

[2021-08-10 20:00] wli3 commented on #19147
@nohwnd could you look into this?

[2021-08-10 20:05] wli3 commented on #19158
@PureWeen All workload name changed between preview 6 and preview 7. Considering the error is about missing workload, it is very likely caused by that. And we don't try to maintain backcompact during previews. Could you try to use all preview 7 workload?

[2021-08-10 20:09] dsplaisted commented on #19521
@DamianEdwards I do not think we should support `enable` as a value for the `ImplicitUsings` property.  Other Boolean MSBuild properties just support `true`.  The `Nullable` property uses `enable` instead of `true` because it has 4 different supported values instead of just true and false: https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references#nullable-contexts

[2021-08-10 20:16] wli3 commented on #19446
@JunTaoLuo could you look into this?

[2021-08-10 20:18] PureWeen commented on #19158
@wli3 I haven't seen this error again and I'm not really sure how I would currently go about reproducing to see if this is fixed or not.

It sounds like this was just a quirk of being in preview so I'll close for now and then re-open if I see the issue again.

[2021-08-10 20:18] #19158 closed

[2021-08-10 20:20] wli3 commented on #16204
Is it possible to collect dump file using https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump#dotnet-dump-collect when the hang happens?

[2021-08-10 21:23] DamianEdwards commented on #19400
@lukemcdo I'm not quite following where your concern lies with regards to "gap in support for the pattern developers have been using for decades". To be clear, placing usings in each file is of course still supported by the compiler. Do you simply mean support for creating a new project that targets .NET 6 but doesn't use the new features such as implicit usings and nullable reference types? If th

[2021-08-10 21:29] DamianEdwards commented on #19521
@dsplaisted from the PR

[2021-08-10 22:00] AraHaan commented on #19521
@DamianEdwards Any ETA on when all this can be completed and in the daily rc.1 builds so I can try it locally / on my repositories in CI?

[2021-08-10 22:07] lukemcdo commented on #19400
My primary concern with default implicit includes is their consistency with existing documentation and templates for new/returning users to .NET.

A template that chooses to use global includes will, out of the box, produce quite different-looking code to what that same user just produced with .NET 5. This is fine for users who can figure out what’s going on and adjust their mental models in a few

[2021-08-11 01:08] davkean commented on #18286
Closed in lieu of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1370076.

[2021-08-11 01:08] #18286 closed

[2021-08-11 02:12] WeihanLi opened #19650 "Could we add support for `dotnet tool update -g -all`"
Currently, we had to update the dotnet tools one by one, could we provide a command like `dotnet tool update -g -all` to update all tools to the latest versions? And maybe for local dotnet tools also

It may relate to #18727

[code]

[2021-08-11 05:55] uffebjorklund commented on #19587
@sfoslund Update...
The issues remains in dotnet 5.0.400 (5.0.9)

[2021-08-11 05:55] uffebjorklund commented on #19586
@sfoslund Update...
The issues remains in dotnet 5.0.400 (5.0.9)

[2021-08-11 06:57] doniyorniyozov commented on #17752
I Still have this issue when doing "dotnet workload install maui"

[2021-08-11 07:45] Webreaper commented on #15225
I've just got this with .Net 6 preview 7, running with Visual Studio for Mac v8.10.

[2021-08-11 08:08] Webreaper opened #19652 "New/Empty Blazor Server Project from template doesn't compile (.Net 6 preview 7)"
## Bug Description
I was trying to produce a repro for another bug (#19653) in preview 7, so created a brand new empty Blazor Server project using the Wizard/Template in VS for Mac 8.10 (latest version). The resulting project doesn't compile.

<img width="804" alt="Screenshot 2021-08-11 at 08 59 31" src="https://user-images.githubusercontent.com/4901102/128992288-35b4411b-3f39-4765-958e-d55469ecfb

[2021-08-11 08:16] Webreaper opened #19653 "CreateAppHost failed Unexpectedly - The process must have the UseShellExecute property set to false in order to redirect IO streams"
## Issue Description:

Compiling a Blazor Server application using .Net 6 preview 7 results in the following error:

[code]

The problem appears to happen for any Blazor Server project built with .Net 6 preview 7 (I first saw it in [my project](https://github.com/Webreaper/Damselfly) and then reproduced it in a simpler, [sample project](https://github.com/Webreaper/Dotnet6Sqlite). I attempted to t

[2021-08-11 08:27] Webreaper commented on #17461
Installed .Net 6 preview 7 this morning, and I still get the error about this workload when I launch Visual Studio for Mac, so still have to set `export MSBuildEnableWorkloadResolver=false` to be able to continue working. So I'm not sure this is fixed in preview 7.

[2021-08-11 09:31] KalleOlaviNiemitalo commented on #19653
This seems a duplicate of <https://github.com/dotnet/runtime/issues/55992>, which was fixed in <https://github.com/dotnet/runtime/pull/56010>.

[2021-08-11 09:43] Webreaper commented on #19653
Ah, yes, so it is - I saw another issue about CreateAppHost failures, but it was something different; I didn't see that issue. Reading the comments it looks like it was too late to get into P7, but there's a workaround (use `<UseAppHost>false</>`) so I'll give that a try. Thanks!

[2021-08-11 09:45] #19653 closed

[2021-08-11 10:02] allanrodriguez opened #19654 "`dotnet list package` fails when current directory path contains `#` character"
When running `dotnet list package` while in the directory of a project with a `#` character in its path, I get the following error:
[code]

This works fine when the path doesn't contain a `#` character, or if I specify the project name in the command:
[code]

### Steps to reproduce

1. Create a folder called `C#` and `cd` into it.
2. Create a new project (e.g. `dotnet new console -n Test -o .`)
3.

[2021-08-11 11:31] DarekDan opened #19656 "dotnet 5.0.400 build stops after GetCopyToPublishDirectoryItems step on macOS"
I have created a simple solution with .Net webapi project, which builds fine from the VS GUI, but fails from the command line. I'm behind corporate proxy firewall with BlueCoat Systems certificate in the certificate chain to NuGet.org, which I have experienced firsthand to cause problems in the past.  The `dotnet build` command reaches this point in the build process:

[code]
Attempting to cancel

[2021-08-11 11:54] DarekDan commented on #19656
I've narrowed it down a bit.
1. `dotnet new sln -o WebApiSlnTest`
2. `cd WebApiSlnTest`
3. `dotnet new webapi -o WebApiTest`
4. `dotnet sln add ./WebApiTest/WebApiTest.csproj`
5. `dotnet build` succeeds
6. `dotnet new classlib -o WebApiModel`
7. `dotnet sln add ./WebApiModel/WebApiModel.csproj`
8. `dotnet build` gets stuck indefinitely

Hope this help in troubleshooting this issue.

[2021-08-11 14:06] KalleOlaviNiemitalo commented on #19654
<https://github.com/dotnet/msbuild/issues/2178> and linked issues likewise describe problems with special characters. But the documentation that was added in <https://github.com/dotnet/docs/pull/22517> does not cover `#`.

[2021-08-11 15:04] LokiMidgard opened #19662 "No template is installed when running `dotnet new --install`"
I tried to install the UNO project template using `dotnet new -i Uno.ProjectTemplates.Dotnet` but nothing is installed.
The Output:
[code]

I also tried `dotnet new -i Microsoft.DotNet.Web.Spa.ProjectTemplates` as shown in the [docs](https://docs.microsoft.com/en-us/dotnet/core/install/templates?pivots=os-windows) but this also did not work.

`dotnet --version` shows `5.0.301`

I'm not sure if tha

[2021-08-11 15:10] dotMorten commented on #19050
I hit this today too. It's seems rather silly to turn on a feature that isn't supported.

[2021-08-11 16:17] DamianEdwards commented on #19521
@AraHaan hopefully within the next week.

[2021-08-11 16:19] jonathanpeppers commented on #19050
I think we can close this in favor of https://github.com/dotnet/sdk/issues/19521, this feature is being redesigned.

The idea is you will have to opt into it with `ImplicitUsings=true`, so we wouldn't have hit an issue if that was the case.

[2021-08-11 16:19] #19050 closed

[2021-08-11 16:25] DamianEdwards commented on #19400
We've made large, impactful changes to project templates many times during the .NET Core lifecycle, especially the web templates, which have the same potential issues as you point out, and each time we've attempted to mitigate those issues through documentation and communication. Ultimately, features come and go, idioms change, yesterday's boilerplate is today's default, and I don't see that trend

[2021-08-11 16:27] Redth opened #19663 "Global tools shim signing is lost when tool is updated"
### Description

Fix global tools shim signing is lost when tool is updated

### Customer Impact

After running a tool update, if the shim (the exe to start up .net tool) is signed, it would lose its signature.

### Regression?

No, it is an bug since the packaged shim feature is created. The packaged shim is applied only during install not in update.

### Risk

Low

Need to port to

- [ ] 3.1.4xx

[2021-08-11 18:46] tdykstra commented on #19534
@ghogen should we add `UseCommonOutputDirectory` to https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-reserved-and-well-known-properties

[2021-08-11 19:03] kalikin commented on #19634
This may be the reason why [install script](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) still downloading preview6 SDK with `-Channel 6.0` option.
With added `-Runtime dotnet` it downloads preview7 runtime as expected.

[2021-08-11 19:23] stefanloerwald opened #19665 "Targeting net5 using net6 SDK causes pack failure"
To reproduce, create the empty files `Component.razor` and `Component.razor.css` (no content required).

As the csproj file use

[code]

Then run `dotnet build` and afterwards `dotnet pack`. The latter will fail with the error message

[code]

This is using SDK 6.0.100-preview.7.21379.14.

[2021-08-11 19:42] ghogen commented on #19534
@tdykstra Yes, thanks. Created issue as linked above.

[2021-08-11 20:03] efonsecab opened #19671 "Workload commands failing after installing VS2022 Preview 3 and .NET 6 Preview 7"
### Describe the bug
After installing .NET 6 and Visual Studio 2022 Preview 3, I tried to install the MAUI workloads, using both maui-check and dotnet workload install.

maui-check fails while trying to repair workloads

### To Reproduce
Install Visual Studio 2020 Preview 3
Try to install the MAUI workloads.

### Exceptions (if any)
![image](https://user-images.githubusercontent.com/3481899/129095

[2021-08-11 20:17] Anipik commented on #19615
the codeAnalysis is not loaded before the package validation task is run even while consuming it through the package.

[2021-08-11 20:19] MichaeIDietrich commented on #19534
I just would like to add some info why a shared output directory is useful and might be kind of needed for some solutions.

On the one hand project-scoped output directories do not really scale well with large solutions because each executable project will copy _all_ of its (transitive) NuGet DLLs into its output directory, same goes for test projects. (For our solution this ended up in several GB

[2021-08-11 20:21] MarkStega opened #19670 "Upgraded to .net 6 Preview 7 and workload commands are failing"
### Describe the bug
I upgraded to VS2022 Preview 3 and attempted to follow the instructions for removing the old aot workload and received this failure:

[code]
I think this occurred because after a failed VS2022 installation yesterday I completely removed VS2022 and the
entire preview6 & preview7 runtimes. So presumably the installed aot workload did not exist. So I believe that this is just a b

[2021-08-11 20:21] pranavkm commented on #19670
FYI @radical

[2021-08-11 21:00] radical commented on #19670
@lewing @steveisok any idea about this?

`Installation roll back failed: Failed to install manifest microsoft.net.sdk.android version 30.0.100-preview.7.93: microsoft.net.sdk.android.manifest-6.0.100::30.0.100-preview.7.93 is not found in NuGet feeds C:\Solutions\Local NuGet Packages;C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\;https://api.nuget.org/v3/index.json"..`

[2021-08-11 21:07] KalleOlaviNiemitalo commented on #19534
@MichaeIDietrich, [Microsoft.Build.Artifacts](https://github.com/microsoft/MSBuildSdks/blob/Microsoft.Build.Artifacts.2.2.0/src/Artifacts/README.md) looks like it could be used to "finally copy all resulting files". That would consume even more disk space, though.

[2021-08-11 21:07] TraceLD opened #19672 "Bring back the option to use old templates (non-top level statements style) (changed in .NET Preview 7)"
While I appreciate the benefits of top level statements, especially for beginners that want to start their journey with C#/.NET/ASP.NET Core, many of us create larger Web APIs and applications for which the new templates (top level statements style project architecture) are unsuitable and require manually looking up and writing the old `Startup.cs`-style boilerplate (looking up as I doubt many of

[2021-08-11 21:14] tmat opened #19674 "Hot Reload: unable to call added public API"
### Description

Calling a public method added to a referenced library during Hot Reload may throw `System.MissingMethodException`.

Repro:
Run App.exe, uncomment the commented code and apply changes. If both changes are applied at the same time the exception is thrown. If the method is added first and then the caller is updated it works. Seems like the changes should be applied in topological ord

[2021-08-11 21:31] jtmueller commented on #19670
I get the same error on the uninstall command, and I didn't uninstall anything before installing VS 2022 Preview 3.

[2021-08-11 22:18] tebeco commented on #19672
I can't agree more with @TraceLD here.
Having minimal bootstrap is good for a certain usage, but completely removing it with no possibility of going back don't look like a good idea.

I might be missing something but having either an Opt-In or Opt-Out here

[2021-08-11 23:08] KathleenDollard commented on #19521
I really want to retain enable, not true/false because experience with VB leads me to see the potential that people will want a "minimal" and @davidfowl keeps coming up with new ideas for what to include :-)

[2021-08-11 23:08] #19608 closed

[2021-08-11 23:27] wilzonejoe commented on #19670
I found a solution which is working for me.

Steps
1. Delete C:\Program Files\dotnet\metadata\workloads folder
2. Go to CMD (Admin)
3. run "dotnet workload install maui"

[2021-08-11 23:38] mhutch commented on #19521
Should the properties that control global usings from various workloads be updated to mirror the property name change?

e.g. should `DisableImplicitNamespaceImports_Web=true` become `ImplicitUsings_Web=disable` to keep terminology consistent? That would make it inconsistent for VB.

I'm concerned _every_ workload will have to implement C# and VB variants of the property. Maybe we could use a singl

[2021-08-12 00:10] dsplaisted commented on #19521
The [current PR](https://github.com/dotnet/sdk/pull/19599) removes the individual properties such as `DisableImplicitNamespaceImports_Web`.  Personally, I think it's simpler and better that way.  Implicit usings are either on or off via the `ImplicitUsings` property, and the ones you get depend on which SDK you are using.  If you want to customize the usings you can always do so via `<Import Remov

[2021-08-12 01:10] mhutch commented on #19521
Ok, so presumably we should remove all such properties that have already been added?

[2021-08-12 01:47] jeromelaban commented on #19400
I've just experienced that new feature default, and it's not particularly existing-project-friendly. I seems though that [the .NET team](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-7/#comment-9902) now says it'll be disabled by default.

Even when turned on, I'd find useful to have the generated file contain a documentation link on how to disable it, since it's one of the first

[2021-08-12 02:17] Kuinox commented on #10754
Hello,
I was trying to figure out why dll in the publish folder does not follow a dependency downgrade.
After extensive trouble shooting, I found this issue by searching if "_CopyResolvedFilesToPublishPreserveNewest" had any issue.

This behavior is dangerous because it lead to producing incorrect publish folder:
Any CI that wont perform any cleaning won't be able to downgrade a dependency and wil

[2021-08-12 02:27] Kuinox commented on #10754
Hello, @marcpopMSFT
Sorry for the ping, but it looks like this issue want unseen because it has 0 label due to being transfered.

[2021-08-12 02:27] dsplaisted commented on #19521
I believe the PR already does this.

[2021-08-12 02:39] danmoseley opened #19679 "SDK build sporadically failing due to multiple pipelines trying to concurrently upload 'BlobArtifacts/dotnet-toolset-internal-6.0.100-ci.zip'"
This may possibly just corrupt the blob instead. @joeloff is investigating. We probably should prioritize fixing...

[code]

Same thing happened here:

#19582 (comment)

See also dotnet/core-eng#14015

@dotnet/domestic-cat

[2021-08-12 04:37] Turnerj commented on #17775
I hate to be _that_ person but is there anyway I can help push this forward? Do I need to convince more people this is a problem or help contribute to a PR for this?

[2021-08-12 04:47] WeihanLi commented on #19662
Maybe it's because it had already been installed, maybe you can try to install other templates to see if it works, for example:

[code]

[2021-08-12 05:37] SonicGD commented on #19665
We have the same issue. I tried daily build 6.0.100-rc.1.21411.30 but error still present.

[2021-08-12 06:40] LokiMidgard commented on #19662
@WeihanLi Today I'm on a different PC, but the PC where I have problems was setup recently and I'm as sure as I can be that I did not installed one of the templates I tested (before). Also if the templates would already be installed I should see them in the list and could create projects using new.

I just installed the uno templates on my current machine and it worked without problems.

But I can

[2021-08-12 06:50] WeihanLi commented on #19662
Hi @LokiMidgard, I'm guessing maybe it's because the template you tried(`Microsoft.DotNet.Web.Spa.ProjectTemplates`) may already be included in the .NET SDK.

Glad to hear you installed other templates successfully.

[2021-08-12 07:00] LokiMidgard commented on #19662
@WeihanLi I could install on a **different machine**. On the **problematic machine** I was not able to install any (tested 2) templates. I will test more when I'm back (tomorrow or next week)

[2021-08-12 07:07] WeihanLi commented on #19662
Could you please share your .NET SDK version info, you can get details with the command `dotnet --info`, which may be helpful for others to investigate the problem

[2021-08-12 07:09] #14044 closed

[2021-08-12 07:09] #18064 closed

[2021-08-12 10:45] almas-f commented on #17752
I have the same issue while installing maui workload

[2021-08-12 13:20] nosami opened #19691 ""dotnet workload update --print-download-link-only" command fails"
I tried this with both the released version of preview 7 and the latest RC main branch build of the installer.

`dotnet workload update --print-download-link-only` fails.
`dotnet workload update` (without `--print-download-link-only`) works fine, but I need to download packages in the background for VSMac.

This command was working AFAIR with preview 7 before I went on vacation a couple of weeks b

[2021-08-12 14:56] MarkStega commented on #19670
That worked for me; I renamed the folder, ran 'dotnet workload install wasm-tools' and it worked; It found the existing packs as per
[code]

[2021-08-12 15:12] p-bojkowski opened #19695 "Solution build running for 18 min. after upgrade to Visual Studio 2022 17.0.0 Preview 3.0 and SDK 6.0.100-preview.7.21379.14"
Hi!

after I upgrading from Visual Studio 17.0.0 Preview 2 and SDK 6.0.100-preview.6 to
Visual Studio 2022 17.0.0 Preview 3.0 and SDK 6.0.100-preview.7.21379.14 -
the build takes now on my solution 18 min.!

Before the upgrade it takes only 35 sec.
How to check what is going on?
How to enable logging to see what now take so much more time?

Maybe related to this issue too: https://github.com/dotne

[2021-08-12 15:12] nosami commented on #19691
@jonathanpeppers @marek-safar Can either of you two possibly help me? Am I missing a NuGet feed?

[2021-08-12 15:30] jonathanpeppers commented on #19691
I've not used `--print-download-link`, but daily builds of that package seems like it is on this feed:

https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json

If you're using the public release, everything *should* be on NuGet.org, though.

[2021-08-12 15:37] danmoseley commented on #19679
This is happening regularly, eg., in the maestro ingestion today for runtime

https://dev.azure.com/dnceng/public/_build/results?buildId=1289894&view=logs&jobId=60adcdc4-a9f0-5668-20f7-b72181c68fb2&j=e98fba6a-08a4-5b7c-1ef9-6d6c234aaf57&t=1735c990-7aa9-5be6-fc9c-fceb366f4f34&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c

https://dev.azure.com/dnceng/public/_build/results?buildId=1289894&view=logs&jobId=6

[2021-08-12 15:40] nosami commented on #19691
@jonathanpeppers Thanks for the help, but I still get he same error when I add that feed.

@wli3 can reproduce this error and is currently investigating.

[2021-08-12 15:48] pranavkm opened #19696 "Remove ImplicitUsings=enable from test after stage 0 SDK is updated"
The SDK tests creates a project from a stage 0 SDK which is affected by the ImplicitUsings change. The template has been updated, but we need a new stage 0 for the test to pass. In the meanwhile, the test is tweaked to allow it to continue working without being skipped.

[2021-08-12 15:58] pranavkm opened #19697 "Allow VB import definitions to be overriden / removed from an app"
Tthe VB Import definitions are currently in the Microsoft.NET.Sdk.VisualBasic.targets file. Moving it to the props file will make it possible to override / remove these in the project file, and will probably make the project properties page that manages these work better too.

[2021-08-12 16:05] joeloff commented on #19679
I'll take a look today. We probably only need one or need to add the configuration property as a discriminator.

[2021-08-12 16:09] wli3 commented on #19691
it is interesting. This issue only happens in --print-download-link. Now even normal workload update

[2021-08-12 16:10] persiandeveloper opened #19698 "referenced package in .NET is not copied if the OutputType is not “Exe”"
I have a .netstandard (V2.0) project (called X) that has dependency on Newtonsoft.Json (V 13.0.1) through package reference.

There is a .net 5.0 library project (Called B) that references X. When I build the project "B", in bin folder I can see the X.dll but the "Newtonsoft.Json" dll file is not copied.

If I add "Exe" to project B, it will copy "Newtonsoft.Json" dll to bin folder.

`<OutputType>

[2021-08-12 16:17] joeloff commented on #19679
So this is a zip that contains the full SDK. Looks like it's being used as a transport for dotnet/installer that we then unzip and harvest into the .NET SDK installer. Not sure why we have the langpack, because the normal zip contains the resource assemblies already.

@dsplaisted any concerns if we only publish this for the release build?

[2021-08-12 16:20] wli3 commented on #19691
@nosami this is a bug in SDK being exposed only in `--print-download-link` and aot started to use "depend-on" feature

[2021-08-12 16:51] joeloff commented on #19679
I searched dotnet for dotnet-toolset-internal references. It only shows the SDK, but it's used in the installer repo, so now I'm not sure if I should trust the search. I'm trying to determine whether anyone else besides dotnet/installer depends on this artifact

[2021-08-12 17:18] faldeland commented on #10598
Same problem here. I upgraded project from .netcore 2.2 to .netcore 3.1 and this occurs regularly.

[2021-08-12 17:25] coldacid commented on #15443
I'm now getting tripped up on this too. net5.0 project.

[2021-08-12 17:28] #19615 closed

[2021-08-12 18:36] andschwa commented on #18101
Just curious, is there any update to a solution for this issue? I noticed a couple other issues have been traced back to the same root cause.

[2021-08-12 18:48] andschwa opened #19702 ".NET SDK 6 Preview 7 generated file `ImplicitNamespaceImports.cs` contains error CS8773"
Good morning,

I just tracked down a CI failure to a .NET SDK update. With `dotnet v6.0.100-preview.7.21379.14` our whole build is [failing](https://dev.azure.com/powershell/PowerShellEditorServices/_build/results?buildId=84470&view=logs&j=f07d69e4-3e72-53cd-6968-8728b0ae8cd2&t=56b36b60-eec0-5478-0768-cbdbadd5d8f5&l=654) with the repeated error:

[code]

This error did not show up [last night](htt

[2021-08-12 18:49] joperezr commented on #18101
@dsplaisted is there an ETA for when this fix will land? I suppose that before shipping 6.0? If we don't fix this in time I'm afraid a lot of customers will start hitting this as soon as we ship a VS that contains this SDK

[2021-08-12 20:08] javiercn opened #19704 "[StaticWebAssets] Tweak the settings when invoking referenced projects"
Through integrating static web assets in Maui we've discovered that we need some Tweaks to the project references. When we capture the project references and merge them in a StaticWebAssetConfiguration item, we need to ensure we capture the right set of properties from the associated project reference to ensure later on we invoke them in the same way we did to collect the references originally.

T

[2021-08-12 20:28] richlander opened #19706 "New `-a` and `--os` are self-contained by default"
Was testing these new switches per https://github.com/dotnet/sdk/pull/18889. They are self-contained by default. That's not what I was expecting.

From the [spec](https://github.com/dotnet/designs/blob/main/accepted/2021/architecture-targeting.md#enable-shorthand-rid-targeting-syntax):

This is what I see:

[code]

[2021-08-12 20:40] sebastienros commented on #19634
@leecow @rbhanda I believe that this is a manual operation (checked previous identical issues).
Who needs to be notified? It's breaking the aspnet benchmarks since it's relying on this file to install the latest sdk, and lots of components ask for langversion 10 now.

[2021-08-12 22:58] erdembayar commented on #19654
@allanrodriguez
In your repro steps you didn't add any packages. if you do `dotnet add package Elmah` between step 2 and 3 then you'll see following.

[code]

[2021-08-12 23:09] iskiselev commented on #19487
@marcpopMSFT, it doesn't work as expected, documented or as it worked before.
Let's start with very simple test project file:
[code]

If we try to compile it using SDK 5.4.0 with command: `dotnet build /p:TargetFramework=netcoreapp3.1`, it will succes. The output from "Test" target will be, as expected, "netcoreapp3.1".
When we compile the same with SDK 6.0.100-preview.7.21379.14, it fails with: `

[2021-08-12 23:10] iskiselev commented on #19628
Can #19487 be reopened and this been closed to discuss it in one place?

[2021-08-13 00:08] erdembayar commented on #18467
@stefan-hartmann-lgs
Could you be able to provide `dotnet --info` details?

@dtivel @heng-liu
I believe currently cert verification can't be disabled on Win OS, right?

[2021-08-13 00:14] erdembayar commented on #18692
You can override your global package folder in nuget.config file.

[code]

Also see https://github.com/NuGet/NuGet.Client/blob/7d8988d25ac0155770b3b2ceb0ddbeff7d69b317/scripts/nuget-debug-helpers.ps1#L241-L265

[2021-08-13 04:02] AraHaan commented on #19521
Didn't these get completed too when #19599 was merged?

[2021-08-13 06:22] KalleOlaviNiemitalo commented on #18692
Maybe you need \<clear/> in the package sources.  <https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesources>

[2021-08-13 07:51] allanrodriguez commented on #19654
@KalleOlaviNiemitalo I think my issue is a little different; most `dotnet` commands work with paths that contain `#`, including `dotnet list ./Test.csproj package`. It's specifically `dotnet list package` that has this issue when running it in the same directory as `Test.csproj`.

@erdembayar I get the same results as you on my Windows machine, even without adding a package. It's when using my mac

[2021-08-13 08:05] KalleOlaviNiemitalo commented on #19702
<https://github.com/dotnet/sdk/pull/19599> already changed the feature to opt-in so the file will not be generated unless you set the `ImplicitUsings` property or define `Using` items. But this was merged after 6.0 preview 7. If you do not intend to use implicit usings in PowerShell, I suggest disabling them with `DisableImplicitNamespaceImports` until you can update to a version where they are di

[2021-08-13 08:49] vadi2 opened #19713 "dotnet pack version suffix is not respected"
Neither `dotnet pack --version-suffix rc` nor `dotnet pack /property:VersionSuffix=rc` is working to give the package a suffix.

The output for either command is:

[code]

This is with 5.0.400.

[2021-08-13 08:55] stefan-hartmann-lgs commented on #18467
@erdembayar sure! It is simply the version provideddotnet SDK docker image:

[code]

[2021-08-13 09:23] Ian1971 commented on #2902
I was bugged by this problem for a while. Took ages to spot the cause and resulted in having to build things twice if it failed. It turned out that one projects that referenced the project that always reported the  error only had TargetFramework netstandard2.0, whilst all the others were both net5.0 & netstandard2.0. Once I switched that project to ```<TargetFrameworks>net5.0;netstandard2.0</Targe

[2021-08-13 09:28] LokiMidgard commented on #19662
I tried to install Xunit.DependecyInjection.Template and it also does not work.

The output of `dotnet --info`

[code]

[2021-08-13 13:38] orryverducci commented on #19670
I've experienced the same issue on both my Windows and Mac devices when trying to update to the MAUI workload after updating from Preview 6 to Preview 7. Uninstall and installing the workloads also fail.

The workaround suggested above resolved this for me, but it caused me a couple days of confusion before discovering the workaround, so ideally the dotnet CLI shouldn't be hitting this issue.

[2021-08-13 14:47] MarkStega commented on #19671
There is a workaround:

1) Delete C:\Program Files\dotnet\metadata\workloads folder
2) Go to CMD (Admin)
3) run "dotnet workload install maui"

[2021-08-13 15:57] dtivel commented on #18467
Signed package verification was not enabled on Linux until .NET SDK 5., so revocation checks related to NuGet signed package verification cannot be the reason for slow performance under .NET Core SDK 3.1.  `NUGET_CERT_REVOCATION_MODE` won't have any effect under .NET Core SDK 3.1.

As a side note, NuGet signed package verification was temporarily disabled by default on Linux with [.NET SDK 5.0.202

[2021-08-13 16:03] erdembayar commented on #19654
I can repro this sdk  5.0.203 on MAC, it looks subtle bug.

[2021-08-13 16:06] erdembayar commented on #19654
@allanrodriguez
Could you be able to create issue on nuget.client repository? https://github.com/nuget/nuget.client/issues/new
Somehow I was not able to transfer to nuget.client repository.

[2021-08-13 16:54] richlander opened #19724 "Publishing a self-contained app as a higher version is awkward"
For testing, I often upgrade .NET 5 apps to .NET 6 (or soon .NET 6 to .NET 7). It is trivial to upgrade a .NET 5 app to .NET 6 for framework-dependent. The experience for self-contained is more awkward. It would be great to improve this in .NET 7. This root cause isn't specific to my scenario but other scenarios where restore and build/publish don't match in some way.

[code]

Upon further discove

[2021-08-13 16:54] #19724 closed

[2021-08-13 17:31] slang25 commented on #17461
I fixed it by deleting the following folders from `/usr/local/share/dotnet/sdk-manifests/6.0.100`
![image](https://user-images.githubusercontent.com/1341446/129397224-b30bd1f8-1291-4c2a-8247-8d44a4b2a348.png)

I believe one of the older previews put these folders there, so it could be that it's fixed from occurring again, but with no automatic fix-up shipping in new previews.

[2021-08-13 17:58] mhutch commented on #19521
Not in other repos. Just calling out that we should be aware of that.

[2021-08-13 18:01] Webreaper commented on #17461
Nice! Will try that later.

I had some problems with preview 7, and when I reinstalled preview 6 they continued - in the end I had to manually delete/uninstall the preview 7 files that had been left behind. It might be useful if the folks from MSFT could add an option in the SDK installer that force-deleted all other older (and newer) previews completely, so people could ensure they were running w

[2021-08-13 19:05] bricelam commented on #10902
Duplicate of #10566

[2021-08-13 19:07] agocke commented on #12904
Moving this to backlog for the moment, but I'd be interested in taking this for 6.0.2xx -- it just requires some coordination with Roslyn.

[2021-08-13 19:53] andschwa commented on #19702
Is the issue that Preview 7 opted everyone in, and the opt-out by default wasn't merged in time to fix that for Preview 7?

[2021-08-13 20:32] paul1956 opened #19735 "Something changed in VS 2022 Preview 3 and VS 2019 16.11 that breaks VB WinForms Apps"
**Visual Studio Version**:
VS 2022 Preview 3 and VS 2019 16.11

**Summary**:
System and Microsoft.VisualBasic as well are many other libraries now require an explicate Import

**Steps to Reproduce**:
any existing WInforms application now requires explicate imports in designer file
[code]

**Expected Behavior**:
Project should just work

**Actual Behavior**:
1000's of errors
**User Impact**:
lots o

[2021-08-13 21:28] dsplaisted commented on #16563
Hi folks,

Sorry for the inconvenience this caused.  We've reverted the change for .NET 6: #19651

[2021-08-13 21:31] dsplaisted commented on #13331
Hi folks,

Sorry for the inconvenience this caused. We've reverted the change for .NET 6: dotnet/sdk#19651

[2021-08-13 22:00] marcpopMSFT commented on #17461
@sfoslund for visibility as we tried to put a hack into the resolver to avoid this particular rename but it looks like that may have only applied to VS. Workloads were designed to be SxS across different feature bands but not within the same one which previews are.

[2021-08-13 22:21] marcpopMSFT commented on #19487
It's possible I misunderstood the original issue  as reading it again, they say that the build failed. I assumed they meant that the TFM was not being set correctly but with the latest comment, it sounds like the /p switch is working correctly but rather that's triggering NETSDK1005.

@dsplaisted, this appears to be a change in behavior between 5.0 and 6.0 that 6.0 will give the NETSDK1005 if you

[2021-08-13 23:19] dsplaisted commented on #19487
The behavior for the .NET 6 SDK is the behavior we intended.  I'm not sure why the .NET 5.0 SDK isn't behaving the same way, looking at the code makes it look like it should do the same thing.  I'm guessing there was a bug that was fixed as part of the process of changing the command line parser to System.CommandLine for the .NET 6.0 SDK.

The reason this is the intended behavior is for the scenar

[2021-08-14 00:07] dsplaisted commented on #19735
Yes, this looks like the same thing.  If someone can share a [binlog](https://aka.ms/binlog) of a build with this issue that would help me look into it.

[2021-08-14 03:17] davidfowl commented on #19702
It’s changed in rc1 not preview 7

[2021-08-14 09:48] salimhali opened #19739 "Maui: Workload installation failed: The transaction has aborted"
hello
I have problem with workload install maui
I've tried to fix it but all my attempts were failed
same problem appears with maui-check command or dotnet workload install maui command
I need your help

Installing pack Microsoft.NETCore.App.Runtime.Mono.android-arm64 version 6.0.0-preview.7.21377.19...
Workload installation failed: The transaction has aborted.

this what appears exactly

! Attemp

[2021-08-14 16:49] vatsan-madhavan commented on #15972
This happened to me again yesterday. I sent MSBuild logs by email to @marcpopMSFT since they’re not publicly shareable - hope they’re helpful in investigating the problem further.

[2021-08-14 17:15] DamienDoumer commented on #18628
I came across this error, and when I tried re-running "dotnet workload install maui" I got this error.
Please which nuget.config should be updated ?

System.Exception: Inconsistency in workload manifest 'microsoft.net.workload.mono.toolchain': missing dependency 'Microsoft.NET.Workload.Emscripten'
   at Microsoft.NET.Sdk.WorkloadManifestReader.WorkloadResolver.RefreshWorkloadManifests() in Microso

[2021-08-14 21:42] Webreaper commented on #17461
I tried deleting those folders, but it didn't fix the issue for me. I'm using the VS4Mac 2022 preview, and this workload issue hangs it at startup so you can't quit - the only way to solve it is force-quit. Luckily the `export MSBuildEnableWorkloadResolver=false` solves it in there too.

[2021-08-15 00:34] richlander opened #19743 "Preview 7 UX for Arm64/x64 co-existence on macOS"
Let's take a look at the experience that is offered for Arm64/x64 coexistence on macOS.

I will use this app for the test. https://github.com/dotnet/core/tree/main/samples/dotnet-runtimeinfo

## Installing .NET (correctly)

We haven't updated the installers yet, so I had to take some special steps to setup my machine as if they did. Here's what I did.

- Delete .NET from my machine
- Install vario

[2021-08-15 10:33] allanrodriguez commented on #19654
@erdembayar I can create an issue in the nuget repo, but first I wanted to confirm that the issue isn't in this repo. I ask because the error message returned from `dotnet list package` closely matches one in this repo:

https://github.com/dotnet/sdk/blob/e9667aef50fe25c58ea4310ec42a62a5e8813283/src/Cli/dotnet/commands/dotnet-list/dotnet-list-package/ListPackageReferencesCommand.cs#L122

https://g

[2021-08-15 11:16] KalleOlaviNiemitalo commented on #19654
I suspect the bug is in PathUtility.GetAbsolutePath, which uses the Uri class even though the input is not URI-encoded: <https://github.com/dotnet/sdk/blob/e9667aef50fe25c58ea4310ec42a62a5e8813283/src/Cli/Microsoft.DotNet.Cli.Utils/PathUtility.cs#L237-L238>

[2021-08-15 11:33] FeeSaver commented on #19589
Is there any planned workaround? There are website apis that work for me using any browser or basically anything other than Net6 app. Or just half of websites using deflate wont work from now on? I had seen this issue on many application that use NodeJS. I looked at what they use and they have 2 versions of deflate and the default is not the Zlib version which is the only version Net6 use now?!

h

[2021-08-15 12:24] KalleOlaviNiemitalo commented on #19589
.NET has [DeflateStream](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.deflatestream?view=net-6.0) and [ZlibStream](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zlibstream?view=net-6.0). I imagine you could work around the issue by disabling automatic decompression, which now uses ZlibStream for "deflate", and instead adding the Accept-Encoding header field

[2021-08-15 12:35] KalleOlaviNiemitalo commented on #19589
If there is no code fix done to automatically detect noncompliant servers and decode the plain DEFLATE without zlib, I think this should be documented as a breaking change.

[2021-08-15 16:48] Extrimis opened #19746 "ICompositorDesktopInterop throws exception in TFM .NET 5"
I was trying to port a C# code from .NET 4.8 to .NET 5, older version of .NET was using `Microsoft.Windows.SDK.Contracts`, In .NET 5 `Microsoft.Windows.SDK.Contracts` is replaced by **Target Framework Monikers (TFMs)** I used the same code an tried to cast the compositor to `ICompositorDesktopInterop` but it throws exception :

Here is the code:

[code]

Since this method throws exception I tried

[2021-08-15 17:58] erdembayar commented on #19654
I'm not sure, but in our repo we already have [unit test](https://github.com/NuGet/NuGet.Client/blob/dev/test/NuGet.Core.FuncTests/Dotnet.Integration.Test/DotnetListPackageTests.cs) for `dotnet list package` so that means very high probability it's connected to our repo.

[2021-08-15 18:09] FeeSaver commented on #19589
I am hoping for some fix really, .Net deflate worked well "incorrectly" for years, but atleast it worked. Now it is correct to latest standard, but not useable.  I guess deflate is used mostly on older servers, the newer servers that maybe support the newer standard use gzip or brotli anyway. My problem is that some sites just return deflate content as default whether I set it as accepted encoding

[2021-08-15 18:36] arn88 opened #19747 "build .NET Framework WPF project in linux docker container"
The CLI allow to build .NET Freamwork targets on non-windows os using the `Microsoft.NETFramework.ReferenceAssemblies` included in csproj file
[code]
The simple dockerfile to execute steps in container
[code]
On the local machine, the project builds successfully, but when the build performs in docker, an error occurs during the dotnet build step:
[code]

[2021-08-15 18:49] vitek-karas commented on #19743
Can you try adding `install_location` file as per the [design](https://github.com/dotnet/designs/blob/main/accepted/2021/install-location-per-architecture.md).

Create a text file `/etc/dotnet/install_location` and put this text into it:

[code]

Now try running the .NET 5 app in a clean environment just by running the executable - it should work.
.NET 6 apps targeting arm64 should also work witho

[2021-08-15 23:44] richlander commented on #19743
Thanks! I knew that we had done that when I did the test but couldn't find the format of that specific file. I now remember it upon seeing you write it. I figured it was still worthwhile to write it up in absence. I will re-test it with this. Thanks!

[2021-08-16 02:03] MichaelSL commented on #17461
[code]

[2021-08-16 02:14] SilentHill opened #19748 ".NET6 preview 7 cannot find System.Net.Quic automatically."
Hi,
I found an issue about System.Net.Quic in .NET6 preview 7
I created a .NET6 preview 7 C# project but it cannot find the System.Net.Quic.QuicListener.
I have to browse to "C:\Program Files\dotnet\shared\Microsoft.NETCore.App\6.0.0-preview.7.21377.19" to reference it directly.

In .NET6 Preview 6, it is normal.
In .NET6 Preview 7, it is abnormal.

Would you please check it? Thanks!

[2021-08-16 04:08] TaylorWatson commented on #17461
Nuking the entire `/usr/local/share/dotnet/sdk-manifests/6.0.100` from orbit seems to have resolved my issues -.- This has been such a pain.

[2021-08-16 06:25] jirikopecky commented on #17991
Hello, I can confirm that SDK 5.0.400 fixed the issue. Thanks!

[2021-08-16 07:21] Michael-Milligan opened #19749 "Unable to load any projects after failed installation of MAUI"
I tried to install MAUI yesterday, it failed, so I postponed it for today. When I was trying to open unrelated projects projects they would throw error:
![image](https://user-images.githubusercontent.com/62278978/129525788-0e7c3467-1236-41b9-b0f0-3b24144e4314.png)
Please, tell how to fix this or, at least, return to pre-installation condition of things

[2021-08-16 07:41] Webreaper commented on #17461
That did the trick. Thanks!

[2021-08-16 07:53] Michael-Milligan commented on #19749
Reinstalled the SDK to latest preview, error gone(maybe because there wasn't influence of previous MAUI installation try)

[2021-08-16 07:53] #19749 closed

[2021-08-16 07:53] taozuhong opened #19755 "Could add parameters(--local/remote) for workload command?"
Could add parameters(--local/remote) for workload command?
[code]

[code]

[2021-08-16 07:54] Michael-Milligan commented on #19749
Yeah, I think error was here due to outdated Preview 6, not the latest 7th one

[2021-08-16 07:58] eriawan commented on #18607
@ZeroErrors
I agree, this is closely related to my previously submitted issue of #17686

[2021-08-16 10:11] allanrodriguez commented on #19654
I can confirm @KalleOlaviNiemitalo's findings. After copying the `PathUtility.GetAbsolutePath` method into a sample project and passing it the same parameters as `dotnet list package`, I get back a path without the `#`.

[code]

Maybe using `Path.GetFullPath` would work better here?

[2021-08-16 11:42] KalleOlaviNiemitalo commented on #19654
According to <https://github.com/dotnet/sdk/search?q=GetAbsolutePath>, PathUtility.GetAbsolutePath does not seem to be used elsewhere in this repository. Unfortunately, it has already been shipped in the [Microsoft.DotNet.Cli.Utils 2.0.0](https://www.nuget.org/packages/Microsoft.DotNet.Cli.Utils/2.0.0) NuGet package, so I guess it will need to be fixed even if ListPackageReferencesCommand is chang

[2021-08-16 16:00] sfoslund commented on #19603
@marcpopMSFT did you assign this to me because we decided we want this change or was this assigned for triage?

[2021-08-16 16:29] sfoslund commented on #19586
@uffebjorklund are you able to run the build command outside of a prebuild event? What happens when you do so?

[2021-08-16 16:33] sfoslund commented on #17752
@doniyorniyozov @almas-f which errors have you been seeing, can you provide the output from the command? What versions of .NET are you using?

[2021-08-16 16:46] DamianEdwards commented on #19446
@wli3 @JunTaoLuo doesn't wort at Microsoft anymore.

@AraHaan the change to support `<Using />` has been merged and is now available in daily builds of the SDK. As such I'm closing this issue. If you have any other problems please log a new issue.

[2021-08-16 16:46] #19446 closed

[2021-08-16 18:22] uffebjorklund commented on #19586
@sfoslund Yes, I can run `dotnet build -c release -r ubuntu-x64 ../../Runtime/Example.Server/ -o ../../Host/Example/Runtime/` outside the `PreBuildEvent`.

The issue is that the build hangs when using any SDK version > `5.0.202` in combination with `PreBuildEvent`

[2021-08-16 19:00] marcpopMSFT commented on #15972
@vatsan-madhavan We have a bug in 5.0.400 where the work to enable the WindowsDesktop arm64 support that was checked into 5.0.3xx didn't make it into the 5.0.400 release. I'm working on updating our release notes for it and the issue is already resolved and planned for 5.0.401.

https://github.com/dotnet/installer/issues/11481 <-- related bug
https://github.com/dotnet/installer/pull/11458 <-- Fixe

[2021-08-16 19:09] #18489 closed

[2021-08-16 19:22] Mike-E-angelo opened #19758 "After Installing `6.0.100-rc.1.21416.1` No Incremental Builds"
Hello all,

I have installed `6.0.100-rc.1.21416.1` but unfortunately now when I run `dotnet build` or run MSBuild in my SLN, all projects build and it appears that incremental builds are no longer working/present.  Is this a known issue?

Please let me know if there is any information I can provide to help further diagnose.

Thank you for any assistance you can provide.

[2021-08-16 19:52] Mike-E-angelo commented on #19758
Nevermind!  I tried cleaning the SLN but that didn't do anything.  However, running `dotnet clean` seems to have done the trick.  I was not aware of that nifty command until now.

THANK YOU for all your great work out there!!!

[2021-08-16 19:52] #19758 closed

[2021-08-16 20:02] sfoslund commented on #19586
@BenVillalobos is this a supported scenario for PreBuildEvent?

I would recommend debugging by increasing the verbosity on the dotnet command and piping the output to a file so you can find where it's hanging.

[2021-08-16 20:11] DamianEdwards commented on #19521
@mhutch are there issues in other repos tracking related changes?

[2021-08-16 20:27] marcpopMSFT commented on #19487
Here's some context from a few years back to explain why the implicit restore isn't set up in this situation:
https://github.com/dotnet/cli/pull/7896#issue-148532432

Sounds like customers can do a separate restore or add /restore to workaround this. Not sure reading the project for the existing TFM and trying to change the behavior based on that is a high enough priority at the moment.

[2021-08-16 20:35] MichaelSimons opened #19761 "`dotnet sdk check` command is not source-build compatible"
The `dotnet sdk check` command's implementation is based metadata read from the releases.json file.  The command is hard coded to read [Microsoft's releases.json file](https://github.com/dotnet/core/blob/main/release-notes/releases-index.json).  Additionally the command emits the following hard coded message "The latest versions of .NET can be installed from https://aka.ms/dotnet-core-download. Fo

[2021-08-16 20:36] MichaelSimons commented on #19761
cc @omajid

[2021-08-16 20:40] rbhanda commented on #19634
I have updated https://dotnetcli.blob.core.windows.net/dotnet/Sdk/main/latest.version to reflect .NET 6 Preview 7 release

[2021-08-16 20:41] iskiselev commented on #19487
@marcpopMSFT, separate call of `dotnet restore /p:TargetFramework=netcoreapp3.1` is not helping - looks like build will overwrite `project.assets.json`.
Calling build/publish command with ` --restore` parameter helps.

[2021-08-16 20:56] #19634 closed

[2021-08-16 20:56] BenVillalobos commented on #19586
I don't see an obvious reason why this shouldn't work as a target running before the `PreBuildEvent`. Alternatively, you could set the property `PreBuildEvent` to `dotnet build -c release -r ubuntu-x64 ../../Runtime/Example.Server/ -o ../../Host/Example/Runtime/ ` instead of a whole new target, noting that the path where it executes from is `$(OutDir)` by default. I don't think that would fix the

[2021-08-16 22:37] vatsan-madhavan commented on #15972
Building with 5.0.303 seems to work!

[2021-08-16 23:13] wli3 opened #19765 "Improve error message "'Microsoft.NET.SDK.WorkloadAutoImportPropsLocator' specified could not be found.""
We should surface the actual error

[2021-08-16 23:13] wli3 commented on #19765
The resolver behavior

[2021-08-16 23:15] wli3 commented on #19765
If resolver through exception, we should fail fast

[2021-08-16 23:17] #19765 closed

[2021-08-16 23:49] #18101 closed

[2021-08-17 00:28] andschwa commented on #18101
Thanks all!

[2021-08-17 00:50] mhutch commented on #17461
For folks seeing this error, here's a summary/overview.

The error `The SDK 'Microsoft.NET.SDK.WorkloadAutoImportPropsLocator' specified could not be found` can be caused by several underlying issues.

It may indicate that the .NET workload resolver is not present in the MSBuild directory. This happens with versions of Visual Studio that do not support the .NET 6 previews. It could also happen in

[2021-08-17 00:54] doniyorniyozov commented on #17752
@sfoslund I'm getting "Workload with id maui is not recognized." message. I tried to repair and it didn't work either. How I can completely delete all workloads and reinstall again?
![image](https://user-images.githubusercontent.com/37545941/129646729-10dcf89d-2f8c-454f-b541-a19da4e44ff7.png)

[2021-08-17 00:57] RussKie commented on #19521
May I get a clarification please.

I'm looking at https://github.com/dotnet/sdk/pull/19599, and now we only have a global `ImplicitUsings` switch with per SDK-switches (e.g. "web", "wasm", "winforms", "wpf", etc.) gone. So to re-work how Windows Forms enables implicit usings do I only conditionalise like so?
[code]

[2021-08-17 01:04] pranavkm commented on #19521
Yup, that looks right @RussKie

[2021-08-17 04:48] joeloff opened #19770 "Workloads: Detect and wait for active installs"
We should consider detecting active before performing workload operations. Since only a single MSI is allowed to execute, it's possible the SDK could try to install a workload pack while another install is running. It should just fail immediate with ERROR_INSTALL_ALREADY_RUNNING.

This is fine, but the failure could trigger a rollback and if the other install is long running, the rollback will lik

[2021-08-17 06:41] joeloff opened #19773 "Workloads: Ensure commands are atomic"
Workload commands to install, uninstall, repair and update should ensure that only a single instance can be executed at any given time to avoid accidentally corrupting installations.

This can be done using a simple global mutex.

[2021-08-17 06:45] joeloff opened #19774 "Workloads: Support custom install locations"
The SDK can be installed into a custom location from the command line by setting DOTNETHOME_x64 or DOTNETHOME_x86. While workload packs are machine wide installs that will default to using ProgramFiles, when a workload command executes from an SDK in a custom location, it should set the DOTNET_HOME property to ensure that the workload is installed in the same custom location.

[2021-08-17 06:53] joeloff opened #19775 "Workload: Add offline cache option to repair command"
If an offline cache is used to install a workload, the same offline cache should be passed to ```dotnet workload repair```. This is needed to ensure that when the MSI is removed from the package cache under ProgramData, the payload package can be retrieved and the MSI recached.

[2021-08-17 07:38] rolfbjarne commented on #19521
Using `Import` for VB and `Using` for C# for all the SDKs who want to add an implicit global namespace seems like an unnecessary complication.

Would it be possible to have `Using` work everywhere, and `Import` for whatever additional namespaces VB wants to import? Or maybe it should be renamed to something that's not language specific (such as `GlobalNamespace`)? While I understand that `Using` m

[2021-08-17 11:14] KalleOlaviNiemitalo commented on #19521
If another language SDK generates code from the `Using` items, there are some difficulties:

* If the item has `Static="true"`, then the item spec refers to a type, not a namespace. If the language does not support static usings and the language SDK ignores the metadata and generates code as if the item spec meant a namespace, it will likely cause compilation to fail.
* If the item has `Alias="xyz

[2021-08-17 11:35] BittermanAndy commented on #14503
Given that the upgrade-assistant tool provided by Microsoft seems to set all projects to <UseWindowsForms> by default, this is unbelievably obnoxious.

I've just wasted an hour of my life trying to work out why a console application doesn't show the console, and can't call Console.WriteLine without crashing, before finally stumbling across this.

Please, please stop torturing us. Please think for

[2021-08-17 11:51] KalleOlaviNiemitalo commented on #14503
This has already been fixed so that .NET 6 SDK no longer changes OutputType to WinExe in Windows Forms projects. See <https://github.com/dotnet/sdk/issues/16563> and <https://github.com/dotnet/docs/issues/25636>.

Is this issue now a duplicate of <https://github.com/dotnet/sdk/issues/16563> or is this a request to make the same change to .NET 5 SDK as well?

[2021-08-17 11:58] uffebjorklund commented on #19586
@BenVillalobos @sfoslund
I have not tried `6.0`, and `5.0.202` works fine... This issue is only on all versions of `5.0.302+`

So...
[code]

The verbose output when failing ends with this
[code]

I left it running for over 5 minutes and then cancelled...
When building with the working version the complete build takes ~5 seconds

I have a work around, but it was nice being able to use the `PreBuild

[2021-08-17 12:13] BittermanAndy commented on #14503
I mean, it ought to do the same for .NET 5 because it should never have behaved this stupidly in the first place... so sure, please go ahead and fix it in .NET 5.

Bit late for me though, as I'm doing the update to .NET 5 today, because that's the current release (.NET 6 still in preview).

(You'll have to pardon me if I'm a bit snarky. I've got 173 projects to upgrade to .NET instead of Framework

[2021-08-17 12:15] tmds commented on #14992
I did the same thing and it works for me as well.

Yes. There is probably no need to keep testing on what are now unsupported versions of .NET (https://dotnet.microsoft.com/platform/support/policy).

[2021-08-17 12:27] tmds opened #19783 "ItFiltersSatelliteResources test fails on Linux"
This test fails for me on Linux:
[code]
The difference in directory separator (`\` vs `/`) are cause of the failure.

Does this test run and pass in CI on Linux?

cc @joeloff @sfoslund @dsplaisted

[2021-08-17 14:20] jamers99 commented on #17579
@dsplaisted what is the status of this, do you know when/what versions (.NET 5 and 6) it will be released in?

[2021-08-17 14:36] KalleOlaviNiemitalo commented on #19698
Set the [CopyLocalLockFileAssemblies](https://docs.microsoft.com/dotnet/core/project-sdk/msbuild-props#copylocallockfileassemblies) property.

[2021-08-17 15:57] sfoslund commented on #17752
@doniyorniyozov what's the output of dotnet workload search? What OS are you on?

[2021-08-17 16:18] doniyorniyozov commented on #17752
@sfoslund
OS: Windows.

This is what I get when I do dotnet workload search.

![image](https://user-images.githubusercontent.com/37545941/129763041-028e3d0f-6811-43b1-903a-d8c95234c8ee.png)

[2021-08-17 17:27] acraven commented on #19663
I've just encountered the same problem, I need to perform an `uninstall` and `install` rather than `update` to replicate the clean install @Redth mentioned.

[2021-08-17 18:24] sfoslund commented on #17752
Okay, based on the output of workload search it looks like you're missing manifests. Does the dotnet/sdk-manifests dir exist? If so, what's inside of it? If not, then your sdk installation is broken and you'll want to either repair or re-install the sdk.

[2021-08-17 18:40] #19706 closed

[2021-08-17 18:51] jonathanpeppers opened #19789 "Can't install `android` workload with dotnet/installer/main"
Build dotnet/installer with:
[code]

This fails:
[code]

If I edit:
[code]

And remove:
[code]

Then it completes successfully.

[2021-08-17 19:11] dsplaisted commented on #19783
Combined with another test failure I saw locally, I am starting to suspect that we are not running the task unit tests in CI.

[2021-08-17 19:12] dsplaisted commented on #17579
It should be in Preview 7 of the .NET 6 SDK.

We don't currently plan to fix it in 5.0 SDKs.

[2021-08-17 19:12] #17579 closed

[2021-08-17 19:18] jonathanpeppers commented on #19789
You hit a similar issue if you try to install the `macos`, `ios`, `maccatalyst`, or `tvos` workloads as well.

[2021-08-17 20:13] NN--- opened #19792 "The "GenerateBundle" task failed unexpectedly Windows Server 20H2"
.NET 5.0.400 fails producing single file binary on Windows Server 20H2.

Program.cs
[code]

a.csproj
[code]

Publish command:
[code]

Output:
[code]

Attaching project with reproduction:
[A.zip](https://github.com/dotnet/sdk/files/7002815/A.zip)

[2021-08-17 20:27] lewing commented on #19679
Saw this today https://dev.azure.com/dnceng/public/_build/results?buildId=1298276&view=logs&j=ffcccca8-8d4a-5f1e-019c-64de63d1f0d8&t=b45037e0-dc32-5dd3-9457-1b637e753ec3&l=881

[2021-08-17 20:28] mhutch commented on #19521
These are all great points. Although a list of default usings might seem like it could be language agnostic, the usings defined by a workload will make assumptions about the language's capabilities and behavior. Even if we fixed the escaping, it may not be possible for a language to handle all the various forms (type aliases, namespace aliases, static usings), and using a subset may be problematic

[2021-08-17 20:31] DamianEdwards opened #19793 "Ensure <Using /> declarations from in-box SDKs are conditioned on C#"
The new `<Using />` item type is explicitly intended to only be used in C# projects. The [code generation targets](https://github.com/dotnet/sdk/blob/f2cc77b60cdc2a4e8b393adf7b855b478ad79671/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L1131) and [core global usings items](https://github.com/dotnet/sdk/blob/main/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk

[2021-08-17 20:31] DamianEdwards commented on #19521
@KalleOlaviNiemitalo the `Using` items are intended to be C# only. They're [documented as such in the schema](https://github.com/dotnet/msbuild/pull/6755/files#diff-5f354602d7ce945623a61c1bf3d08d4d389c88a0a322d7111037b789259e26e1R5779) and the targets that do the actual code generation are only imported by the core SDK for C# projects. VB uses the `Import` items and we explicitly changed to defini

[2021-08-17 20:49] mhutch commented on #19793
To be absolutely explicit, is this the behavior (and pattern) we expect all the workload targets to follow?

[code]

Should we have the SDK targets compute a property to centralize this logic? For example, if the SDK targets did this:

[code]

Then workload targets could do this:

[code]

[2021-08-17 20:51] jonathanpeppers commented on #19789
Ok, I had a .NET 6 rc1 installed.

The problem went away when I did:
[code]

[2021-08-17 20:51] #19789 closed

[2021-08-17 20:56] richlander commented on #19743
I applied your guidance. That worked great. However, `dotnet run` isn't yet doing the right thing.

[2021-08-17 21:09] vitek-karas commented on #19743
@mateoatr Can you please take a look what's going on with the `dotnet run` - trying to run .NET 5 app (x64) from .NET 6 SDK (arm64). My suspicion is that it sets DOTNET_ROOT to point to the SDK's version of the runtime, which is wrong in this case.

@richlander - can you please try this (I don't have amr64 mac to try this on):
In the state right before `dotnet run`
[code]

And then share the `host

[2021-08-17 21:17] dsplaisted commented on #19322
@agocke  @vitek-karas for triage

[2021-08-17 21:17] dsplaisted commented on #19322
Also should we have an Area-SingleFile label or something similar?

[2021-08-17 21:18] sfoslund commented on #19587
cc @brianrob

[2021-08-17 21:25] dsplaisted commented on #19251
@DamianEdwards I think you linked to a VS feedback issue about this previously, do you know where that is?

[2021-08-17 22:09] vitek-karas commented on #19322
I verified that this reproes even on .NET 6 latest (also targeting net6.0).

Workaround is to add `<ExcludeFromSingleFile>true</ExcludeFromSingleFile>` to each of the data assets. This fixes the issue fully.

Since this app turns on trimming I also tried retargeting to net6.0 which doesn't need `IncludeNativeLibrariesForSelfExtract=true` anymore, since it has superhost even on Windows. It also pro

[2021-08-17 22:14] vitek-karas commented on #19322
@dsplaisted I think it would make sense to add single-file area.

[2021-08-17 22:29] richlander commented on #19743
Here it is: https://gist.github.com/richlander/acc8b6b7254e8219afe5bcef089c0652

[2021-08-17 22:30] dsplaisted commented on #19246
Are you saying `DOTNET_CLI_UI_LANGUAGE` has stopped working?

I think that environment variable affects the output that comes directly from the .NET CLI, but doesn't affect messages from other things such as MSBuild or the compilers.  Could that be what you are seeing?

[2021-08-17 22:31] dsplaisted commented on #19240
@wli3 @richlander Is this the issue where .NET tool installation needs to use the arm64 apphost?

[2021-08-17 22:33] dsplaisted commented on #19560
This looks like the same as #19240

[2021-08-17 23:18] sfoslund commented on #19523
Notes from investigating: I'm able to repro this on linux but it seems to be an issue with `dotnet workload list --machine-readable` itself. I tried nuking the .dotnet dir then running that command and I still get: `System.AggregateException: One or more errors occurred. (Access to the path '/home/sfoslund/.dotnet/.workloadAdvertisingUpdates' is denied.)`. After the command, the .dotnet dir exists

[2021-08-17 23:20] marcpopMSFT commented on #16292
First step is in this PR. https://github.com/dotnet/sdk/pull/19708  Adding a note here to remove DisableImplicitNamespaceImports once it's no longer needed.

[2021-08-17 23:22] DamianEdwards commented on #19793
@mhutch that satisfies the desired specificity I think, so sure 😃

[2021-08-17 23:28] DamianEdwards commented on #19251
@dsplaisted not sure, it doesn't show up in the "My feedback" list and I can't locate anything in email, Teams, etc. I do remember talking about this issue somewhere though. Will keep looking.

[2021-08-17 23:46] #12131 closed

[2021-08-17 23:49] dotnet-eng-status[bot] opened #19799 "Build failed: Validate-DotNet/main real signed, .NET 6, validation-sdk-.NET 6, sdk #sdk-102308-.NET6"
Build [#sdk-102308-.NET6](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1299990) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Tue, 17 Aug 2021 23:48:43 GMT
**Duration** - 42 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Signing Ring
- :x: - [[Log]](https://dev.azure.com/dnceng/7ea9116e-9fac

[2021-08-17 23:50] agocke commented on #19322
@VSadov Can you take a look?

[2021-08-17 23:58] ddemland opened #19802 "Move from .Net Core 3.1 to .Net 6 missing components?"
Move from .Net Core 3.1 to .Net 6 missing components?
I am at a lost. I have an application that was originally created in .Net Framework and last year moved it to .Net Core 3.1 with little trouble. I am now using Visual Studio 2022 Preview and .Net 6 Version 7 Preview to test moving to .Net 6. Overall not to many issues but I have a couple that I just cannot seem to find answers to:

•	System.Con

[2021-08-18 00:07] KalleOlaviNiemitalo commented on #19802
[IValueConverter.cs](https://github.com/dotnet/wpf/blob/v6.0.0-preview.7.21378.5/src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Data/IValueConverter.cs) is in WPF so [UseWPF](https://docs.microsoft.com/dotnet/core/project-sdk/msbuild-props-desktop#usewpf) should help with that.

Not sure what is the right way to reference System.Configuration now.

[2021-08-18 00:12] brianrob commented on #19587
@sfoslund, the first step is to see if you can reproduce this.  If so, I can walk you through how to profile and diff the two traces.

[2021-08-18 00:46] RussKie commented on #19793
WPF props: https://github.com/dotnet/wpf/blob/main/packaging/Microsoft.NET.Sdk.WindowsDesktop/targets/Microsoft.NET.Sdk.WindowsDesktop.WPF.props

[2021-08-18 01:28] ddemland commented on #19802
I have modified the project file:

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFramework>net6.0-windows</TargetFramework>
    <Nullable>enable</Nullable>
    <UseWindowsForms>true</UseWindowsForms>
	<UseWPF>true</UseWPF>
  </PropertyGroup>

</Project>

But when I run the build I still get the error that System.Windows.Data is missing and Valu

[2021-08-18 05:30] prapsan commented on #18628
@DamienDoumer I've fixed the error by deleting

`  "depends-on": {
    "Microsoft.NET.Workload.Emscripten": "6.x.x"
  },`

from C:\Program Files\dotnet\sdk-manifests\6.x.x\microsoft.net.workload.mono.toolchain\WorkloadManifest.json

[2021-08-18 09:14] KalleOlaviNiemitalo commented on #19802
@ddemland, I don't see the names of the properties you are setting as `enabled` and `true`. When you include XML in your comment, please mark it as [inline code or a code block](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code) to prevent GitHub from removing the tags.

It seems the System.Con

[2021-08-18 10:16] lemon0213 opened #19822 "After install 6.0 Preview 7 on Mac OS, install workload maui using command line failed."
**Platform**
- [ ] Windows
- [x] macOS
- [ ] Linux

**Repro Steps**
1.	Clean MacOS Big Sur machine.
2.	Install 6.0 Preview 7 from [https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-6.0.100-preview.7-macos-x64-installer](https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-6.0.100-preview.7-macos-x64-installer).
3.	Execute “sudo dotnet workload install maui” from command line.

**Act

[2021-08-18 10:36] KanniyappanP commented on #19363
Thanks, above issue have been resolved after updating net6 preview 6.

[2021-08-18 10:39] #19363 closed

[2021-08-18 11:52] GouriKumari opened #19823 "dotnet workload install creates dir with root permissions"
Steps to reproduce:
Clean env
 Install https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-6.0.100-preview.7-macos-x64-installer
Execute sudo `dotnet workload install maui ` or `dotnet workload install wasm-tools`  or any of the .NET 6 workloads  from command line.
Check 'dotnet new mvc --auth Individual -o mvcind` after maui install.

Expected Behaviour:
mvc project gets creates and restor

[2021-08-18 11:53] GouriKumari commented on #19823
@wli3 : fyi

[2021-08-18 13:48] slang25 commented on #17461
I had no idea [vsmac-cli](https://www.nuget.org/packages/vsmac-cli/0.2.0) existed, that's really useful!

[2021-08-18 14:32] reader-man opened #19829 "Support Svg class or ISvg interface"
Hi,
Thanks for the great job on .net 6.

I would like to ask for adding an Svg class or at least an ISvg interface, to handle the growing need for smaller size resources that can scale easily on any DPI size.

for starter, it can have functions to return an image object, with the specified size.
load from an svg file or stream.
and maybe if there is time, some matrix transformations.

if the there

[2021-08-18 15:02] KalleOlaviNiemitalo commented on #19829
[Microsoft documentation on System.Drawing](https://docs.microsoft.com/en-us/dotnet/api/system.drawing?view=net-5.0#remarks) suggests using SkiaSharp instead. That apparently supports parsing SVG paths but not entire SVG files. There is [SkiaSharp.Extended.Svg](https://github.com/mono/SkiaSharp.Extended/blob/8daaab0a07c9cb0f3b3e4d3d0be20cd5137f6a60/docs/api/svg/svg.md), but that is deprecated and

[2021-08-18 16:30] AArnott commented on #19702
I just hit this when upgrading a project from the 5.0 SDK to 6.0.100-preview.7.21379.14.
My project explicitly sets `LangVersion` to 9. IMO the SDK shouldn't generate files that require C# 10 without confirming that the LangVersion is at least set to that level.

[2021-08-18 16:48] andschwa commented on #19702
Yup, and I'm already looking to revert my language version back to 9.0 because I didn't realize that 10.0 would force all devs to update the SDK on their box to Preview 7 :/

[2021-08-18 17:07] SQL-MisterMagoo opened #19834 ".NET 6 Preview 7 Blazor WebAssembly won't build if you are using a JsonSerializerContext implementation"
In preview 6, you introduced the Json source generator, and I created a "MyJsonContext" to enable the source generator.

[code]

Now, in preview 7 the System.Text.Json.SourceGeneration assembly gets added to references twice.

![image](https://user-images.githubusercontent.com/11338430/129119631-3fae9148-027d-46b8-a378-03daa95d4e1b.png)

This leads to build failure as they both generate the same c

[2021-08-18 17:12] davidfowl commented on #19702
It'll be fixed in rc1 builds. For now you can disable the feature.

[2021-08-18 17:31] andschwa commented on #19702
Oh, here's the information I needed, for those that come looking:

- https://docs.microsoft.com/en-us/dotnet/core/compatibility/sdk/6.0/implicit-namespaces
- https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props#disableimplicitnamespaceimports

[2021-08-18 17:33] jnm2 commented on #15321
@jaredpar The docs you linked currently say this:

[2021-08-18 17:38] davidfowl commented on #19702
More information on the latest changes https://github.com/dotnet/sdk/issues/19521

[2021-08-18 17:41] jnm2 commented on #15321
The 5.0.302 SDK seems to have switched to using commas instead of semicolons in the pathmap. This bug was fixed somewhere between 5.0.101 and 5.0.302.

[2021-08-18 17:55] tmat commented on #15321
https://github.com/NuGet/Home/issues/9810

[2021-08-18 17:55] #15321 closed

[2021-08-18 18:29] marcpopMSFT commented on #18628
@lewing Did you previously install a workload with an earlier preview?  There was a lot of churn in the workloads since preview 4 and we're seeing some compat issues.

[2021-08-18 18:50] marcpopMSFT commented on #19799
@dotnet/dnceng This leg was recently enabled in our repo.  Not sure how to read the logs/pipeline but it looks like a signing failure. Not sure next steps.

[2021-08-18 18:53] adiaaida commented on #19799
@mmitche, @chcosta Something seems to have failed in signing on sdk in the validation pipeline. Can you help out

[2021-08-18 18:56] marcpopMSFT commented on #19670
@mhutch for visibility as it appears to be similar to the cases we've seen of inter-preview compatibility and inconsistent error messaging.

[2021-08-18 19:05] adiaaida commented on #19799
I took a look at the MergedManifest.xml file for this repo (https://artprodcus3.artifacts.visualstudio.com/Ab55de4ed-4b5a-4215-a8e4-0a0a5f71e7d8/7ea9116e-9fac-403d-b258-b31fcf1bb293/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2RuY2VuZy9wcm9qZWN0SWQvN2VhOTExNmUtOWZhYy00MDNkLWIyNTgtYjMxZmNmMWJiMjkzL2J1aWxkSWQvMTI5OTk5MC9hcnRpZmFjdE5hbWUvbm9uc2hpcHBpbmc1/content?format=file&subPath=%2Fassets%2Fmanifests%

[2021-08-18 19:07] adiaaida commented on #19799
Also, it looks like this failure may have been introduced by https://github.com/dotnet/sdk/pull/19606 (which added https://github.com/dotnet/sdk/blob/24654cc1cae4f52414ba095926f6f2f63a2a739e/src/Tests/dotnet.Tests/WindowsInstallerTests.cs#L132)

[2021-08-18 19:12] ericstj commented on #19834
So this is happening because PackageRank from `$(PackageConflictPreferredPackages)` isn't being split correctly:

  | Name | Value | Type
-- | -- | -- | --
◢ | this | {Microsoft.NET.Build.Tasks.ConflictResolution.ResolvePackageFileConflicts} | Microsoft.NET.Build.Tasks.TaskBase {Microsoft.NET.Build.Tasks.ConflictResolution.ResolvePackageFileConflicts}
  | ◢ PreferredPackages | {string[1]} | string

[2021-08-18 19:28] wli3 commented on #19521
@DamianEdwards  `<Using Remove="System.Threading.Tasks" />` in directory.build.prop does not work

It would be imported before Microsoft.NET.Sdk.CSharp.props that contains `<Using Include="System.Threading.Tasks" />`

Also I am curious, why we start to consider "enable" to also mean true.

[2021-08-18 19:29] ericstj commented on #19834
A better workaround for this bug is the following as it addresses all cases:
[code]

[2021-08-18 19:45] ericstj commented on #19834
This appears to be long standing behavior in MSBuild for string output parameters stored to properties: https://github.com/dotnet/msbuild/blob/13452c0788368a06fc81364f42c374aca41879b3/src/Build/BackEnd/TaskExecutionHost/TaskExecutionHost.cs#L1591

I think this has been broken since the time that it was moved to be read from the task in 3.0, previously we defined this in props in the `Microsoft.NET

[2021-08-18 19:53] AraHaan commented on #19521
I agree on my projects I only added the ``<Using``’s to my Directory.Build.targets file for each project of mine.

[2021-08-18 20:20] sfoslund commented on #19739
@salimhali is it possible that you killed a dotnet process halfway through the install? Based on the error message, that's what seems to have happened. Is this error occurring consistently?

[2021-08-18 20:20] vitek-karas commented on #19743
As I suspected (from the log):
[code]

As @matoatr pointed out offline, we will need to modify this:
https://github.com/dotnet/sdk/blob/main/src/Cli/dotnet/commands/dotnet-run/RunCommand.cs#L257

I discussed this with @mateoatr and we think the correct behavior will be:
* If the app targets the same architecture as SDK is running on - SDK should continue what it's doing currently (set `DOTNET_ROOT

[2021-08-18 20:22] VSadov commented on #19322
I will take a look. I think it might be by design though.
IncludeNativeLibraries is basically "include everything". Let me check if we do any filtering of content.

[2021-08-18 20:44] sfoslund commented on #19747
@arn88 it sounds like the required packs are not installed on the docker image, but they are installed on your local machine. This means you'll either want to use a docker image that does have the required packs installed or install them yourself on top of the image.

[2021-08-18 20:46] vitek-karas commented on #19322
Well - the repro has 4 data files - 2 get included and 2 are excluded - that is the "weird" part.

[2021-08-18 21:07] sfoslund commented on #19761
Team triage conclusion: We'll go forward with the config file for the `dotnet sdk check` command in 6.0, I'll begin the implementation later this week.

[2021-08-18 21:08] marcpopMSFT commented on #19834
@rainersigwald since you're in this code already, did you want to include this in your other PR or keep it separate?

[2021-08-18 21:13] marcpopMSFT commented on #19251
https://developercommunity.visualstudio.com/t/NET-dotnet-tools-dont-work-from-the-/1456366

[2021-08-18 21:23] marcpopMSFT commented on #19251
Looks like VS is setting DOTNET_ROOT to the local copy of dotnet that doesn't include the aspnet runtime. We need to reach out to the VS folks as that should NOT be set for the terminal and see what other scenarios the VS environment is passed on to.

[2021-08-18 21:28] rainersigwald commented on #19834
I actually noticed this and mentioned it in the channel. I'd keep it separate but I can put up a fix.

[2021-08-18 21:29] marcpopMSFT commented on #19246
Seems to work in preview 7 (set the value to "es")
![image](https://user-images.githubusercontent.com/12663534/129974754-1067ef71-3c9b-47bb-8371-571a6585a2d8.png)

[2021-08-18 21:38] marcpopMSFT commented on #18507
Restore is already the least reliable part of our testing infrastructure and I'd be wary of adding more to this.  We could potentially add this to the manual testing process @richaverma1

[2021-08-18 21:50] marcpopMSFT commented on #19775
The guidance is for customers to use a local nuget feed during repair for this sort of offline scenario.

[2021-08-18 21:50] #19775 closed

[2021-08-18 21:57] marcpopMSFT commented on #19603
@Redth Will mentioned that ya'll might be adding a clean option to maui check that would help here.  We've seen a lot of preview to preview upgrade issues and this was one option we thought of to help with that but a maui check clean might help as well.

[2021-08-18 23:29] titanix commented on #19322
This and the fact in one case the type of file (plain txt) is not treated consistently: excluded in two cases, included in one.

[2021-08-18 23:47] dotnet-eng-status[bot] opened #19859 "Build failed: Validate-DotNet/main real signed, sdk, .NET 6.0.1xx SDK RC 1, validation-sdk-.NET 6.0.1xx SDK RC 1 #sdk-102550-.NET6.0.1xxSDKRC1"
Build [#sdk-102550-.NET6.0.1xxSDKRC1](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1302970) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Wed, 18 Aug 2021 23:47:14 GMT
**Duration** - 41 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Signing Ring
- :x: - [[Log]](https://dev.azure.com/dnceng/7

[2021-08-18 23:52] dotnet-eng-status[bot] opened #19861 "Build failed: Validate-DotNet/main real signed, sdk, .NET 6.0.1xx SDK, validation-sdk-.NET 6.0.1xx SDK #sdk-102548-.NET6.0.1xxSDK"
Build [#sdk-102548-.NET6.0.1xxSDK](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1302969) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Wed, 18 Aug 2021 23:51:49 GMT
**Duration** - 46 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Signing Ring
- :x: - [[Log]](https://dev.azure.com/dnceng/7ea9

[2021-08-19 00:33] dotnet-eng-status[bot] opened #19862 "Build failed: Validate-DotNet/main sdk, .NET 7.0.1xx SDK, validation-sdk-.NET 7.0.1xx SDK #sdk-102567-.NET7.0.1xxSDK"
Build [#sdk-102567-.NET7.0.1xxSDK](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1302971) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Thu, 19 Aug 2021 00:32:38 GMT
**Duration** - 87 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Required Validation Ring
- :warn

[2021-08-19 01:05] wli3 opened #19866 "manifest authoring or manifest reading is broken for the latest stage 0"
symptom if you build a project with TFM `net6.0;net6.0-android` or `net6.0-ios` all would result in asking to install macos, instead of android or ios.

Further, the following test fails.

[code]

![image](https://user-images.githubusercontent.com/6993335/129991433-e03312f8-dd1d-4cca-8495-dddd09a2f7d1.png)

There is only 4 expanded workload
Something wrong with manifests or manifest reader

[2021-08-19 01:07] wli3 commented on #19866
@sfoslund @mhutch could you look into this issue? I have a branch https://github.com/dotnet/sdk/compare/main...wli3:bad-manifest-auth?expand=1 to help repro.

I will work on making build works for now.

[2021-08-19 01:59] Redth commented on #19603
@marcpopMSFT i haven't gotten around to it yet, but I did create a .ps1 script to do this. It might be better this way so users can tell what it's going to do / doing instead of a more ambiguous clean option on Maui-check itself.

https://github.com/Redth/dotnet-maui-check/blob/main/Clean-Old-DotNet6-Previews.ps1

[2021-08-19 04:36] #19696 closed

[2021-08-19 04:36] #19793 closed

[2021-08-19 05:00] DamianEdwards commented on #19521
@wli3 hmm we discussed ordering issues as part of the original implementation and I thought it was covered. Is it due to the moving of those usings to the CSharp props that causes this issue? Or is it expected that folks need to do this in targets now?

@pranavkm

[2021-08-19 05:17] AraHaan commented on #19521
I expected to be required to do this in the following places:

- in the csproj file itself
- Directory.Build.targets

[2021-08-19 05:35] salimhali commented on #19739
Thanks sfoslund  this error  is occurring constantly I have tried to solve it multiple time and i tried to install workload in other pc the same error appears even in macOS system
This photo from my mac
![Screen Shot 2021-08-19 at 6 23 32 AM](https://user-images.githubusercontent.com/73252874/130013472-0478d5d8-3121-4d0f-81dc-89cb0d213f15.png)

[2021-08-19 05:37] salimhali commented on #19739
Thanks sfoslund this error is occurring constantly I have tried to solve it multiple time and i tried to install workload in other pc the same error appears even in macOS system
This photo from my mac
![Screen Shot 2021-08-19 at 6 23 32 AM](https://user-images.githubusercontent.com/73252874/130013783-a5d109f7-f951-4ed5-9dd0-d145db26f446.png)

[2021-08-19 06:12] phillip-haydon commented on #16009
I'm getting the same issue.

[2021-08-19 07:16] f2calv commented on #15610
Also if you have a `global.json` and have explicitly disabled preview releases at some point in the past and forgotten :)
[code]

[2021-08-19 08:55] haiyanliu2 opened #19871 "WPF/Winforms fails to run."
Environment: Version 17.0.0 Preview 4.0 [31618.318.main]+ NET 6 SDK: 6.0.100-rc.1.21418.40
Repro steps:
1.dotnet new wpf -o  Mywpf
2.cd Mywpf
3.dotnet build
4.dotnet run
Expected
The project run successfully.

Actual
No response.
![image](https://user-images.githubusercontent.com/87641893/130039301-eb9a3b57-52b7-4cdf-8532-a962078cb6e2.png)
dotnet --info
.NET SDK (reflecting any global.json):
 Vers

[2021-08-19 09:56] Nukepayload2 commented on #19735
Probably caused by https://github.com/dotnet/sdk/commit/f2cc77b60cdc2a4e8b393adf7b855b478ad79671#diff-5dfdd31992820273a25b399353a85ec6de6bdd620424a8adab3238c6ffd5df38R13    .
I don't know why they added ` and '$(TargetFrameworkIdentifier)' == '.NETFramework'` .

[2021-08-19 10:36] damien78 commented on #12345
@mjfusa When the C# project has a target framework with Windows build specifiied (e.g. `<TargetFramework>net5.0-windows10.0.17763.0</TargetFramework>`), and not just `<TargetFramework>net5.0-windows</TargetFramework>`, you need to also specify in the same property group, the RuntimeIdentifiers, like `<RuntimeIdentifiers>win-x64</RuntimeIdentifiers>`
Example of such property group in the WPF .cspro

[2021-08-19 13:47] mattleibow commented on #19739
I also get this every time on both on windows and mac.

I found I could pass this by manually installing ios, android, tvos, macos, macactalyst manually first. One at a time. Then maui just installs fine.

[2021-08-19 13:57] Redth commented on #19739
It also seems that running the command multiple times can eventually lead to success.  Some intermittent failure happening here.

[2021-08-19 15:57] KathleenDollard opened #19879 "Microsoft.NET.Sdk.Web incorrectly sets LangVer to Preview for VB in Visual Studio only"
To repro:

1. Create a VB Console app framework to net6.0
2. Change the SDK to Sdk.Web
3. Building results in an error regarding LangVer Preview

This sets LangVer to Preview. This only occurs when called from Visual Studio

Explicitly setting LangVer to latest is *not* a workaround, it also fails (problem in targets?)

This is important because WebApi *is* supported on Visual Basic.

[2021-08-19 16:09] jnm2 opened #19881 "ContinuousIntegrationBuild=true produces nondeterministic source paths by default"
I think this is an SDK bug. The workaround is to either add a specific SourceLink provider package reference (which may be redundant and may even be problematic or impossible) or to add a `<SourceRoot Include="$(SolutionDir)" />` item or similar. The actual directory does not matter so long as it contains all source files.

Without the workaround, you can see absolute paths leaking from the CI ima

[2021-08-19 16:25] bab5470 opened #19883 "Xunit output from dotnet test truncated"
When running `dotnet test` on our .net core application to run xunit tests we're seeing some exceptions but they're being truncated in the output which makes it impossible to troubleshoot the problem.

Here's an example:

[code]

We're running this on CentOS 8.4 and .Net Core information is as follows:

[code]

I've tried a variety of things to get more output:
dotnet test --verbosity d[etailed]
d

[2021-08-19 16:28] sfoslund commented on #19866
@wli3 I've debugged this and I believe the root cause has to do with the testing configuration. The workloads are all getting correctly read from the manifests but [IsWorkloadPlatformCompatible](https://github.com/dotnet/sdk/blob/865fdb6eb3cc47048b8b0a68ae267a1682c3361c/src/Resolvers/Microsoft.NET.Sdk.WorkloadManifestReader/WorkloadResolver.cs#L644) is saying that most of the workloads are not com

[2021-08-19 16:43] Alovchin91 opened #19884 "`error MC1000: Unknown build error` when using reference assembly and XAML"
I'm facing the following error when building a specifically setup project:

[code]

This is an SDK style project that has a PackageReference to SharpSvn which includes a reference assembly built by refasmer: https://github.com/AmpScm/SharpSvn/blob/6074f8d75e9a33878c3b7c91be3f943dbc0986ec/nuspec/build.cmd#L31

Here's what the project file looks like:

[code]

The reason why I'm posting this issue h

[2021-08-19 16:43] wli3 commented on #19866
I get a similar behavior in dog food env. Should that happen?

[2021-08-19 16:45] wli3 commented on #19866
Build a project with net6.0-android, the error ask me to install macos

[2021-08-19 16:55] DamianEdwards commented on #19521
Right given it's an item rather than a property it would need to be in targets or the csproj.

[2021-08-19 16:58] DamianEdwards commented on #19521
@wli3 RE the value `enabled` see discussion in [PR here](https://github.com/dotnet/sdk/pull/19599#discussion_r686249609).

[2021-08-19 17:20] dsplaisted commented on #19735
I don't think that's the issue.  There is one `ItemGroup` for `'$(TargetFrameworkIdentifier)' == '.NETFramework'`, and another one for `'$(DisableImplicitNamespaceImports)' != 'true' and '$(_IsNETCoreOrNETStandard)' == 'true'`.

[2021-08-19 17:22] wli3 commented on #19521
@DamianEdwards I think the users will have no way to figure that out themselves. I need to run a /pp:out.xml to realize the import order. And few people know the 3 pass of msbuild evaluation

[2021-08-19 17:25] AraHaan commented on #19521
I think the best way is to in the future move away from setting things in the csproj and instead put everything in an Directory.Build.props (that are not items in msbuild / properties that can properly be set there) and then an Directory.Build.targets file for everything else, while Directory.Packages.props contains all project or package references.

I already do that but I think updated template

[2021-08-19 17:43] jonathanpeppers opened #19891 "`dotnet new android` attempts to restore Microsoft.AspNetCore.App.Runtime.linux-arm64"
If you install .NET 6 RC1 and the Android workload, we are now using `**FromWorkload**` so a `NuGet.config` should no longer be needed when building Android projects.

Unfortunately, you get a different error now when testing this:
[code]

Build log: [msbuild.zip](https://github.com/dotnet/sdk/files/7016700/msbuild.zip)

I found I could workaround the problem with:
[code]
I will probably put this

[2021-08-19 17:44] jonathanpeppers commented on #19891
/cc @dsplaisted @wli3

[2021-08-19 18:16] sfoslund commented on #19866
Same problem with dogfood, when the show missing workloads target is called, it's called with the stage 0 sdk version instead of 6.0.100-dev, so the runtime identifier file can't be found: https://github.com/dotnet/sdk/blob/main/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.ImportWorkloads.targets#L37

[2021-08-19 18:16] DamianEdwards commented on #19521
@wli3 this is already the case today for many aspects of the SDK that we default, including file globbing, versions, etc. The difference in evaluation order between properties and items is long-standing and while it's not particularly discoverable it's how MSBuild works.

[2021-08-19 19:33] wli3 commented on #19521
The different here is, once we made it default someday, users have to migrate their code base over, and disabling an certain import across repo would be a common thing to do. Most of the "advance" SDK config are not that common.

[2021-08-19 19:37] wli3 commented on #19866
ok, so i need to figure out how to pass that in properly. I'll keep this ticket open for now since I disabled several tests due to that

[2021-08-19 20:43] rleopold commented on #4007
I just ran into this in .net 5, it's still an issue. Adding MEH package explicitly "fixes" it.

[2021-08-19 20:56] KalleOlaviNiemitalo commented on #4007
Maybe this could be fixed by adding `buildTransitive` assets (<https://github.com/NuGet/Home/issues/6091>) to the UserSecrets package.

[2021-08-19 21:17] DamianEdwards commented on #19521
Doesn't change the fact that MSBuild works this way. And VB has had this feature for a very long time, on by default. If we do investigate making this feature on by default in a future SDK major release we'll need to look at potential issues associated with the change as part of that effort.

[2021-08-19 22:03] sfoslund commented on #19739
Hmm interesting, @mattleibow so were you seeing this error when you installed any combination of workloads? Or only maui and and of these other workloads?

[2021-08-19 22:21] wli3 commented on #19523
not at the first glance, let me look into it too

[2021-08-19 22:39] wli3 commented on #19755
Could you tell me what you plan to achieve listing workloads to a remote server? And how do you plan to log into the remote server?

[2021-08-19 22:41] wli3 commented on #19240
Should be fixed with https://github.com/dotnet/runtime/issues/52335

[2021-08-19 22:41] #19240 closed

[2021-08-20 00:24] dsplaisted commented on #18642
This should be fixed in .NET SDK RC1 with #19731

[2021-08-20 00:30] dsplaisted commented on #16447
Uh yeah, that does seem wrong :-)

[2021-08-20 00:34] dsplaisted commented on #19713
The `VersionSuffix` will only work if the `Version` is not set.

Are you setting `Version` to `0.0.3` in this case?  Probably you want to set `VersionPrefix` instead, and then I think it will work like you want.

[2021-08-20 00:36] dsplaisted commented on #19704
Looks like this was fixed with #19720?

[2021-08-20 00:36] #19704 closed

[2021-08-20 00:37] #19702 closed

[2021-08-20 00:40] dsplaisted commented on #19698
Yes, `CopyLocalLockFileAssemblies` is the way to do this.

[2021-08-20 00:40] #19698 closed

[2021-08-20 00:41] #18642 closed

[2021-08-20 00:47] dsplaisted commented on #18282
@agocke @LakshanF @vitek-karas for discussion of a having multiple apps be self-contained but sharing the same runtime bits.

As far as copying deps.json files, that was fixed in the 5.0.200 SDK with #14488.  You can use the latest SDK and still target earlier versions of .NET.

As far as the 32 / 64-bit mismatch, the issue is probably that the RuntimeIdentifier doesn't flow across project referen

[2021-08-20 00:50] dsplaisted commented on #18265
It looks like NuGet.org may not be in the package sources being used, which is usually determined by NuGet.config files.  Documentation on this is here: https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior

Does this help?

[2021-08-20 00:52] dsplaisted commented on #16449
@wli3 Any thoughts?  800 ms does seem like a lot of overhead to run a tool.

[2021-08-20 01:06] taozuhong commented on #19755
I want to install the workload, but I don't know the id of the workload, so want to list all available workloads in server.

[2021-08-20 04:49] wli3 commented on #19755
I see. In this case dotnet workload search would show you all supported workloads.

[2021-08-20 05:25] salimhali commented on #19739
I 've tried to install every combination of maui manually but the installation has been failed in 3 combination maui-Android and maui-Mobile and maui-ios and has been succeeded with maui-windows and maui-desktop also maui-maccatalyst and the other non maui workloads installed succefully

[2021-08-20 05:26] salimhali commented on #19739
I 've tried to install every combination of maui manually but the installation has been failed in 3 combination maui-Android and maui-Mobile and maui-ios and has been succeeded with maui-windows and maui-desktop also maui-maccatalyst
 I didn't see this error with non-maui workloads only with maui

[2021-08-20 05:39] salimhali commented on #19739
many much attempts same error ???

[2021-08-20 05:49] mattleibow commented on #19739
I got it for any combination. You must install one by one. Maui must be last as it depends on them all.

[2021-08-20 05:50] salimhali commented on #19739
screenshot with command 'dotnet workload install maui-android'
![Screenshot 2021-08-20 064244](https://user-images.githubusercontent.com/73252874/130185965-cb5e897f-5fbb-482e-947a-a7d28634aeb8.png)

screenshot with command 'dotnet workload install maui-windows'
![Screenshot win](https://user-images.githubusercontent.com/73252874/130186013-95f84d2e-28c7-4966-af1b-b1db61c1c059.png)

[2021-08-20 05:59] vadi2 commented on #19713
Yep I am... why would I want a prefix instead of a suffix though? I'd like `0.0.3-rc`.

[2021-08-20 06:06] salimhali commented on #19739
Same problem
![Screenshot](https://user-images.githubusercontent.com/73252874/130187658-385e9ed0-b560-4b3b-ab5b-a50f10194345.png)

[2021-08-20 06:18] KalleOlaviNiemitalo commented on #19713
@vadi2, I think @dsplaisted meant you should set `VersionPrefix=0.0.3` and `VersionSuffix=rc`, and not set `Version`. Then Microsoft.NET.DefaultAssemblyInfo.targets would set `Version=0.0.3-rc`.

<https://github.com/dotnet/sdk/blob/1f6482d1ed33083dadea53c0336091fb65652513/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DefaultAssemblyInfo.targets#L14-L18>

[2021-08-20 06:39] KalleOlaviNiemitalo commented on #16447
Relevant diff at <https://github.com/dotnet/sdk/pull/3348/commits/ad4c5402cc33e657d49e4b0d60db5c56bdafba4e?diff=split&w=1#diff-d095ccf81757e280c34c04844d41b02c99840136f14ac7eaf29a15619255bf0fR1383-R1386>.

It used to check `if (excludeFromOutputPackageIds.Contains(library.Name))` instead, and `excludeFromOutputPackageIds` was renamed to `excludeFromPublishPackageIds` in that commit, so perhaps it

[2021-08-20 06:42] wwelias opened #19919 "MSBuild Reference tag to pull over the ijwhost.dll if it can detect the assembly is a C++/CLI assembly"
I want to make a c++/cli wrapper to use c++ in c# and then pack it into a NuGet package.
I tried it with a c# project in the solution first by `project referencing` the c++/cli project. -> (this worked)
Then I tried packing it into a NuGet (which I am really new to) but when adding the NuGet and executing the project I got the `BadImageFormatException`.
Later I found out that this exception is als

[2021-08-20 07:01] dasMulli commented on #19713
In https://github.com/dotnet/sdk/issues/1131 the unfortunate naming was discussed with the outcome (https://github.com/dotnet/sdk/issues/1131#issuecomment-297455098):

[2021-08-20 07:18] shadow-cs commented on #16449
I should also note that this is related to how many SDKs you have on your machine. As a workaround, you could use `global.json` and specify a version to use. This made the overhead a little lower but still significant (0m0.334s, note that my setup changed from the last time, I did some cleanup, this is still far away from the Global tool though).

---

A note to anyone who got here trying to squee

[2021-08-20 08:25] nikhilagrawaldotnet opened #19923 ".Net SDK 5.0.301 :: Package is not compatible with netcoreapp3.0. Package supports: netcoreapp3.1"
### Info

We have made a netcoreapp 3.1 dotnet tool `Fluid.Deployment.Tools`. Its built via `dotnet build` & packed via `dotnet pack` command and pushed to my artifactory location. On my build server, during install/update it fails with following exception.

### Actual

[19:59:29]	[Step 12/15] Tool 'fluid.deployment.tools' failed to update due to the following:
[19:59:47]	[Step 12/15] Error messag

[2021-08-20 08:42] KalleOlaviNiemitalo commented on #19923
Did you run this `dotnet --version` in the same directory and environment as `dotnet tool install`?  I mean, you might have a `global.json` file that specifies version 3.0.100.

[2021-08-20 09:02] persiandeveloper commented on #19698
Does it work when I want to make it as nuget package ? Does it copy the ""Newtonsoft.Json" to the target project ?

[2021-08-20 09:13] haiyanliu2 opened #19926 "Run "dotnet --info" on Win11,the RID shown "win10-x64""
Environment: Version 17.0.0 Preview 4.0 [31618.318.main]+ NET 6 SDK: 6.0.100-rc.1.21418.40
Repro steps:
1.Install NET 6 SDK: 6.0.100-rc.1.21418.40
2.Run "dotnet --info" on Command Prompt

Expected
RID should be win11-x64.

Actual
RID shown win10-x64.
![image](https://user-images.githubusercontent.com/87641893/130210513-c683a0d1-d319-4b97-847a-62ef47b83862.png)

dotnet --info
.NET SDK (reflecting a

[2021-08-20 09:19] haiyanliu2 commented on #19926
run "dotnet publish -r win11-x64 --self-contained" failed on win11
![image](https://user-images.githubusercontent.com/87641893/130211216-5790ffd7-ae6d-4b5b-a6ce-07a8d1d63b19.png)

[2021-08-20 09:33] nikhilagrawaldotnet commented on #19923
Duh me :)
Yes the location from where tools was getting installed had a `global.json`. Removing it worked for me. Thanks @KalleOlaviNiemitalo for pointing me in right direction.

[2021-08-20 09:33] #19923 closed

[2021-08-20 10:10] antoinebj opened #19929 "Resolution of native libraries when using DllImport"
TL;DR: How can I make `DllImport` automatically load the right native library from the `runtimes/<rid>/native` path when it is in a project referred by `ProjectReference`, similar to what `PackageReference` enables by adding the appropriate resolution information in deps.json?

--

If I create a NuGet package and put native DLLs in `runtimes/<rid>/native/`, the deps.json file generated for the ass

[2021-08-20 10:24] ajgolledge opened #19931 "PublishReadyToRunComposite=true causes runtime stack overflow when measuring performance with perfcollect"
Using .NET6 preview 7 to build a ready to run application on linux-x64 with PublishReadyToRunComposite set to true, causes the application to crash with a stack overflow error if DOTNET_PerfMapEnabled and DOTNET_EnableEventLog environment variables are set to analyse performance using the perfcollect tool. If the environment variables are not set or if the PublishReadyToRunComposite is not set to

[2021-08-20 10:30] salimhali commented on #19739
Hello
Thanks for all,
 finally i have solved my problem and get maui installed successfully . I have installed every combination of workload alone one by one that led to success of maui install operation
special thanks to mattleiboweibow

![Screenshot](https://user-images.githubusercontent.com/73252874/130220437-5047e028-b776-4229-8bc3-0961100e6943.png)

[2021-08-20 14:17] jonathanpeppers commented on #19891
Oh, this did come up before: https://github.com/dotnet/sdk/issues/11289

[2021-08-20 14:26] ncarandini commented on #19246
Glad it works again, I've just tried and I can confirm.

[2021-08-20 14:26] #19246 closed

[2021-08-20 15:15] GunArm commented on #18282
I forgot about this issue or I would have updated as I learned more.  I
switched to the 5.0 build tools (to continue building 3.1) and it fixed the
problems I was having with 32 bit.  Something to do with the 3.1 build
tools not making some expected build properties available at build time.
Also, what you are saying about RuntimeIdentifier sounds familiar.  If I
recall, the 5.0 sdk started giving

[2021-08-20 17:22] agocke commented on #18282
above (and accomodating them in my build projects/scripts) was rocky and
messy, and I distinctly felt like I was doing something not supported

Yup, that's the current situation. Putting multiple apps in the same self-contained directory is unsupported, but it often works. Trimming makes this very dicey -- it is very likely that something will be trimmed away but the other app uses but the trimmer

[2021-08-20 17:51] sfoslund commented on #19739
I haven't been able to repro this, can you please provide the SDK version you're using and any notes on your configuration- for example, did you have any workloads installed before this? Did you previously have any other preview SDKs installed?

[2021-08-20 17:58] vadi2 commented on #19713
Unfortunate situation to be in - I'd like to see the docs improved to reflect this. It looks like such an amazing, easy to use option at first.

[2021-08-20 17:58] #19713 closed

[2021-08-20 17:59] GunArm commented on #18282
To be clear, I didn't just filemerge self contained publish directories. I did try that in early experimentation and it didn't work.

The "trick", so to speak, was realizing that for trimming to work (ever) it must account for the deps of deps, and thus if all exes were part of one dep tree, it would force the trimming pass to account for all of the deps of all of the exes at once.  This lead me t

[2021-08-20 18:07] marcpopMSFT commented on #19926
Including @vitek-karas who's the expert on RIDs.  Does the runtime have to do work here to light up win11 rids?

[2021-08-20 19:11] dsplaisted commented on #19713
@tdykstra Could you file a doc issue to add (or improve) documentation of the `Version`, `VersionPrefix`, and `VersionSuffix` properties?  See #1131 for discussion of the behavior.

[2021-08-20 19:20] dsplaisted commented on #12345
@damien78 Could you try setting the `RuntimeIdentifier` property instead of `RuntimeIdentifiers`?  Just a guess, but that might fix the issue.

[2021-08-20 19:23] vadi2 commented on #19713
Sure done, I filed it against the root of the issue which is the `--version-suffix` argument: https://github.com/dotnet/docs/issues/25742.

[2021-08-20 20:39] vitek-karas commented on #19926
For the second failure (publish) I think the RID will have to be added to the https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.NETCore.Platforms/src/runtime.json list here. After that I think SDK might recognize it and hopefully runtime pack resolution would end up picking `runtime.win-x64...` but all of this will have to be tested. As far as I know there's currently no reason t

[2021-08-20 20:44] vitek-karas commented on #18282
Yes - that might make it work in the default setup where we don't trim user code. If you were to turn on full trimming even for user code this would probably break as well (as the additional exes would to even keep their `Main` methods, and would probably lose lot of necessary dependencies).

[2021-08-20 20:50] rainersigwald commented on #19919
@wli3 Can you take a look at this? How does `ijwhost.dll` get discovered in the `ProjectReference` case?

I suspect the fix for this might be in `ResolveAssemblyReferences`; that already has a "related files" mechanism that may need to be extended to this case.

[2021-08-20 21:04] GunArm commented on #18282
Interesting, by "default" vs "full" trimming, are you referring to "link" vs "copyused"?  I'd like to know what controls that so I can be careful to avoid it.

[2021-08-20 21:11] vitek-karas commented on #18282
It's "link" versus "copy" (copyused is now sort of deprecated) - the property is `TrimMode` - if you don't set that, you're should be OK.

[2021-08-20 21:22] GunArm commented on #18282
Thanks.  Although, https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming-options says the default is changing in .NET 6 from copy (it says "copyused") to "link".  So maybe I should explicitly set it to "copy" (or "copyused"? I can't find "copy" documented anywhere yet) to be safe for when I forget this and upgrade my tools.

[2021-08-20 21:25] bonbon12 commented on #8725
Any updates?

[2021-08-20 21:25] VSadov commented on #19322
I was able to repro the issue and here is what I could gather so far:

`IncludeNativeLibrariesForSelfExtract` specifies that the singlefile executable should include native binaries and somehow bundler classifies ids.txt and ids.xml as native binaries. As a result they are included in the executable and extracted upon the start of the app in a temp location. The app expects to see files next to th

[2021-08-20 21:32] vitek-karas commented on #18282
Sorry - my bad - the property you want to avoid is `TrimmerDefaultAction` - which should be set to "copy" by default. (simplifying a little: this one controls what happens to assemblies which are not marked with IsTrimmable attribute, so your application code, the TrimMode controls what happens with those which are marked as trimmable, so typically the framework)

[2021-08-20 21:35] wli3 commented on #16449
The original branch mark is 300 ms overhead. Result is within the range. It definitely has room for improvement.

[2021-08-20 21:45] titanix commented on #19322
Well I didn't open the issue to solve my the problem on this project in particular (Windows terminal doesn't handle unicode well enough to make it useful there anyway), but because the bug might impact other people.

The issue is clearly that non-binary files are classified as binary (maybe because they contain codepoints outside the BMP) when they shouldn't. Also the behavior is inconsistent in-b

[2021-08-20 21:45] VSadov commented on #19322
Now, we still have an issue of misclassified files. These .txt and .xml files are certainly not native executable files.

The way we detect if a file is a native binary differs depending on the target platform and that explains why this is a Windows-only problem.
For non-windows targets we check if a file starts with a predefined "magic" sequence, but detection of Windows PE files is slightly diff

[2021-08-20 21:51] VSadov commented on #19322
@titanix - Sure, and thanks for reporting the issue!!
The workaround is just to make sure you are not blocked while the bug is being investigated/fixed.

[2021-08-20 22:04] dsplaisted commented on #16244
I think this is a better fit for the NuGet repo, so we can close this one in lieu of NuGet/home#10640

[2021-08-20 22:04] #16244 closed

[2021-08-20 22:07] dsplaisted commented on #16241
@adupont-logiq-ca Can you provide more information?  Are you saying you expect a nonzero return code when a test fails, and that's not happening?

@dotnet/dotnet-test-templates-admin for triage

[2021-08-20 22:14] dsplaisted commented on #9910
@wli3 @KathleenDollard @mairaw Can someone update the https://aka.ms/local-tools link to point to https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools#install-a-local-tool instead of this issue?

[2021-08-20 22:14] dsplaisted commented on #16148
Yes, local tools are the replacement for `DotNetCliToolReference`.  Here is the documentation: https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools#install-a-local-tool

[2021-08-20 22:14] #16148 closed

[2021-08-20 22:20] dsplaisted commented on #16149
I believe that this is fixed in the .NET 6 SDK, and you can opt in to a fix (which may still have some issues) in the .NET 5 SDK by setting `IncludePackageReferencesDuringMarkupCompilation` to true.

@ryalanms @dotnet/wpf-developers

[2021-08-20 22:20] #16149 closed

[2021-08-20 22:45] wli3 commented on #19919
@rainersigwald SDK does not discover. It will add ijwhost if the main project is c++/cli.

Meanwhile, c++/cli does not support nuget at this point. I would wait for the nuget support to come online and then work on this scenario.

[2021-08-20 22:48] dsplaisted commented on #16009
@agocke @lakichemole @vitek-karas @tarekgh Can one of you triage or route this as appropriate?  Thanks.

[2021-08-20 22:49] wli3 commented on #9910
@dsplaisted good catch. Fixed now

[2021-08-20 22:57] VSadov commented on #19322
It looks like these two files are "lucky" enough that `PEReader` does not throw.

In addition to regular PE files `PEReader` supports COFF-only/.OBJ files that do not start with DOS signature ("MZ"). When the signature is not present `PEReader` just tries to parse headers and since we only ask for `CorHeader`, there is a chance that the reader will not throw.

I think we can check for the DOS sign

[2021-08-20 23:06] dsplaisted commented on #19322
I think ideally we wouldn't have to guess what is a native file and what isn't.

[2021-08-20 23:17] VSadov commented on #19322
There is a possibility of including all files (`IncludeAllContentForSelfExtract`) and excluding individual files (`ExcludeFromSingleFile`). This way it is possible to specify exactly what files to include.

Including just native files was a fairly common scenario when runtime binaries were in that set (coreclr.dll, and such), so a special option exists to pick just native binaries. Now, that runti

[2021-08-20 23:24] tarekgh commented on #16009
This looks the runtime bits was built on a machine which is using ICU version greater than `52` which is statically link against `ucol_setMaxVariable` that is not available on ICU version prior to `53`.

https://github.com/dotnet/runtime/blob/5255bbb7a5b690dc0dcefca5dd46dde11825a021/src/libraries/Native/Unix/System.Globalization.Native/configure.cmake#L19

I am trying to find a contact who can hel

[2021-08-20 23:41] GunArm commented on #18282
Appreciate the clarification!

[2021-08-20 23:49] tarekgh commented on #16009
@janvorli do you know who can help with this issue?

[2021-08-21 00:10] tarekgh commented on #16009
CC @MichaelSimons

[2021-08-21 00:14] tarekgh commented on #16009
CC @dleeapho

[2021-08-21 00:27] tarekgh commented on #16009
@abarberenaCPDS is there a way you can try to upgrade the installed ICU package? or tell how I can get Linux centosraspberrypi image to try? @phillip-haydon comment https://github.com/dotnet/sdk/issues/16009#issuecomment-901639066 has a good workaround to try too.

[2021-08-21 14:03] DamienDoumer commented on #18628
@prapsan  please any info where to find this json manifest file ?
@marcpopMSFT  I installed the latest workloads earlier, and the installation hanged with the error described by the author of this issue. Then when I retried, I had the error I described above

[2021-08-21 14:15] damien78 commented on #12345
@dsplaisted Thanks, but no luck with this. Build successful, but same error when creating the packages

[2021-08-21 14:29] prapsan commented on #18628
@DamienDoumer It's here (on Windows) -> C:\Program Files\dotnet\sdk-manifests\6.x.x\microsoft.net.workload.mono.toolchain\WorkloadManifest.json

[2021-08-21 14:41] pranavkm commented on #19879
This is caused by  RazorSDK. I have a PR to fix this in main (https://github.com/dotnet/sdk/pull/19951/files), I'll port it over to rc1.

[2021-08-21 19:41] mattleibow commented on #19739
I was on one of the later rc.1 versions. But... Talking to people on my team, it seems the ones further away from the use have this more often. Canada gets it every so often, but me in South Africa gets it every time. It seels to happen after a few minutes. I have a 100mb connection and very reliable.

@Redth might have more info, but I think he also got this while using the nuget api directly. Mi

[2021-08-21 23:42] dotnet-eng-status[bot] opened #19981 "Build failed: Validate-DotNet/main real signed, sdk, .NET 7.0.1xx SDK, validation-sdk-.NET 7.0.1xx SDK #sdk-103310-.NET7.0.1xxSDK"
Build [#sdk-103310-.NET7.0.1xxSDK](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1310379) failed

## :x: : internal / Validate-DotNet failed

### Summary
**Finished** - Sat, 21 Aug 2021 23:42:14 GMT
**Duration** - 35 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Signing Ring
- :x: - [[Log]](https://dev.azure.com/dnceng/7ea9

[2021-08-22 11:42] pfusik opened #19983 ".NET SDK 5.0.400 not available for Ubuntu 18.04"
A deb package for Ubuntu 18.04 is missing, see:
https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/d/dotnet-sdk-5.0/

[2021-08-22 16:39] DamienDoumer commented on #18628
@prapsan thanks

[2021-08-22 17:52] wwelias commented on #19919
I really don't know what exactly my issue was... I tried the same stuff again and now it suddenly worked. I just placed the `Ijwhost.dll` into the output folder of the c# project like @AaronRobinsonMSFT recommended in the other issue (but I thought I already tried that...).

In the `NuGet Package` I then included a `.targets-File` in which I said that the `Ijwhost.dll` should be copied into the ou

[2021-08-22 17:52] #19919 closed

[2021-08-22 19:33] YunusOzdemirr commented on #11533
Thanks this is solved my problem

[2021-08-22 23:34] ryank425 commented on #19983
It is also missing

- dotnet-sdk-5.0.206-x64.deb
- dotnet-sdk-5.0.303-x64.deb

Comparison:

- 20.04: [https://packages.microsoft.com/ubuntu/20.04/prod/pool/main/d/dotnet-sdk-5.0/](https://packages.microsoft.com/ubuntu/20.04/prod/pool/main/d/dotnet-sdk-5.0/)
- 18.04: [https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/d/dotnet-sdk-5.0/](https://packages.microsoft.com/ubuntu/18.04/prod/pool/

[2021-08-22 23:50] #19866 closed

[2021-08-23 00:21] huunab opened #19987 "dotnet watch build notify it was done by dotnet watch"
Hi dotnet team,

Is it possible to add the flag `DotNetWatchBuild` or a new flag to the following code so we can know whether the build has been initiated by dotnet watch or not?

https://github.com/dotnet/sdk/blob/94c3b563d2fc9b96edd4488c9f81bb1a478dc688/src/BuiltInTools/dotnet-watch/Filters/DotNetBuildFilter.cs#L30-L33

[2021-08-23 00:23] huunab opened #19988 "dotnet watch can be extended"
Hi dotnet team,

is it possible to expose the filter capability to the end users so they customize how different files are handled as well as to allow the communication with other tools during a dotnet watch session?

https://github.com/dotnet/sdk/blob/94c3b563d2fc9b96edd4488c9f81bb1a478dc688/src/BuiltInTools/dotnet-watch/HotReloadDotNetWatcher.cs#L37-L42

[2021-08-23 01:19] catmanjan commented on #2235
I'm having the same issue in .NET 6

[2021-08-23 06:05] coatsy commented on #19670
Seeing what's probably a similar issue upgrading from Preview 6 to Preview 7
[code]
[code]

[2021-08-23 06:45] CaiusJard opened #19989 "Compiler error message with unresolved parameter placeholders in VS2019 16.11: "ENC0088 Modifying the body of '{0}' will prevent the debug session from continuing due to internal error: {1}""
Steps to reproduce

Make a new .NET 5 Console app and paste this body as the Main:

[code]

Run it, let it crash on the `[^0]` in local static func `a()` and leave the code paused

![image](https://user-images.githubusercontent.com/68939130/130402105-71033cc4-a990-4379-9553-0d81e9c2c23f.png)

Alter the `[^999]` in `b()` so that it is any other number (any code change in `b()` will do, actually)

!

[2021-08-23 08:26] vitek-karas commented on #19322
If the SDK has such knowledge I would definitely prefer to flow this from the SDK into the bundler. @dsplaisted do you think SDK knows this?

We should always use [`IsNativeBinary`](https://github.com/dotnet/runtime/blob/3d5d26181cd7bc07ea6c6f87710c14ccd043b415/src/installer/managed/Microsoft.NET.HostModel/Bundle/TargetInfo.cs#L74-L77) - it should work on all platforms and uses a much more precise

[2021-08-23 08:35] kpreisser opened #19991 "Regression in .NET SDK 5.0.400: Can no longer publish WinForms/WPF app for win-arm64 (NETSDK1082)"
Hi,
after upgrading to .NET SDK **5.0.400**, we can no longer publish a `net5.0` WPF or WinForms app for `win-arm64`. However, this works correctly using SDK **5.0.303** (for .NET 5.0.9) and SDK 5.0.302 (for .NET 5.0.8).

To reproduce:
- Install .NET SDK 5.0.400 for Windows x64 on Windows 10 x64.
- Run `dotnet new wpf`
- Run `dotnet publish -f net5.0-windows -r win-arm64`

**Actual result:**
[code

[2021-08-23 08:57] haiyanliu2 opened #19992 "[Loc]With net6 rc1 installed on locale OS, warning description is unlocalized when runing "dotnet publish -r win-x64" in CLI."
Install net 6 rc1 SDK[6.0.100-rc.1.21422.4(runtime-6.0.0-rc.1.21421.1)] from https://github.com/dotnet/installer
Install it on locale OS
dotnet new console -o myconsole
dotnet publish -r win-x64

Actual Result:
waring description is not localized.

SC
e.g.
![image](https://user-images.githubusercontent.com/87641893/130419645-41837931-5885-40e4-b782-b24d3d1d9f21.png)
TK
e.g.
![image](https://user-i

[2021-08-23 09:32] dandanmu opened #19993 "[Loc]With .NET 6 rc1 installed on locale OS, all strings are unlocalized when runing "dotnet workload..." in CLI."
Install .NET 6 RC1 with .NET SDK zip in a clean local machine.

Actual Result:
All strings are not localized.

TK
e.g.
![image](https://user-images.githubusercontent.com/65638819/130424307-20367786-dade-4695-b8a2-82148e6b918e.png)

![image](https://user-images.githubusercontent.com/65638819/130423264-4f3b0acc-cf61-4fec-9df8-f58306e2a02a.png)

dotnet --info
.NET SDK (varsa global.json dosyasını yan

[2021-08-23 09:36] v-elenafeng commented on #18642
Not repro with 17.0.0 Preview 4.0 [31622.41.main] + 6.0.100-rc.1.21422.7.

[2021-08-23 10:38] coatsy commented on #19670
Deleting `C:\Program Files\dotnet\sdk-manifests` and repairing the SDK installation fixed this

[2021-08-23 11:46] rolfbjarne opened #19994 "DOTNETSDK_WORKLOAD_MANIFEST_ROOTS pointing to workloads that are not lowercased fails"
Repro: [brokenworkloads-1b6a566.zip](https://github.com/dotnet/sdk/files/7031534/brokenworkloads-1b6a566.zip)

Download & extract && execute `make nay`:

[code]

If the workloads are lowercased, this happens (which is the expected behavior):

[code]

This is the file layout of the repro:

[code]

My guess would be that it's because either (or both) of these two creates case-sensitive dictionaries/

[2021-08-23 12:00] quanljh opened #19996 "The console window displays garbled characters when type "dotnet --info""
### Description

When type "dotnet --info" in console window, it displays garbled characters in the output information. My computer language is Japanese.

### Configuration

You can find my configuration in the attachment
![image](https://user-images.githubusercontent.com/38105306/130189697-7cf34b82-043c-4158-87d2-ed344593b4d4.png)

![image](https://user-images.githubusercontent.com/38105306/13018

[2021-08-23 12:40] KalleOlaviNiemitalo commented on #19996
I tried running `set DOTNET_CLI_UI_LANGUAGE=ja-JP` and `chcp 65001` and `dotnet --info`, in `cmd` on Windows 10 Version 21H1 (OS Build 19043.1165).

- In conhost, using "Consolas" font:
  Question marks in rectangles appear, but if I copy them to the clipboard and paste to WordPad, then Japanese characters appear in WordPad.
- In Windows Terminal Preview 1.10.1933.0, using "Consolas" font:
  Japan

[2021-08-23 13:03] lGSMl opened #20001 "dotnet pack "--no-build" option is not honored for F# project references"
While trying to run `dotnet pack --no-build` on F# project with project reference - dotnet tries to build referenced project and errors on "NoBuild option in build target" check.

Reproduction:

Env:
 - Docker image `mcr.microsoft.com/dotnet/sdk:5.0`
Steps:
[code]
Expected:
```Successfully created package```
Actual:
[code]

Sample output on steps above:

[code]

Reproducible on Windows 10 as well.

[2021-08-23 13:06] NeilMacMullen opened #20002 "Unable to reference Net5.0 C# project from Net5.0 C++ project"
I have C# library which is targeting *net5.0*.  This is referenced by a C++ project where the *TargetFrameworkVersion* property is set to "5.0*.  Unfortunately this results in this error

`2>C:\Program Files\Microsoft Visual Studio\2022\Preview\MSBuild\Current\Bin\amd64\Microsoft.Common.CurrentVersion.targets(1806,5): error : Project '..\cslib\cslib.csproj' targets 'net5.0'. It cannot be reference

[2021-08-23 13:12] VSadov commented on #19322
IsNativeBinary is not exactly more precise - it can also have false positives.
Maybe checking both ways is the most reliable, especially since we need to use PEReader to detect if the file has COR header anyways.

[2021-08-23 13:33] Haplois commented on #16241
Hi @adupont-logiq-ca,

Can you share a bit more detail about the issue and a small repro if possible. I can only guess the issue you're having, but we recently added [TreatNoTestsAsError][1] option into `.runsettings` does that work for you?

[1]: https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019

[2021-08-23 14:06] vitek-karas commented on #19322
Technically nothing will be precise... we could also add a check that the file extension is `.dll` - I know that technically it can be anything, but in reality nobody would expect the SDK to recognize `my.native` as native library even if it really were.

[2021-08-23 14:21] martincostello commented on #19521
A minor issue with this I've just come across trying out the new `<Using>` item with a daily RC1 build.

I have a library that targets the following TFMs to share some simple POCOs:

[code]

The `net461` library fails to compile with the following error:

[code]

I can work around this by adding the following to the `.csproj` file, but it would seem to make sense to maybe gate that particular usin

[2021-08-23 15:03] KalleOlaviNiemitalo commented on #19521
The error might be covered by the disclaimer that [C# 10.0](https://docs.microsoft.com/dotnet/csharp/whats-new/csharp-10) is supported on .NET 6 only.

[2021-08-23 15:12] rchavezj commented on #19169
https://docs.microsoft.com/en-us/dotnet/core/install/linux

[2021-08-23 15:12] #19169 closed

[2021-08-23 15:47] sfoslund commented on #19514
Fixed by https://github.com/dotnet/sdk/pull/19909

[2021-08-23 15:47] #19514 closed

[2021-08-23 16:23] ErikApption opened #20008 "Static Web Assets build error with .net 6 preview 7"
.NET 6 preview 7 did break our open source AElemental library static web assets. This issue seems similar (or possibly identical?) to #19475 but the class library that fails is targeting .NET 5. It looks like this issue is fixed in the new RC1 build but not sure how to move forward with current version.

``
1>C:\Program Files\dotnet\sdk\6.0.100-preview.7.21379.14\Sdks\Microsoft.NET.Sdk.Razor\build

[2021-08-23 17:56] DamianEdwards commented on #19521
Yes this scenario (multi-targeting) was discussed during discussions for this update and and as @KalleOlaviNiemitalo points out, given that C# 10 is not supported on anything other than .NET 6, projects changing `<LangVersion>` manually and setting `<ImplicitUsings>enable</ImplicitUsings>` are considered to be examples of an advanced/edge scenario and that we should simply honor what the user is c

[2021-08-23 20:43] marcpopMSFT commented on #18628
@lewing for visibility as you shouldn't require hand modifying workload manifests unless you've ended up in some weird state with an out of sync set of workloads (which can happen if you install .net 6 preview 7 and then VS 2022 preview 2 for example).

[2021-08-23 21:14] tarekgh commented on #16009
@dsplaisted I am not the right one to assign here. I am trying to figure out who can help.

[2021-08-23 22:20] lewing commented on #18628
cc @dsplaisted

[2021-08-23 22:39] ryalanms commented on #19871
WinForms and WPF are both failing with PlatformNotSupportedExceptions in different runtime assemblies (System.Windows.Extensions and System.Drawing.Common).

@ViktorHofer @mmitche :  Could WindowsDesktop be picking up the wrong dependency versions?

[2021-08-23 23:08] mmitche commented on #19871
I think https://github.com/dotnet/windowsdesktop/blob/release/6.0-rc1/eng/Version.Details.xml#L4 needs a CPD. Will fix,.

[2021-08-24 01:07] quanljh commented on #19996
@KalleOlaviNiemitalo  Thanks for helping to identify the root cause, if I copy the question mark characters to another editor then Japanese characters appear. Or If I change the font of conhost, the Japanese characters also display as normal.
Since this is a conhost issue, I'll close this issue. Thanks.

[2021-08-24 01:07] #19996 closed

[2021-08-24 01:12] novinc opened #20032 "ReadyToRun assemblies don't get strong name signed"
When publishing a project with
<PublishReadyToRun>True</PublishReadyToRun>
<SignAssembly>true</SignAssembly>
<DelaySign>true</DelaySign>
<AssemblyOriginatorKeyFile>mysignkey</AssemblyOriginatorKeyFile>

The non-R2R dlls in bin\Debug\netcoreapp3.1\win-x64 end up having a valid strong name.
The R2R dlls in obj\Debug\netcoreapp3.1\win-x64\R2R end up not having a strong name.

This prevents us from si

[2021-08-24 01:16] rayshen3 commented on #12256
解决了吗？

[2021-08-24 03:20] ryank425 commented on #20002
I don't think 5.0* is a valid string. It would be either
<html>
<body>

TFM | Compatible with
-- | --
net5.0 | net1..4 (with NU1701 warning)netcoreapp1..3.1 (warning when WinForms or WPF is referenced)netstandard1..2.1
net5.0-windows | netcoreapp1..3.1 (plus everything else inherited from net5.0)

</body>
</html>

https://docs.microsoft.com/en-us/dotnet/standard/frameworks#net-5-os-specific-tfms

[2021-08-24 03:44] ryank425 commented on #19993
I don't think most of strings you see were ever translated in xlf files.

For ex, looking at Korean version - sdk/src/Cli/dotnet/commands/dotnet-workload/install/xlf/LocalizableStrings.ko.xlf (https://github.com/dotnet/sdk/blob/de6bcd49c3593911391465c18d51a94ca3062960/src/Cli/dotnet/commands/dotnet-workload/install/xlf/LocalizableStrings.ko.xlf)

I barely see any messages get translated.

[code]
[

[2021-08-24 04:44] #19743 closed

[2021-08-24 06:04] RomanTimv opened #20043 "'Dotnet tool restore' doesn't update toolResolverCache file"
I have two folders. Each folder has dotnet-tools.json and NuGet.config where defined place for packages in the folder.

I call `dotnet tool restore` from first folder. Package is downloaded into first folder and its path is saved to file in c:\Users\<user>\.dotnet\toolResolverCache\1\

Then I delete first folder and call `dotnet tool restore` from second folder. Package is downloaded to second fol

[2021-08-24 06:12] Olina-Zhang commented on #14943
Verified this issue in the latest Dev17 build: 17.0.0 Preview 4.0 [31623.283.main], it doesn't repro now. Closing this issue now.
![VB_Winforms_6 0](https://user-images.githubusercontent.com/26474449/130565403-85a8742e-6538-4c81-b266-969c1927e73f.gif)

[2021-08-24 06:12] #14943 closed

[2021-08-24 07:02] KalleOlaviNiemitalo commented on #19993
The more verbose Korean translation seems to have been copied from here: <https://github.com/dotnet/sdk/blob/2638bbaf17e44e2106adcafc8f492fe062c54d01/src/Cli/dotnet/commands/dotnet-tool/install/xlf/LocalizableStrings.ko.xlf#L56>

I suppose somebody will update the translation to match the shorter source string, and change `state="needs-review-translation"` to `state="translated"` at that time.

[2021-08-24 07:26] ryank425 commented on #19991
https://github.com/dotnet/sdk/issues/15972

Will be fixed in next Net 5 401 sdk

[2021-08-24 07:32] KalleOlaviNiemitalo commented on #19996
<https://github.com/microsoft/terminal/pull/10478> may have fixed this in OpenConsole. I don't know which version of Windows will include a conhost with this change.

[2021-08-24 08:49] ViktorHofer opened #20044 "PackageValidation CP0002 errors because of dropped assets"
Updating dotnet/runtime's main branch from net6.0 to net7.0 results in these errors when trying to package System.Threading.Channels:

[code]

Note that the mentioned netcoreapp3.0 and netstandard2.1 assets aren't present in the live built package. What surprises me is that these errors manifest in a `CP0002` error and not in a dropped assets `PKV006` one.

cc @Anipik @safern @joperezr

[2021-08-24 08:56] NeilMacMullen commented on #20002
@ryank425 *vcxproj* files use the *TargetFrameworkVersion* element (not *TargetFramework*) and don't recognise those identifiers.  You get this kind of error for example....
![image](https://user-images.githubusercontent.com/9131337/130587497-87cba7a1-09c1-42af-a704-8668f114232f.png)

I suppose it's possible that C++ projects don't yet support .net5 and that the "5.0" identifier is actually resolv

[2021-08-24 10:03] fandrei opened #20048 "Version conflict during compilation"
### Description

I have a project that uses Newtonsoft.Json v12 (imported as a local file, custom built for debugging purposes) and imports an assembly that uses Newtonsoft.Json v12 imported from NuGet.
When I'm trying to compile the project, I'm getting this error:
[code]

It seems that .NET 5 no longer supports binding redirects. How do I make it compile?

### Configuration

.NET 5, Visual Studi

[2021-08-24 10:14] KalleOlaviNiemitalo commented on #20002
If you want to target .NET 5 and set `<TargetFrameworkVersion>5.0</TargetFrameworkVersion>`, I think you need to set `<TargetFrameworkIdentifier>.NETCoreApp</TargetFrameworkIdentifier>` as well. This is what [Microsoft.NET.TargetFrameworkInference.targets](https://github.com/dotnet/sdk/blob/b87df7565f0fa4b4eb7f3da747358b88a8dbc0da/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.TargetFra

[2021-08-24 10:27] KalleOlaviNiemitalo commented on #20048
Does your custom Newtonsoft.Json.dll build not have the same strong name?

Perhaps you can add a PackageReference on Newtonsoft.Json with `IncludeAssets="compile"` so that it is used only for satisfying the compiler and not deployed for runtime loading.

[2021-08-24 10:37] NeilMacMullen commented on #20002
Thanks @KalleOlaviNiemitalo  - that's a great suggestion.  Alas, that results in this build error:

`Microsoft.Common.CurrentVersion.targets(1217,5): error MSB3644: The reference assemblies for .NETCoreApp,Version=v5.0 were not found.`

(Note, I can build *other* .net5 projects on this machine so confident the appropriate SDKS are present)

[2021-08-24 11:32] ViktorHofer commented on #20044
Disregard... These assets aren't dropped from the baseline package that I'm comparing against.

[2021-08-24 11:32] #20044 closed

[2021-08-24 12:14] KalleOlaviNiemitalo commented on #20002
The next step could be to collect more detailed MSBuild logs from C++ and C# projects and compare the input parameters of the GetReferenceAssemblyPaths task.

[2021-08-24 15:05] jmaillet commented on #19521
Why is this not just driven by the template?  Have an ```_Usings.cs``` in the project by default, like Razor does.  Much easier to see what namespaces included by default. No need to google the documentation.  Personally, I'd much rather just stay in my c# headspace and edit that file to add or remove namespaces, as opposed to mucking with the csproj file with a completely different syntax.

[2021-08-24 16:24] mmitche opened #20060 "SDK should not list test nupkgs in ItemsToSignPostBuild"
The SDK pushes a bunch of test nupkgs that are consumed in dotnet/installer. These are currently listed in ItemsToSignPostBuild. This is less efficient than it could be, but also there are now files within the nupkgs that post-build signing doesn't have certs for:

https://dev.azure.com/dnceng/internal/_build/results?buildId=1314396&view=logs&j=9ff0e0af-24e7-5b0f-fa76-5e12fc9920ef&t=04e39753-8cfe-

[2021-08-24 16:36] richlander opened #20062 "Consider removing comments in new templates"
This is the experience creating a console app.

[code]

Invariably, the first line of `Program.cs` will be deleted by the user. That's unfortunate UX.

Please consider putting/sharing this comment in the template creation output and/or in the project file instead.

Some combination of the following would be great, with a bias to updating the console output only.

[code]

As an aside, there is no m

[2021-08-24 17:08] marcpopMSFT commented on #20060
Per https://github.com/dotnet/sdk/issues/19799#issuecomment-901359854, I think you introduced a new file that's getting picked up for signing and should be excluded.

[2021-08-24 17:20] mmitche commented on #20060
I think we should just remove all of the test nupkgs entirely from the signing process, since they aren't used outside of dotnet/installer when running tests. Is that correct @marcpopMSFT?

[2021-08-24 18:05] #2328 closed

[2021-08-24 18:09] marcpopMSFT commented on #9774
Current state is --interactive is available for build, restore, publish, run, tool install, and workload install. Going to close this as fixed in cleaning up old issues.  CC @nkolev92

[2021-08-24 18:09] #9774 closed

[2021-08-24 18:16] #8551 closed

[2021-08-24 18:19] marcpopMSFT commented on #13939
This got fixed in 5.0.200: https://github.com/dotnet/sdk/pull/15213

[2021-08-24 18:19] #13939 closed

[2021-08-24 18:31] eatdrinksleepcode opened #20071 "Incremental `dotnet test`"
## Description
Incremental build is a critical feature for decreasing build times for large solutions. Currently we have incremental behavior for `dotnet build` and `dotnet publish`, but not `dotnet test`: tests are always run, even if nothing has changed since they last completed successfully.

In the early days of .NET core, before `dotnet test` existed, I worked with the dotnet build tools team

[2021-08-24 18:41] marcpopMSFT commented on #13179
The work to automatically add -windows shipped in 16.10 so resolving this as I also didn't reproduce the issue.

[2021-08-24 18:41] #13179 closed

[2021-08-24 18:49] marcpopMSFT commented on #12413
I believe that 5.0.3xx and onward should have arm64 support for wpf and winforms.

[2021-08-24 18:49] #12413 closed

[2021-08-24 18:51] sjmla opened #20073 "Native assets in nuget for net48 project are not copied to bin for ClassLibrary, but are copied for App"
I have a few nuget packages that have either only C++ DLLs or C++ and C++/CLI DLLs.

When I reference these projects in a net48 console app, the native dlls are copied to the output dir.
However, the same libraries are NOT copied over to the OutDir when the net48 project is a class library.

While similar to https://github.com/dotnet/sdk/issues/3031, this appears to be a different issue and I have

[2021-08-24 19:02] marcpopMSFT commented on #19695
@ladipro seen any other reports like this?

[2021-08-24 19:06] marcpopMSFT commented on #19679
Jacques made a fix that we think is sufficient.  Closing and can reactivate if we see more instances that we're sure include the fix (not sure about Larry's pipeline or not)

[2021-08-24 19:12] marcpopMSFT commented on #19671
@Redth for the maui check failure. We have a lot of compat issues between versions of the workloads so this is likely related.  Clearly out the metadata folder will remove all historical install data and clean things up.

[2021-08-24 19:51] #19991 closed

[2021-08-24 19:53] wli3 commented on #19993
Thank you for your post. We haven't started the localization process for 6.0 branches yet. It would be done in few months

[2021-08-24 19:53] #19993 closed

[2021-08-24 19:53] wli3 commented on #19992
Thank you for your post. We haven't started the localization process for 6.0 branches yet. It would be done in few months

[2021-08-24 19:53] #19992 closed

[2021-08-24 20:13] marcpopMSFT commented on #20060
Correct, I don't think there is a reason to sign any of the test assets unless someone has a workload test that relies on signing but then it could only run on a signed build.  CC @wli3 @joeloff

[2021-08-24 20:20] DamianEdwards commented on #19672
At this point we aren't planning to add options to the templates or provide additional templates to enable adding back a `Startup` class or an explicitly declared `Program` class. Adding options or template variations adds complexity to the experience that we'd prefer to avoid if possible.

As a workaround, you can create new web projects that include a `Program` and `Startup` class by selecting "

[2021-08-24 20:33] mmitche commented on #19871
Fixed now.

[2021-08-24 20:33] #19871 closed

[2021-08-24 20:45] joeloff commented on #19798
@ar0311 Can you confirm that you have workload manifest files present in your SDK? Those define the workload IDs that the install command would recognize. They should be under a folder named sdk-manifests in your dotnet installation

[2021-08-24 21:25] joeloff opened #20085 "Consecutive installs should report installed workload"
Install the same workload twice,

1. ```dotnet workload install wasm-tools```
2. ```dotnet workload install wasm-tools```

After the second command it tells you that the workload was installed. The typical behavior for installers would be to prompt for repair/uninstall, or we could simply detect the workload record and inform the user that it's already installed and no-op.

If files were simply co

[2021-08-24 21:48] joeloff commented on #20060
My signing tests uses external tests assets I created in the runtime test assets repo. Are any of these packages used for testing .NET Core in VS for example? DDRITs/RPS. Did we just blanket sign everything or were these specifically added to deal with another issue?

[2021-08-24 21:53] mmitche commented on #20060
They were just getting stuck into the list by default. As far as I know none of them are used within VS. This is the list that will no longer be signed in post-build:

[code]

[2021-08-24 22:28] joeloff commented on #20060
Yeah, if these aren't publish I don't see the point of signing them

[2021-08-24 22:58] joeloff opened #20092 "Workload repair without any installed workloads should be a no-op"
Repro:
1. Install dotnet
2. Run ```dotnet workload repair```

Expected: Should get a message telling you there are no workloads installed

Actual:

![image](https://user-images.githubusercontent.com/7409981/130700710-22b6fff3-38a4-48f3-9627-5ec6d9c61122.png)

[2021-08-24 23:11] joeloff opened #20094 "Concurrent workload commands uninstall each other"
1. Install RC1 SDK, e.g. .```\dotnet-install.ps1 -Version 6.0.100-rc.1.21424.24 -InstallDir dotnet```
2. Open two command prompts
    1. From the first prompt, run ```dotnet workload install android```
    2. From the second, run ```dotnet workload install wasm-tools --skip-manifest-update```
3. Since RC2 manifest are published and one of the commands are updating, you end up with an RC2 based wor

[2021-08-24 23:19] joeloff opened #20096 "Repair causes fatal exception when you add the metadata file for MSI to a applocal file based installation"
Repro steps

1. install dotnet
2. install a workload
3. Create metadata\workloads\6.0.100\installertype\msi
4. run ```dotnet workload repair```

![image](https://user-images.githubusercontent.com/7409981/130702238-4b975474-44be-486f-aedd-6028f4323c68.png)

[2021-08-24 23:55] sjmla commented on #20073
**Workaround**:
Combination of https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files and @jnm2's workaround in #3031

Changed the way I reference the package to GeneragetPathProperty
[code]
And then added a new target
[code]

[2021-08-25 02:51] dsplaisted commented on #16004
This looks like a bug (or feature?) in the `ResolveAssemblyReferences` task.  It appears that it may not be reading the assembly references of `MyLib.dll` in the `PackageReference` case.  This may be because it is passed in under `Assemblies` instead of `AssemblyFiles`, or because it has `ExternallyResolved` set to `true`.

Attached are the binlogs.
[Binlogs.zip](https://github.com/dotnet/sdk/file

[2021-08-25 04:05] huunab commented on #19987
/cc @pranavkm

Not sure if this were the correct location for these issues.

[2021-08-25 04:05] huunab commented on #19988
/cc @pranavkm

Not sure if this were the correct location for these issues.

[2021-08-25 05:19] joeloff opened #20108 "Workload repair ignores planned action"
When repairing a missing workload pack, the planned action will transition from repair to install, but the when executing the action is explicitly set to repair, which results in ERROR_UNKNOWN_PRODUCT

[2021-08-25 05:19] bairog opened #20109 "NETSDK1145: 'The Apphost pack is not installed' error while building C++\CLI project (targeting .NET 5) with Visual Studio 2019 16.11.1 if Visual Studio 2022 17.0.0 Preview 3.1 is installed"
Hello.
I have C++\CLI project (targeting .NET 5) that was building correctly with latest **Visual Studio 2019 16.11.1** yesterday.
Today I've installed **Visual Studio 2022 17.0.0 Preview 3.1** (than includes **.NET 6 preview 7**). And today I cannot build my project:

nceResolution.targets(127,5): NETSDK1145: The Apphost pack is not installed and NuGet package restore is not supported. Upgrade Vi

[2021-08-25 06:44] vdanche opened #20111 "With RC1 initial build installed, maui workload install failed in CLI: One or more errors occurred. (microsoft.maui.core.ref.android.msi.x64::6.0.100-rc.1.1351 is not found"
Install RC1 SDK initial build.
Run  below command in CLI
dotnet workload install maui --skip-manifest-update --source "https://pkgs.dev.azure.com/dnceng/public/_packaging/6.0.100-rc.1.21424.1-shipping/nuget/v3/index.json" --source  "https://pkgs.dev.azure.com/azure-public/vside/_packaging/xamarin-impl/nuget/v3/index.json"

We get below error about feed:
![image](https://user-images.githubuserconte

[2021-08-25 07:05] drauch opened #20115 "Run multiple test assemblies in parallel with dotnet test and NUnit"
We want to run multiple assemblies in parallel with `dotnet test` and NUnit 3.x. This is no problem using the nunit-console runner, however, in .NET 5 you are supposed to use `dotnet test` instead which does not seem to have the possiblity to run the given assemblies in parallel.

Note: we _don't_ want to run the tests within one assembly in parallel, we want to run multiple assemblies that are gi

[2021-08-25 07:08] bairog commented on #20109
BTW. Docs page https://aka.ms/targeting-apphost-pack-missing (which actually leads to https://docs.microsoft.com/en-gb/dotnet/core/tools/sdk-errors/netsdk1145) has absolutelly same code for both **_For apphost pack_** block and **_For targeting pack_** block. Is that by design or a misprint?

[2021-08-25 07:20] KalleOlaviNiemitalo commented on #20109
The docs issue has been filed as <https://github.com/dotnet/docs/issues/25073>.

[2021-08-25 07:37] Molinarius commented on #16149
`IncludePackageReferencesDuringMarkupCompilation` works for me with .NET 5, thanks! (I didn't try .NET 6 yet, though.)

[2021-08-25 07:59] GaoXinProduct opened #20112 "When will .net 6 and .net 5 support the comment in the method to display Chinese?"
![@6YXKTL(PI@}(ONNQ`YBVV7](https://user-images.githubusercontent.com/80448304/130750893-87978db6-ca78-44af-8f1e-f2020b8bcfbf.png)

When will .net 6 and .net 5 support the comment in the method to display Chinese?

Method comments in .net framework will be displayed in Chinese. When will Chinese support in .net core/.net?

thanks

[2021-08-25 08:11] ar0311 commented on #19798
adam@ubuntu:/usr/share/dotnet$ ls
default.profraw  host         metadata  sdk     templates
dotnet           LICENSE.txt  packs     shared  ThirdPartyNotices.txt

that's all thats in the dotnet directory

[2021-08-25 09:37] KalleOlaviNiemitalo commented on #20112
@GaoXinProduct, according to [How to install localized IntelliSense files for .NET](https://docs.microsoft.com/dotnet/core/install/localized-intellisense), Chinese (simplified) and Chinese (traditional) files are available. Have you installed those?

[2021-08-25 09:39] nohwnd commented on #20115
@drauch there is --parallel option, but I see it is missing from the help.

[code]

And also `--logger:"console;verbosity=detailed"` to see easier how tests are executing, but it will mix the output.

[2021-08-25 09:54] drewnoakes commented on #19521
@DamianEdwards please take a look at https://github.com/dotnet/project-system/pull/7512 which adds a flag to enable/disable this feature from the Project Properties UI. In future we can add UI to control the specific set of items.

[2021-08-25 10:20] k2tomasz opened #20116 "'Microsoft.AspNetCore.App', version '5.0.0' was not found"
When running dotnet run from PowerShell in VS 2022 I am getting an error (blow). This does not happen when run from VS 2019 or standalone terminal.

❯ dotnet run
It was not possible to find any compatible framework version
The framework 'Microsoft.AspNetCore.App', version '5.0.0' was not found.
  - No frameworks were found.

You can resolve the problem by installing the specified framework and/or

[2021-08-25 10:44] vdanche commented on #19871
Fixed on 6.0.100-rc.1.21424.1(runtime-6.0.0-rc.1.21423.9)

[2021-08-25 11:16] bessgeor opened #20119 "SDK 3.1 builds C#9 code in a way leading to bugs"
Consider the following scenario:

netcoreapp3.1 TFM csproj with langversion 9

IsExternalInit written by hand as in [this article](https://btburnett.com/csharp/2020/12/11/csharp-9-records-and-init-only-setters-without-dotnet5.html) (because 3.1 FCL does not offer it)

also, Newtonsoft.Json 12.0.3 is installed.

Given the code
[code]

we'll get different outputs based on which SDK we are using to b

[2021-08-25 11:29] mattleibow opened #20120 "Projects with AssemblyName != Filename cannot be found"
### Description

I just noticed that my "bait and switch" projects are no longer happy in .net core. Not sure when things changed, but it used to work because this is a project format that I have always used with cross-platform apps. And it works with netfx.

I do have a `ClassLibrary.dll` in the bin directory, so it is there to be found. Also, if I switch to a `<Reference>` directly to the output

[2021-08-25 12:31] khalidabuhakmeh opened #20124 ".NET 6 preview 6.0.100-rc.1.21416.1 DevCerts Requiring Escalated Privileges With Every New WebApp"
Running the SDK version `6.0.100-rc.1.21416.1` I notice that each ASP.NET Core application requires administrative escalation privileges.

I've run the following commands to try and fix it, but it continues even after wards.

[code]

<img width="507" alt="Screenshot 2021-08-25 at 08 21 32" src="https://user-images.githubusercontent.com/228256/130789676-5a3fd9e9-3b6d-497c-9260-550ca3434bee.png">

W

[2021-08-25 13:38] stefanloerwald opened #20126 "dotnet format produces false positives on CS0234 and CS0103"
I have a solution with multiple projects targeting net5.0. However, I'm using net6 preview7 as my SDK.

With the new dotnet format version as part of that, I get tons of warnings for CS0234, and CS0103, despite the solution building just fine. I managed to reduce it down to the following structure:

# structure

- A
  - A.csproj
  - Class.cs
- B
  - B.csproj
  - Class.cs
  - Component.razor
- sln.

[2021-08-25 13:45] stefanloerwald commented on #20126
For your convenience, here's a repository for the issue: https://github.com/stefanloerwald/dotnet-format-issue-20126

[2021-08-25 15:23] fuocor opened #20332 "--interactive switch not displaying device flow in version '6.0.100-preview.7.21379.14'"
`dotnet restore --interactive` or `dotnet tool restore --interactive` is not outputting the device flow information for authenticating.

it hangs for the 90 second timeout to elapse.

downgrading the global.json file to '5.0.300' works

[2021-08-25 15:58] richlander commented on #20124
Which macOS build are you using?

[2021-08-25 16:15] javiercn commented on #20124
It requires access to the keychain, if you are using dotnet you can click allow always and it will stop prompting.

[2021-08-25 16:16] javiercn commented on #20124
If you are running through the host (which is unsigned) it's going to ask you for every app

[2021-08-25 16:20] richlander commented on #20124
For clarity, are you saying (for this use case):

- Good: `dotnet run`
- Good: `dotnet myapp.dll`
- Less good: `./myapp`

[2021-08-25 16:34] sfoslund commented on #19983
@leecow are you the right person to comment here?

[2021-08-25 16:45] joeloff commented on #19798
Thanks @ar0311 The manifest files is the primary driver behind workload commands as it defines both the packs used to compose a workload, but also the dependencies between different workloads. I've got an Ubuntu setup with 20.04 and see if I can repro this.

[2021-08-25 18:41] ericstj opened #20139 "Workload installer needs to be aware of x64-retargeted packs"
As part of the x64-on-ARM64 work we'll install x64 to a subdirectory on ARM64 machines.  This will result in workloads being installed to a new location.

We need to represent this location with it's own path in the registry.

The proposal is to make all pack registration architecture specific.  @joeloff identified the following places in the runtime we'll need to change:
https://github.com/dotnet

[2021-08-25 22:16] sjmla opened #20160 "msbuild / dotnet build does not pass the property generated by nuget packagereference's GeneratePathProperty"
As a result of #20073, I am looking for a workaround to copy a nuget's native assets to my project's output directory.

What I am seeing is the property as a result of GeneratePathProperty is empty when I run either msbuild or dotnet build on a net48 project.
It works correctly via Visual Studio 2019 (v16.11.1), but not via msbuild tools.

I tried the setup in https://github.com/dotnet/sdk/issues/

[2021-08-26 16:31] wli3 opened #20195 ".NET stack temporary folder cannot be accessed after running under sudo"
Issues like
https://github.com/dotnet/sdk/issues/19823
https://github.com/dotnet/sdk/issues/19523

.NET stack creates many temporary folder as part of the command execution. In many cases, if the command is running under sudo, the temp directory will be shared with the non-sudo user. If files or folders are shared between sudo and non sudo command. And if the command is first run under sudo, the f

[2021-08-26 17:51] joeloff opened #20202 "[6.0.1xx-RC1] Add platform support to workload pack records"
**Description**: MSI based workloads and workload packs create registry entries that rely on the default registry hive. These conflict for arm64 and x64 on arm64. We need to add a platform differentiator in the registry key.
Change: The change impacts multiple repos and we can’t take it partially so we need an ack from other stake holders here as well.
-	The Arcade tooling used to generate packs n

[2021-08-27 08:25] hichem001 opened #20231 "Crash after publishing .net5 console app having C++/CLI dependency"
Hi,
I have .net5 console app that has as dependency C++/CLI .net5 managed wrapper to unmanaged C++ dll. Every things works fine: the exe is generated and I can execute it without any issue.
But I have seen that some files are also generated besides to my exe app: a dll (with the same name as my exe) and other .json files that contains dependencies. When I take the exe alone, it doesn't work, it re

[2021-08-27 15:17] pjc50 opened #20241 ""dotnet test --blame-crash" swallows first test assembly"
The documentation at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test claims it takes no arguments, but in fact it discards the first test assembly.

This doesn't happen if you use it with a solution, but we're specifying test assemblies because that's considerably faster; the real use case has a much longer command line and it took me a while to realise why some of my tests were mis

[2021-08-27 17:48] erdembayar opened #20249 "Register subcommand for dotnet nuget trust command"
Follow up on https://github.com/NuGet/NuGet.Client/pull/4211, regarding [comment](https://github.com/dotnet/sdk/pull/18061#discussion_r645194582), need to register subcommand for `dotnet nuget trust`.

[2021-08-27 20:58] lbussell opened #20262 "Add dependency on Microsoft.Deployment.DotNet.Releases and add darc subscirption"
The .NET SDK depends on Microsoft.Deployment.DotNet.Releases (from https://github.com/dotnet/deployment-tools), but it isn't listed in `eng/Version.Details.xml`.

A [darc subscription](https://github.com/dotnet/arcade/blob/main/Documentation/Darc.md#updating-dependencies-in-your-local-repository) also needs to be added so that this repo's dependency on deployment-tools can be automatically updated

[2021-08-27 22:08] wli3 opened #20268 "7.0.1xx SDK branding and manifest"
2 things are run in main branch right now.

1. The "branding" of sdk is still 6.0.1xx
2. 6.0.1xx manifest is packaged in to 7.0.100 folder even their contents are old 6.01xx files. This need to be fixed in dotnet/installer

[2021-08-27 23:01] marcpopMSFT commented on #9456
Given Lee's comment, I'm going to assume this was fixed in later versions. Also 2.1 is now out of support.

[2021-08-27 23:01] #9456 closed

[2021-08-27 23:08] marcpopMSFT commented on #9358
Doesn't repro anymore.

[2021-08-27 23:08] #9358 closed

[2021-08-27 23:11] marcpopMSFT commented on #8969
https://devblogs.microsoft.com/dotnet/net-core-tooling-update-for-visual-studio-2017-version-15-9/

[2021-08-27 23:11] #8969 closed

[2021-08-27 23:22] #8561 closed

[2021-08-27 23:28] #8452 closed

[2021-08-27 23:30] #8278 closed

[2021-08-27 23:32] #7765 closed

[2021-08-27 23:42] #1150 closed

[2021-08-27 23:48] #1014 closed

[2021-08-27 23:49] #1000 closed

[2021-08-27 23:50] #948 closed

[2021-08-27 23:51] #947 closed

[2021-08-27 23:52] marcpopMSFT commented on #851
Was fixed in 16.10

[2021-08-27 23:52] #851 closed

[2021-08-28 00:07] #612 closed

[2021-08-28 00:13] #458 closed

[2021-08-28 00:17] #430 closed

[2021-08-28 00:18] #407 closed

[2021-08-28 00:23] #336 closed

[2021-08-28 00:53] yuehuang010 opened #20280 "AssemblyTitle Property in Microsoft.NET.GenerateAssemblyInfo.targets isn't case sensitive"
$(AssemblyTitle) Property is defined as $(AssemblyName), which is defined as $(MSBuildProjectName).  Because of https://github.com/dotnet/msbuild/issues/3665, $(MSBuildProjectName) casing can change depending on how the calling reference is "spelled".  This leads to $(AssemblyTitle) changing between builds by invaliding the cache of each run.

I don't have context on how important case is to $(Ass

[2021-08-28 01:44] dsplaisted opened #20281 "`dotnet workload install` gives incorrect error message if `--sdk-version` specified matches the feature band but doesn't exactly match the SDK version"
I ran `dotnet workload install wasm-tools --sdk-version 6.0.100 --skip-manifest-update` on a preview version of the SDK, and the result was:

This is incorrect.  Either it should install correctly (see #20282), or it should tell me that I've specified the wrong version number.

This was an MSI-based install, if it matters.

If I specified `6.0.200` as the SDK version, then it gave a better error:

[2021-08-28 01:50] dsplaisted opened #20282 "`--sdk-version` parameter for workload commands should probably be renamed to `--sdk-feature-band` or similar"
We have an `--sdk-version` parameter on various workload operations to allow managing an SDK which is not the currently-in-use one.  However, workloads are installed on a feature-band basis.  So you can have separate workloads for 6.0.200 and 6.0.100, but you can't have separate workloads for 6.0.101 and 6.0.102.

Given that, I think this parameter for the workload commands should accept (or requi

[2021-08-28 01:56] dsplaisted opened #20283 "Improve command-line help for `dotnet workload install` `--download-to-cache`"
From the `dotnet workload install` help:

[code]

The parameter value should be displayed as `<cache-folder>` or similar instead of `<download-to-cache>`.

`--from-cache` should similarly be updated.

[2021-08-28 01:59] dsplaisted opened #20284 "Improve command-line help for `dotnet workload uninstall`"
The help for `dotnet workload uninstall` currently includes the following:

[code]

We should not describe the `WORKLOAD_ID` argument as a NuGet package ID.  I'd suggest something like this:

[2021-08-28 02:15] dsplaisted opened #20285 "Downloading workload install packs to cache gives different results depending on whether workload is installed"
I ran the following:

- dotnet workload install wasm-tools --skip-manifest-update
- dotnet workload install wasm-tools --skip-manifest-update --download-to-cache cache
- dotnet workload uninstall wasm-tools
- dotnet workload install wasm-tools --skip-manifest-update --download-to-cache cache2

The `cache` folder had the following contents:

[code]

Whereas the `cache2` folder had the following con

[2021-08-28 02:26] dsplaisted opened #20286 "`--no-cache` option to `dotnet workload install` doesn't seem to ignore all caches"
I was bug bashing on workload installation, and installed and uninstalled the wasm-tools workload.  I wanted to test installing a workload from a cache folder created with `--download-to-cache`.  However, I wanted to make sure that it was only getting the installers from the cache I created and not from NuGet feeds or other locations that it had previously saved the nupkgs or MSIs.  So I created a

[2021-08-28 06:05] KalleOlaviNiemitalo commented on #20280
$(AssemblyTitle) goes to AssemblyTitleAttribute and from there to the FileDescription string in the Win32 VERSIONINFO resource.  The Windows shell can display that in file properties and as tool tips of taskbar buttons.  A wholly lowercase string might look strange to users.  Certainly, if the project explicitly defines AssemblyTitle, then the SDK should use that value as is.

[2021-08-28 18:04] user72356 commented on #17775
@Turnerj I can tell you it's a problem for me, and if you get just ONE person to comment, that means there are 100 others with the same problem but not commenting... I don't have the bandwidth to learn the complex inner workings of Roslyn, msbuild and whatnot just to deliver a source generator. Not a wise use of my dev time.

[2021-08-28 18:56] RomanHubyak commented on #11803
@mdrexel Hi! I am using the following in my Directory.Build.props in the root of the solution, so I don't have to specify it for each package in each solution:

`<Project>

  <PropertyGroup>
    <DisableTransitiveProjectReferences>true</DisableTransitiveProjectReferences>
  </PropertyGroup>

  <ItemDefinitionGroup>
    <PackageReference>
      <PrivateAssets>compile</PrivateAssets>
    </PackageRe

[2021-08-29 06:43] dsplaisted opened #20307 "Downloading workload packs to cache should support specifying a different RuntimeIdentifier"
Using `dotnet workload install --download-to-cache` can be used to create a folder that can be used to install a workload on a computer without access to the feeds with workload packages.  It should be possible to do this for computers that do not match the current computer's OS and processor architecture.  So we should add the ability to specify a RuntimeIdentifier for the target system when down